<div class="placeholder carrier-item" *ngFor="let item of [1,2,3]">
  <div class="carrier-main-info">
    <div class="carrier-image">
      <div class="placeholder-item placeholder-image"></div>
    </div>
    <div class="carrier-name">
      <div class="placeholder-item placeholder-name"></div>
    </div>
  </div>
  <div class="carrier-services">
    <div class="service-item">
      <div class="service-name">
        <div class="placeholder-item placeholder-name"></div>
      </div>
      <div class="service-fee">
        <div class="placeholder-item placeholder-price"></div>
      </div>
      <div class="service-estimated-time">
        <div class="placeholder-item placeholder-text"></div>
        <div class="placeholder-item placeholder-text w70"></div>
      </div>
    </div>
  </div>
</div>
