.carrier-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  &:first-child {
    border-top: 1px solid #eee;
  }
}

.carrier-main-info, .carrier-services {
  align-self: stretch;
  display: flex;
}

.carrier-main-info {
  align-items: center;
  border-right: 1px solid #eee;
  padding: 1rem 1rem 1rem 1.5rem;
  width: 35%;
}

.carrier-services {
  align-items: flex-start;
  flex-direction: column;
  width: 65%;
}

.carrier-name {
  padding-left: 0.75rem;
  flex: 0.5;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.service-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  &:last-child {
    border-bottom: none;
  }
}

.service-name {
  padding-right: 1rem;
  width: 25%;
}

.service-fee {
  width: 25%;
  padding: 0 1rem;
}

.service-estimated-time {
  padding-left: 1rem;
  width: 50%;
}

.placeholder {
  $color1: #eee;
  $color2: #ddd;
  .placeholder-item {
    background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
    background-size: 200% auto;
    animation: shine 1s linear infinite;
  }
  .placeholder-image {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100%;
  }
  .placeholder-name, .placeholder-price {
    display: inline-block;
    height: 1.4rem;
    width: 100%;
  }

  .placeholder-text {
    height: .65rem;
    margin-bottom: .25rem;
    &.w70 {
      width: 70%;
    }
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
