<ng-container *ngIf="currentView(step.EDIT)">
  <div class="d-flex justify-content-between mb-4 align-items-center">
    <h4 class="font-bold text-center w-100">Chỉnh sửa thông tin đơn hàng {{data.fulfillment?.shipping_code}}</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <mat-dialog-content class="mat-typography p-0 e-border-top e-border-bottom" [formGroup]="shipping_address">
    <div class="line d-flex align-items-center justify-content-center">
      <mat-icon>perm_identity</mat-icon>
      Thay đổi thông tin người nhận
    </div>
    <div class="list-content">
      <div class="item">
        <etop-material-input placeholder="Tên người nhận" textLabel="Tên người nhận" type="input"
          formControlName="full_name">
        </etop-material-input>
      </div>
      <div class="item">
        <etop-material-input placeholder="Số điện thoại người nhận" textLabel="Số điện thoại người nhận" type="input"
          formControlName="phone">
        </etop-material-input>
      </div>
      <div class="item">
        <etop-material-input placeholder="Địa chỉ" textLabel="Nhập địa chỉ" type="input" formControlName="address1">
        </etop-material-input>
      </div>
      <div class="item">
        <etop-material-input-autocomplete [options]="provinces" textLabel="Tỉnh thành"
          placeholder="Chọn tỉnh thành" formControlName="province_code" [displayMap]="displayMap" [valueMap]="valueMap"
          (ngModelChange)="onProvinceSelected()">
        </etop-material-input-autocomplete>
      </div>
      <div class="item">
        <etop-material-input-autocomplete [options]="districts" textLabel="Quận huyện"
          placeholder="Chọn quận huyện" formControlName="district_code" [displayMap]="displayMap" [valueMap]="valueMap"
          (ngModelChange)="onDistrictSelected()">
        </etop-material-input-autocomplete>
      </div>
      <div class="item">
        <etop-material-input-autocomplete [options]="wards" textLabel="Phường xã" placeholder="Chọn phường xã"
          formControlName="ward_code" [displayMap]="displayMap" [valueMap]="valueMap">
        </etop-material-input-autocomplete>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="py-4">
    <button class="btn btn-default btn-outline mr-3" mat-dialog-close>Đóng</button>
    <button class="btn btn-primary" (click)="confirmStep()" cdkFocusInitial>
      Tiếp tục
    </button>
  </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="currentView(step.CONFIRM)">
  <div class="d-flex justify-content-between mb-4 align-items-center">
    <h4 class="font-bold text-center w-100">Chỉnh sửa thông tin đơn hàng {{data.fulfillment?.shipping_code}}</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <mat-dialog-content class="mat-typography p-0 e-border-top e-border-bottom">
    <div class="line d-flex align-items-center justify-content-center mb-0">
      <mat-icon>beenhere</mat-icon>
      Xác nhận thay đổi thông tin
    </div>
    <div class=" list-content e-border-bottom py-4" *ngIf="checkDifferentName">
      <div class="title">
        Tên người nhận
      </div>
      <div class="d-flex">
        <div class="box-item w-50">
          <label class="text-default">Tên cũ</label>
          <div class="detail d-flex justify-content-between mr-5">
            <div>{{data.fulfillment.shipping_address.full_name}}</div>
            <span style="font-size: 16px">→</span>
          </div>
        </div>
        <div class="box-item w-50">
          <label class="text-default">Tên mới</label>
          <div class="detail text-primary font-weight-bold">{{data.new_value.full_name}}</div>
        </div>
      </div>
    </div>
    <div class="list-content e-border-bottom py-4" *ngIf="checkDifferentPhone">
      <div class="title">
        Số điện thoại người nhận
      </div>
      <div class="d-flex">
        <div class="box-item w-50">
          <label class="text-default">Số điện thoại cũ</label>
          <div class="detail d-flex justify-content-between mr-5">
            <div>{{data.fulfillment.shipping_address.phone}}</div>
            <span style="font-size: 16px">→</span>
          </div>
        </div>
        <div class="box-item w-50">
          <label class="text-default">Số điện thoại mới</label>
          <div class="detail text-primary font-weight-bold">{{data.new_value.phone}}</div>
        </div>
      </div>
    </div>
    <div class="list-content py-4" *ngIf="checkDifferentAddress">
      <div class="title">
        Địa chỉ người nhận
      </div>
      <div class="box-item">
        <label class="text-default">Địa chỉ cũ</label>
        <div class="detail">
          {{data.fulfillment?.shipping_address?.address1}}
          {{data.fulfillment?.shipping_address?.ward ? '- ' + (data.fulfillment?.shipping_address?.ward | locationCompact) : ''}}
          - {{data.fulfillment?.shipping_address?.district | locationCompact}}
          - {{data.fulfillment?.shipping_address?.province | locationCompact}}
        </div>
      </div>
      <div class="box-item mt-3">
        <label class="text-default">Địa chỉ mới</label>
        <div class="detail text-primary font-weight-bold">
          {{data.new_value?.address1}}
          {{data.new_value?.ward ? '- ' + (data.new_value?.ward | locationCompact) : ''}}
          - {{data.new_value?.district | locationCompact}}
          - {{data.new_value?.province | locationCompact}}
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="py-4">
    <div class="shpping-fee mr-4">
      <div class="fee-item border-right pr-4 mr-4">
        Phí cũ: <strong>{{data.fulfillment?.shipping_fee_shop | vnd}}đ</strong>
      </div>
      <div class="fee-item d-flex align-items-center">
        <div class="mr-2">Phí dự kiến: </div>
        <div class="skeleton" style="width: 50px" *ngIf="loadingContinue"></div>
        <strong class="text-primary" *ngIf="!loadingContinue && !!shipping_fee">{{shipping_fee | vnd}}đ</strong>
        <strong class="text-primary" *ngIf="!loadingContinue && !shipping_fee"> - </strong>
      </div>
    </div>
    <button class="btn btn-default btn-outline mr-3" (click)="back()">Quay lại</button>
    <button class="btn btn-primary" [disabled]="loadingConfirm || loadingContinue" (click)="submit()" cdkFocusInitial>
      <i class="fa fa-spinner fa-spin mr-2" *ngIf="loadingConfirm"></i>Xác nhận</button>
  </mat-dialog-actions>
</ng-container>


