.please-view-in-desktop {
  display: none;
  position: absolute;
  background: #fff;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content-wr {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      width: 78%;
      font-size: 1.2rem;
      color: var(--primary-color);
      margin: 0 auto 40px;
    }

    &:first-child {
      width: 80%;
      height: 40%;
      .p1 {
        img {
          width: 80px;
          height: 80px;
        }
      }
    }

    &:last-child {
      height: 60%;
      background-color: var(--primary-color);

      .title {
        color: var(--white-color);
      }

      .app-wr {
        .icon-wr {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 80px;
            height: 80px;
            margin: 0 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .please-view-in-desktop {
    display: flex;
    height: 100%;
  }
}