
<div class="please-view-in-desktop">
  <!-- <div class="text-center mt-5" [innerHtml]="desktop_only?.description" *ngIf="isAtEtop"></div> -->
  <!-- <div class="text-center mt-5"*ngIf="!isAtEtop">
    <div>
      <img src="assets/images/logo_medium.png" alt="" width="100px">
    </div>
    <span class="text-big">Chưa hỗ trợ giao diện mobile</span>
  </div> -->
  <div class="text-center mt-5 content-wr">
    <p class="p1">
      <img src="assets/images/logo_medium.png" alt="faboshop">
    </p>
    <p class="title">
      Ứng dụng quản lý bán hàng trên Facebook fanpage
    </p>
  </div>
  <div class="text-center w-100 content-wr">
    <div class="m-auto app-wr">
      <p class="title">
        Faboshop hiện chưa hỗ trợ giao diện mobile web. Vui lòng tải app để có được trải nghiệm tốt nhất.
      </p>
      <div class="icon-wr">
        <p class="p1">
          <a href="https://apps.apple.com/us/app/id1519378598/">
            <img src="assets/icons/app-ios.png" alt="faboshop">
          </a>
        </p>
        <p class="p1">
          <a href="https://play.google.com/store/apps/details?id=vn.faboshop.app">
            <img src="assets/icons/app-android.png" alt="faboshop">
          </a>
        </p>
      </div>
    </div>
  </div>
</div>