.content {
  background: #f5f5f5;
  min-height: 100%;
  
  .filter-box {
  border-bottom: 8px solid #f5f5f5;
  background: white;
  padding-top: .5rem;
  padding-bottom: .5rem;
  }
  }
  
  ion-header {
  border-bottom: 1px solid #eee;
  }
  
  ion-range {
  --knob-size: 22px;
  --knob-handle-size: 22px;
  }