:host {
 background-color: #fff;
 margin-top: 5px;
 margin-bottom: 0;
 vertical-align: middle;
 border-radius: 7px;
 height: 65px;

 &.active {
   border-left: 5px solid var(--topship-color);
   box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.07);
   margin-left: -5px;
 }
}

.carrier-logo {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border: 1px solid #f5f5f5;
}
