.btn-outline-eorder{
    display: inline-block;
    font-weight: 400;
    color: #d65745;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #d65745;
    padding: 0.5rem 1.75rem;
    font-size: 1.2rem;
    line-height: 2;
    border-radius: .25rem;
}

.btn-register-eorder{
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #d65745;
    border: 1px solid #d65745;
    padding: 0.5rem 1.75rem;
    font-size: 1.2rem;
    line-height: 2;
    border-radius: .25rem;
}