<div class="row mt-4">
  <div *ePermissions="['shop/settings/shop_info:view']" class="col-12">
    <div class="box setting-box">
      <div class="setting-header">Thông tin liên hệ</div>
      <div class="setting-body">
        <div class="row">
          <div class="col-4">
            <div class="py-2">
              <etop-material-input
                placeholder="Tên cửa hàng" textLabel="Tên cửa hàng" type="input"
                [(ngModel)]="shop.name" (ngModelChange)="onChangeShopName()">
              </etop-material-input>
            </div>
          </div>
          <div class="col-4">
            <div class="py-2">
              <etop-material-input
                placeholder="Đường dẫn" textLabel="Đường dẫn" type="input"
                [(ngModel)]="currentAccount.url_slug">
              </etop-material-input>
            </div>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <div class="form-group d-flex mb-0">
              <label class="control-label mb-0">Logo cửa hàng</label>
            </div>

            <label class="upload-logo">
              <img [src]="shop?.image_url || 'assets/images/placeholder_medium.png'" alt=""/>
              <span class="over-logo" *ngIf="!uploading">
                <i class="fa fa-camera"></i>
              </span>
              <span class="upload-loading" *ngIf="uploading">
                <i class="fas fa-circle-notch fa-spin"></i>
              </span>
              <input accept="image/png,image/jpg,image/jpeg,image/gif" type="file"
                     class="d-none" (change)="onFileSelected($event)" />
            </label>
          </div>
          <div class="col-4">
            <div class="py-2">
              <etop-material-input
                placeholder="Số điện thoại" textLabel="Số điện thoại" type="input"
                [(ngModel)]="shop.phone">
              </etop-material-input>
            </div>
          </div>
          <div class="col-4">
            <div class="py-2">
              <etop-material-input
                placeholder="Email" textLabel="Email" type="input" [(ngModel)]="shop.email">
              </etop-material-input>
            </div>
          </div>
          <div class="col-4">
            <div class="py-2">
              <etop-material-input
                placeholder="Website" textLabel="Website" type="input" [(ngModel)]="shop.website_url">
              </etop-material-input>
            </div>
          </div>
          <ng-container *ngIf="preparing_data">
            <div class="col-12 d-flex align-items-center justify-content-center" style="height: 10rem;">
              <i class="bigger-font text-primary fa fa-spin fa-circle-o-notch"></i>
            </div>
          </ng-container>
          <ng-container *ngIf="!preparing_data">
            <div class="col-4">
              <div class="py-2">
                <etop-material-input-autocomplete
                  placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành" [options]="provinces"
                  [displayMap]="displayMap()" [valueMap]="valueMap()"
                  [(ngModel)]="selectedProvinceCode" (ngModelChange)="onProvinceSelected()">
                </etop-material-input-autocomplete>
              </div>
            </div>
            <div class="col-4">
              <div class="py-2">
                <etop-material-input-autocomplete
                  placeholder="Chọn quận huyện" textLabel="Quận huyện" [options]="districts"
                  [displayMap]="displayMap()" [valueMap]="valueMap()"
                  [(ngModel)]="selectedDistrictCode" (ngModelChange)="onDistrictSelected()">
                </etop-material-input-autocomplete>
              </div>
            </div>
            <div class="col-4">
              <div class="py-2">
                <etop-material-input-autocomplete
                  placeholder="Chọn phường xã" textLabel="Phường xã" [options]="wards"
                  [displayMap]="displayMap()" [valueMap]="valueMap()"
                  [(ngModel)]="selectedWardCode">
                </etop-material-input-autocomplete>
              </div>
            </div>
            <div class="col-12">
              <div class="py-2">
                <etop-material-input
                  placeholder="Địa chỉ" textLabel="Địa chỉ" type="input"
                  [(ngModel)]="shop.address.address1">
                </etop-material-input>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="setting-footer">
        <div class="note">
          *Lưu ý, đây không phải là địa chỉ lấy hàng. <span *ePermissions="['shop/settings/shipping_setting:view']">Bấm vào
          <strong class="text-primary cursor-pointer" (click)="updateFromAddress()">đây</strong>
          để thay đổi địa chỉ lấy hàng. </span>
        </div>
        <div *ePermissions="['shop/settings/shop_info:update']" class="ml-auto">
          <button class="btn btn-primary" (click)="updateShopInfo()" [disabled]="updating?.shop_info">
            <i class="fa fa-spin fa-circle-o-notch" *ngIf="updating?.shop_info"></i>
            Cập nhật
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
