.upload-logo {
  position: relative;
  margin: 0 !important;
  img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #eee;
    border-radius: 50%;
    margin-left: 1rem;
  }

  .over-logo,
  .upload-loading {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    color: #fff;
    font-size: 1.15rem;
    i {
      margin: auto;
    }
  }
  .over-logo {
    display: none;
  }
  .upload-loading {
    display: flex;
    i {
      margin: auto;
    }
  }
  img:hover + .over-logo {
    display: flex;
  }
  .over-logo:hover {
    display: flex;
  }
}
