<div class="col align-self-center hide-768">
    <div *ngIf="!transaction.id">-</div>
    <div *ngIf="transaction.id" class="font-weight-bold text-primary">
        {{transaction.id}}
    </div>
</div>
<div class="col align-self-center">
    <div *ngIf="!transaction.created_at">-</div>
    <div *ngIf="transaction.created_at">{{transaction.created_at | date:'dd/MM/yyyy'}}</div>
</div>
<div class="col d-flex align-items-center {{liteMode? '' :'min-width-25rem'}}" >
    <div *ngIf="!transaction.name && !transaction.note">-</div>
    <div *ngIf="transaction.name || transaction.note">
        <div class="text-bold">{{transaction.name}}</div>
        <div class="description-text">{{transaction.note}}</div>
    </div>
</div>
<div class="col align-self-center ">
    <div *ngIf="!transaction.type">-</div>
    <div *ngIf="transaction.type">{{transaction.type_display}}</div>
</div>
<div class="col align-self-center hide-768" *ngIf="!liteMode">
    <div *ngIf="!transaction.referral_ids">-</div>
    <div *ngIf="transaction.referral_ids" class="d-flex align-items-center" (click)="invoiceDetail()">
        {{transaction.referral_ids}}
        <mat-icon *ngIf="transaction.referral_type == 'invoice'" class="font-weight-bold ml-1">
            launch
        </mat-icon>
    </div>
</div>
<div class="col align-self-center hide-768" *ngIf="!liteMode">
    <div *ngIf="!transaction.status">-</div>
    <div *ngIf="transaction.status" class="status status-{{transaction.status}}">{{transaction.status_display}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
    <div *ngIf="!transaction.amount || transaction.amount > 0" class="text-bold text-right">-</div>
    <div *ngIf="transaction.amount && transaction.amount < 0" class="text-bold text-right">{{transaction.amount * -1| vnd}}đ</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
    <div *ngIf="!transaction.amount || transaction.amount < 0" class="text-bold text-right">-</div>
    <div *ngIf="transaction.amount && transaction.amount > 0" class="text-bold text-right text-primary">{{transaction.amount | vnd}}đ</div>
</div>
