etop-filter::ng-deep div.col-2.pr-0{
  flex: 0 0 75%;
  max-width: 75%;
}

etop-filter::ng-deep div.wrapper-filter{
  border-bottom: none;
}

.mobile-header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0;
  index:10;
  .status-header, .info-header, .action-header {
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
  }
  .info-header {
    text-align: left!important;
    padding: 1rem 2rem;
  }
}
.call-log {
  margin: 0!important;
  width: 100vw;
  &:last-child {
    border-bottom: 1px solid var(--default-border-color);
  }
  .status-call-log {
    text-align: center;
    padding: 1rem 0rem;
    border-right: 1px solid var(--default-border-color);
    .status-name {
      text-transform: uppercase;
    }
    .status-icon {
      font-weight: bold;
      font-size: 2.5rem !important;
      width: 2.5rem !important;
      height: 2.5rem !important;
    }
  }
  .info-call-log {
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
    .customer-name {
      font-size: 1.3rem;
      font-weight: bold;
    }
    .info-customer {
    }
  }
  .action-call-log {
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    .action {
      cursor: pointer;
      padding: 0.5rem 1.25rem;
      border-radius: 50rem;
      display: flex;
      align-items: center;
      border: 1px solid var(--default-border-color);
      max-width: 9rem;
      margin-left: auto;
      mat-icon {
        font-size: 1.5rem !important;
        width: 1.5rem !important;
        height: 1.5rem !important;
        margin-right: 0.25rem;
      }
    }
  }
}
.empty-list {
  width: 100vw;
  padding: 3rem 0;
  text-align: center;
}

.border-top {
  border-top: 1px solid var(--default-border-color)!important;
}

.blank-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  .blank-img {
    width: 175px;
    height: auto;
    opacity: 0.3;
  }
  .info {
    margin-bottom: 20px;
  }
}
etop-table {
  &::ng-deep {
    padding: 0;
    .table-row {
      margin-bottom: 0;
    }
    .table-header, .row-container {
      padding: 0;
      height: auto !important;
    }

    .table-items {
      margin-bottom: 6rem;
    }
    etop-pagination {
      width: 100vw;
      bottom: var(--mobile-menu-height);
      &::ng-deep {
        .perpage {
          span:last-child {
            display: none;
          }
        }
      }
    }
  }
}
:host {
  height: 100%;
}
