<div class="box setting-box mt-0">
  <div class="setting-header">Cửa hàng của bạn</div>
  <div class="setting-body">
    <div class="row">
      <div class="table-responsive">
        <table class="w-100">
          <thead>
            <tr class="table-head">
              <th>Mã</th>
              <th>Tên cửa hàng</th>
              <th>Vai trò</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let account of accounts;">
              <tr
                *ngIf="isMyShop(account?.user_account?.permission?.roles)" shop-shops-management-row
                [account]="account" [currentShop]="currentShop">
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="setting-footer" *ngIf="isAtEtop">
    <div class="text-right w-100">
      <button (click)="openOnBoarding()" class="btn btn-primary">
        Thêm cửa hàng
      </button>
    </div>
  </div>
</div>

