<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Giỏ hàng</ion-title>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content>
  <div class="basket-wrapper">
    <div class="order-lines-wrapper">
      <div class="list-cart">
        <ion-grid *ngFor="let line of order_lines; let i = index;">
          <ion-row>
            <ion-col size="2" class="ion-align-self-center quantity">
              <div class="ion-flex ion-align-items-center">
                <ion-input
                  style="text-align: center;" inputmode="numeric" min="1" pattern="[0-9]*" type="text"
                  [(ngModel)]="line.quantity" (ngModelChange)="lineUpdated(line)" (ionBlur)="checkBasket(line)">
                </ion-input>
                <span>X</span>
              </div>
            </ion-col>
            <ion-col size="9" class="ion-flex ion-align-self-center ion-align-items-center">
              <div class="ion-flex ion-align-items-center">
                <div class="line-image" [ngStyle]="{'background-image': 'url(' + line?.image_url + ')'}"></div>
                <div class="line-product">
                  <div class="line-product-name fix-line-1">{{line?.product_name}}</div>
                  <div class="line-retail-price">{{line?.retail_price | vnd}}đ</div>
                </div>
              </div>
              <div class="total-price ml-auto">{{(line?.retail_price * line?.quantity) | vnd}}đ</div>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center" (click)="removeLine(i)">
              <div class="ion-align-items-center ion-flex ion-justify-content-center">
                <ion-icon name="trash-outline"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="order-info-wrapper">
      <ion-grid>
        <ion-row>
          <ion-col size="5" class="ion-align-self-center">
            <div class="info-label">Tạm tính</div>
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
            <div class="info-value">{{basketValue | vnd}}đ</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="ion-align-self-center">
            <div class="info-label">Giảm giá</div>
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
            <ion-input
              *ngIf="!format_money?.discount" #discountInput
              inputmode="numeric" min="1" pattern="[0-9]*" type="number" placeholder="Nhập số tiền"
              [(ngModel)]="discount" (ionBlur)="formatMoney('discount'); discountUpdated()">
            </ion-input>
            <div
              *ngIf="format_money?.discount" (click)="formatMoney('discount')" class="info-value input">
              {{discount | vnd}}đ
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="ion-align-self-center">
            <div class="info-label">Phụ phí</div>
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
            <ion-input
              *ngIf="!format_money?.fee" #feeInput
              inputmode="numeric" min="1" pattern="[0-9]*" type="number" placeholder="Nhập số tiền"
              [(ngModel)]="fee" (ionBlur)="formatMoney('fee'); feeUpdated()">
            </ion-input>
            <div
              *ngIf="format_money?.fee" (click)="formatMoney('fee')" class="info-value input">
              {{fee | vnd}}đ
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="ion-align-self-center">
            <div class="info-label">Khách phải trả</div>
          </ion-col>
          <ion-col size="7" class="ion-align-self-center">
            <div class="info-value">{{(total_amount || 0) | vnd}}đ</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="toPayment()">
        Tiếp tục
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
