.basket-wrapper {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.order-lines-wrapper {
  .line-image {
    width: 2.5rem;
    padding-bottom: 2.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1px solid #eee;
  }
  .line-product {
    padding-left: 7px;
    flex: 1;
    overflow: hidden;
  }
  .line-product-name {
    line-height: 1.2;
  }
  .line-retail-price {
    color: #777;
    font-size: 0.8rem;
    line-height: 1.2;
  }
  .total-price {
    color: #555;
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: 0.5rem;
  }
  .remove-line {
    ion-icon {
      color: #666;
      font-size: 1.1rem;
    }
  }
}

.order-info-wrapper {
  flex: 1;
  margin-top: 0.7rem;
  box-shadow: 0px -5px 0 0px rgb(238,238,238);
  ion-col {
    padding: 1rem 0.7rem;
    .info-label {
      color: #666;
    }
    .info-value {
      text-align: right;
      font-size: 1.2rem;
      color: #666;
      &.input {
        border-bottom: 1px solid #ddd;
        height: 1.7rem;
      }
    }
  }
  ion-input {
    font-size: 1.2rem;
  }
}

ion-input {
  border-bottom: 1px solid #ddd;
  height: 1.7rem;
  text-align: right;
  color: #666;
}
