:host {
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;
  height: 100%;
}

.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.menu {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.product-line {
  cursor: pointer;
}
