.payment-wrapper {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.receipt-wrapper {
  flex: 1;
  margin-top: 5px;
  box-shadow: 0px -5px 0 0px rgb(238,238,238);
}

.customer-wrapper, .receipt-wrapper {
  position: relative;
  ion-col {
    padding: 1rem 0.7rem;
    .info-label {
      color: #666;
    }
    .info-value {
      text-align: right;
      font-size: 1.2rem;
      color: #666;
      &.input {
        border-bottom: 1px solid #ddd;
        height: 1.7rem;
      }
    }
  }
  ion-input {
    font-size: 1.2rem;
  }
}

ion-input {
  border-bottom: 1px solid #ddd;
  height: 1.7rem;
  text-align: right;
  color: #666;
}

.section-title {
  font-weight: 700;
  color: #666;
  padding: 0.9rem 1rem 0;
}

.label-section {
  flex: 1;
}

.input-section {
  width: 50%;
}

.search-suggestion {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  height: 48%;
  overflow: hidden;
  .search-item {
    padding: 0 1rem;
    &:focus, &:active {
      outline: 0;
      background: #f5f5f5;
    }
    .search-item-content {
      height: 45px;
      display: flex;
      align-items: center;
      border-top: 1px solid #eee;
    }
  }
  .search-list {
    overflow-y: auto;
    height: calc(100% - 45px);
    padding-bottom: 2rem;
    -webkit-overflow-scrolling: touch;
  }
  .search-title {
    padding: 0 1rem;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      font-weight: 700;
      color: #666;
    }
    ion-icon {
      font-size: 2rem;
      position: relative;
      color: #aaa;
    }
  }
}


