<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-icon" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Thanh toán</ion-title>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content>
  <div class="payment-wrapper">
    <div class="customer-wrapper">
      <div class="section-title">Khách hàng</div>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-align-self-center">
            <div class="ion-flex ion-align-items-start">
              <div class="label-section">
                <div class="info-label">Tên khách hàng</div>
              </div>
              <div class="input-section">
                <ion-input
                  #customerNameInput inputmode="text" type="text" placeholder="Nhập tên KH"
                  (ionBlur)="hideSearchResult()" (keyup.enter)="hideSearchResult(); goToNextInputField(customerPhoneInput);"
                  [(ngModel)]="customer.full_name" (ngModelChange)="searchCustomer('name')">
                </ion-input>
<!--                <ion-input #customerNameInput inputmode="text" type="text" placeholder="Nhập tên KH"-->
<!--                  (keyup.enter)="goToNextInputField(customerPhoneInput);"-->
<!--                  [(ngModel)]="customer.full_name">-->
<!--                </ion-input>-->
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-align-self-center">
            <div class="ion-flex ion-align-items-start">
              <div class="label-section">
                <div class="info-label">Số điện thoại</div>
              </div>
              <div class="input-section">
                <ion-input #customerPhoneInput inputmode="tel" type="tel" placeholder="Nhập sđt KH"
                  (ionBlur)="hideSearchResult()" (keyup.enter)="hideSearchResult(); formatMoney();"
                  [(ngModel)]="customer.phone" (ngModelChange)="searchCustomer('phone')">
                </ion-input>
<!--                <ion-input #customerPhoneInput inputmode="tel" type="tel" placeholder="Nhập sđt KH"-->
<!--                  (keyup.enter)="formatMoney();"-->
<!--                  [(ngModel)]="customer.phone">-->
<!--                </ion-input>-->
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="search-suggestion" *ngIf="customerSearchResult?.length">
      <div class="search-title text-medium">
        <div class="ion-flex ion-align-items-center">
          <img src="assets/imgs/menu-icon/icon_customer.png" alt="" style="margin-right: 0.5rem; width: 2rem">
          <span class="ion-text-left">Chọn khách hàng cũ</span>
        </div>
        <ion-icon name="close" (click)="hideSearchResult()"></ion-icon>
      </div>
      <div class="search-list">
        <div class="search-item" *ngFor="let customer of customerSearchResult" (click)="selectCustomer(customer)">
          <div class="search-item-content">
            {{customer?.full_name}}{{customer?.phone && ' - ' + customer?.phone || ''}}
          </div>
        </div>
      </div>
    </div>
    <div class="receipt-wrapper" [class.d-none]="suggestDisplay && customerSearchResult?.length">
      <div class="section-title">Thanh toán</div>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-align-self-center">
            <div class="ion-flex ion-align-items-start">
              <div class="label-section">
                <div class="info-label">Khách phải trả</div>
              </div>
              <div class="input-section">
                <div class="info-value">{{totalAmount | vnd}}đ</div>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-align-self-center">
            <div class="ion-flex ion-align-items-start">
              <div class="label-section">
                <div class="info-label">
                  <div>{{paymentMethodDisplay}}</div>
                  <div class="small-font" *ngIf="selected_ledger?.type != 'cash'">
                    TK thanh toán: <span class="font-bold">{{selected_ledger?.name}}</span>
                  </div>
                </div>
                <div class="text-primary small-font" (click)="changePaymentMethod()">Thay đổi phương thức</div>
              </div>
              <div class="input-section">
                <ion-input
                  *ngIf="!format_money" #receivedAmountInput
                  inputmode="numeric" min="1" pattern="[0-9]*" type="number" placeholder="Nhập số tiền"
                  [(ngModel)]="received_amount" (ngModelChange)="onChange()" (ionBlur)="formatMoney();">
                </ion-input>
                <div
                  *ngIf="format_money" (click)="formatMoney()" class="info-value input">
                  {{received_amount | vnd}}đ
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="received_amount - totalAmount > 0">
          <ion-col size="12" class="ion-align-self-center">
            <div class="ion-flex ion-align-items-start">
              <div class="label-section">
                <div class="info-label">Tiền thừa trả khách</div>
              </div>
              <div class="input-section">
                <div class="info-value">{{(received_amount - totalAmount) | vnd}}đ</div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper" [class.d-none]="suggestDisplay && customerSearchResult?.length">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="create(true)">
        Tạo hóa đơn
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
