<div *ngIf="!showOptions" class="table-responsive">
  <table class="w-100">
    <thead>
      <tr>
        <th></th>
        <th>SKU</th>
        <th>Tên mẫu mã</th>
        <th class="text-right">Số lượng tem in</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let variant of barcodeInfo; index as i">
        <tr [class.bg-danger]="!variant.code">
          <td>
            <div class="p-2">
              <i class="far fa-times-circle hide dark-orange p-2 text-bigger text-default cursor-pointer" (click)="removeVariant(i)"></i>
            </div>
          </td>
          <td>
            <div *ngIf="variant?.code" class="text-bold text-uppercase">{{variant?.code}}</div>
            <div *ngIf="!variant?.code" class="text-bold text-big">-</div>
          </td>
          <td>
            <div>{{variant?.name}}<strong *ngFor="let attr of variant?.attributes"> - {{attr?.value | uppercase}}</strong></div>
          </td>
          <td>
            <div *ngIf="variant?.code" class="text-right">
              <etop-material-input type="input" textLabel="Số lượng" placeholder="Nhập số lượng" [(ngModel)]="barcodeInfo[i].print_quantity" keyboardType="number" class="text-bold"></etop-material-input>
            </div>
            <div *ngIf="!variant?.code" class="text-right text-danger">
              Bổ sung SKU để in được mã vạch
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="text-right m-4">
    <button class="btn btn-primary" (click)="chooseOptions()" [disabled]="unavailableBarcodeInfo">Tiếp tục</button>
  </div>
</div>
<ng-container *ngIf="showOptions">
  <div class="m-4">
<!-- TODO: select barcode standard -->
    <div class="options">
      <div class="option-title text-bold">Chọn khổ:</div>
      <div class="row">
        <ng-container *ngFor="let item of sizes">
          <div class="col-4 my-3 cursor-pointer" (click)="changePaperSize(item?.value)">
            <div class="d-flex align-items-start">
              <input type="radio" [value]="item?.value" [checked]="size == item?.value">
              <div class="ml-2">
                <div class="text-bold" [class.text-primary]="size == item?.value">
                  {{item?.title}}
                </div>
                <div class="option-desc small-font mb-2">{{item?.desc}}</div>
              </div>
            </div>
            <div class="preview low text-center" [class.active]="size == item?.value">
              <img [src]="item?.image_url" alt="">
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="options mt-5">
      <div class="option-title text-bold">Nội dung:</div>
      <div class="row mt-3">
        <div class="col-4 cursor-pointer" (click)="toggleDisplayShopname()">
          <input type="checkbox" [checked]="showShopname">
          <span class="ml-2" >Hiển thị tên shop</span>
        </div>
        <div class="col-4 cursor-pointer" (click)="toggleDisplayPrice()">
          <input type="checkbox" [checked]="showPrice">
          <span class="ml-2">Hiển thị giá</span>
        </div>
      </div>
    </div>
    <div class="text-right m-4">
      <button class="btn btn-primary" (click)="viewBarcode()">Xem bản in</button>
    </div>
  </div>
</ng-container>
