thead {
  background-color: var(--light);
}
th {
  font-weight: 400;
  padding: 7px 15px;
  border-bottom: 1px solid var(--border-gray-color);
  border-top: 1px solid var(--border-gray-color);
}
td {
  padding: 10px 15px;
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
}

.bg-danger {
  background-color: rgba(var(--danger-color-rgb), 0.1) !important;
}

.option-title {
  font-size: 1.15rem;
}

.option-desc {
  font-size: 0.85rem;
}

.preview {
  border: 1px solid var(--border-gray-color);
  height: 10rem;
  border-radius: 5px;
  padding: 0.8rem;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
  &.low {
    height: 6.5rem;
  }
  &.active {
    border-color: var(--primary-color);
  }
}
