.carrier-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  &:first-child {
    border-top: 1px solid #eee;
  }
  &.active {
    border: 1px solid var(--topship-color);
  }
}

.carrier-main-info, .carrier-services {
  align-self: stretch;
  display: flex;
}

.carrier-main-info {
  align-items: center;
  border-right: 1px solid #eee;
  padding: 1rem 1rem 1rem 1.5rem;
  width: 35%;
}

.carrier-services {
  align-items: flex-start;
  flex-direction: column;
  width: 65%;
}

.carrier-name {
  font-weight: 700;
  padding-left: 0.75rem;
  font-size: .9rem !important;
  color: #444;
  &.from-topship {
    color: var(--topship-color);
  }
}

.service-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  &:last-child {
    border-bottom: none;
  }
  &.unavailable {
    background: #f5f5f5;
    color: #888;
  }
}

.service-name {
  padding-right: 1rem;
  font-size: 1.1rem;
  width: 50%;
  display: flex;
  align-items: center;
}

.service-fee {
  font-weight: 700;
  text-align: left;
}

.service-estimated-time {
  padding-left: 1rem;
  width: 50%;
}

.picking-at, .delivering-at {
  display: flex;
  align-items: center;
  .circle {
    width: .65rem;
    height: .65rem;
    border-radius: 100%;
    border: 1px solid #ddd;
  }
}
.picking-at {
  font-size: .8rem;
  color: var(--default-color);
}
.delivering-at {
  font-size: .9rem;
  color: var(--dark-color);
  .circle {
    background: #ddd;
  }
}

.circle-wrapper {
  width: 1.25rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
}

.time-detail span {
  color: #777;
  font-size: .9rem;
}

.special-note {
  background-color: var(--gray-color);
  text-align: left;
}

.carrier-connect-btn {
  cursor: pointer;
  color: var(--topship-color);
  padding: 0.6rem 1.6rem;
  border-bottom: 1px solid var(--border-gray-color);
}

.alert {
  margin-bottom: 0;
}
