<div
  class="carrier-wrapper" [class.mb-4]="!shipServicesErrorMsg && !specialNote"
  *ngIf="fromWard && toWard; else notEnoughInfo;">
  <ng-container *ngFor="let carrier of carriers; let i = index;">
    <div
      *ngIf="!carrier.loading && carrier?.services?.length"
      class="carrier-item" [class.active]="carrierHasSelectedService(carrier)">
      <div class="carrier-main-info">
        <div class="carrier-image">
          <img [src]="carrier?.logo" alt="">
          <img *ngIf="carrier?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
        </div>
        <span class="carrier-name" [class.from-topship]="carrier?.from_topship">{{carrier?.name | uppercase}}</span>
      </div>
      <div class="carrier-services">
        <div
          *ngFor="let service of carrier?.services; let j = index;"
          class="service-item" (click)="selectService(i, j)" [class.unavailable]="!service.is_available">
          <div class="text-left" *ngIf="!service?.is_available">{{service?.error_message}}</div>
          <ng-container *ngIf="service?.is_available">
            <div class="service-name">
              <mat-checkbox
                color="accent" class="d-flex align-items-center"
                [(ngModel)]="service.selected" style="pointer-events: none;">
              </mat-checkbox>
              <div class="pl-3">
                <div class="text-left">{{service?.name}}</div>
                <div class="service-fee">{{service?.fee | vnd}}đ</div>
              </div>
            </div>
            <div class="service-estimated-time">
              <div class="picking-at">
                <div class="circle-wrapper">
                  <span class="circle"></span>
                </div>
                <div class="time-detail">
                  <span>Lấy trước {{(service?.estimated_pickup_at | date: 'HH:mm dd/MM') || '--'}}</span>
                </div>
              </div>
              <div class="delivering-at">
                <div class="circle-wrapper">
                  <span class="circle"></span>
                </div>
                <div class="time-detail">
                  <span>Giao {{(service?.estimated_delivery_at | date: 'dd/MM') || '--'}}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <shop-shipping-service-options-placeholder *ngIf="carrier.loading">
    </shop-shipping-service-options-placeholder>
  </ng-container>
  <div class="carrier-connect-btn" (click)="toCarrierConnect()">+ Kết nối thêm nhà vận chuyển</div>
</div>
<ng-template #notEnoughInfo>
  <div class="text-center" style="margin-bottom: 1.5rem;">
    Vui lòng điền đầy đủ thông tin để kiểm tra gói dịch vụ
    <span *ngIf="!fromWard || !toWard">: Thiếu Phường/Xã ở địa chỉ lấy/giao hàng</span>
  </div>
</ng-template>
<div class="p-3" *ngIf="shipServicesErrorMsg || specialNote">
  <div class="alert alert-warning" *ngIf="shipServicesErrorMsg" [class.mb-3]="!!specialNote">
    {{shipServicesErrorMsg}}
  </div>
  <div class="alert special-note" *ngIf="specialNote" [innerHTML]="specialNote | safeHtml"></div>
</div>
