<div class="w-100">
  <div class="card-header">
    <div class="d-flex align-items-center card-header-item">
      <div class="flex-grow-1 text-primary font-weight-bold header-title">
        NHÀ CUNG CẤP
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="flex-grow-1 bg-white position-relative">
      <shared-select-multiline
        *ngIf="suppliers.length" [options]="suppliers" [(ngModel)]="supplierIndex" (ngModelChange)="selectSupplier()"
        placeholder="Tìm theo tên hoặc số điện thoại" width="100%" style="height: 45px;"
        [showPlaceholderFirst]="true" [showAddition]="showCreateSupplier">
        <div class="text-center m-auto text-primary" (click)="showAddSupplierModal()">
          Thêm nhà cung cấp mới
        </div>
      </shared-select-multiline>
      <div *ngIf="!suppliers.length" class="text-center">
        <p class="m-auto py-3 text-default">Không tìm thấy nhà cung cấp!</p>
        <div *ePermissions="['shop/supplier:create']" class="add-supplier text-center m-auto text-primary" (click)="showAddSupplierModal()">
          Thêm nhà cung cấp mới
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-100">
  <div class="card-header">
    <div class="d-flex align-items-center card-header-item">
      <div class="flex-grow-1 font-weight-bold text-primary header-title">
        ĐƠN NHẬP HÀNG
      </div>
    </div>
  </div>
  <div class="card-body bg-white">
    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">Tiền hàng</div>
      <div>
        <span class="font-weight-bold text-right">{{(purchase_order?.p_data?.basket_value || 0) | vnd }}đ</span>
      </div>
    </div>

    <div class="info-section e-border-bottom row-discount">
      <div class="flex-grow-1">
        <select [(ngModel)]="discount_calc_type" (ngModelChange)="discountCalcTypeChange()"
          class="label-select" placement="bottom" ngbTooltip="Chọn hình thức giảm giá">
          <option value="1">Giảm giá (đ)</option>
          <option value="2">Giảm giá (%)</option>
        </select>
      </div>
      <div style="width: 11rem;">
        <etop-currency-input
          class="w-100 text-primary"
          placeholder="Nhập giảm giá" classInner="text-primary input-pos" inputClass="pr-0 border-0"
          [posfixText]="discountPercent ? '%' : 'đ'" [rulesFree]="true"
          [(ngModel)]="purchase_order.p_data.total_discount" (ngModelChange)="updateTotalAmount()">
        </etop-currency-input>
      </div>
    </div>

    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">Phải thanh toán</div>
      <div>
        <span class="font-weight-bold text-right">
          {{(purchase_order?.p_data?.total_amount || 0) | vnd }}đ
        </span>
      </div>
    </div>

    <div
      class="info-section e-border-bottom" [class.multi-line]="totalReceipts > 1"
      [class.single-line]="totalReceipts == 1">
      <div class="d-flex">
        <span>
          Thanh toán cho nhà cung cấp
          <i class="fa fa-info-circle text-primary ml-2"
             ngbTooltip="Số tiền bạn thanh toán cho nhà cung cấp bằng tiền mặt hoặc chuyển khoản"
             placement="bottom">
          </i>
        </span>
      </div>
      <div class="receipt-info flex-grow-1">
        <shop-create-multi-receipt
          [total_amount]="purchase_order?.p_data?.total_amount" totalAmountText="Phải thanh toán" totalPaymentText="Thanh toán cho nhà cung cấp">
        </shop-create-multi-receipt>
      </div>
    </div>
    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">
        <span>Nợ nhà cung cấp</span>
      </div>
      <div>
        <span class="font-weight-bold text-right">{{ supplierDebt | vnd }}đ</span>
      </div>
    </div>
    <div class="info-section e-border-bottom">
      <div class="flex-grow-1 d-flex align-items-center" (click)="purchaseOrderNote.focus()">
        <span>Ghi chú</span>
      </div>
      <div class="w-50">
        <input
          #purchaseOrderNote type="text" style="height: 30px;" placeholder="Nhập ghi chú"
          class="input-pos w-100 font-weight-bold text-primary text-right" [(ngModel)]="purchase_order.p_data.note" />
      </div>
    </div>
    <div class="buttons d-flex">
      <button
        *ePermissions="['shop/purchase_order:create']"
        class="btn btn-outline btn-primary" style="width: 35%;"
        [disabled]="loading" (click)="create(false)">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && !createAndConfirm"></i>
        Lưu nháp
      </button>
      <button
        *ePermissions="['shop/purchase_order:confirm']"
        class="btn btn-primary ml-3" style="width: 65%;"
        [disabled]="loading" (click)="create(true)">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && createAndConfirm"></i>
        Xác nhận
      </button>
    </div>
  </div>
</div>
