.add-supplier {
  min-height: 30px;
  line-height: 30px;
  border-top: 1px solid var(--border-gray-color);
  cursor: pointer;
}

.buttons {
  padding: 1rem;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.label-select {
  border-bottom: 1px solid var(--border-gray-color);
  border-radius: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  background-position-y: 1px;
}

.multi-line {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  .receipt-info {
    width: 100%;
  }
}

.single-line {
  align-items: baseline !important;
  .receipt-info {
    margin-left: 10px;
  }
}
