<ion-header>
  <ion-toolbar>
    <ion-title>Tạo khách hàng</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="body-content">
    <ion-list class="ion-padding-end ion-margin-bottom">
      <ion-item class="input-wrapper">
        <ion-label position="floating">Tên khách hàng</ion-label>
        <ion-input [(ngModel)]="customer.full_name" placeholder="Nhập tên khách hàng"></ion-input>
      </ion-item>
      <ion-item class="input-wrapper">
        <ion-label position="floating">Số điện thoại</ion-label>
        <ion-input type="tel" [(ngModel)]="customer.phone" placeholder="Nhập số điện thoại"></ion-input>
      </ion-item>
    </ion-list>

    <div class="box-detail">
      <div class="ion-flex ion-padding text-medium" (click)="toggleDetail()">
        <span class="mr-auto font-bold">Chi tiết</span>
        <ion-icon name="chevron-{{show ? 'up' : 'down'}}-outline"></ion-icon>
      </div>
      <ion-list class="ion-padding-end" [ngClass]="{ 'ion-hide': !show }">
        <ion-item class="input-wrapper">
          <ion-label position="floating">Email</ion-label>
          <ion-input placeholder="Nhập email" type="email" [(ngModel)]="customer.email"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item class="input-wrapper">
              <ion-label position="floating">Giới tính</ion-label>
              <ion-select ok-text="Chọn" cancel-text="Đóng" [(ngModel)]="customer.gender" placeholder="Chọn giới tính">
                <ion-select-option *ngFor="let gender of genders" value="{{gender.value}}">{{gender.title}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-item class="input-wrapper">
              <ion-label position="floating">Ngày sinh</ion-label>
              <ion-datetime placeholder="Chọn ngày sinh" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY"
                [(ngModel)]="customer.birthday">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ionfabo-select-suggest 
          label="Tỉnh/Thành phố" 
          placeholder="Chọn tỉnh/thành phố" 
          [hasLabel]="true"
          position="stacked"
          [options]="provinces"
          [(ngModel)]="address.province_code"
          (ngModelChange)="onProvinceSelected()">
        </ionfabo-select-suggest>
        <ionfabo-select-suggest 
          label="Quận/Huyện" 
          placeholder="Chọn quận/huyện" 
          [hasLabel]="true"
          position="stacked"
          [options]="districts"
          [(ngModel)]="address.district_code"
          (ngModelChange)="onDistrictSelected()">
        </ionfabo-select-suggest>
        <ionfabo-select-suggest 
          label="Phường/Xã" 
          placeholder="Chọn phường/xã" 
          [hasLabel]="true"
          position="stacked"
          [options]="wards"
          [(ngModel)]="address.ward_code"
          (ngModelChange)="onWardSelected()">
        </ionfabo-select-suggest>
        <ion-item class="input-wrapper">
          <ion-label position="floating">Địa chỉ</ion-label>
          <ion-input placeholder="Địa chỉ" [(ngModel)]="address.address1">
          </ion-input>
        </ion-item>
        <ion-item class="input-wrapper">
          <ion-label position="floating">Ghi chú</ion-label>
          <ion-input placeholder="Nhập ghi chú về khách hàng" [(ngModel)]="customer.note"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="createCustomer()">
        Thêm khách hàng
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
