<ion-header>
  <ion-toolbar>
    <ion-title>Thay đổi mật khẩu</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top ion-padding-end">
  <ion-list [formGroup]="passwordForm">
    <ion-item>
      <ion-label position="floating">Nhập mật khẩu hiện tại</ion-label>
      <ion-input clearOnEdit="true" enterkeyhint="next" type="password" formControlName="current_password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nhập mật khẩu mới</ion-label>
      <ion-input clearOnEdit="true" enterkeyhint="next" type="password" formControlName="new_password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Xác nhận mật khẩu mới</ion-label>
      <ion-input clearOnEdit="true" enterkeyhint="enter" type="password" formControlName="confirm_password"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="footer-button-wrapper" (click)="submit()">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Thay đổi mật khẩu
      </button>
    </div>
  </ion-toolbar>
</ion-footer>