<div class="modal-header">
  <div class="modal-title big-font">
    Xử lý bồi hoàn đơn giao hàng <span class="big-font text-primary">{{ffm?.shipping_code}}</span>
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-4 py-2">
      <etop-material-input type="custom" textLabel="Khai giá" [disabled]="true">
        <span class="read-only">{{ffm?.basket_value | number}}đ</span>
      </etop-material-input>
    </div>
    <div class="col-4 py-2">
      <etop-material-input type="custom" textLabel="Thu hộ" [disabled]="true">
        <span class="read-only">{{ffm?.total_cod_amount | number}}đ</span>
      </etop-material-input>
    </div>
    <div class="col-4 py-2">
      <etop-material-input-format-number
        textLabel="Số tiền bồi hoàn" placeholder="Nhập số tiền bồi hoàn" formatNumberUnit="đ"
        [(ngModel)]="actual_compensation_amount">
      </etop-material-input-format-number>
    </div>
  </div>

  <div class="mb-3">
    <etop-material-input
      [maxRow]="4" type="text-area" textLabel="Lý do cập nhật" placeholder="Nhập lý do cập nhật"
      [(ngModel)]="admin_note">
    </etop-material-input>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button class="btn btn-primary text-white" (click)="confirm()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>
