:host {
  height: 100%;
}

.import-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  .import-wrapper-title {
    text-align: center;
    width: 100%;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #eee;
  }
}

.import-table {
  height: 100%;
  width: 100%;
  display: flex;
}

.import-file-progress-bar {
  width: 100%;
  position: relative;
  .file-name {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    font-size: .8rem;
    line-height: 1;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-progress-bar {
    height: 17px;
    border-radius: 10px;
  }
}

.import-header {
  background: #fafafa;
  height: 3rem;
  .import-row {
    height: 100%;
  }
  .import-col {
    border-right: 1px solid #f5f5f5;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
    &:last-child {
      border-right: none;
    }
    * {
      font-size: .8rem;
    }
  }
}

.import-body {
  height: calc(100% - 5rem);
  overflow-y: auto;
  background: #f5f5f5;
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}

.import-row-wrapper {
  margin-bottom: .75rem;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
}

.import-row {
  display: flex;
}

.import-col {
  &:first-child {
    border-left: 4px solid transparent;
  }
}

mat-checkbox {
  position: relative;
  top: -2px;
}

mat-checkbox::ng-deep {
  .mat-checkbox-inner-container {
    width: 1.15rem;
    height: 1.15rem;
  }
  .mat-checkbox-label {
    font-size: .9rem;
  }
}

mat-chip-list {
  width: 100%;
  margin-bottom: 1rem;
}

mat-chip-list::ng-deep {
  .mat-standard-chip {
    margin: 0 0.5rem !important;
    padding: 1.2rem 1.5rem !important;
    cursor: pointer;
  }
}

.control-panel {
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}

.mat-progress-bar {
  border-radius: 10px;
  height: 7px;
}

.cancel-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .5rem 1.5rem;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  color: #999;
}

.import-file-box {
  border-radius: 10px;
  border: 1px solid var(--gray-color);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .05);
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 45rem;
  .import-file-box-header {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    padding: 1.25rem 2rem;
    border-bottom: 1px solid var(--gray-color);
    color: #666;
    .mat-icon {
      font-size: 2rem !important;
      height: 2rem !important;
      width: 2rem !important;
      margin-right: .5rem;
    }
  }
  .import-file-box-body {
    padding: 1.25rem 2rem;
    width: 100%;
    .body-description {
      font-size: 1.1rem;
      min-height: 4rem;
      color: #777;
      font-weight: 600;
    }
    .import-file-example-image {
      width: 100%;
      margin: 1.25rem 0;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    .import-file-example-file {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-top: .5rem;
      .mat-icon {
        font-size: 1.5rem !important;
        height: 1.5rem !important;
        width: 1.5rem !important;
        margin-right: .5rem;
      }
    }
  }
  .import-file-box-footer {
    width: 100%;
    padding: 2rem;
    border-top: 1px solid var(--gray-color);
    .mat-icon {
      font-size: 2rem !important;
      height: 2rem !important;
      width: 2rem !important;
      margin-right: .5rem;
    }
    .import-file-upload-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
    }
  }
}


