<div class="d-flex h-100 p-3" style="flex-wrap: wrap; overflow-y: auto">
  <div class="import-wrapper" *ngIf="!(importFfmForms$ | async)?.length && !(filter$ | async)">
    <div class="import-wrapper-title text-bigger">
      Vui lòng chọn mẫu file phù hợp để bắt đầu lên đơn
    </div>
    <input (change)="onSelectFile($event)" type="file" hidden accept=".xlsx, .csv, .xls" #inputImport>

    <div class="d-flex" style="padding: 0 18rem;">
      <div class="import-file-box" style="margin-right: 2rem;">
        <div class="import-file-box-header">
          <mat-icon fontSet="material-icons-outlined">offline_bolt</mat-icon>
          Mẫu rút gọn
        </div>
        <div class="import-file-box-body">
          <div class="body-description">
            Địa chỉ được viết liền trong 1 cột, hệ thống sẽ tự động phân tách Tỉnh thành - Quận huyện - Phường xã.
          </div>
          <div class="import-file-example-image">
            <img src="assets/images/import_simple.png" alt="">
          </div>
          <div
            class="text-{{color}} import-file-example-file"
            (click)="getSampleFile(true)">
            <mat-icon>save_alt</mat-icon>
            Tải file mẫu (.xlsx)
          </div>
        </div>
        <div class="import-file-box-footer">
          <div
            class="import-file-progress-bar"
            *ngIf="importedType == 'simplified' && importedFile?.name && progressPercent">
            <mat-progress-bar
              color="{{color == 'topship' ? 'accent' : color}}" mode="determinate" [value]="progressPercent">
            </mat-progress-bar>
            <span class="file-name">{{importedFile?.name}}</span>
          </div>
          <div
            class="import-file-upload-btn text-{{color}}"
            *ngIf="!progressPercent || importedType != 'simplified'"
            (click)="uploadFile('simplified')">
            <mat-icon fontSet="material-icons-outlined">cloud_upload</mat-icon>
            Chọn file rút gọn
          </div>
        </div>
      </div>

      <div class="import-file-box" style="margin-left: 2rem;">
        <div class="import-file-box-header">
          <mat-icon fontSet="material-icons-outlined">article</mat-icon>
          Mẫu thông thường
        </div>
        <div class="import-file-box-body">
          <div class="body-description">
            Địa chỉ đã được tách biệt sẵn Tỉnh thành - Quận huyện - Phường xã.
          </div>
          <div class="import-file-example-image">
            <img src="assets/images/import_standard.png" alt="">
          </div>
          <div
            class="text-{{color}} import-file-example-file"
            (click)="getSampleFile(false)">
            <mat-icon>save_alt</mat-icon>
            Tải file mẫu (.xlsx)
          </div>
        </div>
        <div class="import-file-box-footer">
          <div
            class="import-file-progress-bar"
            *ngIf="importedType == 'normal' && importedFile?.name && progressPercent">
            <mat-progress-bar
              color="{{color == 'topship' ? 'accent' : color}}" mode="determinate" [value]="progressPercent">
            </mat-progress-bar>
            <span class="file-name">{{importedFile?.name}}</span>
          </div>
          <div
            class="import-file-upload-btn text-{{color}}"
            *ngIf="!progressPercent || importedType != 'normal'"
            (click)="uploadFile('normal')">
            <mat-icon fontSet="material-icons-outlined">cloud_upload</mat-icon>
            Chọn file thông thường
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--NOTE: Import Finished -->
  <mat-chip-list *ngIf="importFinished">
    <mat-chip
      *ngFor="let label of labels" disableRipple
      color="{{color == 'topship' ? 'accent' : color}}"
      (click)="filterByLabel(label.code)" [selected]="(filter$ | async) == label.code">
      {{label?.name}}
    </mat-chip>
  </mat-chip-list>
  <div class="blank-page" [class.d-none]="(importFfmForms$ | async)?.length || !(filter$ | async)">
    <img class="blank-img" src="assets/images/icon_ffm.png" alt="empty list"/>
    <div class="info">
      <div class="text-bigger text-bold text-center m-2">
        Không có đơn giao hàng nào.
      </div>
    </div>
  </div>
  <div class="import-table" [class.d-none]="!(importFfmForms$ | async)?.length">
    <div class="h-100 border-light" style="width: 80%;">
      <div class="import-header e-border-bottom">
        <div class="import-row">
          <div class="import-col" style="width: 8%;">
            <div class="d-flex align-items-center">
              <mat-checkbox
                color="{{color == 'topship' ? 'accent' : color}}" [formControl]="checkAll"
                class="mr-2" [class.d-none]="(filter$ | async) == 'success_import'">
              </mat-checkbox>
              <span>MÃ NỘI BỘ</span>
            </div>
          </div>
          <div class="import-col" style="width: 12%;">
            <div class="d-flex align-items-center">KHÁCH HÀNG</div>
          </div>
          <div class="import-col" style="width: 25%;">
            <div class="d-flex align-items-center">ĐỊA CHỈ GIAO</div>
          </div>
          <div class="import-col" style="width: 20%;">
            <div class="d-flex align-items-center">SẢN PHẨM</div>
          </div>
          <div class="import-col" style="width: 8%;">
            <div class="d-flex align-items-center">THU HỘ</div>
          </div>
          <div class="import-col" style="width: 14%;">
            <div class="d-flex align-items-center">DỊCH VỤ</div>
          </div>
          <div class="import-col" style="width: 13%;">
            <div class="d-flex align-items-center">GHI CHÚ</div>
          </div>
        </div>
      </div>
      <div class="import-body">
        <div
          *ngFor="let ffm of importFfmForms$ | async; let i = index; trackBy: trackFfmImports;"
          etop-import-ffm-row [ffm]="ffm" [index]="i" [disabled]="importStep == 0" color="{{color}}"
          [class.d-none]="!rowDisplayed(ffm)" class="import-row-wrapper">
        </div>
      </div>
    </div>
    <div class="h-100 border-light control-panel" style="width: 20%; overflow-y: auto;">
      <div
        *ngIf="importStep == 0"
        class="d-flex flex-column align-items-center p-5">
        <img src="assets/images/spreadsheet-cell-row.png" style="width: 6rem;">
        <div class="big-font my-4">Đang xử lý file Import</div>
        <mat-progress-bar
          color="{{color == 'topship' ? 'accent' : color}}" mode="determinate"
          [value]="(importFfmForms$ | async)?.length / (importFulfillmentsList$ | async)?.length * 100">
        </mat-progress-bar>
        <div class="text-bold mt-3">
          {{(importFfmForms$ | async)?.length}} / {{(importFulfillmentsList$ | async)?.length}} dòng
        </div>
      </div>
      <div
        *ngIf="importStep == 1"
        class="d-flex flex-column align-items-center text-center p-5">
        <div class="big-font mb-4">Vui lòng chọn nhà vận chuyển để bắt đầu</div>
        <etop-material-input
          class="w-100" textLabel="Nhà vận chuyển" placeholder="Chọn nhà vận chuyển" type="select"
          [topshipInput]="color == 'topship'" [optionSelect]="connectionsList$ | async" matOptionHeight="4rem"
          [displayMap]="displayMap" [valueMap]="valueMap"
          [(ngModel)]="connectionId">
        </etop-material-input>
        <button class="btn btn-{{color}} w-100 mt-4" (click)="selectConnection()">Tiếp tục</button>
      </div>
      <div
        *ngIf="importStep == 2"
        class="d-flex flex-column align-items-center p-5">
        <img src="assets/images/spreadsheet-cell-row.png" style="width: 6rem;">
        <div class="big-font my-4">Đang lấy dịch vụ</div>
        <mat-progress-bar
          color="{{color == 'topship' ? 'accent' : color}}" mode="determinate"
          [value]="(finishFormsGettingServices$ | async)?.length / (importFulfillmentsList$ | async)?.length * 100">
        </mat-progress-bar>
        <div class="text-bold my-3">
          {{(finishFormsGettingServices$ | async)?.length}} / {{(importFulfillmentsList$ | async)?.length}} dòng
        </div>
        <div class="cancel-btn" (click)="cancelGettingServices()">
          <mat-icon>dropdownClosed</mat-icon>
          Huỷ
        </div>
      </div>
      <etop-create-multi-ffms-control-panel
        *ngIf="importStep == 3" color="{{color}}"
        [connectionsList]="connectionsList$ | async"
        [loading]="loading" [calculatingFee]="calculatingFee"
        [totalFfms]="(totalFfms$ | async)?.length"
        [totalCodAmount]="totalCodAmounts$ | async"
        [totalFee]="totalFees$ | async" (confirm)="confirm()">
      </etop-create-multi-ffms-control-panel>
    </div>
  </div>
</div>
