<ion-header>
  <ion-toolbar>
    <ion-title>Tạo mẫu mã</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="box-detail" [formGroup]="variantForm">
    <ion-grid class="ion-padding-horizontal">
      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Mã mẫu mã</ion-label>
            <ion-input formControlName="code"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Giá</ion-label>
            <ion-input formControlName="retail_price"></ion-input>
          </ion-item>
        </ion-col>
        <ng-container formArrayName="attributes">
        <ion-col size="12" *ngFor="let attribute of attributes.controls; let i = index" [formGroupName]="i">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">{{attribute.controls['name'].value}}</ion-label>
            <ion-input formControlName="value"></ion-input>
          </ion-item>
        </ion-col>
        </ng-container>
        
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="footer-button-wrapper" (click)="create()">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Tạo
      </button>
    </div>
  </ion-toolbar>
</ion-footer>