.line-info {
  padding: 1.5rem 0;

  .content {
    margin-top: 0.5rem;
    font: 500 1.1rem Arial !important;
  }

  ion-label {
    font-size: 0.8rem;
  }
}

.page-content {
  background: #f5f5f5;
  min-height: 100%;
}

.box-detail {
  background: white;
  margin-bottom: 1rem;
}

ion-item .item-native::ng-deep {
  padding-left: 0 !important;
}

.box-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  padding: 1rem;
  font-size: 0.9rem;
}

.product-img {
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  margin-right: 1rem;
}