<ion-header>
    <ion-toolbar>
        <ion-title>Chỉnh sửa tồn kho</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="page-content">
        <div class="box-detail">
            <div class="ion-flex ion-padding">
                <div class="variant-img">
                    <div class="ion-flex ion-align-items-center w-100">
                        <img class="product-img" [src]="variant?.image || 'assets/images/placeholder_2.png'" alt="">
                        <div class="product-info w-100">
                            <div class="ion-flex ion-justify-content-between ion-align-items-center">
                                <div class="product-name font-bold fix-line-1" style="flex: 1">{{variant?.product_name}}</div>
                                <div class="small-font">{{variant?.code}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-detail ion-padding">
            <div class="line-info">
                <ion-label>Tồn kho</ion-label>
                <div class="content">{{quantity}}</div>
            </div>
            <etop-ion-input-format-number textLabel="Số lượng thực tế" [(ngModel)]="actualQuantity">
            </etop-ion-input-format-number>
            <div class="line-info ">
                <ion-label>Chênh lệch</ion-label>
                <div class="content">{{differenceQuantity}}</div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
    <div class="box-warning">
        *Phiếu kiểm kho sẽ được tạo tự động khi bạn thực hiện thao tác cập nhật tồn kho cho sản phẩm này
    </div>
    <ion-toolbar color="light" class="no-padding" (click)="confirm()">
        <div class="footer-buttons-etop ion-flex">
            <button class="w-100 bg-primary text-white footer-button-item">
        Cập nhật
      </button>
        </div>
    </ion-toolbar>
</ion-footer>