<div class="main-info">
  <div class="row">
    <div class="slider-detail-input-item" [class.col-4]="isNew" [class.col-6]="!isNew">
      <etop-material-input textLabel="Mã đơn nhập hàng" type="custom">
        <span class="read-only text-primary font-weight-bold">{{purchase_order?.code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item" [class.col-4]="isNew" [class.col-6]="!isNew">
      <etop-material-input textLabel="Thời gian tạo" type="custom">
        <span class="read-only">{{purchase_order?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item" [class.col-4]="isNew" [class.col-6]="!isNew">
      <etop-material-input textLabel="Trạng thái" type="custom">
        <span class="read-only order-status order-{{purchase_order?.status}}">{{purchase_order?.status_display}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6" *ngIf="purchase_order?.status == 'P'">
      <etop-material-input textLabel="Thời gian xác nhận" type="custom">
        <span class="read-only">{{purchase_order?.confirmed_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6" *ngIf="purchase_order?.status == 'N'">
      <etop-material-input textLabel="Thời gian huỷ" type="custom">
        <span class="read-only">{{purchase_order?.cancelled_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-12" *ngIf="purchase_order?.status == 'N'">
      <etop-material-input textLabel="Lý do huỷ" type="custom">
        <span class="read-only">{{purchase_order?.cancel_reason || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-12">
      <etop-material-input textLabel="Nhà cung cấp" type="custom">
        <span class="font-weight-bold" (click)="viewDetailSupplier()"
          [ngClass]="{'text-primary cursor-pointer': purchase_order?.supplier_id}">
          {{purchase_order?.supplier?.full_name || '-'}}
          {{purchase_order?.supplier?.phone && ' - ' + purchase_order?.supplier?.phone || ''}}
          <i *ngIf="!purchase_order?.supplier?.deleted && purchase_order?.supplier_id" class="fas fa-external-link-alt external-link-icon"></i>
        </span>
        <span class="font-weight-normal text-default ml-1 small-font" *ngIf="purchase_order?.supplier?.deleted">(Đã xoá)</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Tiền hàng" type="custom">
        <span class="read-only font-weight-bold">{{purchase_order?.basket_value | vnd}}đ</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Giảm giá" type="custom">
        <span class="read-only font-weight-bold">{{purchase_order?.total_discount | vnd}}đ</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Phải thanh toán" type="custom">
        <span class="read-only font-weight-bold">{{purchase_order?.total_amount | vnd}}đ</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Số sản phẩm" type="custom">
        <span class="read-only font-weight-bold">{{purchase_order?.total_products}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Tổng số lượng" type="custom">
        <span class="read-only font-weight-bold">{{purchase_order?.total_items}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Phiếu nhập" type="custom">
        <span *ngIf="inInventoryVoucher?.code" class="text-primary font-weight-bold cursor-pointer"
          (click)="viewDetailVoucher('in', inInventoryVoucher?.code)">
          {{inInventoryVoucher?.code}}
          <i class="fas fa-external-link-alt external-link-icon"></i>
        </span>
        <span *ngIf="!inInventoryVoucher?.code">-</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Phiếu xuất" type="custom">
        <span *ngIf="outInventoryVoucher?.code" class="text-primary font-weight-bold cursor-pointer"
          (click)="viewDetailVoucher('out', outInventoryVoucher?.code)">
          {{outInventoryVoucher?.code}}
          <i class="fas fa-external-link-alt external-link-icon"></i>
        </span>
        <span *ngIf="!outInventoryVoucher?.code">-</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-8">
      <etop-material-input textLabel="Ghi chú" type="custom">
        <span class="read-only">{{purchase_order?.note || '-'}}</span>
      </etop-material-input>
    </div>
  </div>
</div>
<div class="variant-list">
  <h6 class="font-weight-bold font-11 mb-4">DANH SÁCH SẢN PHẨM</h6>
  <div class="row">
    <shop-purchase-order-variants [lines]="purchase_order?.lines"></shop-purchase-order-variants>
  </div>
</div>
<div class="payment-info">
  <h6 class="font-weight-bold font-11 mb-4">THANH TOÁN</h6>
  <shop-purchase-order-payment-info [purchase_order]="purchase_order"></shop-purchase-order-payment-info>
</div>
<div class="action" *ngIf="isNew">
  <button *ePermissions="['shop/purchase_order:update']" class="btn btn-primary btn-outline" (click)="updatePurchaseOrder()">
    Chỉnh sửa
  </button>
  <button *ePermissions="['shop/purchase_order:confirm']" class="btn btn-primary ml-2" (click)="confirm()">
    Xác nhận
  </button>
</div>
