<div class="box-content ">
    <div class="table-responsive" *ngIf="transactions?.length; else empty">
        <table class="w-100">
            <thead>
                <th>Mã giao dịch</th>
                <th>Ngày tạo</th>
                <th>Nội dung</th>
                <th>Trạng thái</th>
                <th>Ghi nợ</th>
                <th>Ghi có</th>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <td>
                        <div class="font-weight-bold">{{ transaction?.id }}</div>
                    </td>
                    <td>
                        <div>{{ transaction?.created_at | date:'dd/MM/yyyy'}}</div>
                    </td>
                    <td>
                        <div>{{ transaction?.name || '-' }}</div>
                    </td>
                    <td>
                        <i class="status status-{{transaction?.status}}"
                            [ngbTooltip]="transaction?.status_display" class="fas fa-dot-circle text-success cursor-pointer">
                        </i>
                    </td>
                    <td>
                        <div *ngIf="!transaction?.amount || transaction?.amount > 0" class="text-bold text-right">-</div>
                        <div *ngIf="transaction?.amount && transaction?.amount < 0" class="text-bold text-right">{{transaction?.amount * -1 | vnd}}đ</div>
                    </td>
                    <td>
                        <div *ngIf="!transaction?.amount || transaction?.amount < 0" class="text-bold text-right">-</div>
                        <div *ngIf="transaction?.amount && transaction?.amount > 0" class="text-bold text-right text-primary">{{transaction?.amount | vnd}}đ</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #empty>
        <div class="empty m-3">
            Chưa có giao dịch
        </div>
    </ng-template>
</div>