<div class="line d-flex align-items-center">
  <span class="material-icons" [ngStyle]="{'color':tag.color}">fiber_manual_record</span>
  <div class="max-line">{{tag.name}}</div>
  <div class="ml-auto">
    <shared-dropdown-actions
      [dropdownActions]="dropdownActions" [rightSide]="true">
    </shared-dropdown-actions>
  </div>
</div>
