<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>Khách hàng</ion-title>
      <ion-buttons slot="start" (click)="filter()">
        <div class="group-filter">
          <ion-icon name="search-outline" class="filter"></ion-icon>
          <div class="count-filter" *ngIf="filters?.length">
            <span class="count">{{filters?.length}}</span>
          </div>
        </div>
      </ion-buttons>
      <ion-buttons slot="end" (click)="createCustomer()">
        <ion-icon name="add" mode="md" class="add-product text-primary"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    <etop-network-status></etop-network-status>
  </ion-header>
  <ion-content *ngIf="!viewDisconnect">
    <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
    <div class="customer-list" *ngIf="(customer$ | async)?.length > 0; else noCustomer">
      <div class="customer-item ion-flex ion-align-items-center" *ngFor="let customer of (customer$ | async);trackBy: trackCustomer">
        <img [imageLoader]="customer?.fb_users[0]?.external_info?.image_url" src="assets/imgs/user_logo.jpg" alt="avatar"
          class="customer-avatar">
        <div class="info w-100" (click)="customerDetail(customer)">
          <div class="font-bold normal-font">{{customer?.full_name}}</div>
          <div class="small-font" *ngIf="customer?.code">{{customer?.code}}</div>
        </div>
        <div class="contact normal-font font-bold ion-align-items-center ion-flex" *ngIf="customer?.phone">
          <a href="tel:{{customer?.phone}}" class="text-dark-tint ion-flex ion-align-items-center">
            <ion-icon name="call" class="call-icon"></ion-icon>
            {{customer?.phone}}
          </a>
        </div>
      </div>
    </div>
    <ng-template #noCustomer>
      <div class="empty-state ion-text-center h-100 ion-flex ion-align-items-center" *ngIf="(customer$ | async)?.length == 0">
        <div class="ion-text-center w-100" *ngIf="loading">
          <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
          <div class="ion-padding-top">Đang tải dữ liệu ...</div>
        </div>
        <ng-container *ngIf="(customer$ | async)?.length == 0 && !loading">
          <div class="w-100 ion-text-center" style="opacity: 0.6">
            <img src="assets/imgs/tab-icon/icon_customer.png" alt="customer-icon" width="100">
            <div *ngIf="!filters?.length">
              Bạn chưa có khách hàng nào!
            </div>
            <div *ngIf="filters?.length">
              Không tím thấy khách hàng phù hợp!
            </div>
          </div>
        </ng-container>

      </div>
    </ng-template>
    <ion-infinite-scroll position="bottom"  threshold="100px" (ionInfinite)="loadMore($event)"
                         *ngIf="(customer$ | async)?.length">
      <ion-infinite-scroll-content loadingSpinner="circles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  <ion-content *ngIf="viewDisconnect">
    <etop-network-disconnect></etop-network-disconnect>
  </ion-content>
</div>
