.statistic-table {
  width: 100%;
  font-size: 10px;
  
  .title {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
  }

  th, .highlight {
    border: 1px solid rgb(39, 183, 215);
    background-color: rgb(39, 183, 215);
    color: white;
    font-weight: bold;
  }

  td {
    border: 1px solid rgb(39, 183, 215);
    padding: 0.25rem .75rem;
  }

  table {
    border-bottom: 1px solid rgb(39, 183, 215);

    .row-rate {
      color: var(--gray-color);
    }

    .summary {
      background: rgb(12, 139, 188);
      color: white;

    }

    .sub-label {
      font-weight: normal;
      font-size: 10px;
      text-transform: lowercase;
    }

    tr > td:first-child {
      font-weight: bold;
    }
    tr > td:not(:first-child) {
      //font-size: 10px;
    }
  }

  tr.row-divider {
    border: 1px solid var(--primary-color);
    border-left: none;
    border-right: none;
    height: 20px;

    td {
      border: none;
    }
  }

  tr.sub-row {
    & > td:first-child {
      font-weight: normal !important;
      padding-left: 20px;
    }
  }

  tr.summary-row {
    background-color: var(--blue-color);
    color: white;
    font-weight: bold;
  }
}
