.form-order {
  height: 100%;
  width: 500px;
  position: absolute;
  z-index: 1;
  right: 0;
  background-color: var(--white-color);
  border: 1px solid var(--border-gray-color);
  box-shadow: 2px 11px 15px 0 rgba(0, 0, 0, 0.11);
  border-radius: 10px 0;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product-detail {
  width: calc(100% - 500px);
}