.main-info {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--border-gray-color);
  margin-left: -1rem;
  margin-right: -1rem;
}

.add-method {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
