<div class="modal-header">
  <h5 class="modal-title">Phương thức thanh toán</h5>
  <button type="button" class="close" (click)="dismissModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="main-info">
    <div class="col-12 py-2 d-flex justify-content-between align-items-center">
      <span>{{totalAmountText}}</span>
      <span>{{total_amount | vnd}}đ</span>
    </div>
    <div class="col-12 py-2 d-flex justify-content-between align-items-center">
      <span>{{totalPaymentText}}</span>
      <span class="text-primary">{{totalPayment | vnd}}đ</span>
    </div>
    <div class="col-12 py-2 d-flex justify-content-between align-items-center">
      <span class="text-danger">Chênh lệch</span>
      <span class="text-danger">{{totalPayment - total_amount | vnd}}đ</span>
    </div>
  </div>
  <div class="ledger-listing">
    <ng-container *ngFor="let receipt of receipts; let i = index;">
      <shop-receipt-lines
        class="d-block mb-2"
        [receipt]="receipt" [removable]="receipts.length > 1"
        (amountChanged)="updateReceiptLines($event, i)" (ledgerSelected)="updateReceiptLines($event, i)"
        (addLedgerOpened)="onAddLedgerToggled($event)" (lineRemoved)="removeReceipt(i)">
      </shop-receipt-lines>
    </ng-container>
    <span *ePermissions="['shop/ledger:create']" class="text-primary add-method" (click)="addMethod()">
      Thêm phương thức thanh toán
    </span>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="dismissModal()">Đóng</button>
  <button class="btn btn-primary text-white" [disabled]="loading" (click)="confirm()">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>
