<div class="main-info">
  <div class="row">
    <div class="slider-detail-input-item" [class.col-4]="isNew" [class.col-6]="!isNew">
      <etop-material-input textLabel="Mã phiếu" type="custom">
        <span class="read-only text-primary font-weight-bold">{{balance?.code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item" [class.col-4]="isNew" [class.col-6]="!isNew">
      <etop-material-input textLabel="Thời gian tạo" type="custom">
        <span class="read-only">{{balance?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item" [class.col-4]="isNew" [class.col-6]="!isNew">
      <etop-material-input textLabel="Trạng thái" type="custom">
        <span class="read-only order-status order-{{balance?.status}}">
          {{balance?.status_display}}
        </span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6" *ngIf="balance?.status == 'P'">
      <etop-material-input textLabel="Thời gian xác nhận" type="custom">
        <span class="read-only">{{balance?.confirmed_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6" *ngIf="balance?.status == 'N'">
      <etop-material-input textLabel="Thời gian huỷ" type="custom">
        <span class="read-only">{{balance?.cancelled_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-12" *ngIf="balance?.status == 'N'">
      <etop-material-input textLabel="Lý do huỷ" type="custom">
        <span class="read-only">{{balance?.cancel_reason || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Số sản phẩm" type="custom">
        <span class="read-only font-weight-bold">{{balance?.total_products}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Số SP lệch" type="custom">
        <span class="read-only font-weight-bold">{{balance?.total_diffs}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="SL thực tế" type="custom">
        <span class="read-only font-weight-bold">{{balance?.total_quantity}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6">
      <etop-material-input textLabel="Lệch tăng" type="custom">
        <span class="read-only font-weight-bold">{{balance?.increase_diff}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6">
      <etop-material-input textLabel="Lệch giảm" type="custom">
        <span class="read-only font-weight-bold">
          {{balance?.decrease_diff}}
        </span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6">
      <etop-material-input textLabel="Phiếu nhập" type="custom">
        <span class="font-weight-bold text-primary cursor-pointer" *ngIf="voucher_in" (click)="viewDetailVoucher(voucher_in)">
          {{voucher_in?.code}}
          <i class="fas fa-external-link-alt external-link-icon"></i>
        </span>
        <span *ngIf="!voucher_in">-</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6">
      <etop-material-input textLabel="Phiếu xuất" type="custom">
        <span class="font-weight-bold text-primary cursor-pointer" *ngIf="voucher_out" (click)="viewDetailVoucher(voucher_out)">
          {{voucher_out?.code}}
          <i class="fas fa-external-link-alt external-link-icon"></i>
        </span>
        <span *ngIf="!voucher_out">-</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-12">
      <etop-material-input textLabel="Ghi chú" type="custom">
        <span class="read-only">{{balance?.note || '-'}}</span>
      </etop-material-input>
    </div>
  </div>
</div>
<div class="variant-list">
  <h6 class="font-weight-bold font-11 mb-4">DANH SÁCH SẢN PHẨM</h6>
  <div class="row">
    <shop-balance-variants [lines]="balance?.lines"></shop-balance-variants>
  </div>
</div>
<div class="action" *ngIf="isNew">
  <button *ngIf="updateStocktakePermission" class="btn btn-primary btn-outline" (click)="updateStocktake()">Chỉnh sửa</button>
  <button *ePermissions="['shop/stocktake:confirm']" class="btn btn-primary ml-2" (click)="confirm()">
    Xác nhận
  </button>
</div>
