<div class="row">
  <div class="col-3 slider-detail-input-item" [class.col-3]="!isPaymentDone" [class.col-4]="isPaymentDone">
    <etop-material-input textLabel="Trạng thái" type="custom">
      <span class="read-only read-only-badge badge order-status order-{{isPaymentDone && 'P' || 'Z'}}">
        {{isPaymentDone && "Đã hoàn thành" || "Chưa hoàn thành"}}
      </span>
    </etop-material-input>
  </div>
  <div class="col-3 slider-detail-input-item" [class.col-3]="!isPaymentDone" [class.col-4]="isPaymentDone">
    <etop-material-input textLabel="Phải chi" type="custom">
      <span class="read-only font-weight-bold text-primary">
        {{ purchase_order?.total_amount | vnd }}đ
      </span>
    </etop-material-input>
  </div>
  <div class="col-3 slider-detail-input-item" [class.col-3]="!isPaymentDone" [class.col-4]="isPaymentDone">
    <etop-material-input textLabel="Đã chi" type="custom">
      <span class="read-only font-weight-bold text-primary">
        {{ purchase_order?.paid_amount | vnd }}đ
      </span>
    </etop-material-input>
  </div>
  <div class="col-3 slider-detail-input-item" *ngIf="!isPaymentDone">
    <etop-material-input textLabel="Còn phải chi" type="custom">
      <span class="read-only font-weight-bold text-primary">
        {{ (purchase_order?.total_amount - purchase_order?.paid_amount) | vnd }}đ
      </span>
    </etop-material-input>
  </div>
</div>
<ng-container *eRoles="['owner', 'staff_management', 'inventory_management', 'analyst', 'accountant']">
  <div *ePermissions="['shop/receipt:create']" class="create-receipt text-right pt-1">
    <button *ngIf="!cannotCreateReceipt" class="btn btn-primary" (click)="openCreateReceiptModal()">
      Tạo phiếu chi
    </button>
    <button *ngIf="cannotCreateReceipt" class="btn btn-primary cannot-create" [ngbTooltip]="disabledTooltip" placement="left">
      Tạo phiếu chi
    </button>
  </div>
</ng-container>
<div *ePermissions="['shop/receipt:view']" class="purchase-order-receipts" style="margin: 0 -15px;">
  <shop-purchase-order-receipts
    #purchaseOrderReceipts
    [purchase_order_id]="purchase_order.id" [purchase_order_code]="purchase_order.code">
  </shop-purchase-order-receipts>
</div>
