<div class="dialog-header">
  <div class="dialog-title">Gia hạn máy nhánh</div>
  <div class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div  [formGroup]="extensionWithSubForm">
  <div class="dialog-body">
      <h5>Thông tin</h5>
      <div class="mt-3 mb-3">
          <etop-material-input type="select" 
              [optionSelect]="hotlines"
              textLabel="Hotline"
              appearance="outline" 
              placeholder="Chọn hotline" 
              [displayMap]="displayMapHotline"
              formControlName='hotline_id'
              [valueMap]="valueMap"
              [disabled]="true">
          </etop-material-input>
      </div>
      <div>Số máy nhánh</div>
      <etop-material-input type="input" keyboardType="number" 
      formControlName='extension_number' textLabel="Số máy nhánh (extension number)" [disabled]="true"></etop-material-input>
  </div>

  <div style="border-bottom: 8px solid rgba(0, 0, 0, 0.04);"></div>

  <div class="dialog-body">
      <h5 class="mb-3">Thanh toán</h5>
      <div class="mt-2 mb-3">
          <etop-material-input type="select" 
              [optionSelect]="subscriptionPlans"
              textLabel="Thời gian sử dụng"
              appearance="outline" 
              placeholder="Thời gian sử dụng" 
              [displayMap]="displayMapPlan"
              formControlName='subscription_plan_id'
              class="font-weight-bold"
              [valueMap]="valueMap">
          </etop-material-input>
      </div>
      <div>Phương thức thanh toán</div>
      <mat-radio-group class="radio-group" color="primary">
          <mat-radio-button class="radio-button" value="balance" checked>Số dư (<strong>{{telecom_balance | number}}đ</strong>)</mat-radio-button>
          <mat-radio-button class="radio-button" value="other" disabled>Thanh toán Online (Đang phát triển)</mat-radio-button>
      </mat-radio-group>
  </div>
</div>
<div class="balance-warning" *ngIf="warningEnoughBalance">
    {{warningEnoughBalance}}
</div>
<div class="dialog-footer">
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-2" (click)="closeDialog()">
      Bỏ qua
    </button>
    <button class="btn {{warningEnoughBalance? 'btn-default' : 'btn-primary'}}" [disabled]="warningEnoughBalance" (click)="confirmCreateExtension()">
      Thanh toán và gia hạn
    </button>
  </div>
</div>
