<ion-item class="input-wrapper {{cssItemClass}}">
  <ion-label [ngClass]="{'ion-hide': !hasLabel}" position="{{position}}" class="label">{{label}}</ion-label>
  <ion-input clearInput class="{{cssInputClass}}" [placeholder]="placeholder" autofocus="false" [(ngModel)]="_value" readonly></ion-input>
  <ion-icon name="caret-down-outline"></ion-icon>
  <div class="item-click" (click)="modalSuggest($event)"></div>
</ion-item>

