.delivery-info-header {
  font-weight: 700;
  font-size: 1.1rem;
}

.delivery-address {
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .weight-and-money-calculation {
    display: flex;
    justify-content: space-between;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.25rem;
  border-radius: 0;
  background: none;
  border: none;
}

.empty-title {
  margin-bottom: .8rem;
  font-size: 1.25rem;
}

.empty-subtitle {
  margin-bottom: 1.6rem;
  color: #777;
}

.empty-button {
  padding-left: 3rem;
  padding-right: 3rem;
}

faboshop-shipment-service-options {
  margin-left: -1rem;
  margin-right: -1rem;
  width: unset;
}

.shipping-left-line{
  flex:1;
  padding-right: 0.5rem;
}

.shipping-line{
  width: 50%;
}

.shipping-item{
  padding: 0.5rem 0;
}

