.hidden {
  display: none !important;
}
.prev {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  background: #999;
  height: 40px;
  img {
    width: var(--sidebar-menu-item-height);
    height: var(--sidebar-menu-item-height);
  }
}
