<div class="wrapper-login no-print">
    <div class="login-box">
      <div class="login-logo">
        <img src="/assets/images/logo_medium.png" alt="etop">
      </div>
      <div class="login-box-body p-0 shadow">
        <div class="p-3 text-center">
          <span class="text-big">Lời mời tham gia quản trị cửa hàng</span>
        </div>
        <div *ngIf="loading" class="w-100 p-4 d-flex align-items-center justify-content-center">
          <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.2rem;"></i>
        </div>
        <ng-container *ngIf="!loading">
          <div class="p-3 border-top">
            <div class="verify-wrapper">
              <div class="shop-img my-3" [style.background-image]="'url(' + (invitation?.shop?.image_url || 'assets/images/placeholder_medium.png') + ')'"></div>
              <div *ngIf="compareAccount()">
                <p>Xin chào, bạn được <strong>{{invitation?.invited_by_user}}</strong> mời tham gia quản trị cửa hàng <strong>{{invitation?.shop?.name}}</strong> trong vai trò:</p>
                <div *ngFor="let role of invitation?.roles">
                  <i class="fa fa-circle mr-2 text-default" aria-hidden="true" style="font-size: 9px"></i>
                  {{displayRole(role)}}
                </div>
              </div>
              <div *ngIf="!invitation?.id && compareAccount()" class="font-weight-bold font-italic" style="font-size: 1.15rem; margin-top: 10px;">
                * Lời mời này đã hết hạn.
              </div>
              <div *ngIf="compareAccount() && invitation?.declined_at" class="font-weight-bold font-italic" style="font-size: 1.15rem; margin-top: 10px;">
                * Bạn đã từ chối lời mời này.
              </div>
              <div *ngIf="compareAccount() && invitation?.accepted_at" class="font-weight-bold font-italic" style="font-size: 1.15rem; margin-top: 10px;">
                * Bạn đã chấp nhận lời mời này.
              </div>
              <div *ngIf="!compareAccount()" class="font-italic" style="margin-top: 10px;">
                * Bạn đang đăng nhập với tài khoản có số điện thoại: <strong>{{user?.phone}}</strong>.
                số điện thoại được mời là được mời là: <strong>{{phone}}</strong>. Vui lòng đăng nhập đúng tài khoản để tiếp tục!
              </div>
            </div>
          </div>
          <div class="p-3 border-top d-flex justify-content-end" *ngIf="compareAccount()">
            <div *ngIf="!invitation?.declined_at && !invitation?.accepted_at && !!invitation?.id">
              <button class="btn btn-danger btn-outline" (click)="rejectInvitation(invitation)" [disabled]="refusing">
                <i class="fa fa-spin fa-circle-o-notch text-danger mr-2" *ngIf="refusing"></i>
                <span class="text-danger">Từ chối</span>
              </button>
              <button class="btn btn-primary ml-3" (click)="accept(invitation)" [disabled]="accepting">
                <i class="fa fa-spin fa-circle-o-notch text-white mr-2" *ngIf="accepting"></i>
                <span class="text-white">Chấp nhận</span>
              </button>
            </div>
            <ng-container *ngIf="invitation?.accepted_at || invitation?.declined_at || !invitation?.id">
                <button class="btn btn-primary" (click)="back()">
                  <span class="text-white" >Quay về cửa hàng</span>
                </button>
            </ng-container>
          </div>
          <ng-container *ngIf="!compareAccount()">
            <div class="p-3 border-top d-flex justify-content-end">
              <button class="btn btn-primary ml-3" (click)="loginAnotherAccount()">
                <span class="text-white" >Đăng nhập tài khoản khác</span>
              </button>
            </div>
          </ng-container>

        </ng-container>
      </div>
    </div>
  </div>
