.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
}

.empty-title {
  margin-bottom: 10px;
  font-size: 15px;
}

.empty-subtitle {
  margin-bottom: 20px;
  color: #777;
}

.empty-button {
  background: var(--ion-color-primary);
  padding: 10px 45px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
}
