<div class="empty">
  <ion-text class="empty-title">
    {{empty?.title}}
  </ion-text>
  <ion-text class="empty-subtitle">
    {{empty?.subtitle}}
  </ion-text>
  <button class="empty-button" (click)="handleClick()">
    {{empty?.action || 'Kết nối'}}
  </button>
</div>
