<div class="notification-icon" (click)="toogleDropdown()">
  <div class="noti-count" *ngIf="count">{{count}}</div>
  <img class="transition" src="/assets/images/icons/alarm-bell.png" alt="alarm-icon">
</div>
<div [class.show]="show_dropdown" class="dropdown-menu m-0 p-0">
  <div class="account-list" *ngIf="accounts.length > 1">
    <select ngbTooltip="Chọn cửa hàng để xem thông báo" placement="bottom"
      [(ngModel)]="account_id" (ngModelChange)="onSwitchAccount()">
      <option *ngFor="let acc of accounts"
        [value]="acc.id" [selected]="acc.id == account_id">{{acc.display_name || acc.name}}</option>
    </select>
  </div>
  <div class="noti-list" (scroll)="onScroll($event)">
    <div *ngIf="!notifications.length" class="noti-item">Bạn chưa có thông báo nào</div>
    <div *ngFor="let noti of notifications; let i = index;" class="noti-item" [ngClass]="{'is-read': noti.is_read}"
         (click)="onNavigate(noti, i)">
      <div class="noti-title">{{noti.title}}</div>
      <div class="noti-date">
        <i class="fa fa-circle mr-1"></i>
        {{noti.created_at | date: 'HH:mm dd/MM/yy'}}
      </div>
      <div class="noti-message text-default">{{noti.message}}</div>
    </div>
  </div>
  <div class="loading" *ngIf="loading">
    <i class="fa fa-spin fa-circle-o-notch"></i>
  </div>
  <div class="view-all" (click)="onViewAllNotis()">Xem tất cả</div>
</div>
