:host {
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  position: relative;
}

.notification-icon {
  position: relative;
  > img {
    width: 20px;
  }

  &:hover {
    > img {
      width: 22px;
    }
  }
}

.noti-count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -3px;
  right: -3px;
  background: red;
  border-radius: 100%;
  font-size: 8px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 1px;
}

.dropdown-menu {
  left: unset;
  right: 0;
  min-width: 350px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px 5px;
}

.noti-list {
  max-height: 350px;
  overflow-y: auto;
}

.noti-item {
  padding: 10px;
  border: 1px solid var(--border-gray-color);
  border-top: none;
  cursor: pointer;
  background: #fff;
  &:last-child {
    border-bottom: none;
  }
  .noti-date {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    .fa {
      color: var(--primary-color);
    }
  }

  .noti-title {
    font-weight: 600;
    color: #555;
  }

  &.is-read {
    background: rgba(0, 0, 0, .01);
    .noti-date {
      color: var(--default-color);
      .fa {
        color: var(--default-color);
      }
    }
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  .fa {
    color: var(--primary-color);
  }
}

.account-list {
  border: 1px solid var(--border-gray-color);
  padding: 10px;
  border-radius: 10px 10px 0 0;
  select {
    border: none;
    background-position-y: -4px;
    cursor: pointer;
  }
}

.view-all {
  padding: 10px;
  border: 1px solid var(--border-gray-color);
  border-radius: 0 0 10px 10px;
  text-align: center;
  color: var(--primary-color);
}
