:host {
  padding: 0 20px;
  display: block;
}

.add-order-line {
  font-size: 1.1rem;
  color: #888;
}

.line-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1.5rem;
}

.quantity-input {
  width: 20px;
  border-bottom: 2px solid #eee;
  text-align: center;
  font-weight: bold;
  opacity: 0.9;

  ion-input {
    font-size: 1.2rem !important;
  }
}

.remove-icon {
  margin-left: .8rem;
  font-size: 1.3rem;
}