<div class="col align-self-center" style="max-width: 50px;">
  <input class="input-custom" type="checkbox" (click)="check(item, $event)"
    [checked]="item.product.p_data.selected || false">
</div>

<div class="col product-info d-flex align-items-center" style="min-width: 300px">
  <span class="product-img">
    <img src="{{ item.product.image_urls[0] || 'assets/images/placeholder.png'}}" alt="product-image">
  </span>
  <span class="ml-4 align-self-center">
    <div class="product-name">
      <span class="font-weight-bold">{{item.product.name}}</span>
    </div>
    <div>
      <span class="code badge etop-badge text-primary border-0" style="font-size: 8px;">{{item.product.code}}</span>
    </div>
  </span>
</div>

<div class="col d-flex align-items-center text-center" *ngIf="!liteMode">
  <div class="text-center w-100">-</div>
</div>

<div class="col d-flex align-items-center text-right font-weight-bold">
  <div class="w-100">
    {{item.product.retail_price | vnd}}đ
  </div>
</div>

<div class="col d-flex align-items-center text-right" *ngIf="!liteMode">
  <div class="text-right w-100" *ngIf="item.promotion; else nonPromotion">
    <div class="text-right w-100">
      <div class="font-weight-bold">{{item.promotion?.amount}}%</div>
      <small class="discount font-weight-bold">{{item.promotion_convert | vnd}}đ</small>
    </div>
  </div>
  <ng-template #nonPromotion>
    -
  </ng-template>
</div>

<div class="col d-flex align-items-center" *ngIf="!liteMode">
  <div class="font-weight-bold text-right w-100">{{item.etop_revenue | vnd}}đ</div>
</div>

<div class="col d-flex align-items-center text-right" *ngIf="!liteMode">
  <div *ngIf="!item.supply_commission_setting; else nonTrading" class="w-100 text-right">-</div>
  <ng-template #nonTrading>
    <div class="w-100">
      <div class="font-weight-bold text-primary">{{item.supply_commission_setting.level1_direct_commission}}%</div>
      <small class="discount font-weight-bold">{{item.level1_direct_commission_convert | vnd}}đ</small>
    </div>
  </ng-template>
</div>
