:host {
  font-size: 12px;
}

td {
  border-top: 0 !important;
  vertical-align: middle;
}

.product-img {
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  height: 40px;
  width: 40px;
  min-width: 40px;
  display: inline-block;
  cursor: pointer;

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
}

.product-name {
  position: relative;
  cursor: pointer;

  .link-product {
    position: absolute;
    display: none;
    cursor: pointer;
    right: 0;
    top: 0;
    transform: translate(0, -50%);
  }

  &:hover .link-product {
    display: block;
  }
}

:host {
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  border-radius: 5px;
  min-height: 55px;

  &.active {
    border-left: 5px solid var(--primary-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
    margin-left: -20px;
  }
}