.dashboard-body {
  padding: 15px !important;

  .container {
    max-width: 100% !important;
    background: white !important;
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 5px;
  }
}

//new dashboard
.title-opacity {
  opacity: 0.5;
  font-size: 10px;
}

.product-img {
  height: 30px;
  margin-left: 10px;
  object-fit: cover;
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
}

.dashboard-filter {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background: white;
  padding: 10px 35px;
  z-index: 2;
  width: 100%;
}

.input-filter {
  position: relative;
  color: var(--primary-color);
  border: none;
  outline: none;
  font-weight: bold;
  width: 160px;
  z-index: 2;
  background: transparent;
  cursor: pointer;
}

.form-filter {
  position: relative;
  &::after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 14px;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.order-list,
.orders-vendor {
  td {
    padding: 0.75rem 0.25rem;
  }
}