<div *ngIf="!loading" class="text-center mt-5">
  <i class="fa fa-spinner fa-spin mr-3 font-14"></i>
  <span class="font-14">Đang tải dữ liệu ...</span>
</div>
<div *ngIf="loading">
  <div class="dashboard-filter">
    <i class="fa fa-circle text-primary mr-2" aria-hidden="true"></i> HÔM NAY
  </div>
  <div class="">
    <div class="p-5">
      <div class="row">
        <div class="col">
          <div class="aff-box p-4 text-center font-weight-bold">
            <span>Tổng số đơn</span>
            <h2 class="font-weight-bold pt-3">{{orderToday[0][0]?.value || 0}}</h2>
          </div>
        </div>
        <div class="col">
          <div class="aff-box p-4 text-center text-danger font-weight-bold">
            <span class="font-weight-bold">Đã hủy</span>
            <h2 class="font-weight-bold pt-3">{{orderToday[1][0]?.value || 0}}</h2>
          </div>
        </div>
        <div class="col">
          <div class="aff-box p-4 text-center font-weight-bold">
            <span>Đã lấy</span>
            <h2 class="font-weight-bold pt-3">{{orderToday[2][0]?.value || 0}}</h2>
          </div>
        </div>
        <div class="col">
          <div class="aff-box p-4 text-center font-weight-bold">
            <span>Chưa lấy</span>
            <h2 class="font-weight-bold pt-3">{{orderToday[3][0]?.value || 0}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-filter d-flex">
      <etop-material-select-date-range 
        (rangeSelect)="onChangeFilter($event)" 
        [displayIcon]="true" 
        [labelBold]="true">
      </etop-material-select-date-range>
    </div>
    <div class="p-5">
      <div class="row">
        <div class="col">
          <div class="aff-box p-4 text-center font-weight-bold">
            <span>Tổng số đơn</span>
            <h2 class="font-weight-bold pt-3">{{orderFilter[0][0]?.value || 0}}</h2>
          </div>
        </div>
        <div class="col">
          <div class="aff-box p-4 text-center font-weight-bold">
            <span>Đơn mới</span>
            <h2 class="font-weight-bold pt-3">{{orderFilter[1][0]?.value || 0}}</h2>
          </div>
        </div>
        <div class="col">
          <div class="aff-box p-4 text-center font-weight-bold">
            <span>Đang xử lý</span>
            <h2 class="font-weight-bold pt-3">{{orderFilter[2][0]?.value || 0}}</h2>
          </div>
        </div>
        <div class="col">
          <div class="aff-box p-4 text-center font-weight-bold">
            <span>Giao thành công</span>
            <h2 class="font-weight-bold pt-3">{{orderFilter[3][0]?.value || 0}}</h2>
          </div>
        </div>
        <div class="col">
          <div class="aff-box p-4 text-center text-danger font-weight-bold">
            <span>Trả hàng</span>
            <h2 class="font-weight-bold pt-3">{{orderFilter[4][0]?.value || 0}}</h2>
          </div>
        </div>
        <div class="col">
          <div class="aff-box p-4 text-center text-danger font-weight-bold">
            <span>Đã hủy</span>
            <h2 class="font-weight-bold pt-3">{{orderFilter[5][0]?.value || 0}}</h2>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-7">
          <div class="aff-box p-4 h-100">
            <canvas id="orders_count"></canvas>
          </div>

        </div>
        <div class="col-5">
          <div class="aff-box p-4 h-100">
            <div class="order-list">
              <div class="table-responsive">

                <table class="w-100">
                  <thead>
                    <tr>
                      <th class="small-cell font-weight-bold font-14 pb-3" colspan="2">Đơn hàng theo khu vực</th>
                      <th class="font-weight-bold text-right title-opacity">SL ĐƠN</th>
                    </tr>
                  </thead>

                  <tbody *ngIf="orderArea?.data?.length == 0">
                    <tr class="text-center">
                      <td colspan="3">Chưa có dữ liệu</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="orderArea?.data?.length > 0">
                    <tr *ngFor="let item of orderArea.data | slice:0:9; index as i">
                      <td style="width: 10px;">
                        <span>{{i + 1}}.</span>
                      </td>
                      <td>{{item[2]?.label}} - {{item[1]?.label}}</td>
                      <td class="font-weight-bold text-right" style="width: 40px">{{item[0]?.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row  mt-5">
        <div class="col-6">
          <div class="aff-box p-4 h-100">
            <h5 class="font-weight-bold pb-5">Số lượng đơn theo nhà vận chuyển</h5>
            <div class="row">
              <div class="col-5 h-100">
                <canvas id="orders_vendor" class="h-100"></canvas>
              </div>
              <div class="col-7">
                <div class="table-responsive orders-vendor">
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th class="small-cell font-weight-bold title-opacity">NHÀ VẬN CHUYỂN</th>
                        <th class="font-weight-bold text-right title-opacity">SỐ ĐƠN</th>
                        <th class="font-weight-bold text-right title-opacity">TỶ LỆ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <i class="fa fa-circle font-10 mr-2" aria-hidden="true"
                            style="color: rgba(230, 126, 34, 1)"></i>
                          <span>Giao hàng nhanh</span>
                        </td>
                        <td class="font-weight-bold text-right">{{orderProvider[1]?.value}}</td>
                        <td class="font-weight-bold text-right">{{orderProvider[1]?.percent}}%</td>
                      </tr>
                      <tr>
                        <td>
                          <i class="fa fa-circle font-10 mr-2" aria-hidden="true"
                            style="color: rgba(230, 126, 34, 0.85)"></i>
                          <span>Giao hàng tiết kiệm</span>
                        </td>
                        <td class="font-weight-bold text-right">{{orderProvider[2]?.value}}</td>
                        <td class="font-weight-bold text-right">{{orderProvider[2]?.percent}}%</td>
                      </tr>
                      <tr>
                        <td>
                          <i class="fa fa-circle font-10 mr-2" aria-hidden="true"
                            style="color: rgba(230, 126, 34, 0.7)"></i>
                          <span>Viettel Post</span>
                        </td>
                        <td class="font-weight-bold text-right">{{orderProvider[3]?.value}}</td>
                        <td class="font-weight-bold text-right">{{orderProvider[3]?.percent}}%</td>
                      </tr>
                      <tr>
                        <td>
                          <i class="fa fa-circle font-10 mr-2" aria-hidden="true"
                            style="color: rgba(230, 126, 34, 0.55)"></i>
                          <span>Ahamove</span>
                        </td>
                        <td class="font-weight-bold text-right">{{orderProvider[4]?.value}}</td>
                        <td class="font-weight-bold text-right">{{orderProvider[4]?.percent}}%</td>
                      </tr>
                      <tr class="border-top">
                        <td>
                          <span>Tất cả</span>
                        </td>
                        <td class="font-weight-bold text-right">{{orderProvider[0]?.value}}</td>
                        <td class="font-weight-bold text-right">{{orderProvider[0]?.percent}}%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="aff-box p-4 h-100">
            <h5 class="font-weight-bold pb-5">Số lượng đơn theo tuyến giao</h5>
            <div class="row">
              <div class="col-5 h-100">
                <canvas id="orders_area" class="h-100"></canvas>
              </div>
              <div class="col-7">
                <div class="table-responsive orders-vendor">
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th class="small-cell font-weight-bold title-opacity">TUYẾN GIAO</th>
                        <th class="font-weight-bold text-right title-opacity">SỐ ĐƠN</th>
                        <th class="font-weight-bold text-right title-opacity">TỶ LỆ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <i class="fa fa-circle font-10 mr-2" aria-hidden="true"
                            style="color: rgba(230, 126, 34, 1)"></i>
                          <span>Nội tỉnh</span>
                        </td>
                        <td class="font-weight-bold text-right">{{orderRegion[1]?.value}}</td>
                        <td class="font-weight-bold text-right">{{orderRegion[1]?.percent}}%</td>
                      </tr>
                      <tr>
                        <td>
                          <i class="fa fa-circle font-10 mr-2" aria-hidden="true"
                            style="color: rgba(230, 126, 34, 0.85)"></i>
                          <span>Nội miền</span>
                        </td>
                        <td class="font-weight-bold text-right">{{orderRegion[2]?.value}}</td>
                        <td class="font-weight-bold text-right">{{orderRegion[2]?.percent}}%</td>
                      </tr>
                      <tr>
                        <td>
                          <i class="fa fa-circle font-10 mr-2" aria-hidden="true"
                            style="color: rgba(230, 126, 34, 0.7)"></i>
                          <span>Liên miền</span>
                        </td>
                        <td class="font-weight-bold text-right">{{orderRegion[3]?.value}}</td>
                        <td class="font-weight-bold text-right">{{orderRegion[3]?.percent}}%</td>
                      </tr>
                      <tr class="border-top">
                        <td>
                          <span>Tất cả</span>
                        </td>
                        <td class="font-weight-bold text-right">{{orderRegion[0]?.value}}</td>
                        <td class="font-weight-bold text-right">{{orderRegion[0]?.percent}}%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-7">
          <div class="aff-box p-4 h-100">
            <canvas id="chart_cod"></canvas>
          </div>

        </div>
        <div class="col-5">
          <div class="aff-box p-4 h-100">
            <div class="font-weight-bold font-14">Đối soát</div>
            <div class="order-list">
              <img class="h-100 w-100" src="assets/images/undercons.png" alt="">
<!--              <div class="table-responsive orders-vendor d-flex flex-column h-100">-->
<!--                <table class="w-100">-->
<!--                  <thead>-->
<!--                    <tr class="pb-3">-->
<!--                      <th class="font-weight-bold font-14">Đối soát</th>-->
<!--                      <th class="font-weight-bold text-right title-opacity">TIỀN THU HỘ</th>-->
<!--                      <th class="font-weight-bold text-right title-opacity">-->
<!--                        CƯỚC PHÍ-->
<!--                      </th>-->
<!--                      <th class="font-weight-bold text-right title-opacity">-->
<!--                        TIỀN TRẢ SHOP-->
<!--                      </th>-->
<!--                    </tr>-->
<!--                  </thead>-->
<!--                  <tbody>-->
<!--                    <tr *ngFor="let item of shippingState">-->
<!--                      <td>-->
<!--                        <span>{{item.label}}</span>-->
<!--                      </td>-->
<!--                      <td class="text-right">{{item.cod | vnd}}đ</td>-->
<!--                      <td class="text-right">{{item.fee | vnd}}đ</td>-->
<!--                      <td class="text-right">{{item.summary | vnd}}đ</td>-->
<!--                    </tr>-->

<!--                    <tr *ngFor="let item of transactionData; first as isFirst" [ngClass]="{'border-top': isFirst}">-->
<!--                      <td>-->
<!--                        <span>{{item.label}}</span>-->
<!--                      </td>-->
<!--                      <td class="text-right">{{item.cod | vnd}}đ</td>-->
<!--                      <td class="text-right">{{item.fee | vnd}}đ</td>-->
<!--                      <td class="text-right">{{item.summary | vnd}}đ</td>-->
<!--                    </tr>-->

<!--                  </tbody>-->
<!--                </table>-->
<!--                <div class="border-top text-center pt-4 mt-auto">-->
<!--                  <div class="text-primary" style="cursor: pointer" (click)="gotoTransaction()">Xem danh sách phiên đối-->
<!--                    soát-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
