<div class="row">
  <div class="col-8">
    <h6 class="slider-detail-info-title">
      <i class="fa fa-circle text-primary smaller-font mr-2"></i>
      SẢN PHẨM
    </h6>
    <div *ngFor="let line of order?.lines; let i = index;" class="row align-items-center line-item">
      <div class="col-1" [class.line-text]="line?.attributes?.length">
        <span class="line-index">{{i + 1}}</span>
      </div>
      <div class="col-7">
        <div class="line-name">
          {{line?.product_name}}
        </div>
        <div class="line-attributes">
          {{displayAttributes(line)}}
        </div>
      </div>
      <div class="col-3">
        <span class="line-price badge line-badge">{{line?.payment_price | vnd}}đ</span>
      </div>
      <div class="col-1">
        <span class="line-quantity badge line-badge">x{{line?.quantity}}</span>
      </div>
    </div>
  </div>
  <div class="col-4" style="margin: -1.25rem 0;">
    <div class="money-wrapper">
      <div class="money-item">
        <span class="item-name">Giá trị ĐH:</span>
        <span class="font-weight-bold item-value">{{order?.basket_value | vnd}}đ</span>
      </div>
      <div class="money-item">
        <span class="item-name">Giảm giá:</span>
        <span class="font-weight-bold item-value">
          <ng-container *ePermissions="['shop/order:update']">
            <i *ngIf="order?.confirm_status == 'Z'"
              class="far fa-edit text-primary mr-1 editable-item"
              (click)="toEdit('order_discount')">
            </i>
          </ng-container>
          {{order?.order_discount | vnd}}đ
        </span>
        <shop-edit-dropdown *ngIf="to_edit?.order_discount" [order]="order" (dropdownClosed)="onCloseDropdown()">
          <etop-material-input placeholder="Giảm giá" textLabel="Giảm giá" type="input" keyboardType="number"
                               [(ngModel)]="order.p_data.order_discount">
          </etop-material-input>
        </shop-edit-dropdown>
      </div>
      <div class="money-item">
        <span class="item-name">Phụ thu:</span>
        <span class="font-weight-bold item-value">
          {{order?.total_fee | vnd}}đ
        </span>
      </div>
      <div class="money-item money-item-child" *ngFor="let line of order?.fee_lines">
        <span class="item-name">- {{line?.name}}:</span>
        <span class="font-weight-bold item-value">
          <ng-container *ePermissions="['shop/order:update']">
            <i *ngIf="order?.confirm_status == 'Z'"
               class="far fa-edit text-primary mr-1 editable-item"
               (click)="toEdit('fee_' + line?.type)">
            </i>
          </ng-container>
          {{line?.amount || 0 | vnd}}đ
        </span>
        <shop-edit-dropdown
                *ngIf="to_edit['fee_' + line?.type]"
                [order]="order" [fee_type]="line?.type" [fee_name]="line?.name" (dropdownClosed)="onCloseDropdown()">
          <etop-material-input placeholder="{{line?.name}}" textLabel="{{line?.name}}" type="input" keyboardType="number"
                               [(ngModel)]="order.p_data['fee_amount_' + line?.type]">
          </etop-material-input>
        </shop-edit-dropdown>
      </div>
      <div class="money-item">
        <span class="item-name">Khách phải trả:</span>
        <span class="font-weight-bold item-value">{{order?.total_amount | vnd}}đ</span>
      </div>
    </div>
  </div>
</div>
