.editable-item {
  cursor: pointer;
}

.line-text {
  margin-bottom: 5px;
}

shop-edit-dropdown::ng-deep {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  .edit-dropdown {
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.07);
    padding: 3px 10px;
    border-radius: 7px;
    min-width: 345px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    etop-material-input::ng-deep {
      width: 45%;
    }
    button {
      margin-top: 2px;
      font-size: 10px;
      &.btn-update {
        margin-left: 7px;
      }
    }
  }
}

.line-index {
  border: 1px solid var(--border-gray-color);
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
}

.line-name {
  font-size: .9rem;
}

.line-item {
  margin-bottom: 1.25rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.line-price {
  &.badge {
    padding: .15rem 1.25rem;
  }
}

.line-attributes {
  font-weight: 700;
  font-size: .8rem;
}

.money-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  padding: 10px;
  .money-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .6rem;
    &:last-child {
      margin-bottom: 0;
    }
    .item-name {
      flex: 1;
      font-size: .9rem;
    }
    .item-detail {
      flex: 1;
      font-style: italic;
      font-size: .75rem;
    }
  }
}

shop-edit-dropdown::ng-deep {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  .edit-dropdown {
    background: var(--white-color);
    box-shadow: 0 0 10px 5px rgba(0,0,0,.07);
    padding: 3px 10px;
    border-radius: 7px;
    min-width: 345px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    etop-material-input::ng-deep {
      width: 45%;
    }
    button {
      margin-top: 2px;
      font-size: 10px;
      &.btn-update {
        margin-left: 7px;
      }
    }
  }
}

