<div class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Khách hàng</ion-title>
            <ion-buttons slot="end" class="button-icon" (click)="addCustomer()" *ePermissions="['shop/customer:create']">
                <ion-icon name="add" mode="md" class="add-customer text-white"></ion-icon>
                <ion-text>Thêm</ion-text>
            </ion-buttons>
        </ion-toolbar>
        <etop-network-status></etop-network-status>
    </ion-header>
    <shop-subscription-warning></shop-subscription-warning>
    <ion-content *ngIf="!viewDisconnect">
        <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content refreshingSpinner="circles">
            </ion-refresher-content>
        </ion-refresher>
        <div class="customer-list" *ngIf="customers?.length > 0; else noCustomer">
            <div class="customer-item ion-flex ion-align-items-center" *ngFor="let customer of customers">
                <div class="info w-100" (click)="customerDetail(customer)">
                    <div class="font-bold normal-font">{{customer?.full_name}}</div>
                    <div class="text-medium small-font" *ngIf="customer?.code">{{customer?.code}}</div>
                </div>
                <div class="contact normal-font font-bold ion-align-items-center ion-flex" *ngIf="customer?.phone">
                    <a href="tel:{{customer?.phone}}" class="text-dark-tint ion-flex ion-align-items-center">
                        <ion-icon name="call" class="call-icon"></ion-icon>
                        {{customer?.phone}}
                    </a>
                </div>
            </div>
        </div>
        <ng-template #noCustomer>
            <div class="empty-state ion-text-center h-100 ion-flex ion-align-items-center" *ngIf="customers?.length == 0">
                <div class="ion-text-center w-100" *ngIf="loading">
                    <div class="items-list-row" style="padding: 0" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                        <etop-ion-skeleton></etop-ion-skeleton>
                    </div>
                </div>
                <ion-text class="w-100" *ngIf="customers?.length == 0 && !loading">
                    Bạn chưa có khách hàng nào!
                </ion-text>
            </div>
        </ng-template>
        <ion-infinite-scroll position="bottom" threshold="100px" (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Đang tải dữ liệu...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>
    <ion-content *ngIf="viewDisconnect">
        <etop-network-disconnect></etop-network-disconnect>
    </ion-content>
</div>