.customer-item {
    background: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    min-height: 56px;
    padding: 8px 16px;
}

:host {
    font-size: 12px;
}

.call-icon {
    border: 1px solid;
    border-radius: 50%;
    padding: 3px;
    font-size: 8px;
    margin-right: 10px;
}

.contact {
    min-width: 110px;
}

.button-icon {
    min-width: fit-content;
    background: var(--ion-color-primary);
    color: white;
    border-radius: 20px;
    padding: 0 1rem 0 0.75rem;
    min-height: 2.2rem;
    margin-right: 0.25rem;
    ion-icon {
        font-size: 1.2rem;
    }
    ion-text {
        font-size: 0.9rem;
    }
}