<div class="list-message">
    <div class="title">
        {{title}}
    </div>
    <div class="messages">
        <div class="message-item" *ngFor="let message of messages" (click)="selectMsg(message)">
            {{message?.external_message}}
        </div>
    </div>
</div>