.list-message {
    background: white;
    margin: 0 0.75rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;

    .messages {
        overflow: auto;
        max-height: 18rem;
        height: auto;
        padding: 1rem;
    }

    .message-item {
        background: #F2F3F5;
        padding: 0.5rem 1rem;
        // border: 1px solid rgba(0, 0, 0, 0.02);
        border-radius: 10px;
        word-break: break-word;
        white-space: pre-wrap;
        width: fit-content;
        margin-bottom: 0.75rem;
    }

    .title {
        text-align: center;
        border-bottom: 1px solid #eee;
        padding: 1rem;
        font-weight: bold;
    }
}