.wrapper-login {
    display: flex;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background-color: var(--gray-color);
  }
  
  .login-box {
    width: 600px;
    margin: auto;
  }
  
  .login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    img {
      width: 120px;
    }
  }
  
  .login-logo a {
    color: var(--dark-color);
  }
  
  .shop-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--gray-color);
    background-repeat: no-repeat;
    margin: auto;
  }
  
  .login-box-body {
    background: var(--white-color);
    padding: 20px;
    color: var(--default-color);
    border-radius: 5px;
    border: 1px solid var(--border-gray-color);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  form {
    font-size: 12px;
    button,
    input,
    a.btn {
      font-size: 12px !important;
    }
  }
  
  .verify-wrapper {
    .fa {
      color: var(--primary-color);
      font-size: 16px;
      &.error-icon {
        color: var(--danger-color);
      }
    }
  }
  
  .alert-warning {
    .fa {
      color: var(--warning-color);
    }
    .btn-warning {
      border-color: var(--warning-color) !important;
      &.btn-outline {
        color: var(--warning-color);
      }
    }
  }

  .mat-icon-warning {
    font-size: 8rem !important;
    height: 8rem !important;
    width: 8rem !important;
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .button-mobile-full {
    width: 100%;
  }

  .button-mobile-50 {
    width: 50%;
  }
}