<ion-header>
  <ion-toolbar>
    <ion-title>Tạo cửa hàng</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div class="ion-flex flex-column h-100">
      <div class="body-content">
        <div class="ion-padding-horizontal ion-padding-top font-bold">THÔNG TIN CƠ BẢN</div>
        <ion-list class="ion-padding-end">
          <ion-item>
            <ion-label>Tên cửa hàng *</ion-label>
            <ion-input placeholder="Tên cửa hàng" class="ion-text-end" [(ngModel)]="shop.name">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Website</ion-label>
            <ion-input placeholder="Website" class="ion-text-end" [(ngModel)]="shop.website_url">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Số điện thoại *</ion-label>
            <ion-input placeholder="Số điện thoại" class="ion-text-end" [(ngModel)]="shop.phone">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Email *</ion-label>
            <ion-input placeholder="Email" class="ion-text-end" [(ngModel)]="shop.email">
            </ion-input>
          </ion-item>
        </ion-list>
        <div class="ion-padding-horizontal ion-padding-top font-bold">NGÀNH HÀNG KINH DOANH</div>
        <ion-list class="ion-padding-end">
          <ion-item>
            <ion-label>Ngành hàng</ion-label>
            <ion-select placeholder="Chọn ngành hàng" okText="Chọn" cancelText="Đóng"
              [(ngModel)]="business_lines" (ionChange)="onChangeSurvey()">
              <ion-select-option value="{{business_lines.value}}" *ngFor="let business_lines of business">
                {{business_lines.text}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="business_lines == 'others'">
            <ion-label>Ngành khác *</ion-label>
            <ion-input placeholder="Nhập tên ngành hàng" [(ngModel)]="other_lines" class="ion-text-end">
            </ion-input>
          </ion-item>
        </ion-list>

        <div class="ion-padding-horizontal ion-padding-top font-bold">ĐỊA CHỈ CỬA HÀNG</div>
        <ion-list class="ion-padding-end">
            <ionfabo-select-suggest
              position="fixed"
              [placeholder] = "'Chọn tỉnh thành'"
              [label]="'Tỉnh/Thành phố'"
              [cssItemClass] = "'fix-item-suggest'"
              [cssInputClass] = "'fix-input-suggest'"
              [options]="provinces"
              [(ngModel)]="shop.address.province_code" 
              (ionChange)="onProvinceSelected()"
            >
            </ionfabo-select-suggest>
            <ionfabo-select-suggest
                position="fixed"
                [label]="'Quận/Huyện'"
                [cssItemClass] = "'fix-item-suggest'"
                [cssInputClass] = "'fix-input-suggest'"
                [placeholder]="'Chọn quận huyện'"
                [options]="districts"
                [(ngModel)]="shop.address.district_code" 
                (ionChange)="onDistrictSelected()">
            </ionfabo-select-suggest>
            <ionfabo-select-suggest
              position="fixed"
              [label]="'Phường/Xã'"
              [cssItemClass] = "'fix-item-suggest'"
              [cssInputClass] = "'fix-input-suggest'"
              [placeholder]="'Chọn phường xã'"
              [options]="wards"
              [(ngModel)]="shop.address.ward_code"
            >
            </ionfabo-select-suggest>
          <ion-item>
            <ion-label>Địa chỉ</ion-label>
            <ion-input placeholder="Địa chỉ" class="ion-text-end" [(ngModel)]="shop.address.address1">
            </ion-input>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
<ion-footer class="footer-button-wrapper ion-no-border">
  <ion-toolbar>
    <div class="footer-buttons ion-flex">
      <button type="submit" class="w-100 bg-topship text-white button-radius font-bold" (click)="createShop()">
        <span>Tạo cửa hàng</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
