<etop-table #contactsTable [items]="contacts$ | async" (requestNewPage)="loadPage($event)"
            [show_paging]="(contacts$ | async).length > 0 && showPaging">
  <ng-template #header let-liteMode="liteMode">
    <div class="row mobile-header">
      <div class="col text-left hide-768">Mã</div>
      <div class="col text-left">Tên</div>
      <div class="col text-left">Số điện thoại</div>
      <div class="col text-left" *ngIf="!liteMode">Ngày tạo</div>
    </div>
    <!-- TODO: customer GROUP -->
  </ng-template>

  <ng-template #emptyItem>
    <div class="blank-page">
      <div>
        <img class="blank-img" src="assets/images/icon_trader.png" alt="empty list" />
      </div>
      <div class="info">
        <div class="text-bigger text-bold text-center m-2">
          {{emptyTitle}}
        </div>
      </div>

    </div>
  </ng-template>

  <ng-template #item let-contact="item" let-liteMode="liteMode">
    <div class="row table-row" webcall-contacts-row [class.active]="contact.selected"
      [contact]="contact" [liteMode]="liteMode" (click)="detail($event, contact)">
    </div>
  </ng-template>
</etop-table>

<etop-side-slider #contactsSlider [width]="sliderWidth">
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
        <shared-dropdown-actions></shared-dropdown-actions>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">Đóng
        <i class="fa fa-times ml-1"></i>
      </button>
    </div>
  </ng-template>

  <ng-container *ngIf="creatingNewContacts; else detailContacts;">
    <webcall-create-contacts-form (createContacts)="getContacts()"></webcall-create-contacts-form>
  </ng-container>
  <ng-template #detailContacts>
    <ng-container *ngIf="showDetailContacts">
      <webcall-detail-contacts [contact]="selectedContacts"></webcall-detail-contacts>
    </ng-container>
  </ng-template>
</etop-side-slider>

