<div class="detail-body hide-scrollbar">
    <div class="slider-detail-section">
        <div class="slider-detail-info-title">
            THÔNG TIN HOTLINE
        </div>
        <div class="row pl-2">
            <div class="col item">
                <div class="item-label small">Tên Hotline</div>
                <div class="item-value">{{(hotline$ | async)?.name || "-"}}</div>
            </div>
            <div class="col item">
                <div class="item-label small">Số điện thoại</div>
                <div class="item-value">{{(hotline$ | async)?.hotline|| "-"}}</div>
            </div>
        </div>
        <div class="row pl-2">
            <div class="col item">
                <div class="item-label small">Nhà mạng</div>
                <div class="item-value">{{(hotline$ | async)?.network || "-"}}</div>
            </div>
            <div class="col item">
                <div class="item-label small">Method</div>
                <div class="item-value">{{(hotline$ | async)?.connection_method || "-"}}</div>
            </div>
        </div>
        <div class="row pl-2">
            <div class="col item">
                <div class="item-label small">Ngày tạo</div>
                <div class="item-value">{{((hotline$ | async)?.created_at | date: 'HH:mm dd/MM/yyyy') || "-"}}</div>
            </div>
            <div class="col item">
                <div class="item-label small">Ko kt số dư</div>
                <div class="item-value">
                    <i class="fas fa-check text-success cursor-pointer" *ngIf="(hotline$ | async)?.is_free_charge"></i>
                    <span class="text-center" *ngIf="!(hotline$ | async)?.is_free_charge">-</span>
                </div>
            </div>
        </div>
        <div class="row pl-2">
            <div class="col item">
                <div class="item-label small">Trạng thái</div>
                <div *ngIf="(hotline$ | async)?.status" class="item-value status status-{{(hotline$ | async)?.status}}">{{(hotline$ | async)?.status_display}}</div>
                <div *ngIf="!(hotline$ | async)?.status">-</div>
            </div>
            <div class="col item">
                <div class="item-label small">Mô tả</div>
                <div class="item-value">{{(hotline$ | async)?.description || "-"}}</div>
            </div>
        </div>
        <div class="text-right m-3">
            <button (click)="editHotline()" class="btn btn-primary">
              Chỉnh sửa
            </button>
          </div>
    </div>
    <div class="box-content slider-detail-section">
        <div class="slider-detail-info-title">
            USER
        </div>
        <ng-container *ngIf="(hotline$ | async)?.owner_id != '0'; else emptyUser">
            <div class="row">
                <div class="col-6 py-2">
                    <etop-material-input textLabel="Tên" type="custom">
                      <span
                        *ngIf="(hotline$ | async)?.user?.full_name; else noUserFullName;"
                        class="font-weight-bold text-primary cursor-pointer">
                        {{(hotline$ | async)?.user?.full_name}}
                        <i class="fas fa-external-link-alt external-link-icon"></i>
                      </span>
                      <ng-template #noUserFullName>
                        <span class="read-only">-</span>
                      </ng-template>
                    </etop-material-input>
                  </div>
                  <div class="col-6 py-2">
                    <etop-material-input textLabel="Số điện thoại" type="custom">
                      <span
                        class="read-only text-bold text-primary cursor-pointer d-flex align-items-center"
                        eCallButton="{{(hotline$ | async)?.user?.phone}}">
                        {{(hotline$ | async)?.user?.phone}}&nbsp;
                        <i class="text-primary fa fa-phone-square upper-medium-font"></i>
                      </span>
                    </etop-material-input>
                  </div>
                  <div class="col-12 py-2">
                    <etop-material-input textLabel="Email" type="custom">
                      <span class="read-only">{{(hotline$ | async)?.user?.email || '-'}}</span>
                    </etop-material-input>
                  </div>
               </div>
        </ng-container>
        <ng-template #emptyUser>
            <div class="empty">
                Chưa được gán cho User
            </div>
        </ng-template>
    </div>
    <div class="box-content slider-detail-section">
        <div class="slider-detail-info-title">
            TENANT
        </div>
        <ng-container *ngIf="tenants?.length; else emptyTenant">
            <div class="row pl-2">
                <div class="col item">
                    <div class="item-label small">Tên</div>
                    <div class="item-value">{{tenants[0]?.name || "-"}}</div>
                </div>
                <div class="col item">
                    <div class="item-label small">Ngày tạo</div>
                    <div class="item-value">{{(tenants[0]?.created_at | date: 'HH:mm dd/MM/yyyy') || "-"}}</div>
                </div>
            </div>
            <div class="row pl-2">
                <div class="col item">
                    <div class="item-label small">Domain</div>
                    <div class="item-value">{{tenants[0]?.domain || "-"}}</div>
                </div>
                <div class="col item">
                    <div class="item-label small">Trạng thái</div>
                    <div *ngIf="tenants[0]?.status" class="item-value status status-{{tenants[0]?.status}}">{{tenants[0]?.status_display}}</div>
                    <div *ngIf="!tenants[0]?.status">-</div>
                </div>
            </div>
        </ng-container>
        <ng-template #emptyTenant>
            <div class="empty">
                Chưa được gán cho Tenant
            </div>
        </ng-template>
    </div>
</div>
