<div class="box setting-box mt-0 hide-768">
  <div class="setting-header">Cửa hàng của bạn</div>
  <div class="setting-body">
    <div class="row">
      <div class="table-responsive">
        <table class="w-100">
          <thead>
            <tr class="table-head">
              <th>Mã</th>
              <th>Tên cửa hàng</th>
              <th>Vai trò</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let account of accounts;">
              <tr
                *ngIf="isMyShop(account?.user_account?.permission?.roles)" webcall-shops-management-row
                [account]="account" [currentShop]="currentShop">
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="setting-footer" *ngIf="isAtEtop">
    <div class="text-right w-100">
      <button (click)="openCreateShopModal()" class="btn btn-primary">
        Thêm cửa hàng
      </button>
    </div>
  </div>
</div>

<div class="box setting-box show-768 my-3">
  <div class="setting-header">Bạn đang ở đây</div>
  <div class="setting-body">
    <div class="row">
      <div class="table-responsive">
        <table class="w-100">
          <tbody>
            <tr
              *ngIf="isMyShop(currentAccount?.user_account?.permission?.roles)" webcall-shops-management-row
              [account]="currentAccount" [currentShop]="currentShop">
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="box setting-box show-768">
  <div class="setting-header">Cửa hàng khác của bạn</div>
  <div class="setting-body">
    <div class="row">
      <div class="table-responsive">
        <table class="w-100">
          <tbody>
          <ng-container *ngFor="let account of accounts;">
            <tr
              *ngIf="isMyShop(account?.user_account?.permission?.roles) && (account?.id != currentShop?.id)" webcall-shops-management-row
              [account]="account" [currentShop]="currentShop">
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="setting-footer" *ngIf="isAtEtop">
    <div class="text-right w-100">
      <button (click)="openCreateShopModal()" class="btn btn-primary">
        Thêm cửa hàng
      </button>
    </div>
  </div>
</div>
