.line-index {
  min-width: 50px;
}

.line-payment, .line-delete {
  padding: 0 15px;
}

.line-payment {
  min-width: 120px;
}

.line-delete {
  img {
    width: 20px;
  }
}

.order-line-wrapper {
  padding: 7px 0;
  border: 1px solid transparent;
  border-radius: 7px;
  &.active {
    border: 1px solid var(--border-gray-color);
  }
}

@media screen and (max-width: 1300px) {
  .line-index {
    min-width: 30px;
  }
  .line-delete {
    padding: 0 7px;
    img {
      width: 17px;
    }
  }
  .line-payment {
    padding: 0 7px;
    min-width: 100px;
  }
}
