<div class="page-container">
  <div class="total">
    <div class="total-section left-aligned">
      <div class="total-item w-100 d-flex align-items-center">
        <etop-filter class="w-100" [filters]="filters" (filterChanged)="filter($event)">
        </etop-filter>
      </div>
    </div>
  </div>
  <div class="page-content pb-0">
    <etop-table #contactsTable [items]="relationship$ | async" (requestNewPage)="loadPage($event)"
                [show_paging]="(relationship$ | async).length > 0 && showPaging">
      <ng-template #header let-liteMode="liteMode">
        <div class="row mobile-header">
          <div class="col table-header-text max-width-20rem text-left hide-768">Mã</div>
          <div class="col table-header-text max-width-20rem text-left">Tên</div>
          <div class="col table-header-text max-width-20rem text-left">Số điện thoại</div>
          <div class="col table-header-text max-width-20rem text-left">Số máy nhánh</div>
          <div class="col table-header-text text-left" *ngIf="!liteMode">Ngày tạo</div>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <etop-empty-page [description]="emptyDescription"></etop-empty-page>
      </ng-template>

      <ng-template #item let-contact="item" let-liteMode="liteMode">
        <div class="row table-row" etelecom-cs-internal-contact-row
             [contact]="contact" [liteMode]="liteMode">
        </div>
      </ng-template>
    </etop-table>
  </div>
</div>

