:host {
  background-image: url('https://ss-images.catscdn.vn/2018/06/10/2968571/34689401_2147325555551794_7654281988110548992_n.jpg');
  background-size: contain;
  display: block;
  height: 100px;
}
