<ion-header>
    <ion-toolbar>
        <div class="text-medium">
          <ion-text class="header-title">Địa chỉ lấy hàng</ion-text>
        </div>
        <ion-buttons slot="start">
          <ion-icon name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
        <ion-buttons *ePermissions="['shop/settings/shipping_setting:update']" slot="end" class="button-icon" (click)="addAddress()">
            <ion-icon name="add" mode="md" class="add-product text-white"></ion-icon>
            <ion-text>Thêm mới</ion-text>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="address-list" *ngIf="addresses?.length; else emptyAddresses;">
        <div *ngFor="let address of addresses"
          class="address-item" [class.selected]="isSelectedAddress(address)"
          (click)="selectAddress(address)">
        <ion-checkbox mode="md" color="primary" [disabled]="isSelectedAddress(address)" [checked]="isSelectedAddress(address)"></ion-checkbox>
        <div class="address-info">
            <div class="name-and-phone">{{address?.full_name}} - {{address?.phone}}</div>
            <div class="address-display">{{address | addressDisplay}}</div>
        </div>
        </div>
    </div>
    <ng-template #emptyAddresses>
      <div class="empty-address">
        {{emptyTitle}}
      </div>
    </ng-template>
</ion-content>
