.button-icon {
    min-width: fit-content;
    background: var(--ion-color-primary);
    color: white;
    border-radius: 20px;
    padding: 0 1rem 0 0.75rem;
    min-height: 2.2rem;
    margin-right: 0.25rem;
    ion-icon {
      font-size: 1.2rem;
    }
    ion-text {
      font-size: 0.9rem;
    }
  }

  .address-item {
    color: #666;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-bottom: 1px solid #eee;
    &.selected {
      color: var(--ion-color-primary);
    }
    .address-info {
      padding-left: 10px;
      flex: 1;
      .name-and-phone {
        font-weight: 700;
      }
      .address-display {
        font-size: .9rem;
      }
    }
  }

  ion-header {
      border-bottom: 1px solid #eee;
  }

.empty-address {
  padding: 16px;
  text-align: center;
  background: #f5f5f5;
  color: #888;
}
