<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="/assets/cfg.js" defer></script>
    <title>iTopX</title>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but auth doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <script src='https://www.google.com/recaptcha/api.js?render=<%= VUE_APP_RECAPTCHA_KEY %>'></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
