.address-title {
  padding: 12px 16px 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.address-section {
    padding: 15px 0;
    background: white;
    position: relative;
  }
  ion-input::ng-deep {
    display: initial;

    .native-input {
      // padding: 0 !important;
      font-size: 1rem;
    }
  }

  .item-input {
    padding: 0 16px;
    margin-bottom: 1rem;
    ion-input::ng-deep {
      border-bottom: 1px solid #ccc;
      .native-input {
        padding: 0.5rem 0 !important;
      }
    }
  }

  ion-input-format-number::ng-deep {
    width: 100%;

    ion-item {
      margin: 0;
      padding: 0;

      .item-inner {
        padding: 0 !important;
      }
    }

    .native-input,
    .formatted-number {
      padding-bottom: 0.5rem !important;
      padding-top: 0.5rem !important;
      line-height: unset;
    }

    .text-default {
      .formatted-number {
        color: #444 !important;
      }
    }
  }

  .is-invalid {
    --placeholder-color: var(--ion-color-danger-shade);
    --placeholder-opacity: 1;
  }

  .item-is-invalid {
    --border-color: var(--ion-color-danger-shade) !important;
  }

  .icon-address {
    ion-icon {
      font-size: 1.4rem;
      margin-right: 1.6rem;
    }
  }

  //Customer search
.popup-container {
    position: absolute;
    top: 2.2rem;
    width: 100%;
    // max-height: 200px;
    z-index: 4;
    padding: 0 10px;
  }

  .popup {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4;
    max-height: 13rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .customer-list {
    overflow-y: auto;
    flex: 1;
    border-radius: 10px;
  }
  //end customer search
