<ng-container>
  <div class="address-title text-medium">Người nhận</div>
  <div class="address-section" [formGroup]="customerForm">
    <ion-list class="ion-padding-end" style="position: relative">
      <div class="input-wrapper ion-flex ion-align-items-center icon-address item-input"
           [ngClass]="{ 'item-is-invalid': submitted && f.phone?.errors }">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-input inputmode="tel"
                   [placeholder]="submitted && f.phone?.errors ? 'Vui lòng nhập số điện thoại (*)' : 'Nhập số điện thoại'"
                   [ngClass]="{ 'is-invalid': submitted && f.phone?.errors }" (ionBlur)="outFocus()" (ionFocus)="checkFocus()" formControlName="phone">
        </ion-input>
      </div>
      <div class="popup-container" [hidden]="!selectedCustomer" *ngIf="customerAddresses?.length">
        <div class="popup">
          <div class="customer-list">
            <div class="items-list-row" *ngFor="let customerAddress of customerAddresses">
              <div class="box" (click)="customerSelected(customerAddress)">
                <div class="ion-flex ion-align-items-center ion-justify-content-between">
                  <div class="ion-flex ion-align-items-center w-100">
                    <div>
                      <div class="align-items-center">
                        {{customerAddress.full_name}} - <strong>{{customerAddress.phone}}</strong>
                      </div>
                      <div class="align-items-center" style="font-size: 0.8rem;white-space: pre-line">
                        {{customerAddress | addressDisplay}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-wrapper ion-flex ion-align-items-center icon-address item-input"
           [ngClass]="{ 'item-is-invalid': submitted && f.full_name?.errors }">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input formControlName="full_name"
                   [placeholder]="submitted && f.full_name?.errors ? 'Vui lòng nhập họ tên (*)' : 'Nhập họ tên'"
                   [ngClass]="{ 'is-invalid': submitted && f.full_name?.errors }">
        </ion-input>
      </div>
      <div class="input-wrapper ion-flex ion-align-items-center icon-address item-input"
           [ngClass]="{ 'item-is-invalid': submitted && f.address1?.errors }">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-input formControlName="address1"
                   [placeholder]="submitted && f.address1?.errors ? 'Vui lòng nhập địa chỉ (*)' : 'Nhập địa chỉ'"
                   [ngClass]="{ 'is-invalid': submitted && f.address1?.errors }">
        </ion-input>
      </div>
      <div style="padding-left: 3rem" class="address-group">
        <ionfabo-select-suggest
          position="fixed"
          [hasLabel]="false"
          [placeholder]="submitted && f.province_code?.errors ? 'Vui lòng chọn tỉnh thành (*)' : 'Chọn tỉnh thành'"
          [options]="provincesList"
          formControlName="province_code"
          cssInputClass="{{submitted && f.province_code?.errors ? 'is-invalid' : ''}}"
          cssItemClass="custom-input {{submitted && f.province_code?.errors ? 'item-is-invalid' : ''}}"
          (ngModelChange)="onProvinceSelected()">
        </ionfabo-select-suggest>
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ionfabo-select-suggest
              position="fixed"
              [hasLabel]="false"
              [placeholder]="submitted && f.district_code?.errors ? 'Chọn quận huyện (*)' : 'Chọn quận huyện'"
              [options]="districtsList"
              cssInputClass="{{submitted && f.district_code?.errors ? 'is-invalid' : ''}}"
              cssItemClass="custom-input {{submitted && f.district_code?.errors ? 'item-is-invalid' : ''}}"
              formControlName="district_code"
              class="no-padding-right"
              (ngModelChange)="onDistrictSelected()">
            </ionfabo-select-suggest>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ionfabo-select-suggest
              position="fixed"
              [hasLabel]="false"
              [placeholder]="submitted && f.ward_code?.errors ? 'Chọn phường xã (*)' : 'Chọn phường xã'"
              [options]="wardsList"
              class="no-padding-left"
              cssInputClass="{{submitted && f.ward_code?.errors ? 'is-invalid' : ''}}"
              cssItemClass="custom-input {{submitted && f.ward_code?.errors ? 'item-is-invalid' : ''}}"
              formControlName="ward_code">
            </ionfabo-select-suggest>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
  </div>
</ng-container>

