<ul class="p-0 m-0">
  <li *ngFor="let tab of tabs" [ngClass]="{'active': tab.active}" (click)="onActive(tab.id)">
    <span>{{tab.title}}</span>
    <span class="ml-3" (click)="removeTab(tab.id)">
      <img src="assets/images/remove.png" alt="" width="14px" style="margin-top: -2px">
    </span>
  </li>
  <li (click)="addNewOrder()" class="p-4" *ngIf="tabs.length < 4">
    <img src="assets/images/add.png" width="16" alt="add-order">
  </li>
</ul>