li {
  display: inline-block;
  padding: 1.5rem 1rem;
  border-left: 1px solid var(--border-gray-color);
  border-bottom: 0.1rem solid var(--border-gray-color);
  cursor: pointer;
  background-color: var(--lighter-gray-color);

  &.active {
    color: var(--primary-color);
    padding: 1.5rem 1rem 1.25rem 1rem;
    border-bottom: 0.35rem solid var(--primary-color);
  }
}