<ng-container>
  <div class=" modal-header">
    <div class="modal-title w-100 text-center">Thêm mẫu mã</div>
  </div>
  <div class="modal-body overflow-auto">
    <tr class="d-flex align-items-center mb-3">
      <td class="flex-fill">
        <etop-material-input placeholder="Mã mẫu mã" textLabel="Mã mẫu mã" type="input" [(ngModel)]="variant.code">
        </etop-material-input>
      </td>
      <ng-container *ngFor="let attr of variant.attributes; let i = index">
        <td style="max-width: 12rem;">
          <etop-material-input type="input" [textLabel]="attr.name" placeholder="Giá trị thuộc tính"
            name="attr-name-{{ i }}" [(ngModel)]="attr.value"></etop-material-input>
        </td>
      </ng-container>
      <td style="max-width: 12rem;">
        <etop-material-input-format-number formatNumberUnit="đ" placeholder="Giá bán" textLabel="Giá bán*" type="input"
          keyboardType="number" [(ngModel)]="variant.retail_price"> 
        </etop-material-input-format-number>
      </td>
    </tr>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline btn-default" (click)="cancel()">Đóng</button>
    <button class="btn btn-primary" (click)="submit()">
      <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
      Thêm
    </button>
  </div>
</ng-container>