  <ion-tabs>
    <ion-tab-bar slot="bottom" [class.hidden]="!activeTabs()">
      <ion-tab-button (click)="gotoLink(tab.link)" *ngFor="let tab of tabsList">
      <ion-icon class="icon-tab" [ngClass]="{'active': getColorActive(tab.link)}"
        name="{{tab.icon}}{{active(tab.link) ? '' : '-outline'}}"></ion-icon>
      <ion-text [ngClass]="{'active': getColorActive(tab.link)}">{{tab.label}}</ion-text>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>