ion-tab-bar {
  height: 4rem;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

ion-text {
  font-size: 0.8rem;
  color: #666;
  &.active {
    color: var(--ion-color-primary);
  }
}

.icon-tab {
  font-size: 1.7rem;
  color: #666;
  &.active {
    color: var(--ion-color-primary);
  }
}
.hidden {
  display: none !important;
}