<ng-content></ng-content>
<div class="col align-self-center" >
  <div style="font-weight: 700">{{extension?.extension_number}}</div>
  <div>Ngày hết hạn: {{extension?.expires_at | date:'dd/MM/yyyy'}}</div>
</div>
<div class="col align-self-center" >
  <div>{{extension?.hotline?.name}}</div>
  <div>{{extension?.hotline?.hotline}}</div>
</div>
<div class="col align-self-center">
  <div *ngIf="!extension?.relationship">-</div>
  <div *ngIf="extension?.relationship">
    <mat-icon class="mr-2">account_circle</mat-icon>
    {{extension?.relationship?.full_name}}
  </div>
</div>
