<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Thu chi</ion-title>
    </ion-toolbar>
    <etop-network-status></etop-network-status>
  </ion-header>
  <shop-subscription-warning></shop-subscription-warning>
  <ion-content>
    <ion-refresher *ngIf="status?.connected" slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
    <div class="h-100" *ngIf="!viewDisconnect">
      <div class="receipt-list">
        <div class="receipt-item" *ngFor="let receipt of receipts">
          <div class="box" (click)="receiptDetail(receipt)">
            <div class="ion-flex ion-align-items-center">
              <ion-icon *ngIf="receipt.ledger_type == 'cash'" name="cash-outline" style="font-size: 2rem"></ion-icon>
              <ion-icon *ngIf="receipt.ledger_type == 'bank'" name="card-outline" style="font-size: 2rem"></ion-icon>
              <div class="receipt-info ion-padding-horizontal font-13">
                <span class="font-bold">{{receipt?.trader?.full_name || '-'}}</span>
                <div class="text-medium font-11">
                  <span>{{receipt?.code}} - </span><span>{{receipt?.created_at | date: 'HH:mm dd/MM/yy'}}</span>
                </div>
              </div>
              <div class="receipt-price font-bold" style="margin-left: auto">
                {{receipt?.amount | vnd}}đ
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="empty-state ion-text-center h-100 ion-flex ion-align-items-center" *ngIf="receipts?.length == 0">
        <div class="ion-text-center w-100" *ngIf="loading">
          <div class="items-list-row" style="padding: 0" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
            <etop-ion-skeleton></etop-ion-skeleton>
          </div>
        </div>
        <ion-text class="w-100" *ngIf="receipts?.length == 0 && !loading">
          Bạn chưa có phiếu thu chi nào!
        </ion-text>
      </div>
    </div>
    <etop-network-disconnect *ngIf="viewDisconnect"></etop-network-disconnect>
  </ion-content>
</div>
