.product-img {
  width: 44px;
  height: 44px;
  min-width: 44px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}

.create-receipt {
  font-size: 24px;
  margin-right: 5px;
}

.receipt-item {
  background: #ffffff;
  padding: 10px 16px;
  border-bottom: 1px solid #f5f5f5;
}
