<div class="modal-header p-4">
  <h5 class="modal-title w-100 text-center">Tạo lệnh rút tiền</h5>
  <button type="button" class="close">
    <span aria-hidden="true" style="font-size: 20px;" (click)="close()">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <div class="p-4">
    <etop-material-input placeholder="Số tiền cần rút" textLabel="Số tiền cần rút" appearance="outline"
                         [(ngModel)]="amount" type="input">
    </etop-material-input>
  </div>
  <div class="border-top border-bottom bg-gray p-4" *ngIf="bankAccount">
    <div class="row">
      <div class="col">
        <span>Số dư khả dụng</span>
        <h4 class="font-weight-bold mt-3">
          6.176.871đ
        </h4>
      </div>
      <div class="col">
        <span>Tài khoản ngân hàng hưởng</span>
        <div class="mt-2">
          <span class="font-weight-bold">{{bankAccount.name}} - {{bankAccount.province}}</span>
          <div class="font-weight-bold">{{bankAccount.account_name}} - {{bankAccount.account_number}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top border-bottom bg-gray p-4 text-center" *ngIf="!bankAccount">
    <span>Bạn chưa thiết lập tài khoản ngân hàng</span>
  </div>
  <div class="action text-right p-4">
    <button class="btn btn-default btn-outline" (click)="close()">Đóng</button>
    <button class="btn btn-primary ml-3" *ngIf="bankAccount">Tạo lệnh rút tiền</button>
  </div>
</div>
