<ng-container *ngIf="(activeFbUser$ | async)?.customer; else empty">
  <div class="info-item">
    <div class="title">Email</div>
    <div class="info">
      {{ (activeFbUser$ | async)?.customer?.email || '-' }}
    </div>
  </div>

  <div class="info-item">
    <div class="title">Giới tính</div>
    <div class="info">
      {{ genderMap((activeFbUser$ | async)?.customer?.gender) }}
    </div>
  </div>

  <div class="info-item">
    <div class="title">Ngày sinh</div>
    <div class="info">
      {{ ((activeFbUser$ | async)?.customer?.birthday | date: 'dd/MM/yyyy') || '-' }}
    </div>
  </div>

  <div class="info-item">
    <div class="title">Địa chỉ</div>
    <div class="info">
      {{ mapAddress(customerAddress$ | async) }}
    </div>
  </div>

  <div class="info-item">
    <div class="title">Ghi chú</div>
    <div class="info">
      {{ (activeFbUser$ | async)?.customer?.note || '-' }}
    </div>
  </div>

  <div class="info-item text-right">
    <button class="btn btn-outline btn-primary" (click)="showCustomerModal('update')">
      Chỉnh sửa
    </button>
  </div>
</ng-container>

<ng-template #empty>
  <div class="info-item">
    <div class="title">Email</div>
    <div class="info">
      {{ (activeFbUser$ | async)?.customer?.email || '-' }}
    </div>
  </div>

  <div class="info-item">
    <div class="title">Giới tính</div>
    <div class="info">
      {{ genderMap((activeFbUser$ | async)?.customer?.gender) }}
    </div>
  </div>

  <div class="info-item">
    <div class="title">Ngày sinh</div>
    <div class="info">
      {{ ((activeFbUser$ | async)?.customer?.birthday | date: 'dd/MM/yyyy') || '-' }}
    </div>
  </div>

  <div class="info-item">
    <div class="title">Địa chỉ</div>
    <div class="info">
      {{ (activeFbUser$ | async)?.customer?.address || '-' }}
    </div>
  </div>

  <div class="info-item">
    <div class="title">Ghi chú</div>
    <div class="info">
      {{ (activeFbUser$ | async)?.customer?.note || '-' }}
    </div>
  </div>

  <div class="info-item text-right">
    <button class="btn btn-outline btn-primary" (click)="showCustomerModal('create')">
      Thêm thông tin
    </button>
  </div>
</ng-template>



