<ng-container *ngIf="isAtEtop; else iTopx">
  <iframe src="https://dathang.eorder.vn/" width="100%" height="100%" frameBorder="0"></iframe>
</ng-container>
<ng-template #iTopx>
  <iframe src="https://dathang.eorder.vn/#/register?ref=BI00008" width="100%" height="100%" frameBorder="0"></iframe>
</ng-template>

