.table-responsive {
  overflow: visible;
  tr {
    &.table-head {
      th {
        color: #9f9f9f;
        text-transform: uppercase;
      }
    }
  }

  th, td {
    padding: 5px 15px;
  }

  td {
    font-size: 1rem;
  }
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.setting-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.setting-header, .setting-body {
  border-bottom: 1px solid var(--border-gray-color);
}

.setting-header, .setting-body, .setting-footer {
  padding: 1.5rem;
}

.note {
  padding: .5rem 0;
  text-align: left;
}

//new css
.menu-list {
  padding: 0 1rem;
}
.menu-list li {
  display: block;
  font-size: 1.2rem;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  cursor: pointer;
  font-weight: 700px;
  &.active {
    background-color: #f5f5f5;
    border-radius: 0.4rem;
    color: var(--primary-color);
  }
  &:first-child {
    font-weight: bold;
  }
}

.shop-logo {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #eee;
}

.divider {
  background-color: var(--border-gray-color);
  height: 1px;
  margin: 2rem;
  width: 70%;
}

.shop-name, .account-name {
  font-size: 1.4rem;
}

.setting-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
