.customer-item {
  background: #ffffff;
  border-bottom: 8px solid #f5f5f5;
  min-height: 56px;
  padding: 8px 16px;

  &:first-child {
    border-top: 8px solid #f5f5f5;
  }
}

:host {
  font-size: 12px;
}

.call-icon {
  border: 1px solid;
  border-radius: 50%;
  padding: 3px;
  font-size: 8px;
  margin-right: 10px;
}

.contact {
  min-width: 110px;
}

.group-filter {
  display: flex;
  align-items: center;
  position: relative;

  .filter {
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  .count-filter {
    position: absolute;
    top: -0.1rem;
    right: 0;
    height: 1.1rem;
    width: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--ion-color-primary);

    .count {
      font-size: 0.7rem;
      color: #fefefe;
    }
  }
}


.customer-avatar {
  width: 2.2rem;
  min-width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

ion-infinite-scroll {
  position: fixed;
}

.button-icon {
  min-width: fit-content;
  background: var(--ion-color-primary);
  color: white;
  border-radius: 20px;
  padding: 0 1rem 0 0.75rem;
  min-height: 2.2rem;
  margin-right: 0.25rem;
  ion-icon {
    font-size: 1.2rem;
  }
  ion-text {
    font-size: 0.9rem;
  }
}

ion-header {
  border-bottom: 1px solid #eee;
}
