<td class="font-weight-bold">{{admin?.full_name}}</td>
<td class="text-default">{{admin?.email}}</td>
<td>{{admin?.roles_display}}</td>
<td class="text-right" style="max-width: 8rem;" *ngIf="!isAdminSelf">
  <shared-dropdown-actions
    [dropdownActions]="dropdownActions" [rightSide]="true">
  </shared-dropdown-actions>
</td>
