.fp-logo {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

  img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.fanpage-item {
  border-bottom: 1px solid #eee;
}

.loading {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}

.connect-to-facebook-fanpage-command {
  color: #007bff;
  padding-right: 10px;
}

.connect-to-facebook-fanpage-btn {
  width: 13rem;
  border-radius: 5px;
  cursor: pointer;
}

.no-fanpage-announcement {
  width: 190px;
  margin-left: 20px;
}
