<div class="row mt-4" *ePermissions="['facebook/fanpage:view']">
  <div class="col-12">
    <div class="box setting-box">
      <div class="setting-header">Danh sách fanpage</div>
      <div class="setting-body p-0">
        <ng-container *ngIf="loading; else loaded">
          <div class="loading">
            <i class="fa fa-spin fa-circle-o-notch text-primary"></i>
          </div>
        </ng-container>
        <ng-template #loaded>
          <etop-empty *ngIf="!pages.length" class="mb-5">
            <div class="empty-title mt-5 text-center">
              <img src="/assets/images/no-fanpage-logo.jpg" class="mb-2" width="100px" alt="no-fanpage-logo" >
              <h5 style="opacity: 0.7">Cửa hàng của bạn chưa có Fanpage nào được kết nối</h5>
            </div>
            <div class="empty-action mt-3" *ngIf="checkPermission()">
              <h5 class="text-center text-primary">Kết nối Fanpage</h5>
              <img class="connect-to-facebook-fanpage-btn" src="/assets/images/connect-to-facebook-fanpage-btn.png" alt="connect-more-facebook-fanpage" (click)="connectFB()">
            </div>
          </etop-empty>
          <div class="list-fanpage" *ngIf="pages.length">
            <div
              *ngFor="let page of pages; last as isLast; let i = index;"
              class="fanpage-item d-flex align-items-center py-3 px-4" [class.border-0]="isLast">
              <div class="fp-logo mr-3">
                <img [imageLoader]="page.external_image_url" src="assets/images/placeholder_medium.png" alt="logo">
              </div>
              <div class="fp-name">
                <h5 class="m-0">{{page.external_name}}</h5>
                <span [ngClass]="{'text-success': page.connection_status == 'P', 'text-danger': page.connection_status == 'N'}">
                  <i
                    class="fa fa-circle mr-2 text-small"
                    [ngClass]="{'text-success': page.connection_status == 'P', 'text-danger': page.connection_status == 'N'}"></i>
                    {{page.connection_status_display}}
                </span>
              </div>
              <i class="fa fa-trash ml-auto text-bigger cursor-pointer" *ePermissions="['facebook/fanpage:delete']" (click)="confirmRemovePage(page, i)"></i>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="setting-footer" *ngIf="pages.length && !loading && checkPermission()">
        <div class="connect-to-facebook-fanpage-command">Kết nối thêm Fanpage</div>
        <img class="connect-to-facebook-fanpage-btn" src="/assets/images/connect-to-facebook-fanpage-btn.png" alt="connect-more-facebook-fanpage" (click)="connectFB()">
      </div>
    </div>
  </div>
</div>
