.nav-tabs {
  li {
    border-right: 2px solid #FFF;
    border-left: 0;
    a {
      padding: 1.5rem 2rem;
      min-height: auto;
      color: var(--default-color);
      &:hover {
        color: var(--default-color);
      }

      &.active {
        border-bottom: 2px solid var(--primary-color) !important;
        color: var(--primary-color) !important;
      }
    }
    
  }
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}