<div class="modal-body p-0">
  <ul class="nav nav-tabs">
    <li *ngFor="let item of desc; first as isFirst"><a data-toggle="tab" [ngClass]="{'active': isFirst}"
        href="#{{item.id}}">{{item.title}}</a></li>
    <button type="button" class="close ml-auto pr-4">
      <span aria-hidden="true" style="font-size: 20px;" (click)="close()">&times;</span>
    </button>
  </ul>

  <div class="tab-content p-3">
    <div id="{{item.id}}" class="tab-pane" [ngClass]="{'active': isFirst}" *ngFor="let item of desc; first as isFirst">
      <div style="height: 700px">
        <iframe [src]="item.content" width="100%" class="h-100"
          frameBorder="0" *ngIf="item.content"></iframe>
          <div *ngIf="!desc[0].title" class="position-center">
            <img src="assets/images/undercons-small.png" alt="banner" class="w-100">
            <h3 class="text-center">Đang cập nhật mô tả cho sản phẩm này!</h3>
          </div>
      </div>
    </div>
    
  </div>

</div>
