.border-bottom {
  border-bottom: 1px solid var(--ion-color-light-shade);
}
.item-input {
  padding: 0 16px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  ion-input::ng-deep {
    border-bottom: 1px solid #ccc;
    .native-input {
      padding: 0.4rem 0 !important;
    }
  }
}

.product-content {
  padding: 1rem;
  .product-name {
    font-size: 14px;
    font-weight: bold;
  }
}

.product-quantity {
  padding: 1rem;
}

.total-quantity {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.warning-icon {
  background: var(--ion-color-warning);
  color: white;
  border-radius: 50px;
  margin-right: 0.5rem;
}
.modal-footer {
  padding: 1rem;
  border-top: 1px solid var(--ion-color-medium-tint);
}

.is-invalid {
  border: 1px solid var(--ion-color-danger-shade);
  --placeholder-color: var(--ion-color-danger-shade);
  --placeholder-opacity: 1;
  color: var(--ion-color-danger-shade)!important;
}

.e-border-bottom {
  border-bottom: 1px solid #eee;
}

.product-image-modal {
  width: 44px;
  border-radius: 5px;
  border: 1px solid #eee;
  height: 44px;
  object-fit: cover;
}

.fix-line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-checkout {
  padding: 3px 10px;
  font-size: 12px;
}

.note {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  padding: .5rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.close-btn {
  position: absolute;
  right: 1rem;
  font-size: 1.6rem;
}

.bg-etop{
  background-color: var(--primary-color);
}
