/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.barcode{
    text-align:center;
}

*:empty.skeleton {
    animation: loading 1.7s infinite linear;
    background: #dedfe1;
    background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
    background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
    background-repeat: no-repeat;
    height: 1rem;
    border-radius: 5px;
}

@keyframes loading {
    0% {
    background-position: -100px;
    }

    100% {
    background-position: 200px;
    }
}

.body {
    color: #222222
}

* {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

::placeholder {
  font-size: 14px;
}

@media screen and (max-width: 1300px) {
  * {
    font-size: 13px;
  }

  ::placeholder {
    font-size: 13px;
  }
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 12px;
  }

  ::placeholder {
    font-size: 12px;
  }
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1rem 0!important;
    line-height: 1.25rem !important;
}
.dashboard-filter {
  .md-drppicker {
    width: max-content;
    .ranges {
      width: 20.7rem !important;
    }
    .calendar.left {
      clear: none!important;
    }
  }
  .md-drppicker.ltr {
    .calendar, .ranges {
      float: left !important;
    }
  }
  
  .md-drppicker.double {
    width: max-content !important;
  }
}


  