:host {
  background: var(--ion-color-white);
}
.page-content {
  position: relative;
}
.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.6rem;
  transform: translate(-8px, 60%);
}
.title {
  padding: 1rem 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 1.5rem;
}
.group-title {
  background: var(--ion-color-light);
  padding: 1rem;
}
.footer-button-item {
  padding: 16px;
  background: var(--ion-color-light);
  font-weight: 600;
}
ion-item {
  --border-color: #eee;
  --min-height: unset;
}
ion-input {
  font-size: 15px;
  color: #555;
  font-weight: 600;
}
.customer-note {
  font-size: 1.2rem;
  .full-name {
    font-size: 1.2rem;
  }
}
