<div class="page-content">
  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">TÊN</th>
          <th scope="col">SỐ ĐIỆN THOẠI</th>
          <th scope="col" class="text-left">EMAIL</th>
          <th style="width: 120px"></th>
          <th scope="col" class="text-left">NGÀY THAM GIA</th>
          <th scope="col" class="text-right">SỐ ĐƠN</th>
          <th scope="col" class="text-right">TỔNG DOANH THU</th>
          <th scope="col" class="text-right">BẠN ĐÃ NHẬN</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aff of affList">
          <td>{{aff.name}}</td>
          <td class="font-weight-bold">{{aff.phone}}</td>
          <td>{{aff.email}}</td>
          <td></td>
          <td>{{aff.created_at | date: "dd/MM/yyyy"}}</td>
          <td class="font-weight-bold text-right">
            <i class="fa fa-minus"></i>
          </td>
          <td class="font-weight-bold text-right"><i class="fa fa-minus"></i></td>
          <td class="font-weight-bold text-right text-tertiary"><i class="fa fa-minus"></i></td>
        </tr>
        <tr *ngIf="!affList || affList?.length == 0">
          <td colspan="8" class="text-center" style="background: rgba(236, 240, 241,0.3)">Chưa có cộng tác viên</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<aff-guide-link [handle]="handle"></aff-guide-link>