<div class="modal-header">
  <h5 class="modal-title">Đăng nhập nhà vận chuyển</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>
    Đăng nhập nhà vận chuyển <strong>{{connection?.name_display | uppercase}}</strong>
  </label>
  <div class="py-2">
    <etop-material-input
      placeholder="Nhập user ID*" textLabel="User ID*" type="input"
      [(ngModel)]="user_id">
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-input
      placeholder="Nhập token*" textLabel="Token*" type="input"
      [(ngModel)]="token">
    </etop-material-input>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button
    class="btn btn-primary text-white" (click)="confirm()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>
