<div class="modal-header">
  <div class="modal-title big-font">
    Chỉnh sửa trạng thái đơn giao hàng <span class="big-font text-primary">{{ffm?.shipping_code}}</span>
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <div class="row mt-2">
      <div class="col-6 py-2">
        <etop-material-input type="custom" textLabel="Trạng thái hiện tại" [disabled]="true">
          <span class="read-only order-status order-{{ffm?.shipping_state}}">{{ffm?.shipping_state_display}}</span>
        </etop-material-input>
      </div>
      <div class="col-6 py-2">
        <etop-material-input
          [optionSelect]="shippingStates"
          type="select" textLabel="Trạng thái mới" placeholder="Chọn trạng thái mới"
          [(ngModel)]="shipping_state">
        </etop-material-input>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <etop-material-input
      [maxRow]="4" type="text-area" textLabel="Lý do cập nhật" placeholder="Nhập lý do cập nhật"
      [(ngModel)]="admin_note">
    </etop-material-input>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button class="btn btn-primary text-white" (click)="confirm()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>

