<div class="page-content no-print pb-0">
  <div class="page-wrapper">
    <etop-table
      #fulfillmentTable
      [items]="fulfillmentList" [topship]="true"
      (requestNewPage)="loadPage($event)"
      [show_paging]="fulfillmentList.length > 0 && showPaging && !forcedHidePaging">
      <ng-template #header let-liteMode="liteMode">
        <div class="col" style="max-width: 50px;" *ngIf="fulfillmentType == 'shipment'">
          <input class="input-custom" type="checkbox" [checked]="checkAll" (click)="allItemSelected()"/>
        </div>
        <div class="col" style="min-width: 17.5%;">
          <span class="table-header-text">Mã giao hàng</span>
        </div>
        <div class="col" *ngIf="fulfillmentType == 'shipnow'">
          <span class="table-header-text">Số đơn hàng</span>
        </div>
        <div class="col">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <ng-container *ngIf="fulfillmentType == 'shipment' && !liteMode">
          <div class="col">
            <span class="table-header-text">Người nhận</span>
          </div>
          <div class="col">
            <span class="table-header-text">Khu vực</span>
          </div>
          <div class="col text-left">
            <span class="table-header-text">Khai báo</span>
          </div>
        </ng-container>
        <div class="col text-left">
          <span class="table-header-text">COD</span>
        </div>
        <div *ngIf="!liteMode" class="col text-left">
          <span *ngIf="fulfillmentType == 'shipment'" class="table-header-text">Tổng cước phí</span>
          <span *ngIf="fulfillmentType == 'shipnow'" class="table-header-text">Phí vận chuyển</span>
        </div>
        <div *ngIf="fulfillmentType == 'shipment' && !liteMode" class="col">
          <span class="table-header-text">Đối soát</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <etop-empty-page [title]="emptyTitle" [type]="emptyType" [actions]="emptyAction"
          description="Bạn có thể tạo đơn giao hàng kèm theo đơn hàng tại POS hoặc Import đơn giao hàng từ file Excel.">
        </etop-empty-page>
      </ng-template>

      <ng-template #item let-ffm="item" let-liteMode="liteMode">
        <div
          topship-fulfillment-row class="row table-row" [class.active]="ffm?.p_data?.detailed || ffm?.p_data?.selected"
          [fulfillment]="ffm" [liteMode]="liteMode" (click)="detail($event, ffm)">
          <div class="col align-self-center" style="max-width: 50px;" *ngIf="fulfillmentType == 'shipment'">
            <input
              class="input-custom" type="checkbox" [checked]="ffm?.p_data?.selected"
              (click)="itemSelected(ffm)" />
          </div>
        </div>
      </ng-template>
    </etop-table>
    <etop-side-slider #slider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center w-100">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            <shared-dropdown-actions [dropdownActions]="dropdownActions"></shared-dropdown-actions>
            <div class="tabs-container" *ngIf="showDetailFFM">
              <ng-container *ngFor="let tab of tabs">
                <div
                  *ngIf="showTab(tab)" class="tab" [class.active]="activeTab == tab?.value"
                  (click)="changeTab(tab?.value)">
                  {{ tab?.name }}
                </div>
              </ng-container>
            </div>
            <div class="address-box d-flex w-100" [matMenuTriggerFor]="menu" *ngIf="createNewOrder && fromAddresses?.length">
                <div class="d-flex flex-column justify-content-center">
                  <span class="address-label">Địa chỉ lấy hàng</span>
                  <div class="address-display fix-line-1">
                    {{addressDisplay(fromAddress)}}
                  </div>
                </div>
                <div class="ml-3 d-flex flex-column justify-content-center">
                  <i aria-hidden="true" class="fa fa-angle-down"></i>
                </div>
            </div>
            <div class="address-box d-flex w-100" *ngIf="createNewOrder && !fromAddresses?.length">
              <div class="d-flex flex-column justify-content-center">
                <span class="address-label">Địa chỉ lấy hàng</span>
                <div class="address-display fix-line-1 text-danger">
                 * Chưa có địa chỉ lấy hàng
                </div>
              </div>
              <div class="ml-auto d-flex flex-column justify-content-center text-primary">
                <div class="btn btn-primary" (click)="toSetting()">
                  Tạo địa chỉ
                </div>
              </div>
          </div>
            <mat-menu #menu="matMenu" class="w-100">
              <button mat-menu-item
                *ngFor="let address of fromAddresses; index as i"
                (click)="changeFromAddress(address)"
                [ngClass]="{'text-topship font-weight-bold': address.id == fromAddress.id}">
                {{addressDisplay(address)}}
              </button>
            </mat-menu>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng<mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>
      <ng-container *ngIf="createNewOrder; else actionsOrther">
        <topship-create-order></topship-create-order>
      </ng-container>
      <ng-template #actionsOrther>
        <ng-container *ngIf="showDetailFFM; else multipleFulfillments;">
          <topship-single-ffm-detail [ffm]="selectedFfms[0]"></topship-single-ffm-detail>
        </ng-container>
        <ng-template #multipleFulfillments>
          <topship-multiple-ffm-actions [ffms] = "selectedFfms"></topship-multiple-ffm-actions>
        </ng-template>
      </ng-template>
    </etop-side-slider>
  </div>
</div>
