.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.tabs-container {
  display: flex;
  height: 60px;
  margin-left: 15px;
}

.tab {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 13px;
  border-left: 1px solid var(--border-gray-color);
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  color: var(--dark-color);
  cursor: pointer;
  &.active {
    color: var(--topship-color);
    border-bottom: 3px solid var(--topship-color);
  }
  &:last-child {
    border-right: 1px solid var(--border-gray-color);
  }
}

.fix-line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}

.address-box {
  border-left: 1px solid var(--border-gray-color);
    margin-left: 1rem;
    padding-left: 1rem;
    height: 60px;
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid var(--border-gray-color);
    cursor: pointer;
    flex: 1;

  .address-display {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.address-label {
  opacity: 0.7;
  font-size: 0.9rem;
}
