.carrier-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  .connect-button {
    color: var(--ion-color-primary);
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &:last-child {
    border-bottom: none;
  }
  &.disabled {
    background: #fafafa;
    .profile-picture img {
      filter: grayscale(1);
    }
    .connect-button {
      color: #888;
      font-size: 12px;
      width: unset;
      height: unset;
    }
  }
}
