<div class="w-100">
  <div class="card-header">
    <div class="d-flex align-items-center card-header-item">
      <div class="flex-grow-1 text-primary font-weight-bold header-title">
        NHÀ CUNG CẤP
      </div>
    </div>
  </div>
  <div class="p-3 font-weight-bold">
    {{purchase_order?.supplier?.full_name}} - {{purchase_order?.supplier?.phone}}
  </div>
</div>
<div class="w-100">
  <div class="card-header">
    <div class="d-flex align-items-center card-header-item">
      <div class="flex-grow-1 font-weight-bold text-primary header-title">
        ĐƠN NHẬP HÀNG
      </div>
    </div>
  </div>
  <div class="card-body bg-white">
    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">Mã</div>
      <div>
        <span class="font-weight-bold text-right text-primary">{{purchase_order?.code}}</span>
      </div>
    </div>

    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">Tiền hàng</div>
      <div>
        <span class="font-weight-bold text-right">{{(purchase_order?.p_data?.basket_value || 0) | vnd }}đ</span>
      </div>
    </div>

    <div class="info-section e-border-bottom row-discount">
      <div class="flex-grow-1" *ngIf="!isNew">Giảm giá</div>
      <div class="flex-grow-1" *ngIf="isNew">
        <select [(ngModel)]="discount_calc_type" (ngModelChange)="discountCalcTypeChange()"
                class="label-select" placement="bottom" ngbTooltip="Chọn hình thức giảm giá">
          <option value="1">Giảm giá (đ)</option>
          <option value="2">Giảm giá (%)</option>
        </select>
      </div>
      <div style="width: 11rem;" *ngIf="isNew">
        <etop-currency-input
          class="w-100 text-primary"
          placeholder="Nhập giảm giá" classInner="text-primary input-pos" inputClass="pr-0 border-0"
          [posfixText]="discountPercent ? '%' : 'đ'" [rulesFree]="true"
          [(ngModel)]="purchase_order.p_data.total_discount" (ngModelChange)="updateTotalAmount()">
        </etop-currency-input>
      </div>
      <div>
        <span class="font-weight-bold text-right" *ngIf="!isNew">
          {{(purchase_order?.total_discount || 0) | vnd }}đ
        </span>
      </div>
    </div>

    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">Phải thanh toán</div>
      <div>
        <span class="font-weight-bold text-right">
          {{(purchase_order?.p_data?.total_amount || 0) | vnd }}đ
        </span>
      </div>
    </div>
    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">Đã thanh toán</div>
      <div>
        <span class="font-weight-bold text-right">
          {{(purchase_order?.paid_amount || 0) | vnd }}đ
        </span>
      </div>
    </div>

    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">
        <span>Nợ nhà cung cấp</span>
      </div>
      <div>
        <span class="font-weight-bold text-right">{{ supplierDebt | vnd }}đ</span>
      </div>
    </div>
    <div class="info-section e-border-bottom">
      <div class="flex-grow-1 d-flex align-items-center" (click)="purchaseOrderNote.focus()">
        <span>Ghi chú</span>
      </div>
      <div class="w-50" *ngIf="isNew">
        <input
          #purchaseOrderNote type="text" style="height: 30px;" placeholder="Nhập ghi chú"
          class="input-pos w-100 font-weight-bold text-primary text-right" [(ngModel)]="purchase_order.p_data.note" />
      </div>
      <div *ngIf="!isNew">
        <span class="text-right">{{ purchase_order?.note}}</span>
      </div>
    </div>
    <div class="info-section e-border-bottom" *ngIf="!isNew">
      <div class="flex-grow-1">
        <span>Trạng thái</span>
      </div>
      <div>
        <span class="text-right order-status order-{{purchase_order?.status}}">
          {{ purchase_order?.status_display}}
        </span>
      </div>
    </div>
    <div class="buttons d-flex" *ngIf="isNew">
      <button
        *ePermissions="['shop/purchase_order:update']"
        class="btn btn-outline btn-primary" style="width: 35%;"
        [disabled]="loading" (click)="update(false)">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && !updateAndConfirm"></i>
        Cập nhật
      </button>
      <button
        *ePermissions="['shop/purchase_order:confirm']"
        class="btn btn-primary ml-3" style="width: 65%;"
        [disabled]="loading" (click)="update(true)">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && updateAndConfirm"></i>
        Xác nhận
      </button>
    </div>
  </div>
</div>
