.table-responsive {

    padding-left: 20px;
    th{
      padding: 20px 15px;
      font-size: 1rem;
    }
    td{
        padding: 10px 15px;
        font-size: 1.25rem;
    }
  }

  table {
    width: 100%;
  }
  
  etop-table {
    padding-left: 20px;
    &::ng-deep .table-row {
      cursor: default;
    }
  }