.collapse-wr {
  .btn-toggle {
    display: flex;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 700;
    color: var(--light-color);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    i {
      font-size: 2rem;
      color: var(--light-color);
      opacity: 0.5;
      transition: all .5s;

      &.rotate180 {
        transform: rotate(-180deg);
      }
    }
  }
  .hidden {
    display: none;
  }
}
