<div class="collapse-wr pr-3">
  <div class="btn-toggle" (click)="handleToggleShow()">
    {{ title }}
    <i
      class="fa fa-angle-down"
      [ngClass]="{
        'rotate180': show
      }"
    ></i>
  </div>
  <div class="collapse-content" [class.hidden]="!show">
    <ng-content></ng-content>
  </div>
</div>