<ng-container *ngIf="currentView(step.EDIT)">
  <div class="d-flex justify-content-between mb-4 align-items-center">
    <h4 class="font-bold text-center w-100">Chỉnh sửa thông tin đơn hàng {{data.fulfillment?.shipping_code}}</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <mat-dialog-content class="mat-typography p-0 e-border-top e-border-bottom" [formGroup]="noteForm">
    <div class="line d-flex align-items-center justify-content-center">
      <mat-icon>comment_bank</mat-icon>
      Thay đổi ghi chú
    </div>
    <div class="list-content">
      <div class="item">
        <etop-material-input placeholder="Ghi chú giao hàng" textLabel="Ghi chú giao hàng" type="text-area"
          formControlName="shipping_note">
        </etop-material-input>
      </div>
      <div class="item">
        <etop-material-input [optionSelect]="tryOnOptions" type="select" textLabel="Ghi chú xem hàng"
          placeholder="Ghi chú xem hàng" formControlName="try_on" [valueMap]="valueMap">
        </etop-material-input>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="py-4">
    <button class="btn btn-default btn-outline mr-3" mat-dialog-close>Đóng</button>
    <button class="btn btn-primary" (click)="confirmStep()" cdkFocusInitial>Tiếp tục</button>
  </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="currentView(step.CONFIRM)">
  <div class="d-flex justify-content-between mb-4 align-items-center">
    <h4 class="font-bold text-center w-100">Chỉnh sửa thông tin đơn hàng {{data.fulfillment?.shipping_code}}</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <mat-dialog-content class="mat-typography p-0 e-border-top e-border-bottom" [formGroup]="noteForm">
    <div class="line d-flex align-items-center justify-content-center mb-0">
      <mat-icon>beenhere</mat-icon>
      Xác nhận thay đổi thông tin
    </div>
    <div class="list-content e-border-bottom py-4">
      <div class="title">
        Ghi chú giao hàng
      </div>
      <div class="">
        <div class="box-item">
          <label class="text-default">Ghi chú cũ</label>
          <div class="detail d-flex justify-content-between mr-5">
            <div>{{data.fulfillment.shipping_note || '-'}}</div>
          </div>
        </div>
        <div class="box-item mt-3">
          <label class="text-default">Ghi chú mới</label>
          <div class="detail text-primary font-weight-bold">{{noteForm.controls['shipping_note'].value}}</div>
        </div>
      </div>
    </div>
    <div class="list-content e-border-bottom py-4">
      <div class="title">
        Ghi chú xem hàng
      </div>
      <div class="d-flex">
        <div class="box-item w-50">
          <label class="text-default">Ghi chú cũ</label>
          <div class="detail d-flex justify-content-between align-items-center mr-5">
            <div>{{getTryOn(data.fulfillment.try_on)}}</div>
            <span style="font-size: 16px">→</span>
          </div>
        </div>
        <div class="box-item w-50">
          <label class="text-default">Ghi chú mới</label>
          <div class="detail text-primary font-weight-bold">{{getTryOn(noteForm.controls['try_on'].value)}}</div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="py-4">
    <div class="shpping-fee d-flex mr-4">
      <div class="fee-item border-right pr-4 mr-4">
        Phí cũ: <strong>{{data.fulfillment?.shipping_fee_shop | vnd}}đ</strong>
      </div>
      <div class="fee-item d-flex align-items-center">
        <div class="mr-2">Phí dự kiến: </div>
        <div class="skeleton" style="width: 50px" *ngIf="loadingContinue"></div>
        <strong class="text-primary" *ngIf="!loadingContinue && !!shipping_fee">{{shipping_fee | vnd}}đ</strong>
        <strong class="text-primary" *ngIf="!loadingContinue && !shipping_fee"> - </strong>
      </div>
    </div>
    <button class="btn btn-default btn-outline mr-3" (click)="back()">Quay lại</button>
    <button class="btn btn-primary" [disabled]="loadingConfirm || loadingContinue" (click)="submit()" cdkFocusInitial>
      <i class="fa fa-spinner fa-spin mr-2" *ngIf="loadingConfirm"></i>Xác nhận</button>
  </mat-dialog-actions>
</ng-container>
