.btn-checkout {
  padding: 3px 10px;
  font-size: 10px;
}

.product-image {
  width: 100%;
  padding-bottom: 100%;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 5px 5px 0 0;
}

.product-name {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  height: 36px;
  opacity: 0.8;
  font-size: 13px;
  font-weight: bold;
}

.description {
  position: relative;
  overflow: hidden;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  min-height: 50px;
  opacity: 0.6;
}

.product-payment {
  color: var(--dark-color);
  min-height: 58px;
}