<div class="trading-box" (click)="gotoDetail()" style="cursor: pointer">
  <div class="product-content">
    <div class="product-image"
      [ngStyle]="{'background': 'url(' + product.product.image_urls[0] || 'assets/images/placeholder_medium.png' + ')'}">
    </div>
    <div class="p-4">
      <div class="product-name" style="-webkit-box-orient: vertical">
        {{product.product.name}}
      </div>
    </div>
  </div>

  <div class="product-payment border-top d-flex align-items-center p-3 pl-4 pr-4">
    <div class="price">
      <span class="font-weight-bold font-13">{{product.product.retail_price | vnd}}đ</span>
      <div *ngIf="product.promotion">Hoàn {{product.promotion.amount}}%
        (<strong>{{(product.product.retail_price * product.promotion.amount / 100) | vnd}}đ</strong>)</div>
    </div>
    <div class="ml-auto">
      <button class="btn btn-primary btn-outline btn-checkout" (click)="gotoDetail()">Đặt hàng</button>
    </div>
  </div>
</div>
