<div class="ion-page" id="posId">
  <ion-content>
    <ng-container *ngIf="!loading">
      <div class="header">
        <div class="announce-title">Tạo đơn hàng thành công</div>
        <img [src]="confirmStatusImg" alt="" class="announce-img">
        <div class="order-code">{{order?.code}}</div>
      </div>
      <div class="warning-section" *ngIf="hasError">
        <span style="width: 70%">Có lỗi xảy ra khi xác nhận đơn hàng</span>
        <button class="btn btn-warning" (click)="retryConfirm()">Thử lại</button>
      </div>
      <div class="info-section">
        <div class="order-info">
          <ion-row ><div class="title">Khách hàng</div></ion-row>
          <ion-row class="w-100 default-info" >
            <ion-col >
              <div><ion-text class="small-font">Tên</ion-text></div>
              <div><ion-text class="larg-font">{{order?.customer?.full_name}}</ion-text></div>
            </ion-col>
            <ion-col *ngIf="order?.customer?.phone">
              <div><ion-text class="small-font">Số điện thoại</ion-text></div>
              <div><ion-text ><a class="larg-font" href="tel:{{order?.customer?.phone}}">{{order?.customer?.phone}}</a></ion-text></div>
            </ion-col>
          </ion-row>
          <ng-container *ngIf="!ffm">
            <ion-row ><div class="title">Thanh toán</div></ion-row>
            <ion-row class="w-100" >
              <ion-col >
                <div><ion-text class="small-font">Phải thu</ion-text></div>
                <div><ion-text class="larg-font">{{order?.total_amount | vnd}}đ</ion-text></div>
              </ion-col>
              <ion-col >
                <div><ion-text class="small-font">Đã thu</ion-text></div>
                <div><ion-text class="larg-font">{{order?.received_amount | vnd}}đ</ion-text></div>
              </ion-col>
            </ion-row>
            <ion-row class="w-100" >
              <ion-col size="6">
                <div><ion-text class="small-font">Trạng thái</ion-text></div>
                <div class="ion-flex ion-align-items-center">
                  <ion-icon name="ellipse" class="small-font m-r-5 order-status {{order?.payment_status}}"></ion-icon>
                  <ion-text class="larg-font">{{ order?.payment_status_display }}</ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ng-container>
          <ng-container *ngIf="ffm">
            <ion-row class="title">Giao hàng</ion-row>
            <ion-row class="w-100" >
              <ion-col >
                <div><ion-text class="small-font">Mã giao hàng</ion-text></div>
                <div><ion-text class="larg-font">{{ffm?.shipping_code}}</ion-text></div>
              </ion-col>
              <ion-col >
                <div><ion-text class="small-font">Nhà vận chuyển</ion-text></div>
                <div class="ion-flex ion-align-items-center">
                  <ion-img class="connection-image" src="{{ffm?.shipping_provider_logo}}"></ion-img>
                  <ion-text class="larg-font">{{ffm?.carrier_display | uppercase}}</ion-text>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="w-100" >
              <ion-col >
                  <div><ion-text class="small-font">Thu hộ</ion-text></div>
                  <div><ion-text class="larg-font text-topship font-bold">{{ffm?.total_cod_amount | vnd}}đ</ion-text></div>
              </ion-col>
              <ion-col >
                <div><ion-text class="small-font">Phí vận chuyển</ion-text></div>
                <div><ion-text class="larg-font">{{ffm?.shipping_fee_shop | vnd}}đ</ion-text></div>
              </ion-col>
            </ion-row>
          </ng-container>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="btn btn-primary btn-outline" (click)="newOrder()">Tạo đơn mới</button>
        <button class="btn btn-default btn-outline" (click)="viewOrders()">Xem danh sách đơn hàng</button>
      </div>
    </ng-container>
  </ion-content>
</div>
