:host {
  width: 100%;
}

.overflow-text {
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.half-row {
  margin-left: -7px;
  margin-right: -7px;
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.add-address {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.number-input {
  color: var(--topship-color);
}

.full-info {
  display: flex;
  align-items: center;
  justify-content: center;
  .fa-info-circle {
    font-size: 1.2rem;
  }
  .fa-pencil-square-o {
    margin-left: .5rem;
    position: relative;
    top: 1px;
    font-weight: 700;
  }
}

.full-info-tooltips {
  .full-info-label, .full-info-value {
    font-size: .8rem;
  }
  .full-info-label {
    text-align: left;
    width: 35%;
  }
  .full-info-value {
    width: 65%;
    font-weight: 700;
    text-align: left;
  }
}
