<ng-container *ngIf="processingData; else endProcess;">
  <div class="d-flex align-items-center">
    <i class="fa fa-spin fa-circle-o-notch"></i>
  </div>
</ng-container>
<ng-template #endProcess>
  <ng-container *ngIf="noAddress(order); else hasAddress;">
    <span class="text-topship add-address" (click)="createNewAddress(order)">Bổ sung địa chỉ giao hàng</span>
  </ng-container>
  <ng-template #hasAddress>
    <ng-container *ngIf="noWeight(order); else hasWeight;">
      <span class="text-topship add-address" (click)="editMoreInfo()">
        Bổ sung khối lượng
      </span>
      <span>hoặc áp dụng khối lượng chung cho tất cả đơn hàng.</span>
    </ng-container>
    <ng-template #hasWeight>
      <div class="row flex-grow-1 half-row position-relative">
        <div class="col-3">
          <etop-material-input-format-number
            formatNumberUnit="đ" textLabel="COD" placeholder="Nhập COD" [topshipInput]="true"
            [error]="errorCOD" [(ngModel)]="order.p_data.shipping.cod_amount" (blur)="onChangeCOD()">
          </etop-material-input-format-number>
        </div>
        <div class="col-4">
          <etop-material-input textLabel="Địa chỉ giao hàng" type="custom">
            <span
              class="overflow-text" (click)="editShippingAddress(order)">
              {{order?.p_data?.shipping?.shipping_address?.province | locationCompact}},
              {{order?.p_data?.shipping?.shipping_address?.district | locationCompact}}
            </span>
          </etop-material-input>
        </div>
        <div class="col-4">
          <etop-material-input
            *ngIf="order?.p_data?.gettingServices" textLabel="Gói dịch vụ" type="custom">
            <span class="disabled">Đang tải ...</span>
          </etop-material-input>
          <etop-material-input
            *ngIf="!order?.p_data?.gettingServices" textLabel="Gói dịch vụ" placeholder="Chọn gói dịch vụ" type="select"
            [optionSelect]="order?.p_data?.services" matOptionHeight="4.5rem"
            [displayMap]="displayMap()" [topshipInput]="true"
            [(ngModel)]="order.p_data.selectedServiceCode" (ngModelChange)="onChangeShippingService(order)">
          </etop-material-input>
        </div>
        <div class="col-1 full-info">
          <i
            class="fa fa-info-circle cursor-pointer" tooltipClass="large-tooltips"
            [ngbTooltip]="orderFullInfo" placement="left" container="body">
          </i>
          <ng-template #orderFullInfo>
            <div class="full-info-tooltips">
              <div class="d-flex justify-content-start align-items-start">
                <span class="full-info-label">Địa chỉ giao hàng:</span>
                <span class="full-info-value">{{addressDisplay || '-'}}</span>
              </div>
              <div class="d-flex justify-content-start align-items-start">
                <span class="full-info-label">Thu hộ:</span>
                <span class="full-info-value">{{(order?.p_data?.shipping?.cod_amount | vnd)}}đ</span>
              </div>
              <div class="d-flex justify-content-start align-items-start">
                <span class="full-info-label">Gói dịch vụ:</span>
                <span class="full-info-value">{{(order?.p_data?.selectedService?.display_name | stripHTML) || '-'}}</span>
              </div>
              <div class="d-flex justify-content-start align-items-start">
                <span class="full-info-label">Khối lượng:</span>
                <span class="full-info-value" *ngIf="isUniData.chargeable_weight">
                  {{uniData?.chargeable_weight | vnd}}g
                </span>
                <span class="full-info-value" *ngIf="!isUniData.chargeable_weight">
                  {{order?.p_data?.shipping?.chargeable_weight | vnd}}g
                </span>
              </div>
              <div class="d-flex justify-content-start align-items-start">
                <span class="full-info-label">Ghi chú xem hàng:</span>
                <span class="full-info-value" *ngIf="isUniData.try_on">
                  {{tryOnDisplay(uniData?.try_on)}}
                </span>
                <span class="full-info-value" *ngIf="!isUniData.try_on">
                  {{order?.p_data?.shipping?.try_on_display}}
                </span>
              </div>
              <div class="d-flex justify-content-start align-items-start">
                <span class="full-info-label">Ghi chú giao hàng:</span>
                <span class="full-info-value" *ngIf="isUniData.shipping_note">
                  {{uniData.shipping_note || '-'}}
                </span>
                <span class="full-info-value" *ngIf="!isUniData.shipping_note">
                  {{order?.p_data?.shipping?.shipping_note || '-'}}
                </span>
              </div>
            </div>
          </ng-template>
          <i
            class="fa fa-pencil-square-o cursor-pointer" (click)="editMoreInfo()"
            ngbTooltip="Bấm vào đây để cập nhật các thông tin khác" placement="left" container="body">
          </i>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ng-template>
