<ul class="nav nav-tabs" role="tablist">
  <li *ngFor="let tab of tabs; let i = index;" class="nav-item">
    <a class="nav-link" (click)="onTabChanged(tab.name)" data-toggle="tab" role="tab"
       [ngClass]="{
        'current active': currentTab.name == tab.name,
        'last-tab': i == tabs.length - 1
      }">{{tab.title}}</a>
  </li>
  <li class="nav-item nav-right read-all">
    <a class="nav-link read-all-check" (click)="readAllNoti()" role="tab"
       [ngClass]="{'text-primary': !allIsRead, 'text-default': allIsRead, 'disabled': !notifications.length}">
      <i class="fa fa-check-square-o mr-1"></i>
      <span>Đánh dấu đã đọc</span>
    </a>
    <div class="nav-link noti-shops-dropdown" *ngIf="availableNotiShops.length > 1">
      <select
        [(ngModel)]="selectedNotiShopToken" (ngModelChange)="selectNotiShop()">
        <option *ngFor="let shop of availableNotiShops"
          [value]="shop.code" [selected]="shop.code == selectedNotiShopToken">{{shop.name}}</option>
      </select>
    </div>
  </li>
</ul>
<div class="noti-wrapper" (scroll)="onScroll($event)">
  <ng-container *ngIf="notifications && notifications.length; else emptyNoti">
    <div *ngFor="let noti of notifications; let i = index;" class="noti-item" [ngClass]="{'is-read': noti.is_read}"
         (click)="readNoti(noti, i)">
      <div class="d-flex justify-content-between align-items-center">
        <span class="font-13 noti-title">{{noti.title}}</span>
        <span class="font-12 noti-date">
          <i class="fa fa-circle font-10 mr-1"></i>
          {{noti.created_at | date: 'dd/MM HH:mm'}}
        </span>
      </div>
      <div class="font-13 text-default">{{noti.message}}</div>
    </div>
    <div *ngIf="loadingMore" class="d-flex justify-content-center py-3">
      <i class="fa fa-circle-o-notch fa-spin text-primary font-18"></i>
    </div>
  </ng-container>
  <ng-template #emptyNoti>
    <div *ngIf="!loading" class="noti-item">
      <div class="d-flex justify-content-center align-items-center font-12 text-default">
        Bạn chưa có thông báo {{emptyText}}
      </div>
    </div>
  </ng-template>
</div>
