<div class="line">
  <div><strong>/{{messageTemplate.short_code}} </strong></div>
  <div class="d-flex align-items-center">
    <div>{{messageTemplate.template}}</div>
    <div class="ml-auto" 
    *ngIf="checkPermission('facebook/message_template:update') || checkPermission('facebook/message_template:delete')">
      <shared-dropdown-actions
        [dropdownActions]="dropdownActions" [rightSide]="true">
      </shared-dropdown-actions>
    </div>
  </div>
</div>

