.title {
  font-size: 16px;
  font-weight: bold;
}

.title-01{
  font-size: 24px;
  font-weight: bold;
}

.mat-input {
  border: 1px solid #dee2e6 !important;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.support-girl{
  display: flex;
  flex: 1;
  height: 186px;
  width: 117px;
  background-image: url("/assets/images/customer_support.png");
  background-size: 186px 117px;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-container{
  position: absolute;
  bottom: 0px;
  display: flex;
  width: calc(100% - 66px);
  flex-direction: row;
  margin-bottom: 16px;
  padding-top: 8px;
  border-top: 1px solid #eeeeee;
}

.has-icon{
  color: #444444;
}
.has-icon:after{
  font-weight: normal;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  content: "";
  background: url("/assets/images/btn_link.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.phone-icon{
  color: #444444;
}

.phone-icon:after{
  background: url("/assets/images/btn_phone.png");
  font-weight: normal;
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  content: "";
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-element-01{
  display: flex;
  flex: 4;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.bottom-element-01:hover{
  cursor: pointer;
}

.bottom-container img{
  width: 56px;
  height: 56px;
}

.prompt-container{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.textlable {
  position: absolute;
  top: -0.8rem;
  left: 0.6rem;
  background: white;
  font-size: 9px;
  padding: 0px 4px;
  opacity: 0.8;
}

.copy {
  padding: 0.7rem 1rem;
  cursor: pointer;
}