<div class="page-content">
  <div class="row">
    <div class="prompt-container">
      <div class="title-01 pb-4 pl-5 pr-5">
        Các kênh hỗ trợ dành cho Seller
      </div>
      <div class="text-01 pb-4 pl-5 pr-5 pt-0">
        Bạn gặp vấn đề đang cần giúp đỡ hay đơn giản chỉ muốn được cập nhật tin tức nhanh nhất? Hãy chọn phương thức phù hợp dưới đây và chúng tôi sẽ hỗ trợ bạn trong thời gian sớm nhất.
      </div>
    </div>

    <div class="support-girl"></div>
  </div>

  <div class="row">
    <div class="col">
      <div
        class="aff-box p-4 pl-5 pr-5"
        style="height: 100%; overflow: hidden; position: relative;"
      >
        <div class="title pb-4">
          Kênh hỗ trợ chính thức eTop dành cho bạn
        </div>
        <div class="text-01 pb-4 pr-5 pt-0">
          eTop hoạt động chủ yếu trên Telegram. Nhấn "tham gia" vào nhóm Seller eTop bên dưới để nhận các thông báo chính thức từ chúng tôi nhé.
        </div>

        <div style="height: 100px"></div>

        <div class="bottom-container">
          <img src="assets/images/icon_telegram.png" alt="Telegram Icon" />
          <div class="bottom-element-01 ml-4">
            <div>Telegram Group</div>
            <a (click)="copyLinkToClipboard('https://t.me/joinchat/Behh5xV-wyUy7YLhPuMPbg')" class="font-weight-bold has-icon" placement="right" ngbTooltip="Copy Link"
              >Seller eTop - Official</a
            >
          </div>
          <div class="action mt-4 mb-3 text-right">
            <button class="btn btn-primary" (click)="openLinkInNewTab('https://t.me/joinchat/Behh5xV-wyUy7YLhPuMPbg')">
              Tham gia
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="aff-box p-4 pl-5 pr-5"
        style="height: 100%; overflow: hidden; position: relative;"
      >
        <div class="title pb-4">
          Theo dõi khuyến mãi
        </div>
        <div class="text-01 pb-4 pr-5 pt-0">
          Các chương trình khuyến mãi cũng có một kênh Telegram riêng để giúp bạn không bỏ sót những ưu đãi đang được diễn ra.
        </div>

        <div style="height: 100px"></div>

        <div class="bottom-container">
          <img src="assets/images/icon_telegram.png" alt="Telegram Icon" />
          <div class="bottom-element-01 ml-4">
            <div>Telegram Channel</div>
            <a class="font-weight-bold has-icon" placement="right" ngbTooltip="Copy Link" (click)="copyLinkToClipboard('https://t.me/Seller_eTop_PROMOTION')"
              >Seller eTop - PROMOTION</a
            >
          </div>
          <div class="action mt-4 mb-3 text-right">
            <button class="btn btn-primary" (click)="openLinkInNewTab('https://t.me/Seller_eTop_PROMOTION')">
              Tham gia
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div
        class="aff-box p-4 pl-5 pr-5"
        style="height: 100%; overflow: hidden; position: relative;"
      >
        <div class="title pb-4">
          Hỗ trợ Seller qua Facebook Fanpage
        </div>
        <div class="text-01 pb-4 pr-5 pt-0">
          Nếu bạn có bất kì thắc mắc nào, hãy gửi tin nhắn đến fanpage của ETOP trên Facebook.
        </div>

        <div style="height: 100px"></div>

        <div class="bottom-container">
          <img src="assets/images/icon_facebook.png" alt="Telegram Icon" />
          <div class="bottom-element-01 ml-4">
            <div>Facebook Fanpage</div>
            <a class="font-weight-bold has-icon" placement="right" ngbTooltip="Copy Link" (click)="copyLinkToClipboard('https://www.facebook.com/etop.asia/')">ETOP - Etop.vn</a>
          </div>
          <div class="action mt-4 mb-3 text-right">
            <button
              class="btn btn-primary btn-outline"
              (click)="openLinkInNewTab('https://www.facebook.com/etop.asia/')"
            >
              Liên hệ
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="aff-box p-4 pl-5 pr-5"
        style="height: 100%; overflow: hidden; position: relative;"
      >
        <div class="title pb-4">
          Tổng đài chăm sóc Seller eTop
        </div>
        <div class="text-01 pb-4 pr-5 pt-0">
          Hai đường dây nóng bên dưới sẽ là sự lựa chọn tốt nhất nếu bạn có vấn đề gấp cần giải quyết. Các tổng đài viên sẽ hỗ trợ bạn ngay lập tức.
        </div>

        <div style="height: 100px"></div>

        <div class="bottom-container">
          <img src="assets/images/icon_hotline.png" alt="Telegram Icon" />
          <div class="bottom-element-01 ml-4" style="flex: 1.5;">
            <div>eTop Hotline</div>
            <a placement="right" ngbTooltip="Click để gọi" class="font-weight-bold phone-icon" href="tel:+84-901379197"
              >0901379197</a
            >
          </div>
          <div class="bottom-element-01 ml-4" style="white-space: pre;">
            <div>&nbsp;</div>
            <a placement="right" ngbTooltip="Click để gọi" class="font-weight-bold phone-icon"  href="tel:+84-975066378"
              >0975066378</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<aff-guide-link [handle]="handle"></aff-guide-link>
