<ng-container>
    <div class="fulfillment-title text-medium">Giao hàng</div>
    <ion-list class="ion-padding-end order-lines" [formGroup]="fulfillmentForm">
      <ion-row class="content-section box-item">
        <ion-col>
          <span class="font-bold">Thu hộ (COD)</span>
        </ion-col>
        <ion-col style="position: relative;">
          <etop-ion-input-format-number placeholder="Tiền thu hộ" formatNumberUnit="đ" cssClass="align-left text-default" formControlName="cod_amount" (focus)="suggestions = true; focusSuggest()" (blur)="hideSuggest()" class="cod-input">
          </etop-ion-input-format-number>
          <ion-toolbar class="suggestions" *ngIf="suggestions">
            <div class="suggest-item" (click)="codSelected(0)">
              <ion-text>0đ</ion-text>
            </div>
            <div *ngIf="total_amount != 0" class="suggest-item" (click)="codSelected(total_amount)">
              <ion-text>{{total_amount | vnd}}đ</ion-text>
            </div>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <ion-row class="box-item">
        <ion-col>
          <span>Khối lượng (g)</span>
        </ion-col>
        <ion-col>
          <etop-ion-input-format-number formatNumberUnit="g" cssClass="align-left text-default" formControlName="chargeable_weight">
          </etop-ion-input-format-number>
        </ion-col>
      </ion-row>
      <ion-row class="box-item select-group">
        <ion-col size="6">
          <span>Ghi chú xem hàng</span>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label class="ion-hide">Ghi chú xem hàng</ion-label>
            <ion-select placeholder="Chọn ghi chú xem hàng" formControlName="try_on">
              <ion-select-option *ngFor="let option of tryOnOptions" [value]="option?.value">
                {{option?.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="box-item" >
        <ion-col>
          <span>Ghi chú giao hàng</span>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input formControlName="shipping_note" placeholder="Nhập ghi chú giao hàng"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="box-item">
        <ion-col>
          <ion-item lines="none">
            <div>Bảo hiểm hàng hóa</div>
            <ion-toggle formControlName="include_insurance" class="insurance-toggle"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </ng-container>

