ion-row {
    display: flex;
    align-items: center;
  }

  .box-item {
    padding: 0 1rem;
    &:last-child {
      margin-bottom: 1rem;
    }
  }

  .select-group {
    ion-select {
      min-width: 100%;
      padding-left: 0;
    }
  }

  ion-item {
    --padding-start: 0;
    --min-height: 30px;
    --inner-padding-end: 0;
  }

  ion-input-format-number::ng-deep {
    width: 100%;

    ion-item {
      margin: 0;
      padding: 0;

      .item-inner {
        padding: 0 !important;
      }
    }

    .native-input,
    .formatted-number {
      padding-bottom: 0.4rem !important;
      padding-top: 0.4rem !important;
      line-height: unset;
    }

    .text-default {
      .formatted-number {
        color: #444 !important;
      }
    }
  }

  ion-input::ng-deep {
    display: initial;

    .native-input {
      padding: 0 !important;
      font-size: 1rem;
      font-family: "Open Sans", sans-serif;
      color: var(--ion-text-color);
    }
  }

  ion-select {
    min-width: 100%;
    padding-left: 0;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
  }

  .shipping-warning {
    color: var(--ion-color-danger-shade)
  }

  .error {
    background: rgba(var(--ion-color-danger-rgb), .2);
    color: var(--ion-color-danger-shade);
    padding: 16px;
    text-align: center;
  }

  .suggestions {
    position: absolute;
    z-index: 9999 !important;
    width: 100%;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background: white;

    .suggest-item {
      padding: 0.5rem;
    }
  }

  etop-ion-input-format-number::ng-deep {
    ion-item.input-wrapper {
        padding: 0;
    }

  }
  etop-ion-input-format-number.cod-input::ng-deep {
    ion-input {
      background: #FCF0E5;
    }
    ion-text {
      background: #FCF0E5;
    }
  }
  ion-toggle {
    transform: scale(0.9);
    width: 60px;
    margin-left: auto;
  }

.fulfillment-title {
  padding: 12px 16px 15px;
  font-weight: bold;
  font-size: 1.2rem;
}

.content-section {
  padding: .2rem 1rem;
  background: #FCF0E5;
}

