.wrapper-login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    display: flex;
  }
  
  .login-body {
    display: flex;
    width: 100%;
    flex: 1;
  }
  
  .login-footer {
    display: flex;
    width: 100%;
    flex: 0 0 8%;
  }
  
  .l-side {
    width: 70%;
    .logo {
      width: auto;
      height: 35px;
      margin-right: 15px;
    }
    .brand-text {
      font-weight: bold;
      color: gray;
      line-height: 35px;
    }
    .title {
      margin-bottom: 10px;
      font-size: 2.4rem;
    }
  
    .subtitle {
      font-size: 1.6rem;
    }
  
    .info {
      padding: 0 20%;
      margin: 30px;
    }
  
    .feature-img {
      width: 100%;
      padding: 4rem 0;
      max-width: 250px;
      height: 100%;
    }
  
    .logo-brand {
      width: 50px;
      height: 50px;
      object-fit: contain;
      object-position: center;
      border: 1px solid var(--border-gray-color);
    }
  
    .logo-bct {
      width: 80px;
      height: auto;
    }
  
  }
  
  .r-side {
    width: 30%;
    background-color: var(--primary-color);
  
    .logo {
      width: auto;
      height: 35px;
      margin-right: 15px;
    }
    .brand-text {
      font-weight: bold;
      line-height: 35px;
    }
    .title {
      margin-top: 5rem;
    }
    .info {
      margin-top: 1.25rem;
    }
    .form-group {
      margin-bottom: 1.2rem;
      .form-control {
        height: 40px;
        font-weight: 600;
        font-size: 1.1rem;
        padding: 0.375rem 1.2rem;
        color: var(--white-color);
        border: 1px solid var(--white-color);
        background-color: var(--primary-color);
      }
      .form-control:focus {
        border-color: var(--white-color);
        background-color: var(--primary-color);
        color: var(--white-color);
      }
  
      ::placeholder {
        color: var(--white-color);
        opacity: 1;
      }
    }
  
    .border-top {
      border-color: rgba(229,229,229,0.4) !important;
    }
  
    .btn {
      width: 100%;
      height: 3.3rem;
      font-weight: 700;
      padding: 0;
      color: var(--primary-color) !important;
      background: var(--white-color) !important;
      .fa {
        color: var(--primary-color) !important;
      }
    }
    .btn-register {
      color: var(--primary-color) !important;
      background: white !important;
    }
  
    .small-btn {
      width: 10rem;
      height: 2.5rem;
    }
  
    .changephone-text {
      right: 20px;
      top: 11px;
      color: white;
      cursor: pointer;
    }
  
  }
  
  @media only screen and (max-width: 576px) {
    .r-side {
      width: 100%;
      .login-form {
        max-width: 420px;
        align-self: center;
      }
    }
  }
  
  .forgot:hover {
    text-decoration: underline;
  }
  
  .loading-box {
    align-items: center;
    justify-content: center;
  }
  
  input:-webkit-autofill {
    -webkit-text-fill-color: var(--white-color) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--primary-color) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  input::placeholder {
    opacity: 0.7 !important;
  }
  
  @media screen and (max-height: 768px) {
    .login-footer {
      flex: 0 0 10%;
    }
    .wrapper-login {
      overflow: auto;
    }
  }
  
  @media screen and (max-width: 860px) and (min-width: 576px) {
    .l-side {
      width: 60%;
      .list-products {
        margin-left: 50px !important;
        flex-direction: column !important;
      }
    }
    .r-side {
      width: 40%;
    }
  
  }
  
  .box-user-login {
    border-radius: 5px;
    padding: 1rem 1.25rem;
    color: white;
    min-height: 50px;
    margin-bottom: 1.5rem;
    background: #ea9447;

    .user-login-logo {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;
    }

    .title-user {
        font-size: 1.2rem;
    }

    .login-user-btn {
        background: white;
        color: var(--topship-color);
        border-radius: 10px;
        padding: 0.375rem 1.25rem;
        font-weight: bold;
        cursor: pointer;
    }
  }

  .login-user-btn-outline {
        border: 1px solid white;
        padding: 0.25rem 1.5rem;
        border-radius: 50px;
        font-weight: bold;
        margin-top: .5rem;
        cursor: pointer;
        font-size: 0.9rem;
  }

