<div class="wrapper-login" *ngIf="!loading; else hasLoading">
    <div class="login-body">
      <div class="l-side d-none d-sm-flex flex-column">
        <div class="d-flex m-4">
          <img class="logo" src="assets/images/logo_topship.png" alt="topship-logo">
          <div class="brand-text">EB2B JSC</div>
        </div>
        <div class="d-flex flex-column justify-content-center m-auto">
          <div>
            <h3 class="title font-weight-bold mb-4">
              Chào mừng đến TOPSHIP!
            </h3>
            <h3 class="subtitle text-dark">
              Nền tảng phân phối dịch vụ vận chuyển tối ưu chi phí
            </h3>
          </div>
          <div class="d-flex justify-content-center">
            <img class="feature-img" src="assets/images/topship_register_main_img.png" alt="">
          </div>
          <div class="list-products d-flex flex-row justify-content-between m-3">
            <div class="d-flex align-items-center m-2">
              <img src="assets/images/logo_vtp.png" class="logo-brand rounded-circle" alt="">
            </div>
            <div class="d-flex align-items-center m-2">
              <img src="assets/images/logo_ghn.png" class="logo-brand rounded-circle" alt="">
            </div>
            <div class="d-flex align-items-center m-2">
              <img src="assets/images/logo_ghtk.png" class="logo-brand rounded-circle" alt="">
            </div>
            <div class="d-flex align-items-center m-2">
              <img src="assets/images/logo_ahamove.png" class="logo-brand rounded-circle" alt="">
            </div>
            <div class="d-flex align-items-center m-2">
              <img src="assets/images/logo_jnt.png" class="logo-brand rounded-circle" alt="">
            </div>
            <div class="d-flex align-items-center m-2">
              <img src="assets/images/logo_ninjavan.png" class="logo-brand rounded-circle" alt="">
            </div>
            <div class="d-flex align-items-center m-2">
              <img src="assets/images/logo_dhl.png" class="logo-brand rounded-circle" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="r-side">
        <div class="d-flex d-sm-none m-4">
          <img class="logo" src="assets/images/logo_etop_mono_white.png" alt="etop-logo">
          <div class="brand-text text-gray">EB2B JSC</div>
        </div>
        <div class="d-flex flex-column h-100">
          <div class="login-form px-5">
            <div class="title">
              <strong class="text-larger text-gray">Đăng nhập</strong>
            </div>
            <ng-container *ngIf="!loading">
                <div class="info">
                    <p class="text-big text-gray">
                      Sử dụng tài khoản <strong style="font-size: 1.1rem;">{{domain | uppercase}}</strong> để đăng nhập
                    </p>
                  </div>
                  <div class="d-flex align-items-center box-user-login">
                    <img [imageLoader]="shop?.image_url" 
                    src="assets/images/placeholder_topship.png" alt="logo" class="user-login-logo">
                    <div style="flex: 1">
                        <strong class="title-user fix-line-1">{{user?.full_name}}</strong>
                        <div class="fix-line-1">{{shop?.name}}</div>
                      </div>
                      <div class="login-user-btn ml-auto" (click)="loginWithToken()">
                          Đăng nhập
                      </div>
                  </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="login-footer flex-row-reverse flex-md-row d-flex">
      <div class="border-top d-none d-md-flex l-side">
        <div class="align-items-center d-flex justify-content-between px-5 w-100" style="color: var(--dark-color);">
          <div class="mr-3">
            <div class="text-bold">EB2B JSC - Công ty cổ phần EB2B</div>
            <div>Địa chỉ: Tầng 3 An Phú Plaza, 117-119 Lý Chính Thắng, P. 7, Q. 3, TP.HCM</div>
            <div>MSDN: <span class="text-bold">0315348182</span></div>
          </div>
          <div>
            <div>Hotline: <span class="text-bold">0901379197</span> </div>
            <div>8:30 - 17:30 (thứ 2 - thứ 6), 8:30 -12:00 (thứ 7), Không hỗ trợ chủ nhật</div>
            <div>Email: <strong>hotro@topship.vn</strong></div>
          </div>
        </div>
      </div>
      <div class="r-side">
        <div *ngIf="!loading" class="border-top px-4 text-white h-100 d-flex align-items-center justify-content-center flex-column">
          <span style="cursor: pointer;" (click)="logout()">Bạn không phải là <strong>{{user?.full_name}}</strong>?</span>
          <div class="login-user-btn-outline" (click)="logout()">Đăng nhập tài khoản khác</div>
        </div>
      </div>
    </div>
</div>
<ng-template #hasLoading>
  <div class="wrapper-login loading-box">
    <div>
      <img src="assets/images/logo_topship.png" alt="" width="100px">
    </div>
    <img src="assets/images/loading.svg" alt="" width="80px" style="margin-top: -10px">
  </div>
</ng-template>
  