.content {
  background: #f5f5f5;
  min-height: 100%;
  padding-top: 1.5rem;

  .filter-box {
    margin-bottom: 1.5rem;
    background: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

ion-range {
  --knob-size: 22px;
  --knob-handle-size: 22px;
}