<ion-header>
    <ion-toolbar>
        <ion-title>Lọc</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="ion-padding-end icon-header back-icon" name="close-outline" (click)="back()">
            </ion-icon>
        </ion-buttons>
        <ion-text slot="end" style="padding-right: .5rem;" (click)="removeFilter()">Bỏ lọc</ion-text>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="content">
        <div class="filter-box" *ngFor="let filter of filterForm.controls;let i = index" [formGroup]="filter">
            <ion-item lines="none" *ngIf="filter.value.type == 'input'">
                <ion-label position="floating">{{filter.value.label}}</ion-label>
                <ion-input placeholder="{{filter.value.placeholder}}" formControlName="value"></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="filter.value.type == 'select'">
                <ion-label position="floating">{{filter.value.label}}</ion-label>
                <ion-select ok-text="Xác nhận" cancel-text="Hủy" placeholder="{{filter.value.placeholder}}" formControlName="value">
                    <ion-select-option value="{{option.value}}" *ngFor="let option of filter.value.options">{{option?.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ng-container *ngIf="filter.value.type == 'ion-range'">
                <ion-text class="ion-padding-start">
                    {{filter.value.label}} từ
                    <strong>{{filter.value.value.lower | vnd}}({{filter.value.meta.unit}})</strong> đến
                    <strong>{{filter.value.value.upper | vnd}}<ion-text *ngIf="filter.value.value.upper == filter.value.meta.max">+
            </ion-text>({{filter.value.meta.unit}})</strong>
                </ion-text>
                <ion-item lines="none">
                    <ion-range [min]="filter.value.meta.min" [max]="filter.value.meta.max" formControlName="value" color="primary" dual-knobs [step]="filter.value.meta.step">
                    </ion-range>
                </ion-item>
            </ng-container>
        </div>
    </div>
</ion-content>

<ion-footer class="footer-button-wrapper" (click)="submit()">
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <button class="w-100 bg-primary text-white footer-button-item">
        Áp dụng
      </button>
        </div>
    </ion-toolbar>
</ion-footer>