//Customer search
.popup-container {
  position: absolute;
  top: 3rem;
  width: 100%;
  max-height: 300px;
  z-index: 4;
  padding: 0 10px;
}

.popup {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
  0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
  max-height: 13rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.customer-list {
  overflow-y: auto;
  flex: 1;
  border-radius: 10px;
}
//end customer search




.content-section {
  background: #fff;
  margin-top: 8px;
}

.body-content {
  background: #f5f5f5;
  min-height: calc(100% - 5.45rem);
}

.sumary {
  border-top: 1px solid #f4f4f4;
}

.sumary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  
  &.total {
    background: rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid #eee;
    padding: 0.5rem 1rem;
  }
}

.sumary-label {
  ion-icon {
    vertical-align: middle;
  }
}

//header address
.address-group {
  ion-select {
    min-width: 100%;
    padding-left: 0;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    padding-right: 3px;
  }
}

.icon-select {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  opacity: 0.7;
}

ion-header {
  border-bottom: 1px solid #f4f4f4;
}

.icon-address {
  ion-icon {
    font-size: 1.4rem;
    margin-right: 1.6rem;
  }
}

.address-section {
  padding: 15px 0;
  background: white;
  position: relative;
}

.header-address {
  width: 60%;
  border-left: 1px solid #f4f4f4;
  text-align: left;
  padding: 0.5rem 1rem;

  ion-label {
    font-size: 0.8rem;
  }
}
//end header address

ion-input::ng-deep {
  display: initial;

  .native-input {
    // padding: 0 !important;
    font-size: 1rem;
  }
}

.item-input {
  padding: 0 16px;
  margin-bottom: 1rem;
  ion-input::ng-deep {
    border-bottom: 1px solid #ccc;
    .native-input {
      padding: 0.4rem 0 !important;
    }
  }
}

ion-input-format-number::ng-deep {
  width: 100%;

  ion-item {
    margin: 0;
    padding: 0;

    .item-inner {
      padding: 0 !important;
    }
  }

  .native-input,
  .formatted-number {
    padding-bottom: 0.4rem !important;
    padding-top: 0.4rem !important;
    line-height: unset;
  }

  .text-default {
    .formatted-number {
      color: #444 !important;
    }
  }
}

.is-invalid {
  --placeholder-color: var(--ion-color-danger-shade);
  --placeholder-opacity: 1;
}

.item-is-invalid {
  --border-color: var(--ion-color-danger-shade) !important;
}

.input-phone {
  position: relative;

  .risk-warning {
    position: absolute;
    display: flex;
    right: 1.3rem;
    color: white;
    justify-items: center;
    margin: auto;
    z-index: 3;
    padding: 0 0.5rem 0 0.75rem;
    border-radius: 20px;
    height: calc(100% - 0.5rem);

    ion-icon, ion-text {
      font-size: 0.8rem;
      color: white;
    }
    ion-icon {
      font-size: 1rem;
    }
  }
}

mat-icon {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  margin-right: 0.25rem;
}

.manual-message {
  position: absolute;
  top: 2.6rem;
}