<ion-header>
  <ion-toolbar>
    <div class="text-medium">
      <ion-text class="header-title">Chốt đơn</ion-text>
    </div>
    <ion-buttons slot="start" class="header-back-icon">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <div slot="end" class="header-address">
      <div (click)="changeAddress('from')" *ngIf="(fromAddress$ | async)?.length">
        <ion-label>Lấy hàng (*)</ion-label>
        <div class="fix-line-1" style="position: relative; padding-right: 1rem;">
          <ion-text color="primary" class="font-bold">{{pickupAddressDisplay}}</ion-text>
        </div>
        <ion-icon name="chevron-down-outline" class="icon-select"></ion-icon>
      </div>
      <div (click)="createNewPickupAddress()" *ngIf="!(fromAddress$ | async)?.length">
        <ion-label>Lấy hàng (*)</ion-label>
        <div class="fix-line-1" style="position: relative; padding-right: 1rem;">
          <ion-text color="primary" class="font-bold">Tạo địa chỉ lấy hàng</ion-text>
        </div>
        <ion-icon name="chevron-down-outline" class="icon-select"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content fullscreen>
  <ng-container *ngIf="!customerInitializing">
    <div class="body-content" [formGroup]="orderForm">
      <div class="address-section" formGroupName="customer">
        <div style="position: relative">
            <div class="input-wrapper ion-flex ion-align-items-center icon-address item-input input-phone"
              [ngClass]="{ 'item-is-invalid': submitted && f.phone?.errors }">
              <ion-icon name="call-outline" slot="start"></ion-icon>
              <ion-input inputmode="tel"
                [placeholder]="submitted && f.phone?.errors ? 'Vui lòng nhập số điện thoại (*)' : 'Nhập số điện thoại'"
                [ngClass]="{ 'is-invalid': submitted && f.phone?.errors }" (ionFocus)="checkFocus()"
                (ionBlur)="outFocus()" formControlName="phone">
              </ion-input>
              <div *ngIf="customerReturnRating && !messageError" (click)="ratingPopover()" class="risk-warning ion-align-items-center" [ngStyle]="{'background': customerReturnRating?.customer_return_rate?.color}">
                <mat-icon aria-hidden="false" aria-label="Example home icon">{{customerReturnRating?.customer_return_rate?.icon}}</mat-icon>
                <ion-text>{{customerReturnRating?.customer_return_rate?.level}} ({{customerReturnRating?.customer_return_rate?.rate}}%)</ion-text>
                <ion-icon style="margin-right: 0" slot="end" name="chevron-forward-outline"></ion-icon>
              </div>
              <div *ngIf="messageError" (click)="ratingPopover()" class="risk-warning ion-align-items-center" [ngStyle]="{'background': '#E74C3C'}">
                <ion-text>Không xác định</ion-text>
                <ion-icon style="margin-right: 0" slot="end" name="chevron-forward-outline"></ion-icon>
              </div>
          </div>
          <ion-toolbar class="manual-message" [hidden]="!displayMsgPhone" *ngIf="manualMessages">
            <ionfabo-manual-message title="Chọn tin nhắn làm số điện thoại" [messages]="manualMessages" (selectMessage)="selectPhone($event)"></ionfabo-manual-message>
          </ion-toolbar>
          <div class="popup-container" [hidden]="!selectedCustomer" *ngIf="customerAddresses?.length">
            <div class="popup">
              <div class="customer-list">
                <div class="items-list-row" *ngFor="let customerAddress of customerAddresses">
                  <div class="box" (click)="customerSelected(customerAddress)">
                    <div class="ion-flex ion-align-items-center ion-justify-content-between">
                      <div class="ion-flex ion-align-items-center w-100">
                        <div>
                          <div class="align-items-center">
                            {{customerAddress.full_name}} - <strong>{{customerAddress.phone}}</strong>
                          </div>
                          <div class="align-items-center" style="font-size: 0.8rem;white-space: pre-line">
                            {{customerAddress | addressDisplay}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-wrapper ion-flex ion-align-items-center icon-address item-input"
            [ngClass]="{ 'item-is-invalid': submitted && f.full_name?.errors }">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input formControlName="full_name"
              [placeholder]="submitted && f.full_name?.errors ? 'Vui lòng nhập họ tên (*)' : 'Nhập họ tên'"
              [ngClass]="{ 'is-invalid': submitted && f.full_name?.errors }">
            </ion-input>
          </div>
          <div style="position: relative;">
            <div class="input-wrapper ion-flex ion-align-items-center icon-address item-input"
              [ngClass]="{ 'item-is-invalid': submitted && f.address1?.errors }">
              <ion-icon name="location-outline" slot="start"></ion-icon>
              <ion-input formControlName="address1"
                (ionFocus)="checkFocusAddress()"
                (ionBlur)="outFocusAddress()"
                [placeholder]="submitted && f.address1?.errors ? 'Vui lòng nhập địa chỉ (*)' : 'Nhập địa chỉ'"
                [ngClass]="{ 'is-invalid': submitted && f.address1?.errors }">
              </ion-input>
            </div>
            <ion-toolbar class="manual-message" [hidden]="!displayMsgAddress" *ngIf="manualMessages">
              <ionfabo-manual-message title="Chọn tin nhắn làm địa chỉ" [messages]="manualMessages" (selectMessage)="selectAddress($event)"></ionfabo-manual-message>
            </ion-toolbar>
          </div>
          
          <div style="padding-left: 3rem" class="address-group">
            <ionfabo-select-suggest 
              position="fixed"
              [hasLabel]="false"
              [placeholder]="submitted && f.province_code?.errors ? 'Vui lòng chọn tỉnh thành (*)' : 'Chọn tỉnh thành'"
              [options]="provincesList"
              formControlName="province_code"
              cssInputClass="{{submitted && f.province_code?.errors ? 'is-invalid' : ''}}"
              cssItemClass="custom-input {{submitted && f.province_code?.errors ? 'item-is-invalid' : ''}}"
              (ngModelChange)="onProvinceSelected()">
            </ionfabo-select-suggest>
            <ion-row>
              <ion-col size="6" class="ion-no-padding">
                <ionfabo-select-suggest 
                  position="fixed"
                  [hasLabel]="false"
                  [placeholder]="submitted && f.district_code?.errors ? 'Chọn quận huyện (*)' : 'Chọn quận huyện'"
                  [options]="districtsList"
                  cssInputClass="{{submitted && f.district_code?.errors ? 'is-invalid' : ''}}"
                  cssItemClass="custom-input {{submitted && f.district_code?.errors ? 'item-is-invalid' : ''}}"
                  formControlName="district_code"
                  (ngModelChange)="onDistrictSelected()">
                </ionfabo-select-suggest>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <ionfabo-select-suggest 
                  position="fixed"
                  [hasLabel]="false"
                  [placeholder]="submitted && f.ward_code?.errors ? 'Chọn phường xã (*)' : 'Chọn phường xã'"
                  [options]="wardsList"
                  cssInputClass="{{submitted && f.ward_code?.errors ? 'is-invalid' : ''}}"
                  cssItemClass="custom-input {{submitted && f.ward_code?.errors ? 'item-is-invalid' : ''}}"
                  formControlName="ward_code">
                </ionfabo-select-suggest>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      <div class="content-section">
        <div>
          <ionfabo-product-selector [submitted]="submitted"></ionfabo-product-selector>
          <etop-order-lines></etop-order-lines>
          <div class="sumary">
            <div class="ion-padding-vertical" *ngIf="dropDown">
              <ion-row class="sumary-item">
                <ion-col>Tạm tính</ion-col>
                <ion-col class="ion-text-right">
                  {{(orderForm?.controls['basket_value']?.value || 0) | vnd}}đ
                </ion-col>
              </ion-row>
              <ion-row class="sumary-item">
                <ion-col>
                  <span>Giảm giá</span>
                </ion-col>
                <ion-col>
                  <etop-ion-input-format-number placeholder="Nhập giảm giá" formatNumberUnit="đ"
                                                formControlName="order_discount" cssClass="align-right text-default">
                  </etop-ion-input-format-number>
                </ion-col>
              </ion-row>
              <ng-container formArrayName="fee_lines">
                <ion-row class="sumary-item" *ngFor="let fee of feeLines.controls; let i = index">
                  <ion-col>
                    <span>{{fee?.value?.name}}</span>
                  </ion-col>
                  <ion-col [formGroupName]="i">
                    <etop-ion-input-format-number class="summary-amount" placeholder="Nhập {{fee?.value?.name | lowercase}}"
                                                  formatNumberUnit="đ" cssClass="align-right text-default" formControlName="amount">
                    </etop-ion-input-format-number>
                  </ion-col>
                </ion-row>
              </ng-container>
            </div>
            <ion-row class="sumary-item total">
              <ion-col>
                <div class="sumary-label ion-flex">
                  <ion-text style="margin-right: 0.5rem">Thành tiền</ion-text>
                  <div (click)="showDropDown()" *ngIf="!dropDown">
                    <ion-text color="primary">chi tiết </ion-text>
                    <ion-icon class="text-primary" name="chevron-down-outline"></ion-icon>
                  </div>
                  <div (click)="hideDropDown()" *ngIf="dropDown">
                    <ion-text color="primary">thu gọn </ion-text>
                    <ion-icon class="text-primary" name="chevron-up-outline"></ion-icon>
                  </div>
                </div>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-text class="font-bold">
                  {{(orderForm?.controls['total_amount']?.value || 0) | vnd}}đ
                </ion-text>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <ng-container *ngIf="!connectionInitializing">
          <etop-order-shipping></etop-order-shipping>
        </ng-container>
      </div>
    </div>
    <div class="footer-button-wrapper ion-margin-top" *ngIf="!connectionInitializing">
      <ion-toolbar color="primary" class="no-padding">
        <div class="footer-buttons ion-flex">
          <button (click)="confirm()" [disabled]="loadingConfirm" class="w-100 bg-primary text-white footer-button-item">
            Chốt đơn
          </button>
        </div>
      </ion-toolbar>
    </div>
  </ng-container>
</ion-content>

