ion-header {
    ion-toolbar {
        border-bottom: 1px solid #f4f4f4;
    }
}

.mat-icon-warning {
    font-size: 8rem;
    height: 8rem;
    width: 8rem;
    opacity: 0.5;
}

.body-content {
    background: #f4f4f4;
    height: 100%;
}

.shop-info, .role-info {
    background: white;
}

.shop-logo {
    width: 6rem;
    height: 6rem;
    border: 1px solid #eee;
    border-radius: 50%;
    object-fit: cover;
}

.role-info {
    margin-top: 10px;
}

.list-role {
    .role {
        padding: 1rem;
        border-bottom: 1px solid #f4f4f4;
        display: flex;
        align-items: center;
        ion-icon {
            font-size: 0.8rem;
            margin-right: 1rem;
        }
    }
}

.footer-row {
    height: 44px;
    padding: 0;
}

.border-right {
    border-right: 1px solid #eee;
}

ion-toolbar.custom {
    --border-width: 0;
    ion-icon {
        font-size: 1.4rem;
        margin-right: 0.5rem;
    }
}