<div class="slider-detail-section">
  <div class="row">
    <div class="col-12 py-2">
      <etop-material-input textLabel="Shop" type="custom">
        <span class="read-only text-bold">{{(activeShop$ | async)?.code}} - {{(activeShop$ | async)?.name}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input textLabel="Số điện thoại" type="custom">
        <span
          class="read-only text-bold text-primary cursor-pointer d-flex align-items-center"
          eCallButton="{{(activeShop$ | async)?.phone}}">
          {{(activeShop$ | async)?.phone}}&nbsp;
          <i class="text-primary fa fa-phone-square upper-medium-font"></i>
        </span>
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input textLabel="Email" type="custom">
        <span class="read-only">{{(activeShop$ | async)?.email || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input textLabel="Ngày tạo" type="custom">
        <span class="read-only">{{((activeShop$ | async)?.created_at | date: 'HH:mm dd/MM/yyyy') || '-'}}</span>
      </etop-material-input>
    </div>

    <div class="col-12 py-2">
      <etop-material-input textLabel="Địa chỉ" type="custom">
        <span class="read-only">{{((activeShop$ | async)?.address | addressDisplay) || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-12 py-2">
      <etop-material-input textLabel="Ngân hàng" type="custom">
        <span class="read-only text-bold">{{(activeShop$ | async)?.bank_account?.name || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input textLabel="Tỉnh" type="custom">
        <span class="read-only">{{(activeShop$ | async)?.bank_account?.province || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input textLabel="Chi nhánh" type="custom">
        <span class="read-only">{{(activeShop$ | async)?.bank_account?.branch || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input textLabel="Tên chủ tài khoản" type="custom">
        <span class="read-only">{{(activeShop$ | async)?.bank_account?.account_name || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input textLabel="Số tài khoản" type="custom">
        <span class="read-only">{{(activeShop$ | async)?.bank_account?.account_number || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input textLabel="Trạng thái" type="custom">
        <span class="read-only status status-{{(activeShop$ | async)?.user?.is_blocked ? 'N' : 'P'}}">
          {{(activeShop$ | async)?.user?.is_blocked ? 'Bị chặn' : 'Đang hoạt động'}}
        </span>
      </etop-material-input>
    </div>
    <div class="col-6 py-2" *ngIf="canDisplayBlockError(activeShop$ | async)">
      <etop-material-input textLabel="Lý do chặn" type="custom">
        <span class="read-only text-danger">
          {{(activeShop$ | async)?.user?.block_reason}}
        </span>
      </etop-material-input>
    </div>
  </div>
</div>

<div class="slider-detail-section">
  <div class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    USER
  </div>
  <div class="row">
    <div class="col-6 py-2">
      <etop-material-input textLabel="Tên" type="custom">
        <span
          *ngIf="(activeShop$ | async)?.user?.full_name; else noUserFullName;"
          class="font-weight-bold text-primary cursor-pointer" (click)="userDetail()">
          {{(activeShop$ | async)?.user?.full_name}}
          <i class="fas fa-external-link-alt external-link-icon"></i>
        </span>
        <ng-template #noUserFullName>
          <span class="read-only">-</span>
        </ng-template>
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input textLabel="Số điện thoại" type="custom">
        <span
          class="read-only text-bold text-primary cursor-pointer d-flex align-items-center"
          eCallButton="{{(activeShop$ | async)?.user?.phone}}">
          {{(activeShop$ | async)?.user?.phone}}&nbsp;
          <i class="text-primary fa fa-phone-square upper-medium-font"></i>
        </span>
      </etop-material-input>
    </div>
    <div class="col-12 py-2">
      <etop-material-input textLabel="Email" type="custom">
        <span class="read-only">{{(activeShop$ | async)?.user?.email || '-'}}</span>
      </etop-material-input>
    </div>
  </div>
</div>


