<div class="popover-wrapper">
  <div class="popover-header">
    <div class="title">Nhập mã xác nhận từ TOPSHIP</div>
    <ion-icon class="close-button" name="close-outline" (click)="dismiss()"></ion-icon>
  </div>
  <div class="popover-body">
    <div>TOPSHIP đã gửi email kèm mã xác thực đến địa chỉ email <strong>{{email_verified}}</strong>.</div>
    <div>Vui lòng kiểm tra email (kể cả trong hộp thư spam).</div>
    <ion-input placeholder="Nhập mã xác thực"  [(ngModel)]="sToken"></ion-input>
  </div>
  <div class="popover-footer">
    <div class="popover-buttons">
      <button class="text-medium" (click)="dismiss()">Đóng</button>
      <button class="text-primary confirm-button" [disabled]="loading" (click)="submitSToken()">
        <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i>
        Xác nhận
      </button>
    </div>
  </div>
</div>
