<div class="total" [ngClass]="{'d-none': ((tab$ | async) == tab.personal) && !isNotRoleStaff && !userExtension}">
  <div class="total-section left-aligned">
    <div class="total-item w-100 d-flex align-items-center">
      <etop-filter class="w-100" [filters]="filters" (filterChanged)="filter($event)">
      </etop-filter>
    </div>
  </div>
</div>
<div class="page-container">
    <div class="page-content pb-0">
        <etop-table #callLogTable [items]="callLogs$ | async" [show_paging]="(callLogs$ | async)?.length && showPaging" (requestNewPage)="loadPage($event)" [loading]='loading$ | async'>
            <ng-template #header let-liteMode="liteMode">
                <div class="col" style="width: 15%">
                    <span class="table-header-text">Thời điểm gọi</span>
                </div>
                <div class="col">
                    <span class="table-header-text">Trạng thái</span>
                </div>
                <div class="col">
                    <span class="table-header-text">Hướng</span>
                </div>
                <div class="col">
                    <span class="table-header-text" style="width: 15%">Số tổng đài</span>
                </div>
                <div class="col" *ngIf="!liteMode" style="width: 15%">
                    <span class="table-header-text">Gọi từ</span>
                </div>
                <div class="col">
                    <span class="table-header-text" style="width: 15%">Gọi đến</span>
                </div>
                <div class="col" *ngIf="!liteMode">
                    <span class="table-header-text">Thời lượng</span>
                </div>
                <div class="col" *ngIf="!liteMode">
                    <span class="table-header-text">File ghi âm</span>
                </div>
            </ng-template>
            <ng-template #item let-callLog="item" let-liteMode="liteMode">
                <div class="row table-row" etelecom-cs-call-log-row [callLog]="callLog">
                </div>
            </ng-template>
            <ng-template #emptyItem>
                <etop-empty-page [type]="emptyType" [actions]="emptyAction" [description]="emptyDescription">
                </etop-empty-page>
            </ng-template>
        </etop-table>
    </div>
</div>
