<div class="content">
  <div class="p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="col-6 input-item">
            <etop-material-input
              textLabel="Loại phiếu*" placeholder="Chọn loại phiếu*"
              type="select" [optionSelect]="receiptTypes" [(ngModel)]="new_receipt.p_data.type"
              (ngModelChange)="onChangeReceiptType()">
            </etop-material-input>
          </div>
          <div class="col-6 input-item pl-0">
            <etop-material-input
              textLabel="Ngày thanh toán*" placeholder="Ngày thanh toán*"
              type="datetime" [(ngModel)]="new_receipt.p_data.paid_at">
            </etop-material-input>
          </div>
          <div class="col-4 input-item">
            <etop-material-input
              textLabel="Nhóm đối tác*" placeholder="Chọn nhóm đối tác*"
              type="select" [optionSelect]="traderTypes" [(ngModel)]="trader_type"
              (ngModelChange)="displayTraderList()">
            </etop-material-input>
          </div>
          <div class="col-8 input-item pl-0">
            <etop-material-input-autocomplete
              *ngIf="trader_type" textLabel="Đối tác*" placeholder="Tìm đối tác"
              [displayMap]="nameDisplayMap()" [valueMap]="valueDisplayMap()" [options]="traders"
              [(ngModel)]="new_receipt.p_data.trader_id" (ngModelChange)="onTraderSelected()">
            </etop-material-input-autocomplete>
            <etop-material-input *ngIf="!trader_type" textLabel="Đối tác" type="custom">
              <span class="read-only text-default">Vui lòng chọn nhóm đối tác</span>
            </etop-material-input>
          </div>
          <div class="col-6 input-item">
            <etop-material-input
              *ngIf="!format_money" #moneyInput [error]="receipt_amount_error"
              placeholder="Giá trị*" textLabel="Giá trị*" type="input" keyboardType="number"
              [(ngModel)]="new_receipt.p_data.amount" (blur)="formatMoney(); checkValidAmount();">
            </etop-material-input>
            <etop-material-input
              *ngIf="format_money" placeholder="Giá trị" textLabel="Giá trị" type="custom"
              (click)="formatMoney()">
              <span class="font-weight-bold" [class.text-primary]="!receipt_amount_error"
                [class.text-danger]="receipt_amount_error">
                {{new_receipt?.p_data?.amount | vnd}}đ
              </span>
            </etop-material-input>
          </div>
          <div class="col-6 input-item pl-0">
            <etop-material-input
              textLabel="Phương thức*"
              placeholder="Chọn phương thức thanh toán" type="select" [optionSelect]="ledgerTypes"
              [(ngModel)]="ledger_type" (ngModelChange)="displayLedgers()">
            </etop-material-input>
          </div>
          <div class="col-12 input-item" *ngIf="ledger_type && ledger_type != 'cash'">
            <shared-select-multiline [options]="ledgers" placeholder="Tìm tài khoản thanh toán*"
              [(ngModel)]="ledgerIndex" (ngModelChange)="onSelectLedger()" (focus)="focusLedger()"
              textLabel="Tài khoản thanh toán*">
              <div class="text-center text-primary" (click)="addLedger()">
                Thêm tài khoản thanh toán mới
              </div>
            </shared-select-multiline>
          </div>
          <div class="col-6 input-item">
            <etop-material-input
              placeholder="Nội dung*" textLabel="Nội dung*" type="input"
              [(ngModel)]="new_receipt.p_data.title">
            </etop-material-input>
          </div>
          <div class="col-6 input-item pl-0">
            <etop-material-input
              placeholder="Ghi chú" textLabel="Ghi chú" type="input"
              [(ngModel)]="new_receipt.p_data.note">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <shop-receipt-lines *ngIf="showReceiptLines" [receipt]="new_receipt" [receipt_type]="new_receipt?.p_data?.type"
    [ref_type]="new_receipt?.p_data?.ref_type" [trader_type]="trader_type" [receipt_lines]="receipt_lines"
    [trader_name]="trader_name" [allow_input]="allowSearchLines" class="d-block mb-3">
  </shop-receipt-lines>
  <div *eRoles="['owner', 'staff_management', 'inventory_management', 'analyst', 'accountant']" class="actions px-3 pt-0 text-right">
    <button *ePermissions="['shop/receipt:create']" class="btn btn-primary btn-outline" [disabled]="loading" (click)="create(false)">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && !createAndConfirm"></i>
      Lưu nháp
    </button>
    <button *ePermissions="['shop/receipt:confirm']" class="btn btn-primary ml-2" [disabled]="loading" (click)="create(true)">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && createAndConfirm"></i>
      Tạo và xác nhận
    </button>
  </div>
</div>
