.input-item {
  margin-bottom: 0.5rem;
}

shared-select-multiline::ng-deep {
  display: block !important;
  margin-top: 5px !important;
  .display-value {
    border: 1px solid var(--border-gray-color) !important;
    position: relative !important;
  }
  .selected {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
  }
}

:host {
  height: 100%;
}

.content {
  height: 100%;
}

