<div class="slider-detail-section" [formGroup]="shipmentPriceListForm">
  <div class="row">
    <div class="col-3 py-2">
      <etop-material-input
        textLabel="Nhà vận chuyển" placeholder="Chọn nhà vận chuyển" type="select"
        [optionSelect]="connectionsList$ | async" matOptionHeight="4rem"
        [displayMap]="displayMap" [valueMap]="valueMap" formControlName="connection_id">
      </etop-material-input>
    </div>
    <div class="col-9 py-2">
      <etop-material-input
        type="input" placeholder="Nhập tên bảng giá" textLabel="Tên bảng giá"
        formControlName="name">
      </etop-material-input>
    </div>
    <div class="col-12 py-2">
      <etop-material-input
        type="input" placeholder="Nhập mô tả" textLabel="Mô tả"
        formControlName="description">
      </etop-material-input>
    </div>
  </div>
  <div class="text-right py-2">
    <button class="btn btn-primary text-white" [disabled]="loading" (click)="createShipmentPriceList()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Tạo
    </button>
  </div>
</div>
