<ng-container *ngIf="items && items.length && !loading">
  <div class="table-header row font-weight-bold text-uppercase">
    <ng-container
      *ngTemplateOutlet="headerTemplate; context: { liteMode: liteMode }">
    </ng-container>
  </div>
</ng-container>
<div class="row-container" [sharedAsyncScroll]="scroll_id" #rowContainer>
  <ng-container *ngIf="loading; else finishLoading">
    <etop-table-placeholder [isHeader]="true"></etop-table-placeholder>
    <etop-table-placeholder *ngFor="let row of total_rows"></etop-table-placeholder>
  </ng-container>
  <ng-template #finishLoading>
    <ng-container *ngIf="!items || !items.length; else hasItems">
      <ng-container *ngTemplateOutlet="emptyItemTemplate"></ng-container>
    </ng-container>
    <ng-template #hasItems>
      <div class="table-items">
        <ng-container *ngFor="let item of items; let index = index;">
          <ng-container
            *ngTemplateOutlet="itemTemplate; context: { item: item, liteMode: liteMode, index: index }">
          </ng-container>
        </ng-container>
      </div>
    </ng-template>
  </ng-template>
  <etop-pagination
    [hidden]="!show_paging || loading"
    [perpage_array]="perpage_array"
    [config]="paginationConfig"
    [topship]="topship"
    [perpage]="perpage"
    (navigate)="navigate($event)"
    (perpageChange)="perpageChanged($event)">
  </etop-pagination>
</div>

