@import "../../../../theme/desktop/variables";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 .5rem;
}

.table-items {
  min-height: calc(100% - 6rem); // 45px = height of etop-pagination & its margins
}

::ng-deep {
  .small-cell {
    max-width: 10rem;
  }
  .col {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.table-header {
  height: 4rem;
  align-items: center;
  padding: 1rem 5px;
  border-bottom: 1px solid var(--gray-color);
}

.row-container {
  padding: 0 5px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  min-height: calc(100% - 9rem);
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}
