:host {
  display: flex;
  align-items: center;
}

.carrier-img img {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--border-gray-color);
  border-radius: 100%;
  object-fit: contain;
  object-position: center;
}

.carrier-name {
  font-size: 1.2rem;
  font-weight: 700;
}

