<div class="carrier-image">
  <img src="{{connection?.provider_logo}}" alt="">
</div>
<div class="pl-4 info">
  <div class="carrier-name">{{connection?.name}}</div>
  <div class="status status-{{connection?.status}}">
    {{connection?.status_display}}
  </div>
  <div *ngIf="connection?.connection_email">
    <i class="fa fa-user-circle mr-2"></i>
    <span>{{connection?.connection_email}}</span>
  </div>
</div>
<!--NOTE: Temporary-->
<!--<div class="connect ml-auto" *ePermissions="permissionsArray">-->
<!--  <ng-container *ePermissions="['admin/connection:confirm']">-->
<!--    <button-->
<!--      *ngIf="connection?.status == 'Z'" class="btn btn-primary text-white"-->
<!--      (click)="confirmConnection()">-->
<!--      Kết nối-->
<!--    </button>-->
<!--  </ng-container>-->
<!--  <ng-container *ePermissions="['admin/connection:disable', 'admin/connection_shop_builtin:update']">-->
<!--    <shared-dropdown-actions-->
<!--      *ngIf="connection?.status == 'P'"-->
<!--      [dropdownActions]="dropdownActions" [rightSide]="true" [useOnlyIcon]="false">-->
<!--    </shared-dropdown-actions>-->
<!--  </ng-container>-->
<!--</div>-->
