<div class="row">
  <div class="col-8">
    <h6 class="slider-detail-info-title">
      <i class="fa fa-circle text-primary smaller-font mr-2"></i>
      SẢN PHẨM
    </h6>
    <div *ngFor="let line of order?.lines; let i = index;" class="row align-items-center line-item">
      <div class="col-1" [class.line-text]="line?.attributes?.length">
        <span class="line-index">{{i + 1}}</span>
      </div>
      <div class="col-7">
        <div class="line-name">
          {{line?.product_name}}
        </div>
        <div class="line-attributes">
          {{displayAttributes(line)}}
        </div>
      </div>
      <div class="col-3">
        <span class="line-price badge line-badge">{{line?.payment_price | vnd}}đ</span>
      </div>
      <div class="col-1">
        <span class="line-quantity badge line-badge">x{{line?.quantity}}</span>
      </div>
    </div>
  </div>
  <div class="col-4" style="margin: -1.25rem 0;">
    <div class="money-wrapper">
      <div class="money-item">
        <span class="item-name">Giá trị SP:</span>
        <span class="font-weight-bold item-value">{{ order.basket_value | vnd }}đ</span>
      </div>
      <div class="money-item">
        <span class="item-name">Giảm giá:</span>
        <span class="font-weight-bold item-value">{{ order.total_discount | vnd }}đ</span>
      </div>
      <div class="money-item">
        <span class="d-flex flex-column">
          <span class="item-name">Phụ thu:</span>
          <span
            *ngIf="order.fee_lines && order.fee_lines.length"
            class="item-detail">
            {{ order.fee_lines[0].name }}
          </span>
        </span>
        <span class="font-weight-bold item-value">{{ order.total_fee | vnd }}đ</span>
      </div>
      <div class="money-item">
        <span class="item-name">Khách phải trả:</span>
        <span class="font-weight-bold item-value">{{ order.total_amount | vnd }}đ</span>
      </div>
    </div>
  </div>
</div>
