<td>{{account?.shop?.code}}</td>
<td class="font-weight-bold">{{account?.shop?.name}}</td>
<td>{{rolesDisplay(account?.user_account?.permission?.roles)}}</td>
<td class="text-right" style="max-width: 8rem;">
  <div class="d-flex align-items-center justify-content-end">
    <button
      class="btn btn-outline" [class.cursor-not-allowed]="account?.id == currentShop?.id"
      [class.btn-primary]="account?.id != currentShop?.id" [class.btn-default]="account?.id == currentShop?.id"
      (click)="switchAccount(account?.url_slug || account?.id)" [disabled]="account?.id == currentShop?.id">
      {{account?.id == currentShop?.id && 'Shop hiện tại' || 'Truy cập'}}
    </button>
  </div>
</td>
