ion-segment {
  z-index: 100;
  background: white;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  ion-label {
    text-transform: none;
  }
}


.items-list-row {
  border-bottom: 1px solid #f5f5f5;
}

.icon-item {
  width: 2rem;
  margin-right: 1rem;
}