<ion-header>
  <ion-toolbar>
    <ion-title>Tồn kho</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <shop-subscription-warning></shop-subscription-warning>
  <ion-segment mode="md" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment">
    <ion-segment-button mode="md" value="all">
      <ion-label>Tất cả</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="vouchersIn">
      <ion-label>Nhập kho</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="vouchersOut">
      <ion-label>Xuất kho</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content fullscreen>
  <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div class="ion-text-center w-100" *ngIf="loading">
    <div class="items-list-row" style="padding: 0" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
      <etop-ion-skeleton></etop-ion-skeleton>
    </div>
  </div>
  <ng-container *ngIf="segment == 'all'">
    <div class="order-list w-100">
      <div class="items-list-row" *ngFor="let voucher of vouchers" (click)="inventoryDetail(voucher)">
        <div class="box">
          <div class="ion-flex ion-align-items-center">
            <img src="assets/imgs/int-{{voucher?.type}}-button.png" class="icon-item" alt="">
            <div class="order-info">
              <div class="normal-font ion-text-left" style="margin-right: 2rem">
                <span class="font-bold ion-margin-right">{{voucher?.type == 'in' ? 'Nhập kho' : 'Xuất kho'}}</span>
                <span> - {{voucher?.ref_name}}</span>
                <span> - {{voucher?.total_items}} sp</span>
              </div>
              <div class="ion-text-left">
                <span class="small-font font-bold">{{voucher?.code}}</span> - <span
                  class="small-font">{{voucher?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
              </div>
            </div>
            <div class="ml-auto">
              <ion-text class="font-bold">{{voucher?.type == 'out' ? '- ' : ''}} {{voucher?.total_items}}</ion-text>
            </div>
          </div>
        </div>
      </div>
      <div class="ion-padding-top ion-text-center" *ngIf="vouchers?.length == 0 && !loading">
        <span>Cửa hàng chưa có phiếu xuất/nhập kho nào</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="segment == 'vouchersIn'">
    <div class="order-list w-100">
      <div class="items-list-row" *ngFor="let voucher of vouchersIn" (click)="inventoryDetail(voucher)">
        <div class="box">
          <div class="ion-flex ion-align-items-center">
            <img src="assets/imgs/int-in-button.png" class="icon-item" alt="">
            <div class="order-info">
              <div class="normal-font ion-text-left" style="margin-right: 2rem">
                <span class="font-bold ion-margin-right">{{voucher?.type == 'in' ? 'Nhập kho' : 'Xuất kho'}}</span>
                <span class="font-bold"> - {{voucher?.ref_name}}</span>
                <span> - {{voucher?.total_items}} sp</span>
              </div>
              <div class="ion-text-left">
                <span class="small-font font-bold">{{voucher?.code}}</span> - <span
                  class="small-font">{{voucher?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
              </div>
            </div>
            <div class="ml-auto">
              <ion-text class="font-bold">{{voucher?.total_items}}</ion-text>
            </div>
          </div>
        </div>
      </div>
      <div class="ion-padding-top ion-text-center" *ngIf="vouchersIn?.length == 0 && !loading">
        <span>Cửa hàng chưa có phiếu nhập kho</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="segment == 'vouchersOut'">
    <div class="order-list w-100">
      <div class="items-list-row" *ngFor="let voucher of vouchersOut" (click)="inventoryDetail(voucher)">
        <div class="box">
          <div class="ion-flex ion-align-items-center">
            <img src="assets/imgs/int-out-button.png" class="icon-item" alt="">
            <div class="order-info">
              <div class="normal-font ion-text-left" style="margin-right: 2rem">
                <span class="font-bold ion-margin-right">{{voucher?.type == 'in' ? 'Nhập kho' : 'Xuất kho'}}</span>
                <span class="font-bold"> - {{voucher?.ref_name}}</span>
                <span> - {{voucher?.total_items}} sp</span>
              </div>
              <div class="ion-text-left">
                <span class="small-font font-bold">{{voucher?.code}}</span> - <span
                  class="small-font">{{voucher?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
              </div>
            </div>
            <div class="ml-auto">
              <ion-text class="font-bold">- {{voucher?.total_items}}</ion-text>
            </div>
          </div>
        </div>
      </div>
      <div class="ion-padding-top ion-text-center" *ngIf="vouchersOut?.length == 0 && !loading">
        <span>Cửa hàng chưa có phiếu xuất kho</span>
      </div>
    </div>
  </ng-container>
</ion-content>