<div class="modal fade popup-variants" #variantPopup role="dialog"
  style="position: absolute; background-color: rgba(0,0,0,0.01)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h6">Chọn mẫu mã</p>
        <button class="close" data-dismiss="modal">
          <span class="text-large">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="border border-bottom-0">
          <div class="d-flex align-items-center cursor-pointer border-bottom py-2"
            *ngFor="let variant of productSelected.variants" (click)="pushdata(variant, productSelected)">
            <div class="px-2">
              <img [src]="variant.image_urls[0]" class="variant-image" alt="">
            </div>
            <div class="px-2">
              <span class="mr-1 text-truncate d-block" style="max-width: 150px;">{{productSelected.name}}</span>
              <span class="font-weight-bold" *ngIf="variant | variantDisplay">{{variant | variantDisplay}}</span>
            </div>
            <div class="px-2">Tồn kho: <b>{{variant.quantity}}</b></div>
            <div class="ml-auto px-2 text-primary font-weight-bold">{{variant.retail_price | vnd}}đ</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
