<div class="modal-header">
  <h5 class="modal-title text-center">Danh sách tài khoản thanh toán</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <div
    class="ledger d-flex justify-content-between align-items-center"
    *ngFor="let ledger of ledgers" shop-ledger-row [ledger]="ledger"
    (closeModal)="closeModal()" (showModal)="showModal()">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">
    Đóng
  </button>
  <button *ePermissions="['shop/ledger:create']" class="btn btn-primary" (click)="openCreateLedgerModal()">Thêm tài khoản</button>
</div>
