<div class="box setting-box">
  <div class="setting-header">Cửa hàng bạn tham gia quản trị</div>
  <div class="setting-body">
    <div class="row">
      <div class="table-responsive">
        <table class="w-100">
          <thead>
            <tr class="table-head">
              <th>Mã</th>
              <th>Tên cửa hàng</th>
              <th>Vai trò</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="noNotMyShopsFound">
              <td colspan="3" class="empty-list">
                Bạn chưa tham gia quản trị bất kì shop nào.
              </td>
            </tr>
            <ng-container *ngFor="let account of accounts;">
              <tr
                *ngIf="notMyShop(account?.user_account?.permission?.roles)" etelecom-shops-management-row
                [account]="account" [currentShop]="currentShop">
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="box setting-box">
  <div class="setting-header">Lời mời tham gia quản trị</div>
<!--  desktop view-->
  <div class="setting-body hide-768">
    <table class="w-100">
      <tbody>
        <ng-container *ngIf="userInvitations?.length; else noInvitation">
          <tr *ngFor="let invitation of userInvitations; let i = index;" etelecom-account-invitation-row
            [invitation]="invitation" (rejected)="getUserInvitations()" (accepted)="getUserInvitations()">
          </tr>
        </ng-container>
        <ng-template #noInvitation>
          <div class="empty-list">Bạn chưa được mời tham gia quản trị cửa hàng nào.</div>
        </ng-template>
      </tbody>
    </table>
  </div>
<!--  mobile-view-->
  <div class='show-768'>
    <div class='w-100'>
      <ng-container *ngIf="userInvitations?.length; else noInvitation">
        <ng-container *ngFor="let invitation of userInvitations; let i = index;">
          <etelecom-mobile-account-invitation-row  [invitation]="invitation" (rejected)="getUserInvitations()" (accepted)="getUserInvitations()" ></etelecom-mobile-account-invitation-row>
        </ng-container>
      </ng-container>
      <ng-template #noInvitation>
        <div class="empty-list">Bạn chưa được mời tham gia quản trị cửa hàng nào.</div>
      </ng-template>
    </div>
  </div>
</div>
