<ng-container [ngSwitch]="active_tab">
  <ng-container *ngSwitchCase="'detail_info'">
    <topship-detail-info [ffm]="ffm"></topship-detail-info>
  </ng-container>
  <ng-container *ngSwitchCase="'history'">
    <topship-fulfillment-histories [order]="ffm?.order" [ffm]="ffm"></topship-fulfillment-histories>
  </ng-container>
  <ng-container *ngSwitchCase="'shipnow_route'">
    <div class="p-3 d-flex align-items-center justify-content-center" *ngIf="loading_shipnow_orders">
      <i class="fa fa-spin fa-circle-o-notch bigger-font"></i>
    </div>
    <ng-container *ngIf="!loading_shipnow_orders">
      <div class="p-3 d-flex align-items-center justify-content-center" *ngIf="!ffm?.delivery_points?.length">
        Không có thông tin về đơn hàng.
      </div>
      <div class="p-3" *ngIf="ffm?.delivery_points?.length">
        <topship-fulfillment-shipnow-routes [ffm]="ffm"></topship-fulfillment-shipnow-routes>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
