<div class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-buttons slot="start" (click)="filter()">
                <div class="group-filter ion-align-items-center">
                    <ion-icon name="funnel-outline" class="filter"></ion-icon>
                    <span class="count-filter" *ngIf="filters?.length">{{filters?.length}}</span>
                    <ion-text class="m-l-5">Lọc</ion-text>
                </div>
            </ion-buttons>
            <ion-title>Đơn hàng</ion-title>
            <ion-buttons slot="end" class="button-icon" (click)="addOrder()" *ePermissions="['shop/customer:create']">
                <ion-icon name="add" mode="md" class="add-customer text-white"></ion-icon>
                <ion-text>Thêm</ion-text>
            </ion-buttons>
        </ion-toolbar>
        <etop-network-status></etop-network-status>
    </ion-header>
    <shop-subscription-warning></shop-subscription-warning>
    <ion-content>
        <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content refreshingSpinner="circles">
            </ion-refresher-content>
        </ion-refresher>
        <div class="order-list">
            <div class="items-list-row" *ngFor="let order of orders; trackBy: trackOrder">
                <div class="box" (click)="orderDetail(order)">
                    <div class="ion-flex ion-align-items-center ion-justify-content-between">
                        <div class="order-info">
                            <div class="normal-font">
                                <span class="font-bold">{{order?.customer?.full_name}}</span>
                                <span class="font-weight-normal text-default small-font" *ngIf="order?.customer?.deleted"> (Đã xoá)</span>
                                <span *ngIf="order?.customer?.phone"> - {{order?.customer?.phone}}</span>
                            </div>
                            <div class="small-font">
                                <span *ngIf="order?.code">{{order?.code}} - </span>
                                <span>{{order?.created_at | date: 'dd/MM/yy HH:mm'}}</span>
                            </div>
                        </div>
                        <div class="order-price normal-font font-bold ion-text-right">
                            <div class="price">{{order?.total_amount | vnd}}đ</div>
                            <div class="small-font status {{order?.status}}">
                                {{order?.status_display}}
                            </div>
                        </div>
                    </div>
                    <div class="ffm ion-flex ion-align-items-center ion-justify-content-between" *ngIf="order?.fulfillments?.length > 0">
                        <div class="ion-flex ion-align-items-center">
                            <img [src]="order?.activeFulfillment?.shipping_provider_logo" alt="" width="20px">
                            <ion-text style="font-size: 0.8rem">
                                {{order?.activeFulfillment?.carrier_display | uppercase}}
                                <ion-text style="font-size: 0.8rem" *ngIf="order?.fulfillments[0]?.shipping_code">
                                    - {{order?.activeFulfillment?.shipping_code}}
                                </ion-text>
                                - COD <strong style="font-size: 0.8rem">{{order?.activeFulfillment?.total_cod_amount | vnd}}đ</strong>
                            </ion-text>
                        </div>
                        <div class="ion-flex ion-align-items-center">
                            <ion-text style="font-size: 0.8rem" class="status {{ order?.activeFulfillment?.shipping_status }}">
                                {{order?.activeFulfillment?.shipping_state_display}}</ion-text>
                            <ion-icon name="ellipse" class="ffm-status {{order?.activeFulfillment?.shipping_status}}"></ion-icon>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="empty-state ion-text-center ion-flex ion-align-items-center h-100" *ngIf="orders?.length == 0">
            <div class="ion-text-center w-100" *ngIf="loading">
                <div class="items-list-row" style="padding: 0" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                    <etop-ion-skeleton></etop-ion-skeleton>
                </div>
            </div>
            <ion-text class="w-100" *ngIf="orders?.length == 0 && !loading">
                <div *ngIf="!filters?.length">
                    Bạn chưa có đơn hàng nào!
                </div>
                <div *ngIf="filters?.length">
                    Không tìm thấy đơn hàng phù hợp!
                </div>

            </ion-text>
        </div>
        <ion-infinite-scroll position="bottom" threshold="100px" (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content loadingSpinner="circles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>
</div>