.create-order {
    font-size: 2.3rem;
}

.items-list-row {
    border-bottom: 8px solid #f5f5f5;
    &:first-child {
        border-top: 8px solid #f5f5f5;
    }
}

.status {
    &.S {
        color: var(--topship-color)
    }
    &.P {
        color: var(--ion-color-success)
    }
    &.N {
        color: var(--ion-color-danger)
    }
    &.Z {
        color: var(--ion-color-medium);
    }
    &.NS {
        color: var(--ion-color-tertiary);
    }
}

.ffm-status {
    margin-left: 0.25rem;
    font-size: 0.8rem;
    margin-top: 0.15rem;
    &.S {
        color: var(--topship-color)
    }
    &.P {
        color: var(--ion-color-success)
    }
    &.N {
        color: var(--ion-color-danger)
    }
    &.Z {
        color: var(--ion-color-medium);
    }
    &.NS {
        color: var(--ion-color-tertiary);
    }
}

.status-confirmed {
    color: var(--ion-color-medium);
}

.order-price .price {
    margin-bottom: 0.25rem;
}

.ffm {
    border-top: 1px solid #eee;
    margin-top: .25rem;
    padding-top: 0.25rem;
}

.group-filter {
    display: flex;
    align-items: center;
    position: relative;
    .filter {
        font-size: 1.3rem;
    }
    .count-filter {
        position: absolute;
        top: -6px;
        right: -7px;
        background: var(--ion-color-primary);
        width: 13px;
        border-radius: 50%;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        font-size: 0.8rem;
        color: white;
    }
}

.button-icon {
    min-width: fit-content;
    background: var(--ion-color-primary);
    color: white;
    border-radius: 20px;
    padding: 0 1rem 0 0.75rem;
    min-height: 2.2rem;
    margin-right: 0.25rem;
    ion-icon {
        font-size: 1.2rem;
    }
    ion-text {
        font-size: 0.9rem;
    }
}