<div class="content" [formGroup]="shopForm">
  <div class="d-flex align-items-end">
    <label class="upload-logo">
      <img [src]="shopForm?.controls?.image_url?.value || 'assets/images/placeholder.png'" alt=""/>
      <span class="over-logo" *ngIf="!uploading">
        <i class="fa fa-camera"></i>
      </span>
      <span class="upload-loading" *ngIf="uploading">
        <mat-spinner class="mr-2" diameter="14"></mat-spinner>
      </span>
      <input
        accept="image/png,image/jpg,image/jpeg,image/gif" type="file"
        hidden (change)="onFileSelected($event)"/>
    </label>
    <div class="w-100 ml-3">
      <etop-material-input
        type="input" textLabel="Cửa hàng (*)" placeholder="Cửa hàng"
        formControlName="name">
      </etop-material-input>
    </div>
    <div class="ml-3" style="width: 40%;">
      <etop-material-input
        type="input" textLabel="Website" placeholder="Website"
        formControlName="website_url">
      </etop-material-input>
    </div>
  </div>
</div>
<div class="content" [formGroup]="addressForm">
  <div class="title mb-3">
    <span class="font-weight-bold">Người phụ trách <span class="text-danger">*</span></span>
  </div>
  <div class="row">
    <div class="col-4">
      <etop-material-input
        type="input" textLabel="Tên (*)" placeholder="Tên"
        formControlName="full_name">
      </etop-material-input>
    </div>
    <div class="col-4">
      <etop-material-input
        type="input" textLabel="Số điện thoại (*)" placeholder="Số điện thoại"
        formControlName="phone">
      </etop-material-input>
    </div>
    <div class="col-4">
      <etop-material-input
        type="input" textLabel="Email" placeholder="Email"
        formControlName="email">
      </etop-material-input>
    </div>
  </div>
</div>
<div class="content" [formGroup]="addressForm">
  <div class="title mb-3">
    <span class="font-weight-bold">Địa chỉ lấy hàng <span class="text-danger">*</span></span>
  </div>
  <div class="row">
    <div class="col-3">
      <etop-material-input-autocomplete
        textLabel="Tỉnh thành" placeholder="Tỉnh thành"
        [options]="provincesList$ | async" [displayMap]="displayMap" [valueMap]="valueMap"
        formControlName="province_code">
      </etop-material-input-autocomplete>
    </div>
    <div class="col-3">
      <etop-material-input-autocomplete
        textLabel="Quận huyện" placeholder="Quận huyện"
        [options]="(districtsList$ | async) || []" [displayMap]="displayMap" [valueMap]="valueMap"
        formControlName="district_code">
      </etop-material-input-autocomplete>
    </div>
    <div class="col-3">
      <etop-material-input-autocomplete
        textLabel="Phường xã" placeholder="Phường xã"
        [options]="(wardsList$ | async) || []" [displayMap]="displayMap" [valueMap]="valueMap"
        formControlName="ward_code">
      </etop-material-input-autocomplete>
    </div>
    <div class="col-3">
      <etop-material-input
        type="input" textLabel="Địa chỉ cụ thể" placeholder="Địa chỉ cụ thể"
        formControlName="address1">
      </etop-material-input>
    </div>
  </div>
</div>
<div class="content" [formGroup]="openTimeForm">
  <div class="title mb-3">
    <span class="font-weight-bold">Khung giờ lấy hàng <span class="text-danger">*</span></span>
  </div>
  <div class="row">
    <div class="col-4 mb-3">
      <mat-checkbox color="primary" disableRipple formControlName="morning">
        Buổi sáng
      </mat-checkbox>
    </div>
    <div class="col-4 mb-3">
      <mat-checkbox color="primary" disableRipple formControlName="afternoon">
        Buổi chiều
      </mat-checkbox>
    </div>
    <div class="col-4 mb-3">
      <mat-checkbox color="primary" disableRipple formControlName="evening">
        Buổi tối
      </mat-checkbox>
    </div>
    <div class="col-4 d-flex align-items-center">
      <mat-checkbox color="primary" disableRipple formControlName="customOpenTime">
        Nhập thời gian chính xác
      </mat-checkbox>
    </div>
    <ng-container *ngIf="openTimeForm?.controls?.customOpenTime?.value">
      <div class="col-4">
        <etop-material-input
          type="time" textLabel="Bắt đầu" placeholder="Bắt đầu"
          formControlName="startOpenTime">
        </etop-material-input>
      </div>
      <div class="col-4">
        <etop-material-input
          type="time" textLabel="Kết thúc" placeholder="Kết thúc"
          formControlName="endOpenTime">
        </etop-material-input>
      </div>
    </ng-container>
  </div>
</div>
<div class="content" [formGroup]="lunchBreakForm">
  <div class="title mb-3">
    <span class="font-weight-bold">Giờ nghỉ trưa của cửa hàng</span>
  </div>
  <mat-radio-group formControlName="lunchBreak">
    <div class="row">
      <div class="col-12 mb-3">
        <mat-radio-button color="primary" disableRipple [value]="false">
          Không nghỉ trưa
        </mat-radio-button>
      </div>
      <div class="col-4 d-flex align-items-center">
        <mat-radio-button color="primary" disableRipple [value]="true">
          Có nghỉ trưa (Nhập giờ nghỉ trưa)
        </mat-radio-button>
      </div>
      <ng-container *ngIf="lunchBreakForm?.controls?.lunchBreak?.value">
        <div class="col-4">
          <etop-material-input
            type="time" textLabel="Bắt đầu" placeholder="Bắt đầu"
            formControlName="startLunchBreak">
          </etop-material-input>
        </div>
        <div class="col-4">
          <etop-material-input
            type="time" textLabel="Kết thúc" placeholder="Kết thúc"
            formControlName="endLunchBreak">
          </etop-material-input>
        </div>
      </ng-container>
    </div>
  </mat-radio-group>
</div>
<div class="content">
  <div class="title mb-3">
    <span class="font-weight-bold">Ghi chú cho nhân viên giao nhận khi đến lấy hàng</span>
  </div>
  <mat-radio-group [formControl]="callOption">
    <mat-radio-button class="mr-3" color="primary" disableRipple value="call">Gọi điện trước khi lấy hàng
    </mat-radio-button>
    <mat-radio-button color="primary" disableRipple value="no-call">Luôn luôn có người, không cần gọi điện
    </mat-radio-button>
  </mat-radio-group>
</div>
<div class="content e-border-top">
  <mat-checkbox color="primary" disableRipple [formControl]="policyAccept">
    <span>
      Bằng việc thiết lập thông tin lấy hàng, tôi đồng ý với
      <a [href]="getShippingPolicyLink" target="_blank" class="">chính sách giao nhận</a>
      của Top Ship.
    </span>
  </mat-checkbox>
</div>
