<ion-header>
  <ion-toolbar>
    <ion-title>Thiết lập cửa hàng</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content fullscreen>
  <div class="ion-text-center ion-padding">
    <div class="product-image">
      <img [src]="currentShop.image_url || 'assets/images/placeholder_2.png'" alt="">
      <ion-icon
        name="camera" class="icon-upload" (click)="takePicture()"
        *ePermissions="['shop/settings/shop_info:update']">
      </ion-icon>
    </div>
  </div>
  <ion-list class="ion-padding-end">
    <ion-item>
      <ion-label position="fixed">Tên cửa hàng
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        required class="ion-text-right" type="text" placeholder="Tên cửa hàng" [(ngModel)]="currentShop.name"
        (ionChange)="onChangeShopName()"
        [disabled]="!disableView('shop/settings/shop_info:update')"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Số điện thoại
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        required class="ion-text-right" type="number" placeholder="Số điện thoại"
        [(ngModel)]="currentShop.phone" [disabled]="!disableView('shop/settings/shop_info:update')">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Website</ion-label>
      <ion-input
        type="text" class="ion-text-right" placeholder="Website" [(ngModel)]="currentShop.website_url"
        [disabled]="!disableView('shop/settings/shop_info:update')"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Email</ion-label>
      <ion-input
        type="text" class="ion-text-right" placeholder="Email" [(ngModel)]="currentShop.email"
        [disabled]="!disableView('shop/settings/shop_info:update')"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding-horizontal ion-padding-top font-14">Địa chỉ cửa hàng
    <ion-text color="danger">*</ion-text>
  </div>
  <ion-list class="ion-padding-end" *ngIf="loadData">
    <ionetop-select-suggest
      label="Tỉnh/Thành phố" placeholder="Chọn tỉnh/thành phố" [hasLabel]="true"
      position="stacked" [options]="provinces" [(ngModel)]="currentShop.address.province_code"
      (ngModelChange)="onProvinceSelected()">
    </ionetop-select-suggest>
    <ionetop-select-suggest
      label="Quận/Huyện" placeholder="Chọn quận/huyện" [hasLabel]="true" position="stacked"
      [options]="districts" [(ngModel)]="currentShop.address.district_code"
      (ngModelChange)="onDistrictSelected()">
    </ionetop-select-suggest>
    <ionetop-select-suggest
      label="Phường/Xã" placeholder="Chọn phường/xã" [hasLabel]="true" position="stacked"
      [options]="wards" [(ngModel)]="currentShop.address.ward_code">
    </ionetop-select-suggest>
    <ion-item>
      <ion-label>Địa chỉ</ion-label>
      <ion-input
        placeholder="Địa chỉ" class="ion-text-end" [disabled]="!disableView('shop/settings/shop_info:update')"
        [(ngModel)]="currentShop.address.address1">
      </ion-input>
    </ion-item>
    <div class="note text-primary font-12 ion-padding-bottom">*Lưu ý, đây không phải là địa chỉ lấy hàng.</div>
  </ion-list>
</ion-content>
<ion-footer class="footer-button-wrapper" *ePermissions="['shop/settings/shop_info:update']">
  <ion-toolbar color="light" class="no-padding">
    <div class="footer-buttons-etop ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="updateContactInfo()">
        Cập nhật
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
