.note {
  padding-top: 10px;
  text-align: center;
}

//.logo {
//  width: 50px;
//  height: 50px;
//  margin-bottom: 4px;
//}
.upload-logo {
  position: relative;
  margin: 0 !important;

  img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 1rem;
  }

  .over-logo,
  .upload-loading {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
    font-size: 14px;

    i {
      margin: auto;
    }
  }

  .over-logo {
    display: none;
  }

  .upload-loading {
    display: flex;

    i {
      margin: auto;
    }
  }

  img:hover+.over-logo {
    display: flex;
  }

  .over-logo:hover {
    display: flex;
  }
}

.product-image {
  height: 120px;
  width: 120px;
  margin: auto;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #eee;
  }

  .icon-upload {
    position: absolute;
    font-size: 2.3rem;
    border: 3px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    right: -1.2rem;
    bottom: 0;
    background: #eee;
  }

}