.wrapper-login {
  display: flex;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  background: var(--gray-color);
}

.login-box {
  width: 400px;
  margin: auto;
}

.login-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  img {
    width: 120px;
  }
}

.login-logo a {
  color: var(--dark-color);
}

b {
  font-weight: 700;
}

.login-box-body {
  background: var(--white-color);
  padding: 20px;
  color: var(--default-color);
  border-radius: 5px;
  border: 1px solid var(--border-gray-color);
}

.form-group {
  margin-bottom: 15px;
}

.has-feedback {
  position: relative;
}

.form-group .has-feedback {
  padding-right: 42.5px;
}

.fom-group input {
  padding-left: 5px;
  height: 100%;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-offset-1 {
  margin-left: 10px;
}

.col-xs-6 {
  width: 50%;
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icheck > label {
  padding-left: 0;
}

.checkbox label {
  min-height: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.col-xs-5 {
  width: 36%;
}

.forgot-password {
  float: right;
  margin: 10px 0;
  font-weight: 250;
  display: block;
  cursor: pointer;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-6 {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.modal-footer-forgot {
  padding-left: 17px;
  margin-top: -1rem;
}

.modal-header h2 {
  padding-right: 100px;
}

.modal-footer-forgot input {
  margin-top: -1rem;
}
.action {
  display: flex;
  .action-item {
    flex: 1 1;
    &:first-child {
      padding-right: 8px;
    }
    &:last-child {
      padding-left: 8px;
    }
  }
}
.modal-footer-signup {
  button {
    padding: 6px 24px;
  }
}

form {
  font-size: 12px;
  button,
  input {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  input:not([type='checkbox']),
  input:not([type='radio']),
  textarea {
    font-size: 16px;
  }
  label {
    font-weight: 700;
    margin-bottom: 5px !important;
  }
}

@media (max-width: 600px) {
  .login-box {
    width: 90%;
    max-width: 300px;
    margin: 12% auto;
  }
}
