<!--<etop-menu></etop-menu>-->
<div class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-title>Lời mời</ion-title>
        </ion-toolbar>
        <etop-network-status></etop-network-status>
    </ion-header>
    <ng-container *ngIf="!loading">
        <ion-content class="ion-padding">
            <div class="">
                <div class="ion-padding-top">
                    <div class="ion-text-center">
                        <img class="shop-logo" [src]="invitation?.shop?.image_url || 'assets/images/placeholder_2.png'" alt="etop">
                    </div>
                    <div>
                        <div class="ion-text-center">
                            <h6 class="ion-margin-bottom" style="font-weight: bold">Lời mời tham gia quản trị cửa hàng</h6>
                        </div>
                        <div *ngIf="loading" class="w-100 p-4 d-flex align-items-center justify-content-center">
                            <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.2rem;"></i>
                        </div>
                        <ng-container *ngIf="!loading">
                            <div class="">
                                <div class="ion-padding-top">
                                    <p>Xin chào, bạn được <strong>{{invitation?.invited_by_user}}</strong> mời tham gia quản trị cửa hàng
                                        <strong>{{invitation?.shop?.name}}</strong> trong vai trò:</p>
                                    <div *ngFor="let role of invitation?.roles">
                                        - {{roleMap(role)}}
                                    </div>
                                    <div *ngIf="not_found" class="font-weight-bold font-italic" style="font-size: 1.15rem; margin-top: 10px;">
                                        * Lời mời này đã hết hạn.
                                    </div>
                                    <div *ngIf="invitation?.declined_at" class="font-weight-bold font-italic" style="font-size: 1.15rem; margin-top: 10px;">
                                        * Bạn đã từ chối lời mời này.
                                    </div>
                                    <div *ngIf="invitation?.accepted_at" class="font-weight-bold font-italic" style="font-size: 1.15rem; margin-top: 10px;">
                                        * Bạn đã chấp nhận lời mời này.
                                    </div>
                                    <div *ngIf="invalid_email" class="font-italic" style="margin-top: 10px;">
                                        * Bạn đang đăng nhập với tài khoản có email:
                                        <strong>{{user.email}}</strong>. email được mời là:
                                        <strong>{{invitation.email}}</strong>. Vui lòng đăng nhập đúng tài khoản để tiếp tục!
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ion-content>
        <ng-container *ngIf="actionAvailable; else action">
            <ion-footer class="footer-button-wrapper">
                <div class="alert alert-warning ion-padding" *ngIf="!emailVerified && !unauthenticated">
                    <ion-icon name="shield-checkmark" color="warning" style="font-size: 0.8rem;"></ion-icon>
                    <span class="msg">
            Email của bạn chưa được xác thực.
          </span>
                </div>
                <ion-toolbar class="no-padding">
                    <div class="footer-buttons-etop ion-flex">
                        <ng-container *ngIf="!unauthenticated">
                            <ng-container *ngIf="emailVerified != null; else verified">
                                <ion-button class="h-100 w-100 ion-no-margin" (click)="refuse()" [disabled]="refusing" expand="full" color="danger" fill="clear">
                                    Từ chối
                                </ion-button>
                                <ion-button class="h-100 w-100 ion-no-margin" (click)="accept()" [disabled]="accepting" expand="full" color="secondary">
                                    Chấp nhận
                                </ion-button>
                            </ng-container>
                            <ng-template #verified>
                                <ion-button class="h-100 w-100 ion-no-margin" expand="full" color="warning" (click)="sendVerifyEmail()">
                                    Xác thực email ngay
                                </ion-button>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="unauthenticated">
                            <ion-button class="h-100 w-100 ion-no-margin" (click)="login()" *ngIf="!invalid_email" expand="full" color="secondary">
                                Đăng nhập để tiếp tục
                            </ion-button>
                            <ion-button class="h-100 w-100 ion-no-margin" (click)="login()" *ngIf="invalid_email" expand="full" color="secondary">
                                Đăng nhập tài khoản khác
                            </ion-button>
                        </ng-container>
                    </div>
                </ion-toolbar>
            </ion-footer>
        </ng-container>

        <ng-template #action>
            <ion-footer class="footer-button-wrapper">
                <ion-toolbar class="no-padding">
                    <div class="footer-buttons-etop ion-flex">
                        <ng-container *ngIf="!unauthenticated">
                            <ion-button class="h-100 w-100 ion-no-margin" (click)="dismiss()" expand="full" color="secondary">
                                Về cửa hàng
                            </ion-button>
                        </ng-container>
                        <ng-container *ngIf="unauthenticated">
                            <ion-button class="h-100 w-100 ion-no-margin" (click)="dismiss()" expand="full" color="secondary">
                                Đăng nhập
                            </ion-button>
                        </ng-container>
                    </div>
                </ion-toolbar>
            </ion-footer>
        </ng-template>
    </ng-container>
    <ng-container *ngIf="loading">
        <ion-content>
            <div class="ion-text-center ion-flex ion-align-items-center h-100">
                <div class="ion-text-center w-100">
                    <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
                    <div class="ion-padding-top">Đang kiểm tra ...</div>
                </div>
            </div>
        </ion-content>
    </ng-container>
</div>