<div class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-title class="ion-padding">
                <div class="ion-flex ion-align-items-center">
                    <img src="assets/imgs/logo_etop_mono.png" class="logo" alt="logo">
                    <div class="text-medium font-bold font-12">EB2B JSC</div>
                </div>
            </ion-title>
            <ion-buttons slot="end">
                <ion-icon class="ion-color-light" name="ellipsis-horizontal" size="small" color="medium" (click)="presentActionSheet()">
                </ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div class="ion-flex flex-column h-100">
            <div class="body-content">
                <div class="ion-padding-horizontal ion-padding-top font-bold">THÔNG TIN CƠ BẢN</div>
                <ion-list class="ion-padding-end">
                    <ion-item>
                        <ion-label>Tên cửa hàng *</ion-label>
                        <ion-input placeholder="Tên cửa hàng" class="ion-text-end" [(ngModel)]="shop.name">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Website</ion-label>
                        <ion-input placeholder="Website" class="ion-text-end" [(ngModel)]="shop.website_url">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Số điện thoại *</ion-label>
                        <ion-input placeholder="Số điện thoại" class="ion-text-end" [(ngModel)]="shop.phone">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Email *</ion-label>
                        <ion-input placeholder="Email" class="ion-text-end" [(ngModel)]="shop.email">
                        </ion-input>
                    </ion-item>

                </ion-list>
                <div class="ion-padding-horizontal ion-padding-top font-bold">ĐỊA CHỈ CỬA HÀNG</div>
                <ion-list class="ion-padding-end">
                    <ionetop-select-suggest lines="none" cssItemClass="line-custom" label="Tỉnh/Thành phố" placeholder="Chọn tỉnh/thành phố" [hasLabel]="true" position="stacked" [options]="provinces" [(ngModel)]="address.province_code" (ngModelChange)="onProvinceSelected()">
                    </ionetop-select-suggest>
                    <ionetop-select-suggest lines="none" cssItemClass="line-custom" label="Quận/Huyện" placeholder="Chọn quận/huyện" [hasLabel]="true" position="stacked" [options]="districts" [(ngModel)]="address.district_code" (ngModelChange)="onDistrictSelected()">
                    </ionetop-select-suggest>
                    <ionetop-select-suggest lines="none" cssItemClass="line-custom" label="Phường/Xã" placeholder="Chọn phường/xã" [hasLabel]="true" position="stacked" [options]="wards" [(ngModel)]="address.ward_code">
                    </ionetop-select-suggest>
                    <ion-item>
                        <ion-label>Địa chỉ</ion-label>
                        <ion-input placeholder="Địa chỉ" class="ion-text-end" [(ngModel)]="shop.address.address1">
                        </ion-input>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
    <ion-footer class="footer-button-wrapper">
        <ion-toolbar color="light" class="no-padding">
            <div class="footer-buttons-etop ion-flex">
                <button class="w-100 bg-primary text-white footer-button-item" (click)="createShop()">
          Tạo cửa hàng
        </button>
            </div>
        </ion-toolbar>
    </ion-footer>
</div>