<ng-content></ng-content>
<div class="col align-self-center" style="width: 15rem;">
  <span class="order-code text-bold" [class.text-topship]="order?.p_data?.just_imported">{{order?.code}}</span>
  <div class="small-font">{{order?.created_at | date: 'HH:mm dd/MM/yyyy'}}</div>
  <div *ngIf="!order?.p_data?.just_imported" class="small-font text-default">
    Nguồn: {{ order?.source_display || order?.source }}
  </div>
  <div *ngIf="order?.p_data?.just_imported" class="just-imported">Đơn mới import</div>
</div>
<div class="col align-self-center" style="width: 17rem;">
  <ng-container *ngIf="isNormalCustomer; else notNormal;">
    <span class="font-weight-bold text-primary cursor-pointer" (click)="viewDetailCustomer()">
      {{ order?.customer?.full_name }}
      <i *ngIf="!order?.customer?.deleted" class="fas fa-external-link-alt external-link-icon"></i>
      <span class="font-weight-normal text-default ml-1 small-font" *ngIf="order?.customer?.deleted">(Đã xoá)</span>
    </span>
    <div class="small-font">{{ order?.customer?.phone }}</div>
  </ng-container>
  <ng-template #notNormal>
    <ng-container *ngIf="order?.shipping_address; else anonymous;">
      <span class="font-weight-bold">{{ order?.shipping_address?.full_name }}</span>
      <div class="small-font">{{ order?.shipping_address?.phone }}</div>
    </ng-container>
    <ng-template #anonymous>
      <span class="font-weight-bold text-primary cursor-pointer" (click)="viewDetailCustomer()">
        Khách lẻ
        <i  class="fas fa-external-link-alt external-link-icon"></i>
      </span>
    </ng-template>
  </ng-template>
</div>
<div class="col align-self-center text-left" style="width: 14rem;">
  <div class="text-bold">{{ order?.total_amount | vnd }}đ</div>
  <div class="small-font">{{ order?.total_items }} sản phẩm</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="width: 24rem;">
  <div *ngIf="order?.activeFulfillment?.shipping_code" class="d-flex align-items-center">
    <div class="carrier-image">
      <img [src]="order?.activeFulfillment?.shipping_provider_logo" alt="">
      <img *ngIf="order?.activeFulfillment?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
    </div>
    <div class="d-flex flex-column align-items-start carrier-info" (click)="viewDetailFfm()">
      <span class="shipping-code" [class.text-topship]="order?.activeFulfillment?.from_topship">
        {{ order?.activeFulfillment?.shipping_code }}
        <i class="fas fa-external-link-alt external-link-icon"></i>
      </span>
      <span class="d-flex align-items-center flex-wrap carrier-name">
        <span class="text-bold text-uppercase" [class.text-topship]="order?.activeFulfillment?.from_topship">
          {{order?.activeFulfillment?.carrier_display}}
        </span>
      </span>
    </div>
  </div>
  <div *ngIf="!order?.activeFulfillment?.shipping_code">-</div>
</div>
<div class="col align-self-center" style="width: 16.5rem;">
  <div class="order-status order-{{ order?.status }}">
    {{ order?.status_display }}
  </div>
  <div *ngIf="order?.cancel_reason" class="small-font text-default" > Lý do: {{order.cancel_reason}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="width: 16.5rem;">
  <div *ngIf="order?.activeFulfillment" class="order-status order-{{ order?.activeFulfillment?.shipping_state }}">
    {{ order?.activeFulfillment?.shipping_state_display }}
  </div>
  <div *ngIf="!order?.activeFulfillment">-</div>
  <div *ngIf="order?.activeFulfillment?.shipping_state !== 'cancelled' && order?.activeFulfillment?.status == 'N'" class="small-font text-danger">
    Có lỗi xảy ra
    <i class="fa fa-info-circle ml-2"
      ngbTooltip="Có lỗi xảy ra khi đồng bộ trạng thái với hệ thống {{order?.activeFulfillment?.carrier_display | uppercase}}"
      placement="bottom"
      tooltipClass="text-left">
    </i>
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="width: 10rem;">
  <div class="order-status order-{{ order?.payment_status }}">
    {{ order?.payment_status_display }}
  </div>
</div>
