:host {
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 110%;
}

.slide-container {
  height: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  border-right: 0;
  box-shadow: 2px 11px 15px 0 rgba(0, 0, 0, 0.11);
  border-radius: 10px 0;
  display: flex;
  flex-direction: column;
}

.slider-header {
  border-bottom: 1px solid var(--border-gray-color);
  display: flex;
  justify-content: space-between;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.slider-body {
  flex: 1 1 auto;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}

.menu {
  height: 25px;
  cursor: pointer;
}

::ng-deep {
  .close-slide {
    border: 1px solid #95a5a6;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #95a5a6;
    }
  }
}

