<div class="slide-container">
  <ng-container *ngIf="!customHeader">
    <div class="slider-header p-4">
      <div class="d-flex align-items-center">
        <span class="title" [innerHTML]="title | safeHtml"></span>
        <ng-content select="[header]"></ng-content>
      </div>

      <button class="btn btn-default btn-outline" (click)="close()">Đóng
        <i class="fa fa-times"></i>
      </button>
    </div>
  </ng-container>

  <ng-container [ngTemplateOutlet]="customHeader"></ng-container>

  <div class="slider-body">
    <ng-content></ng-content>
  </div>
</div>
