<div class="section">
  <div class="section-title">Địa chỉ lấy hàng</div>
  <shared-select-multiline
    *ngIf="fromAddresses?.length" [options]="fromAddresses" placeholder="Nhập địa chỉ lấy hàng"
    inputClass="text-{{color}}" [(ngModel)]="fromAddressIndex" (ngModelChange)="setPickupAddress()"
    width="100%" min_width="100%">
    <div class='text-center m-auto text-{{color}}' (click)="newPickupAddress()">Thêm địa chỉ lấy hàng mới</div>
  </shared-select-multiline>
  <button class="btn btn-{{color}} w-100" *ngIf="!fromAddresses?.length" (click)="newPickupAddress()">
    Tạo địa chỉ lấy hàng
  </button>
</div>
<div class="section">
  <div class="d-flex align-items-center justify-content-between">
    <div class="section-title mb-0">Khối lượng chung</div>
    <mat-slide-toggle
      color="{{color == 'topship' ? 'accent' : color}}"
      [(ngModel)]="uniData.weight.toggled" (ngModelChange)="updateUniData(true)" disableRipple>
    </mat-slide-toggle>
  </div>
  <div class="mt-3" *ngIf="uniData.weight.toggled">
    <etop-material-input-format-number
      [topshipInput]="color == 'topship'" placeholder="Khối lượng" formatNumberUnit="g"
      [(ngModel)]="uniData.weight.value" (blur)="updateUniData(true)">
    </etop-material-input-format-number>
  </div>
</div>
<div class="section">
  <div class="d-flex align-items-center justify-content-between">
    <div class="section-title mb-0">Ghi chú xem hàng chung</div>
    <mat-slide-toggle
      color="{{color == 'topship' ? 'accent' : color}}"
      [(ngModel)]="uniData.tryOn.toggled" (ngModelChange)="updateUniData()" disableRipple>
    </mat-slide-toggle>
  </div>
  <div class="mt-3" *ngIf="uniData.tryOn.toggled">
    <etop-material-input
      [topshipInput]="color == 'topship'" placeholder="Ghi chú xem hàng" type="select" [optionSelect]="tryOnOptions"
      [(ngModel)]="uniData.tryOn.value" (ngModelChange)="updateUniData()">
    </etop-material-input>
  </div>
</div>
<div class="section">
  <div class="d-flex align-items-center justify-content-between">
    <div class="section-title mb-0">Ghi chú giao hàng chung</div>
    <mat-slide-toggle
      color="{{color == 'topship' ? 'accent' : color}}"
      [(ngModel)]="uniData.shippingNote.toggled" (ngModelChange)="updateUniData()" disableRipple>
    </mat-slide-toggle>
  </div>
  <div class="mt-3" *ngIf="uniData.shippingNote.toggled">
    <etop-material-input
      [topshipInput]="color == 'topship'" placeholder="Ghi chú giao hàng" type="input"
      [(ngModel)]="uniData.shippingNote.value" (blur)="updateUniData()">
    </etop-material-input>
  </div>
</div>
<div class="section">
  <div class="d-flex align-items-center justify-content-between">
    <div class="section-title mb-0">Đóng bảo hiểm cho hàng hoá</div>
    <mat-slide-toggle
      color="{{color == 'topship' ? 'accent' : color}}"
      [(ngModel)]="uniData.insurance.toggled" (ngModelChange)="updateUniData(true)" disableRipple>
    </mat-slide-toggle>
  </div>
</div>
<div class="section">
  <div class="section-title">Chọn nhà vận chuyển để lấy gói dịch vụ</div>
  <div class="mt-3">
    <etop-material-input
      textLabel="Nhà vận chuyển" placeholder="Chọn nhà vận chuyển" type="select"
      [optionSelect]="connectionsList" matOptionHeight="4rem" [topshipInput]="color == 'topship'"
      [displayMap]="displayMap" [valueMap]="valueMap"
      [(ngModel)]="uniData.connectionID.value" (ngModelChange)="updateUniData(true)">
    </etop-material-input>
  </div>
  <div class="mt-3">
    <mat-radio-group
      color="{{color == 'topship' ? 'accent' : color}}"
      [(ngModel)]="sortShipmentServiceType" (ngModelChange)="updateSortShipmentServiceOrders()">
      <mat-radio-button disableRipple value="minFee">Giá rẻ nhất</mat-radio-button>
      <mat-radio-button disableRipple value="minDeliveryTime">Giao nhanh nhất</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div class="section border-bottom-0">
  <div class="align-items-center d-flex justify-content-between mb-4">
    <div>
      <div class="money-label">Tổng thu hộ</div>
      <div class="money-value">{{totalCodAmount | number}}đ</div>
    </div>
    <div class="text-right">
      <div class="money-label">Tổng phí</div>
      <div class="money-value">
        <span *ngIf="calculatingFee"><i class="fa fa-spin fa-circle-o-notch"></i></span>
        <span *ngIf="!calculatingFee">{{totalFee | number}}đ</span>
      </div>
    </div>
  </div>
  <div class="button-wrapper text-center">
    <button
      class="btn text-white w-100"
      [ngClass]="(totalFfms && fromAddresses?.length) ? 'btn-' + color : 'btn-default'"
      [class.disabled]="cannotCreateFfm"
      ngbTooltip="Vui lòng chọn địa chỉ lấy hàng để lấy gói dịch vụ" [disableTooltip]="fromAddresses?.length > 0"
      placement="top" container="body"
      (click)="onConfirm()">
      <mat-spinner *ngIf="loading" class="mr-2" diameter="14"></mat-spinner>
      Tạo {{totalFfms}} đơn giao hàng
    </button>
  </div>
</div>
