:host {
  padding: 0 1rem;
  display: block;
}

.section {
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-gray-color);
  position: relative;
}

.section-title {
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.money-label {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.money-value, .money-value * {
  font-size: 1.15rem;
  font-weight: 700;
}

shared-select-multiline::ng-deep {
  .no-display-input {
    padding-left: 0;
    padding-right: 0;
  }
  .right {
    margin-right: 0 !important;
  }
  .display-value {
    .options {
      width: 100%;
      left: 0;
      .option {
        padding: 0.5rem 1rem;
      }
    }
  }
}

mat-radio-group {
  width: 100%;
  display: flex;
}

mat-radio-button {
  flex: 1;
}

.disabled {
  cursor: not-allowed;
  opacity: .5;
}
