ion-row {
  display: flex;
  align-items: center;
}

.order-lines {
  margin: 1rem;
}

.select-group {
  ion-select {
    min-width: 100%;
    padding-left: 0;
  }
}

ion-item {
  --padding-start: 0;
  --min-height: 30px;
  --inner-padding-end: 0;
}

ion-input-format-number::ng-deep {
  width: 100%;

  ion-item {
    margin: 0;
    padding: 0;

    .item-inner {
      padding: 0 !important;
    }
  }

  .native-input,
  .formatted-number {
    padding-bottom: 0.4rem !important;
    padding-top: 0.4rem !important;
    line-height: unset;
  }

  .text-default {
    .formatted-number {
      color: #444 !important;
    }
  }
}

ion-input::ng-deep {
  display: initial;

  .native-input {
    padding: 0 !important;
    font-size: 1rem;
  }
}

ion-select {
  min-width: 100%;
  padding-left: 0;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
}

.shipping-warning {
  color: var(--ion-color-danger-shade)
}