<ng-container *ngIf="(loggedInConnections$ | async)?.length; else emptyConnection">
  <ion-list class="ion-padding-end order-lines" [formGroup]="fulfillmentForm">
    <ion-row class="content-section item">
      <ion-col>
        <span>Giá trị khai giá</span>
      </ion-col>
      <ion-col>
        <etop-ion-input-format-number formatNumberUnit="đ" cssClass="text-default" formControlName="insurance_value"
                                      (input)="onInsuranceInputed()">
        </etop-ion-input-format-number>
      </ion-col>
    </ion-row>
    <ion-row class="content-section item">
      <ion-col>
        <span>Thu hộ (COD)</span>
      </ion-col>
      <ion-col>
        <etop-ion-input-format-number formatNumberUnit="đ" formControlName="cod_amount" (input)="onCodAmountInputed()">
        </etop-ion-input-format-number>
      </ion-col>
    </ion-row>
    <ion-row class="item">
      <ion-col>
        <span>Khối lượng (g)</span>
      </ion-col>
      <ion-col>
        <etop-ion-input-format-number formatNumberUnit="g" cssClass="text-default" formControlName="chargeable_weight">
        </etop-ion-input-format-number>
      </ion-col>
    </ion-row>
    <ion-row class="item">
      <ion-col>
        <span>Mã khuyến mãi</span>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input formControlName="coupon" (input)="onCoupon()" placeholder="Nhập mã khuyến mãi"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="item select-group">
      <ion-col size="6">
        <span>Dịch vụ</span>
      </ion-col>
      <ion-col size="12" *ngIf="!carrierServices?.length && (activeToAddress$ | async)?.ward_code">
        <ion-text class="shipping-warning">Không có gói giao hàng phù hợp</ion-text>
      </ion-col>
      <ion-col size="12" *ngIf="!(fromAddress$ | async)?.length">
        <ion-text class="shipping-warning">Vui lòng chọn <strong>địa chỉ lấy hàng</strong> để xác định gói dịch vụ
        </ion-text>
      </ion-col>
      <ion-col size="12" *ngIf="!(activeToAddress$ | async)?.ward_code && (fromAddress$ | async)?.length">
        <ion-text class="shipping-warning">Vui lòng nhập <strong>địa chỉ khách hàng</strong> để xác định gói dịch vụ
        </ion-text>
      </ion-col>
      <ion-col size="6" *ngIf="carrierServices?.length">
        <ion-item *ngIf="(activeToAddress$ | async)?.ward_code && (fromAddress$ | async)">
          <ion-label class="ion-hide">Dịch vụ</ion-label>
          <ion-select placeholder="Chọn loại dịch vụ"
            formControlName="selected_service_unique_id">
            <ion-select-option *ngFor="let option of carrierServices" [value]="option?.unique_id">
              {{option?.carrier.toUpperCase()+ ' - '+ option.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="carrierServices?.length">
      <ion-row class="item select-group" *ngIf="(activeToAddress$ | async)?.ward_code && (fromAddress$ | async)">
        <ion-col size="6">
          <span class="d-inline">Phí ship: </span>
          <strong>{{fulfillmentForm.controls['shipping_service_fee'].value || 0 | vnd}}đ </strong>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label class="ion-hide">Đối tượng thanh toán ship</ion-label>
            <ion-select placeholder="Chọn đối tượng thanh toán ship" formControlName="shipping_payment_type">
              <ion-select-option *ngFor="let option of tryOnOptionsShipping" [value]="option?.value">
                {{option?.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row class="item select-group">
      <ion-col size="6">
        <span>Ghi chú xem hàng</span>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label class="ion-hide">Ghi chú xem hàng</ion-label>
          <ion-select placeholder="Chọn ghi chú xem hàng" formControlName="try_on">
            <ion-select-option *ngFor="let option of tryOnOptions" [value]="option?.value">
              {{option?.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="item" >
      <ion-col>
        <span>Ghi chú giao hàng</span>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input formControlName="shipping_note" placeholder="Nhập ghi chú giao hàng"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
</ng-container>
<ng-template #emptyConnection>
  <etop-empty [empty]="empty" *ePermissions="['shop/connection:create']"></etop-empty>
</ng-template>
