<ion-header>
  <ion-toolbar>
    <ion-title>Danh sách Fanpage</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="!loading">
    <div class="empty-state h-100" *ngIf="!fb_pages?.length">
      <img src="assets/imgs/FB_gray.png" alt="fb" class="fb-logo">
      <ion-text class="empty-text">
        Cửa hàng của bạn chưa có Fanpage nào được kết nối.
      </ion-text>
      <ion-text color="primary" style="padding-bottom: 0.5rem">Kết nối Fanpage</ion-text>
      <img src="assets/imgs/connect-fb.png" alt="facebook-connect" width="180px" (click)="fbConnect()">
      <!-- <div (click)="fbConnect()" class="btn-connect">Kết nối</div> -->
    </div>
    <div class="list" *ngIf="fb_pages?.length">
      <div class="item ion-flex ion-align-items-center" *ngFor="let page of fb_pages; let i = index; trackBy: trackPage">
        <div class="avatar">
          <img [imageLoader]="page?.external_image_url" src="assets/images/placeholder_medium.png" alt="">
          <div *ngIf="page?.connection_status == 'N'" class="lost-connect" (click)="fbConnect()">
            <ion-icon name="refresh"></ion-icon>
          </div>
        </div>
        <div style="flex: 1; padding: 0 1rem;">
          <div class="fp-name">{{page?.external_name}}</div>
          <div class="fabo-status fabo-{{page?.connection_status}}">
            <ion-icon name="ellipse" style="font-size: 0.5rem;"></ion-icon>
            <ion-text style="font-size: 0.9rem; padding-left: .25rem;">{{page?.connection_status_display}}</ion-text>
          </div>
        </div>
        <div class="remove-icon" (click)="removePage(i, page?.external_id)" *ePermissions="['facebook/fanpage:delete']">
          <ion-icon name="trash-outline"></ion-icon>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="empty-state h-100" *ngIf="loading">
    <div class="ion-text-center w-100">
      <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
      <div class="ion-padding-top">Đang tải dữ liệu ...</div>
    </div>
  </div>
</ion-content>
<ng-container *ePermissions="['facebook/fanpage:create']">
  <ion-footer *ngIf="fb_pages?.length" class="btn-footer">
    <ion-toolbar class="no-padding">
      <div class="ion-flex">
        <div class="h-100 w-100 ion-no-margin ion-text-center bg-light" style="padding: 1rem">
          <!-- <ion-icon name="add-outline" color="primary"></ion-icon> -->
          <div class="text-primary" style="padding-bottom: 0.5rem">Kết nối thêm Fanpage</div>
          <img src="assets/imgs/connect-fb.png" alt="facebook-connect" width="180px" (click)="fbConnect()">
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>