<ng-container *ngIf="loading; else loadDone;">
  <div class="empty">
    <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
  </div>
</ng-container>
<ng-template #loadDone>
  <div *ngIf="purchase_orders.length > 0; else empty;" class="table-responsive">
    <table class="w-100">
      <thead>
        <tr>
          <th>Mã đơn nhập hàng</th>
          <th class="text-right">Tổng số lượng</th>
          <th class="text-right">Giá trị</th>
          <th>Trạng thái</th>
          <th>Thanh toán</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase_order of purchase_orders">
          <td>
            <span class="text-primary font-weight-bold cursor-pointer">
              {{purchase_order?.code}}
            </span>
            <div style="font-size: 10px;">{{purchase_order?.created_at | date: 'dd/MM/yy HH:mm'}}</div>
          </td>
          <td class="text-right">
            <div class="font-weight-bold">
              {{purchase_order?.total_items}}
            </div>
          </td>
          <td class="text-right">
            <div class="font-weight-bold">{{ purchase_order?.total_amount | vnd }}đ</div>
            <div style="font-size: 10px;">{{ purchase_order?.total_products }} sản phẩm</div>
          </td>
          <td>
            <div class="order-status order-{{purchase_order?.status}}">
              {{purchase_order?.status_display}}
            </div>
          </td>
          <td>
            <div class="order-status order-{{ purchase_order?.payment_status }}">
              {{ purchase_order?.payment_status_display }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="empty">Chưa có đơn nhập hàng nào từ nhà cung cấp <strong>{{supplier_name}}</strong></div>
  </ng-template>
</ng-template>
