<div style="height: 100%" >
    <div class="ion-flex flex-column h-100" *ngIf="status?.connected">
    <ng-container *ngIf="currentView(view.PHONE_SUBMIT)">
        <ion-content>
        <div class="ion-flex flex-column h-100">
          <div class="ion-flex ion-align-items-center h-100">
            <div class="body-content ion-padding ion-text-center w-100">
              <img src="assets/images/topship-login.jpg" alt="logo" width="35%">
              <div class="desc">
                <ion-text color="primary">Giao Hàng Nhanh Tiết Kiệm Giá Rẻ Nhất!</ion-text>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
        <ion-footer>
        <form (submit)="onPhoneSubmit()">
          <div class="ion-padding-horizontal ion-padding-top text-white" style="background: #e67e22">
            <div class="font-bold">Nhập số điện thoại</div>
            <div class="font-12">Để bắt đầu các tiện ích miễn phí</div>
            <input type="tel" name="phone" placeholder="Nhập số điện thoại" [(ngModel)]="phone"
              class="border-rounded font-bold input-phone input-custom ion-no-margin ion-margin-top"/>
          </div>
        </form>
        <ion-toolbar color="primary" class="no-padding">
          <div class="ion-flex ion-padding-horizontal ion-margin-bottom continue-btn">
            <button type="submit" class="w-100 text-white btn login-btn"  (click)="onPhoneSubmit()">
              <ion-spinner name="lines-small" class="text-topship spinner"  *ngIf="ionLoading"></ion-spinner>
              <span class="font-bold">
                Tiếp tục
              </span>
            </button>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ng-container>
    <ng-container *ngIf="currentView(view.LOGIN)">
      <ion-content>
        <div class="body-content h-100">
          <form (submit)="onLogin()" class="h-100 ion-flex flex-column">
            <div class="ion-padding">
              <div class="ion-flex ion-align-items-center ion-justify-content-between ion-padding-top">
                <h4 class="font-bold">Chào mừng bạn trở lại</h4>
                <img src="assets/images/topship-login.jpg" alt="logo" width="80px" height="80px">
              </div>
              <div>Vui lòng nhập mật khẩu để truy cập</div>
              <div class="form-phone ion-margin-top">
                <div class="text-primary changephone-text ion-padding-vertical" (click)="toView(view.PHONE_SUBMIT)">
                  Thay đổi
                </div>
                <input type="text" name="phone" placeholder="Nhập số điện thoại" [(ngModel)]="phone"
                  class="border-rounded font-bold input-phone" readonly>
              </div>
              <input type="password" name="password" placeholder="Nhập mật khẩu" [(ngModel)]="password" autofocus
                class="border-rounded ion-margin-vertical">
              <span class="text-primary forgot-pass" (click)="forgotPassword()">Quên mật khẩu!</span>
            </div>
          </form>
        </div>
      </ion-content>
      <ion-footer class="footer-button-wrapper ion-no-border">
        <ion-toolbar>
          <div class="footer-buttons ion-flex">
            <button type="submit" class="w-100 bg-primary text-white footer-button-item font-bold" (click)="onLogin()" [disabled]="ionLoading">
              <ion-spinner name="lines-small" class="text-white spinner" *ngIf="ionLoading"></ion-spinner>
              <span>Đăng nhập</span>
            </button>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ng-container>

    <ng-container *ngIf="currentView(view.REGISTER)">
      <ion-content>
        <div class="body-content h-100 ion-padding-top">
          <div class="h-100 ion-flex flex-column">
            <div class="ion-padding">
              <div class="ion-flex ion-align-items-center ion-justify-content-between ion-padding-bottom">
                <h4 class="font-bold">Tạo tài khoản</h4>
                <img src="assets/images/topship-login.jpg" alt="logo" width="80px" height="80px">
              </div>
              <div class="font-12">Vui lòng sử dụng thông tin chính xác để có được trải nghiệm tốt nhất trong quá
                trình sử dụng</div>
              <div class="form-phone ion-margin-top">
                <div class="text-primary changephone-text ion-padding-vertical" (click)="toView(view.PHONE_SUBMIT)">
                  Thay đổi
                </div>
                <input type="text" name="phone" placeholder="Nhập số điện thoại" value="{{phone}}"
                  class="border-rounded font-bold input-phone" readonly>
              </div>
              <input type="text" name="fullname" placeholder="Họ và tên" [(ngModel)]="signupData.full_name" autofocus
                class="border-rounded ion-margin-top">
              <input type="email" name="email" placeholder="Email" [(ngModel)]="signupData.email"
                class="border-rounded ion-margin-top">
                <input type="text" name="shop" placeholder="Tên cửa hàng" [(ngModel)]="shop_name"
                  class="border-rounded ion-margin-top">
              <input type="password" name="password" placeholder="Mật khẩu" [(ngModel)]="signupData.password"
                class="border-rounded ion-margin-top">
              <input type="password" name="confirm" placeholder="Xác nhận mật khẩu" [(ngModel)]="signupData.confirm"
                class="border-rounded ion-margin-top">
              <ion-list lines="none" class="ion-padding-top">
                <ion-item>
                  <ion-checkbox class="checkbox" id="agree_tos" mode="md" color="primary" slot="start"
                    [(ngModel)]="signupData.agree_tos">
                  </ion-checkbox>
                  <ion-label class="font-12" for="agree_tos">Bằng việc đăng ký tôi đồng ý với
                    <a href="https://faboshop.vn/chinh-sach-su-dung.html">điều khoản sử dụng dịch vụ</a>
                  </ion-label>
                </ion-item>
              </ion-list>

            </div>
          </div>
        </div>
      </ion-content>
      <ion-footer class="footer-button-wrapper ion-no-border">
        <ion-toolbar>
          <div class="footer-buttons ion-flex">
            <button class="w-100 bg-primary text-white footer-button-item font-bold" (click)="signUp()" [disabled]="ionLoading">
              <ion-spinner name="lines-small" class="text-white spinner" *ngIf="ionLoading"></ion-spinner>
              <span>Đăng ký</span>
            </button>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ng-container>

    <ng-container *ngIf="currentView(view.PHONE_VERIFY)">
      <ion-content>
        <div class="body-content h-100">
          <form (submit)="onPhoneVerify()" class="h-100 ion-flex flex-column">
            <div class="ion-padding">
              <div class="ion-flex ion-align-items-center ion-justify-content-between ion-padding-vertical">
                <h4 class="font-bold">Xác thực</h4>
                <img src="assets/images/topship-login.jpg" alt="logo" width="80px" height="80px">
              </div>
              <div class="font-12">Một mã xác nhận đã được gửi đến số {{phone}}, vui lòng kiểm tra tin nhắn và nhập mã
                vào ô bên dưới</div>
              <div class="form-phone ion-margin-top">
                <div class="text-primary changephone-text" (click)="toView(view.PHONE_SUBMIT)">
                  Thay đổi
                </div>
                <input type="tel" name="phone" placeholder="Nhập số điện thoại" [(ngModel)]="phone"
                  class="border-rounded font-bold input-phone" readonly>
              </div>
              <input type="tel" name="verify_code" placeholder="Mã xác nhận" [(ngModel)]="verify_code" autofocus
                class="border-rounded ion-margin-vertical font-bold input-phone">
              <div class="font-12">
                <span>Bạn không nhận được mã? </span>
                <span style="opacity: 0.5" *ngIf="countdown > 0"><strong class="text-primary">Gửi lại (chờ trong
                  {{countdown}} giây)</strong></span>
                <strong class="text-primary" *ngIf="countdown <= 0" (click)="reSendverifyphone()">Gửi lại</strong>
              </div>
            </div>
          </form>
        </div>
      </ion-content>
      <ion-footer class="footer-button-wrapper ion-no-border" (click)="onPhoneVerify()">
        <ion-toolbar>
          <div class="footer-buttons ion-flex">
            <button type="submit" class="w-100 bg-primary text-white footer-button-item font-bold" >
              <span>Xác nhận</span>
            </button>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ng-container>
  </div>
  <ion-content *ngIf="!status?.connected">
    <etop-network-disconnect></etop-network-disconnect>
  </ion-content>
</div>
