ion-toolbar {
  --border-width: 0 !important;
}

.logo {
  width: 1.5rem;
  height: 100%;
  margin-right: .5rem;
}

.logo-rounded {
  width: 2.5rem;
  height: 100%;
  border: 1px solid var(--ion-color-medium-tint);
  border-radius: 50%;
}

.login-btn {
  display:flex;
  align-items:center;
  justify-content:center;
  color: var(--ion-color-primary) !important;
  padding: 1rem;
  border-radius: 50rem;
  background: var(--ion-color-white);
}

.footer-content {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.img-banner {
  position: absolute;
  width: 45%;
  right: 0;
  bottom: 0;
  max-width: 250px;
}

.banner-footer {
  position: relative;
}

.forgot-pass {
  font-size: 13px;
}

.form-phone {
  position: relative;
}

.changephone-text {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 12px;
}

.checkbox {
  vertical-align: middle;
  height: 14px;
  width: 14px;
  margin-right: 10px;
}

.continue-btn {
  margin: 1rem 0;
}

.spinner {
  font-size: 1.5rem;
  margin-right: .5rem;
  height:1.1rem;
  width:1.1rem;
}
.input-phone {
  font-size: 1.2rem;
  padding-left: 1.5rem !important;

  &.input-custom {
    background: var(--ion-color-primary);
    border-color: var(--ion-color-white);
  }

  &::placeholder {
    font-size: 1rem;
    font-weight: 400;
    vertical-align: middle;
    color: white;
  }
}

.desc {
  ion-text {
    font-size: 1.3rem;
  }
  padding-top: 2rem;
}

.slogan {
  background: var(--ion-color-light);
}
.slogan-item {
  padding: 0.25rem 0;
  ion-text {
    font-size: 1rem;
  }
  img {
    margin-right: 0.5rem;
    width: 1.4rem;
    height: 1.4rem;;
  }
}

ion-item {
  --min-height: 30px;
  --padding-start: 0.5rem;
  --inner-padding-end: 0;

  ion-label {
    margin: 0;
    white-space: unset;
  }
}
