<div class="info flex-grow-1">
  <div class="name text-bold">{{ ledger?.name }}</div>
  <div class="type small-font">
    Phương thức: {{ ledger.type == 'bank' ? 'Chuyển khoản' : 'Tiền mặt' }}
  </div>
  <div class="bank-account" *ngIf="ledger.type == 'bank'">
    Ngân hàng: {{ ledger.bank_account.name }} -
    {{ ledger.bank_account.account_number }} -
    {{ ledger.bank_account.account_name }}
  </div>
</div>
<div class="menu" *ngIf="ledger.type == 'bank'">
  <button
    *ePermissions="['shop/ledger:update']"
    class="btn btn-default btn-outline" (click)="openEditLedgerModal(ledger)">
    Chỉnh sửa
  </button>
  <shared-dropdown-actions [dropdownActions]="dropdownActions"></shared-dropdown-actions>
</div>
