<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>Đơn hàng</ion-title>
      <ng-container *ePermissions="['shop/order:view']">
        <ion-buttons slot="start" (click)="filter()" >
          <div class="group-filter">
            <ion-icon name="funnel-outline" class="filter"></ion-icon>
            <div class="count-filter" *ngIf="filters?.length">
              <span class="count">{{filters?.length}}</span>
            </div>
          </div>
          <ion-text>Lọc</ion-text>
        </ion-buttons>
      </ng-container>
      <ng-container *ePermissions="['shop/order:create']">
        <ion-buttons slot="end" class="button-icon" (click)="confirmOrder()">
          <ion-icon name="add" mode="md" class="add-product text-white"></ion-icon>
          <ion-text>Chốt đơn</ion-text>
        </ion-buttons>
      </ng-container>
    </ion-toolbar>
    <etop-network-status></etop-network-status>
  </ion-header>
  <ion-content>
    <ng-container *ngIf="hasPermission()">
      <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
      </ion-refresher>
      <div class="order-list">
        <ng-container *ngFor="let order of (orders$ | async); trackBy: trackOrder">
          <div class="item-row" *ngIf="order?.fulfillments[0]?.shipping_code">
            <div class="box">
              <div class="box-info" (click)="orderDetail(order)">
                <div class="ion-flex ion-align-items-center ion-justify-content-between" style="padding-bottom: 0.5rem">
                  <div class="order-info">
                    <div class="normal-font">
                      <ion-text class="font-bold" color="primary">{{order?.fulfillments[0]?.shipping_code}}</ion-text>
                      <ion-text> - </ion-text>
                      <ion-text class="font-bold">{{order?.fulfillments[0]?.shipping_state_display}}</ion-text>
                    </div>
                  </div>
                  <div class="ion-text-right font-10">
                    {{order?.fulfillments[0]?.created_at | date: 'HH:mm dd/MM/yy'}}
                  </div>
                </div>
                <div class="customer-info">
                  <div>
                    {{order?.fulfillments[0]?.shipping_address?.full_name}} -
                    {{order?.fulfillments[0]?.shipping_address?.phone}}
                  </div>
                  <div style="font-size: 0.9rem">
                    {{order?.fulfillments[0]?.shipping_address?.address1}}
                    {{order?.fulfillments[0]?.shipping_address?.ward ? '- ' + (order?.fulfillments[0]?.shipping_address?.ward | locationCompact) : ''}}
                    - {{order?.fulfillments[0]?.shipping_address?.district | locationCompact}}
                    - {{order?.fulfillments[0]?.shipping_address?.province | locationCompact}}
                  </div>
                </div>
                <div class="cod ion-flex">
                  <ion-col size="6">
                    <ion-text class="font-10">Tiền thu hộ (COD)</ion-text>
                    <div class="font-bold">
                      <ion-text color="primary">{{order?.fulfillments[0]?.total_cod_amount | vnd}}đ</ion-text>
                    </div>
                  </ion-col>
                  <ion-col size="6" class="ion-text-right">
                    <ion-text class="font-10">Người tạo</ion-text>
                    <div class="font-bold ion-flex ion-align-items-center ion-justify-content-end" style="opacity: 0.8;">
                      <ion-text>{{order?.created_by}}</ion-text>
                      <ion-icon name="person-circle-outline" style="margin-left: 0.25rem"></ion-icon>
                    </div>
                  </ion-col>
                </div>
              </div>
              <div class="ion-flex ion-align-items-center">
                <div class="action ion-border-right" (click)="editOrder(order)"
                  *ngIf="enableEdit(order?.fulfillments[0])">
                  <ion-icon name="create-outline" class="action-icon" color="primary"></ion-icon>
                  <ion-text color="primary">Chỉnh sửa</ion-text>
                </div>
                <div class="action ion-border-right" *ngIf="!enableEdit(order?.fulfillments[0])"
                  (click)="warningEdit(order?.fulfillments[0])">
                  <ion-icon name="create-outline" class="action-icon" color="medium"></ion-icon>
                  <ion-text color="medium">Chỉnh sửa</ion-text>
                </div>
                <div class="action" (click)="orderDetail(order)">
                  <ion-icon name="information-circle-outline" class="action-icon" color="primary"></ion-icon>
                  <ion-text color="primary">Chi tiết</ion-text>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
  
      </div>
      <div class="empty-state ion-text-center ion-flex ion-align-items-center h-100" *ngIf="(orders$ | async)?.length == 0">
        <div class="ion-text-center w-100" *ngIf="loading$ | async">
          <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
          <div class="ion-padding-top">Đang tải dữ liệu ...</div>
        </div>
        <ion-text class="w-100" *ngIf="(orders$ | async)?.length == 0 && !(loading$ | async)">
          <div *ngIf="!filters?.length">
            Bạn chưa có đơn hàng nào!
          </div>
          <div *ngIf="filters?.length">
            Không tìm thấy đơn hàng phù hợp!
          </div>
  
        </ion-text>
      </div>
      <ion-infinite-scroll position="bottom" threshold="300px" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="circles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
    <ng-container *ngIf="!hasPermission()">
      <ionfabo-empty-permission></ionfabo-empty-permission>
    </ng-container>
  </ion-content>
</div>
