:host {
  position: relative;
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  height: 100%;
}

etop-table::ng-deep {
  padding-top: 5rem;
}

.menu {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed !important;
  opacity: 0.7;
}

.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

etop-side-slider::ng-deep {
  padding-top: 5rem !important;
}

.total {
  position: absolute;
}
