<div class="total" *ngIf="!receiptTable.loading">
  <div class="total-section">
    <div class="total-item">
      <div class="text-default">Tổng thu</div>
      <div class="item-value font-weight-bold text-success">
        {{ totalConfirmedReceipt | vnd }}đ
      </div>
    </div>
    <div class="total-item">
      <div class="text-default">Tổng chi</div>
      <div class="item-value font-weight-bold text-danger">
        {{ totalConfirmedPayment | vnd }}đ
      </div>
    </div>
    <div class="total-item">
      <div class="text-default">Tồn quỹ</div>
      <div class="item-value font-weight-bold text-primary">
        {{ totalConfirmedReceipt - totalConfirmedPayment | vnd }}đ
      </div>
    </div>
  </div>
</div>
<etop-table
  #receiptTable [items]="receiptList" (requestNewPage)="loadPage($event)"
  [show_paging]="receiptList.length > 0 && showPaging">
  <ng-template #header let-liteMode="liteMode">
    <div class="col" style="max-width: 10rem;">
      <span class="table-header-text">Mã</span>
    </div>
    <div class="col" *ngIf="!liteMode" style="max-width: 12rem;" >
      <span class="table-header-text">Ngày thanh toán</span>
    </div>
    <div class="col" *ngIf="!liteMode" >
      <span class="table-header-text">Nội dung</span>
    </div>
    <div class="col" style="max-width: 20rem;">
      <span class="table-header-text">Đối tác</span>
    </div>
    <div class="col" style="max-width: 7rem;">
      <span class="table-header-text">Loại phiếu</span>
    </div>
    <div class="col" *ngIf="!liteMode">
      <span class="table-header-text">Phương thức</span>
    </div>
    <div class="col text-left" style="max-width: 10rem;">
      <span class="table-header-text">Giá trị</span>
    </div>
    <div class="col" *ngIf="!liteMode" style="max-width: 15rem;">
      <span class="table-header-text">Trạng thái</span>
    </div>
    <div class="col" *ngIf="!liteMode" style="max-width: 10rem;">
      <span class="table-header-text">Ghi chú</span>
    </div>
  </ng-template>

  <!-- TODO: make emptyItem to a single component (example: "empty-item.component") -->
  <ng-template #emptyItem>
    <etop-empty-page [title]="emptyTitle" [type]="emptyType" [actions]="emptyAction"
    description="Bạn có thể tạo phiếu thu/chi trực tiếp hoặc thông qua tạo đơn hàng."></etop-empty-page>
  </ng-template>

  <ng-template #item let-receipt="item" let-liteMode="liteMode">
    <div
      class="row table-row"
      shop-receipt-row
      [receipt]="receipt"
      [liteMode]="liteMode"
      (click)="detail($event, receipt)"
      [class.active]="receipt.p_data?.selected || receipt.p_data?.detailed">
    </div>
  </ng-template>
</etop-table>

<etop-side-slider #slider>
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
        <shared-dropdown-actions></shared-dropdown-actions>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
        Đóng
        <i class="fa fa-times"></i>
      </button>
    </div>
  </ng-template>

  <ng-container *ngIf="creatingNewReceipt; else editReceipt">
    <shop-create-receipt-form (createReceipt)="getReceipts()"></shop-create-receipt-form>
  </ng-container>
  <ng-template #editReceipt>
    <ng-container *ngIf="showDetailReceipt; else multipleReceipts">
      <shop-single-receipt-edit-form [receipt]="selectedReceipts[0]"></shop-single-receipt-edit-form>
    </ng-container>
    <ng-template #multipleReceipts>
      <shop-multiple-receipt-edit-form></shop-multiple-receipt-edit-form>
    </ng-template>
  </ng-template>
</etop-side-slider>
