<div class="row">
  <div class="col-4 slider-detail-input-item">
    <etop-material-input textLabel="Mã đơn hàng" type="custom">
      <span class="read-only font-weight-bold">{{order?.code}}</span>
    </etop-material-input>
  </div>
  <div class="col-4 slider-detail-input-item">
    <etop-material-input textLabel="Thời gian tạo" type="custom">
      <span class="read-only">{{order?.created_at | date: 'dd/MM/yyyy hh:mm'}}</span>
    </etop-material-input>
  </div>
  <div class="col-4 slider-detail-input-item">
    <etop-material-input textLabel="Trạng thái" type="custom">
      <span class="read-only order-status order-{{order?.status}}">{{order?.status_display}}</span>
    </etop-material-input>
  </div>
  <div class="col-4 slider-detail-input-item">
    <etop-material-input textLabel="Mã nội bộ" type="custom">
      <a
        class="read-only font-weight-bold" [routerLink]="order?.external_url || null"
        *ngIf="order?.ed_code || order?.external_id">
        {{order?.ed_code || order?.external_id}}
      </a>
      <span class="read-only" *ngIf="!(order?.ed_code || order?.external_id)">-</span>
    </etop-material-input>
  </div>
  <div class="col-8 slider-detail-input-item">
    <etop-material-input textLabel="Khách hàng" type="custom">
      <ng-container *ngIf="order?.customer; else noCustomer;">
        <span class="font-weight-bold" (click)="viewDetailCustomer()"
        [ngClass]="{'text-primary cursor-pointer': order?.customer_id, 'read-only ': order?.customer?.deleted}">
          {{order?.customer?.full_name || '-'}}
          {{order?.customer?.phone && ' - ' + order?.customer?.phone || ''}}
          <i *ngIf="!order?.customer?.deleted && order?.customer_id" class="fas fa-external-link-alt external-link-icon"></i>
        </span>
        <span class="font-weight-normal text-default ml-1 small-font read-only" *ngIf="order?.customer?.deleted">(Đã xoá)</span>
      </ng-container>
      <ng-template #noCustomer>
        <span>-</span>
      </ng-template>
    </etop-material-input>
  </div>
  <div class="col-4 slider-detail-input-item">
    <etop-material-input textLabel="Nguồn" type="custom">
      <span class="read-only font-weight-bold text-primary">{{order?.source_display}}</span>
    </etop-material-input>
  </div>
  <div class="col-8 slider-detail-input-item">
    <ng-container *ngIf="order?.confirm_status == 'Z'; else editOrderNote;">
      <etop-material-input
        textLabel="Ghi chú đơn hàng" placeholder="Nhập ghi chú đơn hàng" type="input"
        [(ngModel)]="order.order_note">
      </etop-material-input>
    </ng-container>
    <ng-template #editOrderNote>
      <etop-material-input textLabel="Ghi chú đơn hàng" type="custom" placeholder="Nhập ghi chú đơn hàng">
        <span class="read-only">{{order?.order_note || '-'}}</span>
      </etop-material-input>
    </ng-template>
  </div>
</div>
<ng-container *ePermissions="['shop/order:update']">
  <div class="text-right" *ngIf="order?.confirm_status == 'Z'">
    <button [disabled]="loading" class="btn btn-primary" (click)="updateOrder()">
      <i *ngIf="loading" class="fa fa-spin fa-circle-o-notch mr-1"></i>
      Cập nhật
    </button>
  </div>
</ng-container>
