.carrier-img img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-gray-color);
  border-radius: 100%;
  object-fit: contain;
  object-position: center;
}

.modal-header, .modal-footer {
  border-color: var(--border-gray-color) !important;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
