<div class="modal-header">
  <div class="modal-title">Sao chép bảng giá</div>
  <div class="close" (click)="closeModal()">
    <i class="fa fa-times"></i>
  </div>
</div>
<div class="modal-body">
  <etop-material-input
    textLabel="Tên bảng giá" placeholder="Nhập tên cho bảng giá" type="input"
    [(ngModel)]="shipmentPriceListName">
  </etop-material-input>
</div>
<div class="modal-footer">
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-2" [disabled]="loading" (click)="closeModal()">Đóng</button>
    <button class="btn btn-primary" [disabled]="loading" (click)="confirm()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      Xác nhận
    </button>
  </div>
</div>
