<div class='mobile-page-content'>
  <div class="dashboard-filter d-flex">
    <etop-material-select-date-range 
        (rangeSelect)="onChangeFilter($event)" 
        [displayIcon]="true" 
        [labelBold]="true">
      </etop-material-select-date-range>
  </div>
  <div class="dashboard-body">
    <div class="mb-4" *ngIf="dashboard?.total">
      <div class="row">
        <div class="col">
          <div class="aff-box h-100">
            <div class="box-title">
              <span class="font-size-title">Tổng số cuộc gọi</span>
            </div>
            <div class="box-content">
              <span class="font-weight-bold fix-font-size">{{dashboard?.total?.total_count}}</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="aff-box h-100">
            <div class="box-title">
              <span class="font-size-title">Tổng thời lượng gọi ra</span>
            </div>
            <div class="box-content">
              <span class="font-weight-bold fix-font-size">{{dashboard?.total?.total_duration_postage}} phút</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="aff-box h-100">
            <div class="box-title">
              <span class="font-size-title">Số máy nhánh</span>
            </div>
            <div class="box-content">
              <span class="font-weight-bold fix-font-size">{{dashboard?.staff?.length}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="box setting-box">
        <div class="setting-header">Thống kê theo nhân viên</div>
        <div class="setting-body">
          <div class="row">
            <div class="table-responsive">
              <table class="w-100">
                <thead>
                  <tr class="table-head">
                    <th class="font-weight-bold py-2">Nhân viên</th>
                    <th class="text-right ">Tổng số cuộc gọi</th>
                    <th class="text-right ">Cuộc gọi thành công</th>
                    <th class="text-right ">Cuộc gọi thất bại</th>
                    <th class="text-right ">Thời lượng gọi ra</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="loading">          
                      <tr *ngFor="let item of [1,2,3,4]" class="placeholder-wrapper">
                        <td class="py-3 pr-2">
                          <div class="placeholder round w-100"></div>
                        </td>
                        <td class="p-3">
                          <div class="placeholder round w-100"></div>
                        </td>
                        <td class="py-3">
                          <div class="placeholder round w-100"></div>
                        </td>
                        <td class="py-3">
                          <div class="placeholder round w-100"></div>
                        </td>
                        <td class="py-3">
                          <div class="placeholder round w-100"></div>
                        </td>
                        <td class="py-3">
                          <div class="placeholder round w-100"></div>
                        </td>
                      </tr>
                    </ng-container>
                    <ng-container *ngIf="!loading">
                      <tr *ngFor="let item of dashboard?.staff; index as i" class="placeholder-wrapper">
                        <td class="py-3 pr-2">
                          {{i + 1}}.
                          <span class="pl-2 font-weight-bold">{{item.full_name}}</span>
                        </td>
                        <td class="py-3 text-right">
                          {{item?.total_call}}
                        </td>
                        <td class="py-3 text-right">
                          {{item?.total_call_completed}}
                        </td>
                        <td class="py-3 text-right">
                          {{item?.total_call_failed}}
                        </td>
                        <td class="py-3 text-right">
                          {{item?.total_duration_postage}} phút
                          <!-- <span class="free-text">Miễn phí</span> -->
                        </td>
                      </tr>
                      <tr *ngIf="!dashboard?.staff?.length">
                        <td colspan="6" class="empty-list">
                          Cửa hàng của bạn chưa có dữ liệu.
                        </td>
                      </tr>
                    </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
