<ng-container>
  <div class="d-flex justify-content-between align-items-center dialog-header">
    <h4 class="font-bold" style="flex:1;text-align: center">Tìm kiếm</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <etop-material-input
    type="input" appearance="standard" textLabel="Nhập thông tin để tìm kiếm" placeholder="Nhập thông tin để tìm kiếm" [formControl]="searchText">
  </etop-material-input>
  <div class="message-item d-flex h-100" style="margin-top: 5rem;" *ngIf="!conversations?.length && !search && !loading">
    <div class="m-auto text-center">
      <img src="assets/images/icon_chat.png" alt="message" width="100">
      <div>Bạn có thể tìm kiếm theo tên, số điện thoại khách hàng hoặc nội dung tin nhắn</div>
    </div>
  </div>
  <div class="message-item d-flex h-100" style="margin-top: 5rem;" *ngIf="!conversations?.length && search && !loading">
    <div class="m-auto text-center">
      <img src="assets/images/icon_chat.png" alt="message" width="100">
      <div>Không tìm thấy nội dung tin nhắn phù hợp</div>
    </div>
  </div>
  <div *ngIf="loading" class="loading-something" style="margin-top: 1rem">
    <mat-spinner class="d-flex ml-auto mr-auto mt-auto mb-auto" diameter="30"></mat-spinner>
  </div>
  <div class="dialog-content">
    <div *ngIf="conversations && !loading" class="list-message">
      <div *ngFor="let conversation of conversations" class="message-item">
        <div class="px-3 py-2 e-border-bottom d-flex align-items-center page-name" *ngIf="!(activePage$ | async)">
          <img [imageLoader]="getFanpageById(conversation.external_page_id)?.external_image_url" src="assets/images/placeholder_medium.png" alt="logo" class="fp-logo">
          <span>{{getFanpageById(conversation.external_page_id)?.external_name}}</span>
        </div>
        <div class="d-flex align-items-start conversation" (click)="selectedConversation(conversation)">
          <div class="user-avatar mr-3">
            <img [imageLoader]="conversation.external_user_picture_url" src="assets/images/user_logo.jpg" alt="logo" class="user-logo">
            <img src="assets/images/{{conversation?.type == 'message' ? 'messenger' : 'facebook'}}.png" alt="icon"
                 class="conversation-type">
          </div>
          <div class="user-name">
            <div class="d-flex external-user">
              <h5 class="m-0 external-user-name">{{conversation.external_user_name}}</h5>
            </div>
            <div class="d-flex align-items-center">
              <div class="content">
                {{conversation.last_message}}
              </div>
            </div>
            <div *ngIf="conversation.tags?.length" class="d-flex flex-row align-items-center">
              <div class="tag d-flex flex-row align-items-center cursor-pointer"  *ngFor="let tag of conversation.tags?.slice(0,2)">
                <span class="material-icons icon-size" [ngStyle]="{'color': tag.color}">fiber_manual_record</span>
                <div class="max-line tag-name">{{tag.name}}</div>
              </div>
              <div *ngIf="conversation.tags?.length >= 3" class="tag cursor-pointer">
                <div class="tag-name">
                  +{{conversation.tags.length - 2}}
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column ml-auto">
            <span class="text-small" style="opacity: 0.5">
              {{conversation?.last_message_at | date: 'dd/MM HH:mm'}}
            </span>
            <img *ngIf="conversation?.external_post_attachments?.length > 0" class ="post-image"
                 [imageLoader]="conversation.external_post_attachments[0]?.media?.image?.src"
                 src="assets/images/placeholder_medium.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
