.product-image {
  width: 45px;
  height: 45px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
}

.product-name {
  width: calc(100% - 45px);
  padding-left: 10px;
}

.col:first-child {
  max-width: 50px;
}

:host {
  background-color: var(--white-color);
  margin-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  border-radius: 7px;
  height: 65px;

  &.active {
    border-left: 5px solid var(--primary-color);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.07);
    margin-left: -5px;
  }
}

.badge {
  margin-right: 5px;
  margin-bottom: 5px;
}

.etop-badge {
  font-weight: 400 !important;
}

.error-product {
  color: var(--danger-color)
}
