<ng-content></ng-content>
<div class="col align-self-center small-cell">
  <span *ngIf="product?.code" class="font-weight-bold text-primary" style="word-break: break-word;">
    {{product?.code}}
  </span>
  <span *ngIf="!product?.code">
    <i class="fa fa-minus"></i>
  </span>
</div>
<div class="col align-self-center align-items-center d-flex ffm-info" style="cursor: pointer; min-width: 200px;">
  <div class="product-image" [style.background-image]="product?.bg_image"></div>
  <strong class="product-name">{{product?.name | trimTooLong: 35}}
    <span class="error-product font-weight-normal" *ngIf="product.variants.length == 0"> (sản phẩm lỗi)</span>
  </strong>
  
</div>
<div class="col align-self-center small-cell" *ngIf="!liteMode">
  <div>
    <span class="badge etop-badge badge-primary">{{product?.variants?.length || 0}} mẫu mã</span>
  </div>
</div>
<div class="col align-self-center small-cell">
  <div class="price text-left"><strong>{{product?.price | vnd }}đ</strong></div>
</div>
<div class="col align-self-center small-cell">
  <div class="text-left">
    {{product?.total_quantity}}
  </div>
</div>
<div class="col align-self-center d-flex flex-wrap" *ngIf="!liteMode" style="max-width: 21rem;">
  <i *ngIf="!hasCategory" class="fa fa-minus ml-4"></i>
  <span *ngIf="hasCategory" class="badge etop-badge badge-success">
    {{getCategoryName(product?.category_id)}}
  </span>
</div>
<div class="col align-self-center d-flex flex-wrap" *ngIf="!liteMode" style="max-width: 21rem;">
  <i *ngIf="!hasCollections" class="fa fa-minus ml-4"></i>
  <ng-container *ngIf="hasCollections">
    <span *ngFor="let coll_id of product?.collection_ids" class="badge etop-badge badge-tertiary">
      {{getCollectionName(coll_id)}}
    </span>
  </ng-container>
</div>
