.carrier-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: contain;

}

.carrier-name {
  font-weight: 700;
  text-transform: uppercase;
  margin: .8rem 0;
}
