<div class="carrier-wrapper p-4">
  <img class="avatar" src="{{carrierConnection?.provider_logo}}" alt="">
  <div class="carrier-name">{{carrierConnection?.name}}</div>
  <div class="text-center">
    {{carrierConnection?.connection_provider | uppercase}} vừa gửi cho bạn một mã xác thực đến số điện thoại
    <strong>{{identifier}}</strong>. Vui lòng kiểm tra tin nhắn và nhập mã vào ô bên dưới
  </div>
</div>
<div class="p-4">
  <div class="py-2">
    <etop-material-input textLabel="Mã xác thực" placeholder="Nhập mã xác thực" type="input"
      [(ngModel)]="loginInfo.otp" (ngModelChange)="loginInfoChanged.next(loginInfo)">
    </etop-material-input>
  </div>
</div>
<div class="retry mb-4 mx-4" *ngIf="timer">
  <span>Bạn chưa nhận được mã?</span>
  <span *ngIf="countDown > -1; else retry" class="font-weight-bold text-primary"
    style="opacity: 0.7; margin-left: 0.5rem">Gửi lại ({{timer}})</span>
  <ng-template #retry>
    <span class="font-weight-bold text-primary" style="margin-left: 0.5rem; cursor: pointer;"
      (click)="retrySendOtp()">Gửi lại
    </span>
  </ng-template>
</div>
