<shop-order-layout *ngIf="product">
  <div role="title">
    <shop-product-header [name]="product.name"></shop-product-header>
  </div>
  <div role="content" class="h-100">
    <shop-product-detail [description]="product.description" [product_id]="product.id"></shop-product-detail>
  </div>
  <div role="form" class="h-100">
    <ng-container *ngIf="formOrder">
      <shop-form-order (orderFormChange)="orderFormChange($event)" [product]="product" [newOrder]="newOrder">
      </shop-form-order>
    </ng-container>
    <ng-container *ngIf="formCheckout">
      <shop-form-checkout
        (orderSuccess)="orderSuccess($event)"
        (backOrderForm)="backOrderForm()"
        [newOrder]="newOrder"
        [loadingOrder]="loadingOrder">
      </shop-form-checkout>
    </ng-container>
    <ng-container *ngIf="formSuccess">
      <shop-order-successfully [orderSuccessful]="orderSuccessful" [totalCashback]="totalCashback"
        [checkPayment]="checkPayment">
      </shop-order-successfully>
    </ng-container>
  </div>
</shop-order-layout>
