 <ion-header>
   <ion-toolbar>
     <ion-title class="w-100 p-l-30 ion-text-left">Chính sách facebook</ion-title>
     <ion-buttons slot="start" (click)="dismiss()">
       <ion-icon class="icon-header back-icon" name="chevron-back-outline"></ion-icon>
     </ion-buttons>
   </ion-toolbar>
 </ion-header>
 <ion-content>
   <div class="content">
     <div class="ion-margin-bottom"><strong>Không phản hồi tin nhắn (Inbox) sau 24h với nội dung quảng cáo</strong></div>
     <div class="ion-margin-bottom">Facebook hạn chế không cho phép tin phản hồi (Inbox) khách hàng sau 24h có chứa nội dung quảng cáo.</div>
     <div class="ion-margin-bottom">Facebook hạn chế không cho phép tin phản hồi (Inbox) khách hàng sau 24h có chứa nội dung quảng cáo.</div>
     <div>Tham khảo:</div>
     <a href="https://developers.facebook.com/docs/messenger-platform/policy/policy-overview/">https://developers.facebook.com/docs/messenger-platform/policy/policy-overview/</a>
   </div>
 </ion-content>
 <ion-footer>
   <div class="footer-buttons ion-flex">
     <button (click)="dismiss()" class="w-100 bg-primary text-white footer-button-item">
       Tôi đã hiểu
     </button>
   </div>
 </ion-footer>
