<ng-container>
  <div class="details">
    <div class="shipping-info">
      <h6 class="text-center font-weight-bolder shipping-state-display">{{fulfillment?.shipping_state_display | uppercase}}</h6>
      <img id="shipping-barcode" alt="{{fulfillment?.shipping_provider}}">
      <div class="ion-flex ion-align-items-center w-100 ion-padding e-border-top">
        <div class="carrier-info">
          <div class="carrier-image">
            <img src="{{fulfillment?.shipping_provider_logo}}" alt="">
            <img *ngIf="fulfillment?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
          </div>
          <div class="carrier-name">
            <ion-text class="font-10 text-medium">Nhà vận chuyển</ion-text>
            <div class="text-gray font-weight-bold">{{fulfillment?.carrier_display}}</div>
          </div>
        </div>
        <div class="cod ion-text-end">
          <ion-text class="font-10 text-medium">Tiền thu hộ (COD)</ion-text>
          <div class="font-bold">
            <ion-text color="dark">{{fulfillment?.total_cod_amount | vnd}}đ</ion-text>
          </div>
        </div>
      </div>
      <!-- <div class="w-100 ion-text-center text-topship" style="padding-top: 0.85rem" (click)="openFfmJourneyModal()">
        Xem hành trình
      </div> -->
    </div>
    <div class="detail-section">
      <div class="header font-bold text-medium  mr-auto">Người nhận</div>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center">
        <div class="info">
          <ion-text>
            {{fulfillment?.shipping_address?.full_name}} -
            {{fulfillment?.shipping_address?.phone}}
          </ion-text>
          <div style="font-size: 0.9rem" >
            {{fulfillment?.shipping_address?.address1}}
            {{fulfillment?.shipping_address?.ward ? '- ' + (fulfillment?.shipping_address?.ward | locationCompact) : ''}}
            - {{fulfillment?.shipping_address?.district | locationCompact}}
            - {{fulfillment?.shipping_address?.province | locationCompact}}
          </div>
        </div>
        <div>
          <a href="tel: {{fulfillment?.shipping_address?.phone}}">
            <ion-icon name="call"  class="phone-action" size="small"></ion-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="detail-section">
      <div class="header font-bold text-medium  mr-auto">Sản phẩm</div>
      <ng-container *ngFor="let line of fulfillment?.lines" >
        <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
          <div class="info">
            <ion-text>
              {{line?.quantity}} x
              {{line?.product_name}}
            </ion-text>
          </div>
          <div>
            <strong>{{line?.payment_price | vnd}}đ</strong>
          </div>
        </div>
      </ng-container>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            TỔNG CỘNG
          </ion-text>
        </div>
        <div>
          <strong>{{fulfillment?.total_amount | vnd}}đ</strong>
        </div>
      </div>
    </div>
    <div class="detail-section ion-padding-bottom">
      <div class="header font-bold text-medium  mr-auto">Chi tiết gói dịch vụ</div>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            Nhà vận chuyển
          </ion-text>
        </div>
        <div>
          <strong>{{fulfillment?.carrier_display}}</strong>
        </div>
      </div>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            Gói dịch vụ
          </ion-text>
        </div>
        <div>
          <strong>{{fulfillment?.shipping_service_name }}</strong>
        </div>
      </div>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            Tổng cước phí
          </ion-text>
        </div>
        <div>
          <strong>{{fulfillment?.shipping_fee_shop | vnd}}đ</strong>
        </div>
      </div>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            Bảo hiểm hàng hóa
          </ion-text>
        </div>
        <div>
          <strong>{{fulfillment?.include_insurance && 'Có' || 'Không' }}</strong>
        </div>
      </div>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            Khối lượng
          </ion-text>
        </div>
        <div *ngIf="fulfillment?.chargeable_weight">
          <strong>{{fulfillment?.chargeable_weight}}g</strong>
        </div>
        <div *ngIf="!fulfillment?.chargeable_weight">
          <strong>-</strong>
        </div>
      </div>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            Thu hộ
          </ion-text>
        </div>
        <div>
          <strong>{{fulfillment?.total_cod_amount | vnd}}đ</strong>
        </div>
      </div>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            Dự kiến lấy
          </ion-text>
        </div>
        <div *ngIf="fulfillment?.estimated_pickup_at">
          <strong>{{fulfillment?.estimated_pickup_at | date: 'HH:mm dd/MM/yyyy' }}</strong>
        </div>
        <div *ngIf="!fulfillment?.estimated_pickup_at">
          <strong>-</strong>
        </div>
      </div>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            Dự kiến giao
          </ion-text>
        </div>
        <div *ngIf="fulfillment?.estimated_delivery_at">
          <strong>Trước {{fulfillment?.estimated_delivery_at | date: 'HH:mm dd/MM/yyyy' }}</strong>
        </div>
        <div *ngIf="!fulfillment?.estimated_delivery_at">
          <strong>-</strong>
        </div>
      </div>
      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            Ghi chú xem hàng
          </ion-text>
        </div>
        <div *ngIf="fulfillment?.try_on_display">
          <strong>{{fulfillment?.try_on_display}}</strong>
        </div>
        <div *ngIf="!fulfillment?.try_on_display">
          <strong>-</strong>
        </div>
      </div>

      <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info" style="min-width: 140px;">
          <ion-text>
            Ghi chú giao hàng
          </ion-text>
        </div>
        <div *ngIf="fulfillment?.shipping_note">
          <strong>{{fulfillment?.shipping_note}}</strong>
        </div>
        <div *ngIf="!fulfillment?.shipping_note">
          <strong>-</strong>
        </div>
      </div>

      <div *ngIf="fulfillment?.cancel_reason" class="ion-flex flex-row  ion-justify-content-between ion-align-items-center product-line">
        <div class="info">
          <ion-text>
            Lý do hủy
          </ion-text>
        </div>
        <div *ngIf="fulfillment?.cancel_reason">
          <strong>{{fulfillment?.cancel_reason}}</strong>
        </div>
      </div>
    </div>
  </div>
</ng-container>
