shop-order-tab-options::ng-deep {
  height: 100%;
}

.right-part {
  box-shadow: 2px 11px 15px 0 rgba(0, 0, 0, 0.11);
  border-left: 1px solid var(--border-gray-color);
}

.fullscreen {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  padding: 5px 8px;
  cursor: pointer;
  svg {
    fill: var(--primary-color);
  }
  &.active {
    background-color: var(--primary-color);
    svg {
      fill: white;
    }
  }
}

.back-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-gray-color);
  border-radius: 20px;
  color: var(--default-color);
  font-weight: 700;
  padding: 4px 10px;
  .fa {
    font-size: 20px;
    position: relative;
    top: -1px;
  }
}
