<div class="show-768">
  <div class="row segments">
    <div class="col segment" (click)="goToInvoice()">Hoá đơn
    </div>
    <div class="col segment active">Giao dịch
    </div>
  </div>
</div>

<etop-table style="height: 100%;" #transactionTable [items]="transactions$ | async" [scroll_id]="'transactionTable'"
            [show_paging]="(transactions$ | async)?.length > 0 " (requestNewPage)="loadPage($event)" [loading]='loading$ | async'
            [externalCurrentPage]="(ui$ | async)?.currentPage">
  <ng-template #header let-liteMode="liteMode">
    <div class="col hide-768">
      <span class="table-header-text">Mã</span>
    </div >
    <div class="col">
      <span class="table-header-text">Ngày tạo</span>
    </div>
    <div class="col min-width-25rem">
      <span class="table-header-text">Nội dung</span>
    </div>
    <div class="col" >
      <span class="table-header-text">Loại</span>
    </div>
    <div class="col hide-768" *ngIf="!liteMode" >
      <span class="table-header-text">Tham chiếu</span>
    </div>
    <div class="col hide-768" *ngIf="!liteMode" >
      <span class="table-header-text">Trạng thái</span>
    </div>
    <div class="col text-right">
      <span class="table-header-text">Ghi nợ</span>
    </div>
    <div class="col text-right">
      <span class="table-header-text">Ghi có</span>
    </div>
  </ng-template>
  <ng-template #item let-transaction="item" let-liteMode="liteMode">
    <div class="row table-row" etelecom-cs-transaction-row
         [transaction]="transaction">
    </div>
  </ng-template>
  <ng-template #emptyItem>
    <etop-empty-page [description]="emptyDescription">
    </etop-empty-page>
  </ng-template>
</etop-table>
