.item {
    padding: 1rem 16px;
    border-bottom: 0.045em solid rgba(0, 0, 0, .12);
    display: flex;
    justify-content: space-between;
    ion-text {
        vertical-align: middle;
    }
    .label {
        font-size: 0.9rem;
    }
    .price-format {
        font-weight: bold;
    }
}

ion-header {
    border-bottom: 1px solid #eee;
}

.box-content {
    background: white;
    margin-bottom: 1rem;
}

.body-content {
    background-color: #f4f4f4;
    height: 100%;
    overflow: auto;
}

.example-container {
    max-width: 100%;
    overflow: auto;
    background-color: white;
}

table {
    width: max-content;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
    max-width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-shadow: 7px 0px 10px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 7px 0px 10px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 7px 0px 10px -6px rgba(0, 0, 0, 0.1);
}

.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}

tr.mat-header-row {
    border-top: 1px solid #e0e0e0;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    font-size: 0.9rem;
    border-right: 1px solid #e0e0e0;
    text-align: right;
    padding: 0.375rem 1rem !important;
}

tr.mat-row,
tr.mat-footer-row {
    height: auto;
}

tr.mat-header-row {
    height: auto;
}

th.mat-header-cell {
    font-weight: bold;
}

.mat-table-sticky {
    border-bottom: 1px solid #e0e0e0;
}

.line-title {
    padding: 10px 16px 0 16px;
    .title-chart {
        font-weight: bold;
        font-size: 1rem;
        margin-right: 1rem;
    }
    .desc-chart {
        line-height: 1.5;
        margin-bottom: .75rem;
        font-size: 0.9rem;
        opacity: 0.8;
    }
}

.calendar-modal {
    ion-title {
        color: white;
    }
}

.table-title {
    font-weight: 550;
    padding: 1rem;
}