<ion-header>
    <ion-toolbar>
        <ion-title>Thống kê</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content scroll-y="false">
    <ng-container *ngIf="!hasPermission()">
        <ionfabo-empty-permission></ionfabo-empty-permission>
    </ng-container>
    <div class="body-content" [ngClass]="{'ion-hide': !loading && hasPermission()}">
        <div class="empty-state ion-text-center ion-flex ion-align-items-center h-100">
            <div class="ion-text-center w-100">
                <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
                <div class="ion-padding-top">Đang tải dữ liệu ...</div>
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="box-content m-t-12" *ngIf="todayData">
            <div class="list-item">
                <div class="item  bg-primary">
                    <div class="ion-flex ion-align-items-center">
                        <ion-icon name="ellipse" class="text-white" style="margin-right: 0.5rem; zoom: 0.8;"></ion-icon>
                        <ion-text class="price-format text-white">Hôm nay</ion-text>
                    </div>
                </div>
                <div class="item">
                    <ion-text class="label">Doanh thu theo sản phẩm</ion-text>
                    <ion-text class="price-format">{{todayData?.basket_value | number}}đ</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Doanh thu theo Thu hộ (COD)</ion-text>
                    <ion-text class="price-format">{{todayData?.total_cod_amount | number}}đ</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Khách hàng mới</ion-text>
                    <ion-text class="price-format">{{todayData?.new_customer | number}}</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Đã chốt đơn</ion-text>
                    <ion-text class="price-format">{{todayData?.shop_confirm | number}}</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Đã bàn giao NVC</ion-text>
                    <ion-text class="price-format">{{todayData?.carrier | number}}</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Đã giao thành công</ion-text>
                    <ion-text class="price-format">{{todayData?.delivered | number}}</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Trả hàng về</ion-text>
                    <ion-text class="price-format">{{todayData?.returned | number}}</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Hủy</ion-text>
                    <ion-text class="price-format">{{todayData?.cancelled | number}}</ion-text>
                </div>
            </div>
        </div>
        <div class="box-content " *ngIf="totalData">
            <div class="list-item">
                <div class="item  bg-primary">
                    <div class="ion-flex ion-align-items-center ion-justify-content-between w-100" (click)="presentActionSheet()">
                        <div>
                            <ion-icon name="ellipse" class="text-white" style="margin-right: 0.5rem; zoom: 0.8;"></ion-icon>
                            <ion-text style="font-size: 0.8rem;" class="font-bold text-white">{{selected?.label}} ({{selected?.startDate | date: 'dd/M/yy'}} - {{selected?.endDate | date: 'dd/M/yy'}})</ion-text>
                        </div>
                        <ion-icon name="chevron-down-outline" class="text-white"></ion-icon>
                    </div>
                </div>
                <div class="item">
                    <ion-text class="label">Doanh thu theo sản phẩm</ion-text>
                    <ion-text class="price-format">{{totalData?.basket_value | number}}đ</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Doanh thu theo Thu hộ (COD)</ion-text>
                    <ion-text class="price-format">{{totalData?.total_cod_amount | number}}đ</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Khách hàng mới</ion-text>
                    <ion-text class="price-format">{{totalData?.new_customer | number}}</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Đã chốt đơn</ion-text>
                    <ion-text class="price-format">{{totalData?.shop_confirm | number}}</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Đã bàn giao NVC</ion-text>
                    <ion-text class="price-format">{{totalData?.carrier | number}}</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Đã giao thành công</ion-text>
                    <ion-text class="price-format">{{totalData?.delivered | number}}</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Trả hàng về</ion-text>
                    <ion-text class="price-format">{{totalData?.returned | number}}</ion-text>
                </div>
                <div class="item">
                    <ion-text class="label">Hủy</ion-text>
                    <ion-text class="price-format">{{totalData?.cancelled | number}}</ion-text>
                </div>
            </div>
        </div>
        <div class="box-content ">
            <div class="line-title">
                <div class="title-chart">Doanh thu theo sản phẩm</div>
                <div class="desc-chart">Dựa trên đơn giao thành công</div>
            </div>
            <canvas #chart class="p-4"></canvas>
        </div>

        <div class="box-content ">
            <div class="line-title">
                <div class="title-chart">Doanh thu theo thu hộ (COD)</div>
                <div class="desc-chart">Dựa trên đơn giao thành công</div>
            </div>
            <canvas #chartCod class="p-4"></canvas>
        </div>

        <div class="box-content ">
            <div class="line-title">
                <div class="title-chart">Đơn hàng</div>
                <div class="desc-chart">Dựa trên đơn giao thành công</div>
            </div>
            <canvas #chartOrder class="p-4"></canvas>
        </div>

        <div class="box-content">
            <div class="line-title">
                <div class="title-chart">Đơn hàng trả về</div>
                <div class="desc-chart">Đơn về trạng thái return và không có quyền giao lại</div>
            </div>
            <canvas #chartReturn class="p-4"></canvas>
        </div>
        <div class="box-content">
            <div class="table-title">Thống kê theo nhân viên </div>
            <div class="example-container ">
                <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="user" sticky>
                    <th class="ion-text-left" mat-header-cell *matHeaderCellDef>Nhân viên</th>
                    <td class="ion-text-left" mat-cell *matCellDef="let element"> {{element.user}} </td>
                </ng-container>
                <ng-container matColumnDef="new_customer">
                    <th mat-header-cell *matHeaderCellDef>KH mới</th>
                    <td mat-cell *matCellDef="let element"> {{element.new_customer | number}} </td>
                </ng-container>
                <ng-container matColumnDef="distinct_customer">
                    <th mat-header-cell *matHeaderCellDef>KH đã tư vấn</th>
                    <td mat-cell *matCellDef="let element"> {{element.distinct_customer | number}} </td>
                </ng-container>
                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef>Tin nhắn</th>
                    <td mat-cell *matCellDef="let element"> {{element.message | number}} </td>
                </ng-container>
                <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef>Bình luận</th>
                    <td mat-cell *matCellDef="let element"> {{element.comment | number}} </td>
                </ng-container>
                <ng-container matColumnDef="order">
                    <th mat-header-cell *matHeaderCellDef>Đơn hàng</th>
                    <td mat-cell *matCellDef="let element"> {{element.order | number}} </td>
                </ng-container>
                <ng-container matColumnDef="basket_value">
                    <th mat-header-cell *matHeaderCellDef>Doanh thu sản phẩm</th>
                    <td mat-cell *matCellDef="let element"> {{element.basket_value | number}}đ </td>
                </ng-container>
                <ng-container matColumnDef="total_cod_amount">
                    <th mat-header-cell *matHeaderCellDef>Doanh thu thu hộ</th>
                    <td mat-cell *matCellDef="let element"> {{element.total_cod_amount | number}}đ </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
    
</ion-content>