:host {
  width: max-content;
  // height: 100%;

  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.breadcrumb-title {
  font-size: 1.7rem;
  margin-left: 20px;
  font-weight: 700;
  color: var(--dark-color);
}
