<div class="col align-self-center" style="width: 20rem;">
  <div class="d-flex align-items-center">
    <div class="carrier-image">
      <img [src]="fulfillment?.shipping_provider_logo" alt="">
      <img *ngIf="fulfillment?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
    </div>
    <div class="d-flex flex-column align-items-start carrier-info" [class.text-topship]="fulfillment?.from_topship">
      <span class="text-bold" [class.text-topship]="fulfillment?.from_topship">
        {{fulfillment?.shipping_code}}
      </span>
      <span class="text-bold text-uppercase carrier-name" [class.text-topship]="fulfillment?.from_topship">
        {{fulfillment?.carrier_display}}
      </span>
    </div>
  </div>
</div>
<div *ngIf="!liteMode" class="col align-self-center">
  {{fulfillment?.order_ids?.length}}
</div>
<div class="col align-self-center">
  <div class="order-status order-{{fulfillment?.shipping_state}}">
    {{fulfillment?.shipping_state_display}}
    <div class="small-font text-dark" *ngIf="fulfillment?.x_shipping_sub_state && fulfillment?.shipping_state != 'cancelled'">
      {{fulfillment?.x_shipping_sub_state}}
    </div>
  </div>
  <div *ngIf="showCancelReason" class="small-font text-default">
    Lý do: {{fulfillment?.cancel_reason}}
  </div>
</div>
<div class="col align-self-center">
  <div class="d-flex flex-column" style="margin-bottom: .2rem" *ngFor="let order of fulfillment.orders; let i = index">
    <div class="d-flex flex-row">
      <div style="margin-right: 1rem;" *ngIf="fulfillment?.orders?.length > 1">
        #{{i + 1}}
      </div>
      <div class="order-status order-{{order?.status}}">
        {{order?.status_display}}
      </div>
    </div>
  </div>
</div>
<div class="col align-self-center">
  <div class="text-bold text-left">
    {{fulfillment?.value_info?.cod_amount | number}}đ
  </div>
</div>
<div *ngIf="!liteMode" class="col align-self-center">
  <div class="text-bold text-left">
    {{fulfillment?.shipping_service_fee | number}}đ
  </div>
</div>
