<div class="modal-header">
  <h5 class="modal-title">Thêm danh mục mới</h5>
  <button type="button" class="close" (click)="dismissModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <etop-material-input
    placeholder="Nhập tên danh mục"
    textLabel="Tên danh mục"
    [(ngModel)]="new_category.name"
    type="input"
    name="cateforyName" ngDefaultControl
    >
  </etop-material-input>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="dismissModal()">Đóng</button>
  <button class="btn btn-primary text-white" (click)="createCategory()">Thêm mới</button>
</div>

