<div class="col align-self-center" style="min-width: 15rem;">
  <div class="d-flex align-items-center">
    <div class="d-flex flex-column align-items-start carrier-info">
      <span class="shipping-code text-primary">
        {{subscriptionProduct?.id}}
      </span>
    </div>
  </div>
</div>
<div class="col align-self-center">
  <span *ngIf="subscriptionProduct?.name">{{subscriptionProduct?.name}}</span>
  <span *ngIf="!subscriptionProduct?.name">-</span>
</div>
<div class="col align-self-center min-width-25rem">
  <div>
    <span *ngIf="subscriptionProduct?.description">
      <span class="text-bold">{{subscriptionProduct?.description}}</span>
    </span>
    <span *ngIf="!subscriptionProduct?.description">
      <span class="text-bold">-</span>
    </span>
  </div>
</div>
<div class="col align-self-center">
  <span *ngIf="subscriptionProduct?.type">{{subscriptionProduct?.type}}</span>
  <span *ngIf="!subscriptionProduct?.type">-</span>
</div>

<div class="col align-self-center">
  <span *ngIf="subscriptionProduct?.status_display"
        [class.text-success]="subscriptionProduct.status == 'P'"
        [class.text-default]="subscriptionProduct.status == 'N' || 'Z'"
  >{{subscriptionProduct?.status_display}}</span>
  <span *ngIf="!subscriptionProduct?.status_display">-</span>
</div>

<div class="col align-self-center">
  <span *ngIf="subscriptionProduct?.created_at">{{subscriptionProduct?.created_at | date: 'dd/MM/yyyy'}}</span>
  <span *ngIf="!subscriptionProduct?.created_at">-</span>
</div>

