<td class="font-weight-bold">{{staff?.full_name}}</td>
<td>{{staff?.phone}}</td>
<td style="color: var(--default-color);">{{staff?.email}}</td>
<td>{{roleDisplay}}</td>
<td *ngIf="loading">
  <i class="fa fa-spinner fa-spin mr-3 font-14"></i>
</td>
<td style="width: 12%" *ngIf="!loading">
  <span *ngIf="hasUserExtension()" class="text-primary">{{currentExtension.extension_number}} - Đang hoạt động</span>
  <span *ngIf="!hasUserExtension()"class="text-create" (click)="createExtension()">Khởi tạo</span>
</td>
<td>
  <ng-container *ngIf="hasUserExtension()" class="text-primary">
    <span *ngIf="currentHotline.connection_method == 'builtin'">Mặc định</span>
    <span *ngIf="currentHotline.connection_method != 'builtin'">
      {{currentHotline?.name}}
      <span *ngIf="currentHotline?.name"> - </span>
      {{currentHotline?.hotline}}
    </span>
  </ng-container>
  <span *ngIf="!hasUserExtension()"class="text-center">-</span>
</td>
<td class="text-center">-</td>
<td class="text-right" style="max-width: 8rem;" *ngIf="!isOwner">
  <shared-dropdown-actions
   *ePermissions="['relationship/relationship:remove','relationship/relationship:update']" [dropdownActions]="dropdownActions" [rightSide]="true">
  </shared-dropdown-actions>
</td>
