:host {
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;
  height: 100%;
}

.menu {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.mobile-header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0;
}

