tr {
  &.table-head {
    display: none;
    @media only screen and (min-width: 768px) {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
    th {
      color: var(--default-color);
      text-transform: uppercase;
      font-size: 0.825rem;
    }

  }
}

th, td {
  padding: 5px 15px;
}

td {
  font-size: 1rem;
}

.break-section {
  border-top: 1px solid var(--border-gray-color);
  font-size: 1.3rem;
  color: var(--dark-color);
}

.empty-list {
  text-align: center;
  background: var(--lighter-gray-color);
}

.show-768 {
  .empty-list {
    padding: 1.5rem;
  }
}
.title {
  color: var(--dark-color);
}

.dropdown {
  cursor: pointer;
  width: 34px;
  text-align: center;
  height: auto;
  padding: 7px 0;
}

.dropdown-menu {
  min-width: 200px;
  background: var(--white-color);
  border: 1px solid var(--border-gray-color);
  box-shadow: 0 0 10px 3px rgba(0,0,0,.07);
  border-radius: 7px;
  padding: 0;
  .dropdown-item {
    border-bottom: 1px solid var(--border-gray-color);
    padding: 10px;
    cursor: pointer;
    &:first-child {
      border-radius: 7px 7px 0 0;
    }
    &:last-child {
      border-radius: 0 0 7px 7px;
    }
  }
}

.setting-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.setting-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-header, .setting-body, .setting-body {
  border-bottom: 1px solid var(--gray-color);
}

.setting-header, .setting-footer {
  padding: 1.5rem;
}

.setting-body {
  @media only screen and (max-width: 768px) {
    padding: 0 1.5rem;
  }
}

.setting-box {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.invitation-row {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--gray-color);
  &:last-child {
    border-bottom: 0;
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;

}
