<ion-header>
  <ion-toolbar>
    <ion-title>Giá trị thuộc tính</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-content">
    <div class="line-item title">
    <ion-text class="font-bold">{{attribute.name}}</ion-text>
    </div>
    <div class="line-item ion-flex align-items-center ion-justify-content-between" *ngFor="let value of values; let i = index">
      <ion-text>{{value}}</ion-text>
      <ion-icon name="close-outline" (click)="removeValue(i)"></ion-icon>
    </div>
    <div class="line-item ion-text-center" (click)="confirm()" *ngIf="values?.length > 0">
      <ion-text color="primary">Xác nhận</ion-text>
    </div>
    <div class="line-item ion-text-center" *ngIf="values?.length == 0">
      <ion-text>Chưa có giá trị thuộc tính</ion-text>
    </div>
  </div>
  
</ion-content>
<ion-footer>
  <div class="ion-flex ion-align-items-center ion-justify-content-between">
    <ion-input placeholder="Thêm giá trị thuộc tính" class="add-item" type="text" [(ngModel)]="newValue" id="input"></ion-input>
    <ion-icon name="add-circle" color="primary" style="font-size: 3rem; margin-left: .5rem" (click)="addValue()"></ion-icon>
    </div>
</ion-footer>