.shipment-services-wrapper {
  margin: 1rem 0;
  background-color: #fff;

  .shipment-services-header {
    text-align: center;
    font-size: 13px;
    padding: 15px 50px;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .shipment-services-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .carriers-list {
      width: 100%;

      .carrier-item {
        display: flex;
        align-items: stretch;

        .carrier-main-info {
          align-items: center;
          justify-content: center;
          border-right: 1px solid #eee;
          padding: 10px;
          border-bottom: 1px solid #eee;
          display: flex;
        }

        .services-list {
          flex: 1;

          .service-item {
            border-bottom: 1px solid #eee;
            padding: 10px 15px;
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            &.unavailable {
              background: #fafafa;
              color: #888;
              font-size: 11px;
            }

            .service-info {
              display: flex;
              align-items: center;
              width: 55%;

              .name-and-fee {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin-left: 10px;

                .service-name {
                  font-size: 12px;
                }

                .service-fee {
                  font-weight: 700;
                }
              }
            }

            .service-estimated-time {
              display: flex;
              flex-direction: column;
              width: 45%;
              justify-content: center;
              border-left: 1px solid #eee;
            }
          }
        }
      }
    }
  }
}

.carrier-image {
  position: relative;

  img:not(.topship-logo) {
    width: 2.3rem;
    height: 2.3rem;
    object-fit: contain;
    object-position: center;
    border: 1px solid #eee;
    border-radius: 100%;
  }

  .topship-logo {
    position: absolute;
    width: 1.15rem;
    height: 1.15rem;
    bottom: -3px;
    right: 0;
  }
}

.pickup, .delivery {
  &::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    padding: 4px;
    border-radius: 100%;
  }
}

.pickup {
  font-size: 9px;
  opacity: .6;
}

.delivery {
  font-size: 10px;
  opacity: .8;
}

.error {
  background: rgba(var(--ion-color-danger-rgb), .2);
  color: var(--ion-color-danger-shade);
  padding: 16px;
  text-align: center;
}

.ion-color-primary {
  --ion-color-base: var(--topship-color) !important;
}
