  <div class="shipment-services-wrapper">
    <ng-container *ngIf="fromWard && toWard; else notEnoughInfo;">
      <div class="shipment-services-header">
        Chọn gói dịch vụ
      </div>
      <div class="shipment-services-body">
        <div class="carriers-list">
          <ng-container *ngFor="let carrier of carriers; let i = index">
            <div class="carrier-item" *ngIf="!carrier.loading && carrier?.services?.length">
              <div class="carrier-main-info">
                <div class="carrier-image">
                  <img [src]="carrier?.logo" alt="">
                  <img *ngIf="carrier?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
                </div>
              </div>
              <div class="services-list" *ngIf="carrier?.services?.length;">
                <div class="service-item" *ngFor="let service of carrier?.services"
                  [class.unavailable]="!service.is_available" (click)="selectService(service)">
                  <div class="text-left" *ngIf="!service?.is_available">
                    Không khả dụng - {{service?.error_message}}
                  </div>
                  <ng-container *ngIf="service?.is_available">
                    <div class="service-info">
                      <ion-checkbox mode="md" class="custom-checkbox" color="primary"
                        [checked]="isSelectedService(service)"></ion-checkbox>
                      <div class="name-and-fee">
                        <span class="service-name">{{service?.name}}</span>
                        <span class="service-fee">{{service?.fee | vnd}}đ</span>
                      </div>
                    </div>
                    <div class="service-estimated-time">
                      <span class="pickup">Lấy trước {{(service?.estimated_pickup_at | date: 'HH:mm dd/MM') || '--'}}</span>
                      <span class="delivery">Giao {{(service?.estimated_delivery_at | date: 'dd/MM') || '--'}}</span>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <etop-ion-shipment-service-options-placeholder *ngIf="carrier.loading">
            </etop-ion-shipment-service-options-placeholder>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-template #notEnoughInfo>
      <div class="ion-text-center" style="margin-bottom: 1.5rem;">
        Vui lòng điền đầy đủ thông tin để kiểm tra gói dịch vụ
        <span *ngIf="!fromWard || !toWard">: Thiếu Phường/Xã ở địa chỉ lấy/giao hàng</span>
      </div>
    </ng-template>
  </div>
  <div class="error" *ngIf="errorMessage && !carriers?.length">
    {{errorMessage}}
  </div>
