<ion-header>
  <ion-toolbar>
    <ion-title>Đặt lại mật khẩu</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="!loadReset">
  <ion-content>
    <div class="reset-pass ion-padding">
      <div class="check-code ion-text-center">
        <ion-text class="header-title">Nhập mã xác nhận bạn nhận được</ion-text>
        <ion-grid class="ion-padding-top">
          <ion-row>
            <ion-col size="2">
              <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 0)" #codeVerify1 class="verify-input" (keyup)="onCheckDeleteAction($event, 0)"
                [(ngModel)]="codeVerify[0]" >
              </ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 1)" #codeVerify2 class="verify-input" (keyup)="onCheckDeleteAction($event, 1)"
                [(ngModel)]="codeVerify[1]" >
              </ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 2)" #codeVerify3 class="verify-input" (keyup)="onCheckDeleteAction($event, 2)"
                [(ngModel)]="codeVerify[2]" >
              </ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 3)" #codeVerify4 class="verify-input" (keyup)="onCheckDeleteAction($event, 3)"
                [(ngModel)]="codeVerify[3]" >
              </ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 4)" #codeVerify5 class="verify-input" (keyup)="onCheckDeleteAction($event, 4)"
                [(ngModel)]="codeVerify[4]" >
              </ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 5)" #codeVerify6 class="verify-input" (keyup)="onCheckDeleteAction($event, 5)"
                [(ngModel)]="codeVerify[5]" >
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style="padding-top: 3rem;">
          <span>Bạn không nhận được mã? </span>
          <span style="opacity: 0.5" *ngIf="countdown > 0"><strong>  Gửi lại </strong>({{countdown}}s)</span>
          <strong *ngIf="countdown == 0" (click)="retry()">Gửi lại</strong>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer class="footer-button-wrapper ion-no-border">
    <ion-toolbar>
      <div class="footer-buttons ion-flex">
        <button type="submit" class="w-100 bg-primary text-white footer-button-item font-bold" (click)="checkCode()" [disabled]="ionLoading">
          <ion-spinner name="lines-small" class="text-white spinner" style="" *ngIf="ionLoading"></ion-spinner>
          <span> Tiếp tục</span>
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>

<ng-container *ngIf="loadReset">
  <ion-content>
    <div class="reset-pass">
      <div class="form-rest">
        <ion-list>
          <ion-item class="ion-padding-end">
            <ion-label position="floating">Nhập mật khẩu mới</ion-label>
            <ion-input type="password" [(ngModel)]="new_password"></ion-input>
          </ion-item>
          <ion-item class="ion-padding-end">
            <ion-label position="floating">Xác nhận mật khẩu</ion-label>
            <ion-input type="password" [(ngModel)]="confirm_password"></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
  <ion-footer class="footer-button-wrapper ion-no-border">
    <ion-toolbar>
      <div class="footer-buttons ion-flex">
        <button type="submit" class="w-100 bg-primary text-white footer-button-item font-bold" (click)="createPassword()" [disabled]="ionLoading">
          <ion-spinner name="lines-small" class="text-white spinner" style="" *ngIf="ionLoading"></ion-spinner>
          <span>Đặt lại mật khẩu</span>
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>


