<div class="section" [class.error]="invalid_pickup_address">
  <div
    class="section-title" placement="bottom"
    [ngbTooltip]="invalid_pickup_address ?
    'Địa chỉ lấy hàng chưa được Google Maps nhận diện. Vui lòng cập nhật lại.' : ''">
    ĐỊA CHỈ LẤY HÀNG
  </div>
  <shared-select-multiline
    *ngIf="!addressLoading" [options]="fromAddresses" [placeholder]="'Nhập địa chỉ lấy hàng'"
    [inputClass]="'text-topship'" [(ngModel)]="fromAddressIndex" (ngModelChange)="setShopAddress()"
    [width]="'100%'" [min_width]="'100%'">
    <div class='text-center m-auto text-warning' (click)="newFromAddress()">Thêm địa chỉ lấy hàng mới</div>
  </shared-select-multiline>
</div>
<div class="section">
  <div class="loading-something" [class.d-none]="!rendering_map" style="height: 225px;">
    <i class="fa fa-spin fa-circle-o-notch text-topship" style="font-size: 22px;"></i>
  </div>
  <div [class.d-none]="rendering_map" #googleMap style="width:100%; height:225px"></div>
</div>
<div class="section p-0 border-0 order-sort-list">
  <div class="order-sort-item start-item">
    <span class="sort-index">0</span>
    <span class="sort-code">LẤY HÀNG:</span>
    <span class="sort-customer">{{shipping_data?.pickup_address?.full_name}},</span>
    <span class="sort-address">{{addressDisplay(shipping_data?.pickup_address, false)}}</span>
  </div>
  <shared-dragdrop-sorting [drag_items]="orders" (dropped)="drop($event)">
    <ng-template #item let-order="item" let-index="index">
      <div class="order-sort-item">
        <span class="sort-index">{{index + 1}}</span>
        <span class="sort-customer">{{order?.p_data?.shipping?.shipping_address?.full_name}},</span>
        <span class="sort-address">{{addressDisplay(order?.p_data?.shipping?.shipping_address, false)}}</span>
        <span class="sort-money">{{order?.p_data?.shipping?.cod_amount | vnd}}đ</span>
      </div>
    </ng-template>
  </shared-dragdrop-sorting>
</div>
<div class="section px-0" [class.d-none]="!orders.length">
  <div class="loading-something" [class.d-none]="!getting_services" style="height: 15rem;">
    <i class="fa fa-spin fa-circle-o-notch text-topship bigger-font"></i>
  </div>
  <shop-shipnow-service-options
    [class.d-none]="getting_services"
    #shipnowServiceOptions (selectedService)="onSelectedService($event)" [total_col]="2">
  </shop-shipnow-service-options>
</div>
<div class="section border-bottom-0">
  <div class="align-items-center d-flex justify-content-between mb-4">
    <div>
      <div class="money-label">Tổng thu hộ</div>
      <div class="money-value">{{total_cod_amount | vnd}}đ</div>
    </div>
    <div class="text-right">
      <div class="money-label">Tổng phí</div>
      <div class="money-value">
        <span *ngIf="calculating_fee"><i class="fa fa-spin fa-circle-o-notch"></i></span>
        <span *ngIf="!calculating_fee">{{total_fee || 0 | vnd}}đ</span>
      </div>
    </div>
  </div>
  <div class="button-wrapper text-center">
    <button
      class="btn text-white w-100"
      [ngClass]="{
        'btn-topship': has_valid_orders,
        'btn-default disabled': !has_valid_orders
      }"
      [disabled]="loading"
      (click)="createFFM()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      Tạo đơn giao tức thì
    </button>
  </div>
</div>
