.section {
  padding: 15px;
  border-bottom: 1px solid var(--border-gray-color);
  position: relative;
  &.error {
    .section-title {
      color: var(--danger-color);
    }
    border: 1px solid var(--danger-color);
  }
}

.section-title {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 10px;
}

.money-label {
  font-size: 11px;
  margin-bottom: 5px;
}

.money-value, .money-value * {
  font-size: 14px;
  font-weight: 700;
}

button.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.loading-something {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-sort-item {
  padding: 15px 15px;
  border-bottom: 1px solid var(--border-gray-color);
  display: flex;
  align-items: center;
  color: var(--dark-color);
  cursor: move;
  span {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  .sort-index {
    color: var(--topship-color);
    border: 1px solid var(--topship-color);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
  .sort-customer {
    font-weight: 700;
  }
  .sort-address {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }
  .sort-money {
    color: var(--topship-color);
    font-weight: 700;
    font-size: 14px;
  }
  &.start-item {
    .sort-address {
      width: 55%;
    }
    .sort-index {
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }
}

