.alert {
  margin: 0;
  width: 100%;
  height: 52px;
  border: 0;
  border-radius: 0;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  .msg {
    margin: auto 0;
  }
  button {
    height: 32px;
    margin-left: 8px;
    font-size: 12px;
    color: #856404 !important;
    border-color: #856404 !important;
  }
  i {
    font-size: 16px;
  }
}
