<ng-container>
  <div class="d-flex justify-content-between mb-4 align-items-center text-center">
    <h4 class="font-bold w-100">Gửi tin nhắn đến {{activeConversation.external_user_name}}</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <div class="pt-4 pb-3">
    <etop-material-input 
      type="input" appearance="standard" 
      textLabel="Nội dung tin nhắn" placeholder="Nội dung tin nhắn"
      [(ngModel)]="text">
    </etop-material-input>
  </div>
  <mat-dialog-actions class="align-items-center mt-1 border-top">
    <div class="ml-auto">
      <button class="btn btn-default btn-outline mr-3 ml-auto" (click)="close()">Đóng</button>
      <button class="btn btn-primary" (click)="senMessage()" disabled="{{disableButton}}">Gửi tin nhắn</button>
    </div>
  </mat-dialog-actions>
</ng-container>
