<div class="modal-header">
  <h6 class="modal-title">Cập nhật tồn kho</h6>
</div>
<div class="modal-body">
  <div class="info d-flex p-3 align-items-center">
    <div class="image">
      <img src="{{variant.image}}" alt="" class="variant-img">
    </div>
    <div class="pl-4 flex-grow-1">
      <div class="text-primary text-bold">{{variant.code}}</div>
      <div>{{variant.name}}<strong *ngFor="let attr of variant.attributes"> - {{attr.value | uppercase}}</strong></div>
    </div>
    <div class="pl-3">
      <div class="label-inventory-modal">Tồn kho</div>
      <div class="text-bold text-big text-right">{{quantity}}</div>
    </div>
    <div class="pl-3 text-right">
      <div class="label-inventory-modal">SL thực tế</div>
      <input type="text" class="input-pos text-bold text-primary text-right text-big" placeholder="Nhập SL thực tế"
        [(ngModel)]="actualQuantity" style="height: 21px; width: 100px;" (keypress)="numberOnly($event)">
    </div>
    <div class="pl-3">
      <div class="label-inventory-modal">Chênh lệch</div>
      <div class="text-bold text-big text-right">{{differenceQuantity}}</div>
    </div>
  </div>
  <div class="alert alert-warning clearfix">
    <span>*Phiếu kiểm kho sẽ được tạo tự động khi bạn thực hiện thao tác cập nhật tồn kho cho sản phẩm này</span>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline btn-default" (click)="dismissModal(null)">
    Đóng
  </button>
  <button type="button" [disabled]="loading" class="btn btn-primary" (click)="confirm()">
    <i class="fa fa-spin fa-circle-o-notch mr-1" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>
