<div class="wrapper-login" *ngIf="!loadingView; else hasLoading">
  <div class="login-body">
    <div class="l-side d-none d-sm-flex flex-column">
      <div class="d-flex m-4">
        <img class="logo" src="assets/images/logo_mono_medium.png" alt="etop-logo" />
        <div class="brand-text">ETOP TECH JSC</div>
      </div>
      <div class="d-flex flex-column justify-content-center m-auto">
        <div>
          <h3 class="text-center title text-dark font-weight-bold mb-4">
            Hơn 10,000 shop đang sử dụng eTop
          </h3>
          <h3 class="subtitle text-dark text-center">
            Miễn phí vĩnh viễn, không giới hạn tính năng!
          </h3>
        </div>
        <div class="d-flex justify-content-center">
          <img class="feature-img" src="assets/images/register_main_img.png" alt="" />
        </div>
        <div class="list-products d-flex flex-row justify-content-between m-3">
          <div class="d-flex align-items-center m-2">
            <img src="assets/images/logo_medium.png" class="logo-brand rounded-circle" alt="">
            <div class="ml-2">
              <div class="text-big">POS - Phần mềm quản lý bán hàng đơn giản nhất</div>
              <div class="text-primary text-bold">MIỄN PHÍ</div>
            </div>
          </div>
          <div class="d-flex align-items-center m-2">
            <img src="assets/images/Topship-logo.png" class="logo-brand rounded-circle" alt="">
            <div class="ml-2">
              <div class="text-big">TOPSHIP - Quản lý giao hàng</div>
              <div class="text-primary text-bold">MIỄN PHÍ</div>
            </div>
          </div>
        </div>
      </div>
      <div class="px-5 py-3 d-flex align-items-baseline">
        <span class="d-flex align-items-center mr-2">
          <i class="fas fa-star text-small"></i>
          <i class="fas fa-star text-small"></i>
          <i class="fas fa-star text-small"></i>
        </span>
        <i>eTop được xem là phần mềm có tốc độ tăng trưởng khách hàng nhanh nhất và sử dụng đơn giản nhất.</i>
      </div>
    </div>
    <div class="r-side">
      <div class="d-flex d-sm-none m-4">
        <img class="logo" src="assets/images/logo_etop_mono_white.png" alt="etop-logo">
        <div class="brand-text text-gray">ETOP TECH JSC</div>
      </div>
      <div class="d-flex flex-column h-100">
        <div class="login-form px-5">
          <div class="title">
            <strong class="text-larger text-gray">Đăng nhập</strong>
          </div>
          <div class="info">
            <p class="text-big text-gray">
              Bạn có thể dùng email hoặc số điện thoại để đăng nhập.
            </p>
          </div>
          <div>
            <div class="form-group">
              <input
                (keyup.enter)="onEnterLoginInput()"
                type="text" class="form-control rounded-pill" autofocus placeholder="Nhập số điện thoại hoặc email"
                [(ngModel)]="login">
            </div>
            <div class="form-group position-relative">
              <div
                *ngIf="password" class="position-absolute changephone-text"
                (mousedown)="showPassword()" (mouseup)="hidePassword()">
                Hiển thị
              </div>
              <input
                #passwordInput (keyup.enter) ="onLogin()"
                type="password" class="form-control rounded-pill" placeholder="Nhập mật khẩu"
                [(ngModel)]="password"/>
            </div>
            <button class="btn rounded-pill" type="button" (click)="onLogin()">
              <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading"></i>
              Đăng nhập
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="login-footer flex-row-reverse flex-md-row d-flex">
    <div class="border-top d-none d-md-flex l-side">
      <div class="align-items-center d-flex justify-content-between px-5 w-100" style="color: var(--dark-color);">
        <div class="mr-3">
          <div class="text-bold">ETOP TECH JSC - Công ty cổ phần công nghệ eTop</div>
          <div>Địa chỉ: Tầng 3 An Phú Plaza, 117-119 Lý Chính Thắng, P. 7, Q. 3, TP.HCM</div>
          <div>MSDN: <span class="text-bold">0315348182</span></div>
        </div>
        <div>
          <div>Hotline: <span class="text-bold">0901379197</span> </div>
          <div>(8:30-17:30 từ thứ 2 đến thứ 7. Không hỗ trợ chủ nhật)</div>
          <div>Email: <strong>hotro@etop.vn</strong></div>
        </div>
      </div>
    </div>
    <div class="r-side"></div>
  </div>
</div>
<ng-template #hasLoading>
  <div class="wrapper-login loading-box">
    <div>
      <img src="assets/images/logo_medium.png" alt="" width="100px">
    </div>
    <img src="assets/images/loading.svg" alt="" width="80px" style="margin-top: -10px">
  </div>
</ng-template>
