<div class="w-100">
  <div class="card-header">
    <div class="d-flex align-items-center card-header-item">
      <div class="flex-grow-1 font-weight-bold text-primary header-title">
        THÔNG TIN PHIẾU
      </div>
    </div>
  </div>
  <div class="card-body bg-white">
    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">Nhân viên xuất huỷ</div>
      <div>
        <span class="font-weight-bold text-right text-primary">{{stocktaker}}</span>
      </div>
    </div>

    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">Thời gian</div>
      <div>
        <span class="text-right">{{discard?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </div>
    </div>

    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">Mã</div>
      <div>
        <span class="font-weight-bold text-right text-primary">{{discard?.code}}</span>
      </div>
    </div>

    <div class="info-section e-border-bottom">
      <div class="flex-grow-1">Tổng số lượng huỷ</div>
      <div>
        <span class="font-weight-bold text-right">
          {{discard?.p_data?.discard_quantity || 0}}
        </span>
      </div>
    </div>

    <div class="info-section e-border-bottom">
      <div class="flex-grow-1 d-flex align-items-center" (click)="discardNote.focus()">
        <span>Ghi chú</span>
      </div>
      <div class="w-50" [class.d-none]="!isNew">
        <input
          #discardNote type="text" style="height: 30px;" placeholder="Nhập ghi chú"
          class="input-pos w-100 font-weight-bold text-primary text-right" [(ngModel)]="discard.p_data.note" />
      </div>
      <div [class.d-none]="isNew">
        <span class="text-right">{{discard?.note}}</span>
      </div>
    </div>

    <div class="info-section e-border-bottom" *ngIf="!isNew">
      <div class="flex-grow-1">
        <span>Trạng thái</span>
      </div>
      <div>
        <span class="text-right order-status order-{{discard?.status}}">
          {{discard?.status_display}}
        </span>
      </div>
    </div>

    <div class="buttons d-flex" *ngIf="isNew">
      <ng-container *ePermissions="['shop/stocktake:update']">
        <button
          class="btn btn-outline btn-primary" style="width: 35%;"
          [disabled]="loading" (click)="update(false)">
          <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && !updateAndConfirm"></i>
          Lưu nháp
        </button>
      </ng-container>
      <ng-container *ePermissions="['shop/stocktake:confirm']">
        <button
          class="btn btn-primary ml-3" style="width: 65%;"
          [disabled]="loading" (click)="update(true)">
          <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && updateAndConfirm"></i>
          Xác nhận
        </button>
      </ng-container>
    </div>
  </div>
</div>
