.buttons {
  padding: 1rem;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.label-select {
  border-bottom: 1px solid var(--border-gray-color);
  border-radius: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  background-position-y: 1px;
}
