@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap&subset=vietnamese");

* {
  font-family: 'Open Sans', sans-serif;
}

.btn .btn-flat {
  border-radius: 1;
  box-shadow: none;
  border-width: 1px;
}

.btn {
  padding: 0.65rem;
}

.btn-primary {
  background-color: #410258 !important;
  border-color: #410258 !important;

  &:hover, &:active, &:focus {
    background-color: #410258 !important;
    border-color: #410258 !important;
    box-shadow: none !important;
  }
}

.btn-default {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}

input {
  padding: 0.65rem !important;
  background: #eee;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.grecaptcha-badge {
  display: none;
}