.login-box {
  width: 400px;
  margin: auto;
}

b {
  font-weight: 700;
}

.login-box-body {
  background: #fff;
  padding: 20px;
  color: #666;
  box-shadow: 0px 0px 24px -6px rgba(92, 88, 92, 0.65);
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.form-group {
  margin-bottom: 15px;
}

.has-feedback {
  position: relative;
}

.form-group .has-feedback {
  padding-right: 42.5px;
}

.fom-group input {
  padding-left: 5px;
  height: 100%;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-offset-1 {
  margin-left: 10px;
}

.col-xs-6 {
  width: 50%;
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icheck > label {
  padding-left: 0;
}

.checkbox label {
  min-height: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.col-xs-5 {
  width: 36%;
}

.forgot-password {
  float: right;
  margin: 10px 0;
  font-weight: 250;
  display: block;
  cursor: pointer;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-6 {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

form {
  font-size: 12px;
  button,
  input,
  a.btn {
    font-size: 12px;
  }
}


@media (max-width: 600px) {
  .login-box {
    width: 90%;
    max-width: 300px;
    margin: 12% auto;
  }
}

.btn-login {
  min-width: 80px;
  font-weight: 500;
  background-color: #410258;
  color: white;

  &:hover, &:active {
    background-color: #410258;
  }
}

input {
  padding: 0.65rem !important;
}