@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=vietnamese");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

* {
  font-size: var(--font-size);
  font-family: 'Open Sans', sans-serif;
}

::placeholder {
  font-size: var(--font-size);
}

@media screen and (max-width: 1300px) {
  * {
    font-size: 11px;
  }

  ::placeholder {
    font-size: 11px;
  }
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 10px;
  }

  ::placeholder {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px){
  * {
    font-size: 9px;
  }

  ::placeholder {
    font-size: 9px;
  }
}
