.etop-table {
  .etop-table-header {
    th {
      font-weight: normal;
      border-right: 1px solid #fff;
      border-top: none;
      padding: 0.5rem 0.75rem;
      vertical-align: middle;
      background: var(--primary-color);
      color: white;
    }
  }
}

.table-header-text {
  font-size: 0.8rem;
}

.table-row {
  background-color: #fff;
  margin-bottom: 10px;
  vertical-align: middle;
  border-radius: 5px;
  min-height: 60px;
  cursor: pointer;
  &.row {
    margin-left: 0;
    margin-right: 0;
  }
  .fa-minus {
    color: #ddd;
  }
}
