:host {
  height: 100%;
}

.order-list {
  border-right: 1px solid var(--border-gray-color);
}

.order-item {
  height: 70px;
  padding: 0 1.25rem;
  border-bottom: 1px solid var(--border-gray-color);
  display: flex;
  align-items: center;
}

.active-ffm {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.1rem;
  .provider-logo {
    width: 30px;
    border-radius: 100%;
    border: 1px solid var(--border-gray-color);
    height: 30px;
    object-fit: contain;
    object-position: center;
    margin-right: 10px;
    background: var(--white-color);
  }
}

.no-address {
  background: rgba(var(--topship-color-rgb), .05);
}

.not-selected {
  background: var(--gray-color);
}

.unsupport-shipnow {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gray-color);
  color: var(--default-color);
  font-weight: 600;
  height: 100%;
  padding: 10px;
}
