<div class="d-flex h-100">
  <div class="h-100 order-list hide-scrollbar" style="width: 40%; overflow-y: auto;" [sharedAsyncScroll]="scroll_id">
    <ng-container *ngFor="let order of orders; let i = index;">
      <ng-container *ngIf="selectedOrder(order); else notSelected;">
        <ng-container *ngIf="!canCreateFulfillment(order)">
          <div class="order-item active-ffm" *ngIf="order?.activeFulfillment?.shipping_code">
            <img class="provider-logo" [src]="order?.activeFulfillment?.shipping_provider_logo" alt="">
            <span>{{order?.activeFulfillment?.shipping_code}}</span>
          </div>
          <div class="order-item d-flex align-items-center" *ngIf="!order?.activeFulfillment?.shipping_code">
            <div class="order-status order-{{order?.activeFulfillment?.shipping_state}}">
              {{order?.activeFulfillment?.shipping_state_display}}
            </div>
            <button class="btn btn-topship text-white ml-4" (click)="reCreateFFM(order)">Tạo lại</button>
          </div>
        </ng-container>
        <div *ngIf="canCreateFulfillment(order)" class="order-item" [class.no-address]="noAddress(order)">
          <shop-multi-shipnow-row
            [order]="order" (toGetServices)="getServices()" (toRenderMap)="toRenderMap()">
          </shop-multi-shipnow-row>
        </div>
      </ng-container>
      <ng-template #notSelected>
        <div class="order-item not-selected">
          <i class="fas fa-minus"></i>
        </div>
      </ng-template>
    </ng-container>
  </div>
  <div class="h-100 hide-scrollbar" style="width: 60%; overflow-y: auto; overflow-x: hidden">
    <div class="alert alert-info mb-0 border-radius-0">
      Dịch vụ giao hàng tức thì hiện chỉ hỗ trợ giao hàng khu vực
      <strong>Thành phố Hồ Chí Minh</strong> và <strong>Hà Nội</strong>.
    </div>
    <shop-multi-shipnow-control-panel
      #multiOrderShippingNow [totalCodAmount]="totalCodAmount"
      [totalOrders]="totalOrders" [hasValidOrders]="hasValidOrders"
      [loading]="creatingFfm" [calculatingFee]="gettingServices"
      (createFulfillment)="createFFM($event)">
    </shop-multi-shipnow-control-panel>
  </div>
</div>
