.attention {
  background-color: rgba(var(--warning-color-rgb), 0.2) !important;
  height: 40px;
  line-height: 40px;
  .info {
    padding-left: 20px;
    font-size: 11px;
  }
  .hide {
    cursor: pointer;
  }
  .dark-orange {
    color: var(--warning-color);
  }
}
