
<div class="please-view-in-desktop">
  <div class="text-center mt-5" [innerHtml]="desktop_only?.description" *ngIf="isAtEtop"></div>
  <div class="text-center mt-5"*ngIf="!isAtEtop">
    <div>
      <img src="assets/images/logo_medium.png" alt="" width="100px">
    </div>
    <span class="text-big">Chưa hỗ trợ giao diện mobile</span>
  </div>
</div>