.popover-header {
  border: none;
  border-bottom: 1px solid #eee;
}

.product-info {
  padding: 1rem;
}

.product-img {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  border: 1px solid #eee;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  margin-right: 1rem
}

.variant-item {
  padding: 1rem;
  border-top: 1px solid #eee;
}