.items-list-row {
  padding: 0;
  border-top: 0.6rem solid #f5f5f5;
}
.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}
.row-padding {
  padding: 0 15px 7px;
}
.content-section {
  background: #fff;
  display: flex;
  margin-top: 8px;
}
.text-color-primary {
  color: var(--topship-color);
}
.connection-image {
  width: 2rem;
  border: 1px solid #eee;
  border-radius: 100%;
  object-fit: contain;
  margin-right: 7px;
}
.line {
  display: flex;
}
.icon-develop {
  font-size: 5rem;
  opacity: 0.3;
}
ion-segment {
  z-index: 100;
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  ion-label {
    text-transform: none;
    color: var(--topship-color);
  }
  ion-segment-button {
    &.segment-button-checked {
      --color-checked: var(--topship-color);
    }
  }
}
.dot-active {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  background-color: var(--topship-color);
}
.dot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  background-color: #999999;
}
.text-color-grey {
  color: #999999;
}
.histories {
  padding: 0.8rem;
}
.etop-status {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  &.S {
    background-color: var(--topship-color);
  }

  &.P {
    background-color: var(--ion-color-success);
  }

  &.N {
    background-color: var(--ion-color-danger);
  }

  &.Z {
    background-color: var(--ion-color-warning);
  }

  &.NS {
    background-color: var(--ion-color-tertiary);
  }
}
.info-row {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-wrapper {
  border-radius: 5px;
  background: #fff;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07);
}
.btn-topship.btn-outline:disabled {
  border-color: var(--default-boder-color) !important;
  color: var(--default-color);
}
