<ion-header>
    <ion-toolbar>
      <ion-title>Đơn giao hàng </ion-title>
      <ion-buttons slot="start">
        <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="back()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    <div class="ion-flex justify-content-between">
        <div class="etop-status {{(transaction$ | async)?.status}}">{{(transaction$ | async)?.status_display | uppercase}}</div>
    </div>
    <ion-segment mode="md" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment">
      <ion-segment-button mode="md" value="info">
        <ion-label>Thông tin</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="md" value="history">
        <ion-label>Lịch sử</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="md" value="support">
        <ion-label>Yêu cầu hỗ trợ</ion-label>
      </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content fullscreen>
    <ng-container *ngIf="segment == 'info'">
        <div class="w-100">
            <div class="items-list-row">
                <div class="box ">
                    <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                        <ion-text><strong>NGƯỜI NHẬN</strong></ion-text>
                    </ion-row>
                    <ion-row class="content-section row-padding ion-align-items-center">
                        <div>
                            <strong>
                                <ion-text>{{ffm?.shipping_address?.full_name}} - </ion-text> 
                            </strong>
                            <ion-text class="text-color-primary">{{ffm?.shipping_address.phone}}</ion-text>
                        </div>
                        <div>
                            <ion-text>
                                {{ffm?.shipping_address.address1}}, {{ffm?.shipping_address.ward}}, {{ffm?.shipping_address.district}}, 
                                {{ffm?.shipping_address.province}}
                            </ion-text>
                        </div>
                        <div>
                            <ion-text><strong>
                                {{ffm?.shipping_address.district}},{{ffm?.shipping_address.province}}
                            </strong></ion-text>
                        </div>
                    </ion-row>
                </div>
            </div>
            <div class="items-list-row"> 
                <div class="box">
                    <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                            <ion-text><strong>ĐƠN GIAO HÀNG</strong></ion-text>
                    </ion-row>
                    <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                        <ion-col >
                            <ion-text>Nhà vận chuyển</ion-text>
                        </ion-col>
                        <ion-col>
                            <div class="line ion-align-items-center ion-justify-content-end">
                                <ion-img class="connection-image" src="{{ffm?.shipping_provider_logo}}"></ion-img>
                                <ion-text>{{ffm?.carrier_display}}</ion-text>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                        <ion-col >
                            <ion-text>Gói cước</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-end" >
                            <ion-text>{{ffm?.shipping_service_name | uppercase}}</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                        <ion-col >
                            <ion-text>Tổng cước phí</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-end" >
                            <ion-text>{{ffm?.shipping_fee_shop | vnd}}đ</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                        <ion-col >
                            <ion-text>Tiền thu hộ</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-end" >
                            <ion-text>{{ffm?.total_cod_amount | vnd}}đ</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                        <ion-col >
                            <ion-text>Dự kiến lấy</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-end" >
                            <ion-text>{{ffm?.estimated_pickup_at | date: 'dd/MM/yyyy hh:mm'}}</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-section row-padding ion-align-items-center">
                        <ion-col >
                            <ion-text>Dự kiến giao</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-end" >
                            <ion-text>{{ffm?.estimated_delivery_at | date: 'dd/MM/yyyy hh:mm'}}</ion-text>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
        <div class="items-list-row">
            <div class="box ">
                <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                    <ion-text><strong>SẢN PHẨM</strong></ion-text>
                </ion-row>
                <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                    <ion-row class="w-100" *ngFor="let line of ffm?.lines">
                        <ion-col >
                            <ion-text>{{line?.quantity}} x {{line?.product_name}}</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-end" >
                            <ion-text>{{line?.retail_price * line?.quantity | vnd}}đ</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-row>
                <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                    <ion-col >
                        <ion-text>Giảm giá</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-end" >
                        <ion-text>{{ffm?.order.order_discount | vnd}}đ</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="content-section row-padding ion-align-items-center">
                    <ion-col >
                        <ion-text>Tổng cộng</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-end" >
                        <ion-text>{{ffm?.total_cod_amount | vnd}}đ</ion-text>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="items-list-row">
            <div class="box ">
                <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                    <ion-text><strong>GÓI HÀNG</strong></ion-text>
                </ion-row>
                <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                    <ion-col >
                        <ion-text>Khối lượng quy đổi</ion-text> 
                    </ion-col>
                    <ion-col class="ion-text-end" >
                        <ion-text>{{ffm?.chargeable_weight}}g</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="content-section row-padding ion-align-items-center">
                    <ion-col >
                        <ion-text *ngIf="ffm?.shipping_note">{{ffm?.shipping_note}}</ion-text> 
                        <ion-text *ngIf="!ffm?.shipping_note">Ghi chú</ion-text> 
                    </ion-col>
                    <ion-col class="ion-text-end" *ngIf="!ffm?.shipping_note">
                        <ion-text >-</ion-text> 
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="items-list-row">
            <div class="box ">
                <ion-row class="content-section border-bottom row-padding ion-align-items-center">
                    <ion-text><strong>NGƯỜI GỬI</strong></ion-text>
                </ion-row>
                <ion-row class="content-section row-padding ion-align-items-center">
                    <div>
                        <strong>
                            <ion-text>{{ffm?.pickup_address?.full_name}} - </ion-text> 
                        </strong>
                        <ion-text class="text-color-primary">{{ffm?.pickup_address.phone}}</ion-text>
                    </div>
                    <div>
                        <ion-text>
                            {{ffm?.pickup_address.address1}}, {{ffm?.pickup_address.ward}}, {{ffm?.pickup_address.district}}, 
                            {{ffm?.pickup_address.province}}
                        </ion-text>
                    </div>
                    <div>
                        <ion-text><strong>
                            {{ffm?.pickup_address.district}},{{ffm?.pickup_address.province}}
                        </strong></ion-text>
                    </div>
                </ion-row>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="segment == 'history'">
        <div class="w-100">
            <div class="histories" *ngIf="ffmHistories?.length != 0">
                <ion-row class="content-section border-bottom row-padding ion-align-items-center" 
                *ngFor="let history of ffmHistories; last as isLast">
                    <div class="{{isLast ? 'dot-active' : 'dot'}}"></div>
                        <ion-col >
                            <ion-text class="{{isLast ? 'text-color-primary' : 'text-color-grey'}}">
                                {{history?.date | date: 'dd/MM/yyyy hh:mm'}}</ion-text> 
                        </ion-col>
                        <ion-col class="ion-text-end" >
                            <ion-text class="{{isLast ? 'text-color-primary': 'text-color-grey'}}">
                                {{history?.event}}</ion-text>
                        </ion-col>
                </ion-row>
            </div>
            <div class="ion-padding-top ion-text-center" *ngIf="ffmHistories?.length == 0">
                <ion-text>Chưa có lịch sử giao hàng</ion-text>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="segment == 'support'">
        <ng-container *ngIf="!ffm?.from_topship; else fromTopship;">
        <div class="info-wrapper">
            <div class="info-row">
            <div [innerHTML]="ticketNote | safeHtml"></div>
            </div>
        </div>
        </ng-container>
        <ng-template #fromTopship>
            <div class="info-wrapper">
                <div *ngIf="tickets && tickets.length" class="ticket-list">
                    <ng-container *ngFor="let ticket of tickets">
                        <etop-ticket [ticket]="ticket" (onTicketTouched)="ticketDetail($event)"></etop-ticket>
                    </ng-container>
                </div>
                <div *ngIf="!tickets || !tickets.length" class="info-row">
                    <div class="w-100 ion-text-center text-color-grey">
                        Chưa có yêu cầu hỗ trợ
                    </div>
                </div>
                <div class="info-row" *ngIf="canForcePicking(ffm) || canForceDelivering(ffm) || !tickets?.length">
                    <div class="button-wrapper ion-text-center w-100">
                        <button [disabled]="!canForcePicking(ffm) && !canForceDelivering(ffm)"
                        class="btn btn-topship btn-outline w-100" (click)="openReqSupModal()">Gửi yêu cầu hỗ trợ</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
  </ion-content> 