<div class="modal-header">
  <h5 class="modal-title">Chọn mẫu mã</h5>
  <button type="button" class="close" (click)="dismissModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body px-0">
  <div class ="d-flex flex-row mb-3 w-100 pl-1">
    <img src="{{product?.image}}" width="50" class="mr-2">
    <div class="d-flex flex-column justify-content-center">
      <div class ="align-items-center">
        Sản phẩm
      </div>
      <h4 class ="align-items-center font-weight-bold">
        {{product?.name}}
      </h4>
    </div>
  </div>
  <div *ngFor="let variant of product?.variants" (click)="itemSelected(variant)"  class ="d-flex flex-row mb-3 variant-item cursor-pointer">
    <div class ="d-flex flex-row mb-3 w-100">
      <div>
        <div class ="align-items-center">
          {{joinAttrValues(variant?.attributes)}}
        </div>
        <div class ="align-items-center text-primary">
          {{variant?.code}}
        </div>
      </div>
      <div class="ml-auto">
        <div class="font-weight-bold">
          {{product?.price | vnd}}đ
        </div>
      </div>
    </div>
  </div>
  </div>

