<ion-header>
    <ion-toolbar>
      <ion-title>Tin nhắn</ion-title>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="list-item">
        <ng-container *ngFor="let item of listItems">
          <ng-container *ePermissions="item?.permissions">
            <div class="item ion-flex ion-align-items-center" (click)="page(item.link)">
              <ion-icon *ngIf="item.icon" [color]="item?.color" [name]="item.icon" class="item-icon"></ion-icon>
              <div class="icon-text" *ngIf="item.icon_img">
                <img [src]="item.icon_img" alt="">
              </div>
              <ion-text>{{item.title}}</ion-text>
              <ion-icon class="ml-auto ion-align-self-center" name="chevron-forward-outline"></ion-icon>
            </div>
          </ng-container>
        </ng-container>
      </div>
  </ion-content>