
.list-item {
    opacity: 0.8;
  }
  
  .item {
    padding: 1rem 16px;
    border-bottom: 0.045em solid rgba(0, 0, 0, .12);
    
    &:first-child {
        border-top: 0.045em solid rgba(0, 0, 0, .12);
    }
    
    .item-icon {
      font-size: 20px;
      vertical-align: middle;
      margin-right: 1rem;
    }
  
    ion-text {
      vertical-align: middle;
    }
  }

  .box {
    box-shadow: 0 0 10px rgba(0, 0, 0, .12)
  }
  
  .icon-text {
    font-size: 15px;
    width: 20px;
    margin-right: 1rem;
    text-align: center;
  }