.line-tag{
  padding: 1rem 0.4rem;
  &:last-child{
    border-bottom: none;
  }
  border-bottom: 1px solid var(--border-gray-color);
}

.dialog-content{
  max-height: 270px;
  overflow: auto;
}

mat-icon {
  height: 14px !important;
  width: 14px !important;
  font-size: 14px !important;
  margin-right: 0.5rem;
}
