<ng-container>
  <div class="d-flex mb-4 justify-content-between align-items-center dialog-header">
    <h4 class="font-bold" style="flex:1;text-align: center">Gắn thẻ {{'cho ' + data.conversation?.external_user_name || ''}}</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <div (click)="createTag()" class="line-tag d-flex flex-row text-primary align-items-center">
    <span class="material-icons cursor-pointer">add</span>
    <label class="cursor-pointer">Thêm thẻ</label>
  </div>
  <div class="d-flex flex-column justify-content-between dialog-content">
    <section class="d-flex flex-column" style="padding-left: 0.4rem;">
      <div class="line-tag d-flex flex-row align-items-center" *ngFor="let tag of listTags; index as i">
        <mat-checkbox [(ngModel)]="tag.isChecked" [color]="'primary'">
          <div class="pr-3 tag-name d-flex">
            <span class="material-icons icon-size" [ngStyle]="{'color': tag.color}">fiber_manual_record</span>
            <span>{{tag.name}}</span>
          </div>
        </mat-checkbox>
        
      </div>
    </section>
  </div>
  <div class="dialog-footer">
    <mat-dialog-actions class="align-items-center mt-1">
      <div class="ml-auto">
        <button class="btn btn-default btn-outline mr-3 ml-auto" mat-dialog-close>Đóng</button>
        <button class="btn btn-primary" (click)="confirm()">Xác nhận</button>
      </div>
    </mat-dialog-actions>
  </div>
</ng-container>
