.placeholder {
  $color1: #eee;
  $color2: #ddd;
  .placeholder-item {
    background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
    background-size: 200% auto;
    animation: shine 1s linear infinite;
    border-radius: 20px;
  }
  .placeholder-image {
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 100%;
  }
  .placeholder-name, .placeholder-price {
    display: inline-block;
    height: .75rem;
  }

  .placeholder-name {
    width: 70%;
    margin-bottom: .5rem;
  }

  .placeholder-price {
    width: 50%;
  }

  .placeholder-text {
    width: 70%;
    height: .5rem;
    margin-bottom: .5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.carrier-item {
  display: flex;
  align-items: stretch;

  .carrier-main-info {
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eee;
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
  }

  .services-list {
    flex: 1;

    .service-item {
      border-bottom: 1px solid #eee;
      padding: 10px 15px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      height: 100%;
      .service-info {
        display: flex;
        align-items: center;
        width: 55%;
        .name-and-fee {
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }
      .service-estimated-time {
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
        border-left: 1px solid #eee;
        padding-left: 1rem;
      }
    }
  }
}
