<td>
  <div class="name">
    <span
      *ngIf="variant.attributes && variant.attributes.length"
      class="var-attr"
      >{{ joinAttrs(variant.attributes) }}</span
    >
  </div>
</td>
<td>
  <etop-material-input
    placeholder="Mã mẫu mã"
    textLabel="Mã mẫu mã"
    type="input"
    [(ngModel)]="variant.code"
    [error]="variant.p_data.requireCode && !variant.code"
    (blur)="checkCode()"
  >
  </etop-material-input>
</td>
<ng-container *ngFor="let attr of variant.attributes">
  <td>
    <etop-material-input
      [textLabel]="attr.name"
      type="custom"
    >
      <span
        class="font-weight-bold"
        [class.text-primary]="!price_error?.retail_price"
        [class.text-danger]="price_error?.retail_price"
      >
        {{ attr.value }}
      </span>
    </etop-material-input>
  </td>
</ng-container>
<td style="max-width: 12rem;">
  <etop-material-input
    *ngIf="!format_money?.retail_price"
    #retailInput
    [error]="price_error?.retail_price"
    placeholder="Giá bán"
    textLabel="Giá bán*"
    type="input"
    keyboardType="number"
    [(ngModel)]="variant.retail_price"
    (blur)="formatMoney('retail_price'); changePrice('retail_price')"
  >
  </etop-material-input>
  <etop-material-input
    *ngIf="format_money?.retail_price"
    textLabel="Giá bán*"
    type="custom"
    [error]="price_error?.retail_price"
    (click)="formatMoney('retail_price')"
  >
    <span
      class="font-weight-bold"
      [class.text-primary]="!price_error?.retail_price"
      [class.text-danger]="price_error?.retail_price"
    >
      {{ variant?.retail_price | vnd }}đ
    </span>
  </etop-material-input>
</td>
<td style="max-width: 50px;" *ngIf="!isVariantEdit">
  <input
    type="checkbox"
    [(ngModel)]="variant.p_data.checked"
    [checked]="variant.p_data.checked"
    (blur)="checkCode()"
    (click)="varItemChecked()"
  />
</td>
<td style="max-width: 50px;" *ngIf="isVariantEdit">
  <div class="btn btn-outline btn-danger justify-content-center" style="font-size: 12px; height: 35px;" (click)="onRemoveVariant()">
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>
</td>
