<div class="slider-detail-section">
  <div class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    CHỌN SHOP
  </div>
  <div class="row">
    <div class="col-4 py-2 pr-0">
      <etop-material-nofilter-input-autocomplete
        placeholder="Nhập tên hoặc mã" textLabel="Tìm theo tên hoặc mã"
        [options]="shops" [displayMap]="displayMap" [valueMap]="valueMap"
        (searching)="onShopSearch('name', $event)"
        [(ngModel)]="shopId" (ngModelChange)="onShopSelect()">
      </etop-material-nofilter-input-autocomplete>
    </div>
    <div class="col-4 py-2 pr-0">
      <etop-material-nofilter-input-autocomplete
        placeholder="Nhập số điện thoại" textLabel="Tìm theo số điện thoại"
        [options]="shops" [displayMap]="displayMap" [valueMap]="valueMap"
        (searching)="onShopSearch('phone', $event)"
        [(ngModel)]="shopId" (ngModelChange)="onShopSelect()">
      </etop-material-nofilter-input-autocomplete>
    </div>
    <div class="col-4 py-2">
      <etop-material-nofilter-input-autocomplete
        placeholder="Nhập email" textLabel="Tìm theo email"
        [options]="shops" [displayMap]="displayMap" [valueMap]="valueMap"
        (searching)="onShopSearch('email', $event)"
        [(ngModel)]="shopId" (ngModelChange)="onShopSelect()">
      </etop-material-nofilter-input-autocomplete>
    </div>
  </div>
</div>
<div class="slider-detail-section">
  <div class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    TẠO PHIẾU NẠP TIỀN
  </div>
  <div class="row">
    <div class="col-12 py-2">
      <div class="empty" *ngIf="!selectedShop">
        Vui lòng chọn shop
      </div>
      <div class="d-flex align-items-center" *ngIf="selectedShop">
        <img class="avatar" src="{{selectedShop?.image_url || 'assets/images/placeholder.png'}}" alt="">
        <div class="pl-3 d-flex flex-column justify-content-center">
          <div class="text-bold">{{selectedShop?.code}} - {{selectedShop?.name}}</div>
          <div
            class="text-bold text-primary d-flex align-items-center cursor-pointer"
            eCallButton="{{selectedShop?.phone}}">
            {{selectedShop?.phone}}&nbsp;
            <i class="text-primary fa fa-phone-square upper-medium-font"></i>
          </div>
          <div class="lower-medium-font" *ngIf="selectedShop?.email">
            {{selectedShop?.email}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 py-2">
      <etop-material-input-autocomplete
      textLabel="Loại" placeholder="Loại" class="mb-2"
      [options]="classifyList"
      [displayMap]="nameDisplayMap()" [valueMap]="valueDisplayMap()"
      [(ngModel)]="newCredit.classify">
  </etop-material-input-autocomplete>
    </div>
    <div class="col-4 py-2">
      <etop-material-input-format-number
        formatNumberUnit="đ" placeholder="Nhập số tiền" textLabel="Số tiền nạp"
        [(ngModel)]="newCredit.amount">
      </etop-material-input-format-number>
    </div>
    <div class="col-4 py-2">
      <etop-material-input
        textLabel="Ngày giao dịch" placeholder="Ngày giao dịch" type="datetime"
        [(ngModel)]="newCredit.paid_at">
      </etop-material-input>
    </div>
  </div>
  <div class="text-right py-2">
    <button class="btn btn-primary" [disabled]="loading" (click)="createCredit()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Tạo
    </button>
  </div>
</div>
