<!-- <iframe [src]="desc[0]?.content" width="100%" class="h-100" frameBorder="0" *ngIf="desc[0].content"></iframe> -->
<div class="w-100 h-100">
  <ul class="tab-custom mb-3" *ngIf="desc?.length > 1">
    <li [ngClass]="{'active': tabActive == tab.id, 'none-after': last}" *ngFor="let tab of desc; let last = last" (click)="switchTab(tab.id)">{{tab.title}}</li>
  </ul>

  <div class="tab-content" *ngIf="desc?.length > 0 && desc[0]?.title">
    <div class="loading-box" *ngIf="loading">
      <div class="loading-container d-flex">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

    </div>
    <ng-container *ngFor="let tab of desc">
      <iframe [src]="tab.content" width="100%" class="h-100" [ngClass]="{'d-none': loading}" frameBorder="0" *ngIf="tab.id == tabActive" (load)="loadEvent($event)"></iframe>
    </ng-container>
  </div>
  <div class="tab-content mt-5" *ngIf="!desc[0]?.title">
    <h5 class="text-center">Đang cập nhật mô tả cho sản phẩm này!</h5>
  </div>
</div>