<div class="dialog-header">
  <div class="dialog-title">Xuất excel lịch sử cuộc gọi</div>
  <div class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div class="dialog-body">
  <label class="font-12 font-weight-bold mb-1">Ngày tạo</label>
  <div class="time-filter">
    <div class="d-flex align-items-center flex-fill">
      <my-date-picker [options]="datePickerOpts" name="fromdate" [(ngModel)]="fromDate"></my-date-picker>
      <span class="icon-long-arrow"><i class="fas fa-long-arrow-alt-right"></i></span>
      <my-date-picker [options]="datePickerOpts" name="todate" [(ngModel)]="toDate"></my-date-picker>
    </div>
  </div>
  <label class="font-12 font-weight-bold mb-1">Định dạng file</label>
  <mat-radio-group color="primary"[(ngModel)]="excel_compatible_mode">
    <div>
      <mat-radio-button [value]=true disableRipple class="mb-1">
        CSV tương thích với Microsoft Excel
      </mat-radio-button>
    </div>
    <div>
      <mat-radio-button [value]=false disableRipple>
        CSV thông thường
      </mat-radio-button>
    </div>
  </mat-radio-group>
  <label class="font-12 font-weight-bold mb-1">Delimiter (ký tự ngăn cách)</label>
  <mat-radio-group color="primary"[(ngModel)]="delimiter">
    <div>
      <mat-radio-button value="," disableRipple class="mb-1">
        Dấu phẩy “,“
      </mat-radio-button>
    </div>
    <div>
      <mat-radio-button value=";" disableRipple class="mb-1">
        Dấu chấm phẩy “;“
      </mat-radio-button>
    </div>
    <div>
      <mat-radio-button value="\t" disableRipple class="mb-1">
        Kí tự tab “\t“
      </mat-radio-button>
    </div>
  </mat-radio-group>
  <div class="export-excel-note mt-1">
    <div class="mr-1">
      <mat-icon>report</mat-icon>
    </div>
    <div>
      Bạn nên giữ mặc định các thông số trên để xuất file. Trong trường hợp file xuất ra có vấn đề (không thể mở được hoặc    không thể đọc được) bạn có thể điều chỉnh thông số và xuất lại file.
    </div>
  </div>
</div>
<div *ngIf="display_progress && !exportLink" class="progress progress-bar-bottom"
     style="height: 5px; border-radius: 0;">
  <div class="progress-bar bg-aqua" [ngClass]="{'bg-danger': error_progress}" role="progressbar"
       [style.width.%]="progress_percent" [attr.aria-valuenow]="progress_percent" [attr.aria-valuemin]="0"
       [attr.aria-valuemax]="100">
  </div>
</div>
<div class="dialog-footer">
  <button class="btn btn-default btn-outline mr-2" (click)="closeDialog()">
    Bỏ qua
  </button>
  <button *ngIf="!exportLink" class="btn btn-primary" (click)="onConfirmExportExcel()" [disabled]="loading">
    <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
    Xuất excel
  </button>
  <a *ngIf="exportLink" class="btn btn-success text-white" [href]="exportLink">
    <i class="fa fa-arrow-circle-o-down"></i>
    Bấm vào đây để tải file
  </a>
</div>
