.dialog-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.time-filter {
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  my-date-picker {
    display: flex;
    flex: 1;
    input {
      height: 30px !important;
    }
    .selbtngroup {
      height: 30px !important;
    }
  }

  .icon-long-arrow {
    display: flex;
    flex: 0 0 32px;
    i {
      margin: auto;
    }
  }
}

.export-excel-note {
  display: flex;
  background-color: var(--gray-color);
  border-radius: 7px;
  padding: 0.75rem;
  mat-icon{
    top: 1px;
    font-size: 1.5rem !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    position: relative;
  }
}
