<div class="carrier-list">
  <ng-container *ngFor="let connection of availableConnections$ | async">
    <div class="carrier-item d-flex align-items-center" *ngIf="connection?.connection_provider == 'ghn'">
      <img class="avatar" src="{{connection?.provider_logo}}" alt="">
      <div class="d-flex align-items-center justify-content-between" style="flex: 1; padding-left: .5rem;">
        <div class="carrier-name">{{connection?.name}}</div>
        <div
          *ngIf="connection?.connect_status == 'Z'"
          class="connect-button" (click)="connectCarrier.next(connection)">
          Kết nối
        </div>
      </div>
    </div>
  </ng-container>
  <div class="carrier-item d-flex align-items-center disabled" *ngFor="let conn of inDevelopmentConnections">
    <img class="avatar" src="{{conn?.provider_logo}}" alt="">
    <div class="d-flex align-items-center justify-content-between" style="flex: 1; padding-left: .5rem;">
      <div class="carrier-name">{{conn?.name_display}}</div>
      <div class="connect-button">Đang phát triển</div>
    </div>
  </div>
</div>
