.carrier-item {
  padding: .8rem;
  border-bottom: 1px solid var(--border-gray-color);
  &:last-child {
    border-radius: 0 0 10px 10px;
  }
  .connect-button {
    cursor: pointer;
    color: var(--primary-color);
    width: 5rem;
    height: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &:last-child {
    border-bottom: none;
  }
  &.disabled {
    background: #fafafa;
    .avatar {
      filter: grayscale(1);
    }
    .connect-button {
      color: #888;
      width: unset;
      height: unset;
      cursor: default;
    }
  }
}

.avatar {
  object-fit: contain;
}
