.alert {
    padding: 1.1rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
  
.tenant-warning {
    background-color: rgba(47, 204, 113, 0.1);
}