<div class="ion-page">
  <ion-header>
    <div class="title">
      <ion-toolbar>
        <ion-title class="text-medium">Tạo yêu cầu hỗ trợ</ion-title>
        <ion-buttons slot="start" class="header-back-icon">
          <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </div>
  </ion-header>
  <ion-content [formGroup]="createTicketForm">
    <etop-network-status></etop-network-status>
    <div class="section-box">
      <div class="ticket-type font-bold" (click)="openActionSheet()">
        <ion-icon [name]="actionIcon" class="ion-margin-end header-ion-icon"></ion-icon>
        <ion-text class="font-bold "> {{ACTION_TYPE_DISPLAY[actionType$ | async]}} #{{(fulfillment$ | async).shipping_code}}</ion-text>
        <ion-icon name="caret-down-outline" class="caret-down"></ion-icon>
      </div>
    </div>

    <div *ngIf="(actionType$ | async) == 'ffm_push_pickup' || (actionType$ | async) == 'ffm_push_delivery'">
      <div class="section-box">
        <div class="header font-bold mr-auto">Lý do bạn muốn thay đổi</div>
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Lý do</ion-label>
          <ion-input inputmode="text" formControlName="reason">
          </ion-input>
        </ion-item>
      </div>
    </div>

    <div *ngIf="(actionType$ | async) == 'ffm_update_cod'">
      <div class="section-box">
        <div class="header font-bold mr-auto">Giá trị hiện tại</div>
        <ion-label position="floating">Thu hộ</ion-label>
        <div>{{(fulfillment$ | async).total_cod_amount | vnd}}</div>
      </div>

      <div class="section-box">
        <div class="header font-bold mr-auto">Giá trị bạn muốn thay đổi</div>
        <ion-label position="floating">Thu hộ</ion-label>
        <etop-ion-input-format-number formatNumberUnit="đ" cssClass="align-left text-default"  placeholder="Nhập giá trị COD" formControlName="cod_amount">
        </etop-ion-input-format-number>
      </div>

      <div class="section-box">
        <div class="header font-bold mr-auto">Lý do bạn muốn thay đổi</div>
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Lý do</ion-label>
            <ion-input spellcheck="false" inputmode="text" formControlName="reason">
          </ion-input>
        </ion-item>
      </div>
    </div>

    <div *ngIf="(actionType$ | async) == 'ffm_update_info'">
      <div class="section-box">
        <div class="header font-bold mr-auto">Giá trị hiện tại</div>
        <ion-label position="floating" class="text-medium">Người nhận</ion-label>
        <div class="ion-flex flex-row  ion-justify-content-between ion-align-items-center">
          <div class="info">
            <div class="text-bold">
              {{(fulfillment$ | async)?.shipping_address?.full_name}} -
              {{(fulfillment$ | async)?.shipping_address?.phone}}
            </div>
            <div style="font-size: 0.9rem" class="text-medium">
              {{(fulfillment$ | async)?.shipping_address?.address1}}
              {{(fulfillment$ | async)?.shipping_address?.ward ? '- ' + ((fulfillment$ | async)?.shipping_address?.ward | locationCompact) : ''}}
              - {{(fulfillment$ | async)?.shipping_address?.district | locationCompact}}
              - {{(fulfillment$ | async)?.shipping_address?.province | locationCompact}}
            </div>
          </div>
        </div>
      </div>

      <div class="section-box" >
        <div formGroupName="shipping_address">
          <div class="header font-bold mr-auto">Giá trị bạn muốn thay đổi</div>
          <ion-row>
            <ion-col class="fullname">
              <ion-item class="ion-no-padding">
                <ion-label position="floating">Tên người nhận</ion-label>
                <ion-input type="text" (ionBlur)="outFocus()" (ionFocus)="checkFocus()" formControlName="fullname"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="phone">
              <ion-item class="ion-no-padding">
                <ion-label position="floating">SĐT người nhận</ion-label>
                <ion-input type="tel" inputmode="tel" formControlName="phone"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="address">
              <ion-item class="ion-no-padding" (click)="openUpdateAddressModal()">
                <ion-label position="floating" >Địa chỉ</ion-label>
                <ion-input readonly formControlName="address" >
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div class="section-box">
        <div class="header font-bold mr-auto">Lý do bạn muốn thay đổi</div>
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Lý do</ion-label>
          <ion-input inputmode="text" formControlName="reason">
          </ion-input>
        </ion-item>
      </div>
    </div>
    <div *ngIf="(actionType$ | async) == 'ffm_other'">
      <div class="section-box">
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Tiêu đề</ion-label>
          <ion-textarea autoGrow="true" rows="1" spellcheck="false" inputmode="text" formControlName="title" >
          </ion-textarea>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Nội dung</ion-label>
          <ion-textarea autoGrow="true" rows="1" spellcheck="false" inputmode="text" formControlName="content" >
          </ion-textarea>
        </ion-item>
      </div>
    </div>
  </ion-content>
  <ion-footer class="footer-button-wrapper ion-no-border">
    <ion-toolbar>
      <div class="footer-buttons ion-flex">
        <button type="submit" class="w-100 bg-primary text-white footer-button-item font-bold" (click)="openConfirmTicketModal()">
          <span>Tiếp tục</span>
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</div>
