.title{
  padding: .3rem 0 .1rem;
  background: var(--ion-color-white);
  border-bottom: 1px solid var(--border-gray-color);
}

.section-box {
  background: #ffffff;
  margin-bottom: 0.85rem;
  padding: 0.85rem 1.3rem;
  box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.04);
  .ticket-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    .caret-down {
      margin-left: auto;
    }
    ion-text {
      color: #4A4A4A;
    }
  }
  &:last-child {
    margin-bottom: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  .header {
    padding-bottom: 0.5rem;
  }

  .fullname, .phone, .address, .reason {
    padding-left: 0;
    &::ng-deep input  {
      padding-left: 0!important;
    }
  }
}

.header-ion-icon{
  font-size: 20px !important;
}
etop-ion-input-format-number::ng-deep ion-item {
  padding: 0;
}
