<div *ngIf="productSrcCategories" class="cat-wrapper" id="accordion-{{parentId}}">
  <div *ngFor="let cat of productSrcCategories;">
    <div class="category-line" [ngClass]="{'active': true}">
      <a data-toggle="collapse" href="#collapse-cat-{{cat.id}}" class="collapse-href collapsed">
        <i class="fas fa-caret-down" [ngClass]="{'caret-hidden': !cat.childs?.length}"></i>
        <span class="" style="font-size: 12px;">
          {{cat.name}}
        </span>
      </a>
      <div class="d-flex" style="margin: auto 5px;">
        <button (click)="onClickEditCat(cat)" class="btn btn-default btn-outline"><i class="fas fa-pencil-alt"
            aria-hidden="true"></i> Chỉnh sửa</button>
        <button (click)="onClickDeleteCat(cat)" class="btn btn-danger btn-outline ml-1"
          *ngIf="!cat.childs || !cat.childs.length"><i class="fa fa-times" aria-hidden="true"></i> Xóa</button>
      </div>
    </div>
    <div class="collapse childs-cat" id="collapse-cat-{{cat.id}}" *ngIf="cat.childs?.length"
      [attr.data-parent]="'#accordion-' + parentId">
      <shop-product-src-category-line [productSrcCategories]="cat.childs" [parentId]="cat.id"
        (editCat)="onClickEditCat($event)" (deleteCat)="onClickDeleteCat($event)"></shop-product-src-category-line>
    </div>
  </div>
</div>
