.modal-dialog {
  font-size: 12px;
  color: var(--dark-color);
}

.modal-header {
  padding: 15px 30px;
}

.substatus {
  padding: 0 30px;
  span {
    padding: 3px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 12px;
    font-weight: bold;
  }
  .reject {
    background-color: var(--topship-color);
  }
  .failed {
    background-color: var(--danger-color);
  }
  .success {
    background-color: var(--secondary-color);
  }
}

.etop-note {
  color: var(--dark-color) !important;
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.ticket-header {
  padding: 15px 30px 0;
  font-size: 16px;
  opacity: 0.8;
  .status {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--warning-color);
    &.Open {
      color: var(--primary-color);
    }
    &.Confirmed {
      color: var(--warning-color);
    }
    &.In-Progress {
      color: var(--warning-color);
    }
    &.Wait-For-Response {
      color: var(--warning-color);
    }
    &.Closed {
      color: var(--gray-color);
    }
  }
}

.ticket-content {
  padding: 0 30px;
  .content {
    p {
      font-size: 16px;
      font-weight: bold;
      opacity: 0.9;
    }
  }
  .reason {
    p {
      font-size: 14px;
    }
  }
}

.orange_color {
  color: var(--warning-color);
}

.blue_color {
  color: var(--primary-color);
}

.feedback {
  padding: 0 30px;
  .title {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 700;
    opacity: 0.8;
    text-transform: uppercase;
  }
  .partner {
    background-color: rgba(189, 195, 199, 0.12);
    .user {
      color: var(--warning-color);
    }
  }
  .etop {
    background-color: rgba(189, 195, 199, 0.12);

    .user {
      color: var(--warning-color);
    }
  }
  .shop {
    background-color: rgba(204, 245, 252, 0.3);
    .user {
      color: var(--primary-color);
    }
  }
  .comment-feedback {
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 10px;
    color: var(--default-color);
    .user {
      span {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
      }
      .time-comment {
        float: right;
        font-size: 10px;
        opacity: 0.8;
        color: var(--default-color);
      }
    }
    .comment-content {
      p {
        margin-bottom: 0 !important;
        font-size: 12px;
      }
    }
  }
}

.form-feedback {
  .shop-name {
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 10px;
  }
  .form-group {
    width: 100%;
    position: relative;
    textarea {
      font-size: 12px;
      padding: 12px 120px 12px 30px;
      opacity: 0.8;
      box-shadow: none;
      border-radius: 0 !important;
      border-left: none;
      border-right: none;
    }
  }
  .sendFeedback {
    position: absolute;
    right: 0;
    border-left: 1px solid var(--border-gray-color);
    height: 100%;
    padding: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 110px;
    text-align: center;
    background-color: var(--warning-color);
    color: white;
  }
}

.comment-list {
  max-height: 250px;
  overflow: scroll;
}

.state-empty {
  text-align: center;
  background-color: var(--gray-color);
  padding: 10px;
  border-radius: 5px;
}

.modal-footer {
  border-top: none;
}
