<div class="row">
  <div class="col pt-3">
    <div class="box setting-box mt-0">
      <div class="setting-header">Địa chỉ lấy hàng</div>
      <div class="setting-body" *ngFor="let address of addressesFrom">
        <etelecom-from-address
          [address]="address" (addressRemoved)="onRemoveAddress($event)">
        </etelecom-from-address>
      </div>
      <div *ePermissions="['shop/settings/shipping_setting:update']" class="setting-footer">
        <div class="text-center text-primary cursor-pointer" (click)="openAddAddressForm('shipfrom')">
          Thêm địa chỉ lấy hàng
        </div>
      </div>
    </div>
    <div class="box setting-box">
      <div class="setting-header">Ghi chú xem hàng</div>
      <div class="setting-body">
        <mat-radio-group color="primary" [(ngModel)]="currentShop.try_on">
          <mat-radio-button
            *ngFor="let option of tryOnOptions" class="try-on-options"
            disableRipple [value]="option.code">
            {{option.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="setting-footer">
        <div class="ml-auto">
          <button
            *ePermissions="['shop/settings/shipping_setting:update']" (click)="updateTryOn()" class="btn btn-primary">
            Cập nhật
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col pt-3">
    <etelecom-carrier-connect></etelecom-carrier-connect>
  </div>
</div>
