<div *ngIf="to_create_ffm">
  <div class="card-body">
    <ul class="nav nav-tabs d-flex">
      <li class="flex-fill">
        <a
          class="text-topship font-weight-bold" [class.active]="shipping_type == 'shipment'"
          (click)="switchShippingType('shipment')">
          Nhanh
        </a>
      </li>
      <li class="flex-fill">
        <a
          class="text-topship font-weight-bold" [class.active]="shipping_type == 'shipnow'"
          (click)="switchShippingType('shipnow')">
          Tức thì
        </a>
      </li>
      <li class="flex-fill">
        <a
          class="text-topship font-weight-bold" [class.active]="shipping_type == 'self'"
          (click)="switchShippingType('self')">
          Tự giao
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" [class.active]="shipping_type == 'shipment'">
        <shop-shipment *ngIf="shipping_type == 'shipment'"></shop-shipment>
      </div>
      <div class="tab-pane" [class.active]="shipping_type == 'shipnow'">
        <shop-shipnow *ngIf="shipping_type == 'shipnow'"></shop-shipnow>
      </div>
      <div class="tab-pane" [class.active]="shipping_type == 'self'">
        <shop-delivery-self *ngIf="shipping_type == 'self'"></shop-delivery-self>
      </div>
    </div>
  </div>

</div>
