:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.product-detail-img {
  width: 23%;
  border-radius: 5px;
  position: relative;
}

.product-slide-item {
  thead {
    background-color: var(--light);
  }
  th {
    font-weight: 400;
    padding: 7px 15px;
    border-bottom: 1px solid var(--border-gray-color);
    border-top: 1px solid var(--border-gray-color);
  }
  td {
    padding: 10px 15px;
  }
  tr {
    border-bottom: 1px solid var(--border-gray-color);
  }
}

.empty {
  padding: 20px 0;
  text-align: center;
  background: var(--gray-color);
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;

  > * {
    margin-left: 10px;
  }
}

.variant-list-header {
  font-size: 0.9rem;
}

.logo-upload {
  width: 100%;
  padding-bottom: 100%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: relative;
  border: 1px solid var(--border-gray-color);
  .upload-loading,
  .over-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  &:hover .mask {
    display: block;
    animation: goup 0.6s ease-out;
  }
  &.loading {
    .upload-loading {
      display: flex;
    }
  }

  @keyframes goup {
    from {
      bottom: -15%;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
}

.add-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none !important;
}

.add-variant-btn {
    cursor: pointer;
}

