<div class="modal-header">
  <div class="modal-title">Thêm admin</div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body" [formGroup]="adminUserForm">
  <div class="py-2">
    <etop-material-input
      *ngIf="!admin?.user_id"
      textLabel="Email (*)" placeholder="Nhập email" type="input"
      formControlName="email">
    </etop-material-input>
    <etop-material-input
      *ngIf="admin?.user_id" [disabled]="true"
      textLabel="Email (*)" placeholder="Nhập email" type="custom">
      <span class="read-only">{{adminUserForm.controls['email'].value}}</span>
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-chips-autocomplete
      textLabel="Vai trò (*)" placeholder="Chọn vai trò"
      [options]="rolesList" [displayMap]="displayMap"
      formControlName="roles">
    </etop-material-chips-autocomplete>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button
    class="btn btn-primary text-white" (click)="confirm()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>
