<div class="page-content h-100 pb-0 d-flex">
  <div class="menu-sidebar">
    <ul class="menu-list">
      <li
        *ngFor="let menu of menus" [class.active]="menu.active"
        (click)="menu.onClick()">
        {{menu.title}}
      </li>
    </ul>
  </div>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
