@media print {
  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
  @page {
    size: auto; /* auto is the initial value */
    margin: 0mm;
  }

  .print-box {
    font-size: .5em;
    color: #000;
  }
}

.print-box {
  font-family: Arial, sans-serif;
  font-size: 11px;
  width: 98%;
  height: 100vh;
  margin: auto;
  padding: 15px 0;
}

.shop-avt-container {
  width: 80px;
  height: 80px;
}
@media (max-width: 560px) {
  .shop-avt-container {
    display: none;
  }
}

table {
  page-break-inside: avoid;
  page-break-after: avoid;
  border-collapse: collapse;
}

table td {
  word-wrap: break-word;
  word-break: break-word;
}

tr {
  page-break-inside: avoid;
}

.shop-avt {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

strong.title {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid;
  border-bottom-style: dashed;
  padding-bottom: 5px;
  font-size: 8px;
}

.sort-code {
  border-bottom: 1px solid #444444;
  border-top: 1px solid #444444;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

td > div {
  font-size: 12px;
  text-align: center;
}

.cod {
  font-size: 1rem;
  padding: 10px;
}

.carrier-logo {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.order-summarize {
  border-width: 0;
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
  td {
    font-size: 11px;
    font-weight: bold;
    padding: 3px;
    text-align: right;
  }
}

.shipping-barcode {
  max-height: 100px;
  max-width: 100%;
}
