<div class="col align-self-center" style="max-width: 100px;">
  #{{index + 1 + (offset$ | async)}}
</div>
<div class="col align-self-center">
  <span class="text-primary font-weight-bold">
    {{promotion?.name}}
  </span>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{promotion?.created_at | date: 'HH:mm dd/MM/yyyy'}}
</div>
<div class="col align-self-center">
  <div class="d-flex align-items-center">
    <span class="carrier-image">
      <img src="{{promotion?.connection?.provider_logo}}" alt="">
    </span>
    <span class="pl-2">{{promotion?.connection?.name | uppercase}}</span>
  </div>
</div>
<div class="col align-self-center">
  <span class="text-bold text-primary">{{promotion?.shipment_price_list?.name}}</span>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <span class="small-font">{{promotion?.description}}</span>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <span class="order-status order-{{promotionStatus}}">
    {{promotion?.status_display}}
  </span>
</div>

