.list-item {
  opacity: 0.8;
}

.item {
  font-size: 1rem;
  padding: 1rem 16px;
  border-bottom: 0.045em solid rgba(0, 0, 0, 0.12);

  .item-icon {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 1rem;
  }

  ion-text {
    vertical-align: middle;
  }
}

.box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.logout {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  padding: 8px 16px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.btn-change-pw-outline {
  border-color: #3171e0;
  color: #3171e0;
  background: transparent;
  border: 1px solid !important;
  padding: 13px 20px;
  border-radius: 5px;
}
