<ion-header>
  <ion-toolbar>
    <ion-title>Thông tin tài khoản</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content class="ion-flex">
  <div class="box">
    <div class="list-item box">
      <div class="item ion-flex">
        <ion-text>Họ tên</ion-text>
        <ion-text class="ml-auto ion-align-self-center font-bold">{{user?.full_name}}</ion-text>
      </div>
      <div class="item ion-flex">
        <ion-text>Số điện thoại</ion-text>
        <ion-text class="ml-auto ion-align-self-center font-bold">{{user?.phone}}</ion-text>
      </div>
      <div class="item ion-flex">
        <ion-text>Email</ion-text>
        <ion-text class="ml-auto ion-align-self-center font-bold">{{user?.email}}</ion-text>
      </div>
    </div>
  </div>
  <div class="ion-padding">
    <button class="btn btn-change-pw-outline w-100" (click)="changePassword()">Đổi mật khẩu</button>
  </div>
  
</ion-content>
<ion-footer class="ion-text-center">
  <ion-toolbar class="no-padding">
    <ion-text color="danger" (click)="logout()">Đăng xuất</ion-text>
  </ion-toolbar>
</ion-footer>