<ion-header>
  <ion-toolbar>
    <ion-title>Chỉnh sửa thuộc tính</ion-title>
    <ion-buttons slot="start" (click)="back()">
      <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="box-detail" *ngFor="let attribute of attributes.controls; let i = index" [formGroup]="attribute">
    <div class="header ion-flex ion-justify-content-between ion-margin-horizontal ion-padding-top">
      <ion-text class="font-bold">Thuộc tính {{ i + 1 }}</ion-text>
      <ion-icon class="ion-color-light" name="trash-outline" color="medium" style="font-size: 1.3rem"
        (click)="delAttribute(attribute.value)" *ngIf="attributes.controls.length > 1"></ion-icon>
    </div>
    <ion-grid class="ion-padding-horizontal">
      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Tên thuộc tính</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <div class="line-info">
            <ion-label>Giá trị thuộc tính</ion-label>
            <div class="content">
              {{attribute.value.values}}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper" (click)="updateAttributes()">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Xác nhận
      </button>
    </div>
  </ion-toolbar>
</ion-footer>