<div class="col align-self-center">
  <div class="text-bold">{{user?.full_name}}</div>
  <div class="small-font">Nguồn: {{user?.source_display}}</div>
</div>
<div class="col align-self-center">
  <div class="text-bold text-primary d-inline-flex align-items-center" eCallButton="{{user?.phone}}">
    {{user?.phone}}&nbsp;
    <i class="text-primary fa fa-phone-square upper-medium-font"></i>
  </div>
  <div class="small-font">
    {{user?.phone_verified_at ? 'Xác thực ngày: ' + (user?.phone_verified_at | date: 'dd/MM/yyyy') : 'Chưa xác thực'}}
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="text-bold" style="word-break: break-all;">{{user?.email}}</div>
  <div class="small-font">
    {{user?.email_verified_at ? 'Xác thực ngày: ' + (user?.email_verified_at | date: 'dd/MM/yyyy') : 'Chưa xác thực'}}
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{user?.created_at | date: 'dd/MM/yyyy'}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{user?.total_shop}}
</div>
  <div class="col align-self-center">
  <div class="order-status order-{{user?.is_blocked ? 'N' : 'P'}}">
    {{user?.is_blocked ? 'Bị chặn' : 'Đang hoạt động'}}
  </div>
  <div *ngIf="user?.block_reason && user?.is_blocked" class="text-danger small-font">
    {{user?.block_reason}}
  </div>
</div>
