<div class="ion-page">
  <ion-header>
    <div class="order-title">
      <ion-toolbar>
        <ion-title>
          <div class="title-code">
            Đơn #{{fulfillment?.shipping_code}}
          </div>
        </ion-title>
        <ion-buttons slot="start" class="header-back-icon">
          <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end" *ePermissions="['shop/fulfillment:cancel']" [hidden]="isCancelledFfm" class="w-auto">
          <div class="btn btn-topship action-btn" (click)="presentActionSheet()">
            <ion-icon class="ion-color-light" color="white" size="small"  name="menu-outline"></ion-icon>
            <div class="action-text">
              Thao tác
            </div>
          </div>
        </ion-buttons>
      </ion-toolbar>
    </div>
    <ion-segment mode="md" color="primary" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment">
        <ion-segment-button value="info" class="w-50">
          <ion-label>Thông tin</ion-label>
        </ion-segment-button>
        <ion-segment-button value="support_request" class="w-50">
          <ion-label>Yêu cầu hỗ trợ</ion-label>
        </ion-segment-button>
    </ion-segment>
  </ion-header>
  <ion-content>
    <etop-network-status></etop-network-status>
    <topship-order-info *ngIf="segment=='info'" [fulfillment]="fulfillment"></topship-order-info>
    <topship-ticket-list *ngIf="segment=='support_request'" [fulfillment]="fulfillment"></topship-ticket-list>
  </ion-content>
  <ion-footer class="footer-button-wrapper ion-no-border" *ngIf="segment=='support_request' && fulfillment.from_topship && !isCancelledFfm" >
    <ion-toolbar *ePermissions="['shop/shop_ticket:create']" (click)="action()">
      <div class="footer-buttons ion-flex">
        <button type="submit" class="w-100 bg-topship text-white font-bold button-radius" >
          <span>Tạo yêu cầu hỗ trợ</span>
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</div>
