ion-title{
  color: #4a4a4a !important;
}

.more-icon {
  border-radius: 50%;
  border: 1px solid #d9d9d9;
}

.detail-section {
  background: #ffffff;
  margin-bottom: .85rem;
  padding: .85rem 1.3rem;
  box-shadow: 0 7px 0 0 rgba(0,0,0,0.04);
  &:last-child {
    box-shadow: none;
    margin-bottom: 0;
  }
}


.left-align-buttons .action-sheet-button-inner.sc-ion-action-sheet-ios {
  justify-content: flex-start;
}

.shipping-info {
  background: #ffffff;
  margin-bottom: .85rem;
  padding: 0 0 .85rem;
  box-shadow: 0 7px 0 0 rgba(0,0,0,0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:last-child {
    box-shadow: none;
    margin-bottom: 0;
  }
}

.order-title{
  padding: .3rem 0 .1rem;
  background: var(--ion-color-white);
  border-bottom: 1px solid var(--border-gray-color);
  .title-code {
    padding-right: 1.4rem;
    font-size: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.phone-action {
  border-radius: 50%;
  background: var(--ion-color-topship);
  color: white;
  padding: 0.4rem;
}

.customer_info {
  background: #ffffff;
  margin-bottom: .85rem;
  padding: .85rem 0;
  box-shadow: 0 7px 0 0 rgba(0,0,0,0.04);
  &:last-child {
    box-shadow: none;
    margin-bottom: 0;
  }
}
.border-vertical {
  border-bottom: 1px solid var(--ion-color-light);
  border-top: 1px solid var(--ion-color-light);
}
.connection-main-info {
  flex: 1;
  display: flex;
  align-items: center;
  color: #888;
}

#shipping-barcode {
  width: 50%;
}

.carrier-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  object-position: center;
  border: 1px solid #eee;
  border-radius: 100%;
  //filter: grayscale(1);
}

.carrier-info {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  padding-right: 1rem;
}

.product-line {
  padding: 0.7rem 0;
  border-bottom: 1px solid #eee;
}

.carrier-name {
  text-transform: capitalize;
  font-size: 13px;
}

.action-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: .3rem .6rem;
  color: var(--ion-color-white);
  border-radius: 50rem;
  .action-text {
    font-size: 0.95rem;
  }
}

ion-content {
  --background: #f4f4f4;
}

.w-auto {
  width: auto;
}

.item-img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--ion-color-light);
}

ion-label {
  color: #888 !important;
  font-size: 0.9rem;
}

.section {
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

.header {
  padding-bottom: 0.5rem;
}

.ffm-status {
  margin-right: 0.25rem;
  font-size: 0.8rem;
  margin-top: 0.15rem;

  &.S {
    color: var(--topship-color)
  }

  &.P {
    color: var(--ion-color-success)
  }

  &.N {
    color: var(--ion-color-danger)
  }

  &.Z {
    color: var(--ion-color-medium);
  }

  &.NS {
    color: var(--ion-color-tertiary);
  }
}

.provider-logo {
  width: 24px;
  height: 24px;
  object-fit: contain;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-right: .5rem;
}

.ion-tab-bar {
  display: none;
}

.footer-button-item {
  padding: 1rem;
  border-radius: 1rem;
}


.footer-button-wrapper {
  border-top: 2px solid rgba(0, 0, 0, 0.04);
  padding: .55em;
}

