<div class="wrapper-login" *ngIf="!loadingView; else hasLoading">
  <div class="login-body">
    <div class="l-side d-none d-sm-flex flex-column">
      <div class="d-flex m-4">
        <img class="logo" src="assets/images/logo_topship.png" alt="topship-logo">
        <div class="brand-text">EB2B JSC</div>
      </div>
      <div class="d-flex flex-column justify-content-center m-auto">
        <div>
          <h3 class="title font-weight-bold mb-4">
            Chào mừng đến TOPSHIP!
          </h3>
          <h3 class="subtitle text-dark">
            Nền tảng phân phối dịch vụ vận chuyển tối ưu chi phí
          </h3>
        </div>
        <div class="d-flex justify-content-center">
          <img class="feature-img" src="assets/images/topship_register_main_img.png" alt="">
        </div>
        <div class="list-products d-flex flex-row justify-content-between m-3">
          <div class="d-flex align-items-center m-2">
            <img src="assets/images/logo_vtp.png" class="logo-brand rounded-circle" alt="">
          </div>
          <div class="d-flex align-items-center m-2">
            <img src="assets/images/logo_ghn.png" class="logo-brand rounded-circle" alt="">
          </div>
          <div class="d-flex align-items-center m-2">
            <img src="assets/images/logo_ghtk.png" class="logo-brand rounded-circle" alt="">
          </div>
          <div class="d-flex align-items-center m-2">
            <img src="assets/images/logo_ahamove.png" class="logo-brand rounded-circle" alt="">
          </div>
          <div class="d-flex align-items-center m-2">
            <img src="assets/images/logo_jnt.png" class="logo-brand rounded-circle" alt="">
          </div>
          <div class="d-flex align-items-center m-2">
            <img src="assets/images/logo_ninjavan.png" class="logo-brand rounded-circle" alt="">
          </div>
          <div class="d-flex align-items-center m-2">
            <img src="assets/images/logo_dhl.png" class="logo-brand rounded-circle" alt="">
          </div>
          <div class="d-flex align-items-center m-2">
            <img src="assets/images/logo_snappy.png" class="logo-brand rounded-circle" alt="">
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="currentView(view.CREATE_SHOP)">
      <div class="r-side">
        <div class="d-flex d-sm-none m-4">
          <img class="logo" src="assets/images/logo_etop_mono_white.png" alt="etop-logo">
          <div class="brand-text text-gray"> EB2B JSC</div>
        </div>
        <div class="d-flex flex-column h-100">
          <div class="register-form px-5">
            <div class="title">
              <strong class="text-larger text-gray">Xin chào, {{userName}} </strong>
            </div>
            <div class="info">
              <p class="text-big text-gray">
                Vui lòng tạo cửa hàng để bắt đầu sử dụng.
              </p>
            </div>
            <form (submit)="createShop()">
              <div class="form-group">
                <input
                  type="text" class="form-control rounded-pill" autofocus placeholder="Nhập tên cửa hàng" name="fullname"
                  [(ngModel)]="shop_name">
              </div>
              <div class="form-group text-white">
                <button class="btn btn-register rounded-pill" type="submit" [disabled]="loading">
                  <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading"></i>
                  Tiếp tục
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="currentView(view.LOGIN)">
      <div class="r-side">
        <div class="d-flex d-sm-none m-4">
          <img class="logo" src="assets/images/logo_etop_mono_white.png" alt="etop-logo">
          <div class="brand-text text-gray">EB2B JSC</div>
        </div>
        <div class="d-flex flex-column h-100">
          <div class="login-form px-5">
            <div class="title">
              <strong class="text-larger text-gray">Đăng nhập</strong>
            </div>
            <div class="info">
              <p class="text-big text-gray">
                Bạn có thể dùng email hoặc số điện thoại để đăng nhập.
              </p>
            </div>
            <div>
              <div class="form-group">
                <input
                  (keyup.enter)="onEnterLoginInput()"
                  type="text" class="form-control rounded-pill" autofocus placeholder="Nhập số điện thoại hoặc email"
                  [(ngModel)]="login" [readonly]="!!invitation_token" [class.cursor-not-allowed]="!!invitation_token" >
              </div>
              <div class="form-group position-relative">
                <div *ngIf="password"
                  class="position-absolute changephone-text" (mousedown)="showPassword()" (mouseup)="hidePassword()">
                  Hiển thị
                </div>
                <input
                  #passwordInput (keyup.enter) ="onLogin()"
                  type="password" class="form-control rounded-pill" placeholder="Nhập mật khẩu"
                  [(ngModel)]="password"/>
              </div>
              <button class="btn rounded-pill" type="button" (click)="onLogin()">
                <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading"></i>
                Đăng nhập
              </button>
              <div class="p-2 pt-3 text-white forgot d-inline-block" style="cursor: pointer" (click)="forgotPassword()">Quên mật khẩu?</div>
            </div>
          </div>
        </div>
      </div> 
    </ng-container>
  </div>
  <div class="login-footer flex-row-reverse flex-md-row d-flex">
    <div class="border-top d-none d-md-flex l-side">
      <div class="align-items-center d-flex justify-content-between px-5 w-100" style="color: var(--dark-color);">
        <div class="mr-3">
          <div class="text-bold">EB2B JSC - Công ty cổ phần EB2B</div>
          <div>Địa chỉ: Tầng 3 An Phú Plaza, 117-119 Lý Chính Thắng, P. 7, Q. 3, TP.HCM</div>
          <div>MSDN: <span class="text-bold">0315348182</span></div>
        </div>
        <div>
          <div>Hotline: <span class="text-bold">0901379197</span> </div>
          <div>8:30 - 17:30 (thứ 2 - thứ 6), 8:30 -12:00 (thứ 7), Không hỗ trợ chủ nhật</div>
          <div>Email: <strong>hotro@topship.vn</strong></div>
        </div>
      </div>
    </div>
    <div class="r-side">
      <div class="border-top px-4 text-white h-100 d-flex align-items-center justify-content-center">
        <span>Bạn chưa có tài khoản?</span>
        <button class="btn small-btn rounded-pill ml-3" (click)="registerHref()">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
<ng-template #hasLoading>
  <div class="wrapper-login loading-box">
    <div>
      <img src="assets/images/logo_medium.png" alt="" width="100px">
    </div>
    <img src="assets/images/loading.svg" alt="" width="80px" style="margin-top: -10px">
  </div>
</ng-template>
