<ion-header>
  <ion-toolbar>
    <ion-title>Chỉnh sửa đơn hàng {{order?.fulfillments[0].code}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="box-detail ion-padding ion-flex ion-align-items-center ion-justify-content-center">
    <ion-icon name="chatbox-outline" style="margin-right: 0.5rem"></ion-icon>
    <ion-text class="font-14">Thay đổi ghi chú</ion-text>
  </div>
  <div class="box-detail" [formGroup]="noteForm">
    <ion-list class="ion-margin">
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Ghi chú giao hàng</ion-label>
        <ion-textarea autoGrow="true" rows="1" spellcheck="false" inputmode="text" formControlName="shipping_note">
        </ion-textarea>
      </ion-item>
      
      <ion-item class="ion-no-padding" style="margin-top: 1rem">
        <ion-label position="floating">Ghi chú xem hàng</ion-label>
        <ion-select formControlName="try_on" placeholder="Ghi chú xem hàng"
          okText="Chọn" cancelText="Hủy">
          <ion-select-option value="{{tryOnOption.value}}" *ngFor="let tryOnOption of tryOnOptions">{{tryOnOption.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper" (click)="submit()">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Tiếp tục
      </button>
    </div>
  </ion-toolbar>
</ion-footer>