:host {
  font-size: 1rem;
  color: #444 !important;
}

ion-icon,
ion-label {
  font-size: 1rem !important;
}

.user {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.25rem;
}

.shop {
  font-size: 0.9rem;
  opacity: 0.7;
}


.trading {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

ion-list {
  margin-bottom: 0;
}