<ion-menu side="start" menuId="etopMenu" contentId="etopMenu" type="overlay">
  <ion-header>
    <ion-toolbar>
      <div class="ion-flex ion-align-items-center ion-padding-vertical ion-padding-end" style="padding-left: 0.5rem" (click)="gotoProfile()">
        <ion-avatar class="ion-margin-end">
          <img style="border: 1px solid #eee;" [src]="account?.image_url || 'assets/images/placeholder_2.png'">
        </ion-avatar>
        <div class="mr-auto">
          <div class="user text-dark-tint">{{user?.full_name}}</div>
          <div class="shop">{{account?.name}}</div>
        </div>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none" class="ion-padding-vertical">
      <ng-container *ngFor="let menu of menus" >
        <ng-container *ePermissions="menu?.permissions">
          <ion-item (click)="gotoLink(menu.link)">
            <ion-avatar class="ion-padding-end">
              <img src="assets/imgs/menu-icon/{{menu.icon}}">
            </ion-avatar>
            <ion-label class="{{menu.css ? menu.css : ''}}">{{menu.title}}</ion-label>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>
    <!-- <ion-list lines="none" class="trading">
      <ion-item *ngFor="let menu of menusTwo" (click)="gotoLink(menu.link)">
        <ion-avatar class="ion-padding-end">
          <img src="assets/imgs/menu-icon/{{menu.icon}}">
        </ion-avatar>
        <ion-label>{{menu.title}}</ion-label>
      </ion-item>
    </ion-list> -->
    <!-- <ion-list lines="none">
      <ion-item (click)="gotoLink('etop-trading')" class="trading">
        <ion-avatar class="ion-padding-end">
          <img src="assets/imgs/menu-icon/icon_package.png">
        </ion-avatar>
        <ion-label>Nguồn hàng - Dịch vụ</ion-label>
      </ion-item>
    </ion-list> -->
    <ion-list lines="none">
      <ion-item class="trading" (click)="openAppStore()">
        <img style="padding-right: 0.5rem;" src="assets/imgs/mobile_ads.png">
      </ion-item>
    </ion-list>
    <ion-list lines="none">
      <ion-item class="trading">
        <ion-label>Phiên bản: {{version}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
