<div class="modal-header">
  <div class="modal-title">{{popoverTitle}}</div>
  <button class="close" (click)="close()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="address-list" *ngIf="addresses?.length; else emptyAddresses;">
    <div
      *ngFor="let address of addresses"
      class="address-item" [class.selected]="isSelectedAddress(address)"
      (click)="selectAddress(address)">
      <mat-checkbox color="primary" [checked]="isSelectedAddress(address)"></mat-checkbox>
      <div class="address-info">
        <div class="name-and-phone">{{address?.full_name}} - {{address?.phone}}</div>
        <div class="address-display">{{address | addressDisplay}}</div>
      </div>
    </div>
  </div>
  <ng-template #emptyAddresses>
    <div class="empty-address">
      {{emptyTitle}}
    </div>
  </ng-template>
</div>
<div class="modal-footer">
  <div class="text-right">
    <button class="btn btn-outline btn-primary" (click)="newAddress()">+ Tạo địa chỉ mới</button>
  </div>
</div>
