.empty-address {
  padding: 1.25rem;
  text-align: center;
  background: #f5f5f5;
  color: #888;
}

.address-item {
  color: #666;
  display: flex;
  align-items: center;
  padding: .8rem 1.25rem;
  border-bottom: 1px solid var(--border-gray-color);
  cursor: pointer;
  &:last-child {
    border-bottom: none;
  }
  &.selected {
    color: var(--ion-color-primary);
  }
  .address-info {
    padding-left: .8rem;
    flex: 1;
    .name-and-phone {
      font-weight: 700;
    }
    .address-display {
      font-size: .9rem;
    }
  }
}


.modal-body {
  padding: 0;
}
