<div class="page-content pb-0">
  <div class="page-wrapper">
    <etop-table
      #creditTable
      [items]="creditsList$ | async"
      [show_paging]="(creditsList$ | async)?.length && showPaging"
      (requestNewPage)="loadPage($event)">
      <ng-template #header let-liteMode="liteMode">
        <div class="col min-width-25rem">
          <span class="table-header-text">Shop</span>
        </div>
        <div class="col">
          <span class="table-header-text">Loại</span>
        </div>
        <div class="col">
          <span class="table-header-text">Số điện thoại</span>
        </div>
        <div class="col">
          <span class="table-header-text">Số tiền</span>
        </div>
        <div class="col">
          <span class="table-header-text">Ngày giao dịch</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Ngày tạo</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <div class="col" style="max-width: 12rem;" *ngIf="!liteMode"></div>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <img class="blank-img" src="assets/images/icon_store.png" alt="empty list" />
          <div class="info">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-credit="item" let-liteMode="liteMode">
        <div
          class="row table-row" admin-credit-row
          [credit]="credit" [liteMode]="liteMode">
        </div>
      </ng-template>
    </etop-table>

    <etop-side-slider #creditSlider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng <i class="fa fa-times"></i>
          </button>
        </div>
      </ng-template>
      <admin-create-credit-form *ngIf="onNewCredit"></admin-create-credit-form>
    </etop-side-slider>
  </div>
</div>
