:host {
  &.topship {
    .label-cbx .checkbox {
      border-color: var(--topship-color);
    }

    .label-cbx input:checked+.checkbox {
      border-color: var(--topship-color);
    }

    .label-cbx .checkbox svg polyline {
      stroke: var(--topship-color);
    }
  }

  &.primary {
    .label-cbx .checkbox {
      border-color: var(--primary-color);
    }

    .label-cbx input:checked+.checkbox {
      border-color: var(--primary-color);
    }

    .label-cbx .checkbox svg polyline {
      stroke: var(--primary-color);
    }
  }
  &.secondary {
    .label-cbx .checkbox {
      border-color: var(--secondary-color);
    }
    .label-cbx input:checked+.checkbox {
      border-color: var(--secondary-color);
    }
    .label-cbx .checkbox svg polyline {
      stroke: var(--secondary-color);
    }
  }
}

.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
}

.label-cbx input:checked+.checkbox {
  border-color: var(--primary-color);
}

.label-cbx input:checked+.checkbox svg polyline {
  stroke-dashoffset: 0;
}

.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  width: 20px;
  height: 20px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
}

.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
  overflow: visible;
  width: 100%;
  height: 100%;
}

.label-cbx .checkbox svg path {
  fill: none;
  transition: all .6s ease;
}

.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all .3s ease;
}

.label-cbx>span {
  pointer-events: none;
  vertical-align: middle;
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}
