<div class="d-flex align-items-center order-line-wrapper" [class.active]="active_line == order_line.p_data.code">
  <div class="line-index text-center font-weight-bold">
    {{idx_order + 1}}.
  </div>
  <ng-container *ngIf="!order_line.p_data.editable; else toEdit;">
    <shop-order-line-uneditable [order_line]="order_line" (minus)="minus()" (add)="add()"
      (changeQuantity)="changeQuantity($event)">
    </shop-order-line-uneditable>
  </ng-container>
  <ng-template #toEdit>
    <shop-order-line-editable [order_line]="order_line" [variant_list]="variant_list"
      (variantSelected)="selectVariant($event)" (focusOrderLine)="onFocusOrderLine($event)"
      (updateOrderLine)="updateOrderLine()" (minus)="minus()" (add)="add()" (changeQuantity)="changeQuantity($event)">
    </shop-order-line-editable>
  </ng-template>
  <div class="font-weight-bold text-right line-payment">
    {{( (order_line.payment_price || 0) * order_line.quantity) | vnd }}đ
  </div>
  <div class="d-flex align-items-center line-delete" [class.invisible]="!removable" (click)="delete()"
    style="cursor: pointer;">
    <img src="assets/images/remove.png" alt="">
  </div>
</div>
