:host {
  height: 100%;
}

.main-header {
  thead {
    background: none;
  }
  td {
    border-top: 1px solid var(--border-gray-color);
  }
}

thead {
  background-color: var(--light);
}
th {
  padding: 0.6rem 1.25rem;
  border-bottom: 1px solid var(--border-gray-color);
  &.border-top {
    border-top: 1px solid var(--border-gray-color) !important;
  }
}
td {
  padding: 0.85rem 1.25rem;
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
}

.table-responsive {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  width: auto;
}

.empty {
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  padding: .5rem 1rem;
  background: #fafafa;
  text-align: center;
}
