<div class="slider-detail-section" [formGroup]="shipmentServiceForm">
  <div class="row">
    <div class="col-4 py-2">
      <etop-material-input
        type="input" placeholder="Nhập mã gói" textLabel="Mã gói"
        formControlName="ed_code">
      </etop-material-input>
    </div>
    <div class="col-4 py-2">
      <etop-material-input
        type="input" placeholder="Nhập tên gói" textLabel="Tên gói"
        formControlName="name">
      </etop-material-input>
    </div>
    <div class="col-4 py-2">
      <etop-material-input type="custom" textLabel="Ngày tạo">
        <span class="read-only">{{(activeShipmentService$ | async)?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="col-12 py-2">
      <etop-material-input
        type="input" placeholder="Nhập mô tả" textLabel="Mô tả"
        formControlName="description">
      </etop-material-input>
    </div>
    <div class="col-12 py-2 d-flex align-items-center">
      <mat-slide-toggle color="primary" formControlName="isTurnedOn" disableRipple>
        {{(activeShipmentService$ | async)?.status == 'P' ? 'Tắt' : 'Bật'}} gói dịch vụ
      </mat-slide-toggle>
    </div>
  </div>
</div>

<div class="slider-detail-section" [formGroup]="shipmentServiceForm">
  <h6 class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    KẾT NỐI
  </h6>

  <div class="row">
    <div class="col-3 py-2">
      <etop-material-input
        textLabel="Nhà vận chuyển" placeholder="Chọn nhà vận chuyển" type="select"
        [optionSelect]="connectionsList$ | async" matOptionHeight="4rem"
        [displayMap]="displayMap" [valueMap]="valueMap" formControlName="connection_id">
      </etop-material-input>
    </div>
    <div class="col-9 py-2">
      <etop-material-chips-autocomplete
        textLabel="Gói dịch vụ từ NVC" placeholder="Chọn gói dịch vụ từ NVC"
        [options]="(activeConnection$ | async)?.connection_services"
        formControlName="service_ids"
        [displayMap]="connectionServiceDisplayMap" [valueMap]="connectionServiceValueMap">
      </etop-material-chips-autocomplete>
    </div>
  </div>
  <div class="text-right py-2" *ePermissions="['admin/shipment_service:update']">
    <button class="btn btn-primary text-white" [disabled]="loading" (click)="updateShipmentService()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Cập nhật
    </button>
  </div>
</div>

<ng-container *ePermissions="['admin/shipment_price:view']">
  <ng-container *ngIf="initializing; else initialized;">
    <div class="slider-loading">
      <i class="text-primary fa fa-spin fa-circle-o-notch"></i>
    </div>
  </ng-container>
  <ng-template #initialized>
    <div class="slider-detail-section">
      <h6 class="slider-detail-info-title">
        <i class="fa fa-circle text-primary smaller-font mr-2"></i>
        DANH SÁCH CẤU HÌNH GIÁ
      </h6>
      <ng-container *ngIf="!shipmentPricesGrouped.length">
        <div class="empty">
          Chưa có cấu hình giá
        </div>
      </ng-container>
      <ng-container *ngIf="shipmentPricesGrouped.length">
        <div class="table-responsive">
          <table class="w-100 main-header">
            <thead>
            <tr>
              <td style="width: 4%">#</td>
              <td style="width: 32%">Tên</td>
              <td style="width: 8%" class="text-right">Khối lượng</td>
              <td style="width: 8%" class="text-right">Phí chính</td>
              <td style="width: 8%" class="text-center">Vượt cân</td>
              <td style="width: 8%" class="text-center">Bảo hiểm</td>
              <td style="width: 8%" class="text-center">Thu hộ</td>
              <td style="width: 8%" class="text-center">Giao lại</td>
              <td style="width: 8%" class="text-center">Trả hàng</td>
              <td style="width: 8%" class="text-center">Đổi thông tin</td>
            </tr>
            </thead>
          </table>
        </div>
        <div *ngFor="let item of shipmentPricesGrouped; let i = index;" class="table-responsive">
          <table class="w-100">
            <thead [ngClass]="{'bg-primary text-white': item?.onSettingShipmentPrices}">
              <tr>
                <th colspan="10">
                  {{item?.shipmentPriceList?.name}}
                  <ng-container
                    *ePermissions="['admin/shipment_price:create','admin/shipment_price:update','admin/shipment_price:delete']">
                    <span
                      *ngIf="!item?.onSettingShipmentPrices" (click)="settingShipmentPrices(item)"
                      class="ml-2 cursor-pointer text-primary small-font font-weight-normal">
                      <span *ngIf="item?.shipmentPrices?.length">Chỉnh sửa</span>
                      <span *ngIf="!item?.shipmentPrices?.length">Tạo cấu hình giá</span>
                    </span>
                  </ng-container>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="!item?.onSettingShipmentPrices">
            <tr
              *ngFor="let sp of item?.shipmentPrices; let i = index;"
              admin-shipment-price-row [sp]="sp" [index]="i">
            </tr>
            <tr *ngIf="!item?.shipmentPrices?.length">
              <td colspan="10">
                Chưa có cấu hình giá
              </td>
            </tr>
            </tbody>
          </table>
          <admin-shipment-price-actions
            *ngIf="item?.onSettingShipmentPrices"
            [action]="settingShipmentPricesAction"
            (changed)="sendTelegramMessage($event, item?.shipmentPriceList)"
            (toBack)="settingShipmentPrices(item, true)">
          </admin-shipment-price-actions>
        </div>
      </ng-container>
    </div>
  </ng-template>
</ng-container>
