<ion-header>
    <ion-toolbar>
        <ion-title class="text-medium">Chi tiết đơn hàng</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="showActionSheet">
            <ion-icon class="ion-color-light" name="ellipsis-horizontal" size="small" color="medium" (click)="presentActionSheet()">
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <ion-segment mode="md" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment" *ngIf="hasFulfillment()">
        <ion-segment-button mode="md" value="info">
            <ion-label>Thông tin</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="md" value="support">
            <ion-label>Yêu cầu hỗ trợ</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <ng-container *ngIf="loading">
        <div class="empty-state ion-text-center ion-flex ion-align-items-center h-100">
            <div class="ion-text-center w-100">
                <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
                <div class="ion-padding-top">Đang tải dữ liệu ...</div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="segment == 'info'">
            <etop-network-status></etop-network-status>
            <div class="details">
                <div class="etop-status etop-{{order?.status}}">{{statusMap(order?.status)}}</div>
                <div class="detail-section">
                    <div class="header font-bold">Thông tin</div>
                    <div class="ion-flex ion-justify-content-between">
                        <div>
                            <div class="text-medium small-font">Mã đơn</div>
                            <div class="content">{{order?.code}}</div>
                        </div>
                        <div>
                            <div class="text-medium small-font">Thời gian tạo</div>
                            <span class="content">{{order?.created_at | date: 'dd/MM/yy HH:mm'}}</span>
                        </div>
                    </div>
                </div>
                <div class="detail-section">
                    <div class="header font-bold ">Khách hàng</div>
                    <div class="ion-flex ion-justify-content-between">
                        <div>
                            <div class="text-medium small-font">Tên khách hàng</div>
                            <div class="content">{{order?.customer?.full_name}}</div>
                        </div>
                        <div>
                            <div class="text-medium small-font">Số điện thoại</div>
                            <span class="content">{{order?.customer?.phone || '-'}}</span>
                        </div>
                    </div>
                </div>
                <div class="detail-section">
                    <div class="header font-bold ion-flex ion-justify-content-between" (click)="toggleList()">
                        <span>Sản phẩm ({{order?.total_items}})</span>
                        <span>
              <ion-icon class="ion-padding-start icon-header" name="chevron-{{!showList ? 'up' : 'down'}}-outline"></ion-icon>
            </span>
                    </div>
                    <div *ngIf="showList" class="m-b-5">
                        <div class="item ion-flex ion-align-items-center ion-justify-content-between p-y-5" *ngFor="let line of order?.lines">
                            <div class="ion-flex ion-align-items-center m-r-5">
                                <div class="font-14" style="min-width: fit-content;margin-right: 1rem">{{line?.quantity}} x</div>
                                <div>
                                    <div class="fix-line-1">{{line?.product_name}}</div>
                                    <div class="small-font text-medium">
                                        <ion-text *ngIf="line?.code">{{line?.code}} - </ion-text>
                                        <ion-text>{{line?.retail_price | vnd}}đ</ion-text>
                                    </div>
                                </div>
                            </div>
                            <div class="ion-color-medium ">{{line?.retail_price * line?.quantity | vnd}}đ</div>
                        </div>
                        <div class="ion-flex ion-justify-content-between p-y-2">
                            <div class="text-medium font-12">Tạm tính</div>
                            <div>{{order?.basket_value || 0 | vnd}}đ</div>
                        </div>
                        <div class="ion-flex ion-justify-content-between p-y-2">
                            <div class="text-medium font-12">Giảm giá</div>
                            <span class="text-danger" *ngIf="order?.total_discount > 0">-{{order?.total_discount | vnd}}đ</span>
                            <span *ngIf="order?.total_discount == 0">0đ</span>
                        </div>
                        <div class="ion-flex ion-justify-content-between p-y-2">
                            <div class="text-medium font-12">Phụ phí</div>
                            <div>{{order?.total_fee || 0 | vnd}}đ</div>
                        </div>
                        <div class="ion-flex ion-justify-content-between p-y-2">
                            <div class="text-medium font-12">Tổng cộng</div>
                            <span class="font-bold content">{{order?.total_amount || 0 | vnd}}đ</span>
                        </div>
                    </div>
                </div>
                <div class="detail-section">
                    <div class="header font-bold ion-flex ion-justify-content-between p-y-5" (click)="togglePayment()">
                        <span>Giao hàng</span>
                        <span>
              <ion-icon class="ion-padding-start icon-header" name="chevron-{{!paymentDisplay ? 'up' : 'down'}}-outline"></ion-icon>
            </span>
                    </div>
                    <div *ngIf="paymentDisplay">
                        <ng-container *ngIf="!!fulfillment?.shipping_code; else empty">
                            <ion-grid class="ion-no-padding section">
                                <ion-row class="ion-padding-bottom">
                                    <ion-col>
                                        <ion-label>Mã giao hàng</ion-label>
                                        <div class="font-bold content">{{fulfillment?.shipping_code || '-'}}</div>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label>Trạng thái</ion-label>
                                        <div class="font-bold content">
                                            <ion-icon name="ellipse" class="ffm-status {{fulfillment?.shipping_status}}"></ion-icon>
                                            <ion-text>{{fulfillment?.shipping_state_display}}</ion-text>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-padding-bottom">
                                    <ion-col>
                                        <ion-label>Nhà vận chuyển</ion-label>
                                        <div class="ion-flex ion-align-items-center">
                                            <img [src]="fulfillment.shipping_provider_logo" alt="" class="provider-logo">
                                            <ion-text class="content">{{fulfillment?.carrier_display | uppercase}}</ion-text>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label>Gói vận chuyển</ion-label>
                                        <div class="content" style="padding-top: 0.3rem">{{fulfillment?.shipping_service_name || '-'}}</div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-padding-bottom">
                                    <ion-col>
                                        <ion-label>Khối lượng</ion-label>
                                        <div class="content">{{fulfillment.chargeable_weight}}g</div>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label>Thu hộ</ion-label>
                                        <div><strong class="content">{{fulfillment?.total_cod_amount | vnd}}đ</strong></div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-padding-bottom">
                                    <ion-col>
                                        <ion-label>Bảo hiểm</ion-label>
                                        <div class="content">{{fulfillment?.include_insurance ? 'Có ' : 'Không có '}} bảo hiểm</div>
                                    </ion-col>
                                    <ion-col *ngIf="trackingLink() && order.activeFulfillment.shipping_code">
                                        <ion-label>Lịch sử đơn hàng</ion-label>
                                        <div class="content">
                                            <a [href]="trackingLink()" class="text-topship" target="_blank" rel="noopener noreferrer">Xem chi tiết</a>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                            <ion-grid class="ion-no-padding section">
                                <ion-row class="ion-padding-bottom">
                                    <ion-col>
                                        <ion-label>Thời gian tạo</ion-label>
                                        <div class="content">{{fulfillment?.created_at | date: 'dd/MM/yy HH:mm' }}</div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-padding-bottom">
                                    <ion-col>
                                        <ion-label>Dự kiến lấy</ion-label>
                                        <div class="content">{{fulfillment?.estimated_pickup_at ? (fulfillment?.estimated_pickup_at | date: 'dd/MM/yy HH:mm') : '-'}}</div>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label>Dự kiến giao</ion-label>
                                        <div class="content">{{fulfillment?.estimated_delivery_at ? (fulfillment?.estimated_delivery_at | date: 'dd/MM/yy HH:mm') : '-'}}</div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-padding-bottom">
                                    <ion-col>
                                        <ion-label>Ghi chú xem hàng</ion-label>
                                        <div class="content">{{fulfillment?.try_on_display || '-'}}</div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-padding-bottom">
                                    <ion-col>
                                        <ion-label>Ghi chú giao hàng</ion-label>
                                        <div class="content">{{fulfillment?.shipping_note || '-'}}</div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                            <ion-grid class="ion-no-padding">
                                <ion-row class="ion-padding-bottom">
                                    <ion-col>
                                        <ion-label>Lấy hàng</ion-label>
                                        <div class="content">
                                            {{fulfillment?.pickup_address?.full_name}} - {{fulfillment?.pickup_address?.phone}}
                                        </div>
                                        <div style="opacity: 0.8">
                                            {{fulfillment?.pickup_address?.address1}} {{fulfillment?.pickup_address?.ward ? '- ' + (fulfillment?.pickup_address?.ward | locationCompact) : ''}} - {{fulfillment?.pickup_address?.district | locationCompact}} - {{fulfillment?.pickup_address?.province
                                            | locationCompact}}
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-padding-bottom">
                                    <ion-col>
                                        <ion-label>Giao hàng</ion-label>
                                        <div class="content">
                                            {{fulfillment?.shipping_address?.full_name}} - {{fulfillment?.shipping_address?.phone}}
                                        </div>
                                        <div style="opacity: 0.8">
                                            {{fulfillment?.shipping_address?.address1}} {{fulfillment?.shipping_address?.ward ? '- ' + (fulfillment?.shipping_address?.ward | locationCompact) : ''}} - {{fulfillment?.shipping_address?.district | locationCompact}} - {{fulfillment?.shipping_address?.province
                                            | locationCompact}}
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ng-container>
                        <ng-template #empty>
                            <div>Chưa có đơn giao hàng</div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="segment == 'support'">
            <ng-container *ngIf="!fulfillment?.from_topship; else fromTopship;">
                <div class="info-wrapper">
                    <div class="info-row">
                        <div [innerHTML]="ticketNote | safeHtml"></div>
                    </div>
                </div>
            </ng-container>
            <ng-template #fromTopship>
                <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="reloadTicket($event)">
                    <ion-refresher-content refreshingSpinner="circles">
                    </ion-refresher-content>
                </ion-refresher>
                <div class="info-wrapper">
                    <div *ngIf="tickets && tickets?.length" class="ticket-list">
                        <ng-container *ngFor="let ticket of tickets">
                            <etop-ticket [ticket]="ticket" (onTicketTouched)="ticketDetail($event)"></etop-ticket>
                        </ng-container>
                    </div>
                    <div *ngIf="!tickets || !tickets?.length" class="info-row">
                        <div class="w-100 ion-text-center text-medium">
                            Chưa có yêu cầu hỗ trợ
                        </div>
                    </div>
                    <div class="info-row" *ngIf="canForcePicking(fulfillment) || canForceDelivering(fulfillment)">
                        <div class="button-wrapper ion-text-center w-100">
                            <button class="btn btn-topship btn-outline w-100" (click)="openRequestTicketModal()">
                        Gửi yêu cầu hỗ trợ</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </ng-container>
</ion-content>
<ion-footer class="footer-button-wrapper" *ngIf="!loading && !isCancelledOrder() && !hasActiveFulfillment()">
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <button *ngIf="order?.confirm_status == 'P'" class="w-100 bg-primary text-white footer-button-item" (click)="orderShipping()">
        Tạo đơn giao hàng
      </button>
            <button *ngIf="order?.confirm_status != 'P'" class="w-100 bg-primary text-white footer-button-item" (click)="confirmOrder()">
        Xác nhận đơn hàng
      </button>
        </div>
    </ion-toolbar>
</ion-footer>