.more-icon {
    border-radius: 50%;
    border: 1px solid #d9d9d9;
}

.detail-section {
    background: #ffffff;
    margin-bottom: 0.85rem;
    padding: 0.85rem 1.3rem;
    box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.04);
    &:last-child {
        box-shadow: none;
        margin-bottom: 0;
    }
}

.item-img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--ion-color-light);
}

ion-label {
    color: #888 !important;
    font-size: 0.9rem;
}

.section {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}

.header {
    padding-bottom: 0.5rem;
}

.ffm-status {
    margin-right: 0.25rem;
    font-size: 0.8rem;
    margin-top: 0.15rem;
    &.S {
        color: var(--topship-color);
    }
    &.P {
        color: var(--ion-color-success);
    }
    &.N {
        color: var(--ion-color-danger);
    }
    &.Z {
        color: var(--ion-color-medium);
    }
    &.NS {
        color: var(--ion-color-tertiary);
    }
}

.provider-logo {
    width: 24px;
    height: 24px;
    object-fit: contain;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.ion-tab-bar {
    display: none;
}

.info-row {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-wrapper {
    border-radius: 5px;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07);
}

.btn-topship.btn-outline:disabled {
    border-color: #eee !important;
    color: var(--default-color);
}

ion-segment {
    z-index: 100;
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    ion-label {
        text-transform: none;
        color: var(--topship-color);
    }
    ion-segment-button {
        &.segment-button-checked {
            --color-checked: var(--topship-color);
        }
    }
}

.content {
    font: 1.2rem Arial !important;
    --ion-text-color: #000;
    color: #000;
}