.page-content {
    background: #f5f5f5;
    height: 100%;
}

.box-detail {
    background: #fff;
    border-top: 8px solid #f5f5f5;
    padding-bottom: 1rem;
}

.tooltip {
    position: relative;
    .icon-tooltip {
        position: absolute;
        right: 0;
        bottom: 10px;
        font-size: 1.3rem;
        color: var(--ion-color-warning-shade);
    }
}

.button-icon {
    min-width: fit-content;
    width: 3.4rem;
    background: var(--ion-color-primary);
    color: white;
    border-radius: 20px;
    padding: 0 1rem 0 0.75rem;
    min-height: 2.2rem;
    margin-right: 0.25rem;
    ion-icon {
        font-size: 1.2rem;
    }
    ion-text {
        font-size: 0.9rem;
    }
}