<div class="col align-self-center" style="min-width: 20rem;">
  <div>
    <span class="text-bold text-primary">{{ticket?.code}}</span>
    <span class="lower-medium-font"> - {{ticket?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
  </div>
  <div class="lower-medium-font d-flex align-items-center">
    <span>{{ticket?.title}}</span>
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="min-width: 25rem;">
  <div class="d-flex align-items-center">
      <div class="font-weight-bold">{{ticket?.from?.name || '-'}}</div>
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{ticket?.contact?.phone || '-'}}
</div>
<div class="col align-self-center fix-line-3" style="white-space: pre-line;">
  {{ticket?.description || '-'}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <span class="status status-{{ticket?.state}}">
    {{ticket?.state_display}}
  </span>
</div>
