shared-select-multiline::ng-deep {
  display: block !important;
  margin-top: 5px !important;
  .display-value {
    border: 1px solid var(--border-gray-color) !important;
    position: relative !important;
    .search-input {
      height: 20px !important;
    }
  }
  .selected {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
  }
  .no-display-input {
    height: 20px !important;
    min-height: unset !important;
  }
}

.remove-icon {
  font-size: 16px;
}
