<div class="row">
  <div class="col-8">
    <shared-select-multiline
      [options]="ledgers" [error]="receipt?.duplicated_ledger"
      placeholder="Tìm tài khoản thanh toán"
      [(ngModel)]="ledgerIndex"
      (ngModelChange)="onSelectLedger()"
      (focus)="focusLedger()"
      textLabel="Phương thức" [showAddition]="showAddLedger" [showPlaceholderFirst]="true">
      <div class="text-center text-primary" (click)="addLedger()">
        Thêm tài khoản thanh toán mới
      </div>
    </shared-select-multiline>
  </div>
  <div class="col-3">
    <etop-material-input
      *ngIf="!format_money" #moneyInput [error]="receipt?.error"
      placeholder="Số tiền" textLabel="Số tiền" type="input" keyboardType="number"
      [(ngModel)]="receipt.amount" (blur)="formatMoney(); changeReceiptAmount();">
    </etop-material-input>
    <etop-material-input
      *ngIf="format_money" textLabel="Số tiền" type="custom" [error]="receipt?.error" (click)="formatMoney()">
      <span class="font-weight-bold" [class.text-primary]="!receipt?.error" [class.text-danger]="receipt?.error">
        {{receipt?.amount | vnd}}đ
      </span>
    </etop-material-input>
  </div>
  <div class="col-1">
    <div class="h-100 d-flex align-items-center justify-content-center cursor-pointer text-default"
         *ngIf="removable" (click)="removeReceiptLine()">
      <i class="remove-icon far fa-times-circle"></i>
    </div>
  </div>
</div>
