<ion-header>
  <ion-toolbar>
    <ion-title>Chi tiết</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="dismiss()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content fullscreen>
  <ion-list class="ion-padding-end ion-padding-bottom">
    <ion-item>
      <ion-label position="floating">Họ tên</ion-label>
      <ion-input type="text" [(ngModel)]="full_name"></ion-input>
    </ion-item>
    <ion-item *ngIf="staff.phone">
      <ion-label position="floating">Số điện thoại</ion-label>
      <ion-input type="text" [(ngModel)]="staff.phone" disabled="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="staff.email">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="staff.email" disabled="true"></ion-input>
    </ion-item>
  </ion-list>

  <div class="box-detail">
    <div class="ion-padding">
      <span class="font-bold">Vai trò</span>
      <ion-list>
        <ion-item *ngFor="let role of roleList">
          <ion-label>{{role.name}}</ion-label>
          <ion-checkbox class="ion-no-margin" mode="md" slot="end" [(ngModel)]="role.checked" [disabled]="role.disabled">
          </ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper" *ePermissions="['relationship/permission:update']">
  <ion-toolbar color="light" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="updateStaff()">
        Cập nhật
      </button>
    </div>
  </ion-toolbar>
</ion-footer>