<div class="page-content pb-0">
  <div class="page-wrapper">
    <etop-table
      #ffmTable
      [items]="fulfillments$ | async"
      [show_paging]="false">
      <ng-template #header let-liteMode="liteMode">
        <div class="col" style="min-width: 17.5%;">
          <span class="table-header-text">Mã giao hàng</span>
        </div>
        <div class="col">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <ng-container *ngIf="!liteMode">
          <div class="col">
            <span class="table-header-text">Người nhận</span>
          </div>
          <div class="col">
            <span class="table-header-text">Khu vực</span>
          </div>
          <div class="col">
            <span class="table-header-text">Khai báo</span>
          </div>
          <div class="col">
            <span class="table-header-text">Thu hộ</span>
          </div>
          <div class="col">
            <span class="table-header-text">Tổng cước phí</span>
          </div>
          <div class="col">
            <span class="table-header-text">Ghi chú Admin</span>
          </div>
        </ng-container>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <div>
            <img
              class="blank-img"
              src="assets/images/icon_ffm.png"
              alt="empty list"
            />
          </div>
          <div class="info">
            <div class="text-bigger text-bold text-center m-2">
              Phiên này không có đơn giao hàng
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-ffm="item" let-liteMode="liteMode">
        <div
          class="row table-row" admin-mt-transfer-ffm-row
          [ffm]="ffm" [liteMode]="liteMode"
          [class.active]="ffm?.p_data?.selected">
        </div>
      </ng-template>
    </etop-table>
  </div>
</div>
