  <div class="search-form">
    <input type="text" placeholder="Tìm kiếm" [(ngModel)]="queryString" (keyup)="search()">
    <button class="btn" style="font-size: 1.25rem;">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="contact-list">
    <div *ngIf="loading" class="d-flex align-items-center justify-content-center p-2 font-12" style="color: #777;">
      <i class="fa fa-spin fa-circle-o-notch"></i>
      <span class="ml-2">Đang tải...</span>
    </div>
    <ng-container *ngIf="!loading">
      <admin-contact-list-item
        *ngFor="let contact of contactList"
        [contact]="contact"
        (click)="contactSelected(contact)"
        [ngClass]="{'active': selectedContact == contact}">
      </admin-contact-list-item>
      <div *ngIf="!contactList.length">
        <div  class="d-flex align-items-center justify-content-center p-2" style="color: #777;">
          Không tìm thấy
        </div>
        <div *ngIf="isPhoneNumber(queryString)" class="d-flex align-items-center justify-content-between p-2">
          <span>Gọi số <strong class="text-primary">{{queryString}}</strong></span>
          <a href="javascript:;" class="btn-call" (click)="call.next({phone: queryString})">Gọi</a>
        </div>
      </div>
    </ng-container>
  </div>
