.search-form {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  padding: 10px;
}
.search-form input {
  flex: 1;
  border: none;
}
.search-form input:focus {
  outline: none;
}
.contact-list {
  max-height: 85vh;
  width: 100%;
  overflow-x: hidden;
}
.btn-call {
  background-color: #fff;
  border: 1px solid #35baeb;
  padding: 5px 30px;
  text-decoration: none;
  color: #35baeb;
  border-radius: 15px;
  font-size: 12px;
}
