<div class="col align-self-center min-width-12rem">
    <div *ngIf="!invoice.id">-</div>
    <div *ngIf="invoice.id" class="font-weight-bold text-primary">{{invoice.id}}</div>
</div>
<div class="col align-self-center min-width-20rem">
    <div *ngIf="!shop?.id">-</div>
    <div *ngIf="shop?.id" class="d-flex align-items-center"  (click)="shopDetail()">
        <img class="avatar mr-2" src="{{shop?.image_url|| 'assets/images/placeholder_medium.png'}}">
        <div>
            <div class="d-flex">
                <span class="font-weight-bold">{{shop?.name}}</span>
                <mat-icon class="font-weight-bold ml-1">
                    launch
                </mat-icon>
            </div>
            <div class="">{{shop?.phone}}</div>
        </div>
    </div>
</div>
<div class="col align-self-center">
    <div *ngIf="!invoice.created_at">-</div>
    <div *ngIf="invoice.created_at">{{invoice.created_at | date:'dd/MM/yyyy'}}</div>
</div>
<div class="col d-flex align-items-center" style="min-width:25rem">
    <div *ngIf="!invoice.description && !invoice?.referral_info">-</div>
    <div *ngIf="invoice.description || invoice?.referral_info">
        <div class="text-bold">{{invoice.description}}</div>
        <div class="description-text" >
            {{invoice?.referral_info?.name}} - {{invoice?.referral_info?.price | vnd}}
            <span *ngIf="invoice?.referral_info?.price">đ</span>
        </div>
    </div>
</div>
<div class="col align-self-center ">
    <div *ngIf="!invoice.type">-</div>
    <div *ngIf="invoice.type" class="text-bold {{invoice.type == invoiceType.in? 'text-primary' :''}}">{{invoice.type_display | uppercase}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
    <div *ngIf="!invoice.referral_type">-</div>
    <div *ngIf="invoice.referral_type">{{invoice.referral_type_display}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
    <div *ngIf="!invoice.status">-</div>
    <div *ngIf="invoice.status" class="status status-{{invoice.status}}">{{invoice.status_display}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
    <div *ngIf="!invoice.total_amount" class="text-bold text-right">-</div>
    <div *ngIf="invoice.total_amount" class="text-bold text-right {{invoice.type == invoiceType.in? 'text-primary' :''}}">{{invoice.total_amount | vnd}}đ</div>
</div>
