<ion-header>
  <ion-toolbar>
    <ion-title>Tạo khách hàng</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="dismiss()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-content">
    <div class="group-list">
      <div class="group-title ion-text-center">
        Tạo khách hàng trước khi chốt đơn
      </div>
      <div class="ion-text-center ion-padding-bottom" *ngIf="activeFbUser">
        <img [imageLoader]="activeFbUser?.external_info?.image_url" src="assets/imgs/user_logo.jpg" alt="" class="avatar">
        <div class="ion-padding-horizontal customer-note">
          {{param}}
          <strong class="full-name">{{customer?.external_info?.name}}</strong>
        </div>
      </div>
      <ion-list class="ion-padding-end ion-padding-bottom">
        <ion-item>
          <ion-label position="floating">Tên</ion-label>
          <ion-input [(ngModel)]="customer.full_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Số điện thoại</ion-label>
          <ion-input inputmode="tel" [(ngModel)]="customer.phone"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper" (click)="create()">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Đồng ý
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
