<div class="total">
  <div class="total-section left-aligned">
    <div class="total-item w-100 d-flex align-items-center">
      <etop-material-nofilter-input-autocomplete
        class="input-filter mr-3"
        placeholder="Tên hoặc mã shop" textLabel="Tên hoặc mã shop"
        [appearance]="'standard'"
        [options]="shops" [displayMap]="shopDisplayMap" [valueMap]="shopValueMap"
        (searching)="onShopSearching($event)"
        [(ngModel)]="shopId" (ngModelChange)="onShopSelect()">
      </etop-material-nofilter-input-autocomplete>
      <div class="time-input-filter">
        <etop-material-select-date-range 
          (rangeSelect)="onChangeFilter($event)" 
          [hasAllRange]="true" 
          valueIndex="6">
        </etop-material-select-date-range>
      </div>
      <etop-filter class="w-100" [filters]="filters" (filterChanged)="filter($event)">
      </etop-filter>
    </div>
  </div>
</div>
<etop-table style="height: 100%;" #invoiceTable [items]="invoices$ | async" [scroll_id]="'invoiceTable'"
            [show_paging]="(invoices$ | async)?.length > 0 " (requestNewPage)="loadPage($event)" [loading]='loading$ | async'
            [externalCurrentPage]="(ui$ | async)?.currentPage">
  <ng-template #header let-liteMode="liteMode">
    <div class="col min-width-12rem">
      <span class="table-header-text">Mã</span>
    </div >
    <div class="col min-width-20rem">
      <span class="table-header-text">Shop</span>
    </div >
    <div class="col" >
      <span class="table-header-text">Ngày tạo</span>
    </div>
    <div class="col" style="min-width:25rem" >
      <span class="table-header-text" >Nội dung</span>
    </div>
    <div class="col" >
      <span class="table-header-text">Loại</span>
    </div>
    <div class="col" *ngIf="!liteMode">
      <span class="table-header-text">Loại tham chiếu</span>
    </div>
    <div class="col" *ngIf="!liteMode" >
      <span class="table-header-text">Trạng thái</span>
    </div>
    <div class="col  text-right">
        <span class="table-header-text">Số tiền</span>
      </div>
  </ng-template>
  <ng-template #item let-invoice="item" let-liteMode="liteMode">
    <div class="row table-row" admin-invoice-row
         [invoice]="invoice">
    </div>
  </ng-template>
  <ng-template #emptyItem>
    <etop-empty-page [description]="emptyDescription">
    </etop-empty-page>
  </ng-template>
</etop-table>
