.time-input-filter {
  color: #444444 !important;
  position: relative;
  border: none;
  outline: none;
  width: 20rem;
  z-index: 2;
  background: transparent;
  cursor: pointer;
  padding: 1px 0;
  margin-top: 0.9rem;
  border-bottom: 1px solid #e5e5e5;
  &:hover {
    padding: 1px 0 0 0;
    border-bottom: 2px solid var(--primary-color);
  }
}

.mat-form-field-flex {
  width: 100%;
}

.input-filter {
  width: 20rem;
}

etop-filter::ng-deep {
  width: 100%;

  .wrapper-filter {
    padding: 0 0 0 1.25rem !important;
    border: none !important;
    background: none !important;
  }

  .col-2 {
    max-width: 20rem;
  }
}
