.fullwidth-btn {
  width: 100%;
  border-radius: 0;
}

.form-header {
  font-size: 12px;
  height: 50px;
}

.wrapper-login {
  background: #33b7d5;
  display: flex;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

.login-box {
  width: 425px;
  margin: auto;
}

.login-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;

  img {
    width: 120px;
  }
}

.login-box-body {
  background: #fff;
  padding: 20px;
  color: #666;
  box-shadow: 0px 0px 24px -6px rgba(92, 88, 92, 0.65);
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.form-group {
  margin-bottom: 15px;
}

.fom-group input {
  padding-left: 5px;
  height: 100%;
}

.checkbox label {
  min-height: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.forgot-password {
  float: right;
  margin: 10px 0;
  font-weight: 250;
  display: block;
  cursor: pointer;
}

// fix ui & modal login page

.modal-footer-forgot {
  padding-left: 17px;
  margin-top: -1rem;
}

.modal-header h2 {
  padding-right: 100px;
}

.modal-footer-forgot input {
  margin-top: -1rem;
}

.modal-footer-signup {
  button {
    padding: 6px 24px;
  }
}

form {
  font-size: 12px;

  input {
    font-size: 11px;
  }
}

a.provision {
  color: #33b7d5;
}


@media (max-width: 767px) {
  .wrapper-login {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .login-box {
    width: 100%;
    margin: unset;
  }

  .login-box-body {
    height: 100%;
    position: relative;
    border: none;
    border-radius: 0;
  }

  .fullwidth-btn {
    height: 50px;
  }

  .form-body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }

  .form-footer {
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  #fb-root {
    display: none;
  }

  input {
    font-size: 16px !important;

    &[type="checkbox"] {
      height: 25px;
      top: -7px;
    }
  }
}

.btn-outline-publish {
  background-color: white;
  border: solid 1px #33b7d5 !important;
  color: #33b7d5 !important;
}