<div class="hold-transition wrapper-login">
  <div class="login-box">
    <shared-etop-product *ngIf="!isMobile"></shared-etop-product>
    <div class="login-box-body p-0">
      <form role="form" class="form-horizontal p-0" #form="ngForm" (submit)="signUp()">
        <div class="form-header border-bottom text-center d-flex align-items-center justify-content-center">
          <h5 *ngIf="!isMobile" class="font-weight-bold font-16">Đăng ký</h5>
          <span *ngIf="isMobile" class="d-flex align-items-center justify-content-center p-abs"
            style="left: 0px; width: 50px; height: 50px;" [routerLink]="'/login'">
            <svg viewBox="0 0 35.414 35.414" width="15px" height="15px">
              <polygon points="25.536,0 8.39,17 8.39,18.414 25.536,35.414 27.024,34 10.767,17.707 27.005,1.414   "
                fill="#444444" />
            </svg>
          </span>
          <span *ngIf="isMobile" class="w-100" style="font-weight: 700;">
            Đăng ký
          </span>
        </div>
        <div class="form-body">
          <div class="p-3">
            <div class="form-group row">
              <label *ngIf="!isMobile" class="col-lg-4 control-label mb-0 align-self-center">
                Tên đầy đủ:</label>
              <div class="col-12 col-lg-8">
                <input type="text" required class="form-control" placeholder="Tên đầy đủ" name="full_name"
                  [(ngModel)]="signupData.full_name" />
              </div>
            </div>
            <div class="form-group row">
              <label *ngIf="!isMobile" class="col-lg-4 control-label mb-0 align-self-center">
                Số điện thoại:</label>
              <div class="col-12 col-lg-8">
                <input type="email" required class="form-control" placeholder="Số điện thoại 10 số" name="phone"
                  [(ngModel)]="signupData.phone"
                  data-fv-emailaddress-message="The value is not a valid email address" />
              </div>
            </div>
            <div class="form-group row">
              <label *ngIf="!isMobile" class="col-lg-4 control-label mb-0 align-self-center">
                Email:</label>
              <div class="col-12 col-lg-8">
                <input type="email" required class="form-control" id="email" placeholder="Email" name="email"
                  [(ngModel)]="signupData.email"
                  data-fv-emailaddress-message="The value is not a valid email address" />
              </div>
            </div>
            <div class="form-group row">
              <label *ngIf="!isMobile" class="col-lg-4 control-label mb-0 align-self-center">
                Mật khẩu:</label>
              <div class="col-12 col-lg-8">
                <input name="password" type="password" class="form-control" id="password" placeholder="Mật khẩu"
                  [(ngModel)]="signupData.password" />
              </div>
            </div>
            <div class="form-group row mb-0">
              <label *ngIf="!isMobile" class="col-lg-4 control-label mb-0 align-self-center">
                Nhập lại mật khẩu:</label>
              <div class="col-12 col-lg-8">
                <input type="password" required name="confirm" class="form-control" id="mobile"
                  placeholder="Nhập lại mật khẩu" [(ngModel)]="signupData.confirm" />
              </div>
            </div>
            <div *ngIf="error" class="mt-2">
              <small class="text-danger">
                {{errorMessage}}
              </small>
            </div>
            <div class="row">
              <div class="col-sm-2">
              </div>
            </div>
          </div>
          <div class="p-3 border-top">
            <div class="form-check mb-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="agree-email-info"
                  [(ngModel)]="signupData.agree_email_info">
                Nhận email liên hệ từ đội ngũ eTop
              </label>
            </div>
            <div class="form-check mb-2">
              <label class="form-check-label">
                <input required type="checkbox" class="form-check-input" name="agree-tos"
                  [(ngModel)]="signupData.agree_tos">
                Bằng việc đăng ký tôi đồng ý với
                <a [href]="serviceTermsLink" class="provision" target="_blank">
                  điều khoản sử dụng dịch vụ
                </a>
              </label>
            </div>
          </div>
          <div *ngIf="isMobile" class="px-3 py-2 border-top">
            <div class="pt-1 text-left">
              <a href="https://www.etop.vn/huong-dan" style="color: #33b7d5; border-radius: 3px;"
                class="provision align-self-center" target="_blank">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                Hướng dẫn sử dụng
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="!isMobile" class="p-3 border-top d-flex justify-content-between">
          <a class="btn btn-outline btn-primary" routerLink="/login">
            <i class="fas fa-sign-in-alt text-primary" aria-hidden="true"></i>
            Đăng nhập
          </a>
          <button class="btn btn-primary" type="submit" [disabled]="!form.form.valid || loading">
            <i class="fa fa-user-plus" aria-hidden="true" *ngIf="!loading"></i>
            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" *ngIf="loading"></i>
            Đăng ký
          </button>
        </div>
        <div *ngIf="isMobile" class="form-footer">
          <button class="fullwidth-btn btn btn-primary btn-signup" type="submit"
            [disabled]="!form.form.valid || loading">
            <i class="fa fa-user-plus" aria-hidden="true" *ngIf="!loading"></i>
            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" *ngIf="loading"></i>
            Đăng ký
          </button>
        </div>
        <div *ngIf="!isMobile" class="p-3 pt-1 border-top text-left" style="background: #f2f2f2;">
          <a href="https://www.etop.vn/huong-dan" style="color: #33b7d5; border-radius: 3px;"
            class="provision align-self-center" target="_blank">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            Hướng dẫn sử dụng
          </a>
        </div>
      </form>
    </div>
  </div>
</div>