<div class="modal-header">
  <div class="w-100 text-center">
    <span class="text-big text-center font-weight-bold">Kết nối nhà vận chuyển</span>
    <button class="close" (click)="closeModal()">
      <span class="text-large">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <div class="carrier-item d-flex align-items-center p-4">
    <div class="carrier-img pr-4">
      <img src="{{ connection?.provider_logo }}" alt="" />
    </div>
    <div class="info">
      <div class="carrier-name">{{ connection?.name_display }}</div>
      <div class="status">
        Kết nối với {{ connection?.name }} bằng cách dùng số điện thoại.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="py-2 col-12" *ngIf="loginByOTPStep == 'phone'">
      <div class="font-italic mb-3" *ngIf="this.usingOTP">*Nhập số điện thoại để nhận OTP</div>
      <etop-material-input
        placeholder="Số điện thoại"
        textLabel="Số điện thoại"
        type="input"
        [(ngModel)]="loginByOtp.identifier"
        (enter)="loginUsingOTP()">
      </etop-material-input>
    </div>
    <ng-container *ngIf="loginByOTPStep == 'otp'">
      <div class="py-2 col-12">
        <etop-material-input
          textLabel="Số điện thoại"
          type="custom" [disabled]="true">
          <span class="read-only">{{loginByOtp.identifier}}</span>
        </etop-material-input>
        <div class="d-flex align-items-center justify-content-end text-primary cursor-pointer" (click)="editPhone()">
          <i class="fa fa-pencil text-primary mr-2"></i> Chỉnh sửa
        </div>
      </div>
      <div class="py-2 col-12">
        <div class="font-italic mb-3">
          *Nhập OTP mà bạn vừa nhận được qua số điện thoại: {{loginByOtp.identifier}}
        </div>
        <etop-material-input
          placeholder="OTP"
          textLabel="OTP"
          type="input"
          [(ngModel)]="loginByOtp.otp"
          (enter)="loginUsingOTP()">
        </etop-material-input>
        <div class="text-right mt-2" *ngIf="timer">
          <span>Bạn chưa nhận được mã?</span>
          <span
            *ngIf="countDown > 0; else retry" class="font-weight-bold text-primary ml-2"
            style="opacity: 0.7; margin-left: 0.5rem">Gửi lại ({{timer}})</span>
          <ng-template #retry>
            <span class="font-weight-bold text-primary ml-2 cursor-pointer" (click)="retrySendOtp()">
              Gửi lại
            </span>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="modal-footer d-flex align-items-center justify-content-between p-4">
  <div class="flex-1" *ngIf="connection?.connection_provider != 'partner'">
    <div class="text-primary cursor-pointer">
      <a href="https://www.etop.vn/huong-dan/huong-dan-thiet-lap-ket-noi-van-chuyen-tai-etop-7102" target="_blank">
        Hướng dẫn kết nối và sử dụng
      </a>
    </div>
    <div class="text-primary cursor-pointer" *ngIf="connection?.homepage">
      <a [href]="connection?.homepage" target="_blank">
        Tìm hiểu về {{connection?.name}}
      </a>
    </div>
    <div class="text-primary cursor-pointer" *ngIf="connection?.policy_link">
      <a [href]="connection?.policy_link" target="_blank">
        Chính sách và điều khoản {{connection?.name}}
      </a>
    </div>
  </div>
  <div
    class="text-right w-50">
    <button class="btn btn-primary" (click)="loginUsingOTP()" [disabled]="loading">
      <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
      {{confirmTitle}}
    </button>
  </div>
</div>
