.wrapper-login {
  display: flex;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

.login-box {
  width: 400px;
  margin: auto;
}

.login-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  img {
    width: 120px;
  }
}

.login-logo a {
  color: var(--dark-color);
}

.login-box-body {
  background: var(--white-color);
  padding: 20px;
  color: var(--default-color);
  border-radius: 5px;
  border: 1px solid var(--border-gray-color);
}

.form-group {
  margin-bottom: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

form {
  font-size: 12px;
  button,
  input,
  a.btn {
    font-size: 12px !important;
  }
}

.verify-wrapper {
  i.fa {
    color: var(--primary-color);
    font-size: 16px;
    &.error-icon {
      color: var(--danger-color);
    }
  }
}

@media (max-width: 767px) {
  .btn-signup {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .login-box {
    width: 90%;
    max-width: 300px;
    margin: 12% auto;
  }
}
