tr {
  &.table-head {
    th {
      color: var(--default-color);
      text-transform: uppercase;
      font-size: 0.825rem;
    }
  }
}

th, td {
  padding: 5px 15px;
}

td {
  font-size: 1rem;
}

@media only screen and (max-width: 576px){
  .btn-default{
    padding: 0.5rem 0.5rem !important;
  }
}

