<div class="ticket-detail-left">
  <div class="detail-header">
    <div class="d-flex justify-content-between w-100">
      <div class="ref-user-list">
        <div class="ref-user">
          <div class="lower-medium-font">Người tạo</div>
          <div class="text-bold">{{(activeTicket$ | async)?.createdByUser?.full_name || '-'}}</div>
        </div>
        <div class="ref-user">
          <div class="lower-medium-font">Phân công</div>
          <div class="text-bold" *ngIf="(activeTicket$ | async)?.assignedUsers[0]">
            {{(activeTicket$ | async)?.assignedUsers[0]?.full_name || '-'}}
          </div>
          <ng-container *ngIf="!(activeTicket$ | async)?.assignedUsers[0]">
            <ng-container *ePermissions="['admin/admin_ticket:assign']">
              <ng-container *ngIf="permissionLead; else noPermissionLead;">
                <span
                  class="edit-button text-primary"
                  [matMenuTriggerFor]="adminOptions">
                  Thêm
                </span>
                <span
                  class="edit-button text-primary" (click)="selfAssignTicket()">
                  - Tự phân công
                </span>
                <mat-menu #adminOptions="matMenu">
                  <button *ngFor="let admin of adminUsers$ | async" mat-menu-item (click)="assignTicket(admin)">
                    <b>{{admin?.full_name}}</b> ({{admin?.roles_display}})
                  </button>
                </mat-menu>
              </ng-container>
              <ng-template #noPermissionLead>
                <div class="edit-button text-primary" (click)="selfAssignTicket()">
                  Tự phân công
                </div>
              </ng-template>
            </ng-container>
          </ng-container>
        </div>
        <div class="ref-user">
          <div class="lower-medium-font">Xử lý</div>
          <div class="upper-medium-font" [class.text-bold]="(activeTicket$ | async)?.confirmedByUser">
            {{(activeTicket$ | async)?.confirmedByUser?.full_name || '-'}}
          </div>
        </div>
        <div class="ref-user">
          <div class="lower-medium-font">Hoàn thành</div>
          <div class="upper-medium-font" [class.text-bold]="(activeTicket$ | async)?.closedByUser">
            {{(activeTicket$ | async)?.closedByUser?.full_name || '-'}}
          </div>
        </div>
      </div>
      <div class="ticket-status-wrapper">
        <div class="ticket-status">
          <div class="lower-medium-font">Trạng thái</div>
          <div class="status status-{{(activeTicket$ | async)?.state}}">
            {{(activeTicket$ | async)?.state_display}}
          </div>
        </div>
        <button
          *ngIf="canConfirmTicket"
          ngbTooltip="Ticket chưa được phân công" container="body"
          [disableTooltip]="!!(activeTicket$ | async)?.assignedUsers[0]?.user_id"
          class="ml-3 btn btn-primary" [class.un-assigned]="!(activeTicket$ | async)?.assignedUsers[0]"
          (click)="confirmTicket()">
          Bắt đầu xử lý
        </button>
        <button
          *ngIf="canCloseTicket" class="ml-3 btn btn-primary d-flex align-items-center"
          [matMenuTriggerFor]="closeOptions">
          Hoàn thành
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #closeOptions="matMenu">
          <button mat-menu-item (click)="closeTicket('success')">
            <mat-icon>check_circle_outline</mat-icon>
            Xử lý thành công
          </button>
          <button mat-menu-item (click)="closeTicket('fail')">
            <mat-icon>highlight_off</mat-icon>
            Xử lý thất bại
          </button>
          <button mat-menu-item (click)="closeTicket('ignore')">
            <mat-icon>info</mat-icon>
            Từ chối xử lý
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="detail-body hide-scrollbar">
    <div class="slider-detail-section">
      <div class="text-bold upper-medium-font">
        <span class="text-primary">{{(activeTicket$ | async)?.code}}</span> - {{(activeTicket$ | async)?.title}}
      </div>
      <div class="text-default lower-medium-font">
        Thời gian tạo: {{(activeTicket$ | async)?.created_at | date: 'HH:mm dd/MM/yyyy'}} -
        Nguồn: {{(activeTicket$ | async)?.source_display}}
      </div>
      <div
        class="mt-4" style="white-space: pre-line;"
        [innerHTML]="(activeTicket$ | async)?.description | safeHtml">
      </div>
      <div class="labels-wrapper">
        <div
          *ngFor="let label of (activeTicket$ | async)?.labels"
          class="label-item" [class.active]="label?.children?.length > 0">
          <span [ngStyle]="{
            border: '1px solid ' + label?.color,
            color: label?.children?.length > 0 ? '#fff' : label?.color,
            background: label?.children?.length > 0 ? label?.color : '#fff'
          }">
            {{label?.name}}
          </span>
        </div>
      </div>
    </div>

    <div class="slider-detail-section">
      <div class="row">
        <div class="col-12">
          <div class="slider-detail-info-title">
            <i class="fa fa-circle text-primary smaller-font mr-2"></i>
            GHI CHÚ
          </div>
          <div class="empty" *ngIf="!(activeTicket$ | async)?.note">
            Chưa có ghi chú
          </div>
          <div
            *ngIf="(activeTicket$ | async)?.note" [innerHTML]="(activeTicket$ | async)?.note | safeHtml"
            style="white-space: pre-line;">
          </div>
          <div class="text-right mt-3">
            <button
              *ngIf="(activeTicketFulfillment$ | async)?.carrier == 'ghn'"
              class="btn btn-outline btn-primary" (click)="pushTicketToGHN()" [disabled]="loading">
              <mat-spinner *ngIf="loading" style="margin-right: .5rem" diameter="14"></mat-spinner>
              Đẩy sang GHN
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-detail-section">
      <div class="row">
        <div class="col-12">
          <div class="slider-detail-info-title">
            <i class="fa fa-circle text-primary smaller-font mr-2"></i>
            THÔNG TIN SHOP
          </div>
          <div class="d-inline-flex align-items-center cursor-pointer" (click)="shopDetail($event)">
            <img class="avatar" alt=""
                 src="{{(activeTicket$ | async)?.shop?.image_url || 'assets/images/placeholder.png'}}">
            <div class="shop-main">
              <div class="text-bold cursor-pointer">
                {{(activeTicket$ | async)?.shop?.code}} - {{(activeTicket$ | async)?.shop?.name}}
              </div>
              <div
                id="phone-call"
                class="text-bold text-primary lower-medium-font d-inline-flex align-items-center"
                eCallButton="{{(activeTicket$ | async)?.shop?.phone}}">
                {{(activeTicket$ | async)?.shop?.phone}}&nbsp;
                <i class="text-primary fa fa-phone-square"></i>
              </div>
              <div *ngIf="(activeTicket$ | async)?.shop?.email" class="lower-medium-font">
                {{(activeTicket$ | async)?.shop?.email}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-detail-section">
      <admin-ticket-fulfillment
        *ngIf="(activeTicket$ | async)?.ref_type == 'ffm'"
        [fulfillment]="activeTicketFulfillment$ | async">
      </admin-ticket-fulfillment>
    </div>
  </div>
</div>
<div class="ticket-detail-right">
  <mat-tab-group class="equaled centered h-100" disableRipple dynamicHeight>
    <mat-tab label="Phản hồi">
      <div
        *ngIf="activeTicketCommentsLoading$ | async"
        class="d-flex align-items-center justify-content-center w-100" style="height: 200px;">
        <mat-spinner color="primary" diameter="25"></mat-spinner>
      </div>
      <ng-container *ngIf="!(activeTicketCommentsLoading$ | async)">
        <admin-ticket-comments></admin-ticket-comments>
      </ng-container>
    </mat-tab>
    <mat-tab label="Lịch sử">
      <div class="undercons">
        <img alt="" src="assets/images/undercons.png">
      </div>
    </mat-tab>
    <mat-tab label="Call log">
      <div class="undercons">
        <img alt="" src="assets/images/undercons.png">
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
