ion-thumbnail {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;

  ion-skeleton-text {
    border-radius: 5px;
  }
}

ion-label {
  ion-skeleton-text {
    line-height: 8px;
  }
}
ion-item {
  padding: 0 1rem;
}