<div class="box setting-box mt-0">
  <div class="setting-header">Kết nối nhà vận chuyển</div>
  <div class="carrier-list">
    <div class="setting-body">
      <div class="carrier-item d-flex align-items-center">
        <div class="carrier-img pr-4">
          <img src="assets/images/Topship-logo.png" alt="">
        </div>
        <div class="info">
          <div class="carrier-name">TOPSHIP</div>
          <div class="order-status order-success">
            Đã kết nối
          </div>
        </div>
      </div>
    </div>
    <ng-container *ePermissions="['shop/connection:view']">
      <ng-container *ngIf="(connectionsList$ | async)?.length">
        <div class="connection-header">GIAO NHANH</div>
        <ng-container *ngFor="let connection of (connectionsList$ | async)">
          <div
            *ngIf="connection.connection_subtype == 'shipment'"
            class="setting-body" topship-carrier-connect-row
            [connection]="connection" (reloadConnections)="getConnections()">
          </div>
        </ng-container>
        <div class="connection-header">GIAO TỨC THÌ</div>
        <ng-container *ngFor="let connection of (connectionsList$ | async)">
          <div
            *ngIf="connection.connection_subtype == 'shipnow'"
            class="setting-body" topship-carrier-connect-row
            [connection]="connection" (reloadConnections)="getConnections()">
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="setting-footer">
    <a class="text-primary text-center" href="https://topship.vn/huong-dan/huong-dan-thiet-lap-ket-noi-van-chuyen-tai-topship-tren-may-tinh-16399/" target="_blank">
      Xem hướng dẫn kết nối nhà vận chuyển
    </a>
  </div>
</div>
