<div class="modal-header">
  <h5 class="modal-title">Xoá địa chỉ khách hàng</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="mb-1">{{address.full_name}} - {{address.phone}}</div>
    <div class="mb-1">{{this.addressDisplay(address)}}</div>
    <div class="font-weight-bold">
      <i class="fa fa-exclamation-triangle text-danger"></i>
      Bạn có chắc muốn xóa địa chỉ này?
    </div>
</div> 
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button class="btn btn-danger" (click)="confirmDelete()">
    Xoá
  </button>
</div>
