.overweight-wrapper {
  padding: 1.25rem;
  border-radius: 5px;
  border: 1px solid var(--border-gray-color);
  .delete-btn {
    font-size: 1.3rem;
  }
}

.overweight-input {
  width: 6.5rem;
  display: flex;
  align-items: center;
  margin-left: .5rem;
  margin-right: .5rem;
  etop-material-input-format-number::ng-deep {
    width: 100%;
    .mat-form-field-infix {
      border-top: none;
    }
    .mat-form-field-appearance-standard .mat-form-field-underline {
      bottom: 2px !important;
    }
    input, &.number-formatted {
      font-size: 1.1rem;
    }
  }
}

ul {
  padding: 0;
  margin-bottom: 0.8rem;
  list-style-type: none;
  li {
    margin-bottom: .25rem;
    display: flex;
    align-items: center;
    span {
      font-size: 1.1rem;
    }
  }
}
