<div class="overweight-wrapper">
  <ul *ngIf="overweights?.length">
    <li *ngFor="let weight of overweights; let i = index;">
      <span style="color: #aaa;">&#9679;&nbsp;</span>
      <span>{{weight?.min_weight | number}}g đến</span>
      <div class="overweight-input">
        <etop-material-input-format-number
          appearance="standard" placeholder="KL tối đa" formatNumberUnit="g"
          [min]="infiniteMaxEnable(i) ? -1 : 0"
          (blur)="onMaxWeightInputBlur(i)" [error]="weight.max_weight_error"
          [(ngModel)]="weight.max_weight">
        </etop-material-input-format-number>
      </div>
      <span>
        <i
          *ngIf="infiniteMaxEnable(i)" class="fa fa-info-circle text-primary"
          container="body"
          ngbTooltip="Nhập -1 nếu bạn không muốn thiết lập khối lượng tối đa"
          placement="bottom">
        </i>&nbsp;: Tăng&nbsp;
      </span>
      <div class="overweight-input">
        <etop-material-input-format-number
          appearance="standard" placeholder="Số tiền tăng" formatNumberUnit="đ"
          [(ngModel)]="weight.price_step">
        </etop-material-input-format-number>
      </div>
      <span>trên mỗi</span>
      <div class="overweight-input">
        <etop-material-input-format-number
          appearance="standard" placeholder="Mốc KL" formatNumberUnit="g"
          [(ngModel)]="weight.weight_step">
        </etop-material-input-format-number>
      </div>
      <div class="ml-3" *ngIf="infiniteMaxEnable(i)">
        <button class="btn btn-default btn-outline border-none delete-btn" (click)="removeOverWeight(i)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </li>
  </ul>
  <div class="add-btn">
    <button
      class="btn btn-outline btn-primary px-0"
      [disabled]="!canAddOverweight" (click)="addMoreOverweight()">
      <i class="fa fa-plus mr-2"></i>
      Thêm ngưỡng vượt cân
    </button>
  </div>
</div>
