<ion-content>
  <div class="popover-wrapper">
    <div class="popover-header">
      <div class="title">{{popoverTitle}}</div>
      <ion-icon class="close-button" name="close-outline" (click)="dismiss()"></ion-icon>
    </div>
    <div class="popover-body">
      <etop-carriers-list *ngIf="firstStep" (onConnectCarrier)="carrierLogin($event)"></etop-carriers-list>
      <etop-carrier-login *ngIf="secondStep" [carrierConnection]="selectedCarrierConnection"
        (onLoginInfoChanged)="loginInfoChanged($event)">
      </etop-carrier-login>
      <ionfabo-carrier-otp *ngIf="thirdStep" [identifier]="loginInfo.identifier"
        [carrierConnection]="selectedCarrierConnection" (onLoginInfoChanged)="loginOTPChanged($event)"
        (onRetry)="retryOTP($event)">
      </ionfabo-carrier-otp>
    </div>
</div>
</ion-content>
<ion-footer class="footer-button-wrapper" *ngIf="secondStep || thirdStep">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="continue()" *ngIf="secondStep">
        Tiếp tục
      </button>
      <ng-container *ngIf="thirdStep">
        <button class="w-100 bg-white footer-button-item" (click)="back()">Quay lại</button>
        <button class="w-100 bg-primary text-white footer-button-item" (click)="confirm()">Kết nối</button>
      </ng-container>
    </div>
  </ion-toolbar>
</ion-footer>
