<div class="modal-header">
  <div class="modal-title big-font">
    Chỉnh sửa cước phí đơn giao hàng <span class="big-font text-primary">{{ffm?.shipping_code}}</span>
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="mb-3" *ngFor="let fee of shippingFeesToUpdate">
    <mat-checkbox color="primary" disableRipple [(ngModel)]="fee.willBeUpdated" class="mt-2">
      Chỉnh sửa {{fee?.typeDisplay | lowercase}}
    </mat-checkbox>
    <div class="row">
      <div class="col-6 py-2">
        <etop-material-input type="custom" textLabel="{{fee?.typeDisplay}} hiện tại" [disabled]="true">
          <span class="read-only">{{(fee?.oldValue || 0) | number}}đ</span>
        </etop-material-input>
      </div>
      <div class="col-6 py-2">
        <etop-material-input-format-number
          textLabel="{{fee?.typeDisplay}} mới" placeholder="Nhập {{fee?.typeDisplay | lowercase}} mới"
          formatNumberUnit="đ" [(ngModel)]="fee.newValue" [disabled]="!fee?.willBeUpdated">
        </etop-material-input-format-number>
      </div>
    </div>
  </div>

  <div class="my-3">
    <etop-material-input
      [maxRow]="4" type="text-area" textLabel="Lý do cập nhật" placeholder="Nhập lý do cập nhật"
      [(ngModel)]="admin_note">
    </etop-material-input>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button class="btn btn-primary text-white" (click)="confirm()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>
