<div class="slider-detail-section">
  <div class="row">
    <div class="col-6" >
      <div class="d-flex align-items-center py-3">
        <i class="mr-2 far fa-circle text-primary"></i>
        <span class="text-bold text-primary">Chặn lấy</span>
      </div>
      <div class="py-3">
        <div class="slider-detail-info-title">
          <i class="fa fa-circle text-primary smaller-font mr-2"></i>
          CHẶN TỈNH THÀNH
        </div>
        <div class="empty" *ngIf="!blackListLocationPick?.blackListProvinces?.length">
          Chưa có tỉnh thành nào được chọn.
        </div>
        <div class="row" *ngIf="blackListLocationPick?.blackListProvinces?.length">
          <ng-container *ngFor="let prov of blackListLocationPick?.blackListProvinces; let i = index">
            <div class="col-6 py-2">
              <div class="fake-material-input d-flex align-items-center justify-content-between cursor-pointer">
                <div
                  class="location-list flex-grow-1"
                  (click)="editProvinces(prov?.province_codes, prov?.reason, i, 'pick')">
                  <div class="text-bold location-display">
                    {{ getProvincesDisplay(prov?.province_codes) }}
                  </div>
                  <div class="text-default small-font">
                    Lý do: {{ prov?.reason }}
                  </div>
                </div>
                <span
                  *ePermissions="['admin/shipment_service:update']"
                  class="fa fa-times big-font cursor-pointer" style="color: #bbb;"
                  (click)="removeProvinces(prov?.province_codes, prov?.reason, i, 'pick')">
                </span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="text-right mt-3" *ePermissions="['admin/shipment_service:update']">
          <button class="btn btn-primary" (click)="selectProvinces('pick')" [disabled]="loading">
            <i class="fa fa-spin fa-circle-o-notch" *ngIf="updatingProvince"></i>
            &nbsp;Chọn tỉnh thành
          </button>
        </div>
      </div>
      <div class="py-3">
        <div class="slider-detail-info-title">
          <i class="fa fa-circle text-primary smaller-font mr-2"></i>
          CHẶN QUẬN HUYỆN
        </div>
        <div class="empty" *ngIf="!blackListLocationPick?.blackListDistricts?.length">
          Chưa có quận huyện nào được chọn.
        </div>
        <div class="row" *ngIf="blackListLocationPick?.blackListDistricts?.length">
          <ng-container *ngFor="let dist of blackListLocationPick?.blackListDistricts; let i = index">
            <div class="col-6 py-2">
              <div class="fake-material-input d-flex align-items-center justify-content-between cursor-pointer">
                <div
                  class="location-list flex-grow-1"
                  (click)="editDistricts(dist?.district_codes, dist?.reason, i, 'pick')">
                  <div class="text-bold location-display">
                    {{ getDistrictsDisplay(dist?.district_codes) }}
                  </div>
                  <div class="text-default small-font">
                    Lý do: {{ dist?.reason }}
                  </div>
                </div>
                <span
                  *ePermissions="['admin/shipment_service:update']"
                  class="fa fa-times big-font cursor-pointer" style="color: #bbb;"
                  (click)="removeDistricts(dist?.district_codes, dist?.reason, i, 'pick')">
                </span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="text-right mt-3" *ePermissions="['admin/shipment_service:update']">
          <button class="btn btn-primary" (click)="selectDistricts('pick')" [disabled]="loading">
            <i class="fa fa-spin fa-circle-o-notch" *ngIf="updatingDistrict"></i>
            &nbsp;Chọn quận huyện
          </button>
        </div>
      </div>
      <div class="py-3">
        <div class="slider-detail-info-title">
          <i class="fa fa-circle text-primary smaller-font mr-2"></i>
          CHẶN PHƯỜNG XÃ
        </div>
        <div class="empty" *ngIf="!blackListLocationPick?.blackListWards?.length">
          Chưa có phường xã nào được chọn.
        </div>
        <div class="row" *ngIf="blackListLocationPick?.blackListWards?.length">
          <ng-container *ngFor="let ward of blackListLocationPick?.blackListWards; let i = index">
            <div class="col-6 py-2">
              <div class="fake-material-input d-flex align-items-center justify-content-between cursor-pointer">
                <div
                  class="location-list flex-grow-1"
                  (click)="editWards(ward?.ward_codes, ward?.reason, i, 'pick')">
                  <div class="text-bold location-display">
                    {{ getWardsDisplay(ward?.ward_codes) }}
                  </div>
                  <div class="text-default small-font">
                    Lý do: {{ ward?.reason }}
                  </div>
                </div>
                <span
                  *ePermissions="['admin/shipment_service:update']"
                  class="fa fa-times big-font cursor-pointer" style="color: #bbb;"
                  (click)="removeWards(ward?.ward_codes, ward?.reason, i, 'pick')">
                </span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="text-right mt-3" *ePermissions="['admin/shipment_service:update']">
          <button class="btn btn-primary" (click)="selectWards('pick')" [disabled]="loading">
            <i class="fa fa-spin fa-circle-o-notch" *ngIf="updatingWard"></i>
            &nbsp;Chọn phường xã
          </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex align-items-center py-3">
        <i class="mr-2 fas fa-map-marker-alt text-primary"></i>
        <span class="text-bold text-primary">Chặn giao</span>
      </div>
      <div class="py-3">
        <div class="slider-detail-info-title">
          <i class="fa fa-circle text-primary smaller-font mr-2"></i>
          CHẶN TỈNH THÀNH
        </div>
        <div class="empty" *ngIf="!blackListLocationDeliver?.blackListProvinces?.length">
          Chưa có tỉnh thành nào được chọn.
        </div>
        <div class="row" *ngIf="blackListLocationDeliver?.blackListProvinces?.length">
          <ng-container *ngFor="let prov of blackListLocationDeliver?.blackListProvinces; let i = index">
            <div class="col-6 py-2">
              <div class="fake-material-input d-flex align-items-center justify-content-between cursor-pointer">
                <div
                  class="location-list flex-grow-1"
                  (click)="editProvinces(prov?.province_codes, prov?.reason, i, 'deliver')">
                  <div class="text-bold location-display">
                    {{ getProvincesDisplay(prov?.province_codes) }}
                  </div>
                  <div class="text-default small-font">
                    Lý do: {{ prov?.reason }}
                  </div>
                </div>
                <span
                  *ePermissions="['admin/shipment_service:update']"
                  class="fa fa-times big-font cursor-pointer" style="color: #bbb;"
                  (click)="removeProvinces(prov?.province_codes, prov?.reason, i, 'deliver')">
                </span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="text-right mt-3" *ePermissions="['admin/shipment_service:update']">
          <button class="btn btn-primary" (click)="selectProvinces('deliver')" [disabled]="loading">
            <i class="fa fa-spin fa-circle-o-notch" *ngIf="updatingProvince"></i>
            &nbsp;Chọn tỉnh thành
          </button>
        </div>
      </div>
      <div class="py-3">
        <div class="slider-detail-info-title">
          <i class="fa fa-circle text-primary smaller-font mr-2"></i>
          CHẶN QUẬN HUYỆN
        </div>
        <div class="empty" *ngIf="!blackListLocationDeliver?.blackListDistricts?.length">
          Chưa có quận huyện nào được chọn.
        </div>
        <div class="row" *ngIf="blackListLocationDeliver?.blackListDistricts?.length">
          <ng-container *ngFor="let dist of blackListLocationDeliver?.blackListDistricts; let i = index">
            <div class="col-6 py-2">
              <div class="fake-material-input d-flex align-items-center justify-content-between cursor-pointer">
                <div
                  class="location-list flex-grow-1"
                  (click)="editDistricts(dist?.district_codes, dist?.reason, i, 'deliver')">
                  <div class="text-bold location-display">
                    {{ getDistrictsDisplay(dist?.district_codes) }}
                  </div>
                  <div class="text-default small-font">
                    Lý do: {{ dist?.reason }}
                  </div>
                </div>
                <span
                  *ePermissions="['admin/shipment_service:update']"
                  class="fa fa-times big-font cursor-pointer" style="color: #bbb;"
                  (click)="removeDistricts(dist?.district_codes, dist?.reason, i, 'deliver')">
                </span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="text-right mt-3" *ePermissions="['admin/shipment_service:update']">
          <button class="btn btn-primary" (click)="selectDistricts('deliver')" [disabled]="loading">
            <i class="fa fa-spin fa-circle-o-notch" *ngIf="updatingDistrict"></i>
            &nbsp;Chọn quận huyện
          </button>
        </div>
      </div>
      <div class="py-3">
        <div class="slider-detail-info-title">
          <i class="fa fa-circle text-primary smaller-font mr-2"></i>
          CHẶN PHƯỜNG XÃ
        </div>
        <div class="empty" *ngIf="!blackListLocationDeliver?.blackListWards?.length">
          Chưa có phường xã nào được chọn.
        </div>
        <div class="row" *ngIf="blackListLocationDeliver?.blackListWards?.length">
          <ng-container *ngFor="let ward of blackListLocationDeliver?.blackListWards; let i = index">
            <div class="col-6 py-2">
              <div class="fake-material-input d-flex align-items-center justify-content-between cursor-pointer">
                <div
                  class="location-list flex-grow-1"
                  (click)="editWards(ward?.ward_codes, ward?.reason, i, 'deliver')">
                  <div class="text-bold location-display">
                    {{ getWardsDisplay(ward?.ward_codes) }}
                  </div>
                  <div class="text-default small-font">
                    Lý do: {{ ward?.reason }}
                  </div>
                </div>
                <span
                  *ePermissions="['admin/shipment_service:update']"
                  class="fa fa-times big-font cursor-pointer" style="color: #bbb;"
                  (click)="removeWards(ward?.ward_codes, ward?.reason, i, 'deliver')">
                </span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="text-right mt-3" *ePermissions="['admin/shipment_service:update']">
          <button class="btn btn-primary" (click)="selectWards('deliver')" [disabled]="loading">
            <i class="fa fa-spin fa-circle-o-notch" *ngIf="updatingWard"></i>
            &nbsp;Chọn phường xã
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
