thead {
  background-color: var(--light);
}
th {
  font-weight: 400;
  padding: 0.6rem 1.25rem;
  border-bottom: 1px solid var(--border-gray-color);
}
td {
  padding: 0.85rem 1.25rem;
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
  &:last-child {
    border-bottom: none;
  }
}

.empty {
  margin-top: 1rem;
  padding: 1.65rem 1.25rem;
  text-align: center;
  background: var(--gray-color);
}

.placeholder {
  color: var(--default-color);
}

.table-responsive {
  margin-bottom: 1rem;
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  overflow: hidden;
}
