<ion-row class="border-bottom">
  <ion-col class="ion-flex ion-align-items-center">
    <ion-icon name="person-circle-outline" class="avatar"></ion-icon>
    <div class="user-name font-bold">
      <div class="fix-line-1">{{invitation?.full_name}}</div>
    </div>
    <div class="action-button" (click)="presentActionSheet()">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-text style="font-size: 0.9rem; padding-left: 0.25rem;">Thao tác</ion-text>
    </div>
  </ion-col>
</ion-row>
<ion-row class="border-bottom">
  <ion-col>
    <small>Vai trò</small>
    <div class="font-bold fix-line-1" style="font-size: 0.8rem;">{{invitation?.roles_display}}</div>
  </ion-col>
  <ion-col class="ion-text-right font-bold fix-line-1" style="font-size: 0.9rem;">
    {{invitation?.phone || invitation?.email}}
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <small>Link lời mời</small>
    <div class="font-bold fix-line-1" style="font-size: 0.9rem;">{{invitation?.invitation_url}}</div>
  </ion-col>
</ion-row>
<ion-row class="action">
  <ion-col size="4" class="item ion-flex ion-align-items-center ion-justify-content-center"
    (click)="copyLink(invitation?.invitation_url)">
    <ion-icon name="copy-outline"></ion-icon>
    <ion-text color="primary">Sao chép</ion-text>
  </ion-col>
  <ion-col size="4" class="item ion-flex ion-align-items-center ion-justify-content-center"
  (click)="shareLink(invitation?.invitation_url)">
    <ion-icon name="share-social-outline"></ion-icon>
    <ion-text color="primary">Chia sẻ</ion-text>
  </ion-col>
  <ion-col size="4" class="item ion-flex ion-align-items-center ion-justify-content-center" (click)="resendInvitation()">
    <ion-icon name="mail-outline"></ion-icon>
    <ion-text color="primary">Gửi lại {{invitation?.phone ? 'SMS' : 'Email'}}</ion-text>
  </ion-col>
</ion-row>

