<div class="d-flex align-items-center mb-3">
  <h6 class="slider-detail-info-title mb-0">
    <i class="fa fa-circle text-topship smaller-font mr-2"></i>
    GIAO HÀNG
  </h6>
  <shared-dropdown-actions [dropdownActions]="dropdownActions"></shared-dropdown-actions>
</div>
<div class="row info-body" *ngIf="fulfillment?.shipping_state != 'cancelled'">
  <div class="col-3 slider-detail-input-item">
    <etop-material-input textLabel="Mã giao hàng" type="custom">
      <span *ngIf="fulfillment?.shipping_code" (click)="viewDetailFfm()"
        class="read-only font-weight-bold cursor-pointer" [class.text-topship]="fulfillment?.from_topship">
        {{fulfillment?.shipping_code || '-'}}
        <i class="fas fa-external-link-alt external-link-icon"></i>
      </span>
      <span *ngIf="!fulfillment?.shipping_code" class="read-only">-</span>
    </etop-material-input>
  </div>
  <div class="col-3 slider-detail-input-item">
    <etop-material-input textLabel="Nhà vận chuyển" type="custom">
      <span class="read-only">{{fulfillment?.carrier_display?.toUpperCase() || '-'}}</span>
    </etop-material-input>
  </div>
  <div class="col-3 slider-detail-input-item">
    <etop-material-input textLabel="Thu hộ" type="custom">
      <span class="read-only font-weight-bold">{{fulfillment?.total_cod_amount | vnd}}đ</span>
    </etop-material-input>
  </div>
  <div class="col-3 slider-detail-input-item">
    <etop-material-input textLabel="Trạng thái" type="custom">
      <span class="read-only order-status order-{{fulfillment?.shipping_state}}">
        {{fulfillment?.shipping_state_display}}
      </span>
      <span *ngIf="fulfillment?.x_shipping_sub_state && fulfillment?.shipping_state != 'cancelled'"
        class="font-10 ml-2">
        {{fulfillment?.x_shipping_sub_state}}
      </span>
      <span *ngIf="fulfillment?.shipping_state == 'undeliverable' && fulfillment?.actual_compensation_amount > 0"
        class="font-10 ml-2">
        Bồi hoàn: {{fulfillment?.actual_compensation_amount | vnd}}đ
      </span>
    </etop-material-input>
  </div>
</div>
<ng-container *ePermissions="['shop/fulfillment:view']">
  <shop-order-fulfillments [fulShippingStatus]="'N'" [order_code]="order?.code"></shop-order-fulfillments>
</ng-container>
