.payment_status {
  max-width: 100px;
}

.shop_name {
  max-width: 100px;
}

.placeholder {
  color: var(--default-color)
}

.order-status {
  display: flex;
  align-items: center;
}

.order-code {
  color: var(--primary-color);
}

:host {
  background-color: var(--white-color);
  margin-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  border-radius: 7px;
  height: 65px;
  &:last-child {
    margin-bottom: 5px;
  }
  &.active {
    border-left: 5px solid var(--primary-color);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.07);
    margin-left: -5px;
  }
  &.un-updatable {
    border-left: 5px solid var(--default-color);
  }
  &.just-imported {
    border-left: 5px solid var(--topship-color);
  }
}

.just-imported {
  color: var(--topship-color);
  font-size: 10px;
  font-weight: 600;
}
