<ng-content></ng-content>
<div class="col align-self-center" style="width: 15rem;">
  <span class="order-code text-bold" [class.text-topship]="order?.p_data?.just_imported">{{order?.code}}</span>
  <div class="small-font">{{order?.created_at | date: 'HH:mm dd/MM/yy'}}</div>
<!--  <div *ngIf="!order?.p_data?.just_imported" class="small-font text-default">-->
<!--    Nguồn: {{ order?.source_display || order?.source }}-->
<!--  </div>-->
  <div *ngIf="order?.p_data?.just_imported" class="just-imported">Đơn mới import</div>
</div>
<div class="col align-self-center" style="width: 17rem;">
  <ng-container *ngIf="isNormalCustomer; else notNormal;">
    <span class="font-weight-bold text-primary cursor-pointer" (click)="viewDetailCustomer()">
      {{ order?.customer?.full_name }}
      <i *ngIf="!order?.customer?.deleted" class="fas fa-external-link-alt external-link-icon"></i>
      <span class="font-weight-normal text-default ml-1 small-font" *ngIf="order?.customer?.deleted">(Đã xoá)</span>
    </span>
    <div class="small-font">{{ order?.customer?.phone }}</div>
  </ng-container>
  <ng-template #notNormal>
    <ng-container *ngIf="order?.shipping_address; else anonymous;">
      <span class="font-weight-bold">{{ order?.shipping_address?.full_name }}</span>
      <div class="small-font">{{ order?.shipping_address?.phone }}</div>
    </ng-container>
    <ng-template #anonymous>
      <span class="font-weight-bold">Khách lẻ</span>
    </ng-template>
  </ng-template>
</div>
<div class="col align-self-center text-left" style="width: 14rem;">
  <div class="text-bold">{{ order?.total_amount | vnd }}đ</div>
  <div class="small-font">{{ order?.total_items }} sản phẩm</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="width: 24rem;">
  <div *ngIf="order?.activeFulfillment?.shipping_code" class="d-flex flex-row align-items-center">
    <div class="carrier-image">
      <img [src]="order?.activeFulfillment?.shipping_provider_logo" alt="">
      <img *ngIf="order?.activeFulfillment?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
    </div>
    <span class="d-flex flex-column align-items-start carrier-info"
      [class.text-topship]="order?.activeFulfillment?.from_topship">
      <span style="word-break: break-word;">
        {{ order?.activeFulfillment?.shipping_code }}
        <i class="fas fa-external-link-alt external-link-icon"></i>
      </span>
      <span class="text-uppercase carrier-name">
        {{order?.activeFulfillment?.from_topship ? 'TOPSHIP - ' : ''}}{{order?.activeFulfillment?.carrier}}
      </span>
    </span>
  </div>
  <div *ngIf="!order?.activeFulfillment?.shipping_code" class="placeholder">
    <i class="fas fa-minus"></i>
  </div>
</div>
<div class="col align-self-center" style="width: 16.5rem;">
  <div class="order-status order-{{ order?.status }}">
    {{ order?.status_display }}
  </div>
  <div *ngIf="order?.cancel_reason" class="small-font text-default" > Lý do: {{order.cancel_reason}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="width: 16.5rem;">
  <div *ngIf="order?.activeFulfillment" class="order-status order-{{ order?.activeFulfillment?.shipping_state }}">
    {{ order?.activeFulfillment?.shipping_state_display }}
  </div>
  <div *ngIf="!order?.activeFulfillment" class="placeholder">
    <i class="fas fa-minus"></i>
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="width: 16.5rem;">
  <div> {{ order?.created_by }} </div>
</div>
<!-- <div class="col align-self-center" *ngIf="!liteMode" style="width: 10rem;">
  <div class="order-status order-{{ order?.payment_status }}">
    {{ order?.payment_status_display }}
  </div>
</div> -->
