tr {
  &.table-head {
    th {
      color: var(--default-color);
      text-transform: uppercase;
      font-size: 0.825rem;
    }
  }
}

th, td {
  padding: 5px 15px;
}

td {
  font-size: 1rem;
  display: none;
  @media only screen and (min-width: 768px) {
    display: table-cell;
    vertical-align: inherit;
  }
}

@media only screen and (max-width: 576px){
  .btn-default{
    padding: 0.5rem 0.5rem !important;
  }
}

button {
  min-width: max-content;
}

.shop-row {
  padding: 1.5rem 1.5rem;
  align-items: center;
  border-bottom: 1px solid #eee;

  .shop-img {
    .shop-logo {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      object-fit: cover;
      object-position: center;
      border: 1px solid #eee;
    }
  }

  .shop-info {
    margin-left: 1rem;
  }

  .shop-action {
    margin-left: auto;
    button {
      border-radius: 1.5rem;
    }
    .login-btn {
      font-size: 1.5rem;
    }
    .check-btn {
      font-size: 3rem;
      color: var(--primary-color);
    }
  }
}
