<div class="modal-header">
  <div class="modal-title">
    <h5 class="font-weight-bold">Thay đổi mật khẩu</h5>
  </div>
  <button class="close" (click)="close()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="py-2">
    <etop-material-input
      placeholder="Nhập mật khẩu hiện tại" textLabel="Mật khẩu hiện tại" type="input"
      keyboardType="password"
      [(ngModel)]="changePasswordData.currentPassword">
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-input
      placeholder="Nhập mật khẩu mới" textLabel="Mật khẩu mới" type="input"
      keyboardType="password"
      [(ngModel)]="changePasswordData.newPassword">
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-input
      placeholder="Nhập lại mật khẩu mới" textLabel="Nhập lại mật khẩu mới" type="input"
      keyboardType="password"
      [(ngModel)]="changePasswordData.confirmNewPassword">
    </etop-material-input>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline btn-default" (click)="close()">Hủy</button>
  <button class="btn btn-primary" [disabled]="loading" (click)="save()">
    <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
    Thay đổi mật khẩu
  </button>
</div>
