.switch-discount {
  border-radius: 5px;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;

  .percent-discount,
  .default-discount {
    border: 1px solid var(--primary-color);

    &.active {
      background-color: var(--primary-color);
      color: white;
    }
  }

  .percent-discount {
    border-radius: 5px 0 0 5px;
  }
  .default-discount {
    border-radius: 0 5px 5px 0;
  }
}

.hover-to-display {
  display: none;
}
.row-discount:hover,
.row-fee:hover {
  .hover-to-display {
    position: absolute;
    top: 20%;
    display: inline-block;
    margin-left: 8px;
  }
}

.fee-select {
  cursor: pointer;
  text-align-last: right;
  background-position-x: 103%;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.label-select {
  border-bottom: 1px solid var(--border-gray-color);
  border-radius: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  background-position-y: 1px;
}

.multi-line {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  .receipt-info {
    width: 100%;
  }
}

.single-line {
  align-items: baseline !important;
  .receipt-info {
    margin-left: 10px;
  }
}
