$color1: #f0f0f0;
$color2: #e5e5e5;
$color_header: #d8d8d8;

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.placeholder-wrapper {
  &.placeholder-header {
    .placeholder {
      background: linear-gradient(to right, $color1 20%, $color_header 40%, $color_header 60%, $color1 80%);
      background-size: 200% auto;
    }
  }
  .placeholder {
    background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
    background-size: 200% auto;
    animation: shine 1s linear infinite;
    height: 12px;
    border-radius: 10px;
    width: 100%;
    &.round {
      border-radius: 100%;
      width: 12px !important;
    }
  }
}

.small {
  width: 12.5%;
  max-width: 150px;
}

.medium {
  width: 20%;
  max-width: 275px;
}

.big {
  width: 30%;
  max-width: 500px;
}
