.item {
  margin-bottom: 1.5rem;
}

.list-content {
  padding: 0 24px;

  .title {
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 0.75rem;
  }

}

.line {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

mat-icon {
  height: 14px !important;
  width: 14px !important;
  font-size: 14px !important;
  margin-right: 0.5rem;
}

.shpping-fee {
  margin-right: auto;
}
