.square-item {
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
    &.selected {
      border: 2px solid var(--primary-color);
    }
}
.selected-icon {
  position: absolute;
  right: 0;
  background: var(--primary-color);
  color: #fff;
  border-radius: 0 0 0 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  ion-icon {
    font-size: 1.75rem;
    background: var(--primary-color);
    color: #fff;
    border-radius: 0 0 0 5px;
  }
}

.item-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .2rem .4rem;
  background: #eeeb;
  color: #444;
}

.item-bold-text {
  font-weight: 700;
}
