<div class="square-item" [ngStyle]="{'background-image': product?.bg_image}" [class.selected]="isSelected$ | async">
  <div class="item-info">
    <div class="ellipsis-text">{{product?.name}}</div>
    <div class="item-bold-text">{{product?.price | vnd}}đ</div>
  </div>
  <div class="selected-icon" *ngIf="isSelected$ | async">
    <ion-icon name="checkmark"></ion-icon>
  </div>
</div>
