<div class="dialog-header ">
  <div class="dialog-title">Chỉnh sửa comment</div>
  <div class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div class="dialog-body">
  <ng-container *ngIf="data.updateType == 'text'">
    <etop-material-input
      placeholder="Nội dung" textLabel="Nội dung" type="input"
      [(ngModel)]="data.comment.message">
    </etop-material-input>
  </ng-container>
  <ng-container *ngIf="data.updateType == 'image'">
    <div class="comment-image">
      <img src="{{data.comment.image_url}}" alt="">
      <div class="comment-image-backdrop" (click)="uploadImage()">
        <input
          #imageMessageInput type="file" hidden accept="image/png,image/jpg,image/jpeg,image/gif"
          (change)="onImageSelected($event)">
        <mat-icon>crop_original</mat-icon>
        <span>Chọn ảnh khác</span>
      </div>
    </div>
  </ng-container>
</div>
<div class="dialog-footer">
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-2" (click)="closeDialog()">
      Đóng
    </button>
    <button class="btn btn-primary" (click)="confirm()">
      Xác nhận
    </button>
  </div>
</div>
