.comment-image {
  width: 35rem;
  height: 35rem;
  position: relative;
  cursor: pointer;
  &:hover {
    .comment-image-backdrop {
      display: flex;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  .comment-image-backdrop {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background: #000d;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    mat-icon {
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
    }
    span {
      font-size: 1.2rem;
      margin-top: .5rem;
    }
  }
}
