<etop-table #orderTable [items]="orderList" [scroll_id]="'orderTable'" [width]="createNewOrder ? '70%': '50%'"
            [show_paging]="orderList.length > 0 && showPaging && !forcedHidePaging" (requestNewPage)="loadPage($event) ">
  <ng-template #header let-liteMode="liteMode">
    <div class="col" style="max-width: 50px;">
      <input class="input-custom" type="checkbox" [checked]="checkAll" (click)="allItemSelected()" />
    </div>
    <div class="col" style="width: 15rem;">
      <span class="table-header-text">Mã đơn hàng</span>
    </div>
    <div class="col" style="width: 17rem;">
      <span class="table-header-text">Khách hàng</span>
    </div>
    <div class="col text-left" style="width: 14rem;">
      <span class="table-header-text">Khách phải trả</span>
    </div>
    <div class="col" *ngIf="!liteMode" style="width: 24rem;">
      <span class="table-header-text">Mã giao hàng</span>
    </div>
    <div class="col" style="width: 16.5rem;">
      <span class="table-header-text">Trạng thái</span>
    </div>
    <div class="col" *ngIf="!liteMode" style="width: 16.5rem;">
      <span class="table-header-text">Giao hàng</span>
    </div>
    <div class="col" *ngIf="!liteMode" style="width: 16.5rem;">
      <span class="table-header-text">Người tạo</span>
    </div>
    <!-- <div class="col" *ngIf="!liteMode" style="width: 10rem;">
      <span class="table-header-text">Thu chi</span>
    </div> -->
  </ng-template>

  <ng-template #emptyItem>
    <div class="blank-page">
      <div>
        <img class="blank-img" src="assets/images/icon_order.png" alt="empty list" />
      </div>
      <div class="info">
        <div class="text-bigger text-bold text-center m-2">
          {{emptyTitle}}
        </div>
      </div>
      <!-- <ng-container>
        <div *ngIf="!emptyResultFilter">
          <div>Bạn có thể tạo từng đơn hàng thông qua POS hoặc sử dụng file Import.</div>
          <div class="text-center mt-4">
            <button class="btn btn-primary btn-outline" (click)="importOrder()">
              Import đơn hàng
            </button>
            <button class="btn btn-primary ml-3" (click)="gotoPOS()">
              Tạo đơn hàng
            </button>
          </div>
        </div>
      </ng-container> -->
    </div>
  </ng-template>

  <ng-template #item let-order="item" let-liteMode="liteMode">
    <div class="row table-row" shop-order-row [ngClass]="{
        'active': order.p_data.selected || order.p_data.detailed,
        'un-updatable': order.p_data.selected && order.p_data.un_updatable,
        'just-imported': order.p_data.selected && order.p_data.just_imported
      }" [order]="order" [liteMode]="liteMode" (click)="detail($event, order)">
      <div class="col align-self-center" style="max-width: 50px;">
        <input class="input-custom" type="checkbox" [checked]="order.p_data.selected || false"
          (click)="itemSelected(order)" />
      </div>
    </div>
  </ng-template>
</etop-table>
<etop-side-slider #slider [width]="createNewOrder ? '30%': '50%'">
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <div *ngIf="multiDeliveryFast || multiDeliveryNow" class="close-slide mr-2" (click)="undoDelivery()">
          <i class="fa fa-chevron-left" style="left: 47%; top: 53%;" aria-hidden="true"></i>
        </div>
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>

        <ng-container *ngIf="!toImportOrder">
          <shared-dropdown-actions></shared-dropdown-actions>
        </ng-container>
        <div class="tabs-container"
          *ngIf="showDetailOrder && (hasFulfillment(selectedOrders[0]))">
          <ng-container *ngFor="let tab of tabs">
            <ng-container>
              <div *ngIf="!noSupportRequest(tab)"
                class="tab" [class.active]="active_tab == tab.value" (click)="changeTab(tab.value)">
                {{ tab.name }}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">Đóng
        <i class="fa fa-times ml-1" ></i>
      </button>
    </div>
  </ng-template>
  <ng-container *ngIf="createNewOrder; else detailOrder">
    <faboshop-confirm-order></faboshop-confirm-order>
  </ng-container>
  <ng-template #detailOrder>
    <ng-container *ngIf="showDetailOrder; else multipleOrders;">
      <shop-order-detail
        *ngIf="hasFulfillment(selectedOrders[0]); else canEditOrder;"
        [order]="selectedOrders[0]">
      </shop-order-detail>
      <ng-template #canEditOrder>
        <shop-order-edit-form [order]="selectedOrders[0]"></shop-order-edit-form>
      </ng-template>
    </ng-container>
  </ng-template>
  <ng-template #multipleOrders>
    <shop-multiple-order-actions *ngIf="!multiDeliveryFast && !multiDeliveryNow && !toImportOrder"
      [orders]="selectedOrders">
    </shop-multiple-order-actions>
    <shop-multiple-order-delivery-fast *ngIf="multiDeliveryFast" [orders]="orderList" [scroll_id]="'orderTable'">
    </shop-multiple-order-delivery-fast>
    <shop-multiple-order-delivery-now *ngIf="multiDeliveryNow" [orders]="orderList" [scroll_id]="'orderTable'">
    </shop-multiple-order-delivery-now>
    <shop-import-order *ngIf="toImportOrder"></shop-import-order>
  </ng-template>
</etop-side-slider>
