:host {
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;
  height: 100%;
}

.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.tabs-container {
  display: flex;
  height: 60px;
  margin-left: 15px;
}

.tab {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 13px;
  border-left: 1px solid var(--border-gray-color);
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  color: var(--dark-color);
  cursor: pointer;
  &.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
  }
  &:last-child {
    border-right: 1px solid var(--border-gray-color);
  }
}

.blank-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 12vh;

  .blank-img {
    width: 200px;
    height: auto;
    opacity: 0.5;
  }
  .info {
    margin-bottom: 20px;
  }
}
