:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-detail-img {
  width: 100%;
  height: 100%;
  max-width: 129px;
  max-height: 129px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  position: absolute;
  top: 4px;
  left: 0;
}

.right-content {
  padding-left: 145px;
  width: 100%;
}

.product-slide-item {
  thead {
    background-color: var(--light);

    th {
      padding: 5px 15px;
      border-bottom: 1px solid #e5e5e5 !important;
      border-top: 1px solid #e5e5e5 !important;
    }
  }

  td {
    border-bottom: 1px solid #e5e5e5 !important;
    padding: 0.75rem;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;

  >* {
    margin-left: 10px;
  }
}

.read-only {
  padding: 1px 5px;
  border: 1px solid transparent;
  color: #777;
}
