<div class="content">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Thông tin cơ bản">
      <div class="product-info p-3">
        <div class="d-flex position-relative">
          <div class="product-detail-img"
            [ngStyle]="{'background': 'url(' + item.product.image_urls[0] + ') no-repeat 0 0 / cover'}"></div>
          <div class="right-content">
            <div class="row">
              <div class="col-12">
                <etop-material-input appearance="outline" textLabel="Tên sản phẩm" type="input"
                                     [(ngModel)]="item.product.o_data.name">
                </etop-material-input>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <etop-material-input placeholder="SKU" textLabel="SKU" appearance="outline"
                                     [(ngModel)]="item.product.o_data.code" type="input">
                </etop-material-input>
              </div>
              <div class="col-6 pl-0">
                <etop-material-input *ngIf="noPrice; else hasPrice;" placeholder="Giá sản phẩm"
                                     textLabel="Giá sản phẩm" appearance="outline" type="input" keyboardType="number"
                                     [(ngModel)]="item.product.o_data.retail_price"
                                     (blur)="format_money = true; item.product.retail_price = item.product.o_data.retail_price;">
                </etop-material-input>
                <ng-template #hasPrice>
                  <etop-material-input [hidden]="format_money" #moneyInput placeholder="Giá sản phẩm"
                                       textLabel="Giá sản phẩm" appearance="outline" type="input" keyboardType="number"
                                       [(ngModel)]="item.product.o_data.retail_price" (change)="onChangePriceProduct()"
                                       (blur)="formatMoney(); checkValidPrice();">
                  </etop-material-input>
                  <etop-material-input [hidden]="!format_money" style="cursor: text" placeholder="Giá sản phẩm"
                                       textLabel="Giá sản phẩm" appearance="outline" type="custom"
                                       [(ngModel)]="item.product.o_data.retail_price" (click)="formatMoney()">
                    <span class="text-primary font-weight-bold">
                      {{item.product.retail_price | vnd}}đ
                    </span>
                  </etop-material-input>
                </ng-template>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <etop-material-input placeholder="Loại sản phẩm" textLabel="Loại sản phẩm" appearance="outline"
                                     type="select" [optionSelect]="productTypes" [(ngModel)]="item.product.product_type">
                </etop-material-input>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <etop-material-input textLabel="Mô tả" placeholder="Mô tả" type="text-area"
                                 [(ngModel)]="item.product.o_data.short_desc">
            </etop-material-input>
          </div>
        </div>
        <div class="actions p-0 pt-3">
          <button class="btn btn-primary" (click)="updateProductInfo()"><span class="align-middle">Cập nhật thông tin sản
              phẩm</span></button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Tab mở rộng">
      <div class="p-4">
        <div class="row mb-3">
          <div class="col-12 d-flex">
            <h5 class="mb-0 mr-3 wd-100">Tab Seller</h5>

          </div>
        </div>
        <div class="row mb-2">
          <div class="col-1">#</div>
          <div class="col-4 pl-0">Tên Tab</div>
          <div class="col-7 pl-0">Link nội dung</div>
        </div>
        <div class="row" *ngFor="let tab of descTabSeller; index as i">
          <div class="col-1 d-flex align-items-center">{{i + 1}}</div>
          <div class="col-4 pl-0">
            <etop-material-input placeholder="Tên" textLabel="Tên" appearance="outline" type="input"
                                 [(ngModel)]="descTabSeller[i].title">
            </etop-material-input>
          </div>
          <div class="col-6 pl-0">
            <etop-material-input placeholder="Link" textLabel="Link" appearance="outline" type="input"
                                 [(ngModel)]="descTabSeller[i].link">
            </etop-material-input>
          </div>
          <div class="col-1 pl-0 d-flex align-items-center text-right; cursor: pointer">
            <i class="fa fa-trash-o text-danger" aria-hidden="true" style="font-size: 16px; cursor: pointer;"
              (click)="delSellerTab(i)"></i>
          </div>
        </div>
        <div class="col-12 mt-3 pl-0">
          <button class="btn btn-primary btn-outline" (click)="addSellerTab()">Thêm tab</button>
        </div>
      </div>

      <div class="p-4 mb-4">
        <div class="row">
          <div class="col-12 d-flex">
            <h5 class="mb-3 mr-3 wd-100">Tab Merchant</h5>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-1">#</div>
          <div class="col-4 pl-0">Tên Tab</div>
          <div class="col-7 pl-0">Link nội dung</div>
        </div>
        <div class="row" *ngFor="let tab of descTabMerchant; index as i">
          <div class="col-1 d-flex align-items-center">{{i + 1}}</div>
          <div class="col-4 pl-0">
            <etop-material-input placeholder="Tên" textLabel="Tên" appearance="outline" type="input"
                                 [(ngModel)]="descTabMerchant[i].title">
            </etop-material-input>
          </div>
          <div class="col-6 pl-0">
            <etop-material-input placeholder="Link" textLabel="Link" appearance="outline" type="input"
                                 [(ngModel)]="descTabMerchant[i].link">
            </etop-material-input>
          </div>
          <div class="col-1 pl-0 d-flex align-items-center text-right; cursor: pointer">
            <i class="fa fa-trash-o text-danger" aria-hidden="true" style="font-size: 16px; cursor: pointer;"
              (click)="delMerchantTab(i)"></i>
          </div>
        </div>
        <div class="col-12 mt-3 pl-0">
          <button class="btn btn-primary btn-outline" (click)="addMerchantTab()">Thêm tab</button>
        </div>
        <div class="add-row text-right mt-4 pt-4 border-top">
          <button class="btn btn-primary ml-2" (click)="updateTab()">Cập nhật</button>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Chiết khấu">
      <div class="product-info p-3">
        <div class="row pt-2">
          <div class="col-12">
            <etop-material-input placeholder="eTop hoàn cho Shop (%)" textLabel="eTop hoàn cho Shop (%)"
                                 appearance="outline" [(ngModel)]="promotion" (change)="onChangePromtion()" type="input">
            </etop-material-input>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <div class="mb-1">CÁCH TÍNH CHIẾT KHẤU</div>
            <etop-material-input placeholder="Tính chiết khấu" textLabel="Tính chiết khấu" appearance="outline"
                                 type="select" [optionSelect]="commissionTypes" [(ngModel)]="depend_on"
                                 (ngModelChange)="onChangeDependOn()">
            </etop-material-input>
          </div>
          <div class="col-12 mt-3" *ngIf="depend_on == 'customer'">
            <etop-material-input placeholder="Thương hiệu" textLabel="Thương hiệu" appearance="outline"
                                 [(ngModel)]="group" (change)="onChangeDependOn()" type="input">
            </etop-material-input>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="mb-1">KHÁCH HÀNG MỚI (%)</div>
            <div class="row">
              <div class="col-6">
                <etop-material-input placeholder="Trực tiếp" textLabel="Trực tiếp" appearance="outline"
                                     [(ngModel)]="level1_direct_commission" (change)="onChangeCommission(level1_direct_commission)"
                                     type="input">
                  <div role="hint" *ngIf="level1_direct_commission">= {{onChangePrice('oldDirect') | vnd}}đ</div>
                </etop-material-input>
              </div>
              <div class="col-6 pl-0">
                <etop-material-input placeholder="Gián tiếp" textLabel="Gián tiếp" appearance="outline"
                                     [(ngModel)]="level1_indirect_commission" (change)="onChangeCommission(level1_indirect_commission)"
                                     type="input">
                  <div role="hint" *ngIf="level1_indirect_commission">= {{onChangePrice('oldIndirect') | vnd}}đ</div>
                </etop-material-input>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-1">KHÁCH HÀNG CŨ (%)</div>
            <div class="row">
              <div class="col-6">
                <etop-material-input placeholder="Trực tiếp" textLabel="Trực tiếp" appearance="outline"
                                     [(ngModel)]="level2_direct_commission" (change)="onChangeCommission(level2_direct_commission)"
                                     type="input">
                  <div role="hint" *ngIf="level2_direct_commission">= {{onChangePrice('newDirect') | vnd}}đ</div>
                </etop-material-input>
              </div>
              <div class="col-6 pl-0">
                <etop-material-input placeholder="Gián tiếp" textLabel="Gián tiếp" appearance="outline"
                                     [(ngModel)]="level2_indirect_commission" (change)="onChangeCommission(level2_indirect_commission)"
                                     type="input">
                  <div role="hint" *ngIf="level2_indirect_commission">= {{onChangePrice('newIndirect') | vnd}}đ</div>
                </etop-material-input>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 pt-2">
          <div class="col">
            <div class="d-flex">
              <div class="mb-1">GIỚI HẠN CHUYỂN ĐỔI KHÁCH HÀNG:</div>
              <div class="exchange ml-auto d-flex">
                <div class="checkbox">
                  <label><input type="checkbox" [(ngModel)]="onTypeCount" class="mr-2"
                      (change)="checkValue(onTypeCount)">Theo số lần</label>
                </div>
                <div class="checkbox ml-4">
                  <label><input type="checkbox" [(ngModel)]="onTypeTime" class="mr-2"
                      (change)="checkValue(onTypeTime)">Theo thời gian</label>
                </div>
              </div>

            </div>
            <div *ngIf="onTypeCount">
              <div class="mb-1 font-10">Theo số lần:</div>
              <div class="row">
                <div class="col">
                  <etop-material-input placeholder="Số lần" textLabel="Số lần" appearance="outline"
                                       [(ngModel)]="level1_limit_count" (change)="onChangeDependOn()" type="input">
                  </etop-material-input>
                </div>
              </div>
            </div>
            <div class="mt-2" *ngIf="onTypeTime">
              <div class="mb-1 font-10">Theo thời gian:</div>
              <div class="row">
                <div class="col pr-0">
                  <etop-material-input placeholder="Loại thời gian" textLabel="Loại thời gian" appearance="outline"
                                       type="select" [optionSelect]="durationType" [(ngModel)]="level1_limit_duration_type">
                  </etop-material-input>
                </div>
                <div class="col">
                  <etop-material-input [placeholder]="timeDisplay(level1_limit_duration_type)"
                                       [textLabel]="timeDisplay(level1_limit_duration_type)" appearance="outline"
                                       [(ngModel)]="level1_limit_duration" (change)="onChangeDependOn()" type="input">
                  </etop-material-input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="actions p-0 pt-3">
          <button class="btn btn-primary" (click)="update()"><span class="align-middle">Cập nhật chiết
              khấu</span></button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>
