etelecom-mobile-staff-management {
  height: calc(100% - var(--header-height));
}

::ng-deep.mobile-header-content{
  display: flex;
  align-items: center;
  .telecom-balance{
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2px;
  }
}

