<etop-table
  #customerTable [items]="customers" (requestNewPage)="loadPage($event)"
  [show_paging]="customers.length > 0 && showPaging">
  <ng-template #header let-liteMode="liteMode">
    <div class="row mobile-header">
      <div class="col text-left small-cell hide-768">
        <span class="table-header-text">Mã</span>
      </div>
      <div class="col text-left">
        <span class="table-header-text">Tên</span>
      </div>
      <div class="col text-left">
        <span class="table-header-text">Số điện thoại</span>
      </div>
      <div class="col text-left" *ngIf="!liteMode">
        <span class="table-header-text">Email</span>
      </div>
    </div>
    <!-- TODO: customer GROUP -->
  </ng-template>

  <ng-template #emptyItem>
    <div class="blank-page">
      <div>
        <img class="blank-img" src="assets/images/icon_trader.png" alt="empty list" />
      </div>
      <div class="info">
        <div class="text-bigger text-bold text-center m-2">
          {{emptyTitle}}
        </div>
      </div>
      <ng-container *ePermissions="['shop/customer:create']">
        <div *ngIf="!emptyResultFilter">
          <div>Bạn có thể thêm khách hàng trực tiếp hoặc thông qua tạo đơn hàng.</div>
          <div class="text-center mt-4">
            <button class="btn btn-primary btn-outline" (click)="gotoCreateOrder()" *ePermissions="['shop/order:create']">
              Tạo đơn hàng
            </button>
            <button class="btn btn-primary ml-3" (click)="createNewCustomer()">
              Thêm khách hàng
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #item let-customer="item" let-liteMode="liteMode">
    <div class="row table-row" webcall-customer-row [class.active]="customer.p_data.selected || customer.p_data.detailed"
      [customer]="customer" [liteMode]="liteMode" (click)="detail($event, customer)">
    </div>
  </ng-template>
</etop-table>

<etop-side-slider #customerSlider [width]="sliderWidth">
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
        <shared-dropdown-actions></shared-dropdown-actions>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
        Đóng<mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-template>

  <ng-container *ngIf="creatingNewCustomer; else editCustomer;">
    <webcall-create-customer-form (createCustomer)="getCustomers()"></webcall-create-customer-form>
  </ng-container>
  <ng-template #editCustomer>
    <ng-container *ngIf="showDetailCustomer; else multipleCustomers;">
      <webcall-single-customer-edit-form [customer]="selectedCustomers[0]"></webcall-single-customer-edit-form>
    </ng-container>
    <ng-template #multipleCustomers>
      <webcall-multiple-customer-edit-form></webcall-multiple-customer-edit-form>
    </ng-template>
  </ng-template>
</etop-side-slider>
