.sumary {
    border-top: 1px solid #f4f4f4;
  }
  
  .sumary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  
    &.total {
      background: rgba(0, 0, 0, 0.02);
      border-bottom: 1px solid #eee;
      padding: 0.5rem 1rem;
    }
  }
  
  .sumary-label {
    ion-icon {
      vertical-align: middle;
    }
  }

  etop-ion-input-format-number::ng-deep {
    ion-item.input-wrapper {
        padding: 0;
    }
  }