
  <div class="sumary" [formGroup]="orderForm">
    <div class="ion-padding-vertical" [ngClass]="{'ion-hide': !dropDown}">
        <ion-row class="sumary-item">
          <ion-col>Tạm tính</ion-col>
          <ion-col class="ion-text-right font-bold">
            {{(orderForm?.controls['basket_value']?.value || 0) | vnd}}đ
          </ion-col>
        </ion-row>
        <ion-row class="sumary-item">
          <ion-col>
            <span>Giảm giá</span>
          </ion-col>
          <ion-col>
            <etop-ion-input-format-number placeholder="Nhập giảm giá" formatNumberUnit="đ"
                                          formControlName="order_discount" cssClass="align-right text-default" (blur)="onBlur()"> 
            </etop-ion-input-format-number>
          </ion-col>
        </ion-row>
        <ng-container formArrayName="fee_lines">
          <ion-row class="sumary-item" *ngFor="let fee of feeLines.controls; let i = index">
            <ion-col>
              <span>{{fee?.value?.name}}</span>
            </ion-col>
            <ion-col [formGroupName]="i">
              <etop-ion-input-format-number class="summary-amount" placeholder="Nhập {{fee?.value?.name | lowercase}}"
                                            formatNumberUnit="đ" cssClass="align-right text-default" formControlName="amount" (blur)="onBlur()">
              </etop-ion-input-format-number>
            </ion-col>
          </ion-row>
        </ng-container>
      </div>
    <ion-row class="sumary-item total">
      <ion-col>
        <div class="sumary-label ion-flex">
          <ion-text style="margin-right: 0.5rem">Thành tiền</ion-text>
          <div (click)="showDropDown()" *ngIf="!dropDown">
            <ion-text color="primary">chi tiết </ion-text>
            <ion-icon class="text-primary" name="chevron-down-outline"></ion-icon>
          </div>
          <div (click)="showDropDown()" *ngIf="dropDown">
            <ion-text color="primary">thu gọn </ion-text>
            <ion-icon class="text-primary" name="chevron-up-outline"></ion-icon>
          </div>
        </div>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-text class="font-bold">
          {{(orderForm?.controls['total_amount']?.value || 0) | vnd}}đ
        </ion-text>
      </ion-col>
    </ion-row>
  </div>
