<div class="dialog-header">
  <div class="dialog-title">Truy cập Debug Mode</div>
  <div class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div class="dialog-body">
  <div class="client-section">
    <div class="mb-2 font-weight-bold">Chọn client cần truy cập</div>
    <mat-radio-group class="my-2" color="primary" [(ngModel)]="clientSelected">
      <ng-container *ngFor="let client of clients">
        <div class="my-1">
          <mat-radio-button [value]="client.value"  disableRipple>
            {{client.name}}
          </mat-radio-button>
        </div>
      </ng-container>
    </mat-radio-group>
  </div>
  <div class="my-2">Để xác thực việc đăng nhập vào Debug Mode. Vui lòng nhập mật khẩu Amin</div>
  <etop-material-input textLabel="Mật khẩu Admin" placeholder="Mật khẩu Admin" type="input"
                       keyboardType="password" autocomplete="new-password" [(ngModel)]="adminPassword">
  </etop-material-input>
</div>
<div class="dialog-footer">
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-2" (click)="closeDialog()">
      Bỏ qua
    </button>
    <button class="btn btn-primary" (click)="goToDebugMode()">
      Xác nhận
    </button>
  </div>
</div>

