<ion-header>
  <ion-toolbar>
    <ion-title>Tạo cửa hàng</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div class="ion-flex flex-column h-100">
      <div class="body-content">
        <div class="ion-padding-horizontal ion-padding-top font-bold">THÔNG TIN CƠ BẢN</div>
        <ion-list class="ion-padding-end">
          <ion-item>
            <ion-label>Tên cửa hàng *</ion-label>
            <ion-input placeholder="Tên cửa hàng" class="ion-text-end" [(ngModel)]="shop.name">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Website</ion-label>
            <ion-input placeholder="Website" class="ion-text-end" [(ngModel)]="shop.website_url">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Số điện thoại *</ion-label>
            <ion-input placeholder="Số điện thoại" class="ion-text-end" [(ngModel)]="shop.phone">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Email *</ion-label>
            <ion-input placeholder="Email" class="ion-text-end" [(ngModel)]="shop.email">
            </ion-input>
          </ion-item>
        </ion-list>
        <div class="ion-padding-horizontal ion-padding-top font-bold">NGÀNH HÀNG KINH DOANH</div>
        <ion-list class="ion-padding-end">
          <ion-item>
            <ion-label>Ngành hàng</ion-label>
            <ion-select placeholder="Chọn ngành hàng" okText="Chọn" cancelText="Đóng"
              [(ngModel)]="business_lines" (ionChange)="onChangeSurvey()">
              <ion-select-option value="{{business_lines.value}}" *ngFor="let business_lines of business">
                {{business_lines.text}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="business_lines == 'others'">
            <ion-label>Ngành khác *</ion-label>
            <ion-input placeholder="Nhập tên ngành hàng" [(ngModel)]="other_lines" class="ion-text-end">
            </ion-input>
          </ion-item>
        </ion-list>

        <div class="ion-padding-horizontal ion-padding-top font-bold">ĐỊA CHỈ CỬA HÀNG</div>
        <ion-list class="ion-padding-end">
          <ion-item>
            <ion-label>Tỉnh/Thành phố</ion-label>
            <ion-select placeholder="Tỉnh/Thành phố" okText="Chọn" cancelText="Đóng"
              [(ngModel)]="shop.address.province_code" (ionChange)="onProvinceSelected()">
              <ion-select-option value="{{province.code}}" *ngFor="let province of provinces">{{province.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Quận/Huyện</ion-label>
            <ion-select placeholder="Quận/Huyện" okText="Chọn" cancelText="Đóng"
              [(ngModel)]="shop.address.district_code" (ionChange)="onDistrictSelected()">
              <ion-select-option value="{{district.code}}" *ngFor="let district of districts">{{district.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Phường/Xã</ion-label>
            <ion-select placeholder="Phường/Xã" okText="Chọn" cancelText="Đóng" [(ngModel)]="shop.address.ward_code">
              <ion-select-option value="{{ward.code}}" *ngFor="let ward of wards">{{ward.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Địa chỉ</ion-label>
            <ion-input placeholder="Địa chỉ" class="ion-text-end" [(ngModel)]="shop.address.address1">
            </ion-input>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
  <ion-footer>
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="createShop()">
        Tạo cửa hàng
      </button>
    </div>
  </ion-footer>
