<div class="wrapper-login no-print">
  <div class="login-box">
    <div class="login-logo">
      <img src="/assets/images/logo_dual.png" alt="">
    </div>
    <div class="login-box-body p-0">
      <form role="form" class="form-horizontal p-0">
        <div class="p-3 text-center">
          <span class="font-weight-bold" style="font-size: 16px;">Xác minh địa chỉ email</span>
        </div>
        <div class="p-3 border-top">
          <div class="verify-wrapper">
            <div *ngIf="!error">
              <span class="mr-2">
                <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" *ngIf="loading"></i>
                <i class="fa fa-check-circle-o" aria-hidden="true" *ngIf="!loading"></i>
              </span>
              <span *ngIf="loading">Đang xác minh địa chỉ email</span>
              <span *ngIf="!loading">Địa chỉ email đã được xác minh!</span>
            </div>

            <div *ngIf="error">
              <span class="mr-2">
                <i class="fa fa-exclamation-triangle error-icon" aria-hidden="true"></i>
              </span>
              <span>{{errorMsg || 'Có lỗi xảy ra'}}</span>
            </div>
          </div>
        </div>
        <div class="p-3 border-top d-flex justify-content-end">
          <a class="btn btn-primary btn-signup" (click)="gotoDashboard()">
            <i class="fa fa-home mr-1" aria-hidden="true"></i>
            <span class="text-white">Về trang chủ</span>
          </a>
        </div>
      </form>
    </div>
    <!-- /.login-box-body -->
  </div>
</div>
