input {
  border-radius: 5px;
}

ion-header {
  border-bottom: 1px solid #f4f4f4;
}

.btn-change-pw {
    border-color: #3171e0;
    color: #fff;
    background: #3171e0;
    border: 1px solid !important;
    padding: 15px 20px;
    border-radius: 5px;
}