<ion-header>
  <ion-toolbar>
    <ion-title>Thiết lập cửa hàng</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content fullscreen>
  <div class="ion-text-center ion-padding">
    <div class="product-image">
      <img [src]="currentShop.image_url || 'assets/images/placeholder.png'" alt="">
      <ion-icon name="camera" class="icon-upload" (click)="takePicture()"
        *ePermissions="['shop/settings/shop_info:update']"></ion-icon>
    </div>
  </div>
  <div [formGroup]="shopInfo">
    <ion-list class="ion-padding-end">
      <ion-item>
        <ion-label position="fixed">Tên cửa hàng <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required class="ion-text-right"  type="text" placeholder="Tên cửa hàng" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Số điện thoại <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required class="ion-text-right" type="phone" placeholder="Số điện thoại"
        formControlName="phone">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Website</ion-label>
        <ion-input type="text" class="ion-text-right" placeholder="Website" formControlName="website_url"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Email</ion-label>
        <ion-input type="text" class="ion-text-right" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding-horizontal ion-padding-top font-14">Địa chỉ cửa hàng <ion-text color="danger">*</ion-text>
    </div>
    <ion-list class="ion-padding-end" *ngIf="loadData">
      <div class="ion-flex ion-align-items-end ion-padding-start ion-justify-content-between">
          <ion-label>Tỉnh/Thành phố</ion-label>
            <ionfabo-select-suggest
              position="fixed"
              [options]="provinces"
              [hasLabel]="false"
              formControlName="province_code"
              placeholder="Chọn tỉnh/thành phố"
              (ngModelChange)="onProvinceSelected()">
            </ionfabo-select-suggest>
          
        </div>
      <div class="ion-flex ion-align-items-end ion-padding-start ion-justify-content-between">
          <ion-label>Quận/huyện</ion-label>
          <ionfabo-select-suggest
            position="fixed"
            [options]="districts"
            [hasLabel]="false"
            formControlName="district_code"
            placeholder="Chọn quận/huyện"
            (ngModelChange)="onDistrictSelected()">
          </ionfabo-select-suggest>
      </div>
      <div class="ion-flex ion-align-items-end ion-padding-start ion-justify-content-between">
          <ion-label>Phường/xã</ion-label>
          <ionfabo-select-suggest
            position="fixed"
            [options]="wards"
            [hasLabel]="false"
            formControlName="ward_code"
            placeholder="Chọn phường/xã">
          </ionfabo-select-suggest>
      </div>
      <div  class="ion-flex ion-align-items-end ion-padding-start ion-justify-content-between">
        <ion-label>Địa chỉ</ion-label>
        <div>
          <ion-item lines="none">
            <ion-input placeholder="Địa chỉ" class="input-address"
            formControlName="address1">
            </ion-input>
          </ion-item>
        </div>
        
      </div>
      
      <div class="note text-primary font-12 ion-padding-bottom">*Lưu ý, đây không phải là địa chỉ lấy hàng.</div>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper ion-no-border" *ePermissions="['shop/settings/shop_info:update']">
  <ion-toolbar (click)="updateContactInfo()">
    <div class="footer-buttons ion-flex">
      <button type="submit" class="w-100 bg-topship text-white font-bold button-radius" >
        <span>Cập nhật</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>