<div *ngIf="notSupportedShipnow" class="unsupport-shipnow">
  <span class="mb-1">KHÔNG HỖ TRỢ</span>
  <span class="font-italic">*Vui lòng kiểm tra lại địa chỉ lấy hàng và giao hàng</span>
</div>
<ng-container *ngIf="!notSupportedShipnow">
  <div
    class="carrier-wrapper" [class.mb-4]="!shipServicesErrorMsg && !specialNote"
    *ngIf="fromWard && toWards?.length; else notEnoughInfo;">
    <ng-container *ngFor="let carrier of carriers; let i = index;">
      <div
        *ngIf="!carrier.loading && carrier?.services?.length"
        class="carrier-item" [class.active]="carrierHasSelectedService(carrier)">
        <div class="carrier-main-info">
          <div class="carrier-image">
            <img [src]="carrier?.logo" alt="">
            <img *ngIf="carrier?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
          </div>
          <span class="carrier-name" [class.from-topship]="carrier?.from_topship">{{carrier?.name | uppercase}}</span>
        </div>
        <div class="carrier-services">
          <div
            *ngFor="let service of carrier?.services; let j = index;"
            class="service-item" (click)="selectService(i, j)" [class.unavailable]="!service.is_available">
            <div class="text-left" *ngIf="!service?.is_available">{{service?.error_message}}</div>
            <ng-container *ngIf="service?.is_available">
              <div class="service-name">
                <mat-checkbox
                  color="accent" class="d-flex align-items-center"
                  [(ngModel)]="service.selected" style="pointer-events: none;">
                </mat-checkbox>
                <div class="pl-3">
                  <div class="text-left">{{service?.name}}</div>
                  <div class="service-fee">{{service?.fee | vnd}}đ</div>
                </div>
              </div>
              <div class="service-description text-left">
                <mat-icon>fiber_manual_record</mat-icon>
                {{service?.description}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <shop-shipping-service-options-placeholder *ngIf="carrier.loading">
      </shop-shipping-service-options-placeholder>
    </ng-container>
    <div class="carrier-item">
      <div class="carrier-main-info">
        <div class="carrier-image">
          <img src="assets/images/provider_logos/grab-s.png" alt="">
        </div>
        <span class="carrier-name">GRAB</span>
      </div>
      <div class="carrier-services">
        <div class="service-item unavailable">
          <div class="text-left">Đang phát triển</div>
        </div>
      </div>
    </div>
    <div class="carrier-connect-btn" (click)="toCarrierConnect()">+ Kết nối thêm nhà vận chuyển</div>
  </div>
  <ng-template #notEnoughInfo>
    <div class="text-center" style="margin-bottom: 1.5rem;">
      Vui lòng điền đầy đủ thông tin để kiểm tra gói dịch vụ
      <span *ngIf="!fromWard || !toWards?.length">: Thiếu Phường/Xã ở địa chỉ lấy/giao hàng</span>
    </div>
  </ng-template>
  <div class="p-3" *ngIf="shipServicesErrorMsg || specialNote">
    <div class="alert alert-warning" *ngIf="shipServicesErrorMsg" [class.mb-3]="!!specialNote">
      {{shipServicesErrorMsg}}
    </div>
    <div class="alert special-note" *ngIf="specialNote" [innerHTML]="specialNote | safeHtml"></div>
  </div>
</ng-container>
