.carrier-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  &:first-child {
    border-top: 1px solid #eee;
  }
  &.active {
    border: 1px solid var(--topship-color);
  }
}

.carrier-main-info, .carrier-services {
  align-self: stretch;
  display: flex;
}

.carrier-main-info {
  align-items: center;
  border-right: 1px solid #eee;
  padding: 1rem 1rem 1rem 1.5rem;
  width: 35%;
}

.carrier-services {
  align-items: flex-start;
  flex-direction: column;
  width: 65%;
}

.carrier-name {
  font-weight: 700;
  padding-left: 0.75rem;
  font-size: .9rem !important;
  color: #444;
  &.from-topship {
    color: var(--topship-color);
  }
}

.service-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  &:last-child {
    border-bottom: none;
  }
  &.unavailable {
    background: #f5f5f5;
    color: #888;
  }
}

.service-name {
  padding-right: 1rem;
  font-size: 1.1rem;
  width: 50%;
  display: flex;
  align-items: center;
}

.service-fee {
  font-weight: 700;
  text-align: left;
}

.service-description {
  padding-left: 1rem;
  width: 50%;
  font-size: .9rem;
  color: var(--default-color);
  display: flex;
  align-items: baseline;
  .mat-icon {
    width: 0.7rem;
    height: 0.7rem;
    font-size: 0.7rem;
    margin-right: 3px;
    color: var(--default-color);
  }
}

.circle-wrapper {
  width: 1.25rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
}

.special-note {
  background-color: var(--gray-color);
  text-align: left;
}

.carrier-connect-btn {
  cursor: pointer;
  color: var(--topship-color);
  padding: 0.6rem 1.6rem;
  border-bottom: 1px solid var(--gray-color);
  text-align: center;
}

.alert {
  margin-bottom: 0;
}

.unsupport-shipnow {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gray-color);
  color: var(--default-color);
  font-weight: 600;
  height: 300px;
}
