<ion-header>
  <ion-toolbar>
    <ion-title>Tài khoản</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button text=""></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content class="ion-flex">
  <div class="ion-padding box">
    <ion-grid>
      <ion-row class="ion-align-self-center">
        <ion-col size="3">
          <ion-avatar class="ion-margin-end">
            <img style="border: 1px solid #eee;" [src]="account.image_url || 'assets/images/placeholder.png'">
          </ion-avatar>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-label>
            <h2>{{user?.full_name}}</h2>
            <p>{{account?.name}}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="list-item box ion-margin-top">
    <div *ngFor="let item of listItems">
      <div class="item ion-flex ion-align-items-center" *ePermissions="item?.permissions" (click)="page(item.link)">
        <ion-icon *ngIf="item.icon" [color]="item?.color" [name]="item.icon" class="item-icon"></ion-icon>
        <div class="icon-text" *ngIf="item.icon_img">
          <img [src]="item.icon_img" alt="">
        </div>
        <ion-text>{{item.title}}</ion-text>
        <ion-icon class="ml-auto ion-align-self-center" name="chevron-forward-outline"></ion-icon>
        </div>
    </div>
    <div class="item e-border-bottom p-4 ion-flex" (click)="page('etop-trading')">
      <ion-icon name="storefront-outline" class="item-icon"></ion-icon>
      <span> Nguồn hàng & Dịch vụ</span>
      <span class="badge new">Mới</span>
      <ion-icon class="ml-auto ion-align-self-center" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
