.avatar {
  width: 50px;
  height: 50px;
  opacity: 0.6;
}

ion-header {
  border-bottom: 1px solid #f4f4f4;
}

.list-item {
  opacity: 0.8;
}

.item {
  padding: 1rem 16px;
  border-bottom: 0.045em solid rgba(0, 0, 0, .12);

  .badge.new {
    background: var(--ion-color-primary);
    color: white;
    margin-left: 0.5rem;
    font-weight: 500 !important;
    font-size: 12px;
    padding: 0.15rem 0.5rem;
  }

  .item-icon {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 1rem;
  }

  ion-text {
    vertical-align: middle;
  }
}

.box {
  box-shadow: 0 0 10px rgba(0, 0, 0, .12)
}

.icon-text {
  font-size: 15px;
  width: 20px;
  margin-right: 1rem;
  text-align: center;
}
