.carrier-img img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-gray-color);
  border-radius: 100%;
  object-fit: contain;
  object-position: center;
}

.carrier-name {
  font-size: 1.1rem;
  font-weight: 700;
}

.setting-footer {
  a {
    &:active, &:hover, &:link, &:visited {
      color: var(--primary-color)!important;
    }
  }
}

.connection-header {
  padding: .5rem 1rem;
  font-weight: 700;
  font-size: .9rem;
  color: #666;
  border-bottom: 1px solid var(--gray-color);
  background: var(--gray-color);
}

.box {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  border: 1px solid var(--gray-color);
}

.setting-box {
  margin-top: 1.25rem;
  &:last-child {
    margin-bottom: 1.25rem;
  }
}

.setting-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.setting-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-header, .setting-body {
  border-bottom: 1px solid var(--gray-color);
}

.setting-header, .setting-body, .setting-footer {
  padding: 1.5rem;
}
