<button
  class="btn btn-default {{actionOpt?.cssClass}}" [class.unclickable]="actionOpt?.disabled"
  [attr.data-toggle]="actionOpt?.isDropdown ? 'dropdown' : ''"
  (click)="handleClick()" [disabled]="actionOpt?.loading"
  [disableTooltip]="!actionOpt?.tooltips" [ngbTooltip]="actionOpt?.tooltips" placement="bottom">
  <i [ngClass]="actionOpt?.icon" *ngIf="actionOpt?.loading"></i>
  <span [innerHtml]="actionOpt?.title"></span>
  <ng-container *ePermissions="permissionsOfDropdownsArray">
    <i class="fa fa-caret-down ml-2" *ngIf="actionOpt?.isDropdown"></i>
  </ng-container>
</button>
<ng-container *ePermissions="permissionsOfDropdownsArray">
  <div *ngIf="actionOpt?.isDropdown" class="dropdown-menu">
    <ng-container *ngFor="let item of actionOpt?.dropdownItems">
      <button
        *ePermissions="item?.permissions" class="dropdown-item" (click)="handleClick(item)"
        [disableTooltip]="!item?.tooltips" [ngbTooltip]="item?.tooltips" placement="bottom" [class.unclickable]="item?.disabled">
        <span *ngIf="!item?.images || !item?.images.length">{{item?.title}}</span>
        <span *ngIf="item?.images && item?.images.length" class="dropdown-with-images">
          <span class="text">
            {{item?.title}}
            <ng-container *ngIf="item?.tags && item?.tags.length">
              <span *ngFor="let tag of item?.tags" class="tags">{{tag}}</span>
            </ng-container>
          </span>
          <span class="images">
            <span
              *ngFor="let image of item?.images" class="carrier-logo-wrapper" [class.disabled]="image?.unavailable">
              <img [src]="image?.url" alt="">
            </span>
          </span>
        </span>
      </button>
    </ng-container>
  </div>
</ng-container>
