:host {
  margin-right: 7px;
  &:last-child {
    margin-right: 0;
  }
}

.dropdown-with-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .text {

  }
  .images {
    margin-left: 15px;
  }
}

.tags {
  background: var(--topship-color);
  color: #fff;
  padding: 0 10px;
  font-size: 8px;
  border-radius: 10px;
  text-transform: uppercase;
  line-height: 14px;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}

.carrier-logo-wrapper {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 100%;
  margin-right: 3px;
  &:last-child {
    margin-right: 0;
  }
  &.disabled {
    background: #eee;
  }
  img {
    width: 100%;
  }
}

.dropdown-menu {
  transform: none !important;
  will-change: unset !important;
  left: unset !important;
  top: 45px !important;
  margin: 0 !important;
  padding: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
  border: 1px solid #fafafa;
  border-radius: 5px;
  .tags {
    position: relative;
    top: -10px;
  }
  .carrier-logo-wrapper {
    display: inline-flex;
  }
  .dropdown-item {
    padding: .8rem 1.25rem;
    outline: 0 !important;
    border-bottom: 1px solid var(--border-gray-color);
    &:active {
      background: initial;
    }
    &:first-child {
      border-radius: .25rem .25rem 0 0;
    }
    &:last-child {
      border-radius: 0 0 .25rem .25rem;
      border-bottom: none;
    }
  }
}
