<div class="d-flex justify-content-between">
  <div class="address-info">
    <div class="font-weight-bold mb-2">
      {{address.full_name}}
      {{address.phone ? (' - ' + address.phone) : ''}}
      {{address.position ? (' - ' + address.position) : ''}}
    </div>
    <div class="mb-2">{{formatAddress(address)}}</div>
    <div class="mb-2 d-flex align-items-center">
      <div class="mr-2">
        <label class="switch mb-0" data-toggle="collapse">
          <input
            type="checkbox"
            [checked]="currentShop.ship_from_address_id == address.id"
            [disabled]="currentShop.ship_from_address_id == address.id"
            (click)="setDefaultAddress(address, 'shipfrom')">
          <span class="slider-toggle round"></span>
        </label>
      </div>
      <span>Đặt làm địa chỉ mặc định</span>
    </div>
  </div>
  <shared-dropdown-actions
    [dropdownActions]="dropdownActions">
  </shared-dropdown-actions>
</div>
