.wrapper-filter {
  background: var(--lighter-gray-color);
  z-index: 6;
  .container {
    padding: 0;
    display: flex;
    max-width: 100% !important;
    padding: 0 15px !important;
  }
  border-bottom: 1px solid var(--border-gray-color);
}
.wrapper-rule {
  background: var(--white-color);
  border-bottom: 1px solid var(--border-gray-color);
  .container {
    position: relative;
    padding: 0 15px;
    max-width: 100% !important;
  }
}

.full-width {
  max-width: 100% !important;
  padding: 0 15px !important;
}

.action {
  position: absolute;
  height: 100%;
  display: flex;
  > .action-checkall {
    margin: auto;
  }
}
.dropdown-menu {
  z-index: 999;
  .dropdown-item{
    cursor: pointer;
    color: var(--dark-color);
    font-size: 12px;
  }
}
form.form-filter{
  width: calc(100% - 70px);
  button.dropdown-toggle{
    color: var(--dark-color);
    text-align: left;
    font-size: 12px;
    background: white;
    &::after{
      border-top-color: var(--border-gray-color);
      position: absolute;
      right: 15px;
      top: 13px;
    }
  }
  .input-group{
    border-radius: 5px;
    .dropdown-btn-wrapper{
      flex: 1 1;
      border-right: 1px solid var(--border-gray-color);
      position: relative;
      .dropdown-menu {
        transform: none !important;
        top: unset !important;
        left: unset !important;
        will-change: unset !important;
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
      }
    }
    input{
      border-right: 0;
      text-align: left;
    }
    &.search-group{
      float: left;
      width: calc(100% - 150px);
      .input-group-prepend{
        flex: 0 1 50%;
      }
      button{
        color: var(--dark-color);
        width: 100%;
      }
    }
  }
  .sort{
    #sort{
      border: solid 1px var(--border-gray-color);
      border-radius: 5px;
    }

    .dropdown-item {
      &:active {
        background-color: var(--border-gray-color);
      }
    }
  }
}

.filter-rule {
  border: 0;
  border-radius: 0 0 5px 5px;
  font-weight: 600;
  padding: 5px 0px;
  display: flex;
  min-height: 40px;
  flex-wrap: wrap;
  width: calc(100% - 60px);
  .rule {
    height: 25px;
    border-radius: 5px;
    padding: 0px 10px;
    position: relative;
    margin: 5px 10px;
    margin-left: 0;
    font-size: 12px;
    border: 1px solid var(--primary-color);
    font-weight: bold;
    color: var(--dark-color);
    line-height: 22px;
    background: var(--white-color);
  }
}


.hidden {
  display: none;
}

@media (max-width: 600px) {
  .search-group, .input-group-prepend {
    display: block;
    input {
      width: 100%;
      border-left: 0;
      border-top: 1px solid var(--border-gray-color);
      border-radius: .25rem !important;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
  .search-group {
    width: 100% !important;
  }
  .btn-filter {
    width: 100% !important;
    height: unset !important;
    margin-top: 10px;
  }
  .dropdown-opts {
    border-top: 1px solid var(--border-gray-color);
  }
}

.action {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
}


#btn-toggle-filter {
  position: fixed;
  height: 76px;
  width: 76px;
  left: 24px;
  bottom: 24px;
  padding: .75rem;
  z-index: 7;
  display: none;
  .icon-toggle-filter {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 24px;
    background: var(--primary-color);
    border-radius: .3125rem;
    cursor: pointer;
    i {
      color: white;
      margin: auto;
    }
  }
}
.hide-checkall {
  padding-right: 0 !important;
  > div {
    width: 100% !important;
    margin: 0 !important;
    > div.col-12 {
      padding: 0 !important;
    }
  }

  div.action {
    display: none;
  }
}

.time-filter {
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  my-date-picker {
    display: flex;
    flex: 1;
    input {
      height: 30px !important;
    }
    .selbtngroup {
      height: 30px !important;
    }
  }

  .icon-long-arrow {
    display: flex;
    flex: 0 0 32px;
    i {
      margin: auto;
    }
  }
}

.select-wrapper {
  margin-bottom: 10px;
  select {
    height: 35px;
    background-position-y: 5px;
  }
}

.sort-box {
  flex: 0;
}

@media (max-width: 767px) {
  #btn-toggle-filter {
    display: block;
    bottom: 0;
    left: 0;
  }
  .wrapper-filter {
    position: fixed;
    top: 50px;
    width: 100%;
    display: none;
  }
  .filter-group {
    padding-right: 0 !important;
    border-right: 0 !important;
  }
  .sort-group {
    padding: 0 !important;
    .btn-sort {
      display: none !important;
    }
  }
  .input-group-prepend {
    flex: 0 1 60% !important;
  }
  .action {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    .action-checkall {
      margin: auto;
    }
  }
}

.no-caret:after, .no-caret:before {
  display: none !important;
}

.current-rule {
  background: var(--primary-color) !important;
  color: white !important;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}
