<div class="modal-header">
  <h5 class="text-center modal-title font-14 w-100">Xuất excel đơn hàng</h5>
</div>
<div class="modal-body">
  <ng-container *ngIf="!ids.length; else selectedExport;">
    <label class="font-12 font-weight-bold mb-1">Ngày tạo</label>
    <div class="time-filter">
      <div class="d-flex align-items-center flex-fill">
<!--        <my-date-picker [options]="datePickerOpts" name="fromdate" [(ngModel)]="fromDate"></my-date-picker>-->
<!--        <span class="icon-long-arrow"><i class="fas fa-long-arrow-alt-right"></i></span>-->
<!--        <my-date-picker [options]="datePickerOpts" name="todate" [(ngModel)]="toDate"></my-date-picker>-->
      </div>
    </div>
    <label class="font-12 font-weight-bold mb-1">Trạng thái đơn hàng</label>
    <div class="select-wrapper">
      <select name="shipping_state_select" class="form-control font-12" [(ngModel)]="order_status">
        <option *ngFor="let option of order_status_options" [value]="option.value">{{option.name}}</option>
      </select>
    </div>
  </ng-container>
  <ng-template #selectedExport>
    <div class="mb-3">
      Bạn đang thao tác trên <strong>{{ids.length}}</strong> đơn hàng.
    </div>
  </ng-template>
  <label class="font-12 d-block" style="cursor: pointer;">
    <input type="checkbox" [(ngModel)]="delimiter">
    <span class="pl-2">Chọn phương án này nếu bạn không mở được file Excel trên thiết bị này</span>
  </label>
  <label class="font-12 d-block" style="cursor: pointer;">
    <input type="checkbox" [(ngModel)]="excel_compatible_mode">
    <span class="pl-2">Chọn phương án này nếu bạn không sử dụng Excel để mở file</span>
  </label>
</div>
<div *ngIf="display_progress && !exportLink" class="progress progress-bar-bottom" style="height: 5px; border-radius: 0;">
  <div
    class="progress-bar bg-aqua" [ngClass]="{'bg-danger': error_progress}" role="progressbar"
    [style.width.%]="progress_percent" [attr.aria-valuenow]="progress_percent"
    [attr.aria-valuemin]="0" [attr.aria-valuemax]="100">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="onCloseExportModal()">
    Bỏ qua
  </button>
  <button
    *ngIf="!exportLink"
    class="btn btn-primary" (click)="onConfirmExportExcel()" [disabled]="loading">
    <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
    Xuất excel
  </button>
  <a *ngIf="exportLink"
     class="btn btn-success text-white" [href]="exportLink">
    <i class="fa fa-arrow-circle-o-down"></i>
    Bấm vào đây để tải file
  </a>
</div>
