<div class="modal-header">
  <h5 class="modal-title">Thêm nhà cung cấp</h5>
  <button type="button" class="close" (click)="dismissModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label class="col-form-label">Tên nhà cung cấp*:</label>
    <input
      type="text" class="form-control font-weight-bold" placeholder="Tên nhà cung cấp*"
      [(ngModel)]="supplier.full_name">
  </div>
  <div class="form-group">
    <label class="col-form-label">Số điện thoại*:</label>
    <input
      type="text" class="form-control font-weight-bold" placeholder="Số điện thoại*"
      [(ngModel)]="supplier.phone">
  </div>
  <div class="form-group">
    <label class="col-form-label">Email:</label>
    <input
      type="text" class="form-control font-weight-bold" placeholder="Email"
      [(ngModel)]="supplier.email">
  </div>
  <div class="form-group">
    <label class="col-form-label">Tên doanh nghiệp:</label>
    <input
      type="text" class="form-control font-weight-bold" placeholder="Tên doanh nghiệp"
      [(ngModel)]="supplier.company_name">
  </div>
  <div class="form-group">
    <label class="col-form-label">Mã số thuế:</label>
    <input
      type="text" class="form-control font-weight-bold" placeholder="Mã số thuế"
      [(ngModel)]="supplier.tax_number">
  </div>
  <div class="form-group">
    <label class="col-form-label">Trụ sở chính:</label>
    <input
      type="text" class="form-control font-weight-bold" placeholder="Trụ sở chính"
      [(ngModel)]="supplier.headquater_address">
  </div>
  <div class="form-group">
    <label class="col-form-label">Ghi chú:</label>
    <input
      type="text" class="form-control font-weight-bold" placeholder="Ghi chú"
      [(ngModel)]="supplier.note">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="dismissModal()">Đóng</button>
  <button class="btn btn-primary text-white" (click)="createSupplier()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Tạo mới
  </button>
</div>
