.alert {
  margin: 0;
  width: 100%;
  height: 42px;
  border: 0;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF1E4;
  .msg {
    width: 100%;
    text-align: center;
    margin: auto 0;
  }
  i {
    font-size: 18px;
    color: var(--warning-color);
  }
}
.cod-info ion-text {
  text-align: center;
  display: block;
}
.cod-cost {
  padding-top: 10px;
  font-size: 1.6rem;
  font-weight: 700;
}
.cod-date {
  font-size: 13px;
}
.cod-history {
  text-align: center;
  margin: 15px;
  border-color: #e6e6e6 !important;
  border: 1px solid;
  color: var(--topship-color);
  padding: 10px 20px;
  border-radius: 5px;
}
.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}
.row-padding {
  padding: 0 15px 7px;
}
.bottom {
  display: block;
  width: 100%;
  z-index: 10;
  position: fixed;
  bottom: 0;
}

.box-content {
  border-bottom: 1rem solid rgba(0, 0, 0, 0.05);
}


.note {
  background: rgba(0, 0, 0, 0.04);
  margin: 0.75rem 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

ion-segment {
  z-index: 100;
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);

  ion-label {
    text-transform: none;
    color: var(--topship-color);
  }

  ion-segment-button {
    &.segment-button-checked {
      --color-checked: var(--topship-color);
    }
  }
}