<ion-header>
  <ion-toolbar>
    <ion-title>Đối soát TOPSHIP</ion-title>
  </ion-toolbar>
  <ion-segment mode="md" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment">
    <ion-segment-button *ePermissions="['shop/money_transaction:view']" mode="md" value="transaction">
      <ion-label>Phiên đối soát</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="setting">
      <ion-label>Số dư và thiết lập</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content >
  <ng-container *ngIf="segment == 'transaction'">
    <div class="alert alert-warning" (click)="transactionNote()">
      <ion-text class="msg">
        <ion-icon name="warning-outline"></ion-icon>
        Xem thông báo về việc đối soát
      </ion-text>
    </div>
    <div class="cod-info border-bottom p-b-20" *ngIf="estimatedTransfered && !loading ; else noTransation">
      <ion-text class="cod-cost">{{estimatedTransfered.total_amount | vnd}}đ</ion-text>
      <ion-text class="cod-date">Dự kiến chuyển vào: {{estimatedTransfered.estimated_transfered_at}} </ion-text>
    </div>
    <div class="cod-history" (click)="listMoneyTransactions()" *ngIf="moneyTransactions$ | async">
      Xem lịch sử đối soát
    </div>
    <ng-template #noTransation>
      <div class="cod-info border-bottom p-20 text-medium">
        <ion-text class="">Chưa có phiên đối soát.</ion-text>
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="segment == 'setting'">
      <div *ePermissions="['shop/settings/topship_balance:view']" class="box-content">
        <ion-item lines="none">
          <ion-label class="font-bold">SỐ DƯ THỰC TẾ</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="ion-text-center w-100">
            <strong style="font-size: 2rem">{{balance?.actual_balance || '0' | vnd}}đ</strong>
          </ion-text>
        </ion-item>
        <div class="note">
          Tổng tiền thu hộ <strong>đã thu thành công</strong> cấn trừ phí của các đơn giao hàng chưa đối soát.
        </div>
      </div>
      <div *ePermissions="['shop/settings/wallet_balance:view']" class="box-content">
        <ion-item lines="none">
          <ion-label class="font-bold">SỐ DƯ DỰ KIẾN</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="ion-text-center w-100">
            <strong style="font-size: 2rem">{{balance?.available_balance || '0' | vnd}}đ</strong>
          </ion-text>
        </ion-item>
        <div class="note">
          Tổng tiền thu hộ của <strong>tất cả đơn giao hàng</strong> (khác hủy) cấn trừ chi phí của các đơn hàng
          chưa đối soát.
        </div>
      </div>
      <div class="box-content">
        <div *ngIf="!shop?.bank_account">
          <div class="ion-text-center ion-margin-top">
            <ion-text class="ion-padding-top">
              Bạn chưa cập nhật thông tin ngân hàng
            </ion-text>
            <div class="p-20">
              <button class="btn btn-topship" (click)="changeBankAccount()">Cập nhật</button>
            </div>
          </div>
        </div>
        <div *ePermissions="['shop/settings/wallet_balance:view']">
          <ion-list *ngIf="shop?.bank_account">
            <ion-item>
              <ion-label class="font-bold">TÀI KHOẢN NGÂN HÀNG</ion-label>
              <ion-note *ePermissions="['shop/settings/bank_info:update']" slot="end" color="dark" (click)="changeBankAccount()">
                <strong class="text-topship">CHỈNH SỬA</strong>
              </ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Chủ tài khoản</ion-label>
              <ion-note slot="end" color="dark">{{shop.bank_account.account_name}}</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Số tài khoản</ion-label>
              <ion-note slot="end" color="dark">{{shop.bank_account.account_number}}</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Ngân hàng</ion-label>
              <ion-note slot="end" color="dark">{{shop.bank_account.name}}</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Chi nhánh</ion-label>
              <ion-note slot="end" color="dark">{{shop.bank_account.province}}</ion-note>
            </ion-item>
            <div class="note">
              *Thông tin số tài khoản, tên chủ tài khoản không chính xác sẽ dẫn đến chuyển khoản thanh toán không thành công
            </div>
          </ion-list>
        </div>
      </div>
      <div *ePermissions="['shop/settings/shop_info:view']">
        <div class="box-content" *ngIf="shop?.bank_account">
          <ion-item>
            <ion-label class="font-bold">LỊCH CHUYỂN KHOẢN</ion-label>
            <ion-note *ePermissions="['shop/settings/shop_info:update']" slot="end" color="dark" (click)="updateMoneyTransactionCalendar()">
              <strong class="text-topship">CHỈNH SỬA</strong>
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Lịch chuyển khoản</ion-label>
            <ion-note slot="end" color="dark"><strong>{{shop.money_transaction_rrule_display}}</strong></ion-note>
          </ion-item>
          <div class="note">
            *Thay đổi lịch chuyển khoản sẽ có tác dụng trong vòng 24h.
          </div>
        </div>
      </div>
  </ng-container>
</ion-content>
