<div class="col align-self-center" style="min-width: 20rem;">
  <div>
    <span class="text-bold text-primary">{{ticket?.code}}</span>
    <span class="lower-medium-font"> - {{ticket?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
  </div>
  <div class="lower-medium-font d-flex align-items-center">
    <span>{{ticket?.title}}</span>
  </div>
</div>
<div class="col align-self-center min-width-25rem" *ngIf="!liteMode">
  <div class="d-flex align-items-center">
    <div>
      <div class="text-bold">{{ticket?.shop?.code}} - {{ticket?.shop?.name}}</div>
      <div
        class="text-bold text-primary lower-medium-font d-inline-flex align-items-center"
        eCallButton="{{ticket?.shop?.phone}}">
        {{ticket?.shop?.phone}}&nbsp;
        <i class="text-primary fa fa-phone-square"></i>
      </div>
    </div>
  </div>
</div>
<div class="col align-self-center fix-line-3" style="white-space: pre-line;" *ngIf="!liteMode">
  {{ticket?.description || '-'}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{ticket?.assignedUsers[0]?.full_name || '-'}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{ticket?.closedByUser?.full_name || '-'}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <span class="status status-{{ticket?.state}}">
    {{ticket?.state_display}}
  </span>
</div>
