:host {
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  border-radius: 7px;
  height: 65px;

  &.active {
    border-left: 5px solid var(--primary-color);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.07);
    margin-left: -5px;
  }
}

.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.avatar {
  width: 35px;
  height: 35px;
}

.fix-line-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}