<div class="modal-header">
  <div class="modal-title">{{popoverTitle}}</div>
  <button class="close" (click)="close()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="py-2">
    <etop-material-input
      type="input" appearance="standard" textLabel="Tên" placeholder="Nhập tên"
      [(ngModel)]="address.full_name">
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-input
      type="input" appearance="standard" textLabel="Số điện thoại" placeholder="Nhập số điện thoại"
      [(ngModel)]="address.phone">
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-input
      type="input" appearance="standard" textLabel="Địa chỉ cụ thể" placeholder="Nhập địa chỉ cụ thể"
      [(ngModel)]="address.address1">
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-input-autocomplete
      appearance="standard" textLabel="Tỉnh thành" placeholder="Chọn tỉnh thành" [options]="provincesList"
      [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
      [(ngModel)]="address.province_code" (ngModelChange)="onProvinceSelected()">
    </etop-material-input-autocomplete>
  </div>
  <div class="py-2">
    <etop-material-input-autocomplete
      appearance="standard" textLabel="Quận huyện" placeholder="Chọn quận huyện" [options]="districtsList"
      [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
      [(ngModel)]="address.district_code" (ngModelChange)="onDistrictSelected()">
    </etop-material-input-autocomplete>
  </div>
  <div class="py-2">
    <etop-material-input-autocomplete
      appearance="standard" textLabel="Phường xã" placeholder="Chọn phường xã" [options]="wardsList"
      [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
      [(ngModel)]="address.ward_code" (ngModelChange)="onWardSelected()">
    </etop-material-input-autocomplete>
  </div>
</div>
<div class="modal-footer">
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-2" (click)="close()">Đóng</button>
    <button class="btn btn-primary" (click)="confirm()">{{confirmBtnTitle}}</button>
  </div>
</div>
