<div class="wrapper-filter pl-4" *ngIf="filters?.length">
  <div class="d-flex" [class.topship]="topshipFilter">
      <div class="d-flex">
        <ng-container *ngIf="query">
          <div class="pr-4">
            <etop-material-input
              textLabel="{{query.label}}" placeholder="{{query.label}}" type="input"
              (keyup.enter)="onSubmitQuery()"
              (blur)="onSubmitQuery()"
              [(ngModel)]="query.value">
            </etop-material-input>
          </div>
        </ng-container>
        <ng-container *ngFor="let option of filters">
          <div class="pr-4" *ngIf="option.show || option.fixed">
            <etop-material-input
              *ngIf="option.type == 'input'" type="input"
              [appearance]="'standard'"
              textLabel="{{option.label}}" placeholder="{{option.label}}"
              (keyup.enter)="onSubmitFilter()"
              (blur)="onSubmitFilter()"
              [(ngModel)]="option.value">
            </etop-material-input>
            <etop-material-input
              [appearance]="'standard'"
              *ngIf="option.type == 'select'" type="select"
              textLabel="{{option.label}}" placeholder="{{option.label}}"
              [displayMap]="option.displayMap" [valueMap]="option.valueMap"
              [optionSelect]="option.options" [matOptionHeight]="option.optionsHeight"
              [topshipInput]="topshipFilter"

              [(ngModel)]="option.value" (ngModelChange)="onSubmitFilter()">
            </etop-material-input>
            <etop-material-input
              *ngIf="option.type == 'datetime'" type="datetime"
              [appearance]="'standard'"
              textLabel="{{option.label}}" placeholder="{{option.label}}"
              [(ngModel)]="option.value" (ngModelChange)="onSubmitFilter()">
            </etop-material-input>
            <etop-material-input-autocomplete
              *ngIf="option.type == 'autocomplete'"
              [appearance]="'standard'"
              placeholder="{{option.label}}" textLabel="{{option.label}}" [options]="option.options"
              [displayMap]="option.displayMap" [valueMap]="option.valueMap"
              [(ngModel)]="option.value" (ngModelChange)="onSubmitFilter()">
            </etop-material-input-autocomplete>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="ml-auto" *ngIf="availableFilters?.length">
      <div class="d-flex align-items-center btn-sort position-relative">
        <mat-form-field appearance="outline">
          <mat-label>Chọn bộ lọc</mat-label>
          <mat-select multiple [formControl]="toppings" [panelClass]="{'topship': topshipFilter}"
            (selectionChange)="changeSelect($event.value)">
            <mat-select-trigger>
              <span *ngIf="toppings.value?.length > 0">Đang chọn: {{toppings.value[0].label}}</span>
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+ {{toppings.value.length - 1}} mục khác)
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let option of availableFilters" [value]="option">
              {{option.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
</div>
