.wrapper-filter {
  background: var(--white-color);
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid var(--gray-color);
}

.search-group {
  display: flex;
}

.input-group {
  display: flex;

  > .filter-input {
    &:first-child {
      border-radius: 5px 0 0 5px;
      border-right: none;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
      border-left: none;
    }
  }
}

.filter-group {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-input {
  position: relative;
  color: #444;
  background: white;
  height: 32px;
  min-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &::after {
    border-top-color: #aaa;
    position: absolute;
    right: 15px;
    top: 13px;
  }
}

.time-filter {
  display: flex;
  flex: 4;
  align-items: center;

  my-date-picker {
    flex: 1;
    height: 36px;
  }

  .icon-long-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 32px;

    > i {
      font-size: 1.5rem;
    }
  }
}

.sort-box {
  flex: 1;

  .dropdown-toggle {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    color: #444;
    text-align: left;
    font-size: 12px;
    background: #fff;
  }
}
