<div class="modal-header p-4">
  <h5 class="modal-title w-100 text-center">{{banner.title}}</h5>
  <button type="button" class="close">
    <span aria-hidden="true" style="font-size: 20px;" (click)="close()">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <img src="{{banner.img_url}}" alt="" class="w-100" style="cursor: pointer" (click)="gotoGuide(banner.url)">
</div>
