.delete-shop {
 max-width: 800px;
 margin: auto;
}

.section-box {
    background: #ffffff;
    .section-title{
        font-size: 1rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid var(--border-gray-color);
        padding: 1.5rem;
    }
    .section-content {
        padding: 0 1.5rem;
        .item-label {
            font-size:0.8rem;
            color: var(--default-color);
        }
        .item-value {
            font-weight: 500;
        }
        .item-number {
            font-weight: 700;
        }
        .action-line {
            padding: 1.5rem 0 ;
        }
        .border-line {
            border-top: 1px solid var(--border-gray-color);
        }
        .row {
            padding-bottom: 1rem;
        }
    }
}
.loading-icon {
 font-size: 1.2rem !important;
}

.mat-icon-warning {
    font-size: 2.5rem !important;
    height: 2.5rem !important;
    width: 2.5rem !important;
    margin-right: 1rem;
}