<div class="delete-shop">
    <div class="w-100 text-center mt-5">
        <div class="text-big text-bold p-3">
            XÓA CÔNG TY
        </div>
        <div class="text-big pb-5">
            Công ty  {{account?.display_name}}
        </div>
    </div>
    <div *ngIf="loading" class="d-flex align-items-center justify-content-center p-2 font-12" style="color: #777;">
        <mat-spinner class="mr-2" diameter="14" *ngIf="loading"></mat-spinner>
        <span class="font-12 ml-2">Đang tải...</span>
      </div>
    <div class="m-auto p-3">
        <div class="text-danger bg-danger-light d-flex align-items-center p-4">
            <mat-icon fontSet="material-icons-outlined" class="text-danger mat-icon-warning">warning</mat-icon>
            <div>Xoá công ty là hành động <strong>không thể hoàn tác (khôi phục)</strong>. Bạn sẽ không thể truy cập vào công ty bị xoá trong bất kỳ trường hợp nào. Vui lòng kiểm tra kỹ các thông tin và thực hiện các hành động được yêu cầu (nếu có) trước khi xoá công ty. </div>
        </div>
    </div>
    <div class="m-auto ">
        <div class="section-box box m-3">
            <div class="section-title">
                Thông tin công ty được xóa
            </div>
            <div class="section-content pt-5">
                <div class="row">
                    <div class="col">
                        <div class="item-label">Tên công ty</div>
                        <div class="item-value">{{account?.name || '-'}}</div>
                    </div>
                    <div class="col">
                        <div class="item-label">Số điện thoại liên hệ</div>
                        <div class="item-value">{{account?.phone || account?.shop?.phone || '-'}}</div>
                    </div>
                    <div class="col">
                        <div class="item-label">Hóa đơn đã phát sinh</div>
                        <div class="item-number">{{invoices$ | async}}</div>
                    </div>
                    <div class="col">
                        <div class="item-label">Nhân viên</div>
                        <div class="item-number">{{(relationships$| async) - 1}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="item-label">Mã công ty</div>
                        <div class="item-value">{{account?.code || account?.shop?.code  || '-'}}</div>
                    </div>
                    <div class="col">
                        <div class="item-label">Email liên hệ</div>
                        <div class="item-value">{{account?.email || account?.shop?.email || '-'}}</div>
                    </div>
                    <div class="col">
                        <div class="item-label">Máy nhánh đã tạo</div>
                        <div class="item-number">{{extensions$ | async}}</div>
                    </div>
                    <div class="col">
                        <div class="item-label">Lời mời chưa chấp nhận</div>
                        <div class="item-number">{{shopInvitations$ | async}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="item-label">Ngày tạo</div>
                        <div class="item-value" *ngIf="account?.created_at || account?.shop?.created_at">{{account?.created_at || account?.shop?.created_at | date:  'dd/MM/yyyy'}}</div>
                        <div class="item-value" *ngIf="!account?.created_at && !account?.shop?.created_at">-</div>
                    </div>
                    <div class="col">
                        <div class="item-label">website</div>
                        <div class="item-value">{{account?.shop?.website || '-'}}</div>
                    </div>
                    <div class="col">
                        <div class="item-label">Lịch sử cuộc gọi đã phát sinh</div>
                        <div class="item-number">{{callLogs$ | async}}</div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isActiveDelete" class="section-box box m-3">
            <div class="section-title">
                Hành động cần thực hiện trước khi xóa công ty
            </div>
            <div class="section-content">
                <div *ngIf="((relationships$| async) - 1) > 0" class="action-line d-flex justify-content-between align-items-center">
                    <div>1. Gở nhân viên đang có quyền quản trị</div>
                    <button class="btn btn-outline btn-danger" (click)="confirmRemoveStaff()">
                        Gỡ {{(relationships$| async) - 1}} nhân viên
                    </button>
                </div>
                <div *ngIf="(shopInvitations$ | async) && ((relationships$| async) - 1) > 0"
                    class="border-line"></div>
                <div *ngIf="(shopInvitations$ | async)" class="action-line d-flex justify-content-between align-items-center">
                    <span>{{((relationships$| async) - 1) > 0 ? '2. ' : '1. '}}Xóa các lời mời quản trị chưa được chấp nhận</span>
                    <button class="btn btn-outline btn-danger" (click)="confirmRemoveInvitation()">
                        Xóa {{shopInvitations$ | async}} lời mời
                    </button>
                </div>
            </div>
        </div>
        <div class="mx-3 my-5 d-flex justify-content-end">
            <button class="btn btn-default btn-outline mr-3" (click)="back()">Bỏ qua</button>
            <button class="btn {{isActiveDelete && !loading? 'btn-danger':'btn-default'}}"
                    (click)="confirmRemoveShop()" [disabled]="!isActiveDelete || loading">
                Xóa công ty
            </button>
        </div>
    </div>
</div>
