<div class="page-content h-100">
  <etop-table #productTable [items]="products" (requestNewPage)="onPagination($event)">
    <ng-template #header let-liteMode="liteMode">
      <div class="d-flex w-100" style="padding: 0 10px">
        <div class="col">
          <span class="font-10 text-left">SẢN PHẨM</span>
        </div>
        <div class="col text-center wd-120" *ngIf="!liteMode">
          <div class="font-10">DANH MỤC</div>
        </div>
        <div class="col anm-slide-right text-right wd-100 text-right">
          <span class="font-10">GIÁ GỐC</span>
        </div>
        <div class="col text-right wd-100" *ngIf="!liteMode">
          <span class="font-10 w-100">ETOP HOÀN <i class="fa fa-exclamation-circle" aria-hidden="true"
              style="cursor: pointer" placement="bottom" ngbTooltip="Số tiền eTop sẽ hoàn lại ngay lập tức vào số dư của khách sau khi khách hàng
              thanh toán thành công."></i></span>
        </div>
        <div class="col anm-slide-right text-right wd-120" *ngIf="!liteMode">
          <span class="font-10">DOANH THU ETOP</span>
        </div>
        <div class="col anm-slide-right text-right wd-120" *ngIf="!liteMode">
          <span class="font-10">ETOP CHIẾT KHẤU <i class="fa fa-exclamation-circle" aria-hidden="true"
              style="cursor: pointer" placement="bottom"
              ngbTooltip="Số tiền eTop chiết khấu cho bạn khi bán được sản phẩm."></i></span>
        </div>
        <div class="col wd-130 text-right">
          <span class="font-10">BẠN HOÀN</span>
        </div>
        <div class="col wd-100 text-right">
          <span class="font-10">BẠN NHẬN</span>
        </div>
      </div>

    </ng-template>
    <ng-template let-item="item" let-liteMode="liteMode" #item>
      <div class="d-flex" aff-product-row [item]="item" (updateProduct)="reloadProduct($event)"></div>
    </ng-template>
  </etop-table>
</div>

<aff-guide-link [handle]="handle"></aff-guide-link>
