<div class="no-print m-4 text-center">
  <button class="btn btn-primary" (click)="print()">Xem bản in</button>
</div>
<div class="print-wrapper" style="width: 580px;" *ngIf="paperSize == 'three104x22'">
  <div class="print-page d-flex align-items-center pt-2" *ngFor="let row of parsedData;">
    <div class="d-flex flex-column align-items-center code-fragment" *ngFor="let item of row">
      <div class="text-bold" *ngIf="showShopname">{{shopName | trimtoolong: 25}}</div>
      <div class="name" style="font-size: 11px;">{{item.name | trimtoolong: 32}}</div>
      <img class="barcode-img" [src]="item.svg" alt="">
      <div class="price" style="font-size: 14px;" *ngIf="showPrice">{{item.price | vnd}}đ</div>
    </div>
  </div>
</div>
<div class="print-wrapper" style="width: 620px;" *ngIf="paperSize == 'two72x22'">
  <div class="print-page d-flex align-items-center pt-2" *ngFor="let row of parsedData;">
    <div class="d-flex flex-column align-items-center code-fragment pr-2" *ngFor="let item of row">
      <div class="text-bold" *ngIf="showShopname">{{shopName | trimtoolong: 25}}</div>
      <div class="name">{{item.name | trimtoolong: 32}}</div>
      <img class="barcode-img" [src]="item.svg" alt="">
      <div class="price" *ngIf="showPrice">{{item.price | vnd}}đ</div>
    </div>
  </div>
</div>
<div class="print-wrapper" style="width: 620px;" *ngIf="paperSize == 'two74x22'">
  <div class="print-page d-flex align-items-center pt-2" *ngFor="let row of parsedData;">
    <div class="d-flex flex-column align-items-center code-fragment" *ngFor="let item of row">
      <div class="text-bold" *ngIf="showShopname">{{shopName | trimtoolong: 25}}</div>
      <div class="name">{{item.name | trimtoolong: 32}}</div>
      <img class="barcode-img" [src]="item.svg" alt="">
      <div class="price" *ngIf="showPrice">{{item.price | vnd}}đ</div>
    </div>
  </div>
</div>
<div class="print-wrapper" style="width: 1260px;" *ngIf="paperSize == 'twelve202x162'">
  <div class="print-page d-flex flex-wrap align-items-center" *ngFor="let row of parsedData;">
    <div class="d-flex flex-column align-items-center code-fragment pt-3" style="min-height: 228px; flex-basis: 30%;" *ngFor="let item of row">
      <div class="text-bold text-bigger" *ngIf="showShopname">{{shopName | trimtoolong: 25}}</div>
      <div class="name" style="font-size: 16px;">{{item.name | trimtoolong: 32}}</div>
      <img class="barcode-img" style="height: 130px;" [src]="item.svg" alt="">
      <div class="price" style="font-size: 16px;" *ngIf="showPrice">{{item.price | vnd}}đ</div>
    </div>
  </div>
</div>
<div class="print-wrapper" style="width: 1320px;" *ngIf="paperSize == 'sixtyfivea4'">
  <div class="print-page d-flex flex-wrap align-items-center mt-3" *ngFor="let row of parsedData;">
    <div class="d-flex flex-column align-items-center code-fragment pt-3" style="min-height: 125px; flex-basis: 18%;" *ngFor="let item of row">
      <div class="text-bold" *ngIf="showShopname">{{shopName | trimtoolong: 25}}</div>
      <div class="name">{{item.name | trimtoolong: 32}}</div>
      <img class="barcode-img" [src]="item.svg" alt="">
      <div class="price" *ngIf="showPrice">{{item.price | vnd}}đ</div>
    </div>
  </div>
</div>
<div class="print-wrapper" style="width: 580px;" *ngIf="paperSize == 'one75x10'">
  <div class="print-page d-flex align-items-center pt-1" *ngFor="let row of parsedData;">
    <div class="d-flex align-items-center code-fragment m-0" style="flex-basis: 55%;" *ngFor="let item of row">
      <div>
        <div class="text-bold text-small ml-4 mb-3" *ngIf="showShopname">{{shopName | trimtoolong: 25}}</div>
        <div class="text-small text-bold ml-5" *ngIf="showPrice">{{item.price | vnd}}đ</div>
      </div>
      <div>
        <div class="name" style="font-size: 7px;">{{item.name | trimtoolong: 32}}</div>
        <img class="barcode-img" style="height: 40px; width: 180px;" [src]="item.svg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="print-wrapper" style="width: 680px;" *ngIf="paperSize == 'one40x30'">
  <div class="print-page d-flex align-items-center pt-2" *ngFor="let row of parsedData;">
    <div class="d-flex flex-column align-items-center code-fragment" style="min-height: 150px;" *ngFor="let item of row">
      <div class="text-bold font-10" *ngIf="showShopname">{{shopName | trimtoolong: 25}}</div>
      <div class="name" style="font-size: 12px !important;">{{item.name | trimtoolong: 32}}</div>
      <img class="barcode-img" style="height: 100px; min-height: 100px" [src]="item.svg" alt="">
      <div class="price" style="font-size: 16px;" *ngIf="showPrice">{{item.price | vnd}}đ</div>
    </div>
  </div>
</div>
