<div class="col align-self-center">
      {{tenant?.name}}
</div>
<div class="col align-self-center">
    {{tenant?.domain }}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
    {{tenant?.created_at | date: 'dd/MM/yyyy'}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
    <span class="status status-{{tenant?.status}}">
      {{tenant?.status_display}}
    </span>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
    <div class="text-bold">{{tenant?.user?.full_name}} - {{tenant?.user?.phone}}</div>
    <div class="lower-medium-font">{{tenant?.user?.email}}</div>
</div>