.transaction-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px 0;
  border: 1px solid #f5f5f5;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.08);
}

.transaction-info {
  display: flex;
  flex-direction: column;
  padding: 0 7px;
  span {
    font-size: .9rem;
  }
}
