<div
  class="col align-self-center" style="max-width: 8rem;"
  [class.text-bold]="transaction?.is_today"
  [class.text-primary]="transaction?.is_today">
  <div class="small-font" *ngIf="transaction?.is_today">Hôm nay</div>
  <div class="small-font">{{transaction?.date | date: 'dd/MM/yyyy'}}</div>
  <div class="small-font">{{transaction?.day_display}}</div>
</div>
<div class="col align-self-center" style="max-width: 25rem;">
  <ng-container *ngIf="transaction?.vietcombank_transaction; else noVCB;">
    <div
      class="transaction-wrapper"
      (click)="viewDetailMtScheduledBank(transaction?.vietcombank_transaction, 'Vietcombank')">
      <div class="transaction-info">
        <span>Tổng tiền</span>
        <span class="font-weight-bold">{{transaction?.vietcombank_transaction?.total_amount | number}}đ</span>
      </div>
      <div class="transaction-info">
        <span>Giao dịch</span>
        <span class="font-weight-bold">{{transaction?.vietcombank_transaction?.bang_ke_lines?.length}}</span>
      </div>
      <div class="transaction-info">
        <span>Phiên shop</span>
        <span class="font-weight-bold">{{transaction?.vietcombank_transaction?.money_transactions?.length}}</span>
      </div>
    </div>
  </ng-container>
  <ng-template #noVCB>
    <i class="fa fa-minus"></i>
  </ng-template>
</div>
<div class="col align-self-center" style="max-width: 25rem;">
  <ng-container *ngIf="transaction?.techcombank_transaction; else noTCB;">
    <div
      class="transaction-wrapper"
      (click)="viewDetailMtScheduledBank(transaction?.techcombank_transaction, 'Techcombank')">
      <div class="transaction-info">
        <span>Tổng tiền</span>
        <span class="font-weight-bold">{{transaction?.techcombank_transaction?.total_amount | number}}đ</span>
      </div>
      <div class="transaction-info">
        <span>Giao dịch</span>
        <span class="font-weight-bold">{{transaction?.techcombank_transaction?.bang_ke_lines?.length}}</span>
      </div>
      <div class="transaction-info">
        <span>Phiên shop</span>
        <span class="font-weight-bold">{{transaction?.techcombank_transaction?.money_transactions?.length}}</span>
      </div>
    </div>
  </ng-container>
  <ng-template #noTCB>
    <i class="fa fa-minus"></i>
  </ng-template>
</div>
<div class="col align-self-center" style="max-width: 25rem;">
  <ng-container *ngIf="transaction?.other_bank_transaction; else noLNH;">
    <div
      class="transaction-wrapper"
      (click)="viewDetailMtScheduledBank(transaction?.other_bank_transaction, 'Liên ngân hàng')">
      <div class="transaction-info">
        <span>Tổng tiền</span>
        <span class="font-weight-bold">{{transaction?.other_bank_transaction?.total_amount | number}}đ</span>
      </div>
      <div class="transaction-info">
        <span>Giao dịch</span>
        <span class="font-weight-bold">{{transaction?.other_bank_transaction?.bang_ke_lines?.length}}</span>
      </div>
      <div class="transaction-info">
        <span>Phiên shop</span>
        <span class="font-weight-bold">{{transaction?.other_bank_transaction?.money_transactions?.length}}</span>
      </div>
    </div>
  </ng-container>
  <ng-template #noLNH>
    <i class="fa fa-minus"></i>
  </ng-template>
</div>
<div class="col align-self-center" style="max-width: 25rem;">
  <ng-container *ngIf="transaction?.summary_transaction; else noSum;">
    <div class="transaction-wrapper">
      <div class="transaction-info">
        <span>Tổng tiền</span>
        <span class="font-weight-bold">{{transaction?.summary_transaction?.total_amount | number}}đ</span>
      </div>
      <div class="transaction-info">
        <span>Giao dịch</span>
        <span class="font-weight-bold">{{transaction?.summary_transaction?.bang_ke_lines?.length}}</span>
      </div>
      <div class="transaction-info">
        <span>Phiên shop</span>
        <span class="font-weight-bold">{{transaction?.summary_transaction?.money_transactions?.length}}</span>
      </div>
    </div>
  </ng-container>
  <ng-template #noSum>
    <i class="fa fa-minus"></i>
  </ng-template>
</div>
<div class="col align-self-center">
  <ng-container *ngFor="let rrule of transaction?.rrules_applied">
    <div class="small-font" *ngIf="rrule">
      - {{rrule}}
    </div>
  </ng-container>
  <ng-container *ngIf="!transaction?.rrules_applied?.length">
    <i class="fa fa-minus"></i>
  </ng-container>
</div>
