<div class="modal-header">
  <h5 class="modal-title">Thêm nhân viên</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <etop-material-input textLabel="Tên nhân viên*" placeholder="Tên nhân viên*" type="input" class="mb-2"
    [(ngModel)]="newStaff.full_name">
  </etop-material-input>
  <etop-material-input textLabel="Số điện thoại*" placeholder="Số điện thoại*" type="input" class="mb-2"
    [(ngModel)]="newStaff.phone">
  </etop-material-input>
  <div style="position: relative;">
    <etop-material-input textLabel="Mật khẩu*" placeholder="Mật khẩu*" type="input" keyboardType="password" class="mb-2"
    [(ngModel)]="newStaff.password">
    </etop-material-input>
    <div class="icon-password">
      <span *ngIf="newStaff.password" class="mr-4" ngbTooltip="Giữ để hiển thị mật khẩu" placement="bottom" (mousedown)="showPassword()" (mouseup)="hidePassword()">
        <mat-icon style="font-size: 1.5rem !important;">visibility</mat-icon>
      </span>
      <span *ngIf="newStaff.password" (click)="copyInputMessage()"  ngbTooltip="Sao chép" placement="bottom">
        <mat-icon style="font-size: 1.5rem !important;">content_copy</mat-icon>
      </span>
    </div>
  </div>
  <etop-material-input placeholder="Chọn số tổng đài" textLabel="Số tổng đài" [optionSelect]="hotlinesOption"
    [(ngModel)]="newStaff.hotline_id" type="select">
  </etop-material-input>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button class="btn btn-primary text-white" (click)="createInvitation()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
    Thêm nhân viên
  </button>
</div>