<div  class="d-flex align-items-center mb-3 product-item" [class.active]="product.code === activeLine">
  <div class="text-center font-12 font-weight-bold" style="width: 65px">
    {{index + 1}}.
  </div>
  <div class="p-0 m-0" style="height: 50px">
    <label class="logo-upload m-0 border rounded"
           [style.background-image]="'url(' + (product.image || 'assets/images/placeholder_medium.png') + ')'">
      <div class="over-logo rounded m-0 p-0">
        <i class="fa fa-camera" aria-hidden="true"></i>
      </div>
      <div class="upload-loading m-0 p-0">
        <i class="fa fa-circle-o-notch fa-spin font-12" aria-hidden="true"></i>
      </div>
      <input accept="image/png,image/jpg,image/jpeg,image/gif" name="send_photo1" class="d-none" type="file"
             (change)="onChangeLogo($event, product)" />
    </label>
  </div>
  <div class="col p-0 pl-2 my-auto font-12">
    <div class="line-input-name">
      <input
        #inputName
        type="text" class="input-name" [class.error]="errorName"
        (focus)="onFocusInputName(product.code)" [(ngModel)]="product.name" placeholder="Tên sản phẩm"
        (keydown.enter)="onFocusPrice($event)" (keydown.tab)="onFocusPrice($event)">
      <div class="variant-btn" (click)="toggleAttribute()">
        <i class="fa fa-times remove-attribute" *ngIf="product.attributes[0]?.value"
           (click)="removeAttribute(product)">
        </i>
        {{product.attributes[0]?.value || 'Phiên bản'}} &#9660;
      </div>
      <div class="attribute-table" *ngIf="show_attributes">
        <div class="input-group">
          <select class="form-control attribute-name" name="attribute-name" [(ngModel)]="attribute_name">
            <option value="Màu sắc">Màu sắc</option>
            <option value="Kích thước">Kích thước</option>
            <option value="Chất liệu">Chất liệu</option>
            <option value="Khác">Khác</option>
          </select>
          <input
            type="text" class="form-control attribute-value" placeholder="Giá trị thuộc tính" name="attribute-value"
            [(ngModel)]="attribute_value" (keydown.enter)="setAttribute(product)" (keydown.esc)="toggleAttribute()">
          <div class="actions">
            <i class="fa fa-check add p-2" (click)="setAttribute(product)"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex mt-1">
      <div style="width: 20%;">
        <etop-currency-input
          #inputPrice
          class="input-price" [placeholder]="'Giá sản phẩm'"
          [classInner]="errorPrice ? 'error': ''" (focus)="onFocusInputPrice(product.code)"
          [align]="'left'" [posfixText]="'đ'" [(ngModel)]="product.price" (keydown)="onKeyDown($event, index)">
        </etop-currency-input>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center px-2">
    <button (click)="remove(index)" class="btn btn-sm btn-bg-none text-danger font-12">
      Xóa
    </button>
  </div>
</div>
