<div class="pos-line">
  <div class="card-header">
    <div class="d-flex align-items-center card-header-item">
      <div class="flex-grow-1 text-primary font-weight-bold header-title">
        KHÁCH HÀNG
      </div>
    </div>
  </div>
  <div class="d-flex bd-highlight">
    <div class="flex-grow-1 bg-white position-relative">
      <shared-select-multiline
        *ngIf="customers.length" [options]="customers" [(ngModel)]="customerIndex"
        (ngModelChange)="selectCustomer()" (searchChange)="initValue($event)"
        placeholder="Tìm theo tên hoặc số điện thoại" width="100%" style="height: 45px;"
        [showAddition]="showCreateCustomer" [showPlaceholderFirst]="true">
        <div *ePermissions="['shop/customer:create']" class='text-center m-auto text-primary' (click)="showAddCustomerModal()">
          Thêm khách hàng mới
        </div>
      </shared-select-multiline>
      <div *ngIf="!customers.length" class="text-center">
        <p class="no-customer m-auto py-3 text-default">Không tìm thấy khách hàng!</p>
        <div
          *ePermissions="['shop/customer:create']"
          class='add-customer text-center m-auto text-primary' (click)="showAddCustomerModal()">
          Thêm khách hàng mới
        </div>
      </div>
    </div>
  </div>
</div>
