<etop-table
  #stocktakeTable [items]="stocktakes" (requestNewPage)="loadPage($event)"
  [show_paging]="stocktakes.length > 0 && showPaging">
  <ng-template #header let-liteMode="liteMode">
    <div class="col text-left">
      <span class="table-header-text">Mã kiểm kho</span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Phương thức</span>
    </div>
    <div class="col text-right">
      <span class="table-header-text">Số SP</span>
    </div>
    <div class="col text-right">
      <span class="table-header-text">Số SP lệch</span>
    </div>
    <div class="col text-right">
      <span class="table-header-text">SL thực tế</span>
    </div>
    <div class="col text-right" *ngIf="!liteMode">
      <span class="table-header-text">Lệch tăng</span>
    </div>
    <div class="col text-right" *ngIf="!liteMode">
      <span class="table-header-text">Lệch giảm</span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Trạng thái</span>
    </div>
    <div class="col text-left" style="min-width: 20rem;" *ngIf="!liteMode">
      <span class="table-header-text">Ghi chú</span>
    </div>
  </ng-template>

  <ng-template #emptyItem>
    <etop-empty-page [title]="emptyTitle" [type]="emptyType" [actions]="emptyAction"
    description="Bạn có thể tạo phiếu kiểm kho trực tiếp tại đây."></etop-empty-page>
    <div class="blank-page">
      <div>
        <img class="blank-img" src="assets/images/icon_inventory.png" alt="empty list" />
      </div>
      <div class="info">
        <div class="text-bigger text-bold text-center m-2">
          {{emptyTitle}}
        </div>
      </div>
      <ng-container *ePermissions="['shop/stocktake:create']">
        <div *ngIf="!emptyResultFilter">
          <div>Bạn có thể tạo phiếu kiểm kho trực tiếp tại đây.</div>
          <div class="text-center mt-4">
            <button class="btn btn-primary" (click)="createStocktake()">
              Kiểm kho
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #item let-stocktake="item" let-liteMode="liteMode">
    <div
      class="row table-row" shop-stocktake-row [stocktake]="stocktake" [liteMode]="liteMode"
      (click)="detail($event, stocktake)" [class.active]="stocktake.p_data?.selected || stocktake.p_data?.detailed">
    </div>
  </ng-template>
</etop-table>

<etop-side-slider #slider>
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
        <shared-dropdown-actions></shared-dropdown-actions>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
        Đóng<mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-template>
  <ng-container *ngIf="selectedStocktakes?.length == 1">
    <shop-balance-detail
      *ngIf="selectedStocktakes[0]?.type == 'balance'" [balance]="selectedStocktakes[0]">
    </shop-balance-detail>
    <shop-discard-detail
      *ngIf="selectedStocktakes[0]?.type == 'discard'" [discard]="selectedStocktakes[0]">
    </shop-discard-detail>
  </ng-container>
</etop-side-slider>
