:host {
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;
  height: 100%;
}

.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.menu {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

@media (max-width: 1390px) {
  .menu {
    height: 22px;
  }

  .header-detail {
    .title {
      font-size: 1.1rem;
    }
  }
  .tab {
    padding: 0 12px;
    font-size: 11px;
  }
}

.cancel-btn {
  color: var(--danger-color);
  &.disabled, &:disabled {
    color: var(--default-color) !important;
    cursor: not-allowed !important;
    pointer-events: initial !important;
  }
}
