<ion-header>
    <ion-toolbar>
        <ion-title>Nhân viên</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end" class="button-icon" (click)="addStaff()" *ePermissions="['relationship/invitation:create']">
            <ion-icon name="add" mode="md" class="add-staff text-white"></ion-icon>
            <ion-text>Thêm</ion-text>
        </ion-buttons>
    </ion-toolbar>
    <shop-subscription-warning></shop-subscription-warning>
    <ion-segment mode="md" color="primary" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment">
        <ion-segment-button value="staff">
            <ion-label>Danh sách</ion-label>
        </ion-segment-button>
        <ion-segment-button value="waitting">
            <ion-label>Chờ phản hồi</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <ng-container *ngIf="segment == 'staff'">
        <ion-card class="has-padding" *ngFor="let relationship of relationships;">
            <etop-staff-management-row [staff]="relationship"></etop-staff-management-row>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="segment == 'waitting'">
        <ion-card *ngFor="let invitation of shopInvitations">
            <etop-user-invitation-row [invitation]="invitation" (cancelInvitation)="cancelInvitation()" *ePermissions="['relationship/invitation:view']">
            </etop-user-invitation-row>
        </ion-card>
        <div class="ion-flex m-auto h-100 ion-align-items-center" *ngIf="shopInvitations.length == 0">
            <span class="ion-text-center w-100">
        Cửa hàng của bạn chưa có lời mời nào.
      </span>
        </div>
    </ng-container>
</ion-content>