ion-card {
    margin: 16px 10px;
    &.has-padding {
        padding: 10px;
    }
}

ion-segment {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
    ion-label {
        text-transform: none;
    }
}

.button-icon {
    min-width: fit-content;
    background: var(--ion-color-primary);
    color: white;
    border-radius: 20px;
    padding: 0 1rem 0 0.75rem;
    min-height: 2.2rem;
    margin-right: 0.25rem;
    ion-icon {
        font-size: 1.2rem;
    }
    ion-text {
        font-size: 0.9rem;
    }
}