<div class="modal-header">
  <div class="modal-title big-font">
    Chặn user
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    Bạn có chắc muốn chặn user <strong class="text-primary">{{user?.full_name}}</strong>?
    Vui lòng nhập lý do chặn:
  </div>
  <div class="py-2">
    <etop-material-input
      textLabel="Lý do chặn" placeholder="Nhập lý do chặn" type="text-area"
      [(ngModel)]="block_reason">
    </etop-material-input>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button class="btn btn-danger" (click)="block()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Chặn
  </button>
</div>
