<div class="col align-self-center" style="min-width: 17.5%;">
  <div class="d-flex align-items-center">
    <div class="carrier-image">
      <img [src]="fulfillment?.shipping_provider_logo" alt="">
      <img *ngIf="fulfillment?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
    </div>
    <div class="d-flex flex-column align-items-start carrier-info">
      <span class="shipping-code" [class.text-primary]="fulfillment?.from_topship">
        {{fulfillment?.shipping_code}}
      </span>
      <div class="d-flex align-items-center flex-wrap carrier-name">
        <span class="text-bold" [class.text-primary]="fulfillment?.from_topship">
          {{fulfillment?.carrier_display | uppercase}}
        </span>
        &nbsp;({{fulfillment?.created_at | date: 'dd/MM/yyyy HH:mm'}})
      </div>
    </div>
  </div>
</div>
<div *ngIf="!liteMode" class="col align-self-center">
  <div class="text-bold">{{fulfillment?.shop?.code}} - {{fulfillment?.shop?.name}}</div>
  <div
    class="small-font text-bold text-primary d-flex align-items-center"
    eCallButton="{{fulfillment?.shipping_address?.phone}}">
    {{fulfillment?.shop?.phone}}&nbsp;
    <i class="text-primary fa fa-phone-square"></i>
  </div>
</div>
<div class="col align-self-center">
  <div class="order-status order-{{fulfillment?.shipping_state}}">
    {{fulfillment?.shipping_state_display}}
    <div class="small-font text-dark" *ngIf="fulfillment?.x_shipping_sub_state && fulfillment?.shipping_state != 'cancelled'">
      {{fulfillment?.x_shipping_sub_state}}
    </div>
  </div>
  <div *ngIf="showCancelReason" class="small-font text-default">
    Lý do: {{fulfillment?.cancel_reason}}
  </div>
</div>
<div class="col align-self-center">
  <div class="text-bold">{{fulfillment?.shipping_address?.full_name}}</div>
  <div
    class="small-font text-bold text-primary d-flex align-items-center"
    eCallButton="{{fulfillment?.shipping_address?.phone}}">
    {{fulfillment?.shipping_address?.phone}}&nbsp;
    <i class="text-primary fa fa-phone-square"></i>
  </div>
</div>
<ng-container *ngIf="!liteMode">
  <div class="col align-self-center">
    <div class="text-bold">{{fulfillment?.shipping_address?.province | locationCompact}}</div>
    <div class="small-font">{{fulfillment?.shipping_address?.district | locationCompact}}</div>
  </div>
  <div class="col align-self-center">
    <div class="text-bold text-left">{{fulfillment?.total_amount | number}}đ</div>
    <div class="small-font text-left">{{fulfillment?.include_insurance ? 'Có bảo hiểm' : 'Không bảo hiểm'}}</div>
    <div class="text-bold small-font text-left">{{fulfillment?.chargeable_weight | number}}g</div>
  </div>
</ng-container>
<div class="col align-self-center">
  <div class="text-bold text-left">
    {{fulfillment?.total_cod_amount | number}}đ
  </div>
  <div class="payment-status">
    <span
      class="lower-medium-font status-{{fulfillment?.etop_payment_status}}"
      [class.cursor-pointer]="hasMoneyTransaction"
      (click)="gotoMoneyTransactionDetail()">
      {{fulfillment?.etop_payment_status_display}}
      <i
        *ngIf="hasMoneyTransaction"
        class="fas fa-external-link-alt external-link-icon status-{{fulfillment?.etop_payment_status}}">
      </i>
    </span>
  </div>
</div>
<div *ngIf="!liteMode" class="col align-self-center">
  <div class="text-bold text-left">
    {{fulfillment?.shipping_fee_shop | number}}đ
  </div>
  <div class="payment-status">
    <span
      class="lower-medium-font status-{{fulfillment?.etop_payment_status}}"
      [class.cursor-pointer]="hasMoneyTransaction"
      (click)="gotoMoneyTransactionDetail()">
      {{fulfillment?.etop_payment_status_display}}
      <i
        *ngIf="hasMoneyTransaction"
        class="fas fa-external-link-alt external-link-icon status-{{fulfillment?.etop_payment_status}}">
      </i>
    </span>
  </div>
</div>

