<nav aria-label="Page navigation example">
  <ul class="pagination mb-0">
    <li class="page-item" [class.disabled]="setting.previousDisabled" [class.topship]="topship">
      <a
        class="page-link"
        href="#" (click)="nav($event, -1)">
        <i class="fa fa-long-arrow-left"></i>
        Trang trước
      </a>
    </li>
    <li class="page-item" [class.disabled]="setting.nextDisabled" [class.topship]="topship">
      <a
        class="page-link"
        href="#" (click)="nav($event, 1)">
        Trang sau
        <i class="fa fa-long-arrow-right"></i>
      </a>
    </li>
  </ul>
</nav>

<div class="perpage" *ngIf="!setting.hidePerpage">
  <span>Hiển thị &nbsp;</span>
  <select (change)="perpageChanged($event.target.value)" class="pl-1">
    <option *ngFor="let item of perpage_array" [value]="item" [selected]="item == perpage">
      {{item}}
    </option>
  </select>
  <span>&nbsp; kết quả trên trang này</span>
</div>
