:host {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perpage {
  position: absolute;
  right: 2rem;
}

.page-link:focus {
  box-shadow: none !important;
}

.page-item {
  .page-link {
    color: var(--primary-color);
    .fa {
      color: var(--primary-color);
    }
  }
  &.topship {
    .page-link {
      color: var(--topship-color);
      .fa {
        color: var(--topship-color);
      }
    }
  }
  &.disabled {
    cursor: not-allowed;
    .page-link {
      pointer-events: none;
      color: var(--default-color) !important;
      .fa {
        color: var(--default-color) !important;
      }
    }
  }
}


.text-primary {
  .fa {
    color: var(--primary-color);
  }
  &:hover {
    color: var(--primary-color) !important;
  }
}
