<div class="content">
  <div class="">
    <div class="header e-border-bottom d-flex align-items-center">
      <div class="title w-100 text-center text-bigger">Cập nhật khách hàng</div>
      <div class="close ml-auto p-3 mr-2" (click)="close()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <div class="d-flex position-relative p-3">
      <div class="w-100">
        <div class="row">
          <div class="input-item col-12">
            <etop-material-input placeholder="Tên khách hàng*" textLabel="Tên khách hàng*"
              [(ngModel)]="customer.full_name" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input placeholder="Số điện thoại*" textLabel="Số điện thoại*" [(ngModel)]="customer.phone"
              type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input placeholder="Email" textLabel="Email" [(ngModel)]="customer.email" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input placeholder="Chọn giới tính" textLabel="Giới tính" [optionSelect]="genders"
              [(ngModel)]="customer.gender" type="select">
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input textLabel="Ngày sinh" placeholder="Ngày sinh" type="datetime"
              [(ngModel)]="customer.birthday">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input placeholder="Ghi chú" textLabel="Ghi chú" [(ngModel)]="customer.note" type="text-area">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
    <div class="customer-address">
      <faboshop-collapse [show]="false" [title]="'Địa chỉ khách hàng'">
        <div class="d-flex position-relative p-3">
          <div class="w-100">
            <div class="row">
              <div class="input-item col-6 pl-0">
                <etop-material-input placeholder="Tên đường, số nhà" textLabel="Nhập địa chỉ"
                                     [(ngModel)]="address.address1" type="input">
                </etop-material-input>
              </div>
              <div class="input-item col-6">
                <etop-material-input-autocomplete placeholder="Tỉnh/Thành phố" textLabel="Chọn tỉnh/thành phố"
                                     [options]="provinces" [(ngModel)]="address.province_code"  [displayMap]="displayMap" [valueMap]="valueMap"
                                     (ngModelChange)="provinceSelected()">
                </etop-material-input-autocomplete>
              </div>
              <div class="input-item col-6 pl-0">
                <etop-material-input-autocomplete placeholder="Quận/Huyện" textLabel="Chọn quận/huyện" [options]="districts"
                                     [(ngModel)]="address.district_code" (ngModelChange)="districtSelected()" [displayMap]="displayMap" [valueMap]="valueMap">
                </etop-material-input-autocomplete>
              </div>
              <div class="input-item col-6">
                <etop-material-input-autocomplete placeholder="Phường/Xã" textLabel="Chọn phường/xã" [options]="wards"
                                     [(ngModel)]="address.ward_code" [displayMap]="displayMap" [valueMap]="valueMap">
                </etop-material-input-autocomplete>
              </div>
            </div>
          </div>
        </div>
      </faboshop-collapse>
    </div>
    <div class="footer e-border-top p-3 d-flex justify-content-end">
      <button class="btn btn-default btn-outline" [disabled]="loading" (click)="close()">Đóng</button>
      <button class="btn btn-primary ml-3" [disabled]="loading" (click)="action(title)">
        <i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i>
        Cập nhật
      </button>
    </div>
  </div>
