.avatar {
  font-size: 2rem;
  margin-right: .5rem;
}

.user-name {
  font-size: 1.2rem;
}

.action {
  border-top: 1px solid #eee;
  .item {
    padding: 10px;

    ion-icon {
      margin-right: .5rem;
      font-size: 1.2rem;
      color: var(--ion-color-primary);
    }
    &:first-child {
      border-right: 1px solid #eee;
    }
  }
}