<div class="info" style="padding: 10px">
  <ion-gird>
    <ion-row>
      <ion-col class="ion-flex ion-align-items-center">
        <ion-icon name="person-circle-outline" class="avatar"></ion-icon>
        <div class="user-name font-bold">
          <div>{{invitation?.full_name}}</div>
        </div>
        <ion-icon name="trash-outline" class="ml-auto" color="danger" style="font-size: 1.2rem;" (click)="del()"
          *ePermissions="['relationship/invitation:delete']">
        </ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="pl-3 pr-0">
      <ion-col size="12" *ngIf="invitation.phone">
        <div>{{invitation?.phone }}</div>
      </ion-col>
      <ion-col *ngIf="invitation.email">
        <div>{{invitation?.email}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="pl-3 pr-0">
      <ion-col>
        <small>Vai trò:</small>
        <div class="font-bold">{{invitation?.roles_display}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="pl-3 pr-0">
      <ion-col>
        <div class="ion-flex ion-justify-content-between">
          <small>Link lời mời:</small>
          <div class="ion-flex ion-align-items-center" (click)="copyLink(invitation?.invitation_url)">
            <ion-icon name="copy-outline" color="primary" style="margin-right: 0.5rem"></ion-icon>
            <ion-text color="primary">Sao chép link</ion-text>
          </div>
        </div>
        <div class="font-bold">{{invitation?.invitation_url}}</div>
      </ion-col>
    </ion-row>
  </ion-gird>
</div>

<ion-row class="action">
  <ion-col size="6" class="item ion-flex ion-align-items-center ion-justify-content-center"
    (click)="shareLink(invitation?.invitation_url)">
    <ion-icon name="share-social-outline"></ion-icon>
    <ion-text color="primary">Chia sẻ</ion-text>
  </ion-col>
  <ion-col size="6" class="item ion-flex ion-align-items-center ion-justify-content-center" (click)="resendInvitation()">
    <ion-icon name="mail-outline"></ion-icon>
    <ion-text color="primary">Gửi lại {{invitation?.phone ? 'SMS' : 'Email'}}</ion-text>
  </ion-col>
</ion-row>

