<div class="hide-768 core-header">
  <ng-container *ngIf="(authStore.isAuthenticated$ | async)">
    <core-breadcrumb [menu]="activatedMenu"></core-breadcrumb>
    <div class="toolbar">
      <core-tab-options [tabs]="tabs"></core-tab-options>
      <div class="action-button-container" *ngIf="header_buttons.length > 0">
        <ng-container *ngFor="let btn of header_buttons">
          <core-header-button [button]="btn"></core-header-button>
        </ng-container>
      </div>
      <ng-container *eRoles="rolesOfActionsArray">
        <ng-container *ePermissions="permissionsOfActionsArray">
          <div class="action-button-container" *ngIf="actions.length > 0">
            <ng-container *ngFor="let action of actions">
              <ng-container *eRoles="action.roles">
                <ng-container *ePermissions="action.permissions">
                  <core-action-button [actionOpt]="action"></core-action-button>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="contents">
        <core-content-option [contentOption]="contents"></core-content-option>
      </ng-container>
      <core-notification-icon
        *ngIf="showNotificationIcon"
        [count]="notificationCount" [notifications]="notificationList" [loading]="loadingNotis"
        [accounts]="accounts" (loadMoreNotis)="requestMoreNotis($event)" (switchAccount)="filterNotisByAccount($event)"
        (viewAllNotis)="onViewAllNotis()" (navigate)="onReadNoti($event)">
      </core-notification-icon>
    </div>
    <core-user-info
    *ngIf="!isSingle"
    (goToSettings)="onGoToSettings()" (switchAccount)="onSwitchAccount($event)"
    [currentAccount]="currentAccount" [accounts]="accounts" [user]="user"
    [config]="config"
  >
  </core-user-info>
  <core-single-user-info
    *ngIf="isSingle"
    [accounts]="accounts" [user]="user" [showForgotPassword]="showForgotPassword"
    [currentAccount]="currentAccount"
    (goToSettings)="onGoToSettings()">
  </core-single-user-info>
  </ng-container>
</div>


<div class="show-768 header-container">
  <div class='header'>
    <div class="header-content">
      <div [innerHTML]="mobileContents"></div>
    </div>
    <div class='header-title'>{{activatedMenu?.name}}</div>
    <div class='header-actions'>
      <ng-container *ngFor='let action of actions'>
        <button *ePermissions='action?.permissions' [class.d-none]='action?.mobileHidden' class='btn btn-default btn-action {{action?.cssClass}}' (click)='action?.onClick()' >
          {{action?.title}}
        </button>
      </ng-container>
    </div>
  </div>


