.core-header{
  height: 100%;
  display: flex;
  border-bottom: 1px solid var(--gray-color);
}
.header-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--gray-color);
}

.toolbar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > * {
    height: 100%;

    &:last-child {
      border-right: none !important;
    }
  }
}

.action-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 10;
  width:100vw;
  .header {
    height: var(--header-height);
    width: 100%;
    padding: 0 1rem 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
    border-bottom: 1px solid var(--gray-color);
    z-index: 1000;
    .back-button {
      cursor: pointer;
      visibility: hidden;
      text-align: left;
    }
    @media screen and (min-width: 361px){
      .header-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 1.7rem;
        margin-left: -2rem;
      }
    }
    @media screen and (max-width: 360px){
      .header-title {
        font-size: 1.5rem;
      }
    }
    .header-actions {
      text-align: right;

      .btn-action {
        margin-left: .5rem;
      }
    }

  }
}

.hidden {
  visibility: hidden!important;
}
