.mat-icon {
  color: #bbb;
}

:host {
  &.active {
    .label-name {
      color: var(--primary-color);
      font-weight: 700;
    }
  }
}

.label-name {
  display: flex;
  align-items: center;
}

.color-square {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-right: 5px;
}

.transparent-color {
  background: linear-gradient(to top left, #fff calc(50% - 1px), #ff0000, #fff calc(50% + 1px) );
}

