<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <mat-icon class="mr-2 cursor-pointer" [matMenuTriggerFor]="moreOption">more_horiz</mat-icon>
    <mat-menu #moreOption="matMenu">
      <button mat-menu-item (click)="updateLabel()">Chỉnh sửa</button>
      <button
        *ngIf="!label?.children?.length" mat-menu-item
        class="text-danger" (click)="deleteLabel()">
        Xoá
      </button>
    </mat-menu>
    <div class="label-name">
      <div *ngIf="validateColor(label?.color)" [style.background]="label?.color" class="color-square"></div>
      <div *ngIf="!validateColor(label?.color)" class="color-square transparent-color"></div>
      {{label?.name}}{{label?.code ? ' | ' + label?.code : ''}}
    </div>
  </div>
  <mat-icon *ngIf="label?.children?.length">keyboard_arrow_right</mat-icon>
</div>
