<ion-header>
  <ion-toolbar>
    <ion-title class="text-medium">Chi tiết đơn hàng</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ePermissions="['shop/order:cancel']" [hidden]="!fulfillment">
      <ion-icon class="ion-color-light" name="ellipsis-horizontal" size="small" color="medium"
        (click)="presentActionSheet()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <etop-network-status></etop-network-status>
  <div class="details">
    <div class="etop-status etop-{{fulfillment?.shipping_state}}">{{fulfillment?.shipping_state_display}}</div>
    <div class="detail-section">
      <div class="header font-bold">Thông tin</div>
      <div class="ion-flex ion-justify-content-between">
        <div>
          <div class="text-medium">Mã đơn</div>
          <div>{{order?.code}}</div>
        </div>
        <div>
          <div class="text-medium">Thời gian tạo</div>
          <span>{{order?.created_at | date: 'dd/MM/yy HH:mm'}}</span>
        </div>
      </div>
    </div>
    <div class="detail-section">
      <div class="header font-bold">Khách hàng</div>
      <div class="ion-flex ion-justify-content-between">
        <div>
          <div class="text-medium">Tên khách hàng</div>
          <div>{{order?.customer?.full_name}}</div>
        </div>
        <div>
          <div class="text-medium">Số điện thoại</div>
          <span>{{order?.customer?.phone || '-'}}</span>
        </div>
      </div>
    </div>
    <div class="detail-section">
      <div class="header font-bold ion-flex ion-justify-content-between" (click)="toggleList()">
        <span>Sản phẩm ({{order?.total_items}})</span>
        <span>
          <ion-icon class="ion-padding-start icon-header" name="chevron-{{!showList ? 'up' : 'down'}}-outline"></ion-icon>
        </span>
      </div>
      <div *ngIf="showList" class="m-b-5">
        <div class="item ion-flex ion-align-items-center ion-justify-content-between p-y-5" *ngFor="let line of order?.lines">
          <div class="ion-flex ion-align-items-center m-r-5">
            <div class="font-14" style="min-width: fit-content;margin-right: 1rem">{{line?.quantity}}  x</div>
            <div>
              <div class="fix-line-1">{{line?.product_name}}</div>
              <div class="small-font text-medium">
                <ion-text *ngIf="line?.code">{{line?.code}} - </ion-text>
                <ion-text>{{line?.retail_price | vnd}}đ</ion-text>
              </div>
            </div>
          </div>
          <div class="ion-color-medium">{{line?.retail_price * line?.quantity | vnd}}đ</div>
        </div>
        <div class="ion-flex ion-justify-content-between p-y-2">
          <div class="text-medium font-12">Tạm tính</div>
          <div>{{order?.basket_value || 0 | vnd}}đ</div>
        </div>
        <div class="ion-flex ion-justify-content-between p-y-2">
          <div class="text-medium font-12">Giảm giá</div>
          <span class="text-danger" *ngIf="order?.total_discount > 0">-{{order?.total_discount | vnd}}đ</span>
          <span *ngIf="order?.total_discount == 0">0đ</span>
        </div>
        <div class="ion-flex ion-justify-content-between p-y-2">
          <div class="text-medium font-12">Phụ phí</div>
          <div>{{order?.total_fee || 0 | vnd}}đ</div>
        </div>
        <div class="ion-flex ion-justify-content-between p-y-2">
          <div class="text-medium font-12">Tổng cộng</div>
          <span class="font-bold">{{order?.total_amount || 0 | vnd}}đ</span>
        </div>
      </div>
    </div>
    <div class="detail-section">
      <div class="header font-bold ion-flex ion-justify-content-between p-y-5" (click)="togglePayment()">
        <span>Giao hàng</span>
        <span>
          <ion-icon class="ion-padding-start icon-header" name="chevron-{{!paymentDisplay ? 'up' : 'down'}}-outline"></ion-icon>
        </span>
      </div>
      <div *ngIf="paymentDisplay">
        <ng-container *ngIf="fulfillment; else empty">
          <ion-grid class="ion-no-padding section">
            <ion-row class="ion-padding-bottom">
              <ion-col>
                <ion-label>Mã giao hàng</ion-label>
                <div class="font-bold">{{fulfillment?.shipping_code || '-'}}</div>
              </ion-col>
              <ion-col>
                <ion-label>Trạng thái</ion-label>
                <div class="font-bold">
                  <ion-icon name="ellipse" class="ffm-status {{order?.fulfillments[0]?.shipping_status}}"></ion-icon>
                  <ion-text>{{fulfillment?.shipping_state_display}}</ion-text>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding-bottom">
              <ion-col>
                <ion-label>Nhà vận chuyển</ion-label>
                <div class="ion-flex ion-align-items-center">
                  <img [src]="fulfillment?.shipping_provider_logo" alt="" class="provider-logo">
                  <ion-text>{{fulfillment?.carrier | uppercase}}</ion-text>
                </div>
              </ion-col>
              <ion-col>
                <ion-label>Gói vận chuyển</ion-label>
                <div>{{fulfillment?.shipping_service_name || '-'}}</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding-bottom">
              <ion-col>
                <ion-label>Khối lượng</ion-label>
                <div>{{fulfillment.chargeable_weight}}g</div>
              </ion-col>
              <ion-col>
                <ion-label>Thu hộ</ion-label>
                <div><strong>{{fulfillment?.total_cod_amount | vnd}}đ</strong></div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding-bottom">
              <ion-col>
                <ion-label>Giá trị khai báo</ion-label>
                <div *ngIf="!fulfillment.shipment?.insurance_value">-</div>
                <div class="font-bold" *ngIf="fulfillment.shipment?.insurance_value">{{fulfillment.shipment?.insurance_value | vnd}}đ</div>
              </ion-col>
              <ion-col>
                <ion-label>Lịch sử đơn hàng</ion-label>
                <div>
                  <a href="https://donhang.ghn.vn/?order_code={{fulfillment?.shipping_code}}&code={{fulfillment?.shipping_code}}"
                    target="_blank"
                    rel="noopener noreferrer">Xem chi tiết</a>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="ion-no-padding section">
            <ion-row class="ion-padding-bottom">
              <ion-col>
                <ion-label>Thời gian tạo</ion-label>
                <div>{{fulfillment?.created_at | date: 'dd/MM/yy HH:mm'  }}</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding-bottom">
              <ion-col>
                <ion-label>Dự kiến lấy</ion-label>
                <div>{{fulfillment?.estimated_pickup_at | date: 'dd/MM/yy HH:mm'}}</div>
              </ion-col>
              <ion-col>
                <ion-label>Dự kiến giao</ion-label>
                <div>{{fulfillment?.estimated_delivery_at | date: 'dd/MM/yy HH:mm' || '-'}}</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding-bottom">
              <ion-col>
                <ion-label>Ghi chú xem hàng</ion-label>
                <div>{{fulfillment?.try_on_display || '-'}}</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding-bottom">
              <ion-col size="6">
                <ion-label>Ghi chú giao hàng</ion-label>
                <div>{{fulfillment?.shipping_note || '-'}}</div>
              </ion-col>
              <ion-col size="6">
                <ion-label>Người trả phí</ion-label>
              <div>{{fulfillment?.shipment.shipping_payment_type == 'seller' ? 'Shop trả phí' : 'Khách trả phí'}} -
                {{fulfillment.shipment.shipping_service_fee | vnd}}đ</div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="ion-no-padding section">
            <ion-row class="ion-padding-bottom">
              <ion-col>
                <ion-label>Lấy hàng</ion-label>
                <div>
                  {{fulfillment?.pickup_address?.full_name}} - {{fulfillment?.pickup_address?.phone}}
                </div>
                <div style="opacity: 0.8">
                  {{fulfillment?.pickup_address?.address1}}
                  {{fulfillment?.pickup_address?.ward ? '- ' + (fulfillment?.pickup_address?.ward | locationCompact) : ''}}
                  - {{fulfillment?.pickup_address?.district | locationCompact}}
                  - {{fulfillment?.pickup_address?.province | locationCompact}}
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding-bottom">
              <ion-col>
                <ion-label>Giao hàng</ion-label>
                <div>
                  {{fulfillment?.shipping_address?.full_name}} - {{fulfillment?.shipping_address?.phone}}
                </div>
                <div style="opacity: 0.8">
                  {{fulfillment?.shipping_address?.address1}}
                  {{fulfillment?.shipping_address?.ward ? '- ' + (fulfillment?.shipping_address?.ward | locationCompact) : ''}}
                  - {{fulfillment?.shipping_address?.district | locationCompact}}
                  - {{fulfillment?.shipping_address?.province | locationCompact}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-padding-bottom">
              <ion-col>
                <ion-label>Người tạo</ion-label>
                <div>
                  {{order?.created_by}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
        <ng-template #empty>
          <ion-text>Chưa có đơn giao hàng</ion-text>
        </ng-template>
        
      </div>
    </div>
  </div>
</ion-content>
