<div class="bubbles-wrapper">
  <div class="loading" *ngIf="initializing">
    <mat-spinner diameter="20" color="primary"></mat-spinner>
  </div>
  <ng-container *ngIf="!initializing && !(activeTicketComments$ | async)?.length">
    <etop-empty-page title="Không có phản hồi"></etop-empty-page>
  </ng-container>
  <div
    *ngFor="let comment of activeTicketComments$ | async; let i = index;"
    class="bubble" [class.d-none]="initializing"
    [class.own-comment]="comment?.ownComment" [class.has-images]="comment?.image_url"
    id="{{comment?.id}}">
    <div class="bubble-content">
      <div
        *ngIf="comment?.sendingStatus"
        class="bubble-status" [class.text-primary]="comment?.sendingStatus == 'sending'">
        <mat-spinner diameter="15" *ngIf="comment?.sendingStatus == 'sending'"></mat-spinner>
        <mat-icon *ngIf="comment?.sendingStatus == 'error'" class="text-danger">error_outline</mat-icon>
      </div>
      <div class="comment-wrapper">
        <div class="comment-sender">{{comment?.createdByDisplay}}</div>
        <div class="comment-message">
          <img (click)="openImage(comment?.image_url)" *ngIf="comment?.image_url" class="comment-message-img" alt="" src="{{comment?.image_url}}">
          <span *ngIf="comment?.message" class="comment-message-text" [innerHTML]="comment?.message"></span>
        </div>
        <div class="comment-time">{{comment?.created_at | date: 'dd/MM/yyyy HH:mm'}}</div>
      </div>
    </div>
    <div *ngIf="comment?.sendingStatus == 'error'" class="bubble-retry" (click)="retryCreateTicketComment(comment)">
      <mat-icon>refresh</mat-icon>&nbsp;Gửi lại
    </div>
  </div>
</div>

<div class="message-footer" *ePermissions="['shop/shop_ticket_comment:view']">
  <div class="pre-upload-images" *ngIf="imageSources?.length">
    <div *ngFor="let image of imageSources; let i = index;" class="pre-upload-image-src">
      <img src="{{image?.src}}" alt="">
      <mat-icon class="remove-icon" (click)="onImageRemoved(i)">cancel</mat-icon>
    </div>
  </div>
  <div id="message-toolbar" [class.has-images]="imageSources?.length" style="align-items: center;">
    <div class="cursor-pointer d-flex">
      <input
        #imageMessageInput type="file" hidden accept="image/png,image/jpg,image/jpeg,image/gif" multiple
        (change)="onImageSelected($event)">
      <mat-icon class="toolbar-icons text-default" (click)="uploadImage()">crop_original</mat-icon>
    </div>
    <textarea
      id="chat-box" rows="1" style="flex: 1;" placeholder="Nhập tin nhắn"
      [(ngModel)]="textMessage" (ngModelChange)="onTextMessageChanged()" (keyup.enter)="createTicketComment()">
    </textarea>
    <div class="cursor-pointer d-flex">
      <mat-icon class="toolbar-icons text-primary" (click)="createTicketComment()">send</mat-icon>
    </div>
  </div>
</div>
