
<div class="modal-header">
  <h5 class="modal-title">{{announcement_content?.title}}</h5>
  <button class="close" (click)="dismissModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="content-wrapper" [innerHtml]="announcement_content?.content"></div>
</div>
<!--<div class="modal-footer">-->
<!--  <button class="btn btn-default btn-outline" (click)="dismissModal()">Đóng</button>-->
<!--</div>-->

