<div class="row mr-1">
  <div class="col-12 pr-0">
    <div class="box setting-box mt-0">
      <div class="setting-header">Địa chỉ lấy hàng</div>

      <div class="setting-body">
        <div *ngIf="!addressesFrom.length">
            Bạn chưa thiết lập địa chỉ lấy hàng
        </div>
        <div *ngFor="let address of addressesFrom">
          <shop-from-address
          [address]="address" (addressRemoved)="onRemoveAddress($event)">
        </shop-from-address>
        </div>
      </div>
      <div *ePermissions="['shop/settings/shipping_setting:update']" class="setting-footer">
        <div class="text-center text-primary cursor-pointer" (click)="openAddAddressForm('shipfrom')">
          Thêm địa chỉ lấy hàng
        </div>
      </div>
    </div>
  </div>
</div>
