<div class="delivery-info-header">Giao hàng</div>
<ng-container *ngIf="!connectionInitializing && !addressInitializing">
  <ng-container *ngIf="(loggedInConnections$ | async)?.length; else emptyConnection">
    <div class="delivery-address" [formGroup]="fulfillmentForm">
      <div class="d-flex align-items-baseline shipping-item">
        <div class="shipping-left-line">Thu hộ (COD)</div>
        <etop-material-input-format-number
          placeholder="Nhập thu hộ" appearance="standard" class="shipping-line"
          formatNumberUnit="đ" formControlName="cod_amount" (input)="onCodAmountInputed()" (blur)="changeCodAmount()">
        </etop-material-input-format-number>
      </div>
      <div class="d-flex align-items-baseline shipping-item">
        <div class="shipping-left-line">Giá trị khai giá</div>
        <etop-material-input-format-number
          appearance="standard" class="shipping-line" placeholder="Nhập giá trị khai báo hàng hóa"
          formatNumberUnit="đ" formControlName="insurance_value" (blur)="onInsurance()">
        </etop-material-input-format-number>
      </div>
      <div class="d-flex align-items-baseline shipping-item">
        <div class="shipping-left-line">Khối lượng (g)</div>
        <etop-material-input-format-number
          placeholder="Nhập khối lượng" appearance="standard" class="shipping-line"
          formatNumberUnit="g" formControlName="chargeable_weight" (blur)="changeChargeableWeight()">
        </etop-material-input-format-number>
      </div>
      <div class="d-flex align-items-baseline shipping-item">
        <div class="shipping-left-line">Mã khuyến mãi</div>
        <etop-material-input
          placeholder="Nhập Mã khuyến mãi" (blur)="onCoupon()" appearance="standard"
          formControlName="coupon" type="input" class="shipping-line">
        </etop-material-input>
      </div>
      <div class="d-flex align-items-baseline shipping-item">
        <div class="shipping-left-line">Dịch vụ</div>
        <div class="py-3 w-50 pr-2 shipping-line" *ngIf="to_ward_code && from_ward_code && !errorMessage">
          <etop-material-input
            appearance="standard"  placeholder="Chọn gói dịch vụ"
            type="select" [optionSelect]="carrierServices"
            formControlName="selected_service_unique_id"
            [displayMap]="displayMap" [valueMap]="valueMap" class="shipping-line">
          </etop-material-input>
        </div>
      </div>
      <div *ngIf="!from_ward_code" class="text-danger">Vui lòng chọn <strong>địa chỉ lấy hàng</strong> để xác định gói dịch vụ</div>
      <div *ngIf="!to_ward_code && from_ward_code" class="text-danger">Vui lòng nhập <strong>địa chỉ khách hàng</strong> để xác định gói dịch vụ</div>
      <div *ngIf="errorMessage && from_ward_code && to_ward_code" class="text-danger">{{errorMessage}}</div>
      <div class="d-flex align-items-baseline">
        <div style="flex:1">
          <span>Phí ship </span>
          <strong>{{fulfillmentForm.controls['shipping_service_fee'].value | vnd}}</strong>
        </div>
        <etop-material-input
          class="py-3 w-50 pr-2"
          placeholder="Chọn đối tượng trả phí" appearance="standard"
         type="select" [optionSelect]="tryOnOptionsShipping" formControlName="shipping_payment_type">
        </etop-material-input>
      </div>
      <div class="d-flex align-items-baseline shipping-item">
        <div class="shipping-left-line">Ghi chú xem hàng</div>
        <etop-material-input
          placeholder="Chọn ghi chú xem hàng" class="shipping-line"
          appearance="standard" type="select" [optionSelect]="tryOnOptions" formControlName="try_on">
        </etop-material-input>
      </div>
      <div class="d-flex align-items-baseline shipping-item">
        <div class="shipping-left-line">Ghi chú đơn hàng</div>
        <etop-material-input
          appearance="standard" class="shipping-line"  placeholder="Nhập ghi chú đơn hàng"
          type="input" formControlName="shipping_note" (blur)="onShippingNote()">
        </etop-material-input>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyConnection>
    <div class="empty">
      <div class="empty-title">
        Chưa kết nối nhà vận chuyển
      </div>
      <div class="empty-subtitle">
        Vui lòng kết nối Nhà vận chuyển để giao hàng
      </div>
      <button class="btn btn-primary empty-button" [disabled]="carrierConnecting" (click)="showCarriersList()">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="carrierConnecting"></i>
        Kết nối
      </button>
    </div>
  </ng-template>
</ng-container>
