//new css
.logo {
  width: 80px;
  height: auto;
}

.title {
  font-size: 32px;
  opacity: 0.7;
}

.box {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: var(--white-color);
}

.form-check-input {
  margin-top: 0.2rem !important;
  margin-left: -1.5rem !important;
}

.form-check-label {
  padding-left: 1rem !important;
  cursor: pointer;
}

.page-content {
  background-image: url('/assets/images/login-bg-opacity.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  min-height: 100vh;
}

.upload-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

.logo-img {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.default {
    background-size: 25px !important;
    border-radius: 5px;
  }

  .upload-loading {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: var(--white-color);
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .fa {
      color: var(--white-color);
      font-size: 1.15rem;
    }
  }
}
