<div class="page-content">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <img class="logo" src="assets/images/logo_medium.png" alt="etop-logo" />
    </div>
    <div>
      <button class="btn btn-primary btn-outline rounded-pill" (click)="signout()">Đăng xuất</button>
    </div>
  </div>
  <div>
    <div class="text-center pb-5">
      <p class="title">Tạo cửa hàng</p>
      <span>Khởi tạo cửa hàng đầu tiên để bắt đầu sử dụng các dịch vụ của eTop</span>
    </div>
    <div class="content-create" style="max-width: 1024px; margin: auto">
      <div class="box">
        <div class="box-head text-center p-3">
          <span class="big-font">Thông tin cửa hàng</span>
        </div>
        <div class="content">
          <div class="d-flex align-items-center">
            <div class="upload-img-wrapper">
              <input accept="image/png,image/jpg,image/jpeg,image/gif"
                     style="position: absolute;width: 100%;height: 100%;" type="file" id="logo-input"
                     class="custom-file-input" (change)="onFileSelected($event)">
              <div class="inline-block logo-img" [ngClass]="{'default': !shop.image_url}"
                   [ngStyle]="{backgroundImage: 'url(' + (shop.image_url || 'assets/images/photo-camera.svg') + ')'}">
                <div class="upload-loading" *ngIf="uploading">
                  <i class="fa fa-circle-o-notch fa-spin" style="font-size: 1rem;"></i>
                </div>
              </div>
            </div>
            <div class="row ml-2 w-100">
              <div class="col-11 col-sm-7 w-100">
                <etop-material-input
                  type="input" placeholder="Tên cửa hàng *" textLabel="Tên cửa hàng"
                  [(ngModel)]="shop.name" (change)="onChangeShopName()">
                </etop-material-input>
              </div>
              <div class="col-11 col-sm-5 w-100">
                <etop-material-input placeholder="Website" textLabel="Website" type="input">
                </etop-material-input>
              </div>
            </div>
          </div>
          <div class="row shop-info-section mt-4 py-3">
            <div class="col-12 pb-2">
              <strong>Người phụ trách&nbsp;</strong><span class="text-danger">*</span>
            </div>
            <div class="col">
              <etop-material-input
                type="input" placeholder="Họ và tên" textLabel="Tên người phụ trách"
                [(ngModel)]="shop.address.full_name">
              </etop-material-input>
            </div>
            <div class="col">
              <etop-material-input
                type="input" placeholder="Số điện thoại" textLabel="Số điện thoại"
                [(ngModel)]="shop.phone">
              </etop-material-input>
            </div>
            <div class="col">
              <etop-material-input
                type="input" placeholder="Email" textLabel="Email"
                [(ngModel)]="shop.email">
              </etop-material-input>
            </div>
          </div>
          <div class="row shop-info-section py-3">
            <div class="col-12 pb-2">
              <strong>Địa chỉ lấy hàng&nbsp;</strong><span class="text-danger">*</span>
            </div>
            <ng-container [formGroup]="locationForm">
              <div class="col-3">
                <etop-material-input-autocomplete
                  textLabel="Tỉnh thành" placeholder="Tỉnh thành"
                  [options]="provincesList$ | async" [displayMap]="displayMap" [valueMap]="valueMap"
                  formControlName="provinceCode">
                </etop-material-input-autocomplete>
              </div>
              <div class="col-3">
                <etop-material-input-autocomplete
                  textLabel="Quận huyện" placeholder="Quận huyện"
                  [options]="(districtsList$ | async) || []" [displayMap]="displayMap" [valueMap]="valueMap"
                  formControlName="districtCode">
                </etop-material-input-autocomplete>
              </div>
              <div class="col-3">
                <etop-material-input-autocomplete
                  textLabel="Phường xã" placeholder="Phường xã"
                  [options]="(wardsList$ | async) || []" [displayMap]="displayMap" [valueMap]="valueMap"
                  formControlName="wardCode">
                </etop-material-input-autocomplete>
              </div>
            </ng-container>
            <div class="col-3">
              <etop-material-input
                type="input" placeholder="Số nhà, hẻm, tên đường ..." textLabel="Địa chỉ"
                [(ngModel)]="shop.address.address1">
              </etop-material-input>
            </div>
          </div>
          <div class="row shop-info-section py-4">
            <div class="col-12 pb-2">
              <strong>Khung giờ lấy hàng lấy hàng </strong><span class="text-primary">*</span>
            </div>
            <div class="form-row open-time w-100 px-4 d-flex align-items-center">
              <div class="col-12 col-sm-2 col my-2 mr-4">
                <div class="form-check">
                  <label class="form-check-label" style="cursor: pointer;">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="morning"
                           (ngModelChange)="toggleSession()">
                    Buổi sáng
                  </label>
                </div>
              </div>
              <div class="col-12 col-sm-2 col my-2 mr-4">
                <div class="form-check">
                  <label class="form-check-label" style="cursor: pointer;">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="afternoon"
                           (ngModelChange)="toggleSession()">
                    Buổi chiều
                  </label>
                </div>
              </div>
              <div class="col-12 col-sm-2 col my-2 mr-4">
                <div class="form-check">
                  <label class="form-check-label" style="cursor: pointer;">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="evening"
                           (ngModelChange)="toggleSession()">
                    Buổi tối
                  </label>
                </div>
              </div>
              <div class="col-12 my-2 mr-4">
                <div class="input-time d-flex align-items-center">
                  <div class="form-check mr-4">
                    <label class="form-check-label" style="cursor: pointer;">
                      <input type="checkbox" class="form-check-input" [(ngModel)]="enter_time"
                             (ngModelChange)="toggleEnterTime()">
                      Nhập thời gian chính xác
                    </label>
                  </div>
                  <div class="d-flex justify-content-between">
                    <input class="flex-grow-1 mr-1 form-control" [hidden]="!enter_time" type="time"
                           [(ngModel)]="start_open_time" [ngClass]="{'error': error && !start_open_time}">
                    <input class="flex-grow-1 ml-1 form-control" [hidden]="!enter_time" type="time"
                           [(ngModel)]="end_open_time" [ngClass]="{'error': error && !end_open_time}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row shop-info-section py-4">
            <div class="col-12 pb-2">
              <strong>Giờ nghỉ trưa của cửa hàng </strong><span class="text-primary">*</span>
            </div>
            <div class="form-row lunch-break px-4">
              <form class="rest-time d-flex flex-column flex-sm-row align-items-sm-center">
                <div class="form-check my-2">
                  <label class="form-check-label" style="cursor: pointer;">
                    <input type="radio" class="form-check-input" name="lunch-break" [(ngModel)]="notLunchBreak" value='true'>
                    Không nghỉ trưa
                  </label>
                </div>
                <div class="form-check my-2 mr-4">
                  <label class="form-check-label" style="cursor: pointer;">
                    <input type="radio" class="form-check-input" name="lunch-break" [(ngModel)]="notLunchBreak" value='false'>
                    Có nghỉ trưa (Nhập giờ nghỉ trưa)
                  </label>
                </div>
                <div class="d-flex justify-content-between mb-0">
                  <input class="form-control flex-grow-1 mr-1" name="start_lunch_break"
                         [hidden]="notLunchBreak" type="time" [(ngModel)]="start_lunch_break"
                         [ngClass]="{'error': error && !start_lunch_break}">
                  <input class="form-control flex-grow-1 ml-1" name="end_lunch_break" [hidden]="notLunchBreak"
                         type="time" [(ngModel)]="end_lunch_break" [ngClass]="{'error': error && !end_lunch_break}">
                </div>
              </form>
            </div>
          </div>
          <div class="row shop-info-section py-4">
            <div class="col-12 pb-2">
              <strong>Ghi chú cho nhân viên giao nhận khi đến lấy hàng</strong>
            </div>
            <div class="form-row shipper-note">
              <form class="one-line-form d-flex flex-column align-items-sm-center flex-sm-row px-4">
                <div class="form-check my-2 mr-2">
                  <label class="form-check-label" style="cursor: pointer;">
                    <input class="form-check-input" name="call-option-on-boarding" [(ngModel)]="callOption" type="radio"
                           value="call">Gọi điện trước khi lấy hàng</label>
                </div>
                <div class="form-check my-2">
                  <label class="form-check-label" style="cursor: pointer;">
                    <input class="form-check-input" name="call-option-on-boarding" [(ngModel)]="callOption" type="radio"
                           value="no-call">Luôn
                    luôn có người, không cần gọi điện</label>
                </div>
              </form>
            </div>
          </div>
          <div class="row shop-info-section p-3">
            <div class="form-check">
              <label class="form-check-label" style="cursor: pointer;">
                <input class="form-check-input" type="checkbox" [(ngModel)]="shipping_policy_accept">
                <span>
                    Bằng việc thiết lập thông tin lấy hàng, tôi đồng ý với
                    <a [href]="getShippingPolicyLink" target="_blank" class="">chính sách giao nhận</a>
                    của TOPSHIP.</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-4 text-right">
        <button class="btn btn-primary rounded-pill px-5" (click)="confirm()"
                [disabled]="!shipping_policy_accept || loading">
          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          Tạo cửa hàng
        </button>
      </div>
    </div>
  </div>
</div>
