.line{
  padding:1.5rem;
  border-bottom: 1px solid var(--border-gray-color);
}


.fabo-toggle {
  input:checked+.slider-toggle {
    border: 1px solid #E67E22;
  }

  input:checked+.slider-toggle:before {
    background-color: #E67E22;
  }
}
