<div class="box setting-box">
  <div class="setting-header">Thiết lập thông báo</div>
  <div class="setting-body">
    <div *ngFor="let noti of notify_topics">
      <div class="line d-flex align-items-center">
        <div>
          <strong>{{noti?.title}}</strong>
          <div>{{noti.description}}</div>
        </div>
        <div class="ml-auto">
          <label class="switch mb-0" data-toggle="collapse">
            <input
              type="checkbox"
              [checked]="noti.enable"
              (click)="changeEnable(noti)">
            <span class="slider-toggle round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
