<ng-container *ngIf="(activeMtShops$ | async)?.length;">
  <div class="slider-detail-section">
    <div class="table-responsive">
      <table class="w-100">
        <thead>
        <tr>
          <th>Mã phiên</th>
          <th>Shop</th>
          <th class="text-right">Số đơn GH</th>
          <th class="text-right">Thu hộ</th>
          <th class="text-right">Còn lại</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of activeMtShops$ | async">
          <td>
            <div class="font-weight-bold text-primary">
              {{transaction?.code}}
            </div>
            <div class="small-font">{{transaction?.created_at | date: 'dd/MM/yy HH:mm'}}</div>
          </td>
          <td>
            <strong>{{transaction?.shop?.code}} - {{transaction?.shop?.name}}</strong>
          </td>
          <td>
            <div class="text-right">{{transaction?.total_orders}}</div>
          </td>
          <td>
            <div class="text-right">{{transaction?.total_cod | number}}đ</div>
          </td>
          <td>
            <div
              class="font-weight-bold text-right"
              [class.text-danger]="transaction?.total_amount < 0"
              [class.text-success]="transaction?.total_amount > 0">
              {{transaction?.total_amount | number}}đ
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">Tổng cộng</td>
          <td class="text-right font-weight-bold">{{sum_orders}}</td>
          <td class="text-right font-weight-bold">{{sum_cod | number}}đ</td>
          <td class="text-right">
            <strong
              class="font-weight-bold text-right"
              [class.text-danger]="sum_total_amount < 0"
              [class.text-success]="sum_total_amount > 0">
              {{sum_total_amount | number}}đ
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-3">
      <etop-material-input
        type="input" placeholder="Nhập ghi chú" textLabel="Ghi chú"
        [(ngModel)]="note">
      </etop-material-input>
    </div>
    <div class="text-right mt-3">
      <button class="btn btn-primary" [disabled]="loading" (click)="createMoneyTransactionEtop()">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
        Tạo phiên chuyển khoản
      </button>
    </div>
  </div>
</ng-container>
