<ng-content></ng-content>
<div class="col align-self-center">
  <div class="text-primary font-weight-bold">{{purchase_order?.code}}</div>
  <div style="font-size: 10px;">{{purchase_order?.created_at | date: 'HH:mm dd/MM/yyyy'}}</div>
</div>
<div class="col align-self-center">
  <div class="font-weight-bold" (click)="viewDetailSupplier()"
    [ngClass]="{'text-primary cursor-pointer': purchase_order?.supplier_id}">
    {{ purchase_order?.supplier?.full_name }}
    <i *ngIf="!purchase_order?.supplier?.deleted && purchase_order?.supplier_id" class="fas fa-external-link-alt external-link-icon"></i>
    <span class="font-weight-normal text-default ml-1 small-font" *ngIf="purchase_order?.supplier?.deleted">(Đã xoá)</span>
  </div>
  <div class="small-font">{{ purchase_order?.supplier?.phone }}</div>
</div>
<div class="col align-self-center text-right" style="max-width: 10rem;" *ngIf="!liteMode">{{purchase_order?.total_products || 0}}</div>
<div class="col align-self-center text-right" style="max-width: 10rem;" *ngIf="!liteMode">{{purchase_order?.total_items || 0}}</div>
<div class="col align-self-center text-right font-weight-bold">{{(purchase_order?.total_amount || 0) | vnd}}đ</div>
<div class="col align-self-center">
  <div class="order-status order-{{ purchase_order?.status }}">
    {{purchase_order?.status_display}}
  </div>
  <div *ngIf="purchase_order?.cancel_reason" class="small-font text-default" > Lý do: {{purchase_order.cancel_reason}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="order-status order-{{isPaymentDone ? 'P': 'Z'}}">
    {{isPaymentDone ? 'Đã hoàn thành': 'Chưa hoàn thành'}}
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="fa fa-minus" *ngIf="!purchase_order?.inventory_voucher?.code"></div>
  <div class="font-weight-bold text-primary" *ngIf="purchase_order?.inventory_voucher?.code"
    (click)="viewDetailVoucher()">
    {{purchase_order?.inventory_voucher?.code}}
    <i class="fas fa-external-link-alt external-link-icon"></i>
  </div>
</div>
