<div class="contact-item">
  <div class="contact-info">
    <img class="img-avatar" src="assets/images/default_ava.png" alt="">
    <div class="info">
      <div class="font-13"><strong>{{contact.phone}}</strong> - {{contact.lastname}}</div>
      <div class="name-store">{{contact.company}}</div>
    </div>
  </div>
  <div class="action-call">
    <a href="javascript:;" class="btn-call" eCallButton="{{contact.phone}}">Gọi</a>
  </div>
</div>

