:host {
  display: flex;
  &.active {
    background: #35baeb;
    color: #fff !important;
    .name-store {
      font-weight: 600;
      color: #fff;
    }
    .btn-call {
      background-color: #fff;
      color: #35baeb;
    }
  }
}

.img-avatar {
  width: 40px;
  margin-right: 7px;
  object-fit: contain;
  object-position: center;
}
.contact-item {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.contact-info {
  display: flex;
  align-items: center;
}
.info {
  flex: 1;
}
.name-store {
  color: #b1b3b2;
  font-size: 12px;
  font-weight: 500;
}

.btn-call {
  background-color: #fff;
  border: 1px solid #35baeb;
  padding: 5px 30px;
  text-decoration: none;
  color: #35baeb;
  border-radius: 15px;
  font-size: 12px;
}
