<div class="product-card-item">
  <div class="box-card">
    <div class="product-img"
      [style.background-image]="product?.bg_image"></div>
    <div class="product-quantity">Tồn: {{variantQuantity}}</div>
   <div class="product-price">{{product?.variants[0]?.retail_price | vnd}}đ</div>
  </div>
  <div class="product-name font-weight-bold" ngbTooltip="{{product.name}}" placement="top">{{product.name}}</div>
  <div class="error-product" *ngIf="product.variants.length == 0">
    Sản phẩm lỗi
  </div>
</div>

