<ion-header class="border-bottom" >
  <ion-toolbar>
    <ion-buttons slot="start" class="">
      <ion-icon name="chevron-back-outline" (click)="back()" ></ion-icon>
    </ion-buttons>
    <ion-title class="font-9">Hành trình đơn hàng</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <iframe [src]="'https://github.com/etopvn/one/issues/3259'" width="100%" class="h-100" [ngClass]="{'d-none': false}" frameBorder="0"
          ></iframe>
<!--  <div class="ion-flex border-vertical ion-padding-vertical">-->
<!--    <div class="carrier-logo">-->
<!--      <img src="{{fulfillment?.shipping_provider_logo}}" alt="" class="carrier-logo">-->
<!--    </div>-->
<!--    <div class="fulfillment-code">-->
<!--      {{fulfillment?.shipping_service_code}}-->
<!--    </div>-->
<!--    <div class="carrier-search-btn">-->

<!--    </div>-->
<!--  </div>-->
</ion-content>


