.border-bottom {
  border-bottom: 1px solid var(--ion-color-light-shade);
}

.carrier-logo {
  width: 40px;
  height: 30px;
  object-fit: contain;
  object-position: center;
  border: 1px solid #eee;
  //filter: grayscale(1);
}

.border-vertical {
  border-bottom: 1px solid var(--ion-color-light);
  border-top: 1px solid var(--ion-color-light);
}
