<div class="slider-detail-section" [formGroup]="shipmentServiceForm">
  <div class="row">
    <div class="col-6 py-2">
      <etop-material-input
        type="input" placeholder="Nhập mã gói" textLabel="Mã gói"
        formControlName="ed_code">
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input
        type="input" placeholder="Nhập tên gói" textLabel="Tên gói"
        formControlName="name">
      </etop-material-input>
    </div>
    <div class="col-12 py-2">
      <etop-material-input
        type="input" placeholder="Nhập mô tả" textLabel="Mô tả"
        formControlName="description">
      </etop-material-input>
    </div>
  </div>
</div>

<div class="slider-detail-section" [formGroup]="shipmentServiceForm">
  <h6 class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    KẾT NỐI
  </h6>
  <div class="row">
    <div class="col-3 py-2">
      <etop-material-input
        textLabel="Nhà vận chuyển" placeholder="Chọn nhà vận chuyển" type="select"
        [optionSelect]="connectionsList$ | async" matOptionHeight="4rem"
        [displayMap]="displayMap" [valueMap]="valueMap" formControlName="connection_id">
      </etop-material-input>
    </div>
    <div class="col-9 py-2">
      <etop-material-chips-autocomplete
        textLabel="Gói dịch vụ từ NVC" placeholder="Chọn gói dịch vụ từ NVC"
        [options]="(activeConnection$ | async)?.connection_services"
        formControlName="service_ids"
        [displayMap]="connectionServiceDisplayMap" [valueMap]="connectionServiceValueMap">
      </etop-material-chips-autocomplete>
    </div>
  </div>
</div>
<div class="slider-detail-section">
  <h6 class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    ĐỊA ĐIỂM KHẢ DỤNG
  </h6>

  <div class="row">
    <div class="col-6" [formGroup]="availablePickForm">
      <div class="d-flex align-items-center py-3">
        <i class="mr-2 far fa-circle text-primary"></i>
        <span class="text-bold text-primary">Lấy hàng</span>
      </div>
      <div class="py-2">
        <etop-material-input
          textLabel="Loại khả dụng" placeholder="Chọn loại khả dụng" type="select"
          [optionSelect]="filterTypes" formControlName="filter_type">
        </etop-material-input>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Miền {{labelPick}}" placeholder="Chọn miền {{labelPick}}"
          [options]="regions" formControlName="regions"
          [displayMap]="regionDisplayMap" [valueMap]="regionValueMap">
        </etop-material-chips-autocomplete>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Vùng {{labelPick}}" placeholder="Chọn vùng {{labelPick}}"
          [options]="customRegionsList$ | async" formControlName="custom_region_ids"
          [displayMap]="customRegionDisplayMap" [valueMap]="customRegionValueMap">
        </etop-material-chips-autocomplete>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Tỉnh {{labelPick}}" placeholder="Chọn tỉnh {{labelPick}}"
          [options]="provincesList$ | async" formControlName="province_codes"
          [displayMap]="provinceDisplayMap" [valueMap]="provinceValueMap">
        </etop-material-chips-autocomplete>
      </div>
    </div>
    <div class="col-6" [formGroup]="availableDeliverForm">
      <div class="d-flex align-items-center py-3">
        <i class="mr-2 fas fa-map-marker-alt text-primary"></i>
        <span class="text-bold text-primary">Giao hàng</span>
      </div>
      <div class="py-2">
        <etop-material-input
          textLabel="Loại khả dụng" placeholder="Chọn loại khả dụng" type="select"
          [optionSelect]="filterTypes" formControlName="filter_type">
        </etop-material-input>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Miền {{labelDeliver}}" placeholder="Chọn miền {{labelDeliver}}"
          [options]="regions" formControlName="regions"
          [displayMap]="regionDisplayMap" [valueMap]="regionValueMap">
        </etop-material-chips-autocomplete>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Vùng {{labelDeliver}}" placeholder="Chọn vùng {{labelDeliver}}"
          [options]="customRegionsList$ | async" formControlName="custom_region_ids"
          [displayMap]="customRegionDisplayMap" [valueMap]="customRegionValueMap">
        </etop-material-chips-autocomplete>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Tỉnh {{labelDeliver}}" placeholder="Chọn tỉnh {{labelDeliver}}"
          [options]="provincesList$ | async" formControlName="province_codes"
          [displayMap]="provinceDisplayMap" [valueMap]="provinceValueMap">
        </etop-material-chips-autocomplete>
      </div>
    </div>
  </div>
</div>
<div class="slider-detail-section">
  <div class="text-right py-2">
    <button class="btn btn-primary text-white" [disabled]="loading" (click)="createShipmentService()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Tạo
    </button>
  </div>
</div>
