<div
  [class.topship]="topshipInput && !error" [class.error]="error"
  [class.no-padding]="format_number" [class.disabled]="disabled">
  <mat-form-field [appearance]="appearance || 'outline'">
    <mat-label *ngIf="textLabel">{{textLabel}}</mat-label>
    <input
      [class.d-none]="format_number"
      matInput #input="matInput" type="number" placeholder="{{placeholder}}"
      [(ngModel)]="value" autocomplete="off" [min]="min" [disabled]="disabled"
      (blur)="formatNumber(); blur.emit()" (ngModelChange)="changeValue()">
    <div
      (click)="formatNumber()" class="text-bold number-formatted" [class.d-none]="!format_number"
      [class.text-primary]="!error && !topshipInput"
      [class.text-topship]="!error && topshipInput"
      [class.text-danger]="error">
      {{value | number}}{{formatNumberUnit}}
    </div>
    <mat-hint>
      <ng-content select="div[role=hint]"></ng-content>
    </mat-hint>
    <mat-icon
      class="text-danger cursor-pointer" *ngIf="error"
      ngbTooltip="{{errorMessage}}" container="body" [disableTooltip]="!errorMessage">
      warning
    </mat-icon>
  </mat-form-field>
</div>
