<div class="dashboard-container">
    <div class="dashboard-filter-container">
        <etop-material-select-date-range 
            (rangeSelect)="onChangeFilter($event)" 
            [displayIcon]="true" 
            [labelBold]="true">
        </etop-material-select-date-range>
    </div>
    <div class="dashboard-detail-container">
        <div class="detail-line">
          <div class="detail-title">Số máy nhánh</div>
          <div class="detail-content">{{dashboard?.staff?.length}}</div>
        </div>
        <div class="detail-line">
            <div class="detail-title">Tổng số cuộc gọi</div>
            <div class="detail-content">{{dashboard?.total?.total_count}}</div>
        </div>
        <div class="detail-line">
            <div class="detail-title">Tổng thời lượng gọi ra</div>
            <div class="detail-content">{{dashboard?.total?.total_duration_postage}} giây</div>
        </div>

        <div class="detail-line">
            <div class="detail-title">Cước phí</div>
            <div class="detail-content">{{dashboard?.total?.total_fee | vnd}}đ</div>
        </div>
        <div class="detail-line">
          <div class="detail-title">Số dư</div>
          <div class="detail-content">{{((telecomBalance | vnd) + "đ") || "---"}}</div>
        </div>
    </div>
    <div class="staff-dashboard-container">
        <div class="container-title">Theo nhân viên</div>
        <div class="staff-dashboard-content">
            <div class="row title-row">
                <div class="col font-weight-bold">NHÂN VIÊN</div>
                <div class="col font-weight-bold">CUỘC GỌI</div>
                <div class="col font-weight-bold">THỜI LƯỢNG</div>
                <div class="col font-weight-bold text-right">CHI PHÍ</div>
            </div>
            <div class="row line-layout" *ngFor="let item of dashboard?.staff">
                <div class="col font-weight-bold">{{item?.full_name}}</div>
                <div class="col">{{item?.total_call}}</div>
                <div class="col">{{item?.total_duration_postage}}</div>
                <div class="col text-right">{{item?.total_fee | vnd}}đ</div>
            </div>
        </div>
    </div>
</div>
