<div class="d-flex justify-content-between">
  <div class="button-group">
      <button (click)="onTool()" class="btn-outline-eorder mr-2">Công cụ đặt hàng</button>
      <button (click)="onRegister()"   class="btn-register-eorder">Đăng ký</button>
  </div>
</div>