<div class="carrier-item d-flex align-items-center">
  <div class="carrier-img pr-4">
    <img src="{{connection?.provider_logo}}" alt="">
  </div>
  <div class="info">
    <div class="carrier-name">{{connection?.name | uppercase}}</div>
    <div class="order-status order-{{connection?.connect_status}}">
      {{connection?.connect_status == 'P' ? 'Đã kết nối' : 'Chưa kết nối'}}
    </div>
    <div *ngIf="connection?.connection_identifier" class="text-default">
      {{connection?.connection_identifier}}
      <span *ngIf="connection.connection_subtype == 'shipnow' && !connection?.external_verified" class="text-default">
        &nbsp;(Chưa xác thực)
      </span>
    </div>
  </div>
  <div class="connect ml-auto">
    <ng-container *ePermissions="['shop/connection:create']">
      <ng-container *eRoles="['owner']">
        <button
          *ngIf="connection?.connect_status == 'Z'" class="btn btn-primary"
          (click)="carrierConnect(connection)">
          Kết nối
        </button>
      </ng-container>
    </ng-container>
    <ng-container *ePermissions="['shop/connection:delete']">
      <ng-container *eRoles="['owner']">
        <shared-dropdown-actions
          *ngIf="connection?.connect_status == 'P'"
          [dropdownActions]="dropdownActions" [rightSide]="true">
        </shared-dropdown-actions>
      </ng-container>
    </ng-container>
  </div>
</div>
