  <td>{{account?.shop?.code}}</td>
  <td class="font-weight-bold ">{{account?.shop?.name}}</td>
  <td>{{roleDisplay(account?.user_account?.permission?.roles)}}</td>
  <td class="text-right" style="max-width: 8rem;">
    <div class="d-flex align-items-center justify-content-end">
      <button
        class="btn btn-outline" [class.cursor-not-allowed]="account?.id == currentShop?.id"
        [class.btn-primary]="account?.id != currentShop?.id" [class.btn-default]="account?.id == currentShop?.id"
        (click)="switchAccount(account?.url_slug || account?.id)" [disabled]="account?.id == currentShop?.id">
        {{account?.id == currentShop?.id && 'Công ty hiện tại' || 'Truy cập'}}
      </button>
      <shared-dropdown-actions *ngIf="!isOneShop && isMyShop" [dropdownActions]="dropdownActions" [rightSide]="true"></shared-dropdown-actions>
    </div>
  </td>

<div class="show-768">
  <div class='d-flex flex-row shop-row'>
    <div class='shop-img'>
      <img class="shop-logo" [src]="account?.shop?.image_url || 'assets/images/placeholder.png'" />
    </div>
    <div class='shop-info'>
      <div class="font-weight-bold">{{account?.shop?.name}}</div>
      <div>{{roleDisplay(account?.user_account?.permission?.roles)}}</div>
    </div>
    <div class='shop-action'>
      <button class="btn btn-primary" *ngIf='account?.id != currentShop?.id' (click)="switchAccount(account?.url_slug || account?.id)">
        <span class="material-icons mr-2 login-btn">login</span>
        <span>Truy cập</span>
      </button>
      <div *ngIf='account?.id == currentShop?.id'>
        <span class="material-icons check-btn">check_circle_outline</span>
      </div>
    </div>
    <div><shared-dropdown-actions *ngIf="!isOneShop && isMyShop" [dropdownActions]="dropdownActions" [rightSide]="true"></shared-dropdown-actions></div>
  </div>
</div>

