<div class="box-content slider-detail-section">
   <div class="row">
        <div class="col-12 py-2">
            <etop-material-input
              [(ngModel)]="hotlineData.name"
              type="input" textLabel="Tên hotline *" placeholder="Nhập tên hotline">
            </etop-material-input>
        </div>
        <div class="col-12 py-2">
            <etop-material-input
              [(ngModel)]="hotlineData.hotline"
              type="input" textLabel="Số hotline *" placeholder="Nhập số hotline">
            </etop-material-input>
        </div>
        <div class="col-12 py-2">
          <etop-material-input
            [(ngModel)]="hotlineData.network"
            [optionSelect]="mobileNetwork"
            type="select" textLabel="Nhà mạng" placeholder="Nhập tên nhà mạng">
          </etop-material-input>
      </div>
      <div class="col-12 py-2">
        <etop-material-input
        [(ngModel)]="hotlineData.description"
        type="text-area" textLabel="Mô tả" placeholder="Nhập mô tả">
      </etop-material-input>
      </div>
      <div class="col-12 py-2">
        <div class="py-2">
          <mat-checkbox [(ngModel)]="hotlineData.is_free_charge" color="primary" disableRipple>
            Không kiểm tra số dư khi gọi
          </mat-checkbox>
        </div>
      </div>
      <div class="col-12 py-2">
        <div class="text-right m-3">
          <button (click)="createHotline()" class="btn btn-primary" [disabled]="loading">
            <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading"></i>
            Tạo hotline
          </button>
        </div>
      </div>
   </div>
</div>
