.tag-template {
    
    .template-item {
        border: 1px solid #eee;
        border-radius: 20px;
        padding: 0.375rem 1rem;
        margin-right: 0.75rem;
        font-size: 0.9rem;
        color: var(--ion-color-primary);
        background: rgba(0, 0, 0, 0.03);
        margin-bottom: 0.75rem;
    }
}