<ion-header>
    <ion-toolbar>
      <ion-title>{{template.id ? 'Chỉnh sửa' : 'Tạo'}} mẫu trả lời nhanh</ion-title>
      <ion-buttons slot="start">
        <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="dismiss()">
        </ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item class="input-wrapper">
        <ion-label position="floating">Tiêu đề</ion-label>
        <ion-input [(ngModel)]="_template.short_code"></ion-input>
      </ion-item>
      <ion-item class="input-wrapper">
        <ion-label position="stacked">Nội dung</ion-label>
        <ion-textarea #templateInput [(ngModel)]="_template.template" autoGrow="true" rows="1" placeholder="Nhập mẫu trả lời nhanh..."></ion-textarea>
      </ion-item>
      <ion-item lines="none" class="input-wrapper">
          <div class="ion-margin-top">
            <ion-text>Chọn các giá trị sau để điền vào phần nội dung</ion-text>
            <div class="tag-template ion-flex ion-align-items-center ion-wrap ion-margin-top">
                <div class="template-item" *ngFor="let item of tempalteVariables" (click)="appendVariable(item)">
                    {{item.label}}
                </div>
            </div>
          </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer class="footer-button-wrapper" (click)="confirm()">
    <ion-toolbar color="primary" class="no-padding">
      <div class="footer-buttons ion-flex">
        <button class="w-100 bg-primary text-white footer-button-item">
            {{template.id ? 'Chỉnh sửa' : 'Tạo'}}
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
  