<div class="box setting-box mt-4">
  <div class="setting-header">Thông tin tài khoản {{appName}}</div>
  <div class="setting-body">
    <div class="d-flex align-items-center w-100 py-2">
      <etop-material-input textLabel="Họ tên" type="custom" class="flex-grow-1">
        <span class="read-only">{{user?.full_name}}</span>
      </etop-material-input>
    </div>
    <div class="d-flex align-items-center w-100 py-2 position-relative">
      <etop-material-input textLabel="Email" type="custom" class="flex-grow-1 pr-3">
        <span class="read-only">
          {{user?.email}}
        </span>
        <span class="text-topship cursor-pointer" *ngIf="!user?.email_verified_at" (click)="sendVerifyEmail()">
          <i class="fa fa-circle-o-notch fa-spin text-topship" *ngIf="sendingCode.email"></i>
          &nbsp;(Xác thực ngay)
        </span>
      </etop-material-input>
    </div>
    <div class="d-flex align-items-center w-100 py-2 position-relative">
      <etop-material-input textLabel="Số điện thoại" type="custom" class="flex-grow-1 pr-3">
        <span class="read-only">
          {{user?.phone}}
        </span>
        <span class="text-topship cursor-pointer" *ngIf="!user?.phone_verified_at"  (click)="sendVerifyPhone()"><i class="fa fa-circle-o-notch fa-spin text-topship" *ngIf="sendingCode.phone"></i>
          &nbsp;(Xác thực ngay)
        </span>
      </etop-material-input>
    </div>
  </div>
  <div class="setting-footer">
    <div class="text-right w-100">
      <button *ngIf="!isAtEtop" (click)="onChangePassword()" class="btn btn-outline btn-primary">
        Thay đổi thông tin tài khoản {{appName}}
      </button>
      <button *ngIf="isAtEtop" (click)="onChangePassword()" class="btn btn-outline btn-primary">
        Thay đổi mật khẩu
      </button>
    </div>
  </div>
</div>
