.line-index {
  border: 1px solid var(--border-gray-color);
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
}

.line-name {
  font-size: .9rem;
}

.line-item {
  margin-bottom: 1.25rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.line-price {
  &.badge {
    padding: .15rem 1.25rem;
  }
}

.line-attributes {
  font-weight: 700;
  font-size: .8rem;
}

.money-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  padding: 10px;
  .money-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .6rem;
    &:last-child {
      margin-bottom: 0;
    }
    .item-name {
      flex: 1;
      font-size: .9rem;
    }
    .item-detail {
      flex: 1;
      font-style: italic;
      font-size: .75rem;
    }
  }
}
