.dashboard-body {
  padding: 2rem !important;

  .container {
    max-width: 100% !important;
    background: white !important;
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 5px;
  }
}

//new dashboard

.text-opacity {
  opacity: 0.6;
}

.product-img {
  height: 30px;
  margin-left: 10px;
  object-fit: cover;
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
}

.dashboard-filter {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background: white;
  padding: 10px 35px;
  z-index: 2;
  width: 100%;
}

.input-filter {
  color: #444444 !important;
  position: relative;
  border: none;
  outline: none;
  font-weight: 700;
  width: 144px;
  z-index: 2;
  background: transparent;
  cursor: pointer;
}

.form-filter {
  position: relative;
  &::after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 14px;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.icon-compare {
  border-radius: 50%;
  border: 1px solid;
  padding: 2px;
}

$color1: var(--gray-color);
$color2: var(--border-gray-color);
$color_header: var(--border-gray-color);

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.placeholder-wrapper {
  .placeholder {
    background: var(--gray-color);
    background-size: 200% auto;
    // animation: shine 1s linear infinite;
    height: 20px;

    &.round {
      border-radius: 50rem;
      width: 20px;
    }

    &.small {
      border-radius: 10px;
      width: 150px;
    }

    &.big {
      border-radius: 10px;
      width: 450px;
    }

    &.medium {
      border-radius: 10px;
      width: 300px;
    }
  }
}

.fix-font-size{
  font-size: 2.25rem !important;
}

.font-size-title{
  font-size: 1.25rem;
}

.box-title{
  padding: 1.5rem 1.5rem 1rem;
}

.box-content{
  padding: 0 1.5rem 1.5rem;
}

.mobile-page-content{
  @media only screen and (max-width: 768px) {
    margin-bottom: var(--mobile-menu-height);
  }
}

.free-text{
  background-color: var(--primary-color);
  padding: 2px 15px;
  border-radius: 20px;
  color:#fff;
  font-size: 1rem !important;

  @media only screen and (max-width: 960px){
    padding: 2px 5px;
  }
}

.setting-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.setting-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-header, .setting-body {
  border-bottom: 1px solid var(--gray-color);
}

.setting-header, .setting-body, .setting-footer {
  padding: 1.5rem;
}

.table-responsive {
  overflow: visible;
  tr {
    &.table-head {
      th {
        color: #9f9f9f;
        text-transform: uppercase;
      }
    }
  }

  th, td {
    padding: 5px 15px;
  }

  td {
    font-size: 1rem;
  }
}

tr {
    &.table-head {
      th {
        color: var(--default-color);
        text-transform: uppercase;
        font-size: 0.825rem;
      }
    }
  }

  th, td {
    padding: 10px 15px;
  }

  td {
    font-size: 1rem;
  }

  .empty-list {
    text-align: center;
    background: var(--lighter-gray-color);
  }

  .input-filter {
    width: fit-content;
  }

  .form-filter::after {
    font-size: 1.3rem;
  }
