::ng-deep .custom-frame {
  .mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 65% !important;
    border:none;
  }
  .mat-checkbox-inner-container {
    width: 34px;
    height: 34px;
  }
  .mat-checkbox-background {
    transform: scale(0.7);
  }
}

.tag{
  margin: 3px 1rem;
  &:first-child{
    margin:3px 1rem 3px 0;
  }
}

mat-icon {
  height: 14px !important;
  width: 14px !important;
  font-size: 14px !important;
  margin-right: 0.5rem;
}