<ng-container>
  <div class="d-flex justify-content-between mb-4 align-items-center text-center">
    <h4 class="font-bold w-100">{{this.data?.tag ? 'Chỉnh sửa' : 'Tạo'}} thẻ</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <etop-material-input
    type="input" appearance="standard" textLabel="Nhập tên thẻ" placeholder="Nhập tên thẻ"
    [(ngModel)]="currentTag.name">
  </etop-material-input>
  <label class="pt-5 pb-3">Màu sắc</label>
  <section class="d-flex flex-row mb-4">
    <div *ngFor="let color of listColor; index as i" class="tag">
      <div class="d-flex flex-row align-items-center tag-{{color.name}}">
          <mat-checkbox class="custom-frame" [(ngModel)]="color.isChecked" [ngStyle]="{'background': color.color}" style="border-radius: 65%"
                      (ngModelChange)="changeColor(i)" [disabled]="color.isChecked">
        </mat-checkbox>
      </div>
    </div>
  </section>
  <mat-dialog-actions class="align-items-center mt-1 border-top">
    <div class="ml-auto">
      <button class="btn btn-default btn-outline mr-3 ml-auto" (click)="close()">Đóng</button>
      <button class="btn btn-primary" (click)="confirm()">Xác nhận</button>
    </div>
  </mat-dialog-actions>
</ng-container>
