<ion-header>
  <ion-toolbar>
    <ion-title>Gắn thẻ</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="tag-item" lines="none" (click)="createTag()">
      <ion-icon color="primary" style="font-size: 1.5rem; margin-right: 0.5rem" name="add-outline"></ion-icon>
      <ion-text color="primary">Thêm thẻ</ion-text>
    </ion-item>
    <ng-container *ngFor="let tag of tags">
      <ion-item class="tag-item" lines="none">
        <ion-checkbox class="ion-margin-end" [(ngModel)]="tag.isChecked" [checked]="tag.isChecked" mode="md"
          slot="start"></ion-checkbox>
        <ion-icon class="tag-color" [ngStyle]="{'color': tag.color}" name="ellipse"></ion-icon>
        <ion-label>{{tag.name}}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
<ion-footer class="footer-button-wrapper" (click)="setUserTag()">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Xác nhận
      </button>
    </div>
  </ion-toolbar>
</ion-footer>