<ion-footer>
  <ion-tab-bar #etopTabs slot="bottom">
    <ion-tab-button (click)="gotoLink(tab.link)" *ngFor="let tab of tabsList; index as i" [ngClass]="{'big-icon' : i == 2}">
      <ion-icon mode="md" name="{{tab.icon}}" [color]="getColorActive(tab.link)"></ion-icon>
      <ion-label [color]="getColorActive(tab.link)">{{tab.label}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
