ion-tab-bar {
  height: 4rem;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

ion-icon {
  font-size: 1.5rem;
}

.big-icon {
  ion-icon {
    font-size: 2rem;
    margin-top: 0;
  }
  ion-label {
    font-size: 0.9rem;
    margin-top: -0.25rem;
  }
}

ion-label {
  font-size: 0.9rem;
}
