.upload-img {
    text-align: center;
    border: 1px dashed gray;
    width: 120px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.upload-img img {
    width: 44px;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.page-content {
    padding-bottom: 44px;
}

.info-value {
    text-align: right;
    font-size: 1.2rem;
    color: #666;
    &.input {
        border-bottom: 1px solid #ddd;
        height: 1.7rem;
    }
}

.footer-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.product-image {
    height: 120px;
    width: 120px;
    margin: auto;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        border: 1px solid #eee;
    }
    .icon-upload {
        position: absolute;
        font-size: 2.3rem;
        border: 3px solid white;
        border-radius: 50%;
        padding: 0.5rem;
        right: -1.7rem;
        bottom: 0;
        background: #eee;
    }
}

.uploading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    .loading-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}

.ion-detail {
    bottom: 12px !important;
    position: absolute !important;
    font-size: 16px !important;
    right: 0 !important;
    margin: 0;
}

.box-detail {
    border-top: 8px solid #f5f5f5;
}

ion-segment {
    position: fixed;
    z-index: 100;
    background: white;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.ion-margin-slides {
    margin-top: 4rem;
}

.items-list {
    padding: 0.7rem 0;
}

.product-img {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #eee;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    margin-right: 0.5rem;
}

.items-list-row {
    padding: 8px 16px;
}

.product-info {
    margin-left: 0.5rem;
}

.line-info {
    padding: 0.75rem 0;
    .content {
        margin-top: 0.5rem;
        font: 500 1.1rem Arial !important;
    }
    ion-label {
        font-size: 0.8rem;
    }
}

.header {
    opacity: 0.8;
}