<ion-header>
    <ion-toolbar>
        <ion-title>Chỉnh sửa sản phẩm</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="page-content w-100 ion-padding-bottom" [formGroup]="productForm">
        <div class="ion-text-center ion-padding">
            <div class="product-image">
                <img [src]="product.image || 'assets/images/placeholder_2.png'" alt="">
                <ion-icon name="camera" class="icon-upload" (click)="takePicture()"></ion-icon>
                <div class="uploading" *ngIf="uploading">
                    <ion-spinner name="crescent" class="loading-icon"></ion-spinner>
                </div>
            </div>
        </div>
        <ion-list class="info ion-margin-end">
            <ion-item lines="none" class="line-info line-custom">
                <ion-label position="floating">Tên sản phẩm</ion-label>
                <ion-input inputmode="text" formControlName="name"></ion-input>
            </ion-item>
            <div style="position: relative">
                <ion-item lines="none" class="line-info line-custom" style="margin-right: 50px;">
                    <ion-label position="floating">Mã sản phẩm</ion-label>
                    <ion-input inputmode="text" formControlName="code"></ion-input>
                </ion-item>
                <ion-buttons (click)="scanBarcode()" class="barcode-button" style="margin: 0 5px 10px 0;">
                    <ion-icon name="barcode-outline"></ion-icon>
                </ion-buttons>
            </div>
            <ion-item lines="none" class="line-info line-custom">
                <ion-label position="floating">Mô tả</ion-label>
                <ion-textarea autoGrow="true" spellcheck="false" inputmode="text" formControlName="description"></ion-textarea>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ng-container>
    <ion-footer class="footer-button-wrapper" (click)="updateProduct()">
        <ion-toolbar color="light" class="no-padding">
            <div class="footer-buttons-etop ion-flex">
                <button class="w-100 bg-primary text-white footer-button-item">
          Cập nhật
        </button>
            </div>
        </ion-toolbar>
    </ion-footer>
</ng-container>