<div class=" modal-header">
  <div class="modal-title w-100 text-center">Mẫu mã sản phẩm</div>
  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>

<div class="modal-body" [formGroup]="confirmVariantForm">
  <div class="d-flex flex-row align-items-center mb-3">
    <div class="mr-5">
      <i class="fa fa-circle text-primary tiny-font mr-2"></i>
      <b>THUỘC TÍNH</b>
    </div>
    <ng-container *ngFor="let attrName of attributeNames">
      <div class="mr-5 d-flex flex-column">
        <b>{{ attrName }}</b>
        <!-- <span *ngIf="attr.values">{{ joinAttrValues(attr.values) }}</span> -->
      </div>
    </ng-container>
    <div class="text-primary add-attr-btn ml-auto"  (click)="requestOpenEditAttributeModal($event)">Thêm thuộc
      tính</div>
  </div>
  <div class="d-flex flex-row align-items-center mb-3">
    <div class="mr-5">
      <i class="fa fa-circle text-primary tiny-font mr-2"></i>
      <b>MẪU MÃ</b>
    </div>
    <div class="ml-auto d-flex flex-row">
      <div class="d-flex align-items-center mr-2">
        Điền giá trị hàng loạt
      </div>
      <ng-container>
        <etop-material-input-format-number [error]="price_error?.retail_price"
                                           [(ngModel)]="seriesValues.retail_price"
                                           [ngModelOptions]="{standalone: true}"
                                           formatNumberUnit="đ"
                                           class="material-input"
          placeholder="Giá bán hàng loạt:" textLabel="Giá bán hàng loạt" type="input" keyboardType="number">
        </etop-material-input-format-number>
      </ng-container>
      <ng-container>
        <etop-material-input-format-number [error]="price_error?.cost_price"
        [(ngModel)]="seriesValues.cost_price"
        [ngModelOptions]="{standalone: true}"
        formatNumberUnit="đ"
        class="material-input"
        placeholder="Giá vốn hàng loạt" textLabel="Giá vốn hàng loạt:" type="input" keyboardType="number">
        </etop-material-input-format-number>
      </ng-container>

      <ng-container>
        <etop-material-input
          class="material-input"
          [error]="price_error?.retail_price" class="material-input"
          placeholder="Tồn kho hàng loạt" textLabel="Tồn kho hàng loạt:" type="input" keyboardType="number"  [(ngModel)]="seriesValues.quantity"
          [ngModelOptions]="{standalone: true}">
        </etop-material-input>
      </ng-container>
      <button class="btn btn-primary btn-outline" (click)="applyPriceToAllVarriants()">
        Áp dụng
      </button>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex flex-row ">
      <span class="align-items-center d-flex check-all-btn pl-0">
        <input  class="cursor-pointer" type="checkbox" (click)="checkAllVariants()"
          formControlName="isCheckAll" />
      </span>
      <h6 class="font-weight-bold my-3">Mẫu mã mới</h6>
    </div>
    <div class="table-responsive variant-list pr-2 pb-4">
      <table class="w-100" *ngIf="variants?.length">
        <tbody>
          <ng-container>
            <shop-variant-lines formControlName="variant_lines" [checkVariant]="checkVariantLine()">
            </shop-variant-lines>
          </ng-container>
        </tbody>
      </table>
      <button class="btn btn-primary btn-outline go-back-btn ml-4" (click)="addNewVariantLine()">Thêm mẫu mã</button>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div>
    Bạn đang thực hiện thao tác trên {{ checkedVariantCount || 0 }} mẫu mã
  </div>
  <button class="btn btn-outline btn-default" (click)="dismissModal()">
    Đóng
  </button>
  <button class="btn btn-primary" (click)="confirm()">Xác nhận</button>
</div>
