<div class="title">
  Nhập số điện thoại
</div>
<div class="carrier-info">
  <div class="carrier-image">
    <img src="{{carrierConnection?.provider_logo}}" alt="">
  </div>
  <div class="carrier-name">{{carrierConnection?.name_display}}</div>
  <div class="ion-text-center">
    Vui lòng nhập thông tin tài khoản {{carrierConnection?.connection_provider | uppercase}} của bạn để kết nối
  </div>
</div>
<ion-list class="ion-padding-end ion-margin-bottom">
  <ion-item>
    <ion-label position="floating">Số điện thoại</ion-label>
    <ion-input
      inputmode="tel" [(ngModel)]="loginInfo.identifier" (ngModelChange)="loginInfoChanged()">
    </ion-input>
  </ion-item>
</ion-list>
