<div class="p-3 d-flex align-items-start">
  <div class="mt-3" (click)="gotoShopping()" style="cursor: pointer">
    <span class="back-icon fa fa-angle-left">
      <h6 class="pl-2 mb-0 font-weight-bold">Quay lại</h6>
    </span>
  </div>
  <span class="text-center product-name">{{name}}</span>
</div>
