.product-name {
  font-size: 30px;
  font-weight: bold;
  padding: 0 25px;
  width: 80%;
}

.back-icon {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 30px;
  height: 30px;
  border: 1px solid var(--border-gray-color);
  border-radius: 20px;
  padding: 10px;
  color: var(--default-color);
}
