<div class="history-wrapper" *ngIf="getting_histories; else historiesBeenGot;">
  <div>Đang tải lịch sử...</div>
</div>
<ng-template #historiesBeenGot>
  <div class="history-wrapper"
    *ngIf="!fulfillmentHistories?.length">
    <div>Chưa có lịch sử được ghi nhận</div>
  </div>
  <div class="history-wrapper" *ngFor="let ffh of fulfillmentHistories">
    <ng-container *ngIf="hasXShippingLogs; else noXShippingLogs">
      <div class="font-weight-bold d-flex">{{ffh?.time | date: "HH:mm dd/MM/yyyy"}}</div>
      <div class="d-flex">{{ffh?.state_text}}</div>
      <div [innerHTML]="ffh?.message"></div>
    </ng-container>
    <ng-template #noXShippingLogs>
      <div class="font-weight-bold d-flex">{{ffh?.date | date: "HH:mm dd/MM/yyyy"}}</div>
      <div class="d-flex">{{ffh?.event}}</div>
    </ng-template>
  </div>
  <div *ngIf="trackingLink" class="history-wrapper">
    <a class="text-primary" target="_blank" href="{{trackingLink}}">
      Xem chi tiết
    </a>
  </div>
</ng-template>
