<div class="search-wrapper">
  <ng-container *ngIf="init_results?.length; else noInitResults;">
    <input #searchInput class="search-input" type="text" placeholder="{{placeHolder}}"
      (keyup.enter)="filter()" [(ngModel)]="ref_code" (ngModelChange)="onChangeRefCode()"
      (focus)="showInitResults()">
  </ng-container>
  <ng-template #noInitResults>
    <div class="search-input disabled" ngbTooltip="{{noInitResultsText}}" placement="bottom">
      {{placeHolder}}
    </div>
  </ng-template>
  <div class="search-results" *ngIf="results.length && this.show_dropdown">
    <div class="empty-result" *ngIf="results[0].code == '0'">
      {{results[0].value}}
    </div>
    <ng-container *ngIf="results[0].code && results[0].code != '0'">
      <div class="d-flex result-item" *ngFor="let res of results" (click)="selectRef(res)">
        <div class="col-4">
          <div class="text-primary font-weight-bold">{{res?.code}}</div>
          <div class="font-10">{{res?.created_at | date: 'dd/MM/yyyy'}}</div>
        </div>
        <div class="col-4 text-right">
          Phải thanh toán: <span class="font-weight-bold">{{res?.total_amount | vnd}}đ</span>
        </div>
        <div class="col-4 text-right">
          Đã thanh toán:
          <span class="font-weight-bold" *ngIf="ref_type == 'order'">{{res?.received_amount | vnd}}đ</span>
          <span class="font-weight-bold" *ngIf="ref_type == 'purchase_order'">{{res?.paid_amount | vnd}}đ</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
