.search-input {
  border: none;
  outline: 0;
  width: 100%;
  &.disabled {
    color: var(--default-color);
    cursor: not-allowed;
  }
}

.search-wrapper {
  position: relative;
}

.search-results {
  border: 1px solid var(--border-gray-color);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
  position: absolute;
  width: 100%;
  background: var(--white-color);
  max-height: 200px;
  overflow-y: auto;
  .result-item {
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid var(--border-gray-color);
    cursor: pointer;
    &:hover {
      background: var(--lighter-gray-color);
    }
  }
  .empty-result {
    padding: 15px;
    text-align: center;
  }
}

:host {
  display: block;
  width: 100%;
  padding: 15px;
}
