.address-wrapper {
  padding: 10px;
  border-bottom: 1px solid var(--border-gray-color);
  &:last-child {
    border-bottom: none;
  }
  .address-info {
    padding: 0 10px;
    flex: 1;
  }
}

.form-group {
  padding: 5px 10px;
  margin-bottom: 0;
  &:last-child {
    padding-bottom: 10px;
  }
}