<td>
  Bạn được mời tham gia quản trị công ty <strong style="font-size: 1.15rem;">{{invitation?.shop?.name}}</strong>
</td>
<td>Vai trò: <strong style="font-size: 1.15rem;">{{roleDisplay}}</strong></td>
<td class="text-right" style="max-width: 10rem;">
  <div class="d-flex align-items-center justify-content-end">
    <button class="btn btn-success mr-2" [disabled]="rejecting || accepting" (click)="acceptInvitation()">
      <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="accepting"></i>
      Chấp nhận
    </button>
    <shared-dropdown-actions
      [dropdownActions]="dropdownActions" [rightSide]="true">
    </shared-dropdown-actions>
  </div>
</td>
