<div class="modal-header">
  <div class="modal-title">Chọn quận huyện</div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <ng-container [formGroup]="blacklistForm">
      <div class="col-6 py-2">
        <etop-material-input-autocomplete
          placeholder="Tìm kiếm tỉnh thành" textLabel="Tìm kiếm tỉnh thành"
          [options]="provincesList$ | async" [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
          formControlName="provinceCode">
        </etop-material-input-autocomplete>
      </div>
      <div class="col-6 py-2">
        <etop-material-input-autocomplete
          placeholder="Tìm kiếm quận huyện" textLabel="Tìm kiếm quận huyện"
          [options]="(districtsList$ | async) || []" [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
          formControlName="districtCode">
        </etop-material-input-autocomplete>
      </div>
    </ng-container>
    <ng-container *ngFor="let code of districtCodes; let i = index;">
      <div *ngIf="getDistrictName(code)" class="col-4 py-2">
        <div class="fake-material-input-outline d-flex align-items-center justify-content-between">
          <span>{{getDistrictName(code)}}</span>
          <i class="fa fa-times big-font cursor-pointer" style="color: #bbb;" (click)="removeDistrict(i)"></i>
        </div>
      </div>
    </ng-container>
    <div class="col-12 py-2">
      <etop-material-input
        type="input" placeholder="Nhập lý do chặn" textLabel="Lý do chặn"
        [(ngModel)]="reason">
      </etop-material-input>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-3" (click)="closeModal()">Đóng</button>
    <button class="btn btn-primary text-white" (click)="confirm()">Xác nhận</button>
  </div>
</div>
