<ion-toolbar>
  <ion-list lines="none" class="group-fanpage">
    <ion-item style="margin-left: -1rem">
      <img
        class="logo-current"
        src="{{(activePage$ | async)?.external_image_url || 'assets/imgs/fabo_logo.png'}}"
        style="margin-right: 0.5rem; border-radius: 50%; width: 30px;">
      <ion-select
        *ngIf="toggle"
        interface="popover" [value]="selectedExternalPageId"
        [(ngModel)]="selectedExternalPageId" (ngModelChange)="invokeChange()">
        <ion-select-option *ngFor="let page of pageOptions" [value]="page.value">
          {{page.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-buttons slot="end" class="button-icon" (click)="search()">
    <ion-icon name="search-outline" class="text-white"></ion-icon>
    <ion-text>Tìm kiếm</ion-text>
  </ion-buttons>
</ion-toolbar>
<ion-row class="group-filter">
  <ion-col size="6">
    <ion-select
      interface="popover" class="selector" [value]="selectedIsRead"
      [(ngModel)]="selectedIsRead" (ngModelChange)="invokeChange()">
      <ion-select-option *ngFor="let item of is_read_arr" [value]="item?.value" class="option">
        {{item?.name}}
      </ion-select-option>
    </ion-select>
  </ion-col>
  <ion-col size="6">
    <ion-select
      interface="popover" class="selector" [value]="selectedType"
      [(ngModel)]="selectedType" (ngModelChange)="invokeChange()">
      <ion-select-option *ngFor="let item of type_arr" [value]="item?.value" class="option">
        {{item?.name}}
      </ion-select-option>
    </ion-select>
  </ion-col>
</ion-row>
