ion-list.group-fanpage {
  max-width: max-content;
  font-weight: bold;

  ion-select {
    padding: 0 !important;
    background-position: 100% 50%;
  }
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 !important;
}

ion-select {
  max-width: 100% !important;
}

.fanpage-filter {
  max-width: 50%;
}

ion-select {
  background-image: url('/assets/imgs/chevron-down-outline.svg');
  background-position: calc(100% - 1rem) 50%;
  background-size: 1rem;
  background-repeat: no-repeat;
  width: 100%;

  ion-select-option {
    padding: 0;
  }

}

ion-col {
  border-right: 1px solid #eee;
  padding: 0;

  &:last-child {
    border-right: none;
  }
}

.group-filter {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.selector {
  font-size: 0.9rem;
  justify-content: center;
}

.logo-current {
  border: 1px solid #eee;
}

ion-select::part(icon) {
  opacity: 0;
}

.button-icon {
  min-width: fit-content;
  background: var(--ion-color-primary);
  color: white;
  border-radius: 20px;
  padding: 0 1rem 0 0.75rem;
  min-height: 2.2rem;
  margin-right: 0.25rem;
  ion-icon {
    font-size: 1.2rem;
  }
  ion-text {
    font-size: 0.9rem;
  }
}