<div class="page-content">
  <div class="d-flex bg-gray header-content mb-3">
    <div class="align-self-center font-weight-bold font-14">GIAO DỊCH TRONG THÁNG 9/2019</div>
    <div class="ml-auto align-self-center">
      <span class="font-weight-bold">SỐ DƯ ĐẦU KỲ: </span><strong class="ml-3 border-right p-4 font-13">{{credit.first | vnd}}đ</strong>
      <span class="pl-4 font-weight-bold">SỐ DƯ CUỐI KỲ: </span><strong class="ml-3 font-13">{{credit.last | vnd}}đ</strong>
    </div>
  </div>
  <div class="transaction-list">
     <table class="table">
      <thead>
        <tr>
          <th scope="col">MÃ GIAO DỊCH</th>
          <th scope="col">NỘI DUNG</th>
          <th scope="col" class="text-right">GHI NỢ</th>
          <th scope="col" class="text-right">GHI CÓ</th>
          <th scope="col" class="text-right pr-5">SỐ DƯ</th>
          <th scope="col" class="text-left pl-5" style="width: 150px">TRẠNG THÁI</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>
            <div class="bagde etop-badge text-primary font-weight-bold">{{transaction.code}}</div>
            <div>{{transaction.created_at}}</div>
          </td>
          <td>
            <div>{{transaction.description}}
              <span class="ml-3 bagde etop-badge text-primary font-weight-bold" *ngIf="transaction.related_order">
                {{transaction.related_order}}</span>
            </div>
          </td>
          <td class="text-right">
            <span class="font-weight-bold {{transaction.status == 'P' ? 'text-danger' : 'text-default'}}"
              *ngIf="transaction.debit">{{transaction.debit | vnd}}đ</span>
            <span *ngIf="!transaction.debit">-</span>
          </td>
          <td class="text-right">
            <span class="font-weight-bold {{transaction.status == 'P' ? 'text-secondary' : 'text-default'}}"
              *ngIf="transaction.credit">{{transaction.credit | vnd}}đ</span>
            <span *ngIf="!transaction.credit">-</span>
          </td>
          <td class="text-right pr-5">
            <span class="font-weight-bold">{{transaction.balance | vnd}}đ</span>
          </td>
          <td class="pl-5">
            <div class="status {{transaction.status}}">
              <i aria-hidden="true" style="font-size: 12px;" class="fa fa-circle mr-2"></i>
              {{statusDisplay(transaction.status)}}
            </div>
          </td>
        </tr>
        <tr *ngIf="!transactions || transactions?.length == 0">
          <td colspan="6" class="text-center" style="background: rgba(236, 240, 241,0.3)">Chưa có giao dịch</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<aff-guide-link [handle]="handle"></aff-guide-link>