table td,
table th {
  border: 0;
  vertical-align: middle;
}

.product-img {
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  padding: 5px;
  height: 50px;
  width: 50px;
  display: inline-block;

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
}

.header-content {
  margin:  0 -2rem;
  padding: 1.5rem 3rem;
}

.status {
  &.P {
    color: var(--primary-color);

    i {
      color: var(--primary-color);
    }
  }

  &.Z {
    color: var(--default-color);

    i {
      color: var(--default-color);
    }
  }
}