.display-value {
  font-size: 10px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  &.error {
    border-color: var(--danger-color) !important;
    .no-display-input,
    .text-label {
      color: var(--danger-color);
    }
  }
  .hidden {
    display: none !important;
  }

  .current {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    height: 100%;
    padding: 7px;
    line-height: 14px;
  }

  .search-input {
    border: none;
    border-radius: 5px 0 0 5px;
    height: 44px;
    font-size: 12px;
  }

  .right {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .not-addition {
    max-height: 200px;
    overflow-y: auto;
  }

  .options {
    width: calc(100% - 16px);
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(149, 165, 166, 1);
    background: #ffffff;
    display: none;
    position: absolute;
    top: 100%;
    left: 7px;
    z-index: 1000;

    .option {
      padding: 0.5rem 1.5rem;
      border-bottom: 1px solid var(--border-gray-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 40px;

      &:hover {
        background-color: #f5f5f5;
      }

      &.active::after {
        content: '\f058';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 16px;
      }

      &.addition {
        color: #f3aa43;
      }
    }
  }

  .loading {
    position: absolute;
    padding: 5px 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    opacity: 0.6;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 32px;

    .fa-spinner::before {
      font-size: 20px;
    }
  }
  .text-label {
    font-size: 9px;
    color: #888;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    background: #fff;
    top: -8px;
    left: 10px;
  }
}

.no-display-input {
  min-height: 45px;
}
