<div class="display-value" [class.error]="error" [style.width]="width" [style.min-width]="min_width">
  <div class="loading" *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></div>
  <div (click)="showOptions()" class="d-flex selected">
    <span *ngIf="textLabel" class="text-label">{{textLabel}}</span>
    <input #inputSearch *ngIf="inputShown; else noDisplayInput;" class="form-control search-input {{inputClass}}"
      autocomplete="off" type="text" name="search_input" [placeholder]="placeholder" (blur)="hideInput()"
      (focus)="focusInput()" [(ngModel)]="search_input" (ngModelChange)="search($event)">
    <ng-template #noDisplayInput>
      <div class="form-control d-flex flex-column justify-content-center w-100 h-100 border-0 no-display-input"
        [innerHtml]="selectedValue || firstValue" (click)="showInput()">
      </div>
    </ng-template>
    <div class="right" (click)="toggleOptions()">
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>

  <div class="options" [class.d-block]="displayOptions">
    <div class="not-addition">
      <div class="option" *ngFor="let option of search_options;" [class.active]="selectedIndex == option.index"
        (click)="selectOption(option.index)">
        <div class="d-flex flex-column justify-content-center" [innerHTML]="option.detail"></div>
      </div>
    </div>
    <div *ngIf="showAddition" class="option addition d-block" style="min-height: 30px;" (click)="toggleOptions()">
      <ng-content></ng-content>
    </div>
  </div>
</div>
