
<ion-gird>
  <ion-row>
    <ion-col class="ion-flex ion-align-items-center">
      <ion-icon name="person-circle-outline" class="avatar"></ion-icon>
      <div class="user-name font-bold">
        <div>{{staff?.full_name}}</div>
      </div>
      <ng-container *ePermissions="['relationship/invitation:delete']">
        <ion-icon name="create-outline" class="ml-auto" style="font-size: 1.8rem; opacity: 0.6;"
          (click)="staffDetail(staff)" *ngIf="!isOwner">
        </ion-icon>
      </ng-container>
      
    </ion-col>
  </ion-row>
  <ion-row class="pl-3 pr-0">
    <ion-col size="12" *ngIf="staff?.phone">
      <div>{{staff?.phone }}</div>
    </ion-col>
    <ion-col *ngIf="staff?.email">
      <div>{{staff?.email}}</div>
    </ion-col>
  </ion-row>
  <ion-row class="pl-3 pr-0">
    <ion-col>
      <small>Vai trò:</small>
      <div class="font-bold">{{staff?.roles_display}}</div>
    </ion-col>
  </ion-row>
</ion-gird>
