<ng-container *ePermissions="permissionsOfTabsArray">
  <ng-container *ngFor="let tab of tabs">
    <div
      *ePermissions="tab.permissions"
      class="tab" [class.active]="tab?.active" [ngClass]="tab?.cssClass"
      (click)="handleClick(tab)" [innerHTML]="tab?.title | safeHtml">
    </div>
  </ng-container>
</ng-container>
