:host {
  display: flex;
  margin-right: auto;
}

.tab {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--gray-color);
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  box-sizing: border-box;
  &:last-child {
    border-right: none !important;
  }

  &.active {
    padding: 0.8rem 1.6rem;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--primary-color);
    color: var(--primary-color);
    &:hover {
      color: var(--primary-color);
    }
    &.topship {
      border-bottom-color: var(--topship-color);
      color: var(--topship-color);
      &:hover {
        color: var(--topship-color);
      }
    }
  }

}
