<ng-content></ng-content>
<div class="col align-self-center align-items-center d-flex" style="max-width: 10rem;">
  <div class="fa fa-minus" *ngIf="!receipt?.code"></div>
  <div *ngIf="receipt?.code">
    <div class="text-primary font-weight-bold">{{receipt?.code}}</div>
    <div class="small-font">{{receipt?.created_at | date: 'HH:mm dd/MM/yyyy'}}</div>
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="max-width: 12rem;">
  <div class="fa fa-minus" *ngIf="!receipt?.paid_at"></div>
  <div *ngIf="receipt?.paid_at">{{receipt?.paid_at | date: 'dd/MM/yy'}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" >
  <div class="fa fa-minus" *ngIf="!receipt?.title"></div>
  <div *ngIf="receipt?.title">{{receipt?.title}}</div>
</div>
<div class="col align-self-center" style="max-width: 20rem;">
  <div class="small-font">{{receipt?.trader_type_display}}</div>
  <ng-container *ngIf="isTopship; else notTopship;">
    <div class="font-weight-bold">
      {{receipt?.trader?.full_name}}
    </div>
  </ng-container>
  <ng-template #notTopship>
    <div *ngIf="receipt?.trader" class="text-primary cursor-pointer font-weight-bold" (click)="viewDetailTrader(receipt?.trader)">
      {{receipt?.trader?.full_name}}
      <i *ngIf="!receipt?.trader?.deleted" class="fas fa-external-link-alt external-link-icon"></i>
      <span class="font-weight-normal text-default ml-1 small-font" *ngIf="receipt?.trader?.deleted">(Đã xoá)</span>
    </div>
  </ng-template>
</div>
<div class="col align-self-center" style="max-width: 7rem;">
  <div class="text-uppercase font-weight-bold">{{receipt?.type_display}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" >
  <div *ngIf="!receipt?.ledger; else hasLedger;" class="fa fa-minus"></div>
  <ng-template #hasLedger>
    <div *ngIf="receipt?.ledger_type == 'cash'">
      {{receipt?.ledger_type_display}}
    </div>
    <div *ngIf="receipt?.ledger_type != 'cash'">
      <div class="text-default lower-medium-font">{{receipt?.ledger_type_display}}</div>
      <div style="font-size: 1.1rem;">{{receipt?.ledger?.name}}</div>
    </div>
  </ng-template>
</div>
<div class="col align-self-center" style="max-width: 10rem;">
  <div class="receipt-amount font-weight-bold">
    <span *ngIf="receipt?.type == 'payment'" class="text-big">-</span>
    {{receipt?.amount | vnd}}đ
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="max-width: 15rem;">
  <div class="order-status order-{{ receipt?.status }}">
    {{receipt?.status_display}}
  </div>
  <div *ngIf="receipt?.cancel_reason" class="small-font text-default">Lý do: {{receipt.cancel_reason}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="max-width: 10rem;">
  <div class="fa fa-minus" *ngIf="!receipt?.note"></div>
  <div *ngIf="receipt?.note">{{receipt?.note}}</div>
</div>