<div class="search-form">
  <input type="text" placeholder="Tìm kiếm" [(ngModel)]="queryString" (keyup)="search()">
  <button class="btn">
    <i class="fa fa-search"></i>
  </button>
</div>
<div class="contact-list">
  <div *ngIf="loading" class="d-flex align-items-center justify-content-center p-2 font-12" style="color: #777;">
    <i class="fa fa-spin fa-circle-o-notch"></i>
    <span class="ml-2">Đang tải...</span>
  </div>
  <ng-container *ngIf="!loading">
    <admin-contact-history-item *ngFor="let call_log of callLogList"
      [call_log]="call_log"
      (click)="callLogSelected(call_log)"
      (call)="call.next(call_log)"
      [ngClass]="{'active': selectedCallLog == call_log}">
    </admin-contact-history-item>
    <div *ngIf="!callLogList.length" class="d-flex align-items-center justify-content-center p-2" style="color: #777;">Không tìm thấy</div>
  </ng-container>
</div>
