.list-message {
  overflow: auto;
  padding-bottom: 10px;
  height: 100%;
  background: #f5f5f5;
  .user-avatar {
    width: 40px;
    height: 40px;
    min-width: 40px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    img {
      border-radius: 50%;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .user-logo {
      border: 1px solid rgba(0, 0, 0, 0.12);
    }
    .conversation-type {
      position: absolute;
      right: 0;
      bottom: -4px;
      width: 20px;
      height: 20px;
      background: white;
      border: 3px solid white;
    }
  }
  .user-name {
    flex: 1;
    .content {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 1rem;
      padding-top: 0.5rem;
      word-break: break-word;
    }
  }

  .message-item {
    margin-top: 8px;
    cursor: pointer;
    position: relative;
    background: #fff;
    &:last-child {
      margin-bottom: 8px;
    }

    .page-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .unread {
      font-weight: 700;
      .external-user {
        color: var(--primary-color);
        .external-user-name {
          font-weight: 700;
        }
      }
    }
    .external-user-name {
      font-size: 1.15rem;
    }
    &.active {
      &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        border-right: 5px solid var(--primary-color);
        width: 5px;
        height: 100%;
      }
    }
  }
}

.message-detail {
  border-right: 1px solid #eee;
}

.action {
  padding: 0.75rem !important;
}

.fp-logo {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.list-tag {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.tag {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: .175em 1em;
  margin-right: .5rem;
  max-width: 40%;
  background: rgba(0, 0, 0, 0.03);

  .tag-name {
    font-size: 0.9rem;
  }

  .icon-size {
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }
}

.message-search {
  margin-top: 8px;
  cursor: pointer;
  position: relative;
  background: #fff;
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 8px;
  }
}

.max-line {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:1;
  display: -webkit-box;
}

.searching-conversation {
  background: #FFFFFF;
  padding: 1rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee
}

.list-conversation-search {
  background: #FFFFFF;
  padding: 1rem 0;
  border-top: 1px solid #eee;
  margin-bottom: -8px;
  border-bottom: 1px solid #eee;
}

.mat-close {
  cursor: pointer;
  font-size: 1.6rem !important;
  width: 1.6rem !important;
  height: 1.6rem !important;
  margin-left: auto;
  margin-right: 0.5rem;
  font-weight: bold;
}