<div class="header-pos bg-white d-flex w-100 h-100">
  <div class="d-flex align-items-center border-bottom left-part">
    <div class="mr-auto p-4 d-flex align-items-center">
      <span *ePermissions="['shop/order:view']" class="back-icon" (click)="gotoOrders()">
        <i class="fa fa-angle-left mr-2"></i>
        Xem đơn hàng
      </span>
      <h4 class="font-weight-bold m-0 ml-4">POS - Tạo đơn hàng</h4>
    </div>
    <div class="mr-4">
      <div class="fullscreen" (click)="toggleFullscreen()" [ngClass]="{'active': fullScreen}">
        <svg viewBox="0 0 384.97 384.97" width="12px">
          <path d="M372.939,216.545c-6.123,0-12.03,5.269-12.03,12.03v132.333H24.061V24.061h132.333c6.388,0,12.03-5.642,12.03-12.03
			S162.409,0,156.394,0H24.061C10.767,0,0,10.767,0,24.061v336.848c0,13.293,10.767,24.061,24.061,24.061h336.848
			c13.293,0,24.061-10.767,24.061-24.061V228.395C384.97,221.731,380.085,216.545,372.939,216.545z" />
          <path d="M372.939,0H252.636c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h91.382L99.635,268.432
			c-4.668,4.668-4.668,12.235,0,16.903c4.668,4.668,12.235,4.668,16.891,0L360.909,40.951v91.382c0,6.641,5.39,12.03,12.03,12.03
			s12.03-5.39,12.03-12.03V12.03l0,0C384.97,5.558,379.412,0,372.939,0z" />
        </svg>
      </div>
    </div>
    <!-- TODO: Orders tabs -->
  </div>
  <div class="d-flex align-items-center bg-white border-bottom right-part">
    <div class="pr-4 pl-4">
      <small>Thu ngân</small>
      <div class="font-weight-bold">
        {{user.full_name}}
      </div>
    </div>
    <div class="p-2 pl-4 border-left">
      <small>Bán hàng</small>
      <div class="font-weight-bold">
        {{user.full_name}}
      </div>
    </div>
    <div class="ml-auto p-4 border-left">
      <img src="assets/images/_ham.png" alt="menu" width="24" placement="left" ngbTooltip="Đang phát triển">
    </div>
  </div>
</div>
