<div class="row info-body" *ngIf="fulfillment?.shipping_state != 'cancelled'">
  <faboshop-order-fulfillment-detail [ffm]="fulfillment"></faboshop-order-fulfillment-detail>
</div>
<ng-container *ePermissions="['shop/fulfillment:view']">
  <shop-order-fulfillments [order_code]="order?.code"></shop-order-fulfillments>
</ng-container>
