.variant-image {
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
}

.hyphen::after{
	content: " - "
}
.hyphen:last-child::after {
	content: " "
}
