<div class="modal fade popup-variants" #variantPopup role="dialog"
  style="position: absolute; background-color: rgba(0,0,0,0.01)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h6">Chọn phiên bản</p>
        <button class="close" data-dismiss="modal">
          <span class="text-large">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y: auto">
        <div class="my-2 text-center font-weight-bold">{{productSelected.name}}</div>
        <div class="border border-bottom-0">
          <div class="d-flex align-items-center cursor-pointer border-bottom py-2"
            *ngFor="let variant of productSelected.variants" (click)="pushdata(variant, productSelected)">
            <div class="px-2">
              <img [src]="variant.image_urls[0]" class="variant-image" alt="">
            </div>
            <div class="px-2" style="min-width: 200px;">
              <div>
                <span *ngFor="let attribute of variant.attributes" class="hyphen">{{attribute.value}}</span>
              </div>
              <div class="small-font text-default">{{variant.code}}</div>
            </div>
            <div class="mr-auto px-2">Tồn kho: <b>{{variant.quantity}}</b></div>
            <div class="px-2 text-primary font-weight-bold">{{variant.retail_price | vnd}}đ</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
