<ng-container *ngIf="loading; else loadDone;">
  <div class="empty">
    <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
  </div>
</ng-container>
<ng-template #loadDone>
  <div *ngIf="orders.length > 0; else empty;" class="table-responsive">
    <table class="w-100">
      <thead>
      <tr>
        <th>Mã đơn hàng</th>
        <th class="text-right">Khách phải trả</th>
        <th>Mã giao hàng</th>
        <th>Trạng thái ĐH</th>
        <th>Trạng thái GH</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders;">
        <td>
          <span class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailOrder(order?.code)">
            {{order?.code}}
            <i class="fas fa-external-link-alt external-link-icon text-primary"></i>
          </span>
          <div style="font-size: 10px;">{{order?.created_at | date: 'HH:mm dd/MM/yyyy'}}</div>
        </td>
        <td class="text-right">
          <div class="font-weight-bold">{{ order?.total_amount | vnd }}đ</div>
          <div style="font-size: 10px;">{{ order?.total_items }} sản phẩm</div>
        </td>
        <td>
          <div *ngIf="order?.activeFulfillment" class="d-flex align-items-center">
            <div class="carrier-image">
              <img [src]="order?.activeFulfillment?.shipping_provider_logo" alt="">
              <img
                *ngIf="order?.activeFulfillment?.from_topship"
                src="assets/images/r-topship_256.png" class="topship-logo" alt="">
            </div>
            <div
              class="d-flex flex-column align-items-start carrier-info"
              (click)="viewDetailFFM(order, order?.activeFulfillment)">
              <span class="shipping-code" [class.text-topship]="order?.activeFulfillment?.from_topship">
                {{ order?.activeFulfillment?.shipping_code }}
                <i class="fas fa-external-link-alt external-link-icon"></i>
              </span>
              <span class="d-flex align-items-center flex-wrap carrier-name">
                <span class="text-bold text-uppercase" [class.text-topship]="order?.activeFulfillment?.from_topship">
                  {{order?.activeFulfillment?.carrier_display}}
                </span>
              </span>
            </div>
          </div>
          <div *ngIf="!order?.activeFulfillment">-</div>
        </td>
        <td>
          <div class="status status-{{ order?.status }}">
            {{ order?.status_display }}
          </div>
        </td>
        <td>
          <div *ngIf="order?.activeFulfillment"
               class="status status-{{order?.activeFulfillment?.shipping_status}}">
            {{order?.activeFulfillment?.shipping_state_display}}
          </div>
          <div *ngIf="!order?.activeFulfillment">-</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="empty">Khách hàng <strong>{{customer_name}}</strong> chưa có đơn hàng nào.</div>
  </ng-template>
</ng-template>
