.line-info {
  padding: 0.75rem 0;

  .content {
    margin-top: 0.5rem;
    font: 500 1.1rem Arial !important;
  }

  ion-label {
    font-size: 0.9rem;
  }
}

.box-detail {
  border-top: 8px solid #f5f5f5;
  &:last-child {
    border-bottom: 8px solid #f5f5f5;
  }
}