<etop-not-permission *ngIf="noPermission; else enoughPermission;"></etop-not-permission>
<ng-template #enoughPermission>
  <div class="page-content">
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          Link MTB:
          <a href="https://mtb.etop.vn/question/687" target="_blank">
            https://mtb.etop.vn/question/687
          </a>
        </div>

        <div class="mb-3 d-flex align-items-center">
          Up file Excel từ MTB
          <button
            (click)="fileSelector.click()" class="btn btn-outline btn-primary ml-3"
            [disabled]="loading">
            <i class="fa fa-search" *ngIf="!loading"></i>
            <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
            Chọn file
          </button>
        </div>
        <input type="file" hidden accept=".xls, .xlsx, .csv" #fileSelector (change)="fileSelected($event)">
        <div class="font-italic small-font mb-3">{{fileSelector.files && fileSelector.files[0] && fileSelector.files[0].name}}</div>

        <div class="d-flex align-items-center">
          <etop-material-input-format-number
            style="width: 10rem;"
            placeholder="Nhập tỉ lệ" textLabel="Tỉ lệ" formatNumberUnit="%"
            [(ngModel)]="split_amount">
          </etop-material-input-format-number>
          <button class="ml-2 btn btn-outline btn-primary" (click)="split()">Tách phiên</button>
        </div>
      </div>
      <div class="col-4">
        <etop-material-input
          placeholder="Paste vào đây" textLabel="DS mã từ file đối soát" type="text-area"
          minRow="10" [(ngModel)]="not_copy" (ngModelChange)="formatToCopy()">
        </etop-material-input>
      </div>
      <div class="col-4">
        <etop-material-input
          placeholder="Paste vào đây" textLabel="DS mã input vào Metabase" type="text-area"
          minRow="10" [(ngModel)]="to_copy">
        </etop-material-input>
      </div>
    </div>
    <ng-container *ngIf="fulfillments.length">
      <div class="row">
        <div class="col-4 py-3">
          <div *ngFor="let ffm of fulfillments;">
            <h6>{{ffm?.shop}}</h6>
            <table class="table etop-table mt-table table-bordered">
              <thead>
              <tr class="etop-table-header">
                <th>Mã đơn GH</th>
                <th class="text-right">COD</th>
                <th>Ngày tạo</th>
              </tr>
              </thead>
              <tbody>
              <tr class="mt-row" *ngFor="let item of ffm?.value;">
                <td>{{item?.shipping_code}}</td>
                <td class="text-right font-weight-bold">{{item?.total_cod_amount | number}}đ</td>
                <td>{{item?.created_at | date: 'dd/MM/yyyy'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-4 py-3" *ngIf="abandoneds.length">
          <h6>{{this.split_amount_display}}% đầu</h6>
          <div class="table-responsive">
            <table class="w-100">
              <tbody>
                <tr class="mt-row" *ngFor="let item of abandoneds;">
                  <td>{{item?.shipping_code}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-4 py-3" *ngIf="kepts.length">
          <h6>{{100 - this.split_amount_display}}% cuối</h6>
          <div class="table-responsive">
            <table class="w-100">
              <tbody>
                <tr class="mt-row" *ngFor="let item of kepts;">
                  <td>{{item?.shipping_code}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
