<div class="row mt-4">
  <div class="col-12">
    <div class="box setting-box">
      <div class="setting-header">Đăng bài viết</div>
      <div class="setting-body p-0">
        <ng-container *ngIf="loading; else loaded">
          <div class="loading">
            <i class="fa fa-spin fa-circle-o-notch text-primary"></i>
          </div>
        </ng-container>
        <ng-template #loaded>
          <etop-empty *ngIf="!pages.length" class="mb-5">
            <div class="empty-title mt-5 text-center">
              <img src="/assets/images/no-fanpage-logo.jpg" class="mb-2" width="100px" alt="no-fanpage-logo" >
              <h5 style="opacity: 0.7">Cửa hàng của bạn chưa có Fanpage nào được kết nối</h5>
            </div>
            <div class="empty-action mt-3">
              <h5 class="text-center text-primary">Kết nối Fanpage</h5>
              <img class="connect-to-facebook-fanpage-btn" src="/assets/images/connect-to-facebook-fanpage-btn.png" alt="connect-more-facebook-fanpage" (click)="connectFB()">
            </div>
          </etop-empty>
        </ng-template>
        <div *ngIf="pages.length">
          <label class="my-1 mr-2">Chọn page</label>
          <etop-material-input [(ngModel)]="external_page_id" [valueMap]="valueMap" [displayMap]="displayMap"
                  [optionSelect]="pages"  type="select">
          </etop-material-input>
          <etop-material-input
            textLabel="Nội dung" placeholder="Nhập nội dung"
            type="text-area" class="padding"
            [(ngModel)]="content">
          </etop-material-input>
        </div>
      </div>
      <div *ngIf="pages?.length" class="setting-footer ng-star-inserted">
        <button type="submit" class="btn btn-primary" (click)="createFbPost()">Đăng</button>
      </div>
    </div>
  </div>
</div>
