ion-input {
  font-size: 14px;
}

ion-item {
  font-size: 14px;
}

.body-content {
  position: relative;
  padding-bottom: 45px;
}

.box-detail {
  border-top: 8px solid #f5f5f5;
  border-bottom: 8px solid #f5f5f5;
}

.footer-content {
  bottom: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

ion-list {
  ion-item {
    padding-top: .75rem;

    ion-label {
      opacity: .7;
    }

    ion-select,
    ion-datetime,
    ion-input {
      font-weight: bold;
    }
  }
}