<ion-header>
    <ion-toolbar>
        <ion-title>Thêm sản phẩm</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="page-content w-100 ion-padding-bottom" [formGroup]="productForm">
        <div class="upload-img ion-margin-top" (click)="takePicture()" *ngIf="!productImg; else hasImg">
            <img src="assets/imgs/upload-image.png" alt="">
            <div class="text-primary ion-padding-bottom">Thêm ảnh</div>
            <div class="uploading" *ngIf="uploading">
                <ion-spinner name="crescent" class="loading-icon"></ion-spinner>
            </div>
        </div>
        <ng-template #hasImg>
            <div class="ion-text-center ion-padding">
                <div class="product-image">
                    <img [src]="productImg" alt="">
                    <ion-icon name="camera" class="icon-upload" (click)="takePicture()"></ion-icon>
                    <div class="uploading" *ngIf="uploading">
                        <ion-spinner name="crescent" class="loading-icon"></ion-spinner>
                    </div>
                </div>
            </div>
        </ng-template>
        <ion-list class="info">
            <ion-item lines="none" class="line-info ion-margin-end input-wrapper line-custom">
                <ion-label position="floating">Tên sản phẩm (*)</ion-label>
                <ion-input inputmode="text" formControlName="name"></ion-input>
            </ion-item>
            <ng-container *ngIf="!product?.variants?.length">
                <etop-ion-input-format-number lines="none" cssClass="line-info ion-margin-end line-custom " textLabel="Giá bán (*)" formatNumberUnit="đ" formControlName="retail_price">
                </etop-ion-input-format-number>
                <etop-ion-input-format-number lines="none" cssClass="line-info ion-margin-end line-custom" textLabel="Giá vốn" formatNumberUnit="đ" formControlName="cost_price">
                </etop-ion-input-format-number>
                <etop-ion-input-format-number lines="none" cssClass="line-info ion-margin-end line-custom" textLabel="Tồn kho" formControlName="total_quantity">
                </etop-ion-input-format-number>
            </ng-container>
            <div style="position: relative;">
                <ion-item lines="none" class="line-info ion-margin-end line-custom" style="margin-right: 50px">
                    <ion-label position="floating">Mã sản phẩm</ion-label>
                    <ion-input inputmode="text" formControlName="code"></ion-input>
                </ion-item>
                <ion-buttons (click)="scanBarcode()" class="barcode-button" style="margin: 0 16px 10px 0;">
                    <ion-icon name="barcode-outline"></ion-icon>
                </ion-buttons>
            </div>
            <ion-item lines="none" class="line-info ion-margin-end line-custom">
                <ion-label position="floating">Mô tả</ion-label>
                <ion-textarea autoGrow="true" spellcheck="false" inputmode="text" formControlName="description"></ion-textarea>
            </ion-item>
        </ion-list>
    </div>
    <ng-container *ePermissions="['shop/product:create']">
        <div class="box-detail" *ngIf="!product?.variants?.length">
            <div class="ion-padding" (click)="initializationAttribute()">
                <ion-text color="primary">+ Thêm mẫu mã</ion-text>
            </div>
        </div>
    </ng-container>

    <div class="box-detail" *ngIf="product?.variants?.length > 0">
        <div class="header font-bold ion-flex ion-justify-content-between ion-margin">
            <ion-text>Mẫu mã ({{product?.variants?.length}})</ion-text>
            <ion-text color="primary" (click)="editVariants()">Chỉnh sửa</ion-text>
        </div>
        <div class="items-list-row" *ngFor="let variant of product?.variants; index as i">
            <div class="box">
                <ion-gird>
                    <ion-row>
                        <ion-col>
                            <div class="font-bold">
                                Mẫu mã {{i + 1}}
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="5">
                            <div class="line-info">
                                <ion-label>Mã mẫu mã</ion-label>
                                <div class="content">{{variant.code || '-'}}</div>
                            </div>
                        </ion-col>
                        <ion-col size="5">
                            <div class="line-info">
                                <ion-label>Thuộc tính</ion-label>
                                <div class="content">{{joinAttrs(variant.attributes)}}</div>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="5">
                            <div class="line-info">
                                <ion-label>Giá bán</ion-label>
                                <div class="content">{{variant?.retail_price | vnd}}đ</div>
                            </div>
                        </ion-col>
                        <ion-col size="5">
                            <div class="line-info">
                                <ion-label>Giá vốn</ion-label>
                                <div class="content" *ngIf="variant?.cost_price">{{variant?.cost_price | vnd}}đ</div>
                                <div class="content" *ngIf="!variant?.cost_price">-</div>
                            </div>
                        </ion-col>
                        <ion-col size="2">
                            <div class="line-info">
                                <ion-label>Tồn kho</ion-label>
                                <div class="content" *ngIf="variant?.quantity">{{variant?.quantity}}</div>
                                <div class="content" *ngIf="!variant?.quantity">-</div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-gird>
            </div>
        </div>
    </div>
</ion-content>
<ng-container *ePermissions="['shop/product:create']">
    <ion-footer class="footer-button-wrapper" (click)="create()">
        <ion-toolbar color="light" class="no-padding">
            <div class="footer-buttons-etop ion-flex">
                <button class="w-100 bg-primary text-white footer-button-item">
          Tạo sản phẩm
        </button>
            </div>
        </ion-toolbar>
    </ion-footer>
</ng-container>