:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

ion-label {
    color: #444;
    font-size: 12px;
}

.footer-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.page-content {
    padding-bottom: 44px;
}

.box-detail {
    border-top: 8px solid #f5f5f5;
}

.upload-img {
    text-align: center;
    border: 1px dashed gray;
    width: 120px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.upload-img img {
    width: 44px;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.uploading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    .loading-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}

.product-image {
    height: 120px;
    width: 120px;
    margin: auto;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .icon-upload {
        position: absolute;
        font-size: 2.3rem;
        border: 3px solid white;
        border-radius: 50%;
        padding: 0.5rem;
        right: -1.7rem;
        bottom: 0;
        background: #eee;
    }
}

ion-input-format-number::ng-deep {
    width: 100%;
    .formatted-number {
        width: 100%;
        padding-top: 15px;
    }
}

.box-detail {
    border-top: 8px solid #f5f5f5;
}

.line-info {
    padding: 0.75rem 0;
    --inner-padding-end: 0;
    .content {
        margin-top: 0.5rem;
        font: 500 1.1rem Arial !important;
    }
    ion-label {
        font-size: 0.8rem;
    }
}

.items-list-row {
    border-top: 1px solid #eee;
}