.connection-info {
    border-top: 1px solid var(--border-gray-color);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    &:first-child {
      border-top: none;
    }
  }
  
  .carrier-image {
    height: auto;
    width: 2rem;
    border: none;
    img {
      object-fit: cover;
      border: none;
      top: -1rem;
      height: auto;
    }
  }
  
  .button-inside-input {
    position: absolute;
    right: 5px;
    cursor: pointer;
    background: #fff;
    z-index: 1000;
  }