<ng-container *ePermissions="['admin/shop_shipment_price_list:update']">
    <ng-container *ngIf="initializing; else initialized;">
      <div class="slider-loading">
        <i class="text-primary fa fa-spin fa-circle-o-notch"></i>
      </div>
    </ng-container>
    <ng-template #initialized>
      <div class="slider-detail-section">
        <div class="row">
          <div class="col-6 py-2">
            <etop-material-input textLabel="Lịch chuyển khoản" type="custom">
              <span class="read-only">{{(activeShop$ | async)?.money_transaction_rrule_display || '-'}}</span>
              <span class="text-primary button-inside-input" (click)="openPopupUpdateShopMtRrule()">Thay đổi</span>
            </etop-material-input>
          </div>
          <div class="col-6 py-2">
            <etop-material-input textLabel="Ưu tiên" type="custom">
        <span class="read-only status status-{{(activeShop$ | async)?.is_prior_money_transaction ? 'P' : 'Z'}}">
          {{(activeShop$ | async)?.is_prior_money_transaction ? 'Đang ưu tiên' : 'Không'}}
        </span>
              <span class="text-primary button-inside-input" (click)="openDialogUpdateShopPriority()">Thay đổi</span>
            </etop-material-input>
          </div>
        </div>
      </div>
      <div class="slider-detail-section">
        <div class="slider-detail-info-title mb-0">
          <i class="fa fa-circle text-primary smaller-font mr-2"></i>
          BẢNG GIÁ
        </div>
        <div class="lower-medium-font font-italic mb-3">*Thiết lập bảng giá riêng cho Shop</div>
        <ng-container [formGroup]="shopShipmentPriceListsForm">
          <ng-container formArrayName="shopShipmentPriceLists">
            <div class="row align-items-center mb-3"
                 *ngFor="let item of shopShipmentPriceListsFormArray.controls; let i = index">
              <div class="col-4">
                <etop-material-input
                  type="custom" textLabel="Nhà vận chuyển">
                  <div class="d-flex align-items-center">
                    <div class="carrier-image">
                      <img alt="" src="{{item?.value?.connection?.provider_logo || 'assets/images/placeholder.png'}}">
                    </div>
                    <div class="pl-2">
                      {{item?.value?.connection?.name | uppercase}}
                    </div>
                  </div>
                </etop-material-input>
              </div>
              <div class="col-8">
                <etop-material-input
                  *ngIf="!item?.value?.shipmentPriceLists?.length"
                  type="custom" textLabel="Bảng giá">
                  Chưa có bảng giá
                </etop-material-input>
                <ng-container *ngIf="item?.value?.shipmentPriceLists?.length" [formGroupName]="i">
                  <etop-material-input
                    textLabel="Bảng giá" placeholder="Chọn bảng giá" type="select"
                    [optionSelect]="item?.value?.shipmentPriceLists"
                    [displayMap]="displayMap" [valueMap]="valueMap" formControlName="shipment_price_list_id">
                  </etop-material-input>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <div class="text-right py-2">
          <button class="btn btn-primary" [disabled]="loading" (click)="confirm()">
            <mat-spinner *ngIf="loading" class="mr-2" diameter="14"></mat-spinner>
            Xác nhận
          </button>
        </div>
      </div>
    </ng-template>
  </ng-container>
