<ion-header>
  <ion-toolbar>
    <ion-title class="w-100 p-l-30 ion-text-left">Khách hàng</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="customerEdit()" style="width: auto" *ngIf="(customer$ | async)?.code">
      <ion-text color="primary" class="ion-margin-end">Chỉnh sửa</ion-text>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content fullscreen>
  <div class="body-content">
    <div class="ion-text-center ion-padding">
      <img [imageLoader]="(customer$ | async)?.fb_users[0]?.external_info?.image_url" src="assets/imgs/user_logo.jpg" alt="avatar" class="customer-avatar">
    </div>
    <div class="customer-info ion-text-center">
      <div class="customer-name">
        {{(customer$ | async)?.full_name}}
      </div>
      <div class="customer-phone">
        <a href="tel:{{(customer$ | async)?.phone}}">{{(customer$ | async)?.phone}}</a>
      </div>
    </div>
    

    <div class="ion-flex ion-padding">
      <ion-button color="primary" fill="outline" class="w-100" style="margin-right: 0.5rem"
        href="tel:{{(customer$ | async)?.phone}}">
          <ion-icon name="call-outline" class="action-icon" color="primary"></ion-icon>
          <ion-text color="primary">Gọi điện</ion-text>
      </ion-button>
      <ion-button color="primary" class="w-100" (click)="confirmOrder()">
        <ion-icon name="cart-outline" class="action-icon text-white"></ion-icon>
        <ion-text class="text-white">Chốt đơn</ion-text>
      </ion-button>
    </div>
    
    <div class="box-detail ion-padding-bottom">
      <div class="ion-flex ion-padding-horizontal ion-padding-top text-medium" (click)="toggleOrder()">
        <span class="mr-auto font-bold">Lịch sử mua hàng</span>
        <ion-icon name="chevron-{{order_show ? 'up' : 'down'}}-outline"></ion-icon>
      </div>
      <div class="order-box ion-text-center" [ngClass]="{'ion-hide': !order_show}">
        <div class="order-list">
          <ng-container *ngFor="let order of orders">
            <div class="items-row" *ngIf="order?.fulfillments[0]?.shipping_code">
              <div class="box" (click)="orderDetail(order)">
                <div class="ion-flex ion-align-items-center ion-justify-content-between">
                  <div class="order-info">
                    <div class="normal-font">
                      <ion-text color="primary" class="font-bold" style="font-size: 0.9rem">{{order?.code}}</ion-text>
                    </div>
                    <div class="small-font ion-text-left">
                      {{order?.created_at | date: 'dd/MM/yy HH:mm'}}
                    </div>
                  </div>
                  <div class="order-price normal-font font-bold ion-text-right">
                    <div class="price">{{order?.total_amount | vnd}}đ</div>
                    <div class="small-font status {{order?.status}}">
                      {{order?.status_display}}
                    </div>
                  </div>
                </div>
                <div class="ffm ion-flex ion-align-items-center ion-justify-content-between"
                  *ngIf="order?.fulfillments?.length > 0">
                  <div class="ion-flex ion-align-items-center">
                    <img [src]="order?.fulfillments[0]?.shipping_provider_logo" alt="" class="provider-logo">
                    <ion-text style="font-size: 0.8rem">
                      {{order?.fulfillments[0]?.carrier | uppercase}}
                      - {{order?.fulfillments[0]?.shipping_code}}
                      - COD <strong
                        style="font-size: 0.8rem">{{order?.fulfillments[0]?.total_cod_amount | vnd}}đ</strong>
                    </ion-text>
                  </div>
                  <div class="ion-flex ion-align-items-center">
                    <ion-text style="font-size: 0.8rem">{{order?.fulfillments[0]?.shipping_state_display}}</ion-text>
                    <ion-icon name="ellipse" class="ffm-status {{order?.fulfillments[0]?.shipping_status}}"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div style="opacity: 0.8" *ngIf="orders?.length == 0">
            Chưa có đơn hàng
          </div>
        </div>
      </div>
    </div>
    <div class="box-detail ion-padding-bottom">
      <div class="ion-flex ion-padding-horizontal ion-padding-top text-medium" (click)="toggleDetail()">
        <span class="mr-auto font-bold">Thông tin chi tiết</span>
        <ion-icon name="chevron-{{show ? 'up' : 'down'}}-outline"></ion-icon>
      </div>
      <div class="list-item ion-padding-top" [ngClass]="{'ion-hide': !show}">
        <div class="item">
          <ion-label>Email</ion-label>
          <ion-text>{{(customer$ | async)?.email || '-'}}</ion-text>
        </div>
        <div class="item">
          <ion-label>Giới tính</ion-label>
          <ion-text>{{genderMap((customer$ | async)?.gender)}}</ion-text>
        </div>
        <div class="item">
          <ion-label>Ngày sinh</ion-label>
          <ion-text>{{((customer$ | async)?.birthday | date: 'dd/MM/yyyy') || '-'}}</ion-text>
        </div>
        <div class="item">
          <ion-label>Địa chỉ</ion-label>
          <ion-text>{{address_display || '-'}}</ion-text>
        </div>
        <div class="item">
          <ion-label>Ghi chú</ion-label>
          <ion-text>{{(customer$ | async)?.note || '-'}}</ion-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>
