<div class="popover-wrapper">
  <div class="popover-header">
    <div class="title font-bold">Tạo nhanh sản phẩm</div>
    <ion-icon class="close-button" name="close-outline" (click)="dismiss()"></ion-icon>
  </div>
  <div class="popover-body">
    <ion-list class="ion-padding-bottom" [formGroup]="productForm">
      <ion-item lines="none">
        <ion-label position="floating">Tên sản phẩm</ion-label>
        <ion-input placeholder="Tên sản phẩm" formControlName="product_name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Giá sản phẩm</ion-label>
        <ion-input placeholder="Nhập giá sản phẩm" type="number" formControlName="price"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <div class="popover-footer">
    <div class="popover-buttons">
      <button class="text-primary font-bold" (click)="createProduct()">Tạo</button>
    </div>
  </div>
</div>