shop-pos-header::ng-deep,
shop-pos-body::ng-deep {
  width: 100%;
  .left-part {
    width: 65%;
  }
  .right-part {
    width: 35%;
  }
}
shop-pos-header::ng-deep {
  height: 5rem;
}
shop-pos-body::ng-deep {
  height: calc(100% - 5rem); // height of header and borders
}
