.carrier-img img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-gray-color);
  border-radius: 100%;
  object-fit: contain;
  object-position: center;
}

.carrier-name {
  font-size: 1.1rem;
  font-weight: 700;
}

.no-connect {
  .carrier-img img {
    filter: grayscale(1);
  }

  .carrier-name {
    opacity: 0.7;
  }
}
