<div class="box setting-box">
  <div class="setting-header">Kết nối nhà vận chuyển</div>
  <div class="carrier-list">
    <ng-container *ngFor="let connection of connections">
      <div class="setting-body" shop-carrier-connect-row [connection]="connection"></div>
    </ng-container>
    <div class="setting-body no-connect">
      <div class="carrier-item d-flex align-items-center">
        <div class="carrier-img pr-4">
          <img src="assets/icons/icon_carrier_ghtk.png" alt="">
        </div>
        <div class="info">
          <div class="carrier-name">Giao Hàng Tiết Kiệm</div>
        </div>
        <div class="ml-auto">
          <span style="opacity: 0.7">Đang phát triển</span>
        </div>
      </div>
    </div>
    <div class="setting-body no-connect">
      <div class="carrier-item d-flex align-items-center">
        <div class="carrier-img pr-4">
          <img src="assets/icons/icon_carrier_vtpost.png" alt="">
        </div>
        <div class="info">
          <div class="carrier-name">Viettel Post</div>
        </div>
        <div class="ml-auto">
          <span style="opacity: 0.7">Đang phát triển</span>
        </div>
      </div>
    </div>
    <div class="setting-body no-connect">
      <div class="carrier-item d-flex align-items-center">
        <div class="carrier-img pr-4">
          <img src="assets/icons/icon_carrier_vnpost.png" alt="">
        </div>
        <div class="info">
          <div class="carrier-name">VietNam Post</div>
        </div>
        <div class="ml-auto">
          <span style="opacity: 0.7">Đang phát triển</span>
        </div>
      </div>
    </div>
    <div class="setting-body no-connect">
      <div class="carrier-item d-flex align-items-center">
        <div class="carrier-img pr-4">
          <img src="assets/icons/icon_carrier_topship.png" alt="">
        </div>
        <div class="info">
          <div class="carrier-name">Topship</div>
        </div>
        <div class="ml-auto">
          <span style="opacity: 0.7">Đang phát triển</span>
        </div>
      </div>
    </div>
  </div>
</div>
