<ion-header>
  <ion-toolbar>
    <ion-title>{{tag?.id ? 'Cập nhật' : 'Tạo'}} thẻ</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="close-outline" (click)="dismiss()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-flex">
  <ion-item class="ion-margin-bottom">
    <ion-label position="floating">Tên</ion-label>
    <ion-input placeholder="Nhập tên thẻ" [(ngModel)]="tag.name"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-toolbar>
      <ion-label>Màu sắc</ion-label>
      <ion-row>
        <ion-col size="2" *ngFor="let color of colors; index as i">
          <ion-checkbox [(ngModel)]="color.isChecked" [disabled]="color.isChecked" (ngModelChange)="changeColor(i)"
            style="--background-checked: {{color.value}} ;
                    --border-color-checked: {{color.value}}; 
                    --background: {{color.value}};
                    --border-color: {{color.value}}">
          </ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-item>
</ion-content>
<ion-footer class="footer-button-wrapper">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="confirm()">
        {{tag?.id ? 'Cập nhật' : 'Tạo'}}
      </button>
    </div>
  </ion-toolbar>
</ion-footer>