<div class="main-info">
  <div class="row">
    <div class="slider-detail-input-item col-6">
      <etop-material-input textLabel="Mã phiếu" type="custom">
        <span class="read-only text-primary font-weight-bold">{{voucher?.code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6">
      <etop-material-input textLabel="Thời gian tạo" type="custom">
        <span class="read-only">{{voucher?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-12">
      <etop-material-input textLabel="Đối tác" type="custom">
        <ng-container *ngIf="voucher?.trader; else noTrader;">
          <span>{{voucher?.trader_display}}</span>
          <span class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailTrader(voucher?.trader)">
            &nbsp;{{voucher?.trader?.full_name || '-'}}
            {{voucher?.trader?.phone && ' - ' + voucher?.trader?.phone || ''}}
            <i *ngIf="!voucher?.trader?.deleted" class="fas fa-external-link-alt external-link-icon"></i>
          </span>
          <span class="font-weight-normal text-default ml-1 small-font" *ngIf="voucher?.trader?.deleted">(Đã xoá)</span>
        </ng-container>
        <ng-template #noTrader>
          <span>-</span>
        </ng-template>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-12">
      <etop-material-input textLabel="Nội dung" type="custom">
        <span class="read-only">{{voucher?.title}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6">
      <etop-material-input textLabel="Phương thức" type="custom">
        <span class="read-only font-weight-bold">{{voucher?.ref_name}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6">
      <etop-material-input textLabel="Tham chiếu" type="custom">
        <span>{{voucher?.ref_display}}</span>
        <span class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailRef(voucher)">
          &nbsp;{{voucher?.ref_code}}
          <i class="fas fa-external-link-alt external-link-icon"></i>
        </span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Số sản phẩm" type="custom">
        <span class="read-only font-weight-bold">{{voucher?.total_products}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Tổng số lượng" type="custom">
        <span class="read-only font-weight-bold">{{voucher?.total_items}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Tổng giá trị" type="custom">
        <span class="read-only font-weight-bold">{{voucher?.total_amount | vnd}}đ</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-12">
      <etop-material-input textLabel="Ghi chú" type="custom">
        <span class="read-only">{{voucher?.note}}</span>
      </etop-material-input>
    </div>
  </div>
</div>
<div class="variant-list">
  <h6 class="font-weight-bold font-11 mb-4">DANH SÁCH SẢN PHẨM</h6>
  <div class="row">
    <shop-inventory-voucher-variants [lines]="voucher?.lines" [voucher_type]="voucher?.type_display"></shop-inventory-voucher-variants>
  </div>
</div>
