<ion-header>
  <ion-toolbar>
    <ion-title>Quên mật khẩu</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-text>Vui lòng nhập số điện thoại mà bạn đã dùng khi đăng ký tài khoản. Chúng tôi sẽ gửi tin nhắn cho phép bạn đặt lại mật khẩu.</ion-text>
  </div>
  <ion-item class="ion-padding-end">
    <ion-label position="floating">Nhập số điện thoại</ion-label>
    <ion-input class="font-bold" style="font-size: 1.25rem" type="tel" [(ngModel)]="phone"></ion-input>
  </ion-item>
</ion-content>
<ion-footer class="footer-button-wrapper">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="checkUserRegistration()">
        <ion-spinner name="lines-small" class="text-white" style="font-size: 1.5rem; margin-right: .5rem;"
          *ngIf="ionLoading"></ion-spinner>
          <span>Xác nhận</span>

      </button>
    </div>
  </ion-toolbar>
</ion-footer>
