<div class="title">
    Nhập mã xác nhận
</div>
<div class="carrier-info">
    <div class="carrier-image">
        <img src="{{carrierConnection?.provider_logo}}" alt="">
    </div>
    <div class="carrier-name">{{carrierConnection?.name_display}}</div>
    <div class="ion-text-center">
        {{carrierConnection?.connection_provider | uppercase}} vừa gửi cho bạn một mã xác thực đến số điện thoại
        <strong>{{identifier}}</strong>. Vui lòng kiểm tra tin nhắn và nhập mã vào ô bên dưới
    </div>
</div>
<ion-list class="ion-padding-end ion-margin-bottom">
    <ion-item lines="none" class="line-custom">
        <ion-label position="floating">Mã xác thực</ion-label>
        <ion-input inputmode="number" [(ngModel)]="loginInfo.otp" (ngModelChange)="loginInfoChanged()">
        </ion-input>
    </ion-item>
</ion-list>
<div class="retry" *ngIf="timer">
    <ion-text>Bạn chưa nhận được mã?</ion-text>
    <ion-text *ngIf="countDown > 0; else retry" color="primary" class="font-bold" style="opacity: 0.7; margin-left: 0.5rem">Gửi lại ({{timer}})</ion-text>
    <ng-template #retry>
        <ion-text color="primary" class="font-bold" style="margin-left: 0.5rem" (click)="retrySendOtp()">Gửi lại</ion-text>
    </ng-template>
</div>