<div cdkDropList class="drag-list" (cdkDropListDropped)="drop($event)">
  <div class="drag-item" *ngFor="let item of drag_items; let i = index;" cdkDrag>
    <ng-container  *ngTemplateOutlet="itemTemplate; context: {item: item, index: i}">
    </ng-container>
  </div>
</div>
