<div class="slider-detail-section">
  <div class="row align-items-center">
    <div class="col-6">
      <etop-material-nofilter-input-autocomplete
        placeholder="Người giới thiệu" textLabel="Người giới thiệu"
        [options]="refAffUsers" [keepValueAsSearchText]="true"
        [displayMap]="displayMap" [valueMap]="refAffValueMap" [inputMap]="refAffInputMap"
        [(ngModel)]="refAffID" (searching)="onUserSearch($event)" (ngModelChange)="selectUser()">
      </etop-material-nofilter-input-autocomplete>
    </div>
    <div class="col-6 d-flex align-items-center" *ngIf="refAffID">
      <ng-container *ngIf="refAff">
        <mat-icon class="icon">person</mat-icon>
        <strong>{{refAff.full_name}}</strong>
        <div style="padding-left: 0.4rem;">(eTop User)</div>
      </ng-container>
      <span *ngIf="!refAff">Không tìm thấy user</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <etop-material-nofilter-input-autocomplete
        placeholder="Nhân viên chăm sóc" textLabel="Nhân viên chăm sóc"
        [options]="refSaleAdmins" [keepValueAsSearchText]="true"
        [displayMap]="displayMap" [valueMap]="refSaleValueMap" [inputMap]="refSaleInputMap"
        [(ngModel)]="refSaleID" (ngModelChange)="selectAdmin()">
      </etop-material-nofilter-input-autocomplete>
    </div>
    <div class="col-6 d-flex align-items-center" *ngIf="refSaleID">
      <ng-container *ngIf="refSale">
        <mat-icon class="icon text-primary">person</mat-icon>
        <div class="d-flex">
          <strong>{{refSale.full_name}}</strong>
          <div style="padding-left: 0.4rem;">({{refSale.roles_display}})</div>
        </div>
      </ng-container>
      <span *ngIf="!refSale">Không tìm thấy admin</span>
    </div>
  </div>
  <div class="text-right py-2">
    <button class="btn btn-primary" (click)="submit()" [disabled]="loading">
      <mat-spinner *ngIf="loading" class="mr-2" diameter="14"></mat-spinner>
      Cật nhật
    </button>
  </div>
</div>
