<div *ePermissions="['shop/settings/bank_info:view']" class="box setting-box mt-0">
  <div class="setting-header">Tài khoản ngân hàng nhận tiền đối soát từ TOPSHIP</div>
  <div class="setting-body">
    <div class="row" [formGroup]="bankForm">
      <div class="col-12 py-2">
        <etop-material-input-autocomplete
          placeholder="Chọn ngân hàng" textLabel="Ngân hàng" [options]="banksList$ | async"
          [displayMap]="bankDisplayMap" [valueMap]="bankValueMap"
          formControlName="bankCode">
        </etop-material-input-autocomplete>
      </div>
      <div class="col-6 py-2">
        <etop-material-input-autocomplete
          placeholder="Chọn tỉnh" textLabel="Tỉnh" [options]="(bankProvincesList$ | async) || []"
          [displayMap]="bankDisplayMap" [valueMap]="bankValueMap"
          formControlName="bankProvinceCode">
        </etop-material-input-autocomplete>
      </div>
      <div class="col-6 py-2">
        <etop-material-input-autocomplete
          placeholder="Chọn chi nhánh" textLabel="Chi nhánh" [options]="(bankBranchesList$ | async) || []"
          [displayMap]="bankDisplayMap" [valueMap]="bankValueMap"
          formControlName="bankBranchCode">
        </etop-material-input-autocomplete>
      </div>
      <div class="col-6 py-2">
        <etop-material-input
          placeholder="Tên chủ tài khoản" textLabel="Tên chủ tài khoản" type="input"
          formControlName="accountName"
          (blur)="formatName()">
        </etop-material-input>
      </div>
      <div class="col-6 py-2">
        <etop-material-input
          placeholder="Số tài khoản" textLabel="Số tài khoản" type="input"
          formControlName="accountNumber">
        </etop-material-input>
      </div>
    </div>
    <div class="alert alert-warning mb-0 mt-2">
      Bạn cần bấm <strong>Cập nhật</strong> để cập nhật những thay đổi
    </div>
  </div>
  <div class="setting-footer">
    <div class="note mr-2" style="flex: 1">
      *Thông tin số tài khoản, tên chủ tài khoản không chính xác sẽ dẫn đến chuyển khoản thanh toán không thành công.
    </div>
    <div class="ml-auto">
      <button
        *ePermissions="['shop/settings/bank_info:update']" (click)="updateBankAccount()" class="btn btn-primary"
        [disabled]="updating.bank_account">
        <i class="fas fa-circle-notch fa-spin mr-1" *ngIf="updating.bank_account"></i>
        Cập nhật
      </button>
    </div>
  </div>
</div>
<div *ePermissions="['shop/settings/topship_balance:view']" class="box setting-box">
  <div class="setting-header">Số dư đối soát TOPSHIP</div>
  <div class="setting-body">
    <div class="row">
      <div class="col-6 border-right">
        <h5>SỐ DƯ THỰC TẾ</h5>
        <div class="balance mb-1">
          {{balance?.actual_balance| vnd}}đ
        </div>
        <div [outerHTML]="util.ACTUAL_BALANCE_EXPLAIN"></div>
      </div>
      <div class="col-6">
        <h5>SỐ DƯ DỰ KIẾN</h5>
        <div>
          <div class="balance mb-1">
            {{balance?.available_balance | vnd}}đ
          </div>
        </div>
        <div [outerHTML]="util.AVAILABLE_BALANCE_EXPLAIN"></div>
      </div>
    </div>
  </div>
  <div
    class="text-center pt-3 setting-footer"
    [innerHTML]="('html_topship_balance_note' | whiteLabel: 'html') | safeHtml">
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div *ePermissions="['shop/settings/payment_schedule:view']" class="box setting-box">
      <div class="setting-header">Lịch chuyển khoản tiền đối soát TOPSHIP</div>
      <div class="setting-body">
        <div class="form-group mb-0">
          <label>Chọn lịch chuyển khoản</label>
          <etop-material-input
            type="select" placeholder="Chọn lịch chuyển khoản" textLabel="Lịch chuyển khoản"
            [optionSelect]="money_transaction_rrule_options"
            [(ngModel)]="money_transaction_rrule">
          </etop-material-input>
        </div>
      </div>
      <div class="setting-footer">
        <div class="note mr-2" style="flex: 1">
          *Thay đổi lịch chuyển khoản sẽ có tác dụng trong vòng 24h.
        </div>
        <div class="ml-auto">
          <button
            *ePermissions="['shop/settings/payment_schedule:update']" (click)="updateMoneyTransactionCalendar()"
            class="btn btn-primary" [disabled]="updating.money_transaction_calendar">
            <i class="fas fa-circle-notch fa-spin mr-1" *ngIf="updating.money_transaction_calendar"></i>
            Cập nhật
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
