.current-balance {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  label {
    font-size: 1.5rem;
    font-weight: 700;
    background: #eee;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
