<div class="modal-header">
  <h6 class="modal-title">Nhập mã xác nhận từ TOPSHIP</h6>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>TOPSHIP đã gửi email kèm mã xác thực đến địa chỉ email <strong>{{email_verified}}</strong>.</div>
  <div>Vui lòng kiểm tra email (kể cả trong hộp thư spam).</div>
  <div class="py-2">
    <etop-material-input
      placeholder="Nhập mã xác thực" textLabel="Mã xác thực" type="input"
      [(ngModel)]="sToken">
    </etop-material-input>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline btn-default" (click)="closeModal()">Đóng</button>
  <button class="btn btn-primary" (click)="submitSToken()" [disabled]="loading">
    <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>
