  <div class="dialog-header">
    <div class="dialog-title">Gán máy nhánh</div>
    <div class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div class="dialog-body" [formGroup]="initExtensionForm">
    <etop-material-input type="custom" textLabel="Nhân viên" [disabled]="true">
        <span class="read-only">{{data?.staff?.full_name}} - {{data?.staff?.phone}}</span>
    </etop-material-input>
        
    <div class="mt-4">
        <etop-material-input type="select" 
            [optionSelect]="hotlines"
            textLabel="Hotline"
            appearance="outline" 
            placeholder="Chọn hotline" 
            formControlName="hotline_id"
            [displayMap]="displayMapHotline"
            [valueMap]="valueMap">
        </etop-material-input>
    </div>
    

    <mat-form-field class="mt-4" appearance="outline">
        <mat-label>Máy nhánh</mat-label>
        <mat-select formControlName="extension_id">
            <mat-option *ngFor="let extension of extensions" [value]="extension.id">
            {{extension.extension_number}}
            </mat-option>
            <mat-option class="e-border-top new-ext" disabled>
                <div class="text-center text-primary text-big" (click)="newExtension()">+ Tạo máy nhánh</div>
            </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div class="dialog-footer">
    <div class="text-right">
      <button class="btn btn-outline btn-default mr-2" (click)="closeDialog()">
        Đóng
      </button>
      <button class="btn btn-primary" (click)="confirmAssignExtension()">
        Xác nhận
      </button>
    </div>
  </div>
  