<div class="dialog-header">
  <div class="dialog-title">Thay đổi lịch chuyển khoản</div>
  <div class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div class="dialog-body">
  <div class="py-2">
    <etop-material-input
      placeholder="Shop" textLabel="Shop" type="custom">
      <span class="read-only text-bold">{{shop?.name}} - {{shop?.code}}</span>
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-input
      placeholder="Lịch chuyển khoản" textLabel="Lịch chuyển khoản" type="select"
      [optionSelect]="rruleOptions"
      [(ngModel)]="shop.money_transaction_rrule">
    </etop-material-input>
  </div>
</div>
<div class="dialog-footer">
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-2" [disabled]="loading" (click)="closeDialog()">
      Đóng
    </button>
    <button class="btn btn-primary" [disabled]="loading" (click)="confirm()">
      <mat-spinner class="mr-2" diameter="14" *ngIf="loading"></mat-spinner>
      Xác nhận
    </button>
  </div>
</div>
