.mat-icon.add-icon {
  width: 1.25rem !important;
  height: 1.25rem !important;
  font-size: 1.25rem !important;
  margin-right: .5rem !important;
}

.label-wrapper {
  flex: 1;
  overflow-y: auto;
}

.label-item {
  cursor: pointer;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  padding: .5rem;
  margin-bottom: .75rem;
}
