<div class="box setting-box mt-0">
  <div class="setting-header">Danh sách label</div>
  <div class="setting-body">
    <mat-spinner *ngIf="labelsLoading$ | async" class="m-auto" color="primary" diameter="30"></mat-spinner>
    <div class="row" *ngIf="!(labelsLoading$ | async)">
      <div class="col-4 p-0 d-flex flex-column e-border-right">
        <div class="d-flex align-items-center justify-content-between px-4">
          <div class="text-bold upper-medium-font">Product label</div>
          <div
            class="cursor-pointer text-primary d-flex align-items-center"
            (click)="createProductLabel()">
            <mat-icon class="add-icon mr-2">add</mat-icon> Thêm
          </div>
        </div>
        <div class="label-wrapper p-4">
          <div class="empty" *ngIf="!(productLabelsList$ | async)?.length">
            Chưa có label
          </div>
          <div
            *ngFor="let label of productLabelsList$ | async; trackBy: trackLabel"
            class="label-item" [class.active]="(activeProductLabel$ | async)?.id == label?.id"
            admin-ticket-label-row [label]="label"
            (click)="selectProductLabel(label)">
          </div>
        </div>
      </div>
      <div class="col-4 p-0 d-flex flex-column e-border-right">
        <div class="d-flex align-items-center justify-content-between px-4">
          <div class="text-bold upper-medium-font">Subject label</div>
          <div
            *ngIf="activeProductLabel$ | async"
            class="cursor-pointer text-primary d-flex align-items-center"
            (click)="createSubjectLabel()">
            <mat-icon class="add-icon mr-2">add</mat-icon> Thêm
          </div>
        </div>
        <div class="label-wrapper p-4">
          <div class="empty" *ngIf="!(subjectLabelsList$ | async)?.length">
            Chưa có label
          </div>
          <div
            *ngFor="let label of subjectLabelsList$ | async; trackBy: trackLabel"
            class="label-item" [class.active]="(activeSubjectLabel$ | async)?.id == label?.id"
            admin-ticket-label-row [label]="label" [parent]="activeProductLabel$ | async"
            (click)="selectSubjectLabel(label)">
          </div>
        </div>
      </div>
      <div class="col-4 p-0 d-flex flex-column">
        <div class="d-flex align-items-center justify-content-between px-4">
          <div class="text-bold upper-medium-font">Detail label</div>
          <div
            *ngIf="activeSubjectLabel$ | async"
            class="cursor-pointer text-primary d-flex align-items-center"
            (click)="createDetailLabel()">
            <mat-icon class="add-icon mr-2">add</mat-icon> Thêm
          </div>
        </div>
        <div class="label-wrapper p-4">
          <div class="empty" *ngIf="!(detailLabelsList$ | async)?.length">
            Chưa có label
          </div>
          <div
            *ngFor="let label of detailLabelsList$ | async; trackBy: trackLabel"
            class="label-item" admin-ticket-label-row [label]="label" [parent]="activeSubjectLabel$ | async">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
