<div class="col align-self-center min-width-25rem">
  <div class="d-flex align-items-center">
    <img class="avatar" alt="" src="{{credit?.shop?.image_url || 'assets/images/placeholder.png'}}">
    <div class="shop-main">
      <div class="text-bold"><span *ngIf="credit?.shop?.code">{{credit?.shop?.code}} - </span>{{credit?.shop?.name}}</div>
      <div *ngIf="credit?.shop?.email" class="lower-medium-font" style="word-break: break-word;">
        {{credit?.shop?.email}}
      </div>
    </div>
  </div>
</div>
<div class="col align-self-center classify-{{credit?.classify}}">
  {{classifyDisplay(credit?.classify)}}
</div>
<div class="col align-self-center">
  <div class="text-bold text-primary" eCallButton="{{credit?.shop?.phone}}">
    {{credit?.shop?.phone}}&nbsp;
    <i class="text-primary fa fa-phone-square upper-medium-font"></i>
  </div>
</div>
<div class="col align-self-center">
  <span
    class="text-bold"
    [class.text-danger]="credit?.amount < 0">
    {{credit?.amount | number}}đ
  </span>
</div>
<div class="col align-self-center">
  {{credit?.paid_at | date: 'dd/MM/yyyy'}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{credit?.created_at | date: 'dd/MM/yyyy'}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <span class="order-status order-{{credit?.status}}">
    {{credit?.status_display}}
  </span>
</div>
<div class="col align-self-center" style="max-width: 12rem;" *ngIf="!liteMode">
  <ng-container *ePermissions="['admin/credit:confirm']">
    <button *ngIf="credit?.status == 'Z'" class="btn btn-outline btn-primary btn-confirm" (click)="confirmCredit()">
      Xác nhận
    </button>
  </ng-container>
</div>
