<td class="font-weight-bold">{{invitation?.full_name}}</td>
<td style="color: var(--default-color);">{{invitation?.email || invitation?.phone}}</td>
<td>{{invitation?.roles_display}}</td>
<td class="text-right" style="max-width: 8rem;">
  <shared-dropdown-actions
    *ePermissions="['relationship/invitation:delete']" [dropdownActions]="dropdownActions" [rightSide]="true">
  </shared-dropdown-actions>
</td>
