
table th, table td {
  border: 0 !important;
  vertical-align: middle;
}
th {
  font-size: 10px;
}

.product-img {
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  height: 40px;
  width: 40px;
  min-width: 40px;
  display: inline-block;

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
}

.status {
  &.Z {
    color: var(--primary-color);

    i {
      color: var(--primary-color);
    }
  }

  &.S {
    color: var(--warning-color);

    i {
      color: var(--warning-color);
    }
  }
  &.P {
    color: var(--success-color);

    i {
      color: var(--success-color);
    }
  }
  &.N {
    color: var(--danger-color);

    i {
      color: var(--danger-color);
    }
  }
}

.etop-badge {
  padding: 2px 5px 1px 5px;
}
