<div class="slider-detail-section" style="flex: 1;">
  <div class="empty" *ngIf="!ffm?.delivery_points?.length">
    Không có thông tin
  </div>
  <ng-container *ngIf="ffm?.delivery_points?.length">
    <div *ngIf="loading" class="text-primary h-100 d-flex align-items-center justify-content-center">
      <mat-spinner diameter="25"></mat-spinner>
    </div>
    <div [class.d-none]="loading" class="row h-100" style="margin-top: -1.25rem;">
      <iframe [src]="ffm?.shipping_shared_link | safeUrl"></iframe>
    </div>
  </ng-container>
</div>
<div class="slider-detail-section d-flex align-items-center">
  <div (click)="trackingLink()" class="text-primary cursor-pointer">
    Xem chi tiết tại AhaMove <mat-icon class="ml-1">launch</mat-icon>
  </div>
</div>

