<div class="modal-header">
  <h5 class="modal-title">Cập nhật thông tin nhân viên</h5>
  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <etop-material-input *ngIf="!staff?.email" textLabel="Số điện thoại" type="custom" class="mb-2">
    <span class="read-only font-weight-bold">{{staff?.phone}}</span>
  </etop-material-input>
  <etop-material-input *ngIf="staff?.email" textLabel="Email" type="custom" class="mb-2">
    <span class="read-only font-weight-bold">{{staff?.email}}</span>
  </etop-material-input>

  <etop-material-input
    *ngIf="infoUpdatable"
    textLabel="Tên nhân viên" placeholder="Tên nhân viên" type="input"
    class="mb-2" [(ngModel)]="staff.p_data.full_name">
  </etop-material-input>

  <etop-material-input *ngIf="!infoUpdatable" textLabel="Tên nhân viên" type="custom" class="mb-2">
    <span class="read-only">{{staff?.full_name}}</span>
  </etop-material-input>

</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button
    class="btn btn-primary text-white" (click)="updateStaff()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
    Cập nhật thông tin nhân viên
  </button>
</div>
