<ng-container *ngIf="fulfillments?.length;">
  <div class="table-responsive mt-3" *ngIf="show_table">
    <table class="w-100">
      <thead>
      <tr>
        <th>Mã giao hàng</th>
        <th>Nhà vận chuyển</th>
        <th class="text-right">Thu hộ</th>
        <th>Trạng thái</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fulfillment of fulfillments">
        <td>
          <span class="font-weight-bold cursor-pointer" [class.text-topship]="fulfillment?.from_topship"
            (click)="viewDetailFulfillment(fulfillment?.shipping_code)">
            {{fulfillment?.shipping_code}}
            <i class="fas fa-external-link-alt external-link-icon"></i>
          </span>
          <div class="small-font">{{fulfillment?.created_at | date: 'dd/MM/yy HH:mm'}}</div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <div class="carrier-image">
              <img [src]="fulfillment?.shipping_provider_logo" alt="">
              <img *ngIf="fulfillment?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
            </div>
            <span class="font-weight-bold lower-medium-font pl-2" [class.text-topship]="fulfillment?.from_topship">
              {{fulfillment?.carrier_display | uppercase}}
            </span>
          </div>
        </td>
        <td>
          <div class="font-weight-bold text-right">{{fulfillment?.total_cod_amount | vnd}}đ</div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <span class="order-status order-{{fulfillment?.shipping_status}}">
              {{fulfillment?.shipping_state_display}}
            </span>
            <span *ngIf="fulfillment?.x_shipping_sub_state && fulfillment?.shipping_state != 'cancelled'"
              class="small-font ml-2">
              {{fulfillment?.x_shipping_sub_state}}
            </span>
            <span *ngIf="fulfillment?.shipping_state == 'undeliverable' && fulfillment?.actual_compensation_amount > 0"
              class="small-font ml-2">
              Bồi hoàn: {{fulfillment?.actual_compensation_amount | vnd}}đ
            </span>
          </div>
          <div *ngIf="showCancelReason(fulfillment)" class="small-font text-default">
            Lý do: {{fulfillment?.cancel_reason}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="show-table-toggle mt-3" (click)="toggleTable()">
    {{show_table && 'Thu gọn' || 'Xem các đơn giao hàng đã huỷ'}}
    <i class="ml-3 fa fa-angle-down" *ngIf="!show_table"></i>
    <i class="ml-3 fa fa-angle-up" *ngIf="show_table"></i>
  </div>
</ng-container>
