<td class="small-cell" [class.no-permission]="!allowBasicInfoInput">
  <etop-material-input placeholder="Mã mẫu mã" textLabel="Mã mẫu mã"
                       [(ngModel)]="variant.p_data.code" (ngModelChange)="onDataEdited()" type="input">
  </etop-material-input>
</td>
<td *ngFor="let attribute of variant.p_data.attributes">
  <etop-material-input
    class="input-attr"
    type="input" [(ngModel)]="attribute.value"
    (ngModelChange)="onDataEdited()">
  </etop-material-input>
</td>
<td class="small-cell" [class.no-permission]="!allowRetailPriceInput">
  <etop-material-input
    *ngIf="!format_money?.retail_price" #retailInput [error]="price_error?.retail_price"
    placeholder="Giá bán" textLabel="Giá bán" type="input" keyboardType="number" [(ngModel)]="variant.p_data.retail_price"
    (blur)="formatMoney('retail_price'); changePrice('retail_price')" (ngModelChange)="onDataEdited()">
  </etop-material-input>
  <etop-material-input class="cursor-pointer"
                       *ngIf="format_money?.retail_price" textLabel="Giá bán" type="custom"
                       [error]="price_error?.retail_price" (click)="formatMoney('retail_price')">
    <span
      class="font-weight-bold"
      [class.text-primary]="!price_error?.retail_price" [class.text-danger]="price_error?.retail_price">
      {{variant?.p_data?.retail_price | vnd}}đ
    </span>
  </etop-material-input>
</td>
<td *ePermissions="['shop/product/cost_price:view']" class="small-cell" [class.no-permission]="!allowCostPriceInput">
  <div class="font-weight-bold text-right" *ngIf="variant?.purchase_order">
    {{variant?.cost_price | vnd}}đ
    <i class="fa fa-info-circle text-primary ml-2"
       ngbTooltip="{{variantHasPOTooltip}}" placement="top" tooltipClass="large-tooltips">
    </i>
  </div>
  <ng-container *ngIf="!variant?.purchase_order">
    <etop-material-input
      *ngIf="!format_money?.cost_price" #costInput [error]="price_error?.cost_price"
      placeholder="Giá vốn" textLabel="Giá vốn" type="input" keyboardType="number" [(ngModel)]="variant.p_data.cost_price"
      (blur)="formatMoney('cost_price'); changePrice('cost_price')" (ngModelChange)="onDataEdited()">
    </etop-material-input>
    <etop-material-input class="cursor-pointer"
                         *ngIf="format_money?.cost_price" textLabel="Giá vốn" type="custom"
                         [error]="price_error?.cost_price" (click)="formatMoney('cost_price')">
      <span class="font-weight-bold"
        [class.text-primary]="!price_error?.cost_price" [class.text-danger]="price_error?.cost_price">
        {{variant?.p_data?.cost_price | vnd}}đ
      </span>
    </etop-material-input>
  </ng-container>
</td>
<td class="text-center e-border-left e-border-right px-1">
  <div class="text-bold text-center">{{variant?.inventory_variant?.quantity || 0}}</div>
  <div class="d-flex justify-content-center">
    <ng-container *eRoles="['owner', 'admin', 'inventory_management']">
      <ng-container *ePermissions="['shop/inventory:update']">
        <span class="text-primary cursor-pointer inventory-btn" (click)="openEditInventoryModal()">Chỉnh sửa</span>
        <span class="text-primary mx-1"> - </span>
      </ng-container>
    </ng-container>
    <span *ePermissions="['shop/inventory:view']" class="text-primary cursor-pointer inventory-btn" (click)="openHistoryInventoryModal()">Lịch sử</span>
  </div>
</td>
<td *ngIf="removable" class="text-center cursor-pointer" style="max-width: 50px" (click)="onRemoveVariant()">
  <i class="fa fa-trash text-danger" style="font-size: 1.4rem;"></i>
</td>
