.mat-input {
  border: 1px solid #dee2e6 !important;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.textlable {
  position: absolute;
  top: -0.7rem;
  left: 0.6rem;
  background: white;
  font-size: 9px;
  padding: 0px 4px;
  opacity: 0.8;
}

.copy {
  padding: 0.7rem 1rem;
  cursor: pointer;
}