<div class="modal-header p-4">
  <h5 class="modal-title w-100 text-center">Mời cộng tác viên tham gia</h5>
  <button type="button" class="close">
    <span aria-hidden="true" style="font-size: 20px;" (click)="close()">&times;</span>
  </button>
</div>
<div class="modal-body p-4 pt-5">
  <div class="mat-input d-flex position-relative">
    <label class="textlable">Link đăng ký</label>
    <span class="font-weight-bold align-self-center mr-auto pl-3">{{url}}/register?e_aff={{user.phone}}</span>
    <div class="copy text-primary border-left align-self-center" (click)="copyText(url+'/register?e_aff='+user.phone)">
      <img src="/assets/images/copy.png" alt="copy" class="mr-2" width="10">
      Sao chép
    </div>
    <div class="copy text-primary border-left align-self-center" (click)="sendMail(null)">
      <i class="fa fa-envelope-o text-primary mr-2" aria-hidden="true"></i>
      Gửi email
    </div>
  </div>
</div>
