.carrier-img img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-gray-color);
  border-radius: 100%;
  object-fit: contain;
  object-position: center;
}

.carrier-name {
  font-size: 1.1rem;
  font-weight: 700;
}

.setting-footer {
  a {
    &:active, &:hover, &:link, &:visited {
      color: var(--primary-color)!important;
    }
  }
}

.connection-header {
  padding: .5rem 1rem;
  font-weight: 700;
  font-size: .9rem;
  color: #666;
  border-bottom: 1px solid var(--gray-color);
  background: var(--gray-color);
}
