<div class="total" *ngIf="!shipmentServiceTable.loading">
  <div class="total-section">
    <div class="total-item">
      <mat-radio-group color="primary" [(ngModel)]="filterConnectionId" (ngModelChange)="filterByConnectionId()">
        <mat-radio-button *ngFor="let conn of filterConnections" [value]="conn?.id" disableRipple>{{conn?.name}}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<div class="page-container">
  <div class="page-content pb-0">
    <div class="page-wrapper">
      <etop-table
        #shipmentServiceTable
        [items]="shipmentServicesList$ | async" [show_paging]="false"
        [width]="onNewShipmentService ? '50%' : '20%'"
        (requestNewPage)="loadPage($event)">
        <ng-template #header let-liteMode="liteMode">
          <div class="col">
            <span class="table-header-text">Mã gói</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Tên gói</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">NVC</span>
          </div>
          <div class="col" style="min-width: 22rem;" *ngIf="!liteMode">
            <span class="table-header-text">Dịch vụ từ NVC</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Trạng thái</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Mô tả</span>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <div class="blank-page">
            <img class="blank-img" src="assets/images/admin/icon_setting_shipment.png" alt="empty list" />
            <div class="info">
              <div class="text-bigger text-bold text-center m-2">
                {{emptyTitle}}
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #item let-service="item" let-liteMode="liteMode">
          <div
            class="row table-row" admin-shipment-service-row
            [class.active]="(activeShipmentService$ | async)?.id == service?.id"
            [shipmentService]="service" [liteMode]="liteMode" (click)="detail(service)">
          </div>
        </ng-template>
      </etop-table>

      <etop-side-slider #shipmentServiceSlider [width]="onNewShipmentService ? '50%' : '80%'">
        <ng-template #customHeader>
          <div class="header-detail d-flex justify-content-between px-4 py-3">
            <div class="d-flex align-items-center">
              <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
              <shared-dropdown-actions
                *ngIf="!onNewShipmentService" [dropdownActions]="dropdownActions">
              </shared-dropdown-actions>
              <div class="tabs-container" *ngIf="!onNewShipmentService">
                <ng-container *ngFor="let tab of tabs">
                  <div class="tab" [class.active]="activeTab == tab?.value" (click)="changeTab(tab?.value)">
                    {{tab?.name}}
                  </div>
                </ng-container>
              </div>
            </div>
            <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
              Đóng<mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>
        <ng-container *ngIf="onNewShipmentService; else editShipmentService;">
          <admin-create-shipment-service-form></admin-create-shipment-service-form>
        </ng-container>
        <ng-template #editShipmentService>
          <admin-edit-shipment-service-form
            *ngIf="(activeShipmentService$ | async)" [activeTab]="activeTab">
          </admin-edit-shipment-service-form>
        </ng-template>
      </etop-side-slider>
    </div>
  </div>
</div>
