<ion-header>
    <ion-toolbar>
        <ion-title>Khai báo thuộc tính</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [formGroup]="myForm">
    <ng-container formArrayName="attributes">
        <div class="list-attribute box-detail" *ngFor="let attribute of attributes.controls; let i = index" [formGroupName]="i">
            <div class="header ion-flex ion-justify-content-between ion-margin-horizontal ion-padding-top">
                <ion-text class="font-bold">Thuộc tính {{ i + 1 }}</ion-text>
                <ion-icon class="ion-color-light" name="trash-outline" color="medium" style="font-size: 1.3rem" (click)="removeLineAttribute(i)" *ngIf="attributes.controls.length > 1"></ion-icon>
            </div>
            <ion-grid class="ion-padding-horizontal">
                <ion-row>
                    <ion-col size="12">
                        <ion-item lines="none" class="ion-no-padding line-custom">
                            <ion-label position="floating">Tên thuộc tính</ion-label>
                            <ion-input type="text" formControlName="name"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12">
                        <ion-label position="floating">Giá trị thuộc tính</ion-label>
                        <div class="attribute-line ion-flex ion-align-items-center ion-justify-content-between" *ngFor="let value of attribute.controls['values'].value; let j = index">
                            <ion-text>{{value}}</ion-text>
                            <ion-icon name="close-outline" (click)="removeValueAttribute(i, j)"></ion-icon>
                        </div>
                        <div class="ion-padding-vertical" (click)="addAttribute(attribute.value, i)">
                            <ion-text color="primary">+ Thêm giá trị</ion-text>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ng-container>

    <div class="box-detail" *ngIf="attributes.value.length < 3">
        <div class="ion-padding" (click)="addLineAttributes()">
            <ion-text color="primary">+ Thêm thuộc tính</ion-text>
        </div>
    </div>
</ion-content>
<ion-footer class="footer-button-wrapper" (click)="generateVariants()">
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <button class="w-100 bg-primary text-white footer-button-item">
        Tiếp tục
      </button>
        </div>
    </ion-toolbar>
</ion-footer>