<ng-container *ngIf="isTCB; else notTCB;">
  <div class="col align-self-center">
    {{bang_ke?.bank_account?.account_number || '-'}}
  </div>
  <div class="col align-self-center">
    {{bang_ke?.total_amount | number}}đ
  </div>
  <div class="col align-self-center small-font">
    {{bang_ke?.content}}
  </div>
</ng-container>
<ng-template #notTCB>
  <div class="col align-self-center">
    {{bang_ke?.ref}}
  </div>
  <div class="col align-self-center">
    {{bang_ke?.total_amount | number}}đ
  </div>
  <div class="col align-self-center">
    {{bang_ke?.bank_account?.account_name ? formatName(bang_ke?.bank_account?.account_name) : '-'}}
  </div>
  <div class="col align-self-center">
    {{bang_ke?.bank_account?.account_number || '-'}}
  </div>
  <div class="col align-self-center small-font">
    {{bang_ke?.content}}
  </div>
  <div class="col align-self-center">
    {{bang_ke?.bank_account_TCB?.name || '-'}}
  </div>
  <div class="col align-self-center">
    {{bang_ke?.bank_account_TCB?.region || '-'}}
  </div>
  <div class="col align-self-center">
    {{bang_ke?.bank_account_TCB?.branch || bang_ke?.bank_account?.branch || '-'}}
  </div>
  <div class="col align-self-center"></div>
</ng-template>
