<div class="modal" tabindex="-1" role="dialog" #modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Gọi ra bằng đầu số:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let line of lines" class="line">
          <div>{{line?.lineInfo?.name}}</div>
          <div>{{line?.lineInfo?.phone_number}}</div>
          <div><button class="btn-call" (click)="call(line)">Gọi</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
