.line {
  display: flex;
  justify-content: space-between;
}

.btn-call {
  background-color: #fff;
  border: 1px solid #35baeb;
  padding: 5px 30px;
  text-decoration: none;
  color: #35baeb;
  border-radius: 15px;
  font-size: 12px;
}
