.carrier-info {
  display: flex;
  padding: 15px 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrier-image {
  width: 100px;
  padding-bottom: 55px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.carrier-name {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
}

ion-segment {
  z-index: 100;
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  ion-label {
    text-transform: none;
    color: var(--topship-color);
  }
  ion-segment-button {
    &.segment-button-checked {
      --color-checked: var(--topship-color);
    }
  }
}

.password-note {
  padding: .75rem;
  background-color: var(--gray-color);
  border-radius: 7px;
}

.support-link {
  padding: 1.5rem;
}