<div class="carrier-info">
    <div class="carrier-image">
        <img src="{{carrierConnection?.provider_logo}}" alt="">
    </div>
    <div class="carrier-name">
        <ion-text>
            {{carrierConnection?.name_display || carrierConnection?.name}}
        </ion-text>
    </div>
    <div class="ion-text-center">
        <ion-text>
            Vui lòng nhập thông tin tài khoản {{carrierConnection?.connection_provider | uppercase}} của bạn để kết nối hoặc đăng ký tài khoản mới.
        </ion-text>
    </div>
</div>

<ion-segment mode="md" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment" *ngIf="carrierConnection?.connection_provider != 'ghn'">
    <ion-segment-button mode="md" value="signin">
        <ion-label>Đăng nhập</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="signup">
        <ion-label>Đăng ký</ion-label>
    </ion-segment-button>
</ion-segment>

<ng-container *ngIf="segment == 'signin'">
    <ion-list class="ion-padding-end ion-margin-bottom" *ngIf="carrierConnection?.connection_provider != 'ghn'">
        <ion-item lines="none" class="line-custom">
            <ion-label position="floating">Số điện thoại hoặc Email</ion-label>
            <ion-input inputmode="email" [(ngModel)]="loginInfo.email" (ngModelChange)="loginInfoChanged()">
            </ion-input>
        </ion-item>
        <ion-item lines="none" class="line-custom">
            <ion-label position="floating">Mật khẩu</ion-label>
            <ion-input inputmode="password" type="password" [(ngModel)]="loginInfo.password" (ngModelChange)="loginInfoChanged()">
            </ion-input>
        </ion-item>
    </ion-list>
</ng-container>

<ng-container *ngIf="segment == 'signup'">
    <ion-list class="ion-padding-end ion-margin-bottom" *ngIf="carrierConnection?.connection_provider != 'ghn'">
        <ion-item lines="none" class="line-custom">
            <ion-label position="floating">Họ tên</ion-label>
            <ion-input inputmode="text" [(ngModel)]="signUpInfo.name" (ngModelChange)="signUpInfoChanged()">
            </ion-input>
        </ion-item>
        <ion-item lines="none" class="line-custom">
            <ion-label position="floating">Số điện thoại</ion-label>
            <ion-input inputmode="tel" [(ngModel)]="signUpInfo.phone" (ngModelChange)="signUpInfoChanged()">
            </ion-input>
        </ion-item>
        <ion-item lines="none" class="line-custom">
            <ion-label position="floating">Email</ion-label>
            <ion-input inputmode="email" [(ngModel)]="signUpInfo.email" (ngModelChange)="signUpInfoChanged()">
            </ion-input>
        </ion-item>
        <ng-container [formGroup]="locationForm">
            <ion-item lines="none" class="line-custom">
                <ion-label position="floating">Tỉnh thành</ion-label>
                <ion-select placeholder="Chọn tỉnh thành" formControlName="provinceCode">
                    <ion-select-option *ngFor="let province of provincesList$ | async" [value]="province?.code" [disabled]="!province?.code">
                        {{province?.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item lines="none" class="line-custom">
                <ion-label position="floating">Quận huyện</ion-label>
                <ion-select placeholder="Chọn quận huyện" formControlName="districtCode">
                    <ion-select-option *ngFor="let district of districtsList$ | async" [value]="district?.code" [disabled]="!district?.code">
                        {{district?.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ng-container>
        <ion-item lines="none" class="line-custom">
            <ion-label position="floating">Địa chỉ</ion-label>
            <ion-input [(ngModel)]="signUpInfo.address" (ngModelChange)="signUpInfoChanged()"></ion-input>
        </ion-item>
    </ion-list>
    <div *ngIf="carrierConnection?.connection_provider == 'ghtk'" class="password-note">
        GHTK không yêu cầu nhập mật khẩu khi đăng ký tài khoản, mật khẩu sẽ được gửi qua email khi bạn đăng ký thành công. Vui lòng kiểm tra email để lấy mật khẩu sử dụng cho những lần đăng nhập sau.
    </div>
</ng-container>

<ion-list class="ion-padding-end ion-margin-bottom" *ngIf="carrierConnection?.connection_provider == 'ghn'">
    <ion-item lines="none" class="line-custom">
        <ion-label position="floating">Số điện thoại</ion-label>
        <ion-input inputmode="phone" [(ngModel)]="loginInfo.identifier" (ngModelChange)="loginInfoChanged()">
        </ion-input>
    </ion-item>
</ion-list>

<div class="input-wrapper support-link">
    <div class="text-primary cursor-pointer">
        <a href="https://www.etop.vn/huong-dan/huong-dan-thiet-lap-ket-noi-van-chuyen-tai-etop-7102" target="_blank">
      Hướng dẫn kết nối và sử dụng</a>
    </div>
    <div class="text-primary cursor-pointer">
        <a [href]="carrierConnection?.homepage" target="_blank">
      Tìm hiểu về {{carrierConnection?.name}}
    </a>
    </div>
    <div class="text-primary cursor-pointer">
        <a [href]="carrierConnection?.policy_link" target="_blank">
      Chính sách và điều khoản {{carrierConnection?.name}}
    </a>
    </div>
</div>