:host {
  background: #f5f5f5;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 !important;
}

ion-infinite-scroll {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 8rem);

  .btn-connect {
    width: 50%;
    border-radius: 5px !important;
    background: var(--ion-color-primary);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}

ion-header {
  background: #fff;
}

.fb-logo {
  width: 60px;
  display: block;
  opacity: 0.4;
  margin-bottom: 2rem;
}


.empty-text {
  color: #666;
  width: 70%;
  text-align: center;
  margin-bottom: 1rem;
}

.message-item {
  border-top: 1px solid #eee;
  background: #fff;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  .info {
    padding: 0.75rem 1rem;
  }

  .message-user {
    font-weight: 700;
    color: var(--ion-color-primary);
  }

  .detail {
    font-size: 0.9rem;
    color: #444;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    font-weight: 700;
  }

  .message-time {
    float: right;
    font-size: 0.8rem;
    color: var(--ion-color-primary);

    &::after {
      content: "";
      display: inline-block;
      margin-left: 5px;
      padding: 4px;
      border-radius: 100%;
      background-color: var(--ion-color-primary);
    }
  }

  &.is-read {
    .message-user {
      color: #222;
      font-weight: 400;
    }

    .detail {
      font-weight: 400;
    }

    .message-time {
      color: #666;

      &::after {
        display: none;
      }
    }
  }

  &:last-child {
    border-bottom: 1px solid #eee;
  }

  .action {
    width: 100%;
    padding: 0.75rem 1rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fanpage-info {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee;

    img {
      height: 20px;
      width: 20px;
      border: 1px solid #eee;
      border-radius: 5px;
      margin-right: 0.5rem
    }
  }
}

.self-message {
  ion-icon {
    position: relative;
    top: 2px;
  }

  .detail {
    width: 90%;
    padding-left: 5px;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  position: relative;
}

img.avatar {
  border: 1px solid #eee;
}

.ion-border-right {
  border-right: 1px solid #eee;
}

.message-type {
  position: absolute;
  right: 0;
  bottom: -4px;
  height: 20px;
  width: 20px;
  border: 3px solid white;
  background: white;
  border-radius: 50%;
}

.post-image {
  height: 24px;
  width: 24px;
  object-fit: cover;
  object-position: center;
  margin-left: auto;
  border-radius: 5px;
}

.action-icon {
  margin-right: 0.5rem;
}

ion-title {
  &:first-child {
    border-bottom: 1px solid #eee;
  }
}

.message-list {
  background: #f5f5f5;
  z-index: 1;
  position: relative;
  padding: 10px 0;
}

.post-img {
  border-radius: 10px;
  margin-left: auto;
  height: 40px;
  width: 40px;
}

.padding{
  padding-right: 10px;
}

.tag {
  max-width: 40%;
}
