<ion-header>
  <ion-toolbar style="border-bottom: 0.045em solid rgba(0, 0, 0, .12);" *ngIf="!(pages$ | async)?.length">
    <ion-title>Tin nhắn</ion-title>
  </ion-toolbar>
  <ng-container *ngIf="hasPermission()">
    <etop-filter-conversations [ngClass]="{'ion-hide' : !(pages$ | async)?.length}"
      (changed)="filter($event)">
    </etop-filter-conversations>
  </ng-container>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content>
  <ng-container *ngIf="hasPermission()">
    <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
    <div class="empty-state" *ngIf="!(pages$ | async)?.length">
      <img src="assets/imgs/FB_gray.png" alt="fb" class="fb-logo">
      <ion-text class="empty-text">
        Cửa hàng của bạn chưa có Fanpage nào được kết nối.
      </ion-text>
      <ng-container *ngIf="hasFbPermisson()">
        <ion-text color="primary" style="padding-bottom: 0.5rem">Kết nối Fanpage</ion-text>
        <img src="assets/imgs/connect-fb.png" alt="facebook-connect" width="180px" (click)="fbConnect()">
      </ng-container>
    </div>
    <div class="message-list" *ngIf="(conversations$ | async)?.length && (pages$ | async)?.length">
      <div *ngFor="let conv of conversations$ | async; trackBy: trackByConversation" class="message-item" [class.is-read]="conv?.is_read">
        <div class="message-info" (click)="messageDetail(conv)">
          <div class="fanpage-info ion-flex ion-align-items-center" *ngIf="!(activePage$| async)">
            <img
              [imageLoader]="getFanpageByExternalId(conv?.external_page_id)?.external_image_url"
              src="assets/images/placeholder_medium.png"
              alt="">
            <ion-text style="font-weight: 700;">{{getFanpageByExternalId(conv?.external_page_id)?.external_name}}
            </ion-text>
          </div>
          <div class="info ion-flex ion-align-items-center">
            <div class="avatar">
              <img [imageLoader]="conv?.external_user_picture_url" src="assets/imgs/user_logo.jpg" alt="" class="avatar">
              <img src="assets/imgs/{{conv?.type == 'message' ? 'messenger' : 'facebook'}}.png" alt=""
                class="message-type">
            </div>
            <div class="w-100">
              <div class="fp-name ion-flex ion-justify-content-between ion-align-items-center">
                <ion-text class="message-user fix-line-1" style="flex: 1">{{conv?.external_user_name}}</ion-text>
                <span class="message-time">{{conv?.last_message_at | date: 'dd/MM HH:mm'}}</span>
              </div>
              <div class="ion-flex" [class.self-message]="conv?.external_page_id == conv?.external_from?.id">
                <ion-icon *ngIf="conv?.external_page_id == conv?.external_from?.id" name="arrow-undo-outline">
                </ion-icon>
                <ion-text class="detail padding ion-align-items-center">
                  {{conv?.last_message}}
                </ion-text>
                <img *ngIf="conv?.external_post_attachments?.length > 0" class ="post-image"
                  [imageLoader]="conv.external_post_attachments[0]?.media?.image?.src"
                  src="assets/images/placeholder_medium.png">
              </div>
            </div>
          </div>
        </div>
        <div class="list-tag ion-flex ion-align-items-center ion-margin-bottom ion-padding-horizontal" *ngIf="conv?.tags?.length">
          <div class="tag" *ngFor="let tag of (conv.tags).slice(0, 2)">
            <ion-icon class="tag-status" [ngStyle]="{'color' : tag.color}" name="ellipse"></ion-icon>
            <ion-label>{{tag.name}}</ion-label>
          </div>
          <div class="tag" *ngIf="conv?.tags.length > 2">
            <ion-label>+{{conv.tags.length - 2}}</ion-label>
          </div>
        </div>
        <div class="ion-flex">
          <div class="action ion-border-right" *ngIf="conv?.customer?.phone" (click)="callPhone(conv?.customer?.phone)">
            <ion-icon name="call-outline" class="action-icon" color="primary"></ion-icon>
            <ion-text color="primary">Gọi điện</ion-text>
          </div>
          <div class="action ion-border-right" *ngIf="!conv?.customer?.phone">
            <ion-icon name="call-outline" class="action-icon" color="medium"></ion-icon>
            <ion-text color="medium">Gọi điện</ion-text>
          </div>
          <ng-container *ngIf="orderPermission()">
            <div class="action" (click)="confirmOrder(conv)">
              <ion-icon name="cart-outline" class="action-icon" color="primary"></ion-icon>
              <ion-text color="primary">Chốt đơn</ion-text>
            </div>
          </ng-container>
          <ng-container *ngIf="!orderPermission()">
            <div class="action">
              <ion-icon name="cart-outline" class="action-icon" color="medium"></ion-icon>
              <ion-text color="medium">Chốt đơn</ion-text>
            </div>
          </ng-container>
          
        </div>
        
      </div>
    </div>
    <div class="empty-state" style="opacity: 0.5" *ngIf="(pages$ | async)?.length && !(conversations$ | async)?.length">
      <img src="assets/imgs/tab-icon/icon_chat.png" alt="" width="100px">
      <div>Chưa có tin nhắn</div>
    </div>
    <ion-infinite-scroll slot="fixed" threshold="100px" (ionInfinite)="doLoadMore($event)"
      *ngIf="(conversations$ | async)?.length">
      <ion-infinite-scroll-content loadingSpinner="circles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
  <ng-container *ngIf="!hasPermission()">
    <ionfabo-empty-permission></ionfabo-empty-permission>
  </ng-container>
  
</ion-content>
