<div class="ticket-detail-left">
  <div class="detail-header">
    <div class="d-flex justify-content-between w-100">
      <div class="ref-user-list">
        <div class="ref-user">
          <div class="lower-medium-font">Người tạo</div>
          <div class="text-bold">{{(activeTicket$ | async).createdByUser?.full_name || '-'}}</div>
        </div>
      </div>
      <div class="ticket-status-wrapper">
        <div class="ticket-status">
          <div class="lower-medium-font">Trạng thái</div>
          <div class="status status-{{(activeTicket$ | async).state}}">
            {{(activeTicket$ | async).state_display}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body hide-scrollbar">
    <div class="slider-detail-section">
      <div class="text-bold upper-medium-font">
        <span class="text-primary">{{(activeTicket$ | async).code}}</span> - {{(activeTicket$ | async).title}}
      </div>
      <div class="text-default lower-medium-font">
        Thời gian tạo: {{(activeTicket$ | async).created_at | date: 'HH:mm dd/MM/yyyy'}}
      </div>
      <div class="mt-4 lower-medium-font" style="white-space: pre-line;">
        Nội dung
      </div>
      <div
        class="mt-2" style="white-space: pre-line;"
        [innerHTML]="(activeTicket$ | async)?.description | safeHtml">
      </div>
      <div class="labels-wrapper">
        <div
          *ngFor="let label of (activeTicket$ | async)?.labels"
          class="label-item" [class.active]="label?.children?.length > 0">
          <span [ngStyle]="{
            border: '1px solid ' + label?.color,
            color: label?.children?.length > 0 ? '#fff' : label?.color,
            background: label?.children?.length > 0 ? label?.color : '#fff'
          }">
            {{label?.name}}
          </span>
        </div>
      </div>
    </div>
    <div class="slider-detail-section" *ePermissions="['shop/shop_ticket_comment:view']">
      <div class="slider-detail-info-title">
        <i class="fa fa-circle text-primary smaller-font mr-2"></i>
        PHẢN HỒI
        <span class="ml-1"> ({{(activeTicketComments$ | async)?.length}})</span>
      </div>
      <div
        *ngIf="activeTicketCommentsLoading$ | async"
        class="d-flex align-items-center justify-content-center w-100">
        <mat-spinner color="primary" diameter="25"></mat-spinner>
      </div>
      <ng-container *ngIf="!(activeTicketCommentsLoading$ | async)">
        <div class="detail-comment">
          <shared-shop-ticket-comments></shared-shop-ticket-comments>
        </div>
      </ng-container>
    </div>
  </div>
</div>
