table {
  width: 100%;
}

etop-table {
  padding-left: 20px;
  &::ng-deep .table-row {
    cursor: default;
  }
}

.show-only-1024{
  display: none;
  @media screen and (min-width:768px) and (max-width:1024px){
    display: block;
  }
}

.show-lg-1024-inline{
display: none;
@media only screen and (min-width: 1024px){
  display: inline-block !important;
}
}

.show-lg-1024-table{
display: none;
@media only screen and (min-width: 1024px){
  display: table-cell !important;
}
}

