<ion-header>
  <ion-toolbar>
    <ion-title>Thiết lập thẻ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="(tags$ | async)?.length > 0; else emptyTag">
    <div class="list-tag">
      <div class="tag-item ion-flex ion-align-items-center ion-justify-content-between"
        *ngFor="let tag of (tags$ | async)">
        <div class="ion-flex ion-align-items-center">
          <ion-icon class="tag-color" [ngStyle]="{'color': tag.color}" name="ellipse"></ion-icon>
          <ion-label>{{tag.name}}</ion-label>
        </div>
        <ion-icon name="ellipsis-horizontal-circle" style="opacity: 0.5" (click)="presentActionSheet(tag)" *ePermissions="['facebook/shoptag:update']"></ion-icon>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyTag>
    <div class="h-100 centered">
      <etop-empty [empty]="empty"></etop-empty>
    </div>
  </ng-template>
</ion-content>
<ng-container *ePermissions="['facebook/shoptag:create']">
  <ion-footer class="btn-footer" (click)="createTag()" *ngIf="(tags$ | async)?.length != 0">
    <ion-toolbar class="no-padding">
      <div class="footer-buttons ion-flex">
        <div class="h-100 w-100 ion-no-margin btn-connect-more">
          <ion-icon name="add-outline" color="primary"></ion-icon>
          <ion-text color="primary">Thêm thẻ</ion-text>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>