.btn-footer {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.btn-connect-more {
  background: var(--ion-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-color {
  margin-right: 1rem;
}

.tag-item {
  &:first-child {
    border-top: 1px solid #f5f5f5;
  }
  padding: 1.25rem 0;
  border-bottom: 1px solid #f5f5f5;
  margin: 0 1.5rem;
  ion-icon {
    font-size: 2.2rem;
    min-width: 2.2rem;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  etop-empty {
    margin: auto;
  }
}