<ng-container *ngIf="checkPermission();else noPermission">
  <div class="page-content h-100 p-0 d-flex" *ngIf="!initializing && pageCount$ | async; else empty">
    <div class="sidebar-message e-border-right">
      <faboshop-page-selector
        [pages]="pages$ | async" [currentPage]="currentPage$ | async"
        (changed)="filter($event)">
      </faboshop-page-selector>
      <faboshop-list-conversation (confirmOrder)="showOrder = true;"></faboshop-list-conversation>
    </div>

    <div class="message-detail h-100 d-flex flex-column" *ngIf="activeConversation$ | async">
      <faboshop-message-chatbox></faboshop-message-chatbox>
    </div>
    <div class="box-info e-border-left" *ngIf="activeConversation$ | async">
      <faboshop-customer-info [hidden]="showOrder" (showConfirmOrder)="toggleConfirmOrder(true)"></faboshop-customer-info>
      <faboshop-confirm-order [hidden]="!showOrder" (hideConfirmOrder)="toggleConfirmOrder(false)" [showConfirmOrder]="showOrder"></faboshop-confirm-order>
    </div>
  </div>
  <ng-template #empty>
    <div class="page-content h-100 d-flex w-100 align-items-center" *ngIf="!initializing && !(pageCount$ | async)">
      <div class="m-auto text-center">
        <div class="empty-title mt-5 text-center">
          <img src="/assets/images/no-fanpage-logo.jpg" class="mb-2" width="100px" alt="no-fanpage-logo">
          <h5 style="opacity: 0.7">Cửa hàng của bạn chưa có Fanpage nào được kết nối</h5>
        </div>
        <div class="empty-action mt-5" *ePermissions="['facebook/fanpage:create']">
          <h5 class="text-center text-primary">Kết nối Fanpage</h5>
          <img class="connect-to-facebook-fanpage-btn" src="/assets/images/connect-to-facebook-fanpage-btn.png"
               alt="connect-more-facebook-fanpage" (click)="connectFB()">
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
<ng-template #noPermission>
  <etop-not-permission></etop-not-permission>
</ng-template>

