select {
  background-position-y: 3px !important;
}

.sidebar-message {
  width: 20%;
  min-width: 22.5rem;
  padding-bottom: 90px;
}

.message-detail {
  width: 55%;
}

.box-info {
  width: 25%;
}

.connect-to-facebook-fanpage-btn {
  width: 13rem;
  border-radius: 5px;
  cursor: pointer;
}

faboshop-confirm-order, faboshop-customer-info {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
