ion-label {
  &.reason-request {
    white-space: break-spaces !important;
  }
}
ion-textarea {
  div {
    &.textarea-wrapper {
      min-height: 25px !important;
    }
    textarea {
      min-height: 25px !important;
    }
  }
}
.content {
  text-align: center;
  padding: 2rem;
  height: 100%;
  align-items: center;
  margin: auto;
  display: flex;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 1rem 1.5rem 0.5rem;
}
.alert-danger {
  color: #721c24;
  font-weight: 700;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
button {
  &:disabled {
    background-color: var(--default-color) !important;
  }
}
