<ion-header>
    <ion-toolbar>
        <ion-title>Yêu cầu hỗ trợ</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="isWeeken" class="content">
        <ion-text>
            Để đảm bảo vận hành, TOPSHIP không nhận yêu cầu hỗ trợ từ 12h thứ 7 đến hết ngày chủ nhật. Xin lỗi vì sự bất tiện này.
        </ion-text>
    </div>
    <div *ngIf="isHoliday" class="content">
        <ion-text>
            Để đảm bảo vận hành, TOPSHIP không nhận yêu cầu hỗ trợ trong thời gian này vì lý do {{note.reason_holiday}}. Xin lỗi vì sự bất tiện này.
        </ion-text>
    </div>
    <ion-list class="input-wrapper" *ngIf="!loading && isSupport">
        <ion-item lines="none" class="line-custom">
            <ion-label position="floating">Chọn yêu cầu hỗ trợ</ion-label>
            <ion-select ok-text="Xác nhận" cancel-text="Đóng" placeholder="Chọn yêu cầu hỗ trợ" [(ngModel)]="supportRequest.code" (ngModelChange)="selectRequest($event)" [interfaceOptions]="customAlertOptions">
                <ion-select-option value="{{option.code}}" *ngFor="let option of supportRequests">{{option?.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <div class="alert alert-danger ion-text-center" *ngIf="force_warning">
            <div>
                <ion-text>Dự kiến {{force_title.toLowerCase()}} {{force_expected}}</ion-text>
            </div>
            <div>
                <ion-text>ĐƠN HÀNG CHƯA TRỄ, KHÔNG ĐƯỢC GIỤC {{force_title}} HÀNG</ion-text>
            </div>
        </div>
        <ng-container *ngIf="supportRequest.code">
            <ng-container *ngIf="supportRequest.code == 'change-shop-cod'">
                <ion-item lines="none" class="line-custom">
                    <ion-label position="floating">Giá trị hiện tại</ion-label>
                    <ion-input type="number" disabled="true" [value]="supportRequest.old_value">
                    </ion-input>
                </ion-item>
                <etop-ion-input-format-number lines="none" cssClass="line-custom" textLabel="Giá trị mới" formatNumberUnit="đ" placeholder="Nhập giá trị mới" [(ngModel)]="supportRequest.value" (ngModelChange)="validateData()">
                </etop-ion-input-format-number>
            </ng-container>

            <ng-container *ngIf="supportRequest.code == 'change-phone'">
                <ion-item lines="none" class="line-custom">
                    <ion-label position="floating">Giá trị hiện tại</ion-label>
                    <ion-input type="tel" [disabled]="true" [(ngModel)]="supportRequest.old_value" (ngModelChange)="validateData()">
                    </ion-input>
                </ion-item>
                <ion-item lines="none" class="line-custom">
                    <ion-label position="floating">Giá trị mới</ion-label>
                    <ion-input type="number" inputmode="tel" placeholder="Nhập số điện thoại mới" [(ngModel)]="supportRequest.value" (ngModelChange)="validateData()">
                    </ion-input>
                </ion-item>
            </ng-container>

            <ion-item lines="none" class="line-custom">
                <ion-label class="reason-request" position="floating">
                    Vui lòng điền lý do để Topship xử lý đơn giao hàng được hiệu quả.
                </ion-label>
                <ion-textarea autoGrow="true" rows="1" spellcheck="false" inputmode="text" placeholder="Lý do gửi yêu cầu {{requestName.toLowerCase()}} (bắt buộc)" [(ngModel)]="supportRequest.reason" (ngModelChange)="validateData()">
                </ion-textarea>
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>
<ion-footer class="footer-button-wrapper" *ngIf="isSupport">
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <button class="w-100 bg-topship text-white footer-button-item" [disabled]="disabled || force_warning" (click)="sendSupReq()">
          {{requestName}}
      </button>
        </div>
    </ion-toolbar>
</ion-footer>