<ng-content></ng-content>
<ng-container *ngIf="ffm.not_found_on_etop; else foundOnEtop;">
  <div class="col align-self-center" style="min-width: 17.5%;">
    <span class="text-bold" style="word-break: break-word;">
      {{ffm?.external_code}}
    </span>
  </div>

  <div class="col align-self-center">-</div>

  <ng-container *ngIf="!liteMode">
    <div class="col align-self-center">
      <div [class.small-font]="ffm?.external_customer">{{ffm?.external_customer || '-'}}</div>
    </div>
    <div class="col align-self-center">
      <div [class.small-font]="ffm?.external_address">{{ffm?.external_address || '-'}}</div>
    </div>

    <div class="col align-self-center">-</div>

    <div class="col align-self-center">
      <div class="text-bold">
        {{ffm?.external_total_cod | number}}đ
      </div>
    </div>
    <div class="col align-self-center">
      <div class="text-bold">
        {{ffm?.external_total_shipping_fee | number}}đ
      </div>
    </div>
  </ng-container>
  <div class="col align-self-center">
    <span [class.text-success]="!ffm?.external_import_error" [class.text-danger]="ffm?.external_import_error">
      {{!ffm?.external_import_error ? 'Đúng' : 'Sai'}}
    </span>
    <div class="small-font text-default" *ngIf="ffm?.external_import_error">
      {{ffm?.external_import_error?.msg}}
    </div>
  </div>
</ng-container>
<ng-template #foundOnEtop>
  <div class="col align-self-center" style="min-width: 17.5%;">
    <div class="d-flex align-items-center cursor-pointer" (click)="viewDetailFfm()">
      <div class="carrier-image">
        <img [src]="ffm?.shipping_provider_logo" alt="">
        <img *ngIf="ffm?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
      </div>
      <div class="d-flex flex-column align-items-start carrier-info">
        <span class="shipping-code" [class.text-primary]="ffm?.from_topship">
          {{ffm?.shipping_code}}
          <i class="fas fa-external-link-alt external-link-icon"></i>
        </span>
        <span class="d-flex align-items-center flex-wrap carrier-name">
          <span class="text-bold" [class.text-primary]="ffm?.from_topship">
            {{ffm?.carrier_display | uppercase}}
          </span>
          &nbsp;({{ffm?.created_at | date: 'dd/MM/yyyy HH:mm'}})
        </span>
      </div>
    </div>
  </div>
  <div class="col align-self-center">
    <div class="order-status order-{{ffm?.shipping_state}}">
      {{ffm?.shipping_state_display}}
      <div class="small-font text-dark" *ngIf="ffm?.x_shipping_sub_state && ffm?.shipping_state != 'cancelled'">
        {{ffm?.x_shipping_sub_state}}
      </div>
    </div>
    <div *ngIf="showCancelReason" class="small-font text-default">
      Lý do: {{ffm?.cancel_reason}}
    </div>
  </div>
  <ng-container *ngIf="!liteMode">
    <div class="col align-self-center" style="max-width: 20rem;">
      <div class="text-bold">{{ffm?.shipping_address?.full_name}}</div>
      <div class="small-font">{{ffm?.shipping_address?.phone}}</div>
    </div>
    <div class="col align-self-center">
      <div class="text-bold">{{ffm?.shipping_address?.province | locationCompact}}</div>
      <div class="small-font">{{ffm?.shipping_address?.district | locationCompact}}</div>
    </div>
    <div class="col align-self-center">
      <div class="text-bold">{{ffm?.total_amount | number}}đ</div>
      <div class="small-font">{{ffm?.include_insurance ? 'Có bảo hiểm' : 'Không bảo hiểm'}}</div>
      <div class="text-bold small-font">{{ffm?.chargeable_weight | number}}g</div>
    </div>
    <div class="col align-self-center">
      <div class="text-bold">
        {{ffm?.total_cod_amount | number}}đ
      </div>
    </div>
    <div class="col align-self-center">
      <div class="text-bold">
        {{ffm?.shipping_fee_shop | number}}đ&nbsp;
        <i *ngIf="ffm?.shipping_fee_shop_lines?.length" class="fas fa-info-circle text-topship cursor-pointer"
           [ngbTooltip]="shippingFeeShopLines" placement="bottom">
        </i>
        <ng-template #shippingFeeShopLines>
          <div class="d-flex align-items-center justify-content-between w-100"
               *ngFor="let fee of ffm?.shipping_fee_shop_lines">
            <div class="pl-2 pr-3 py-1 small-font">{{fee?.shipping_fee_type_display}}</div>
            <strong class="pr-2 pl-3 py-1 small-font">{{fee?.cost | number}}đ</strong>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>
  <div class="col align-self-center">
    <span [class.text-success]="!ffm?.external_import_error" [class.text-danger]="ffm?.external_import_error">
      {{!ffm?.external_import_error ? 'Đúng' : 'Sai'}}
    </span>
    <div class="small-font text-default" *ngIf="ffm?.external_import_error">
      {{ffm?.external_import_error?.msg}}
    </div>
  </div>
</ng-template>
