.group-pagination {
  border-radius: 20px;
}

.search-pos {
  outline: none;
  padding: 0.4rem 0.8rem;
  min-width: 27rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 0.85rem;
  width: 1.5rem;
  transform: translate(0, -50%);
  cursor: pointer;
}

.list-product-header {
  padding: 0;
  border-bottom: 1px solid var(--border-gray-color);
  border-top: 1px solid var(--border-gray-color);
  height: 3.75rem;
}

.barcode {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    background: var(--primary-color);
    color: var(--white-color);
    img {
      filter: invert(1);
    }
  }
  img {
    filter: opacity(.75);
  }
}
 span.barcode-click {
  white-space: nowrap;
 }
