<div class="list-product-header bg-white">
  <div class="d-flex align-items-center h-100">
    <div class="barcode barcode-click border-right cursor-pointer px-3" [class.active]="barcode">
      <img class="barcode-click" src="assets/images/barcode.svg" alt="" style="width: 2.25rem;">
      <span class="barcode-click ml-2">Quét mã vạch</span>
    </div>
    <div class="position-relative">
      <input #searchInput id="search-input" type="text" class="search-pos border-0" placeholder="Tìm sản phẩm"
        [(ngModel)]="keyword" (ngModelChange)="search()" (keyup.enter)="searchVariant()">
      <img src="assets/images/search_icon.png" alt="search" class="search-icon">
    </div>
    <div class="filter d-flex border-left p-3">
      <select name="" class="font-weight-bold border-0 mr-3">
        <option value="1">Bộ sưu tập</option>
      </select>
      <select name="" class="font-weight-bold border-0 mr-3">
        <option value="1">Danh mục</option>
      </select>
      <select name="" class="font-weight-bold border-0">
        <option value="1">Thẻ</option>
      </select>
    </div>
    <div class="ml-auto p-2">
      <div class="btn-group group-pagination p-1" role="group">
        <button class="btn btn-sm border-0 bg-transparent" (click)="backbtn()" [disabled]="page_numb == 1">
          <i class="fas fa-chevron-left ml-2"></i>
        </button>
        <span class="text-center" style="min-width: 3.75rem; line-height: 20px">
          {{ page_numb }}/{{ page_total }}
        </span>
        <button class="btn btn-sm border-0 bg-transparent" (click)="nextbtn()" [disabled]="page_numb == page_total">
          <i class="fas fa-chevron-right ml-2"></i>
        </button>
      </div>
    </div>
  </div>
</div>
