<etop-not-permission *ngIf="noPermission; else enoughPermission;"></etop-not-permission>
<ng-template #enoughPermission>
  <div class="total" *ngIf="!ffmTable.loading">
    <div class="total-section">
      <div class="pl-4">
        <div class="back-button" (click)="goToTransactionShops()">
          <span class="material-icons-outlined">chevron_left</span>
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Mã phiên</div>
        <div class="item-value font-weight-bold">
          {{(mtShop$ | async)?.code}}
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Shop</div>
        <div class="item-value font-weight-bold" *ngIf="(mtShop$ | async)?.shop; else noShop;">
          {{(mtShop$ | async)?.shop?.code}} - {{(mtShop$ | async)?.shop?.name}} -
          <span class="text-primary cursor-pointer" eCallButton="{{(mtShop$ | async)?.shop?.phone}}">
            {{(mtShop$ | async)?.shop?.phone}}
            <i class="text-primary fa fa-phone-square big-font"></i>
          </span>
        </div>
        <ng-template #noShop>
          <span>-</span>
        </ng-template>
      </div>
      <div class="total-item">
        <div class="text-default">Ngân hàng</div>
        <div
          class="item-value font-weight-bold"
          *ngIf="(mtShop$ | async)?.shop?.bank_account; else noBankAccount;">
          {{(mtShop$ | async)?.shop?.bank_account?.name}}
          <i
            class="fas fa-info-circle text-topship cursor-pointer"
            [ngbTooltip]="bankAccount" placement="bottom" tooltipClass="large-tooltips">
          </i>
          <ng-template #bankAccount>
            <div class="d-flex justify-content-between">
              <div class="pl-2 pr-3 py-1 small-font">Chi nhánh</div>
              <strong class="pr-2 pl-3 py-1 small-font text-right" style="flex: 1">
                {{(mtShop$ | async)?.shop?.bank_account?.branch}}
              </strong>
            </div>
            <div class="d-flex justify-content-between">
              <div class="pl-2 pr-3 py-1 small-font">Tên tài khoản</div>
              <strong class="pr-2 pl-3 py-1 small-font text-right" style="flex: 1">
                {{(mtShop$ | async)?.shop?.bank_account?.account_name}}
              </strong>
            </div>
            <div class="d-flex justify-content-between">
              <div class="pl-2 pr-3 py-1 small-font">Số tài khoản</div>
              <strong class="pr-2 pl-3 py-1 small-font text-right" style="flex: 1">
                {{(mtShop$ | async)?.shop?.bank_account?.account_number}}
              </strong>
            </div>
          </ng-template>
        </div>
        <ng-template #noBankAccount>
          <span>-</span>
        </ng-template>
      </div>
      <div class="total-item">
        <div class="text-default">Ngày tạo</div>
        <div class="item-value font-weight-bold">
          {{(mtShop$ | async)?.created_at | date: 'HH:mm dd/MM/yy'}}
        </div>
      </div>
      <div class="total-item" *ngIf="(mtShop$ | async)?.status == 'P'">
        <div class="text-default">Ngày xác nhận</div>
        <div class="item-value font-weight-bold">
          {{(mtShop$ | async)?.confirmed_at | date: 'HH:mm dd/MM/yy'}}
        </div>
      </div>
    </div>
    <div class="total-section">
      <div class="total-item">
        <div class="text-default">Số đơn giao hàng</div>
        <div class="item-value font-weight-bold">
          {{(mtShop$ | async)?.total_orders}}
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Tổng thu hộ</div>
        <div class="item-value font-weight-bold">
          {{(mtShop$ | async)?.total_cod | number}}đ
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Tổng còn lại</div>
        <div
          class="item-value font-weight-bold"
          [class.text-danger]="(mtShop$ | async)?.total_amount < 0"
          [class.text-success]="(mtShop$ | async)?.total_amount > 0">
          {{(mtShop$ | async)?.total_amount | number}}đ
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Đã giao</div>
        <div class="item-value font-weight-bold text-success">
          {{sum?.delivered_count}}
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Trả hàng</div>
        <div class="item-value font-weight-bold text-danger">
          {{sum?.returned_count}}
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Có thu hộ</div>
        <div class="item-value font-weight-bold">
          {{sum?.cod_count}}
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Không thu hộ</div>
        <div class="item-value font-weight-bold">
          {{sum?.none_cod_count}}
        </div>
      </div>
    </div>
  </div>
  <div class="page-container" [class.loading]="ffmTable.loading">
    <div class="page-content pb-0">
      <div class="page-wrapper">
        <etop-table
          #ffmTable
          [items]="fulfillments$ | async"
          [show_paging]="false">
          <ng-template #header let-liteMode="liteMode">
            <div class="col" style="min-width: 17.5%;">
              <span class="table-header-text">Mã giao hàng</span>
            </div>
            <div class="col">
              <span class="table-header-text">Trạng thái</span>
            </div>
            <ng-container *ngIf="!liteMode">
              <div class="col">
                <span class="table-header-text">Người nhận</span>
              </div>
              <div class="col">
                <span class="table-header-text">Khu vực</span>
              </div>
              <div class="col">
                <span class="table-header-text">Khai báo</span>
              </div>
              <div class="col">
                <span class="table-header-text">Thu hộ</span>
              </div>
              <div class="col">
                <span class="table-header-text">Tổng cước phí</span>
              </div>
            </ng-container>
          </ng-template>

          <ng-template #emptyItem>
            <div class="blank-page">
              <div>
                <img
                  class="blank-img"
                  src="assets/images/admin/icon_ffm.png"
                  alt="empty list"
                />
              </div>
              <div class="info">
                <div class="text-bigger text-bold text-center m-2">
                  Phiên này không có đơn giao hàng
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template #item let-ffm="item" let-liteMode="liteMode">
            <div
              class="row table-row" admin-mt-shop-ffm-row
              [ffm]="ffm" [liteMode]="liteMode">
            </div>
          </ng-template>
        </etop-table>
      </div>
    </div>
  </div>
</ng-template>
