<div class="action-body">
  <shared-dragdrop-sorting [drag_items]="shipmentPrices" (dropped)="drop($event)" style="width: 100%;">
    <ng-template #item let-sp="item" let-index="index">
      <div
        class="drag-list-row" [class.row-error]="sp.error" admin-shipment-price-action-row
        [shipmentPrice]="sp" [index]="index" (rowRemoved)="removeShipmentPrice(index)">
      </div>
    </ng-template>
  </shared-dragdrop-sorting>
</div>
<div class="action-footer">
  <div class="add-btn" *ePermissions="['admin/shipment_price:create','admin/shipment_price:update']">
    <button class="btn btn-outline btn-primary px-0" (click)="addMoreShipmentPrice()">
      <i class="fa fa-plus mr-2"></i>Thêm cấu hình giá
    </button>
  </div>
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-3" (click)="back()" [disabled]="loading">Bỏ qua</button>
    <button
      *ePermissions="['admin/shipment_price:create','admin/shipment_price:update']"
      class="btn btn-outline btn-primary" (click)="confirm()" [disabled]="loading">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;{{action == 'create' ? 'Tạo' : 'Cập nhật'}}
    </button>
  </div>
</div>
