.action-header {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  border-bottom: 1px solid var(--border-gray-color);
}

.action-body {
  display: flex;
  flex-wrap: wrap;
}

.action-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

.add-btn {
  .btn {
    border: none !important;
    font-size: 1.15rem;
  }
}

.drag-list-row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-gray-color);
  &.row-error {
    border-bottom: 1px solid var(--danger-color);
    border-top: 1px solid var(--danger-color);
  }
}

.drag-list-col {
  padding: 1rem;
}
