<etop-table
  #purchaseOrderTable [items]="purchaseOrderList" (requestNewPage)="loadPage($event)"
  [show_paging]="purchaseOrderList.length > 0 && showPaging" style="width: 100%">
  <ng-template #header let-liteMode="liteMode">
    <div class="col text-left">
      <span class="table-header-text">Mã</span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Nhà cung cấp</span>
    </div>
    <div class="col text-right" *ngIf="!liteMode" style="max-width: 10rem;">
      <span class="table-header-text">Số SP</span>
    </div>
    <div class="col text-right" *ngIf="!liteMode" style="max-width: 10rem;">
      <span class="table-header-text">Tổng SL</span>
    </div>
    <div class="col text-right">
      <span class="table-header-text">Giá trị</span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Trạng thái</span>
    </div>
    <div class="col text-left" *ngIf="!liteMode">
      <span class="table-header-text">Thanh toán</span>
    </div>
    <div class="col text-left" *ngIf="!liteMode">
      <span class="table-header-text">Phiếu nhập</span>
    </div>
  </ng-template>

  <ng-template #emptyItem>
    <etop-empty-page [title]="emptyTitle" [type]="emptyType" [actions]="emptyAction"
    description="Bạn có thể tạo đơn nhập hàng trực tiếp tại đây.">
    </etop-empty-page>
  </ng-template>

  <ng-template #item let-purchase_order="item" let-liteMode="liteMode">
    <div class="row table-row" shop-purchase-order-row [purchase_order]="purchase_order" [liteMode]="liteMode"
      (click)="detail($event, purchase_order)"
      [class.active]="purchase_order.p_data?.selected || purchase_order.p_data?.detailed">
    </div>
  </ng-template>
</etop-table>
<etop-side-slider #slider>
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
        <shared-dropdown-actions></shared-dropdown-actions>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
        Đóng <i class="fa fa-times"></i>
      </button>
    </div>
  </ng-template>
  <ng-container *ngIf="selectedPurchaseOrders?.length">
    <shop-purchase-order-detail [purchase_order]="selectedPurchaseOrders[0]"></shop-purchase-order-detail>
  </ng-container>
</etop-side-slider>
