:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.import-actions {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  position: relative;
  height: 110px;
  border-bottom: 1px solid var(--border-gray-color);
  .import-input {
    width: 100%;
  }
  .button-wrapper {
    width: 100%;
  }
}

.import-input {
  margin-bottom: 15px;
}

.import-result-wrapper {
  height: calc(100% - 110px);
}

.custom-file-label {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  &::after {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.result {
  height: 100%;
  .import-result {
    max-height: calc(100% - 40px);
    overflow-y: auto;
    .import-result-item {
      .alert {
        padding: 10px;
        border-radius: 0;
        margin-bottom: 0;
      }
    }
  }
  .import-result-summary {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 600;
  }
}

.alert-warning {
  .fa {
    color: var(--warning-color) !important;
  }
}

.alert-success {
  .fa {
    color: var(--success-color) !important;
  }
}

.alert-danger {
  .fa {
    color: var(--danger-color) !important;
  }
}

.not-button {
  &.text-primary:hover {
    color: var(--primary-color) !important;
  }
}
