<div class="content">
  <div class="product-info p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="input-item col-12">
            <etop-material-input
              placeholder="Tên nhà cung cấp*" textLabel="Tên nhà cung cấp*" type="input"
              [(ngModel)]="supplier.full_name">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input
              placeholder="Số điện thoại*" textLabel="Số điện thoại*" type="input"
              [(ngModel)]="supplier.phone">
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input
              placeholder="Email" textLabel="Email" type="input"
              [(ngModel)]="supplier.email">
            </etop-material-input>
          </div>
          <div class="input-item col-8">
            <etop-material-input
              placeholder="Tên doanh nghiệp" textLabel="Tên doanh nghiệp" type="input"
              [(ngModel)]="supplier.company_name">
            </etop-material-input>
          </div>
          <div class="input-item col-4 pl-0">
            <etop-material-input
              placeholder="Mã số thuế" textLabel="Mã số thuế" type="input"
              [(ngModel)]="supplier.tax_number">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input
              placeholder="Trụ sở chính" textLabel="Trụ sở chính" type="input"
              [(ngModel)]="supplier.headquater_address">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input
              placeholder="Ghi chú" textLabel="Ghi chú" type="text-area"
              [(ngModel)]="supplier.note">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
    <div class="actions p-0 pt-3 text-right">
      <button class="btn btn-primary text-white" [disabled]="loading" (click)="create()">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
        Tạo nhà cung cấp
      </button>
    </div>
  </div>
