<div class="transaction-body">
  <div class="container font-12 mb-1 transaction-container">
    <div class="form-row">
      <div class="col-6">
        <div class=" alert alert-warning font-12 mb-0" *ngIf="note" [innerHTML]="note"></div>
      </div>
      <div class="col-6">
        <div class="content-box p-4">
          <div class="group-title top-title font-weight-bold">
            <span>Thông tin cửa hàng</span>
          </div>
          <div class="shop-info-body">
            <div class="row">
              <div class="col-4 py-2">
                Tên shop:
              </div>
              <div class="col-8 py-2 font-weight-bold">
                {{ shop?.name }}
              </div>
            </div>
            <div class="row">
              <div class="col-4 py-2">
                Số điện thoại:
              </div>
              <div class="col-8 py-2 font-weight-bold">
                {{ shop?.phone }}
              </div>
            </div>
            <div class="row">
              <div class="col-4 py-2">
                Email:
              </div>
              <div class="col-8 py-2 font-weight-bold">
                {{ shop?.email }}
              </div>
            </div>
          </div>
          <div class="group-title font-weight-bold">
            <span>Thông tin ngân hàng</span>
          </div>
          <div class="text-center" *ngIf="!shop?.bank_account?.account_number; else shopBankInfo">
            <div>Bạn chưa cập nhật thông tin ngân hàng</div>
            <a
              class="btn btn-primary mt-2 font-12"
              style="color: white;"
              [routerLink]="['/s', slug, 'settings', 'transaction']">
              Cập nhật
            </a>
          </div>
          <ng-template #shopBankInfo>
            <div class="shop-info-body">
              <div class="row">
                <div class="col-4 py-2">
                  Ngân hàng:
                </div>
                <div class="col-8 py-2 font-weight-bold">
                  {{ shop?.bank_account?.branch }}
                </div>
              </div>
              <div class="row">
                <div class="col-4 py-2">
                  Tên tài khoản:
                </div>
                <div class="col-8 py-2 font-weight-bold">
                  {{ shop?.bank_account?.account_name }}
                </div>
              </div>
              <div class="row">
                <div class="col-4 py-2">
                  Số tài khoản:
                </div>
                <div class="col-8 py-2 font-weight-bold">
                  {{ shop?.bank_account?.account_number }}
                </div>
              </div>
              <div class="row">
                <div class="col-4 py-2">
                  Lịch chuyển khoản:
                </div>
                <div class="col-8 py-2 font-weight-bold">
                  {{ shop?.money_transaction_rrule_display }}
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="transaction-body">
  <div class="tab-content transaction-container container">
    <div class="item-grid">
      <div class="alert alert-warning mind">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Đối với các phiên <strong class="fs-11-u">chờ chuyển tiền</strong> shop vui lòng
        đối soát lại trước <strong>ngày chuyển tiền dự kiến</strong>, xem một số lưu ý tại
        <strong><a href="https://topship.vn/mot-so-luu-y-khi-chon-lich-chuyen-khoan" target="_blank">đây</a></strong>.
        Mọi thắc mắc xin vui lòng liên hệ
        <strong><a href="https://www.facebook.com/topship.asia/" target="_blank">Fanpage</a></strong>
        hoặc <strong>Hotline</strong> để được tư vấn, hỗ trợ.
      </div>
    </div>
  </div>
</div>
