<etop-table style="height: 100%;" #callLogTable [items]="callLogs$ | async" [scroll_id]="'callLogTable'"
            [show_paging]="(callLogs$ | async)?.length > 0 " (requestNewPage)="loadPage($event) " [loading]='loading$ | async'
            [externalCurrentPage]="(ui$ | async)?.currentPage">
  <ng-template #header let-liteMode="liteMode">
    <div class="col" style="width: 15%"  >
      <span class="table-header-text">Thời điểm gọi</span>
    </div >
    <div class="col" >
      <span class="table-header-text">Trạng thái</span>
    </div>
    <div class="col" >
      <span class="table-header-text">Hướng</span>
    </div>
    <div class="col" >
      <span class="table-header-text"  style="width: 15%">Số tổng đài</span>
    </div>
    <div class="col" *ngIf="!liteMode" style="width: 15%">
      <span class="table-header-text">Gọi từ</span>
    </div>
    <div class="col">
      <span class="table-header-text" style="width: 15%">Gọi đến</span>
    </div>
    <div class="col" *ngIf="!liteMode" >
      <span class="table-header-text">Thời lượng</span>
    </div>
    <div class="col" *ngIf="!liteMode" >
      <span class="table-header-text">File ghi âm</span>
    </div>
  </ng-template>
  <ng-template #item let-callLog="item" let-liteMode="liteMode">
    <div class="row table-row" webcall-call-log-row
         [callLog]="callLog">
    </div>
  </ng-template>

  <ng-template #emptyItem>
    <div class="blank-page">
      <div>
        <img class="blank-img" style="opacity: 0.2;" src="assets/images/history-black-48dp.svg">
      </div>
      <div class="info">
        <div class="text-bigger text-bold text-center m-2">
          {{ emptyTitle }}
        </div>
      </div>
      </div>
  </ng-template>
</etop-table>
