tr {
  &.table-head {
    th {
      color: var(--default-color);
      text-transform: uppercase;
      font-size: 0.825rem;
    }
  }
}

th, td {
  padding: 10px 15px;
}

td {
  font-size: 1rem;
}
.break-section {
  border-top: 1px solid var(--border-gray-color);
  font-size: 1.3rem;
  color: var(--dark-color);
}

.empty-list {
  text-align: center;
  background: var(--lighter-gray-color);
}

.title {
  color: var(--dark-color);
}