<td style="width: 4%">
  <strong>{{index + 1}}.</strong>
</td>
<td style="width: 32%">
  {{sp?.name || '-'}}
</td>
<td style="width: 8%" class="text-right">{{(sp?.details[0]?.weight || 0) | number}}g</td>
<td style="width: 8%" class="text-right">{{(sp?.details[0]?.price || 0) | number}}đ</td>
<td style="width: 8%" class="text-center">
  <i
    [ngbTooltip]="overweightTooltip" tooltipClass="large-tooltips" class="fas fa-check text-success cursor-pointer"
    *ngIf="sp?.details[0]?.overweight?.length">
  </i>
  <span *ngIf="!sp?.details[0]?.overweight?.length">-</span>
</td>
<ng-template #overweightTooltip>
  <div *ngFor="let overweight of sp?.details[0]?.overweight" class="text-left p-1">
    -
    <strong>{{overweight.min_weight | number}}g</strong> đến
    <strong>{{overweight.max_weight | number}}g</strong>: Tăng
    <strong>{{overweight.price_step | number}}đ</strong> trên mỗi
    <strong>{{overweight.weight_step | number}}g</strong>
  </div>
</ng-template>
<td style="width: 8%" class="text-center">
  <i
    [ngbTooltip]="insuranceTooltip" tooltipClass="large-tooltips" class="fas fa-check text-success cursor-pointer"
    *ngIf="hasAdditionalFee('insurance', sp)">
  </i>
  <span *ngIf="!hasAdditionalFee('insurance', sp)">-</span>
</td>
<ng-template #insuranceTooltip>
  <div *ngFor="let insurance of getAdditionalFee('insurance', sp)" class="text-left p-1">
    -
    <strong>{{insurance?.min_value | number}}đ</strong> đến
    <strong>{{insurance?.max_value | number}}đ</strong>: Tăng
    <strong>{{insurance?.amount | number}}%</strong>. Số tiền tối thiểu:
    <strong>{{insurance?.min_price | number}}đ</strong>
  </div>
</ng-template>
<td style="width: 8%" class="text-center">
  <i
    [ngbTooltip]="codsTooltip" tooltipClass="large-tooltips" class="fas fa-check text-success cursor-pointer"
    *ngIf="hasAdditionalFee('cods', sp)">
  </i>
  <span *ngIf="!hasAdditionalFee('cods', sp)">-</span>
</td>
<ng-template #codsTooltip>
  <div *ngFor="let cods of getAdditionalFee('cods', sp)" class="text-left p-1">
    -
    <strong>{{cods?.min_value | number}}đ</strong> đến
    <strong>{{cods?.max_value | number}}đ</strong>: Tăng
    <strong>{{cods?.amount | number}}%</strong>. Số tiền tối thiểu:
    <strong>{{cods?.min_price | number}}đ</strong>
  </div>
</ng-template>
<td style="width: 8%" class="text-center">
  <i
    [ngbTooltip]="redeliveryTooltip" class="fas fa-check text-success cursor-pointer"
    *ngIf="hasAdditionalFee('redelivery', sp)">
  </i>
  <span *ngIf="!hasAdditionalFee('redelivery', sp)">-</span>
</td>
<ng-template #redeliveryTooltip>
  <div *ngFor="let redelivery of getAdditionalFee('redelivery', sp)">
    <ng-container *ngIf="!isPercentage(redelivery)" class="text-left p-1">
      - Giá trị cố định:
      <strong>{{redelivery?.amount | number}}đ</strong>
    </ng-container>
    <ng-container *ngIf="isPercentage(redelivery)" class="text-left p-1">
      - Giá trị tính theo % so với chi phí chính:
      <strong>{{redelivery?.amount | number}}%</strong>. Giá trị tối thiểu:
      <strong>{{redelivery?.min_price | number}}đ</strong>
    </ng-container>
  </div>
</ng-template>
<td style="width: 8%" class="text-center">
  <i [ngbTooltip]="returnTooltip" tooltipClass="large-tooltips" class="fas fa-check text-success cursor-pointer" *ngIf="hasAdditionalFee('return', sp)"></i>
  <span *ngIf="!hasAdditionalFee('return', sp)">-</span>
</td>
<ng-template #returnTooltip>
  <div *ngFor="let return of getAdditionalFee('return', sp)">
    <ng-container *ngIf="!isPercentage(return)" class="text-left p-1">
      - Giá trị cố định:
      <strong>{{return?.amount | number}}đ</strong>
    </ng-container>
    <ng-container *ngIf="isPercentage(return)" class="text-left p-1">
      - Giá trị tính theo % so với chi phí chính:
      <strong>{{return?.amount | number}}%</strong>. Giá trị tối thiểu:
      <strong>{{return?.min_price | number}}đ</strong>
    </ng-container>
  </div>
</ng-template>
<td style="width: 8%" class="text-center">
  <i [ngbTooltip]="adjustmentTooltip" class="fas fa-check text-success cursor-pointer" *ngIf="hasAdditionalFee('adjustment', sp)"></i>
  <span *ngIf="!hasAdditionalFee('adjustment', sp)">-</span>
</td>
<ng-template #adjustmentTooltip>
  <div *ngFor="let adjustment of getAdditionalFee('adjustment', sp)">
    <ng-container *ngIf="!isPercentage(adjustment)" class="text-left p-1">
      - Giá trị cố định:
      <strong>{{adjustment?.amount | number}}đ</strong>
    </ng-container>
    <ng-container *ngIf="isPercentage(adjustment)" class="text-left p-1">
      - Giá trị tính theo % so với chi phí chính:
      <strong>{{adjustment?.amount | number}}%</strong>. Giá trị tối thiểu:
      <strong>{{adjustment?.min_price | number}}đ</strong>
    </ng-container>
  </div>
</ng-template>
