<div class="detail-body hide-scrollbar">
  <div class="slider-detail-section">
    <div class="slider-detail-info-title">
      TENANT
    </div>
    <ng-container *ngIf="(tenant$ | async); else emptyTenant">
      <div class="row pl-2">
        <div class="col item">
          <div class="item-label small">Tên</div>
          <div class="item-value">{{(tenant$ | async)?.name || "-"}}</div>
        </div>
        <div class="col item">
          <div class="item-label small">Ngày tạo</div>
          <div class="item-value">{{((tenant$ | async)?.created_at | date: 'HH:mm dd/MM/yyyy') || "-"}}</div>
        </div>
      </div>
      <div class="row pl-2">
        <div class="col item">
          <div class="item-label small">Domain</div>
          <div class="item-value">{{(tenant$ | async)?.domain || "-"}}</div>
        </div>
        <div class="col item">
          <div class="item-label small">Trạng thái</div>
          <div *ngIf="(tenant$ | async)?.status"
               class="item-value status status-{{(tenant$ | async)?.status}}">{{(tenant$ | async)?.status_display}}</div>
          <div *ngIf="!(tenant$ | async)?.status">-</div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyTenant>
      <div class="empty">
        Chưa có tenant
      </div>
      <div class="text-right mt-3">
        <button (click)="confirmCreateTenant()" class="btn btn-primary">
          Tạo tenant
        </button>
      </div>
    </ng-template>
  </div>

  <div class="box-hotline ">
    <div class="slider-detail-info-title pt-4 pl-4">
      HOTLINE
    </div>
    <div class="table-responsive" *ngIf="(hotlines$ | async)?.length; else empty">
      <table class="w-100">
        <thead>
        <th style="max-width: 7rem;">Số điện thoại</th>
        <th>Tên</th>
        <th style="max-width: 5rem;">Không kiểm tra số dư</th>
        <th>Trạng thái</th>
        <th>Tác vụ</th>
        </thead>
        <tbody>
        <tr *ngFor="let hotline of (hotlines$ | async);">
          <td style="max-width: 7rem;">
            <div class="font-weight-bold">{{ hotline.hotline }}</div>
          </td>
          <td>
            <div>{{hotline.name}}</div>
          </td>
          <td style="max-width: 5rem;">
            <i class="fas fa-check text-success cursor-pointer"
               *ngIf="hotline.is_free_charge">
            </i>
            <span *ngIf="!hotline.is_free_charge">-</span>
          </td>
          <td>
            <div class="item-value status status-{{hotline.status}}">{{hotline?.status_display}}</div>
          </td>
          <td>
            <mat-icon class="edit-btn mr-3" fontSet="material-icons-outlined" (click)="editHotline(hotline)">edit</mat-icon>
            <mat-icon *ngIf="!isActive(hotline)" class="edit-btn mr-3" fontSet="material-icons-outlined" (click)="confirmActivateHotline(hotline)">bolt</mat-icon>
            <mat-icon *ngIf="!isActive(hotline)" class="edit-btn mr-3" fontSet="material-icons-outlined" (click)="confirmDeleteHotline(hotline)">clear</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #empty>
      <div class="empty m-3">
        Chưa có hotline
      </div>
    </ng-template>
    <div class="text-right m-3" *ngIf="(tenant$ | async)">
      <button (click)="assignHotline()" class="btn btn-primary">
        Gán hotline
      </button>
    </div>
  </div>

    <div class="box-hotline">
        <div class="slider-detail-info-title  pt-4 pl-4">
            PHÍ MÁY NHÁNH
        </div>
        <div class="p-4">
            <mat-radio-group color="primary" [(ngModel)]="userExtensionChargeType">
                <mat-radio-button class="mr-4" value="{{extension_charge_type.prepaid}}">Trả trước</mat-radio-button>
                <mat-radio-button class="mr-4" value="{{extension_charge_type.postpaid}}">Trả sau</mat-radio-button>
                <mat-radio-button value="{{extension_charge_type.free}}">Miễn phí</mat-radio-button>
              </mat-radio-group>
        </div>
        <div class="text-right m-3">
            <button class="btn btn-primary" (click)="confirmUpdateUserSetting()">
              Cập nhật
            </button>
        </div>
    </div>
</div>
