.topship-wrapper {
  background: #fff;
  font-family: 'Quicksand', sans-serif !important;
  border: 1px solid var(--border-gray-color);
  * {
    font-family: 'Quicksand', sans-serif !important;
  }

  .topship-section {
    margin: 1rem 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--border-gray-color);
    @media (max-width: 767px) {
      border-right: none;
    }
  }

  .result {
    padding: 0;
    display: flex;
  }
}

.container-fluid {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
