<div class="modal-header">
  <div class="modal-title">
    <h5 class="font-weight-bold mb-0">{{title || 'Thông tin địa chỉ'}}</h5>
    <div class="font-weight-normal">Đây là thông tin để tạo đơn giao hàng, thông tin phải chính xác để shipper có thể đến lấy hàng.</div>
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>
      Địa chỉ <span class="text-danger">*</span>
    </label>
    <div class="row">
      <ng-container [formGroup]="locationForm">
        <div class="col-4">
          <div class="py-2">
            <etop-material-input-autocomplete
              placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành (*)" [options]="provincesList$ | async"
              [displayMap]="displayMap" [valueMap]="valueMap"
              formControlName="provinceCode">
            </etop-material-input-autocomplete>
          </div>
        </div>
        <div class="col-4">
          <div class="py-2">
            <etop-material-input-autocomplete
              placeholder="Chọn quận huyện" textLabel="Quận huyện (*)" [options]="(districtsList$ | async) || []"
              [displayMap]="displayMap" [valueMap]="valueMap"
              formControlName="districtCode">
            </etop-material-input-autocomplete>
          </div>
        </div>
        <div class="col-4">
          <div class="py-2">
            <etop-material-input-autocomplete
              placeholder="Chọn phường xã" textLabel="Phường xã (*)" [options]="(wardsList$ | async) || []"
              [displayMap]="displayMap" [valueMap]="valueMap"
              formControlName="wardCode">
            </etop-material-input-autocomplete>
          </div>
        </div>
      </ng-container>
      <div class="col-12">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập địa chỉ cụ thể" textLabel="Địa chỉ cụ thể (*)" type="input"
            [(ngModel)]="address.address1">
          </etop-material-input>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 col-12">
      <label>
        Khung giờ lấy hàng <span class="text-danger">*</span>
      </label>
      <div class="row">
        <div class="col-6">
          <div class="py-2">
            <etop-material-input
              placeholder="Nhập giờ bắt đầu" textLabel="Giờ bắt đầu" type="time"
              [(ngModel)]="start_open_time">
            </etop-material-input>
          </div>
        </div>
        <div class="col-6">
          <div class="py-2">
            <etop-material-input
              placeholder="Nhập giờ kết thúc" textLabel="Giờ kết thúc" type="time"
              [(ngModel)]="end_open_time">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="d-flex align-items-center">
        <label>Giờ nghỉ (Nếu có)</label>
        <label class="pointer ml-2">
          <mat-checkbox color="primary" [(ngModel)]="notLunchBreak">Không nghỉ</mat-checkbox>
        </label>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="py-2">
            <etop-material-input
              placeholder="Nhập giờ bắt đầu" textLabel="Giờ bắt đầu" type="time"
              [(ngModel)]="start_lunch_break" [disabled]="notLunchBreak">
            </etop-material-input>
          </div>
        </div>
        <div class="col-6">
          <div class="py-2">
            <etop-material-input
              placeholder="Nhập giờ kết thúc" textLabel="Giờ kết thúc" type="time"
              [(ngModel)]="end_lunch_break" [disabled]="notLunchBreak">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>
      Người phụ trách <span class="text-danger">*</span>
    </label>
    <div class="row">
      <div class="col-4">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập họ tên" textLabel="Họ tên (*)" type="input"
            [(ngModel)]="address.full_name">
          </etop-material-input>
        </div>
      </div>
      <div class="col-4">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập số điện thoại" textLabel="Số điện thoại" type="input"
            [(ngModel)]="address.phone">
          </etop-material-input>
        </div>
      </div>
      <div class="col-4">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập chức vụ" textLabel="Chức vụ" type="input"
            [(ngModel)]="address.position">
          </etop-material-input>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Ghi chú</label>
    <div class="py-2">
      <etop-material-input
        placeholder="Nhập ghi chú" textLabel="Ghi chú" type="text-area"
        [(ngModel)]="address.notes.note">
      </etop-material-input>
    </div>
  </div>
  <div class="form-group">
    <mat-radio-group [(ngModel)]="callOption">
      <mat-radio-button class="mr-3" value="call" color="primary">
        Gọi điện trước khi lấy hàng
      </mat-radio-button>
      <mat-radio-button value="no-call" color="primary">
        Luôn luôn có người, không cần gọi điện
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline btn-default" (click)="closeModal()">Đóng</button>
  <button class="btn btn-primary" (click)="save()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    {{actionType == 'update' ? 'Cập nhật' : 'Tạo'}}
  </button>
</div>
