tr {
  &.table-head {
    th {
      color: var(--default-color);
      text-transform: uppercase;
      font-size: 0.825rem;
    }
  }
}

th, td {
  padding: 5px 15px;
}

td {
  font-size: 1rem;
  display: table-cell;
  vertical-align: inherit;
}

.line{
  padding:1rem;
  border-bottom: 1px solid var(--border-gray-color);
}

.max-line{
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:1;
  display: -webkit-box;
}

.square-item{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--border-gray-color);
}
