<td>{{index+1}}.</td>
<td>{{hotline?.name}}</td>
<td>{{hotline?.hotline}}</td>
<td>{{hotline?.created_at | date:'dd/MM/yyyy'}}</td>
<td class="status status-{{hotline?.status}}">{{hotline?.status_display}}</td>
