<ng-container *ngIf="(activeFulfillments$ | async)?.length;">
  <div class="slider-detail-section">
    <div class="table-responsive">
      <table class="w-100">
        <thead>
        <tr>
          <th>Mã giao hàng</th>
          <th class="text-right">Thu hộ</th>
          <th class="text-right">Tổng cước phí</th>
          <th class="text-right">Còn lại</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ffm of activeFulfillments$ | async">
          <ng-container *ngIf="ffm.not_found_on_etop; else foundOnEtop">
            <td>
              <span class="font-weight-bold" style="word-break: break-word;">
                {{ffm?.external_code}}
              </span>
            </td>
            <td>
              <div class="text-right font-weight-bold">{{ffm?.external_total_cod | number}}đ</div>
            </td>
            <td>
              <div class="text-right font-weight-bold">{{ffm?.external_total_shipping_fee | number}}đ</div>
            </td>
            <td>
              <div class="text-right font-weight-bold">
                {{(ffm?.external_total_cod - ffm?.external_total_shipping_fee) | number}}đ
              </div>
            </td>
          </ng-container>
          <ng-template #foundOnEtop>
            <td>
              <div class="d-flex align-items-center">
                <div class="carrier-image">
                  <img [src]="ffm?.shipping_provider_logo" alt="">
                  <img *ngIf="ffm?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
                </div>
                <div class="d-flex flex-column align-items-start carrier-info" [class.text-topship]="ffm?.from_topship">
                <span class="text-bold" [class.text-topship]="ffm?.from_topship" style="word-break: break-word;">
                  {{ffm?.shipping_code}}
                </span>
                  <span class="text-bold text-uppercase carrier-name" [class.text-topship]="ffm?.from_topship">
                  {{ffm?.from_topship ? 'TOPSHIP - ' : ''}}{{ffm?.carrier}}
                </span>
                </div>
              </div>
            </td>
            <td>
              <div class="text-right font-weight-bold">{{ffm?.total_cod_amount | number}}đ</div>
            </td>
            <td>
              <div class="text-right font-weight-bold">{{ffm?.shipping_fee_shop | number}}đ</div>
            </td>
            <td>
              <div class="text-right font-weight-bold">{{(ffm?.total_cod_amount - ffm?.shipping_fee_shop) | number}}đ</div>
            </td>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
