<ion-header>
  <ion-toolbar>
    <ion-title>Thông báo</ion-title>
    <ion-buttons class="button-icon" slot="end" (click)="readAllNoti()">
      <mat-icon class="material-icons-outlined">mark_chat_read</mat-icon>
      <ion-text>Đọc tất cả</ion-text>
    </ion-buttons>
  </ion-toolbar>
    <ion-select *ngIf="accounts.length > 1" class="account-list" [interfaceOptions]="customOptions" [(ngModel)]="accountIdNoti" 
    interface="popover" (ngModelChange)="onSelectChange($event)" okText="Chọn" cancelText="Hủy">
        <ion-select-option *ngFor="let account of accounts" class="text-center" [value]="account.id">{{account.display_name}}</ion-select-option>
    </ion-select>
  <ion-segment *ePermissions="['shop/fulfillment:view' &&'shop/money_transaction:view']" mode="md" color="primary" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment">
    <ion-segment-button mode="md" value="all">
      <ion-label>Tất cả</ion-label>
    </ion-segment-button>
    <ion-segment-button *ePermissions="['shop/fulfillment:view']" mode="md" value="fulfillment">
      <ion-label>Giao hàng</ion-label>
    </ion-segment-button>
    <ion-segment-button *ePermissions="['shop/money_transaction:view']" mode="md" value="money_transaction_shipping">
      <ion-label>Đối soát</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="segment == 'all'">
    <ng-container *ngIf="notifications && notifications.length; else emptyNoti">
      <div class="noti-wrapper">
        <div *ngFor="let noti of notifications; let i = index;" class="noti-item" [ngClass]="{'is-read': noti.is_read}"
          (click)="readNoti(noti, i)">
          <div class="noti-title ion-align-items-center">
            <ion-icon name="ellipse"></ion-icon>
            {{noti.title}}
          </div>
          <div class="font-11 noti-message">{{noti.message}}</div>
          <div class="text-medium font-10 noti-date">
            {{noti.created_at | date: 'HH:mm dd/MM/yyyy'}}
          </div>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <i class="fa fa-circle-o-notch fa-spin text-orange font-18" [class.d-none]="!loadingMore"></i>
        </div>
      </div>
      <ion-infinite-scroll position="bottom" threshold="200px" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="circles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
    <ng-template #emptyNoti>
      <div *ngIf="!loading" class="default-empty">
        <div>
          <img width="80px" class="pb-4" src="../../assets/images/empty-state.png" alt="empty">
        </div>
        <div class="ion-margin-top">
          Bạn chưa có thông báo
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="segment == 'fulfillment'">
    <ng-container *ngIf="notifications && notifications.length; else emptyNoti">
      <div class="noti-wrapper">
        <div *ngFor="let noti of notifications; let i = index;" class="noti-item" [ngClass]="{'is-read': noti.is_read}"
          (click)="readNoti(noti, i)">
          <div class="noti-title ion-align-items-center">
            <ion-icon name="ellipse"></ion-icon>
            {{noti.title}}
          </div>
          <div class="font-11 noti-message">{{noti.message}}</div>
          <div class="text-medium font-10 noti-date">
            {{noti.created_at | date: 'HH:mm dd/MM/yyyy'}}
          </div>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <i class="fa fa-circle-o-notch fa-spin text-orange font-18" [class.d-none]="!loadingMore"></i>
        </div>
      </div>
      <ion-infinite-scroll position="bottom" threshold="200px" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="circles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
    <ng-template #emptyNoti>
      <div *ngIf="!loading" class="default-empty">
        <div>
          <img width="80px" class="pb-4" src="../../assets/images/empty-state.png" alt="empty">
        </div>
        <div class="ion-margin-top">
          Bạn chưa có thông báo về Giao hàng
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="segment == 'money_transaction_shipping'">
    <ng-container *ngIf="notifications && notifications.length; else emptyNoti">
      <div class="noti-wrapper">
        <div *ngFor="let noti of notifications; let i = index;" class="noti-item" [ngClass]="{'is-read': noti.is_read}"
          (click)="readNoti(noti, i)">
          <div class="noti-title ion-align-items-center">
            <ion-icon name="ellipse"></ion-icon>
            {{noti.title}}
          </div>
          <div class="font-11 noti-message">{{noti.message}}</div>
          <div class="text-medium font-10 noti-date">
            {{noti.created_at | date: 'HH:mm dd/MM/yyyy'}}
          </div>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <i class="fa fa-circle-o-notch fa-spin text-orange font-18" [class.d-none]="!loadingMore"></i>
        </div>
      </div>
      <ion-infinite-scroll position="bottom" threshold="200px" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="circles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
    <ng-template #emptyNoti>
      <div *ngIf="!loading" class="default-empty">
        <div>
          <img width="80px" class="pb-4" src="../../assets/images/empty-state.png" alt="empty">
        </div>
        <div class="ion-margin-top">
          Bạn chưa có thông báo về Đối soát  
        </div>
      </div>
    </ng-template>
  </ng-container>
  
</ion-content>