:host {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
  
  .noti-item {
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    .noti-date {
      display: flex;
      align-items: center;
    }
    .noti-title {
      font-weight: 700;
      // color: #555;
      padding-bottom: 0.75rem;
      ion-icon {
        margin-right: 0.25rem;
      }
    }
    .noti-message {
      padding-bottom: 0.75rem;
    }
    ion-icon{
      color: var(--ion-color-primary);
    }
    &.is-read {
      ion-icon{
        color: var(--ion-color-medium);
      }
    }
  }

  .button-icon {
    min-width: fit-content;
    // background: var(--ion-color-primary);
    color:var(--ion-color-primary);
    border-radius: 20px;
    border: 1px solid #f5f5f5;
    padding: 0 1rem 0 0.75rem;
    min-height: 2.2rem;
    margin-right: 0.25rem;
    ion-icon {
      font-size: 1.2rem;
    }
    ion-text {
      font-size: 0.9rem;
    }
  }

  .material-icons-outlined{
    font-size: 16px;
    line-height: 1.6;
    padding-right: 0.5rem;
  }

  ion-title{
    border-bottom: 1px solid #f4f4f4;
  }

  .account-list{
    text-align: center; 
    background-color: #e67e22; 
    color: white;
  }


  