<shop-desktop-only *ngIf="!completedView && isMobile; else showDesktop"></shop-desktop-only>
<ng-template #showDesktop>
<div class="wrapper loading-box" *ngIf="loadConfig || !delayPassed">
  <div>
    <img src="assets/images/logo_medium.png" alt="" width="100px">
  </div>
  <img src="assets/images/loading.svg" alt="" width="80px" style="margin-top: -10px">
</div>
<router-outlet *ngIf="!loadConfig && delayPassed"></router-outlet>
</ng-template>

