<tr *ngFor="let variant of value; let i = index" class="d-flex align-items-center mb-3">
    <td style="max-width: 50px;" class="pr-0 pl-0">
        <input class ="cursor-pointer" type="checkbox" [(ngModel)]="variant.isChecked" (blur)="checkCode(variant)" (click)="invokeChange() ; onCheckVariant()" />
    </td>
    <td class="flex-fill pr-0 pl-2" style="width: 125px;">
        <etop-material-input placeholder="Mã mẫu mã" textLabel="Mã mẫu mã" type="input" [(ngModel)]="variant.code" [error]="variant.skuError"
            (blur)="checkCode(variant); clearSkuError(variant)" (ngModelChange)="clearSkuError(variant)"
        >
        </etop-material-input>
    </td>
    <ng-container *ngFor="let attr of variant.attributes">
        <td style="width: 8rem;" class="pr-0 pl-2">
            <etop-material-input type="input" [textLabel]="attr.name" placeholder="Giá trị thuộc tính"
                name="attr-name-{{ i }}" [(ngModel)]="attr.value"></etop-material-input>
        </td>
    </ng-container>
    <td style="max-width: 8rem;" class="pr-0 pl-2">
        <etop-material-input-format-number [error]="price_error?.retail_price" formatNumberUnit="đ"
            placeholder="Giá bán*" textLabel="Giá bán*" type="input" keyboardType="number"
            [(ngModel)]="variant.retail_price" [error]="variant?.retail_price_error" (blur)="clearRetailPriceError(variant)" (ngModelChange)="clearRetailPriceError(variant)">
        </etop-material-input-format-number>
    </td>
    <td style="max-width: 8rem;" class="pr-0 pl-2">
        <etop-material-input-format-number formatNumberUnit="đ"
        placeholder="Giá vốn" textLabel="Giá vốn" type="input" keyboardType="number"
        [(ngModel)]="variant.cost_price" >
    </etop-material-input-format-number>
    </td>

    <td style="max-width: 8rem;" class="pr-0 pl-2">
        <etop-material-input placeholder="Tồn kho" textLabel="Tồn kho" type="input" keyboardType="number"
            [(ngModel)]="variant.quantity">
        </etop-material-input>
    </td>
    <td style="max-width: 50px;" *ngIf="value.length > 1" class="pl-2">
        <div class="btn btn-outline btn-danger justify-content-center cursor-pointer" style="font-size: 12px; height: 35px;"
            (click)="onRemoveVariant(i)">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </td>
</tr>