.btn-checkout {
  padding: 6px 12px;
  font-size: 9px;
  background: var(--ion-color);
  color: var(--primary-color);
  border-radius: 2px;
}

.product-image {
  width: 100%;
  padding-bottom: 100%;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 5px 5px 0 0;
}

.product-name {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  //-webkit-line-clamp: 2;
  height: 30px;
  opacity: 0.8;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  word-break: break-word;
}

.description {
  position: relative;
  overflow: hidden;
  white-space: pre-wrap;
  display: -webkit-box;
  //-webkit-line-clamp: 3;
  min-height: 50px;
  opacity: 0.6;
}

.product-payment {
  display: flex;
  word-break: break-word;
  color: var(--dark-color);
}

.trading-box {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.e-border-bottom {
  border-bottom: 1px solid #eee;
}
.product-image-modal {
  width: 44px;
  border-radius: 5px;
  border: 1px solid #eee;
  height: 44px;
  object-fit: cover;
}

.fix-line-1 {
  display: -webkit-box;
  //-webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  font-weight: bold;
}

.product-payment {
  border-top: 1px solid var(--ion-color-light);
  padding: 0.7rem;
}

.trading-content {
  display: flex;
  padding: 0.7rem;
  flex-direction: column;
  align-items: center;
  &:hover {
    border: transparent;
  }
}

ion-col.ion-padding-vertical{
  padding-bottom: 0px !important;
}
