<div class="p-4">
  <table class="table" *ngIf="orders.length > 0">
    <thead>
    <tr>
      <th scope="col">ĐƠN HÀNG</th>
      <th scope="col" class="text-right">GIÁ TRỊ</th>
      <th scope="col">TRẠNG THÁI</th>
      <th scope="col">THANH TOÁN</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td class="product-info d-flex">
        <span class="product-img">
          <img src="{{ order.lines[0].image_url|| 'assets/images/placeholder_medium.png'}}" alt="product-image">
        </span>
        <div class="ml-3 align-self-center product-name">
          <div>
            <span class="badge etop-badge text-primary m-0 mr-2">{{order.code}}</span>
            <small>{{order.created_at | date: 'dd/MM/yyyy'}}</small>
          </div>
          <div style="max-width: 220px"><strong>x{{order.total_items}}</strong> - <span>{{order.lines[0].product_name}}</span>
          </div>
        </div>
      </td>
      <td class="text-right">
        <div class="font-weight-bold">
          {{order.total_amount | vnd}}đ
        </div>
      </td>
      <td>
        <div class="status {{order.status}}">
          <i aria-hidden="true" style="font-size: 10px;" class="fa fa-circle mr-1"></i>
          {{statusMap(order.status)}}
        </div>
      </td>
      <td>
        <div class="font-weight-bold">{{paymentMethodMap(order.payment_method)}}</div>
        <div *ngIf="order.payment_method != 'bank'" class="font-10 {{order.payment_status != 'P' ? 'text-warning' : ''}}">{{paymentStatusMap(order, order.payment_status)}}</div>
        <div *ngIf="order.payment_status != 'P' && order.payment_method == 'vtpay' && order.status == 'Z'"
          (click)="TradingPaymentOrder(order)" style="cursor: pointer">
          <span class="badge etop-badge bg-warning text-white">Thanh toán lại</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="orders.length == 0">
    Bạn chưa có đơn hàng nào đã mua!
  </div>
</div>
