<ion-header class="border-bottom" >
  <ion-toolbar>
    <ion-buttons slot="start" class="">
      <ion-icon name="chevron-back-outline" (click)="back()" ></ion-icon>
    </ion-buttons>
    <ion-title class="">Mua ngay</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="true">
  <div class="product-content">
    <div class="ion-flex ion-align-items-center ion-pading">
      <img [src]="product?.image_urls[0] || 'assets/images/placeholder.png'"
           class="ion-margin-right product-image-modal" alt="">
      <div class="ion-margin-start">
        <div class="font-14 ion-font-weight-bold fix-line-1 product-name">{{ product?.name }}</div>
        <div>{{product?.variants[0]?.retail_price | vnd}}đ</div>
      </div>
    </div>
  </div>
  <div class="font-12 note mb-3 ion-flex ion-align-items-center" *ngIf="min_quantity">
    <ion-icon name="alert"  class="ion-margin-right warning-icon"></ion-icon>
    <i aria-hidden="true" class="fa fa-exclamation-circle mr-2 "></i>
    Vui lòng đặt mua với số lượng tối thiểu {{min_quantity}}
  </div>
  <div class="ion-padding-vertical product-quantity">
    <label style="font-size: 10px; opacity: 0.6; margin-bottom: 0">Số lượng:</label>
    <ion-input placeholder="Nhập số lượng" class="ion-padding-vertical item-input " type="number" [(ngModel)]="quantity" (ngModelChange)="validateQuantity()" [ngClass]="{'is-invalid': isInvalid}"></ion-input>
  </div>
  <div class="total-quantity">
    <span>Tổng cộng:</span>
    <b class="font-weight-bolder" *ngIf="product">{{totalAmount | vnd}}đ</b>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper ion-no-border">
  <ion-toolbar>
    <div class="footer-buttons ion-flex">
      <button type="submit" class="w-100 bg-topship text-white button-radius font-bold" (click)="checkout()" [disabled]="loading">
        <ion-spinner name="lines-small" class="text-white spinner" *ngIf="loading"></ion-spinner>
        <span> Mua ngay</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>

