<ng-container [ngSwitch]="active_tab">
  <ng-container *ngSwitchCase="'detail_info'">
    <div class="order-info">
      <shop-order-info [order]="order"></shop-order-info>
    </div>
    <div class="line-info">
      <shop-line-info [order]="order"></shop-line-info>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'history'">
    <div *ngIf="fulfillment" class="shipping-info">
      <shop-shipping-info [fulfillment]="fulfillment" [order]="order"></shop-shipping-info>
    </div>
  </ng-container>
</ng-container>
