shop-order-info::ng-deep,
shop-line-info::ng-deep,
shop-shipping-info::ng-deep,
shop-payment-info::ng-deep {
  .badge {
    font-weight: 700;
    border-radius: 5px;
    background: var(--gray-color);
    border: 1px solid var(--gray-color);
  }

  .read-only {
    padding: 0 .4rem;
  }

  .order-status {
    &::before {
      padding: 4px !important;
    }
  }

  a.read-only {
    text-decoration: none;
  }
}

.order-info, .line-info, .shipping-info, .payment-info, .inventory-info {
  padding: 15px;
  border-bottom: 1px solid var(--border-gray-color);
}

.line-info {
  .badge {
    font-size: .75rem;
  }
}
