<ion-header>
  <ion-toolbar>
    <ion-title>Tổng quan</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<shop-subscription-warning></shop-subscription-warning>
<ion-content *ngIf="!viewDisconnect">
  <div *ngIf="loading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent" class="font-12"></ion-spinner>
  </div>
  <div *ngIf="!loading">
    <div class="ion-padding pt-box">
      <div class="ion-padding-bottom">
        <ion-text>HÔM NAY</ion-text>
      </div>
      <ion-text class="font-bold">Đơn hàng</ion-text>
      <div class="ion-flex ion-justify-content-between">
        <ion-text>Số đơn hàng</ion-text>
        <ion-text>Doanh thu thuần</ion-text>
      </div>
      <div class="ion-flex ion-justify-content-between">
        <ion-text>{{orderToday[1]?.value || 0}}</ion-text>
        <ion-text>{{orderToday[0]?.value || 0 | vnd}}đ</ion-text>
      </div>
    </div>
    <div class="ion-padding pt-box">
      <ion-text class="font-bold">Đơn trả hàng</ion-text>
      <div class="ion-flex ion-justify-content-between">
        <ion-text>Số đơn hàng</ion-text>
        <ion-text>Trừ vào doanh thu</ion-text>
      </div>
      <div class="ion-flex ion-justify-content-between">
        <ion-text>{{returnOrderToday[1].value || 0}}</ion-text>
        <ion-text>{{returnOrderToday[0].value || 0 | vnd}}đ</ion-text>
      </div>
    </div>
    <div class="ion-padding pt-box">
      <ion-text class="font-bold">So sánh doanh thu</ion-text>
      <div class="ion-flex ion-justify-content-between">
        <ion-text>Với hôm qua</ion-text>
        <ion-text>Với cùng kỳ tháng trước</ion-text>
      </div>
      <div class="ion-flex ion-justify-content-between">
        <ion-text>0</ion-text>
        <ion-text>0</ion-text>
      </div>
    </div>
  </div>
  <div class="ion-padding pt-box">
    <div>
      <ion-text>TRONG THÁNG NÀY</ion-text>
    </div>

    <canvas #chart class="p-4"></canvas>

    <ion-grid *ngIf="!loading">
      <ion-row>
        <ion-col size="5">
          <div>

          </div>
        </ion-col>
        <ion-col size="3">
          <div>
            SL
          </div>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <div>
            DOANH THU
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div>
            Đơn hàng
          </div>
        </ion-col>
        <ion-col size="3">
          <div>{{generalSummarize?.order[1].value}}</div>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <div>{{generalSummarize?.order[0].value | vnd}}đ</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div>
            Đơn trả hàng
          </div>
        </ion-col>
        <ion-col size="3">
          <div>{{generalSummarize?.return_order[1].value}}</div>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <div>
            {{generalSummarize?.return_order[0].value > 0 ? '-' + generalSummarize?.return_order[0].value : 0 | vnd}}đ
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div>
            Tổng cộng
          </div>
        </ion-col>
        <ion-col size="3"></ion-col>
        <ion-col size="4" class="ion-text-right">
          <div>{{(generalSummarize?.order[0].value - generalSummarize?.return_order[0].value) | vnd}}đ</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-padding pt-box">
    <ion-text class="font-bold">Doanh thu theo nhân viên bán hàng</ion-text>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="small-title">NHÂN VIÊN</div>
        </ion-col>
        <ion-col size="2">
          <div class="small-title">SL</div>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <div class="small-title">DOANH THU</div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of revenueStaff; index as i">
        <ion-col size="6">
          <div>{{i + 1}}. {{item.name}}</div>
        </ion-col>
        <ion-col size="2">
          <div>{{item.total_count}}</div>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <div>{{item?.total_amount | vnd}}đ</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-padding">
    <ion-text class="font-bold">Sản phẩm bán chạy</ion-text>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <div class="small-title">SẢN PHẨM</div>
        </ion-col>
        <ion-col size="3">
          <div class="small-title ion-text-right">SỐ LƯỢNG</div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of bestSeller; index as i" class="ion-align-items-center">
        <ion-col size="9">
          <div class="ion-flex ion-align-items-center">
            <ion-text style="width: 20px">{{i + 1}}.</ion-text>
            <img [src]="item.image_urls || 'assets/images/placeholder_2.png'" alt="product-img" class="product-img">
            <ion-text class="ellipsis-text">{{item.name}}</ion-text>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-right">{{item.quantity}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-content *ngIf="viewDisconnect">
  <etop-network-disconnect></etop-network-disconnect>
</ion-content>
