.product-img {
  height: 30px;
  width: 30px;
  margin: 0 12px 0 6px;
  object-fit: cover;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.small-title {
  font-size: 90%;
}

.pt-box {
  border-bottom: 8px solid #f5f5f5;
}

