<div *ngFor="let receipt of receipts" class="receipt-item" [class.single-item]="receipts?.length == 1">
  <div style="width: calc(100% - 11rem);">
    <span class="font-weight-bold">{{receipt?.ledger_name}}</span>
    <ng-container *ePermissions="['shop/ledger:view']">
      <span *ngIf="receipts?.length == 1" class="text-primary change-method ml-2" (click)="changeMethod()">Thay đổi</span>
    </ng-container>
  </div>
  <div class="receipt-amount" style="width: 11rem;">
    <etop-currency-input
      class="w-100" classInner="text-primary input-pos" inputClass="pr-0 border-0"
      placeholder="Nhập số tiền" posfixText="đ" [rulesFree]="true" [(ngModel)]="receipt.amount">
    </etop-currency-input>
    <div *ngIf="receipt?.amount && receipt?.amount > total_amount && onlyCash" class="excess-cash">
      Tiền thừa: <span class="font-weight-bold">{{(receipt?.amount - total_amount) | vnd}}đ</span>
    </div>
  </div>
</div>
<ng-container *ePermissions="['shop/ledger:view']">
  <div *ngIf="receipts?.length > 1" class="d-flex justify-content-between align-items-center py-2">
    <div class="flex-grow-1">
      <span class="text-primary change-method" (click)="changeMethod()">Thay đổi</span>
    </div>
  </div>
</ng-container>
