ion-toolbar {
  --border-width: 0 !important;
}

.logo {
  width: 1.5rem;
  height: 100%;
  margin-right: .5rem;
}

.logo-rounded {
  width: 2.5rem;
  height: 100%;
  border: 1px solid var(--ion-color-medium-tint);
  border-radius: 50%;
}

.survey-list {
  padding-bottom: 3rem;
}

.footer-content {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.radio-custom {
  height: 16px;
  width: 16px;
}

ion-item {
  --min-height: 16px;
}
