<div class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-title class="ion-padding">
                <div class="ion-flex ion-align-items-center">
                    <img src="assets/imgs/logo_etop_mono.png" class="logo" alt="logo">
                    <div class="text-medium font-bold font-12">EB2B JSC</div>
                </div>
            </ion-title>
            <ion-buttons slot="end">
                <ion-icon mode="md" class="ion-color-light" name="ellipsis-horizontal" size="small" color="medium" (click)="presentActionSheet()">
                </ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div class="ion-flex flex-column h-100">
            <ng-container *ngIf="currentView(view.STEP1)">
                <div class="body-content ion-padding">
                    <div class="ion-padding-bottom">
                        <h4 class="font-bold">Xin chào {{user?.full_name}}</h4>
                        <div class="font-12">
                            Tài khoản của bạn đã được tạo thành công, trả lời các câu hỏi sau để eTop hỗ trợ bạn được tốt hơn nhé!
                        </div>
                    </div>
                    <div class="survey-list">
                        <div class="ion-flex ion-align-items-center">
                            <img src="assets/imgs/icon_store.png" alt="icon" height="34px">
                            <span>Ngành hàng đang kinh doanh là gì?</span>
                        </div>
                        <ion-list lines="none">
                            <ion-radio-group>
                                <ion-item *ngFor="let item of business">
                                    <ion-label class="font-12">{{item.text}}</ion-label>
                                    <ion-radio class="radio-custom" mode="md" slot="start" (click)="radioChecked(item.value)" value="{{item.value}}">
                                    </ion-radio>
                                </ion-item>
                            </ion-radio-group>
                            <ion-item *ngIf="business_line == 'others'">
                                <ion-input #inputOthers placeholder="Ngành hàng bạn đang hoặc muốn kinh doanh" autofocus class="ion-text-start font-12" [(ngModel)]="other_line">
                                </ion-input>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="currentView(view.STEP2)">
                <div class="body-content ion-padding">
                    <div class="ion-padding-bottom">
                        <h4 class="font-bold">Xin chào {{user?.full_name}}</h4>
                        <div class="font-12">
                            Tài khoản của bạn đã được tạo thành công, trả lời các câu hỏi sau để eTop hỗ trợ bạn được tốt hơn nhé!
                        </div>
                    </div>

                    <div class="survey-list">
                        <div class="ion-flex ion-align-items-center">
                            <img src="assets/imgs/icon_order.png" alt="icon" height="34px">
                            <span>Ước tính đơn hàng mỗi ngày của bạn?</span>
                        </div>
                        <ion-list lines="none">
                            <ion-radio-group>
                                <ion-item *ngFor="let item of orders_per_day_mapping">
                                    <ion-label class="font-12">{{item.text}}</ion-label>
                                    <ion-radio class="radio-custom" mode="md" slot="start" value="{{item.value}}" (click)="radioCheck( item.value)"></ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </ion-list>
                    </div>
                </div>
            </ng-container>
        </div>
    </ion-content>
    <ion-footer class="footer-button-wrapper">
        <ion-toolbar color="light" class="no-padding">
            <div class="footer-buttons-etop ion-flex" *ngIf="currentView(view.STEP1)">
                <button class="w-100 bg-primary text-white footer-button-item" (click)="nextStep()">
          Tiếp tục
        </button>
            </div>
            <div class="footer-buttons-etop ion-flex" *ngIf="currentView(view.STEP2)">
                <button class="w-100 bg-white footer-button-item" (click)="backStep()">
          Quay lại
        </button>
                <button class="w-100 bg-primary text-white footer-button-item" (click)="saveSurvey()">
          Tiếp tục
        </button>
            </div>
        </ion-toolbar>
    </ion-footer>
</div>