.wrapper-register {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.register-body {
  display: flex;
  width: 100%;
  flex: 1;
  .primary-color{
    color: var(--primary-color);
  }
}

.register-footer {
  display: flex;
  width: 100%;
  flex: 0 0 8%;
  *{
    font-size: 0.9rem;
  }
}

.l-side {
  width: 70%;

  .logo {
    width: auto;
    height: 35px;
    margin-right: 15px;
  }
  .brand-text {
    font-weight: bold;
    color: gray;
    line-height: 35px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .info {
    padding: 0 20%;
    margin: 30px;
  }

  .feature-img {
    width: 100%;
    height: 100%;
    padding: 4rem 0;
    max-width: 450px;
  }

  .logo-brand {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
    border: 1px solid var(--border-gray-color);
  }

  .logo-bct {
    width: 80px;
    height: auto;
  }

  .title-column{
    font-size: 1.2rem;
    img{
      max-width: 25px;
    }
  }

}

.r-side {
  width: 30%;
  background-color: var(--primary-color);

  .logo {
    width: auto;
    height: 35px;
    margin-right: 15px;
  }
  .brand-text {
    font-weight: bold;
    line-height: 35px;
  }
  .title {
    margin-top: 5rem;
  }
  .info {
    margin-top: 1.25rem;
  }
  .form-group {
    margin-bottom: 1.2rem;
    .form-control {
      height: 40px;
      font-weight: 600;
      font-size: 1.1rem;
      padding: 0.375rem 1.2rem;
      color: var(--white-color);
      border: 1px solid var(--white-color);
      background-color: var(--primary-color);
    }
    .form-control:focus {
      border-color: var(--white-color);
      background-color: var(--primary-color);
      color: var(--white-color);
    }
    ::placeholder {
      color: var(--white-color);
      opacity: 1;
    }
  }

  .border-top {
    border-color: rgba(229,229,229,0.4) !important;
  }

  .btn {
    width: 100%;
    height: 3.3rem;
    font-weight: 700;
    padding: 0;
    color: var(--primary-color) !important;
    background: var(--white-color) !important;
    .fa {
      color: var(--primary-color) !important;
    }
  }
  .btn-register {
    color: var(--primary-color) !important;
    background: white !important;
  }

  .small-btn {
    width: 10rem;
    height: 2.5rem;
  }

  .changephone-text {
    right: 20px;
    top: 11px;
    color: white;
    cursor: pointer;
  }
}

@media only screen and (max-width: 576px) {
  .r-side {
    width: 100%;

    .register-form {
      max-width: 420px;
      align-self: center;
    }
  }
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--white-color) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--primary-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.box-warning {
  position: absolute;
  top: 42px;
  z-index: 10;

  .desc {
    text-align: justify;
    color: var(--dark-color);
  }

  button {
    font-size: 10px;
    height: 24px;
    width: 100px;
    padding: 0;
  }

  .warning-content {
    background: var(--white-color);
    padding: 1.25rem;
    border-radius: 5px;
  }


}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--white-color);
  margin-left: 30px;
}

.loading-box {
  align-items: center;
  justify-content: center;
}

input::placeholder {
  opacity: 0.7 !important;
}

@media screen and (max-height: 768px){
  .register-footer {
    flex: 0 0 10%;
  }
  .wrapper-register {
    overflow: auto;
  }
}

@media screen and (max-width: 860px) and (min-width: 576px) {
  .l-side {
    width: 60%;
    .list-products {
      margin-left: 50px !important;
      flex-direction: column !important;
    }
  }
  .r-side {
    width: 40%;
  }

}

mat-checkbox::ng-deep {
  .mat-checkbox-frame {
    background-color: #fff !important;
    border-color: #fff !important;
  }
  .mat-checkbox-checkmark {
    fill: var(--primary-color) !important;
  }
  .mat-checkbox-checkmark-path {
    stroke: var(--primary-color) !important;
    stroke-width: 3px !important;
  }
}
