<div class="tabs-container">
  <ng-container *ngFor="let tab of tabs">
    <div class="tab" [class.active]="active_tab == tab.value" (click)="changeTab(tab.value)">
      {{tab.name}} ({{lineCount(tab.value)}})
    </div>
  </ng-container>
</div>

<div class="table-responsive" style="height: 35px;">
  <table class="w-100">
    <thead>
    <tr>
      <th style="width: 5%;"><i class="fas fa-hashtag"></i></th>
      <th style="width: 30%;" class="text-nowrap">Sản phẩm</th>
      <th style="width: 15%;" class="text-right text-nowrap">Tồn kho</th>
      <th style="width: 15%;" class="text-right text-nowrap">SL thực tế</th>
      <th style="width: 15%;" class="text-right text-nowrap">Chênh lệch</th>
      <th style="width: 15%;" class="text-right text-nowrap">Giá trị lệch</th>
      <th style="width: 5%;" *ngIf="isNewBalance">
        <div class="invisible">
          <i class="fas fa-times text-default remove-variant cursor-pointer"></i>
        </div>
      </th>
    </tr>
    </thead>
  </table>
</div>

<div class="blank-page" *ngIf="!variants?.length">
  <div>
    <img class="blank-img" src="assets/images/icon_inventory.png" alt="empty list" />
  </div>
  <div class="info">
    <div class="empty-text">
      Bạn chưa thêm sản phẩm nào vào danh sách kiểm kho
    </div>
  </div>
  <div class="text-center">
    <div>
      Bạn có thể thêm từng sản phẩm bằng cách <strong>tìm theo mã, tên sản phẩm</strong>
    </div>
    <div>hoặc <strong>import từ file excel</strong></div>
    <div class="mt-5 text-center">
      <button class="btn btn-primary btn-outline" ngbTooltip="Đang phát triển" placement="bottom">
        Chọn file excel
      </button>
      <div class="text-primary mt-2 download-sample" ngbTooltip="Đang phát triển" placement="bottom">Tải file mẫu</div>
    </div>
  </div>
</div>

<div *ngIf="variants?.length" class="table-responsive" style="height: calc(100% - 35px);">
  <table class="w-100">
    <tbody>
      <tr *ngFor="let variant of variants; let i = index;" [class.d-none]="!lineShown(variant)">
        <td style="width: 5%;">
          <span>{{i+1}}.</span>
        </td>
        <td style="width: 30%;">
          <div class="d-flex">
            <div style="border-radius: 5px;">
              <img [src]="variant?.image || 'assets/images/placeholder_medium.png'" class="product-img">
            </div>
            <div class="d-flex flex-column justify-content-center ml-2">
              <div class="font-weight-bold text-primary">
                {{variant?.code}}
              </div>
              <div class="d-flex product-info">
                <div>{{variant?.name}}</div>
                <div class="font-weight-bold ml-2" *ngIf="variant?.attributes?.length">
                    <span *ngFor="let attr of variant?.attributes; let i = index;">
                      {{i > 0 ? ' - ' : ''}}{{attr?.value}}
                    </span>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td style="width: 15%;">
          <div class="font-weight-bold text-right">
            {{variant?.p_data?.old_quantity || 0}}
          </div>
        </td>
        <td style="width: 15%;">
          <input
            *ngIf="isNewBalance"
            class="input-pos form-control inventory-input" placeholder="Nhập số lượng*" type="number" pattern="[0-9]*" min="0"
            [(ngModel)]="variant.p_data.new_quantity" (ngModelChange)="lineUpdated()" (keypress)="numberOnly($event)">
          <div class="font-weight-bold text-right" *ngIf="!isNewBalance">
            {{variant?.p_data?.new_quantity}}
          </div>
        </td>
        <td style="width: 15%;">
          <div class="font-weight-bold text-right">
            {{diff(variant?.p_data)}}
          </div>
        </td>
        <td style="width: 15%;">
          <div class="font-weight-bold text-right">
            {{diffPrice(variant?.p_data) | vnd}}đ
          </div>
        </td>
        <td style="width: 5%;" *ngIf="isNewBalance">
          <div class="d-flex justify-content-end">
            <i class="fas fa-times text-default remove-variant cursor-pointer" (click)="removeLine(i)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

