.input-filter {
    position: relative;
    color: var(--primary-color);
    border: none;
    outline: none;
    font-weight: 550;
    width: 10rem;
    z-index: 2;
    background: transparent;
    cursor: pointer;
}

.max-content-width {
    width: max-content !important;
}

.form-filter {
    position: relative;
    width: max-content;
    padding-right: 1rem;
    &::after {
        content: "\f107";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 14px;
        position: absolute;
        right: 0;
        z-index: 1;
    }
    label {
        cursor: pointer;
    }
}

.dashboard-filter {
    font-weight: 550;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    background: white;
    padding: 10px 35px;
    z-index: 2;
    width: 100%;
}

.sub-title {
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.5;
}

.main-title {
    font-size: 1.2rem;
}

.staff-range {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

table {
    width: max-content;
}

tr.mat-header-row {
    border-top: 1px solid #e0e0e0;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
    max-width: 13rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-shadow: 7px 0px 10px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 7px 0px 10px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 7px 0px 10px -6px rgba(0, 0, 0, 0.1);
}

th.mat-header-cell {
    padding: 2rem;
    text-align: end;
}

td.mat-cell {
    font-size: 1rem;
    padding: 0 2rem;
    text-align: end;
    max-width: 14rem;
}

td.mat-cell:first-child,
th.mat-column-staff {
    text-align: start;
}

.detail-box {
    min-width: max-content;
}

tr.mat-row:last-child {
    td.mat-cell {
        border-bottom: none;
    }
}

.not-al {
    width: 8rem;
    margin-bottom: 5rem;
    opacity: .5;
}

.table-title {
    font-weight: 550;
    padding: 2rem 1rem 1rem;
    opacity: .8;
    font-size: 1.2rem;
}