
<ng-container *ngIf="!hasViewPermission()">
  <div class="w-100 h-100 d-flex flex-column align-items-center" >
    <div class="text-center m-auto">
      <img src="assets/images/not-al.png" class="not-al" alt="not allow">
      <p class="text-center text-default text-big text-bold">Xin lỗi, bạn không có quyền truy cập trang này.</p>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="hasViewPermission()">
  <div *ngIf="!loading" class="body w-100">
    <!-- <div *ngIf="loading" class="text-center mt-5">
      <i class="fa fa-spinner fa-spin mr-3 font-14"></i>
      <span class="font-14">Đang tải dữ liệu ...</span>
    </div> -->
    <div class="dashboard-filter px-5">
      <i class="fa fa-circle text-primary mr-2" aria-hidden="true"></i>
      <span class="text-light text-uppercase"> HÔM NAY</span>
    </div>
    <div class="px-5 py-4">
      <div class="row">
        <div class="col" *ngFor="let item of detailStatsTop">
          <div class="aff-box px-4 py-3 detail-box">
            <div class="pb-2">
              <span class="text-default">{{item.name}}</span>
            </div>
            <div class="">
                <h5 class="font-weight-bold">{{todayStat[item.field] || 0 | number}}
                  {{(item.field == 'sales' || item.field == 'salesCod') ? 'đ' : ''}}
                </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-4 px-5">
      <div class="row">
        <div class="col" *ngFor="let item of detailStatsBot">
          <div class="aff-box px-4 py-3 detail-box">
            <div class="pb-2">
              <span class="text-default">{{item.name}}</span>
            </div>
            <div class="">
                <h5 class="font-weight-bold">{{todayStat[item.field] || 0| number}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-filter d-flex align-items-center px-5">
      <etop-material-select-date-range 
        (rangeSelect)="onChangeFilter($event)" 
        [displayIcon]="true" 
        [labelBold]="true">
      </etop-material-select-date-range>
    </div>
    <div class="px-5 py-4">
      <div class="row">
        <div class="col" *ngFor="let item of detailStatsTop">
          <div class="aff-box px-4 py-3 detail-box">
            <div class="pb-2">
              <span class="text-default">{{item.name}}</span>
            </div>
            <div class="">
                <h5 class="font-weight-bold">{{filterStat[item.field] || 0 | number}}
                  {{(item.field == 'sales' || item.field == 'salesCod') ? 'đ' : ''}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-4 px-5">
      <div class="row">
        <div class="col" *ngFor="let item of detailStatsBot">
          <div class="aff-box px-4 py-3 detail-box">
            <div class="pb-2">
              <span class="text-default">{{item.name}}</span>
            </div>
            <div class="">
                <h5 class="font-weight-bold">{{filterStat[item.field] || 0 | number}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-5">
      <div class="row">
        <div class="col-6">
          <div class="aff-box h-100 d-flex align-items-start flex-column">
            <div class="mt-2 position-relative" *ngIf="!currentChartStat?.basket_value">
              <img src="assets/images/graph_placeholder.png" alt="graph_placeholder" class="w-100">
              <h5 style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">Chưa có dữ
                liệu</h5>
            </div>
            <div class="px-4 pt-4" *ngIf="currentChartStat?.basket_value">
                <div><span class="main-title font-weight-bold text-light" >Doanh thu theo sản phẩm vào túi</span></div>
                <div><span class="sub-title text-light">Dựa trên đơn giao thành công</span></div>
            </div>
            <canvas class="p-4" id="orders_revenue" *ngIf="currentChartStat?.basket_value"></canvas>
          </div>
        </div>
        <div class="col-6">
          <div class="aff-box h-100 d-flex align-items-start flex-column">
            <div class="mt-2 position-relative" *ngIf="!currentChartStat?.total_cod_amount">
              <img src="assets/images/graph_placeholder.png" alt="graph_placeholder" class="w-100">
              <h5 style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">Chưa có dữ
                liệu</h5>
            </div>
            <div class="px-4 pt-4" *ngIf="currentChartStat?.total_cod_amount">
              <div><span class="main-title font-weight-bold text-light" >Doanh thu theo thu hộ vào túi</span></div>
              <div><span class="sub-title text-light">Dựa trên đơn giao thành công</span></div>
          </div>
            <canvas class="p-4" id="orders_revenue_cod" *ngIf="currentChartStat?.total_cod_amount"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="px-5">
      <div class="row">
        <div class="col-6">
          <div class="aff-box h-100 d-flex align-items-start flex-column">
            <div class="mt-2 position-relative" *ngIf="!currentChartStat?.delivered">
              <img src="assets/images/graph_placeholder.png" alt="graph_placeholder" class="w-100">
              <h5 style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">Chưa có dữ
                liệu</h5>
            </div>
            <div class="px-4 pt-4"  *ngIf="currentChartStat?.delivered">
                <div><span class="main-title font-weight-bold text-light" >Đơn hàng vào túi</span></div>
                <div><span class="sub-title text-light">Dựa trên đơn giao thành công</span></div>
            </div>
            <canvas class="p-4" id="orders_saled" *ngIf="currentChartStat?.delivered"></canvas>
          </div>
        </div>
        <div class="col-6">
          <div class="aff-box h-100 d-flex align-items-start flex-column">
            <div class="mt-2 position-relative" *ngIf="!currentChartStat?.returned">
              <img src="assets/images/graph_placeholder.png" alt="graph_placeholder" class="w-100">
              <h5 style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">Chưa có dữ
                liệu</h5>
            </div>
            <div class="px-4 pt-4" *ngIf="currentChartStat?.returned">
              <div><span class="main-title font-weight-bold text-light" >Đơn hàng trả về</span></div>
              <div><span class="sub-title text-light">Đơn về trạng thái return và không có quyền giao lại</span></div>
          </div>
            <canvas class="p-4" id="orders_returned" *ngIf="currentChartStat?.returned"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="px-5 py-5">
      <div class="row px-4 aff-box">
        <div class="table-title">Thống kê theo nhân viên </div>
        <div class="px-4">
          <div class="staff-range py-3">
            <table mat-table [dataSource]="dataStaff">
              <ng-container matColumnDef="user" sticky>
                <th mat-header-cell *matHeaderCellDef class="text-left">Nhân viên</th>
                <td mat-cell *matCellDef="let element"> {{element.rank}}. <strong>{{element.user}}</strong> </td>
              </ng-container>

              <ng-container matColumnDef="new_customer">
                <th mat-header-cell *matHeaderCellDef> Khách mới </th>
                <td mat-cell *matCellDef="let element"> {{element.new_customer || 0 | number}} </td>
              </ng-container>
          
              <ng-container matColumnDef="distinct_customer">
                <th mat-header-cell *matHeaderCellDef> Khách hàng đã tư vấn </th>
                <td mat-cell *matCellDef="let element"> {{element.distinct_customer || 0 | number}} </td>
              </ng-container>
    
              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef> Tin nhắn đã gửi </th>
                <td mat-cell *matCellDef="let element"> {{element.message || 0 | number}} </td>
              </ng-container>
    
              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Comment đã gửi </th>
                <td mat-cell *matCellDef="let element"> {{element.comment || 0 | number}} </td>
              </ng-container>
    
              <ng-container matColumnDef="order">
                <th mat-header-cell *matHeaderCellDef> Đơn hàng </th>
                <td mat-cell *matCellDef="let element"> {{element.order || 0 | number}} </td>
              </ng-container>
    
              <ng-container matColumnDef="basket_value">
                <th mat-header-cell *matHeaderCellDef> Doanh thu theo sản phẩm </th>
                <td mat-cell *matCellDef="let element"> {{element.basket_value || 0 | vnd}}đ </td>
              </ng-container>
    
              <ng-container matColumnDef="total_cod_amount">
                <th mat-header-cell *matHeaderCellDef> Doanh thu theo thu hộ </th>
                <td mat-cell *matCellDef="let element"> {{element.total_cod_amount || 0 | vnd}}đ </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

