<td>
  <input type="checkbox" [(ngModel)]="variant.p_data.checked" [checked]="variant.p_data.checked" (blur)="checkCode()"/>
</td>
<td>
  <div class="name">
    <span *ngIf="variant.attributes && variant.attributes.length"
      class="var-attr">{{joinAttrs(variant.attributes)}}</span>
  </div>
</td>
<td>
  <etop-material-input placeholder="Mã mẫu mã" textLabel="Mã mẫu mã" type="input" [(ngModel)]="variant.code"
                       [error]="variant.p_data.requireCode && !variant.code" (blur)="checkCode()">
  </etop-material-input>
</td>
<td style="max-width: 12rem;">
  <etop-material-input *ngIf="!format_money?.retail_price" #retailInput [error]="price_error?.retail_price"
                       placeholder="Giá bán" textLabel="Giá bán*" type="input" keyboardType="number" [(ngModel)]="variant.retail_price"
                       (blur)="formatMoney('retail_price'); changePrice('retail_price')">
  </etop-material-input>
  <etop-material-input *ngIf="format_money?.retail_price" textLabel="Giá bán*" type="custom"
                       [error]="price_error?.retail_price" (click)="formatMoney('retail_price')">
    <span class="font-weight-bold" [class.text-primary]="!price_error?.retail_price"
      [class.text-danger]="price_error?.retail_price">
      {{variant?.retail_price | vnd}}đ
    </span>
  </etop-material-input>
</td>
<td style="max-width: 12rem;">
  <etop-material-input *ngIf="!format_money?.cost_price" #costInput [error]="price_error?.cost_price"
                       placeholder="Giá vốn" textLabel="Giá vốn" type="input" keyboardType="number" [(ngModel)]="variant.cost_price"
                       (blur)="formatMoney('cost_price'); changePrice('cost_price')">
  </etop-material-input>
  <etop-material-input *ngIf="format_money?.cost_price" textLabel="Giá vốn" type="custom"
                       [error]="price_error?.cost_price" (click)="formatMoney('cost_price')">
    <span class="font-weight-bold" [class.text-primary]="!price_error?.cost_price"
      [class.text-danger]="price_error?.cost_price">
      {{variant?.cost_price | vnd}}đ
    </span>
  </etop-material-input>
</td>
<td style="max-width: 10rem;">
  <etop-material-input placeholder="Tồn kho" textLabel="Tồn kho" type="input" keyboardType="number"
                       [(ngModel)]="variant.quantity">
  </etop-material-input>
</td>
