<div class="content" [formGroup]="createProductForm">
  <div class="product-info p-3">
    <div class="d-flex position-relative">
      <div class="product-detail-img">
        <label class="logo-upload m-0 border rounded"
          [style.background-image]="'url(' + (createProductForm.value.image || 'assets/images/placeholder_medium.png') + ')'">
          <div class="mask pt-2">Upload ảnh <i class="fas fa-cloud-upload-alt text-white"></i></div>
          <div class="over-logo rounded m-0 p-0">
            <i class="fa fa-camera" aria-hidden="true"></i>
          </div>
          <div class="upload-loading m-0 p-0">
            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
          </div>
          <input accept="image/png,image/jpg,image/jpeg,image/gif" name="send_photo1" class="d-none" type="file"
            (change)="onChangeLogo($event)" />
        </label>
      </div>
      <div class="w-100 pl-3">
        <div class="row mb-2">
          <div class="col-8">
            <etop-material-input placeholder="Tên sản phẩm*" textLabel="Tên sản phẩm*"
            formControlName="productName" type="input">
            </etop-material-input>
          </div>
          <div class="col-4 pl-0">
            <etop-material-input placeholder="Mã sản phẩm" textLabel="Mã sản phẩm"
            formControlName="productCode" type="input">
            </etop-material-input>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            <ng-container *ngIf="!product?.variants?.length;">
              <etop-material-input *ngIf="!format_money?.retail_price" #retailInput
                                   [error]="price_error?.retail_price" placeholder="Giá bán*" textLabel="Giá bán*" type="input"
                                   keyboardType="number" formControlName="retail_price" (blur)="formatMoney('retail_price');"
                                   (change)="changePrice('retail_price');">
              </etop-material-input>
              <etop-material-input *ngIf="format_money?.retail_price" textLabel="Giá bán"
                                   type="custom" [error]="price_error?.retail_price" (click)="formatMoney('retail_price')">
                <span class="font-weight-bold" [class.text-primary]="!price_error?.retail_price"
                  [class.text-danger]="price_error?.retail_price">
                  {{createProductForm.get('retail_price').value | vnd}}đ
                </span>
                <span class="font-weight-bold read-only" *ngIf="product?.variants?.length">-</span>
              </etop-material-input>
            </ng-container>
            <etop-material-input *ngIf="product?.variants?.length" textLabel="Giá bán" type="custom">
              <span class="font-weight-bold read-only">-</span>
            </etop-material-input>
          </div>
          <div class="col-6 pl-0">
            <ng-container *ngIf="!product?.variants?.length;">
              <etop-material-input
                *ngIf="!format_money?.cost_price" #costInput [error]="price_error?.cost_price"
                placeholder="Giá vốn" textLabel="Giá vốn" type="input" keyboardType="number"
                formControlName="cost_price" (change)="changePrice('cost_price')"
                (blur)="formatMoney('cost_price');">
              </etop-material-input>
              <etop-material-input
                *ngIf="format_money?.cost_price" textLabel="Giá vốn"
                type="custom" [error]="price_error?.cost_price" (click)="formatMoney('cost_price')">
                <span class="font-weight-bold" [class.text-primary]="!price_error?.cost_price"
                  [class.text-danger]="price_error?.cost_price">
                  {{createProductForm.get('cost_price').value | vnd}}đ
                </span>
                <span class="font-weight-bold read-only" *ngIf="product?.variants?.length">-</span>
              </etop-material-input>
            </ng-container>
            <etop-material-input *ngIf="product?.variants?.length" textLabel="Giá vốn" type="custom">
              <span class="font-weight-bold read-only">-</span>
            </etop-material-input>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            <etop-material-input
              *ngIf="!product?.variants?.length" placeholder="Tồn kho" textLabel="Tồn kho"
              type="input" keyboardType="number" formControlName="inventory_quantity">
            </etop-material-input>
            <etop-material-input *ngIf="product?.variants?.length" textLabel="Tồn kho" type="custom">
              <span class="font-weight-bold read-only">-</span>
            </etop-material-input>
          </div>
          <div class="col-6 pl-0">
            <etop-material-chips-autocomplete
              #categoryInput
              textLabel="Danh mục" placeholder="{{category_placeholder}}"
              [options]="categories" [multiple]="false"
              [displayMap]="categoryDisplayMap" [valueMap]="categoryValueMap"
              formControlName="category_id">
            </etop-material-chips-autocomplete>
            <button *ePermissions="['shop/category:create']" class="add-btn btn btn-primary btn-outline" (click)="addCategory()">
              <i class="fa fa-plus" style="font-size: 1.25rem;"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <etop-material-chips-autocomplete
          textLabel="Bộ sưu tập" placeholder="{{collection_placeholder}}"
          [options]="collections" [displayMap]="collectionDisplayMap" [valueMap]="collectionValueMap"
          formControlName="collection_ids">
        </etop-material-chips-autocomplete>
        <button *ePermissions="['shop/collection:create']" class="add-btn btn btn-primary btn-outline" (click)="addCollections()">
          <i class="fa fa-plus" style="font-size: 1.25rem;"></i>
        </button>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <etop-material-tag-input label="Thẻ" [placeholder]="'Thẻ'"  formControlName="tags">
        </etop-material-tag-input>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <etop-material-input textLabel="Mô tả" placeholder="Mô tả" type="text-area"  formControlName="description">
        </etop-material-input>
      </div>
    </div>
  </div>
  <div class="product-slide-item mt-3" *ngIf="product?.variants?.length > 0">
    <div>
      <h6 class="pl-3 font-weight-bold">MẪU MÃ</h6>
    </div>
    <div class="table-responsive">
      <table class="w-100">
        <thead>
          <tr>
            <th class="pl-4">Mã mẫu mã</th>
            <th class="text-capitalize" *ngFor="let attributeName of productVariantAttributes">
              {{attributeName | lowercase}}
            </th>
            <th class="text-left">Giá bán</th>
            <th class="text-left">Giá vốn</th>
            <th class="text-left">Tồn kho</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let variant of product.variants">
            <tr>
              <td class="small-cell pr-0" style="max-width: 10rem">
                <etop-material-input placeholder="Mã mẫu mã" textLabel="mẫu mã"
                                     [(ngModel)]="variant.code" (ngModelChange)="onDataEdited(variant)" type="input"
                                     [ngModelOptions]="{standalone: true}">
                </etop-material-input>
              </td>
              <td *ngFor="let attribute of variant.attributes" style="width: 8rem; max-width: 10rem;" class="pr-0">
                <etop-material-input
                  type="input" [(ngModel)]="attribute.value"
                  (ngModelChange)="onDataEdited(variant)"
                  [ngModelOptions]="{standalone: true}"
                  >
                </etop-material-input>
              </td>
              <td style="max-width: 8rem;" class="pr-0 pl-2 text-right" >
                <etop-material-input-format-number formatNumberUnit="đ"
                    placeholder="Giá bán*" textLabel="Giá bán*" type="input" keyboardType="number"
                    [(ngModel)]="variant.retail_price"
                    [ngModelOptions]="{standalone: true}"
                    >
                </etop-material-input-format-number>
              </td>
              <td style="max-width: 8rem;" class="pr-0 pl-2 text-right" >
                <etop-material-input-format-number formatNumberUnit="đ"
                    placeholder="Giá vốn" textLabel="Giá vốn" type="input" keyboardType="number"
                    [(ngModel)]="variant.cost_price"
                    [ngModelOptions]="{standalone: true}"
                    >
                </etop-material-input-format-number>
              </td>
              <td style="max-width: 8rem;" class="pr-0 pl-2">
                <etop-material-input placeholder="Tồn kho" textLabel="Tồn kho" type="input" keyboardType="number"
                [(ngModel)]="variant.quantity"
                [ngModelOptions]="{standalone: true}"
                >
                </etop-material-input>
            </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex p-3 justify-content-end align-items-center">
    <div *ngIf="product.variants.length" class="text-primary cursor-pointer mr-auto" (click)="openEditAttributeModal($event, false)"> Chỉnh sửa thuộc tính</div>
    <button class="btn btn-outline btn-primary mr-3" (click)="openAddAttributesPopup($event)">
      Thêm mẫu mã
    </button>
    <button class="btn btn-primary" (click)="create()" [disabled]="creatingProduct">
      <i class="fa fa-spin fa-circle-o-notch text-white mr-2" *ngIf="creatingProduct"></i>
      Tạo sản phẩm
    </button>
  </div>
</div>
