<div class="box setting-box">
  <div class="setting-header">Danh sách Hotline</div>
  <div *ngIf="(hotlines$ | async)?.length > 0" class="setting-body">
    <div class="row">
      <div class="table-responsive">
        <table class="w-100">
          <thead>
          <tr class="table-head">
            <th>#</th>
            <th>Tên Hotline</th>
            <th>Số điện thoại</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
          </tr>
          </thead>
          <tbody>
          <ng-container
            *ngFor="let hotline of (hotlines$ | async); index as i">
            <tr etelecom-cs-hotline-row [hotline]="hotline" [index]="i">
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="!(hotlines$ | async)?.length" class="setting-body">
    <etop-empty-page description="Tổng đài của bạn chưa được gắn Hotline">
    </etop-empty-page>
  </div>
  <ng-container *eRoles="['owner']">
    <div *ngIf="!(hotlineRequested$ | async)" class="setting-footer">
      <div class="text-right w-100">
        <button (click)="hotlineRequest()" class="btn btn-primary">
          Mua hotline
        </button>
      </div>
    </div>
  </ng-container>
</div>
