<div class="page-content pb-0">
  <div class="page-wrapper">
    <etop-table
      #fulfillmentTable
      [items]="ffmsList$ | async"
      [show_paging]="(ffmsList$ | async)?.length > 0 && showPaging"
      (requestNewPage)="loadPage($event)">
      <ng-template #header let-liteMode="liteMode">
        <div class="col" style="min-width: 17.5%;">
          <span class="table-header-text">Mã giao hàng</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Shop</span>
        </div>
        <div class="col">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <div class="col">
          <span class="table-header-text">Người nhận</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Khu vực</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Khai báo</span>
        </div>
        <div class="col">
          <span class="table-header-text">Thu hộ</span>
        </div>
        <div *ngIf="!liteMode" class="col">
          <span class="table-header-text">Tổng cước phí</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <img class="blank-img" src="assets/images/admin/icon_ffm.png" alt="empty list"/>
          <div class="info">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-ffm="item" let-liteMode="liteMode">
        <div
          class="row table-row" admin-fulfillment-row
          [class.active]="(activeFulfillment$ | async)?.id == ffm?.id"
          [fulfillment]="ffm" [liteMode]="liteMode" (click)="detail(ffm)">
        </div>
      </ng-template>
    </etop-table>
    <etop-side-slider #fulfillmentSlider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            <div class="tabs-container">
              <div
                *ngFor="let tab of tabs" class="tab"
                [class.active]="active_tab == tab?.value" (click)="changeTab(tab?.value)">
                {{ tab?.name }}
              </div>
            </div>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng<mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>
      <admin-single-ffm-detail [activeTab]="active_tab"></admin-single-ffm-detail>
    </etop-side-slider>
  </div>
</div>
