<div class="page-content">
  <div class="ion-text-center">
    <div class="title">Kết nối</div>
    <ion-icon class="close-icon" name="close-outline" (click)="dismiss()"></ion-icon>
  </div>
  <div class="group-list">
    <div class="success-connection" *ngIf="connectionResult?.fb_pages?.length">
      <div class="group-title">
        THÀNH CÔNG
      </div>
      <div class="item ion-flex ion-align-items-center" *ngFor="let page of connectionResult?.fb_pages">
        <div class="avatar">
          <img src="{{page?.external_image_url}}" alt="">
        </div>
        <div style="flex: 1; padding: 0 1rem;">
          <div class="fp-name">{{page?.external_name}}</div>
        </div>
        <div class="fabo-status fabo-{{page?.connection_status}}">
          <ion-icon name="ellipse" style="margin-right: 0.25rem"></ion-icon>
        </div>
      </div>
    </div>
    <div class="error-connection" *ngIf="connectionResult?.fb_error_pages?.length">
      <div class="group-title">
        THẤT BẠI
      </div>
      <div class="item ion-flex ion-align-items-center" *ngFor="let page of connectionResult?.fb_error_pages">
        <div class="avatar">
          <img src="{{page?.external_image_url}}" alt="" class="avatar">
        </div>
        <div style="flex: 1; padding: 0 1rem;">
          <div class="fp-name">{{page?.external_name}}</div>
          <div class="text-danger" style="font-size: 0.8rem">
            {{page?.reason}}
          </div>
        </div>
        <div class="fabo-status fabo-N">
          <ion-icon name="ellipse" style="margin-right: 0.25rem"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="w-100 footer-button-item" (click)="dismiss()">
      <span>Đóng</span>
    </button>
  </div>
</div>


