:host {
  background: var(--ion-color-white);
}

.page-content {
  position: relative;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.6rem;
  transform: translate(-8px, 60%);
}

.title {
  padding: 1rem 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}


.fp-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.2rem;
}

.item {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #eee;
}

.avatar {
  position: relative;
  width: 40px;
  height: 40px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
  }
  .lost-connect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #fff;
    z-index: 1000;
    ion-icon {
      font-size: 1.5rem;
    }
  }
}

.group-title {
  background: var(--ion-color-light);
  padding: 0.5rem 1rem;
  font-size: .8rem;
  font-weight: 700;
}

.group-list {
  overflow: auto;
  max-height: 50vh;
}

.footer-button-item {
  padding: 16px;
  color: #666;
  background: #fff;
}
