<div class="page-content pb-0">
  <div class="page-wrapper">
    <etop-table
      #transactionTable
      [items]="mtShippingExternalsList$ | async"
      [show_paging]="(mtShippingExternalsList$ | async)?.length > 0 && showPaging"
      (requestNewPage)="loadPage($event)">
      <ng-template #header let-liteMode="liteMode">
        <div class="col" style="max-width: 50px;">
          <input class="input-custom invisible" type="checkbox">
        </div>
        <div class="col">
          <span class="table-header-text">Mã phiên</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Ngày thanh toán</span>
        </div>
        <div class="col">
          <span class="table-header-text">Nhà vận chuyển</span>
        </div>
        <div class="col">
          <span class="table-header-text">Số đơn giao hàng</span>
        </div>
        <div class="col">
          <span class="table-header-text">Thu hộ</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Ghi chú</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <img class="blank-img" src="assets/images/admin/icon_transaction.png" alt="empty list">
          <div class="info">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-mt="item" let-liteMode="liteMode">
        <div
          class="row table-row" admin-mt-shipping-external-row
          [class.active]="isActiveMt(mt)"
          [transaction]="mt" [liteMode]="liteMode">
          <div class="col align-self-center" style="max-width: 50px;">
            <input
              class="input-custom" [class.invisible]="['P', 'N'].includes(mt?.status) || noPermission"
              type="checkbox" [checked]="isActiveMt(mt)" (click)="itemSelected(mt)">
          </div>
        </div>
      </ng-template>
    </etop-table>
    <etop-side-slider #transactionSlider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            <shared-dropdown-actions
              *ngIf="!onNewMtShippingExternal"
              [dropdownActions]="dropdownActions">
            </shared-dropdown-actions>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng<mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>
      <ng-container *ngIf="onNewMtShippingExternal; else editMtShippingExternal;">
        <admin-mt-shipping-external-create></admin-mt-shipping-external-create>
      </ng-container>
      <ng-template #editMtShippingExternal>
        <admin-multi-mt-externals-action
          *ngIf="(activeMtShippingExternals$ | async)?.length">
        </admin-multi-mt-externals-action>
      </ng-template>
    </etop-side-slider>
  </div>
</div>
