<div class="content">
  <div class="product-info p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="input-item col-12">
            <etop-material-input placeholder="Tên khách hàng*" textLabel="Tên khách hàng*"
                                 [(ngModel)]="customer.full_name" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input placeholder="Số điện thoại*" textLabel="Số điện thoại*"
                                 [(ngModel)]="customer.phone" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input placeholder="Email" textLabel="Email"
                                 [(ngModel)]="customer.email" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input placeholder="Chọn giới tính" textLabel="Giới tính"
                                 [optionSelect]="genders" [(ngModel)]="customer.gender" type="select">
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input
              textLabel="Ngày sinh" placeholder="Ngày sinh" type="datetime"
              [(ngModel)]="customer.birthday">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input-autocomplete placeholder="Tỉnh/Thành phố" textLabel="Chọn tỉnh/thành phố"
                                              [options]="provinces" [(ngModel)]="province_code"
                                              (ngModelChange)="provinceSelected()"
                                              [displayMap]="displayMap" [valueMap]="valueMap">
            </etop-material-input-autocomplete>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input-autocomplete placeholder="Quận/Huyện" textLabel="Chọn quận/huyện"
                                              [options]="districts" [(ngModel)]="district_code"
                                              (ngModelChange)="districtSelected()"
                                              [displayMap]="displayMap" [valueMap]="valueMap">
            </etop-material-input-autocomplete>
          </div>
          <div class="input-item col-6">
            <etop-material-input-autocomplete placeholder="Phường/Xã" textLabel="Chọn phường/xã"
                                              [options]="wards" [(ngModel)]="ward_code"
                                              [displayMap]="displayMap" [valueMap]="valueMap">
            </etop-material-input-autocomplete>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input placeholder="Tên đường, số nhà" textLabel="Nhập địa chỉ" [(ngModel)]="address1"
                                 type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input placeholder="Ghi chú" textLabel="Ghi chú" [(ngModel)]="customer.note" type="text-area">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
    <div class="actions p-0 pt-3 text-right">
      <button class="btn btn-primary text-white" [disabled]="loading" (click)="create()">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
        Tạo khách hàng
      </button>
    </div>
  </div>
</div>
