.select-shipping-service {
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  margin-bottom: .8rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.select-header {
  padding: .8rem;
  background: var(--gray-color);
  label {
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 0;
    input[type="radio"] {
      margin-right: .4rem;
    }
  }
}

.select-body {
  padding: .8rem;
}

.service-wrapper {
  margin-bottom: .8rem;
  &:last-child {
    margin-bottom: 0;
  }
  .service-title {
    font-size: .9rem;
    margin-bottom: .4em;
  }
  .service-listing {
    display: flex;
    border: 1px solid var(--topship-color);
    border-radius: 5px;
    .service-item {
      cursor: pointer;
      flex: 1;
      text-align: center;
      padding: .25rem 0;
      color: var(--topship-color);
      font-size: .8rem;
      font-weight: 700;
      border-right: 1px solid var(--topship-color);
      &:last-child {
        border-right: 0 !important;
      }
      &.active {
        color: var(--white-color);
        background: var(--topship-color);
      }
    }
  }
}
