<div class="select-shipping-service" *ngFor="let option of ship_service_options">
  <div class="select-header" (click)="onChangeSelectMethod(option?.select_method)">
    <label>
      <input type="radio" [checked]="option?.select_method == shipServiceOption?.select_method">
      {{option?.title}}
    </label>
  </div>
  <div class="select-body" *ngIf="option?.select_method == shipServiceOption?.select_method">
    <div class="service-wrapper">
      <div class="service-title">Dịch vụ ưu tiên</div>
      <div class="service-listing">
        <span
          *ngFor="let type of shipping_types" class="service-item"
          [class.active]="type?.shipping_type == shipServiceOption?.shipping_type"
          (click)="onChooseShippingType(type?.shipping_type)">
          {{type?.title}}
        </span>
      </div>
    </div>
    <div class="service-wrapper">
      <div class="service-title">Nhà vận chuyển ưu tiên</div>
      <div class="service-listing">
        <span
          *ngFor="let provider of shipping_providers" class="service-item"
          [class.active]="provider?.shipping_provider == shipServiceOption?.shipping_provider"
          (click)="onChooseShippingProvider(provider?.shipping_provider)">
          {{provider?.title}}
        </span>
      </div>
    </div>
  </div>
</div>
