<ion-header>
  <ion-toolbar>
    <ion-title class="p-0">Phiên đối soát: {{transaction?.code}}</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-flex justify-content-between">
    <div class="etop-status {{transaction?.status}}">{{transaction?.status_display | uppercase}}</div>
  </div>
  <ion-row>
    <ion-col size="3" style="padding-left: 1rem;">
      <div class="text-size-large">{{transaction?.total_orders}}</div>
      <div class="text-color-grey">Tổng đơn</div>
    </ion-col>
    <ion-col size="3">
      <div class="text-size-large">{{sum?.returned_count}}</div>
      <div class="text-color-grey">Trả hàng</div>
    </ion-col>
    <ion-col size="6" class="ml-auto ion-text-end p-r-15">
      <div class="text-size-large">{{sum?.total_amount}}</div>
      <div class="text-color-grey">Tiền thu hộ đã cấn trừ</div>
    </ion-col>
  </ion-row>
  <div class="items-list-row" *ngFor="let ffm of fulfillments">
    <div class="ion-flex ion-align-items-center ion-justify-content-between box" (click)="detailShipment(ffm.id)">
      <div class="normal-font w-100">
        <div class="line ion-align-items-center">
          <ion-img class="connection-image" src="{{ffm.shipping_provider_logo}}"></ion-img>
          <strong>
            <ion-text class=" text-size-small ">{{ffm.shipping_code}} - </ion-text>
            <ion-text class="status {{ffm.status}}  text-size-small ">{{ffm.shipping_state_display | uppercase}}</ion-text>
          </strong>
          <ion-text class="ml-auto  text-size-small ">{{ffm.created_at | date: "dd/MM/yyyy"}}</ion-text>
        </div>
        <div class="line">
          <ion-text class="text-size-large">{{ffm.shipping_address.full_name}}</ion-text>
          <ion-text class="ml-auto">Thu hộ</ion-text>
        </div>
        <div class="line ion-align-items-end">
          <ion-text class="text-color-grey text-size-small ">{{ffm.shipping_address.province}}</ion-text>
          <ion-text class="ml-auto text-size-large">{{ffm.total_cod_amount | vnd}}đ</ion-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>
