.line {
  display: flex;
}
.items-list-row {
  padding: 0.7rem 1rem;
  border-top: 0.6rem solid #f5f5f5;
}
.connection-image {
  width: 2rem;
  border: 1px solid #eee;
  border-radius: 100%;
  object-fit: contain;
  margin-right: 7px;;
}

.text-size-large {
  font-size: 1.1rem;
}

.text-size-small {
  font-size: 0.8rem;
}

.text-color-grey {
  color:#999999;
}
.status {
  &.S {
    color: var(--topship-color);
  }

  &.P {
    color: var(--ion-color-success);
  }

  &.N {
    color: var(--ion-color-danger);
  }

  &.Z {
    color: var(--ion-color-warning);
  }

  &.NS {
    color: var(--ion-color-tertiary);
  }
}
.etop-status {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  &.S {
    background-color: var(--topship-color);
  }

  &.P {
    background-color: var(--ion-color-success);
  }

  &.N {
    background-color: var(--ion-color-danger);
  }

  &.Z {
    background-color: var(--ion-color-warning);
  }

  &.NS {
    background-color: var(--ion-color-tertiary);
  }
}
