.modal-body {
  padding: 0;
}

.title {
  background: #f5f5f5;
  padding: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 1.5rem;
}

.customer-note {
  font-size: 1.2rem;
  .full-name {
    font-size: 1.2rem;
  }
}
