<div class="modal-header ">
  <div class="modal-title">Tạo khách hàng</div>
  <button class="close" (click)="close()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="title">
    Tạo khách hàng trước khi chốt đơn
  </div>
  <div class="text-center mb-4">
    <img [imageLoader]="customer?.external_info?.image_url" *ngIf="activeFbUser" src="assets/images/user_logo.jpg" alt="" class="avatar">
    <div class="px-3 customer-note">
      {{param || ''}}
      <strong class="full-name">{{customer?.external_info?.name}}</strong>
    </div>
  </div>
  <div class="p-3">
    <etop-material-input
      type="input" appearance="standard" textLabel="Tên" placeholder="Nhập tên"
      [(ngModel)]="customer.full_name">
    </etop-material-input>
  </div>
  <div class="p-3">
    <etop-material-input
      type="input" appearance="standard" textLabel="Số điện thoại" placeholder="Nhập số điện thoại"
      [(ngModel)]="customer.phone">
    </etop-material-input>
  </div>
</div>
<div class="modal-footer">
  <div class="text-right">
    <button class="btn btn-primary" (click)="create()">
      <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
      Đồng ý
    </button>
  </div>
</div>
