.box-content {
  border-top: 10px solid var(--border-gray-color);
}

th {
  font-weight: 600;
  font-size: 0.9rem;
  color: #afafaf;
  padding: 7px 15px;
  border-bottom: 1px solid var(--border-gray-color);
  border-top: 1px solid var(--border-gray-color);
}
td {
  padding: 10px 15px;
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
}

thead {
  background: rgba(0, 0, 0, 0.01);
}

