<div class="detail-body">
    <div class="slider-detail-info-title pt-4 pl-4">
      Thông tin trong đơn giao hàng
    </div>
    <div class="table-responsive" *ngIf="fulfillment?.lines.length; else empty">
      <table class="w-100">
        <thead>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Giá</th>
        <th>Thành tiền</th>
        </thead>
        <tbody>
        <tr *ngFor="let product of fulfillment?.lines">
          <td>
            <div class="font-weight-bold">{{ product?.product_name}}</div>
          </td>
          <td>
            <div class="font-weight-bold">{{ product?.quantity}}</div>
          </td>
          <td>
            <div class="font-weight-bold">{{ product?.retail_price | number}}đ</div>
          </td>
          <td>
            <div class="font-weight-bold">{{ (product?.retail_price * product?.quantity) | number}}đ</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #empty>
      <div class="empty m-3">
        Không có thông tin
      </div>
    </ng-template>
  </div>
  <div class="box-content">
    <div class="slider-detail-info-title pt-4 pl-4">
      Thông tin trong đơn hàng
    </div>
      <div class="table-responsive" *ngIf="fulfillment?.order?.lines.length; else empty">
        <table class="w-100">
          <thead>
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
          <th>Giá</th>
          <th>Thành tiền</th>
          </thead>
          <tbody>
          <tr *ngFor="let product of fulfillment?.order?.lines">
            <td>
              <div class="font-weight-bold">{{ product?.product_name}}</div>
            </td>
            <td>
              <div class="font-weight-bold">{{ product?.quantity}}</div>
            </td>
            <td>
              <div class="font-weight-bold">{{ product?.retail_price | number}}đ</div>
            </td>
            <td>
              <div class="font-weight-bold">{{ (product?.retail_price * product?.quantity) | number}}đ</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <ng-template #empty>
        <div class="empty m-3">
          Không có thông tin
        </div>
      </ng-template>
    </div>
