:host {
  background-color: #fff;
  margin-top: 5px;
  // margin-bottom: 0;
  vertical-align: middle;
  // border-radius: 7px;
  height: 65px;

  &.active {
    border-left: 5px solid var(--primary-color);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.07);
    margin-left: -5px;
  }
}

.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.avatar {
  width: 35px;
  height: 35px;
}

.fix-line-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-overflow-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
}

.fix-line-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.label-item {
  padding: 0 0.5rem;
  span.has-label{
    padding: 0.6rem 1.5rem;
    color: var(--primary-color);
    background: #2fcc711a;
    border-radius: 20px;
    display: flex;
    font-size: .8rem;
    align-items: center;
    width: fit-content;
  }
}

.fa {
  color: var(--default-color);
}

.mobile-col{
  display: none;
}

@media only screen and (max-width: 768px) {
  .hide-col {
    display: none;
  }
  .mobile-col{
    display: block !important;
  }
  .title-col {
    width: 60%;
    height: 2rem;
  }
  .table-row.row {
    margin-bottom: 1rem;
    border-radius: 0 !important;
  }
  .ticket-code {
    width: 100%;
    max-width: 100%!important;
    display: flex;
    justify-content: space-between!important;
  }
  :host {
    height: auto;
  }
}