<div class="wrapper-login" *ngIf="!loadingView; else hasLoading">
  <div class="login-body">
    <div class="l-side d-none d-sm-flex flex-column">
      <div class="align-items-center d-flex flex-column justify-content-center" style="flex: 1;">
        <img src="assets/images/logo_full.jpg" alt="" style="width: 16.5rem;">
        <span style="font-weight: 700; color: #666; margin-top: 2rem; font-size: 1.15rem;">
          TỔNG CÔNG TY BƯU ĐIỆN VIỆT NAM
        </span>
      </div>
    </div>
    <div class="r-side">
      <div class="d-flex flex-column h-100">
        <div class="login-form px-5">
          <div class="title">
            <strong class="text-larger text-gray">Đăng nhập</strong>
          </div>
          <div class="info text-big text-gray">
            Vui lòng nhập <b class="text-big text-gray">số điện thoại</b> và <b class="text-big text-gray">mật khẩu</b> để đăng nhập
          </div>
          <div>
            <div class="form-group">
              <input
                (keyup.enter)="onEnterLoginInput()"
                type="text" class="form-control rounded-pill" autofocus placeholder="Nhập số điện thoại"
                [(ngModel)]="login">
            </div>
            <div class="form-group position-relative">
              <span class="position-absolute changephone-text" (mousedown)="showPassword()" (mouseup)="hidePassword()">
                Hiển thị
            </span>
              <input
                #passwordInput (keyup.enter) ="onLogin()"
                type="password" class="form-control rounded-pill" placeholder="Nhập mật khẩu"
                [(ngModel)]="password">
            </div>
            <button class="btn rounded-pill" type="button" (click)="onLogin()">
              <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading"></i>
              Đăng nhập
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #hasLoading>
  <div class="wrapper-login loading-box">
    <div>
      <img src="assets/images/logo_medium.png" alt="" width="100px">
    </div>
    <img src="assets/images/loading.svg" alt="" width="80px" style="margin-top: -10px">
  </div>
</ng-template>
