<div class="modal-header">
  <h5 class="modal-title">Bổ sung thông tin giao hàng</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="unchangeable-info">
    <div>Mã đơn hàng: <strong>{{order?.code}}</strong></div>
    <div>Ngày tạo: <strong>{{order?.created_at | date: 'HH:mm dd/MM/yyyy'}}</strong></div>
    <div>Nguồn: <strong>{{order?.source_display}}</strong></div>
    <div>Khách phải trả: <strong>{{order?.code}}</strong> ({{order?.total_items}})</div>
  </div>
  <div class="title">Bắt buộc</div>
  <div class="row">
    <div class="py-2 col-6">
      <etop-material-input
        *ngIf="!format_number.chargeable_weight && !uni.chargeable_weight" #chargeable_weight_input
        textLabel="Khối lượng" placeholder="Nhập khối lượng" type="input" keyboardType="number" [error]="error.weight"
        (blur)="formatNumber('chargeable_weight'); onChangeWeight();"
        [(ngModel)]="order.p_data.shipping.chargeable_weight">
      </etop-material-input>
      <etop-material-input
        *ngIf="format_number.chargeable_weight"
        textLabel="Khối lượng" type="custom" [error]="error.weight"
        (click)="formatNumber('chargeable_weight')"
        [class.un-editable]="uni.chargeable_weight"
        ngbTooltip="Bạn đang áp dụng khối lượng chung cho tất cả đơn hàng." placement="top" container="body"
        [disableTooltip]="!uni.chargeable_weight">
        <span class="number-input font-weight-bold" [class.text-danger]="error.weight">
          {{order?.p_data?.shipping?.chargeable_weight | vnd}}g
        </span>
      </etop-material-input>
    </div>
    <div class="py-2 col-6">
      <etop-material-input
        *ngIf="!format_number.cod_amount" #cod_amount_input
        textLabel="COD" placeholder="Nhập COD" type="input" keyboardType="number" [error]="error.cod"
        (blur)="formatNumber('cod_amount'); onChangeCOD();"
        [(ngModel)]="order.p_data.shipping.cod_amount">
      </etop-material-input>
      <etop-material-input
        *ngIf="format_number.cod_amount"
        textLabel="COD" type="custom" [error]="error.cod"
        (click)="formatNumber('cod_amount')">
          <span class="number-input font-weight-bold" [class.text-danger]="error.cod">
            {{order?.p_data?.shipping?.cod_amount | vnd}}đ
          </span>
      </etop-material-input>
    </div>
    <div class="py-2 col-12">
      <etop-material-input textLabel="Địa chỉ giao hàng" type="custom">
        <span class="overflow-text" (click)="editShippingAddress()">
          {{addressDisplay}}
        </span>
      </etop-material-input>
    </div>
  </div>
  <div class="title">Không bắt buộc</div>
  <div class="row">
    <div class="py-2 col-6">
      <etop-material-input
        textLabel="Ghi chú xem hàng" type="select" [optionSelect]="tryOnOptions"
        [(ngModel)]="order.p_data.shipping.try_on"
        [disabled]="uni.try_on" [class.un-editable]="uni.try_on"
        ngbTooltip="Bạn đang áp dụng ghi chú xem hàng chung cho tất cả đơn hàng." placement="top" container="body"
        [disableTooltip]="!uni.try_on">
      </etop-material-input>
    </div>
    <div class="py-2 col-6">
      <etop-material-input
        textLabel="Ghi chú giao hàng" placeholder="Nhập ghi chú giao hàng" type="input"
        [(ngModel)]="order.p_data.shipping.shipping_note"
        [disabled]="uni.shipping_note" [class.un-editable]="uni.shipping_note"
        ngbTooltip="Bạn đang áp dụng ghi chú giao hàng chung cho tất cả đơn hàng." placement="top" container="body"
        [disableTooltip]="!uni.shipping_note">
      </etop-material-input>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button class="btn btn-topship text-white" (click)="confirm()">Lưu</button>
</div>

