.loading {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  .fa {
    font-size: 1.65rem;
    color: var(--primary-color);
  }
}

.page-content {
  padding: 2rem;
  min-height: 100%;
}

.connection-header {
  padding: 1.5rem;
  font-size: 1.25rem;
}

.connection-item, .carrier-item {
  border-top: 1px solid var(--border-gray-color);
}

.connection-item {
  padding: 2rem 1.5rem;
}

.carrier-item {
  text-transform: capitalize;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.carrier-list {
  width: 25%;
  border-right: 1px solid var(--border-gray-color);
}

.service-list {
  width: 75%;
  border-top: 1px solid var(--border-gray-color);
  padding: .25rem 1.25rem;
}

.service-table {
  th {
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-gray-color);
  }
  td {
    padding: .5rem 0;
  }
}
