<etop-not-permission *ngIf="noPermission; else enoughPermission;"></etop-not-permission>
<ng-template #enoughPermission>
  <div class="page-content row m-0">
    <ng-container *ngIf="(connectionsList$ | async)?.length">
      <div class="col-4">
        <div class="loading" *ngIf="connectionsLoading$ | async">
          <i class="fa fa-spin fa-circle-o-notch"></i>
        </div>
        <div class="connection-wrapper box" *ngIf="!(connectionsLoading$ | async)">
          <div class="connection-header">
            Kết nối nhà vận chuyển
          </div>
          <div class="connection-body connection-list">
            <ng-container *ngFor="let connection of connectionsList$ | async">
              <div
                class="connection-item" admin-connection-row
                [connection]="connection" (connectionUpdated)="getConnections()">
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="loading" *ngIf="connectionsLoading$ | async">
          <i class="fa fa-spin fa-circle-o-notch"></i>
        </div>
        <div class="connection-wrapper box" *ngIf="!(connectionsLoading$ | async)">
          <div class="connection-header">
            Tra cứu mã dịch vụ
          </div>
          <div class="connection-body d-flex">
            <div class="carrier-list">
              <div
                *ngFor="let connection of connectionsList$ | async"
                class="carrier-item" [class.text-primary]="(activeConnection$ | async)?.id == connection?.id"
                (click)="selectConnection(connection)">
                {{connection?.name}}
              </div>
            </div>
            <div class="service-list">
              <table class="w-100 service-table">
                <thead>
                  <tr>
                    <th>Mã gói</th>
                    <th>Tên gói</th>
                    <th>Mô tả</th>
                  </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="!(activeConnection$ | async)?.connection_services?.length">
                  <tr>
                    <td colspan="3">
                      Nhà vận chuyển này chưa có gói dịch vụ nào.
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngFor="let service of (activeConnection$ | async)?.connection_services">
                  <tr>
                    <td class="font-weight-bold">{{service?.service_id || '-'}}</td>
                    <td>{{service?.name || '-'}}</td>
                    <td>-</td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="!(connectionsList$ | async)?.length && !(connectionsLoading$ | async)" class="col-12 blank-page">
      <div>
        <img
          class="blank-img"
          src="assets/images/admin/icon_setting_shipment.png"
          alt="empty list">
      </div>
      <div class="info">
        <div class="text-bigger text-bold text-center m-2">
          Không có dữ liệu về nhà vận chuyển
        </div>
      </div>
    </div>
  </div>
</ng-template>
