<div class="header-title border-bottom p-3 d-flex align-items-center">
  <h3 class="ml-4">
    {{orderSuccessful?.payment_method == 'bank' ? 'Đặt hàng thành công' : orderSuccessful?.payment_status == 'P' ? 'Đặt hàng thành công' : 'Thanh toán thất bại'}}</h3>
</div>
<div class="body p-4" *ngIf="loadData">
  <div class="w-100 text-center mb-5">
    <img src="assets/images/order_success.png" alt="orrder success" style="width: 70%">
  </div>
  <div class="content mb-4">
    <div class="d-flex mt-4" *ngIf="orderSuccessful?.payment_status != 'P' && orderSuccessful?.payment_method == 'vtpay'">
      <span>
        <i class="fa fa-times-circle text-warning mr-3 mt-1 font-14"></i>
      </span>
      <div>
        <span class="font-12 text-warning">Thanh toán đơn hàng thất bại!</span>
      </div>
    </div>
    <div class="d-flex" *ngIf="totalCashback > 0">
      <span>
        <i class="fas fa-check-circle text-success mr-3 mt-1 font-14"></i>
      </span>
      <div>
        <span class="font-12"><strong class="font-12">{{totalCashback | vnd}}đ</strong> sẽ được hoàn vào số dư của bạn khi thanh toán thành công</span>
        <div class="text-primary" (click)="gotoSetting()" style="cursor: pointer">
          Kiểm tra số dư
        </div>
      </div>
    </div>
    <div class="d-flex mt-4">
      <span>
        <i class="fas fa-check-circle text-success mr-3 mt-2 font-12"></i>
      </span>
      <div>
        <span class="font-12">
          Đơn hàng của bạn đã được tiếp nhận với mã <strong class="font-12">{{orderSuccessful?.code}}</strong>.
          Nhân viên của chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.
        </span>
        <div class="text-primary" (click)="gotoShopping()" style="cursor: pointer">Kiểm tra đơn hàng
        </div>
      </div>
    </div>

  </div>
  <button class="btn btn-gray text-warning font-weight-bold w-100 mt-5"
    *ngIf="orderSuccessful?.payment_status != 'P' && orderSuccessful?.payment_method == 'vtpay'"
    (click)="retryPayment()">Thanh toán lại</button>
  <button class="btn btn-gray text-primary font-weight-bold w-100 mt-5" (click)="gotoShopping()"
    *ngIf="orderSuccessful?.payment_status == 'P' || orderSuccessful?.payment_method == 'bank'">Tiếp tục mua
    hàng</button>
</div>
