<div class="wrapper loading-box" *ngIf="loadConfig || !delayPassed">
  <div>
    <img src="assets/images/logo_large.png" alt="" width="100px">
  </div>
  <img src="assets/images/loading.svg" alt="" width="80px">
</div>
<router-outlet *ngIf="!loadConfig && delayPassed"></router-outlet>

