<etop-not-permission *ngIf="noPermission; else enoughPermission;"></etop-not-permission>
<ng-template #enoughPermission>
  <div [hidden]="activeTab != 'detail'" class="total" *ngIf="!mtShopTable.loading">
    <div class="total-section left-aligned">
      <div class="pl-4">
        <div class="back-button" (click)="goToTransactionTransfers()">
          <span class="material-icons-outlined">chevron_left</span>
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Mã phiên</div>
        <div class="item-value font-weight-bold">
          {{(mtTransfer$ | async)?.code}}
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Ghi chú</div>
        <div class="item-value font-weight-bold" *ngIf="(mtTransfer$ | async)?.note; else noNote;">
          {{(mtTransfer$ | async)?.note}}
        </div>
        <ng-template #noNote>
          <span>-</span>
        </ng-template>
      </div>
      <div class="total-item">
        <div class="text-default">Ngày tạo</div>
        <div class="item-value font-weight-bold">
          {{(mtTransfer$ | async)?.created_at | date: 'HH:mm dd/MM/yy'}}
        </div>
      </div>
      <div class="total-item" *ngIf="(mtTransfer$ | async)?.status == 'P'">
        <div class="text-default">Ngày xác nhận</div>
        <div class="item-value font-weight-bold">
          {{(mtTransfer$ | async)?.confirmed_at | date: 'HH:mm dd/MM/yy'}}
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="activeTab != 'detail'" class="page-container" [class.loading]="mtShopTable.loading">
    <div class="page-content pb-0">
      <div class="page-wrapper">
        <etop-table
          #mtShopTable
          [items]="mtShops$ | async"
          [show_paging]="false">
          <ng-template #header let-liteMode="liteMode">
            <div class="col" style="max-width: 50px;">
              <input class="input-custom invisible" type="checkbox">
            </div>
            <div class="col">
              <span class="table-header-text">Mã phiên</span>
            </div>
            <div class="col">
              <span class="table-header-text">Trạng thái</span>
            </div>
            <div class="col">
              <span class="table-header-text">Shop</span>
            </div>
            <div class="col" *ngIf="!liteMode">
              <span class="table-header-text">Số đơn giao hàng</span>
            </div>
            <div class="col" *ngIf="!liteMode">
              <span class="table-header-text">Thu hộ</span>
            </div>
            <div class="col" *ngIf="!liteMode">
              <span class="table-header-text">Còn lại</span>
            </div>
          </ng-template>

          <ng-template #emptyItem>
            <div class="blank-page">
              <div>
                <img
                  class="blank-img"
                  src="assets/images/admin/icon_transaction.png"
                  alt="empty list"
                />
              </div>
              <div class="info">
                <div class="text-bigger text-bold text-center m-2">
                  Phiên này không có phiên shop
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template #item let-mt="item" let-liteMode="liteMode">
            <div
              class="row table-row" admin-mt-transfer-mtshop-row
              [transaction]="mt" [liteMode]="liteMode"
              [class.active]="isActiveMtShop(mt)">
              <div class="col align-self-center" style="max-width: 50px;">
                <input
                  class="input-custom" [class.invisible]="noPermissionUpdate || (mtTransfer$ | async)?.status == 'P'"
                  type="checkbox" [checked]="isActiveMtShop(mt)"
                  (click)="mtShopSelected(mt)">
              </div>
            </div>
          </ng-template>
        </etop-table>
        <etop-side-slider #slider>
          <ng-template #customHeader>
            <div class="header-detail d-flex justify-content-between px-4 py-3">
              <div class="d-flex align-items-center">
                <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
                <shared-dropdown-actions
                  *ngIf="!onAddMoreMtShop && (activeMtShops$ | async)?.length"
                  [dropdownActions]="dropdownActions">
                </shared-dropdown-actions>
              </div>
              <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
                Đóng<mat-icon>close</mat-icon>
              </button>
            </div>
          </ng-template>
          <admin-mt-transfer-multi-mtshops-action *ngIf="(activeMtShops$ | async)?.length">
          </admin-mt-transfer-multi-mtshops-action>
          <admin-add-more-mtshop *ngIf="onAddMoreMtShop"></admin-add-more-mtshop>
        </etop-side-slider>
      </div>
    </div>
  </div>

  <admin-mt-transfer-bangke
    [hidden]="activeTab != 'bang_ke'" [isTCB]="isTCB" [isVCB]="isVCB">
  </admin-mt-transfer-bangke>
  <admin-mt-transfer-ffms
    *ngIf="(fulfillments$ | async)?.length"
    [hidden]="activeTab != 'fulfillment'">
  </admin-mt-transfer-ffms>
</ng-template>
