.carrier-not-image {
  padding-left: 1rem;
}

.table-row {
  cursor: default;
}

.back-button {
  border: 2px solid var(--border-gray-color);
  cursor: pointer;
  span.material-icons-outlined{
    display: flex;
  }
}

.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}
