.items-list-row {
    padding: 0.7rem 1rem;
    border-top: 8px solid #f5f5f5;
    &:last-child {
        border-top: 8px solid #f5f5f5;
    }
}

.items-list {
    padding: 0.7rem 0;
}

.product-img {
    width: 3.5rem;
    height: 3.5rem;
    min-width: 3.5rem;
    border: 1px solid #eee;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.product-info {
    padding-left: 0.8rem;
}

.add-product {
    font-size: 2.3rem;
    padding-right: 0.15rem;
}

.connect-success {
    background-color: var(--ion-color-success);
    padding: 0.5rem;
    color: #fff;
}

.disconnect {
    background-color: var(--ion-color-danger);
    padding: 0.5rem;
    color: #fff;
}

.product-price {
    font-size: 0.9rem;
}

.product-name {
    padding-right: 0.5rem;
}

.button-icon {
    min-width: fit-content;
    background: var(--ion-color-primary);
    color: white;
    border-radius: 20px;
    padding: 0 1rem 0 0.75rem;
    min-height: 2.2rem;
    margin-right: 0.25rem;
    ion-icon {
        font-size: 1.2rem;
    }
    ion-text {
        font-size: 0.9rem;
    }
}