<div class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Sản phẩm</ion-title>
            <ion-buttons slot="end" class="button-icon" (click)="addProduct()" *ePermissions="['shop/product:create']">
                <ion-icon name="add" mode="md" class="add-product text-white"></ion-icon>
                <ion-text>Thêm</ion-text>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <shop-subscription-warning></shop-subscription-warning>
    <ion-content>
        <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content refreshingSpinner="circles">
            </ion-refresher-content>
        </ion-refresher>
        <div class="h-100">
            <div class="product-list" *ngIf="(products$ | async)?.length > 0 && !loading">
                <div class="items-list-row" *ngFor="let product of (products$ | async)">
                    <div class="box" (click)="productDetail(product)">
                        <div class="ion-flex ion-align-items-center ion-justify-content-between">
                            <div class="ion-flex ion-align-items-center w-100">
                                <img class="product-img" [src]="product?.image || 'assets/images/placeholder_2.png'" alt="">
                                <div class="product-info w-100">
                                    <div class="ion-flex ion-justify-content-between ion-align-items-center">
                                        <div class="product-name font-bold fix-line-1" style="flex: 1">{{product?.name}}</div>
                                        <div class="small-font">{{product?.variants?.length}} mẫu mã</div>
                                    </div>
                                    <div class="ion-flex ion-justify-content-between">
                                        <div class="small-font">
                                            <ion-text color="primary" *ngIf="product?.code">{{product?.code}}</ion-text>
                                        </div>
                                        <div class="product-price ion-text-right font-bold">
                                            {{priceCompare(product)}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ion-text-center w-100" *ngIf="loading">
                <div class="items-list-row" style="padding: 0" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                    <etop-ion-skeleton></etop-ion-skeleton>
                </div>
            </div>
            <div class="empty-state ion-text-center h-100 ion-flex ion-align-items-center" *ngIf="(products$ | async)?.length == 0 && !loading">
                <ion-text class="w-100">
                    Bạn chưa có sản phẩm nào!
                </ion-text>
            </div>
        </div>

    </ion-content>
</div>