<ion-header>
  <ion-toolbar>
    <ion-title>Thêm sản phẩm</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="page-content w-100 ion-padding-bottom" [formGroup]="productForm">
    <div class="upload-img ion-margin-top" (click)="takePicture()" *ngIf="!productImg; else hasImg">
      <img src="assets/imgs/upload-image.png" alt="">
      <div class="text-primary ion-padding-bottom">Thêm ảnh</div>
      <div class="uploading" *ngIf="uploading">
        <ion-spinner name="crescent" class="loading-icon"></ion-spinner>
      </div>
    </div>
    <ng-template #hasImg>
      <div class="ion-text-center ion-padding">
        <div class="product-image">
          <img [src]="productImg" alt="">
          <ion-icon name="camera" class="icon-upload" (click)="takePicture()"></ion-icon>
          <div class="uploading" *ngIf="uploading">
            <ion-spinner name="crescent" class="loading-icon"></ion-spinner>
          </div>
        </div>

      </div>
    </ng-template>
    <ion-list class="info">
      <ion-item class="line-info ion-margin-end">
        <ion-label position="floating">Tên sản phẩm (*)</ion-label>
        <ion-input inputmode="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item class="line-info" lines="none" *ngIf="!product?.variants?.length">
        <etop-ion-input-format-number textLabel="Giá sản phẩm (*)" formatNumberUnit="đ"
                                      formControlName="retail_price">
        </etop-ion-input-format-number>
      </ion-item>
      <ion-item class="line-info ion-margin-end">
        <ion-label position="floating">Mã sản phẩm</ion-label>
        <ion-input inputmode="text" formControlName="code"></ion-input>
      </ion-item>
      <ion-item class="line-info ion-margin-end">
        <ion-label position="floating">Mô tả</ion-label>
        <ion-textarea autoGrow="true" spellcheck="false" inputmode="text" formControlName="description"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>
  <div class="box-detail" *ngIf="!product?.variants?.length">
    <div class="ion-padding" (click)="initializationAttribute()">
      <ion-text color="primary">+ Thêm mẫu mã</ion-text>
    </div>
  </div>
  <div class="box-detail" *ngIf="product?.variants?.length > 0">
    <div class="header font-bold ion-flex ion-justify-content-between ion-margin">
      <ion-text>Mẫu mã ({{product?.variants?.length}})</ion-text>
      <ion-text color="primary" (click)="editVariants()">Chỉnh sửa</ion-text>
    </div>
    <div class="items-list-row"
      *ngFor="let variant of product?.variants; index as i">
      <div class="box">
        <div class="ion-flex ion-align-items-center ion-justify-content-between">
          <div class="ion-flex ion-align-items-center">
            <div class="font-bold ion-align-self-start">
              {{i + 1}}.
            </div>
            <div class="product-info ion-text-left">
              <div class="small-font">
                {{joinAttrs(variant.attributes)}}
              </div>
            </div>
          </div>
          <div class="product-price normal-font font-bold">
            {{variant?.retail_price | vnd}}đ
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ng-container>
  <ion-footer class="footer-button-wrapper" (click)="create()">
    <ion-toolbar color="primary" class="no-padding">
      <div class="footer-buttons ion-flex">
        <button class="w-100 bg-primary text-white footer-button-item">
          Tạo sản phẩm
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>

