:host {
  height: 100%;
  display: flex;
  flex-direction: column !important;
}

.e-border-bottom {
  border-bottom: 1px solid #eee;
}

textarea {
  resize: none;
}

.chat-list {
  overflow: auto;
}
.chat-item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  .image-wrapper img{
    min-width: 100px;
  }
  &.error {
    margin-bottom: 3rem;
  }
  &.on-group {
    margin-bottom: 3px;
  }
  &.chat-item-left {
    .content-item {
      padding-left: 10px;
      .box-message {
        background: #f2f3f5;
        ::ng-deep {
          .fa, .fas, .far {
            color: var(--default-color);
          }
        }
      }
    }
  }

  &.chat-item-right {
    justify-content: flex-end;
    .box-message {
      background: var(--primary-color);
      color: #fff;
      ::ng-deep {
        .fa, .fas, .far {
          color: #fff;
        }
      }
    }
    .box-media {
      .external-attachments {
        justify-content: flex-end;
      }
    }
  }
}

.content-item {
  width: fit-content;
  max-width: 70%;
  position: relative;
  &.multi-img {
    max-width: unset !important;
    width: 70% !important;
  }
  .retry {
    position: absolute;
    right: 0;
    bottom: -30px;
  }
}

.retry {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 0.9rem;
  min-width: 80px;
  cursor: pointer;
}

.multi-img {
  .external-attachments {
    display: flex;
    flex-wrap: wrap;
    .image-item {
      width: calc(100% / 3);
      padding: 1px;
      .image-wrapper {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        img {
          display: block;
          object-fit: cover;
          object-position: center;
          position: absolute;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.state-icon {
  position: absolute;
  left: -20px;
  bottom: 0;
  font-size: 1.25rem;
}

.box-message {
  border: 1px solid #eee;
  border-radius: 5px;
  word-break: break-word;
  white-space: pre-wrap;
  .message-created-at {
    font-size: 0.9rem;;
  }
  .content-message {
    padding: .75rem 1rem;
  }
  .box-button {
    color: var(--primary-color);
    display: flex;
    border-top: 1px solid #eee;
    .button {
      cursor: pointer;
      padding: .75rem 1rem;
    }
    .border-right {
      border-right: 1px solid #eee;
    }
    .icon-size {
      font-size: 14px;
      margin-right: 3px;
    }
  }
}

.parent-comment {
  padding: .75rem 1rem;
  border-top: 5px solid #eee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #eee;

  .parent-comment-header {
    opacity: 0.7;
    font-size: 0.7rem
  }

  .parent-comment-text {
    font-size: 1.1rem;
  }
}

.user-img {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  border-radius: 50%;
  object-fit: cover;
}


.post-box {
  background-color: #edf1f8;

  .detail {
    font-style: italic;
    font-size: 0.9rem;
    color: rgba(var(--ion-color-light-contrast-rgb), 0.6);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.post-img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.external-attachments {
  position: relative;

  img {
    max-width: 100%;
    border-radius: 5px;
    z-index: 1;
  }

  .media-created-at {
    position: absolute;
    z-index: 2;
    bottom: 5px;
    right: 5px;
    font-size: 0.9rem;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 2px 5px;
    color: #fff;
    background-color: #000;
    opacity: 0.7;
  }
}

.box-input {
  display: flex;
  align-items: stretch;
  border-top: 1px solid #eee;
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 1px solid #eee;
  }
  .input-chat {
    outline: none;
    overflow: auto;
    max-height: 12rem;
    font-size: 1.1rem;
    &::placeholder {
      font-size: 1.1rem;
    }
  }
}

.box-input-toolbar {
  display: flex;
  align-items: center;
}

.fb-post {
  background-color: #edf1f8;

  .post-image {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 1rem;
  }
  .post-content {
    font-size: 1.1rem;
    color: rgba(var(--ion-color-light-contrast-rgb), 0.6);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
  }
}

.select-item{
  cursor: pointer;
}

.list-tag {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.tag {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: .175em 1em;
  margin-right: .5rem;
  max-width: 40%;
  background: rgba(0, 0, 0, 0.03);

  .tag-name {
    font-size: 0.9rem;
  }

  .icon-size {
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }
}

.item-content{
  flex: 1;
  margin-right: 20px;
}

.max-line{
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:1;
  display: -webkit-box;
}

.box-template {
  .list-template {
    max-height: 14rem;
    overflow: auto;
  }
  .quick-message-template {
    height: 100%;
    background: white;

    .template-item {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0.5rem 1.5rem;
    }
  }
  a.nav-link, a.nav-link:hover{
    color: #222222;
  }
  .settings-icon {
    font-size: 16px;
    margin-right: 3px;
  }
}
.username-text {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.2;
}
.img-border {
  border: 1px solid #eee;
}