<div class="e-border-bottom py-2 px-4 d-flex align-items-center" style="min-height: 54px">
  <img [imageLoader]="(activeConversation$ | async)?.external_user_picture_url" src="assets/images/user_logo.jpg"
    class="avatar mr-3"
    alt="avatar"
    style="width: 30px; height: 30px">
  <div class="d-flex flex-column w-100">
    <div class="m-0 username-text">{{(activeConversation$ | async)?.external_user_name}}</div>
    <div *ngIf="(activeConversation$ | async)?.tags?.length" class="d-flex flex-row align-items-center" style="flex: wrap;margin-top: 0.5rem">
      <div class="tag d-flex align-items-center cursor-pointer"  *ngFor="let tag of (activeConversation$ | async)?.tags.slice(0,2)" (click)="createTag()">
        <span class="material-icons icon-size" [ngStyle]="{'color': tag.color}">fiber_manual_record</span>
        <div class="max-line tag-name">{{tag.name}}</div>
      </div>
      <div *ngIf="(activeConversation$ | async)?.tags.length >= 3" class="tag cursor-pointer" (click)="createTag()">
        <div class="tag-name">
          +{{ (activeConversation$ | async)?.tags.length - 2}}
        </div>
      </div>
    </div>
  </div>

</div>
<div class="fb-post d-flex p-3" *ngIf="activeConversationPost$ | async">
  <ng-container *ngIf="(activeConversationPost$ | async)?.external_picture">
    <img [imageLoader]="(activeConversationPost$ | async)?.external_picture" src="assets/images/placeholder_medium.png" alt="" class="post-image">
  </ng-container>
  <div class="post-content">
    {{((activeConversationPost$ | async))?.external_message}}
  </div>
</div>
<div #messageList class="chat-list h-100 p-3" (scroll)="chatboxFocus()" (click)="chatboxFocus()">
    <infinite-scroll (top)="doLoadMore($event)"></infinite-scroll>
    <ng-container *ngFor="let message of messages$ | async; let i = index; trackBy: trackMessage" >
      <div
        class="chat-item {{isMessageOfPage(message) ? 'chat-item-right' : 'chat-item-left'}}"
        [class.on-group]="isVeryNearConversation(message)"
        [class.error]="message?.status == 'error'"
        [class.loading]="message?.status == 'sending'">
        <img
          *ngIf="!isMessageOfPage(message)"
          [imageLoader]="message?.from?.external_user_picture_url" alt="user"
          src="assets/images/user_logo.jpg"
          [class.invisible]="isVeryNearConversation(message)"
          class="user-img">
        <div class="content-item" [class.multi-img]="message?.medias?.length > 1">
          <div *ngIf="isMessageOfPage(message)" class="state-icon">
            <i *ngIf="message?.status == 'sent'" class="far fa-check-circle text-primary"></i>
            <i *ngIf="message?.status == 'sending'" class="far fa-circle text-primary"></i>
            <i *ngIf="message?.status == 'error'" class="fas fa-exclamation-circle text-danger"></i>
          </div>
          <div class="parent-comment" *ngIf="mergeDisplayParentComment(message)">
            <div class="parent-comment-header">Phản hồi bình luận của người khác</div>
            <div class="box-media" *ngIf="message?.o_data.external_parent.external_attachment">
              <div class="external-attachments">
                <div class="image-item">
                  <div class="image-wrapper">
                    <img [imageLoader]="message?.o_data.external_parent.external_attachment.media.image.src"
                     src="assets/images/placeholder_medium.png" class="img-border">
                  </div>
                </div>
              </div>
            </div>
            <div class="parent-comment-text" *ngIf="message?.o_data.external_parent.external_message">
              {{ message?.o_data.external_parent.external_message }}
            </div>
          </div>
          <div class="box-message" *ngIf="message?.message">
            <div class="content-message">
              <div [innerHTML]="(message?.message | safeHtml)"></div>
              <div class="text-right mt-1 message-created-at d-flex">
                <div class="message-created-at" style="opacity: 0.5">
                  {{message?.external_created_time | date: 'dd/MM HH:mm'}}
                </div>
                <div *ngIf="message?.created_by" class="align-items-center d-flex"> - 
                  <span class="font-weight-bold"> 
                    {{message?.created_by}}
                  </span>
                  <mat-icon class="material-icons" fontSet="material-icons-outlined">
                    account_circle
                  </mat-icon>
                </div>
              </div>
            </div>
            <div class="box-button" *ngIf="!isMessageOfPage(message) && (activeConversation$ | async).type == 'comment'">
              <div class="button d-flex align-items-center border-right" (click)="toggleLikeComment(message)">
                <mat-icon class="material-icons icon-size" fontSet="material-icons-outlined">
                  {{message.is_liked? 'thumb_down' : 'thumb_up'}}
                </mat-icon>
                <span>{{message.is_liked? 'Bỏ Thích' : 'Thích'}}</span>
              </div>
              <div class="button d-flex align-items-center border-right" (click)="toggleHideComment(message)">
                <mat-icon class="material-icons icon-size" fontSet="material-icons-outlined">
                  {{message.is_hidden? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <span>{{message.is_hidden? 'Hiện' : 'Ẩn'}}</span>
              </div>
              <div *ngIf="!message.is_private_replied" class="button d-flex align-items-center" (click)="sendPrivateReply(message)">
                <mat-icon class="material-icons icon-size" fontSet="material-icons-outlined">
                  textsms
                </mat-icon>
                <span>Nhắn tin</span>
              </div>
              <div *ngIf="message.is_private_replied" class="button d-flex align-items-center" (click)="readMessage(message)">
                <mat-icon class="material-icons icon-size" fontSet="material-icons-outlined">
                  textsms
                </mat-icon>
                <span>Xem tin</span>
              </div>
            </div>
          </div>
          <div class="box-media" *ngIf="message?.medias?.length">
            <div class="external-attachments">
              <div class="image-item" *ngFor="let media of message?.medias; last as isLast">
                <div class="image-wrapper">
                  <img [imageLoader]="media?.preview_url" src="assets/images/placeholder_medium.png" class="img-border">
                  <div class="media-created-at">{{message?.external_created_time | date: 'dd/MM HH:mm'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="message?.status == 'error' && isMessageOfPage(message)"
            class="retry text-primary" (click)="retrySendMessage(message)">
            <i class="fas fa-redo text-primary small-font mr-2"></i>
            Gửi lại
          </div>
        </div>
      </div>
    </ng-container>
</div>
<div class="box-template" *ngIf="isQuickMessageModeOn">
  <div class="quick-message-template">
    <div class="template-item d-flex justify-content-between">
      <div class="d-flex align-items-center" (click)="closeQuickTemplate()">
        <span class="material-icons cursor-pointer" style="font-size: 16px;">close</span>
        <span>Trả lời nhanh</span>
      </div>
      <a class="d-flex flex-row align-items-center nav-link" target="blank" href="{{settingTemplateURL}}" (click)="closeQuickTemplate()">
        <span class="material-icons cursor-pointer settings-icon">settings</span>
        <label class="cursor-pointer">Thiết lập</label>
      </a>
    </div>
    <div class="list-template">
      <div class="template-item cursor-pointer" *ngFor="let item of listTemplates" (click)="addMessageToChat(item)">
        <span class="font-weight-bold">
          /{{item.short_code}}
        </span>
        <div class="fix-line-2">
          <div [outerHTML]="item.template"></div>
        </div>
      </div>
    </div>
    <div class="template-item" *ngIf="!listTemplates?.length">
        Bạn chưa có mẫu trả lời nhanh.
    </div>
  </div>
</div>
<div  class="box-input" (click)="chatboxFocus()">
  <div class="box-input-toolbar">
    <img [imageLoader]="currentPage?.external_image_url" src="assets/images/placeholder_medium.png" class="avatar" alt="avatar" width="20px">
  </div>
  <textarea
    id="chat-box" #chatBox rows="1"  class="w-100 border-0 input-chat py-4" placeholder="Nhập tin nhắn"
    [(ngModel)]="textMessage" (ngModelChange)="onTextMessageChanged()" (keyup.enter)="sendMessageWithText()">
  </textarea>
  <div class="box-input-toolbar">
    <img src="assets/icons/web-icon-template.png" class="ml-2 cursor-pointer" alt="template" (click)="toggleModeQuickMessageTemplate()" height="20px">
    <img src="assets/icons/web-icon-tag.png" class="ml-2 cursor-pointer font-weight-bold" alt="communications" (click)="createTag()" height="20px">
    <img src="assets/icons/web-icon-phone.png" class="ml-2 cursor-pointer" alt="communications" (click)="call()" height="20px">
    <img src="assets/icons/web-icon-image.png" class="ml-2 cursor-pointer" alt="image" height="20px" (click)="uploadImage()" height="20px">
    <img src="assets/icons/web-icon-send.png" class="mx-2 cursor-pointer" alt="send" height="20px" (click)="sendMessageWithText()" height="20px">
    <input
      #imageMessageInput type="file" hidden class="custom-file-input" accept="image/png,image/jpg,image/jpeg" multiple
      (change)="onImageSelected($event)">
  </div>
</div>
<!--<div *ngIf="checkWarningChatBox" class="p-4 d-flex flex-wrap">-->
<!--  <div class="item-content">Theo chính sách của Facebook, bạn không được gửi nội dung quảng cáo cho khách hàng này.<strong (click)="showWarning()" class="select-item">Chi tiết</strong></div>-->
<!--  <button class="btn btn-primary" (click)="updateWarning()">Tôi chỉ trả lời khách hàng</button>-->
<!--</div>-->
