<div class="col-2 status-call-log">
  <mat-icon class="status-icon text-danger"  *ngIf='isOutDirection(callLog)'>call_missed</mat-icon>
  <mat-icon class="status-icon"  *ngIf='!isOutDirection(callLog)' >call_received</mat-icon>
  <div class="status-name">{{callLog?.direction_display || "-"}}</div>
</div>
<div *ngIf='callLog.calleeRelationship' class="col info-call-log">
  <div class="customer-name">
    <mat-icon style="font-size: 1.4rem !important;" class="mr-2">account_circle</mat-icon>
    {{callLog?.to?.full_name}}
  </div>
  <div class="info-customer">
    EXT: {{ callLog?.extension_number || '-' }} - {{callLog?.started_at | date :'HH:mm dd/MM/yyyy'}}
  </div>
</div>
<div *ngIf='!callLog.calleeRelationship' class='col info-call-log'>
  <div class="customer-name">
    {{callLog?.to?.full_name}}
  </div>
  <div class="info-customer">
    {{ callLog?.to?.phone || '-' }} - {{callLog?.started_at | date :'HH:mm dd/MM/yyyy'}}
  </div>
</div>
<div class="col-4 action-call-log">
  <div class="action" [matMenuTriggerFor]="moreOption">
    <mat-icon>arrow_drop_down</mat-icon>
    <span>Thao tác</span>
  </div>
  <mat-menu #moreOption="matMenu">
    <button mat-menu-item (click)='openAudioModal()' [disabled]='!callLog?.audio_urls?.length || !callLog?.audio_urls[0]'>
      Nghe lại
    </button>
  </mat-menu>
</div>
