<ng-content></ng-content>
<div class="col align-self-center small-cell">
  <div class="fa fa-minus" *ngIf="!customer.code"></div>
  <div *ngIf="customer.code" class="font-weight-bold text-primary">{{customer.code}}</div>
</div>
<div class="col align-self-center">
  <div class="fa fa-minus" *ngIf="!customer.full_name"></div>
  <div *ngIf="customer.full_name">{{customer.full_name}}</div>
</div>
<div class="col align-self-center">
  <div class="fa fa-minus" *ngIf="!customer.phone"></div>
  <div *ngIf="customer.phone">{{customer.phone}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="fa fa-minus" *ngIf="!customer.email"></div>
  <div *ngIf="customer.email">{{customer.email}}</div>
</div>
