<div class="ion-page">
  <ion-header>
    <div class="title">
      <ion-toolbar>
        <ion-title class="text-medium">Tạo yêu cầu hỗ trợ</ion-title>
        <ion-buttons slot="start" class="header-back-icon">
          <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </div>
    <ion-segment mode="md" color="primary" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment">
      <ion-col class="ion-no-padding">
        <ion-segment-button value="info" >
          Thông tin
        </ion-segment-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-segment-button value="response" >
          Phản hồi
        </ion-segment-button>
      </ion-col>
    </ion-segment>
  </ion-header>
  <ion-content #content [class.white-background]="segment=='response'">
    <etop-network-status></etop-network-status>
    <div *ngIf="segment=='info'">
      <div class="section-box">
        <div class="ticket-info text-bold" >
          <div class="text-code text-topship">{{(activeTicket$ | async)?.code}}
            <span> - {{(activeTicket$ | async)?.state_display}}</span></div>
          <div class="ion-text-right  text-medium created-at">
            {{(activeTicket$ | async)?.created_at | date: 'HH:mm dd/MM/yyyy'}}
          </div>
        </div>
      </div>

      <div class="section-box">
        <div class="ticket-content">
          <div class="content-title pre-line">{{(activeTicket$ | async)?.title}}</div>
          <div class="content pre-line" [innerHtml]="(activeTicket$ | async)?.description | safeHtml"></div>
        </div>
      </div>

      <div class="section-box">
        <div class="latest-response">
          <div class="response-title">
            <div class="response-text">Phản hồi mới nhất</div>
            <div class="see-all-btn text-topship" *ngIf="(activeTicket$ | async)?.comments?.length" (click)="viewToResponse()">Xem tất cả</div>
          </div>
          <div class="content">
            <div class="no-response" *ngIf=" !(activeTicket$ | async)?.comments?.length">
              Chưa có phản hồi nào cho yêu cầu này
            </div>
            <div class="latest-msg"  *ngIf="(activeTicket$ | async)?.comments?.length">
              <div class="lastet-comment">
                <span>{{(lastestTicketComment$ | async)?.createdByDisplay || "SHOP"}}: </span>
                <img *ngIf="(lastestTicketComment$ | async)?.image_url" class="comment-message-img" alt="" src="{{(lastestTicketComment$ | async)?.image_url}}">
                <span [innerHTML]="(lastestTicketComment$ | async)?.message">last message</span>
              </div>
              <div class="ion-text-right  text-medium created-at">
                {{(activeTicket$ | async)?.created_at | date: 'HH:mm dd/MM/yyyy'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="segment=='response'" class="h-100 ion-padding">
      <ng-container  *ngIf=" !(activeTicket$ | async)?.comments?.length">
        <div class="blank-response">
          <img  src="assets/imgs/tab-icon/icon_chat.png" alt="empty list">
          <div class="font-bold blank-response-content">Chưa có phản hồi</div>
        </div>
      </ng-container>
      <div *ngFor="let comment of (activeTicket$ | async)?.comments; let i = index;"
        class="bubble" [class.own-comment]="comment?.ownComment" [class.has-images]="comment?.image_url"
        id="{{comment?.id}}">
        <div class="bubble-content">
          <div *ngIf="!comment?.ownComment" class="bubble-avatar">
            <img src="{{(activeTicket$ | async)?.shop?.image_url || 'assets/images/e_topship.png'}}" alt="">
          </div>
          <div
            *ngIf="comment?.sendingStatus"
            class="bubble-status" [class.text-primary]="comment?.sendingStatus == 'sending'">
            <mat-spinner diameter="15" *ngIf="comment?.sendingStatus == 'sending'"></mat-spinner>
            <mat-icon *ngIf="comment?.sendingStatus == 'error'" class="text-danger">error_outline</mat-icon>
          </div>
          <div
            *ngIf="comment?.ownComment && !comment?.sendingStatus"
            class="bubble-menu">
            <mat-icon
              class="text-default bubble-menu-icon" >
              more_horiz
            </mat-icon>
            <ng-template #bubbleMenu>
          <span style="padding: .5rem 1rem; display: block; cursor: pointer;" >
            Chỉnh sửa
          </span>
            </ng-template>
          </div>

          <div class="comment-wrapper">
            <div class="comment-sender" *ngIf="!comment?.ownComment" >{{comment?.createdByDisplay}}</div>
            <div class="comment-message">
              <img *ngIf="comment?.image_url" class="comment-message-img" alt="" src="{{comment?.image_url}}">
              <span *ngIf="comment?.message" class="comment-message-text" [innerHTML]="comment?.message"></span>
            </div>
            <div class="comment-time text-medium">{{comment?.created_at | date: 'dd/MM/yyyy HH:mm'}}</div>
          </div>
        </div>
<!--        <div *ngIf="comment?.sendingStatus == 'error'" class="bubble-retry" (click)="retryCreateTicketComment(comment)">-->
<!--          <mat-icon>refresh</mat-icon>&nbsp;Gửi lại-->
<!--        </div>-->
      </div>
    </div>
  </ion-content>
  <ion-footer class="footer-button-wrapper ion-no-border" *ngIf="segment=='info'">
    <ion-toolbar >
      <div class="footer-buttons ion-flex">
        <button type="submit" class="w-100 bg-topship text-white font-bold button-radius" [class.disabled-btn]="isCancelledFfm" (click)="viewToResponse()" >
          <span> Gửi phản hồi</span>
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
  <ion-footer class="message-footer" *ngIf="segment=='response' && !isCancelledFfm">
    <div id="message-toolbar" style="align-items: center;">
      <ion-textarea #messageInput autofocus [disabled]="isCancelledFfm"
        id="chat-box" rows="1" style="flex: 1;" placeholder="Nhập tin nhắn" [autoGrow]="true" [inputmode]="'text'" [(ngModel)]="textMessage" (ngModelChange)="onTextMessageChanged()" (keyup.enter)="createTicketComment()">
    </ion-textarea>
      <div class="cursor-pointer d-flex">
        <mat-icon class="toolbar-icons text-primary" (click)="createTicketComment()" [class.text-medium]="isCancelledFfm">send</mat-icon>
      </div>
    </div>
  </ion-footer>
</div>
