.title{
  padding: .3rem 0 .1rem;
  background: var(--ion-color-white);
  border-bottom: 1px solid var(--border-gray-color);
}

.section-box {
  background: #ffffff;
  margin-bottom: 0.85rem;
  padding: 0.85rem 1.3rem;
  &:last-child {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
  }


  .ticket-info {
    white-space: pre-line;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .text-code {
      font-weight: bold;
      span {
        color: #4A4A4A;
      }
    }
  }

  .ticket-content, .latest-response {
    display: flex;
    flex-direction: column;
    justify-content: left;
    .lastet-comment {
      font-weight: 500;
    }
  }

  .ticket-content {
    .content {
      opacity: .7;
    }
  }
  .content-title {
    font-weight: bold;
    margin-bottom: 0.85rem;
    font-size: 1.2rem;
    color: #4A4A4A;
  }

  .no-response{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0.9rem;
    background: var(--ion-color-light);
    border-radius: 4px;
  }

  .response-title {
    font-weight: bold;
    color: var(--ion-color-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.85rem;
    .response-text{
      font-size: 1.2rem;
    }

    .see-all-btn {
      font-weight:lighter;
      font-size: 1rem;
    }
  }

  .created-at {
    margin-left: auto;
  }
  //&:last-child {
  //  margin-bottom: 0;
  //  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  //}
  .header {
    padding-bottom: 0.5rem;
  }
}
.disabled-btn {
  opacity: .5;
  pointer-events: none;
}

.blank-response {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  img {
    width: 9rem;
    opacity: .5;
  }
  .blank-response-content {
    font-size: 1.2rem;
  }
}

.message-footer {
  padding: 0.9rem;
  border-top: 1px solid var(--border-gray-color);
  #message-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #chat-box {
      border-radius: 15px;
      border: 1px solid var(--border-gray-color);
      padding: 0 .75rem;
      max-height: 150px;
      overflow: auto;
      resize: none;
      margin: 0 .5rem;
      outline: 0;
    }
  }
}

ion-content {
  --background: #f4f4f4;
}
.white-background {
  --background:  #ffffff!important;
}
.bubble {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  &:first-child {
    margin-top: 1rem;
  }
  &:hover {
    .bubble-menu {
      display: flex !important;
    }
  }
  &.own-comment {
    align-items: flex-end;
    .comment-wrapper {
      background: #FDF2E8;
      color: #555;
      border: 1px solid #F9DFC8;
      border-radius: 7px;
    }
  }
  &.has-images {
    .comment-wrapper {
      background: #fff !important;
      color: #555 !important;
    }
  }
  .bubble-content {
    display: flex;
    position: relative;
    max-width: 80%;
  }
  .comment-wrapper {
    color: #555;
    padding: .75rem;
    background: #f5f5f5;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    .comment-time {
      font-size: .9rem;
      text-align: right;
    }
  }
  .bubble-avatar {
    align-self: flex-end;
    margin-right: .5rem;
    display: flex;
  }
  .bubble-retry {
    color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    padding: 2px 5px;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    font-size: .9rem;
    margin-top: 5px;
    cursor: pointer;
    mat-icon {
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
    }
  }
  .bubble-menu {
    position: absolute;
    height: 100%;
    left: -40px;
    top: 0;
    align-items: center;
    display: flex;
    color: var(--ion-color-medium);
    .mat-icon {
      font-size: 2.5rem !important;
      width: 2.5rem !important;
      height: 2.5rem !important;
      cursor: pointer;
    }
  }
  .bubble-menu:not(.focus-menu) {
    display: none;
  }
  .bubble-status {
    position: absolute;
    left: -20px;
    bottom: 1px;
    display: flex;
    mat-icon {
      font-size: 15px;
      width: 15px;
      height: 15px;
    }
  }
  .bubble-avatar {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 100%;
      border-radius: 50%;
      border: 1px solid #F9CD4D;
      padding: 0.25rem;
    }
  }
}

.comment-sender {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.comment-message-img {
  max-width: 100%;
}
.comment-message-text {
  white-space: pre-line;
}

.pre-line {
  white-space: pre-line;
}
