<table class="list-orders">
  <tr>
    <td><span class="index-number from">0</span></td>
    <td>
      <div class="font-weight-bold">LẤY HÀNG</div>
      <div>
        {{ffm?.pickup_address?.full_name}}
        <div class="small-font">{{ffm?.pickup_address?.phone}}</div>
      </div>
    </td>
    <td colspan="3">
      <div class="small-font">
        {{ffm?.pickup_address?.address1}}
        {{ffm?.pickup_address?.ward ? ', ' + (ffm?.pickup_address?.ward | locationCompact) : ''}}
      </div>
      <div>{{ffm?.pickup_address?.district | locationCompact}}, {{ffm?.pickup_address?.province | locationCompact}}</div>
    </td>
  </tr>
  <ng-container *ngFor="let dp of ffm?.delivery_points; let i = index;">
    <tr>
      <td><span class="index-number to">{{i + 1}}</span></td>
      <td>
        <div class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailOrder(dp?.order_code)">
          {{dp?.order_code}}
          <i class="fas fa-external-link-alt external-link-icon text-primary"></i>
        </div>
        <div>
          {{dp?.shipping_address?.full_name}}
          <div class="small-font">
            {{dp?.shipping_address?.phone}}
          </div>
        </div>
      </td>
      <td>
        <div class="small-font">
          {{dp?.shipping_address?.address1}}
          {{dp?.shipping_address?.ward ? ', ' + (dp?.shipping_address?.ward | locationCompact) : ''}}
        </div>
        <div>
          {{dp?.shipping_address?.district | locationCompact}},
          {{dp?.shipping_address?.province | locationCompact}}
        </div>
      </td>
      <td class="text-right"><span class="item-amount">{{dp?.value_info?.cod_amount | vnd}}đ</span></td>
      <td class="text-right">
        <div class="order-status order-{{dp?.order_status}}">{{dp?.order_status_display}}</div>
      </td>
    </tr>
  </ng-container>
</table>
<div (click)="trackingLink()" class="text-primary mt-3">Xem chi tiết tại AhaMove</div>
