<div class="modal-header">
  <div class="modal-title">
    <h5 class="font-weight-bold mb-0">{{'Thông tin địa chỉ'}}</h5>
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>
      Địa chỉ
      <span class="text-danger">*</span>
    </label>
    <div class="row">
      <div class="col-12">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập họ và tên" textLabel="Họ và tên" type="input"
            [(ngModel)]="address.full_name">
          </etop-material-input>
        </div>
      </div>
      <div class="col-12">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập số điện thoại" textLabel="Số điện thoại" type="input"
            [(ngModel)]="address.phone">
          </etop-material-input>
        </div>
      </div>
      <div class="col-12">
        <div class="py-2">
          <etop-material-input-autocomplete
            placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành" [options]="provinces"
            [displayMap]="displayMap()" [valueMap]="valueMap()"
            [(ngModel)]="selectedProvinceCode" (ngModelChange)="onProvinceSelected()">
          </etop-material-input-autocomplete>
        </div>
      </div>
      <div class="col-12">
        <div class="py-2">
          <etop-material-input-autocomplete
            placeholder="Chọn quận huyện" textLabel="Quận huyện" [options]="districts"
            [displayMap]="displayMap()" [valueMap]="valueMap()"
            [(ngModel)]="selectedDistrictCode" (ngModelChange)="onDistrictSelected()">
          </etop-material-input-autocomplete>
        </div>
      </div>
      <div class="col-12">
        <div class="py-2">
          <etop-material-input-autocomplete
            placeholder="Chọn phường xã" textLabel="Phường xã" [options]="wards"
            [displayMap]="displayMap()" [valueMap]="valueMap()"
            [(ngModel)]="selectedWardCode">
          </etop-material-input-autocomplete>
        </div>
      </div>
      <div class="col-12">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập địa chỉ" textLabel="Địa chỉ" type="input"
            [(ngModel)]="address.address1">
          </etop-material-input>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline btn-default" (click)="closeModal()">Đóng</button>
  <button class="btn btn-primary" (click)="save()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    {{actionType == 'update' ? 'Cập nhật' : 'Tạo'}}
  </button>
</div>
