<div class="modal-header">
  <h6 class="modal-title">Lịch sử tồn kho</h6>
</div>
<div class="modal-body" style="max-height: 330px; overflow-y: auto;">
  <div class="info d-flex p-3 align-items-center">
    <div class="image">
      <img src="{{variant?.image}}" alt="" class="variant-img">
    </div>
    <div class="pl-4 flex-grow-1">
      <div class="text-primary text-bold">{{variant.code | uppercase}}</div>
      <div>{{variant?.name}}<strong *ngFor="let attribute of variant?.attributes"> - {{attribute?.value}}</strong></div>
    </div>
    <div class="pl-3">
      <div>Tồn kho</div>
      <div class="text-bold text-big text-right">{{variant?.inventory_variant?.quantity}}</div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="w-100">
      <thead>
        <tr>
          <th class="pl-3" style="width: 10rem;">Mã phiếu</th>
          <th class="pr-3" style="width: 12.5rem;">Phương thức</th>
          <th class="pr-3" style="width: 10rem;">Thời gian</th>
          <th class="pr-3" style="width: 14rem;">Đối tác/Ghi chú</th>
          <th class="pr-3 text-right" style="width: 9rem;">Giá vốn</th>
          <th class="pr-3 text-right" style="width: 10rem;">Số lượng</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="6" class="px-0">
            <div *ngIf="!inventory_vouchers?.length; else inventoryVouchers" class="p-3 text-bold text-center">
              Sản phẩm này chưa có lịch sử tồn kho.
            </div>
          </th>
        </tr>
        <ng-template #inventoryVouchers>
          <tr *ngFor="let inventory_voucher of getInventoryVoucherList()">
            <td class="text-primary text-bold"style="width: 10rem;">{{inventory_voucher?.code}}</td>
            <td style="width: 12.5rem;">{{inventory_voucher?.ref_name}}</td>
            <td style="width: 10rem;">
              <div>{{inventory_voucher?.created_at | date: 'HH:mm'}}</div>
              <div>{{inventory_voucher?.created_at | date: 'dd/MM/yyyy'}}</div>
            </td>
            <td style="width: 14rem;">
              <ng-container *ngIf="inventory_voucher.ref_type != 'stocktake'; else showNote">
                <div class="font-10">{{inventory_voucher?.trader_display}}</div>
                <div class="text-bold">{{inventory_voucher?.trader.full_name}}</div>
              </ng-container>
              <ng-template #showNote>
                <div>{{inventory_voucher?.note}}</div>
              </ng-template>
            </td>
            <td style="width: 9rem;" class="text-right text-bold">{{inventory_voucher?.lines[getIndexByVariantId(inventory_voucher?.lines, variant.id)].price | vnd}}đ</td>
            <td style="width: 120px;" class="text-right text-bold">
              {{inventory_voucher?.type == 'out' ? '-' : ''}}{{inventory_voucher?.lines[getIndexByVariantId(inventory_voucher?.lines, variant.id)].quantity}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
<div class="pr-5">
  <etop-pagination
    [config]="paginationConfig"
    (navigate)="navigate($event)"
  >
  </etop-pagination>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline btn-default" (click)="dismissModal()">Đóng</button>
</div>
