<div class="modal-header">
  <div class="modal-title">{{popoverTitle}}</div>
  <button class="close" (click)="close()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body" [class.no-footer]="firstStep">
  <faboshop-carriers-list
    *ngIf="firstStep" (connectCarrier)="carrierLogin($event)">
  </faboshop-carriers-list>
  <faboshop-carrier-login
    *ngIf="secondStep" [carrierConnection]="selectedCarrierConnection"
    (loginInfoChanged)="loginInfoChanged($event)">
  </faboshop-carrier-login>
  <faboshop-carrier-otp *ngIf="thirdStep" [identifier]="loginInfo.identifier"
                        [carrierConnection]="selectedCarrierConnection" (loginInfoChanged)="loginOTPChanged($event)"
                        (onRetry)="retryOTP($event)"></faboshop-carrier-otp>
</div>
<div class="modal-footer" *ngIf="secondStep">
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-2" (click)="close()">Đóng</button>
    <button class="btn btn-primary" (click)="continue()">Tiếp tục</button>
  </div>
</div>
<div class="modal-footer" *ngIf="thirdStep">
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-2" (click)="back()">Quay lại</button>
    <button class="btn btn-primary" (click)="confirm()">
      <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
      Kết nối</button>
  </div>
</div>
