<div class="d-flex justify-content-between">
  <div class="address-info">
    <div class="font-weight-bold mb-2">
      {{address.full_name}}
      {{address.phone ? (' - ' + address.phone) : ''}}
      {{address.position ? (' - ' + address.position) : ''}}
    </div>
    <div class="mb-2">{{formatAddress(address)}}</div>
    <div class="mb-2 d-flex align-items-center">
      <mat-slide-toggle
        color="primary" disableRipple [disabled]="isDefault"
        [(ngModel)]="isDefault" (ngModelChange)="setDefaultAddress(address, 'shipfrom')">
        Đặt làm địa chỉ mặc định
      </mat-slide-toggle>
    </div>
  </div>
  <shared-dropdown-actions
     [dropdownActions]="dropdownActions"
     [rightSide]="true">
  </shared-dropdown-actions>
</div>
