<button class="btn btn-default" [ngClass]="button?.cssClass"
        (click)="handleClick()">
  <i [ngClass]="button?.icon"></i>
  <span [innerHtml]="button?.title" [ngClass]="button?.titleClass"></span>
</button>
