<div class="page-content pb-0" [ngClass]="{'h-100': (mtList$ | async)?.length > 0}">
  <div class="page-wrapper">
    <etop-table
      #transactionTable
      [items]="mtList$ | async"
      (requestNewPage)="loadPage($event)"
      [show_paging]="(mtList$ | async)?.length > 0 && showPaging">
      <ng-template #header let-liteMode="liteMode">
        <div class="col">
          <span class="table-header-text">Mã phiên</span>
        </div>
        <div class="col">
          <span class="table-header-text">Ngày chuyển </span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <div class="col">
          <span class="table-header-text">Số Đơn hàng</span>
        </div>
        <div class="col">
          <span class="table-header-text">Tổng tiền thu hộ</span>
        </div>
        <div class="col">
          <span class="table-header-text">Tổng chi phí</span>
        </div>
        <div class="col">
          <span class="table-header-text">Tổng tiền còn lại</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <etop-empty-page [title]="emptyTitle" [type]="emptyType"></etop-empty-page>
      </ng-template>

      <ng-template #item let-mt="item" let-liteMode="liteMode">
        <div
          class="row table-row" topship-mt-row [class.active]="isActiveMt(mt)"
          [transaction]="mt" [liteMode]="liteMode">
        </div>
      </ng-template>
    </etop-table>
    <etop-side-slider #slider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <div *ngIf="onCreateMtTransfer" class="close-slide mr-2" (click)="onCreateMtTransfer = false;">
              <i class="fa fa-chevron-left" style="left: 47%; top: 53%;" aria-hidden="true"></i>
            </div>
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng<mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>
    </etop-side-slider>
  </div>
</div>
