.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    color: #444;
    background-color: #ffffff;
    margin-bottom: .8rem;
    box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.04);
    .carrier-info {
      text-align: left;
      .carrier-display {
        text-transform: uppercase;
        font-weight: bold;
        opacity: .9;
      }
    }
      .cod-amount {
        text-align: right;
        font-size: 1.1rem;
      }

    .carrier-logo {
      width: 30px;
      height: 30px;
      object-fit: contain;
      object-position: center;
      border: 1px solid #eee;
      border-radius: 100%;
      //filter: grayscale(1);
    }

    .carrier-info {
      margin-right: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .carrier-image {
      position: relative;
      margin-right: .75rem;
      img:not(.topship-logo) {
        width: 2.3rem;
        height: 2.3rem;
        object-fit: contain;
        object-position: center;
        border: 1px solid #eee;
        border-radius: 100%;
      }

      .topship-logo {
        position: absolute;
        width: 1.15rem;
        height: 1.15rem;
        bottom: 3px;
        right: 0;
      }
    }
  }

  .announce-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  .announce-img {
    width: 5.8rem;
    margin: 1.25rem 0;
  }

  .order-code {
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .warning-section {
    background: rgba(243, 156, 18, .2);
    padding: 2rem 1.25rem;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      font-size: 1.1rem;
    }
  }

  .order-info {
    box-shadow: 0 5px 0 0 rgba(0,0,0,.05);
    padding: 1.6rem 1.25rem;
    color: #777;
    &:last-child {
      box-shadow: none;
    }
    .title {
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .customer-name {
      margin-bottom: .5rem;
    }
    a {
      color: #666;
    }
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.6rem;
    background-color: #ffffff;
    .btn {
      font-size: 1.1rem;
      padding: 1rem 1.6rem;
      margin-bottom: 1.25rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    ion-toolbar {
      margin-bottom: 1.6rem;
    }
    .btn-text {
      font-size: 1.3rem;
    }
  }

.ion-page {
  .info-section {
    padding: 1.5rem;
    margin-bottom: 0.8rem;
    background-color: #ffffff;
    box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.04);
    &:last-child {
      margin-bottom: 0;
    }
    .title {
      margin-bottom: .75rem;
      opacity: .7;
      color: #4A4A4A;
      font-weight: bold;
      font-size: 1.2rem;
    }
    .customer-name {
      font-size: 1.1rem;
      margin-bottom: 0.4rem;
      font-weight: bold;
      opacity: .8;
    }
  }
}


  .order-status {
    display: flex;
    align-items: center;
    &.P {
      color: var(--ion-color-success)
    }
    &.Z {
      color: var(--ion-color-medium);
    }
  }
  .connection-image {
    width: 2rem;
    border: 1px solid #eee;
    border-radius: 100%;
    object-fit: contain;
    margin-right: 7px;
  }

  .default-info {
    padding-bottom: 2rem;
  }

  .larg-font {
    font-size: 1.2rem;
  }
