<div class="ion-page" id="posId">
    <ion-content>
        <ng-container *ngIf="!loading">
            <div class="header">
                <img [src]="confirmStatusImg" alt="" class="announce-img">
                <div class="announce-title">Tạo đơn hàng thành công</div>
                <img id="shipping-barcode" alt="{{ffm?.shipping_provider}}">

                <div class="ion-flex ion-align-items-center w-100 ion-margin-top">
                    <div class="carrier-info">
                        <div class="carrier-image">
                            <img src="{{ffm?.shipping_provider_logo}}" alt="">
                            <img *ngIf="ffm?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
                        </div>
                        <div class="carrier-name">
                            <ion-text class="font-14 text-medium">Nhà vận chuyển</ion-text>
                            <div class="text-gray carrier-display">{{ffm?.carrier_display}}</div>
                        </div>
                    </div>
                    <div class="cod ion-text-end">
                        <ion-text class="font-14 text-medium">Tiền thu hộ (COD)</ion-text>
                        <div class="font-bold">
                            <ion-text color="primary" class="cod-amount">{{ffm?.total_cod_amount | vnd}}đ</ion-text>
                        </div>
                    </div>
                </div>
            </div>
            <div class="warning-section" *ngIf="hasError">
                <span style="width: 70%">Có lỗi xảy ra khi xác nhận đơn hàng</span>
                <button class="btn btn-warning" (click)="retryConfirm()">Thử lại</button>
            </div>
            <div class="info-section">
                <div class="title">Người nhận</div>
                <div class="content">
                    <div class="customer-name">{{ffm?.shipping_address?.full_name}} - {{ffm?.shipping_address?.phone}}</div>
                    <div>{{customerAddress}}</div>
                </div>
            </div>

            <div class="button-wrapper">
                <ion-toolbar>
                    <div class="footer-buttons ion-flex">
                        <button type="submit" class="w-100 bg-primary text-white footer-button-item " (click)="newOrder()">
              <ion-text class="btn-text">Tạo đơn khác</ion-text>
            </button>
                    </div>
                </ion-toolbar>
                <ion-toolbar>
                    <div class="footer-buttons ion-flex">
                        <button type="submit" class="w-100 btn btn-default btn-outline footer-button-item " (click)="viewOrders()">
              <ion-text class="btn-text">Xem danh sách đơn hàng</ion-text>
            </button>
                    </div>
                </ion-toolbar>
            </div>
        </ng-container>
    </ion-content>
</div>