<div class="line d-flex align-items-center">
  <span class="square-item mr-2" [ngStyle]="{'background-color':ticketLabel.color}"></span>
  <div class="max-line">{{ticketLabel.name}}</div>
  <div class="ml-auto">
    <shared-dropdown-actions
      [dropdownActions]="dropdownActions" [rightSide]="true">
    </shared-dropdown-actions>
  </div>
</div>
