<ion-header class="header" >
  <ion-text class="modal-title">Kết nối nhà vận chuyển</ion-text>
</ion-header>
<div scrollY="true">
    <div class="modal-body" >
      <div class="selected-carrier-item d-flex flex-column align-items-center p-4">
        <img class="selected-carrier-img" src="{{connection?.provider_logo }}" alt="" />
        <div class="selected-info">
          <div class="selected-carrier-name">{{connection?.name | uppercase}}</div>
          <div class="font-12 ion-text-center">
            Kết nối với {{connection?.name | uppercase }} bằng cách dùng
            <span *ngIf="connection?.connection_provider != 'partner'">tài khoản sẵn có hoặc đăng ký tài khoản mới.</span>
            <span *ngIf="connection?.connection_provider == 'partner'">User ID và Token.</span>
          </div>
        </div>
      </div>
      <div class="tabs" *ngIf="connection?.connection_provider != 'partner'">
        <div class="tab" [class.active]="tab == 'login'" (click)="switchTab('login')">
          Đăng nhập
        </div>
        <div class="tab" [class.active]="tab == 'register'" (click)="switchTab('register')">
          Đăng kí
        </div>
      </div>
      <div *ngIf="connection?.connection_provider == 'partner'" class="inputs-wrapper">
        <ion-input
          [(ngModel)]="loginByToken.user_id"
          type="text" class="input" placeholder="User ID">
        </ion-input>
        <ion-input
          [(ngModel)]="loginByToken.token"
          type="text" class="input" placeholder="Token">
        </ion-input>
      </div>
      <ng-container *ngIf="connection?.connection_provider != 'partner'">
        <div *ngIf="tab == 'login'" class="inputs-wrapper">
          <ion-input
            [(ngModel)]="loginInfo.email"
            type="email" class="input ion-padding-horizontal" placeholder="Email">
          </ion-input>
          <ion-input
            [(ngModel)]="loginInfo.password"
            type="password" class="input" placeholder="Password">
          </ion-input>
        </div>
        <div *ngIf="tab == 'register'" class="inputs-wrapper">
          <ion-input
            [(ngModel)]="registerInfo.name"
            type="text" class="input" placeholder="Họ tên"></ion-input>
          <ion-input
            [(ngModel)]="registerInfo.phone"
            type="text" pattern="[0-9]*" class="input" placeholder="Số điện thoại">
          </ion-input>
          <ion-input
            [(ngModel)]="registerInfo.email"
            type="email" class="input" placeholder="Email">
          </ion-input>
          <ionfabo-select-suggest
            position="fixed"
            [hasLabel]="false"
            placeholder="Tỉnh/Thành phố"
            [options]="provinces"
            [(ngModel)]="selectedProvinceCode"
            (ngModelChange)="onProvinceSelected($event)"
          >
          </ionfabo-select-suggest>
          <ionfabo-select-suggest
            position="fixed"
            [hasLabel]="false"
            placeholder="Chọn quận huyện"
            [options]="districts"
            [(ngModel)]="selectedDistrictCode"
            (ngModelChange)="onDistrictSelected($event)">
          </ionfabo-select-suggest>
          <ion-input
            [(ngModel)]="registerInfo.address"
            type="email" class="input" placeholder="Địa chỉ cụ thể">

          </ion-input>
          <ion-input
            *ngIf="connection.connection_provider == 'ghn'"
            [(ngModel)]="registerInfo.password"
            type="password" class="input" placeholder="Password"></ion-input>
          <div *ngIf="connection?.connection_provider == 'ghtk'" class="password-note">
            GHTK không yêu cầu nhập mật khẩu khi đăng ký tài khoản, mật khẩu sẽ
            được gửi qua email khi bạn đăng ký thành công. Vui lòng kiểm tra
            email để lấy mật khẩu sử dụng cho những lần đăng nhập sau.
          </div>
        </div>
      </ng-container>
    </div>
    <div class="modal-footer ion-padding">
      <div class="button-wrapper w-100 ion-flex ion-justify-content-between">
        <button [disabled]="loading" class="btn btn-default btn-outline ion-margin-end" (click)="closeConnectionModal()"> Đóng</button>
        <button [disabled]="loading" class="btn btn-topship  ml-1" (click)="doConnect()">
          <i class="fa fa-spin fa-circle-o-notch font-12" *ngIf="loading"></i>
          <ion-spinner size="small" name="lines-small" class="text-white" style="font-size: .5rem!important" *ngIf="loading"></ion-spinner>
          &nbsp;Kết nối
        </button>
      </div>
    </div>
</div>
