.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--ion-color-light-shade);
  .modal-title {
    font-weight: 700;
    line-height: 1.5;
  }
}

.selected-carrier-item {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .selected-carrier-img{
    width: 100px;
  }
  .selected-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .selected-carrier-name {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.button-wrapper {
  font-size: 12px;
  button {
    flex-grow: 1;
  }
}

.modal-footer {
  padding: 1rem;
  border-top: 1px solid var(--ion-color-medium-tint);
}

.inputs-wrapper {
  padding: 1rem;
}

ion-input.input, ion-select.input {
  width: 100%;
  //padding: 5px 10px!important;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  background-color: #fcfcfc;
  display: block;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #aaa;
    font-weight: 300;
  }
  &:last-child {
    margin: 0;
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  height: 40px;
  color: #999;
  .tab {
    border-bottom: 2px solid #ddd;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      color: var(--ion-color-topship);
      border-color: var(--ion-color-topship);
    }
  }
}

ionfabo-select-suggest::ng-deep {
  .input-wrapper {
    padding: 0px;
  }
}

.password-note {
  padding: .5rem;
  background: var(--ion-color-light);
}
