<div class="d-flex justify-content-between align-items-center w-100">
  <div class="slider-detail-info-title mb-0">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    THÔNG TIN ĐƠN GIAO HÀNG
  </div>
  <div class="text-right">
    <button
      class="btn btn-primary btn-outline d-flex align-items-center"
      [matMenuTriggerFor]="updateFfmOptions"
      *ngIf="!(getTicketRefTypeLoading$ | async) && fulfillment?.status != 'N'">
      Hành động <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #updateFfmOptions="matMenu">
      <button mat-menu-item (click)="updateFfm()" *ePermissions="['admin/fulfillment:update']">
        Chỉnh sửa thông tin
      </button>
      <button mat-menu-item (click)="updateCompensationAmount()" *eRoles="['admin', 'ad_accountant']">
        Xử lý bồi hoàn
      </button>
      <button mat-menu-item (click)="updateShippingState()" *eRoles="['admin', 'ad_customerservice_lead']">
        Chỉnh sửa trạng thái
      </button>
      <button mat-menu-item (click)="updateShippingFees()" *ePermissions="['admin/fulfillment_shipping_fees:update']">
        Chỉnh sửa cước phí
      </button>
      <button mat-menu-item (click)="doRedelivery()" *ePermissions="['admin/fulfillment:update']">
        Tính phí kích hoạt giao lại
      </button>
    </mat-menu>
  </div>
</div>
<div
  *ngIf="getTicketRefTypeLoading$ | async"
  class="d-flex align-items-center justify-content-center w-100" style="height: 200px;">
  <mat-spinner color="primary" diameter="25"></mat-spinner>
</div>

<ng-container *ngIf="!(getTicketRefTypeLoading$ | async)">
  <div class="d-flex align-items-center">
    <img class="avatar" alt="" src="{{fulfillment?.shipping_provider_logo}}">
    <div class="pl-2">
      <div class="d-flex align-items-center">
        <span class="text-bold text-primary mr-3">{{fulfillment?.shipping_code}}</span>
        <span class="status status-{{fulfillment?.shipping_state}}">
              {{fulfillment?.shipping_state_display}}
            </span>
      </div>
      <div class="lower-medium-font">{{fulfillment?.carrier_display | uppercase}}</div>
    </div>
  </div>
  <mat-tab-group disableRipple>
    <mat-tab label="Thông tin">
      <div class="ref-info-wrapper">
        <div class="info-item">
          <div class="info-title">Ngày tạo:</div>
          <div class="info-value text-bold">{{fulfillment?.created_at | date: 'HH:mm dd/MM/yyyy'}}</div>
        </div>
        <div class="info-item">
          <div class="info-title">Gói vận chuyển:</div>
          <div class="info-value text-bold">{{fulfillment?.shipping_service_name}} ({{fulfillment?.shipping_service_fee | number}}đ)</div>
        </div>
        <div class="info-item">
          <div class="info-title">Dự kiến:</div>
          <div class="info-value" [class.text-bold]="fulfillment?.estimated_pickup_at || fulfillment?.estimated_delivery_at">
            <span>Lấy: {{(fulfillment?.estimated_pickup_at | date: 'HH:mm dd/MM') || '-'}}.&nbsp;</span>
            <span>Giao: {{(fulfillment?.estimated_delivery_at | date: 'dd/MM') || '-'}}.</span>
          </div>
        </div>
        <div class="info-item">
          <div class="info-title">Thu hộ:</div>
          <div class="info-value text-bold">{{fulfillment?.total_cod_amount | number}}đ</div>
        </div>
        <div class="info-item">
          <div class="info-title">Khai báo:</div>
          <div class="info-value text-bold">
            {{fulfillment?.total_amount | number}}đ ({{fulfillment?.include_insurance ? 'Có' : 'Không'}} bảo hiểm)
          </div>
        </div>
        <div class="info-item">
          <div class="info-title">Khối lượng:</div>
          <div class="info-value text-bold">{{fulfillment?.chargeable_weight | number}}đ</div>
        </div>
        <div class="info-item">
          <div class="info-title">Ghi chú xem hàng:</div>
          <div class="info-value" [class.text-bold]="fulfillment?.try_on">
            {{fulfillment?.try_on_display || '-'}}
          </div>
        </div>
        <div class="info-item">
          <div class="info-title">Ghi chú giao hàng:</div>
          <div class="info-value" [class.text-bold]="fulfillment?.shipping_note">
            {{fulfillment?.shipping_note || '-'}}
          </div>
        </div>
        <div class="info-item">
          <div class="info-title">Lấy hàng:</div>
          <div class="info-value text-bold">
            {{fulfillment?.pickup_address?.full_name}}
            -
            {{fulfillment?.pickup_address?.phone}}
            -
            {{fulfillment?.pickup_address | addressDisplay}}
          </div>
        </div>
        <div class="info-item">
          <div class="info-title">Giao hàng:</div>
          <div class="info-value text-bold">
            {{fulfillment?.shipping_address?.full_name}}
            -
            {{fulfillment?.shipping_address?.phone}}
            -
            {{fulfillment?.shipping_address | addressDisplay}}
          </div>
        </div>
        <div class="info-item">
          <div class="info-title">Ghi chú admin:</div>
          <div class="info-value" [class.text-bold]="fulfillment?.admin_note">
            {{fulfillment?.admin_note || '-'}}
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Chi tiết phí">
      <div class="ref-info-wrapper">
        <div class="info-item" *ngFor="let fee of fulfillment?.shipping_fee_shop_lines">
          <div class="info-title">{{fee?.shipping_fee_type_display}}:</div>
          <div class="info-value text-bold">{{(fee?.cost | number)}}đ</div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Ticket trên cùng đơn">
      <div class="ref-info-wrapper">
        <div class="empty" *ngIf="!fulfillment?.tickets?.length">
          Không có ticket nào khác cùng đơn.
        </div>
        <div class="info-item" *ngFor="let ticket of fulfillment?.tickets">
          <div class="info-title">
            <span class="text-bold text-primary cursor-pointer" (click)="selectTicket(ticket)">{{ticket?.code}}</span>
            - {{ticket?.title}}
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>
