.ref-info-wrapper {
  margin-top: 1.5rem;
}

.info-item {
  display: flex;
  padding: .75rem 0;
  border-bottom: 1px solid var(--gray-color);
  &:first-child {
    border-top: 1px solid var(--gray-color);
  }
}

.info-title {
  flex: 1;
}

.info-value {
  width: 70%;
}
