<div class="dialog-header">
  <div class="dialog-title">Thêm nhân viên</div>
  <div class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div class="dialog-body p-4">
  <div class="mb-4" >
    <etop-material-input
      textLabel="Tên nhân viên*" placeholder="Tên nhân viên*" type="input"
      [(ngModel)]="staff.full_name">
    </etop-material-input>
  </div>
  <div class="mb-4" >
    <etop-material-input 
      textLabel="Số điện thoại*" placeholder="Số điện thoại*" type="input"
      class="mb-4" [(ngModel)]="staff.phone">
    </etop-material-input>
  </div>
  <div class="mb-4" >
    <etop-material-input placeholder="Vai trò*" textLabel="Vai trò*" [optionSelect]="roleList"
      [(ngModel)]="staff.role" type="select">
    </etop-material-input>
  </div>
  <div class="mb-4" >
    <etop-material-input
      textLabel="Mật khẩu*" placeholder="Mật khẩu*" type="input"
      class="mb-4" [(ngModel)]="staff.password">
    </etop-material-input>
  </div>
  <div class="d-flex pt-1 px-1 align-items-end">
    <mat-checkbox class="mr-2" color="primary" [(ngModel)]="copied">
    </mat-checkbox>
    <div>Tôi đã sao chép mật khẩu trên vào nơi an toàn</div>
  </div>
</div>
<div class="dialog-footer text-right">
  <button class="btn btn-default btn-outline mr-3" (click)="closeDialog()" [disabled]="loading">Đóng</button>
  <button
    class="btn {{copied? 'btn-primary' : 'btn-default'}} text-white" (click)="createStaff()" [disabled]="loading || !copied">
    <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
    Thêm nhân viên
  </button>
</div>
