.transaction-body {
  padding: 15px;
  padding-bottom: 0;
}

.transaction-container {
  max-width: 100% !important;
}

.alert-warning {
  height: 100%;
  border: 1px solid var(--border-gray-color);
}

.fs-11-u {
  font-size: 11px;
  text-transform: uppercase;
}

.alert-warning.mind{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.top-title{
  margin-top: 0;
}

.shop-info-body{
  font-size: 1.5rem;
}



