<div class="ticket-detail">
  <div class="detail-header">
    <div class="d-flex justify-content-between w-100">
      <div class="ref-user-list">
        <div class="ref-user">
          <div class="lower-medium-font">Người tạo</div>
          <div class="text-bold">{{ticket?.from?.name || '-'}}</div>
        </div>
        <div class="ref-user">
          <div class="lower-medium-font">Xử lý</div>
          <div class="upper-medium-font" [class.text-bold]="ticket?.confirmed_by_name">
            {{ticket?.confirmed_by_name || '-'}}
          </div>
        </div>
        <div class="ref-user">
          <div class="lower-medium-font">Hoàn thành</div>
          <div class="upper-medium-font" [class.text-bold]="ticket?.closed_by_name">
            {{ticket?.closed_by_name || '-'}}
          </div>
        </div>
      </div>
      <div class="ticket-status-wrapper">
        <div class="ticket-status">
          <div class="lower-medium-font">Trạng thái</div>
          <div class="status status-{{ticket?.state}}">
            {{ticket?.state_display}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body hide-scrollbar">
    <div class="slider-detail-section">
      <div class="text-bold upper-medium-font">
        <span class="text-primary">{{ticket?.code}}</span> - {{ticket?.title}}
      </div>
      <div class="text-default lower-medium-font">
        Thời gian tạo: {{ticket?.created_at | date: 'HH:mm dd/MM/yyyy'}} -
        Nguồn: {{ticket?.source_display}}
      </div>
      <div
        class="mt-4" style="white-space: pre-line;"
        [innerHTML]="ticket?.description | safeHtml">
      </div>
    </div>

    <div class="slider-detail-section">
      <div class="row">
        <div class="col-12">
          <div class="slider-detail-info-title">
            <i class="fa fa-circle text-primary smaller-font mr-2"></i>
            GHI CHÚ
          </div>
          <div class="empty" *ngIf="!ticket?.note">
            Chưa có ghi chú
          </div>
        </div>
      </div>
    </div>
