import-carrier-connect::ng-deep {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-y: auto;
  .setting-box {
    width: 50rem;
    margin: auto;
  }
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}
