<ng-container *ngIf="!(connectionsLoading$ | async) else hasLoading;">
  <import-carrier-connect *ngIf="!(connectedConnectionsList$ | async)?.length"></import-carrier-connect>
  <etop-import-ffm
    *ngIf="(connectedConnectionsList$ | async)?.length"
    color="primary" [isDirect]="isDirect" [isBuiltin]="isBuiltin" [connectionIDs]="connectionIDs" #importFfm>
  </etop-import-ffm>
</ng-container>
<ng-template #hasLoading>
  <div class="loading-wrapper">
    <div>
      <img src="{{config?.logo}}" alt="" width="100px">
    </div>
    <img src="{{config?.loadingSvg}}" alt="" width="80px" style="margin-top: -10px">
  </div>
</ng-template>
