ion-icon {
    position: absolute;
    right: 0;
    bottom: 10px;
    opacity: 0.5;
}

ion-item {
    position: relative;
}

ion-label {
    &.label-stacked {
        font-size: 1rem;
    }
}

.item-click {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.is-invalid {
    --placeholder-color: var(--ion-color-danger-shade);
    --placeholder-opacity: 1;
  }

  .item-is-invalid {
    --border-color: var(--ion-color-danger-shade) !important;
  }

  .custom-input {
    ion-input {
      text-overflow: ellipsis;
      padding-right: 1rem !important;
    }
    ion-input::ng-deep {
        .native-input {
            padding: 0.2rem 0 !important;
        }
    }
    ion-icon {
        bottom: 0.4rem;
    }
  }

.fix-item-suggest{
    ion-icon{
        position: relative;
        opacity: 0.5;
        padding-top: 18px;
        padding-right: 5px;
    }
    padding: 0 0 0 18px !important;
}

.fix-input-suggest{
    padding-right: 5px !important;
    text-align: end;
}
