<div class="modal-header">
  <h5 class="modal-title" *ngIf="!ledger?.id">Thêm tài khoản thanh toán mới</h5>
  <h5 class="modal-title" *ngIf="ledger?.id">Cập nhật tài khoản thanh toán</h5>
  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container [formGroup]="ledgerForm">
    <div class="py-2">
      <etop-material-input
        placeholder="Nhập tên tài khoản thanh toán" textLabel="Tên tài khoản thanh toán*"
        formControlName="name" type="input">
      </etop-material-input>
    </div>
    <div class="py-2">
      <etop-material-input-autocomplete
        placeholder="Chọn ngân hàng" textLabel="Ngân hàng*" [options]="banksList$ | async"
        [displayMap]="bankDisplayMap" [valueMap]="bankValueMap"
        formControlName="bankCode">
      </etop-material-input-autocomplete>
    </div>
    <div class="py-2">
      <etop-material-input-autocomplete
        placeholder="Chọn tỉnh" textLabel="Tỉnh*" [options]="(bankProvincesList$ | async) || []"
        [displayMap]="bankDisplayMap" [valueMap]="bankValueMap"
        formControlName="bankProvinceCode">
      </etop-material-input-autocomplete>
    </div>
    <div class="py-2">
      <etop-material-input-autocomplete
        placeholder="Chọn chi nhánh" textLabel="Chi nhánh*" [options]="(bankBranchesList$ | async) || []"
        [displayMap]="bankDisplayMap" [valueMap]="bankValueMap"
        formControlName="bankBranchCode">
      </etop-material-input-autocomplete>
    </div>
    <div class="py-2">
      <etop-material-input
        placeholder="Nhập tên chủ tài khoản" textLabel="Tên chủ tài khoản*" type="input"
        formControlName="accountName"
        (blur)="formatName()">
      </etop-material-input>
    </div>
    <div class="py-2">
      <etop-material-input
        placeholder="Số tài khoản" textLabel="Số tài khoản*" type="input"
        formControlName="accountNumber">
      </etop-material-input>
    </div>
    <div class="py-2">
      <etop-material-input
        placeholder="Nhập ghi chú" textLabel="Ghi chú" type="text-area"
        formControlName="note">
      </etop-material-input>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button class="btn btn-primary text-white" [disabled]="loading" (click)="confirm()">
    <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
    <span *ngIf="ledger?.id">Cập nhật</span>
    <span *ngIf="!ledger?.id">Tạo</span>
  </button>
</div>
