<div class="d-flex align-items-center justify-content-between p-3 e-border-bottom" style="height: 54px">
  <div class="dropdown d-flex align-items-center justify-content-between w-100">
    <div class="dropdown-toggle page-name" id="selectFP" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img [imageLoader]="currentPage?.external_image_url || 'assets/images/logo_medium.png'" src="assets/images/placeholder_medium.png" alt="logo"
           width="40">
      <span *ngIf="currentPage?.external_name">{{currentPage?.external_name}}</span>
      <span *ngIf="!currentPage?.external_name">Tất cả Fanpage ({{pages?.length}})</span>
    </div>
    <div class="dropdown-menu" aria-labelledby="selectFP">
      <div class="dropdown-item" (click)="selectPage(null)">
        <img src="assets/images/logo_medium.png" alt="logo" width="40">
        Tất cả Fanpage ({{pages?.length}})
      </div>
      <div class="dropdown-item page-name" *ngFor="let page of pages" (click)="selectPage(page)">
        <img [imageLoader]="page.external_image_url" src="assets/images/placeholder_medium.png" alt="logo" width="40">
        {{page.external_name}}
      </div>
    </div>
    <div class="d-xl-none">
      <div class="cursor-pointer d-flex align-items-center button-icon ml-auto"  (click)="searchMessage()">
        <span class="material-icons" style="font-size: 15px; margin: auto;">search</span>
      </div>
    </div>
    <div class="d-none d-xl-block">
      <div class="cursor-pointer button-icon-text d-flex align-items-center ml-auto"  (click)="searchMessage()"  >
        <span class="material-icons" style="font-size: 15px; margin: auto;">search</span>
        <div>Tìm kiếm</div>
      </div>
    </div>
  </div>
  <!-- <div class="search">
    <i class="fa fa-search" aria-hidden="true"></i>
  </div> -->
</div>
<div class="filter d-flex e-border-bottom">
  <div class="form-group w-50 m-0 e-border-right py-2 px-2">
    <select class="form-control border-0 message-status" [(ngModel)]="selected_is_read" (ngModelChange)="invokeChange()">
      <option *ngFor="let item of is_read_arr" value="{{item.value}}">{{item.name}}</option>
    </select>
  </div>
  <div class="form-group w-50 m-0 py-2 px-2">
    <select class="form-control border-0" [(ngModel)]="selected_type" (ngModelChange)="invokeChange()">
      <option *ngFor="let item of type_arr" value="{{item.value}}">{{item.name}}</option>
    </select>
  </div>
</div>
