:host {
  height: calc(100% - 1rem);
}

.e-border-bottom {
  border-bottom: 1px solid #eee;
}

.e-border-right {
  border-right: 1px solid #eee;
}

.dropdown {
  width: calc(100% - 1rem);

  .dropdown-menu {
    border: 1px solid #eee;
    border-radius: 10px;
    height: auto;
    max-height: 400px;
    overflow-y: auto;
    .dropdown-item {
      cursor: pointer;
      padding: 0.75rem 2rem;
    }
  }

  .dropdown-toggle {
    cursor: pointer;
    flex: 1;
  }
  .dropdown-toggle,
  .dropdown-menu {
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1rem;
      border: 1px solid #eee;
    }
  }
}

.page-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-status {
  min-width: 10rem;
}


.button-icon {
  background: var(--primary-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color:#FFFFFF;
  border: 1px solid
}

.button-icon-text {
  background: var(--primary-color);
  border-radius: 20px;
  color:#FFFFFF;
  border: 1px solid;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  margin-left: 0.25rem;
}
