<div class="page-content no-print pb-0">
  <div class="page-wrapper">
    <etop-table
      #fulfillmentTable
      [items]="fulfillmentList"
      (requestNewPage)="loadPage($event)"
      [show_paging]="fulfillmentList?.length && showPaging">
      <ng-template #header let-liteMode="liteMode">
        <div class="col" style="min-width: 17.5%;">
          <span class="table-header-text">Mã giao hàng</span>
        </div>
        <div class="col">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <ng-container *ngIf="!liteMode">
          <div class="col">
            <span class="table-header-text">Người nhận</span>
          </div>
          <div class="col">
            <span class="table-header-text">Khu vực</span>
          </div>
          <div class="col text-left">
            <span class="table-header-text">Khai báo</span>
          </div>
        </ng-container>
        <div class="col text-left">
          <span class="table-header-text">COD</span>
        </div>
        <ng-container *ngIf="!liteMode">
          <div class="col text-left">
            <span class="table-header-text">Tổng cước phí</span>
          </div>
          <div class="col">
            <span class="table-header-text">Đối soát</span>
          </div>
        </ng-container>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <img class="blank-img" src="assets/images/icon_ffm.png" alt="empty list"/>
          <div class="blank-content">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
          <div *ngIf="!emptyResultFilter">
            <div>
              Bạn có thể tạo đơn giao hàng bằng cách Import đơn giao hàng từ file Excel.
            </div>
            <div class="text-center mt-4">
              <button class="btn btn-primary" (click)="gotoImport()">
                Import
              </button>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-ffm="item" let-liteMode="liteMode">
        <div
          import-fulfillment-row class="row table-row" [class.active]="isActive(ffm)"
          [fulfillment]="ffm" [liteMode]="liteMode" (click)="detail(ffm)">
        </div>
      </ng-template>
    </etop-table>
    <etop-side-slider #slider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            <div class="tabs-container">
              <ng-container *ngFor="let tab of tabs">
                <div
                  class="tab" [class.active]="activeTab == tab?.value" (click)="changeTab(tab?.value)">
                  {{ tab?.name }}
                </div>
              </ng-container>
            </div>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>

      <import-single-ffm-detail
        *ngIf="selectedFfms?.length" [ffm]="selectedFfms[0]" [activeTab]="activeTab">
      </import-single-ffm-detail>
    </etop-side-slider>
  </div>
</div>
