<div class="modal-header">
  <h5 class="modal-title">Chọn địa chỉ giao hàng</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <ng-container *ngIf="toUpdate || toCreate; else onlySelect;">
    <div style="padding: 10px;">
      <span class="d-inline-flex align-items-center cursor-pointer text-primary" (click)="toUpdate = false; toCreate = false;">
        <i class="fa fa-chevron-left mr-2 text-primary"></i>
        Quay lại
      </span>
    </div>
    <ng-container [formGroup]="customerAddressForm">
      <div class="form-group">
        <etop-material-input
          type="input" placeholder="Nhập tên khách hàng" textLabel="Tên khách hàng (*)"
          formControlName="full_name">
        </etop-material-input>
      </div>
      <div class="form-group">
        <etop-material-input
          type="input" placeholder="Nhập số điện thoại khách hàng" textLabel="Số điện thoại khách hàng (*)"
          formControlName="phone">
        </etop-material-input>
      </div>
      <div class="form-group">
        <etop-material-input-autocomplete
          placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành (*)" [options]="provincesList$ | async"
          [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
          formControlName="province_code">
        </etop-material-input-autocomplete>
      </div>
      <div class="form-group">
        <etop-material-input-autocomplete
          placeholder="Chọn quận huyện" textLabel="Quận huyện (*)" [options]="(districtsList$ | async) || []"
          [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
          formControlName="district_code">
        </etop-material-input-autocomplete>
      </div>
      <div class="form-group">
        <etop-material-input-autocomplete
          placeholder="Chọn phường xã" textLabel="Phường xã (*)" [options]="(wardsList$ | async) || []"
          [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
          formControlName="ward_code">
        </etop-material-input-autocomplete>
      </div>
      <div class="form-group">
        <etop-material-input
          type="input" placeholder="Nhập địa chỉ cụ thể" textLabel="Địa chỉ cụ thể (*)"
          formControlName="address1">
        </etop-material-input>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #onlySelect>
    <div class="d-flex align-items-center justify-content-between address-wrapper" *ngFor="let address of addresses; let i = index;">
      <div class="d-flex align-items-center">
        <label class="mb-0" (click)="onSelectAddress(address, i)">
          <input type="radio" [checked]="address.p_data.selected">
        </label>
        <div class="d-flex flex-column address-info cursor-pointer" (click)="onSelectAddress(address, i)">
          <div class="font-weight-bold">{{address.full_name}} - {{address.phone}}</div>
          <div>{{address | addressDisplay}}</div>
        </div>
      </div>
      <div>
        <button class="btn btn-primary btn-outline border-0" (click)="updateSelectedAddress(address, i)">
          <i class="fa fa-pencil mr-2"></i>
          Chỉnh sửa
        </button>
      </div>
    </div>
  </ng-template>
  <div style="padding: 10px;" *ngIf="!toCreate">
    <span class="d-inline-flex align-items-center cursor-pointer text-primary" (click)="addMoreAddress()">
      <i class="fa fa-plus mr-2 text-primary"></i>
      Thêm địa chỉ mới
    </span>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button class="btn btn-primary text-white" (click)="confirm()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    {{toUpdate ? 'Cập nhật' : (toCreate ? 'Thêm' : 'Xác nhận')}}
  </button>
</div>


