<ion-header>
  <ion-toolbar>
    <ion-title>Thiết lập thông báo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="warning-box ion-flex ion-align-items-center" *ngIf="permissionNoti == 'denied'">
    <ion-icon class="font-bold" name="notifications-outline"></ion-icon>
    <ion-text style="flex: 1; margin-right: 0.5rem">Cho phép Faboshop nhận thông báo để nhận cập nhật về tin nhắn và
      trạng thái đơn hàng.</ion-text>
    <div class="ion-flex ion-align-items-center flex-column" (click)="goSettingApp()">
      <ion-text class="font-bold">Thiết lập</ion-text>
    </div>
  </div>
  <div class="list-topic">
    <div class="setting-item" *ngFor="let topic of topics">
      <ion-item lines="none">
        <ion-label style="white-space: unset; padding-right: 1rem">
          <div class="font-bold topic">{{topic?.title}}</div>
          <ion-text class="desciption fix-line-2">{{topic?.description}}</ion-text>
        </ion-label>
        <ion-toggle [ngModel]="topic.enable" (click)="toggleSetting(topic)"></ion-toggle>
      </ion-item>
    </div>
  </div>
</ion-content>