<td class="font-weight-bold">{{staff?.full_name}}</td>
<td style="color: var(--default-color);">{{staff?.email}}</td>
<td>{{staff?.roles_display}}</td>
<td class="text-right" style="max-width: 8rem;" *ngIf="!isOwner">
  <shared-dropdown-actions
   *ngIf="checkPermission()" [dropdownActions]="dropdownActions" [rightSide]="true">
  </shared-dropdown-actions>
</td>
