<div class="modal-header">
  <h5 class="modal-title">Bổ sung thông tin giao hàng</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="unchangeable-info">
    <div>Mã đơn hàng: <strong>{{order?.code}}</strong></div>
    <div>Ngày tạo: <strong>{{order?.created_at | date: 'HH:mm dd/MM/yyyy'}}</strong></div>
    <div>Nguồn: <strong>{{order?.source_display}}</strong></div>
    <div>Khách phải trả: <strong>{{order?.code}}</strong> ({{order?.total_items}})</div>
  </div>
  <div class="title">Bắt buộc</div>
  <div class="row">
    <div class="py-2 col-6">
      <etop-material-input-format-number
        formatNumberUnit="g" textLabel="Khối lượng" placeholder="Nhập khối lượng"
        [topshipInput]="true" [disabled]="uni.chargeable_weight"
        [error]="error.weight" errorMessage="Vui lòng nhập khối lượng từ 50g trở lên!" (blur)="onChangeWeight()"
        ngbTooltip="Bạn đang áp dụng khối lượng chung cho tất cả đơn hàng." placement="top" container="body"
        [disableTooltip]="!uni.chargeable_weight" [(ngModel)]="order.p_data.shipping.chargeable_weight">
      </etop-material-input-format-number>
    </div>
    <div class="py-2 col-6">
      <etop-material-input-format-number
        formatNumberUnit="đ" textLabel="COD" placeholder="Nhập COD"
        [topshipInput]="true" [error]="error.cod" (blur)="onChangeCOD()"
        [(ngModel)]="order.p_data.shipping.cod_amount">
      </etop-material-input-format-number>
    </div>
    <div class="py-2 col-12">
      <etop-material-input textLabel="Địa chỉ giao hàng" type="custom">
        <span class="overflow-text" (click)="editShippingAddress()">
          {{addressDisplay}}
        </span>
      </etop-material-input>
    </div>
  </div>
  <div class="title">Không bắt buộc</div>
  <div class="row">
    <div class="py-2 col-6">
      <etop-material-input
        textLabel="Ghi chú xem hàng" type="select" [optionSelect]="tryOnOptions"
        [topshipInput]="true" [disabled]="uni.try_on"
        ngbTooltip="Bạn đang áp dụng ghi chú xem hàng chung cho tất cả đơn hàng." placement="top" container="body"
        [disableTooltip]="!uni.try_on" [(ngModel)]="order.p_data.shipping.try_on">
      </etop-material-input>
    </div>
    <div class="py-2 col-6">
      <etop-material-input
        textLabel="Ghi chú giao hàng" placeholder="Nhập ghi chú giao hàng" type="input"
        [topshipInput]="true" [disabled]="uni.shipping_note"
        ngbTooltip="Bạn đang áp dụng ghi chú giao hàng chung cho tất cả đơn hàng." placement="top" container="body"
        [disableTooltip]="!uni.shipping_note" [(ngModel)]="order.p_data.shipping.shipping_note">
      </etop-material-input>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button class="btn btn-topship text-white" (click)="confirm()">Lưu</button>
</div>

