:host {
  position: relative;
  display: block;
}

.menu-item {
  height: var(--header-height);
  cursor: pointer;
  overflow: unset !important;
  background: var(--sidebar-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
  color: #777;
  &.active {
    .menu-icon {
      border-radius: 100%;
      background-color: var(--primary-color);
      img {
        filter: brightness(0) invert(1);
      }
      .mat-icon {
        color: #fff;
      }
    }
  }
  &.hovered {
    background: var(--gray-color);
  }
}

.menu-icon-container {
  width: var(--sidebar-menu-icon-height);
  height: var(--sidebar-menu-icon-height);
  text-decoration: none;
}

.menu-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    border-radius: 100%;
  }
  .mat-icon {
    font-size: 1.7rem !important;
    width: 100% !important;
    height: 100% !important;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
