<div class="menu-item" routerLinkActive="active" #rla="routerLinkActive" [class.hovered]="hovered"
  (mouseover)="onHoverMenu(menu)" (mouseleave)="onHoverMenu(null)">
  <a [routerLink]="menu.route" class="menu-icon-container" *ngIf="!menu.href">
    <div class="menu-icon" [ngStyle]="{'background-color': rla.isActive ? menu?.icon_color : ''}">
      <img *ngIf="menu?.icon" [src]="menu.icon" alt="">
      <mat-icon *ngIf="menu?.matIcon" fontSet="{{menu?.matIconOutlined && 'material-icons-outlined'}}">
        {{menu?.matIcon}}
      </mat-icon>
    </div>
  </a>
  <a [href]="menu.href" target="_blank" class="menu-icon-container" *ngIf="menu.href" (click)="checkFunction(menu)">
    <div class="menu-icon">
      <img *ngIf="menu?.icon" [src]="menu.icon" alt="">
      <mat-icon *ngIf="menu?.matIcon" fontSet="{{menu?.matIconOutlined && 'material-icons-outlined'}}">
        {{menu?.matIcon}}
      </mat-icon>
    </div>
  </a>
</div>
