<ion-header>
    <ion-toolbar>
        <ion-title>Chi tiết sản phẩm</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
            </ion-icon>
        </ion-buttons>
        <ion-buttons slot="end" (click)="presentActionSheet()" class="button-icon">
            <ion-icon name="menu-outline" class="text-white"></ion-icon>
            <ion-text>Thao tác</ion-text>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ng-container *ngIf="loading">
        <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 6rem; height: 6rem; margin: auto"></ion-skeleton-text>
            <ion-skeleton-text class="ion-margin-top" animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text class="ion-margin-top" animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text class="ion-margin-top" animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text class="ion-margin-top" animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text class="ion-margin-top" animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text class="ion-margin-top" animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </div>
    </ng-container>
    <div class="page-content w-100" *ngIf="!loading">
        <div class="ion-text-center ion-padding">
            <div class="product-image">
                <img [src]="product?.image || 'assets/images/placeholder_2.png'" alt="">
            </div>
        </div>
        <div class="info ion-padding">
            <div class="line-info">
                <ion-label>Tên sản phẩm</ion-label>
                <div class="content">{{product.name}}</div>
            </div>
            <div class="line-info">
                <ion-label>Giá bán</ion-label>
                <div class="content">{{priceCompare(product)}}</div>
            </div>
        </div>

        <div class="box-detail ion-padding-bottom">
            <div class="header font-bold ion-flex ion-justify-content-between ion-margin-horizontal ion-margin-top" (click)="toggleDetail()">
                <ion-text>Chi tiết</ion-text>
                <span>
            <ion-icon class="ion-padding-start icon-header" name="chevron-down-outline" *ngIf="toggle"></ion-icon>
            <ion-icon class="ion-padding-start icon-header" name="chevron-up-outline" *ngIf="!toggle"></ion-icon>
          </span>
            </div>
            <div class="info ion-padding" [ngClass]="{ 'ion-hide' : !toggle }">
                <div class="line-info">
                    <ion-label>Mã sản phẩm</ion-label>
                    <div class="content">{{product.code}}</div>
                </div>
                <div class="line-info">
                    <ion-label>Mô tả</ion-label>
                    <div class="content">{{product.description || '-'}}</div>
                </div>
            </div>
        </div>

        <div class="box-detail">
            <div class="header font-bold ion-flex ion-justify-content-between ion-margin" (click)="toggleVariant()">
                <ion-text>Mẫu mã ({{product.variants?.length}})</ion-text>
                <span>
            <ion-icon class="ion-padding-start icon-header" name="chevron-{{togglev ? 'down' : 'up'}}-outline"></ion-icon>
          </span>
            </div>
            <div class="items-list-row" [ngClass]="{ 'ion-hide' : !togglev }" *ngFor="let variant of product.variants; index as i">
                <div class="box">
                    <div class="ion-flex ion-align-items-center ion-justify-content-between">
                        <div class="ion-flex ion-align-items-center">
                            <div class="font-bold ion-align-self-start">
                                {{i + 1}}.
                            </div>
                            <div class="product-info ion-text-left">
                                <div class="normal-font fix-line-1">{{variant?.code || '-'}}</div>
                                <div class="small-font">
                                    <ion-text>
                                        {{joinAttrs(variant.attributes)}}
                                    </ion-text>
                                </div>
                            </div>
                        </div>
                        <div class="product-price normal-font font-bold">
                            {{variant?.price | vnd}}đ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>