.etop-products {
  .text {
    color: white;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .bg-image {
      width: 50px;
      padding-bottom: 50px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 10px;
      margin-right: 10px;
      position: relative;
      top: 3px;
    }
  }
  .etop-products-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .etop-product-item {
      padding: 7px 0;
      width: calc(50% - 1px);
      background-color: rgba(0, 0, 0, 0.07);
      text-align: center;
      cursor: pointer;
      img {
        width: 75%;
      }
      &:first-child {
        border-radius: 5px 0 0 5px
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}
@media (max-width: 425px) {
  .etop-products {
    .text {
      font-size: 13px;
      .bg-image {
        width: 40px;
        margin: 0 5px;
      }
    }
  }
}