/* You can add global styles to this file, and also import other style files */
.barcode{
    text-align:center;
}
.etop-report {
    .report-info {
        text-align: center;
    }
    .report-title {
        font-size: 2rem;
        font-weight: 800;
    }
    .table-header {
        text-align: left;
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
    }

    .report-body table {
        width: 100%;
        border-collapse: collapse;
        // border-top: 1px solid var(--border-gray-color);
        // border-bottom: 1px solid var(--border-gray-color);
    }

    .report-body tr td {
        border-bottom: 1px solid var(--border-gray-color);
        text-align: right;
        padding: 1rem;
    }

    .report-body tr:first-child {
        .table-header {
            text-align: right !important;
        }
    }
}
