<div class="alert alert-info mb-0 border-radius-0">
  Dịch vụ giao hàng tức thì hiện chỉ hỗ trợ giao hàng khu vực
  <strong>Thành phố Hồ Chí Minh</strong> và <strong>Hà Nội</strong>.
</div>

<div class="d-flex align-items-center e-border-bottom position-relative">
  <div class="p-3" style="min-width: 150px;">
    <img src="assets/images/circle_icon.png" alt="" width="14" class="mr-2" />
    Địa chỉ lấy hàng
  </div>
  <div class="flex-grow-1">
    <shared-select-multiline
      [options]="fromAddresses"
      [placeholder]="'Nhập địa chỉ lấy hàng'"
      [inputClass]="'text-topship'"
      [(ngModel)]="fromAddressIndex"
      [showPlaceholderFirst]="true"
      (ngModelChange)="setShopAddress()">
      <div class="text-center m-auto text-warning" (click)="newFromAddress()">
        Thêm địa chỉ lấy hàng mới
      </div>
    </shared-select-multiline>
  </div>
</div>
<div class="d-flex align-items-center e-border-bottom position-relative">
  <div class="p-3" style="min-width: 150px;">
    <img src="assets/images/address_icon.png" width="14" alt="" class="mr-2" />
    Địa chỉ giao hàng*
  </div>
  <div class="flex-grow-1">
    <shared-select-multiline
      [options]="toAddresses"
      [placeholder]="'Nhập địa chỉ giao hàng'"
      [inputClass]="'text-topship'"
      [(ngModel)]="toAddressIndex"
      [showPlaceholderFirst]="true"
      (ngModelChange)="setCustomerAddress()"
      (focus)="focusToAddress()">
      <div class="text-center m-auto text-warning" (click)="newToAddress()">
        Thêm địa chỉ giao hàng mới
      </div>
    </shared-select-multiline>
  </div>
</div>

<ng-template #available>
  <div class="d-flex align-items-center e-border-bottom" [class.error-row]="errorCOD">
    <div class="p-3 flex-grow-1" (click)="selectCODInput.next()">
      Thu hộ (COD)
      <i class="fa fa-info-circle text-topship ml-2"
         ngbTooltip="Tiền thu hộ là số tiền cuối cùng shop muốn khách hàng phải trả cho nhà vận chuyển"
         placement="bottom">
      </i>
    </div>
    <div class="p-3 w-25 d-flex">
      <etop-currency-input
        class="w-100 input-pos"
        [isCOD]="true"
        classInner="text-topship text-right"
        inputClass="pr-0 border-0"
        placeholder="Tiền thu hộ"
        [options]="suggestCODs"
        [selectInput]="selectCODInput.asObservable()"
        [(ngModel)]="cod_amount"
        [posfixText]="'đ'"
        (ngModelChange)="onChangeCod()">
      </etop-currency-input>
    </div>
  </div>
  <div class="d-flex align-items-center e-border-bottom">
    <div class="p-3 flex-grow-1" (click)="shipping_note.focus()">
      Ghi chú giao hàng
    </div>
    <div class="p-3 w-50">
      <input #shipping_note type="text" style="height: 30px;" [(ngModel)]="fulfillment.shipping_note"
        (blur)="updateDataShippingService()" class="input-pos font-weight-bold text-topship text-right"
        placeholder="Nhập ghi chú giao hàng" />
    </div>
  </div>
</ng-template>
<div class="shipping-service text-center my-4">
  <h6 class="font-weight-bold">Chọn gói dịch vụ</h6>
  <shop-shipnow-service-options
    #shipnowServiceOptions
    (selectedService)="onShipServiceChange($event)">
  </shop-shipnow-service-options>
</div>
<ng-container *ngIf="!notSupportedShipnow">
  <div class="p-3" [ngClass]="{ hidden: !invalid_pickup_address }">
    <div class="mt-2 font-weight-bold">
      Địa chỉ lấy hàng chưa được nhận diện trên bản đồ
    </div>
    <div class="text-danger">
      {{ fromAddress?.address1 }}, {{ fromAddress?.ward }}, {{ fromAddress?.district }}, {{ fromAddress?.province }}
    </div>
    <div class="mb-1 mt-3 font-weight-bold">
      Vui lòng nhập và chọn một địa chỉ tương ứng
    </div>
    <input
      #updatePickupAddressInput
      class="form-control"
      type="text"
      placeholder="Nhập địa chỉ"
      name="autocomplete_gglmap"
      [(ngModel)]="to_update_pickup_address"/>
    <div class="mt-2 font-italic">
      *Bạn chỉ cần chọn địa chỉ gần đúng nhất được nhận diện, sau đó có thể thêm chỉ dẫn cho shipper tại phần ghi chú giao hàng.
    </div>
  </div>
  <div class="p-3" [ngClass]="{ hidden: !invalid_shipping_address }">
    <div class="mt-2 font-weight-bold">
      Địa chỉ giao hàng chưa được nhận diện trên bản đồ
    </div>
    <div class="text-danger">
      {{ toAddress?.address1 }}, {{ toAddress?.ward }}, {{ toAddress?.district }}, {{ toAddress?.province }}
    </div>
    <div class="mb-1 mt-3 font-weight-bold">
      Vui lòng nhập và chọn một địa chỉ tương ứng
    </div>
    <input
      #updateShippingAddressInput
      class="form-control"
      type="text"
      placeholder="Nhập địa chỉ"
      name="autocomplete_gglmap"
      [(ngModel)]="to_update_shipping_address"/>
    <div class="mt-2 font-italic">
      *Bạn chỉ cần chọn địa chỉ gần đúng nhất được nhận diện, sau đó có thể thêm chỉ dẫn cho shipper tại phần ghi chú giao hàng.
    </div>
  </div>
</ng-container>
