input {
  font-weight: bold;
}
.hidden {
  display: none !important;
}
.unsupport-shipnow {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gray-color);
  color: var(--default-color);
  font-weight: 600;
  height: 300px;
}

.error-row {
  border: 1px solid var(--topship-color);
  color: var(--topship-color);
}
