.connection-info {
  border-top: 1px solid var(--border-gray-color);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  &:first-child {
    border-top: none;
  }
}

.carrier-image {
  img {
    width: 23px;
    height: auto;
    object-fit: cover;
    border: none;
  }
}
