<div class="modal-header">
  <div class="w-100 text-center">
    <span class="text-big text-center font-weight-bold">Kết nối nhà vận chuyển</span>
    <button class="close" (click)="closeModal()">
      <span class="text-large">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body p-0">
  <div class="carrier-item d-flex align-items-center p-4">
    <div class="carrier-img pr-4">
      <img src="{{ connection?.provider_logo }}" alt="" />
    </div>
    <div class="info">
      <div class="carrier-name">{{ connection?.name_display }}</div>
      <div class="status">
        Kết nối với {{ connection?.name }} bằng cách dùng
        <span *ngIf="connection?.connection_provider != 'partner'">tài khoản sẵn có hoặc đăng ký tài khoản mới.</span>
        <span *ngIf="connection?.connection_provider == 'partner'">User ID và Token.</span>
      </div>
    </div>
  </div>
  <div>
    <ul class="nav nav-tabs carrier-tab" *ngIf="connection?.connection_provider != 'partner'">
      <li class="w-50">
        <a [class.active]="tab == 'login'" (click)="switchTab('login')">
          Dùng tài khoản {{ connection?.connection_provider | uppercase }} sẵn có
        </a>
      </li>
      <li class="w-50">
        <a [class.active]="tab == 'register'" (click)="switchTab('register')">
          Đăng ký tài khoản {{ connection?.connection_provider | uppercase }} mới
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade px-4 pb-4" [ngClass]="{ 'active show': connection?.connection_provider == 'partner' }">
        <div class="row">
          <div class="py-2 col-12">
            <etop-material-input
              placeholder="User ID"
              textLabel="User ID"
              type="input"
              [(ngModel)]="login_by_token.user_id"
              (enter)="loginUsingToken()">
            </etop-material-input>
          </div>
          <div class="py-2 col-12">
            <etop-material-input
              placeholder="Token"
              textLabel="Token"
              type="input"
              [(ngModel)]="login_by_token.token"
              (enter)="loginUsingToken()">
            </etop-material-input>
          </div>
        </div>
      </div>
      <ng-container *ngIf="connection?.connection_provider != 'partner'">
        <div class="tab-pane p-4" [ngClass]="{ 'active show': tab == 'login' }">
          <div class="row">
            <div class="py-2 col-12">
              <etop-material-input
                placeholder="Email"
                textLabel="Email"
                type="input"
                [(ngModel)]="login_info.email"
                (enter)="loginShopConnection()">
              </etop-material-input>
            </div>
            <div class="py-2 col-12">
              <etop-material-input
                placeholder="Mật khẩu"
                textLabel="Mật khẩu"
                keyboardType="password"
                type="input"
                [(ngModel)]="login_info.password"
                (enter)="loginShopConnection()">
              </etop-material-input>
            </div>
          </div>
        </div>
        <div class="tab-pane p-4" [ngClass]="{ 'active show': tab == 'register' }">
          <div class="row">
            <div class="py-2 col-6">
              <etop-material-input
                placeholder="Họ tên"
                textLabel="Họ tên"
                type="input"
                [(ngModel)]="register_info.name">
              </etop-material-input>
            </div>
            <div class="py-2 col-6">
              <etop-material-input
                placeholder="Số điện thoại"
                textLabel="Số điện thoại"
                type="input"
                [(ngModel)]="register_info.phone">
              </etop-material-input>
            </div>
            <div class="py-2 col-12">
              <etop-material-input
                placeholder="Email"
                textLabel="Email"
                type="input"
                [(ngModel)]="register_info.email">
              </etop-material-input>
            </div>
            <ng-container [formGroup]="locationForm">
              <div class="py-2 col-6">
                <etop-material-input-autocomplete
                  placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành"
                  [options]="provincesList$ | async"
                  [displayMap]="displayMap" [valueMap]="valueMap"
                  formControlName="provinceCode">
                </etop-material-input-autocomplete>
              </div>
              <div class="py-2 col-6">
                <etop-material-input-autocomplete
                  placeholder="Chọn quận huyện" textLabel="Quận huyện"
                  [options]="(districtsList$ | async) || []"
                  [displayMap]="displayMap" [valueMap]="valueMap"
                  formControlName="districtCode">
                </etop-material-input-autocomplete>
              </div>
            </ng-container>
            <div class="py-2 col-{{connection?.connection_provider == 'ghtk' ? '12' : '6'}}">
              <etop-material-input
                placeholder="Địa chỉ"
                textLabel="Địa chỉ"
                type="input"
                [(ngModel)]="register_info.address">
              </etop-material-input>
            </div>
            <div class="py-2 col-6" *ngIf="connection?.connection_provider != 'ghtk'">
              <etop-material-input
                placeholder="Mật khẩu"
                textLabel="Mật khẩu"
                keyboardType="password"
                type="input"
                [(ngModel)]="register_info.password">
              </etop-material-input>
            </div>
            <div class="col-12 py-2">
              <div *ngIf="connection?.connection_provider == 'ghtk'" class="password-note">
                GHTK không yêu cầu nhập mật khẩu khi đăng ký tài khoản, mật khẩu sẽ
                được gửi qua email khi bạn đăng ký thành công. Vui lòng kiểm tra
                email để lấy mật khẩu sử dụng cho những lần đăng nhập sau.
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="modal-footer d-flex align-items-center justify-content-between p-4">
  <div class="flex-1" *ngIf="connection?.connection_provider != 'partner'">
    <div class="text-primary cursor-pointer">
      <a href="https://www.etop.vn/huong-dan/huong-dan-thiet-lap-ket-noi-van-chuyen-tai-etop-7102" target="_blank">Hướng dẫn kết nối và sử dụng</a>
    </div>
    <div class="text-primary cursor-pointer">
      <a [href]="connection?.homepage" target="_blank">
        Tìm hiểu về {{connection?.name}}
      </a>
    </div>
    <div class="text-primary cursor-pointer">
      <a [href]="connection?.policy_link" target="_blank">
        Chính sách và điều khoản {{connection?.name}}
      </a>
    </div>
  </div>
  <div
    class="text-right"
    [class.w-100]="connection?.connection_provider == 'partner'"
    [class.w-50]="connection?.connection_provider != 'partner'">
    <button class="btn btn-primary" (click)="doConnect()" [disabled]="loading">
      <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
      {{tab != 'register' ? 'Kết nối' : 'Tạo tài khoản và kết nối'}}
    </button>
  </div>
</div>
