.carrier-img img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-gray-color);
  border-radius: 100%;
  object-fit: contain;
  object-position: center;
}

.carrier-tab {
  li a {
    text-align: center;
    background-color: var(--white-color);
    color: var(--default-color);
    min-height: auto;
    border-bottom: 2px solid var(--border-gray-color);
    cursor: pointer;
    &.active {
      color: var(--primary-color);
      border-bottom: 2px solid var(--primary-color);
    }
  }
}

.password-note {
  padding: .75rem;
  background-color: var(--gray-color);
  border-radius: 7px;
}

.modal-header, .modal-footer {
  border-color: var(--border-gray-color) !important;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
