
<div class="modal-header">
  <h6 class="modal-title">{{title}}</h6>
</div>
<div class="modal-body mb-0 py-3">
  <div [innerHTML]="content"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline btn-default" data-dismiss="modal">
    Đóng
  </button>
</div>
