<div class="row mt-4">
  <div class="row" [class.col-12]="isAtEtop" [class.col-6]="!isAtEtop">
    <div [class.col-6]="isAtEtop" [class.col-12]="!isAtEtop">
      <div class="box setting-box mb-4">
        <div class="setting-header">Địa chỉ lấy hàng</div>
        <div class="setting-body" *ngFor="let address of addressesFrom">
          <shop-from-address
            [address]="address" [currentShop]="currentShop"
            (addressRemoved)="onRemoveAddress($event)"
            [isDefaultFromAddress]="currentShop.ship_from_address_id == address.id"
            >
          </shop-from-address>
        </div>
        <div *ePermissions="['shop/settings/shipping_setting:update']" class="setting-footer">
          <div class="text-center text-primary cursor-pointer" (click)="openAddAddressForm('shipfrom')">
            Thêm địa chỉ lấy hàng
          </div>
        </div>
      </div>
    </div>
    
    <div [class.col-6]="isAtEtop" [class.col-12]="!isAtEtop">
      <div class="box setting-box">
        <div class="setting-header">Thông số mặc định</div>
        <div class="setting-body">
          <div class="font-weight-bold mb-2">Người trả phí ship</div>
          <div *ngFor="let option of tryOnOptionsShipping" class="form-check form-check-inline py-2 d-block">
            <label class="form-check-label cursor-pointer">
              <input class="form-check-input" [(ngModel)]="settings.payment_type_id" name="payment-type" type="radio" value="{{option.value}}">
              {{option.name}}
            </label>
          </div>
        </div>
        <div class="setting-body">
          <div class="font-weight-bold mb-2">Địa chỉ trả hàng</div>
          <div class="d-flex justify-content-between" *ngIf="settings?.return_address">
            <div class="address-info">
              <div class="font-weight-bold mb-2">
                {{settings?.return_address?.full_name}}
                {{settings?.return_address?.phone ? (' - ' + settings?.return_address?.phone) : ''}}
                {{settings?.return_address?.position ? (' - ' + settings?.return_address?.position) : ''}}
              </div>
              <div class="mb-2">{{formatAddress(settings?.return_address)}}</div>
            </div>
            <shared-dropdown-actions
              [dropdownActions]="dropdownActions">
            </shared-dropdown-actions>
          </div>
          <div *ngIf="!settings?.return_address">
            <div class=" " >Chưa thiết lập địa chỉ trả hàng, đơn hàng sẽ được trả về theo địa chỉ trùng với địa chỉ lấy hàng.
            </div>
            <div class="text-center text-primary cursor-pointer" (click)="openAddReturnAddressForm()">
              Tạo địa chỉ trả hàng
            </div>
          </div>
        </div>
        <div class="setting-body">
          <div class="font-weight-bold mb-2">Ghi chú xem hàng</div>
          <div *ngFor="let option of tryOnOptions" class="form-check form-check-inline py-2 d-block">
            <label class="form-check-label cursor-pointer">
              <input class="form-check-input" [(ngModel)]="settings.try_on" name="try-on" type="radio" value="{{option.code}}">
              {{option.name}}
            </label>
          </div>
        </div>
        <div class="setting-body">
          <div class="font-weight-bold mb-2">Ghi chú giao hàng</div>
          <div  class="form-check form-check-inline py-2 d-block">
            <etop-material-input
              type="text-area" appearance="standard" minRow="1" maxRow="10"  
              placeholder="Nhập ghi chú giao hàng" textLabel="Ghi chú giao hàng"
              [(ngModel)]="settings.shipping_note">
            </etop-material-input>
          </div>
        </div>
        <div class="setting-body">
          <div class="font-weight-bold mb-2">Khối lượng</div>
          <div class="form-check form-check-inline py-2 d-block">
            <etop-material-input-format-number
              textLabel="Khối lượng" placeholder="Nhập Khối lượng" formatNumberUnit="g"
              [(ngModel)]="settings.weight" appearance="standard">
            </etop-material-input-format-number>
          </div>
        </div>
        <div class="setting-footer">
          <div class="ml-auto">
            <button
              *ePermissions="['shop/settings/shipping_setting:update']" (click)="updateSetting()" class="btn btn-primary">
              Cập nhật
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6" *ngIf="!isAtEtop">
    <shop-carrier-connect></shop-carrier-connect>
  </div>
</div>
