<div class="modal-header">
  <h6 class="modal-title">Chỉnh sửa thuộc tính</h6>
</div>
<div class="modal-body">
  <div *ngFor="let attr of attrs; let i = index;" class="row pt-2 mr-0 d-flex align-items-center" style="flex: 0 0 100%;">
    <div class="col-3">
      <etop-material-input
        type="input" textLabel="Tên thuộc tính"
        placeholder="Tên thuộc tính" name="attr-name-{{i}}"
        [(ngModel)]="attr.name" (ngModelChange)="onChangeAttr()">
      </etop-material-input>
    </div>
    <div class="col pl-0">
      <etop-material-tag-input
        [placeholder]="'Giá trị thuộc tính'" label="Giá trị thuộc tính"
        name="update-value-attr-{{i}}" class="input-attr"
        [(ngModel)]="attr.values" (ngModelChange)="onChangeAttr()">
      </etop-material-tag-input>
    </div>
    <div>
      <div class="btn btn-outline btn-danger" style="font-size: 12px; height: 35px;" (click)="removeAttr(i)">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div *ngIf="!attrs.length" style="font-size: 12px;">
    Sản phẩm chưa có thuộc tính
  </div>
  <div class="row m-0 pt-2 mr-0" style="flex: 0 0 100%;">
    <div class="btn btn-outline btn-primary" (click)="addAttr()">Thêm thuộc tính</div>
  </div>
  <div class="form-row" style="flex: 0 0 100%; margin-top: 5px;" *ngIf="variants?.length">
    <div class="form-group col-4">
      <label class="title" style="font-size: 12px;">Giá hàng loạt</label>
      <input
        type="text" name="list-price"
        class="input-material text-right" placeholder="Giá hàng loạt"
        [(ngModel)]="list_price" (ngModelChange)="onListPriceChange()">
    </div>
  </div>
  <table id="add-variant-table" class="table table-striped table-hover responsive" *ngIf="variants?.length">
    <thead>
    <tr>
      <th>#</th>
      <th>Thuộc tính</th>
      <th class="text-right">Mã SKU</th>
      <th class="text-right">Giá</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let v of variants; let i = index">
      <tr>
        <td>
          <input type="checkbox" [(ngModel)]="v.p_data.checked" [checked]="v.p_data.checked"/>
        </td>
        <td>
          <div class="name">
            <span *ngIf="v.attributes && v.attributes.length" class="var-attr">{{joinAttrs(v.attributes)}}</span>
          </div>
        </td>
        <td style="color: var(--primary-color)" class="text-right">
          <input type="text" [(ngModel)]="v.code" class="input-full input-material" placeholder="Mã sku">
        </td>
        <td style="color: var(--primary-color)" class="text-right">
          <input type="text" class="input-full input-material" name="variant-price-{{i}}" [(ngModel)]="v.list_price"/>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline btn-default" (click)="cancel()" [disabled]="updatingVariants">Hủy</button>
  <button type="button" class="btn btn-primary" (click)="openUpdateVariantsConfirm()" [disabled]="!variants.length || updatingVariants">
    <i class="fas fa-spinner fa-spin" *ngIf="updatingVariants"></i>
    Lưu
  </button>
</div>
