<div class="shipping-info">
  <div class="row info-body">
    <div class="col-12 slider-detail-input-item" *ngIf="ffm?.shipping_code">
      <div (click)="trackingLink()" class="text-center cursor-pointer">
        <img id="shipping-barcode" alt="{{ffm?.carrier_display}}">
      </div>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Mã giao hàng" type="custom">
        <span class="read-only" [class.text-bold]="ffm?.shipping_code">{{ffm?.shipping_code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Trạng thái" type="custom">
        <span class="read-only status status-{{ffm?.shipping_state}}">
          {{ffm?.shipping_state_display}}
        </span>
        <span *ngIf="ffm?.x_shipping_sub_state && ffm?.shipping_state != 'cancelled'" class="small-font ml-2">
          {{ffm?.x_shipping_sub_state}}
        </span>
        <span *ngIf="ffm?.shipping_state == 'undeliverable' && ffm?.actual_compensation_amount > 0"
          class="small-font ml-2">
          Bồi hoàn: {{ffm?.actual_compensation_amount | number}}đ
        </span>
      </etop-material-input>
    </div>
    <div *ngIf="ffm?.cancel_reason && ffm?.shipping_state == 'cancelled'" class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Lý do huỷ" type="custom">
        <span class="read-only text-danger">{{ffm?.cancel_reason}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Mã nội bộ" type="custom">
        <span class="read-only" [class.text-bold]="ffm?.ed_code">{{ffm?.ed_code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="{{isShipment ? 'Mã đơn hàng' : 'Số đơn hàng'}}" type="custom">
        <ng-container *ngIf="isShipment">
          <span
            *ngIf="ffm?.order?.code" class="cursor-pointer text-bold text-primary"
            (click)="viewDetailOrder(ffm?.order?.code)">
            {{ffm?.order?.code}}
            <i class="fas fa-external-link-alt external-link-icon"></i>
          </span>
          <span *ngIf="!ffm?.order?.code" class="read-only">-</span>
        </ng-container>
        <ng-container *ngIf="isShipnow">
          <span class="text-bold read-only">{{ffm?.order_ids?.length}}</span>
        </ng-container>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Nhà vận chuyển" type="custom">
        <span class="read-only">{{(ffm?.carrier_display | uppercase) || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Gói vận chuyển" type="custom">
        <span class="read-only">{{ffm?.shipping_service_name || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Phí vận chuyển" type="custom">
        <span class="read-only">
          {{ffm?.shipping_fee_shop | number}}đ
          <i *ngIf="ffm?.shipping_fee_shop_lines?.length" class="fas fa-info-circle text-topship ml-2 cursor-pointer"
            [ngbTooltip]="shippingFeeShopLines" placement="bottom">
          </i>
          <ng-template #shippingFeeShopLines>
            <div class="d-flex align-items-center justify-content-between w-100"
              *ngFor="let fee of ffm?.shipping_fee_shop_lines">
              <div class="pl-2 pr-3 py-1 small-font">{{fee?.shipping_fee_type_display}}</div>
              <strong class="pr-2 pl-3 py-1 small-font">{{fee?.cost | number}}đ</strong>
            </div>
          </ng-template>
        </span>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Lấy hàng" type="custom">
        <div class="read-only">
          {{ffm?.pickup_address?.full_name}} - {{ffm?.pickup_address?.phone}} - {{ffm?.pickup_address | addressDisplay}}
        </div>
      </etop-material-input>
    </div>
    <div *ngIf="ffm?.shipping_address" class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Giao hàng" type="custom">
        <div class="read-only">
          {{ffm?.shipping_address?.full_name}} - {{ffm?.shipping_address?.phone}} - {{ffm?.shipping_address | addressDisplay}}
        </div>
      </etop-material-input>
    </div>
    <div *ngIf="isShipment" class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Lấy hàng dự kiến" type="custom">
        <span class="read-only">{{(ffm?.estimated_pickup_at | date: 'HH:mm dd/MM') || '-'}}</span>
      </etop-material-input>
    </div>
    <div *ngIf="isShipment" class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Giao hàng dự kiến" type="custom">
        <span class="read-only">{{(ffm?.estimated_delivery_at | date: 'dd/MM') || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Thu hộ" type="custom">
        <span class="read-only text-bold">{{ffm?.total_cod_amount | number}}đ</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Khối lượng" type="custom">
        <span class="read-only text-bold">{{ffm?.chargeable_weight | number}}g</span>
      </etop-material-input>
    </div>
    <div *ngIf="!isShipnow" class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Ghi chú xem hàng" type="custom">
        <span class="read-only">{{ffm?.try_on_display || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Ghi chú giao hàng" type="custom">
        <span class="read-only">{{ffm?.shipping_note || '-'}}</span>
      </etop-material-input>
    </div>
  </div>
</div>
