.no-footer-tabs {
  ion-tab-bar {
    display: none !important;
  }
}

.header-back-icon {
  width: 2.4rem;
  margin-right: 0.25rem;
  opacity: 0.7;
}

.ion-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #BBB;
  padding: 0.75rem 1rem;
  width: 100%;
  font-size: 0.9rem;
  background-color: white;
  box-shadow: none;
  outline: none;
}

input:focus,
button:focus {
  outline: none;
}

.border-rounded {
  border-radius: 50rem;
}
.bg-primary {
  background-color: #224891 !important;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.grecaptcha-badge {
  display: none !important;
}

ion-item .item-native {
  padding-left: 0 !important;
}

.alert-wrapper {
  --width: 280px !important;
}

.alert-radio-label.sc-ion-alert-ios,
.alert-button-inner.sc-ion-alert-ios {
  font-size: 12px;
}

.alert-message.sc-ion-alert-ios:empty {
  padding-bottom: 8px;
}

.alert-head.sc-ion-alert-ios {
  padding: 4px !important;
}

ion-label.label-floating {
  font-size: 14px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.picker-button,
.picker-opts {
  font-size: 14px !important;
}

.picker-opt,
.picker-opts,
.picker-prefix,
.picker-suffix,
.select-text {
  font-size: 14px !important;
}

ion-datetime {
  padding: 8px 0 !important;
}

ion-menu-button {
  color: #666 !important;
}
.ellipsis-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
/* TOAST */

/* TOAST */

.fix-line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}

.fix-line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}

.select-variant .popover-content {
  max-height: 50vh !important;
  top: 50% !important;
  left: 50% !important;
  width: 80%;
  max-width: 300px;
  transform: translate(-50%, -50%) !important;
}

.connect-success {
  background-color: var(--ion-color-success);
  padding: 0.5rem;
  color: #fff;
}

.disconnect {
  background-color: var(--ion-color-danger);
  padding: 0.5rem;
  color: #fff;
}

ion-toggle {
  zoom: 0.7;
}

.chat-connection .popover-content {
  max-height: 90% !important;
  width: 90%;
}

.popover-translucent,
ion-backdrop {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.7);
}

.action-sheet-left {
  .action-sheet-button-inner {
    justify-content: flex-start;
  }


  .action-sheet-cancel {
    .action-sheet-button-inner {
      justify-content: center;
    }
  }

  .action-sheet-title {
    height: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    line-height: 26px;
    text-align: left;
    font-size: 0.9rem;
    padding-left: 1.5rem;
  }

  .action-sheet-icon {
    font-size: 16px !important;
    margin-right: 0.5rem !important;
  }
}

.line-info {
  padding: 0.75rem 0;

  .content {
    margin-top: 0.5rem;
    font: 500 1.1rem Arial !important;
  }

  ion-label {
    font-size: 0.8rem;
  }
}

.tag {
  max-width: 30%;
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  margin-right: .5rem;
  padding: 3px 8px;
  background: rgba(0, 0, 0, 0.03);

  .tag-status {
    margin-right: 0.3rem;
    font-size: 0.9rem;
  }

  ion-label {
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    font-size: 0.8rem;
  }
}

.calendar-modal {
  ion-title {
      color: white;
  }
}