@each $name, $color in $status {
  .fabo-status {
    &.fabo-#{"" + $name} {
      &::before {
        background-color: var(--#{"" + $color});
      }
      color: var(--#{"" + $color});
    }
  }
}
