$colors: (
  primary,
  secondary,
  tertiary,
  success,
  warning,
  danger,
  dark,
  dark-tint,
  medium,
  light,
  white,
  topship
);

@each $var in $colors {
  .text-#{"" + $var} {
    color: var(--ion-color-#{"" + $var}) !important;
  }
}

a {
  text-decoration: none !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-bigger {
  font-size: 2rem !important;
}

.font-larger {
  font-size: 2.6rem !important;
}

.font-bold {
  font-weight: 700;
}

.refresher-refreshing-text {
  font-size: 10px;
}

.header-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #444;
}
