<div class="page-content">
  <div class="ion-text-center ">
    <div class="title">Tạo khách hàng</div>
    <ion-icon class="close-icon" name="close-outline" (click)="dismiss()"></ion-icon>
  </div>
  <div class="group-list">
    <div class="group-title ion-text-center">
      Tạo khách hàng trước khi chốt đơn
    </div>
    <div class="ion-text-center ion-padding-bottom">
      <img [src]="customer?.external_info?.image_url || 'assets/imgs/user_logo.jpg'" alt="" class="avatar">
      <div class="ion-padding-horizontal customer-note">
        Tạo khách hàng liên kết với người dùng Facebook
        <strong class="full-name">{{customer?.external_info?.name}}</strong>
      </div>
    </div>
    <ion-list class="ion-padding-end ion-padding-bottom">
      <ion-item>
        <ion-label position="floating">Tên</ion-label>
        <ion-input [(ngModel)]="customer.full_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Số điện thoại</ion-label>
        <ion-input inputmode="tel" type="number" [(ngModel)]="customer.phone"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <button class="w-100 footer-button-item" (click)="create()">
      <ion-text color="primary">Đồng ý</ion-text>
    </button>
  </div>
</div>
