.products-order-header {
  font-size: 1.1rem;
  font-weight: 700;
}

.add-more-products {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.operator{
  margin-right: 10px;
  margin-left:  10px;
}

.product-pricing {
  background-color: #fafafa;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
  .money-calculation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.product-price-and-number {
  display: flex;
  justify-content: space-between;
}
