<div class="total" *ngIf="!ffmTable.loading">
  <div class="total-section">
    <div class="total-item">
      <div class="text-default">Mã phiên</div>
      <div class="item-value font-weight-bold">
        {{(mt$ | async)?.code}}
      </div>
    </div>
    <div class="total-item">
      <div class="text-default">Ngày tạo</div>
      <div class="item-value font-weight-bold">
        {{(mt$ | async)?.created_at | date: 'HH:mm dd/MM/yy'}}
      </div>
    </div>
    <div class="total-item" *ngIf="(mt$ | async)?.status == 'P'">
      <div class="text-default">Ngày xác nhận</div>
      <div class="item-value font-weight-bold">
        {{(mt$ | async)?.confirmed_at | date: 'HH:mm dd/MM/yy'}}
      </div>
    </div>
  </div>
  <div class="total-section">
    <div class="total-item">
      <div class="text-default">Số đơn giao hàng</div>
      <div class="item-value font-weight-bold">
        {{(mt$ | async)?.total_orders}}
      </div>
    </div>
    <div class="total-item">
      <div class="text-default">Tổng thu hộ</div>
      <div class="item-value font-weight-bold">
        {{(mt$ | async)?.total_cod | number}}đ
      </div>
    </div>
    <div class="total-item">
      <div class="text-default">Tổng còn lại</div>
      <div
        class="item-value font-weight-bold"
        [class.text-danger]="(mt$ | async)?.total_amount < 0"
        [class.text-success]="(mt$ | async)?.total_amount > 0">
        {{(mt$ | async)?.total_amount | number}}đ
      </div>
    </div>
    <div class="total-item">
      <div class="text-default">Đã giao</div>
      <div class="item-value font-weight-bold text-success">
        {{sum?.delivered_count}}
      </div>
    </div>
    <div class="total-item">
      <div class="text-default">Trả hàng</div>
      <div class="item-value font-weight-bold text-danger">
        {{sum?.returned_count}}
      </div>
    </div>
    <div class="total-item">
      <div class="text-default">Có thu hộ</div>
      <div class="item-value font-weight-bold">
        {{sum?.cod_count}}
      </div>
    </div>
    <div class="total-item">
      <div class="text-default">Không thu hộ</div>
      <div class="item-value font-weight-bold">
        {{sum?.none_cod_count}}
      </div>
    </div>
  </div>
</div>
<div class="page-container" [class.loading]="ffmTable.loading">
  <div class="page-content pb-0">
    <div class="page-wrapper">
      <etop-table
        #ffmTable
        [items]="fulfillments$ | async"
        [show_paging]="false">
        <ng-template #header let-liteMode="liteMode">
          <div class="col" style="min-width: 17.5%;">
            <span class="table-header-text">Mã giao hàng</span>
          </div>
          <div class="col">
            <span class="table-header-text">Trạng thái</span>
          </div>
          <ng-container *ngIf="!liteMode">
            <div class="col">
              <span class="table-header-text">Người nhận</span>
            </div>
            <div class="col">
              <span class="table-header-text">Khu vực</span>
            </div>
            <div class="col">
              <span class="table-header-text">Khai báo</span>
            </div>
            <div class="col">
              <span class="table-header-text">Thu hộ</span>
            </div>
            <div class="col">
              <span class="table-header-text">Tổng cước phí</span>
            </div>
          </ng-container>
        </ng-template>

        <ng-template #emptyItem>
          <etop-empty-page title="Phiên này không có đơn giao hàng"></etop-empty-page>
        </ng-template>

        <ng-template #item let-ffm="item" let-liteMode="liteMode">
          <div
            class="row table-row" shop-mt-ffm-row
            [ffm]="ffm" [liteMode]="liteMode">
          </div>
        </ng-template>
      </etop-table>
    </div>
  </div>
</div>
