<div class="total">
  <div class="total-section">
    <div class="total-item">
      <div class="big-font">
        <ng-container *ngIf="(activeMtTransfer$ | async)?.valid_bang_ke_lines?.length">
          <span class="text-bold big-font">Bảng kê hợp lệ (&ge; 50.000đ)</span> -
          Tổng cộng <span class="text-bold big-font">{{sum_bangke | vnd}}đ</span> -
          Đã trừ phí chuyển khoản <span class="text-bold big-font">{{transfer_fee | vnd}}đ</span>
        </ng-container>
        <ng-container *ngIf="(activeMtTransfer$ | async)?.invalid_bang_ke_lines?.length">
          <span class="text-bold big-font">Bảng kê không hợp lệ (< 50.000đ)</span> -
          Tổng cộng <span class="text-bold big-font">{{sum_invalid_bangke | vnd}}đ</span> -
          Đã trừ phí chuyển khoản <span class="text-bold big-font">{{transfer_fee | vnd}}đ</span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="page-content pb-0">
  <ng-container *ngIf="(activeMtTransfer$ | async)?.valid_bang_ke_lines?.length">
    <div class="page-wrapper">
      <etop-table
        #validBangkeTable
        [items]="(activeMtTransfer$ | async)?.valid_bang_ke_lines"
        [show_paging]="false">
        <ng-template #header let-liteMode="liteMode">
          <div *ngFor="let header of headers" class="col">
            <span class="table-header-text">{{header}}</span>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <div class="blank-page">
            <div>
              <img
                class="blank-img"
                src="assets/images/admin/icon_transaction.png"
                alt="empty list"
              />
            </div>
            <div class="info">
              <div class="text-bigger text-bold text-center m-2">
                Chưa có bảng kê
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #item let-bang_ke="item" let-liteMode="liteMode">
          <div
            class="row table-row" admin-mt-transfer-bangke-row
            [bang_ke]="bang_ke" [liteMode]="liteMode" [isTCB]="isTCB">
          </div>
        </ng-template>
      </etop-table>
    </div>
  </ng-container>
  <ng-container *ngIf="(activeMtTransfer$ | async)?.invalid_bang_ke_lines?.length">
    <div class="page-wrapper">
      <etop-table
        #invalidBangkeTable
        [items]="(activeMtTransfer$ | async)?.invalid_bang_ke_lines"
        [show_paging]="false">
        <ng-template #header let-liteMode="liteMode">
          <div *ngFor="let header of headers" class="col">
            <span class="table-header-text">{{header}}</span>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <div class="blank-page">
            <div>
              <img
                class="blank-img"
                src="assets/images/icon_transaction.png"
                alt="empty list"
              />
            </div>
            <div class="info">
              <div class="text-bigger text-bold text-center m-2">
                Chưa có bảng kê
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #item let-bang_ke="item" let-liteMode="liteMode">
          <div
            class="row table-row" admin-mt-transfer-bangke-row
            [bang_ke]="bang_ke" [liteMode]="liteMode" [isTCB]="isTCB">
          </div>
        </ng-template>
      </etop-table>
    </div>
  </ng-container>
</div>
