<div class="slider-detail-section">
  <div class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    CHỌN SHOP&nbsp;
    <span *ngIf="selectedShops?.length">
      ({{selectedShops?.length}})
    </span>
  </div>
  <div class="row">
    <div class="col-4 py-2 pr-0">
      <etop-material-nofilter-input-autocomplete
        placeholder="Nhập tên hoặc mã" textLabel="Tên hoặc mã"
        [options]="shops" [displayMap]="displayMap" [valueMap]="valueMap" [inputMap]="inputMapName"
        (searching)="onShopSearch('name', $event)"
        [(ngModel)]="shopId" (ngModelChange)="onShopSelect()">
      </etop-material-nofilter-input-autocomplete>
    </div>
    <div class="col-4 py-2 pr-0">
      <etop-material-nofilter-input-autocomplete
        placeholder="Nhập số điện thoại" textLabel="Số điện thoại"
        [options]="shops" [displayMap]="displayMap" [valueMap]="valueMap" [inputMap]="inputMapPhone"
        (searching)="onShopSearch('phone', $event)"
        [(ngModel)]="shopId" (ngModelChange)="onShopSelect()">
      </etop-material-nofilter-input-autocomplete>
    </div>
    <div class="col-4 py-2">
      <etop-material-nofilter-input-autocomplete
        placeholder="Nhập email" textLabel="Email"
        [options]="shops" [displayMap]="displayMap" [valueMap]="valueMap" [inputMap]="inputMapEmail"
        (searching)="onShopSearch('email', $event)"
        [(ngModel)]="shopId" (ngModelChange)="onShopSelect()">
      </etop-material-nofilter-input-autocomplete>
    </div>
    <div *ngFor="let shop of selectedShops; let i = index;" class="col-6 py-2">
      <div class="fake-material-input-outline d-flex align-items-center justify-content-between">
        <span>{{shop?.code}} - {{shop?.name}} - {{shop?.phone}}</span>
        <mat-icon (click)="unSelectShop(i)">close</mat-icon>
      </div>
    </div>
  </div>
</div>
<div class="slider-detail-section">
  <div class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    CHỌN PHIÊN&nbsp;
  </div>
  <div class="row" *ngIf="selectedShops?.length">
    <ng-container *ngFor="let shop of selectedShops">
      <div class="col-12 py-2">
        <div class="text-bold mb-3">
          Các phiên của {{shop?.name}} -
          <span
            class="text-primary d-inline-flex align-items-center cursor-pointer"
            eCallButton="{{shop?.phone}}">
            {{shop?.phone}}&nbsp;
            <i class="text-primary fa fa-phone-square upper-medium-font"></i>
          </span>
        </div>
        <div class="mt-list row" *ngIf="mtOfShop(shop?.id)?.length">
          <mat-checkbox
            class="col-6" color="primary"
            *ngFor="let mt of mtOfShop(shop?.id)" [(ngModel)]="mt.p_data.selected" (ngModelChange)="toggleMtShop()">
            {{shop?.name}} - {{mt?.code}}:
            <span
              class="text-bold"
              [class.text-success]="mt?.total_amount > 0"
              [class.text-danger]="mt?.total_amount < 0">
              {{mt?.total_amount | number}}đ
            </span>
          </mat-checkbox>
        </div>
        <div class="empty" *ngIf="!mtOfShop(shop?.id)?.length">Không tìm thấy phiên hợp lệ</div>
      </div>
    </ng-container>
  </div>
  <div class="empty" *ngIf="!selectedShops?.length">
    Vui lòng chọn shop
  </div>
  <div class="text-right py-2" *ngIf="selectedMtShops?.length">
    <button class="btn btn-primary" [disabled]="loading" (click)="addMoreMtShop()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Thêm ({{selectedMtShops?.length}}) phiên shop
    </button>
  </div>
</div>
