<div class="shipping-info">
  <div class="row info-body">
    <div class="col-12 slider-detail-input-item" *ngIf="ffm?.shipping_code">
      <div (click)="trackingLink()" class="text-center cursor-pointer">
        <img id="shipping-barcode" alt="{{ffm?.carrier_display}}">
      </div>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Mã giao hàng" type="custom">
        <span class="read-only text-bold">{{ffm?.shipping_code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Mã nội bộ" type="custom">
        <span class="read-only text-bold">{{ffm?.ed_code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Trạng thái" type="custom">
        <span class="read-only status status-{{ffm?.shipping_state}}">
          {{ffm?.shipping_state_display}}
        </span>
        <span *ngIf="ffm?.x_shipping_sub_state && ffm?.shipping_state != 'cancelled'" class="small-font ml-2">
          {{ffm?.x_shipping_sub_state}}
        </span>
        <span *ngIf="ffm?.shipping_state == 'undeliverable' && ffm?.actual_compensation_amount > 0"
          class="small-font ml-2">
          Bồi hoàn: {{ffm?.actual_compensation_amount | vnd}}đ
        </span>
      </etop-material-input>
    </div>
    <div *ngIf="ffm?.cancel_reason" class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Lý do huỷ" type="custom">
        <span class="read-only text-danger">{{ffm?.cancel_reason}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Nhà vận chuyển" type="custom">
        <span class="read-only">{{ffm?.carrier_display?.toUpperCase() || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Gói vận chuyển" type="custom">
        <span class="read-only">{{ffm?.shipping_service_name || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Phí vận chuyển" type="custom">
        <span class="read-only">
          {{ffm?.shipping_fee_shop | vnd}}đ
          <i *ngIf="ffm?.shipping_fee_shop_lines?.length" class="fas fa-info-circle text-topship ml-2 cursor-pointer"
            [ngbTooltip]="shippingFeeShopLines" placement="bottom">
          </i>
          <ng-template #shippingFeeShopLines>
            <div class="d-flex align-items-center justify-content-between w-100"
              *ngFor="let fee of ffm?.shipping_fee_shop_lines">
              <div class="pl-2 pr-3 py-1 small-font">{{fee?.shipping_fee_type_display}}</div>
              <strong class="pr-2 pl-3 py-1 small-font">{{fee?.cost | vnd}}đ</strong>
            </div>
          </ng-template>
        </span>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Lấy hàng" type="custom">
        <div class="read-only text-bold">
          {{ffm?.pickup_address?.full_name}} - {{ffm?.pickup_address?.phone}}
        </div>
        <div class="read-only">
          {{ffm?.pickup_address | addressDisplay}}
        </div>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Giao hàng" type="custom">
        <ng-container *ngIf="ffm?.delivery_points?.length == 1; else multiDeliveryPoints;">
          <div class="read-only text-bold">
            {{ffm?.shipping_address?.full_name}} - {{ffm?.shipping_address?.phone}}
          </div>
          <div class="read-only">
            {{ffm?.shipping_address | addressDisplay}}
          </div>
        </ng-container>
        <ng-template #multiDeliveryPoints>
          <span class="read-only">
            {{ffm?.delivery_points?.length}} điểm giao&nbsp;
            <span class="text-primary cursor-pointer" (click)="onViewRoutes()">(Xem lộ trình)</span>
          </span>
        </ng-template>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Thu hộ" type="custom">
        <span class="read-only text-bold">{{ffm?.total_cod_amount | number}}đ</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Khối lượng" type="custom">
        <span class="read-only text-bold">{{ffm?.total_weight | number}}g</span>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Ghi chú giao hàng" type="custom">
        <span class="read-only">{{ffm?.shipping_note || '-'}}</span>
      </etop-material-input>
    </div>
  </div>
</div>
