.shipping-info {
  padding: 1rem;
}

.badge {
  font-weight: 700;
  border-radius: 5px;
  background: var(--gray-color);
  border: 1px solid var(--gray-color);
}

.order-status {
  &::before {
    padding: 4px !important;
  }
}

a.read-only {
  color: var(--dark-color);
}
