<div class="content">
  <div class="product-info p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="input-item col-12">
            <etop-material-input textLabel="Mã khách hàng" type="custom">
              <span class="read-only">{{contact.id || '-'}}</span>
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input placeholder="Tên khách hàng" textLabel="Tên khách hàng"
                                 [(ngModel)]="full_name" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input placeholder="Số điện thoại" textLabel="Số điện thoại"
                                 [(ngModel)]="phone" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input textLabel="Ngày tạo" type="custom">
              <span class="read-only">{{contact.created_at |date:'dd/MM/yyyy' || '-'}}</span>
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *eRoles="['owner', 'telecom_customerservice']">
    <div class="actions">
      <button class="btn btn-primary" (click)="updateContact()">
        <span class="align-middle">Cập nhật liên hệ</span>
      </button>
    </div>
  </ng-container>
</div>
