$ahamove_color: #f26322;
$grab_color: #1aaf49;

.circle-border {
  border-radius: 100%;
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  .tick {
    display: none;
  }
  &.active {
    &.grab {
      border-color: $grab_color;
      background: $grab_color;
    }

    &.ahamove {
      border-color: $ahamove_color;
      background: $ahamove_color;
    }
    .tick {
      display: block;
    }
  }
}
