<ng-content></ng-content>
<div class="col align-self-center">
  <div class="fa fa-minus" *ngIf="!transaction?.code"></div>
  <ng-container *ngIf="transaction?.code">
    <span class="font-weight-bold text-primary cursor-pointer" (click)="transactionDetail()">
      {{transaction?.code}}
      <i class="fas fa-external-link-alt external-link-icon"></i>
    </span>
    <div class="small-font">{{transaction?.created_at | date: 'HH:mm dd/MM/yy'}}</div>
  </ng-container>
</div>
<div class="col align-self-center">
  <div *ngIf="transaction?.confirmed_at" class="small-font">{{transaction?.confirmed_at | date: 'HH:mm dd/MM/yy'}}</div>
  <div *ngIf="!transaction?.confirmed_at">-</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="order-status order-{{ transaction?.status }}">
    {{ transaction?.status_display }}
  </div>
</div>
<div class="col align-self-center">
  <div class="font-weight-bold">{{transaction?.total_orders}}</div>
</div>
<div class="col align-self-center">
  <div class="font-weight-bold">{{transaction?.total_cod | number}}đ</div>
</div>
<div class="col align-self-center">
  <div class="font-weight-bold">{{transaction?.total_cod - transaction?.total_amount | number}}đ</div>
</div>
<div class="col align-self-center">
  <div
    class="font-weight-bold"
    [class.text-danger]="transaction?.total_amount < 0"
    [class.text-success]="transaction?.total_amount > 0">
    {{transaction?.total_amount | number}}đ
  </div>
</div>
