.ticket-detail {
  padding: 1rem;
}

.ticket-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.ticket-content {
  padding-top: 1rem;
  div {
    padding-bottom: 1rem;
    p {
      margin: 0.5rem 0;
    }
  }
}

.status {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  &.open {
    color: #33b7d5;
  }
  &.confirmed {
    color: #f39c12;
  }
  &.in-progress {
    color: var(--topship-color);
  }
  &.wait-for-response {
    color: var(--topship-color);
  }
  &.closed {
    color: #7f8c8d;
  }
}

.substatus {
  span {
    padding: 5px 15px 3px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 8px;
    font-weight: bold;
  }

  .reject {
    background-color: #e67e22;
  }

  .failed {
    background-color: #e74c3c;
  }

  .success {
    background-color: #2ecc71;
  }
}

.etop-note {
  color: #4a4a4a !important;
  text-transform: none !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.ticket-no {
  color: #33b7d5;
}

.font-weight-bold {
  font-weight: 700;
}
