<ion-header>
  <ion-toolbar>
    <ion-title >Yêu cầu hỗ trợ</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ticket-detail" >
    <div class="ticket-header font-weight-bold">
      <div><span class="ticket-no">#{{ticket?.ticket_no}}</span></div>
      <span>{{ticket?.ticket_title}}</span>
      <span class="status" [ngClass]="getStatusSnake(ticket?.ticketstatus)">{{getStatusDisplay(ticket?.ticketstatus)}}</span>
    </div>
    <div class="substatus" *ngIf="ticket?.substatus">
      <span class="{{ticket?.substatus}}">{{subStatusMap(ticket?.substatus)}}</span>
      <div class="etop-note mt-1">
        Ghi chú: {{ticket?.etop_note}}
      </div>
    </div>
    <div class="ticket-content">
      <div class="content" [ngClass]="{'hidden': ticket?.ticketcategories == 'Khác'}">
        <strong>Nội dung:</strong>
        <p>
          <ion-text>{{ticket?.ticketcategories}}: {{ticket?.description}}</ion-text>
        </p>
      </div>
      <div class="reason">
        <strong>Lý do:</strong>
        <p>
          <ion-text>{{ticket?.reason}}</ion-text>
        </p>
      </div>
    </div>
  </div>
</ion-content>
