<div class="upload-photo-wrapper">
  <label class="logo-upload m-0"
    [style.background-image]="'url(' + (order_line.image_url || 'assets/images/placeholder_2.png') + ')'">
    <span class="over-logo" *ngIf="!order_line.image_url">
      <i class="fa fa-camera"></i>
    </span>
    <span class="upload-loading" *ngIf="photo_uploading">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </span>
    <input accept="image/png,image/jpg,image/jpeg,image/gif" name="send_photo1" hidden type="file"
      (change)="onChangeLogo($event)" />
  </label>
</div>
<div class="flex-fill product-name">
  <input #inputName placeholder="Tên sản phẩm" type="text" class="default-input text-input"
    [(ngModel)]="order_line.product_name" (keypress)="searchVariants()" (focus)="onFocusOrderLine(order_line)"
    (keydown.enter)="focusPrice()" (keydown.tab)="focusPrice()" (blur)="updateOrderLine.next()">
  <div *ngIf="show_variant" class="variant-select-list">
    <div *ngFor="let variant of search_variant_list" class="variant-select-item"
      (click)="selectVariant(variant, idx_order)">
      <div class="variant-not-price">
        <div class="variant-image">
          <img [src]="variant.p_data.image_url || 'assets/images/placeholder_medium.png'" alt="">
        </div>
        <div class="variant-not-image">
          <div class="variant-prod-name">{{variant.product_name}}</div>
          <div class="variant-attributes">
            <span *ngIf="variant.code">{{variant.code}}</span>
            <span *ngIf="variant | variantDisplay"> - {{variant | variantDisplay}}</span>
          </div>
        </div>
      </div>
      <div class="variant-price">
        {{variant.retail_price | vnd}}đ
      </div>
    </div>
  </div>
  <div class="align-top">
    <small class=" font-weight-bold" *ngFor="let attribute of order_line.attributes; first as isFirst">
      <strong *ngIf="!isFirst"> - </strong>
      {{attribute.value}}
    </small>
  </div>
  <div class="bottom-line d-flex align-items-center justify-content-between">
    <label class="align-top font-weight-bold text-primary m-0" (click)="openNote()" placement="bottom"
      ngbTooltip="Đang phát triển" style="cursor:pointer; font-size: 10px">
      Thêm ghi chú
    </label>
    <shared-etop-checkbox *ePermissions="['shop/product:create']" class="primary" [(ngModel)]="order_line.p_data.to_save"
      (ngModelChange)="updateOrderLine.emit()">
      <label class="align-top m-0 ml-2 small-font cursor-pointer" (click)="toggleSaveProduct()">
        Lưu sản phẩm
      </label>
    </shared-etop-checkbox>
  </div>
</div>
<div class="line-price m-1 text-right">
  <!-- TODO error state when input value < 1.000  -->
  <input #inputPrice *ngIf="!money_format" (focus)="onFocusOrderLine(order_line)" (blur)="updatePrice()"
    (keypress)="numberOnly($event)" [(ngModel)]="order_line.retail_price" placeholder="Giá sản phẩm" type="number"
    min="1000" pattern="[0-9]*" class="default-input text-right number-input">
  <div *ngIf="money_format" class="default-input text-right number-input" (click)="focusPrice()">
    {{order_line.retail_price | vnd}}đ
  </div>
  <div class="bottom-line">
    <label class="align-top font-weight-bold text-primary m-0" placement="bottom" ngbTooltip="Đang phát triển"
      style="cursor: pointer; font-size: 10px">
      Giảm giá
    </label>
  </div>
</div>
<div class="d-flex align-items-center line-quantity">
  <div class="btn-group border group-quantity" role="group">
    <button class="btn btn-sm border-0 bg-transparent" type="button" (click)="minus.emit()">
      <i class="fa fa-minus text-default"></i>
    </button>
    <input type="text" class="number-input text-center editable" [(ngModel)]="order_line.quantity"
      (blur)="changeQuantity.emit(order_line.quantity)" (keypress)="numberOnly($event)">
    <button class="btn btn-sm border-0 bg-transparent" type="button" (click)="add.emit()">
      <i class="fa fa-plus text-default"></i>
    </button>
  </div>
</div>
