:host {
  display: flex;
  align-items: center;
  flex: 1;
}

.bg-transparent {
  background: transparent !important;
}

.group-quantity {
  border-radius: 3px !important;
  background-color: var(--lighter-gray-color);
  align-items: center;
}

label {
  margin-bottom: 0;
}

.line-logo {
  object-fit: cover;
}

//TODO move upload photo to a single component
.upload-photo-wrapper {
  width: 5rem;
  height: 5rem;
  .logo-upload {
    width: 100%;
    padding-bottom: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 7px;
    position: relative;
    border: 1px solid var(--gray-color);
  }
  .fa {
    font-size: 1.6rem;
  }
  .upload-loading,
  .over-logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    position: absolute;
    top: 0;
    .fa {
      color: var(--white-color);
    }
  }
  .upload-loading {
    background: rgba(0, 0, 0, 0.7);
  }
}

.product-name {
  padding: 0 .8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.line-price,
.line-quantity {
  padding: 0 1.25rem;
}

.line-price {
  .number-input {
    min-width: 12.5rem;
  }
}

.line-quantity {
  button {
    text-align: center;
    padding: .4rem .8rem;
  }
  .editable {
    width: 3.3rem;
    line-height: 1.6rem;
    border: 1px solid var(--gray-color);
  }
}

.variant-select-list {
  position: absolute;
  width: 100%;
  max-height: 20rem;
  top: 2rem;
  left: 0.8rem;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  background: var(--white-color);
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.08);
}

.variant-select-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .6rem .8rem;
  border-bottom: 1px solid var(--border-gray-color);
  &:hover {
    background: var(--gray-color);
  }
}

.variant-not-price {
  display: flex;
  align-items: center;
}

.variant-image {
  width: 3.75rem;
  height: 3.75rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 7px;
    border: 1px solid var(--gray-color);
  }
}

.variant-not-image {
  margin-left: 0.6rem;
}

.variant-prod-name {
  font-size: 1.1rem;
}

.variant-attributes {
  span {
    font-size: .9rem;
    font-weight: 700;
  }
}

.variant-price {
  font-weight: 700;
  font-size: 1.16rem;
}

.default-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 0.6rem;
  outline: 0 !important;
  font-weight: 700;
  color: var(--black-color);
  padding: 1px;
  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.bottom-line {
  height: 1.25rem;
  position: relative;
  width: 100%;
}

shared-etop-checkbox::ng-deep {
  height: 15px;
  .label-cbx .checkbox {
    top: 0 !important;
    width: 15px !important;
    height: 15px !important;
  }
  .label-cbx .checkbox svg {
    top: -6px !important;
    left: -4px !important;
  }
  .label-cbx input:checked + .checkbox svg polyline {
    stroke-dashoffset: -3px !important;
    stroke-dasharray: 11px !important;
  }
}
