.childs-cat {
  padding-left: 40px;
  background: rgba(0, 0, 0, .05);
}

.category-line {
  display: flex;
  border-bottom: 1px solid var(--border-gray-color);
  justify-content: space-between;
  line-height: 40px;
  border-top: 1px solid var(--border-gray-color);
  margin-top: -1px;
  background: white;

  a {
    margin: auto 0;
    color: var(--dark-color) !important;
    font-size: 12px;
    padding-left: 10px;
    text-decoration: none;
  }

  .btn {
    padding: 5px 10px;
  }
}

.group {
  .cat-action {
    display: inline-flex;
    font-size: 12px;
    margin: auto 5px auto 0;
    cursor: pointer;
    padding: 8px;
  }
}

.caret-hidden {
  visibility: hidden;
}

.collapse-href.collapsed i:before {
  content: "\f0da";
}