<div class="modal-header">
  <h5 class="modal-title">Chính sách facebook</h5>
  <button type="button" class="close" (click)="dismissModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="mb-3"><strong>Không phản hồi tin nhắn (Inbox) sau 24h với nội dung quảng cáo</strong></div>
  <div class="mb-3">Facebook hạn chế không cho phép tin phản hồi (Inbox) khách hàng sau 24h có chứa nội dung quảng cáo.</div>
  <div class="mb-3">Facebook hạn chế không cho phép tin phản hồi (Inbox) khách hàng sau 24h có chứa nội dung quảng cáo.</div>
  <div>Tham khảo:</div>
  <a href="https://developers.facebook.com/docs/messenger-platform/policy/policy-overview/">https://developers.facebook.com/docs/messenger-platform/policy/policy-overview/</a>
</div>
<div class="modal-footer">
  <button (click)="dismissModal()" class="btn btn-primary" >Tôi đã hiểu</button>
</div>
