<ion-header>
  <ion-toolbar>
    <ion-title>Thay đổi địa chỉ </ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="dismiss()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="input-wrapper">
      <ion-label position="floating">Địa chỉ</ion-label>
      <ion-input [(ngModel)]="address.address1"></ion-input>
    </ion-item>
    <ionfabo-select-suggest
      [disabled]="true"
      label="Tỉnh thành"
      placeholder="Chọn tỉnh thành"
      [hasLabel]="true"
      position="stacked"
      cssItemClass=""
      [options]="provincesList"
      [(ngModel)]="address.province_code"
      (ngModelChange)="onProvinceSelected()">
    </ionfabo-select-suggest>
    <ionfabo-select-suggest
      label="Quận huyện"
      [hasLabel]="true"
      position="stacked"
      cssItemClass=""
      placeholder="Chọn quận huyện"
      [options]="districtsList"
      [(ngModel)]="address.district_code"
      (ngModelChange)="onDistrictSelected()">
    </ionfabo-select-suggest>
    <ionfabo-select-suggest
      label="Phường xã"
      placeholder="Chọn Phường xã"
      [hasLabel]="true"
      position="stacked"
      cssItemClass=""
      [options]="wardsList"
      [(ngModel)]="address.ward_code"
      (ngModelChange)="onWardSelected()">
    </ionfabo-select-suggest>
  </ion-list>
</ion-content>
<ion-footer class="footer-button-wrapper ion-no-border">
  <ion-toolbar>
    <div class="footer-buttons ion-flex">
      <button type="submit" class="w-100 bg-primary text-white footer-button-item font-bold" (click)="confirm()">
        <span>Xác nhận</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
