<div class=" col align-self-center font-weight-bold" style="width: 10%">{{staff?.full_name}}</div>
<div class="col align-self-center">{{staff?.phone}}</div>
<div class="col align-self-center" style="color: var(--default-color); min-width: 20%">{{staff?.email}}</div>
<div class="col align-self-center" style="min-width: 10%">{{roleDisplay}}</div>
<div class="col align-self-center" *ngIf="loading">
  <i class="fa fa-spinner fa-spin mr-3 font-14"></i>
</div>
<div class="col align-self-center" style="min-width: 15%" *ngIf="!loading">
  <span *ngIf="hasUserExtension" class="text-primary">{{currentExtension.extension_number}} - Đang hoạt động</span>
  <button *ngIf="!hasUserExtension"class="btn btn-primary" style="min-width: max-content;" (click)="initializationExtension()">Gán máy nhánh</button>
</div>
<div class="col align-self-center">
  <ng-container *ngIf="hasUserExtension" class="text-primary">
    <span>
      <span *ngIf="!currentHotline">-</span>
      {{currentHotline?.name}}
      <span *ngIf="currentHotline?.name">-</span>
      {{currentHotline?.hotline}}
    </span>
  </ng-container>
  <span *ngIf="!hasUserExtension">-</span>
</div>
<div class="col align-self-center">
  <ng-container *ngIf="!currentExtension; else hasCurrentExtension">-</ng-container>
  <ng-template #hasCurrentExtension>
    <span *ngIf="isUnlimited(currentExtension?.expires_at)">Không giới hạn</span>
    <ng-container *ngIf="!isUnlimited(currentExtension?.expires_at)">
    <span class="expire-time" ngbTooltip="Đã hết hạn, cần gia hạn để tiếp tục sử dụng" placement="bottom" *ngIf="expireTimeLeft(currentExtension?.expires_at) <= 0">
      {{currentExtension?.expires_at | date:'dd/MM/yyyy'}}
    </span>
      <span ngbTooltip="Sắp hết hạn" class="expire-time-soon" placement="bottom" *ngIf="expireTimeLeft(currentExtension?.expires_at) <= timeToExpire && expireTimeLeft(currentExtension?.expires_at) > 0">
      {{currentExtension?.expires_at | date:'dd/MM/yyyy'}}
    </span>
      <span *ngIf="expireTimeLeft(currentExtension?.expires_at) > timeToExpire">
      {{currentExtension?.expires_at | date:'dd/MM/yyyy'}}
    </span>
    </ng-container>
  </ng-template>
</div>
<div class="col align-self-center">
  <shared-dropdown-actions
   *ePermissions="['relationship/relationship:remove','relationship/relationship:update']" [dropdownActions]="dropdownActions" [rightSide]="true">
  </shared-dropdown-actions>
</div>
