.header-address {
    width: 60%;
    border-left: 1px solid #f4f4f4;
    text-align: left;
    padding: 0.5rem 1rem;

    ion-label {
      font-size: 0.8rem;
    }
  }

  .icon-select {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    opacity: 0.7;
  }

.fix-line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}

.disable-view{
  opacity: 0.5;
  pointer-events: none;
}