<ion-toolbar>
    <div>
      <ion-text class="header-title text-medium">Chốt đơn</ion-text>
    </div>
    <ion-buttons slot="start" class="header-back-icon">
      <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
    <div slot="end" class="header-address">
      <div [class.disable-view]="!shippingAdressViewPermission" (click)="changeAddress()" *ngIf="(pickupAddresses$| async)?.length">
        <ion-label>Lấy hàng</ion-label>
        <div class="fix-line-1" style="position: relative; padding-right: 1rem;">
          <ion-text color="dark" >{{pickupAddressDisplay}}</ion-text>
        </div>
        <ion-icon *ngIf="shippingAdressViewPermission" name="chevron-down-outline" class="icon-select"></ion-icon>
      </div>
      <div (click)="addAddress()" *ngIf="!(pickupAddresses$| async)?.length">
        <ion-label>Lấy hàng</ion-label>
        <div class="fix-line-1" style="position: relative; padding-right: 1rem;">
          <ion-text color="dark">Tạo địa chỉ lấy hàng</ion-text>
        </div>
        <ion-icon name="chevron-down-outline" class="icon-select"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
