<div class="box mt-0">
  <div class="setting-header">Thông tin tài khoản {{appName}}</div>
  <div class="setting-body">
    <div class="d-flex align-items-center w-100 py-2">
      <etop-material-input textLabel="Họ tên" type="custom" class="flex-grow-1">
        <span class="read-only">{{user?.full_name}}</span>
      </etop-material-input>
    </div>
    <div class="d-flex align-items-center w-100 py-2 position-relative">
      <etop-material-input textLabel="Email" type="custom" class="flex-grow-1 pr-3">
        <span class="read-only">{{user?.email}}</span>
      </etop-material-input>
    </div>
    <div class="d-flex align-items-center w-100 py-2 position-relative">
      <etop-material-input textLabel="Số điện thoại" type="custom" class="flex-grow-1 pr-3">
        <span class="read-only">{{user?.phone}}</span>
      </etop-material-input>
    </div>
  </div>
  <div class="setting-footer">
    <div class="text-right w-100">
      <button (click)="onChangePassword()" class="btn btn-outline btn-primary">
        Thay đổi mật khẩu
      </button>
    </div>
  </div>
</div>




