<div class="col align-self-center">
  <span class="text-primary text-bold">
    {{customRegion?.name}}
  </span>
</div>
<div class="col align-self-center">
  {{customRegion?.created_at | date: 'HH:mm dd/MM/yyyy'}}
</div>
<div class="col align-self-center">
  {{customRegion?.province_codes?.length}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <ng-container *ngIf="customRegion?.description; else noDesc;">
    <span class="small-font">
      {{customRegion?.description}}
    </span>
  </ng-container>
  <ng-template #noDesc>
    <i class="fa fa-minus text-default"></i>
  </ng-template>
</div>
