<ion-header>
  <ion-toolbar>
    <ion-title>Kết nối nhà vận chuyển</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-flex">
  <ng-container *ngIf="(loggedInConnections$ | async)?.length; else emptyConnection">
    <div class="list-carrier">
      <ng-container *ngFor="let connection of (availableConnections$ | async)">
        <div class="carrier-item ion-flex ion-align-items-center" *ngIf="connection?.connection_provider == 'ghn'">
          <img src="{{connection?.image_url || connection?.provider_logo}}" alt="" class="carrier-logo">
          <div class="info">
            <div class="carrier-name">{{connection?.name}}</div>
            <div class="connect-status ion-flex ion-align-items-center">
              <ion-icon name="ellipse" color="success"></ion-icon>
              <ion-text>Đã kết nối</ion-text>
            </div>
            <div class="connect-status ion-flex ion-align-items-center">
              <ion-icon name="person-circle-outline"></ion-icon>
              <ion-text>{{connection?.connection_email}}</ion-text>
            </div>
          </div>
          <ng-container *ePermissions="['shop/connection:delete']">
            <div class="action" (click)="deleteShopConnection(connection)">
              <ion-icon name="trash-outline"></ion-icon>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #emptyConnection>
    <div class="h-100 centered">
      <etop-empty [empty]="empty" *ePermissions="['shop/connection:create']"></etop-empty>
      <ng-container *ngIf="!hasPermission()">
        <div class="ion-text-center" style="margin: auto;">
          <h3 class="empty-title"> Chưa kết nối nhà vận chuyển </h3>
          <div class="empty-subtitle"> Vui lòng kết nối Nhà vận chuyển để giao hàng </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
</ion-content>
<ng-container *ePermissions="['shop/connection:create']">
  <ion-footer class="btn-footer" (click)="showCarriersList()" *ngIf="(loggedInConnections$ | async)?.length">
    <ion-toolbar class="no-padding">
      <div class="footer-buttons ion-flex">
        <div class="h-100 w-100 ion-no-margin btn-connect-more">
          <ion-icon name="add-outline" color="primary"></ion-icon>
          <ion-text color="primary">Kết nối thêm Nhà vận chuyển</ion-text>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>



