<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-start icon-header back-icon" name="chevron-back-outline" (click)="dismiss()">
      </ion-icon>
    </ion-buttons>
    <ion-title>Phương thức thanh toán</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="add" mode="md" class="add-ledger text-primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="page-content">
    <div *ngFor="let ledger of ledgers" class="ledger-item" (click)="selectLedger(ledger)">
      <div class="ledger-info">
        <div class="font-bold">{{ledger?.name}}</div>
        <div class="small-font">
          Phương thức: {{ ledger?.type == 'bank' ? 'Chuyển khoản' : 'Tiền mặt' }}
        </div>
        <div class="small-font" *ngIf="ledger?.type == 'bank'">
          Ngân hàng: {{ ledger?.bank_account?.name }} -
          {{ ledger?.bank_account?.account_number }} -
          {{ ledger?.bank_account?.account_name }}
        </div>
      </div>
      <div class="menu" *ngIf="ledger?.id == selected_ledger?.id">
        <ion-icon name="checkmark-circle"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
