ion-tab-bar {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

ion-text {
  font-size: 0.8rem;
  color: #666;
}

.tab-selected {
  ion-text,
  .icon-tab {
    color: var(--ion-color-primary);
  }
}

.icon-tab {
  font-size: 1.7rem;
  color: #666;
}