<ion-tabs #tabs (ionTabsDidChange)="setTab()">
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom" >
    <ion-tab-button [tab]="tab.link" *ngFor="let tab of tabsList">
      <ion-icon class="icon-tab" name="{{tab.icon}}{{currentTab == tab.link ? '' : '-outline'}}"></ion-icon>
      <ion-text>{{tab.label}}</ion-text>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
