ion-input {
  font-size: 14px;
  font-weight: 500;
}

ion-item {
  font-size: 14px;
}

.body-content {
  position: relative;
  padding-bottom: 45px;
}

.box-detail {
  border-top: 8px solid #f5f5f5;
}

.footer-content {
  bottom: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
