<div *ngIf="!loading" class="text-center mt-5">
  <i class="fa fa-spinner fa-spin mr-3 font-14"></i>
  <span class="font-14">Đang tải dữ liệu ...</span>
</div>
<div *ngIf="loading">
  <ng-container *ngIf="subscription; else notSubscription">
    <shop-subscription-warning></shop-subscription-warning>
    <div class="dashboard-filter">
      <i class="fa fa-circle text-primary mr-2" aria-hidden="true"></i> HÔM NAY
    </div>
    <div class="body">
      <div class="p-5">
        <div class="row">
          <div class="col">
            <div class="aff-box text-center">
              <div class="border-bottom p-3">
                <span class="font-12 font-weight-bold">Đơn hàng</span>
              </div>
              <div class="p-3">
                <div class="d-flex justify-content-between">
                  <span class="text-opacity">Số đơn hàng</span>
                  <span class="text-opacity">Doanh thu thuần</span>
                </div>
                <div class="d-flex justify-content-between pt-1">
                  <h4 class="font-weight-bold">{{orderToday[1].value || 0}}</h4>
                  <h4 class="font-weight-bold">{{orderToday[0].value || 0 | vnd}}đ</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="aff-box text-center">
              <div class="border-bottom p-3">
                <span class="font-12 font-weight-bold">Đơn trả hàng</span>
              </div>
              <div class="p-3">
                <div class="d-flex justify-content-between">
                  <span class="text-opacity">Số đơn trả hàng</span>
                  <span class="text-opacity">Trừ vào doanh thu</span>
                </div>
                <div class="d-flex justify-content-between pt-1">
                  <h4 class="font-weight-bold">{{returnOrderToday[1].value || 0}}</h4>
                  <h4 class="font-weight-bold">{{returnOrderToday[0].value || 0 | vnd}}đ</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="aff-box text-center h-100">
              <div class="border-bottom p-3">
                <span class="font-12 font-weight-bold">So với hôm qua</span>
              </div>
              <div class="d-flex justify-content-between py-4 px-3 mt-2">
                <h5 class=""><i
                    class="fa fa-arrow-up icon-compare {{compareYesterday.increase ? 'fa-arrow-up text-success' : 'text-danger fa-arrow-down'}}"
                    aria-hidden="true"></i>
                  {{compareYesterday.increase ? 'Tăng' : 'Giảm'}}
                </h5>
                <h4 class="font-weight-bold {{compareYesterday.increase ? 'text-success' : 'text-danger'}}">
                  {{ compareYesterday.value }}%</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="aff-box text-center h-100">
              <div class="border-bottom p-3">
                <span class="font-12 font-weight-bold">So với cùng kỳ tháng trước</span>
              </div>
              <div class="d-flex justify-content-between py-4 px-3 mt-2">
                <h5 class=""><i
                    class="fa icon-compare
                    {{compareMonth.increase ? 'fa-arrow-up text-success' : 'text-danger fa-arrow-down'}}"
                    aria-hidden="true"></i>
                  {{compareMonth.increase ? 'Tăng' : 'Giảm'}}
                </h5>
                <h4 class="font-weight-bold {{compareMonth.increase ? 'text-success' : 'text-danger'}}">
                  {{compareMonth.value}}%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-filter d-flex">
        <etop-material-select-date-range 
          (rangeSelect)="onChangeFilter($event)" 
          [displayIcon]="true" 
          [labelBold]="true">
        </etop-material-select-date-range>
      </div>
      <div class="p-5">
        <div class="row">
          <div class="col-8">
            <div class="aff-box h-100 d-flex align-items-start flex-column">
              <div class="mt-2 position-relative" *ngIf="guideline">
                <img src="assets/images/graph_placeholder.png" alt="graph_placeholder" class="w-100">
                <h5 style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">Chưa có dữ
                  liệu</h5>
              </div>
              <canvas class="p-4" id="orders_revenue" *ngIf="!guideline"></canvas>
              <div class="border-top mt-auto w-100">
                <div class="revenue table-responsive p-4">
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th class="small-cell font-weight-bold title-opacity py-2 w-50"></th>
                        <th class="font-weight-bold text-right title-opacity">SỐ LƯỢNG ĐƠN</th>
                        <th class="font-weight-bold text-right title-opacity">DOANH THU</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="py-2">Đơn hàng</td>
                        <td class="text-right">{{generalSummarize?.order[1].value}}</td>
                        <td class="text-right">{{generalSummarize?.order[0].value | vnd}}đ</td>
                      </tr>
                      <tr>
                        <td class="py-2 pb-3">Đơn trả hàng</td>
                        <td class="text-right">{{generalSummarize?.return_order[1].value}}</td>
                        <td class="text-right">
                          {{generalSummarize?.return_order[0].value > 0 ? '-' + generalSummarize?.return_order[0].value : 0 | vnd}}đ
                        </td>
                      </tr>
                      <tr class="border-top">
                        <td class="py-2 font-weight-bold">Tổng cộng</td>
                        <td></td>
                        <td class="text-right font-weight-bold">
                          {{(generalSummarize?.order[0].value - generalSummarize?.return_order[0].value) | vnd}}đ</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
  
            </div>
  
          </div>
          <div class="col-4">
            <div class="aff-box p-4 mb-5">
              <h5 class="font-weight-bold">Doanh số bán hàng theo nhân viên</h5>
              <div *ngIf="guideline">
                <div class="revenue table-responsive mt-4">
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th class="small-cell font-weight-bold title-opacity py-2">NHÂN VIÊN</th>
                        <th class="font-weight-bold text-right title-opacity">SỐ ĐƠN HÀNG</th>
                        <th class="font-weight-bold text-right title-opacity">DOANH THU</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of [1,2]" class="placeholder-wrapper">
                        <td class="py-2 pr-2">
                          <div class="placeholder round w-100"></div>
                        </td>
                        <td class="p-2">
                          <div class="placeholder round float-right" style="width: 30%"></div>
                        </td>
                        <td class="py-2">
                          <div class="placeholder round w-100"></div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" class="text-center font-14 pt-3">Chưa có dữ liệu</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div *ngIf="!guideline">
                <span *ngIf="revenueStaff?.length == 0">Chưa có dữ liệu</span>
                <div class="revenue table-responsive mt-4" *ngIf="revenueStaff?.length > 0">
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th class="small-cell font-weight-bold title-opacity py-2">NHÂN VIÊN</th>
                        <th class="font-weight-bold text-right title-opacity">SỐ ĐƠN HÀNG</th>
                        <th class="font-weight-bold text-right title-opacity">DOANH THU</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of revenueStaff; index as i">
                        <td class="py-2">{{i + 1}}. {{item.name}}</td>
                        <td class="text-right font-weight-bold">{{item.total_count}}</td>
                        <td class="text-right font-weight-bold">{{item.total_amount | vnd}}đ</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
  
            </div>
            <div class="aff-box p-4">
              <h5 class="font-weight-bold">Sản phẩm bán chạy</h5>
              <span *ngIf="bestSeller?.length == 0">Chưa có dữ liệu</span>
              <div class="product-list mt-4" *ngIf="bestSeller?.length > 0">
                <div class="table-responsive">
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th class="small-cell font-weight-bold title-opacity" colspan="3">SẢN PHẨM</th>
                        <th class="font-weight-bold text-right title-opacity">SL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of bestSeller; index as i">
                        <td style="width: 10px;">
                          <span>{{i + 1}}</span>
                        </td>
                        <td class="font-weight-bold py-2" style="width: 50px;">
                          <img [src]="product.image_urls || 'assets/images/placeholder_medium.png'" alt="product-img"
                            class="product-img">
                        </td>
                        <td>{{product.name}}</td>
                        <td class="font-weight-bold text-right" style="width: 40px">{{product.quantity}}</td>
                      </tr>
  
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #notSubscription>
    <ng-container>
      <etop-not-subscription></etop-not-subscription>
    </ng-container>
  </ng-template>
</div>
