.dashboard-body {
  padding: 15px !important;

  .container {
    max-width: 100% !important;
    background: white !important;
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 5px;
  }
}

//new dashboard
.title-opacity {
  opacity: 0.5;
  font-size: 10px;
}

.text-opacity {
  opacity: 0.6;
}

.product-img {
  height: 30px;
  margin-left: 10px;
  object-fit: cover;
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
}

.dashboard-filter {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background: white;
  padding: 10px 35px;
  z-index: 2;
  width: 100%;
}

.input-filter {
  position: relative;
  color: var(--primary-color);
  border: none;
  outline: none;
  font-weight: bold;
  width: 144px;
  z-index: 2;
  background: transparent;
  cursor: pointer;
}

.form-filter {
  position: relative;
  &::after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 14px;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.icon-compare {
  border-radius: 50%;
  border: 1px solid;
  padding: 2px;
}

$color1: var(--gray-color);
$color2: var(--border-gray-color);
$color_header: var(--border-gray-color);

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.placeholder-wrapper {
  .placeholder {
    background: var(--gray-color);
    background-size: 200% auto;
    // animation: shine 1s linear infinite;
    height: 20px;

    &.round {
      border-radius: 50rem;
      width: 20px;
    }

    &.small {
      border-radius: 10px;
      width: 150px;
    }

    &.big {
      border-radius: 10px;
      width: 450px;
    }

    &.medium {
      border-radius: 10px;
      width: 300px;
    }
  }
}