
<div class="print-box print-me print-page" *ngFor="let order of orders">
  <table style="width:100%">
    <tbody>
      <tr>
        <td style="text-align:center">
          <table style="width:100%">
            <tbody>
              <tr>
                <td style="font-size:11px; text-align:left;" class="shop-avt-container">
                  <img class="shop-avt" [src]="shop?.image_url || 'assets/images/placeholder.png'" alt="" style="max-width: 80px;">
                </td>
                <td style="font-size:11px; text-align:left; padding: 5px;">
                  <div style="text-align:left">
                    <strong>{{shop?.name}}</strong>
                  </div>
                  <div style="text-align:left; word-break: break-word;">
                    Địa chỉ: <strong>{{shopAddress}}</strong>
                  </div>
                  <div style="text-align:left">
                    Điện thoại: <strong>{{shop?.phone}}</strong>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-container *ngIf="printOnlyOrders || printOrderAndFfm">
    <h3 style="padding:5px 0 0; text-align:center; margin-bottom: 0"><strong style="font-size:12px">HÓA ĐƠN BÁN HÀNG</strong></h3>
    <table style="width:100%">
      <tbody>
        <tr>
          <td style="font-size:11px; text-align:center">
            <strong>{{order?.code}}</strong> - Ngày tạo {{order?.created_at | date: 'dd/MM/yyyy'}}
          </td>
        </tr>
      </tbody>
    </table>

    <table style="margin:10px 0 15px; width:100%">
      <tbody>
        <tr>
          <td style="font-size:11px; word-break: break-word;">Khách hàng: <strong>{{order?.customer?.full_name}}
              {{order?.customer?.phone ? '- ' + order?.customer?.phone : ''}}</strong></td>
        </tr>
      </tbody>
    </table>

    <table style="width: 100%;">
      <tbody>
        <tr>
          <td style="border-bottom:1px solid black; border-top:1px solid black; width:35%; padding: 3px;">
            <strong><span style="font-size:11px">Đơn giá</span></strong>
          </td>
          <td style="border-bottom:1px solid black; border-top:1px solid black; text-align:right; width:30%; padding: 3px;">
            <strong><span style="font-size:11px">SL</span></strong>
          </td>
          <td style="border-bottom:1px solid black; border-top:1px solid black; text-align:right; padding: 3px;">
            <strong><span style="font-size:11px">T.Tiền</span></strong>
          </td>
        </tr>
        <ng-container *ngFor="let line of order?.lines">
          <tr>
            <td colspan="3" style="padding-top:3px">
              <span style="font-size:12px">{{line?.product_name}}</span>
            </td>
          </tr>
          <tr>
            <td style="border-bottom:1px dashed black">
              <strong><span style="font-size:11px">{{line?.payment_price | vnd}}</span></strong>
            </td>
            <td style="border-bottom:1px dashed black; text-align:right">
              <span style="font-size:11px">{{line?.quantity}}</span>
            </td>
            <td style="border-bottom:1px dashed black; text-align:right">
              <strong><span style="font-size:11px">{{(line?.payment_price * line?.quantity) | vnd}}</span></strong>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <table class="order-summarize">
      <tfoot>
        <tr>
          <td>Tổng tiền hàng:</td>
          <td>{{order?.basket_value | vnd}}</td>
        </tr>
        <tr>
          <td>Giảm giá:</td>
          <td>{{order?.total_discount | vnd}}</td>
        </tr>
        <tr>
          <td>Tổng thanh toán:</td>
          <td>{{order?.total_amount | vnd}}</td>
        </tr>
        <tr>
          <td colspan="2" style="font-size:11px; font-style:italic; text-align:right; word-break: break-word;">
            (<em>{{money2Text(order?.total_amount)}}</em>)
          </td>
        </tr>
      </tfoot>
    </table>
  </ng-container>
  <hr>
  <ng-container *ngIf="printOnlyFulfillments || printOrderAndFfm">
    <ng-container *ngIf="!order?.activeFulfillment || !order?.activeFulfillment?.shipping_code; else hasShippingCode;">
      <table style="width:100%">
        <tbody>
          <tr>
            <td>
              <strong class="font-size: 16px;">KHÔNG CÓ THÔNG TIN GIAO HÀNG</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #hasShippingCode>
      <table style="width:100%">
        <tbody>
          <tr>
            <td>
              <div>
                <strong>{{order?.activeFulfillment?.carrier_display | uppercase}}</strong>
              </div>
            </td>
          </tr>
          <tr>
            <td style="font-size:11px; text-align:center;">
              <svg attr.jsbarcode-value="{{order?.activeFulfillment?.shipping_code}}" class="shipping-barcode"></svg>
            </td>
          </tr>
          <tr *ngIf="order?.activeFulfillment?.x_sort_code" class="sort-code">
            <td class="sort-code-row">
              {{order?.activeFulfillment?.x_sort_code}}
            </td>
          </tr>
          <tr>
            <td>
              <div>
                <strong>
                  {{order?.activeFulfillment?.shipping_address?.full_name}} - {{order?.activeFulfillment?.shipping_address?.phone}}
                </strong>
              </div>
              <div>
                {{displayAddress(order?.activeFulfillment?.shipping_address)}}
              </div>
              <div class="cod">
                <strong>THU HỘ: {{order?.activeFulfillment?.total_cod_amount | vnd}}đ</strong>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table style="width:100%">
        <tbody>
          <tr>
            <td style="font-size:11px">
              Ghi chú xem hàng: <strong>{{order?.activeFulfillment?.try_on_display}}</strong>
            </td>
          </tr>
          <tr>
            <td style="font-size:11px">
              Ghi chú giao hàng: <strong>{{order?.activeFulfillment?.shipping_note}}</strong></td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ng-container>

</div>
<div class="print-box print-me print-page" *ngFor="let fulfillment of fulfillments">
  <table style="width:100%">
    <tbody>
      <tr>
        <td style="text-align:center">
          <table style="width:100%">
            <tbody>
              <tr>
                <td style="font-size:11px; text-align:left;" class="shop-avt-container">
                  <img class="shop-avt" [src]="shop?.image_url || 'assets/images/placeholder.png'" alt="" style="max-width: 80px;">
                </td>
                <td style="font-size:11px; text-align:left; padding: 5px;">
                  <div style="text-align:left">
                    <strong>{{shop?.name}}</strong>
                  </div>
                  <div style="text-align:left">
                    Địa chỉ: <strong>{{shopAddress}}</strong>
                  </div>
                  <div style="text-align:left">
                    Điện thoại: <strong>{{shop?.phone}}</strong>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-container *ngIf="printOnlyFulfillments">
    <h3 style="padding:10px 0 0; text-align:center"><strong style="font-size:12px">PHIẾU GIAO HÀNG</strong></h3>
      <table style="width:100%">
        <tbody>
          <tr>
            <td>
              <div>
                {{fulfillment.carrier_display | uppercase}}
              </div>
            </td>
          </tr>
          <tr>
            <td style="font-size:11px; text-align:center;">
              <svg attr.jsbarcode-value="{{fulfillment.shipping_code}}" class="shipping-barcode"></svg>
            </td>
          </tr>
          <tr *ngIf="fulfillment?.x_sort_code" class="sort-code">
            <td class="sort-code-row">
              {{fulfillment.x_sort_code}}
            </td>
          </tr>
          <tr>
            <td>
              <div>
                <strong>
                  {{fulfillment.shipping_address?.full_name}} - {{fulfillment.shipping_address?.phone}}
                </strong>
              </div>
              <div>
                {{displayAddress(fulfillment.shipping_address)}}
              </div>
              <div class="cod">
                <strong>THU HỘ: {{fulfillment.total_cod_amount | vnd}}đ</strong>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <strong class="title">CHI TIẾT</strong>
      <table style="width:100%">
          <tbody>
            <tr>
              <td style="font-size:11px">Mã: <strong>{{fulfillment.shipping_code}}</strong></td>
            </tr>
            <tr>
              <td style="font-size:11px">
                Dịch vụ:
                <strong>
                  {{fulfillment.carrier_display}} - {{fulfillment.shipping_service_name}}
                </strong>
              </td>
            </tr>
            <tr>
              <td style="font-size:11px">
                Ngày tạo: <strong>{{fulfillment.created_at | date: 'dd/MM/yyyy'}}</strong>
              </td>
            </tr>
            <tr>
              <td style="font-size:11px">
                Khối lượng:<strong>{{fulfillment.chargeable_weight | vnd}}g</strong>
              </td>
            </tr>
            <tr>
              <td style="font-size:11px">
                Ghi chú xem hàng: <strong>{{fulfillment.try_on_display}}</strong>
              </td>
            </tr>
            <tr>
              <td style="font-size:11px">
                Ghi chú giao hàng: <strong>{{fulfillment.shipping_note}}</strong></td>
            </tr>
            <tr>
              <td style="font-size:11px">Thu hộ: <strong>{{fulfillment.total_cod_amount | vnd}}đ</strong></td>
            </tr>
          </tbody>
      </table>

      <strong class="title">NGƯỜI NHẬN</strong>
      <table style="width:100%">
        <tbody>
          <tr>
            <td style="font-size:11px">
              Tên: <strong>{{fulfillment.shipping_address?.full_name}}</strong>
            </td>
          </tr>
          <tr>
            <td style="font-size:11px">
              SĐT: <strong>{{fulfillment.shipping_address?.phone}}</strong>
            </td>
          </tr>
          <tr>
            <td style="font-size:11px">
              Địa chỉ: <strong>{{displayAddress(fulfillment.shipping_address)}}</strong>
            </td>
          </tr>
        </tbody>
      </table>

      <strong class="title">NGƯỜI GỬI</strong>
      <table style="width:100%">
        <tbody>
        <tr>
          <td style="font-size:11px">
            Tên: <strong>{{fulfillment.pickup_address?.full_name}}</strong>
          </td>
        </tr>
        <tr>
          <td style="font-size:11px">
            SĐT: <strong>{{fulfillment.pickup_address?.phone}}</strong>
          </td>
        </tr>
        <tr>
          <td style="font-size:11px">
            Địa chỉ: <strong>{{displayAddress(fulfillment.pickup_address)}}</strong>
          </td>
        </tr>
        </tbody>
      </table>
  </ng-container>
</div>
