.modal-header, .modal-footer {
  padding: 1.5rem;
}

.modal-header {
  justify-content: center;
}

.close {
  position: absolute;
  right: 2rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  .fa {
    font-size: 1.75rem;
  }
}

.input-label {
  cursor: pointer;
  margin-bottom: 0;
  color: #444;
  line-height: 1;
  display: flex;
  align-items: flex-start;
  font-size: 1.1rem;
  input {
    margin-right: .75rem;
  }
}

.modal-body {
  padding: 0;
}

.location-type {
  padding: 1.5rem 2rem;
  &.custom-region {
    border-left: 1px solid var(--border-gray-color);
    border-right: 1px solid var(--border-gray-color);
  }
}

.location-type-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #444;
  margin-bottom: .5rem;
}

.location-type-item {
  padding: .5rem 0;
  display: block;
}

.list-provinces {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: .8rem;
  color: var(--default-color);
  margin-top: .25rem;
}

mat-checkbox::ng-deep {
  width: 100%;
  display: block;
  .mat-checkbox-layout {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .mat-checkbox-inner-container {
    position: relative;
    top: 1px;
    margin: unset;
  }
  .mat-checkbox-label {
    width: 100%;
    padding-left: 5px;
  }
  .input-label {
    white-space: pre-line;
  }
  .list-provinces {
    height: 15px;
    line-height: 15px;
    white-space: pre-line;
  }
}
