<div class="modal-header big-font position-relative">
  Tuỳ chọn tuyến nâng cao
  <div class="close" (click)="closeModal()">
    <i class="fa fa-times"></i>
  </div>
</div>
<div class="modal-body">
  <div class="d-flex flex-wrap" [formGroup]="advancedLocationForm">
    <div class="col-3 location-type">
      <div class="location-type-title">
        Điều kiện Miền
      </div>
      <div class="location-type-list">
        <mat-radio-group color="primary" formControlName="regionType">
          <mat-radio-button
            class="location-type-item"
            *ngFor="let region of regionTypes" [value]="region?.value" disableRipple>
            {{region?.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="col-6 location-type custom-region d-flex flex-wrap">
      <div class="col-3 pl-0">
        <div class="location-type-title">
          Điều kiện Vùng
        </div>
        <div class="location-type-list">
          <mat-radio-group color="primary" formControlName="customRegionType">
            <mat-radio-button
              class="location-type-item"
              *ngFor="let customRegion of customRegionTypes" [value]="customRegion?.value" disableRipple>
              {{customRegion?.name}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-9 pr-0">
        <div class="location-type-title">
          Vùng áp dụng điều kiện
        </div>
        <div class="d-flex flex-wrap">
          <ng-container formArrayName="customRegions">
            <div
              *ngFor="let cr of customRegionsForm.controls; let i = index;"
              class="col-6 location-type-item" [class.pl-0]="i % 2 == 0" [class.pr-0]="i % 2 != 0">
              <ng-container [formGroupName]="i">
                <mat-checkbox
                  formControlName="selected" disableRipple color="primary"
                  ngbTooltip="{{customRegionDisplay(cr?.value)}}" placement="bottom" tooltipClass="text-left">
                  <span class="input-label">{{cr?.value?.name}}</span>
                  <span class="list-provinces">
                    {{customRegionDisplay(cr?.value)}}
                  </span>
                </mat-checkbox>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-3 location-type">
      <div class="location-type-title">
        Điều kiện Tỉnh
      </div>
      <div class="location-type-list">
        <mat-radio-group color="primary" formControlName="provinceType">
          <mat-radio-button
            class="location-type-item"
            *ngFor="let province of provinceTypes" [value]="province?.value" disableRipple>
            {{province?.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="summarize pr-3" style="flex: 1;" [class.invisible]="!locationsSelected">
      <span class="big-font mr-3">Tuyến đang định nghĩa:</span>
      <span class="big-font text-primary" [innerHTML]="locationsSummarized | safeHtml"></span>
    </div>
    <div class="text-right">
      <button class="btn btn-outline btn-default mr-3" (click)="closeModal()">Đóng</button>
      <button class="btn btn-primary text-white" (click)="confirm()">Chọn</button>
    </div>
  </div>
</div>
