<div class="modal-header py-2">
  <h5 style="margin: auto 0 !important;" class="text-center">Quên mật khẩu</h5>
  <button type="button" class="btn text-large" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body sweet">
  <div class="form-group m-0">
    <b>Chọn phương thức xác thực:</b>
    <form class="mt-3" >
      <label>
        <input type="radio" value="usingEmail" name="radio" [checked]="usingEmail" (change)="onChangeType()">
        <h6 class="d-inline ml-2">Xác thực bằng email</h6><br>
        <p class="mt-2 mb-0" *ngIf="usingEmail">
          Vui lòng cung cấp địa chỉ <b>email</b> mà bạn đã dùng khi đăng ký tài khoản eTop.
          Chúng tôi sẽ gửi bạn email cho phép bạn đặt lại mật khẩu.
        </p>
       
      </label>
      <label class="w-100" *ngIf="usingEmail">
        <input type="email" required class="form-control" placeholder="Email" name="email" [(ngModel)]="formForgot.email" [disabled]="!usingEmail"
          data-fv-emailaddress-message="The value is not a valid email address">
      </label>
    </form>
    <form class="mt-3"  >
      <label>
        <input type="radio" value="usingPhone" name="radio" [checked]="!usingEmail" (change)="onChangeType()"><h6 class="d-inline ml-2">Xác thực bằng số điện thoại</h6><br>
        <p class="mt-2 mb-0" *ngIf="!usingEmail">
          Vui lòng cung cấp <b>số điện thoại</b> mà bạn đã dùng khi đăng ký tài khoản eTop.
          Chúng tôi sẽ gửi bạn mã xác nhận cho phép bạn đặt lại mật khẩu.
        </p>
      </label>
      <label class="w-100" *ngIf="!usingEmail">
        <input type="text" required class="form-control" (keypress)="numberOnly($event)" placeholder="Số điện thoại" name="phone" [(ngModel)]="formForgot.phone" [disabled]="usingEmail">
      </label>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default btn-outline" data-dismiss="modal">Hủy</button>
  <button class="btn btn-custom btn-primary" (click)="doForgotPassword()" [disabled]="loading">
    <i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i>
    Đặt lại mật khẩu
  </button>
</div>