<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-padding">
        <div class="ion-flex ion-align-items-center">
          <img src="assets/imgs/logo_etop_mono.png" class="logo" alt="logo">
          <div class="text-medium font-bold font-12">ETOP TECH JSC</div>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="ion-flex flex-column h-100">
      <div class="body-content">
        <div class="ion-padding-horizontal ion-padding-top font-bold">THÔNG TIN CƠ BẢN</div>
        <ion-list class="ion-padding-end">
          <ion-item>
            <ion-label>Tên cửa hàng *</ion-label>
            <ion-input placeholder="Tên cửa hàng" class="ion-text-end" [(ngModel)]="shop.name">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Website</ion-label>
            <ion-input placeholder="Website" class="ion-text-end" [(ngModel)]="shop.website_url">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Số điện thoại *</ion-label>
            <ion-input placeholder="Số điện thoại" class="ion-text-end" [(ngModel)]="shop.phone">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Email *</ion-label>
            <ion-input placeholder="Email" class="ion-text-end" [(ngModel)]="shop.email">
            </ion-input>
          </ion-item>

        </ion-list>
        <div class="ion-padding-horizontal ion-padding-top font-bold">ĐỊA CHỈ CỬA HÀNG</div>
        <ion-list class="ion-padding-end">
          <ion-item>
            <ion-label>Tỉnh/Thành phố</ion-label>
            <ion-select placeholder="Tỉnh/Thành phố" okText="Chọn" cancelText="Đóng"
              [(ngModel)]="shop.address.province_code" (ionChange)="onProvinceSelected()">
              <ion-select-option value="{{province.code}}" *ngFor="let province of provinces">{{province.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Quận/Huyện</ion-label>
            <ion-select placeholder="Quận/Huyện" okText="Chọn" cancelText="Đóng" [(ngModel)]="shop.address.district_code"
              (ionChange)="onDistrictSelected()">
              <ion-select-option value="{{district.code}}" *ngFor="let district of districts">{{district.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Phường/Xã</ion-label>
            <ion-select placeholder="Phường/Xã" okText="Chọn" cancelText="Đóng" [(ngModel)]="shop.address.ward_code">
              <ion-select-option value="{{ward.code}}" *ngFor="let ward of wards">{{ward.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Địa chỉ</ion-label>
            <ion-input placeholder="Địa chỉ" class="ion-text-end" [(ngModel)]="shop.address.address1">
            </ion-input>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
  <ion-footer class="footer-button-wrapper">
    <ion-toolbar color="primary" class="no-padding">
      <div class="footer-buttons ion-flex">
        <button class="w-100 bg-primary text-white footer-button-item" (click)="createShop()">
          Tạo cửa hàng
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</div>
