.product-img {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  border: 1px solid var(--gray-color);
  margin-bottom: 0.25rem;
}

.product-price {
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
  font-size: .9rem;
}
.product-quantity {
  font-weight: 700;
  text-align: center;
  color: var(--default-color);
  font-size: .8rem;
}
.product-name {
  height: 1.2rem;
  line-height: 1.2rem;
  overflow: hidden;
  font-size: 0.8rem;
  text-align: center !important;
  display: -webkit-box;

  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.product-card-item {
  cursor: pointer;
}

.modal,
.modal-backdrop {
  position: absolute !important;
}
