<div class="col align-self-center">
  <span class="text-primary font-weight-bold">
    {{shipmentPriceList?.name}}
  </span>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{shipmentPriceList?.created_at | date: 'HH:mm dd/MM/yyyy'}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <ng-container *ngIf="shipmentPriceList?.provider_name; else noProviderName">
    <div class="d-flex align-items-center">
      <span class="carrier-image">
        <img src="{{shipmentPriceList?.provider_logo}}" alt="">
      </span>
      <span class="pl-2">{{shipmentPriceList?.provider_name | uppercase}}</span>
    </div>
  </ng-container>
  <ng-template #noProviderName>-</ng-template>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <span
    [ngClass]="{'order-status order-P': shipmentPriceList?.is_default}">
    {{shipmentPriceList?.is_default ? 'Mặc định' : '-'}}
  </span>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <ng-container *ngIf="shipmentPriceList?.description; else noDesc;">
    <span class="small-font">
      {{shipmentPriceList?.description}}
    </span>
  </ng-container>
  <ng-template #noDesc>-</ng-template>
</div>

