:host {
  display: flex;
  &.active {
    background: #35baeb;
    color: #fff !important;
    .name-store {
      font-weight: 600;
    }
    .btn-call {
      background-color: #fff;
      color: #35baeb;
    }
    .action {
      color: #fff !important;
    }
  }
}
.contact-item {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  width: 100%;
  cursor: pointer;
}