  <div class="contact-item">
    <div class="info font-13">
      <div><strong>{{call_log.phone}}</strong> - {{call_log.lastname}}</div>
      <div class="font-12">{{call_log.company}}</div>
      <div class="action-call" [ngClass]="{'text-danger': call_log.duration == 0, 'text-success': call_log.duration > 0}">
        <div *ngIf="call_log.direction == 1">
          <i class="fa fa-long-arrow-left"></i>
          Cuộc gọi đến - lúc {{call_log.date_started_parsed}} - từ {{call_log.time_started_parsed}} đến {{call_log.time_ended_parsed}}
        </div>
        <div *ngIf="call_log.direction == 3">
          <i class="fa fa-long-arrow-right"></i>
          Cuộc gọi đi - lúc {{call_log.date_started_parsed}} - từ {{call_log.time_started_parsed}} đến {{call_log.time_ended_parsed}}
        </div>
      </div>
    </div>
    <div>
      <a href="#" eCallButton="{{call_log.phone}}">gọi lại <i class="fa fa-phone"></i></a>
      <a [href]="call_log.recording_url" *ngIf="call_log.recording_url" target="_blank">nghe lại <i class="fa fa-file-archive-o"></i></a>
    </div>
  </div>
