<etop-table
  #vouchersTable [items]="vouchers" (requestNewPage)="loadPage($event)"
  [show_paging]="vouchers.length > 0 && showPaging">
  <ng-template #header let-liteMode="liteMode">
    <div class="col text-left">
      <span class="table-header-text">Mã <span class="table-header-text" *ngIf = "this.filters[0].value != 'all'">{{voucherName}}</span></span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Phương thức</span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Tham chiếu</span>
    </div>
    <div class="col text-left" *ngIf="!liteMode">
      <span class="table-header-text">Đối tác</span>
    </div>
    <div class="col text-left" *ngIf="!liteMode">
      <span class="table-header-text">Số sản phẩm</span>
    </div>
    <div class="col text-left" *ngIf="!liteMode">
      <span class="table-header-text">Tổng số lượng</span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Tổng giá trị</span>
    </div>
    <div class="col text-left" style="min-width: 20rem;" *ngIf="!liteMode">
      <span class="table-header-text">Ghi chú</span>
    </div>
  </ng-template>

  <ng-template #emptyItem>
    <etop-empty-page [title]="emptyTitle" [type]="emptyType"></etop-empty-page>
  </ng-template>

  <ng-template #item let-voucher="item" let-liteMode="liteMode">
    <div class="row table-row" shop-inventory-voucher-row [voucher]="voucher" [liteMode]="liteMode"
      (click)="detail($event, voucher)" [class.active]="voucher.p_data?.selected || voucher.p_data?.detailed">
    </div>
  </ng-template>
</etop-table>

<etop-side-slider #slider>
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
        Đóng<mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-template>
  <ng-container *ngIf="selectedVouchers?.length">
    <shop-inventory-voucher-detail [voucher]="selectedVouchers[0]"></shop-inventory-voucher-detail>
  </ng-container>
</etop-side-slider>
