<!-- <div class="action">
  <div class="action-title">TẠO ĐƠN GIAO HÀNG</div>
  <div class="action-desc">
    Lựa chọn các phương thức và dịch vụ vận chuyển cho đơn hàng của bạn.
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <div class="action-detail">
        <button class="btn btn-full btn-outline btn-topship" (click)="deliveryFast()">Giao nhanh</button>
        <div class="carriers">
          <img alt="ghn" src="assets/images/provider_logos/ghn-s.png">
          <img alt="ghtk" src="assets/images/provider_logos/ghtk-s.png">
          <img alt="vtpost" src="assets/images/provider_logos/vtpost-s.png">
        </div>
        <div class="note">
          Giao hàng trong vòng 2-5 ngày, đối soát trực tiếp với TOPSHIP
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="action-detail">
        <button class="btn btn-full btn-outline btn-topship" (click)="deliveryNow()">Giao tức thì</button>
        <div class="carriers">
          <img alt="ahamove" src="assets/images/provider_logos/ahamove-s.png">
          <img alt="grab" src="assets/images/provider_logos/grab-s-bw.png" placement="bottom" ngbTooltip="Đang phát triển">
        </div>
        <div class="note">
          Lấy và giao hàng trong ngày, hỗ trợ khu vực TP.HCM và HN.
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="action-detail">
        <button class="btn btn-gray btn-full" placement="bottom" ngbTooltip="Đang phát triển">Tự giao</button>
        <div class="carriers">
          <span class="text-topship font-11">Thêm đối tác vận chuyển</span>
        </div>
        <div class="note">
          Giao hàng và đối soát thông qua các đối tác vận chuyển của riêng bạn.
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="action">
  <div class="action-title">PHIẾU IN</div>
  <div class="action-desc">
    In thông tin đơn hàng, đơn giao hàng của bạn.
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <div class="action-detail">
        <button class="btn btn-full btn-outline btn-primary" (click)="printOrders()">
          Hoá đơn
        </button>
      </div>
    </div>
    <div *ePermissions="['shop/fulfillment:view']" class="col-4">
      <div class="action-detail">
        <button
          class="btn btn-full btn-outline" [class.btn-primary]="!allNullActiveFfm" [class.btn-default]="allNullActiveFfm"
          [disabled]="allNullActiveFfm" (click)="printFulfillments()">
          Giao hàng
        </button>
      </div>
    </div>
    <div *ePermissions="['shop/fulfillment:view']" class="col-4">
      <div class="action-detail">
        <button
          class="btn btn-full btn-outline" [class.btn-primary]="!allNullActiveFfm" [class.btn-default]="allNullActiveFfm"
          [disabled]="allNullActiveFfm" (click)="printOrderAndFfm()">
          Hoá đơn và giao hàng
        </button>
      </div>
    </div>
  </div>
</div>
<div *ePermissions="['order:export','fulfillment:export']" class="action">
  <div class="action-title">XUẤT DỮ LIỆU</div>
  <div class="action-desc">
    Xuất file Excel các dữ liệu về đơn hàng cũng như đơn giao hàng.
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <div *ePermissions="['shop/order:export']" class="action-detail">
        <button class="btn btn-full btn-outline btn-primary" (click)="exportOrder()">
          Đơn hàng
        </button>
      </div>
    </div>
    <div *ePermissions="['shop/fulfillment:export']" class="col-6">
      <div class="action-detail">
        <button
          class="btn btn-full btn-outline" [class.btn-primary]="!allNullActiveFfm" [class.btn-default]="allNullActiveFfm"
          [disabled]="allNullActiveFfm" (click)="exportFFM()">
          Đơn giao hàng
        </button>
      </div>
    </div>
  </div>
</div>
