:host {
  height: 100%;
  width: 100%;
}

.carriers-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.carrier-item {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  .carrier-item-info {
    text-align: center;
    padding: 1rem 0.5rem;
    width: 100%;
    height: 25%;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .services-wrapper {
    width: 100%;
    height: 75%;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  @media (max-width: 767px) {
    width: 100%;
    .carrier-item-info {
      width: 25%;
      height: 100%;
    }
    .services-wrapper {
      width: 75%;
      height: 100%;
      border-right: none;
    }
  }
}


.carrier-item-logo {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  object-position: center;
  border: 1px solid #eee;
  border-radius: 100%;
}

.carrier-item-name {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 1rem;
}


.empty-service {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.15rem;
  background: #fafafa;
}

.service-item {
  padding: 1rem;
}

.not-enough-info {
  object-fit: contain;
  object-position: center;
  width: 300px;
}

$color1: #eee;
$color2: #ddd;

.placeholder-service-name,
.placeholder-service-fee,
.placeholder-service-time {
  background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
  background-size: 200% auto;
  animation: shine 1s linear infinite;
  border-radius: 20px;
}

.placeholder-service-name {
  width: 70%;
  height: 1rem;
}

.placeholder-service-fee {
  width: 50%;
  height: 1.25rem;
}

.placeholder-service-time {
  width: 100%;
  height: .8rem;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

