<ng-container *ngIf="enoughInfo; else notEnoughInfo;">
  <div class="carriers-wrapper">
    <div class="carrier-item" *ngFor="let carrier of carriers">
      <div class="carrier-item-info">
        <img class="carrier-item-logo" src="{{carrier?.logo}}" alt="">
        <div class="carrier-item-name">{{carrier?.name}}</div>
      </div>
      <ng-container *ngIf="loading">
        <div class="services-wrapper">
          <div class="service-item d-flex flex-column mb-5">
            <div class="placeholder-service-name mb-3"></div>
            <div class="placeholder-service-fee mb-3"></div>
            <div class="placeholder-service-time"></div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading">
        <div class="services-wrapper">
          <div class="empty-service" *ngIf="!carrier?.services?.length">
            Không tìm thấy gói dịch vụ
          </div>
          <div class="service-item" *ngFor="let service of carrier?.services">
            <div class="text-bold upper-medium-font">{{service.name}}</div>
            <div class="text-bold text-topship big-font">{{service.fee | vnd}}đ</div>
            <div class="text-default small-font">
              <div>Lấy trước {{(service?.estimated_pickup_at | date: 'HH:mm dd/MM') || '--'}}</div>
              <div>Giao {{(service?.estimated_delivery_at | date: 'dd/MM') || '--'}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-template #notEnoughInfo>
  <div class="d-flex flex-column align-items-center p-4">
    <img class="not-enough-info" src="assets/images/empty_service.png" alt="no-service">
    <div class="text-center mt-5 upper-medium-font">
      Vui lòng nhập địa chỉ lấy/giao hàng, khối lượng, tiền thu hộ, bảo hiểm để kiểm tra chính xác giá dịch vụ
    </div>
  </div>
</ng-template>
