<div class="p-3 tickets-container d-flex align-items-center justify-content-center" *ngIf="getting_tickets">
  <i class="fa fa-spin fa-circle-o-notch bigger-font"></i>
</div>
<ng-container *ngIf="!getting_tickets">
  <div class="p-3 tickets-container bg-gray text-center" *ngIf="!tickets || !tickets?.length">
    Đơn hàng chưa có yêu cầu hỗ trợ.
  </div>
  <div class="p-3 tickets-container" *ngIf="tickets && tickets?.length">
    <admin-ticket-list-in-detail [tickets]="tickets"></admin-ticket-list-in-detail>
  </div>
</ng-container>
