<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title>Nhân viên</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="button-icon" (click)="addStaff()">
      <ion-icon name="add" mode="md" class="add-staff text-white"></ion-icon>
      <ion-text>Thêm</ion-text>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment mode="md" color="primary" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment">
    <ion-segment-button value="staff">
      <ion-label>Danh sách</ion-label>
    </ion-segment-button>
    <ion-segment-button value="waitting">
      <ion-label>Chờ phản hồi ({{shopInvitations?.length}})</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <div class="list-item">
    <ng-container *ngIf="segment == 'staff'">
      <div class="box-segment" *ngFor="let relationship of relationships;">
        <etop-staff-management-row [staff]="relationship"></etop-staff-management-row>
      </div>
    </ng-container>

    <ng-container *ngIf="segment == 'waitting'">
      <div class="box-segment" *ngFor="let invitation of shopInvitations">
        <etop-user-invitation-row [invitation]="invitation" (cancelInvitation)="cancelInvitation()">
        </etop-user-invitation-row>
      </div>
      <div class="ion-flex m-auto h-100 ion-align-items-center" *ngIf="shopInvitations.length == 0">
                <span class="ion-text-center w-100">
            Cửa hàng của bạn chưa có lời mời nào.
          </span>
      </div>
    </ng-container>
  </div>
</ion-content>
