<div class="section">
  <shared-select-multiline
    *ngIf="!addressLoading" placeholder="Nhập địa chỉ lấy hàng" inputClass="text-topship"
    width="100%" min_width="100%" [options]="fromAddresses"
    [(ngModel)]="fromAddressIndex" (ngModelChange)="setShopAddress()">
    <div class='text-center m-auto text-warning' (click)="newFromAddress()">
      Thêm địa chỉ lấy hàng mới
    </div>
  </shared-select-multiline>
</div>
<div class="section">
  <div class="loading-something text-topship" [class.d-none]="!renderingMap" style="height: 225px;">
    <mat-spinner diameter="20"></mat-spinner>
  </div>
  <div [class.d-none]="renderingMap" #googleMap style="width:100%; height:225px"></div>
</div>
<div class="section p-0 border-0 order-sort-list">
  <div class="order-sort-item start-item">
    <span class="sort-index">0</span>
    <span class="sort-code">LẤY HÀNG:</span>
    <span class="sort-customer">{{shipping_data?.pickup_address?.full_name}},</span>
    <span class="sort-address">{{addressDisplay(shipping_data?.pickup_address, false)}}</span>
  </div>
  <shared-dragdrop-sorting [drag_items]="orders" (dropped)="drop($event)">
    <ng-template #item let-order="item" let-index="index">
      <div class="order-sort-item">
        <span class="sort-index">{{index + 1}}</span>
        <span class="sort-customer">{{order?.p_data?.shipping?.shipping_address?.full_name}},</span>
        <span class="sort-address">{{addressDisplay(order?.p_data?.shipping?.shipping_address, false)}}</span>
        <span class="sort-money">{{order?.p_data?.shipping?.cod_amount | vnd}}đ</span>
      </div>
    </ng-template>
  </shared-dragdrop-sorting>
</div>
<div class="section">
  <div class="d-flex align-items-center justify-content-between">
    <div class="section-title mb-0">
      Mã khuyến mãi
    </div>
    <etop-material-input
      textLabel="Mã khuyến mãi" placeholder="Nhập mã khuyến mãi" type="input" [topshipInput]="true"
      [(ngModel)]="shipping_data.coupon" (ngModelChange)="updateShippingData(false); getServices();">
    </etop-material-input>
  </div>
</div>
<div class="section px-0 pb-0">
  <div class="empty-connection" *ngIf="!(shipnowConnections$ | async)?.length; else hasConnections">
    <div class="empty-title">
      Chưa kết nối nhà vận chuyển giao tức thì
    </div>
    <div class="empty-subtitle">
      Vui lòng kết nối nhà vận chuyển giao tức thì để tiếp tục sử dụng
    </div>
    <button class="btn btn-topship" (click)="toCarrierConnect()">
      Kết nối
    </button>
  </div>
  <ng-template #hasConnections>
    <div class="text-bold text-center mb-3">Chọn gói dịch vụ</div>
    <shop-shipnow-service-options
            [class.d-none]="gettingServices"
            #shipnowServiceOptions (shipnowServiceChange)="onSelectedService($event)">
    </shop-shipnow-service-options>
    <ng-container *ngIf="notVerifiedConnection">
      <shop-shipnow-verify-warning class="verify-section" [connection]="selectedConnection">
      </shop-shipnow-verify-warning>
    </ng-container>
  </ng-template>
</div>
<div class="section border-bottom-0">
  <div class="align-items-center d-flex justify-content-between mb-4">
    <div>
      <div class="money-label">Tổng tạm ứng</div>
      <div class="money-value">{{totalCodAmount | vnd}}đ</div>
    </div>
    <div class="text-right">
      <div class="money-label">Tổng phí</div>
      <div class="money-value">
        <span *ngIf="calculatingFee"><i class="fa fa-spin fa-circle-o-notch"></i></span>
        <span *ngIf="!calculatingFee">{{totalFee || 0 | vnd}}đ</span>
      </div>
    </div>
  </div>
  <div class="button-wrapper text-center">
    <button
      class="btn text-white w-100"
      [class.btn-topship]="hasValidOrders"
      [class.unavailable]="!hasValidOrders || notVerifiedConnectionUsingCod"
      ngbTooltip="Cần xác thực tài khoản với {{selectedConnection?.name_display}} để có thể sử dụng dịch vụ giao hàng tạm ứng. Tạm thời, bạn có thể chuyển số tiền tạm ứng về 0đ để tiếp tục tạo đơn"
      [disableTooltip]="!notVerifiedConnectionUsingCod"
      [disabled]="loading"
      (click)="createFFM()">
      <mat-spinner *ngIf="loading" class="mr-2" diameter="14"></mat-spinner>
      Tạo đơn giao tức thì
    </button>
  </div>
</div>
