<div class="page-content" *ngIf="!loading_bank">
  <div class="row">
    <div class="col">
      <div class="aff-box p-4 pl-5 pr-5">
        <div class="title pb-4">
          Tài khoản
        </div>
        <etop-material-input placeholder="Họ và tên" textLabel="Họ và tên" appearance="outline"
                             [(ngModel)]="user.full_name" (ngModelChange)="onDataEdited($event)" type="input" [disabled]="true">
        </etop-material-input>
        <etop-material-input placeholder="Số điện thoại" textLabel="Số điện thoại" appearance="outline"
                             [(ngModel)]="user.phone" (ngModelChange)="onDataEdited($event)" type="input" [disabled]="true">
        </etop-material-input>
        <etop-material-input placeholder="Email" textLabel="Email" appearance="outline"
                             [(ngModel)]="user.email" (ngModelChange)="onDataEdited($event)" type="input" [disabled]="true">
        </etop-material-input>
        <div class="action mt-4 mb-3">
          <button class="btn btn-outline btn-primary" (click)="openChangePasswordModal()">Đổi mật khẩu</button>
        </div>

      </div>

    </div>
    <div class="col">
      <div class="aff-box p-4 pl-5 pr-5">
        <div class="title pb-4">
          Thông tin tài khoản
        </div>
        <ng-container [formGroup]="bankForm">
          <etop-material-input
            placeholder="Ngân hàng" textLabel="Ngân hàng" [optionSelect]="banksList$ | async"
            formControlName="bankCode" type="select">
          </etop-material-input>
          <div class="row">
            <div class="col-6">
              <etop-material-input
                placeholder="Tỉnh/Thành phố" textLabel="Tỉnh/Thành phố" [optionSelect]="bankProvincesList$ | async"
                formControlName="bankProvinceCode" type="select">
              </etop-material-input>
            </div>
            <div class="col-6 pl-0">
              <etop-material-input
                placeholder="Chi nhánh" textLabel="Chi nhánh" [optionSelect]="bankBranchesList$ | async"
                formControlName="bankBranchCode" type="select">
              </etop-material-input>
            </div>
          </div>
        </ng-container>

        <div class="row">
          <div class="col-6">
            <etop-material-input placeholder="Chủ tài khoản" textLabel="Chủ tài khoản" appearance="outline"
                                 [(ngModel)]="bankAccount.account_name" (ngModelChange)="onDataEdited($event)" type="input">
            </etop-material-input>
          </div>
          <div class="col-6 pl-0">
            <etop-material-input placeholder="Số tài khoản" textLabel="Số tài khoản" appearance="outline"
                                 [(ngModel)]="bankAccount.account_number" (ngModelChange)="onDataEdited($event)" type="input">
            </etop-material-input>
          </div>
        </div>
        <div class="action mt-4 mb-3 text-right">
          <button class="btn btn-primary" (click)="UpdateBankAccount()">Cập nhật</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <div class="aff-box p-4 pl-5 pr-5">
        <div class="title pb-4">
          Giới thiệu
        </div>
        <div class="mat-input d-flex position-relative">
          <label class="textlable">Mã giới thiệu</label>
          <span class="font-weight-bold align-self-center mr-auto pl-3 text-default">{{user.phone}}</span>
          <div class="copy text-primary border-left align-self-center" (click)="copyText(user.phone)">
            <img src="/assets/images/copy.png" alt="copy" class="mr-2" width="10">
            Sao chép
          </div>
        </div>
        <div class="mat-input d-flex position-relative">
          <label class="textlable">Link đăng ký</label>
          <span
            class="font-weight-bold align-self-center mr-auto pl-3 text-default">{{url}}/register?e_aff={{user.phone}}</span>
          <div class="copy text-primary border-left align-self-center" (click)="copyText(url+'/register?e_aff='+user.phone)">
            <img src="/assets/images/copy.png" alt="copy" class="mr-2" width="10">
            Sao chép
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<aff-guide-link [handle]="handle"></aff-guide-link>
