<div class="page-content py-0 h-100">
    <etelecom-cs-contacts-list *ngIf="(tab$| async) == tab.general" #contactsList></etelecom-cs-contacts-list>
    <etelecom-cs-internal-contacts-list *ngIf="(tab$| async) == tab.internal"></etelecom-cs-internal-contacts-list>
</div>
