<ion-header>
    <ion-toolbar>
      <ion-title>Lời mời</ion-title>
      <ion-buttons slot="start" (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="body-content">
        <div class="ion-padding" style="padding-top: 20%;" *ngIf="!compareAccount()">
            <div class="ion-text-center">
                <mat-icon fontSet="material-icons-outlined" class="mat-icon-warning">privacy_tip</mat-icon>
            </div>
            <div class="ion-padding-top">
                Lời mời được gửi đến tài khoản có số điện thoại <strong>{{phone}}</strong>. Bạn đang đăng nhập với tài khoản có số điện thoại <strong>{{user?.phone}}</strong> 
            </div>
            <div class="ion-padding-top">Vui lòng đăng nhập đúng tài khoản được mời để tiếp tục</div>
        </div>
        <div class="invite-info" *ngIf="compareAccount()">
            <ng-container *ngIf="userInvitation">
                <div class="shop-info ion-padding ion-text-center">
                    <img [src]="userInvitation?.shop?.image_url || 'assets/images/placeholder_2.png'" alt="" class="shop-logo">
                    <div class="ion-padding-top font-18 font-bold">{{userInvitation?.shop?.code}} - {{userInvitation?.shop?.name}}</div>
                    <div class="ion-text-left ion-padding-top">Bạn được <strong>{{userInvitation?.full_name}}</strong> mời tham gia quản trị cửa hàng <strong>{{userInvitation?.shop?.name}}</strong></div>
                </div>
                <div class="role-info">
                    <div class="list-role">
                        <div class="role">
                            <ion-text class="font-bold">Vai trò</ion-text>
                        </div>
                        <div class="role" *ngFor="let role of userInvitation?.roles">
                            <ion-icon name="ellipse"></ion-icon>
                            <ion-text>{{displayRole(role)}}</ion-text>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!userInvitation">
                <div class="ion-padding" style="padding-top: 20%;">
                    <div class="ion-text-center">
                        <mat-icon fontSet="material-icons-outlined" class="mat-icon-warning">privacy_tip</mat-icon>
                    </div>
                    <div class="ion-padding-top">Lời mời tham gia quản trị đã hết hạn hoặc không tồn tại.</div>
                </div>
            </ng-container>
        </div>
    </div>
</ion-content>
<ion-footer class="footer-button-wrapper" *ngIf="!compareAccount()">
    <ion-toolbar color="primary" class="no-padding" (click)="loginAnotherAccount()">
      <div class="footer-buttons ion-flex">
        <button class="w-100 bg-primary text-white footer-button-item">
          Đăng nhập tài khoản khác
        </button>
      </div>
    </ion-toolbar>
    
  </ion-footer>
  <ion-footer class="footer-button-wrapper" *ngIf="compareAccount()">
    <ion-toolbar class="custom" *ngIf="userInvitation">
        <ion-row class="footer-row">
            <ion-col size="6" class="item ion-flex ion-align-items-center ion-justify-content-center border-right" (click)="reject(userInvitation)">
              <ion-icon color="danger" class="action font-bold" name="close-outline"></ion-icon>
              <ion-text color="danger" class="font-bold">Từ chối</ion-text>
            </ion-col>
            <ion-col size="6" class="item ion-flex ion-align-items-center ion-justify-content-center" (click)="acceptInvitation(userInvitation)">
              <ion-icon color="primary" class="action font-bold" name="checkmark-outline"></ion-icon>
              <ion-text color="primary" class="font-bold">Chấp nhận</ion-text>
            </ion-col>
          </ion-row>
    </ion-toolbar>
    <ion-toolbar color="primary" class="no-padding" *ngIf="!userInvitation" (click)="back()">
        <div class="footer-buttons ion-flex">
        <button class="w-100 bg-primary text-white footer-button-item">
            Quay về cửa hàng
        </button>
        </div>
    </ion-toolbar>
  </ion-footer>