<div class="modal-header py-2">
  <h5 style="margin: auto 0 !important;" class="text-center">File ghi âm</h5>
  <button type="button" class="btn text-large" data-dismiss="modal" (click)='closeModal()' >&times;</button>
</div>
<div class="modal-body w-100">
  <audio controls class="w-100" #audio>
    <source [src]="callLog?.audio_urls[0]" type="audio/ogg">
    <source [src]="callLog?.audio_urls[0]" type="audio/mpeg">
    Your browser does not support the audio tag.
  </audio>
</div>

