<div class="breadcrumb">
  <mat-icon fontSet="material-icons-outlined">view_list</mat-icon>
  eTop Import
</div>
<div class="tabs" *ngIf="tabs?.length">
  <ng-container *ngFor="let tab of tabs">
    <div
      class="tab" [class.active]="tab?.active" [ngClass]="tab?.cssClass"
      (click)="tabClick(tab)">
      <mat-icon *ngIf="tab?.icon" fontSet="{{tab?.iconOutline ? 'material-icons-outlined' : ''}}">
        {{tab?.icon}}
      </mat-icon>
      <span [innerHTML]="tab?.title | safeHtml"></span>
    </div>
  </ng-container>
</div>
<div class="action-btns" *ngIf="actionButtons?.length">
  <ng-container *ngFor="let action of actionButtons">
    <div
      class="action-btn" [ngClass]="action?.cssClass"
      (click)="actionClick(action)">
      <mat-icon *ngIf="action?.icon">
        {{action?.icon}}
      </mat-icon>
      <span [innerHTML]="action?.title | safeHtml"></span>
    </div>
  </ng-container>
</div>
<div class="user-info" [matMenuTriggerFor]="userInfo">
  <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
  <div class="mx-2">
    {{user?.phone}}
  </div>
  <mat-icon>arrow_drop_down</mat-icon>
  <mat-menu #userInfo="matMenu">
    <div mat-menu-item class="text-danger" (click)="logout()">Đăng xuất</div>
  </mat-menu>
</div>
