:host {
  display: flex;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.08);
  height: 100%;
}

.mat-icon {
  font-size: 1.5rem !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  color: #fff;
  background: var(--primary-color);
  font-weight: 700;
  border-radius: 0;
  padding: 1rem;
  .mat-icon {
    margin-right: .5rem;
    font-size: 2rem !important;
    width: 2rem !important;
    height: 2rem !important;
  }
}

.tabs {
  flex: 1;
  display: flex;
  margin-left: 1rem;
  .tab {
    color: #5a5a5a;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 4px solid var(--gray-color);
    cursor: pointer;
    .mat-icon {
      margin-right: .5rem;
    }
    &.active {
      border-bottom: 4px solid var(--primary-color);
    }
  }
}

.action-btns {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  .action-btn {
    cursor: pointer;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.user-info {
  border-left: 1px solid var(--gray-color);
  display: flex;
  padding: 1rem;
  color: #5a5a5a;
  align-items: center;
  cursor: pointer;
}
