<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>Sản phẩm</ion-title>
      <ion-buttons slot="end" (click)="addProduct()">
        <ion-icon name="add" mode="md" class="add-product text-primary"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
    <div class="h-100">
      <div class="product-list">
        <div class="items-list-row" *ngFor="let product of (products$ | async); trackBy: trackProduct">
          <div class="box" (click)="productDetail(product)">
            <div class="ion-flex ion-align-items-center ion-justify-content-between">
              <div class="ion-flex ion-align-items-center w-100">
                <img class="product-img" [src]="product?.image || 'assets/images/placeholder.png'" alt="">
                <div class="product-info w-100">
                  <div class="ion-flex ion-justify-content-between ion-align-items-center">
                    <div class="product-name font-bold fix-line-1" style="flex: 1">{{product?.name}}</div>
                    <div class="small-font">{{product?.variants?.length}} mẫu mã</div>
                  </div>
                  <div class="ion-flex ion-justify-content-between">
                    <div class="small-font">
                      <ion-text color="primary" *ngIf="product?.code">{{product?.code}}</ion-text>
                    </div>
                    <div class="product-price ion-text-right font-bold">
                      {{priceCompare(product)}}
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="empty-state ion-text-center h-100 ion-flex ion-align-items-center"
        *ngIf="(products$ | async)?.length == 0">
        <div class="ion-text-center w-100" *ngIf="loading">
          <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
          <div class="ion-padding-top">Đang tải dữ liệu ...</div>
        </div>
        <ion-text class="w-100" *ngIf="(products$ | async)?.length == 0 && !loading">
          Bạn chưa có sản phẩm nào!
        </ion-text>
      </div>
    </div>

  </ion-content>
</div>
