@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,800&display=swap&subset=vietnamese");

* {
  font-size: var(--font-size);
  font-family: 'Open Sans', sans-serif;
  --ion-text-color : #444;
}

::placeholder {
  font-size: var(--font-size);
}



@media screen and (max-width: 768px) {
  * {
    font-size: 14px;
  }

  ::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 375px) and (max-width: 414px) {
  * {
    font-size: 14px;
  }

  ::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  * {
    font-size: 13px;
  }

  ::placeholder {
    font-size: 13px;
  }
}
@media screen and (max-width: 320px) {
  * {
    font-size: 12px;
  }

  ::placeholder {
    font-size: 12px;
  }
}