@each $name,
$color in $colors {
    .btn-#{"" + $name} {
        background: var(--#{"" + $name}-color);
        border: 1px solid !important;
        border-color: var(--#{"" + $name}-color) !important;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        >* {
            color: #fff;
        }
        .mat-progress-spinner circle,
        .mat-spinner circle {
            stroke: #fff !important;
        }
        &.dropdown-toggle:after {
            color: white;
            vertical-align: middle;
        }
        &:hover {
            background: var(--#{"" + $name}-color);
        }
        &:active {
            background: var(--#{"" + $name}-color) !important;
            color: #fff !important;
        }
        &:focus {
            box-shadow: none !important;
        }
        &:disabled {
            background: var(--#{"" + $name}-color) !important;
            cursor: not-allowed;
        }
        &.btn-outline {
            background: transparent;
            color: var(--#{"" + $name}-color);
            >* {
                color: var(--#{"" + $name}-color);
            }
            .mat-progress-spinner circle,
            .mat-spinner circle {
                stroke: var(--#{$name}-color) !important;
            }
            &.dropdown-toggle:after {
                color: var(--#{"" + $name}-color);
            }
            &:disabled {
                background: transparent !important;
            }
            &:active {
                color: var(--#{"" + $name}-color) !important;
                background: #fff !important;
            }
        }
    }
}

.btn-full {
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 16px;
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: .2s;
}

.slider-toggle:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
    background-color: #ccc;
    transition: .2s;
}

input:checked+.slider-toggle {
    background-color: white;
    border: 1px solid var(--primary-color);
}

input:focus+.slider-toggle {
    box-shadow: 0 0 1px white;
    border: 1px solid var(--primary-color);
}

input:checked+.slider-toggle:before {
    transform: translateX(20px);
    background-color: var(--primary-color);
}


/* Rounded sliders */

.slider-toggle.round {
    border-radius: 34px;
    border: 1px solid #ccc;
}

.slider-toggle.round:before {
    border-radius: 50%;
}

.topship-toggle {
    input:checked+.slider-toggle {
        border: 1px solid #E67E22;
    }
    input:focus+.slider-toggle {
        border: 1px solid #E67E22;
    }
    input:checked+.slider-toggle:before {
        background-color: #E67E22;
    }
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.back-button {
    color: var(--ion-color-medium-tint) !important;
}

.btn-outline-gray {
    background: transparent;
    border: solid 1px #cecece;
    color: var(--default-color) !important;
}

.footer-buttons-etop {
    background-color: #fff;
    padding: 0.75rem;
    width: 100%;
    height: 4.75rem;
    .footer-button-item {
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem .5rem;
        // margin: 0;
        height: 100%;
        font-size: 1.1rem;
        color: #444;
    }
}

.footer-buttons {
    width: 100%;
    height: 4.45rem;
    margin-bottom: -.25rem;
    .footer-button-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem .5rem;
        margin: 0;
        height: 100%;
        font-size: 1.1rem;
        color: #444;
    }
}

.footer-buttons-ionic-topship {
    padding: 0.75rem;
    border-radius: 10px;
    height: 70%;
    width: 95%;
    margin: auto;
}

ion-button,
button {
    ion-icon {
        &:first-child {
            margin-right: .5rem;
        }
        &:last-child {
            margin-left: .5rem;
        }
        &:only-child {
            margin: 0;
        }
    }
}