.profile-picture {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #eee;
  padding: 7px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
