ion-menu-button {
  font-size: 2.3rem;
}

ion-title {
  font-size: 1.2rem;
  color: #666;
}

.items-list {
  padding: 0.85rem 0;
  color: #666;
  a {
    color: #666;
  }
}

.items-list-row {
  background: #fff;
  padding: 0.85rem 1rem;
}

.normal-font {
  font-size: 1rem;
  * {
    font-size: 1rem;
  }
}

.small-font {
  font-size: 0.8rem;
  * {
    font-size: 0.8rem;
  }
}

ion-buttons {
  width: 50px;
  &.buttons-last-slot {
    justify-content: flex-end;
    padding-right: .5rem;
  }
  ion-back-button {
    padding: 5px 20px 5px 10px;
  }
  ion-back-button, ion-icon {
    color: #444 !important;
  }

  ion-icon {
    font-size: 2rem;
  }
}

.d-none {
  display: none !important;
}

ion-toolbar.no-padding {
  --padding-top: 0px !important;
  --padding-start: 0px !important;
  --padding-right: 0px !important;
  --padding-end: 0px !important;
  --padding-bottom: 0px !important;
}

.etop-app-input {
  input {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: 1px solid #BBB !important;
    padding: 0.75rem 1rem !important;
    width: 100% !important;
    font-size: 0.9rem !important;
    background-color: white !important;
    box-shadow: none !important;
    outline: none !important;
  }
  &.border-rounded {
    input {
      border-radius: 50rem;
    }
  }
}
