.center-popover .popover-content {
  top: 50% !important;
  left: 50% !important;
  width: 90%;
  transform: translate(-50%, -50%) !important;
}

.popover-wrapper {
  background: #fff;
}

.popover-header {
  display: flex;
  padding: 15px 10px;
  align-items: center;
  border: 1px solid #eee;
  .title {
    flex: 1;
    text-align: center;
  }
  .close-button {
    font-size: 20px;
    color: #999;
  }
}

.popover-body {
  max-height: 400px;
  overflow-y: auto;
}

.popover-footer {
  border-top: 1px solid #eee;
  .popover-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      padding: 15px 15px;
      flex: 1;
      background: #fff;
      border-right: 1px solid #eee;
      &:last-child {
        border-right: none;
      }
      &.confirm-button {
        font-weight: 700;
      }
    }
  }
}

