.etop-status {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1.1rem;
}

@each $name, $color in $status {
  .etop-status {
    &.etop-#{"" + $name} {
      color: var(--#{"" + $color}-color);
      background-color: rgba(var(--#{"" + $color}-color-rgb), .1);
    }
  }
}
