$colors: (
  default: #999999,
  primary: #33b7d5,
  secondary: #32db64,
  warning: #f39c12,
  success: #6DD400,
  danger: #e74c3c,
  light: #f1f1f1,
  dark: #444444,
  tertiary: #9b59b6,
  gray: #f5f5f5,
  yellow: #f1c40f,
  turquoise: #1abc9c,
  blue: #3498db,
  border-gray: #e5e5e5,
  lighter-gray: #fdfdfd,
  white: white,
  topship: #e67e22,
  black: black
);

$fonts: (
  small: 0.7rem,
  big: 1.2rem,
  bigger: 1.4rem,
  large: 1.8rem,
  larger: 2rem
);

$status: (
  default: 'default',
  new: 'default',
  created: 'default',
  picking: 'topship',
  holding: 'topship',
  delivering: 'topship',
  returning: 'topship',
  undeliverable: 'danger',
  cancelled: 'danger',
  error: 'danger',
  delivered: 'success',
  returned: 'tertiary',
  Z: 'default',
  N: 'danger',
  S: 'topship',
  NS: 'tertiary',
  P: 'success'
);

$order-source: (
  default: 'default',
  ts_app: 'topship',
  etop_pos: 'secondary',
  etop_pxs: 'yellow',
  etop_cmx: 'turquoise',
  haranvan: 'tertiary',
  api: 'tertiary',
  self: 'blue',
  import: 'blue'
);

$ticket-status: (
  Open: 'primary',
  Closed: 'secondary'
);

$sidebar-width: 50px;

:root {
  @each $name, $color in $colors {
    // --#{$name}-color: #{$color};
    --#{"" + $name}-color: #{$color};
    --#{"" + $name}-color-rgb: #{'' +
      red($color) +
      ',' +
      green($color) +
      ',' +
      blue($color) +
      ''};
  }

  --sidebar-background-color: white;
  --sidebar-width: #{$sidebar-width};

  --sidebar-menu-item-height: 50px;
  --sidebar-menu-icon-height: 34px;

  --header-background-color: white;
  --header-height: 60px;

  --font-size: 14px;
}
