.page-content {
    background: #f5f5f5;
    height: 100%;
}

.box-detail {
    background: #fff;
    border-top: 8px solid #f5f5f5;
    padding-bottom: 1rem;
}

ion-input-format-number::ng-deep {
    width: 100%;
    ion-item {
        margin: 0;
        padding: 0;
        .item-inner {
            padding: 0 !important;
        }
    }
    .formatted-number {
        padding: 11px 0;
    }
}

.native-input[disabled] {
    --opacity: 1 !important;
}

.text-decoration {
    text-decoration: underline;
}

.label-value {
    font: 1.2rem Arial !important;
    color: #000;
}