<ion-header>
    <ion-toolbar>
        <ion-title>Chỉnh sửa tồn kho</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="page-content">
        <div class="box-detail" *ngFor="let variant of product.variants; let i = index">
            <div class="header ion-flex ion-justify-content-between ion-margin-horizontal ion-padding-top">
                <ion-text class="font-bold">Mẫu mã {{i + 1}}</ion-text>
            </div>
            <ion-grid class="ion-padding-horizontal">
                <ion-row>
                    <ion-col size="6">
                        <ion-item lines="none" class="ion-no-padding">
                            <ion-label position="floating">{{joinAttrs(variant.attributes)}}</ion-label>
                            <ion-input class="label-value" [value]="variant.code" readonly [style.pointerEvents]="'none'"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item class="line-info ion-no-padding" lines="none">
                            <ion-label position="floating">Tồn kho</ion-label>
                            <ion-input class="label-value" [value]="variant.quantity" readonly [style.pointerEvents]="'none'"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" *ePermissions="['shop/inventory:update']">
                        <ion-text color="primary" class="text-decoration" (click)="editInventory(variant)">Chỉnh sửa</ion-text>
                        <ion-text color="primary"> - </ion-text>
                        <ion-text color="primary" class="text-decoration" (click)="historyInventory(variant)">Lịch sử</ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>