<ng-container *ngFor="let carrier of carriers">
  <ng-container *ngIf="carrier.name != 'grab'; else grab">
    <div class="service {{carrier.name}}">
      <div class="service-logo">
        <img src="assets/images/logo-{{carrier.name}}.png" alt="{{carrier.name}}">
      </div>
      <div class="list-packages">
        <ng-container *ngIf="!carrier.services.length">
          <div class="no-service">
            KHÔNG CÓ GÓI VẬN CHUYỂN PHÙ HỢP
          </div>
        </ng-container>
        <ng-container *ngFor="let service of carrier.services">
          <div class="package-item" [class.two-col]="total_col == 2">
            <div class="package" [class.active]="service.selected"
                 (click)="selectService(service)">
              <div class="package-info justify-content-between" style="margin-bottom: 2px;">
                <div class="d-flex align-items-center">
                  <shared-checkbox-circle [colorClass]="carrier.name" [active]="service.selected"></shared-checkbox-circle>
                  <span class="package-name">{{service.name}}</span>
                </div>
                <span class="shipping-fee">{{service.fee | vnd}}đ</span>
              </div>
              <div class="package-info package-desc">{{service.description}}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-template #grab>
    <hr class="mb-0">
    <div class="service">
      <div class="service-logo">
        <img src="assets/images/logo-grab.png" alt="grab">
        <span class="in-developing">ĐANG PHÁT TRIỂN</span>
      </div>
    </div>
  </ng-template>
</ng-container>
<ng-container *ngIf="loading && !carriers.length">
  <div class="service placeholder">
    <div class="placeholder-logo service-logo"></div>
    <div class="list-packages">
      <div class="package-item">
        <div class="package">
          <div class="package-info">
            <span class="placeholder-title"></span>
            <span class="placeholder-desc"></span>
          </div>
        </div>
      </div>
      <div class="package-item">
        <div class="package">
          <div class="package-info">
            <span class="placeholder-title"></span>
            <span class="placeholder-desc"></span>
          </div>
        </div>
      </div>
      <div class="package-item">
        <div class="package">
          <div class="package-info">
            <span class="placeholder-title"></span>
            <span class="placeholder-desc"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-minus-3 mb-0">
  <div class="service placeholder">
    <div class="placeholder-logo service-logo"></div>
  </div>
</ng-container>
