$ahamove_color: var(--topship-color);
$grab_color: var(--secondary-color);

.shipnow-service {
  text-align: center;
  font-weight: 700;
  color: var(--dark-color);
}

.in-developing {
  color: var(--default-color);
  margin-left: 10px;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  top: -2px;
}

.no-service {
  text-align: center;
  width: 100%;
  font-size: 10px;
  font-weight: 700;
  color: var(--default-color);
  background: var(--border-gray-color);
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  padding: 17px 0;
}

.service {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0;
  &.grab {
    .package.active {
      border-color: $grab_color;
    }
  }
  &.ahamove {
    .package.active {
      border-color: $ahamove_color;
    }
  }
}
.service-logo {
  display: flex;
  align-items: baseline;
  img {
    height: 22px;
  }
}

.list-packages {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px -5px 0;
}

.package-item {
  max-width: 33.33%;
  padding: 0 5px;
  flex: 0 0 33.33%;
  margin-bottom: 10px;
  &.two-col {
    max-width: 50% !important;
    flex: 0 0 50%;
  }
}

.package {
  border: 2px solid var(--border-gray-color);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  color: var(--dark-color);
  cursor: pointer;
  height: 80px;
  .package-info {
    flex: 1;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:first-child {
      border-bottom: 1px solid var(--border-gray-color);
    }
    &.package-desc {
      justify-content: center;
      text-align: center;
      line-height: 15px;
      font-size: 11px;
    }
    .package-name {
      font-weight: 700;
      text-transform: uppercase;
      margin-left: 5px;
      font-size: 11px;
    }
  }
}
.shipping-fee {
  font-size: 13px;
  font-weight: 700;
}

.placeholder {
  $color1: var(--border-gray-color);
  $color2: var(--border-gray-color);
  .package {
    padding: 0;
  }
  .package-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none !important;
  }
  .placeholder-logo,
  .placeholder-title,
  .placeholder-desc {
    background: linear-gradient(
      to right,
      $color1 20%,
      $color2 40%,
      $color2 60%,
      $color1 80%
    );
    background-size: 200% auto;
    animation: shine 1s linear infinite;
  }
  .placeholder-logo {
    height: 22px;
    width: 80px;
    border-radius: 5px;
  }
  .placeholder-title {
    height: 13px;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .placeholder-desc {
    height: 26px;
    width: 70px;
    border-radius: 5px;
  }
}
