
<div class="modal-header">
  <h5 class="modal-title">Tạo nhanh sản phẩm</h5>
  <button type="button" class="close" (click)="dismissModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label class="col-form-label">Tên sản phẩm</label>
    <input type="text" [(ngModel)]="product_name" class="form-control font-weight-bold"
           placeholder="Nhập tên sản phẩm">
  </div>
  <div class="form-group">
    <label class="col-form-label">Giá</label>
    <input type="text" [(ngModel)]="product_price" class="form-control font-weight-bold" (keypress)="numberOnly($event)"
           placeholder="Nhập giá sản phẩm">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary text-white" (click)="createProduct()">
    Tạo mới
  </button>
</div>
