<div class="col align-self-center" style="min-width: 17.5%;">
  <div class="d-flex align-items-center cursor-pointer" (click)="viewDetailFfm()">
    <div class="carrier-image">
      <img [src]="ffm?.shipping_provider_logo" alt="">
      <img *ngIf="ffm?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
    </div>
    <div class="d-flex flex-column align-items-start carrier-info">
      <span class="shipping-code" [class.text-primary]="ffm?.from_topship">
        {{ffm?.shipping_code}}
        <i class="fas fa-external-link-alt external-link-icon"></i>
      </span>
      <span class="d-flex align-items-center flex-wrap carrier-name">
        <span class="text-bold" [class.text-primary]="ffm?.from_topship">
          {{ffm?.carrier_display | uppercase}}
        </span>
        &nbsp;({{ffm?.created_at | date: 'dd/MM/yyyy HH:mm'}})
      </span>
    </div>
  </div>
</div>

<div class="col align-self-center">
  <div class="order-status order-{{ffm?.shipping_state}}">
    {{ffm?.shipping_state_display}}
    <div class="small-font text-dark" *ngIf="ffm?.x_shipping_sub_state && ffm?.shipping_state != 'cancelled'">
      {{ffm?.x_shipping_sub_state}}
    </div>
  </div>
  <div *ngIf="showCancelReason" class="small-font text-default">
    Lý do: {{ffm?.cancel_reason}}
  </div>
</div>
<ng-container *ngIf="!liteMode">
  <div class="col align-self-center" style="max-width: 20rem;">
    <div class="text-bold">{{ffm?.shipping_address?.full_name}}</div>
    <div>
      {{ffm?.shipping_address?.phone}}&nbsp;
    </div>
  </div>
  <div class="col align-self-center">
    <div class="text-bold">{{ffm?.shipping_address?.province | locationCompact}}</div>
    <div class="small-font">{{ffm?.shipping_address?.district | locationCompact}}</div>
  </div>
  <div class="col align-self-center">
    <div class="text-bold">{{ffm?.total_amount | number}}đ</div>
    <div class="small-font">{{ffm?.include_insurance ? 'Có bảo hiểm' : 'Không bảo hiểm'}}</div>
    <div class="text-bold small-font">{{ffm?.chargeable_weight | number}}g</div>
  </div>
  <div class="col align-self-center">
    <div class="text-bold">
      {{ffm?.total_cod_amount | number}}đ
    </div>
  </div>
  <div class="col align-self-center">
    <div class="text-bold">
      {{ffm?.shipping_fee_shop | number}}đ&nbsp;
      <i *ngIf="ffm?.shipping_fee_shop_lines?.length" class="fas fa-info-circle text-primary cursor-pointer"
         [ngbTooltip]="shippingFeeShopLines" placement="bottom">
      </i>
      <ng-template #shippingFeeShopLines>
        <div class="d-flex align-items-center justify-content-between w-100"
             *ngFor="let fee of ffm?.shipping_fee_shop_lines">
          <div class="pl-2 pr-3 py-1 small-font">{{fee?.shipping_fee_type_display}}</div>
          <strong class="pr-2 pl-3 py-1 small-font">{{fee?.cost | number}}đ</strong>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>
