.upload-logo {
  img {
    margin-left: 1rem;
  }
}

.mobile-logo-container {
  margin-bottom: 1.5rem;
}

.setting-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.setting-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-header, .setting-body {
  border-bottom: 1px solid var(--gray-color);
}

.setting-header, .setting-body, .setting-footer {
  padding: 1.5rem;
}

.setting-box {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .btn-primary {
    padding: .75rem 0;
  }
  [class|="col"]{
    min-width: 100% !important;
    flex: none!important;
  }

  .desktop-logo-container {
    display:none!important;
  }
  .btn-footer {
    width: 100%;
    button {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .mobile-logo-container {
    display: none!important;
    margin-bottom: 1.5rem;
  }
}
