<ng-content></ng-content>
<div class="col align-self-center" style="font-weight: 700">
  <div>{{extension?.extension_number}}</div>
</div>
<div class="col d-flex align-items-center" >
  {{extension?.hotline?.name}} - {{extension?.hotline?.hotline}}
</div>
<div class="col align-self-center" >
  <div>{{extension?.created_at | date:'dd/MM/yyyy'}}</div>
</div>
<div class="col align-self-center">
  <span *ngIf="isUnlimited(extension?.expires_at)">Không giới hạn</span>
  <ng-container *ngIf="!isUnlimited(extension?.expires_at)">
    <span class="expire-time" ngbTooltip="Đã hết hạn, cần gia hạn để tiếp tục sử dụng" placement="bottom"
          *ngIf="expireTimeLeft(extension?.expires_at) <= 0">
      {{extension?.expires_at | date:'dd/MM/yyyy'}}
    </span>
    <span ngbTooltip="Sắp hết hạn" class="expire-time-soon" placement="bottom"
          *ngIf="expireTimeLeft(extension?.expires_at) <= timeToExpire && expireTimeLeft(extension?.expires_at) > 0">
      {{extension?.expires_at | date:'dd/MM/yyyy'}}
    </span>
    <span *ngIf="expireTimeLeft(extension?.expires_at) > timeToExpire">
      {{extension?.expires_at | date:'dd/MM/yyyy'}}
    </span>
  </ng-container>
</div>
<div class="col align-self-center">
  <div *ngIf="!extension?.relationship">-</div>
  <div *ngIf="extension?.relationship">
    <mat-icon class="mr-2">account_circle</mat-icon>
    {{extension?.relationship?.full_name}}
  </div>
</div>
<div class="col align-self-center" >
  <shared-dropdown-actions
   [dropdownActions]="dropdownActions" [rightSide]="true">
  </shared-dropdown-actions>
</div>
