<div [class.topship]="topshipInput">
  <mat-form-field [appearance]="appearance || 'outline'">
    <mat-label>{{textLabel}}</mat-label>
    <input
      #input="matInput" matInput type="text" [placeholder]="placeholder" [matAutocomplete]="auto"
      [(ngModel)]="searchText" (focus)="search()" (ngModelChange)="search()">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption($event)">
    <mat-option *ngFor="let option of options" [value]="option">
      {{ displayMap ? displayMap(option) : option.name }}
    </mat-option>
  </mat-autocomplete>
</div>
