.card-info {
  display: flex;

  .left {
    padding: 15px;

    .shop-logo {
      width: 120px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .photo {
      img {
        max-width: 120px;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .right {
    padding: 15px;
    flex: 1;
  }

  table.w-100 {
    td.label {
      width: 100px;
      padding-right: 20px;
    }

    td {
      vertical-align: baseline;
    }
  }

  .table-2 {
    td.label {
      width: 160px;
      padding-right: 15px;
    }
  }

}

.bg-color {
  background-color: var(--gray-color) !important;
}

.card-header, .card-body, .card-footer {
  padding: 15px;
}

.index-number {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.from {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  &.to {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
}

.item-amount {
  font-weight: 700;
  font-size: 13px;
  color: var(--primary-color);
  position: relative;
  etop-tooltips {
    display: none;
  }
  &:hover {
    etop-tooltips {
      display: block;
    }
  }
}

.list-orders {
  width: 100%;
  td {
    padding: 5px 10px;
    &:first-child {
      padding: 0;
    }
  }
}