<div class="col align-self-center min-width-25rem">
  <div class="d-flex align-items-center">
    <img class="avatar" alt="" src="{{subscriptionBill?.shop?.image_url || 'assets/images/placeholder.png'}}">
    <div class="shop-main">
      <div class="text-bold"><span *ngIf="subscriptionBill?.shop?.code">{{subscriptionBill?.shop?.code}} - </span>{{subscriptionBill?.shop?.name}}</div>
      <div *ngIf="subscriptionBill?.shop?.email" class="lower-medium-font" style="word-break: break-word;">
        {{subscriptionBill?.shop?.email}}
      </div>
    </div>
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <span *ngIf="subscriptionBill?.customer" class='font-weight-bold'>
    <div>{{subscriptionBill?.customer?.full_name}}</div>
    <div class='text-primary'>{{subscriptionBill?.customer?.phone}}</div>
  </span>
  <span *ngIf="!subscriptionBill?.customer">-</span>
</div>
<div class="col align-self-center min-width-25rem">
  <span *ngIf="subscriptionBill?.plan" >
    <div>{{subscriptionBill?.plan?.name + " - " + (subscriptionBill?.plan?.price | vnd)}}đ</div>
  </span>
  <span *ngIf="!subscriptionBill?.plan">-</span>
</div>
<div class="col align-self-center">
  <span *ngIf="subscriptionBill?.total_amount" >
    <div>{{subscriptionBill?.total_amount | vnd}}đ</div>
  </span>
  <span *ngIf="!subscriptionBill?.customer">-</span>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
   <span *ngIf="subscriptionBill?.payment_status"
         [class.text-success]="subscriptionBill.payment_status == 'P'"
         [class.text-default]="subscriptionBill.payment_status == 'N' || 'Z'"
   >{{subscriptionBill?.payment_status_display}}</span>
    <span *ngIf="!subscriptionBill?.payment_status">-</span>
</div >
<div class="col align-self-center" *ngIf="!liteMode">
  <span *ngIf="subscriptionBill?.created_at" >
    <div>{{subscriptionBill?.created_at | date: 'dd/MM/yyyy'}}</div>
  </span>
  <span *ngIf="!subscriptionBill?.created_at">-</span>
</div>
<div class="col align-self-center" style="max-width: 12rem;" *ngIf="!liteMode">
  <ng-container>
    <button *ngIf="subscriptionBill?.status == 'Z'" class="btn btn-outline btn-primary btn-confirm" (click)="confirmBill()">
      Xác nhận
    </button>
  </ng-container>
</div>

