<div class="modal-header">
  <h5 class="modal-title">Địa chỉ giao hàng</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body" [formGroup]="customerAddressForm">
  <div class="py-2">
    <etop-material-nofilter-input-autocomplete
      placeholder="Nhập tên khách" textLabel="Tên khách (*)"
      [options]="customers" [displayMap]="displayMap" [valueMap]="valueMap" [inputMap]="inputMapName"
      (searching)="onCustomerSearched('full_name', $event)"
      formControlName="customerId">
    </etop-material-nofilter-input-autocomplete>
  </div>
  <div class="py-2">
    <etop-material-nofilter-input-autocomplete
      placeholder="Nhập số điện thoại khách" textLabel="Số điện thoại khách (*)"
      [options]="customers" [displayMap]="displayMap" [valueMap]="valueMap" [inputMap]="inputMapPhone"
      (searching)="onCustomerSearched('phone', $event)"
      formControlName="customerId">
    </etop-material-nofilter-input-autocomplete>
  </div>
  <div class="py-2">
    <etop-material-input-autocomplete
      placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành (*)" [options]="provincesList$ | async"
      [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
      formControlName="provinceCode">
    </etop-material-input-autocomplete>
  </div>
  <div class="py-2">
    <etop-material-input-autocomplete
      placeholder="Chọn quận huyện" textLabel="Quận huyện (*)" [options]="(districtsList$ | async) || []"
      [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
      formControlName="districtCode">
    </etop-material-input-autocomplete>
  </div>
  <div class="py-2">
    <etop-material-input-autocomplete
      placeholder="Chọn phường xã" textLabel="Phường xã (*)" [options]="(wardsList$ | async) || []"
      [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
      formControlName="wardCode">
    </etop-material-input-autocomplete>
  </div>
  <div class="py-2">
    <etop-material-input
      placeholder="Nhập địa chỉ cụ thể" textLabel="Địa chỉ cụ thể (*)" type="input"
      formControlName="address1">
    </etop-material-input>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button
    class="btn btn-topship text-white" (click)="confirm()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>

