<div [class.topship]="topshipInput">
  <mat-form-field appearance="outline">
    <mat-label>{{textLabel}}</mat-label>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let option of selectedOptions; let index = index" [selectable]="selectable"
        [removable]="removable" (removed)="remove(index)">
        <span [innerHTML]="(displayMap ? displayMap(option) : option) | safeHtml"></span>
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        #input type="text" matInput [placeholder]="placeholder" [multiple]="multiple" [matAutocomplete]="auto"
        [(ngModel)]="searchValue" (ngModelChange)="onSearch()" (focus)="onSearch()"
        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectOption($event)">
      <mat-option *ngFor="let option of filteredOptions" [value]="option" [disabled]="option.disabled">
        <div [innerHTML]="(displayMap ? displayMap(option) : option) | safeHtml"></div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
