:host {
  height: 100%;
}

.action {
  padding: 1.25rem;
  color: var(--dark-color);
}

.action-title {
  font-weight: 700;
}

.action-desc {
  font-size: .9rem;
  font-style: italic;
  color: var(--default-color);
}

.action-detail {
  .btn {
    padding: .4rem 1.65rem;
    font-size: .9rem;
    border-radius: 5px;
  }
  .carriers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    height: 30px;
    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
      object-position: center;
    }
  }
  .note {
    font-size: .8rem;
    color: var(--default-color);
    text-align: center;
    margin-top: .4rem;
  }
}
