<div class="additional-fee-list">
  <div class="additional-fee-item" *ngFor="let fee of additionalFees">
    <div class="slider-detail-info-title">
      <i class="fa fa-circle small-font text-primary mr-2"></i>
      <div class="d-flex align-items-center">
        <span class="mr-3">PHÍ {{fee?.fee_type_display | uppercase}}</span>
        <div
          class="d-flex align-items-center font-weight-normal text-danger cursor-pointer"
          *ngIf="fee?.rules?.length" (click)="removeRule(0, fee?.rules)">
          <i class="fa fa-trash text-danger mr-2"></i> Xoá
        </div>
        <div
          class="d-flex align-items-center font-weight-normal text-primary cursor-pointer"
          *ngIf="!fee?.rules?.length" (click)="addMoreFee(fee)">
          <i class="fa fa-plus text-primary mr-2"></i> Thêm
        </div>
      </div>
    </div>
    <ng-container *ngIf="fee?.rules?.length">
      <ng-container *ngIf="isRangeFee(fee?.fee_type)">
        <mat-radio-group color="primary" class="d-flex additional-fee-wrapper" [(ngModel)]="fee.calculation_method">
          <mat-radio-button value="first_satisfy" disableRipple class="mr-3">
            Tính theo cận cuối
          </mat-radio-button>
          <mat-radio-button value="cumulative" disableRipple>
            Tính theo luỹ kế
          </mat-radio-button>
        </mat-radio-group>
        <ul class="additional-fee-wrapper">
          <li *ngFor="let rule of fee?.rules; let i = index; let isLast = last; let isFirst = first;">
            <span style="color: #aaa;">&#9679;&nbsp;</span>
            <span>{{rule?.min_value | number}}đ đến</span>
            <div class="additional-fee-input">
              <etop-material-input-format-number
                appearance="standard" placeholder="Giá trị tối đa" formatNumberUnit="đ"
                [min]="isLast ? -1 : 0"
                (blur)="onMaxValueInputBlur(i, fee?.rules)" [error]="rule.max_value_error"
                [(ngModel)]="rule.max_value">
              </etop-material-input-format-number>
            </div>
            <span>
              <i
                *ngIf="isLast" class="fa fa-info-circle text-primary"
                container="body"
                ngbTooltip="Nhập -1 nếu bạn không muốn thiết lập giá trị tối đa"
                placement="bottom">
              </i>&nbsp;: Phí bằng&nbsp;
            </span>
            <div class="additional-fee-input">
              <etop-material-input-format-number
                appearance="standard" placeholder="Nhập phí" formatNumberUnit="{{rule?.price_modifier_type_display}}"
                [(ngModel)]="rule.amount">
              </etop-material-input-format-number>
            </div>
            <span>{{fee?.base_value_type_display}}</span>
            <span>. Tối thiểu:</span>
            <div class="additional-fee-input">
              <etop-material-input-format-number
                appearance="standard" placeholder="Tối thiểu" formatNumberUnit="đ"
                [(ngModel)]="rule.min_price">
              </etop-material-input-format-number>
            </div>
            <span>. Tính từ:</span>
            <div class="additional-fee-input">
              <etop-material-input-format-number
                appearance="standard" placeholder="Tính từ" formatNumberUnit="đ"
                [(ngModel)]="rule.start_value">
              </etop-material-input-format-number>
            </div>
            <div class="ml-3" *ngIf="isLast && !isFirst">
              <button class="btn btn-default btn-outline border-none delete-btn" (click)="removeRule(i, fee?.rules)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </li>
        </ul>
        <div class="add-btn">
          <button
            class="btn btn-outline btn-primary px-0"
            [disabled]="!canAddFee(fee?.fee_type)" (click)="addMoreFee(fee)">
            <i class="fa fa-plus mr-2"></i>
            Thêm ngưỡng {{fee?.fee_type_display | lowercase}}
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="!isRangeFee(fee?.fee_type)">
        <mat-radio-group
          color="primary" class="additional-fee-wrapper d-flex flex-column"
          [(ngModel)]="fee.rules[0].price_modifier_type" (ngModelChange)="changePriceModifierType(fee);">
          <div class="d-flex align-items-center mb-3">
            <mat-radio-button value="percentage" disableRipple>
              Giá trị tính theo % so với {{fee?.base_value_type_display}}:
            </mat-radio-button>
            <div class="additional-fee-input">
              <etop-material-input-format-number
                *ngIf="isPercentage(fee.rules[0])"
                appearance="standard" placeholder="Nhập giá trị" formatNumberUnit="%"
                [(ngModel)]="fee.rules[0].amount">
              </etop-material-input-format-number>
              <etop-material-input-format-number
                *ngIf="!isPercentage(fee.rules[0])"
                appearance="standard" placeholder="Nhập giá trị" formatNumberUnit="%" [disabled]="true">
              </etop-material-input-format-number>
            </div>
            <span>. Tối thiểu:</span>
            <div class="additional-fee-input">
              <etop-material-input-format-number
                *ngIf="isPercentage(fee.rules[0])"
                appearance="standard" placeholder="Tối thiểu" formatNumberUnit="đ"
                [(ngModel)]="fee.rules[0].min_price">
              </etop-material-input-format-number>
              <etop-material-input-format-number
                *ngIf="!isPercentage(fee.rules[0])"
                appearance="standard" placeholder="Tối thiểu" formatNumberUnit="đ" [disabled]="true">
              </etop-material-input-format-number>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <mat-radio-button value="fixed_amount" disableRipple>
              Giá trị cố định:
            </mat-radio-button>
            <div class="additional-fee-input">
              <etop-material-input-format-number
                *ngIf="!isPercentage(fee.rules[0])"
                appearance="standard" placeholder="Nhập giá trị" formatNumberUnit="đ"
                [(ngModel)]="fee.rules[0].amount">
              </etop-material-input-format-number>
              <etop-material-input-format-number
                *ngIf="isPercentage(fee.rules[0])"
                appearance="standard" placeholder="Nhập giá trị" formatNumberUnit="đ" [disabled]="true">
              </etop-material-input-format-number>
            </div>
          </div>
        </mat-radio-group>
      </ng-container>
    </ng-container>
  </div>
</div>
