.additional-fee-list {
  padding: 1.25rem;
  border-radius: 5px;
  border: 1px solid var(--border-gray-color);
  .delete-btn {
    font-size: 1.3rem;
  }
}

.additional-fee-item {
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.additional-fee-wrapper {
  margin-top: .8rem;
}

.slider-detail-info-title {
  margin-bottom: 0;
}

.additional-fee-input {
  width: 10rem;
  display: flex;
  align-items: center;
  margin-left: .5rem;
  margin-right: .5rem;
  etop-material-input-format-number::ng-deep {
    width: 100%;
    .mat-form-field-infix {
      border-top: none;
    }
    .mat-form-field-appearance-standard .mat-form-field-underline {
      bottom: 2px !important;
    }
    input, &.number-formatted {
      font-size: 1.1rem;
    }
  }
}

ul {
  padding: 0 0 0 1rem;
  margin-bottom: 0.8rem;
  list-style-type: none;
  li {
    margin-bottom: .25rem;
    display: flex;
    align-items: center;
  }
}

.add-btn {
  padding-left: 1rem;
}
