.upload-logo {
  img {
    margin-left: 1rem;
  }
}
.user-login-logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  border: 1px solid var(--border-gray-color);
}
