<ng-container *ngIf="(activeMtShippingExternals$ | async)?.length;">
  <div class="slider-detail-section">
    <div class="table-responsive">
      <table class="w-100">
        <thead>
          <tr>
            <th>Mã phiên</th>
            <th>Nhà vận chuyển</th>
            <th class="text-right">Số đơn GH</th>
            <th class="text-right">Thu hộ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of activeMtShippingExternals$ | async">
            <td>
              <div class="font-weight-bold text-primary">
                {{transaction?.code}}
              </div>
              <div class="small-font">{{transaction?.created_at | date: 'dd/MM/yy HH:mm'}}</div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="carrier-image">
                  <img src="{{transaction?.provider_logo}}" alt="">
                </div>
                <span class="pl-2">{{transaction?.carrier_display | uppercase}}</span>
              </div>
            </td>
            <td>
              <div class="text-right">{{transaction?.total_orders}}</div>
            </td>
            <td>
              <div class="text-right">{{transaction?.total_cod | number}}đ</div>
            </td>
          </tr>
          <tr>
            <td colspan="2">Tổng cộng</td>
            <td class="text-right font-weight-bold">{{sum_orders}}</td>
            <td class="text-right font-weight-bold">{{sum_cod | number}}đ</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right mt-3" *ePermissions="['admin/money_transaction_shipping_external:confirm']">
      <button class="btn btn-primary" (click)="confirmTransactions()">
        Xác nhận {{(activeMtShippingExternals$ | async)?.length}} phiên
      </button>
    </div>
  </div>
</ng-container>
