thead {
  background-color: var(--light);
}
th {
  font-weight: 400;
  padding: 0.6rem 1.25rem;
  border-bottom: 1px solid var(--border-gray-color);
}
td {
  padding: 0.85rem 1.25rem;
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
  &:last-child {
    border-bottom: none;
  }
}

.table-responsive {
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  overflow: hidden;
}
