<div class="header-title border-bottom p-3 pl-4 d-flex align-items-center" style="font-size: 18px; font-weight: 500">
  Đặt hàng
</div>

<div class="body p-4">
  <div class="d-flex align-items-center mb-4">
    <img src="{{product?.image_urls[0]}}" alt="" width="40px" class="prod-img">
    <h3 class="font-weight-bold ml-4">{{product.name}}</h3>
  </div>

  <etop-material-input placeholder="{{attribute}}" textLabel="{{attribute}}"
                       [optionSelect]="attributes" [(ngModel)]="variant_id"
                       (select)="onSelectVariant($event)" type="select" *ngIf="attributes.length > 0">
  </etop-material-input>
  <div class="alert-warning bg-danger text-white p-3 pl-4 mb-3" *ngIf="variantSelected?.quantity < 1; else hasQuantity">
    <i class="fa fa-exclamation-circle mr-2 text-white" aria-hidden="true"></i>
    <span>Sản phẩm tạm hết hàng</span>
  </div>

  <ng-template #hasQuantity>
    <div class="alert alert-warning" *ngIf="min_quantity"> <i class="fa fa-exclamation-circle mr-2 text-warning"
        aria-hidden="true"></i>
      Vui lòng đặt hàng với số lượng tối thiểu: <span class="font-weight-bold">{{min_quantity}}</span></div>
  </ng-template>


  <etop-material-input placeholder="Số lượng" textLabel="Số lượng" [(ngModel)]="newOrder.total_items" type="input">
  </etop-material-input>

  <div class="d-flex mt-3">
    <div class="p-2">Giá</div>
    <h4 class="ml-auto mb-0 p-2 font-weight-bold text-default">{{priceVariant | vnd}}đ</h4>
  </div>
  <div class="d-flex  mb-3" *ngIf="promotion">
    <div class="p-2">Hoàn lại</div>
    <div class="ml-auto p-2 font-14 text-primary font-weight-bold">{{promotion.promotion.amount}}% ({{(promotion.promotion.amount * priceVariant / 100) | vnd}}đ)</div>
  </div>
  <button class="btn btn-primary w-100 mt-3" (click)="gotoCheckout()">Mua ngay</button>
</div>
