.wrapper-login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  .login-body {
    display: flex;
    width: 100%;
    flex: 1;
  }

  .login-footer {
    display: flex;
    width: 100%;
    flex: 0 0 8%;
  }

  .r-side {
    width: 100%;
    background-color: var(--primary-color);
    .logo {
      width: auto;
      height: 35px;
      margin-right: 15px;
    }
    .desc {
      margin-top: 1rem;
      color: var(--white-color);
    }
    .brand-text {
      font-weight: bold;
      line-height: 35px;
    }
    .title {
      margin-top: 1rem;
    }
    .info {
      margin-top: 1.25rem;
    }
    .form-group {
      margin-bottom: 1.2rem;
      .form-control {
        height: 3.5rem;
        font-weight: 600;
        font-size: 1.1rem;
        padding: 0.375rem 1.2rem;
        color: var(--white-color);
        border: 1px solid var(--white-color);
        background-color: var(--primary-color);
      }
      .form-control:focus {
        border-color: var(--white-color);
        background-color: var(--primary-color);
        color: var(--white-color);
      }

      ::placeholder {
        color: var(--white-color);
        opacity: 1;
      }
    }

    .border-top {
      border-color: rgba(229,229,229,0.4) !important;
    }

    .btn {
      width: 100%;
      height: 3.3rem;
      font-weight: 700;
      padding: 0;
      color: var(--primary-color) !important;
      background: var(--white-color) !important;
      .fa {
        color: var(--primary-color) !important;
      }
    }
    .btn-register {
      color: var(--primary-color) !important;
      background: white !important;
    }

    .small-btn {
      width: 10rem;
      height: 2.5rem;
    }

    .changephone-text {
      right: 20px;
      top: 11px;
      color: white;
      cursor: pointer;
    }

  }
  .login-footer {
    flex: 0 0 10%;
  }
  .wrapper-login {
    overflow: auto;
  }
}
input:-webkit-autofill {
  -webkit-text-fill-color: var(--white-color) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--primary-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input::placeholder {
  opacity: 0.7 !important;
}

.action-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
}
