<div class="modal-header">
  <h5 class="modal-title">{{title}}</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="step == 1">
    <div class="alert alert-info">
      Hệ thống sẽ gửi mã xác thực đến email hoặc số điện thoại bạn chọn bên dưới.
    </div>
    <label class="cursor-pointer" (click)="authentication_method = 'email'">
      <input type="radio" [checked]="authentication_method == 'email'">
      &nbsp;Xác thực qua email <strong>{{user?.email}}</strong>
    </label>
    <label class="cursor-pointer" (click)="authentication_method = 'phone'">
      <input type="radio" [checked]="authentication_method == 'phone'">
      &nbsp;Xác thực qua số điện thoại <strong>{{user?.phone}}</strong>
    </label>
  </ng-container>
  <ng-container *ngIf="step == 2">
    <ng-container *ngIf="info_to_update == 'email'">
      <div class="py-2">
        <etop-material-input textLabel="Email cũ" type="custom" [disabled]="true">
          <span class="read-only">{{user?.email}}</span>
        </etop-material-input>
      </div>
      <div class="py-2">
        <etop-material-input
          textLabel="Email mới" placeholder="Nhập email mới" type="input"
          [(ngModel)]="new_email">
        </etop-material-input>
      </div>
    </ng-container>
    <ng-container *ngIf="info_to_update == 'phone'">
      <div class="py-2">
        <etop-material-input textLabel="Số điện thoại cũ" type="custom" [disabled]="true">
          <span class="read-only">{{user?.phone}}</span>
        </etop-material-input>
        <div class="py-2">
      </div>
        <etop-material-input
          textLabel="Số điện thoại mới" placeholder="Nhập số điện thoại mới" type="input"
          [(ngModel)]="new_phone">
        </etop-material-input>
      </div>
    </ng-container>
    <div class="alert alert-info my-2">
      <div>
        Một mã xác thực đã được gửi đến {{authentication_method == 'email' ? 'email' : 'số điện thoại'}}:
        <strong>{{authentication_method == 'email' ? user?.email : user?.phone}}</strong>.
      </div>
      <div>Vui lòng kiểm tra và điền mã xác thực vào ô bên dưới!</div>
    </div>
    <div class="alert alert-info my-2">
      Nếu không nhận được mã, bấm gửi lại sau 60 giây.
    </div>
    <div class="d-flex align-items-center w-100 py-2">
      <etop-material-input
        textLabel="Mã xác thực" placeholder="Nhập mã xác thực" type="input"
        class="flex-grow-1 pr-3" [(ngModel)]="first_code">
      </etop-material-input>
      <button
        class="update-btn btn btn-primary btn-outline" [disabled]="countdown > 0" (click)="resendFirstCode()">
        <i class="fa fa-repeat"></i>
        &nbsp;Gửi lại&nbsp;<span *ngIf="countdown > 0">({{countdown}}s)</span>
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="step == 3">
    <div class="alert alert-info my-2">
      <div>
        Một mã xác thực đã được gửi đến {{info_to_update == 'email' ? 'email' : 'số điện thoại'}} mới:
        <strong>{{info_to_update == 'email' ? new_email : new_phone}}</strong>.
      </div>
      <div>Vui lòng kiểm tra và điền mã xác thực vào ô bên dưới!</div>
    </div>
    <div class="alert alert-info my-2">
      Nếu không nhận được mã, bấm gửi lại sau 60 giây.
    </div>
    <div class="d-flex align-items-center w-100 py-2">
      <etop-material-input
        textLabel="Mã xác thực" placeholder="Nhập mã xác thực" type="input"
        class="flex-grow-1 pr-3" [(ngModel)]="second_code">
      </etop-material-input>
      <button
        class="update-btn btn btn-primary btn-outline" [disabled]="countdown > 0" (click)="resendSecondCode()">
        <i class="fa fa-repeat"></i>
        &nbsp;Gửi lại&nbsp;<span *ngIf="countdown > 0">({{countdown}}s)</span>
      </button>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <ng-container *ngIf="step == 1">
    <button class="btn btn-primary" (click)="stepTwo()" [disabled]="loading">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      Tiếp tục
    </button>
  </ng-container>
  <ng-container *ngIf="step == 2">
    <button class="btn btn-primary" (click)="stepThree()" [disabled]="loading">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      Cập nhật
    </button>
  </ng-container>
  <ng-container *ngIf="step == 3">
    <button class="btn btn-primary" (click)="confirm()" [disabled]="loading">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      Xác thực
    </button>
  </ng-container>
</div>
