<div class="square-item" [ngStyle]="{'background-image': product?.bg_image}" [class.selected]="product?.p_data?.selected">
  <div class="item-info">
    <div class="ellipsis-text">{{product?.name}}</div>
    <div class="item-bold-text">{{product?.price | vnd}}đ</div>
  </div>
  <div class="selected-icon" *ngIf="product?.p_data?.selected">
    <ion-icon name="checkmark"></ion-icon>
  </div>
</div>
