.shipment-services-wrapper {
    margin: 1rem 0;
    background-color: #fff;

    .shipment-services-header {
      text-align: center;
      font-size: 1.2rem;
      padding: 13px 50px;
      background-color: #fff;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }

    .shipment-services-body {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .carriers-list {
        width: 100%;

        .carrier-item {
          display: flex;
          align-items: stretch;

          .carrier-main-info {
            align-items: center;
            justify-content: center;
            border-right: 1px solid #eee;
            padding: 10px;
            border-bottom: 1px solid #eee;
            display: flex;
          }

          .services-list {
            flex: 1;

            .service-item {
              border-bottom: 1px solid #eee;
              display: flex;
              align-items: stretch;
              justify-content: space-between;

              &.unavailable {
                background: #fafafa;
                color: #888;
                font-size: 11px;
              }

              .service-info {
                display: flex;
                align-items: center;
                width: 55%;
                padding: 10px 15px;

                .name-and-fee {
                  display: flex;
                  flex-direction: column;
                  flex: 1;
                  margin-left: 10px;

                  .service-name {
                    font-size: 12px;
                  }

                  .service-fee {
                    font-weight: 700;
                  }
                }
              }

              .service-estimated-time {
                display: flex;
                flex-direction: column;
                width: 45%;
                justify-content: center;
                border-left: 1px solid #eee;
              }
            }
          }
        }
      }
    }
  }

  .carrier-image {
    position: relative;

    img:not(.topship-logo) {
      width: 2.3rem;
      height: 2.3rem;
      object-fit: contain;
      object-position: center;
      border: 1px solid #eee;
      border-radius: 100%;
    }

    .topship-logo {
      position: absolute;
      width: 1.15rem;
      height: 1.15rem;
      bottom: -3px;
      right: 0;
    }
  }

  .pickup, .delivery {
    &::before {
      content: "";
      display: inline-block;
      margin-right: 5px;
      padding: 4px;
      border-radius: 100%;
    }
  }

  .pickup {
    font-size: 9px;
    opacity: .6;
    .material-icons-outlined {
      font-size: 9px!important;
      position: relative;
      top: 1px;
    }
  }

  .delivery {
    font-size: 10px;
    opacity: .8;
    .material-icons {
      font-size: 9px!important;
      position: relative;
      top: 1px;
    }
  }

  .ion-color-primary {
    --ion-color-base: var(--topship-color) !important;
  }

  .error {
    text-align: center;
    padding: 0 1rem 1rem 1rem;
    color: var(--ion-color-danger);
  }

  .note {
    padding: 0 16px;
    margin-bottom: 1.5rem;
  }
