<div class="shipment-services-wrapper">
    <div class="shipment-services-header">
      Chọn gói vận chuyển
    </div>
    <div class="shipment-services-body">
      <div class="carriers-list">
        <ng-container *ngFor="let carrier of carriers; let i = index">
          <div class="carrier-item" *ngIf="!carrier.loading && carrier?.services?.length">
            <div class="carrier-main-info">
              <div class="carrier-image">
                <img [src]="carrier?.logo" alt="">
                <img *ngIf="carrier?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
              </div>
            </div>
            <div class="services-list" *ngIf="carrier?.services?.length;">
              <div class="service-item" *ngFor="let service of carrier?.services"
                [class.unavailable]="!service.is_available" (click)="selectService(service)">
                <div class="text-left" *ngIf="!service?.is_available">
                  Không khả dụng - {{service?.error_message}}
                </div>
                <ng-container *ngIf="service?.is_available">
                  <div class="service-info">
                    <ion-checkbox mode="md" class="custom-checkbox" color="primary"
                      [checked]="isSelectedService(service)"></ion-checkbox>
                    <div class="name-and-fee">
                      <span class="service-name">{{service?.name}}</span>
                      <span class="service-fee">{{service?.fee | vnd}}đ</span>
                    </div>
                  </div>
                  <div class="service-estimated-time">
                    <span class="pickup">
                      <span class="material-icons-outlined">
                        fiber_manual_record
                      </span>
                      Lấy trước {{(service?.estimated_pickup_at | date: 'HH:mm dd/MM') || '--'}}</span>
                    <span class="delivery">
                      <span class="material-icons">
                         fiber_manual_record
                      </span>
                      Giao {{(service?.estimated_delivery_at | date: 'dd/MM') || '--'}}</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <etop-ion-shipment-service-options-placeholder *ngIf="carrier.loading">
          </etop-ion-shipment-service-options-placeholder>
        </ng-container>
      </div>
    </div>
</div>
<div class="error" *ngIf="errorMessage && !carriers?.length">
  {{errorMessage}}
</div>

<div class="note" *ngIf="isDisplayNote">
  <div class="font-bold">Lưu ý</div>
  <div class="note-content">
    Người gửi chịu phí ship. Shipper sẽ thu người nhận <span class="font-bold">{{codAmount | vnd}}đ </span> cho đơn hàng này. Vui lòng đảm bảo đúng số tiền bạn muốn thu trước khi tạo đơn.
  </div>
</div>
