<ng-content></ng-content>
<div class="col align-self-center ticket-code" style="max-width: 15rem;"  >
  <div class="fa fa-minus" *ngIf="!ticket.code"></div>
  <div *ngIf="ticket.code" class="d-flex">
    <span class="font-weight-bold text-primary"> {{ticket.code}}</span>
    <span class="ml-2 mobile-col">
      <span class="status status-{{ticket.state}}" *ngIf="ticket.state_display">{{ticket.state_display}}</span>
    </span>
  </div>
  <div class="lower-medium-font right-on-mobile" *ngIf="ticket.created_at">{{ticket.created_at | date:'dd/MM/yyyy'}}</div>
</div>
<div class="col align-self-center hide-col label-col" *ngIf="!liteMode">
  <div class="fa fa-minus" *ngIf="!ticket.labels?.length"></div>
  <div class='label-item'  *ngIf="ticket.labels?.length">
    <span class='has-label' *ngIf="ticket.labels[0]?.name">
    {{ticket.labels[0]?.name}}
    </span>
  </div>
</div>
<div class="col d-flex align-items-center title-col " style="min-width: 30rem;">
  <div class="fa fa-minus " *ngIf="!ticket.title"></div>
  <div class="text-overflow-ellipsis fix-line-2 font-weight-bold" *ngIf="ticket.title">{{ticket.title}}</div>
</div>
<div class="col align-self-center hide-col" *ngIf="!liteMode">
  <div class="fa fa-minus" *ngIf="!ticket.created_by"></div>
  <div *ngIf="ticket.created_by">{{ticket.createdByUser?.full_name}}</div>
</div>
<div class="col align-self-center hide-col" *ngIf="!liteMode">
  <div class="fa fa-minus" *ngIf="!ticket.state_display"></div>
  <div class="status status-{{ticket.state}}" *ngIf="ticket.state_display">{{ticket.state_display}}</div>
</div>
