<ion-list class="ion-padding-horizontal order-lines">
    <ng-container *ngFor="let line of orderLines.controls">
      <div [formGroup]="line" class ="line-item">
        <div class="quantity-input">
          <ion-input type="number" (ionBlur)="forceUpdate($event, line?.value)" formControlName="quantity"></ion-input>
        </div>

        <span style="margin: 0 10px">x</span>
        <div class="flex-column">
          <div class="fix-line-1">
            <ion-text >{{line?.value?.product_name}}</ion-text>
          </div>
          <div class="fix-line-1" *ngIf="line?.value?.attributes">
            <ion-text class="font-11">{{joinAttrs(line?.value?.attributes)}}</ion-text>
          </div>
          <div>
            <ion-text color="primary" class="font-10">{{line?.value?.code}} - </ion-text>
            <ion-text class="font-10">{{line?.value?.payment_price | vnd}}đ</ion-text>
          </div>
        </div>
        <div class ="ml-auto" style="opacity: 0.8">
          {{line?.value?.payment_price * line.value?.quantity | vnd}}đ
        </div>
        <ion-icon name="trash-outline" class="remove-icon" (click)="removeVariant(line.value)"></ion-icon>
      </div>
    </ng-container>

  </ion-list>
