<div class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-title>Đơn giao hàng</ion-title>
            <ion-buttons *ePermissions="['shop/fulfillment:view']" slot="start" (click)="filter()">
                <div class="group-filter">
                    <span class="count-filter" *ngIf="filters?.length">{{filters?.length}}</span>
                    <ion-icon name="funnel-outline" class="filter"></ion-icon>
                    <ion-text>Lọc</ion-text>
                </div>
            </ion-buttons>
            <ion-buttons *ePermissions="['shop/fulfillment:create']" class="button-icon" slot="end" (click)="goToPos()">
                <ion-icon name="add" mode="md" class="text-white"></ion-icon>
                <ion-text>Tạo</ion-text>
            </ion-buttons>
        </ion-toolbar>
        <etop-network-status></etop-network-status>
    </ion-header>
    <ion-content #content>
        <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content refreshingSpinner="circles">
            </ion-refresher-content>
        </ion-refresher>
        <div class="order-list">
            <ng-container *ngFor="let fulfillment of (fulfillments$ | async); trackBy: trackOrder">
                <div class="item-row" *ngIf="fulfillment?.shipping_code">
                    <div class="box">
                        <div *ePermissions="['shop/fulfillment:view']" class="box-info" (click)="goToFfmDetail(fulfillment)">
                            <div class="ion-flex ion-align-items-center ion-justify-content-between" style="padding-bottom: 0.5rem">
                                <div class="order-info">
                                    <div class="normal-font">
                                        <ion-text class="font-bold" color="primary">{{fulfillment?.shipping_code}}</ion-text>
                                        <ion-text> - </ion-text>
                                        <ion-text class="font-bold text-gray">{{fulfillment?.shipping_state_display}}</ion-text>
                                    </div>
                                </div>
                                <div class="ion-text-right font-10 text-medium">
                                    {{fulfillment?.created_at | date: 'HH:mm dd/MM/yy'}}
                                </div>
                            </div>
                            <div class="customer-info">
                                <ion-text>
                                    {{fulfillment?.shipping_address?.full_name}} - {{fulfillment?.shipping_address?.phone}}
                                </ion-text>
                                <div style="font-size: 0.9rem" class="text-medium">
                                    {{fulfillment?.shipping_address?.address1}} {{fulfillment?.shipping_address?.ward ? '- ' + (fulfillment?.shipping_address?.ward | locationCompact) : ''}} - {{fulfillment?.shipping_address?.district | locationCompact}} - {{fulfillment?.shipping_address?.province
                                    | locationCompact}}
                                </div>
                            </div>
                            <div class="ion-flex ion-align-items-center">
                                <div class="carrier-info">
                                    <div class="carrier-image">
                                        <img src="{{fulfillment?.shipping_provider_logo}}" alt="">
                                        <img *ngIf="fulfillment?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
                                    </div>
                                    <div class="carrier-name">
                                        <ion-text class="font-10 text-medium">Nhà vận chuyển</ion-text>
                                        <div class="text-gray">{{fulfillment?.carrier_display}}</div>
                                    </div>
                                </div>
                                <div class="cod ion-text-end">
                                    <ion-text class="font-10 text-medium">Tiền thu hộ (COD)</ion-text>
                                    <div class="font-bold">
                                        <ion-text color="dark">{{fulfillment?.total_cod_amount | vnd}}đ</ion-text>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="empty-state ion-text-center ion-flex ion-align-items-center h-100" *ngIf="(fulfillments$ | async)?.length == 0">
            <div class="ion-text-center w-100" *ngIf="loading$ | async">
                <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
                <div class="ion-padding-top">Đang tải dữ liệu ...</div>
            </div>
            <ion-text class="w-100" *ngIf="(fulfillments$ | async)?.length == 0 && !(loading$ | async)">
                <div *ngIf="!filters?.length">
                    Bạn chưa có đơn hàng nào!
                </div>
                <div *ngIf="filters?.length">
                    Không tìm thấy đơn hàng phù hợp!
                </div>

            </ion-text>
        </div>
        <ion-infinite-scroll position="bottom" threshold="300px" (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content loadingSpinner="circles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>
</div>