.create-order {
  font-size: 2.3rem;
}

.item-row {
  border-bottom: 8px solid #f5f5f5;
}

.status {
  &.S {
    color: var(--topship-color)
  }

  &.P {
    color: var(--ion-color-success)
  }

  &.N {
    color: var(--ion-color-danger)
  }

  &.Z {
    color: var(--ion-color-medium);
  }

  &.NS {
    color: var(--ion-color-tertiary);
  }
}

.ffm-status {
  margin-left: 0.25rem;
  font-size: 0.8rem;
  margin-top: 0.15rem;

  &.S {
    color: var(--topship-color)
  }

  &.P {
    color: var(--ion-color-success)
  }

  &.N {
    color: var(--ion-color-danger)
  }

  &.Z {
    color: var(--ion-color-medium);
  }

  &.NS {
    color: var(--ion-color-tertiary);
  }
}

.status-confirmed {
  color: var(--ion-color-medium);
}

.order-price .price {
  margin-bottom: 0.25rem;
}

.ffm {
  border-top: 1px solid #eee;
  margin-top: .25rem;
  padding-top: 0.25rem;
}

.group-filter {
  display: flex;
  align-items: center;
  position: relative;

  .filter {
    font-size: 1.3rem;
    padding: 0.5rem;
  }


  .count-filter {
    position: absolute;
    top: -0.1rem;
    right: 1.5rem;
    height: 1.1rem;
    width: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    background: var(--ion-color-primary);

    .count {
      font-size: 0.7rem;
      color: #fefefe;
    }
  }
}

.carrier-main-info, .carrier-services {
  align-self: stretch;
  display: flex;
}

.carrier-main-info {
  align-items: center;
  border-right: 1px solid #eee;
  padding: 1rem 1rem 1rem 1.5rem;
  width: 35%;
}

.carrier-image {
  position: relative;
  margin-right: .75rem;
  img:not(.topship-logo) {
    width: 2.3rem;
    height: 2.3rem;
    object-fit: contain;
    object-position: center;
    border: 1px solid #eee;
    border-radius: 100%;
  }

  .topship-logo {
    position: absolute;
    width: 1.15rem;
    height: 1.15rem;
    bottom: 3px;
    right: 0;
  }
}

.action {
  width: 100%;
  padding: 0.75rem 1rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  &:first-child {
    border-right: 1px solid #eee;
  }

  .action-icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
}

.box-info {
  padding: 1rem;
  .carrier-info {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .carrier-logo {
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    border: 1px solid #eee;
    border-radius: 100%;
    margin-right: 10px;
  }
}

.customer-info {
  padding-bottom: 0.5rem;
}

.button-icon {
  min-width: fit-content;
  background: var(--ion-color-primary);
  color: white;
  border-radius: 20px;
  padding: 0 1rem 0 0.75rem;
  min-height: 2.2rem;
  margin-right: 0.25rem;
  ion-icon {
    font-size: 1.2rem;
  }
  ion-text {
    font-size: 0.9rem;
  }
}

ion-header {
  border-bottom: 1px solid #eee;
}

.text-gray {
  color: #666666;
}
