<div class="body page-content">
  <div class="row">
    <div class="col">
      <div class="aff-box text-center">
        <!-- <div class="total e-border-bottom p-4">
          <span class="title">Tổng doanh thu</span>
          <div class="revenue">52,500,000đ</div>
        </div>
        <div class="d-flex evolution">
          <div class="col direct-revenue e-border-right p-3">
            32,500,000đ <img src="/assets/images/direct.png" width="16" alt="" placement="bottom" ngbTooltip="Tổng doanh thu trực tiếp">
          </div>
          <div class="col indirect-revenue p-3">
            20,000,000đ <img src="/assets/images/indirect.png" width="16" alt="" placement="bottom"
              ngbTooltip="Tổng doanh thu gián tiếp">
          </div>
        </div> -->
        <ng-container>
          <div class="title p-4">Tổng đơn</div>
          <img src="assets/images/search-analytics.png" alt="" height="47px">
          <div class="text-center text-default font-weight-bold p-4">
            Chưa đủ dữ liệu
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col">
      <div class="aff-box text-center">
        <!-- <div class="total e-border-bottom p-4">
          <span class="title">Tổng chiết khấu</span>
          <div class="revenue">15,500,000đ</div>
        </div>
        <div class="d-flex evolution">
          <div class="col direct-revenue e-border-right p-3">
            10,000,000đ <img src="/assets/images/direct.png" width="16" alt="" placement="bottom"
              ngbTooltip="Tổng chiết khấu trực tiếp">
          </div>
          <div class="col indirect-revenue p-3">
            5,500,000đ <img src="/assets/images/indirect.png" width="16" alt="" placement="bottom"
              ngbTooltip="Tổng chiết khấu gián tiếp">
          </div>
        </div> -->
        <ng-container>
          <div class="title p-4">Tổng đơn</div>
          <img src="assets/images/search-analytics.png" alt="" height="47px">
          <div class="text-center text-default font-weight-bold p-4">
            Chưa đủ dữ liệu
          </div>
        </ng-container>
      </div>

    </div>
    <div class="col">
      <div class="aff-box text-center">
        <!-- <div class="total e-border-bottom p-4">
          <span class="title">Tổng số đơn</span>
          <div class="revenue">800</div>
        </div>
        <div class="d-flex evolution">
          <div class="col direct-revenue e-border-right p-3">
            650 <img src="/assets/images/direct.png" width="16" alt="" placement="bottom"
              ngbTooltip="Tổng đơn trực tiếp">
          </div>
          <div class="col indirect-revenue p-3">
            150 <img src="/assets/images/indirect.png" width="16" alt="" placement="bottom"
              ngbTooltip="Tổng đơn gián tiếp">
          </div>
        </div> -->
        <ng-container>
          <div class="title p-4">Tổng đơn</div>
          <img src="assets/images/search-analytics.png" alt="" height="47px">
          <div class="text-center text-default font-weight-bold p-4">
            Chưa đủ dữ liệu
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-7">
      <div class="aff-box p-4 h-100 text-center">
        <h5 class="title font-weight-bold text-left">Thống kê</h5>
        <div style="height: 500px;padding-top: 160px">
          <img src="assets/images/search-analytics.png" alt="" style="width: 25%">
          <div class="text-center text-default font-weight-bold mt-2">
            Chưa đủ dữ liệu
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="aff-box p-4">
        <h5 class="title font-weight-bold">Sản phẩm bán chạy</h5>
        <div class="top-sale mt-3 text-center" style="height: 500px;padding-top: 160px">
          <!-- <div class="product-item d-flex" *ngFor="let item of topSale; let i = index">
            <div class="align-self-center mr-2">{{i + 1}}.</div>
            <img class="align-self-center mr-2" src="assets/images/placeholder.png" alt="" width="40">
            <span class="name align-self-center">{{item.name}}</span>
            <span class="quantity ml-auto align-self-center font-weight-bold">{{item.quantity}}</span>
          </div> -->
          <img src="assets/images/search-analytics.png" alt="" style="width: 25%">
          <div class="text-center text-default font-weight-bold mt-2">
            Chưa đủ dữ liệu
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<aff-guide-link [handle]="handle"></aff-guide-link>
