.revenue {
  font-size: 35px;
  font-weight: bold;
}
.title {
  font-size: 14px;
}

.evolution {
  .direct-revenue {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 16px;
  }
  .indirect-revenue {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 16px;
  }
}