<div class="modal-header">
  <h6 class="modal-title">Xoá mẫu mã</h6>
</div>
<div class="modal-body p-0">
  <div class="table-responsive">
    <table class="w-100">
      <thead>
        <tr>
          <th>Mã mẫu mã</th>
          <th *ngFor="let attribute of variant.attributes" class="text-capitalize">{{attribute?.name | lowercase}}</th>
          <th class="text-right">Giá bán</th>
          <th class="text-right">Giá vốn</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="font-weight-bold text-primary">
              {{variant?.code}}
            </div>
          </td>
          <td *ngFor="let attribute of variant.attributes">
            <span class="badge-border badge-tertiary etop-badge">
              {{attribute?.value | lowercase}}
            </span>
          </td>
          <td>
            <div class="font-weight-bold text-primary text-right">
              {{variant?.retail_price | vnd}}đ
            </div>
          </td>
          <td>
            <div class="font-weight-bold text-primary text-right">
              {{variant?.cost_price | vnd}}đ
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline btn-default" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button class="btn btn-primary" (click)="removeVariant()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Xoá
  </button>
</div>
