<div class="page-content h-100">
  <etop-table #productTable [items]="orders" (requestNewPage)="onPagination($event)">
    <ng-template #header let-liteMode="liteMode">
      <div class="d-flex w-100" style="padding: 0 15px">
        <div class="col wd-130">
          <span class="font-10 text-left">ĐƠN HÀNG</span>
        </div>
        <div class="col wd-150" *ngIf="!liteMode">
          <div class="font-10">KHÁCH HÀNG</div>
        </div>
        <div class="col anm-slide-right">
          <span class="font-10">SẢN PHẨM</span>
        </div>
        <div class="col text-right wd-100" *ngIf="!liteMode">
          <span class="font-10 w-100">GIÁ TRỊ</span>
        </div>
        <div class="col anm-slide-right text-right wd-120" *ngIf="!liteMode">
          <span class="font-10">LOẠI CHIẾT KHẤU</span>
        </div>
        <div class="col anm-slide-right wd-150" *ngIf="!liteMode">
          <span class="font-10">CỘNG TÁC VIÊN</span>
        </div>
        <div class="col wd-100 text-right">
          <span class="font-10">BẠN NHẬN</span>
        </div>
        <div class="col wd-130 text-left">
          <span class="font-10">TRẠNG THÁI ĐƠN</span>
        </div>
      </div>
    </ng-template>
    <ng-template #emptyItem>
      <div class="blank-page" [ngClass]="{'d-none': !loadDone}">
        <div class="h-100 align-items-center d-flex">
          <div class="info">
            <img alt="empty list" class="blank-img" src="assets/images/icon_order.png">
            <div class="text-bigger text-bold text-center m-2"> Bạn chưa có đơn hàng nào!</div>
          </div>

          </div>
      </div>
    </ng-template>
    <ng-template let-item="item" let-liteMode="liteMode" #item>
      <div class="d-flex" aff-order-row [item]="item"></div>
    </ng-template>
  </etop-table>
</div>
<aff-guide-link [handle]="handle"></aff-guide-link>
