:host {
  background-color: white;
}
ion-footer {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.user-name {
  padding: 0 0.5rem;
  font-size: 1.1rem;
}

.user-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.chat-content {
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  &:last-child {
    margin-bottom: 0;
  }
  &.error {
    margin-bottom: 3rem;
  }
  &.very-near-conversation {
    > img {
      visibility: hidden;
    }
  }
  &.with-attach-img {
    .box-message {
      margin-bottom: 3px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.with-attach-img, &.very-near-conversation {
    margin-bottom: 3px;
  }
  &.chat-content-customer {
    .chat-item {
      padding-left: 0.5rem;
      .box-message {
        background: #F2F3F5;

        .parent-comment {
          background: rgba(0, 0, 0, 0.05);
          margin: -0.5rem -1rem 0.5rem -1rem;
          padding: 0.5rem 1rem;
          border-radius: 5px 5px 0 0;
          .parent-comment-header {
            font-size: 0.8rem;
            opacity: 0.7;
          }
          .box-media {
            img {
              border-radius: 5px;
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }

  &.chat-content-owner {
    justify-content: flex-end;
    .chat-item {
      justify-content: flex-end;
      .box-message {
        justify-content: flex-end;
        background: var(--ion-color-primary);
        color: #fff;
        ::ng-deep {
          a {
            color: #fff !important;
          }
        }
        .message-time {
          color: #fff;
        }
      }
      .state-icon {
        position: absolute;
        left: -20px;
        bottom: -3px;
      }
      ion-spinner {
        width: 18px;
        position: relative;
        top: 5px;
        left: -5px;
      }
      ion-icon {
        font-size: 15px;
      }
    }
  }
}

.chat-item {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &.image-single {
    .box-message img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
  &.image-groups {
    flex: 1;
    .box-message {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  &.image-single, &.image-groups {
    .box-message.image-only {
      padding: 0;
      border-color: transparent !important;
      background-color: transparent !important;
      position: relative;
      img {
        // min-width: 100px;
        border-radius: 5px;
        border: 1px solid #f4f4f4;
      }
      .message-time {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: #000b;
        color: #fff;
        padding: 2px 5px;
        border-radius: 0 0 5px 5px;
      }
    }
  }
  &.loading {
    opacity: .8;
  }
  .retry {
    position: absolute;
    left: 0;
    bottom: -30px;
  }
}

.retry {
  display: flex;
  align-items: center;
  color: var(--ion-color-primary);
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 0.9rem;
}

.message-time {
  text-align: right;
  font-size: .7rem;
  color: #555;
  opacity: 0.6;
}

.box-message {
  padding: .5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  word-break: break-word;
  white-space: pre-wrap;
  width: fit-content;
  ::ng-deep {
    a {
      text-decoration: underline !important;
    }
  }
}

.image-groups {
  display: flex;
  flex-wrap: wrap;
  .image-item {
    width: calc(100% / 3);
    padding: 1px;
    .image-wrapper {
      width: 100%;
      padding-bottom: 100%;
      position: relative;
      img {
        display: block;
        object-fit: cover;
        object-position: center;
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.box-chat {
  border-top: 1px solid #eee;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: stretch;
  height: auto;
  background: #fff;
  min-height: 56px;
  .box-chat-item {
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 5px 0;
  }

  ion-icon {
    font-size: 2rem;
    opacity: 0.6;
  }
}

.chat-input-container {
  position: relative;
  margin: 0 1rem;
  flex: 1;
}

.input-chat {
  position: absolute;
  border-radius: 20px;
  border: 1px solid #cacaca;
  padding: 0 2.5rem 0 0.75rem;
  max-height: 136px;
  overflow: auto;
  background: white;
  &.formatted {
    height: 3rem;
    white-space: pre-wrap;
    width: 100%;
    padding: 0.25rem 0.75rem;
    line-height: 2.5;
  }
}

.icon-text {
  width: max-content;
  font-size: 0.8rem;
  color: var(--ion-color-primary);
}

.post-box {
  background-color: #edf1f8;

  .detail {

    font-size: 0.9rem;
    color: #444;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.post-img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text);
  opacity: 0.6;
}

.group-avatar {
  position: relative;
  .user-avatar {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .message-type {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 14px;
    width: 14px;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 50%;
  }
}

ion-infinite-scroll {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

.footer-content{
  margin:1rem;
  background:  #f7f7f7;
}

ion-buttons {
  width: auto;
  margin-right: .5rem;
}

.list-tag {
  padding: 0.25rem 0.5rem;
}

.tag {
  padding: 1px 5px;
  max-width: 35%;
  .tag-status {
    font-size: 0.6rem;
  }
  ion-label {
    font-size: 0.7rem;
  }
}

ion-content {
  border-top: 1px solid #eee;
}

.tag-action  {
  font-size: 24px;
  opacity: 0.7;
  width: 24px;
}


.action-user {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0 -1rem -.5rem -1rem;
  min-width: 18rem;
  ion-col {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    color: var(--ion-color-primary);
    &:last-child {
      border-right: none;
    }
  }

  mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
  }

  span {
    min-width: max-content;
    font-size: 0.8rem;
  }
}

.quick-message-icon {
  position: absolute;
  right: 0.5rem;
  font-size: 1.2rem !important;
  border: 1px solid #444;
  border-radius: 50%;
  padding: 0.25rem;
  z-index: 999;
}

.chat-list {
  min-height: 100%;
}

.box-template {
  // position: sticky;
  // left: 0;
  // right: 0;
  // bottom: 0;
  
  .list-template {
    max-height: 12rem;
    overflow: auto;
  }

  mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
  }

  span {
    min-width: max-content;
    font-size: 0.7rem;
  }

  .quick-message-template {
    height: 100%;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    background: white;

    .template-item {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0.5rem 1.5rem;
      &:first-child {
        border-top: none;;
      }
    }
  }
}

.header-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  .title {
    padding: 0.5rem 1rem;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  ion-icon {
    padding: 0 0.5rem;
  }
}

.create-by {
  ion-text {
    font-size: 0.7rem;
  }
  ion-icon {
    font-size: 1rem !important;
    margin-left: 0.25rem;
  }
}
