<ion-header>
  <ion-toolbar>
    <div class="text-medium ion-flex ion-align-items-center" (click)="detailCustomer()">
      <div class="group-avatar">
        <img [imageLoader]="(conversation$ | async)?.external_user_picture_url" src="assets/imgs/user_logo.jpg" class="user-avatar">
        <img src="assets/imgs/{{conversation?.type == 'message' ? 'messenger' : 'facebook'}}.png" alt=""
          class="message-type">
      </div>
      <div style="flex: 1">
        <ion-text class="fix-line-1 user-name header-title">{{(conversation$ | async)?.external_user_name}}</ion-text>
        <div class="list-tag ion-flex ion-align-items-center" *ngIf="(conversation$ | async)?.tags?.length > 0">
          <div class="tag" *ngFor="let tag of (conversation$ | async)?.tags.slice(0, 2)">
            <ion-icon class="tag-status" [ngStyle]="{'color' : tag.color}" name="ellipse"></ion-icon>
            <ion-label>{{tag.name}}</ion-label>
          </div>
          <div class="tag" *ngIf="(conversation$ | async)?.tags?.length > 2">
            <ion-label>+ {{(conversation$ | async)?.tags?.length - 2}}</ion-label>
          </div>
        </div>
      </div>
    </div>
    <ion-buttons slot="start">
      <ion-icon class="icon-header" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-text slot="end" class="ion-padding-end" color="primary" (click)="detailCustomer()">Đơn hàng</ion-text>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
  <div class="post-box ion-flex ion-padding" *ngIf="(conversation$ | async)?.type == 'comment'">
    <img
      *ngIf="(activeConversationPost$ | async)?.external_picture"
      [imageLoader]="(activeConversationPost$ | async)?.external_picture"
      src="assets/images/placeholder_medium.png"
      alt="post-img" class="post-img">
    <div class="detail ion-padding-start">
      {{(activeConversationPost$ | async)?.external_message}}
    </div>
  </div>
</ion-header>
<ion-content class="ion-padding" #ionContent>
  <ion-infinite-scroll slot="fixed" threshold="200px" position="top"
    (ionInfinite)="doLoadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="circles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="chat-list" #messageList>
    <ng-container *ngFor="let message of messages$ | async; let i = index;trackBy: trackMessage">
      <div
        *ngIf="!isEmptyContent(message)"
        class="chat-content"
        [class.chat-content-owner]="isMessageOfPage(message)"
        [class.chat-content-customer]="!isMessageOfPage(message)"
        [class.very-near-conversation]="isVeryNearConversation(message)"
        [class.with-attach-img]="message?.medias?.length && message?.message"
        [class.error]="message?.status == 'error'">
        <img
          *ngIf="!isMessageOfPage(message)"
          [imageLoader]="(conversation$ | async)?.external_user_picture_url"
          src="assets/imgs/user_logo.jpg"
          alt="user" class="user-img">
        <div
          class="chat-item"
          [class.image-single]="message?.medias?.length == 1"
          [class.image-groups]="message?.medias?.length > 1">
          <div *ngIf="isMessageOfPage(message)" class="state-icon">
            <ion-icon *ngIf="message?.status == 'sent'" name="checkmark-circle-outline" color="primary"></ion-icon>
            <ion-icon *ngIf="message?.status == 'sending'" name="ellipse-outline" color="primary"></ion-icon>
            <ion-icon *ngIf="message?.status == 'error'" name="alert-circle" color="danger"></ion-icon>
          </div>

          <div class="box-message text-only" *ngIf="message?.message">
            <div class="parent-comment" *ngIf="mergeDisplayParentComment(message)">
              <div class="parent-comment-header">Phản hồi bình luận của người khác</div>
              <div class="box-media" *ngIf="message?.o_data.external_parent.external_attachment">
                <div class="external-attachments">
                  <div class="image-item">
                    <div class="image-wrapper">
                      <img [src]="message?.o_data.external_parent.external_attachment.media.image.src">
                    </div>
                  </div>
                </div>
              </div>
              <div class="parent-comment-text" *ngIf="message?.o_data.external_parent.external_message">
                &#8221;{{ message?.o_data.external_parent.external_message }}&quot;
              </div>
            </div>
            <div [innerHTML]="(message?.message | safeHtml)" (click)="presentActionSheet(message?.message)"></div>
            <div class="ion-flex ion-justify-content-end">
              <div class="message-time">
                {{message?.external_created_time | date: 'dd/MM HH:mm'}}
              </div>
              <div class="create-by ion-align-items-center ion-flex" *ngIf="isMessageOfPage(message) && message?.created_by">
                <ion-text>- </ion-text>
                <ion-text class="font-bold">{{message?.created_by}}</ion-text>
                <ion-icon name="person-circle-outline"></ion-icon>
              </div>
            </div>
            
            <ion-row class="action-user" *ngIf="!isMessageOfPage(message) && (conversation$ | async)?.type == 'comment'">
              <ion-col size="4" class="ion-flex ion-align-items-center ion-justify-content-center" (click)="toggleLikeComment(message)">
                <mat-icon class="material-icons icon-size" fontSet="material-icons-outlined">
                  {{message.is_liked? 'thumb_down' : 'thumb_up'}}
                </mat-icon>
                <span>{{message.is_liked? 'Bỏ Thích' : 'Thích'}}</span>
              </ion-col>
              <ion-col size="4" class="ion-flex ion-align-items-center ion-justify-content-center" (click)="toggleHideComment(message)">
                <mat-icon class="material-icons icon-size" fontSet="material-icons-outlined">
                  {{message.is_hidden? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <span>{{message.is_hidden? 'Hiện' : 'Ẩn'}}</span>
              </ion-col>
              <ion-col *ngIf="!message.is_private_replied" size="4" class="ion-flex ion-align-items-center ion-justify-content-center" (click)="sendPrivateReply(message)">
                <mat-icon class="material-icons icon-size" fontSet="material-icons-outlined">
                  textsms
                </mat-icon>
                <span>Nhắn tin</span>
              </ion-col>
              <ion-col *ngIf="message.is_private_replied" size="4" class="ion-flex ion-align-items-center ion-justify-content-center" (click)="readMessage(message)">
                <mat-icon class="material-icons icon-size" fontSet="material-icons-outlined">
                  textsms
                </mat-icon>
                <span>Xem tin</span>
              </ion-col>
            </ion-row>
          </div>
          <div class="box-message image-only" *ngIf="message?.medias?.length == 1">
            <div class="parent-comment" *ngIf="mergeDisplayParentComment(message)">
              <div class="parent-comment-header">Phản hồi bình luận của người khác</div>
              <div class="box-media" *ngIf="message?.o_data.external_parent.external_attachment">
                <div class="external-attachments">
                  <div class="image-item">
                    <div class="image-wrapper">
                      <img [src]="message?.o_data.external_parent.external_attachment.media.image.src">
                    </div>
                  </div>
                </div>
              </div>
              <div class="parent-comment-text" *ngIf="message?.o_data.external_parent.external_message">
                &#8221;{{ message?.o_data.external_parent.external_message }}&#8221;
              </div>
            </div>
            <img [imageLoader]="message?.medias[0].preview_url" src="assets/images/placeholder_medium.png">
            <div class="message-time">{{message?.external_created_time | date: 'dd/MM HH:mm'}}</div>
          </div>
          <div class="box-message image-only" *ngIf="message?.medias?.length > 1">
            <div *ngFor="let item of message?.medias" class="image-item">
              <div class="image-wrapper">
                <img [imageLoader]="item?.preview_url" src="assets/images/placeholder_medium.png" alt="">
                <div class="message-time">{{message?.external_created_time | date: 'dd/MM HH:mm'}}</div>
              </div>
            </div>
          </div>
          
          <div *ngIf="message?.status == 'error' && isMessageOfPage(message)" class="retry" (click)="retrySendMessage(message)">
            <ion-icon name="refresh-outline" color="primary"></ion-icon>
            Gửi lại
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  
</ion-content>
<ion-footer #footerContent>
    <div class="box-template" *ngIf="displayTemplate">
      <div class="quick-message-template">
        <div class="header-item ion-flex ion-justify-content-between">
          <div class="ion-flex ion-align-items-center" (click)="closeQuickChat()">
            <ion-icon name="chevron-down-outline" style="margin-right: 0.25rem;"></ion-icon>
            <ion-text class="title">Trả lời nhanh</ion-text>
          </div>
          <div class="ion-flex ion-align-items-center" (click)="toSettings()" *ngIf="hasViewTemplate()">
            <ion-text>Thiết lập</ion-text>
            <ion-icon name="settings-outline" style="margin-left: 0.25rem;"></ion-icon>
          </div>
        </div>
        <div class="list-template">
          <div class="template-item" *ngFor="let item of quickTemplateMessage" (click)="addToChat(item)">
            <ion-text class="font-bold">
              /{{item.short_code}}
            </ion-text>
            <div class="fix-line-2">
              <div [outerHTML]="item.template"></div>
            </div>
          </div>
        </div>
        <div class="template-item" *ngIf="!quickTemplateMessage?.length">
            Bạn chưa có mẫu trả lời nhanh.
        </div>
      </div>
  </div>
  <div class="box-chat" [ngStyle]="{'height': footerHeight + 'px'}">
    <div class="box-chat-item" style="z-index: 2;">
      <ng-container *ngIf="showTools" >
        <ion-text class="tag-action" (click)="setTag()">#</ion-text>
        <ion-icon name="call-outline" style="margin-right: .75rem;" (click)="callPhone()"></ion-icon>
        <ion-icon name="image-outline" (click)="takePicture()"></ion-icon>
      </ng-container>
      <ion-icon
        *ngIf="!showTools" name="chevron-forward-outline" class="no-blur"
        (click)="onShowOtherTools()"></ion-icon>
    </div>

    <div class="ion-flex ion-align-items-center no-blur chat-input-container">
      <div *ngIf="!textAreaOnFocus" style="position: absolute; width: 100%; height:100%; z-index: 1;" [ngStyle]="{'height': footerHeight + 'px'}" (click)="textAreaFocus()"></div>
      <ion-textarea
        [autoGrow]="true" [inputmode]="'text'"
        #ionTextarea id="message-content" rows="1" placeholder="Nhập tin nhắn" class="input-chat no-blur"
        (ionFocus)="onFocus()" (ionBlur)="onBlur()" [(ngModel)]="chatContent" (ionChange)="onChangeChatContent()"
      >
      </ion-textarea>
      <ion-textarea
        [autoGrow]="true" [inputmode]="'text'"
        #ionTextarea2 id="message-content2" rows="1" placeholder="Nhập tin nhắn" class="input-chat no-blur"
        (ionFocus)="onFocus()" (ionBlur)="onBlur()" [(ngModel)]="chatContent" (ionChange)="onChangeChatContent()"
      >
      </ion-textarea>
      <ion-icon name="flash-outline" *ngIf="!displayTemplate" class="quick-message-icon" (click)="onModeQuickMessage()"></ion-icon>
      <ion-icon name="flash" *ngIf="displayTemplate" class="quick-message-icon" (click)="onModeQuickMessage()"></ion-icon>
    </div>

    <div class="box-chat-item">
      <ion-icon class="no-blur" name="send" color="primary" style="opacity: 1;" *ngIf="chatContent" (click)="replyCustomer()"></ion-icon>
      <div *ngIf="!chatContent" class="ion-text-center" style="line-height: 1;" (click)="confirmOrder()">
        <ion-icon name="cart-outline" color="primary" style="opacity: 1;"></ion-icon>
        <div class="icon-text">Chốt đơn</div>
      </div>
    </div>
  </div>
</ion-footer>
