:host {
  width: 100%;
  display: block;
}

.shipment-services-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 1rem;
  border-top: 1px solid var(--border-gray-color);
  border-bottom: 1px solid var(--border-gray-color);
}

.carrier-wrapper {
  width: 100%;
}

.carrier-item {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid #eee;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  &:first-child {
    border-top: 1px solid #eee;
  }
  &.active {
    border: 1px solid var(--primary-color);
  }
}

.carrier-main-info, .carrier-services {
  display: flex;
}

.carrier-main-info {
  align-items: center;
  border-right: 1px solid #eee;
  padding: 1rem;
  width: 20%;
  justify-content: center;
}

.carrier-image {
  img {
    border: none !important;
  }
}

.carrier-services {
  align-items: stretch;
  flex-direction: column;
  width: 80%;
}

.carrier-name {
  font-weight: 700;
  padding-left: 0.75rem;
  font-size: .9rem !important;
  color: #444;
}

.service-item {
  display: flex;
  align-items: stretch;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  &:last-child {
    border-bottom: none;
  }
}

.service-name, .service-estimated-time {
  width: 50%;
}

.service-name {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.service-estimated-time {
  padding-left: 1rem;
  border-left: 1px solid var(--border-gray-color);
}

.service-fee {
  font-weight: 700;
}

.picking-at, .delivering-at {
  display: flex;
  align-items: center;
  .circle {
    width: .65rem;
    height: .65rem;
    border-radius: 100%;
    border: 1px solid #ddd;
  }
}
.picking-at {
  font-size: .8rem;
  color: var(--default-color);
}
.delivering-at {
  font-size: .9rem;
  color: var(--dark-color);
  .circle {
    background: #ddd;
  }
}

.circle-wrapper {
  width: 1.25rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
}

.time-detail span {
  color: #777;
  font-size: .9rem;
}

.expect-note {
  padding: 10px;
  background-color: var(--gray-color);
  text-align: left;
}
