<div class="shipment-services-header">{{headerTitle}}</div>
<div class="carrier-wrapper" *ngIf="isEnoughData;">
  <ng-container *ngIf="!gettingServices">
    <div *ngFor="let carrier of carriers"
      class="carrier-item" [class.active]="carrierHasSelectedService(carrier)">
      <div class="carrier-main-info">
        <div class="carrier-image">
          <img [src]="carrier?.logo" alt="">
        </div>
      </div>
      <div class="carrier-services">
        <div *ngFor="let service of carrier?.services" class="service-item" (click)="selectService(service)">
          <div class="service-name">
            <mat-checkbox
              style="pointer-events: none" color="primary" [checked]="(activeShipmentService$ | async)?.unique_id == service?.unique_id">
            </mat-checkbox>
            <div class="pl-3 d-flex flex-column align-items-start">
              <div>{{service?.name}}</div>
              <div class="service-fee">{{service?.fee | vnd}}đ</div>
            </div>
          </div>
          <div class="service-estimated-time">
            <div class="picking-at">
              <div class="circle-wrapper">
                <span class="circle"></span>
              </div>
              <div class="time-detail">
                <span>Lấy trước {{(service?.estimated_pickup_at | date: 'HH:mm dd/MM') || '--'}}</span>
              </div>
            </div>
            <div class="delivering-at">
              <div class="circle-wrapper">
                <span class="circle"></span>
              </div>
              <div class="time-detail">
                <span>Giao {{(service?.estimated_delivery_at | date: 'dd/MM') || '--'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <shop-shipment-service-options-placeholder *ngIf="gettingServices"></shop-shipment-service-options-placeholder>
</div>
<div class="alert alert-warning" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
