.index-number {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.from {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  &.to {
    color: var(--topship-color);
    border: 1px solid var(--topship-color);
  }
}

.item-amount {
  font-weight: 700;
  font-size: 13px;
  color: var(--topship-color);
  position: relative;
}

.list-orders {
  width: 100%;
  td {
    padding: 5px 10px;
    &:first-child {
      padding: 0;
    }
  }
}
