<div class="page-content">
  <div class="d-flex justify-content-between align-items-center">
    <img class="logo" src="assets/images/logo_topship.png" alt="etop-logo" />
    <button class="btn btn-primary btn-outline rounded-pill" (click)="signout()">Đăng xuất</button>
  </div>
  <div class="text-center mb-5">
    <div style="font-size: 2.5rem;">Xin chào {{user?.full_name}},</div>
    <div class="big-font">Tài khoản của bạn đã được tạo thành công, trả lời các câu hỏi sau để Topship hỗ trợ bạn được tốt hơn nhé!</div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 col-12" *ngIf="providerQuestion">
      <div class="box h-100">
        <div class="p-3 border-bottom text-center">
          <img src="{{providerQuestion?.image_url}}" alt="icon" height="50px">
          <div class="big-font">{{providerQuestion?.question}}</div>
        </div>
        <div class="p-4">
          <div class="font-italic mb-3">*Chỉ chọn 1 phương án</div>
          <mat-radio-group color="primary" [(ngModel)]="providerQuestion.answer">
            <div class="row">
              <mat-radio-button
                *ngFor="let item of providerQuestion?.answersList" [value]="item?.value" disableRipple
                class="col-12 col-sm-6">
                {{item?.text}}
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-12 pl-0" *ngIf="ordersPerDayQuestion">
      <div class="box h-100">
        <div class="p-3 border-bottom text-center">
          <img src="{{ordersPerDayQuestion?.image_url}}" alt="icon" height="50px">
          <div class="big-font">{{ordersPerDayQuestion?.question}}</div>
        </div>
        <div class="p-4">
          <div class="font-italic mb-3">*Chỉ chọn 1 phương án</div>
          <mat-radio-group color="primary" [(ngModel)]="ordersPerDayQuestion.answer">
            <div class="row">
              <mat-radio-button
                *ngFor="let item of ordersPerDayQuestion?.answersList" [value]="item?.value" disableRipple
                class="col-12">
                {{item?.text}}
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-12 pl-0" *ngIf="defaultWeightQuestion">
      <div class="box h-100">
        <div class="p-3 border-bottom text-center">
          <img src="{{defaultWeightQuestion?.image_url}}" alt="icon" height="50px">
          <div class="big-font">{{defaultWeightQuestion?.question}}</div>
        </div>
        <div class="p-4">
          <div class="font-italic mb-3">*Chỉ chọn 1 phương án</div>
          <mat-radio-group color="primary" [(ngModel)]="defaultWeightQuestion.answer">
            <div class="row">
              <mat-radio-button
                *ngFor="let item of defaultWeightQuestion?.answersList" [value]="item?.value" disableRipple
                class="col-12">
                {{item?.text}}
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-primary rounded-pill px-5" (click)="saveSurvey()">
      Hoàn thành
    </button>
  </div>
</div>
