ion-input {
  font-size: 14px;
  font-weight: 500;
}
ion-item {
  font-size: 14px;
}

.body-content {
  position: relative;
}

.box-detail {
  border-top: 8px solid #f5f5f5;
  &:last-child {
    border-bottom: 8px solid #f5f5f5;
  }
}

.footer-content {
  bottom: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.customer-avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.action-icon {
  margin-right: .5rem;
}

.customer-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.customer-phone {
  font-size: 1.2rem;
  color: var(--ion-color-primary);
}

.order-box {
  padding: 16px 16px 0;
}

.list-item {
  .item {
    padding: .5rem 1.4rem;
    ion-label {
      opacity: 0.7;
      font-size: 80%;
      margin-bottom: .125rem;
    }
    ion-text {
      font-size: 1.1rem;
    }
  }
}

.status {
  &.S {
    color: var(--topship-color)
  }

  &.P {
    color: var(--ion-color-success)
  }

  &.N {
    color: var(--ion-color-danger)
  }

  &.Z {
    color: var(--ion-color-medium);
  }

  &.NS {
    color: var(--ion-color-tertiary);
  }
}

.ffm {
  padding-top: 0.5rem;
}

.ffm-status {
  margin-left: 0.25rem;
  font-size: 0.8rem;
  margin-top: 0.15rem;

  &.S {
    color: var(--topship-color)
  }

  &.P {
    color: var(--ion-color-success)
  }

  &.N {
    color: var(--ion-color-danger)
  }

  &.Z {
    color: var(--ion-color-medium);
  }

  &.NS {
    color: var(--ion-color-tertiary);
  }
}

.provider-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-right: .25rem;
}

.items-row {
  border-bottom: 1px solid #f5f5f5;
  padding: 1rem 0;

  &:last-child {
    border-bottom: none;
  }
}

.tag {
  max-width: initial;
  margin-bottom: 0.5rem;
}

.risk-warning {
  display: flex;
  color: white;
  justify-items: center;
  margin: auto;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  width: fit-content;
  margin-top: .5rem;

  ion-text {
    color: white;
    font-size: 0.9rem;
    padding-bottom: 0.1rem;
  }
  ion-icon {
    font-size: 1rem;
    color: white;
  }
}

mat-icon {
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
  margin-right: 0.25rem;
}