<div class="modal-header">
  <div class="modal-title">Chọn tỉnh thành</div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 py-2">
      <etop-material-input-autocomplete
        placeholder="Tìm kiếm tỉnh thành" textLabel="Tìm kiếm tỉnh thành"
        [options]="provinces" [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
        [(ngModel)]="selectedProvinceCode" (ngModelChange)="onSelectProvince()">
      </etop-material-input-autocomplete>
    </div>
    <ng-container *ngFor="let code of provinceCodes; let i = index;">
      <div *ngIf="getProvinceName(code)" class="col-4 py-2">
        <div class="fake-material-input-outline d-flex align-items-center justify-content-between">
          <span>{{getProvinceName(code)}}</span>
          <i class="fa fa-times big-font cursor-pointer" style="color: #bbb;" (click)="removeProvince(i)"></i>
        </div>
      </div>
    </ng-container>
    <div class="col-12 py-2">
      <etop-material-input
        type="input" placeholder="Nhập lý do chặn" textLabel="Lý do chặn"
        [(ngModel)]="reason">
      </etop-material-input>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="text-right">
    <button class="btn btn-outline btn-default mr-3" (click)="closeModal()">Đóng</button>
    <button class="btn btn-primary text-white" (click)="confirm()">Xác nhận</button>
  </div>
</div>
