etop-filter::ng-deep {
  width: 100%;
  .wrapper-filter {
    padding: 0 0 0 1.25rem !important;
    border: none !important;
    background: none !important;
  }

  .col-2:last-child {
    max-width: 40%;
  }
}

.total .total-item {
  padding: 0 !important;
}

.table-responsive {
  overflow: visible;
  tr {
    &.table-head {
      th {
        color: #9f9f9f;
        text-transform: uppercase;
      }
    }
  }

  th, td {
    padding: 5px 15px;
  }

  td {
    font-size: 1rem;
  }
}

tr {
    &.table-head {
      th {
        color: var(--default-color);
        text-transform: uppercase;
        font-size: 0.825rem;
      }
    }
  }

  th, td {
    padding: 10px 15px;
  }

  td {
    font-size: 1rem;
  }
  .break-section {
    border-top: 1px solid var(--border-gray-color);
    font-size: 1.3rem;
    color: var(--dark-color);
  }

  .empty-list {
    text-align: center;
    background: var(--lighter-gray-color);
  }

  .title {
    color: var(--dark-color);
  }

  .setting-header {
    font-weight: 700;
    font-size: 1.2rem;
  }

  .setting-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .setting-header, .setting-body {
    border-bottom: 1px solid var(--gray-color);
  }

  .setting-header, .setting-body, .setting-footer {
    padding: 1.5rem;
  }

  .setting-box {
    margin-top: 1.25rem;
  }

  .hidden {
    display: none;
  }

  ::ng-deep .telecom-balance{
    font-size: 1.25rem !important;
  }

  ::ng-deep .text-telecom-balance{
    font-size: 0.6rem !important;
  }


