<ion-header>
  <ion-toolbar>
    <ion-title>Kết nối nhà vận chuyển</ion-title>
    <ion-buttons slot="start" class="header-back-icon">
      <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="default-wrapper">
    <div class="profile-section">
      <section class="box-content">
        <div class="section-item connected">
          <div class="connection-main-info">
            <img src="assets/images/e_topship.png" alt="" class="carrier-logo">
            <div class="info">
              <div class="carrier-name">TOPSHIP</div>
              <div class="connect-status P d-flex align-items-center">
                <i class="fa fa-circle font-10 mr-2"></i>
                <ion-icon name="ellipse" color="success"></ion-icon>
                Đã kêt nối
              </div>
            </div>
          </div>
        </div>

        <div *ngFor="let connection of (availableConnections$ | async);">
          <div *ngIf="isConnectedConnection(connection), else notConnected">
            <div class="section-item" [class.connected]="connection.connect_status == 'P'" *ngIf="connection.connect_status == 'P'">
              <div class="connection-main-info" >
                <img src="{{connection?.provider_logo}}" alt="" class="carrier-logo">
                <div class="info">
                  <div class="carrier-name">{{connection?.name | uppercase}}</div>
                  <div *ngIf="connection?.connect_status == 'P'" class="connect-status P d-flex align-items-center font-10">
                    <i class="fa fa-circle mr-2"></i>
                    <span>Đã kết nối</span>
                  </div>
                  <div class="ion-flex ion-align-items-center font-10" *ngIf="connection?.connection_email">
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <span class="sub-info">{{connection?.connection_email}}</span>
                  </div>
                </div>
              </div>
              <div *ePermissions="['shop/connection:delete']" class="action" (click)="openDeleteConnectionModal(connection)">
                <ion-icon name="trash-outline" color="danger"></ion-icon>
              </div>
            </div>
          </div>
          <ng-template #notConnected >
            <div class="section-item">
              <div class="connection-main-info">
                <img src="{{connection?.provider_logo}}" alt="" class="carrier-logo">
                <div class="info">
                  <div class="carrier-name">{{connection?.name | uppercase}}</div>
                </div>
              </div>
              <div *ePermissions="['shop/connection:create']" class="connect-btn" (click)="showConnectionModal(connection)">
                Kết nối
              </div>
            </div>
          </ng-template>
        </div>
      </section>
    </div>
  </div>
</ion-content>

