ion-header {
  border-bottom: 1px solid #f4f4f4;
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .btn-connect {
    width: 50%;
    border-radius: 5px !important;
    background: var(--ion-color-primary);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}

.carrier-item {
  padding: .75rem 0;
  border-bottom: 1px solid #f5f5f5;
  margin: 0 1.5rem;

  &:first-child {
    border-top: 1px solid #f5f5f5;
  }
  .carrier-logo {
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid var(--border-gray-color);
    border-radius: 100%;
    object-fit: contain;
    object-position: center;
    margin-right: 1rem;
  }

  .action {
    margin-left: auto;
  }

  .connect-status {
    ion-text {
      font-size: 0.9rem;
      opacity: 0.8;
    }

    ion-icon {
      opacity: 0.8;
      font-size: 0.8rem;
      margin-right: 0.25rem;
      margin-top: 0.25rem;
    }
  }
}

.btn-footer {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.btn-connect-more {
  background: var(--ion-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

etop-empty::ng-deep {
  margin: auto;
}


.default-wrapper {
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.profile-section {
  font-size: 12px;
  > section {
    &.box-content {
      border-radius: 5px;
      background-color: #fff;
      margin-bottom: 10px;
    }
  }
}

.section-item {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  text-transform: uppercase;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.connection-main-info {
  flex: 1;
  display: flex;
  align-items: center;
  color: #888;
}

.carrier-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  object-position: center;
  border: 1px solid #eee;
  border-radius: 100%;
  filter: grayscale(1);
}

.info {
  padding-left: 7px;
}

.carrier-name {
  text-transform: capitalize;
  font-size: 13px;
}

.sub-info {
  padding-left: 5px;
  color: #888;
}

.connect-btn {
  color:var(--ion-color-topship);
}

.delete-btn {
  color:var(--ion-color-danger);
  font-size: 15px;
  width: 30px;
  text-align: right;
}

.connected {
  .carrier-logo {
    filter: unset;
  }
  .carrier-name {
    color: #444;
  }
}

.connect-status {
  &.P {
    color: var(--ion-color-success);
  }
  &.N {
    color: var(--ion-color-danger);
  }
  &.S {
    color: var(--ion-color-topship);
  }
  &.Z {
    color: var(--ion-color-medium);
  }
}

input.input, select.input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  background-color: #fcfcfc;
  display: block;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #aaa;
    font-weight: 300;
  }
  &:last-child {
    margin: 0;
  }
}

.showInput {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: #fcfcfc;
  font-size: 14px !important;
  margin-bottom: 10px;
  &::placeholder {
    color: #aaa;
    font-weight: 400;
  }

  &:last-child {
    margin: 0;
  }
}

.modal-title {
  flex: 1;
  text-align: center;
  font-weight: 700;
}

.selected-carrier-img {
  margin-bottom: 10px;
  width: 100px;
}

.selected-info {
  text-align: center;
}

.selected-carrier-name {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.modal-body {
  padding: 0;
  max-height: 500px;
  overflow-y: auto;
}

.tabs {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  height: 40px;
  color: #999;
  .tab {
    border-bottom: 2px solid #ddd;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
}

.inputs-wrapper {
  padding: 12px;
}

.password-note {
  line-height: 1.4;
  font-size: 13px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 7px;
  color: #666;
}
