<ion-header>
  <ion-toolbar>
    <ion-title>Lịch sử tồn kho</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-content">
    <div *ngIf="!inventory_vouchers?.length; else inventoryVouchers" class="text-bold ion-text-center" style="padding-top: 40vh">
      Sản phẩm này chưa có lịch sử tồn kho.
    </div>
    <ng-template #inventoryVouchers>
      <div class="box-detail ion-padding" *ngFor="let inventory_voucher of inventory_vouchers">
        <div class="ion-flex">
          <div class="line-info w-100">
            <ion-label>Mã phiếu</ion-label>
            <div class="content">{{inventory_voucher?.code}}</div>
          </div>
          <div class="line-info w-100">
            <ion-label>Phương thức</ion-label>
            <div class="content">{{inventory_voucher?.ref_name}}</div>
          </div>
        </div>
        <div class="line-info">
          <ion-label>Thời gian</ion-label>
          <div class="content">{{inventory_voucher?.created_at | date: 'HH:mm dd/MM/yyyy'}}</div>
        </div>
        <div class="line-info">
          <ion-label>Đối tác/Ghi chú</ion-label>
          <div class="content">
            <ng-container *ngIf="inventory_voucher.ref_type != 'stocktake'; else showNote">
              <ion-text>{{inventory_voucher?.trader_display}} / </ion-text>
              <ion-text class="text-bold">{{inventory_voucher?.trader.full_name}}</ion-text>
            </ng-container>
            <ng-template #showNote>
              <div>{{inventory_voucher?.note}}</div>
            </ng-template>
          </div>
        </div>
        <div class="ion-flex">
          <div class="line-info w-100">
            <ion-label>Giá vốn</ion-label>
            <div class="content">
              {{inventory_voucher?.lines[getIndexByVariantId(inventory_voucher?.lines, variant.id)].price | vnd}}đ</div>
          </div>
          <div class="line-info w-100">
            <ion-label>Số lượng</ion-label>
            <div class="content">
              {{inventory_voucher?.type == 'out' ? '-' : ''}}{{inventory_voucher?.lines[getIndexByVariantId(inventory_voucher?.lines, variant.id)].quantity}}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    
  </div>

</ion-content>