.line-info {
  padding: 0.75rem 0;

  .content {
    margin-top: 0.5rem;
    font: 500 1.1rem Arial !important;
  }

  ion-label {
    font-size: 0.8rem;
  }
}

.page-content {
  background: #f5f5f5;
  min-height: 100%;
}

.box-detail {
  background: white;
  margin-bottom: 1rem;
}