<div class="modal-header">
  <h5 class="modal-title flex-fill" id="exampleModalLabel">Yêu cầu hỗ trợ</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body p-0 ticket-section">
  <div class="ticket-header">
    <span>{{ ticket.ticket_title }} - </span>
    <span class="status" [ngClass]="[getStatusSnake(ticket.ticketstatus)]">{{
      getStatusDisplay(ticket.ticketstatus)
    }}</span>
  </div>
  <hr />
  <div class="substatus" *ngIf="ticket.substatus">
    <span class="{{ ticket.substatus }}">{{
      subStatusMap(ticket.substatus)
    }}</span>
    <span class="etop-note"> Ghi chú: {{ ticket.etop_note }} </span>
  </div>
  <hr *ngIf="ticket.substatus" />
  <div class="ticket-content">
    <div class="content" [class.hidden]="ticket.ticketcategories == 'Khác'">
      <span>Nội dung:</span>
      <p>{{ ticket.ticketcategories }}: {{ ticket.description }}</p>
    </div>
    <div class="reason">
      <span>Lý do:</span>
      <p>{{ ticket.reason }}</p>
    </div>
  </div>
  <hr />
  <div class="feedback">
    <p class="title">
      Phản hồi
      {{
        ticketComments?.comments?.length > 0
          ? '(' + ticketComments?.comments?.length + ')'
          : ''
      }}
    </p>
    <p *ngIf="!ticketComments?.comments?.length" class="state-empty">
      Chưa có nội dung phản hồi cho yêu cầu hỗ trợ này
    </p>
    <div
      #scrollMe
      class="comment-list"
      *ngIf="ticketComments?.comments?.length"
    >
      <div
        class="comment-feedback {{ comment.creator.type }}"
        *ngFor="let comment of ticketComments.comments"
      >
        <div class="user">
          <span>{{ comment.creator.full_name }}</span>
          <span class="time-comment text-right">{{
            comment.created_at | date: 'HH:mm dd/MM/yyyy'
          }}</span>
        </div>
        <div class="comment-content" [innerHTML]="comment.content"></div>
      </div>
    </div>
  </div>
  <div>
    <form class="form-feedback form-inline">
      <div class="form-group d-flex" *ngIf="ticket.ticketstatus != 'Closed'">
        <textarea
          name="comment"
          class="form-control w-100"
          placeholder="Nhập nội dung phản hồi"
          [(ngModel)]="comment"
          rows="1"
        ></textarea>
        <span class="blue_color sendFeedback" (click)="createComment(ticket.id)"
          >Gửi phản hồi</span
        >
      </div>
      <div class="form-group" *ngIf="ticket.ticketstatus == 'Closed'">
        <textarea
          name="comment"
          class="form-control w-100 text-center"
          style="padding: 12px 30px;"
          placeholder="Yêu cầu hỗ trợ đã đóng, vui lòng tạo yêu cầu mới để tiếp tục phản hồi"
          [(ngModel)]="comment"
          rows="1"
          [disabled]="ticket.ticketstatus == 'Closed'"
        ></textarea>
      </div>
    </form>
  </div>
</div>
