<div class="slider-detail-section">
  <div class="row">
    <div class="col-6" [formGroup]="availablePickForm">
      <div class="d-flex align-items-center py-3">
        <i class="mr-2 far fa-circle text-primary"></i>
        <span class="text-bold text-primary">Lấy hàng</span>
      </div>
      <div class="py-2">
        <etop-material-input
          textLabel="Loại khả dụng" placeholder="Chọn loại khả dụng" type="select"
          [optionSelect]="filterTypes" formControlName="filter_type">
        </etop-material-input>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Miền {{labelPick}}" placeholder="Chọn miền {{labelPick}}"
          [options]="regions" formControlName="regions"
          [displayMap]="regionDisplayMap" [valueMap]="regionValueMap">
        </etop-material-chips-autocomplete>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Vùng {{labelPick}}" placeholder="Chọn vùng {{labelPick}}"
          [options]="customRegionsList$ | async" formControlName="custom_region_ids"
          [displayMap]="customRegionDisplayMap" [valueMap]="customRegionValueMap">
        </etop-material-chips-autocomplete>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Tỉnh {{labelPick}}" placeholder="Chọn tỉnh {{labelPick}}"
          [options]="provincesList$ | async" formControlName="province_codes"
          [displayMap]="provinceDisplayMap" [valueMap]="provinceValueMap">
        </etop-material-chips-autocomplete>
      </div>
    </div>
    <div class="col-6" [formGroup]="availableDeliverForm">
      <div class="d-flex align-items-center py-3">
        <i class="mr-2 fas fa-map-marker-alt text-primary"></i>
        <span class="text-bold text-primary">Giao hàng</span>
      </div>
      <div class="py-2">
        <etop-material-input
          textLabel="Loại khả dụng" placeholder="Chọn loại khả dụng" type="select"
          [optionSelect]="filterTypes" formControlName="filter_type">
        </etop-material-input>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Miền {{labelDeliver}}" placeholder="Chọn miền {{labelDeliver}}"
          [options]="regions" formControlName="regions"
          [displayMap]="regionDisplayMap" [valueMap]="regionValueMap">
        </etop-material-chips-autocomplete>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Vùng {{labelDeliver}}" placeholder="Chọn vùng {{labelDeliver}}"
          [options]="customRegionsList$ | async" formControlName="custom_region_ids"
          [displayMap]="customRegionDisplayMap" [valueMap]="customRegionValueMap">
        </etop-material-chips-autocomplete>
      </div>
      <div class="py-2">
        <etop-material-chips-autocomplete
          textLabel="Tỉnh {{labelDeliver}}" placeholder="Chọn tỉnh {{labelDeliver}}"
          [options]="provincesList$ | async" formControlName="province_codes"
          [displayMap]="provinceDisplayMap" [valueMap]="provinceValueMap">
        </etop-material-chips-autocomplete>
      </div>
    </div>
  </div>
  <div class="text-right py-2" *ePermissions="['admin/shipment_service:update']">
    <button class="btn btn-primary text-white" [disabled]="loading" (click)="updateShipmentServicesAvailableLocations()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Cập nhật
    </button>
  </div>
</div>
