.pure-radiobutton input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pure-radiobutton input[type="radio"]:active+label:before {
  transition-duration: 0s;
}

.pure-radiobutton input[type="radio"]+label {
  position: relative;
  padding-left: 2rem;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  font-size: 12px;
  width: 100%;
}

.pure-radiobutton input[type="radio"]+label:before {
  box-sizing: content-box;
  content: '';
  color: var(--blue-color);
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  margin-top: -7px;
  border: 1px solid var(--border-gray-color);
  text-align: center;
  transition: all 0.4s ease;
}

.pure-radiobutton input[type="radio"]+label:after {
  box-sizing: content-box;
  content: '';
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 3px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}

.pure-radiobutton input[type="radio"]:checked+label:before {
  animation: borderscale 300ms ease-in;
  background-color: white;
  margin-top: -7px;
}

.pure-radiobutton input[type="radio"]:checked+label:after {
  transform: scale(1);
}

.pure-radiobutton input[type="radio"]+label:before,
.pure-radiobutton input[type="radio"]+label:after {
  border-radius: 50%;
}

.note-payment {
  background-color: var(--primary-color);
}

.scroll {
  height: 100%;
  overflow: auto;
}

.product-image {
  width: 40px;
  border-radius: 5px;
}

.disable-event {
  pointer-events: none;
  opacity: 0.8;
}

.btn-coupon {
  padding: 8px 25px;
  margin-top: 2px;
}

.alert-warning {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-top: -1.5rem;
  padding-left: 2rem;
  height: auto;
}