.product-name {
  padding: 1rem;
  font-weight: 700;
  text-align: center;
  font-size: 1.2rem;
}

.variant-item {
  padding: 1rem;
}

.variant-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.variant-price {
  font-weight: 700;
}

.select-icon {
  line-height: 0;
  margin-left: 0.5rem;
  ion-icon {
    font-size: 1.5rem;
    color: #aaa;
  }
  &.selected {
    ion-icon {
      color: var(--primary-color);
    }
  }
}

.variant-attributes {
  font-size: 1.1rem;
}

.variant-sku {
  color: #888;
  font-size: .9rem;
}

.page-content {
  position: relative;
}

.close-icon {
  position: absolute;
  font-size: 2rem;
  right: 0.25rem;
  top: 0.75rem;
  opacity: 0.6;
}

.variant-list {
  overflow: auto;
  max-height: 40vh;
}