<div class="page-content">
    <div class="box setting-box mt-0">
        <div class="setting-body">
          <div class="row">
            <div class="table-responsive">
              <table class="w-100">
                <thead>
                  <tr class="table-head">
                    <th>Tên</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Vai trò</th>
                    <th>Máy nhánh</th>
                    <th>Tổng đài</th>
                    <th>Ngày hết hạn</th>
                    <th class="text-right" style="max-width: 8rem;">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!(relationships$ | async )?.length">
                    <td colspan="8" class="empty-list">
                      Cửa hàng của bạn chưa có nhân viên.
                    </td>
                  </tr>
                  <tr *ngFor="let relationship of (relationships$ | async );" etelecom-staff-management-row [staff]="relationship"></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
