.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}

.balance-warning {
    text-align: center;
    color: red;
    background: #fbdddd;
    padding: 0.75rem;
    opacity: 0.8;
}