<div class="dialog-header">
    <div class="dialog-title">Tạo máy nhánh</div>
    <div class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div  [formGroup]="extensionWithSubForm">
    <div class="dialog-body">
        <h5>Thông tin</h5>
        <div class="mt-3 mb-3">
            <etop-material-input type="select" 
                [optionSelect]="hotlines"
                textLabel="Hotline"
                appearance="outline" 
                placeholder="Chọn hotline" 
                [displayMap]="displayMapHotline"
                formControlName='hotline_id'
                [valueMap]="valueMap">
            </etop-material-input>
        </div>
        <div>Số máy nhánh</div>
        <mat-radio-group class="radio-group" color="primary" formControlName="extension_option">
            <mat-radio-button class="radio-button" value="auto">Tự động <span style="opacity: 0.6;">(Hệ thống tự động sinh ra số máy nhánh)</span></mat-radio-button>
            <mat-radio-button class="radio-button" value="custom">Tùy chọn</mat-radio-button>
        </mat-radio-group>
        <ng-container *ngIf="extensionWithSubForm.controls['extension_option'].value == 'custom'">
            <etop-material-input type="input" keyboardType="number" formControlName='extension_number' textLabel="Số máy nhánh (extension number)"></etop-material-input>
        </ng-container>
    </div>

    <div style="border-bottom: 8px solid rgba(0, 0, 0, 0.04);"></div>

    <div class="dialog-body">
        <h5 class="mb-3">Thanh toán</h5>
        <div class="mt-2 mb-3">
            <etop-material-input type="select" 
                [optionSelect]="subscriptionPlans"
                textLabel="Thời gian sử dụng"
                appearance="outline" 
                placeholder="Thời gian sử dụng" 
                [displayMap]="displayMapPlan"
                formControlName='subscription_plan_id'
                class="font-weight-bold"
                [valueMap]="valueMap">
            </etop-material-input>
        </div>
        <div>Phương thức thanh toán</div>
        <mat-radio-group class="radio-group" color="primary">
            <mat-radio-button class="radio-button" value="balance" checked>Số dư (<strong>{{telecom_balance | number}}đ</strong>)</mat-radio-button>
            <mat-radio-button class="radio-button" value="other" disabled>Thanh toán Online (Đang phát triển)</mat-radio-button>
        </mat-radio-group>
    </div>
  </div>
  <div class="balance-warning" *ngIf="warningEnoughBalance">
      {{warningEnoughBalance}}
  </div>
  <div class="dialog-footer">
    <div class="text-right">
      <button class="btn btn-outline btn-default mr-2" (click)="closeDialog()">
        Bỏ qua
      </button>
      <button class="btn btn-primary" [disabled]="warningEnoughBalance" (click)="confirmCreateExtension()">
        Thanh toán và tạo máy nhánh
      </button>
    </div>
  </div>
  