.box-segment {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: white;
    margin-top: 10px;
}

ion-segment {
    ion-label {
        text-transform: none;
    }

    ion-segment-button {
        background: white;
        border-right: 1px solid #f4f4f4;
        --indicator-height: 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        min-height: 3rem;
        height: 3rem;
        width: 50%;

        &.segment-button-checked {
            border-bottom: 2px solid var(--ion-color-primary);
            ion-label {
                color: var(--ion-color-primary) !important;
            }
        }

        &:last-child {
            border-right: none;
        }
      }
}

.button-icon {
    min-width: fit-content;
    background: var(--ion-color-primary);
    color: white;
    border-radius: 20px;
    padding: 0 1rem 0 0.75rem;
    min-height: 2.2rem;
    margin-right: 0.25rem;
    ion-icon {
        font-size: 1.2rem;
    }
    ion-text {
        font-size: 0.9rem;
    }
}

ion-header {
    ion-toolbar {
        border-bottom: 1px solid #f4f4f4;
    }
}

.list-item {
    background-color: #f4f4f4;
    height: 100%;
    overflow: auto;
}

.text-gray {
  color: var(--ion-color-medium);
}
