<ion-header>
  <ion-toolbar>
    <ion-title>Chi tiết phiếu {{voucher?.type == 'in' ? 'nhập kho' : 'xuất kho'}}</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" class="back-icon" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list class="ion-padding-end">
      <ion-item>
        <ion-label position="floating">Mã phiếu</ion-label>
        <ion-input type="text" class="font-bold" [value]="voucher?.code" readonly>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nội dung</ion-label>
        <ion-input type="text" [value]="voucher?.title" readonly>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tổng số lượng</ion-label>
        <ion-input type="text" [value]="voucher?.total_items" readonly>
        </ion-input>
      </ion-item>
    </ion-list>
    <div class="box-detail ion-padding-bottom">
      <div class="header font-bold ion-flex ion-justify-content-between ion-margin-horizontal ion-margin-top"
        (click)="toggleDetail()">
        <ion-text>Chi tiết</ion-text>
        <span>
          <ion-icon class="ion-padding-start icon-header" name="chevron-{{toggle ? 'up' : 'down'}}-outline"></ion-icon>
        </span>
      </div>
      <ion-list class="ion-padding-end" [ngClass]="{ 'ion-hide' : !toggle }">
        <ion-item>
          <ion-label position="floating">Thời gian tạo</ion-label>
          <ion-input type="text" [value]="voucher?.created_at | date: 'HH:mm dd/MM/yyyy'" readonly>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Đối tác</ion-label>
          <ion-input type="text" [value]="voucher?.trader_display" readonly>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phương thức</ion-label>
          <ion-input type="text" [value]="voucher?.ref_name" readonly>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tham chiêu</ion-label>
          <ion-input type="text" [value]="voucher?.ref_display + ': ' + voucher?.ref_code" readonly>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Số sản phẩm</ion-label>
          <ion-input type="text" [value]="voucher?.total_products" readonly>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tổng giá trị</ion-label>
          <ion-input type="text" [value]="voucher?.total_amount | vnd" readonly>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Ghi chú</ion-label>
          <ion-input type="text" [value]="voucher?.note" readonly>
          </ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div class="box-detail ion-padding-bottom">
      <div class="header font-bold ion-flex ion-justify-content-between ion-margin-horizontal ion-margin-top"
        (click)="toggleProd()">
        <ion-text>Danh sách sản phẩm</ion-text>
        <span>
          <ion-icon class="ion-padding-start icon-header" name="chevron-{{toggleProduct ? 'up' : 'down'}}-outline">
          </ion-icon>
        </span>
      </div>
      <ion-list class="ion-padding-end" [ngClass]="{ 'ion-hide' : !toggleProduct }">
        <div class="item ion-flex ion-align-items-center ion-justify-content-between p-y-5"
          *ngFor="let line of voucher?.lines">
          <div class="ion-flex ion-align-items-center m-r-5">
            <div style="min-width: fit-content">
              <span style="margin-left: 1.2rem">{{line?.quantity}} x</span>
            </div>
            <div style="margin-left: 1rem">
              <div class="fix-line-1 font-bold">{{line?.product_name}}</div>
              <div class="small-font text-medium">
                <ion-text *ngIf="line?.code">{{line?.code}}</ion-text>
              </div>
            </div>
          </div>
          <div class="ion-color-medium">{{(line.quantity * line.price) | vnd}}đ</div>
        </div>
      </ion-list>
    </div>
</ion-content>