<ng-container *ngIf="loading; else loadDone;">
  <div class="empty">
    <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
  </div>
</ng-container>
<ng-template #loadDone>
  <div *ngIf="receipts.length > 0; else empty;" class="table-responsive">
    <table class="w-100">
      <thead>
        <tr>
          <th>Mã phiếu</th>
          <th>Loại phiếu</th>
          <th>Hình thức</th>
          <th class="text-right">Giá trị</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receipt of receipts">
          <td>
            <span class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailReceipt(receipt?.code)">
              {{receipt?.code}}
               <i class="fas fa-external-link-alt external-link-icon"></i>
            </span>
            <div style="font-size: 10px;">{{receipt?.created_at | date: 'dd/MM/yy HH:mm'}}</div>
          </td>
          <td>
            <div class="font-weight-bold">{{receipt?.type_display.toUpperCase()}}</div>
          </td>
          <td>
            <div *ngIf="receipt?.ledger?.type == 'cash'">
              <span>Tiền mặt</span>
            </div>
            <div *ngIf="receipt?.ledger?.type == 'bank'">
              <div>Chuyển khoản</div>
              <div class="text-info">{{receipt?.ledger?.name}}</div>
            </div>
          </td>
          <td>
            <div *ngIf="receipt?.amount" class="font-weight-bold text-right">
              {{receipt?.amount | vnd }}đ
            </div>
          </td>
          <td>
            <div class="order-status order-{{ receipt?.status }}">
              {{ receipt?.status_display }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="empty">Khách hàng <strong>{{customer_name}}</strong> chưa có phiếu thu/chi nào.</div>
  </ng-template>
</ng-template>
