<ion-header>
  <ion-toolbar>
    <ion-title>Tạo sản phẩm</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="page-content">
    <div class="upload-img ion-margin-top" (click)="takePicture()" *ngIf="!productImg; else hasImg">
      <img src="assets/imgs/upload-image.png" alt="">
      <div class="text-primary ion-padding-bottom">Thêm ảnh</div>
      <div class="uploading" *ngIf="uploading">
        <ion-spinner name="crescent" class="loading-icon"></ion-spinner>
      </div>
    </div>
    <ng-template #hasImg>
      <div class="ion-text-center ion-padding">
        <div class="product-image">
          <img [src]="productImg" alt="">
          <ion-icon name="camera" class="icon-upload" (click)="takePicture()"></ion-icon>
          <div class="uploading" *ngIf="uploading">
            <ion-spinner name="crescent" class="loading-icon"></ion-spinner>
          </div>
        </div>

      </div>
    </ng-template>
    <ion-list class="ion-padding-end ion-padding-bottom">
      <ion-item>
        <ion-label position="floating">Tên sản phẩm</ion-label>
        <ion-input type="text" [(ngModel)]="product.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Giá sản phẩm</ion-label>
        <ion-input *ngIf="!format_money" #discountInput  inputmode="numeric" min="1" pattern="[0-9]*"
          type="number" [(ngModel)]="product.retail_price"
          (ionBlur)="formatMoney()">
        </ion-input>
        <ion-input type="text" *ngIf="format_money" (click)="formatMoney()"
          value="{{product.retail_price ? (product.retail_price | vnd) + 'đ' : '' }}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Giá vốn</ion-label>
        <ion-input *ngIf="!format_cost_price" #costPriceInput inputmode="numeric" min="1" pattern="[0-9]*" type="number" [(ngModel)]="product.cost_price" (ionBlur)="formatMoneyCostPrice()"
          (ngModelChange)="onCostPriceEdited()">
        </ion-input>
        <ion-input type="text" *ngIf="format_cost_price" (click)="formatMoneyCostPrice()"
          value="{{product.cost_price ? (product.cost_price | vnd) + 'đ' : '' }}">
        </ion-input>
      </ion-item>
    </ion-list>
    <div class="box-detail">
      <div class="header font-bold ion-flex ion-justify-content-between ion-margin-horizontal ion-margin-top" (click)="toggleDetail()">
        <ion-text>Chi tiết</ion-text>
        <span>
          <ion-icon class="ion-padding-start icon-header" name="chevron-{{!toggle ? 'up' : 'down'}}-outline"></ion-icon>
        </span>
      </div>
      <ion-list class="ion-padding-end" [ngClass]="{ 'ion-hide' : toggle }">
        <ion-item style="position: relative;">
          <ion-label position="floating">Mã sản phẩm</ion-label>
          <ion-input type="text" [(ngModel)]="product.code">
          </ion-input>
          <ion-buttons (click)="scanBarcode()" class="barcode-button">
            <ion-icon name="barcode-outline"></ion-icon>
          </ion-buttons>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tồn kho</ion-label>
          <ion-input type="text" [(ngModel)]="inventory_quantity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mô tả</ion-label>
          <ion-textarea [(ngModel)]="product.description"></ion-textarea>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="create()">
        Tạo sản phẩm
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
