<ng-container>
    <div class=" modal-header">
        <div class="modal-title w-100 text-center">Chỉnh sửa thuộc tính</div>
    </div>
    <div class="modal-body">
        <div *ngFor="let attr of updateAttrForm.controls; let i = index" class="row pt-2 mr-0 d-flex align-items-center">
            <ng-container [formGroup]="attr">
                <div class="col-10" [class.col-12]="attributeLength <= 1">
                    <etop-material-input type="input" textLabel="Tên thuộc tính" placeholder="Tên thuộc tính"
                        name="attr-name-{{ i }}" formControlName="name"></etop-material-input>
                </div>
                <div class="col text-center">
                    <div class="btn btn-outline btn-danger justify-content-center cursor-pointer" *ngIf="attributeLength > 1"
                        style="font-size: 12px; height: 35px;" (click)="removeAttribute(attr.value, i)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
            </ng-container>
        </div>
        <div *ngIf="attributeLength < 1" style="font-size: 12px;">
            Sản phẩm chưa có thuộc tính
        </div>
        <div class="my-2 mt-3" *ngIf="attributeLength < 3">
            <button class="btn btn-outline btn-primary" (click)="addAttribute()">
                Thêm thuộc tính
            </button>
        </div>

    </div>
    <div class="modal-footer">
        <button *ngIf="!fromConfirmAttrForm" class="btn btn-outline btn-primary mr-auto" (click)="openConfirmAttributeDialog()">
            Khai báo lại thuộc tính
          </button>
        <button class="btn btn-outline btn-default" (click)="cancel()">Đóng</button>
        <button class="btn btn-primary" (click)="submit()">
            Tiếp tục
        </button>
    </div>
</ng-container>