<ion-header>
  <ion-toolbar>
    <ion-title>Thông tin tài khoản</ion-title>
    <ion-buttons slot="start" class="header-back-icon">
      <ion-icon name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content class="ion-flex">
  <div class="box-wrapper">
    <div class="box-content">
      <div class="list-item ">
        <div class="item ion-flex">
          <ion-text class="font-bold">Tài khoản</ion-text>
        </div>
        <div class="item ion-flex">
          <ion-text>Họ tên</ion-text>
          <ion-text class="ml-auto ion-align-self-center font-bold">{{user?.full_name}}</ion-text>
        </div>
        <div class="item ion-flex">
          <ion-text>Số điện thoại</ion-text>
          <ion-text class="ml-auto ion-align-self-center font-bold">{{user?.phone}}</ion-text>
        </div>
        <div class="item ion-flex">
          <ion-text>Email</ion-text>
          <ion-text class="ml-auto ion-align-self-center font-bold">{{user?.email}}</ion-text>
        </div>
      </div>
    </div>
    <div class="box-content">
      <div class="list-item">
        <div class="item ion-flex">
          <ion-text class="font-bold">Người giới thiệu</ion-text>
        </div>
        <div class="item ion-flex">
          <div *ngIf="user?.ref_aff" class="mr-auto ion-align-self-center">{{user?.ref_aff}}</div>
          <div class="ion-align-self-center font-bold ion-flex ion-align-items-center w-100  " *ngIf="!user?.ref_aff">
              <ion-input [(ngModel)]="userRefAff" placeholder="Nhập mã giới thiệu" class="ion-margin-end ion-text-start" type="text"></ion-input>
              <div class="ion-text-end m-t-10">
                <button (click)="updateRefAff()" class="btn btn-primary btn-outline update-btn">Cập nhật</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ion-padding w-100">
      <button class="btn btn-change-pw-outline w-100" (click)="changePassword()">Đổi mật khẩu</button>
    </div>
  </div>
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar class="no-padding">
      <div class="footer-buttons-etop">
          <div class="btn-danger btn-outline button-radius ion-text-center w-100">
              <ion-text color="danger">Đăng xuất</ion-text>
          </div>
      </div>
  </ion-toolbar>
</ion-footer>