.list-item {
  opacity: 0.8;
}

ion-header {
  border-bottom: 1px solid #f4f4f4;
}

.item {
  font-size: 1rem;
  padding: 1rem 16px;
  border-bottom: 0.045em solid rgba(0, 0, 0, .12);

  .item-icon {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 1rem;
  }

  &.ref-item {
    padding-top:0!important;
  }

  ion-text {
    vertical-align: middle;
  }
}
.box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: #eee;
}

.box-content {
  background: white;
  width: 100%;
  margin-top: 10px;
}


.logout {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  padding: 8px 16px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.btn-change-pw-outline {
  border-color: var(--ion-color-primary);
  color: var(--ion-color-primary);
  background: transparent;
  border: 1px solid !important;
  padding: 13px 20px;
  border-radius: 5px;
}

ion-input {
  border-bottom: 1px solid #ddd;
  height: 1.7rem;
  text-align: right;
  color: #666;
}

.btn-footer {
  border: 1px solid #f04141;
  border-radius: 5px
}

.update-btn {
  color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary)!important;
}
