.variant-img {
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  width: 45px;
  height: 45px;
}
.alert {
  margin-bottom: 0;
  margin-top: 15px;
}

.label-inventory-modal {
  font-size: .9rem;
  margin-bottom: 5px;
}
