<div class="content">
  <div class="p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="col-4 input-item">
            <etop-material-input textLabel="Mã phiếu" type="custom">
              <span class="read-only font-weight-bold">{{receipt?.code || '-'}}</span>
            </etop-material-input>
          </div>
          <div class="col-4 pl-0 input-item">
            <etop-material-input
              *ngIf="!isConfirmedReceipt"
              textLabel="Thời gian thanh toán" placeholder="Thời gian thanh toán" type="datetime"
              [(ngModel)]="receipt.p_data.paid_at">
            </etop-material-input>
            <etop-material-input *ngIf="isConfirmedReceipt" textLabel="Thời gian thanh toán" type="custom">
              <span class="read-only">
                {{receipt?.paid_at ? (receipt?.paid_at | date: 'dd/MM/yyyy') : '-'}}
              </span>
            </etop-material-input>
          </div>
          <div class="col-4 pl-0 input-item">
            <etop-material-input textLabel="Người tạo" type="custom">
              <span class="read-only">{{receipt?.user_display || '-'}}</span>
            </etop-material-input>
          </div>
          <div class="col-4 input-item">
            <etop-material-input textLabel="Nhóm đối tác" type="custom">
              <span class="read-only">{{receipt?.trader_type_display}}</span>
            </etop-material-input>
          </div>
          <div class="col-8 input-item pl-0">
            <etop-material-input textLabel="Đối tác" type="custom">
              <span class="text-primary font-weight-bold" [ngClass]="{'cursor-pointer':!receipt?.trader?.deleted , 'read-only':receipt?.trader?.deleted }" (click)="viewDetailTrader(receipt?.trader)">
                {{receipt?.trader?.full_name}}{{receipt?.trader?.phone && ' - ' + receipt?.trader?.phone || ''}}
                <i *ngIf="!receipt?.trader?.deleted" class="fas fa-external-link-alt external-link-icon"></i>
              </span>
              <span class="font-weight-normal text-default ml-1 small-font read-only" *ngIf="receipt?.trader?.deleted">(Đã xoá)</span>
            </etop-material-input>
          </div>
          <div class="col-6 input-item">
            <etop-material-input textLabel="Trạng thái" type="custom">
              <span class="read-only order-status order-{{receipt?.status}}">{{receipt?.status_display}}</span>
            </etop-material-input>
          </div>
          <div class="col-6 pl-0 input-item">
            <ng-container *ngIf="isConfirmedReceipt; else notConfirmed;">
              <etop-material-input textLabel="Giá trị" type="custom">
                <span class="text-primary read-only font-weight-bold">
                  {{receipt?.amount | vnd}}đ
                </span>
              </etop-material-input>
            </ng-container>
            <ng-template #notConfirmed>
              <etop-material-input
                *ngIf="!format_money" #moneyInput [error]="receipt_amount_error"
                placeholder="Giá trị" textLabel="Giá trị" type="input" keyboardType="number"
                [(ngModel)]="receipt.p_data.amount" (blur)="formatMoney(); checkValidAmount();">
              </etop-material-input>
              <etop-material-input
                *ngIf="format_money" textLabel="Giá trị" type="custom" (click)="formatMoney()">
                <span class="font-weight-bold" [class.text-primary]="!receipt_amount_error" [class.text-danger]="receipt_amount_error">
                  {{receipt?.p_data?.amount | vnd}}đ
                </span>
              </etop-material-input>
            </ng-template>
          </div>
          <div class="slider-detail-input-item col-12" *ngIf="receipt?.status == 'N'">
            <etop-material-input textLabel="Lý do huỷ" type="custom">
              <span class="read-only">{{receipt?.cancel_reason || '-'}}</span>
            </etop-material-input>
          </div>
          <div class="col-6 input-item">
            <etop-material-input
              *ngIf="!isCancelledReceipt"
              placeholder="Nội dung" textLabel="Nội dung" type="input"
              [(ngModel)]="receipt.p_data.title">
            </etop-material-input>
            <etop-material-input *ngIf="isCancelledReceipt" textLabel="Nội dung" type="custom">
              <span class="read-only">
                {{receipt?.title || '-'}}
              </span>
            </etop-material-input>
          </div>
          <div class="col-6 input-item pl-0">
            <etop-material-input
              *ngIf="!isCancelledReceipt"
              textLabel="Phương thức" placeholder="Chọn phương thức thanh toán" type="select"
              [optionSelect]="ledgerTypes" [(ngModel)]="ledger_type"
              (ngModelChange)="displayLedgers();">
            </etop-material-input>
            <etop-material-input *ngIf="isCancelledReceipt" textLabel="Phương thức" type="custom">
              <span class="read-only">
                {{receipt?.ledger_type_display || '-'}}
              </span>
            </etop-material-input>
          </div>
          <div class="col-12 input-item" *ngIf="ledger_type && ledger_type != 'cash'">
            <shared-select-multiline
              *ngIf="!isCancelledReceipt"
              [options]="ledgers"
              placeholder="Tìm tài khoản thanh toán"
              [(ngModel)]="ledgerIndex"
              (ngModelChange)="onSelectLedger()"
              (focus)="focusLedger()"
              textLabel="Tài khoản thanh toán">
              <div class="text-center text-primary" (click)="addLedger()">
                Thêm tài khoản thanh toán mới
              </div>
            </shared-select-multiline>
            <etop-material-input *ngIf="isCancelledReceipt" textLabel="Tài khoản thanh toán" type="custom">
              <div class="read-only align-items-start flex-column">
                <strong class="mb-2">{{receipt?.ledger?.name}}</strong>
                <span *ngIf="ledgerBankAccountDisplay">{{ledgerBankAccountDisplay}}</span>
              </div>
            </etop-material-input>
          </div>
          <div class="col-12 input-item">
            <etop-material-input
              *ngIf="!isCancelledReceipt"
              placeholder="Ghi chú" textLabel="Ghi chú" type="input"
              [(ngModel)]="receipt.p_data.note">
            </etop-material-input>
            <etop-material-input *ngIf="isCancelledReceipt" textLabel="Ghi chú" type="custom">
              <span class="read-only">
                {{receipt?.note || '-'}}
              </span>
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <shop-receipt-lines
    *ngIf="receipt?.p_data?.amount > 0" [loading]="preparingReceiptLines"
    [receipt]="receipt" [receipt_type]="receipt?.type" [trader_type]="receipt?.trader_type" [ref_type]="receipt?.ref_type"
    [receipt_lines]="receipt_lines" [trader_name]="receipt?.trader?.full_name" class="d-block mb-3">
  </shop-receipt-lines>
  <ng-container *eRoles="['owner', 'staff_management', 'inventory_management', 'analyst', 'accountant']">
    <div class="actions px-3 pt-0 text-right" *ngIf="!isCancelledReceipt">
      <button *ePermissions="['shop/receipt:update']" class="btn btn-primary" [class.btn-outline]="!isConfirmedReceipt"
        [disabled]="loading" (click)="update(false)">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && !updateAndConfirm"></i>
        Cập nhật
      </button>
      <ng-container *ePermissions="['shop/receipt:confirm']">
        <button *ngIf="!isConfirmedReceipt"
          class="btn btn-primary ml-2" [disabled]="loading" (click)="update(true)">
          <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && updateAndConfirm"></i>
          Xác nhận
        </button>
      </ng-container>
    </div>
  </ng-container>
</div>
