.receipt-slide-item {
  li {
    &.nav-item {
      border-left: none;
    }
    a.nav-link {
      border: none;
      background-color: var(--white-color);
      min-height: auto;
      color: var(--dark-color);
      padding: 10px 15px;
      &.active {
        border-bottom: 2px solid var(--primary-color) !important;
        color: var(--primary-color) !important;
      }
    }
  }
}

.input-item {
  margin-bottom: 0.5rem;
}

.order-status {
  &::before {
    padding: 4px !important;
  }
}

shared-select-multiline::ng-deep {
  display: block !important;
  margin-top: 5px !important;
  .display-value {
    border: 1px solid var(--border-gray-color) !important;
    position: relative !important;
  }
  .selected {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
  }
}

:host {
  height: 100%;
}

.content {
  height: 100%;
}

.read-only {
  cursor: not-allowed;
}