<div class="slider-detail-section" [formGroup]="customRegionForm">
  <div class="row">
    <div class="col-6 py-2">
      <etop-material-input
        type="input" placeholder="Nhập tên vùng" textLabel="Tên vùng"
        formControlName="name">
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input
        type="custom" textLabel="Ngày tạo">
        <span class="read-only">{{(activeCustomRegion$ | async)?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="col-12 py-2">
      <etop-material-input
        type="input" placeholder="Nhập mô tả" textLabel="Mô tả"
        formControlName="description">
      </etop-material-input>
    </div>
  </div>
</div>

<div class="slider-detail-section" [formGroup]="customRegionForm">
  <h6 class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    DANH SÁCH TỈNH&nbsp;
    <span *ngIf="customRegionForm.controls['province_codes'].value?.length">
        ({{customRegionForm.controls['province_codes'].value?.length}})
      </span>
  </h6>

  <div class="row">
    <div class="col-12 py-2">
      <etop-material-input-autocomplete
        placeholder="Tìm kiếm tỉnh" textLabel="Tìm kiếm tỉnh"
        [options]="provincesList$ | async"
        [displayMap]="displayMap" [valueMap]="valueMap"
        formControlName="selectedProvinceCode">
      </etop-material-input-autocomplete>
    </div>
    <ng-container *ngFor="let code of customRegionForm.controls['province_codes'].value; let i = index;">
      <div *ngIf="getProvinceName(code)" class="col-4 py-2">
        <div class="fake-material-input-outline d-flex align-items-center justify-content-between">
          <span>{{getProvinceName(code)}}</span>
          <i class="fa fa-times big-font cursor-pointer" style="color: #bbb;" (click)="removeProvince(i)"></i>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="text-right py-2" *ePermissions="['admin/custom_region:update']">
    <button class="btn btn-primary text-white" [disabled]="loading" (click)="updateCustomRegion()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Cập nhật
    </button>
  </div>
</div>
