.shop-item {
  background: #ffffff;
  border-bottom: 1px solid #f5f5f5;
  padding: 8px 16px;
}

img.logo {
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 50%;
  border: 1px solid #eee;
  object-fit: cover;
  margin-right: 1rem;
}

.logo.active {
  border: 2px solid var(--ion-color-primary);
}

ion-button {
  font-size: 0.8rem;
  border-radius: 5px !important;
  height: 1.5rem;
  margin: 0;
}

ion-segment {
  ion-label {
      text-transform: none;
  }

  ion-segment-button {
      background: white;
      border-right: 1px solid #f4f4f4;
      --indicator-height: 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      min-height: 3rem;
      height: 3rem;
      width: 50%;

      &.segment-button-checked {
          border-bottom: 2px solid var(--ion-color-primary);
          ion-label {
              color: var(--ion-color-primary) !important;
          }
      }

      &:last-child {
          border-right: none;
      }
    }
}

.action-button {
  background: rgba(0, 0, 0, 0.02);
  color: var(--ion-color-primary);
  border-radius: 20px;
  padding: 0 1rem 0 0.75rem;
  min-height: 2.2rem;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  margin-left: auto;

  &.button-access {
    background: var(--ion-color-primary);
    color: white;
    border: none;
  }
}

ion-header {
  ion-toolbar {
      border-bottom: 1px solid #f4f4f4;
  }
}

.role-info {
  flex: 1;
}

.segment-item {
  padding-top: 10px;
}

.shop-list {
  background: #f4f4f4;
  overflow: auto;
  height: 100%;
}

.shop-item {
  .item {
    border-right: 1px solid #f4f4f4;
    padding: 0.5rem;
    &:last-child {
      border-right: none;
    }
  }
  .action {
    margin-right: 0.25rem;
    font-size: 1.4rem;
  }
}