<ion-header>
  <ion-toolbar>
    <ion-title>Chỉnh sửa đơn hàng</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="dismiss()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-content">
    <div class="box-detail ion-padding ion-flex ion-align-items-center ion-justify-content-center">
      <ion-icon name="shield-checkmark-outline" style="margin-right: 0.5rem"></ion-icon>
      <ion-text class="font-14">Xác nhận thông tin thay đổi</ion-text>
    </div>
    <div class="box-detail">
      <ion-row class="ion-padding">
        <ion-col size="12" class="">
          <ion-text class="font-bold">Giá trị khai báo hàng hóa</ion-text>
        </ion-col>
        <ion-col size="6">
          <div class="line-info">
            <ion-label>Giá trị cũ</ion-label>
            <div class="content font-bold ion-flex ion-justify-content-between ion-padding-end">
              <ion-text *ngIf="fulfillment?.insurance_value">{{fulfillment?.insurance_value | vnd}}đ</ion-text>
              <ion-text *ngIf="!fulfillment?.insurance_value">-</ion-text>
              <ion-text>→</ion-text>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="line-info">
            <ion-label>Giá trị mới</ion-label>
            <div class="content">
              <ion-text color="primary" class="font-bold">{{insurance_value | vnd}}đ</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-text>Phí cũ: </ion-text>
        <ion-text class="font-bold">{{fulfillment?.shipping_fee_shop | vnd}}đ</ion-text>
      </ion-col>
      <ion-col size="6" class="ion-flex">
        <ion-text>Phí dự kiến: </ion-text>
        <ion-skeleton-text animated style="width: 40%; margin-left: 1rem" *ngIf="loading"></ion-skeleton-text>
        <ion-text color="primary" style="margin-left: 0.2rem" class="font-bold" *ngIf="!loading">
          {{shipping_fee ? (shipping_fee | vnd) + 'đ' : '-'}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar color="primary" class="no-padding" (click)="confirm()">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Xác nhận
      </button>
    </div>
  </ion-toolbar>
</ion-footer>