.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.total {
  margin-top: 0;
  .total-section {
    justify-content: flex-start;
  }
  .total-item {
    text-align: left;
  }
}

mat-radio-button {
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
}
