<div class="products-order" [formGroup]="orderForm">
  <div>Sản phẩm</div>
  <div class="mb-3">
    <div class="py-3">
      <faboshop-product
        (variantSelected)="addOrderLine($event)">
      </faboshop-product>
      <div class ="mt-3" formArrayName="lines">
      <div *ngFor="let item of lines.controls; let i = index">
        <div *ngIf="item?.value?.product_name !=''" [formGroup]="item" class ="d-flex flex-row">
          <input type="text" class="number-input border border-white text-center" formControlName="quantity"
                (blur)="numberOnly($event)" style="width: 25px; border-bottom: 1px solid !important;">
          <div class ="operator">x</div>
            <div class ="flex-column">
              <div>
                {{item?.value?.product_name}}
              </div>
              <div>
                {{item?.value?.payment_price | vnd}}đ
              </div>
            </div>
            <div class ="ml-auto">
              {{item?.value?.total_price | vnd}}đ
              <i class="fa fa-trash"  (click)="removeVariant(i)"></i>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="product-pricing">
    <div class="money-calculation py-2" *ngIf="hideItem">
      <div class="name">Tạm tính</div>
      <div class="value">{{(orderForm?.controls['basket_value']?.value || 0) | vnd}}đ</div>
    </div>
    <div class="money-calculation py-2" *ngIf="hideItem">
      <div class="name">Giảm giá</div>
      <etop-material-input-format-number
        textLabel="Giảm giá" placeholder="Nhập giảm giá" appearance="standard"
        formatNumberUnit="đ" formControlName="order_discount">
      </etop-material-input-format-number>
    </div>
    <ng-container formArrayName="fee_lines"  *ngIf="hideItem">
      <div class="money-calculation py-2" *ngFor="let fee of feeLines.controls; let i = index;">
        <div class="name">{{fee?.value?.name}}</div>
        <ng-container [formGroupName]="i">
          <etop-material-input-format-number
            textLabel="{{fee?.value?.name}}" placeholder="Nhập {{fee?.value?.name | lowercase}}"
            appearance="standard" formatNumberUnit="đ" formControlName="amount">
          </etop-material-input-format-number>
        </ng-container>
      </div>
    </ng-container>
    <div class="money-calculation pt-3">
      <div class="d-flex align-items-center">
        <div class="name">Thành tiền</div>
        <div *ngIf="!hideItem" (click)="hideItemFull()" class="text-primary pl-1 d-flex align-items-center">
          <div  style="padding-right: 0.5rem">Chi tiết</div>
          <i class="fas fa-chevron-down" *ngIf="!hideItem"></i>
        </div>
        <div *ngIf="hideItem" (click)="unhideItemFull()" class="text-primary pl-1 d-flex align-items-center">
          <div  style="padding-right: 0.5rem">Thu gọn</div>
          <i class="fas fa-chevron-up" *ngIf="hideItem"></i>
        </div>
      </div>
      <div class="value font-weight-bold">{{(orderForm?.controls['total_amount']?.value || 0) | vnd}}đ</div>
    </div>
  </div>
</div>
