<etop-table #productTable [items]="productList" [show_paging]="productList.length > 0 && showPaging"
            (requestNewPage)="loadPage($event)">
  <ng-template #header let-liteMode="liteMode">
    <div class="col ">
      <span class="table-header-text">Mã sản phẩm</span>
    </div>
    <div class="col" style="min-width: 200px;">
      <span class="table-header-text">Sản phẩm</span>
    </div>
    <div class="col " *ngIf="!liteMode">
      <span class="table-header-text">Mẫu mã </span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Giá</span>
    </div>
  </ng-template>

  <ng-template #emptyItem>
    <div class="blank-page">
      <div>
        <img class="blank-img" src="assets/images/icon_product.png" alt="empty list" />
      </div>
      <div class="info">
        <div class="text-bigger text-bold text-center m-2">
          {{emptyTitle}}
        </div>
      </div>
   
    </div>
  </ng-template>

  <ng-template #item let-product="item" let-liteMode="liteMode">
    <div class="row table-row" shop-product-row [class.active]="product.p_data.selected || product.p_data.detailed"
      [product]="product" [liteMode]="liteMode" (click)="detail($event, product)">
    </div>
  </ng-template>
</etop-table>

<etop-side-slider #productSlider>
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <div *ngIf="showPrintBarcode" class="close-slide mr-2" (click)="undoPrintBarcode()">
          <i class="fa fa-chevron-left" style="left: 47%; top: 53%;"></i>
        </div>
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
        <shared-dropdown-actions></shared-dropdown-actions>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">Đóng
        <i class="fa fa-times ml-1"></i>
      </button>
    </div>
  </ng-template>
  <ng-container *ngIf="checkCreateNew; else editProduct;">
    <shop-create-product-form></shop-create-product-form>
  </ng-container>
  <ng-template #editProduct>
    <ng-container *ngIf="showDetailProduct; else multiple;">
      <shop-product-edit-form [product]="selectedProducts[0]"></shop-product-edit-form>
    </ng-container>
    <ng-template #multiple>
      <ng-container *ngIf="showPrintBarcode; else multipleProducts">
        <shop-print-barcode #printBarcode></shop-print-barcode>
      </ng-container>
      <ng-template #multipleProducts>
        <shop-multiple-product-edit-form [products]="selectedProducts"></shop-multiple-product-edit-form>
      </ng-template>
    </ng-template>
  </ng-template>
</etop-side-slider>
