:host {
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;
  height: 100%;
}

.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.blank-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 12vh;
  .blank-img {
    width: 200px;
    height: auto;
    opacity: 0.5;
  }
  .info {
    margin-bottom: 20px;
  }
}

.menu {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.product-line {
  cursor: pointer;
}
