td {
  padding: 15px;
  border-bottom: 1px solid var(--border-gray-color);
}
.inventory-btn {
  font-size: 11px;
  &:hover {
    text-decoration-line: underline;
  }
}

.input-attr {
  display: inline-block;
  width: 100px;

}
