<td class="small-cell pr-0" [class.no-permission]="!allowBasicInfoInput">
  <etop-material-input placeholder="Mã mẫu mã" textLabel="Mã mẫu mã"
                       [(ngModel)]="variant.p_data.code" (ngModelChange)="onDataEdited()" type="input">
  </etop-material-input>
</td>
<td *ngFor="let attribute of variant.p_data.attributes" class="pr-0">
  <etop-material-input
    class="input-attr"
    type="input" [(ngModel)]="attribute.value"
    (ngModelChange)="onDataEdited()">
  </etop-material-input>
</td>
<td class="small-cell" [class.no-permission]="!allowRetailPriceInput" [class.pr-0]="removable">
  <etop-material-input
    *ngIf="!format_money?.retail_price" #retailInput [error]="price_error?.retail_price"
    placeholder="Giá bán" textLabel="Giá bán" type="input" keyboardType="number" [(ngModel)]="variant.p_data.retail_price"
    (blur)="formatMoney('retail_price'); changePrice('retail_price')" (ngModelChange)="onDataEdited()">
  </etop-material-input>
  <etop-material-input class="cursor-pointer"
                       *ngIf="format_money?.retail_price" textLabel="Giá bán" type="custom"
                       [error]="price_error?.retail_price" (click)="formatMoney('retail_price')">
    <span
      class="font-weight-bold"
      [class.text-primary]="!price_error?.retail_price" [class.text-danger]="price_error?.retail_price">
      {{variant?.p_data?.retail_price | vnd}}
    </span>
  </etop-material-input>
</td>
<td *ngIf="removable" class="text-center cursor-pointer" style="max-width: 50px" (click)="onRemoveVariant()">
  <i class="fa fa-trash text-danger" style="font-size: 1.4rem;"></i>
</td>
