<div class="page-content py-0">
  <div class="page-wrapper" style="overflow-y: auto;">
    <div class="left-col" style="">
      <div class="box setting-box">
        <div class="setting-header">Địa chỉ lấy hàng</div>
        <div class="setting-body" *ngFor="let address of fromAddresses">
          <import-from-address-row
            [address]="address" (addressRemoved)="onRemoveAddress($event)">
          </import-from-address-row>
        </div>
        <div *ePermissions="['shop/settings/shipping_setting:update']" class="setting-footer">
          <div class="text-center text-primary cursor-pointer" (click)="openAddAddressForm('shipfrom')">
            Thêm địa chỉ lấy hàng
          </div>
        </div>
      </div>
      <div class="box setting-box">
        <div class="setting-header">Ghi chú xem hàng</div>
        <div class="setting-body">
          <mat-radio-group class="d-flex flex-column" color="primary" [(ngModel)]="tryOn">
            <mat-radio-button
              *ngFor="let option of tryOnOptions" class="try-on-options"
              disableRipple [value]="option?.value">
              {{option?.name}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="setting-footer">
          <div class="ml-auto">
            <button
              *ePermissions="['shop/settings/shipping_setting:update']" (click)="updateTryOn()" class="btn btn-primary">
              Cập nhật
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-col">
      <import-carrier-connect></import-carrier-connect>
    </div>
  </div>
</div>
