.try-on-options {
  display: block;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.box {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  border: 1px solid var(--gray-color);
}

.setting-box {
  margin-top: 1.25rem;
  &:last-child {
    margin-bottom: 1.25rem;
  }
}

.setting-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.setting-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-header, .setting-body {
  border-bottom: 1px solid var(--gray-color);
}

.setting-header, .setting-body, .setting-footer {
  padding: 1.5rem;
}

.left-col {
  width: 50%;
  padding-right: .75rem;
  padding-left: 2rem;
}

.right-col {
  width: 50%;
  padding-left: .75rem;
  padding-right: 2rem;
}
