<div class="alert alert-warning" *ngIf="showWarning">
  <div class="d-flex align-items-center">
    <i class="fa fa-warning mr-3" style="font-size: 18px; color: var(--warning-color);"></i>
    <div>
      <div class="font-11">
        Bạn đang có <strong>{{returningQuantity}} đơn Đang trả hàng
        <span class="cursor-pointer text-primary font-11" (click)="viewDetail()">(Xem chi tiết)</span></strong>.
        Vui lòng đồng kiểm và ghi nhận lại hình ảnh, video, biên bản đồng kiểm ghi gặp sự cố.
        Nếu sử dụng dịch vụ của Topship, bạn có thể gửi thông tin về email:
        <a class="text-primary font-11" href="mailto:hotro@topship.vn">hotro@topship.vn</a> để được hỗ trợ.
        <a class="text-primary font-11" href="https://topship.vn/quy-dinh-dong-kiem-don-hang-hoan-tra" target="_blank">Xem quy định.</a>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center close-button-with-icon" (click)="close()">
    Đóng <i class="fa fa-times ml-2" style="color: var(--warning-color);"></i>
  </div>
</div>
