<div *ngIf="!isMobile" (click)="toggleDropdown()" class="nav-link nav-link-right account-info h-100 border-0">
  <div class="account">
    <span class="user-fullname text-truncate">{{ user?.full_name}}</span>
    <span class="shop-name">{{ user?.phone }}</span>
  </div>
  <i class="fa fa-angle-down" style="font-size: 22px; color: #999;"></i>
</div>

<div [class.show]="show_dropdown" class="dropdown-menu dropdown-menu-right m-0 p-0">
  <div class="account-info selected-account p-3" style="cursor: initial;">
    <span class="account-avatar">
      <img src="{{ currentAccount?.image_url || 'assets/images/placeholder_medium.png' }}" alt="logo" class="avatar">
    </span>
    <div class="w-100">
      <p class="mb-0 user-name">{{user?.full_name}}</p>
      <p class="mb-0">{{user?.phone}}</p>
    </div>
    <span id="settings" class="fa fa-cog ml-2" (click)="onGoingToSettings()"
      style="font-size: 20px; color: #444; text-decoration: none; cursor: pointer;">
    </span>
  </div>
  <div class="account-action px-3">
    <button *ngIf="showForgotPassword" class="btn text-default mr-1 py-4 font-12 flex-grow-1" (click)="openChangePasswordModal()">
      Đổi mật khẩu
    </button>
    <button class="btn text-danger ml-1 py-4 font-12 flex-grow-1" (click)="signout()">
      Đăng xuất
    </button>
  </div>
</div>
