<ng-container [ngSwitch]="active_tab">
  <ng-container *ngSwitchCase="'detail_info'">
    <div class="order-info">
      <shop-order-info-edit [order]="order"></shop-order-info-edit>
    </div>
    <div class="line-info">
      <shop-line-info-edit [order]="order"></shop-line-info-edit>
    </div>
    <div *ePermissions="['shop/fulfillment:create']" class="shipping-info">
      <div class="slider-detail-info-title mb-0">
        <i class="fa fa-circle text-topship smaller-font mr-2"></i>
        GIAO HÀNG
        <span class="topship-toggle ml-3">
          <label class="switch mb-0">
            <input type="checkbox" (click)="toggleSwitch()" [checked]="isCreatingFFM">
            <span class="slider-toggle round"></span>
          </label>
        </span>
        <span class="font-weight-normal ml-2">Bật để tạo đơn giao hàng</span>
      </div>
      <ng-container *ngIf="isCreatingFFM">
        <shop-delivery style="margin: 1rem -1.25rem 0; display: block;"></shop-delivery>
        <div class="button-wrapper">
          <div class="not-button" [class.invisible]="!fulfillment?.cod_amount && fulfillment?.cod_amount != 0">
            <img src="assets/images/r-topship_256.png" alt="">
            <div class="remind-shop text-topship">
              <div>*Shipper sẽ thu người nhận <b>{{fulfillment?.cod_amount | number}}đ</b> cho đơn hàng này.</div>
              <div>Vui lòng đảm bảo đúng số tiền muốn thu trước khi tạo đơn giao hàng!</div>
            </div>
          </div>
          <button
            *ngIf="order?.confirm_status == 'Z'" class="btn btn-topship text-white"
            [disabled]="loading"
            [class.unavailable]="notVerifiedConnection$ | async"
            ngbTooltip="Cần xác thực tài khoản với {{(selectedConnection$ | async)?.name_display}} để có thể sử dụng dịch vụ giao hàng tạm ứng. Tạm thời, bạn có thể chuyển số tiền tạm ứng về 0đ để tiếp tục tạo đơn"
            [disableTooltip]="!(notVerifiedConnection$ | async)"
            (click)="createFFM(true)">
            <mat-spinner *ngIf="loading" class="mr-2" diameter="14"></mat-spinner>
            Tạo hoá đơn và giao hàng
          </button>
          <button
            *ngIf="order?.confirm_status != 'Z'" class="btn btn-topship text-white"
            [disabled]="loading"
            [class.unavailable]="notVerifiedConnection$ | async"
            ngbTooltip="Cần xác thực tài khoản với {{(selectedConnection$ | async)?.name_display}} để có thể sử dụng dịch vụ giao hàng tạm ứng. Tạm thời, bạn có thể chuyển số tiền tạm ứng về 0đ để tiếp tục tạo đơn"
            [disableTooltip]="!(notVerifiedConnection$ | async)"
            (click)="createFFM(false)">
            <mat-spinner *ngIf="loading" class="mr-2" diameter="14"></mat-spinner>
            Tạo đơn giao hàng
          </button>
        </div>
      </ng-container>
      <ng-container *ePermissions="['shop/fulfillment:view']">
        <shop-order-fulfillments [fulShippingStatus]="'N'" [order_code]="order?.code"></shop-order-fulfillments>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'inventory'">
    <div class="inventory-info">
      <shop-order-inventory [order]="order"></shop-order-inventory>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'receipt'">
    <div class="payment-info">
      <shop-payment-info [order]="order"></shop-payment-info>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'history'">
    <shop-fulfillment-histories [order]="order" [ffm]="order?.activeFulfillment"></shop-fulfillment-histories>
  </ng-container>
</ng-container>



