:host {
  margin-bottom: 1rem;
}

.text-center {
  ion-input, ion-text {
    text-align: center;
  }
}

.text-right {
  ion-input, ion-text {
    text-align: right;
  }
}

.align-right {
  ion-input, .formatted-number, ion-label {
    text-align: right;
  }
  ion-label {
    width: 100%;
    transform: none;
    margin: 0;
  }
}

.formatted-number {
  padding: 0;
  line-height: 40px;
}

ion-item {
  margin-bottom: 0;
}
ion-item::part(native) {
  --inner-padding-end: 0;
}

ion-input {
  padding: 1px 0 !important;
  --padding-end: 0;
}

.helper-text {
  padding: 0 16px;
  span {
    font-size: 0.8rem;
  }
}
