<div [class.topship]="topshipInput" [class.error]="error">
    <ion-item lines="{{lines}}" class="{{cssClass}} input-wrapper">
        <ion-label *ngIf="textLabel" position="floating" [class.text-danger]="error">{{textLabel}}</ion-label>
        <ion-input #ionInput style="width: 100%;" [class.d-none]="format_number" inputmode="numeric" type="text" [class.text-danger]="error" [placeholder]="placeholder" [(ngModel)]="value" [disabled]="disabled" (ionFocus)="focus.emit()" (ionBlur)="onBlur(); blur.emit();"
            (ngModelChange)="changeValue($event)" [debounce]="300">
        </ion-input>
        <ion-text style="width: 100%;" class="formatted-number" (click)="textFocus()" [class.d-none]="!format_number" [class.text-primary]="!error && !topshipInput" [class.text-topship]="topshipInput" [class.text-danger]="error">
            {{value | vnd}}{{formatNumberUnit}}
        </ion-text>
    </ion-item>
    <ion-text color="danger" class="helper-text" [class.d-none]="!this.error">
        <span>{{errorMessage || ''}}</span>
    </ion-text>
</div>