<div class="page-content pb-0">
  <div class="page-wrapper">
    <etop-table
      #subscriptionBillTable
      [items]="subscriptionBillsList$ | async"
      [show_paging]="(subscriptionBillsList$ | async)?.length && showPaging"
      (requestNewPage)="loadPage($event)">
      <ng-template #header let-liteMode="liteMode">
        <div class="col min-width-25rem">
          <span class="table-header-text">Shop</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Khách hàng</span>
        </div>
        <div class="col min-width-25rem">
          <span class="table-header-text">Plan</span>
        </div>
        <div class="col">
          <span class="table-header-text">Thành tiền</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <div class="col"  *ngIf="!liteMode">
          <span class="table-header-text">Ngày tạo</span>
        </div>
        <div class="col" style="max-width: 12rem;" *ngIf="!liteMode"></div>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <img class="blank-img" src="assets/images/admin/icon_user_shop.png" alt="empty list" />
          <div class="info">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-subscriptionBill="item" let-liteMode="liteMode">
        <div
          class="row table-row" admin-subscription-bill-row
          [subscriptionBill]="subscriptionBill" [liteMode]="liteMode">
        </div>
      </ng-template>
    </etop-table>
    <etop-side-slider #subscriptionBillSlider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng <i class="fa fa-times"></i>
          </button>
        </div>
      </ng-template>
      <admin-create-bill-form *ngIf="onNewBill"></admin-create-bill-form>
    </etop-side-slider>
  </div>
</div>
