<div class="box setting-box mt-0">
  <div class="setting-header">Thông tin tài khoản {{appName}}</div>
  <div class="setting-body">
    <div class="d-flex align-items-center w-100 py-2">
      <etop-material-input textLabel="Họ tên" type="custom" class="flex-grow-1">
        <span class="read-only">{{user?.full_name || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="d-flex align-items-center w-100 py-2 position-relative">
      <etop-material-input textLabel="Email" type="custom" class="flex-grow-1 pr-3">
        <span *ngIf="user?.email; else noEmail;">
          {{user?.email}}
          <span class="text-topship cursor-pointer" *ngIf="!user?.email_verified_at" (click)="sendVerifyEmail()">
            <i class="fa fa-circle-o-notch fa-spin text-topship" *ngIf="sendingCode.email"></i>
            &nbsp;(Xác thực ngay)
          </span>
        </span>

        <ng-template #noEmail>
          <span>-</span>
        </ng-template>
      </etop-material-input>
      <button
        *ngIf="isAtEtop && user?.email" class="update-btn btn btn-primary btn-outline" (click)="updateUserEmail()">
        <i class="fa fa-pencil"></i>
        &nbsp;Thay đổi
      </button>
    </div>
    <div class="d-flex align-items-center w-100 py-2 position-relative">
      <etop-material-input textLabel="Số điện thoại" type="custom" class="flex-grow-1 pr-3">
        <span *ngIf="user?.phone; else noPhone;">
          {{user?.phone}}
          <span class="text-topship cursor-pointer" *ngIf="!user?.phone_verified_at" (click)="sendVerifyPhone()">
            <i class="fa fa-circle-o-notch fa-spin text-topship" *ngIf="sendingCode.phone"></i>
            &nbsp;(Xác thực ngay)
          </span>
        </span>

        <ng-template #noPhone>
          <span>-</span>
        </ng-template>
      </etop-material-input>
      <button
        *ngIf="isAtEtop && user?.phone" class="update-btn btn btn-primary btn-outline" (click)="updateUserPhone()">
        <i class="fa fa-pencil"></i>
        &nbsp;Thay đổi
      </button>
    </div>
  </div>
  <div class="setting-footer">
    <div class="text-right w-100">
      <button *ngIf="!isAtEtop" (click)="onChangePassword()" class="btn btn-outline btn-primary">
        Thay đổi thông tin tài khoản {{appName}}
      </button>
      <button *ngIf="isAtEtop" (click)="onChangePassword()" class="btn btn-outline btn-primary">
        Thay đổi mật khẩu
      </button>
    </div>
  </div>
</div>
<div class="box mt-0">
  <div class="setting-header">Người giới thiệu {{appName}}</div>
  <div class="setting-body">
    <div *ngIf="show_ref_aff" class="d-flex align-items-center w-100 py-2 position-relative">
      <etop-material-input textLabel="Mã giới thiệu" type="custom" class="flex-grow-1 pr-3">
        <span class="read-only text-bold">{{user?.ref_aff}}</span>
      </etop-material-input>
    </div>
    <div *ngIf="!show_ref_aff" class="d-flex align-items-center w-100 py-2 position-relative">
      <etop-material-input textLabel="Mã giới thiệu" type="input" class="flex-grow-1 pr-3" [(ngModel)]="ref_aff">
      </etop-material-input>
    </div>
  </div>
  <div class="setting-footer" *ngIf="isAtEtop && !show_ref_aff">
    <div class="text-right w-100">
      <button (click)="submitUser()" class="btn btn-outline btn-primary">
        <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
        Cập nhật
      </button>
    </div>
  </div>
</div>



