.shipping-info {
  padding: 1rem;
}

.badge {
  font-weight: 700;
  border-radius: 5px;
  background: var(--gray-color);
  border: 1px solid var(--gray-color);
}

.order-status {
  &::before {
    padding: 4px !important;
  }
}

.read-only {
  color: var(--dark-color);
}

.dropdown-menu {
  margin: 0 !important;
  padding: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
  border: 1px solid #fafafa;
  border-radius: 5px;
  .dropdown-item {
    cursor: pointer;
    padding: .8rem 1.25rem;
    outline: 0 !important;
    border-bottom: 1px solid var(--border-gray-color);
    &:active {
      background: initial;
    }
    &:first-child {
      border-radius: .25rem .25rem 0 0;
    }
    &:last-child {
      border-radius: 0 0 .25rem .25rem;
      border-bottom: none;
    }
  }
}
