<div class="shipping-info">
  <div class="row info-body">
    <div class="col-12 slider-detail-input-item" *ngIf="fulfillment?.shipping_code">
      <div (click)="trackingLink()" class="text-center cursor-pointer">
        <img id="shipping-barcode" alt="{{fulfillment?.carrier_display}}">
      </div>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Mã giao hàng" type="custom">
        <span class="read-only" [class.text-bold]="fulfillment?.shipping_code">{{fulfillment?.shipping_code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Trạng thái" type="custom">
        <span class="read-only status status-{{fulfillment?.shipping_state}}">
          {{fulfillment?.shipping_state_display}}
        </span>
        <span
          *ngIf="fulfillment?.x_shipping_sub_state && fulfillment?.shipping_state != 'cancelled'"
          class="small-font ml-2">
          {{fulfillment?.x_shipping_sub_state}}
        </span>
        <span
          *ngIf="fulfillment?.shipping_state == 'undeliverable' && fulfillment?.actual_compensation_amount > 0"
          class="small-font ml-2">
          Bồi hoàn: {{fulfillment?.actual_compensation_amount | number}}đ
        </span>
      </etop-material-input>
    </div>
    <div *ngIf="fulfillment?.cancel_reason && fulfillment?.shipping_state == 'cancelled'"
         class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Lý do huỷ" type="custom">
        <span class="read-only text-danger">{{fulfillment?.cancel_reason}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Mã nội bộ" type="custom">
        <span class="read-only" [class.text-bold]="fulfillment?.ed_code">{{fulfillment?.ed_code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Mã đơn hàng" type="custom">
        <span
          *ngIf="fulfillment?.order?.code"
          class="read-only text-bold text-primary">
          {{fulfillment?.order?.code}}
          <i class="fas fa-external-link-alt external-link-icon"></i>
        </span>
        <span *ngIf="!fulfillment?.order?.code" class="read-only">-</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Nhà vận chuyển" type="custom">
        <span class="read-only">{{(fulfillment?.carrier_display | uppercase) || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Gói vận chuyển" type="custom">
        <span class="read-only">{{fulfillment?.shipping_service_name || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Phí vận chuyển" type="custom">
        <span class="read-only">
          {{fulfillment?.shipping_fee_shop | number}}đ
          <i *ngIf="fulfillment?.shipping_fee_shop_lines?.length"
             class="fas fa-info-circle text-topship ml-2 cursor-pointer"
             [ngbTooltip]="shippingFeeShopLines" placement="bottom">
          </i>
          <ng-template #shippingFeeShopLines>
            <div
              class="d-flex align-items-center justify-content-between w-100"
              *ngFor="let fee of fulfillment?.shipping_fee_shop_lines">
              <div class="pl-2 pr-3 py-1 small-font">{{fee?.shipping_fee_type_display}}</div>
              <strong class="pr-2 pl-3 py-1 small-font">{{fee?.cost | number}}đ</strong>
            </div>
          </ng-template>
        </span>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Lấy hàng" type="custom">
        <div class="read-only">
          <span>
            {{fulfillment?.pickup_address?.full_name}} -
            <span
              class="text-bold text-primary d-inline-flex align-items-center cursor-pointer"
              eCallButton="{{fulfillment?.pickup_address?.phone}}">
              &nbsp;{{fulfillment?.pickup_address?.phone}}&nbsp;
              <i class="text-primary fa fa-phone-square"></i>&nbsp;
            </span>
             - {{fulfillment?.pickup_address | addressDisplay}}
          </span>
        </div>
      </etop-material-input>
    </div>
    <div *ngIf="fulfillment?.shipping_address" class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Giao hàng" type="custom">
        <div class="read-only">
          <span>
            {{fulfillment?.shipping_address?.full_name}} -
            <span
              class="text-bold text-primary d-inline-flex align-items-center cursor-pointer"
              eCallButton="{{fulfillment?.shipping_address?.phone}}">
              &nbsp;{{fulfillment?.shipping_address?.phone}}&nbsp;
              <i class="text-primary fa fa-phone-square"></i>&nbsp;
            </span>
            - {{fulfillment?.shipping_address | addressDisplay}}
          </span>
        </div>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Lấy hàng dự kiến" type="custom">
        <span class="read-only">{{(fulfillment?.estimated_pickup_at | date: 'HH:mm dd/MM') || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Giao hàng dự kiến" type="custom">
        <span class="read-only">{{(fulfillment?.estimated_delivery_at | date: 'dd/MM') || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Thu hộ" type="custom">
        <span class="read-only text-bold">{{fulfillment?.total_cod_amount | number}}đ</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Khối lượng" type="custom">
        <span class="read-only text-bold">{{fulfillment?.chargeable_weight | number}}g</span>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Ghi chú xem hàng" type="custom">
        <span class="read-only">{{fulfillment?.try_on_display || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Ghi chú giao hàng" type="custom">
        <span class="read-only">{{fulfillment?.shipping_note || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Ghi chú của admin" type="custom">
        <span class="read-only">{{fulfillment?.admin_note || '-'}}</span>
      </etop-material-input>
    </div>
  </div>
  <ng-container *ePermissions="permissionsArray">
    <div class="text-right" *ngIf="fulfillment?.status != 'N'">
      <button
        class="btn btn-primary btn-outline mr-2" (click)="doRedelivery()"
        *ePermissions="['admin/fulfillment:update']">
        Tính phí kích hoạt giao lại
      </button>
      <button class="btn btn-primary" data-toggle="dropdown" *ePermissions="permissionsArray">
        Chỉnh sửa<i class="fa fa-caret-down ml-2"></i>
      </button>
      <div class="dropdown-menu">
        <div
          class="dropdown-item" (click)="updateFfm()"
          *ePermissions="['admin/fulfillment:update']">
          Chỉnh sửa thông tin
        </div>
        <div
          class="dropdown-item" (click)="updateCompensationAmount()"
          *eRoles="['admin', 'ad_accountant']">
          Xử lý bồi hoàn
        </div>
        <div
          class="dropdown-item" (click)="updateShippingState()"
          *eRoles="['admin', 'ad_customerservice_lead']">
          Chỉnh sửa trạng thái
        </div>
        <div
          class="dropdown-item" (click)="updateShippingFees()"
          *ePermissions="['admin/fulfillment_shipping_fees:update']">
          Chỉnh sửa cước phí
        </div>
      </div>
    </div>
  </ng-container>
</div>
