<ng-content></ng-content>
<div class="col align-self-center ticket-code" style="max-width: 15rem;"  >
  <div *ngIf="!ticket.code">-</div>
  <div *ngIf="ticket.code" class="d-flex">
    <span class="font-weight-bold text-primary"> {{ticket.code}}</span>
    <span class="ml-2 mobile-col" *ngIf="ticket.state_display">
      <span class="status status-{{ticket.state}}">{{ticket.state_display}}</span>
    </span>
  </div>
  <div class="lower-medium-font right-on-mobile" *ngIf="ticket.created_at">{{ticket.created_at | date:'dd/MM/yyyy'}}</div>
</div>
<div class="col align-self-center hide-col label-col" *ngIf="!liteMode">
  <div *ngIf="!ticket.labels?.length">-</div>
  <div class='label-item'  *ngIf="ticket.labels?.length">
    <span class='has-label' [ngStyle]="{
            border: '1px solid ' + ticket.labels[0]?.color,
            color: ticket.labels[0]?.color,
            background: ticket.labels[0]?.color + '1A'
          }" *ngIf="ticket.labels[0]?.name">
    {{ticket.labels[0]?.name}}
    </span>
  </div>
</div>
<div class="col d-flex align-self-center title-col align-items-center" style="min-width: 30rem;">
  <div *ngIf="!ticket.title">-</div>
  <div class="text-overflow-ellipsis fix-line-2 font-weight-bold" *ngIf="ticket.title">
    {{ticket.title}}
  </div>
</div>
<div class="col align-self-center hide-col label-col" *ngIf="!liteMode">
  <div *ngIf="ticket?.contact">
    <div>
      <mat-icon style="font-size: 1.4rem !important;" class="mr-2">contact_phone</mat-icon>
      {{ ticket?.contact?.full_name }}
    </div>
    <div class="text-default" style="font-size: 0.9rem;">{{ ticket?.contact?.phone}}</div>
  </div>
  <div *ngIf="!ticket?.contact">-</div>
</div>
<div class="col align-self-center hide-col" *ngIf="!liteMode">
  <div *ngIf="!ticket.createdByUser">-</div>
  <div *ngIf="ticket.createdByUser">
    <mat-icon style="font-size: 1.4rem !important;" class="mr-2">account_circle</mat-icon>
    {{ticket.createdByUser?.full_name}}
  </div>
</div>
<div class="col align-self-center hide-col" *ngIf="!liteMode">
  <div *ngIf="!ticket.closed_by">-</div>
  <div *ngIf="ticket.closed_by">
    <mat-icon style="font-size: 1.4rem !important;" class="mr-2">account_circle</mat-icon>
    {{ticket.closedByUser?.full_name}}
  </div>
</div>
<div class="col align-self-center hide-col" *ngIf="!liteMode">
  <div *ngIf="!ticket.state_display">-</div>
  <div class="status status-{{ticket.state}}" *ngIf="ticket.state_display">{{ticket.state_display}}</div>
</div>
