
ion-toolbar {
  --border-width: 0 !important;
}

.logo {
  width: 1.5rem;
  height: 100%;
  margin-right: .5rem;
}

.logo-rounded {
  width: 2.5rem;
  height: 100%;
  border: 1px solid var(--ion-color-medium-tint);
  border-radius: 50%;
}

.footer-content {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.img-banner {
  position: absolute;
  width: 45%;
  right: 0;
  bottom: 0;
  max-width: 250px;
}

.banner-footer {
  position: relative;
}

.forgot-pass {
  font-size: 13px;
}

.form-phone {
  position: relative;
}

.changephone-text {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 12px;
  z-index: 1000;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.checkbox {
  vertical-align: middle;
  height: 14px;
  width: 14px;
  margin-right: 10px;
}

.input-phone {
  font-size: 1.2rem;
  padding-left: 1.5rem !important;

  &::placeholder {
    font-size: 1rem;
    font-weight: 400;
    vertical-align: middle;
  }
}


.banner{
  height: auto;
  min-width: 70%;
  width: 80%;
  margin: auto;
  padding: 1rem;
}

@media only screen and (max-width: 320px) {
  .banner{
    min-width: 70%;
    width: 67%;
  }
}

.e-tilte {
  font-size: 1.3rem;
}
