<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-padding">
        <div class="ion-flex ion-align-items-center">
          <img src="assets/imgs/logo_etop_mono.png" class="logo" alt="logo">
          <div class="text-medium font-bold font-12">EB2B JSC</div>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="status?.connected">
    <ng-container *ngIf="currentView(view.PHONE_SUBMIT)">
      <ion-content>
        <div class="ion-flex h-100">
          <div class="body-content ion-padding-horizontal ion-padding-bottom h-100 ion-flex flex-column">
            <div class="ion-padding-bottom">
              <div class="e-tilte font-bold ion-text-right text-primary">Hơn 30,000 shop đang sử dụng eTop</div>
              <div class="ion-text-right">Phần mềm quản lý bán hàng đơn giản nhất</div>
            </div>
            <div class="ion-padding-bottom ion-text-center h-100 ion-flex">
              <img class="banner" src="assets/imgs/eTop-banner.png" alt="banner">
            </div>
          </div>
        </div>
      </ion-content>
      <ion-footer class="footer-content footer-button-wrapper">
        <form (submit)="onPhoneSubmit()">
          <div class="ion-padding">
            <div class="font-bold">Nhập số điện thoại</div>
            <div class="font-12">Để bắt đầu các tiện ích</div>
            <input type="text" inputmode="tel" name="phone" placeholder="Nhập số điện thoại" [(ngModel)]="phone"
                   class="border-rounded ion-margin-vertical font-bold input-phone">
          </div>
        </form>
        <ion-toolbar color="light" class="no-padding">
          <div class="footer-buttons ion-flex">
            <button type="submit" class="w-100 bg-primary text-white footer-button-item" (click)="onPhoneSubmit()">
              <ion-spinner name="lines-small" class="text-white" style="font-size: 1.5rem; margin-right: .5rem;"
                           *ngIf="ionLoading"></ion-spinner>
              <span>Tiếp tục</span>
            </button>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ng-container>

    <ng-container *ngIf="currentView(view.LOGIN)">
      <ion-content>
        <div class="body-content h-100">
          <form (submit)="onLogin()" class="h-100 ion-flex flex-column">
            <div class="ion-padding-horizontal ion-padding-bottom">
              <h4 class="font-bold">Chào mừng bạn đã trở lại!</h4>
              <div>Vui lòng nhập mật khẩu để truy cập cửa hàng.</div>
              <div class="form-phone ion-margin-top">
                <div class="text-primary changephone-text" (click)="toView(view.PHONE_SUBMIT)">
                  Thay đổi
                </div>
                <ion-input
                  type="text" name="phone" placeholder="Nhập số điện thoại" [(ngModel)]="phone"
                  class="etop-app-input border-rounded font-bold" readonly>
                </ion-input>
              </div>
              <ion-input
                type="password" name="password" placeholder="Nhập mật khẩu" [(ngModel)]="password" autofocus
                class="etop-app-input border-rounded ion-margin-vertical">
              </ion-input>
              <div class="text-primary forgot-pass" (click)="forgotPassword()">Quên mật khẩu!</div>
            </div>
          </form>
        </div>
      </ion-content>
      <ion-footer class="footer-button-wrapper">
        <ion-toolbar color="light" class="no-padding">
          <div class="footer-buttons ion-flex">
            <button type="submit" class="w-100 bg-primary text-white footer-button-item" (click)="onLogin()">
              Đăng nhập
            </button>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ng-container>

    <ng-container *ngIf="currentView(view.REGISTER)">
      <ion-content>
        <div class="body-content h-100">
          <form (submit)="signUp()" class="h-100 ion-flex flex-column">
            <div class="ion-padding-horizontal ion-padding-bottom">
              <h4 class="font-bold">Tạo tài khoản</h4>
              <div>
                Vui lòng sử dụng thông tin chính xác để có được trải nghiệm tốt nhất trong quá trình sử dụng
              </div>
              <div class="form-phone ion-margin-top">
                <div class="text-primary changephone-text" (click)="toView(view.PHONE_SUBMIT)">
                  Thay đổi
                </div>
                <ion-input
                  type="text" name="phone" placeholder="Nhập số điện thoại" [(ngModel)]="phone"
                  class="etop-app-input border-rounded font-bold" readonly></ion-input>
              </div>
              <ion-input
                type="text" name="fullname" placeholder="Họ và tên" [(ngModel)]="signupData.full_name" autofocus
                class="etop-app-input border-rounded ion-margin-top"></ion-input>
              <ion-input
                type="email" name="email" placeholder="Email" [(ngModel)]="signupData.email"
                class="etop-app-input border-rounded ion-margin-top"></ion-input>
              <ion-input
                type="password" name="password" placeholder="Mật khẩu" [(ngModel)]="signupData.password"
                class="etop-app-input border-rounded ion-margin-top"></ion-input>
              <ion-input
                type="password" name="confirm" placeholder="Xác nhận mật khẩu" [(ngModel)]="signupData.confirm"
                class="etop-app-input border-rounded ion-margin-top"></ion-input>
              <div class="ion-padding-top">
                <ion-checkbox
                  name="agree-email-info"
                  class="checkbox" mode="md" color="primary" checked slot="start"
                  [(ngModel)]="signupData.agree_email_info">
                </ion-checkbox>
                <ion-label>Nhận email liên hệ từ đội ngũ eTop</ion-label>
              </div>
              <div class="ion-padding-top">
                <ion-checkbox
                  name="agree-tos"
                  class="checkbox" mode="md" color="primary" slot="start"
                  [(ngModel)]="signupData.agree_tos">
                </ion-checkbox>
                <ion-label>Bằng việc đăng ký tôi đồng ý với
                  <a [href]="serviceTermsLink" style="font-size: 0.8rem;" class="provision font-weight-bold" target="_blank">
                  điều khoản sử dụng dịch vụ
                </a></ion-label>
              </div>
            </div>
          </form>
        </div>
      </ion-content>
      <ion-footer class="footer-button-wrapper">
        <ion-toolbar color="light" class="no-padding">
          <div class="footer-buttons ion-flex">
            <button type="submit" class="w-100 bg-primary text-white footer-button-item" (click)="signUp()">
              Đăng ký
            </button>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ng-container>

    <ng-container *ngIf="currentView(view.PHONE_VERIFY)">
      <ion-content>
        <div class="body-content h-100">
          <form (submit)="onPhoneVerify()" class="h-100 ion-flex flex-column">
            <div class="ion-padding-horizontal ion-padding-bottom">
              <h4 class="font-bold">Xác nhận số điện thoại</h4>
              <div>
                Một mã xác nhận đã được gửi đến số {{phone}}, vui lòng kiểm tra tin nhắn và nhập mã vào ô bên dưới
              </div>
              <div class="form-phone ion-margin-top">
                <div class="text-primary changephone-text" (click)="toView(view.PHONE_SUBMIT)">
                  Thay đổi
                </div>
                <ion-input
                  type="text" name="phone" placeholder="Nhập số điện thoại" [(ngModel)]="phone"
                  class="etop-app-input border-rounded font-bold" readonly>
                </ion-input>
              </div>
              <ion-input
                type="text" name="verify-code" placeholder="Nhập mã xác nhận" [(ngModel)]="verify_code" autofocus
                class="etop-app-input border-rounded ion-margin-vertical">
              </ion-input>
              <div class="font-12">
                <span>Bạn không nhận được mã?</span>
                <etop-count-down [countdown]="countdown" (countDone)="countdown = 0"></etop-count-down>
                <strong class="text-primary" *ngIf="countdown == 0" (click)="reSendVerifyPhone()"> Gửi lại</strong>
              </div>
            </div>
          </form>
        </div>
      </ion-content>
      <ion-footer class="footer-button-wrapper">
        <ion-toolbar color="light" class="no-padding">
          <div class="footer-buttons ion-flex">
            <button type="submit" class="w-100 bg-primary text-white footer-button-item" (click)="onPhoneVerify()">
              Xác nhận
            </button>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ng-container>
  </ng-container>
  <ion-content *ngIf="!status?.connected">
    <etop-network-disconnect></etop-network-disconnect>
  </ion-content>
</div>
