<etop-not-permission *ngIf="noPermission; else enoughPermission;"></etop-not-permission>
<ng-template #enoughPermission>
  <div class="total" *ngIf="!ffmTable.loading">
    <div class="total-section">
      <div class="pl-4">
        <div class="back-button" (click)="goToShippingExternalList()">
          <span class="material-icons-outlined">chevron_left</span>
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Mã phiên</div>
        <div class="item-value text-bold">
          {{(mtShippingExternal$ | async)?.code}}
        </div>
      </div>
      <div class="total-item d-flex align-items-center">
        <div class="carrier-image">
          <img src="{{(mtShippingExternal$ | async)?.provider_logo}}" alt="">
        </div>
        <div class="carrier-not-image">
          <div class="text-default">Nhà vận chuyển</div>
          <div class="item-value text-bold">
            {{(mtShippingExternal$ | async)?.carrier_display | uppercase}}
          </div>
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Ngày tạo</div>
        <div class="item-value text-bold">
          {{(mtShippingExternal$ | async)?.created_at | date: 'HH:mm dd/MM/yy'}}
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Số đơn giao hàng</div>
        <div class="item-value text-bold">
          {{(mtShippingExternal$ | async)?.total_orders}}
        </div>
      </div>
      <div class="total-item">
        <div class="text-default">Tổng thu hộ</div>
        <div class="item-value text-bold">
          {{(mtShippingExternal$ | async)?.total_cod | number}}đ
        </div>
      </div>
      <div class="total-item">
        <etop-material-input
          textLabel="Lọc đơn giao hàng" placeholder="Lọc đơn giao hàng" type="select"
          [optionSelect]="filters" [(ngModel)]="selectedFilter" (ngModelChange)="onChangeFilter()">
        </etop-material-input>
      </div>
    </div>
  </div>
  <div class="page-container" [class.loading]="ffmTable?.loading">
    <div class="page-content pb-0">
      <div class="page-wrapper">
        <etop-table
          #ffmTable
          [items]="fulfillments"
          [show_paging]="false">
          <ng-template #header let-liteMode="liteMode">
            <div class="col" style="max-width: 50px;">
              <input class="input-custom invisible" type="checkbox">
            </div>
            <div class="col" style="min-width: 17.5%;">
              <span class="table-header-text">Mã giao hàng</span>
            </div>
            <div class="col">
              <span class="table-header-text">Trạng thái</span>
            </div>
            <ng-container *ngIf="!liteMode">
              <div class="col" style="max-width: 20rem;">
                <span class="table-header-text">Người nhận</span>
              </div>
              <div class="col">
                <span class="table-header-text">Khu vực</span>
              </div>
              <div class="col">
                <span class="table-header-text">Khai báo</span>
              </div>
              <div class="col">
                <span class="table-header-text">Thu hộ</span>
              </div>
              <div class="col">
                <span class="table-header-text">Tổng cước phí</span>
              </div>
            </ng-container>
            <div class="col">
              <span class="table-header-text">Đối soát</span>
            </div>
          </ng-template>

          <ng-template #emptyItem>
            <div class="blank-page">
              <div>
                <img
                  class="blank-img"
                  src="assets/images/icon_ffm.png"
                  alt="empty list"
                />
              </div>
              <div class="info">
                <div class="text-bigger text-bold text-center m-2">
                  Phiên này không có đơn giao hàng
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template #item let-ffm="item" let-liteMode="liteMode">
            <div
              class="row table-row" admin-mt-external-ffm-row
              [ffm]="ffm" [liteMode]="liteMode"
              [class.active]="isActiveFfm(ffm)">
              <div class="col align-self-center" style="max-width: 50px;">
                <input
                  class="input-custom"
                  [class.invisible]="['P', 'N'].includes((mtShippingExternal$ | async)?.status) && noPermissionLines"
                  type="checkbox" [checked]="isActiveFfm(ffm)"
                  (click)="itemSelected(ffm)">
              </div>
            </div>
          </ng-template>
        </etop-table>
        <etop-side-slider #slider>
          <ng-template #customHeader>
            <div class="header-detail d-flex justify-content-between px-4 py-3">
              <div class="d-flex align-items-center">
                <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
                <shared-dropdown-actions [dropdownActions]="dropdownActions"></shared-dropdown-actions>
              </div>
              <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
                Đóng<mat-icon>close</mat-icon>
              </button>
            </div>
          </ng-template>
          <admin-mt-external-multi-ffms-action></admin-mt-external-multi-ffms-action>
        </etop-side-slider>
      </div>
    </div>
  </div>
</ng-template>
