<div class="box setting-box">
  <div class="setting-header">Trả lời nhanh</div>
  <div class="setting-body" *ngIf="(messageTemplates$ | async).length > 0">
    <div *ngFor="let tempate of (messageTemplates$ | async)">
      <faboshop-template-row [messageTemplate]="tempate"></faboshop-template-row>
    </div>
  </div>
  <etop-empty *ngIf="!(messageTemplates$ | async)?.length" class=" mb-5">
    <div class="empty-title mt-5 text-center">
      <h5 style="opacity: 0.7">Bạn chưa có mẫu trả lời nhanh nào, vui lòng tạo thêm mẫu.</h5>
    </div>
    <div class="empty-action mt-3" *ePermissions="['facebook/message_template:create']">
      <button class="btn btn-primary" (click)="createTemplate()">Thêm mẫu</button>
    </div>
  </etop-empty>
  <div *ngIf="(messageTemplates$| async)?.length > 0 && checkPermission()" class="setting-footer ng-star-inserted">
    <button type="submit" class="btn btn-primary" (click)="createTemplate()">Thêm mẫu</button>
  </div>
</div>
