shop-order-info-edit::ng-deep,
shop-line-info-edit::ng-deep,
shop-shipping-info::ng-deep,
shop-payment-info::ng-deep {
  .badge {
    font-weight: 700;
    border-radius: 5px;
    background: var(--gray-color);
    border: 1px solid var(--gray-color);
  }

  .read-only {
    padding: 0 .4rem;
  }

  .order-status {
    &::before {
      padding: 4px !important;
    }
  }

  a.read-only {
    text-decoration: none;
  }
}

.order-info, .line-info, .shipping-info, .payment-info, .inventory-info {
  padding: 15px;
  border-bottom: 1px solid var(--border-gray-color);
}

.line-info {
  .badge {
    font-size: .75rem;
  }
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
  .not-button {
    display: flex;
    align-items: center;
    img {
      width: 3rem;
    }
    .remind-shop {
      padding-left: .6rem;
      font-style: italic;
      line-height: 1.25rem;
      * {
        font-size: .8rem;
      }
    }
  }
}
