<div class="order-info">
  <shop-order-info-edit [order]="order"></shop-order-info-edit>
</div>
<div class="line-info">
  <shop-line-info-edit [order]="order"></shop-line-info-edit>
</div>
<!-- <div class="inventory-info">
  <shop-inventory-info [order]="order"></shop-inventory-info>
</div> -->
<!-- <div class="payment-info">
  <shop-payment-info [order]="order"></shop-payment-info>
</div> -->

<!-- <div class="shipping-info">
  <div class="slider-detail-info-title mb-0">
    <i class="fa fa-circle text-topship smaller-font mr-2"></i>
    GIAO HÀNG
    <span class="topship-toggle ml-3">
      <label class="switch mb-0">
        <input type="checkbox" (click)="toggleSwitch()" [checked]="to_create_ffm">
        <span class="slider-toggle round"></span>
      </label>
    </span>
    <span class="font-weight-normal ml-2">Bật để tạo đơn giao hàng</span>
  </div>
  <div *ngIf="to_create_ffm" style="margin: 1rem -1.25rem 0;">
    <shop-delivery #delivery></shop-delivery>
  </div>
  <div *ngIf="isCreatingFFM" class="button-wrapper">
    <div class="not-button" [class.invisible]="!fulfillment?.cod_amount && fulfillment?.cod_amount != 0">
      <img src="assets/images/r-topship_256.png" alt="">
      <div class="remind-shop text-topship">
        <div>*Shipper sẽ thu người nhận <b>{{fulfillment?.cod_amount | vnd}}đ</b> cho đơn hàng này.</div>
        <div>Vui lòng đảm bảo đúng số tiền muốn thu trước khi tạo đơn giao hàng!</div>
      </div>
    </div>
    <button
      *ngIf="order?.confirm_status == 'Z'" class="btn btn-topship text-white"
      [disabled]="loading" (click)="createFFM(true)">
      <i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i>
      Tạo hoá đơn và giao hàng
    </button>
    <button
      *ngIf="order?.confirm_status != 'Z'" class="btn btn-topship text-white"
      [disabled]="loading" (click)="createFFM(false)">
      <i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i>
      Tạo đơn giao hàng
    </button>
  </div>
  <div *ngIf="!isCreatingFFM && order?.confirm_status == 'Z'" class="button-wrapper justify-content-end">
    <button class="btn btn-primary text-white" [disabled]="loading" (click)="confirmOrder()">
      <i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i>
      Tạo hoá đơn
    </button>
  </div>
  <ng-container>
    <shop-order-fulfillments [order_code]="order?.code"></shop-order-fulfillments>
  </ng-container>
</div> -->

