:host {
  width: 100%;
}

.loading {
  &.list-product {
    height: calc(100% - 45px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fas {
    font-size: 30px;
  }
}

.list-product {
  display: flex;
  flex-flow: row wrap;
  padding: .8rem 1.5rem;
}

.product-card {
  flex-basis: 12.5%;
  padding: 5px;
  cursor: pointer;
  .add-product {
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-color);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.order-tab.active {
  border-bottom: 3px solid var(--primary-color) !important;
}

.list-product-group {
  overflow-y: scroll;
  height: 34rem;
}

.list-order-line {
  flex: 1;
  overflow: auto;
  padding: 1.5rem;
}

.modal,
.modal-backdrop {
  position: absolute !important;
}

.popup-variants .modal-body {
  max-height: 257px;
  overflow: auto;
}

.add-sample {
  text-align: center;
  i {
    color: var(--primary-color);
    font-size: 4rem;
  }
}

shop-popup-variants-pos-order::ng-deep {
  .modal {
    overflow: hidden;
  }
  .modal-content {
    max-height: 330px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 1300px) {
  .list-product {
    padding: 10px 0;
  }
  shop-popup-variants-pos-order::ng-deep {
    .modal-content {
      max-height: 290px;
    }
  }
}
