.account-info {
  padding: 15px;
  margin-bottom: 25px;
  .active-shop {
    text-align: center;
  }
  .user-name {
    font-size: 25px;
    margin-bottom: 0;
    opacity: 0.8;
  }
  .store-name {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
  }
  .shop-info {
    .title {
      color: #9B9B9B;
      font-size: 14px;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }
}
