<div class="account-info" *ngIf="!!contact">
  <div class="active-shop">
    <p class="user-name">{{contact?.lastname}}</p>
    <p class="store-name">{{contact?.company}}</p>
  </div>
  <div class="shop-info">
    <section>
      <span class="title">Email</span>
      <p>{{contact?.email}}</p>
    </section>
    <section>
      <span class="title">SĐT</span>
      <p>{{contact?.phone}}</p>
    </section>
    <section>
      <span class="title">Shop</span>
      <p>{{contact?.company}}</p>
    </section>
    <section>
      <span class="title">Địa chỉ</span>
      <p class="m-0">{{contact?.lane}}</p>
      <p><span *ngIf="contact?.city">{{contact?.city}},</span> {{contact?.state}}</p>
    </section>
    <section>
      <span class="title">Số đơn/ngày (khảo sát)</span>
      <p>{{contact?.orders_per_day}}</p>
    </section>
    <section *ngIf="contact?.used_shipping_provider">
      <span class="title">NVC đã dùng (khảo sát)</span>
      <p>{{contact?.used_shipping_provider}}</p>
    </section>
  </div>
</div>
