:host {
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  border-radius: 7px;
  height: 65px;

  &.active {
    border-left: 5px solid var(--primary-color);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.07);
    margin-left: -5px;
  }
}

.shop-main {
  padding-left: 1rem;
}

.avatar {
  width: 35px;
  height: 35px;
}
