<div class="col align-self-center {{liteMode? '' :'min-width-25rem'}}">
  <div class="d-flex align-items-center">
    <img class="avatar" alt="" src="{{shop?.image_url || 'assets/images/placeholder.png'}}">
    <div class="shop-main">
      <div class="text-bold">{{shop?.code}} - {{shop?.name}}</div>
      <div
        class="text-bold text-primary lower-medium-font d-inline-flex align-items-center"
        eCallButton="{{shop?.phone}}">
        {{shop?.phone}}&nbsp;
        <i class="text-primary fa fa-phone-square"></i>
      </div>
    </div>
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <span *ngIf="shop?.created_at">{{shop?.created_at | date: 'dd/MM/yyyy'}}</span>
  <span *ngIf="!shop?.created_at">-</span>
</div>
<div class="col align-self-center {{liteMode? '' :'min-width-25rem'}}">
  <div>
    <span *ngIf="shop?.user?.full_name">
      <span class="text-bold">{{shop?.user?.full_name}}</span>
      &nbsp;-&nbsp;
    </span>
    <span
      class="text-bold text-primary d-inline-flex align-items-center"
      eCallButton="{{shop?.user?.phone}}">
      {{shop?.user?.phone}}&nbsp;
      <i class="text-primary fa fa-phone-square upper-medium-font"></i>
    </span>
  </div>
  <div class="lower-medium-font">{{shop?.user?.email}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="text-bold">{{shop?.bank_account?.name}}</div>
  <div class="lower-medium-font">{{shop?.bank_account?.account_number}} - {{shop?.bank_account?.account_name}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="lower-medium-font">{{shop?.money_transaction_rrule_display || '-'}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="order-status order-{{shop?.user?.is_blocked ? 'N' : 'P'}}">
    {{shop?.user?.is_blocked ? 'Bị chặn' : 'Đang hoạt động'}}
  </div>
  <div *ngIf="shop?.user?.block_reason && shop?.user?.is_blocked" class="text-danger small-font">
    {{shop?.user?.block_reason}}
  </div>
</div>
