<div class="carrier-info">
    <div class="carrier-image">
        <img src="{{carrierConnection?.provider_logo}}" alt="">
    </div>
    <div class="carrier-name">{{carrierConnection?.name_display}}</div>
    <div class="ion-text-center">
        Kết nối với {{ carrierConnection?.name || carrierConnection?.name_display}} bằng cách dùng
        <span *ngIf="carrierConnection?.connection_provider == 'partner'">User ID và Token.</span>
    </div>
</div>
<ion-list class="ion-padding-end ion-margin-bottom">
    <ion-item lines="none" class="line-custom">
        <ion-label position="floating">User ID</ion-label>
        <ion-input inputmode="number" [(ngModel)]="loginToken.user_id" (ngModelChange)="loginTokenChanged()">
        </ion-input>
    </ion-item>
    <ion-item lines="none" class="line-custom">
        <ion-label position="floating">Token</ion-label>
        <ion-input inputmode="number" [(ngModel)]="loginToken.token" (ngModelChange)="loginTokenChanged()">
        </ion-input>
    </ion-item>
</ion-list>