ion-select {
  --padding-start: 0;
  min-width: 100%;
}

.note {
  background: rgba(0, 0, 0, 0.04);
  margin: 0.75rem 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.topship {
  color: red;
}