<ion-header>
    <ion-toolbar>
        <ion-title class="p-0">Cập nhật lịch chuyển khoản</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list class="ion-margin-bottom">
        <ion-list-header>
            <ion-label>
                Cập nhật lịch chuyển khoản
            </ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label class="ion-hide">Lịch chuyển khoản</ion-label>
            <ion-select [interfaceOptions]="customAlertOptions" placeholder="Chọn lịch chuyển khoản" [(ngModel)]="money_transaction_rrule">
                <ion-select-option [disabled]="option?.disabled" [value]="option?.value" *ngFor="let option of money_transaction_rrule_options">
                    {{option?.name}} {{option?.description}}
                </ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <div class="note">
        * Thay đổi lịch chuyển khoản sẽ có tác dụng trong vòng 24h.
    </div>
</ion-content>
<ion-footer class="footer-button-wrapper ion-no-border">
    <ion-toolbar>
        <div class="footer-buttons ion-flex">
            <button type="submit" class="w-100 bg-primary text-white footer-button-item font-bold" (click)="updateMoneyTransactionCalendar()">
      <span> Xác nhận</span>
    </button>
        </div>
    </ion-toolbar>
</ion-footer>