<h6 class="slider-detail-info-title">
  <i class="fa fa-circle text-primary smaller-font mr-2"></i>
  TỒN KHO
</h6>
<div class="row">
  <div class="slider-detail-input-item col-4">
    <etop-material-input textLabel="Phiếu nhập" type="custom">
      <span *ngIf="inInventoryVoucher?.code" class="text-primary font-weight-bold cursor-pointer"
        (click)="viewDetailVoucher('in', inInventoryVoucher?.code)">
        {{inInventoryVoucher?.code}}
        <i class="fas fa-external-link-alt external-link-icon"></i>
      </span>
      <span *ngIf="!inInventoryVoucher?.code">-</span>
    </etop-material-input>
  </div>
  <div class="slider-detail-input-item col-4">
    <etop-material-input textLabel="Phiếu xuất" type="custom">
      <span *ngIf="outInventoryVoucher?.code" class="text-primary font-weight-bold cursor-pointer"
        (click)="viewDetailVoucher('out', outInventoryVoucher?.code)">
        {{outInventoryVoucher?.code}}
        <i class="fas fa-external-link-alt external-link-icon"></i>
      </span>
      <span *ngIf="!outInventoryVoucher?.code">-</span>
    </etop-material-input>
  </div>
</div>
