<div class="modal-header">
  <h5 class="modal-title">Thêm nhân viên</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <etop-material-input
    textLabel="Tên nhân viên*" placeholder="Tên nhân viên*" type="input"
    class="mb-2" [(ngModel)]="invitation.p_data.full_name">
  </etop-material-input>
  <etop-material-input
    textLabel="Email*" placeholder="Email*" type="input"
    class="mb-2" [(ngModel)]="invitation.p_data.email">
  </etop-material-input>
  <etop-material-chips-autocomplete
    textLabel="Vai trò*" placeholder="Vai trò*" class="mb-2"
    [options]="roleList" [multiple]="true"
    [displayMap]="nameDisplayMap()" [valueMap]="valueDisplayMap()"
    [(ngModel)]="invitation.p_data.roles">
  </etop-material-chips-autocomplete>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button
    class="btn btn-primary text-white" (click)="createInvitation()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
    Thêm nhân viên
  </button>
</div>
