<div class="title">Cảnh báo không nhận hàng</div>
<div class="level" *ngIf="rating" [style.background]="rating?.customer_return_rate?.color">
    {{rating?.customer_return_rate?.level}}
</div>
<div class="level" *ngIf="messageError" [ngStyle]="{'background': '#E74C3C'}">
    KHÔNG XÁC ĐỊNH
</div>
<div class="info">
    <ion-text>Số điện thoại</ion-text>
    <div class="phone">{{phone}}</div>
    <div class="rate">
        Tỉ lệ không nhận hàng: <strong>{{rating ? rating?.customer_return_rate.rate + '%' : 'Không xác định'}}</strong>
    </div>
    <div class="note" *ngIf="rating" [ngClass]="{'ion-hide': rating?.customer_return_rate?.level_code == 'level_1'}">
        *Shop nên đề nghị thanh toán chuyển khoản để tránh tình trạng không nhận hàng
    </div>
    <div class="note" [ngClass]="{'ion-hide': !messageError}">
        {{messageError?.message}}
    </div>
</div>
<div class="footer" (click)="dismiss()">
    Đóng
</div>