:host {
    background: white;
    text-align: center;
    max-width: fit-content;
    min-width: 100%;
}

.level {
    color: white;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.title, .footer, .info {
    padding: 1rem;
}

.phone {
    font-size: 2rem;
    font-weight: bold;
}

.rate {
    background: #eee;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    max-width: fit-content;
    margin: 1rem auto;
}

.footer {
    border-top: 1px solid #eee;
}

.note {
    font-style: oblique;
    padding: 1rem 0;
}