<ion-header>
  <ion-toolbar>
    <ion-title>Thêm thuộc tính</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-content ion-padding">
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Tên thuộc tính</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="attribute"></ion-input>
    </ion-item>
  </div>

</ion-content>
<ion-footer class="footer-button-wrapper" (click)="submit()">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Thêm thuộc tính
      </button>
    </div>
  </ion-toolbar>
</ion-footer>