<div class="carrier-item d-flex align-items-center">
  <div class="carrier-img pr-4">
    <img src="{{connection?.provider_logo}}" alt="">
  </div>
  <div class="info">
    <div class="carrier-name">{{connection?.name}}</div>
    <div class="order-status order-{{connection?.connect_status}}">
      {{connection?.status_display}}
    </div>
    <div *ngIf="connection?.connection_email">
      <i class="fa fa-user-circle mr-2"></i>
      <span>{{connection?.connection_email}}</span>
    </div>
  </div>
  <div class="connect ml-auto">
    <button
      *ngIf="connection?.connect_status == 'Z' && checkPermission('shop/connection:create')" class="btn btn-primary"
      (click)="carrierConnect(connection)">
      Kết nối
    </button>
    <shared-dropdown-actions
      *ngIf="connection?.connect_status == 'P' && checkPermission('shop/connection:delete')"
      [dropdownActions]="dropdownActions" [rightSide]="true">
    </shared-dropdown-actions>
  </div>
</div>
