<div class="dashboard-container">
    <div class="dashboard-filter-container">
      <etop-material-select-date-range 
        (rangeSelect)="onChangeFilter($event)" 
        [displayIcon]="true" 
        [labelBold]="true">
      </etop-material-select-date-range>
    </div>
    <div class="dashboard-detail-container">
        <div class="detail-line">
          <div class="detail-title">Số máy nhánh</div>
          <div class="detail-content">{{dashboard?.staff?.length}}</div>
        </div>
        <div class="detail-line">
            <div class="detail-title">Tổng số cuộc gọi</div>
            <div class="detail-content">{{dashboard?.total?.total_count}}</div>
        </div>
        <div class="detail-line">
            <div class="detail-title">Tổng thời lượng gọi ra</div>
            <div class="detail-content">{{dashboard?.total?.total_duration_postage}} giây</div>
        </div>
    </div>
    <div class="staff-dashboard-container">
        <div class="container-title">Theo máy nhánh</div>
        <ng-container *ngIf="dashboard?.staff.length; else noStaff">
          <div class="staff-dashboard-content">
            <div class="row title-row">
              <div class="col font-weight-bold">MÁY NHÁNH</div>
              <div class="col font-weight-bold">CUỘC GỌI</div>
              <div class="col font-weight-bold">THỜI LƯỢNG</div>
            </div>
            <div class="row line-layout" *ngFor="let item of dashboard?.staff">
              <div class="col font-weight-bold">{{item?.extension_number}}</div>
              <div class="col">{{item?.total_call}}</div>
              <div class="col">{{item?.total_duration_postage}}</div>
            </div>
          </div>
        </ng-container>
        <ng-template #noStaff>
          <etop-empty-page></etop-empty-page>
        </ng-template>
    </div>
</div>
