.dashboard-container {
    background-color: rgba(0,0,0,.03);
    width: 100vw;
    .dashboard-filter-container, .dashboard-detail-container, .staff-dashboard-container, .loading-container {
        background-color: white;
        width: 100%;
    }

    .no-line {
      padding: 3rem;
      text-align: center;
    }
    .dashboard-filter-container {
        padding: 1rem 1rem 1rem 2rem;
        background-color: white;
        margin-bottom: 1rem;
        .form-filter {
            position: relative;
            &::after {
                content: "\f107";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                font-size: 1rem;
                position: absolute;
                right: 0;
                z-index: 1;
            }
        }

        .input-filter {
            width: 100%;
            color: #444444 !important;
            position: relative;
            border: none;
            outline: none;
            font-weight: 700;
            z-index: 2;
            background: transparent;
            cursor: pointer;
        }
    }

    .dashboard-detail-container {
        background-color: white;
        margin-bottom: 1rem;
        .detail-line {
            padding: 1rem 1rem 1rem 2rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--gray-color);

            &:last-child {
                border-bottom: 0px;
            }

            .detail-content {
                font-weight: bold;
            }
        }

    }

    .staff-dashboard-container {
        background-color: white;
        .container-title {
            font-weight: bold;
            padding: 1rem 1rem 1rem 2rem;
            border-bottom: 1px solid var(--gray-color);
        }

        .staff-dashboard-content {
            .line-layout {
                margin: 1rem 1rem 1rem 2rem;
                padding: 1rem 0;
            }
            .title-row {
                margin: 1rem 1rem 1rem 2rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid var(--gray-color);
                .col {
                    padding: 0!important;
                }
            }
            .col {
                padding: 0!important;
            }
        }
    }
  @media only screen and (max-width: 768px) {
    margin-bottom: var(--mobile-menu-height);
  }
}

