.form-check-label {
  font-size: 1.15rem;
  margin-left: 1.5rem;
}

.form-check-input {
  margin-top: 0;
  margin-left: 0;
}

.form-check{
  height: 4.15rem;
  line-height: 4.15rem;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  margin-bottom: 0.4rem;
  background: #fafafa;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  &.active{
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
  }
}

.modal-subtitle {
  font-weight: 400;
  font-style: italic;
}
