input {
  font-weight: bold;
}
.hidden {
  display: none !important;
}

.error-row {
  border: 1px solid var(--topship-color);
  color: var(--topship-color);
}

.verify-section {
  padding: 0 1rem;
  display: block;
  margin-bottom: 1rem;
}

.empty-connection {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .empty-title {
    margin-bottom: .8rem;
    font-size: 1.25rem;
  }

  .empty-subtitle {
    margin-bottom: 1.6rem;
    color: #777;
  }
}
