<div class="alert alert-info mb-0 border-radius-0">
  Dịch vụ giao hàng tức thì hiện chỉ hỗ trợ giao hàng khu vực
  <strong>Thành phố Hồ Chí Minh</strong> và <strong>Hà Nội</strong>.
</div>

<div class="d-flex align-items-center e-border-bottom position-relative">
  <div class="p-3" style="min-width: 150px;">
    <img src="assets/images/circle_icon.png" alt="" width="14" class="mr-2" />
    Địa chỉ lấy hàng
  </div>
  <div class="flex-grow-1">
    <shared-select-multiline
      [options]="fromAddresses"
      [placeholder]="'Nhập địa chỉ lấy hàng'"
      [inputClass]="'text-topship'"
      [(ngModel)]="fromAddressIndex"
      [showPlaceholderFirst]="true"
      (ngModelChange)="setShopAddress()">
      <div class="text-center m-auto text-warning" (click)="newFromAddress()">
        Thêm địa chỉ lấy hàng mới
      </div>
    </shared-select-multiline>
  </div>
</div>
<div class="d-flex align-items-center e-border-bottom position-relative">
  <div class="p-3" style="min-width: 150px;">
    <img src="assets/images/address_icon.png" width="14" alt="" class="mr-2" />
    Địa chỉ giao hàng*
  </div>
  <div class="flex-grow-1">
    <shared-select-multiline
      [options]="toAddresses"
      [placeholder]="'Nhập địa chỉ giao hàng'"
      [inputClass]="'text-topship'"
      [(ngModel)]="toAddressIndex"
      [showPlaceholderFirst]="true"
      (ngModelChange)="setCustomerAddress()"
      (focus)="focusToAddress()">
      <div class="text-center m-auto text-warning" (click)="newToAddress()">
        Thêm địa chỉ giao hàng mới
      </div>
    </shared-select-multiline>
  </div>
</div>
<div class="d-flex align-items-center e-border-bottom" [class.error-row]="errorCOD">
  <div class="p-3 flex-grow-1" (click)="selectCODInput.next()">
    Tạm ứng
    <i class="fa fa-info-circle text-topship ml-2"
       ngbTooltip="Tiền tạm ứng là số tiền Shipper tạm ứng cho Shop khi đến lấy hàng, sau đó sẽ thu lại từ người nhận khi giao hàng"
       placement="bottom">
    </i>
  </div>
  <div class="p-3 w-25 d-flex">
    <etop-currency-input
      class="w-100 input-pos"
      [isCOD]="true"
      classInner="text-topship text-right"
      inputClass="pr-0 border-0"
      placeholder="Tiền tạm ứng"
      [options]="suggestCODs"
      [selectInput]="selectCODInput.asObservable()"
      [(ngModel)]="cod_amount"
      [posfixText]="'đ'"
      (ngModelChange)="onChangeCod()">
    </etop-currency-input>
  </div>
</div>
<div class="d-flex align-items-center e-border-bottom">
  <div class="p-3 flex-grow-1">
    Mã khuyến mãi
  </div>
  <div class="p-3 w-25 d-flex">
    <input
      type="text" style="height: 30px;" [(ngModel)]="fulfillment.coupon"
      (ngModelChange)="updateDataShippingService()" class="input-pos text-bold text-topship text-right"
      placeholder="Nhập mã khuyến mãi">
  </div>
</div>
<div class="d-flex align-items-center e-border-bottom">
  <div class="p-3 flex-grow-1" (click)="shipping_note.focus()">
    Ghi chú giao hàng
  </div>
  <div class="p-3 w-50">
    <input
      #shipping_note type="text" style="height: 30px;" [(ngModel)]="fulfillment.shipping_note"
      (blur)="updateDataShippingService()" class="input-pos text-bold text-topship text-right"
      placeholder="Nhập ghi chú giao hàng">
  </div>
</div>
<div class="shipping-service text-center mt-4">
  <div class="empty-connection" *ngIf="!(shipnowConnections$ | async)?.length; else hasConnections">
    <div class="empty-title">
      Chưa kết nối nhà vận chuyển giao tức thì
    </div>
    <div class="empty-subtitle">
      Vui lòng kết nối nhà vận chuyển giao tức thì để tiếp tục sử dụng
    </div>
    <button class="btn btn-topship" (click)="toCarrierConnect()">
      Kết nối
    </button>
  </div>

  <ng-template #hasConnections>
    <div class="text-bold mb-4">Chọn gói dịch vụ</div>
    <shop-shipnow-service-options
        #shipnowServiceOptions (shipnowServiceChange)="onShipServiceChange($event)">
    </shop-shipnow-service-options>
    <ng-container *ngIf="notVerifiedConnection$ | async">
      <shop-shipnow-verify-warning class="verify-section" [connection]="selectedConnection$ | async">
      </shop-shipnow-verify-warning>
    </ng-container>
  </ng-template>
</div>
