ion-content {
  --background: var(--ion-color-light);
}
.page-title {
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  color: #4a4a4a;
  margin-bottom: 1rem;
  .page-title-icon {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
      border: 1px solid var(--ion-color-warning-shade);
      width: 10rem;
    }
  }
  .page-title-text {
    .text {
      padding-right: 1.5rem;
    }
  }
}

.section-box {
  padding: .75rem 1.25rem 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  color: #4a4a4a;
  margin-bottom: 1rem;
  .section-answer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ion-item {
      height: 3rem;
    }
    .section-options {
      width: 100%;
    }
    .item-text {
      font-weight: bold;
    }
    .answer-item {
      display: flex;
      flex-direction: row;
      ion-radio {
        margin: 0 .5rem 0 0;
      }
    }
  }

  .section-title {
    font-weight: bold;
    margin-bottom: 1.25rem;
  }

  .section-avatar {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    img {
      opacity: .05;
    }
  }
}
