<div class="ion-page">
  <ion-content>
    <div class="page-title">
      <div class="page-title-text">
        <h4 class="font-bold">Xin chào {{user?.full_name}},</h4>
        <div class="text">Tài khoản của bạn đã được tạo thành công, trả lời các câu hỏi sau để Topship hỗ trợ bạn được tốt hơn nhé!</div>
      </div>
      <div class="page-title-icon">
        <img class="logo" src="assets/images/e_topship.png" alt="etop-logo" />
      </div>
    </div>
    <div class="section-box" *ngIf="providerQuestion">
      <h6 class="section-title">{{providerQuestion?.question}}</h6>
      <div class="section-answer">
        <div class="section-options">
          <ion-list>
            <ion-radio-group mode="md" [(ngModel)]="providerQuestion.answer">
              <ion-item lines="none" *ngFor="let answer of providerQuestion.answersList" class="answer-item w-100">
                <ion-radio slot="start" [value]="answer.value"></ion-radio>
                <div>{{answer.text}}</div>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <div class="section-avatar">
          <img [src]="providerQuestion?.image_url" alt="">
        </div>
      </div>
    </div>
    <div class="section-box" *ngIf="ordersPerDayQuestion">
      <h6 class="section-title">{{ordersPerDayQuestion?.question}}</h6>
      <div class="section-answer">
        <div class="section-options">
          <ion-list>
            <ion-radio-group mode="md" [(ngModel)]="ordersPerDayQuestion.answer">
              <ion-item lines="none" *ngFor="let answer of ordersPerDayQuestion.answersList" class="answer-item w-100">
                <ion-radio slot="start" [value]="answer.value"></ion-radio>
                <div>{{answer.text}}</div>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <div class="section-avatar">
          <img [src]="ordersPerDayQuestion?.image_url" alt="">
        </div>
      </div>
    </div>
    <div class="section-box" *ngIf="defaultWeightQuestion">
      <h6 class="section-title">{{defaultWeightQuestion?.question}}</h6>
      <div class="section-answer">
        <div class="section-options">
          <ion-list>
            <ion-radio-group mode="md" [(ngModel)]="defaultWeightQuestion.answer">
              <ion-item lines="none" *ngFor="let answer of defaultWeightQuestion.answersList" class="answer-item w-100">
                <ion-radio slot="start" [value]="answer.value"></ion-radio>
                <div>{{answer.text}}</div>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <div class="section-avatar">
          <img [src]="defaultWeightQuestion?.image_url" alt="">
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer class="footer-button-wrapper ion-no-border" (click)="saveSurvey()">
    <ion-toolbar>
      <div class="footer-buttons ion-flex">
        <button type="submit" class="w-100 bg-primary text-white footer-button-item font-bold" >
          <span>Tiếp tục</span>
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</div>
