
<ion-row class="border-bottom">
  <ion-col class="ion-flex ion-align-items-center">
    <ion-icon name="person-circle-outline" class="avatar"></ion-icon>
    <div class="user-name font-bold">
      <div class="fix-line-1">{{staff?.full_name}}</div>
    </div>
    <ng-container *ePermissions="['relationship/permission:update']">
      <div class="action"  (click)="presentActionSheet(staff)" *ngIf="!isOwner">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-text style="font-size: 0.9rem; padding-left: 0.25rem;">Thao tác</ion-text>
      </div>
    </ng-container>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <small>Vai trò</small>
    <div class="font-bold fix-line-1 text-gray" style="font-size: 0.8rem;">{{staff?.roles_display}}</div>
  </ion-col>
  <ion-col class="ion-text-right">
    <div class="font-bold text-gray">{{staff?.phone}}</div>
    <div class="fix-line-1" style="font-size: 0.8rem;">{{staff?.email}}</div>
  </ion-col>
</ion-row>
