shop-ticket-list::ng-deep {
  .ticket-section {
    .ticket {
      margin-top: 0 !important;
      margin-bottom: 10px !important;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
