<div class="p-3 tickets-container d-flex align-items-center justify-content-center" *ngIf="getting_tickets">
  <i class="fa fa-spin fa-circle-o-notch bigger-font"></i>
</div>
<ng-container *ngIf="!getting_tickets">
  <div class="p-3 tickets-container bg-gray text-center" *ngIf="!tickets || !tickets?.length">
    Đơn hàng chưa có yêu cầu hỗ trợ.
  </div>
  <div class="p-3 tickets-container" *ngIf="tickets && tickets?.length">
    <shop-ticket-list [tickets]="tickets"></shop-ticket-list>
  </div>
</ng-container>
<div class="d-flex p-3" *ngIf="canSendSupportRequest(ffm)">
  <shop-force-button
    [order]="order" [fulfillment]="ffm">
  </shop-force-button>
</div>
