<ion-header>
    <topship-pickup-address></topship-pickup-address>
</ion-header>
<ion-content>
    <div class="box-content">
        <topship-shipping-info></topship-shipping-info>
    </div>
    <div class="box-content">
      <topship-product-selector></topship-product-selector>
      <topship-order-lines></topship-order-lines>
      <topship-order-info></topship-order-info>
    </div>
    <div class="box-content">
      <topship-fulfillment-info></topship-fulfillment-info>
      <topship-shipment-service-options></topship-shipment-service-options>

      <div class="footer-button-wrapper ion-no-border">
        <ion-toolbar>
          <div class="footer-buttons ion-flex">
            <button type="submit" class="w-100 bg-primary text-white footer-button-item" (click)="confirm()">
              <ion-text color="white" class="btn-text">Tạo đơn</ion-text>
            </button>
          </div>
        </ion-toolbar>
      </div>
    </div>
</ion-content>
