ion-header {
    border-bottom: 1px solid #f4f4f4;
}

ion-content {
  --background: var(--ion-color-light);
}

.box-content {
    background: #fff;
    margin-bottom: .75rem;
    &:first-child {
      margin-top: .75rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .btn-text {
      font-size: 1.3rem;
    }
}
