<ng-content></ng-content>
<div class="col align-self-center max-width-20rem hide-768">
  <div *ngIf="!contact.account_id">-</div>
  <div *ngIf="contact.account_id" class="font-weight-bold text-primary">{{contact.account_id}}</div>
</div>
<div class="col d-flex align-items-center max-width-20rem">
  <div>{{contact?.full_name || '-'}}</div>
</div>
<div class="col d-flex align-items-center max-width-20rem">
  <div>{{contact?.phone || '-'}}</div>
</div>
<div class="col align-self-center max-width-20rem">
  <div>{{extension?.extension_number || '-'}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div>{{extension?.created_at | date:'dd/MM/yyyy' || '-'}}</div>
</div>
