<ion-header>
    <ion-toolbar>
      <ion-title>Thông số mặc định</ion-title>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="list-setting">
      <div class="box">
        <ion-list>
          <ion-radio-group [(ngModel)]="settings.payment_type_id" mode="md">
            <ion-list-header>
              <ion-label class="font-bold">Người trả phí</ion-label>
            </ion-list-header>
            <ion-item lines="none" *ngFor="let item of tryOnOptionsShipping">
              <ion-label>{{item.name}}</ion-label>
              <ion-radio slot="start" value="{{item.value}}"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
  
      <div class="box">
        <ion-list>
          <ion-radio-group mode="md">
            <ion-list-header>
              <ion-label class="font-bold">Địa chỉ trả hàng</ion-label>
            </ion-list-header>
            <div class="ion-padding-horizontal ion-padding-bottom" *ngIf="!settings?.return_address">
              <ion-text style="font-size: 0.9rem; opacity: 0.7;">Chưa thiết lập địa chỉ trả hàng, đơn hàng sẽ được trả về theo địa chỉ trùng với địa chỉ lấy hàng.</ion-text>
              <div class="btn btn-primary btn-outline ion-text-center config-btn ion-margin-top" (click)="createOrUpdateAddress()">Thiết lập</div>
            </div>
            <div class="ion-align-items-baseline ion-flex ion-padding-bottom ion-padding-horizontal" *ngIf="settings?.return_address">
              <ion-text>
                {{addressDisplay(settings.return_address)}}
              </ion-text>
              <ion-icon name="create-outline" color="primary" (click)="createOrUpdateAddress()"></ion-icon>
            </div>
          </ion-radio-group>
        </ion-list>
      </div>
  
      <div class="box">
        <ion-list>
          <ion-radio-group [(ngModel)]="settings.try_on" mode="md">
            <ion-list-header>
              <ion-label class="font-bold">Ghi chú xem hàng</ion-label>
            </ion-list-header>
            <ion-item lines="none" *ngFor="let item of tryOnOptions">
              <ion-label>{{item.name}}</ion-label>
              <ion-radio slot="start" value="{{item.value}}"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
  
      <div class="box ion-padding-bottom">
        <ion-list>
            <ion-list-header>
              <ion-text class="font-bold">Ghi chú giao hàng</ion-text>
            </ion-list-header>
            <ion-item>
              <ion-textarea autoGrow="true" rows="1" placeholder="Nhập ghi chú giao hàng..." [(ngModel)]="settings.shipping_note"></ion-textarea>
            </ion-item>
        </ion-list>
      </div>
  
      <div class="box ion-margin-bottom ion-padding-bottom">
        <ion-list>
            <ion-list-header>
              <ion-label class="font-bold">Khối lượng</ion-label>
            </ion-list-header>
            <etop-ion-input-format-number placeholder="Khối lượng" formatNumberUnit="g"
            [(ngModel)]="settings.weight" cssClass="align-left text-default">
            </etop-ion-input-format-number>
              <!-- <ion-input type="number" aria-placeholder="Khối lượng" [(ngModel)]="settings.weight"></ion-input> -->
        </ion-list>
      </div>
    </div>
  </ion-content>
  <ion-footer class="footer-button-wrapper">
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons ion-flex">
            <button class="w-100 bg-primary text-white footer-button-item" (click)="update()">
              Cập nhật
            </button>
        </div>
    </ion-toolbar>
</ion-footer>