.list-setting {
    background: #f4f4f4;
    height: 100%;
    overflow: auto;
}

.box {
    background: white;
    margin-top: 10px;
}

ion-header {
    ion-toolbar {
        border-bottom: 1px solid #f4f4f4;
    }
  }

  ion-radio {
    margin-inline-end: 1rem;
    width: 16px;
    height: 16px;
}

.config-btn {
    padding: 6px 20px;
    border-color: var(--ion-color-primary) !important;
    color: var(--ion-color-primary);
}