<ng-container *ngIf="processingData; else endProcess;">
  <div class="d-flex align-items-center">
    <i class="fa fa-spin fa-circle-o-notch"></i>
  </div>
</ng-container>
<ng-template #endProcess>
  <ng-container *ngIf="noAddress(order); else hasAddress;">
    <span class="text-topship add-address" (click)="createNewAddress(order)">Bổ sung địa chỉ giao hàng</span>
  </ng-container>
</ng-template>

<ng-template #hasAddress>
  <div class="row flex-grow-1 half-row">
    <div class="col-4">
      <etop-material-input-format-number
        formatNumberUnit="đ" textLabel="COD" placeholder="Nhập COD" [topshipInput]="true"
        [error]="errorCOD" [(ngModel)]="order.p_data.shipping.cod_amount" (blur)="onChangeCOD()">
      </etop-material-input-format-number>
    </div>
    <div class="col-8">
      <etop-material-input
        *ngIf="loading_address" textLabel="Địa chỉ giao hàng" type="custom">
        <span class="disabled">Đang xử lý ...</span>
      </etop-material-input>
      <etop-material-input
        *ngIf="!loading_address" [error]="!isValidAddress(order?.p_data?.shipping?.shipping_address)"
        textLabel="Địa chỉ giao hàng" type="custom">
        <span
          class="overflow-text" (click)="editShippingAddress(order)"
          [ngbTooltip]="shippingAddress" placement="top" container="body">
          {{order?.p_data?.shipping?.shipping_address?.province | locationCompact}},
          {{order?.p_data?.shipping?.shipping_address?.district | locationCompact}},
          {{order?.p_data?.shipping?.shipping_address?.ward | locationCompact}}
        </span>
        <ng-template #shippingAddress>
          <div *ngIf="!isSupportedAddress(order?.p_data?.shipping?.shipping_address)">
            Không hỗ trợ giao hàng ở địa chỉ này. Vui lòng kiểm tra lại địa chỉ giao hàng của bạn!
          </div>
          <div *ngIf="!isLocatedAddress(order?.p_data?.shipping?.shipping_address)">
            Không xác định được địa chỉ giao hàng trên bản đồ. Vui lòng kiểm tra lại địa chỉ giao hàng của bạn!
          </div>
          <div>
            {{order?.p_data?.shipping?.shipping_address | addressDisplay}}
          </div>
        </ng-template>
      </etop-material-input>
    </div>
  </div>
</ng-template>
