<!--<etop-menu></etop-menu>-->
<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Đặt hàng</ion-title>
      <ion-buttons slot="end" (click)="createOrder()" *ePermissions="['shop/order:create']">
        <ion-icon name="add" mode="md" class="create-order text-primary"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchbar" placeholder="Tìm khách hàng, mã đơn" (ionInput)="getItems($event)">
      </ion-searchbar>
    </ion-toolbar>
    <etop-network-status></etop-network-status>
  </ion-header>
  <ion-content>
    <ion-refresher *ngIf="status?.connected" slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
    <div class="order-list">
      <div class="items-list-row" *ngFor="let order of orders">
        <div class="box" (click)="orderDetail(order)">
          <div class="ion-flex ion-align-items-center ion-justify-content-between">
            <div class="order-info">
              <div class="normal-font">
                <span class="font-bold">{{order?.customer?.full_name}}</span>
                <span> - {{order?.total_items}} sp</span>
              </div>
              <div class="small-font">
                <span *ngIf="order?.code">{{order?.code}} - </span>
                <span>{{order?.created_at | date: 'HH:mm dd/MM/yy'}}</span>
              </div>
            </div>
            <div class="order-price normal-font font-bold ion-text-right">
              <div class="price">{{order?.total_amount | vnd}}đ</div>
              <div class="small-font status {{order?.confirm_status}}" *ngIf="order?.confirm_status !== 'Z'">
                <span class="badge">{{statusMap(order?.confirm_status)}}</span>
              </div>
              <div class="small-font  status {{order?.confirm_status}}" *ngIf="order?.confirm_status == 'Z'">
                <span class="badge">Nháp</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="empty-state ion-text-center ion-flex ion-align-items-center h-100" *ngIf="orders?.length == 0">
      <div class="ion-text-center w-100" *ngIf="loadding">
        <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
        <div class="ion-padding-top">Đang tải dữ liệu ...</div>
      </div>
      <ion-text class="w-100" *ngIf="orders?.length == 0 && !loadding">
        Bạn chưa có đơn đặt hàng nào!
      </ion-text>
    </div>
  </ion-content>
</div>
