.create-order {
  font-size: 2.3rem;
}

.items-list-row {
  border-bottom: 1px solid #f5f5f5;
}

.status {
  &.S {
    color: var(--topship-color)
  }

  &.P {
    color: var(--ion-color-success)
  }

  &.N {
    color: var(--ion-color-danger)
  }

  &.Z {
    color: var(--ion-color-medium);
  }
}

.status-confirmed {
  color: var(--ion-color-medium);
}

.badge {
  border: 1px solid #eee;
  padding: 0.25rem 0.75rem;
  font-size: 0.7rem;
  background: rgba(0, 0, 0, 0.01);
  border-radius: 10px;
}

.order-price .price {
  margin-bottom: 0.25rem;
}
