<div *ngIf="lines?.length; else empty;" class="table-responsive">
  <table class="w-100">
    <thead>
      <tr>
        <th>Phiên bản sản phẩm</th>
        <th class="text-right">Số lượng {{voucher_type | lowercase}}</th>
        <th class="text-right">Giá vốn</th>
        <th class="text-right">Tổng giá trị</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let line of lines">
        <td>
          <div class="text-primary font-weight-bold">{{line?.code}}</div>
          <div class="small-font">
            <span>{{line?.product_name}}</span>
            <span *ngFor="let attr of line?.attributes; let i = index;" class="font-weight-bold">
              {{i == 0 ? '' : ' - '}}{{attr.value}}
            </span>
          </div>
        </td>
        <td class="text-right font-weight-bold">{{line.quantity}}</td>
        <td class="text-right font-weight-bold">{{line.price | vnd}}đ</td>
        <td class="text-right font-weight-bold">{{(line.quantity * line.price) | vnd}}đ</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #empty>
  <div class="empty">Phiếu {{voucher_type}} này chưa có sản phẩm.</div>
</ng-template>
