thead {
  background-color: var(--light);
}
th {
  font-weight: 400;
  padding: 7px 15px;
  border-bottom: 1px solid var(--border-gray-color);
  border-top: 1px solid var(--border-gray-color);
}
td {
  padding: 10px 15px;
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
}

:host {
  width: 100%;
}

.empty {
  padding: 20px 0;
  text-align: center;
  background: var(--gray-color);
}

.placeholder {
  color: var(--default-color);
}
