<div class="action">
  <div class="action-title">IN MÃ VẠCH</div>
  <div class="action-desc">
    In mã vạch cho các sản phẩm vừa chọn.
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <div class="action-detail">
        <button class="btn btn-full btn-outline btn-primary" (click)="printBarcode()">
          In mã vạch
        </button>
      </div>
    </div>
  </div>
</div>
