<div class="modal-header">
  <div class="modal-title">
    <h5 class="font-weight-bold mb-0">{{title || 'Thông tin địa chỉ'}}</h5>
    <div class="font-weight-normal">Đây là thông tin để tạo đơn giao hàng, thông tin phải chính xác để shipper có thể đến lấy hàng.</div>
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>
      Địa chỉ
      <span class="text-danger">*</span>
    </label>
    <div class="row">
      <div class="col-4">
        <div class="py-2">
          <etop-material-input-autocomplete
            placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành" [options]="provinces"
            [displayMap]="displayMap()" [valueMap]="valueMap()"
            [(ngModel)]="selectedProvinceCode" (ngModelChange)="onProvinceSelected()">
          </etop-material-input-autocomplete>
        </div>
      </div>
      <div class="col-4">
        <div class="py-2">
          <etop-material-input-autocomplete
            placeholder="Chọn quận huyện" textLabel="Quận huyện" [options]="districts"
            [displayMap]="displayMap()" [valueMap]="valueMap()"
            [(ngModel)]="selectedDistrictCode" (ngModelChange)="onDistrictSelected()">
          </etop-material-input-autocomplete>
        </div>
      </div>
      <div class="col-4">
        <div class="py-2">
          <etop-material-input-autocomplete
            placeholder="Chọn phường xã" textLabel="Phường xã" [options]="wards"
            [displayMap]="displayMap()" [valueMap]="valueMap()"
            [(ngModel)]="selectedWardCode">
          </etop-material-input-autocomplete>
        </div>
      </div>
      <div class="col-12">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập địa chỉ" textLabel="Địa chỉ" type="input"
            [(ngModel)]="address.address1">
          </etop-material-input>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 col-12">
      <label>
        Khung giờ lấy hàng
        <span class="text-danger">*</span>
      </label>
      <div class="row">
        <div class="col-6">
          <div class="py-2">
            <etop-material-input
              placeholder="Nhập giờ bắt đầu" textLabel="Giờ bắt đầu" type="time"
              [(ngModel)]="start_open_time">
            </etop-material-input>
          </div>
        </div>
        <div class="col-6">
          <div class="py-2">
            <etop-material-input
              placeholder="Nhập giờ kết thúc" textLabel="Giờ kết thúc" type="time"
              [(ngModel)]="end_open_time">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="d-flex align-items-center">
        <label>Giờ nghỉ (Nếu có)</label>
        <label class="pointer ml-2">
          <input type="checkbox" class="" [(ngModel)]="notLunchBreak">
          Không nghỉ
        </label>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="py-2">
            <etop-material-input
              placeholder="Nhập giờ bắt đầu" textLabel="Giờ bắt đầu" type="time"
              [(ngModel)]="start_lunch_break" [disabled]="notLunchBreak">
            </etop-material-input>
          </div>
        </div>
        <div class="col-6">
          <div class="py-2">
            <etop-material-input
              placeholder="Nhập giờ kết thúc" textLabel="Giờ kết thúc" type="time"
              [(ngModel)]="end_lunch_break" [disabled]="notLunchBreak">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Người phụ trách
      <span class="text-danger">*</span>
    </label>
    <div class="row">
      <div class="col-4">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập họ tên" textLabel="Họ tên" type="input"
            [(ngModel)]="address.full_name">
          </etop-material-input>
        </div>
      </div>
      <div class="col-4">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập số điện thoại" textLabel="Số điện thoại" type="input"
            [(ngModel)]="address.phone">
          </etop-material-input>
        </div>
      </div>
      <div class="col-4">
        <div class="py-2">
          <etop-material-input
            placeholder="Nhập chức vụ" textLabel="Chức vụ" type="input"
            [(ngModel)]="address.position">
          </etop-material-input>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Ghi chú</label>
    <div class="py-2">
      <etop-material-input
        placeholder="Nhập ghi chú" textLabel="Ghi chú" type="text-area"
        [(ngModel)]="address.notes.note">
      </etop-material-input>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <label class="form-check-label cursor-pointer">
        <input class="form-check-input" [(ngModel)]="callOption" type="radio" value="call">
        Gọi điện trước khi lấy hàng
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label cursor-pointer">
        <input class="form-check-input" [(ngModel)]="callOption" type="radio" value="no-call">
        Luôn luôn có người, không cần gọi điện
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline btn-default" (click)="closeModal()">Đóng</button>
  <button class="btn btn-primary" (click)="save()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    {{actionType == 'update' ? 'Cập nhật' : 'Tạo'}}
  </button>
</div>
