.color-square {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-top: 3px;
}

.transparent-color {
  background: linear-gradient(to top left, #fff calc(50% - 1px), #ff0000, #fff calc(50% + 1px) );
}
