<div class="modal-header">
  <div class="modal-title">{{label?.id ? 'Chỉnh sửa' : 'Thêm'}} label</div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="py-2" *ngIf="parent">
    <etop-material-input
      type="custom" textLabel="Label cha" [disabled]="true">
      <span class="read-only">{{parent?.name}}</span>
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-input
      type="input" textLabel="Tên label" placeholder="Nhập tên label"
      [(ngModel)]="label.name">
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-input
      type="input" textLabel="Mã label" placeholder="Nhập mã label"
      [(ngModel)]="label.code">
    </etop-material-input>
  </div>
  <div class="py-2">
    <etop-material-input
      type="input" textLabel="Màu label" placeholder="Nhập mã màu #ffffff hoặc #fff"
      [(ngModel)]="label.color">
    </etop-material-input>
    <div *ngIf="validateColor(label?.color)" [style.background]="label?.color" class="color-square"></div>
    <div *ngIf="!validateColor(label?.color)" class="color-square transparent-color"></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button
    class="btn btn-primary text-white" (click)="confirm()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
    {{label?.id ? 'Chỉnh sửa' : 'Thêm'}}
  </button>
</div>

