<ion-header class="header">
  <ion-toolbar>
    <ion-title>Thông báo</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="icon-header" name="close" size="small" (click)="dismiss()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-content">
    <div class="content-wrapper" [innerHtml]="announcement_content?.content"></div>
  </div>
</ion-content>

