<div class="modal-header">
  <div class="modal-title">
    <h5 class="font-weight-bold">Tạo cửa hàng</h5>
  </div>
  <button class="close" (click)="close()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="py-2">
    <etop-material-input
      placeholder="Nhập tên cửa hàng" textLabel="Tên cửa hàng" type="input"
      [(ngModel)]="shopName">
    </etop-material-input>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline btn-default" (click)="close()">Hủy</button>
  <button class="btn btn-primary" [disabled]="loading" (click)="createShop()">
    <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>
