<div class="modal-header">
  <h6 class="modal-title">Gửi yêu cầu hỗ trợ</h6>
  <div class="close" (click)="closePopup()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </div>
</div>
<div class="modal-body">
  <div class="mb-2">
    <p class="forcebutton-label">Chọn yêu cầu hỗ trợ</p>
    <select class="form-control" name="support_request" [(ngModel)]="support_request.code"
      (ngModelChange)="selectRequest(support_request.code)">
      <option value="" disabled selected>Chọn yêu cầu hỗ trợ</option>
      <option [value]="req.code" *ngFor="let req of support_requests" [disabled]="req.disabled">
        {{req.title}}
      </option>
    </select>
    <div class="d-flex mt-2 value-compare" *ngIf="inputShow">
      <div class="compare-item w-50 pr-2">
        <div class="forcebutton-label">Giá trị hiện tại: </div>
        <input type="text" class="disabled form-control" [value]="support_request.old_value" disabled>
      </div>
      <div class="compare-item w-50">
        <div class="forcebutton-label">Giá trị mới: </div>
        <input class="form-control" [type]="support_request.code=='change-phone' ? 'text' : 'number'"
          *ngIf="inputShow && !money_formatted" [placeholder]="inputShowPlaceholder"
          [(ngModel)]="support_request.value" (blur)="moneyFormat()">
        <div *ngIf="money_formatted" (click)="showInput()" class="form-control compare-item">
          {{support_request.value | vnd}}đ</div>
      </div>
    </div>
  </div>
  <div class="mb-2" *ngIf="force_warning">
    <div class="alert alert-danger m-0 text-center" style="font-weight: 700;">
      <div>Dự kiến {{force_title.toLowerCase()}} {{force_expected}}</div>
      <div>ĐƠN HÀNG CHƯA TRỄ, KHÔNG ĐƯỢC GIỤC {{force_title}} HÀNG</div>
    </div>
  </div>
  <div class="mb-2">
    <p class="forcebutton-label">Vui lòng điền lý do để Topship xử lý đơn giao hàng được hiệu quả.</p>
    <textarea rows="3" class="w-100 form-control" placeholder="Lý do {{util.lowerCase(requestName)}} (bắt buộc)"
      [(ngModel)]="support_request.reason">
    </textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button" (click)="closePopup()" class="btn btn-default btn-outline">Hủy</button>
  <button type="button" (click)="force()" class="btn btn-primary"
    [disabled]="!support_request.reason || !support_request.code || (inputShow && !support_request.value) || force_warning">
    {{requestName}}
  </button>
</div>

