.print-wrapper {
  width: 580px;
  margin: auto;
}

.code-fragment {
  flex-basis: 33.3%;
  margin: 1rem 0 0 1rem;
  max-height: 105px;
}

.logo-img {
  max-width: 15rem;
  margin-bottom: 1.5rem;
}

.barcode-img {
  width: 100%;
}

.print-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.button-wrapper {
  border-radius: 10px;
  border: 1px solid var(--border-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  background-color: var(--lighter-gray-color);
  .fa {
    font-size: 1.3rem;
  }
}

.name {
  font-size: 11px;
  text-align: center;
  margin-bottom: -3px;
  z-index: 10;
}

.price {
  font-weight: 700;
  font-size: 14px;
}
