<div class="page-content">
  <div class="d-flex justify-content-between align-items-center">
    <img class="logo" src="assets/images/logo_medium.png" alt="etop-logo"/>
    <button class="btn btn-primary btn-outline rounded-pill" (click)="signout()">Đăng xuất</button>
  </div>
  <div class="text-center mb-5">
    <div style="font-size: 2.5rem;">Tạo cửa hàng,</div>
    <div class="big-font">Khởi tạo cửa hàng đầu tiên để bắt đầu sử dụng các dịch vụ của eTop</div>
  </div>
  <div class="content-create" style="max-width: 1024px; margin: auto">
    <div class="box mb-3">
      <div class="big-font e-border-bottom text-center p-3">
        Thông tin cửa hàng
      </div>
      <shop-create-shop-form
        #createShopForm (shippingPolicyAccepted)="shippingPolicyAccepted = $event">
      </shop-create-shop-form>
    </div>
    <div class="text-right">
      <button
        class="btn btn-primary rounded-pill px-5 text-white" (click)="confirm()"
        [disabled]="!shippingPolicyAccepted || loading">
        <mat-spinner class="mr-2" diameter="14" *ngIf="loading"></mat-spinner>
        Tạo cửa hàng
      </button>
    </div>
  </div>
</div>
