<div [class.topship]="topshipInput && !error" [class.error]="error" [class.disabled]="disabled">
  <mat-form-field [appearance]="appearance || 'outline'">
    <mat-label *ngIf="textLabel">{{textLabel}}</mat-label>
    <input 
      matInput #matInput="matInput" [matDatepicker]="dp" 
      [formControl]="date" 
      [placeholder]="placeholder"
      [disabled]="disabled"
      (ngModelChange)="onInputYearChange()"
      (click)="_openDatepickerOnClick(dp)"
      (keydown.arrowdown)="_openDatepickerOnClick(dp)"
      (keydown.enter)="_openDatepickerOnClick(dp)"
      readonly>
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event,dp)">
    </mat-datepicker>
  </mat-form-field>
</div>
