:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-left: 1px solid var(--gray-color);
  position: relative;
}

.dropdown-menu.show {
  top: 100% !important;
  left: unset !important;
  right: 0.25rem;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px 5px;
  width: 33rem;
  z-index: 999;
}

.list-account-wrapper {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.account-info {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
  color: #444;
}

.selected-account {
  .avatar {
    width: 70px;
    height: 70px;
  }
  .shop-name {
    font-size: 16px;
  }
  .user-name {
    font-size: 14px;
  }
}

.avatar-container {
  margin-right: 10px;
}

.account {
  flex: 1;
  margin-right: 15px;
  & > * {
    display: block;
  }

  .user-fullname {
    font-size: 1.3rem;
    max-width: 210px;
  }

  .shop-name {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.caret {
  margin: 0 5px;
}

.account-name {
  color: #9B9B9B; font-size: 14px;
}

.account-avatar {
  margin-right: 8px;
}

div.account-info {
  border-bottom: 1px solid #e8e8e8;
}

.img-avatar {
  display: block;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.account-action {
  display: flex;
  button {
    border: none;
    border-right: 1px solid #e5e5e5;
    border-radius: 0;
    &:last-child {
      border-right: none;
    }
  }
}

.fa-cog {
  font-size: 20px;
  color: #444;
  text-decoration: none;
  position: absolute;
  right: 12px;
  top: 10px;
}
