<div *ngIf="!isMobile" (click)="toggleDropdown()" class="nav-link nav-link-right account-info h-100 border-0">
  <span class="avatar-container">
    <span class="img-avatar avatar" [ngStyle]="{
      'background-image':
        'url(' +
        (currentAccount?.image_url || 'assets/images/placeholder_medium.png') +
        ')'
    }">
    </span>
  </span>
  <div class="account">
    <span class="user-fullname text-truncate">{{ user?.full_name}}</span>
    <span class="shop-name">{{ currentAccount?.name }}</span>
  </div>
  <i class="fa fa-angle-down" style="font-size: 22px; color: #999;"></i>
</div>

<div [class.show]="show_dropdown" class="dropdown-menu dropdown-menu-right m-0 p-0">
  <div class="account-info selected-account p-3" style="cursor: initial;">
    <span class="account-avatar">
      <img src="{{ currentAccount?.image_url || 'assets/images/placeholder_medium.png' }}" alt="logo" class="avatar">
    </span>
    <div class="w-100">
      <strong class="shop-name">{{currentAccount?.display_name || currentAccount?.code + ' - ' + currentAccount?.name}}</strong>
      <p class="mb-0 user-name">{{user?.full_name}}</p>
      <p class="mb-0">{{user?.phone}} - {{user?.email}}</p>
    </div>
    <span id="settings" class="fa fa-cog ml-2" (click)="onGoingToSettings()"
      style="font-size: 20px; color: #444; text-decoration: none; cursor: pointer;">
    </span>
  </div>
  <div class="list-account-wrapper">
    <ng-container *ngFor="let account of accounts; let i = index">
      <div class="account-info other-account account-list-item py-2 px-3"
        *ngIf="account?.id != currentAccount?.id && (i < 4 || more_shops)" (click)="onSwitchAccount(account)">
        <span class="account-avatar">
          <img src="{{ account?.image_url || 'assets/images/placeholder_medium.png' }}" alt=""
            class="avatar avatar-inactive" />
        </span>
        <div class="font-13">
          {{account?.display_name || account?.name}}
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="accounts?.length >= 4" (click)="toggleMoreShops()"
    class="account-info other-account py-2 px-3 justify-content-center" style="background: #f8f8f8;">
    <span *ngIf="!more_shops">Xem thêm {{accounts.length - 4}} {{config.account_type_display}}</span>
    <span *ngIf="more_shops">Thu gọn</span>
  </div>
  <div class="account-action px-3">
    <button class="btn text-dark mr-1 py-4 font-12 flex-grow-1" (click)="onChangePassword()">
      Đổi mật khẩu
    </button>
    <button class="btn text-danger ml-1 py-4 font-12 flex-grow-1" (click)="signout()">
      Đăng xuất
    </button>
  </div>
</div>
