<div class="risk-warning">
  <div class="d-flex justify-content-center align-items-center dialog-header">
    <h4 class="font-bold mt-2" style="flex:1;text-align: center">Cảnh báo không nhận hàng</h4>
  </div>
  <div class="dialog-content" style="padding:0">
    <div style="text-align: center" *ngIf="!data.customerReturnError && customerReturnRate">
      <div style="width: 100%;color: #FFFFFF; height: 3rem" [ngStyle]="{'background-color': customerReturnRate.color}" class="d-flex justify-content-between align-items-center">
        <div style="text-align: center;width: 100%" class="font-weight-bold">{{customerReturnRate.level}}
        </div>
      </div>
      <div class="mt-4 font-10">Số điện thoại</div>
      <div class="mt-2 font-weight-bold" style="font-size: 20px">{{phone}}</div>
      <div class="mt-2 mb-2 d-flex flex-row justify-content-center align-items-center">
        <div class="warning">Tỉ lệ không nhận hàng: <strong>{{customerReturnRate.rate}}%</strong></div>
      </div>
      <div *ngIf="!hideText" style="font-style: italic;margin-top: 2.5rem">*Shop nên đề nghị thanh toán chuyển khoản để tránh tình trạng không nhận hàng</div>
    </div>
    <div style="text-align: center" *ngIf="data.customerReturnError">
      <div style="width: 100%;color: red; height: 3rem;background: rgba(0, 0, 0, 0.03);" class="d-flex justify-content-between align-items-center">
        <div style="text-align: center;width: 100%" class="font-weight-bold">Không xác định</div>
      </div>
      <div class="mt-4 font-10">Số điện thoại</div>
      <div class="mt-2 font-weight-bold" style="font-size: 20px">{{phone}}</div>
      <div class="mt-2 mb-2 d-flex flex-row justify-content-center align-items-center">
        <div class="warning">Tỉ lệ không nhận hàng: <strong>Không xác định</strong></div>
      </div>
      <div style="font-style: italic;margin: 2.5rem 2.5rem 0 2.5rem">{{data.errorMessage}}</div>
    </div>
  </div>
  <div class="dialog-footer">
    <mat-dialog-actions class="align-items-center mt-1">
      <div class="ml-auto">
        <button class="btn btn-default btn-outline mr-3 ml-auto" mat-dialog-close>Đóng</button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
