.risk-warning {
  margin: -24px;
  display: block;
}

.warning {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: .175em 1em;
  margin-right: .5rem;
  max-width: 40%;
  background: rgba(0, 0, 0, 0.03);
}

.dialog-footer {
  margin-top: 1rem;
  border-top: 1px solid var(--border-gray-color);
}


.dialog-header {
  height: 5rem;
  border-bottom: 1px solid var(--border-gray-color);
}
