<div class="box my-3">
  <div class="setting-header">Thông tin tài khoản {{appName}}</div>
  <div class="setting-body">
    <div class="d-flex align-items-center w-100 py-2">
      <etop-material-input textLabel="Họ tên" type="custom" class="flex-grow-1">
        <span class="read-only">{{user?.full_name}}</span>
      </etop-material-input>
    </div>
    <div class="d-flex align-items-center w-100 py-2 position-relative">
      <etop-material-input textLabel="Email" type="custom" class="flex-grow-1">
        <span class="read-only">{{user?.email}}</span>
      </etop-material-input>
    </div>
    <div class="d-flex align-items-center w-100 py-2 position-relative">
      <etop-material-input textLabel="Số điện thoại" type="custom" class="flex-grow-1">
        <span class="read-only">{{user?.phone}}</span>
      </etop-material-input>
    </div>
  </div>
  <div class="setting-footer">
    <div class="text-right">
      <button (click)="onChangePassword()" class="btn btn-outline btn-primary">
        Thay đổi mật khẩu
      </button>
    </div>
  </div>
</div>

<div class='mobile-menu-items my-3 show-768'>
  <ng-container *ngFor='let menu of mobileMenus'>
    <ng-container *eRoles="menu?.roles">
      <div class='mobile-menu-item' (click)='changeMenu(menu?.slug)'>
        <div class='mobile-menu-icon'>
          <span class="material-icons{{menu?.iconOutlined ? '-outlined' : ''}}">{{menu?.icon}}</span>
        </div>
        <div class='mobile-menu-title'>{{menu?.title}}</div>
        <span class="material-icons ml-auto" style='font-size: 2rem'>chevron_right</span>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class='buttons show-768'>
  <div class='btn btn-outline btn-danger w-100' (click)='signout()'>Đăng xuất</div>
</div>
