:host {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.left-part, .right-part {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-part {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.right-part {
  width: 35%;
  border-left: 1px solid var(--border-gray-color);
  box-shadow: 2px 11px 15px 0 rgba(0, 0, 0, 0.11);
}

.back-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-gray-color);
  border-radius: 20px;
  color: var(--default-color);
  font-weight: 700;
  padding: .3rem .8rem;
  .fa {
    font-size: 1.65rem;
    position: relative;
    top: -1px;
  }
}
