<div class="d-flex justity-content-between h-100 w-100">
  <div class="left-part">
    <div class="d-flex align-items-center px-3" style="height: 60px;">
      <span class="back-icon mr-3" (click)="gotoStocktakes()">
        <i class="fa fa-angle-left mr-2"></i>
        Xem phiếu xuất huỷ
      </span>
      <div class="flex-grow-1">
        <shop-search-variants
          (variantSearched)="onVariantSearched($event)"
          [filterCallback]="filterVariantsCallback">
        </shop-search-variants>
      </div>
    </div>
    <shop-discard-lines #discardLines [variants]="search_variant_list"></shop-discard-lines>
  </div>
  <div class="right-part">
    <shop-discard-info-create></shop-discard-info-create>
  </div>
</div>
