.ticket-section {
  .title {
    font-size: .9rem;
  }

  .substatus {
    span {
      padding: .25rem 1.25rem;
      border-radius: 5px;
      text-transform: uppercase;
      color: var(--white-color);
      font-size: .65rem;
      font-weight: bold;
    }

    .reject {
      background-color: var(--topship-color);
    }

    .failed {
      background-color: var(--danger-color);
    }

    .success {
      background-color: var(--success-color);
    }
  }

  .ticket {
    margin: .4rem 0;
    padding: .8rem 1.25rem;
    border-radius: 5px;
    border: 1px solid var(--border-gray-color);

    .ticket-no {
      color: var(--primary-color);
    }

    &.Open {
      background-color: rgba(var(--primary-color-rgb), .05);
    }

    &.Confirmed {
      background-color: rgba(243, 156, 18, .05);
    }

    &.In-Progress {
      background-color: rgba(var(--topship-color-rgb), 0.05);
    }

    &.Wait-For-Response {
      background-color: rgba(var(--topship-color-rgb), 0.05);
    }

    &.Closed {
      background-color: rgba(236, 240, 241, .3);
    }

    .ticket-title {}

    .status {
      text-transform: uppercase;
      font-weight: bold;
      font-size: .8rem;

      &.Open {
        color: var(--primary-color);
      }

      &.Confirmed {
        color: var(--topship-color);
      }

      &.In-Progress {
        color: var(--topship-color);
      }

      &.Wait-For-Response {
        color: var(--topship-color);
      }

      &.Closed {
        color: var(--default-color);
      }
    }
  }
}
