<div class="ticket-section">
  <div class="ticket-list">
    <div class="ticket" [ngClass]="[getStatusSnake(ticket?.ticketstatus)]" *ngFor="let ticket of tickets"
      (click)="ticketDetail($event, ticket)">
      <div class="d-flex justify-content-between align-items-center">
        <div class="ticket-main-info">
          <div class="ticket-title font-weight-bold">
            <span class="ticket-no">#{{ticket?.ticket_no}}</span> -
            {{ticket?.ticketcategories == "Khác" ? ticket?.reason : ticket?.ticket_title}}
          </div>
          <div class="substatus mt-1" *ngIf="ticket?.substatus">
            <span class="{{ticket?.substatus}}">{{util.subStatusMap(ticket?.substatus)}}</span>
          </div>
          <div class="etop-note pt-2" *ngIf="ticket?.etop_note">
            Ghi chú: {{ticket?.etop_note}}
          </div>
        </div>
        <div
          class="status"
          [ngClass]="[getStatusSnake(ticket?.ticketstatus)]">
          {{util.getStatusDisplay(ticket?.ticketstatus)}}
        </div>
      </div>

    </div>
  </div>
</div>
