<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
            </ion-icon>
        </ion-buttons>
        <ion-title>Giỏ hàng</ion-title>
    </ion-toolbar>
    <etop-network-status></etop-network-status>
</ion-header>
<ion-content>
    <div class="basket-wrapper" [formGroup]="orderForm">
        <div class="order-lines-wrapper">
            <div class="list-cart" formArrayName="lines">
                <ion-grid *ngFor="let line of lines.controls; let i = index;" [formGroupName]="i">
                    <ion-row>
                        <ion-col size="2" class="ion-align-self-center quantity">
                            <div class="ion-flex ion-align-items-baseline">
                                <etop-ion-input-format-number cssClass="ion-no-padding" style="width: 100%; margin-bottom: 0" formControlName="quantity" (blur)="checkBasket(line.value, i)">
                                </etop-ion-input-format-number>
                                <span>X</span>
                            </div>
                        </ion-col>
                        <ion-col class="ion-flex ion-align-self-center ion-align-items-center">
                            <div class="ion-flex ion-align-items-center w-100">
                                <div class="line-image" [ngStyle]="{'background-image': 'url(' + line.controls['image_url'].value + ')'}"></div>
                                <div class="line-product">
                                    <div class="line-product-info ion-flex">
                                        <div class="fix-line-1">
                                            {{line.controls['product_name'].value}}
                                        </div>
                                        <div class="ml-auto ion-flex ion-align-items-center">
                                            <div class="total-price">
                                                {{(line.controls['retail_price'].value * line.controls['quantity'].value) | vnd}}đ
                                            </div>
                                            <div style="padding-left: 0.5rem" *ngIf="lines.controls?.length > 1" (click)="removeLine(i)">
                                                <div class="ion-align-items-center ion-flex ion-justify-content-center">
                                                    <ion-icon name="trash-outline"></ion-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line-retail-price">
                                        {{line.controls['retail_price'].value | vnd}}đ
                                    </div>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <div class="order-info-wrapper">
            <ion-grid>
                <ion-row>
                    <ion-col size="5" class="ion-align-self-center">
                        <div class="info-label">Tạm tính</div>
                    </ion-col>
                    <ion-col size="7" class="ion-align-self-center">
                        <div class="info-value">{{orderForm.controls['basket_value'].value | vnd}}đ</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" class="ion-align-self-center">
                        <div class="info-label">Giảm giá</div>
                    </ion-col>
                    <ion-col size="6" class="ion-align-self-center">
                        <etop-ion-input-format-number placeholder="Giảm giá" formatNumberUnit="đ" cssClass="ion-no-padding text-right" formControlName="order_discount">
                        </etop-ion-input-format-number>
                    </ion-col>
                </ion-row>
                <ng-container formArrayName="fee_lines">
                    <ion-row *ngFor="let fee of feeLines.controls; let j = index" [formGroupName]="j">
                        <ion-col size="6" class="ion-align-self-center">
                            <div class="info-label">{{fee.controls['name'].value}}</div>
                        </ion-col>
                        <ion-col size="6" class="ion-align-self-center">
                            <etop-ion-input-format-number placeholder="Phụ phí" formatNumberUnit="đ" cssClass="ion-no-padding text-right" formControlName="amount">
                            </etop-ion-input-format-number>
                        </ion-col>
                    </ion-row>
                </ng-container>
                <ion-row>
                    <ion-col size="5" class="ion-align-self-center">
                        <div class="info-label">Khách phải trả</div>
                    </ion-col>
                    <ion-col size="7" class="ion-align-self-center">
                        <div class="info-value">{{(orderForm.controls['total_amount'].value || 0) | vnd}}đ</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <button class="w-100 bg-primary text-white footer-button-item" (click)="toPayment()">
        Tiếp tục
      </button>
        </div>
    </ion-toolbar>
</ion-footer>