<template>
<!-- eslint-disable max-len -->
  <div class="login-box">
    <div class="p-0">
      <form method="post" @submit.prevent="verifyCode">
        <div class="p-3 text-center">
          <span style="font-size: 26px;">Nhập mã xác thực</span>
          <div class="py-3">Một mã xác nhận đã được gửi đến số điện thoại <strong>{{loginUsername}}</strong> của bạn.
              Vui lòng kiểm tra tin nhắn và nhập mã vào ô bên dưới</div>
        </div>
        <div class="px-3">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Nhập mã xác thực" name="code" id="code" v-model="code" @change="codeChanged" :class="{'is-invalid': !!errorMessage}">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <small class="form-text text-danger" v-if="errorMessage">
              {{errorMessage}}
            </small>
          </div>
        </div>
        <div class="px-3 d-flex justify-content-between">
          <!-- <button class="btn btn-primary btn-login" type="button" @click="$emit('on-goback')">
            <i class="fa fa-sign-in" aria-hidden="true" v-if="!loading"></i>
            <i class="fa fa-spinner fa-spin" v-if="loading"></i>
            Quay lại
          </button> -->
          <button class="btn btn-primary w-100" type="submit" :disabled="loading">
            <i class="fa fa-spinner fa-spin mr-1" v-if="loading"></i>
            Xác thực tài khoản
          </button>
        </div>
      </form>
      <div class="p-3 d-flex justify-content-between" style="font-size: 14px">
        <div>Bạn chưa nhận được mã xác nhận?</div>
        <div v-if="countDown > 0" class="font-weight-bold">Gửi lại sau {{countDown}}s</div>
        <div v-if="countDown == 0" v-on:click="retry()" class="font-weight-bold" style="cursor: pointer">Gửi lại</div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped src="@/assets/scss/login.scss">

</style>

<script>
  import { mapActions, mapState, mapGetters } from 'vuex';
  import * as types from '@/store/mutation-types';

  export default {
    props: {
      loading: {
        type: Boolean,
        description: 'indicate ajax loading',
      },
      error: {
        type: String,
        description: 'error message',
      },
    },
    data() {
      return {
        code: '',
        message: '',
        countDown: 60,
      };
    },
    computed: {
      ...mapState(['loginUsername']),
      errorMessage() {
        return this.message || this.error;
      },
      isEmail() {
        return /(.+)@(.+)\.(.+)/.test(this.loginUsername);
      },

      isPhone() {
        return /\d{10,11}/.test(this.loginUsername);
      },
    },
    methods: {
      verifyCode() {
        this.$emit('on-submit', this.code);
      },
      codeChanged() {
        this.message = '';
      },
      retry() {
        this.countDown = 60;
        this.requestLogin({ username: this.loginUsername, resend: true })
          .then()
          .catch(err => {
            this.$toast.error({
              title: `Somethings went wrong`,
              message: err.message,
            });
          });
      },
      ...mapActions(['requestLogin']),
    },
    watch: {
      countDown: {
        handler(value) {
            if (value > 0) {
                setTimeout(() => {
                    this.countDown--;
                }, 1000);
            }
        },
        immediate: true,
      },
    },
  };
</script>
