<template>
<!-- eslint-disable max-len -->
  <div class="login-box">
    <div class="p-0">
      <form method="post" v-on:submit.prevent="submit">
        <div class="p-3">
          <div class="text-center" style="font-size: 26px">
            Chào mừng bạn đến với iTopX
          </div>
          <div class="text-center py-3">
              Một mã xác thực sẽ được gửi đến số điện thoại của bạn để xác thực tài khoản
          </div>
          <div class="form-group has-feedback mb-0">
            <input
              type="text"
              class="form-control"
              placeholder="Số điện thoại"
              readonly="true"
              disabled
              name="username"
              v-model="username"
            >
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <small class="form-text text-danger" v-if="errorMessage">{{errorMessage}}</small>
          </div>
        </div>
        <div class="px-3 d-flex justify-content-end">
          <button class="btn btn-primary w-100" type="submit" :disabled="loading">
            <i class="fa fa-spinner fa-spin mr-1" v-if="loading"></i>Tiếp tục
          </button>
          <!-- <button class="btn btn-primary btn-login" type="button" @click="next">
            <i class="fa fa-spinner fa-spin"></i>Tiếp tục
          </button> -->
        </div>
      </form>
    </div>
  </div>
</template>

<style lang="scss" scoped src="@/assets/scss/login.scss">
  // .btn-login {
  //   min-width: 80px;
  //   font-weight: 500;
  //   background-color: #410258;
  // }
</style>

<script>
  import util from '@/helpers/util';

  export default {
    props: {
      loading: {
        type: Boolean,
        description: 'indicate ajax loading',
      },
      error: {
        type: String,
        description: 'error message',
      },
      login: {
        type: String,
        description: 'login username',
      },
    },
    data() {
      return {
        username: '',
        message: '',
      };
    },
    watch: {
      login(newVal) {
        this.username = this.login;
      },
    },
    computed: {
      errorMessage() {
        return this.message || this.error;
      },
    },
    methods: {
      submit() {
        if (!util.isEmail(this.username) && !util.isPhone(this.username)) {
          this.message = 'Số điện thoại hoặc email không hợp lệ';
          return;
        }

        this.$emit('on-submit', { username: this.username });
      },
    },
  };
</script>
