<template>
  <div class="login-box">
    <div class="login-box-body p-0">
      <form @submit.prevent="submit">
        <div class="p-3 text-center">
          <span
            class="font-weight-bold"
            style="font-size: 16px;"
          >Đăng kí thông tin cho tài khoản mới</span>
        </div>
        <div class="p-3 border-top">
          <div class="form-group has-feedback">
            <label for="full_name">Họ và Tên</label>
            <input
              type="text"
              class="form-control"
              placeholder="Họ và Tên"
              name="full_name"
              id="full_name"
              :readonly="isEditable('full_name')"
              v-model="userInfo.full_name"
            >
          </div>
          <div class="form-group has-feedback">
            <label for="full_name">Tên shop</label>
            <input
              type="text"
              class="form-control"
              placeholder="Tên shop"
              name="shop_name"
              id="shop_name"
              :readonly="isEditable('shop_name')"
              v-model="userInfo.shop_name"
            >
          </div>
          <div class="form-group has-feedback">
            <label for="phone">Số điện thoại liên hệ</label>
            <input
              type="text"
              class="form-control"
              placeholder="09387xxxx"
              name="phone"
              id="phone"
              :readonly="isEditable('phone')"
              v-model="userInfo.phone"
            >
          </div>
          <div class="form-group has-feedback">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="example@gmail.com"
              name="email"
              id="email"
              :readonly="isEditable('email')"
              v-model="userInfo.email"
            >
          </div>
        </div>

        <div class="p-3 border-top">
          <div class="form-check mb-2">
            <label class="form-check-label">
              <input
                type="checkbox"
                class="form-check-input"
                name="agree-email-info"
                v-model="userInfo.agree_email_info"
              > Nhận email liên hệ từ đội ngũ TOP SHIP
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="checkbox"
                class="form-check-input"
                name="agree-tos"
                v-model="userInfo.agree_tos"
              > Bằng việc đăng ký tôi đồng ý với điều khoản sử dụng dịch vụ
            </label>
          </div>
        </div>
        <div class="px-3 py-1">
          <span class="form-text text-danger" v-if="errorMessage">
            {{errorMessage}}
          </span>
        </div>
        <div class="p-3 border-top d-flex justify-content-end">
          <button class="btn btn-primary btn-login" type="submit" :disabled="loading">
            <i class="fa fa-sign-in" aria-hidden="true" v-if="!loading"></i>
            <i class="fa fa-spinner fa-spin" v-if="loading"></i>
            Đăng kí
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<style lang="scss" scoped src="@/assets/scss/login.scss">
.btn-login {
  min-width: 80px;
  font-weight: 500;
}
</style>

<script>
import util from "@/helpers/util";
export default {
  props: {
    loading: {
      type: Boolean,
      description: "indicate ajax loading",
    },
    error: {
      type: String,
      description: "error message",
    },
    editableFields: {
      type: Array,
      description: "fields can be editable",
    },
    user: {
      type: Object,
      description: "prefill user info data",
    },
  },
  data() {
    return {
      userInfo: {
        full_name: "",
        shop_name: "",
        phone: "",
        email: "",
        agree_email_info: false,
        agree_tos: false,
      },
      message: "",
    };
  },
  watch: {
    user() {
      this.userInfo.full_name = this.user.full_name;
      this.userInfo.email = this.user.email;
      this.userInfo.phone = this.user.phone;
    },
  },
  computed: {
    errorMessage() {
      return this.message || this.error;
    },
  },
  methods: {
    submit() {
      const errorMessage = this.validate();
      if (errorMessage === true) {
        this.$emit("on-submit", this.userInfo);
      } else {
        this.message = errorMessage;
      }
    },
    isEditable(field) {
      return this.editableFields.indexOf(field) == -1;
    },
    validate() {
      const {full_name} = this.userInfo;
      if (!full_name) {
        return `Vui lòng nhập Họ và Tên`;
      }

      if (!this.userInfo.shop_name) {
        return `Vui lòng nhập tên cửa hàng`;
      }

      let {email} = this.userInfo;
      email = email && email.split(/-[0-9a-zA-Z]+-test/)[0] || '';
      email = email && email.split('-test')[0] || '';
      if (!email || !util.isEmail(email)) {
        return 'Vui lòng nhập email hợp lệ!';
      }

      let {phone} = this.userInfo;
      phone = phone && phone.split(/-[0-9a-zA-Z]+-test/)[0] || '';
      phone = phone && phone.split('-test')[0] || '';
      if (!phone || !util.isPhone(phone)) {
        return `Vui lòng điền số điện thoại hợp lệ`;
      }

      if (!this.userInfo.agree_tos) {
        return `Vui lòng đọc và đồng ý với điều khoản sử dụng dịch vụ`;
      }

      return true;
    },
  },
};
</script>
