<ng-container *ngIf="currentView(step.EDIT)">
  <div class="d-flex justify-content-between mb-4 align-items-center">
    <h4 class="font-bold text-center w-100">Chỉnh sửa thông tin đơn hàng {{data.fulfillment?.shipping_code}}</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <mat-dialog-content class="mat-typography p-0 e-border-top e-border-bottom" [formGroup]="formInsurance">
    <div class="line d-flex align-items-center justify-content-center">
      <mat-icon>local_atm</mat-icon>
      Thay đổi giá trị khai báo hàng hóa
    </div>
    <div class="list-content">
      <div class="item">
        <etop-material-input-format-number placeholder="Giá trị khai báo hàng hóa" textLabel="Giá trị khai báo hàng hóa" type="input"
          formControlName="insurance_value" (blur)=formatNumber() formatNumberUnit="đ">
        </etop-material-input-format-number>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="py-4">
    <button class="btn btn-default btn-outline mr-3" mat-dialog-close>Đóng</button>
    <button class="btn btn-primary" (click)="confirmStep()" cdkFocusInitial>Tiếp tục</button>
  </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="currentView(step.CONFIRM)">
  <div class="d-flex justify-content-between mb-4 align-items-center">
    <h4 class="font-bold text-center w-100">Chỉnh sửa thông tin đơn hàng {{data.fulfillment?.shipping_code}}</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <mat-dialog-content class="mat-typography p-0 e-border-top e-border-bottom" [formGroup]="formInsurance">
    <div class="line d-flex align-items-center justify-content-center mb-0">
      <mat-icon>beenhere</mat-icon>
      Xác nhận thay đổi thông tin
    </div>
    <div class="list-content e-border-bottom py-4">
      <div class="title">
        Giá trị khai báo hàng hóa
      </div>
      <div class="d-flex">
        <div class="box-item w-50">
          <label class="text-default">Giá trị cũ</label>
          <div class="detail d-flex justify-content-between mr-5">
            <div>{{data.fulfillment.insurance_value | vnd}}đ</div>
            <span style="font-size: 16px">→</span>
          </div>
        </div>
        <div class="box-item w-50">
          <label class="text-default">Giá trị mới</label>
          <div class="detail text-primary font-weight-bold">{{formInsurance.controls['insurance_value'].value | vnd}}đ</div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="py-4">
    <div class="shpping-fee d-flex mr-4">
      <div class="fee-item border-right pr-4 mr-4">
        Phí cũ: <strong>{{data.fulfillment?.shipping_fee_shop | vnd}}đ</strong>
      </div>
      <div class="fee-item d-flex align-items-center">
        <div class="mr-2">Phí dự kiến: </div>
        <div class="skeleton" style="width: 50px" *ngIf="loadingContinue"></div>
        <strong class="text-primary" *ngIf="!loadingContinue && !!shipping_fee">{{shipping_fee | vnd}}đ</strong>
        <strong class="text-primary" *ngIf="!loadingContinue && !shipping_fee"> - </strong>
      </div>
    </div>
    <button class="btn btn-default btn-outline mr-3" (click)="back()">Quay lại</button>
    <button class="btn btn-primary" [disabled]="loadingConfirm || loadingContinue" (click)="submit()" cdkFocusInitial>
      <i class="fa fa-spinner fa-spin mr-2" *ngIf="loadingConfirm"></i>Xác nhận</button>
  </mat-dialog-actions>
</ng-container>
