ion-toggle {
  zoom: 0.7;
}

.desciption {
  white-space: unset;
  font-size: 0.9rem;
}

.list-topic {
  height: 100%;
  background: #eee;
  padding-top: 10px;

  .setting-item {
    margin-bottom: 10px;
    background: #ffffff;
    padding: 8px 0;

    .topic  {
      margin-bottom: 0.5rem;
    }
  }
}

.warning-box {
  color: #856404;
  background-color: #fff3cd;
  padding: 0.75rem 1rem;
  ion-text {
    font-size: 0.85rem;
  }

  ion-icon {
    font-size: 1.4rem;
    margin-right: 0.5rem;
  }
}