<ng-content></ng-content>
<div class="col align-self-center">
  <div class="fa fa-minus" *ngIf="!transaction?.code"></div>
  <ng-container *ngIf="transaction?.code">
    <span class="font-weight-bold text-primary cursor-pointer" (click)="transactionDetail()">
      {{transaction?.code}}
      <i class="fas fa-external-link-alt external-link-icon"></i>
    </span>
    <div class="small-font">{{transaction?.created_at | date: 'HH:mm dd/MM/yy'}}</div>
  </ng-container>
</div>
<div class="col align-self-center">
  <div class="order-status order-{{ transaction?.status }}">
    {{ transaction?.status_display }}
  </div>
  <div *ngIf="transaction?.status == 'P'" class="small-font">
    {{transaction?.confirmed_at | date: 'HH:mm dd/MM/yy'}}
  </div>
</div>
<div class="col align-self-center">
  <!-- TODO: Get Shop By IDs -->
  <strong *ngIf="transaction?.shop; else noShop;">
    {{transaction?.shop?.code}} - {{transaction?.shop?.name}}
  </strong>
  <ng-template #noShop>
    <i class="fa fa-minus"></i>
  </ng-template>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="font-weight-bold">{{transaction?.total_orders}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="font-weight-bold">{{transaction?.total_cod | number}}đ</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div
    class="font-weight-bold"
    [class.text-danger]="transaction?.total_amount < 0"
    [class.text-success]="transaction?.total_amount > 0">
    {{transaction?.total_amount | number}}đ
  </div>
</div>
