<div class="network" *ngIf="!networkStatus">
  <div class="ion-text-center {{status?.connected ? 'connect-success' : 'disconnect'}}">
    {{status?.connected ? 'Kết nối mạng thành công' : 'Không có kết nối mạng'}}
  </div>
</div>