.line-item {
  padding: 1.2rem 1rem;
  border-top: 1px solid #f5f5f5;
  background: #fff;

  &:last-child {
    border-bottom: 1px solid #f5f5f5;
  }

  &.title {
    background: #f5f5f5;
  }

  ion-icon {
    font-size: 1.4rem;
  }
}

.add-item {
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

ion-footer {
  border-top: 1px solid #e5e5e5;
  padding: 1rem;
}

.page-content {
  background: #f5f5f5;
  height: 100%;
}