<div class="slider" routerLinkActive="active" #rla="routerLinkActive" [class.hovered]="hovered"
  (mouseover)="onHoverMenu(menu)" (mouseleave)="onHoverMenu(null)">
  <div class="menu-header has-no-sub">
    <a [routerLink]="menu.route" class="sub-menu-item" *ngIf="!menu.href">
      <span class="menu-name" [ngStyle]="{'color': rla.isActive ? menu?.icon_color : ''}">{{menu.name}}</span>
    </a>
    <a [href]="menu.href" target="_blank" class="sub-menu-item" *ngIf="menu.href">
      <span class="menu-name">{{menu.name}}</span>
    </a>
  </div>
</div>
