.menu-name {
  font-size: 1.1rem;
  &.sub-menu {
    font-size: 1rem;
  }
}

.slider {
  padding-right: 1rem;
  &.active {
    .menu-name {
      color: var(--primary-color);
    }
  }
  &.hovered {
    background: var(--gray-color);
  }
  .sub-menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #777;
    height: var(--header-height);
    text-decoration: none;
  }
}
