.shipping-info {
  padding: 1rem;
}

.badge {
  font-weight: 700;
  border-radius: 5px;
  background: var(--gray-color);
  border: 1px solid var(--gray-color);
}

.order-status {
  &::before {
    padding: 4px !important;
  }
}

a.read-only {
  color: var(--dark-color);
}

.delivery-history {
  text-align: center;
}

.menu-icon {
  height: 12px;
  width: 12px;
  font-size: 12px;
  margin-left: 0.5rem;
}

mat-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
}