<div class="shipping-info">
  <div class="row info-body">
    <div class="col-12 slider-detail-input-item" *ngIf="ffm?.shipping_code">
      <div (click)="trackingLink()" class="text-center cursor-pointer mb-3">
        <img id="shipping-barcode" alt="{{ffm?.carrier}}">
        <div class="delivery-history">
          <button class="btn btn-outline btn-primary">Xem lịch sử giao hàng</button>
        </div>
      </div>
    </div>
    <div class="slider-detail-input-item" [class.col-4]="ffm?.shipping_state == 'cancelled'"
      [class.col-6]="ffm?.shipping_state != 'cancelled'">
      <etop-material-input textLabel="Mã giao hàng" type="custom">
        <span class="read-only font-weight-bold">{{(ffm$ | async)?.shipping_code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 slider-detail-input-item" [class.col-4]="ffm?.shipping_state == 'cancelled'"
      [class.col-6]="ffm?.shipping_state != 'cancelled'">
      <etop-material-input textLabel="Trạng thái" type="custom">
        <span class="read-only order-status order-{{ffm?.shipping_state}}">
          {{ffm?.shipping_state_display}}
        </span>
        <span *ngIf="ffm?.x_shipping_sub_state && ffm?.shipping_state != 'cancelled'" class="small-font ml-2">
          {{ffm?.x_shipping_sub_state}}
        </span>
        <span *ngIf="ffm?.shipping_state == 'undeliverable' && ffm?.actual_compensation_amount > 0"
          class="small-font ml-2">
          Bồi hoàn: {{ffm?.actual_compensation_amount | vnd}}đ
        </span>
      </etop-material-input>
    </div>
    <div *ngIf="ffm?.cancel_reason" class="col-4 slider-detail-input-item">
      <etop-material-input textLabel="Lý do huỷ" type="custom">
        <span class="read-only">{{ffm?.cancel_reason}}</span>
      </etop-material-input>
    </div>
    <div class="col-3 slider-detail-input-item">
      <etop-material-input textLabel="Nhà vận chuyển" type="custom">
        <span class="read-only">{{ffm?.carrier?.toUpperCase() || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-3 slider-detail-input-item">
      <etop-material-input textLabel="Gói vận chuyển" type="custom">
        <span class="read-only">{{ffm?.shipping_service_name || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-3 slider-detail-input-item">
      <etop-material-input textLabel="Phí vận chuyển" type="custom">
        <span class="read-only">
          {{(ffm$ | async)?.shipping_fee_shop | vnd}}đ
          <i *ngIf="ffm?.shipping_fee_shop_lines.length" class="fas fa-info-circle text-topship ml-2 cursor-pointer"
            [ngbTooltip]="shippingFeeShopLines" placement="bottom">
          </i>
          <ng-template #shippingFeeShopLines>
            <div class="d-flex align-items-center justify-content-between w-100"
              *ngFor="let fee of ffm?.shipping_fee_shop_lines">
              <div class="pl-2 pr-3 py-1 small-font">{{fee?.shipping_fee_type_display}}</div>
              <strong class="pr-2 pl-3 py-1 small-font">{{fee?.cost | vnd}}đ</strong>
            </div>
          </ng-template>
        </span>
      </etop-material-input>
    </div>
    <div class="col-3 slider-detail-input-item">
      <etop-material-input textLabel="Người trả phí" type="custom">
        <span class="read-only">{{ffm?.shipping_payment_type == 'seller' ? 'Shop trả phí' : (ffm?.shipping_payment_type != null ? 'Khách trả phí' : '-') }}</span>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Lấy hàng" type="custom">
        <div class="read-only font-weight-bold">
          {{(ffm$ | async)?.pickup_address?.full_name}} - {{(ffm$ | async)?.pickup_address?.phone}}
        </div>
        <div class="read-only font-weight-normal">
          {{(ffm$ | async)?.pickup_address?.address1}}
          {{(ffm$ | async)?.pickup_address?.ward ? '- ' + (ffm?.pickup_address?.ward | locationCompact) : ''}}
          - {{(ffm$ | async)?.pickup_address?.district | locationCompact}}
          - {{(ffm$ | async)?.pickup_address?.province | locationCompact}}
        </div>
      </etop-material-input>
    </div>
    <div *ngIf="ffm?.shipping_address" class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Giao hàng" type="custom">
        <div class="read-only font-weight-bold">
          {{(ffm$ | async)?.shipping_address?.full_name}} - {{(ffm$ | async)?.shipping_address?.phone}}
        </div>
        <div class="read-only font-weight-normal">
          {{(ffm$ | async)?.shipping_address?.address1}}
          {{(ffm$ | async)?.shipping_address?.ward ? '- ' + ((ffm$ | async)?.shipping_address?.ward | locationCompact) : ''}}
          - {{(ffm$ | async)?.shipping_address?.district | locationCompact}}
          - {{(ffm$ | async)?.shipping_address?.province | locationCompact}}
        </div>
      </etop-material-input>
    </div>
    <div *ngIf="isShipment" class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Lấy hàng dự kiến" type="custom">
        <span class="read-only">{{estimatedPickupTime}}</span>
      </etop-material-input>
    </div>
    <div *ngIf="isShipment" class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Giao hàng dự kiến" type="custom">
        <span class="read-only">{{estimatedDeliveryTime}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Giá trị khi báo hàng hóa" type="custom">
        <span class="read-only">{{(ffm$ | async)?.insurance_value | vnd}}đ</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Thu hộ" type="custom">
        <span class="read-only">{{(ffm$ | async)?.total_cod_amount | vnd}}đ</span>
      </etop-material-input>
    </div>
    <div class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Khối lượng" type="custom">
        <span class="read-only">{{(ffm$ | async)?.chargeable_weight | vnd}}g</span>
      </etop-material-input>
    </div>
    <div *ngIf="!isShipnow" class="col-6 slider-detail-input-item">
      <etop-material-input textLabel="Ghi chú xem hàng" type="custom">
        <span class="read-only">{{(ffm$ | async)?.try_on_display || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-12 slider-detail-input-item">
      <etop-material-input textLabel="Ghi chú giao hàng" type="custom">
        <span class="read-only">{{(ffm$ | async)?.shipping_note || '-'}}</span>
      </etop-material-input>
    </div>
  </div>
  <div class="text-right" *ePermissions="['shop/fulfillment:update']">
    <button class="btn btn-default btn-outline btn-primary d-flex align-items-center ml-auto mt-3" [matMenuTriggerFor]="editffm">
      <span>Chỉnh sửa đơn hàng</span>
      <mat-icon class="menu-icon">keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #editffm="matMenu">
      <button mat-menu-item (click)="editFulfillment('shipping')">
        <mat-icon>perm_identity</mat-icon>
        <span>Thông tin người nhận</span>
      </button>
      <button mat-menu-item (click)="editFulfillment('pickup')">
        <mat-icon>perm_identity</mat-icon>
        <span>Thông tin người gửi</span>
      </button>
      <button mat-menu-item (click)="editFulfillment('insurance')">
        <mat-icon>local_atm</mat-icon>
        <span>Giá trị khai giá</span>
      </button>
      <button mat-menu-item (click)="editFulfillment('cod')">
        <mat-icon>local_atm</mat-icon>
        <span>Thu hộ (COD)</span>
      </button>
      <button mat-menu-item (click)="editFulfillment('weight')">
        <mat-icon>crop_landscape</mat-icon>
        <span>Khối lượng</span>
      </button>
      <button mat-menu-item (click)="editFulfillment('shipping_note')">
        <mat-icon>comment_bank</mat-icon>
        <span>Ghi chú</span>
      </button>
    </mat-menu>
</div>
