
.tab-custom {
  text-align: center;
  position: relative;
  padding-left: 0;

  li {
    display: inline-block;
    padding: 6px 20px;
    color: var(--primary-color);
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1) !important;
    cursor: pointer;
    margin-bottom: 12px;
    position: relative;
    
    &.none-after::after {
      content: '';
      height: 0 !important;
    }

    &::after {
        content: "";
        height: 3px;
        width: 1.5rem;
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        right: -1.5rem;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    &.active {
      color: white;
      background-color: var(--primary-color)
    }
  }

}

.tab-content {
  height: 100%;
}

.loading-box {
  margin: auto;
  height: 100%;
  position: relative;

  >.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}