<div *ngIf="display_progress_bar" class="progress progress-bar-bottom" style="height: 3px; border-radius: 0;">
  <div
    class="progress-bar bg-topship" role="progressbar"
    [style.width.%]="progress_percent" [attr.aria-valuenow]="progress_percent"
    [attr.aria-valuemin]="0" [attr.aria-valuemax]="100">
  </div>
</div>
<div class="d-flex h-100">
  <div class="h-100 order-list" style="width: 60%; overflow-y: auto;" [sharedAsyncScroll]="scroll_id">
    <ng-container *ngFor="let order of orders; let i = index;">
      <ng-container *ngIf="selectedOrder(order); else notSelected;">
        <ng-container *ngIf="!canCreateFulfillment(order)">
          <div class="order-item active-ffm" *ngIf="order?.activeFulfillment?.shipping_code">
            <img class="provider-logo" [src]="order?.activeFulfillment?.shipping_provider_logo" alt="">
            <span>{{order?.activeFulfillment?.shipping_code}}</span>
          </div>
          <div class="order-item d-flex align-items-center" *ngIf="!order?.activeFulfillment?.shipping_code">
            <div class="order-status order-{{order?.activeFulfillment?.shipping_state}}">
              {{order?.activeFulfillment?.shipping_state_display}}
            </div>
            <button class="btn btn-topship text-white ml-4" (click)="reCreateFFM(order)">Tạo lại</button>
          </div>
        </ng-container>
        <div *ngIf="canCreateFulfillment(order)" class="order-item"
          [class.no-address]="noAddress(order) || noWeight(order)">
          <shop-multi-delivery-fast-row
            [order]="order" [isFirstItem]="i == 0"
            (selectShippingService)="getServices(ship_service_option, order?.id)">
          </shop-multi-delivery-fast-row>
        </div>
      </ng-container>
      <ng-template #notSelected>
        <div class="order-item not-selected">
          <i class="fas fa-minus"></i>
        </div>
      </ng-template>
    </ng-container>
  </div>
  <div class="h-100" style="width: 40%; overflow-y: auto; overflow-x: hidden;">
    <shop-multi-order-shipping-fast
      [loading]="creating_ffm"
      [calculating_fee]="getting_services"
      (createFfm)="createFFM()">
    </shop-multi-order-shipping-fast>
  </div>
</div>
