<div class="modal-header">
  <div class="modal-title big-font">
    Chỉnh sửa thông tin đơn giao hàng <span class="big-font text-primary">{{ffm?.shipping_code}}</span>
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <mat-radio-group color="primary" [(ngModel)]="updateFulfillmentType" (ngModelChange)="selectUpdateType()">
    <div class="mb-3">
      <mat-radio-button disableRipple value="full_name">
        Chỉnh sửa tên người nhận
      </mat-radio-button>
      <div class="row mt-2">
        <div class="col-6 py-2">
          <etop-material-input type="custom" textLabel="Tên hiện tại" [disabled]="true">
            <span class="read-only">{{ffm?.shipping_address?.full_name}}</span>
          </etop-material-input>
        </div>
        <div class="col-6 py-2">
          <etop-material-input
            [disabled]="updateFulfillmentType != 'full_name'"
            type="input" textLabel="Tên mới" placeholder="Nhập tên mới"
            [(ngModel)]="editData.full_name">
          </etop-material-input>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <mat-radio-button disableRipple value="phone">
        Chỉnh sửa số điện thoại người nhận
      </mat-radio-button>
      <div class="row mt-2">
        <div class="col-6 py-2">
          <etop-material-input type="custom" textLabel="Số điện thoại hiện tại" [disabled]="true">
            <span class="read-only">{{ffm?.shipping_address?.phone}}</span>
          </etop-material-input>
        </div>
        <div class="col-6 py-2">
          <etop-material-input
            [disabled]="updateFulfillmentType != 'phone'"
            type="input" textLabel="Số điện thoại mới" placeholder="Nhập số điện thoại mới"
            [(ngModel)]="editData.phone">
          </etop-material-input>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <mat-radio-button disableRipple value="total_cod_amount">
        Chỉnh sửa tiền thu hộ
      </mat-radio-button>
      <div class="row mt-2">
        <div class="col-6 py-2">
          <etop-material-input type="custom" textLabel="Tiền thu hộ hiện tại" [disabled]="true">
            <span class="read-only">{{ffm?.total_cod_amount | number}}đ</span>
          </etop-material-input>
        </div>
        <div class="col-6 py-2">
          <etop-material-input-format-number
            [disabled]="updateFulfillmentType != 'total_cod_amount'"
            textLabel="Tiền thu hộ mới" placeholder="Nhập tiền thu hộ mới" formatNumberUnit="đ"
            [(ngModel)]="editData.total_cod_amount">
          </etop-material-input-format-number>
        </div>
        <div class="col-12">
          <mat-checkbox color="primary" [(ngModel)]="editData.is_partial_delivery" disableRipple>
            Giao 1 phần
          </mat-checkbox>
        </div>
      </div>
    </div>
  </mat-radio-group>

  <div class="mb-3">
    <etop-material-input
      [maxRow]="4" type="text-area" textLabel="Lý do cập nhật" placeholder="Nhập lý do cập nhật"
      [(ngModel)]="editData.admin_note">
    </etop-material-input>
  </div>

  <div *ePermissions="['admin/fulfillment:update']">
    <mat-checkbox color="primary" [(ngModel)]="addShippingFeeAdjustment" disableRipple>
      Tính phí thay đổi thông tin
    </mat-checkbox>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button class="btn btn-primary text-white" (click)="confirm()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Xác nhận
  </button>
</div>

