<div class="box setting-box mt-0">
  <div class="setting-header">Admin</div>
  <div class="setting-body">
    <div class="row">
      <div class="table-responsive">
        <div class="loading" *ngIf="initializing; else initialized;">
          <i class="fa fa-spin fa-circle-o-notch"></i>
        </div>
        <ng-template #initialized>
          <table class="w-100">
            <thead>
            <tr class="table-head">
              <th>Tên</th>
              <th>Email</th>
              <th>Vai trò</th>
              <th style="max-width: 8rem;"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!admins?.length">
              <td colspan="4" class="empty-list">
                Cửa hàng của bạn chưa có nhân viên.
              </td>
            </tr>
            <tr *ngFor="let admin of admins;" admin-account-row [admin]="admin" (changed)="getAdmins()"></tr>
            </tbody>
          </table>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="setting-footer">
    <div class="text-right w-100">
      <button (click)="createAdmin()" class="btn btn-primary">
        Thêm admin
      </button>
    </div>
  </div>
</div>
