<div class="hold-transition wrapper-login">
  <div class="login-box">
    <div class="login-logo">
      <img src="/assets/images/logo_dual.png" alt="">
    </div>
    <div class="login-box-body p-0">
      <form role="form" class="form-horizontal p-0" #form="ngForm">
        <div class="p-3 m-1 text-center">
          <span class="font-weight-bold">Xác nhận số điện thoại</span>
        </div>
        <div class="p-3 border-top">
          <div class="row">
            <label for="token" required class="col-sm-4 control-label mb-0 align-self-center">
              Mã xác nhận:
            </label>
            <div class="col-sm-8">
              <input name="token" type="text" class="form-control" [readonly]="phoneVerified"
                placeholder="Mã xác nhận trong tin nhắn" [(ngModel)]="token" />
            </div>
          </div>
          <div class="mt-2" *ngIf="!error">
            <span class="mr-2">
              <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" *ngIf="loading"></i>
              <i class="fa fa-check-circle-o text-primary" aria-hidden="true" *ngIf="!loading && phoneVerified"></i>
            </span>
            <span *ngIf="loading && !phoneVerified">Đang xác minh số điện thoại</span>
            <span *ngIf="!loading && phoneVerified">Số điện thoại đã được xác minh!</span>
          </div>
          <div class="mt-2" *ngIf="error" class="mt-2">
            <small class="text-danger">
              {{errorMsg}}
            </small>
          </div>
          <div class="row">
            <div class="col-sm-2">
            </div>
          </div>
        </div>
        <div class="p-3 border-top d-flex flex-row-reverse justify-content-between">
          <button class="btn btn-primary" *ngIf="phoneVerified" (click)="gotoDashboard()">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Về trang chủ
          </button>
          <button class="btn btn-primary" type="submit" *ngIf="!phoneVerified" [disabled]="!form.form.valid || loading"
            (click)="verifyPhone()">
            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" style="font-size: 12" *ngIf="loading"></i>
            Xác nhận
          </button>
          <button class="btn btn-primary btn-outline text-primary" *ngIf="!phoneVerified" (click)="resendCode()">
            <i class="fas fa-sync-alt mr-1"></i>
            Gửi lại mã <span [hidden]="!countDown">({{countDown}}s)</span>
          </button>
        </div>
        <div class="p-3 pt-1 border-top text-left" style="background: var(--lighter-gray-color);">
          <a href="https://www.etop.vn/nhom-bai-viet/huong-dan-etop-pos" class="align-self-center text-primary"
            target="_blank">
            <i class="fa fa-question-circle text-primary" aria-hidden="true"></i>
            Hướng dẫn sử dụng
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
