.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  ion-icon {
    margin-right: 0.5rem;
    color: var(--ion-color-success-shade);
  }
}

.ledger-item {
  padding: 1rem .5rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:focus, &:active {
    color: #fff;
    background: var(--primary-color);
    outline: 0;
  }
}

.ledger-info {
  width: 75%;
  padding-right: 1rem;
}

.add-ledger {
  font-size: 2.3rem;
}
