.box-content {
  border-top: 1rem solid rgba(0, 0, 0, 0.04);
}

.item {
    padding-left: 1rem;
    margin-bottom: 2rem;
    .item-label {
        color: rgba(0, 0, 0, 0.6);
    }
}


th {
    font-weight: 600;
    font-size: 0.9rem;
    color: #afafaf;
    padding: 7px 15px;
    border-bottom: 1px solid var(--border-gray-color);
    border-top: 1px solid var(--border-gray-color);
}
td {
    padding: 10px 15px;
}
tr {
    border-bottom: 1px solid var(--border-gray-color);
}

thead {
    background: rgba(0, 0, 0, 0.01);
}
.icon-btn {
    cursor: pointer;
    font-size: 1.3rem !important;
}

