.status-call-log {
  text-align: center;
  padding: 1rem 0rem;
  border-right: 1px solid var(--default-border-color);
  .status-name {
    text-transform: uppercase;
  }
  .status-icon {
    font-weight: bold;
    font-size: 2.5rem !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
}
.info-call-log {
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
  .customer-name {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .info-customer {
  }
}
.action-call-log {
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  .action {
    cursor: pointer;
    padding: 0.5rem 1.25rem;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--default-border-color);
    max-width: 9rem;
    margin-left: auto;
    mat-icon {
      font-size: 1.5rem !important;
      width: 1.5rem !important;
      height: 1.5rem !important;
      margin-right: 0.25rem;
    }
  }
}
mat-icon {
  font-size: 2.5rem!important;
}
