<ion-header>
    <ion-toolbar>
        <ion-title class="text-medium">Tạo đơn giao hàng</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list class="ion-padding-end order-lines" [formGroup]="fulfillmentForm">
        <ion-item lines="none" class="input-wrapper line-custom">
            <ion-label position="floating">Địa chỉ lấy hàng(*)</ion-label>
            <ion-input (click)="changeAddress('shipfrom')" readonly [value]="pickupAddressForm?.value | addressDisplay">
            </ion-input>
        </ion-item>
        <ion-item lines="none" class="input-wrapper line-custom">
            <ion-label position="floating">Địa chỉ giao hàng(*)</ion-label>
            <ion-input (click)="changeAddress('shipto')" readonly [value]="shippingAddressForm?.value | addressDisplay">
            </ion-input>
        </ion-item>
        <ion-row>
            <ion-col size="6" class="ion-no-padding">
                <etop-ion-input-format-number lines="none" cssClass="line-custom" [topshipInput]="true" textLabel="Khối lượng gói hàng(*)" formatNumberUnit="g" formControlName="chargeable_weight" (blur)="onFormBlur();">
                </etop-ion-input-format-number>
            </ion-col>
            <ion-col size="6" class="ion-no-padding" style="position: relative;">
                <etop-ion-input-format-number lines="none" cssClass="line-custom" [topshipInput]="true" id="codInput" textLabel="Thu hộ(*)" formatNumberUnit="đ" formControlName="cod_amount" (focus)="suggestions = true; focusSuggest()" (blur)="hideSuggest(); onFormBlur();">
                </etop-ion-input-format-number>
                <ion-toolbar class="suggestions" *ngIf="suggestions">
                    <div class="suggest-item" (click)="codSelected(0)">
                        <ion-text>0đ</ion-text>
                    </div>
                    <div class="suggest-item" (click)="codSelected(total_amout)">
                        <ion-text>{{total_amout | vnd}}đ</ion-text>
                    </div>
                </ion-toolbar>
            </ion-col>
        </ion-row>
        <ion-item lines="none" class="input-wrapper line-custom">
            <ion-label position="floating">Ghi chú xem hàng</ion-label>
            <ion-select [interfaceOptions]="customAlertOptions" placeholder="Chọn ghi chú xem hàng" formControlName="try_on">
                <ion-select-option *ngFor="let option of tryOnOptions" [value]="option?.value">
                    {{option?.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item lines="none" class="input-wrapper line-custom">
            <ion-label position="floating">Ghi chú giao hàng</ion-label>
            <ion-input formControlName="shipping_note"></ion-input>
        </ion-item>
        <div class="ion-padding ion-align-items-center ion-flex">
            <ion-checkbox mode="md" color="primary" formControlName="include_insurance">
            </ion-checkbox>
            <ion-text style="margin-left: .5rem;" (click)="toggleInsurance()">Đóng bảo hiểm cho hàng hoá</ion-text>
        </div>
    </ion-list>
    <etop-ion-shipment-service-options #shipmentServicesOptions (serviceSelect)="onSelectShipmentService($event)">
    </etop-ion-shipment-service-options>
</ion-content>
<ion-footer>
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <button class="w-100 btn-topship text-white footer-button-item" (click)="createShipment()">
        Tạo đơn giao hàng
      </button>
        </div>
    </ion-toolbar>
</ion-footer>