.btn-topship {
    border-radius: 0;
}

.suggestions {
    position: absolute;
    z-index: 9999 !important;
    width: calc(100% - 1.7rem);
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background: white;
    .suggest-item {
        padding: 0.5rem;
    }
}

.item {
    contain: none !important;
}

.ion-color-primary {
    --ion-color-base: var(--topship-color) !important;
}

.ion-text-line-custom {
    border-width: 0px 0px 2px!important;
    border: solid #ccc;
}