:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.full {
    height: 100%
  }
}

.empty-icon {
  margin-bottom: .8rem;
}

.empty-title,
.empty-subtitle {
  margin: .4rem auto;
}

.empty-action {
  margin-top: .8rem;
}
