<etop-not-permission *ngIf="noPermission; else enoughPermission;"></etop-not-permission>
<ng-template #enoughPermission>
  <div class="total">
    <div class="total-section justify-content-between">
      <div class="total-item">
        <div class="d-flex align-items-center date-range-picker">
          <ng-container *ngIf="!transactions.length; else filterDone;">
            <mat-form-field appearance="standard">
              <mat-label>Khoảng thời gian</mat-label>
              <mat-date-range-input [rangePicker]="picker" [formGroup]="filterRange">
                <input matStartDate placeholder="Từ ngày" formControlName="from">
                <input matEndDate placeholder="Đến ngày" formControlName="to">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button class="btn btn-primary btn-filter-transaction" (click)="startFilterTransactions()"
                    [disabled]="transactionTable.loading">
              <mat-spinner *ngIf="transactionTable.loading" class="mr-2" diameter="14"></mat-spinner>
              Quét phiên
            </button>
          </ng-container>
          <ng-template #filterDone>
            <div style="font-weight: 700; font-size: 1rem;">
              Dự trù phiên shop từ {{filterRange.controls.from.value | date: "dd/MM/yyyy"}} - {{filterRange.controls.to.value | date: "dd/MM/yyyy"}}
            </div>
            <button class="btn btn-primary btn-filter-transaction" (click)="transactions = []">
              Thử lại
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content pb-0">
    <div class="page-wrapper">
      <etop-table
        #transactionTable
        [items]="transactions"
        [show_paging]="false"
        [perpage]="10" [perpage_array]="[10]">
        <ng-template #header let-liteMode="liteMode">
          <div class="col" style="max-width: 8rem;">
            <span class="table-header-text">Ngày</span>
          </div>
          <div class="col" style="max-width: 25rem;">
            <span class="table-header-text">Phiên Vietcombank</span>
          </div>
          <div class="col" style="max-width: 25rem;">
            <span class="table-header-text">Phiên Techcombank</span>
          </div>
          <div class="col" style="max-width: 25rem;">
            <span class="table-header-text">Phiên Liên ngân hàng</span>
          </div>
          <div class="col" style="max-width: 25rem;">
            <span class="table-header-text">Tổng</span>
          </div>
          <div class="col">
            <span class="table-header-text">Lịch CK được áp dụng</span>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <div class="blank-page">
            <div>
              <img
                class="blank-img"
                src="assets/images/admin/icon_transaction.png"
                alt="empty list"
              />
            </div>
            <div class="info">
              <div class="text-bigger text-bold text-center m-2">
                Chưa có phiên dự trù
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #item let-mt="item" let-liteMode="liteMode">
          <div
            class="row table-row" admin-mt-scheduled-row
            [transaction]="mt" [liteMode]="liteMode">
          </div>
        </ng-template>
      </etop-table>
    </div>
  </div>
</ng-template>
