<div *ngIf="allowView; else notPermission" class="h-100 d-flex align-items-start flex-column">
  <shop-pos-header class="no-print"></shop-pos-header>
  <shop-pos-body></shop-pos-body>
</div>
<ng-template #notPermission>
  <etop-not-permission></etop-not-permission>
</ng-template>
