<div class="col align-self-center ">
  <span *ngIf="product?.code" class="font-weight-bold text-primary" style="word-break: break-word;">
    {{product?.code}}
  </span>
  <span *ngIf="!product?.code">
    <i class="fa fa-minus"></i>
  </span>
</div>
<div class="col align-self-center align-items-center d-flex ffm-info" style="cursor: pointer; min-width: 200px;">
  <div class="product-image" [style.background-image]="product?.bg_image"></div>
  <strong class="product-name">{{product?.name | trimTooLong: 35}}</strong>
</div>
<div class="col align-self-center " *ngIf="!liteMode">
  <div>
    <span class="badge etop-badge badge-primary">{{product?.variants?.length  || 0}} mẫu mã</span>
  </div>
</div>
<div class="col align-self-center">
  <div class="price text-left" *ngIf="variantAmount >= 2 && minPrice != maxPrice; else priceProduct"><strong>{{minPrice | vnd }}đ</strong> - <strong>{{maxPrice | vnd }}đ</strong> </div>
  <ng-template #priceProduct>
    <div class="price text-left" ><strong>{{product?.price | vnd }}đ</strong></div>
  </ng-template>
</div>
