<div class="content">
  <div class="product-info p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="input-item col-12">
            <etop-material-input placeholder="Tên khách hàng*" textLabel="Tên khách hàng*"
                                 [(ngModel)]="contact.full_name" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input placeholder="Số điện thoại*" textLabel="Số điện thoại*"
                                 [(ngModel)]="contact.phone" type="input">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
    <div class="actions p-0 pt-3 text-right">
      <button class="btn btn-primary text-white" [disabled]="loading" (click)="create()">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
        Tạo liên hệ
      </button>
    </div>
  </div>
</div>
