<ng-content></ng-content>
<div class="col align-self-center align-items-center d-flex small-cell" style="cursor: pointer;">
  <div class="fa fa-minus" *ngIf="!supplier?.code"></div>
  <div *ngIf="supplier?.code" class="font-weight-bold text-primary">{{supplier?.code}}</div>
</div>
<div class="col align-self-center">
  <div class="fa fa-minus" *ngIf="!supplier?.full_name"></div>
  <div *ngIf="supplier?.full_name">{{supplier?.full_name}}</div>
</div>
<div class="col align-self-center">
  <div class="fa fa-minus" *ngIf="!supplier?.phone"></div>
  <div *ngIf="supplier?.phone">{{supplier?.phone}}</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="fa fa-minus" *ngIf="!supplier?.email"></div>
  <div *ngIf="supplier?.email">{{supplier?.email}}</div>
</div>
<div class="col align-self-center">
  <div class="fa fa-minus" *ngIf="!supplier?.company_name"></div>
  <div *ngIf="supplier?.company_name">{{supplier?.company_name}}</div>
</div>
