<div class="modal-header">
  <h5 class="modal-title">Thêm bưu cục</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <etop-material-input
      type="input" textLabel="Tên bưu cục" placeholder="Tên bưu cục"
      [(ngModel)]="shopName">
    </etop-material-input>
</div>
<div class="modal-footer">
  <button class="btn btn-outline btn-default mr-2" (click)="closeModal()">Đóng</button>
  <button class="btn btn-primary text-white" (click)="createShop()" [disabled]="loading">
    <mat-spinner *ngIf="loading" class="mr-2" diameter="14"></mat-spinner>
    Xác nhận
  </button>
</div>
