:host {
    height: 100%;
  }
  
  .action {
    padding: 15px;
    color: var(--dark-color);
  }
  
  .action-title {
    font-weight: 700;
  }
  
  .action-desc {
    font-size: 11px;
    font-style: italic;
    color: var(--default-color);
  }
  
  .action-detail {
    .btn {
      padding: 5px 20px;
      font-size: 11px;
      border-radius: 5px;
    }
    .carriers {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      height: 30px;
      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        object-position: center;
      }
    }
    .note {
      font-size: 10px;
      color: var(--default-color);
      text-align: center;
      margin-top: 5px;
    }
  }
  