<div *ePermissions="['shop/fulfillment:view']" class="action">
    <div class="action-title">PHIẾU IN</div>
    <div class="action-desc">
      In thông tin đơn giao hàng của bạn.
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <div class="action-detail">
          <button class="btn btn-full btn-outline btn-primary" (click)="printFulfillments()">
            Giao hàng
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ePermissions="['shop/fulfillment:export']" class="action">
    <div class="action-title">XUẤT DỮ LIỆU</div>
    <div class="action-desc">
      Xuất file Excel các dữ liệu về đơn giao hàng.
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <div class="action-detail">
          <button
          class="btn btn-full btn-outline" [class.btn-primary]="!allNullActiveFfm" [class.btn-default]="allNullActiveFfm"
          [disabled]="allNullActiveFfm" (click)="exportFFM()">
          Đơn giao hàng
        </button>
        </div>
      </div>
    </div>
  </div>
