
.dropdown {
  cursor: pointer;
  width: 34px;
  text-align: center;
  height: auto;
  padding: 7px 0;
}

.dropdown-menu {
  min-width: 200px;
  background: var(--white-color);
  border: 1px solid var(--border-gray-color);
  box-shadow: 0 0 10px 3px rgba(0,0,0,.07);
  border-radius: 7px;
  padding: 0;
  .dropdown-item {
    border-bottom: 1px solid var(--border-gray-color);
    padding: 10px;
    cursor: pointer;
    &:first-child {
      border-radius: 7px 7px 0 0;
    }
    &:last-child {
      border-radius: 0 0 7px 7px;
    }
  }
}
