<div class="modal-header">
  <div class="modal-title">
    Huỷ {{title}}
    <div class="modal-subtitle" *ngIf="subtitle">{{subtitle}}</div>
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="reasons?.length">
    <div class="mb-1 text-center big-font">Vui lòng chọn lí do hủy</div>
    <div *ngFor="let r of reasons; let i = index"
         class="form-check" [ngClass]="{'active': i+1 == active_idx}" (click)="chooseReason(r, i)">
      <input class="form-check-input" type="radio" [checked]="i+1 == active_idx">
      <label class="form-check-label">
        {{r}}
      </label>
    </div>
    <div class="form-check" [ngClass]="{'active': active_idx == 0}" (click)="chooseReason()">
      <input class="form-check-input" [checked]="active_idx == 0" type="radio">
      <label class="form-check-label" >
        Lí do khác
      </label>
    </div>
  </ng-container>
  <div class="pt-2">
    <div style="margin-bottom: 0.4rem;" *ngIf="!reasons?.length">
      Bạn có chắc muốn huỷ {{title}}?
    </div>
    <etop-material-input
      placeholder="Lý do huỷ" textLabel="Lý do huỷ" type="text-area"
      minRow="5" maxRow="7"
      [(ngModel)]="other_reason" (click)="chooseReason()">
    </etop-material-input>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button class="btn btn-danger text-white" [disabled]="loading" (click)="cancel()">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
    Huỷ
  </button>
</div>
