:host {
  min-width: 500px;
  width: 500px;
}

.pos-form {
  height: calc(100% - 8.5rem);
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid var(--border-gray-color);
  box-shadow: 2px 11px 15px 0 rgba(0, 0, 0, 0.11);
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}

.buttons {
  position: absolute;
  height: 8.5rem;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  border-left: 1px solid var(--border-gray-color);
  border-top: 1px solid var(--border-gray-color);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, .1);
}

.print-section {
  width: 100%;
  padding: 1rem;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-gray-color);
  .fa-print {
    font-size: 1.25rem;
  }
}

.dropdown-menu {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
  border: 1px solid #fafafa;
  border-radius: 5px;
  margin: 0 !important;
  padding: 0;
  .dropdown-item {
    padding: .8rem 1.25rem;
    outline: 0 !important;
    border-bottom: 1px solid var(--border-gray-color);
    &:active {
      background: initial;
    }
    &:first-child {
      border-radius: .25rem .25rem 0 0;
    }
    &:last-child {
      border-radius: 0 0 .25rem .25rem;
      border-bottom: none;
    }
  }
}

.unavailable {
  background: #999;
  border-color: #999 !important;
  cursor: not-allowed;
  opacity: .7;
}
