<div class="pos-form bg-white">
  <div class="pos-form-content">
    <shop-pos-customer
      *ePermissions="['shop/customer:view', 'shop/fulfillment:create']" [order]="order"
      (updateOrder)="updateNewOrder()">
    </shop-pos-customer>
    <shop-pos-order-info
      *ePermissions="['shop/order:create', 'shop/fulfillment:create']" [order]="order"
      (updateOrder)="updateNewOrder()" (toggle)="onToggle($event)">
    </shop-pos-order-info>
    <div *ePermissions="['shop/fulfillment:create']" class="pos-line">
      <div class="d-flex align-items-center card-header-item bg-topship">
        <div class="flex-grow-1 font-weight-bold text-white header-title">
          GIAO HÀNG
        </div>
        <span class="pr-2 text-white">Bật để tạo đơn giao hàng</span>
        <span class="topship-toggle">
          <label class="switch mb-0">
            <input type="checkbox" (click)="toggleSwitch()" [checked]="to_create_ffm">
            <span class="slider-toggle round"></span>
          </label>
        </span>
      </div>
      <shop-delivery></shop-delivery>
    </div>
  </div>
</div>
<div class="buttons">
  <div class="d-flex p-3">
    <ng-container *ngIf="!to_create_ffm; else creatingFFM;">
      <!--NOTE: just temporary for a short time, will uncomment and set width of Confirm button to 65% soon -->
      <!--      <button-->
      <!--        *ePermissions="['shop/order:create']"-->
      <!--        class="btn btn-outline btn-primary" style="width: 35%;"-->
      <!--        [disabled]="loading" (click)="create(false)">-->
      <!--        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && !createAndConfirm"></i>-->
      <!--        Đặt hàng-->
      <!--      </button>-->
      <button
        *ePermissions="['shop/fulfillment:create']"
        class="btn btn-primary text-white" style="width: 100%;"
        [disabled]="loading" (click)="create(true)">
        <mat-spinner *ngIf="loading" class="mr-2" diameter="14"></mat-spinner>
        Tạo và xác nhận hoá đơn
      </button>
    </ng-container>
    <ng-template #creatingFFM>
      <button
        *ePermissions="['shop/fulfillment:create']" class="btn btn-topship text-white" style="width: 100%;"
        [disabled]="loading"
        [class.unavailable]="notVerifiedConnection$ | async"
        ngbTooltip="Cần xác thực tài khoản với {{(selectedConnection$ | async)?.name_display}} để có thể sử dụng dịch vụ giao hàng tạm ứng. Tạm thời, bạn có thể chuyển số tiền tạm ứng về 0đ để tiếp tục tạo đơn"
        [disableTooltip]="!(notVerifiedConnection$ | async)"
        (click)="createOrderWithFFM()">
        <mat-spinner *ngIf="loading" class="mr-2" diameter="14"></mat-spinner>
        Tạo hoá đơn và giao hàng
      </button>
    </ng-template>
  </div>
  <div class="print-section">
    <div class="print-types">
      <span class="text-default">
        <i class="fa fa-print text-default"></i> In:
      </span>
      <span class="text-primary cursor-pointer" data-toggle="dropdown">
        {{print_type?.display}}
        <i class="fa fa-angle-down text-primary"></i>
      </span>
      <div class="dropdown-menu">
        <button
          *ngFor="let pt of print_types" (click)="selectPrintType(pt)"
          class="dropdown-item" [class.unclickable]="isDisabledPrintType(pt?.type)">
          {{pt?.display}}
        </button>
      </div>
    </div>
    <div class="print-toggle">
      <span class="pr-2 text-default">Bật để in</span>
      <span>
        <label class="switch mb-0">
          <input type="checkbox" (click)="togglePrint()" [checked]="to_print">
          <span class="slider-toggle round"></span>
        </label>
      </span>
    </div>
  </div>
</div>
