<ng-container *ngIf="(activeMtShops$ | async)?.length;">
  <div class="slider-detail-section">
    <div class="table-responsive">
      <table class="w-100">
        <thead>
        <tr>
          <th>Mã phiên</th>
          <th class="text-right">Số đơn giao hàng</th>
          <th class="text-right">Thu hộ</th>
          <th class="text-right">Còn lại</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mt of (activeMtShops$ | async)">
          <td class="text-bold text-primary">
            {{mt?.code}}
          </td>
          <td class="text-right text-bold">
            {{mt?.total_orders}}
          </td>
          <td class="text-right text-bold">
            {{mt?.total_cod | number}}đ
          </td>
          <td class="text-right text-bold">
            {{mt?.total_amount | number}}đ
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
