<div class="input-wrapper position-relative {{ classInner }}">
  <input
    [hidden]="!show_input" #input placeholder="{{placeholder}}"
    type="number" min="{{ min }}" max="{{ max }}" name="input"
    class="form-control currency-input {{inputClass}} {{classInner}}"
    [(ngModel)]="_value" (keypress)="numberOnly($event)" (ngModelChange)="onUpdate(_value)"
    (blur)="blur.emit()" (focus)="showEdit()">
  <div
    class="showInput form-control {{ classInner }} {{ inputClass }}"
    [class.text-left]="align == 'left'"
    [class.invalid]="invalid_input || errorCOD || error"
    *ngIf="!show_input && (_value || _value == 0); else notValue" (click)="showEdit($event)">
    <span *ngIf="isDiscount">-</span>{{ _value | vnd }}<span *ngIf="posfixText">{{ posfixText }}</span>
  </div>
  <ng-template #notValue>
    <div
      class="showInput form-control placeholder" [class.text-left]="align === 'left'"
      [hidden]="show_input" (click)="showEdit($event)">
      {{ placeholder }}
    </div>
  </ng-template>
  <div [class.show]="isShowMenu" class="dropdown-menu w-100 border-0 p-0">
    <ul [class.hidden]="!options?.length" class="list-option">
      <li *ngFor="let option of options.asArray()" class="{{classInner}}" [class.selected]="option.id == _value"
          (click)="selectOption(option)">
        {{option.value | vnd}}<span *ngIf="posfixText">{{ posfixText }}</span>
      </li>
    </ul>
  </div>
</div>
