.input-wrapper {
  cursor: pointer;
}

.showInput {
  border-radius: 5px;
  text-align: right;

  &.text-left {
    justify-content: flex-start;
  }

  &.placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
    font-weight: normal;
  }
}

.invalid {
  border-bottom: 1px solid red !important;
  color: red !important;
  box-shadow: none;
  border-radius: 0;
}

.currency-input {
  border-radius: 5px;
  cursor: pointer;
}

.form-control {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 70px;
  text-align: right;
  font-weight: 700;
  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media (max-width: 767px) {
  input,
  select,
  .showInput {
    height: unset !important;
  }
}

.list-option {
  max-height: 160px;
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none !important;
  box-shadow: 0 0 4px 0 #95a5a6;
  li {
    padding: 6px 15px;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, .05);
    }
    &.selected {
      color: #33b7d5;
    }
  }

  .dropdown-divider {
    padding: 0;
    margin: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

input[type=number] {
  -moz-appearance: textfield;
}
