 <etop-table
  #orderTable [items]="orderList" [scroll_id]="'orderTable'"
  [show_paging]="orderList.length > 0 && showPaging && !forcedHidePaging" (requestNewPage)="loadPage($event)">
  <ng-template #header let-liteMode="liteMode">
    <div class="col" style="max-width: 50px;">
      <input class="input-custom" type="checkbox" [checked]="checkAll" (click)="allItemSelected()" />
    </div>
    <div class="col" style="width: 15rem;">
      <span class="table-header-text">Mã đơn hàng</span>
    </div>
    <div class="col" style="width: 17rem;">
      <span class="table-header-text">Khách hàng</span>
    </div>
    <div class="col text-left" style="width: 14rem;">
      <span class="table-header-text">Khách phải trả</span>
    </div>
    <div class="col" *ngIf="!liteMode" style="width: 24rem;">
      <span class="table-header-text">Mã giao hàng</span>
    </div>
    <div class="col" style="width: 16.5rem;">
      <span class="table-header-text">Trạng thái</span>
    </div>
    <div class="col" *ngIf="!liteMode" style="width: 16.5rem;">
      <span class="table-header-text">Giao hàng</span>
    </div>
    <div class="col" *ngIf="!liteMode" style="width: 10rem;">
      <span class="table-header-text">Thu chi</span>
    </div>
  </ng-template>

  <ng-template #emptyItem>
    <etop-empty-page [title]="emptyTitle" [type]="emptyType" [actions]="emptyAction"
    description="Bạn có thể tạo từng đơn hàng thông qua POS hoặc sử dụng file Import."></etop-empty-page>
  </ng-template>

  <ng-template #item let-order="item" let-liteMode="liteMode">
    <div class="row table-row" shop-order-row [ngClass]="{
        'active': order.p_data.selected || order.p_data.detailed,
        'un-updatable': order.p_data.selected && order.p_data.un_updatable,
        'just-imported': order.p_data.selected && order.p_data.just_imported
      }" [order]="order" [liteMode]="liteMode" (click)="detail($event, order)">
      <div class="col align-self-center" style="max-width: 50px;">
        <input class="input-custom" type="checkbox" [checked]="order.p_data.selected || false"
          (click)="itemSelected(order)" />
      </div>
    </div>
  </ng-template>
</etop-table>
<etop-side-slider #slider>
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <div *ngIf="multiShipment || multiShipnow" class="close-slide mr-2" (click)="undoDelivery()">
          <i class="fa fa-chevron-left" style="left: 47%; top: 53%;" aria-hidden="true"></i>
        </div>
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>

        <ng-container *ngIf="!toImportOrder">
          <shared-dropdown-actions></shared-dropdown-actions>
        </ng-container>

        <div class="tabs-container"
          *ngIf="showDetailOrder">
          <ng-container *ngFor="let tab of tabs">
            <ng-container *ePermissions="tab.permissions">
              <div *ngIf="!noSupportRequest(tab)"
                class="tab" [class.active]="active_tab == tab.value" (click)="changeTab(tab.value)">
                {{ tab.name }}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
        Đóng<mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-template>
  <ng-container *ngIf="showDetailOrder; else multipleOrders;">
    <shop-order-detail *ngIf="isCancelledOrder(selectedOrders[0]) || hasFulfillment(selectedOrders[0]); else canEditOrder;"
      [order]="selectedOrders[0]">
    </shop-order-detail>
    <ng-template #canEditOrder>
      <shop-order-edit-form [order]="selectedOrders[0]"></shop-order-edit-form>
    </ng-template>
  </ng-container>
  <ng-template #multipleOrders>
    <shop-multiple-order-actions *ngIf="!multiShipment && !multiShipnow && !toImportOrder"
      [orders]="selectedOrders">
    </shop-multiple-order-actions>
    <shop-multi-shipment *ngIf="multiShipment" [orders]="orderList" [scroll_id]="'orderTable'">
    </shop-multi-shipment>
    <shop-multi-shipnow *ngIf="multiShipnow" [orders]="orderList" [scroll_id]="'orderTable'">
    </shop-multi-shipnow>
    <shop-import-order *ngIf="toImportOrder"></shop-import-order>
  </ng-template>
</etop-side-slider>
