<div class="layout">
  <div class="sidebar">
    <core-sidebar #menus [menus]="sideMenus"></core-sidebar>
  </div>
  <div class="body">
    <div class="header">
      <core-header
        [activatedMenu]="menus.currentItem"
        [currentAccount]="currentAccount"
        [accounts]="accounts"
        [user]="user"
      >
      </core-header>
      <a href="https://facebook.com" target="_blank">Test link</a>
    </div>
    <div class="content">
      <button class="btn btn-primary" (click)="showModal()">
        Show
      </button>
    </div>
  </div>
</div>
