<h1 class="bg-danger text-white py-2" *ngIf="adminLoginMode">Debug mode</h1>
<div class="layout">
  <core-new-sidebar
    class="no-print" [class.hidden]="!showNewSidebar || hideSidebar"
    #menus [menus]="sideMenus">
  </core-new-sidebar>
  <core-sidebar
    class="sidebar no-print" [class.hidden]="showNewSidebar || hideSidebar"
    #menus [menus]="sideMenus">
  </core-sidebar>
  <div class="body">
    <div class="header no-print" [class.hidden]="hideHeader">
      <core-header
        [showNotificationIcon]="showNotificationIcon" [isSingle]="isSingle"
        [showForgotPassword]="showForgotPassword" [activatedMenu]="menus.currentItem"
        [currentAccount]="currentAccount$ | async" [accounts]="accounts$ | async" [user]="user$ | async"
        [config]="config"
      >
      </core-header>
    </div>
    <core-verify-warning *ngIf="showVerifyWarning"></core-verify-warning>
    <core-tenant-warning *ngIf="showTenantWarning"></core-tenant-warning>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
