<div class="login-wrapper" *ngIf="!loadingView; else hasLoading">
  <div class="login-title">
    <mat-icon fontSet="material-icons-outlined">view_list</mat-icon>
    {{config?.name}}
  </div>

  <div class="login-box">
    <div class="login-box-header">
      {{loginBoxHeaderTitle}}
    </div>

    <div class="login-box-body">
      <ng-container [ngSwitch]="loginStep">
        <ng-container *ngSwitchCase="1">
          <etop-material-input
            appearance="standard" type="input" textLabel="Số điện thoại" placeholder="Số điện thoại"
            [(ngModel)]="phone" (keyup.enter)="onPhoneSubmit()">
          </etop-material-input>
          <button class="btn btn-primary text-white" [disabled]="loading" (click)="onPhoneSubmit()">
            <mat-spinner *ngIf="loading" class="mr-2" diameter="15"></mat-spinner>
            Tiếp tục
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <div style="margin-bottom: 1.5rem;">
            Một mã xác thực đã được gửi đến số điện thoại <b>{{phone}}</b>,
            vui lòng kiểm tra tin nhắn điện thoại và nhập mã vào ô bên dưới.
          </div>
          <etop-material-input
            #otpInput appearance="standard" type="input" textLabel="Mã xác thực" placeholder="Mã xác thực"
            [(ngModel)]="verifyCode" (keyup.enter)="onOtpSubmit()">
          </etop-material-input>
          <button class="btn btn-primary text-white" [disabled]="loading" (click)="onOtpSubmit()">
            <mat-spinner *ngIf="loading" class="mr-2" diameter="15"></mat-spinner>
            Xác thực
          </button>
        </ng-container>
      </ng-container>
    </div>

    <div class="login-box-footer">
      <ng-container [ngSwitch]="loginStep">
        <ng-container *ngSwitchCase="1">
          <div class="d-flex align-items-center">
            <mat-icon fontSet="material-icons-outlined">announcement</mat-icon>
            <div style="line-height: 1.25;">
              Vui lòng nhập số điện thoại bạn đang sử dụng, một mã xác thực (OTP) sẽ được gửi đến bạn ở bước sau.
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <div>
            Không nhận được mã xác thực?
            <b
              class="text-primary"
              [class.cursor-not-allowed]="countdown" [class.cursor-pointer]="!countdown"
              style="opacity: .5;" (click)="reSendPhoneVerification()">
              Gửi lại <b *ngIf="countdown">({{countdown}})</b>
            </b>
            hoặc
            <b class="text-primary cursor-pointer" (click)="changePhone()">
              Thay đổi số điện thoại
            </b>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #hasLoading>
  <div class="login-wrapper">
    <div>
      <img src="{{config?.logo}}" alt="" width="100px">
    </div>
    <img src="{{config?.loadingSvg}}" alt="" width="80px" style="margin-top: -10px">
  </div>
</ng-template>

