.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5a5a5a;
  padding-top: 5rem;
}

.login-title {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  .mat-icon {
    font-size: 2.5rem !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    margin-right: .5rem;
    color: var(--primary-color);
  }
}

.all-carrier-logos {
  display: flex;
  margin-top: 1rem;
  .carrier-image {
    margin-right: .5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.login-box {
  box-shadow: 0 0 10px 3px rgba(0,0,0,.08);
  border-radius: 10px;
  border: 1px solid var(--gray-color);
  margin-top: 3rem;
  max-width: 50rem;
  .login-box-header, .login-box-body, .login-box-footer {
    padding: 1.5rem;
  }
  .login-box-header {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--gray-color);
  }
  .login-box-body {
    .btn {
      width: 100%;
      margin-top: 1.5rem;
      padding: .75rem 2.5rem;
      font-size: 1.1rem;
    }
  }
  .login-box-footer {
    border-top: 1px solid var(--gray-color);
    .mat-icon {
      font-size: 1.5rem !important;
      width: 1.5rem !important;
      height: 1.5rem !important;
      margin-right: .5rem;
    }
  }
}
