<div class="modal-header">
  <div class="modal-title big-font">
    Nội dung popup hướng dẫn nạp tiền
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <span class="title pre-line" [innerHTML]="banner | safeHtml"></span>
<!--  <div>-->
<!--    Bạn có chắc muốn chặn user <strong class="text-primary">{{user?.full_name}}</strong>?-->
<!--    Vui lòng nhập lý do chặn:-->
<!--  </div>-->
<!--  <div class="py-2">-->
<!--    <etop-material-input-->
<!--      textLabel="Lý do chặn" placeholder="Nhập lý do chặn" type="text-area"-->
<!--      [(ngModel)]="block_reason">-->
<!--    </etop-material-input>-->
<!--  </div>-->
</div>
