<ion-header>
  <ion-toolbar>
    <ion-title>Gửi tin nhắn đến {{consversation.external_user_name}}</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="close-outline" (click)="dismiss()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-flex">
  <ion-item class="ion-margin-bottom">
    <ion-label position="floating">Nội dung tin nhắn</ion-label>
    <ion-input placeholder="Nội dung tin nhắn" [(ngModel)]="text"></ion-input>
  </ion-item>
</ion-content>
<ion-footer class="footer-button-wrapper">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="senMessage()">
        Gửi tin nhắn
      </button>
    </div>
  </ion-toolbar>
</ion-footer>