<div class="import-actions">
  <div class="import-input">
    <input (change)="onSelectFile($event)" type="file" hidden accept=".xlsx" #inputImport>
    <label class="custom-file-label mb-0" (click)="uploadFile()">
      {{ordersImportFile && ordersImportFile.name ? ordersImportFile.name : "Upload từ máy tính của bạn"}}
    </label>
  </div>
  <div class="button-wrapper d-flex align-items-center justify-content-between">
    <a class="btn text-primary not-button" href="dl/imports/shop_orders.v1b.xlsx">
      <i class="fa fa-download mr-1 text-primary"></i>
      Tải file import mẫu
    </a>
    <div>
      <button class="btn btn-outline btn-primary" *ngIf="importSuccess" (click)="reset()">
        Import file khác
      </button>
      <button class="btn btn-primary ml-3" *ngIf="importSuccess" (click)="createFFM()">
        Tạo đơn giao hàng
      </button>
      <button *ngIf="!importSuccess" class="btn btn-primary ml-3" (click)="import()" [disabled]="importing">
        <i class="fa fa-circle-o-notch fa-spin" *ngIf="importing"></i>
        Import
      </button>
    </div>
  </div>
</div>
<div class="import-result-wrapper">
  <div *ngIf="hasImportResult" class="result">
    <div class="text-center import-result-summary e-border-bottom">
      Import thành công&nbsp;<strong>{{orders.length}}</strong>/{{total_rows}} đơn hàng
    </div>
    <div class="import-result" #importResult [class.d-none]="!importResults || !importResults.length">
      <div class="import-result-item" *ngFor="let rs of importResults">
        <div class="alert" [innerHTML]="rs.content | safeHtml"
          [class.alert-warning]="rs.type == 'warning'"
          [class.alert-success]="rs.type == 'success'"
          [class.alert-danger]="rs.type == 'error'">
        </div>
      </div>
    </div>
  </div>
</div>
