<div class="customer-info-wr">
  <div class="head-info">
    <img [imageLoader]="(activeConversation$ | async)?.external_user_picture_url" src="assets/images/user_logo.jpg"
         alt="avatar" class="avatar m-auto">
    <div class="text-center name">
      {{ (activeFbUser$ | async)?.customer?.full_name || (activeConversation$ | async)?.external_user_name }}
    </div>
    <div class="d-flex flex-column justify-content-between align-items-center text-center mb-4">
      <div class="text-primary phone" *ngIf="(activeFbUser$ | async)?.customer?.phone">{{ (activeFbUser$ | async)?.customer?.phone }}</div>
      <div class="text-warning" *ngIf="!(activeFbUser$ | async)?.customer?.phone">Chưa có số điện thoại</div>
      <div *ngIf="customerReturnRating && !customerReturnError" class="risk-warning d-flex justify-content-center align-items-center cursor-pointer" [ngStyle]="{'background-color': customerReturnRating.color}" (click)="hideWaring()">
        <span class="material-icons" style="margin-left: 1rem;font-size: 1rem">{{customerReturnRating.icon}}</span>
        <div class="font-weight-bold" style="padding-left: 0.2rem;font-size: 8px">{{customerReturnRating.level}}</div>
        <div class="font-weight-bold" style="padding-left: 0.2rem;font-size: 8px">({{customerReturnRating.rate}}%)</div>
        <span class="material-icons ml-auto" style="margin-right: 0.5rem">keyboard_arrow_right</span>
      </div>
      <div *ngIf="customerReturnError && (activeFbUser$ | async)?.customer?.phone" style="background: rgba(0, 0, 0, 0.03);" class="risk-warning d-flex justify-content-center align-items-center cursor-pointer" (click)="hideWaring()">
        <div class="font-weight-bold" style="color: red;font-size: 8px;padding-left: 1rem">Không xác định</div>
        <span class="material-icons ml-auto" style="color: red;font-size: 2rem">keyboard_arrow_right</span>
      </div>
    </div>
    <div class="button-group">
      <button class="btn btn-outline btn-primary call"
              (click)="call()"
              *ngIf="(activeFbUser$ | async)?.customer?.phone">
        <i class="fas fa-phone"></i>
        Gọi điện
      </button>
      <button class="btn btn-outline btn-default call" (click)="addPhone()"
              *ngIf="!(activeFbUser$ | async)?.customer?.phone">
        <i class="fas fa-phone"></i>
        Thêm SĐT
      </button>
      <button class="btn btn-primary" (click)="onShowConfirmOrder()">
        <i class="fas fa-shopping-cart"></i>
        Chốt đơn
      </button>
    </div>
  </div>
  <div *ngIf="(activeConversation$ | async)?.tags?.length" class="d-flex flex-wrap" style="padding-left:1rem;padding-bottom: 1rem">
    <div class="tag d-flex flex-row align-items-center cursor-pointer"  *ngFor="let tag of (activeConversation$ | async)?.tags"  (click)="listTagsSelected()">
      <span class="material-icons icon-size" [ngStyle]="{'color': tag.color}">fiber_manual_record</span>
      <div class="max-line tag-name">{{tag.name}}</div>
    </div>
    <div class="d-flex flex-row text-primary cursor-pointer" (click)="listTagsSelected()">
      <span class="material-icons icon-size" style="padding-top: 0.175rem;">add</span>
      <div style="padding-top: 0.175rem;">Thêm thẻ</div>
    </div>
  </div>
  <div *ngIf="!(activeConversation$ | async)?.tags?.length">
    <div class="d-flex flex-row text-primary cursor-pointer" (click)="listTagsSelected()" style="padding-left:1rem;padding-bottom: 1rem">
      <span class="material-icons icon-size">add</span>
      <div>Thêm thẻ</div>
    </div>
  </div>
  <div class="toggle-info-wr">
    <faboshop-collapse [show]="true" [title]="'Lịch sử mua hàng'">
      <faboshop-order-info></faboshop-order-info>
    </faboshop-collapse>
  </div>

  <div class="toggle-info-wr pb-3">
    <faboshop-collapse [show]="true" [title]="'Thông tin chi tiết'">
      <faboshop-user-info></faboshop-user-info>
    </faboshop-collapse>
  </div>
</div>
