.customer-info-wr {
  height: 100%;
  background: #fff;
  overflow-y: auto;
  .head-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 1rem 1.5rem 1rem;

    .avatar {
      width: 8rem;
      height: 8rem;
      border-radius: 100%;
    }

    .name {
      font-weight: 700;
      color: var(--dark-color);
      margin-bottom: 0;
      margin-top: 2.5rem;
      font-size: 1.3rem;
    }

    .phone {
      font-size: 1.1rem;
    }

    .button-group {
      display: flex;
      justify-content: center;
      .btn {
        font-size: 1rem;
        padding: 0.6rem 1.8rem;
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
        i {
          margin-right: 4px;
          font-size: 1.1rem;
        }
      }
      .call {
        i {
          transform: rotate(90deg);
        }
      }
    }
  }

  .toggle-info-wr {
    padding: 1rem;
    border-top: 1px solid var(--border-gray-color);
  }
}

.tag {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: .175em 1em;
  margin-right: .5rem;
  margin-bottom: 0.75rem;
  max-width: fit-content;
  background: rgba(0, 0, 0, 0.03);

  .tag-name {
    font-size: 0.9rem;
  }

  .icon-size {
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }
}

.max-line{
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:1;
  display: -webkit-box;
}

.risk-warning {
  right: 0;
  color: #FFFFFF;
  border: 1px solid #eee;
  border-radius: 20px;
}

.icon-size{
  font-size:1.5rem
}
