:host {
  position: absolute;
  bottom: 0;
  right: 15px;
}

.guide-form {
  background: white;
  border-radius: 5px 5px 0 0;
  padding: 10px 15px;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--primary-color);
}

a:hover, a:active {
  color: var(--primary-color) !important;
  text-decoration: none !important;
}