<div class="total">
  <div class="total-section left-aligned">
    <div class="total-item w-100 d-flex align-items-center">
      <etop-material-nofilter-input-autocomplete
        style="width: 20%;"
        placeholder="Tên hoặc số điện thoại user" textLabel="Tên hoặc số điện thoại user"
        [appearance]="'standard'"
        [options]="users" [displayMap]="userDisplayMap" [valueMap]="userValueMap"
        (searching)="onUserSearching($event)"
        [(ngModel)]="userId" (ngModelChange)="onUserSelect()">
      </etop-material-nofilter-input-autocomplete>
    </div>
  </div>
</div>
<div class="page-container">
  <div class="page-content pb-0">
    <div class="page-wrapper">
      <etop-table #tenantTable [items]="tenantList$ | async"
                  [show_paging]="(tenantList$ | async).length > 0 && showPaging" (requestNewPage)="loadPage($event)">
        <ng-template #header let-liteMode="liteMode">
          <div class="col">
            <span class="table-header-text">Tên</span>
          </div>
          <div class="col">
            <span class="table-header-text">Domain</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Ngày tạo</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Trạng Thái</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">User</span>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <etop-empty-page [title]="emptyTitle"></etop-empty-page>
        </ng-template>

        <ng-template #item let-tenant="item" let-liteMode="liteMode">
          <div class="row table-row" admin-tenant-row
               [tenant]="tenant" [liteMode]="liteMode"
               [class.active]="(activeTenant$ | async)?.id == tenant?.id"
               (click)="detail(tenant)">
          </div>
        </ng-template>
      </etop-table>
    </div>
  </div>
  <etop-side-slider #tenantSlider>
    <ng-template #customHeader>
      <div class="header-detail d-flex justify-content-between px-4 py-3">
        <div class="d-flex align-items-center">
          <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
        </div>
        <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
          Đóng <i class="fa fa-times"></i>
        </button>
      </div>
    </ng-template>
    <ng-container *ngIf="onCreateTenant; else tenantDetail">
      <admin-create-tenant-form></admin-create-tenant-form>
    </ng-container>
    <ng-template #tenantDetail>
      <admin-tenant-detail></admin-tenant-detail>
    </ng-template>
  </etop-side-slider>
</div>
