<div class="bubbles-wrapper">
  <div class="loading" *ngIf="initializing">
    <mat-spinner diameter="20" color="primary"></mat-spinner>
  </div>
  <ng-container *ngIf="!initializing && !(activeTicketComments$ | async)?.length">
    <div class="blank-page">
      <img class="blank-img" src="assets/images/admin/icon_chat.png" alt="empty list" />
      <div class="info">
        <div class="big-font text-bold text-center m-2">
          Chưa có phản hồi
        </div>
      </div>
    </div>
  </ng-container>
  <div
    *ngFor="let comment of activeTicketComments$ | async; let i = index;"
    class="bubble" [class.d-none]="initializing"
    [class.own-comment]="comment?.ownComment" [class.has-images]="comment?.image_url"
    id="{{comment?.id}}">
    <div class="bubble-content">
      <div *ngIf="!comment?.ownComment" class="bubble-avatar">
        <img src="{{(activeTicket$ | async)?.shop?.image_url || 'assets/images/placeholder.png'}}" alt="">
      </div>

      <div
        *ngIf="comment?.sendingStatus"
        class="bubble-status" [class.text-primary]="comment?.sendingStatus == 'sending'">
        <mat-spinner diameter="15" *ngIf="comment?.sendingStatus == 'sending'"></mat-spinner>
        <mat-icon *ngIf="comment?.sendingStatus == 'error'" class="text-danger">error_outline</mat-icon>
      </div>
      <div
        *ngIf="comment?.ownComment && !comment?.sendingStatus"
        class="bubble-menu" [class.focus-menu]="showBubbleMenu == i">
        <mat-icon
          class="text-default bubble-menu-icon" (click)="focusMenu(i)"
          [ngbTooltip]="bubbleMenu" triggers="click" container="body">
          more_horiz
        </mat-icon>
        <ng-template #bubbleMenu>
          <span style="padding: .5rem 1rem; display: block; cursor: pointer;" (click)="updateTicketComment(comment)">
            Chỉnh sửa
          </span>
        </ng-template>
      </div>

      <div class="comment-wrapper">
        <div class="comment-sender">{{comment?.createdByDisplay}}</div>
        <div class="comment-message">
          <img *ngIf="comment?.image_url" class="comment-message-img" alt="" src="{{comment?.image_url}}">
          <span *ngIf="comment?.message" class="comment-message-text" [innerHTML]="comment?.message"></span>
        </div>
        <div class="comment-time">{{comment?.created_at | date: 'dd/MM/yyyy HH:mm'}}</div>
      </div>
    </div>
    <div *ngIf="comment?.sendingStatus == 'error'" class="bubble-retry" (click)="retryCreateTicketComment(comment)">
      <mat-icon>refresh</mat-icon>&nbsp;Gửi lại
    </div>
  </div>
</div>

<div class="message-footer">
  <div class="pre-upload-images" *ngIf="imageSources?.length">
    <div *ngFor="let image of imageSources; let i = index;" class="pre-upload-image-src">
      <img src="{{image?.src}}" alt="">
      <mat-icon class="remove-icon" (click)="onImageRemoved(i)">cancel</mat-icon>
    </div>
  </div>
  <div id="message-toolbar" [class.has-images]="imageSources?.length" style="align-items: center;">
    <div class="cursor-pointer d-flex">
      <input
        #imageMessageInput type="file" hidden accept="image/png,image/jpg,image/jpeg,image/gif" multiple
        (change)="onImageSelected($event)">
      <mat-icon class="toolbar-icons text-default" (click)="uploadImage()">crop_original</mat-icon>
    </div>
    <textarea
      id="chat-box" rows="1" style="flex: 1;" placeholder="Nhập tin nhắn"
      [(ngModel)]="textMessage" (ngModelChange)="onTextMessageChanged()" (keyup.enter)="createTicketComment()">
    </textarea>
    <div class="cursor-pointer d-flex">
      <mat-icon class="toolbar-icons text-primary" (click)="createTicketComment()">send</mat-icon>
    </div>
  </div>
</div>
