:host {
  height: 100%;
  flex-direction: column;
  display: flex;
}

#chat-box {
  border-radius: 15px;
  border: 1px solid var(--border-gray-color);
  padding: .75rem;
  max-height: 150px;
  overflow: auto;
  resize: none;
  margin: 0 .5rem;
  outline: 0;
}

.bubbles-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
  .loading {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bubble {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    .bubble-menu {
      display: flex !important;
    }
  }
  &.own-comment {
    align-items: flex-end;
    .comment-wrapper {
      background: var(--primary-color);
      color: #eee;
    }
  }
  &.has-images {
    .comment-wrapper {
      background: #fff !important;
      color: #555 !important;
    }
  }
  .bubble-content {
    display: flex;
    position: relative;
    max-width: 80%;
  }
  .comment-wrapper {
    color: #555;
    padding: 1rem;
    background: #f5f5f5;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
  }
  .bubble-avatar {
    align-self: flex-end;
    margin-right: .5rem;
    display: flex;
  }
  .bubble-retry {
    color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    padding: 2px 5px;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    font-size: .9rem;
    margin-top: 5px;
    cursor: pointer;
    mat-icon {
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
    }
  }
  .bubble-menu {
    position: absolute;
    height: 100%;
    left: -30px;
    top: 0;
    align-items: center;
    display: flex;
    .mat-icon {
      font-size: 2.5rem !important;
      width: 2.5rem !important;
      height: 2.5rem !important;
      cursor: pointer;
    }
  }
  .bubble-menu:not(.focus-menu) {
    display: none;
  }
  .bubble-status {
    position: absolute;
    left: -20px;
    bottom: 1px;
    display: flex;
    mat-icon {
      font-size: 15px;
      width: 15px;
      height: 15px;
    }
  }
  .bubble-avatar {
    width: 2rem;
    height: 2rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 100%;
    }
  }
}

.comment-sender {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8rem;
  margin-bottom: .5rem;
}

.comment-message-img {
  max-width: 100%;
}
.comment-message-text {
  white-space: pre-line;
}

.comment-time {
  text-align: right;
  font-size: .8rem;
  margin-top: 1.5rem;
}

.message-footer {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  padding: 1rem;
}

.pre-upload-images {
  margin: -1rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  .pre-upload-image-src {
    width: 25%;
    padding: 1rem;
    position: relative;
    &:hover {
      .remove-icon {
        display: block;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
    .remove-icon {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      opacity: .8;
      cursor: pointer;
    }
  }
}

#message-toolbar {
  display: flex;
  &.has-images {
    margin-top: 1rem;
  }
  .toolbar-icons {
    font-size: 2rem !important;
    width: 2rem !important;
    height: 2rem !important;
  }
}

.blank-img {
  width: 120px;
}
