<ng-container *ngIf="subscription; else notSubscription">
    <shop-subscription-warning></shop-subscription-warning>
    <div class="wrapper-reports">
    <div class="page-content d-flex">
        <div class="filter-box box-content ">
            <div class="content-items-list">
                <div class="content-item">
                    <div class="content-title">
                        Loại báo cáo
                    </div>
                    <etop-material-input type="select" 
                        [optionSelect]="reportsType" 
                        appearance="standard" 
                        textLabel="Loại báo cáo" 
                        placeholder="Chọn loại báo cáo" 
                        [(ngModel)]="reportType"
                        (ngModelChange)="reportsTypeChange()"
                        >
                    </etop-material-input>
                </div>
                <!-- <div class="content-item">
                    <div class="content-title">
                        Mối quan tâm
                    </div>
                    <etop-material-input type="select" 
                        [optionSelect]="topics" 
                        appearance="standard" 
                        textLabel="Chủ đề" 
                        placeholder="Chọn chủ đề" 
                        [(ngModel)]="topic">
                    </etop-material-input>
                </div> -->
                <div class="content-item" *ngIf="isIncome" >
                    <div class="content-title">
                        Hình thức
                    </div>
                    <mat-radio-group 
                        color="primary" class="radio-group" 
                        [(ngModel)]="timeFilter" (ngModelChange)="getReport()">
                        <mat-radio-button value="month" class="radio-button">
                            Xem theo Tháng
                        </mat-radio-button>
                        <mat-radio-button value="quater" class="radio-button">
                            Xem theo Quý
                        </mat-radio-button>
                        <mat-radio-button value="year" class="radio-button">
                            Xem theo Năm
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="content-item" *ngIf="showTime">
                    <div class="content-title">
                        Thời gian
                    </div>
                    <etop-material-year-picker
                        *ngIf="isIncome"
                        appearance="standard" 
                        textLabel="Chọn năm" 
                        placeholder="Chọn năm" 
                        [(ngModel)]="year"
                        (ngModelChange)="getReport()">
                    </etop-material-year-picker>
                    <etop-material-input 
                        *ngIf="!isIncome"
                        type="datetime" 
                        appearance="standard" 
                        textLabel="Chọn ngày" 
                        placeholder="Chọn ngày" 
                        [(ngModel)]="date"
                        (ngModelChange)="getReport()">
                    </etop-material-input>
                </div>
                <div class="content-item last-item">
                    <div class="content-title">
                        Xuất file
                    </div>
                    <mat-radio-group color="primary" class="radio-group" [(ngModel)]="exportType">
                        <mat-radio-button value="excel" class="radio-button">
                            Excel (.xlsx)
                        </mat-radio-button>
                        <mat-radio-button value="pdf" class="radio-button">
                            PDF (.pdf)
                        </mat-radio-button>
                    </mat-radio-group>
                    <button class="btn btn-primary w-100 mt-3" (click)="confirmExport()">
                        <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
                        Xuất file</button>
                </div>
            </div>
        </div>
        <div class="reports-box box-content w-100 h-100">
            <div *ngIf="!contentReport">
                Báo cáo chưa có dữ liệu.
            </div>
            <div *ngIf="loading" class="text-right mt-5" style="position: absolute;right: 5rem;">
                <i class="fa fa-spinner fa-spin mr-3 text-larger"></i>
            </div>
            <div class="etop-report" [innerHTML]="contentReport"></div>
        </div>
    </div>
</div>
</ng-container>
<ng-template #notSubscription>
  <ng-container>
    <etop-not-subscription></etop-not-subscription>
  </ng-container>
</ng-template>