    .page-content {
        height: fit-content;
    }
    .wrapper-reports {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        flex-direction: column;
        display: flex;
    }
    
    .box-content {
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0px 1px 20px 0 rgba(0, 0, 0, 0.11);
        &:last-child {
            border: none;
        }
    }
    
    .filter-box {
        margin-right: 2.5rem;
        width: 25%;
        height: fit-content;
    }
    
    .reports-box {
        display: block;
        height: 100%;
        width: 100%;
        padding: 1.5rem;
    }
    
    .content-item {
        .content-title {
            color: #9B9B9B;
            font-weight: 600;
            font-size: 14px;
            font-family: Arial;
            margin-bottom: 1rem;
        }
        font-size: 1rem;
        border-bottom: 0.75rem solid rgba(0, 0, 0, 0.05);
        padding: 1.5rem;
        &.last-item {
            border-bottom: none;
        }
    }
    
    .radio-group {
        display: flex;
        flex-direction: column;
    }
    
    .radio-button {
        margin: 5px;
    }
    
    .input-filter {
        position: relative;
        color: var(--primary-color);
        border: none;
        outline: none;
        font-weight: bold;
        width: 144px;
        z-index: 2;
        background: transparent;
        cursor: pointer;
    }
    
    