<div class="page-content no-print pb-0">
  <div class="page-wrapper">
      <etop-table class="ffm-table"
      #fulfillmentTable
      [items]="fulfillmentList"
      (requestNewPage)="loadPage($event)"
      [show_paging]="fulfillmentList.length > 0 && showPaging && !forcedHidePaging">
      <ng-template #header let-liteMode="liteMode">
        <!-- <div class="col" style="max-width: 50px;" *ngIf="fulfillmentType == 'shipment'">
          <input class="input-custom" type="checkbox" [checked]="checkAll" (click)="allItemSelected()"/>
        </div> -->
        <div class="col ffm-code" style="min-width: 17.5%;">
          <span class="table-header-text">Mã giao hàng</span>
        </div>
        <div class="col hide-col" *ngIf="fulfillmentType == 'shipnow'">
          <span class="table-header-text ">Số đơn hàng</span>
        </div>
        <div class="col">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <ng-container *ngIf="fulfillmentType == 'shipment' && !liteMode">
          <div class="col hide-col">
            <span class="table-header-text ">Người nhận</span>
          </div>
          <div class="col hide-col">
            <span class="table-header-text ">Khu vực</span>
          </div>
          <div class="col text-left hide-col">
            <span class="table-header-text ">Khai báo</span>
          </div>
        </ng-container>
        <div class="col text-left ">
          <span class="table-header-text">COD</span>
        </div>
        <div *ngIf="!liteMode" class="col text-left hide-col">
          <span *ngIf="fulfillmentType == 'shipment'" class="table-header-text">Tổng cước phí</span>
          <span *ngIf="fulfillmentType == 'shipnow'" class="table-header-text">Phí vận chuyển</span>
        </div>
        <div *ngIf="fulfillmentType == 'shipment' && !liteMode" class="col hide-col">
          <span class="table-header-text">Đối soát</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <etop-empty-page [title]="emptyTitle"></etop-empty-page>
      </ng-template>

      <ng-template #item let-ffm="item" let-liteMode="liteMode">
        <div
          etelecom-fulfillment-row class="row table-row" [class.active]="ffm?.p_data?.detailed || ffm?.p_data?.selected"
          [fulfillment]="ffm" [liteMode]="liteMode" (click)="detail($event, ffm)">
          <!-- <div class="col align-self-center" style="max-width: 50px;" *ngIf="fulfillmentType == 'shipment'">
            <input
              class="input-custom" type="checkbox" [checked]="ffm?.p_data?.selected"
              (click)="itemSelected(ffm)" />
          </div> -->
        </div>
      </ng-template>
    </etop-table>
    <etop-side-slider #slider class="{{showDetailFFM? 'show-slide': 'hide-slide'}}" >
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            <shared-dropdown-actions [dropdownActions]="dropdownActions"></shared-dropdown-actions>
            <!-- <div class="tabs-container" *ngIf="showDetailFFM">
              <ng-container *ngFor="let tab of tabs">
                <div
                  *ngIf="showTab(tab)" class="tab" [class.active]="activeTab == tab?.value"
                  (click)="changeTab(tab?.value)">
                  {{ tab?.name }}
                </div>
              </ng-container>
            </div> -->
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng<mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>

      <ng-container *ngIf="showDetailFFM">
        <etelecom-single-ffm-detail [ffm]="selectedFfms[0]"></etelecom-single-ffm-detail>
      </ng-container>
      <!-- <ng-template #multipleFulfillments>
        <etelecom-multiple-ffm-actions [ffms] = "selectedFfms"></etelecom-multiple-ffm-actions>
      </ng-template> -->

    </etop-side-slider>
  </div>
</div>
