.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.tabs-container {
  display: flex;
  height: 60px;
  margin-left: 15px;
}

.tab {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 13px;
  border-left: 1px solid var(--border-gray-color);
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  color: var(--dark-color);
  cursor: pointer;
  &.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
  }
  &:last-child {
    border-right: 1px solid var(--border-gray-color);
  }
}

@media only screen and (max-width: 768px) {
  etop-side-slider {
    width: 100% !important;
    left: 0!important;
  }
  .show-slide {
    display: block;
    padding-bottom: 4rem;
  }
  .hide-slide {
    display: none;
  }

  .hide-col {
    display: none;
  }

  .page-content {
    padding-left: 2rem;
    padding-top: 0;
  }
  .ffm-code{
    min-width: 50%!important;
  }
}