<ion-header>
  <ion-toolbar>
    <ion-title>Tạo nhanh sản phẩm</ion-title>
    <ion-buttons slot="start">
      <ion-icon
        class="icon-header"
        name="chevron-back-outline"
        (click)="dismiss()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top ion-padding-end">
  <ion-list [formGroup]="productForm">
    <ion-item class="ion-margin-bottom"> 
      <ion-label position="floating">Tên sản phẩm</ion-label>
      <ion-input formControlName="product_name"></ion-input>
    </ion-item>
    <etop-ion-input-format-number
      textLabel="Giá sản phẩm"
      placeholder="Giá sản phẩm"
      formatNumberUnit="đ"
      cssClass="text-default"
      formControlName="price"
    >
    </etop-ion-input-format-number>
  </ion-list>
</ion-content>
<ion-footer class="footer-button-wrapper ion-no-border" (click)="submit()">
  <ion-toolbar>
    <div class="footer-buttons ion-flex">
      <button
        type="submit"
        class="w-100 bg-primary text-white footer-button-item font-bold"
      >
        <span>Tạo</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
