:host {
  background-color: var(--white-color);
  margin-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  border-radius: 7px;
  height: 65px;

  &.active {
    border-left: 5px solid var(--primary-color);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.07);
    margin-left: -5px;
  }
}

.customer-avatar {
  width: 2.2rem;
  min-width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

