.nav-tabs {
  li {
    border-left: none;
    cursor: pointer;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: unset;
      padding: 10px 15px;
    }
  }
}

#self.active {
  display: flex;
  align-items: center;
}

shop-delivery-self::ng-deep,
shop-delivery-now::ng-deep{
  width: 100%;
  .under-construction {
    width: 100%;
    position: relative;
    padding-bottom: 60%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
      object-position: center;
    }
  }
}
