<h6 class="slider-detail-info-title">
  <i class="fa fa-circle text-primary smaller-font mr-2"></i>
  THU CHI
</h6>
<div class="row">
  <div class="col-3 slider-detail-input-item" [class.col-3]="!isPaymentDone" [class.col-4]="isPaymentDone">
    <etop-material-input textLabel="Trạng thái" type="custom">
      <span class="read-only order-status order-{{order?.payment_status}}">
        {{order?.payment_status_display}}
      </span>
    </etop-material-input>
  </div>
  <div class="col-3 slider-detail-input-item" [class.col-3]="!isPaymentDone" [class.col-4]="isPaymentDone">
    <etop-material-input textLabel="Phải thu" type="custom">
      <span class="read-only font-weight-bold text-primary">
        {{ order?.total_amount | vnd }}đ
      </span>
    </etop-material-input>
  </div>
  <div class="col-3 slider-detail-input-item" [class.col-3]="!isPaymentDone" [class.col-4]="isPaymentDone">
    <etop-material-input textLabel="Đã thu" type="custom">
      <span class="read-only font-weight-bold text-primary">
        {{ order?.received_amount | vnd }}đ
      </span>
    </etop-material-input>
  </div>
  <div class="col-3 slider-detail-input-item" *ngIf="!isPaymentDone">
    <etop-material-input textLabel="Còn phải thu" type="custom">
      <span class="read-only font-weight-bold text-primary">
        {{ (order?.total_amount - order?.received_amount) | vnd }}đ
      </span>
    </etop-material-input>
  </div>
</div>
<ng-container *eRoles="['owner', 'staff_management', 'inventory_management', 'analyst', 'accountant']">
  <div *ePermissions="['shop/receipt:create']" class="create-receipt text-right">
    <button *ngIf="!cannotCreateReceipt" class="btn btn-primary"
      (click)="openCreateReceiptModal()">
      Tạo phiếu thu
    </button>
    <button *ngIf="cannotCreateReceipt"
      class="btn btn-primary cannot-create" [ngbTooltip]="disabledTooltip" placement="left">
      Tạo phiếu thu
    </button>
  </div>
</ng-container>
<div *ePermissions="['shop/receipt:view']" class="mt-3">
  <shop-order-receipts #orderReceipts [order_id]="order.id" [order_code]="order.code"></shop-order-receipts>
</div>
