<ion-header>
    <ion-toolbar>
        <ion-title>{{modalTitle}}</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <etop-carriers-list *ngIf="firstStep" (onConnectCarrier)="carrierLogin($event)"></etop-carriers-list>
    <etop-carrier-login *ngIf="loginStep || phoneStep || signUpStep" [carrierConnection]="selectedCarrierConnection" (onLoginInfoChanged)="loginInfoChanged($event)" (onSignUpInfoChanged)="signUpInfoChanged($event)">
    </etop-carrier-login>
    <etop-carrier-token *ngIf="tokenStep" [carrierConnection]="selectedCarrierConnection" (onLoginTokenChanged)="loginTokenChanged($event)">
    </etop-carrier-token>
    <etop-carrier-otp *ngIf="OTPStep" [identifier]="loginInfo.identifier" [carrierConnection]="selectedCarrierConnection" (onLoginInfoChanged)="loginOTPChanged($event)" (onRetry)="retryOTP($event)">
    </etop-carrier-otp>
</ion-content>
<ion-footer class="btn-footer" *ngIf="!firstStep">
    <ion-toolbar class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <div class="h-100 w-100 ion-no-margin btn-connect-more">
                <button class="w-100 footer-button-item bg-topship text-white" (click)="confirm()" *ngIf="loginStep">Kết nối</button>
                <button class="w-100 footer-button-item bg-topship text-white" (click)="confirmToken()" *ngIf="tokenStep">Kết nối</button>
                <button class="w-100 footer-button-item bg-topship text-white" (click)="confirmOTP()" *ngIf="OTPStep">Kết nối</button>
                <button class="w-100 footer-button-item bg-topship text-white" (click)="continue()" *ngIf="phoneStep">Tiếp tục</button>
                <button class="w-100 footer-button-item bg-topship text-white" (click)="registConnection()" *ngIf="signUpStep">Đăng ký</button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>