.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

etop-filter::ng-deep {
  width: 100%;
  .wrapper-filter {
    padding: 0 0 0 1.25rem !important;
    border: none !important;
    background: none !important;
  }
}
