 <div class="total">
    <div class="total-section left-aligned">
      <div class="total-item w-100 d-flex align-items-center">
        <etop-filter
          [filters]="filters"
          (filterChanged)="filterHotline($event)">
        </etop-filter>
      </div>
    </div>
  </div>
  <div class="page-container">
    <div class="page-content pb-0">
      <div class="page-wrapper">
        <etop-table #hotlineTable [items]="hotlineList$ | async"
                    [show_paging]="false" (requestNewPage)="loadPage($event)">
          <ng-template #header let-liteMode="liteMode">
            <div class="col">
              <span class="table-header-text">Số điện thoại</span>
            </div>
            <div class="col">
              <span class="table-header-text">Tên hotline</span>
            </div>
            <div class="col">
              <span class="table-header-text">Nhà mạng</span>
            </div>
            <div class="col">
              <span class="table-header-text">Method</span>
            </div>
            <div class="col" *ngIf="!liteMode">
                <span class="table-header-text">Ngày tạo</span>
            </div>
            <div class="col" *ngIf="!liteMode">
                <span class="table-header-text">KO KT SỐ DƯ</span>
            </div>
            <div class="col" *ngIf="!liteMode">
                <span class="table-header-text">Trạng thái</span>
            </div>
            <div class="col" *ngIf="!liteMode" style="min-width: 23rem;">
                <span class="table-header-text">User được gán</span>
            </div>
          </ng-template>

          <ng-template #emptyItem>
            <etop-empty-page [title]="emptyTitle"></etop-empty-page>
          </ng-template>

          <ng-template #item let-hotline="item" let-liteMode="liteMode">
            <div class="row table-row" admin-hotline-row
                 [hotline]="hotline" [liteMode]="liteMode"
                 [class.active]="(activeHotline$ | async)?.id == hotline?.id"
                 (click)="detail(hotline)">
            </div>
          </ng-template>
        </etop-table>
      </div>
    </div>
    <etop-side-slider #hotlineSlider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            <shared-dropdown-actions [dropdownActions]="dropdownActions"></shared-dropdown-actions>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng <i class="fa fa-times"></i>
          </button>
        </div>
      </ng-template>
      <ng-container *ngIf="onCreateHotline; else hotlineDetail">
        <admin-create-hotline-form></admin-create-hotline-form>
      </ng-container>
      <ng-template #hotlineDetail>
        <admin-hotline-detail></admin-hotline-detail>
      </ng-template>
    </etop-side-slider>
  </div>
