:host {
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;
  height: 100%;
}
.mobile-header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0;
  index:10;
}

.blank-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .blank-img {
    width: 200px;
    height: auto;
    opacity: 0.5;
  }
  .info {
    margin-bottom: 20px;
  }
}

.menu {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}
@media only screen and (max-width: 768px) {
  :host {
    margin-left: 0;
    margin-right: 0;
  }
  etop-side-slider {
    position: fixed;
  }
  etop-table {
    &::ng-deep {
      .table-items {
        margin-bottom: 6rem;
      }
      etop-pagination {
        width: 100vw;
        bottom: var(--mobile-menu-height);
        &::ng-deep {
          .perpage {
            span:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
}
