<etop-table #contactsTable [items]="contacts$ | async" (requestNewPage)="loadPage($event)"
            [show_paging]="(contacts$ | async).length > 0 && showPaging">
  <ng-template #header let-liteMode="liteMode">
    <div class="row mobile-header">
      <div class="col text-left hide-768">Mã</div>
      <div class="col text-left">Tên</div>
      <div class="col text-left">Số điện thoại</div>
      <div class="col text-left" *ngIf="!liteMode">Ngày tạo</div>
    </div>
    <!-- TODO: customer GROUP -->
  </ng-template>

  <ng-template #emptyItem>
    <etop-empty-page [title]="emptyTitle"></etop-empty-page>
  </ng-template>

  <ng-template #item let-contact="item" let-liteMode="liteMode">
    <div class="row table-row" etelecom-contacts-row [class.active]="contact.selected"
      [contact]="contact" [liteMode]="liteMode" (click)="detail($event, contact)">
    </div>
  </ng-template>
</etop-table>

<etop-side-slider #contactsSlider [width]="sliderWidth">
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
        <shared-dropdown-actions></shared-dropdown-actions>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">Đóng
        <i class="fa fa-times ml-1"></i>
      </button>
    </div>
  </ng-template>

  <ng-container *ngIf="creatingNewContacts; else detailContacts;">
    <etelecom-create-contact-form (createContacts)="getContacts()"></etelecom-create-contact-form>
  </ng-container>
  <ng-template #detailContacts>
    <ng-container *ngIf="showDetailContacts">
      <etelecom-detail-contacts [contact]="selectedContacts"></etelecom-detail-contacts>
    </ng-container>
  </ng-template>
</etop-side-slider>

