.search-bar {
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  input {
    height: 100%;
    flex: 1;
    border: 1px solid var(--border-gray-color);
    border-left: none;
    border-radius: 0 5px 5px 0;
  }
}

.search-results {
  position: absolute;
  width: 100%;
  max-height: 250px;
  top: 40px;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  background: var(--white-color);
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.08);
}

.variant-select-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .6rem .8rem;
  border-bottom: 1px solid var(--border-gray-color);
  &:hover {
    background: var(--gray-color);
  }
}

.variant-not-price {
  display: flex;
  align-items: center;
  width: 60%;
}

.variant-image {
  img {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
    object-position: center;
    border-radius: 7px;
    border: 1px solid var(--gray-color);
  }
}

.variant-not-image {
  margin-left: .6rem;
}

.variant-prod-name {
  font-size: 1.1rem;
  line-height: 15px;
  display: -webkit-box;
  overflow: hidden;
  /* autoprefixer: off */
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.variant-attributes {
  span {
    font-size: .9rem;
    font-weight: 700;
  }
}

.variant-price {
  width: 20%;
  font-weight: 700;
  font-size: 1.15rem;
  text-align: right;
}

.barcode {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-gray-color);
  border-radius: 5px 0 0 5px;
  &.active {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    img {
      filter: invert(1);
    }
  }
  img {
    filter: opacity(.75);
  }
}
