<div class="search-bar">
  <div class="barcode barcode-click border-right cursor-pointer px-3" [class.active]="barcode">
    <img class="barcode-click" src="assets/images/barcode.svg" alt="" style="width: 2.25rem;">
    <span class="barcode-click ml-2">Quét mã vạch</span>
  </div>
  <input
    #searchInput id="search-input" class="form-control" placeholder="Tìm sản phẩm theo mã hoặc tên"
    [(ngModel)]="variantSearchText" (ngModelChange)="searchVariants()" (keyup.enter)="searchVariantBySKU()">
  <div class="search-results" *ngIf="results?.length && this.show_dropdown">
    <div
      *ngFor="let variant of results" class="variant-select-item"
      (click)="selectVariant(variant)">
      <div class="variant-not-price">
        <div class="variant-image">
          <img [src]="variant?.image" alt="">
        </div>
        <div class="variant-not-image">
          <div class="variant-prod-name">
            <span *ngIf="variant?.code" class="font-weight-bold text-primary">{{variant?.code}} - </span>
            <span>{{variant?.name}}</span>
          </div>
          <div class="variant-attributes" *ngIf="variant?.attributes?.length">
            <span *ngFor="let attribute of variant?.attributes; first as isFirst">
              {{isFirst ? '' : ' - '}}{{attribute?.value}}
            </span>
          </div>
        </div>
      </div>
      <div class="variant-price">
        <span class="small-font font-weight-normal">Tồn kho:</span> {{(variant?.inventory_variant?.quantity || 0) | vnd}}
      </div>
      <div class="variant-price">
        <span class="small-font font-weight-normal">Giá vốn:</span> {{(variant?.cost_price || 0) | vnd}}đ
      </div>
    </div>
  </div>
</div>
