:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  height: 100%;
  background-color: white;
}

.loading-box {
  margin: auto;
  text-align: center;
}
