<h2 mat-dialog-title>Tạo sản phẩm</h2>
<mat-dialog-content class="mat-typography">
    <div class="py-3">
        <etop-material-input
            textLabel="Tên sản phẩm" appearance="standard" type="input" [(ngModel)]="data.product_name">
        </etop-material-input>
    </div>
    <div class="py-3">
        <etop-material-input-format-number
            textLabel="Giá"
            placeholder="Giá" 
            appearance="standard" 
            class="shipping-line"
            [(ngModel)]="data.product_price"
            formatNumberUnit="đ">
        </etop-material-input-format-number>
    </div>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-outline btn-default mr-3" mat-dialog-close>Đóng</button>
  <button class="btn btn-primary"[mat-dialog-close]="true" cdkFocusInitial>Tạo</button>
</mat-dialog-actions>