$colors: (primary,
  secondary,
  tertiary,
  success,
  warning,
  danger,
  dark,
  medium,
  light,
  white,
  topship);

.badge {
  padding: 0.1rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

@each $var in $colors {
  .badge-#{"" + $var} {
    color: var(--ion-color-#{"" + $var}) !important;
    background-color: rgba(var(--#{$var}-color-rgb), 0.2) !important;
    border: 1px solid rgba(var(--#{$var}-color-rgb), 0.6) !important;
  }
}