
.footer-buttons {
  width: 100%;
  height: 3.45rem;
  margin-bottom: 0;
  .footer-button-item {
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem .5rem;
    margin: 0;
    height: 100%;
    font-size: 1.1rem;
    color: #444;
    .spinner {
      font-size: 1.5rem;
      margin-right: .5rem;
      height:1.1rem;
      width:1.1rem;
    }
  }
}

.button-radius {
  border-radius: 0.5rem;
}
