.more-icon {
  border-radius: 50%;
  border: 1px solid #d9d9d9;
}

.detail-section {
  background: #ffffff;
  margin-bottom: .85rem;
  padding: .85rem 1.3rem;
  box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.04);

  &:last-child {
    box-shadow: none;
    margin-bottom: 0;
  }
}

.item-img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--ion-color-light);
}
