<ion-header>
    <ion-toolbar>
        <ion-title class="text-medium">Chi tiết đơn</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end" *ePermissions="['shop/order:cancel']">
            <ion-icon class="ion-color-light" name="ellipsis-horizontal" size="small" color="medium" (click)="presentActionSheet()">
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <etop-network-status></etop-network-status>
    <div class="details">
        <div class="etop-status etop-{{order?.confirm_status}}">{{statusMap(order?.confirm_status)}}</div>
        <div class="detail-section">
            <div class="header font-bold">Thông tin</div>
            <div class="ion-flex ion-justify-content-between">
                <div>
                    <div class="text-medium">Mã đơn</div>
                    <div>{{order?.code}}</div>
                </div>
                <div>
                    <div class="text-medium">Thời gian tạo</div>
                    <span>{{order?.created_at | date: 'HH:mm dd/MM/yy'}}</span>
                </div>
            </div>
        </div>
        <div class="detail-section">
            <div class="header font-bold">Khách hàng</div>
            <div class="ion-flex ion-justify-content-between">
                <div>
                    <div class="text-medium">Tên khách hàng</div>
                    <div>{{order?.customer?.full_name}}</div>
                </div>
                <div>
                    <div class="text-medium">Số điện thoại</div>
                    <span>{{order?.customer?.phone || '-'}}</span>
                </div>
            </div>
        </div>
        <div class="detail-section">
            <div class="header font-bold ion-flex ion-justify-content-between" (click)="toggleList()">
                <span>Sản phẩm ({{order?.total_items}})</span>
                <span>
          <ion-icon class="ion-padding-start icon-header" name="chevron-{{showList ? 'up' : 'down'}}-outline">
          </ion-icon>
        </span>
            </div>
            <div *ngIf="showList" class="m-b-5">
                <div class="item ion-flex ion-align-items-center ion-justify-content-between p-y-5" *ngFor="let line of order?.lines">
                    <div class="ion-flex ion-align-items-center m-r-5">
                        <div class="font-14 p-r-1" style="min-width: fit-content">{{line?.quantity}} x</div>
                        <img class="item-img m-5" src="{{line?.image_url || 'assets/images/placeholder.png'}}" alt="">
                        <div>
                            <div class="fix-line-1">{{line?.product_name}}</div>
                            <div class="small-font text-medium">
                                <ion-text *ngIf="line?.code">{{line?.code}} - </ion-text>
                                <ion-text>{{line?.retail_price | vnd}}đ</ion-text>
                            </div>
                        </div>
                    </div>
                    <div class="ion-color-medium">{{line?.retail_price * line?.quantity | vnd}}đ</div>
                </div>
                <div class="ion-flex ion-justify-content-between p-y-2">
                    <div class="text-medium font-12">Tạm tính</div>
                    <div>{{order?.basket_value || 0 | vnd}}đ</div>
                </div>
                <div class="ion-flex ion-justify-content-between p-y-2">
                    <div class="text-medium font-12">Giảm giá</div>
                    <span class="text-danger" *ngIf="order?.total_discount > 0">-{{order?.total_discount | vnd}}đ</span>
                    <span *ngIf="order?.total_discount == 0">0đ</span>
                </div>
                <div class="ion-flex ion-justify-content-between p-y-2">
                    <div class="text-medium font-12">Phụ phí</div>
                    <div>{{order?.total_fee || 0 | vnd}}đ</div>
                </div>
                <div class="ion-flex ion-justify-content-between p-y-2">
                    <div class="text-medium font-12">Tổng cộng</div>
                    <span class="font-bold">{{order?.total_amount || 0 | vnd}}đ</span>
                </div>
            </div>
        </div>
        <div class="detail-section">
            <div class="header font-bold ion-flex ion-justify-content-between p-y-5" (click)="togglePayment()">
                <span>Thanh toán</span>
                <span>
          <ion-icon class="ion-padding-start icon-header" name="chevron-{{paymentDisplay ? 'up' : 'down'}}-outline">
          </ion-icon>
        </span>
            </div>
            <div *ngIf="paymentDisplay">
                <div class="font-bold text-topship">
                    {{isPaymentDone && "Đã hoàn thành" || "Chưa hoàn thành"}}
                </div>
                <div>
                    <div class="ion-flex ion-justify-content-between p-y-2">
                        <div class="text-medium font-12">Khách phải trả</div>
                        <div>{{order?.total_amount | vnd}}đ</div>
                    </div>
                    <div class="ion-flex ion-justify-content-between p-y-2">
                        <div class="text-medium font-12">Khách trả tiền mặt</div>
                        <span>{{order?.received_amount | vnd}}đ</span>
                    </div>
                    <div class="ion-flex ion-justify-content-between p-y-2">
                        <div class="text-medium font-12">Khách nợ</div>
                        <div class="font-bold">{{order?.total_amount - order?.received_amount | vnd}}đ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <button class="w-100 bg-primary text-white footer-button-item">
        Xác nhận đơn
      </button>
        </div>
    </ion-toolbar>
</ion-footer>