<ion-header>
  <ion-toolbar>
    <ion-title>Địa chỉ lấy hàng</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-flex">
  <ng-container *ngIf="(fromAddress$ | async)?.length; else emptyAddress">
    
    <div class="list-address">
      <div class="address-item ion-flex ion-align-items-center ion-justify-content-between"
        *ngFor="let address of (fromAddress$ | async)">
        <div class="info">
          <div class="font-bold">{{address.full_name}} - {{address.phone}}</div>
          <div class="address-detail">
            <ion-text>{{address?.address1 + ', '}}</ion-text>
            <ion-text *ngIf="address?.ward">{{address?.ward + ', '}}</ion-text>
            <ion-text>{{address?.district + ', '}}</ion-text>
            <ion-text>{{address?.province + ', '}}</ion-text>
          </div>
          <ion-list lines="none">
            <ion-item class="ion-no-padding">
              <ion-label>Đặt làm địa chỉ mặc định</ion-label>
              <ion-toggle slot="start" 
                [ngModel]="currentShop?.ship_from_address_id == address.id"
                (click)="setDefaultAddress(address, 'shipfrom')"
                [disabled]="currentShop?.ship_from_address_id == address.id">
              </ion-toggle>
            </ion-item>
          </ion-list>
        </div>
        <div class="action" (click)="action(address)" *ePermissions="['shop/settings/shipping_setting:update']">
          <ion-icon name="ellipsis-horizontal-circle-outline" class="font-bigger" style="opacity: 0.5"></ion-icon>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyAddress>
    <div class="h-100 centered">
      <etop-empty [empty]="empty"></etop-empty>
    </div>
  </ng-template>
</ion-content>
<ion-footer class="btn-footer" (click)="createAddress()" *ngIf="(fromAddress$ | async)?.length">
  <ion-toolbar class="no-padding">
    <div class="footer-buttons ion-flex">
      <div class="h-100 w-100 ion-no-margin btn-connect-more">
        <ion-icon name="add-outline" color="primary"></ion-icon>
        <ion-text color="primary">Thêm địa chỉ lấy hàng</ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
