.btn-footer {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.btn-connect-more {
  background: var(--ion-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-item {
  padding: .75rem 0;
  border-bottom: 1px solid #f5f5f5;
  margin: 0 1.5rem;

  &:first-child {
    border-top: 1px solid #f5f5f5;
  }
}

ion-toggle {
  zoom: 0.7;
  &.toggle-disabled {
    opacity: 0.9;
  }
}

.item-interactive-disabled.sc-ion-label-ios-h:not(.item-multiple-inputs),
.item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-ios-h {
  opacity: 1;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

etop-empty::ng-deep {
  margin: auto;
}