<div class="dialog-header">
    <div class="dialog-title big-font">
      Thêm Hotline
    </div>
    <div class="close-button" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </div>
  </div>
  <div class="dialog-body">
    <div class="my-3">
      <etop-material-input
        [(ngModel)]="hotlineData.name"
        type="input" textLabel="Tên hotline" placeholder="Nhập tên hotline">
      </etop-material-input>
      <etop-material-input
        [(ngModel)]="hotlineData.hotline"
        type="input" textLabel="Số hotline" placeholder="Nhập số hotline">
      </etop-material-input>
      <etop-material-input [(ngModel)]="hotlineData.description"
        type="text-area" maxRow="4" textLabel="Mô tả" placeholder="Nhập mô tả">
      </etop-material-input>
      <div class="py-2">
        <mat-checkbox [(ngModel)]="hotlineData.is_free_charge" color="primary" disableRipple>
          Không kiểm tra số dư khi gọi
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="dialog-footer text-right">
    <button class="btn btn-default btn-outline mr-2" (click)="closeDialog()">Đóng</button>
    <button class="btn btn-primary text-white" (click)="confirm()">
      Xác nhận
    </button>
  </div>
