.avatar {
  font-size: 2rem;
  margin-right: .5rem;
}

.user-name {
  .full-name {
    font-size: 1.2rem;
  }
}

.action-button {
  background: rgba(0, 0, 0, 0.02);
  color: var(--ion-color-primary);
  border-radius: 20px;
  padding: 0 1rem 0 0.75rem;
  min-height: 2.2rem;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  margin-left: auto;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

ion-row {
  padding: 0.25rem 0.5rem;
}

.action {
  border-top: 1px solid #eee;
  padding: 0;
  .item {
    padding: 10px;

    ion-icon {
      margin-right: .5rem;
      font-size: 1.2rem;
      color: var(--ion-color-primary);
    }
    border-right: 1px solid #eee;
    &:last-child {
      border-right: none;
    }
  }
}

.text-gray {
  color: var(--ion-color-medium);
}
