<ion-header>
  <ion-toolbar>
    <ion-title>Mã xác nhận từ TOPSHIP</ion-title>
    <ion-buttons slot="start">
      <ion-icon
        class="icon-header"
        name="chevron-back-outline"
        (click)="dismiss()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top ion-padding-end">
  <div class="popover-body">
    <div>TOPSHIP đã gửi email kèm mã xác thực đến địa chỉ email <strong>{{email_verified}}</strong>.</div>
    <div>Vui lòng kiểm tra email (kể cả trong hộp thư spam).</div>
    <ion-input class="form-control" placeholder="Nhập mã xác thực"  [(ngModel)]="sToken"></ion-input>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper ion-no-border" (click)="submitSToken()">
  <ion-toolbar>
    <div class="footer-buttons ion-flex">
      <button
        type="submit"
        class="w-100 bg-primary text-white footer-button-item font-bold"
      >
        <span>Xác nhận</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
