<div class="content">
  <div class="product-info p-3">
    <div class="d-flex position-relative">
      <div class="product-detail-img">
        <label class="logo-upload m-0" [style.background-image]="'url(' + product.p_data.image + ')'">
          <div class="mask pt-2">Upload ảnh <i class="fas fa-cloud-upload-alt text-white"></i></div>
          <div class="over-logo m-0 p-0">
            <i class="fa fa-camera" aria-hidden="true"></i>
          </div>
          <div class="upload-loading m-0 p-0">
            <i class="fa fa-circle-o-notch fa-spin text-white" style="font-size: 18px;"></i>
          </div>
          <input accept="image/png,image/jpg,image/jpeg,image/gif" name="send_photo1" class="d-none" type="file"
            (change)="onChangeLogo($event, product)" />
        </label>
      </div>
      <div class="w-100 pl-3">
        <div class="row mb-2">
          <div class="col-12" [class.no-permission]="!allowBasicInfoInput">
            <etop-material-input
              placeholder="Tên sản phẩm" textLabel="Sản phẩm"
              [(ngModel)]="product.p_data.name" (ngModelChange)="onDataEdited($event, 'name')" type="input">
            </etop-material-input>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6" [class.no-permission]="!allowBasicInfoInput">
            <etop-material-input
              placeholder="SKU" textLabel="SKU"
              [(ngModel)]="product.p_data.code" (ngModelChange)="onDataEdited($event, 'code')" type="input">
            </etop-material-input>
          </div>
          <div class="col-6 pl-0" [class.no-permission]="!allowBasicInfoInput">
            <etop-material-chips-autocomplete
              #categoryInput
              textLabel="Danh mục" placeholder="Chọn danh mục"
              [(ngModel)]="product.p_data.category_id" (ngModelChange)="onDataEdited($event, 'category')"
              [options]="categories" [multiple]="false" [displayMap]="cateDisplayMap" [valueMap]="cateValueMap">
            </etop-material-chips-autocomplete>
            <button *ePermissions="['shop/category:create']"  class="add-btn btn btn-primary btn-outline" (click)="addCategory()">
              <i class="fa fa-plus" style="font-size: 1.25rem;"></i>
            </button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12" [class.no-permission]="!allowBasicInfoInput">
            <etop-material-chips-autocomplete
              textLabel="Bộ sưu tập" placeholder=" Chọn bộ sưu tập"
              [options]="collections" [displayMap]="cateDisplayMap" [valueMap]="cateValueMap"
              [(ngModel)]="product.p_data.collection_ids" (ngModelChange)="onDataEdited($event, 'collections')">
            </etop-material-chips-autocomplete>
            <button *ePermissions="['shop/collection:create']" class="add-btn btn btn-primary btn-outline" (click)="addCollections()">
              <i class="fa fa-plus" style="font-size: 1.25rem;"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12" [class.no-permission]="!allowBasicInfoInput">
        <etop-material-tag-input
          label="Thẻ" [placeholder]="'Thẻ'" [(ngModel)]="product.p_data.tags"
          (ngModelChange)="onDataEdited($event, 'tags')">
        </etop-material-tag-input>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12" [class.no-permission]="!allowBasicInfoInput">
        <etop-material-input
          textLabel="Mô tả" placeholder="Mô tả" type="text-area"
          [(ngModel)]="product.p_data.description" (ngModelChange)="onDataEdited($event, 'description')">
        </etop-material-input>
      </div>
    </div>
    <div *ePermissions="['shop/product/basic_info:update']" class="actions p-0 pt-3">
      <button class="btn btn-primary" (click)="update()" [disabled]="updating_product">
        <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="updating_product"></i>
        Cập nhật thông tin sản phẩm
      </button>
    </div>
  </div>

  <div class="product-slide-item mt-3" *ngIf="product.variants.length > 0">
    <div>
      <h6 class="pl-3 font-weight-bold">MẪU MÃ</h6>
    </div>
    <div *ngIf="loading" class="empty">
      <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
    </div>
    <div class="table-responsive" *ngIf="!loading">
      <table class="w-100">
        <thead>
          <tr>
            <th class="small-cell">Mã mẫu mã</th>
            <th *ngFor="let attributeName of productVariantAttributes" class="text-capitalize">
              {{attributeName | lowercase}}
            </th>
            <th>Giá bán</th>
            <th *ePermissions="['shop/product/cost_price:view']" class="small-cell">Giá vốn</th>
            <th class="text-center small-cell e-border-left e-border-right">Tồn kho</th>
            <th *ngIf="removable" style="max-width: 50px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let variant of product.p_data.variants" shop-variant-edit-row
            [variant]="variant" [removable]="removable">
          </tr>
        </tbody>
      </table>
    </div>
    <div class="actions align-items-center" *ePermissions="[
        'shop/product/basic_info:update',
        'shop/product/cost_price:update',
        'shop/product/retail_price:update'
      ]">
      <div class="text-primary add-variant-btn mr-auto " (click)="openAddVariantModal($event)"> Thêm mẫu mã</div>
      <button class="btn btn-primary btn-outline" (click)="openEditAttributesPopup($event)" [disabled]="updating_variant">
        <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="updating_variant"></i>
        Chỉnh sửa thuộc tính
      </button>
      <button class="btn btn-primary" (click)="updateVariants(true)" [disabled]="updating_variant">
        <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="updating_variant"></i>
        Cập nhật mẫu mã
      </button>
    </div>
    </div>
  </div>

