<div class="modal-header">
  <div class="modal-title big-font">
    {{this.hotlines.length == 1 ? 'Xác nhận' : 'Chọn Hotline'}}
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="this.hotlines.length == 1;else listHotline">
  Bạn có chắc muốn tạo máy nhánh với số tổng đài mặc định cho nhân viên <strong>{{staff.full_name}}</strong>
</div>
<ng-template #listHotline>
  <div class="m-2"> 
    <etop-material-input placeholder="Chọn hotline" textLabel="Hotline" [optionSelect]="hotlinesOption"
    [(ngModel)]="hotline_id" type="select">
    </etop-material-input>
  </div>
</ng-template>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button class="btn btn-primary text-white" (click)="confirm()">
    Xác nhận
  </button>
</div>