.avatar {
  font-size: 2rem;
  margin-right: .5rem;
}

.user-name {
  flex: 1;
  .full-name {
    font-size: 1.2rem;
  }
}

.action {
  background: rgba(0, 0, 0, 0.02);
  color: var(--ion-color-primary);
  border-radius: 20px;
  padding: 0 1rem 0 0.75rem;
  min-height: 2.2rem;
  margin-right: 0.25rem;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

ion-row {
  padding: 0.25rem 0.5rem;
}

.text-gray {
  color: var(--ion-color-medium);
}
