<div class="ticket-detail-left">
  <div class="detail-header">
    <div class="d-flex justify-content-between w-100">
      <div class="ref-user-list">
        <div class="ref-user">
          <div class="lower-medium-font">Người tạo</div>
          <div class="text-bold">{{(activeTicket$ | async).createdByUser?.full_name || '-'}}</div>
        </div>
        <div class="ref-user">
          <div class="lower-medium-font">Phân công</div>
          <div class="text-bold">{{(activeTicket$ | async).assignedUsers[0]?.full_name || '-'}}</div>
        </div>
        <div class="ref-user">
          <div class="lower-medium-font">Hoàn thành</div>
          <div class="text-bold">{{(activeTicket$ | async).closedByUser?.full_name || '-'}}</div>
        </div>
      </div>
      <div class="ticket-status-wrapper">
        <div class="ticket-status">
          <div class="lower-medium-font">Trạng thái</div>
          <div class="status status-{{(activeTicket$ | async).state}}">
            {{(activeTicket$ | async).state_display}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body hide-scrollbar">
    <div class="slider-detail-section">
      <div class="text-bold upper-medium-font">
        <span class="text-primary">{{(activeTicket$ | async).code}}</span> - {{(activeTicket$ | async).title}}
      </div>
      <div class="text-default lower-medium-font">
        Thời gian tạo: {{(activeTicket$ | async).created_at | date: 'HH:mm dd/MM/yyyy'}}
      </div>
      <div class="mt-4 lower-medium-font" style="white-space: pre-line;">
        Nội dung
      </div>
      <div
        class="mt-2" style="white-space: pre-line;"
        [innerHTML]="(activeTicket$ | async).description | safeHtml">
      </div>
      <div class="labels-wrapper">
        <div
          *ngFor="let label of (activeTicket$ | async).labels"
          class="label-item" [class.active]="label?.children?.length > 0">
          <span [ngStyle]="{
            border: '1px solid ' + label?.color,
            color: label?.children?.length > 0 ? '#fff' : label?.color,
            background: label?.color + '1A'
          }">
            {{label?.name}}
          </span>
        </div>
      </div>
    </div>
    <div class="slider-detail-section">
      <div class="d-flex justify-content-between w-100">
        <div *ngIf="contact?.phone">
          <div class="label">
            <strong>Liên hệ</strong>
          </div>
          <div class="contact">
            <span class="text-primary font-weight-bold cursor-pointer" (click)="contactDetail(contact)">
              {{contact?.full_name}} - {{contact?.phone}}
              <i class="fas fa-external-link-alt external-link-icon text-primary"></i>
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-end flex-fill">
          <ng-container *ngIf="isRoleCS; else notCS">
            <button *ngIf="!(activeTicket$ | async).assignedUsers.length" (click)="assignTicket(currentRelationship)" class="ml-3 btn btn-primary btn-outline d-flex align-items-center min-width-12rem">
              Tự phân công
            </button>
          </ng-container>
          <ng-template #notCS>
            <div class="ticket-status-wrapper" *ePermissions="['relationship/relationship:view']">
              <button class="ml-3 btn btn-primary btn-outline d-flex align-items-center min-width-12rem"
                      [matMenuTriggerFor]="closeOptionsCs">
                Phân công
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #closeOptionsCs="matMenu">
                <button mat-menu-item class="text-danger"
                        *ngIf="(activeTicket$ | async).assignedUsers[0]"
                        (click)="unAssignTicket()"><strong>Hủy phân công</strong></button>
                <div class="divider"></div>
                <button mat-menu-item class="min-width-12rem" *ngFor="let user of (relationships$ | async)" (click)="assignTicket(user)">
                  <strong>{{user?.full_name}}</strong>
                </button>
              </mat-menu>
            </div>
          </ng-template>
          <div *ngIf="canChangeState" class="ticket-status-wrapper">
            <button class="ml-3 btn btn-primary d-flex align-items-center min-width-15rem"
                    [matMenuTriggerFor]="closeOptions" >
              Chuyển trạng thái
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #closeOptions="matMenu">
              <button class="min-width-15rem" mat-menu-item *ngIf="canChangeToNew" (click)="updateState(ticketState.new)">
                Mới (Mở lại ticket)
              </button>
              <button class="min-width-15rem" mat-menu-item *ngIf="canChangeToProcessing" (click)="updateState(ticketState.processing)">
                Đang xử lý
              </button>
              <button class="min-width-15rem" mat-menu-item *ngIf="canComplete" (click)="updateState(ticketState.success)">
                Thành công
              </button>
              <button class="min-width-15rem" mat-menu-item *ngIf="canComplete" (click)="updateState(ticketState.fail)">
                Thất bại
              </button>
              <button class="min-width-15rem" mat-menu-item *ngIf="canComplete" (click)="updateState(ticketState.ignore)">
                Từ chối xử lý
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-detail-section" *ePermissions="['shop/shop_ticket_comment:view']">
      <div class="slider-detail-info-title">
        <i class="fa fa-circle text-primary smaller-font mr-2"></i>
        PHẢN HỒI
        <span *ngIf="(activeTicketComments$ | async)?.length" class="ml-1"> ({{(activeTicketComments$ | async)?.length}})</span>
      </div>
      <div
        *ngIf="activeTicketCommentsLoading$ | async"
        class="d-flex align-items-center justify-content-center w-100">
        <mat-spinner color="primary" diameter="25"></mat-spinner>
      </div>
      <ng-container *ngIf="!(activeTicketCommentsLoading$ | async)">
        <div class="detail-comment">
          <shared-shop-ticket-comments></shared-shop-ticket-comments>
        </div>
      </ng-container>
    </div>
  </div>
</div>

