:host {
  display: flex;
  height: 100%;
}

.ticket-detail-left {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

.ticket-detail-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
  border-left: 1px solid var(--gray-color);
  &::ng-deep .mat-tab-header {
    height: 5.5rem !important;
    .mat-tab-labels, .mat-tab-label {
      height: 100% !important;
    }
  }
}

.detail-header {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  border-bottom: 1px solid var(--gray-color);
  height: 5.5rem;
  .title {
    font-size: 1.3rem;
    line-height: 6rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.detail-body {
  flex: 1;
  overflow-y: auto;
}

.detail-comment {
  overflow-y: auto;
}

.ref-user-list {
  flex: 1;
  display: flex;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  .ref-user {
    padding: 0 1.25rem;
  }
}

.edit-button {
  font-size: .9rem;
  cursor: pointer;
  .mat-icon {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem;
  }
}

.ticket-status-wrapper {
  display: flex;
  align-items: center;
}

.ticket-status {
  text-align: right;
}

.labels-wrapper {
  margin: 1.5rem -0.5rem;
  display: flex;
  .label-item {
    padding: 0 0.5rem;
    span {
      font-weight: bold;
      padding: .4rem 0.9rem;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      border-radius: 20px;
      display: flex;
      align-items: center;
    }
    &.active {
      span {
        background: var(--primary-color);
        color: #fff;
      }
    }
  }
}

.shop-main {
  padding-left: 1rem;
}

.avatar {
  width: 35px;
  height: 35px;
}

.un-assigned {
  opacity: .6;
  cursor: not-allowed;
}

.undercons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  img {
    width: 100%;
    object-position: center;
    object-fit: contain;
  }
}

.divider {
  background-color: var(--border-gray-color);
  height: 1px;
  margin: auto;
  width: 85%;
}
