<div class="modal-header">
  <h4 class="modal-title w-100 text-center">Kết nối</h4>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body" [class.p-0]="!empty">
  <ng-container *ngIf="empty; else notEmpty">
    <div class="empty px-4">
      Bạn chưa chọn Fanpage nào để kết nối, vui lòng thử lại
    </div>
  </ng-container>
  <ng-template #notEmpty>
    <ng-container *ngIf="successes.length">
      <div class="bg-gray p-3 font-weight-bold">
        THÀNH CÔNG
      </div>
      <div class="list-fanpage">
        <div class="fanpage-item d-flex align-items-center py-3 px-4" *ngFor="let page of successes">
          <div class="fp-logo mr-3">
            <img [imageLoader]="page?.external_image_url" src="assets/images/placeholder_medium.png" alt="logo">
          </div>
          <div class="fp-name">
            <h5 class="m-0">{{page?.external_name}}</h5>
          </div>
          <i class="fa fa-circle ml-auto text-success"></i>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="errors.length">
      <div class="bg-gray p-3 font-weight-bold">
        THẤT BẠI
      </div>
      <div class="list-fanpage">
        <div class="fanpage-item d-flex align-items-center py-3 px-4 border-0" *ngFor="let page of errors">
          <div class="fp-logo mr-3">
            <img
            [imageLoader]="page?.external_image_url" src="assets/images/placeholder_medium.png" alt="logo">
          </div>
          <div class="fp-name">
            <h5 class="m-0">{{page?.external_name}}</h5>
            <span class="text-danger">{{page?.reason}}</span>
          </div>
          <i class="fa fa-circle ml-auto text-danger"></i>
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
</div>
