.fp-logo {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

  img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.fanpage-item {
  border-bottom: 1px solid #eee;
}