<div class="edit-dropdown">
  <ng-content></ng-content>
  <div class="button-wrapper text-right">
    <button class="btn btn-outline btn-default" [disabled]="loading" (click)="onClose()">
      Đóng
    </button>
    <button class="btn btn-primary btn-update" [disabled]="loading" (click)="updateOrder()">
      <i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i>
      Cập nhật
    </button>
  </div>
</div>
