<div class="carrier-list">
  <ng-container *ngFor="let connection of availableConnections$ | async">
    <div class="carrier-item ion-flex ion-align-items-center" *ngIf="connection?.connection_provider == 'ghn'">
      <div class="profile-picture">
        <img src="{{connection?.image_url || connection?.provider_logo}}" alt="logo">
      </div>
      <div class="ion-flex ion-align-items-center ion-justify-content-between" style="flex: 1; padding-left: .5rem;">
        <div class="carrier-name">{{connection?.name}}</div>
        <div *ngIf="connection?.connect_status == 'Z'"
          class="connect-button" (click)="connectCarrier(connection)">
          Kết nối
        </div>
        <div *ngIf="connection?.connect_status == 'P'">
          <ion-text>Đã kết nối</ion-text>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="carrier-item ion-flex ion-align-items-center disabled" *ngFor="let conn of inDevelopmentConnections">
    <div class="profile-picture">
      <img src="{{conn?.provider_logo}}" alt="">
    </div>
    <div class="ion-flex ion-align-items-center ion-justify-content-between" style="flex: 1; padding-left: .5rem;">
      <div class="carrier-name">{{conn?.name_display}}</div>
      <div class="connect-button">Đang phát triển</div>
    </div>
  </div>
</div>
