<ion-header>
  <ion-toolbar>
    <ion-title>Chỉnh sửa sản phẩm</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="page-content w-100 ion-padding-bottom" [formGroup]="productForm">
    <div class="ion-text-center ion-padding">
      <div class="product-image">
        <img [src]="product.image || 'assets/images/placeholder_2.png'" alt="">
        <ion-icon name="camera" class="icon-upload" (click)="takePicture()"></ion-icon>
        <div class="uploading" *ngIf="uploading">
          <ion-spinner name="crescent" class="loading-icon"></ion-spinner>
        </div>
      </div>
    </div>
    <ion-list class="info ion-margin-end">
      <ion-item class="line-info">
        <ion-label position="floating">Tên sản phẩm</ion-label>
        <ion-input inputmode="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item class="line-info">
        <ion-label position="floating">Mã sản phẩm</ion-label>
        <ion-input inputmode="text" formControlName="code"></ion-input>
      </ion-item>
      <ion-item class="line-info">
        <ion-label position="floating">Mô tả</ion-label>
        <ion-textarea autoGrow="true" spellcheck="false" inputmode="text" formControlName="description"></ion-textarea>
      </ion-item>
    </ion-list>
    <div class="warning-box">
      <ion-icon name="alert-circle-outline" style="margin-bottom: -1px"></ion-icon>
      Giá sản phẩm nằm trên các mẫu mã cụ thể, vui lòng vào mục <ion-text color="primary" class="font-bold" (click)="toEditVariant()">
        Chỉnh sửa mẫu mã</ion-text> để thay đổi giá
    </div>
  </div>
</ion-content>
<ng-container>
  <ion-footer class="footer-button-wrapper" (click)="updateProduct()">
    <ion-toolbar color="primary" class="no-padding">
      <div class="footer-buttons ion-flex">
        <button class="w-100 bg-primary text-white footer-button-item">
          Cập nhật
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>
