<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content border-0">
    <div class="header">
      <ion-text class="modal-title">Kết nối nhà vận chuyển</ion-text>
    </div>
    <div class="modal-body">
      <div class="ion-flex selected-carrier ion-align-items-center ion-padding ion-justify-content-center ">
        <img class="selected-carrier-img" src="{{connection?.provider_logo }}" alt="" />
        <div class="selected-info">
          <div class="selected-carrier-name">{{connection?.name | uppercase}}</div>
          <div class="font-12">
            Kết nối với {{ connection?.name | uppercase }} bằng cách dùng số điện thoại.
          </div>
        </div>
      </div>
      <div class="inputs-wrapper" *ngIf="loginByOTPStep == 'phone'">
        <div class="ion-margin-bottom otp-title">*Nhập số điện thoại để nhận OTP</div>
        <ion-input
          [(ngModel)]="loginByOtp.identifier"
          type="tel" class="input ion-margin-bottom" placeholder="Số điện thoại" >
        </ion-input>
      </div>
      <div class="inputs-wrapper" *ngIf="loginByOTPStep == 'otp'">
        <ion-input
          [value]="loginByOtp.identifier" disabled
          type="tel" class="input" placeholder="Số điện thoại">
        </ion-input>
        <div class="ion-flex ion-align-items-center justify-content-end text-orange cursor-pointer" (click)="editPhone()">
          <i class="fa fa-pencil text-orange mr-1 font-11" style="position: relative; top: -1px;"></i>
          Chỉnh sửa
        </div>
        <div class="font-italic mb-3">
          *Nhập OTP mà bạn vừa nhận được qua số điện thoại: {{loginByOtp.identifier}}
        </div>
        <ion-input
          [(ngModel)]="loginByOtp.otp"
          type="text" class="input" placeholder="OTP">
        </ion-input>
        <div class="text-right mt-2" *ngIf="timer">
          <span>Bạn chưa nhận được mã?</span>
          <span
            *ngIf="countDown > 0; else retry" class="font-weight-bold text-orange ml-2"
            style="opacity: 0.7; margin-left: 0.5rem">Gửi lại ({{timer}})</span>
          <ng-template #retry>
            <span class="font-weight-bold text-orange ml-2 cursor-pointer" (click)="retrySendOtp()">
              Gửi lại
            </span>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="modal-footer ion-padding">
      <div class="button-wrapper w-100 ion-flex ion-justify-content-between">
        <button [disabled]="loading" class="btn btn-default btn-outline ion-margin-end" (click)="closeConnectionModal()"> Đóng</button>
        <button [disabled]="loading" class="btn btn-topship  ml-1" (click)="loginUsingOTP()">
          <i class="fa fa-spin fa-circle-o-notch font-12" *ngIf="loading"></i>
          <ion-spinner size="small" name="lines-small" class="text-white" style="font-size: .5rem!important" *ngIf="loading"></ion-spinner>
          &nbsp;Kết nối
        </button>
      </div>
    </div>
  </div>
</div>
