.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--ion-color-light-shade);
  .modal-title {
    font-weight: 700;
    line-height: 1.5;
  }
}


.selected-carrier{
  text-align: center;
  flex-direction: column;
  padding: 2rem;
  .selected-carrier-img {
    width: 100px;
  }
  .selected-carrier-name {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.inputs-wrapper {
  padding: 1.2rem;
  .opt-title {
    font-style: italic!important;
  }
}

ion-input.input, ion-select.input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  background-color: #fcfcfc;
  display: block;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #aaa;
    font-weight: 300;
  }
  &:last-child {
    margin: 0;
  }
}

.button-wrapper {
  font-size: 12px;
  button {
    flex-grow: 1;
  }
}

.modal-footer {
  padding: 1rem;
  border-top: 1px solid var(--ion-color-light-shade);
}
