<ion-header>
    <ion-toolbar>
        <ion-title>Quản lý bán hàng</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="!loading">
    <div class="w-100 h-100" style="padding: 50px">
        <span [innerHTML]="banner | safeHtml"></span>
    </div>
</ion-content>