
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Thêm danh mục mới</h5>
  <button type="button" class="close" (click)="dismissModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <etop-material-tag-input
    label="Bộ sưu tập" placeholder="Nhập tên bộ sưu tập"
    [(ngModel)]="new_collections">
  </etop-material-tag-input>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="dismissModal()">Đóng</button>
  <button class="btn btn-primary text-white" (click)="createCollections()">Thêm mới</button>
</div>
