<div class="box setting-box">
  <div class="setting-header">Thiết lập thẻ</div>
  <div *ngIf="(listTags| async)?.length > 0" class="setting-body">
      <div *ngFor="let tag of (listTags | async)">
        <faboshop-tag-row [tag]="tag"></faboshop-tag-row>
      </div>
  </div>
  <div *ngIf="!(listTags| async)?.length" class="setting-body" style="height: 200px">
      <etop-empty>
        <div class="empty-title mt-5 text-center" style="width: 200px">
          <h5 style="opacity: 0.7">Cửa hàng của bạn chưa có Thẻ, vui lòng tạo thêm Thẻ</h5>
        </div>
        <div class="empty-action mt-3 mb-5" *ePermissions="['facebook/shoptag:create']">
          <button class="btn btn-primary" (click)="createTag()">Thêm thẻ</button>
        </div>
      </etop-empty>
  </div>
  <div *ngIf="(listTags| async)?.length > 0 && checkPermission()" class="setting-footer ng-star-inserted">
    <button type="submit" class="btn btn-primary" (click)="createTag()">Thêm thẻ</button>
  </div>
</div>
