.section {
  padding: 1.25rem;
  border-bottom: 1px solid var(--border-gray-color);
  position: relative;
}

.section-title {
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.money-label {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.money-value, .money-value * {
  font-size: 1.15rem;
  font-weight: 700;
}

button.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

shared-select-multiline::ng-deep {
  .no-display-input {
    padding-left: 0;
    padding-right: 0;
  }
  .right {
    margin-right: 0 !important;
  }
  .display-value {
    .options {
      width: 100%;
      left: 0;
      .option {
        padding: 0.5rem 1rem;
      }
    }
  }
}
