.more-icon {
    border-radius: 50%;
    border: 1px solid #d9d9d9;
}

.order {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    opacity: .8;
    &.order-Z {
        background-color: #eee;
    }
    &.order-P {
        background-color: var(--ion-color-topship);
    }
}

.details {
    background: #f5f5f5;
}

.detail-section {
    background: #ffffff;
    margin-bottom: 8px;
    padding: 10px 16px;
    .amount {
        text-align: center;
    }
}

.item-img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--ion-color-light);
}

.label-value {
    font: 1.2rem Arial !important;
    --ion-text-color: #000;
    color: #000;
}