<ion-header>
    <ion-toolbar>
        <ion-title>Phiếu {{getReceiptTypeMap(receipt?.type)}} #{{receipt.code}}</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="details font-13">
        <div class="order order-{{receipt.status}} font-13">{{getReceiptStatus(receipt.status)}}</div>
        <div class="detail-section">
            <div class="ion-flex ion-justify-content-center ion-align-items-center text-medium">
                <ion-icon *ngIf="receipt?.ledger?.type == 'cash'" name="cash-outline" style="font-size: 2rem"></ion-icon>
                <ion-icon *ngIf="receipt?.ledger?.type == 'bank'" name="card-outline" style="font-size: 2rem"></ion-icon>
                <div class="ion-padding-start">{{getLedgerDisplay(receipt?.ledger?.type)}}</div>
            </div>
            <div class="amount font-larger text-dark">{{receipt.amount | vnd}}đ</div>
        </div>
        <div class="detail-section">
            <div>
                <div class="text-medium font-11">{{receipt.trader_type_display}}</div>
                <div class="font-14 text-primary">{{receipt?.trader?.full_name}} {{receipt?.trader?.phone ? ' - ' + receipt?.trader?.phone : ''}}</div>
            </div>
            <div class="m-t-15">
                <div class="text-medium font-11">Thanh toán cho {{getRefType(receipt?.ref_type)}}</div>
                <div *ngFor="let line of receipt_lines" class="m-b-5 text-primary font-bold ion-flex ion-align-items-center" (click)="orderDetail(line)">
                    <ion-text>{{line.code || '-'}}</ion-text>
                    <ion-icon name="open-outline" style="margin-left: 0.5rem"></ion-icon>
                </div>
            </div>
        </div>
        <div class="detail-section">
            <div class="header font-bold ion-flex ion-justify-content-between p-b-5" (click)="toggleList()">
                <span>Chi tiết</span>
                <span>
          <ion-icon class="ion-padding-start icon-header" name="chevron-{{showList ? 'up' : 'down'}}-outline"></ion-icon>
        </span>
            </div>
            <div *ngIf="showList" class="m-b-5">
                <div>
                    <div class="p-y-8">
                        <div class="text-medium font-11">Thời gian tạo</div>
                        <div class="font-14 label-value">{{receipt.created_at | date: 'HH:mm dd/MM/yy'}}</div>
                    </div>
                    <div class="p-y-8">
                        <div class="text-medium font-11">Nội dung</div>
                        <span class="font-14 label-value">{{receipt?.title}}</span>
                    </div>
                    <div class="p-y-8">
                        <div class="text-medium font-11">Ghi chú</div>
                        <div class="font-14 label-value">{{receipt?.description || '-'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>