<div class="col align-self-center" style="min-width: 15rem;">
  <div class="d-flex align-items-center">
    <div class="d-flex flex-column align-items-start carrier-info">
      <span class="shipping-code text-primary">
        {{subscriptionPlan?.id}}
      </span>
    </div>
  </div>
</div>
<div class="col align-self-center">
  <span *ngIf="subscriptionPlan?.name">{{subscriptionPlan?.name}}</span>
  <span *ngIf="!subscriptionPlan?.name">-</span>
</div>
<div class="col align-self-center min-width-25rem">
  <div>
    <span *ngIf="subscriptionPlan?.description">
      <span class="text-bold">{{subscriptionPlan?.description}}</span>
    </span>
    <span *ngIf="!subscriptionPlan?.description">
      <span class="text-bold">-</span>
    </span>
  </div>
</div>
<div class="col align-self-center">
  <span *ngIf="subscriptionPlan?.name">{{subscriptionPlan?.interval_count + " " + subscriptionPlan?.interval_display}}</span>
  <span *ngIf="!subscriptionPlan?.name">-</span>
</div>

<div class="col align-self-center">
  <span *ngIf="subscriptionPlan?.price">{{subscriptionPlan?.price | vnd}}đ</span>
  <span *ngIf="!subscriptionPlan?.price">-</span>
</div>
<div class="col align-self-center">
  <span *ngIf="subscriptionPlan?.status_display"
        [class.text-success]="subscriptionPlan.status == 'P'"
        [class.text-default]="subscriptionPlan.status == 'N' || 'Z'"
  >{{subscriptionPlan?.status_display}}</span>
  <span *ngIf="!subscriptionPlan?.status_display">-</span>
</div>
<div class="col align-self-center">
  <span *ngIf="subscriptionPlan?.created_at">{{subscriptionPlan?.created_at | date: 'dd/MM/yyyy'}}</span>
  <span *ngIf="!subscriptionPlan?.created_at">-</span>
</div>
<div class="col align-self-center">
  <span *ngIf="subscriptionPlan?.product">{{subscriptionPlan?.product?.name}}</span>
  <span *ngIf="!subscriptionPlan?.product">-</span>
</div>
