<div class='col py-3 align-self-center font-12' style="width: 15%">{{ callLog?.started_at | date: 'HH:mm dd/MM/yyyy' }}</div>
<div class='col py-3 align-self-center '>
  <span [class.text-danger]="!isAnsweredCall(callLog)">
          {{ callLog?.state_display || '-' }}
  </span>
</div>
<div class='col py-3 align-self-center'>
  <span *ngIf="isOutDirection(callLog)">
    <mat-icon class="text-success status-icon font-weight-bolder font-bigger mr-2">call_made</mat-icon>
    Gọi ra
  </span>
  <span *ngIf="!isOutDirection(callLog)">
    <mat-icon class="status-icon font-weight-bolder font-bigger mr-2">call_received</mat-icon>
    Gọi vào
  </span>
</div>
<div class='col py-3 align-self-center' style="width: 15%">
  <ng-container *ngIf="callLog?.hotline?.connection_method == 'builtin'">
    Mặc định
  </ng-container>
  <ng-container *ngIf="callLog?.hotline?.connection_method != 'builtin'">
    <div>{{ callLog?.hotline?.name }}</div>
    <div class="text-default">{{ callLog?.hotline?.hotline || '-' }}</div>
  </ng-container>
</div>
<div class='col py-3 align-self-center' style="width: 15%">
  <ng-container *ngIf="isOutDirection(callLog)">
    <div>
      <mat-icon style="font-size: 1.4rem !important;" class="mr-2">account_circle</mat-icon>
      {{ callLog?.from?.full_name }}
    </div>
    <div class="text-default" style="font-size: 0.9rem;">EXT: {{ callLog?.extension_number || '-' }}</div>
  </ng-container>
  <ng-container *ngIf="!isOutDirection(callLog)">
    <div>
      {{ callLog?.from?.full_name }}
    </div>
    <div class="text-default">{{ callLog?.from?.phone || '-' }}</div>
  </ng-container>
</div>
<div class='col py-3 align-self-center' style="width: 15%">
  <ng-container *ngIf="!isOutDirection(callLog)">
    <div>
      <mat-icon style="font-size: 1.4rem !important;" class="mr-2">account_circle</mat-icon>
      {{ callLog?.to?.full_name }}
    </div>
    <div class="text-default" style="font-size: 0.9rem;">EXT: {{ callLog?.extension_number || '-' }}</div>
  </ng-container>
  <ng-container *ngIf="isOutDirection(callLog)">
    <div>
      {{ callLog?.to?.full_name }}
    </div>
    <div class="text-default">{{ callLog?.to?.phone || '-' }}</div>
  </ng-container>
</div>
<div class='col py-3 align-self-center font-12'>
  {{ callLog?.duration | formatDuration}}
</div>
<div class='col py-3 align-self-center'>
  <ng-container *ngIf="callLog?.audio_urls.length; else noAudio">
    <span class="text-primary cursor-pointer" (click)="openAudioModal(callLog)">
      <i class="fas fa-play text-primary mr-1"></i>
      <span>Nghe lại</span>
    </span>
  </ng-container>
  <ng-template #noAudio>
    <div>-</div>
  </ng-template>
</div>
