<div class="modal-header">
  <h5 class="modal-title">Thêm nhân viên</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <etop-material-input
    textLabel="Tên nhân viên*" placeholder="Tên nhân viên*" type="input"
    class="mb-2" [(ngModel)]="invitation.p_data.full_name">
  </etop-material-input>
  <etop-material-input
    textLabel="Số điện thoại*" placeholder="Số điện thoại*" type="input"
    class="mb-2" [(ngModel)]="invitation.p_data.phone">
  </etop-material-input>
  <etop-material-input placeholder="Vai trò*" textLabel="Vai trò*" [optionSelect]="roleList"
    [(ngModel)]="invitation.p_data.roles" type="select">
  </etop-material-input>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button
    class="btn btn-primary text-white" (click)="createInvitation()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
    Thêm nhân viên
  </button>
</div>
