<div class="content" [formGroup]="createProductForm">
  <div class="product-info p-3">
    <div class="d-flex position-relative">
      <div class="product-detail-img">
        <label class="logo-upload m-0 border rounded"
          [style.background-image]="'url(' + (createProductForm.value.image || 'assets/images/placeholder_medium.png') + ')'">
          <div class="mask pt-2">Upload ảnh <i class="fas fa-cloud-upload-alt text-white"></i></div>
          <div class="over-logo rounded m-0 p-0">
            <i class="fa fa-camera" aria-hidden="true"></i>
          </div>
          <div class="upload-loading m-0 p-0">
            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
          </div>
          <input accept="image/png,image/jpg,image/jpeg,image/gif" name="send_photo1" class="d-none" type="file"
            (change)="onChangeLogo($event)"/>
        </label>
      </div>
      <div class="w-100 pl-3">
        <div class="row mb-2">
          <div class="col-8">
            <etop-material-input placeholder="Tên sản phẩm*" textLabel="Tên sản phẩm*" formControlName="productName"
              type="input">
            </etop-material-input>
          </div>
          <div class="col-4 pl-0">
            <etop-material-input placeholder="Mã sản phẩm" textLabel="Mã sản phẩm" formControlName="productCode"
              type="input">
            </etop-material-input>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <ng-container *ngIf="!product?.variants?.length;">
              <etop-material-input *ngIf="!format_money?.retail_price" #retailInput [error]="price_error?.retail_price"
                placeholder="Giá bán*" textLabel="Giá bán*" type="input" keyboardType="number"
                formControlName="retail_price" (blur)="formatMoney('retail_price');"
               >
              </etop-material-input>
              <etop-material-input *ngIf="format_money?.retail_price" textLabel="Giá bán" type="custom"
                [error]="price_error?.retail_price" (click)="formatMoney('retail_price')">
                <span class="font-weight-bold" [class.text-primary]="!price_error?.retail_price"
                  [class.text-danger]="price_error?.retail_price">
                  {{product_price| vnd}}đ
                </span>
                <span class="font-weight-bold read-only" *ngIf="product?.variants?.length">-</span>
              </etop-material-input>
            </ng-container>
            <etop-material-input *ngIf="product?.variants?.length" textLabel="Giá bán" type="custom">
              <span class="font-weight-bold read-only">-</span>
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <etop-material-tag-input label="Thẻ" [placeholder]="'Thẻ'" formControlName="tags">
        </etop-material-tag-input>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <etop-material-input textLabel="Mô tả" placeholder="Mô tả" type="text-area" formControlName="description">
        </etop-material-input>
      </div>
    </div>
  </div>
  <div class="product-slide-item mt-3" *ngIf="product?.variants?.length > 0">
    <div>
      <h6 class="pl-3 font-weight-bold">MẪU MÃ</h6>
    </div>
    <div class="table-responsive">
      <table class="w-100">
        <thead>
          <tr>
            <th class="pl-4">Mã mẫu mã</th>
            <th class="text-capitalize" *ngFor="let attributeName of productVariantAttributes">
              {{attributeName | lowercase}}
            </th>
            <th class="text-left">Giá bán</th>

          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let variant of product.variants">
            <tr>
              <td class="small-cell pr-0" style="max-width: 10rem">
                <etop-material-input placeholder="Mã mẫu mã" textLabel="mẫu mã"
                                     [(ngModel)]="variant.code" (ngModelChange)="onDataEdited(variant)" type="input"
                                     [ngModelOptions]="{standalone: true}">
                </etop-material-input>
              </td>
              <td *ngFor="let attribute of variant.attributes" style="width: 8rem; max-width: 10rem;" class="pr-0">
                <etop-material-input
                  type="input" [(ngModel)]="attribute.value"
                  (ngModelChange)="onDataEdited(variant)"
                  [ngModelOptions]="{standalone: true}"
                  >
                </etop-material-input>
              </td>
              <td style="max-width: 8rem;" class="pr-0 pl-2 text-right" >
                <etop-material-input-format-number formatNumberUnit="đ"
                    placeholder="Giá bán*" textLabel="Giá bán*" type="input" keyboardType="number"
                    [(ngModel)]="variant.retail_price" 
                    [ngModelOptions]="{standalone: true}"
                    >
                </etop-material-input-format-number>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex p-3 justify-content-end align-items-center">
    <div *ngIf="product.variants.length" class="text-primary cursor-pointer mr-auto" (click)="openEditAttributeModal($event, false)"> Chỉnh sửa thuộc tính</div>
    <button class="btn btn-outline btn-primary mr-3" (click)="openAddAttributesPopup($event)">
      Thêm mẫu mã
    </button>
    <button class="btn btn-primary" (click)="create()" [disabled]="creatingProduct">
      <i class="fa fa-spin fa-circle-o-notch text-white mr-2" *ngIf="creatingProduct"></i>
      Tạo sản phẩm
    </button>
  </div>
</div>
