<div class="col align-self-center">
  <div class="text-primary font-weight-bold">{{voucher?.code}}</div>
  <div class="small-font">{{voucher?.created_at | date: 'HH:mm dd/MM/yyyy'}}</div>
</div>
<div class="col align-self-center">
  <span>{{voucher?.ref_name}}</span>
</div>
<div class="col align-self-center">
  <div class="small-font">{{voucher?.ref_display}}</div>
  <div class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailRef(voucher)">
    {{voucher?.ref_code}}
    <i class="fas fa-external-link-alt external-link-icon"></i>
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <ng-container *ngIf="voucher?.trader; else noTrader;">
    <div class="small-font">{{voucher?.trader_display}}</div>
    <div class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailTrader(voucher?.trader)">
      {{voucher?.trader?.full_name || '-'}}
      <i *ngIf="!voucher?.trader?.deleted" class="fas fa-external-link-alt external-link-icon"></i>
      <span class="font-weight-normal text-default ml-1 small-font" *ngIf="voucher?.trader?.deleted">(Đã xoá)</span>
    </div>
  </ng-container>
  <ng-template #noTrader>
    <div class="fa fa-minus"></div>
  </ng-template>
</div>
<div class="col align-self-center text-left" *ngIf="!liteMode">
  <span class="font-weight-bold">{{voucher?.total_products}}</span>
</div>
<div class="col align-self-center text-left" *ngIf="!liteMode">
  <span class="font-weight-bold">{{voucher?.total_items}}</span>
</div>
<div class="col align-self-center text-left">
  <span class="font-weight-bold">{{(voucher?.total_amount || 0) | vnd}}đ</span>
</div>
<div class="col align-self-center" style="min-width: 20rem;" *ngIf="!liteMode">
  <div class="small-font">{{voucher?.note}}</div>
</div>
