:host {
  display: block;
  position: relative;
}

.popup-container {
  position: absolute;
  top: 3.5rem;
  width: 100%;
  max-height: 300px;
  z-index: 2;
  padding: 0 10px;
}

.popup {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
  0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
  max-height: 19rem;
}

.btn-create-product,
.empty-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.product-list {
  overflow-y: auto;
  flex: 1;
  border-radius: 10px 10px 0 0;
}

.items-list {
  padding: 0.7rem 0;
}

.product-img {
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.product-info {
  padding-left: 0.8rem;
}

.add-product {
  font-size: 2.3rem;
  padding-right: 0.15rem;
}

.connect-success {
  background-color: var(--ion-color-success);
  padding: 0.5rem;
  color: #fff;
}

.disconnect {
  background-color: var(--ion-color-danger);
  padding: 0.5rem;
  color: #fff;
}

.product-price {
  font-size: 0.9rem;
}

.product-name {
  padding-right: 0.5rem;
}

.is-invalid {
  --placeholder-color: var(--ion-color-danger-shade);
  --placeholder-opacity: 1;
}
