<ion-list class="order-lines">
  <div class="input-wrapper ion-flex ion-align-items-center icon-address ion-padding-horizontal">
    <ion-icon name="pricetag-outline" style="font-size: 1.4rem; margin-right: 1.5rem;"></ion-icon>
    <ion-input
      [placeholder]="!(order$ | async)?.lines?.length && submitted ? 'Vui lòng nhập sản phẩm khách mua (*)' : 'Nhập sản phẩm khách mua'"
      [ngClass]="{ 'is-invalid': !(order$ | async)?.lines?.length && submitted}"
      [formControl]="productQuery"></ion-input>
  </div>
</ion-list>
<div class="popup-container" [hidden]="!showProductList">
  <div class="popup">
    <div class="product-list">
      <div class="items-list-row" *ngFor="let product of (products$ | async)">
        <div class="box" (click)="productSelected(product)">
          <div class="ion-flex ion-align-items-center ion-justify-content-between">
            <div class="ion-flex ion-align-items-center w-100">
              <img class="product-img" [src]="product?.image || 'assets/images/placeholder_2.png'" alt="">
              <div class="product-info w-100">
                <div class="ion-flex ion-justify-content-between ion-align-items-center">
                  <div class="product-name font-bold fix-line-1" style="flex: 1">{{product?.name}}</div>
                  <div class="small-font">{{product?.variants?.length}} mẫu mã</div>
                </div>
                <div class="ion-flex ion-justify-content-between">
                  <div class="small-font">
                    <ion-text color="primary" *ngIf="product?.code">{{product?.code}}</ion-text>
                  </div>
                  <div class="product-price ion-text-right font-bold">
                    {{priceCompare(product)}}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="empty-view" *ngIf="!(products$ | async).length">
      <ion-text >
        Không tìm thấy sản phẩm.
      </ion-text>
    </div>
    <div class="btn-create-product" (click)="createProduct()" *ePermissions="['shop/product:create']">
      <ion-text color="primary">
        Tạo nhanh sản phẩm <strong>"{{productQuery.value}}"</strong>
      </ion-text>
    </div>
  </div>
</div>
