<div class="dialog-header">
  <div class="dialog-title">
    {{this.hotlines.length == 1 ? 'Xác nhận' : 'Chọn Hotline'}}
  </div>
  <div class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div class="dialog-body" *ngIf="this.hotlines.length == 1;else listHotline">
  Bạn có chắc muốn tạo máy nhánh trên số hotline <strong>{{hotlines[0].name}}</strong> cho nhân viên <strong>{{staff.full_name}}</strong>
</div>
<ng-template #listHotline>
  <div class="m-2">
    <etop-material-input placeholder="Chọn hotline" textLabel="Hotline" [optionSelect]="hotlinesOption"
    [(ngModel)]="hotline_id" type="select">
    </etop-material-input>
  </div>
</ng-template>
<div class="dialog-footer">
  <div class="text-right">
    <button class="btn btn-default btn-outline mr-2" (click)="closeModal()">Đóng</button>
    <button class="btn btn-primary text-white" (click)="confirm()">
      Xác nhận
    </button>
  </div>
</div>
