<div class="section d-flex flex-column">
  <div class="section-title">Địa chỉ lấy hàng</div>
  <shared-select-multiline
    *ngIf="!addressLoading" [options]="fromAddresses" placeholder="'Nhập địa chỉ lấy hàng'"
    inputClass="text-topship" [(ngModel)]="fromAddressIndex" (ngModelChange)="setShopAddress()"
    width="100%" min_width="100%">
    <div class='text-center m-auto text-warning' (click)="newFromAddress()">Thêm địa chỉ lấy hàng mới</div>
  </shared-select-multiline>
</div>
<div class="section">
  <div class="d-flex align-items-center justify-content-between">
    <div class="section-title mb-0">
      Khối lượng chung
    </div>
    <div class="topship-toggle">
      <label class="switch">
        <input type="checkbox" (click)="toggleUniWeight()" [disabled]="loading || calculating_fee">
        <span class="slider-toggle round" [class.cursor-not-allowed]="loading || calculating_fee"></span>
      </label>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between mt-3" *ngIf="uni.chargeable_weight">
    <div class="mb-0 w-100 lower-medium-font">Khối lượng</div>
    <etop-filter-input
      class="text-right" name="package_weight" unit="g" classInner="text-topship"
      inputClass="pr-0" [defaultValue]="defaultWeight" [validateFn]="validateWeightFn" [addOptionOnBlur]="true"
      placeholder="Nhập hoặc chọn khối lượng" [options]="productWeights"
      [(ngModel)]="shipping_data.chargeable_weight" [showAngle]="false" (ngModelChange)="updateShippingData()">
    </etop-filter-input>
  </div>
</div>
<div class="section">
  <div class="d-flex align-items-center justify-content-between">
    <div class="section-title mb-0">
      Ghi chú xem hàng chung
    </div>
    <div class="topship-toggle">
      <label class="switch">
        <input type="checkbox" (click)="toggleUniTryOn()" [disabled]="loading || calculating_fee">
        <span class="slider-toggle round" [class.cursor-not-allowed]="loading || calculating_fee"></span>
      </label>
    </div>
  </div>
  <div class="mt-3" *ngIf="uni.try_on">
    <etop-material-input
      textLabel="Ghi chú xem hàng" type="select" [optionSelect]="tryOnOptions"
      [(ngModel)]="shipping_data.try_on" (ngModelChange)="updateTryOn()">
    </etop-material-input>
  </div>
</div>
<div class="section">
  <div class="d-flex align-items-center justify-content-between">
    <div class="section-title mb-0">
      Ghi chú giao hàng chung
    </div>
    <div class="topship-toggle">
      <label class="switch">
        <input type="checkbox" (click)="toggleUniShippingNote()" [disabled]="loading || calculating_fee">
        <span class="slider-toggle round" [class.cursor-not-allowed]="loading || calculating_fee"></span>
      </label>
    </div>
  </div>
  <div class="mt-3" *ngIf="uni.shipping_note">
    <etop-material-input
      textLabel="Ghi chú giao hàng" placeholder="Nhập ghi chú giao hàng" type="input"
      [(ngModel)]="shipping_data.shipping_note" (ngModelChange)="updateShippingNote()">
    </etop-material-input>
  </div>
</div>
<div class="section">
  <div class="d-flex align-items-center justify-content-between">
    <div class="section-title mb-0">Đóng bảo hiểm cho hàng hoá</div>
    <div class="topship-toggle">
      <label class="switch">
        <input type="checkbox" (click)="toggleInsurance()">
        <span class="slider-toggle round"></span>
      </label>
    </div>
  </div>
</div>
<div class="section">
  <div class="section-title">Thiết lập chọn gói dịch vụ</div>
  <shop-select-shipping-service-box></shop-select-shipping-service-box>
</div>
<div class="section border-bottom-0">
  <div class="align-items-center d-flex justify-content-between mb-4">
    <div>
      <div class="money-label">Tổng thu hộ</div>
      <div class="money-value">{{totalCodAmount | vnd}}đ</div>
    </div>
    <div class="text-right">
      <div class="money-label">Tổng phí</div>
      <div class="money-value">
        <span *ngIf="calculating_fee"><i class="fa fa-spin fa-circle-o-notch"></i></span>
        <span *ngIf="!calculating_fee">{{totalFee | vnd}}đ</span>
      </div>
    </div>
  </div>
  <div class="button-wrapper text-center">
    <button class="btn text-white w-100" [ngClass]="{
        'btn-topship': hasValidOrders,
        'btn-default disabled': !hasValidOrders
      }"
      [disabled]="loading || calculating_fee"
      (click)="confirm()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      Tạo {{totalOrders}} đơn giao hàng
    </button>
  </div>
</div>
