<ng-content></ng-content>
<div class="col align-self-center" style="min-width: 17.5%;">
  <div class="d-flex align-items-center">
    <div class="carrier-image">
      <img [src]="fulfillment?.shipping_provider_logo" alt="">
      <img *ngIf="fulfillment?.from_topship" src="assets/images/r-topship_256.png" class="topship-logo" alt="">
    </div>
    <div class="d-flex flex-column align-items-start carrier-info">
      <span class="shipping-code" [class.text-topship]="fulfillment?.from_topship">
        {{fulfillment?.shipping_code}}
      </span>
      <div class="d-flex align-items-center flex-wrap carrier-name">
        <span class="text-bold text-uppercase" [class.text-topship]="fulfillment?.from_topship">
          {{fulfillment?.carrier_display}}
        </span>
        &nbsp;({{fulfillment?.created_at | date: 'dd/MM/yyyy HH:mm'}})
      </div>
    </div>
  </div>
</div>
<div class="col align-self-center" *ngIf="fulfillmentType == 'shipnow'">
  {{fulfillment?.order_ids?.length}} đơn hàng
</div>
<div class="col align-self-center">
  <div class="status status-{{fulfillment?.shipping_state}}">
    {{fulfillment?.shipping_state_display}}
    <div class="small-font text-dark" *ngIf="fulfillment?.x_shipping_sub_state && fulfillment?.shipping_state != 'cancelled'">
      {{fulfillment?.x_shipping_sub_state}}
    </div>
  </div>
  <div *ngIf="showCancelReason" class="small-font text-default">
    Lý do: {{fulfillment?.cancel_reason}}
  </div>
  <div *ngIf="showErrorMessage" class="small-font text-danger">
    Có lỗi xảy ra
    <i class="fa fa-info-circle text-danger text-left ml-2"
      ngbTooltip="Có lỗi xảy ra khi đồng bộ trạng thái với hệ thống {{fulfillment?.carrier_display | uppercase}}"
      placement="bottom"
      tooltipClass="text-left">
    </i>
  </div>
</div>
<ng-container *ngIf="fulfillmentType == 'shipment' && !liteMode">
  <div class="col align-self-center">
    <div class="text-bold">{{fulfillment?.shipping_address?.full_name}}</div>
    <div class="small-font">{{fulfillment?.shipping_address?.phone}}</div>
  </div>
  <div class="col align-self-center">
    <div class="text-bold">{{fulfillment?.shipping_address?.province | locationCompact}}</div>
    <div class="small-font">{{fulfillment?.shipping_address?.district | locationCompact}}</div>
  </div>
  <div class="col align-self-center">
    <div class="text-bold text-left">{{fulfillment?.total_amount | vnd}}đ</div>
    <div class="small-font text-left">{{fulfillment?.include_insurance ? 'Có bảo hiểm' : 'Không bảo hiểm'}}</div>
    <div class="text-bold small-font text-left">{{fulfillment?.total_weight}}g</div>
  </div>
</ng-container>
<div class="col align-self-center">
  <div *ngIf="fulfillmentType == 'shipment'" class="text-bold text-left">
    {{fulfillment?.total_cod_amount | vnd}}đ
  </div>
  <div *ngIf="fulfillmentType == 'shipnow'" class="text-bold text-left">
    {{fulfillment?.value_info?.cod_amount | vnd}}đ
  </div>
</div>
<div *ngIf="!liteMode" class="col align-self-center">
  <div *ngIf="fulfillmentType == 'shipment'" class="text-bold text-left">
    {{fulfillment?.shipping_fee_shop | vnd}}đ
  </div>
  <div *ngIf="fulfillmentType == 'shipnow'" class="text-bold text-left">
    {{fulfillment?.shipping_service_fee | vnd}}đ
  </div>
</div>
<div *ngIf="fulfillmentType == 'shipment' && !liteMode" class="col align-self-center">
  <div class="transaction-unit">
    <ng-container *ngIf="fulfillment?.from_topship; else fromOutside;">
      <img class="carrier-logo" src="assets/images/r-topship_256.png" alt="">
      <span class="font-weight-bold ml-1">TOPSHIP</span>
    </ng-container>
    <ng-template #fromOutside>
      <img class="carrier-logo" src="{{fulfillment?.shipping_provider_logo}}" alt="">
      <span class="font-weight-bold ml-1">{{fulfillment?.carrier_display | uppercase}}</span>
    </ng-template>
  </div>
  <div class="payment-status">
    <span
      class="lower-medium-font status-{{fulfillment?.etop_payment_status}}"
      [class.cursor-pointer]="hasMoneyTransaction"
      (click)="gotoMoneyTransactionDetail()">
      {{fulfillment?.etop_payment_status_display}}
      <i
        *ngIf="hasMoneyTransaction"
        class="fas fa-external-link-alt external-link-icon status-{{fulfillment?.etop_payment_status}}">
      </i>
    </span>
  </div>
</div>
