<div class="row">
  <div class="col pr-0">
    <div class="box setting-box mt-0">
      <div class="setting-header">Thiết lập giao hàng TOPSHIP</div>
      <div class="setting-body">
        <span>Địa chỉ lấy hàng</span>
        <div class="d-flex align-items-center text-primary cursor-pointer" (click)="externalLink('settings/shipping')">
          <span class="mr-2">Chi tiết</span>
          <mat-icon>open_in_new</mat-icon>
        </div>
      </div>
      <div class="setting-body">
        <span>Kết nối nhà vận chuyển</span>
        <div class="d-flex align-items-center text-primary cursor-pointer" (click)="externalLink('settings/carrier')">
          <span class="mr-2">Chi tiết</span>
          <mat-icon>open_in_new</mat-icon>
        </div>
      </div>
      <div class="setting-body">
        <span>Thông số mặc định</span>
        <div class="d-flex align-items-center text-primary cursor-pointer" (click)="externalLink('settings/shop-setting')">
          <span class="mr-2">Chi tiết</span>
          <mat-icon>open_in_new</mat-icon>
        </div>
      </div>
  </div>
  </div>
  <div class="col">
    <div class="box setting-box mt-0">
      <div class="setting-header">Số dư và đối soát TOPSHIP</div>
      <div class="setting-body">
        <span>Số dư và thông tin tài khoản</span>
        <div class="d-flex align-items-center text-primary cursor-pointer" (click)="externalLink('settings/transaction')">
          <span class="mr-2">Chi tiết</span>
          <mat-icon>open_in_new</mat-icon>
        </div>
      </div>
      <div class="setting-body">
        <span>Phiên đối soát</span>
        <div class="d-flex align-items-center text-primary cursor-pointer" (click)="externalLink('money-transactions')">
          <span class="mr-2">Chi tiết</span>
          <mat-icon>open_in_new</mat-icon>
        </div>
      </div>
    </div>
  </div>
