<div class="col align-self-center font-weight-bold">
  {{hotline?.hotline }}
</div>
<div class="col align-self-center">
    {{hotline?.name }}
</div>
<div class="col align-self-center">
    {{hotline?.network }}
</div>
<div class="col align-self-center">
    {{hotline?.connection_method }}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{hotline?.created_at | date: 'dd/MM/yyyy'}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <i class="fas fa-check text-success cursor-pointer" *ngIf="hotline?.is_free_charge"></i>
  <span class="text-center" *ngIf="!hotline?.is_free_charge">-</span>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <span class="status status-{{hotline?.status}}">
    {{hotline?.status_display}}
  </span>
</div>
<div class="col align-self-center" *ngIf="!liteMode" style="min-width: 23rem;">
  <div class="text-bold">{{hotline?.user?.full_name}} - {{hotline?.user?.phone}}</div>
  <div class="lower-medium-font">{{hotline?.user?.email}}</div>
</div>
