<ng-container *ngIf="loading; else loadDone;">
  <div class="empty">
    <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
  </div>
</ng-container>
<ng-template #loadDone>
  <div *ngIf="addresses.length > 0; else empty;" class="table-responsive">
    <table class="w-100">
      <thead>
      <tr>
        <th>Tên</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let address of addresses">
        <td>{{address.full_name}}</td>
        <td>{{address.phone}}</td>
        <td>
          {{address.address1}}, {{address.ward | locationCompact}}, {{address.district | locationCompact}}, {{address.province | locationCompact}}</td>
        <td style="min-width: 65px;">
          <div class="d-flex align-items-center">
            <i class="fa fa-pencil-square-o text-primary font-weight-bold cursor-pointer" *ePermissions="['shop/customer:update']"
               style="font-size: 1.2rem;" (click)="editCustomerAddress(address)">
            </i>
            <i class="fa fa-trash-o text-danger ml-3 font-weight-bold cursor-pointer" *ePermissions="['shop/customer:delete', 'shop/customer:update']"
               style="font-size: 1.2rem;" (click)="delCustomerAddress(address)">
            </i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="empty">Khách hàng <strong>{{customer_name}}</strong> chưa có địa chỉ giao hàng nào.</div>
  </ng-template>
</ng-template>
<div class="actions p-3 text-right" *ePermissions="['shop/customer:create', 'shop/customer:update']">
  <button class="btn btn-primary"><span class="align-middle" (click)="createNewAddress(customer_id)">Thêm địa chỉ mới</span></button>
</div>
