<div class="page-container">
  <div class="page-content pb-0">
    <div class="page-wrapper etelecom-ticket">
      <etop-table
        #ticketTable
        [items]="ticketsList$ | async" width="50%"
        [show_paging]="(ticketsList$ | async)?.length && showPaging"
        (requestNewPage)="loadPage($event)">
        <ng-template #header let-liteMode="liteMode">
          <div class="col hide-col" style="max-width: 15rem;">
            <span class="table-header-text" >Mã</span>
          </div>
          <div class="col hide-col" style="min-width: 30rem;">
            <span class="table-header-text" >Tiêu đề</span>
          </div>
          <div class="col hide-col" *ngIf="!liteMode">
            <span class="table-header-text">Loại</span>
          </div>
          <div class="col hide-col" *ngIf="!liteMode">
            <span class="table-header-text">Trạng thái</span>
          </div>
          <div class="col hide-col" *ngIf="!liteMode">
            <span class="table-header-text">Người tạo</span>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <div class="blank-page">
            <img class="blank-img" src="assets/images/support.png" alt="empty list" />
            <div class="info">
              <div class="text-bigger text-center m-2">
                {{emptyTitle}}
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #item let-ticket="item" let-liteMode="liteMode">
          <div
                  class="row table-row" topship-tickets-system-row
                  [class.active]="(activeTicket$ | async)?.id == ticket?.id"
                  [ticket]="ticket" [liteMode]="liteMode" (click)="detail(ticket)">
          </div>
        </ng-template>
      </etop-table>

      <etop-side-slider #ticketSlider width="50%" class="{{(activeTicket$ | async) || createTicketMode ? 'show-slide': 'hide-slide'}}" >
        <ng-template #customHeader>
          <div class="header-detail d-flex justify-content-between px-4 py-3">
            <div class="d-flex align-items-center">
              <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            </div>
            <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
              Đóng <mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>
        <ng-container *ngIf="createTicketMode; else detailTicket;">
          <topship-tickets-system-create (createTicket)="getTickets()"></topship-tickets-system-create>
        </ng-container>
        <ng-template #detailTicket>
          <topship-tickets-system-detail *ngIf="(activeTicket$ | async)"></topship-tickets-system-detail>
        </ng-template>
      </etop-side-slider>
    </div>
  </div>
</div>

