<ng-content></ng-content>
<div class="col align-self-center">
  <div class="fa fa-minus" *ngIf="!transaction?.code"></div>
  <ng-container *ngIf="transaction?.code">
    <span class="font-weight-bold text-primary cursor-pointer" (click)="transactionDetail()">
      {{transaction?.code}}
      <i class="fas fa-external-link-alt external-link-icon"></i>
    </span>
    <div class="small-font">{{transaction?.created_at | date: 'HH:mm dd/MM/yyyy'}}</div>
  </ng-container>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="order-status order-{{ transaction?.status }}">
    {{ transaction?.status_display }}
  </div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{ transaction?.external_paid_at | date: 'dd/MM/yyyy' }}
</div>
<div class="col align-self-center">
  <div class="d-flex align-items-center">
    <div class="carrier-image">
      <img src="{{transaction?.provider_logo}}" alt="">
    </div>
    <div class="carrier-info">
      <span class="carrier-name text-bold">
        {{transaction?.carrier_display | uppercase}}
      </span>
    </div>
  </div>
</div>
<div class="col align-self-center">
  <div class="font-weight-bold">{{transaction?.total_orders}}</div>
</div>
<div class="col align-self-center">
  <div class="font-weight-bold">{{transaction?.total_cod | number}}đ</div>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <div class="small-font">{{transaction?.note}}</div>
</div>
