<div class="wrapper-login no-print">
    <div class="login-box">
      <div class="login-logo">
        <img src="/assets/images/logo_medium.png" alt="etop">
      </div>
      <div class="m-5 text-center text-dark title" [innerHTML]="('html_main_slogan' | whiteLabel: 'html') | safeHtml">
      </div>
      <div class="login-box-body p-0 shadow">
        <div class="p-3 text-center">
          <span class="text-big">Lời mời tham gia quản trị cửa hàng</span>
        </div>
        <div *ngIf="loading" class="w-100 p-4 d-flex align-items-center justify-content-center">
          <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.2rem;"></i>
        </div>
        <ng-container *ngIf="!loading">
          <div class="p-3 border-top">
            <div class="verify-wrapper">
              <div class="shop-img my-3" [style.background-image]="'url(' + (invitation?.shop?.image_url || 'assets/images/placeholder_medium.png') + ')'"></div>
              <div>
                <p>Xin chào, bạn được <strong>{{invitation?.invited_by_user}}</strong> mời tham gia quản trị cửa hàng <strong>{{invitation?.shop?.name}}</strong> trong vai trò:</p>
                <div *ngFor="let role of invitation?.roles">
                  <i class="fa fa-circle mr-2 text-default" aria-hidden="true" style="font-size: 9px"></i>
                  {{roleMap(role)}}
                </div>
              </div>
              <div *ngIf="not_found" class="font-weight-bold font-italic" style="font-size: 1.15rem; margin-top: 10px;">
                * Lời mời này đã hết hạn.
              </div>
              <div *ngIf="invitation?.declined_at" class="font-weight-bold font-italic" style="font-size: 1.15rem; margin-top: 10px;">
                * Bạn đã từ chối lời mời này.
              </div>
              <div *ngIf="invitation?.accepted_at" class="font-weight-bold font-italic" style="font-size: 1.15rem; margin-top: 10px;">
                * Bạn đã chấp nhận lời mời này.
              </div>
              <div *ngIf="invalid_email" class="font-italic" style="margin-top: 10px;">
                * Bạn đang đăng nhập với tài khoản có email: <strong>{{user?.email}}</strong>.
                Email được mời là: <strong>{{invitation?.email}}</strong>. Vui lòng đăng nhập đúng tài khoản để tiếp tục!
              </div>
              <ng-container *ngIf="isAtEtop">
                <div class="alert alert-warning mt-3 mb-0" *ngIf="!emailVerified && user">
                  <span *ngIf="!sendEmailMsg && isSentVerificationEmail" class="msg">
                    <i class="fa fa-shield mr-1"></i>
                    Email của bạn chưa được xác thực. Vui lòng kiểm tra email để xác thực ngay!
                  </span>
                  <span *ngIf="!sendEmailMsg && !isSentVerificationEmail" class="msg">
                    <i class="fa fa-shield mr-1"></i>
                    Email của bạn chưa được xác thực. Nhấn vào nút bên để xác thực ngay!
                  </span>
                  <span *ngIf="sendEmailMsg" class="msg"><i class="fa fa-shield mr-1"></i>{{sendEmailMsg}}</span>
                  <div class="font-weight-bold font-italic">
                    * Sau khi xác thực email thành công. Vui lòng bấm F5 để load lại trang và thử lại!
                  </div>
                  <div class="text-right mt-3">
                    <button class="btn btn-warning btn-outline" (click)="sendVerifyEmail()"
                      [disabled]="sendingEmail || sendEmailSuccess">
                      <i class="fa fa-circle-o-notch fa-spin" style="font-size: 1rem;" *ngIf="sendingEmail"></i>
                      Gửi email xác thực
                    </button>
                  </div>
                </div>
              </ng-container>
              
            </div>
          </div>
          <div class="p-3 border-top d-flex justify-content-end" *ngIf="actionAvailable">
            <button *ngIf="!unauthenticated" class="btn btn-danger btn-outline" (click)="refuse()" [disabled]="refusing">
              <i class="fa fa-spin fa-circle-o-notch text-danger mr-2" *ngIf="refusing"></i>
              <span class="text-danger">Từ chối</span>
            </button>
            <button *ngIf="!unauthenticated" class="btn btn-primary ml-3" (click)="accept()" [disabled]="accepting">
              <i class="fa fa-spin fa-circle-o-notch text-white mr-2" *ngIf="accepting"></i>
              <span class="text-white">Chấp nhận</span>
            </button>
            <ng-container *ngIf="unauthenticated">
              <button *ngIf="!invalid_email" class="btn btn-primary ml-3" (click)="login()">
                <span class="text-white" *ngIf="isAtEtop">Đăng nhập/Đăng ký để tiếp tục</span>
                <span class="text-white" *ngIf="!isAtEtop">Tạo tài khoản</span>
              </button>
              <button *ngIf="invalid_email" class="btn btn-primary ml-3" (click)="login()">
                <span class="text-white">Đăng nhập tài khoản khác</span>
              </button>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
