<div class="page-content pb-0">
  <div class="page-wrapper">
    <etop-table
      #customRegionTable
      [items]="customRegionsList$ | async" [show_paging]="false"
      (requestNewPage)="loadPage($event)">
      <ng-template #header let-liteMode="liteMode">
        <div class="col">
          <span class="table-header-text">Tên vùng</span>
        </div>
        <div class="col">
          <span class="table-header-text">Ngày tạo</span>
        </div>
        <div class="col">
          <span class="table-header-text">Số tỉnh</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Mô tả</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <div>
            <img class="blank-img" src="assets/images/admin/icon_setting_shipment.png" alt="empty list" />
          </div>
          <div class="info">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-region="item" let-liteMode="liteMode">
        <div
          class="row table-row" admin-custom-region-row [class.active]="(activeCustomRegion$ | async)?.id == region?.id"
          [customRegion]="region" [liteMode]="liteMode" (click)="detail(region)">
        </div>
      </ng-template>
    </etop-table>

    <etop-side-slider #customRegionSlider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            <shared-dropdown-actions
              *ngIf="!onNewCustomRegion" [dropdownActions]="dropdownActions">
            </shared-dropdown-actions>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng<mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>
      <ng-container *ngIf="onNewCustomRegion; else editProduct;">
        <admin-create-custom-region-form></admin-create-custom-region-form>
      </ng-container>
      <ng-template #editProduct>
        <admin-edit-custom-region-form
          *ngIf="activeCustomRegion$ | async">
        </admin-edit-custom-region-form>
      </ng-template>
    </etop-side-slider>
  </div>
</div>
