.topship-discount {
  text-align: center;
  margin-top: 3rem;
  img {
    width: 2.5rem;
  }
}

.carrier-description {
  border-right: 2px solid var(--border-gray-color);
  border-bottom: 2px solid var(--border-gray-color);
  padding: 7px 10px 5px;
  margin-top: -2px;
  font-size: .9rem;
  z-index: 2;
  color: var(--default-color);
  text-align: left;
  &.priority {
    background: var(--topship-color);
    color: var(--white-color);
  }
  ul {
    padding: 0 0 0 1.6rem;
    margin: 0;
  }
  ::ng-deep {
    p {
      margin-bottom: 0 !important;
    }
  }
}

.card {
  width: 100%;
  border: none;
  background: white;
  overflow: hidden;
  border-radius: 0;
}
.tags-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  padding: .8rem;
  bottom: 0;
}

.service-tags {
  font-weight: 700;
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
  font-size: .8rem;
  border-radius: 15px;
  padding: .25rem .8rem;
  margin-top: .4rem;
  &:first-child {
    margin-top: 0;
  }
}
.circle-wrapper {
  width: 1.25rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
  .circle {
    border-radius: 100%;
    border: 1px solid var(--border-gray-color);
  }
}
.picking-at, .delivering-at {
  display: flex;
  align-items: center;
  .circle {
    width: .65rem;
    height: .65rem;
  }
}
.picking-at {
  font-size: 10px;
  color: var(--default-color);
}
.delivering-at {
  font-size: 11px;
  color: var(--dark-color);
  .circle {
    background: var(--border-gray-color);
  }
}

.service-fee {
  font-size: 1.5rem;
  text-align: left;
}

.form-footer {
  padding: 7px 10px;
  border: 2px solid var(--gray-color);
  border-top: none;
}
.shipping-provider {
  display: flex;
  flex-wrap: wrap;
  .card-wrapper {
    display: flex;
    flex: 1;
    .form-check-input {
      position: static;
      cursor: pointer;
      margin-top: 0;
    }
    &:last-child {
      .card-header,
      .card-body .shipping-service,
      .carrier-description {
        border-right: none;
      }
    }
    .card-header {
      background-color: var(--white-color);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: .8rem;
      border-radius: 0;
      border: 2px solid var(--gray-color);
      border-left: none;
      .provider-name {
        font-weight: 700;
        color: var(--default-color);
        margin-top: 5px;
      }
      .img-wrapper {
        width: 3.3rem;
        height: 3.3rem;
        border-radius: 100%;
        border: 2px solid var(--gray-color);
        img {
          object-fit: contain;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }
    }
    .card-body {
      background: var(--white-color);
      padding: 0;
      .shipping-service {
        &.unavailable .service-item {
          background: var(--gray-color);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        min-height: 9.5rem;
        cursor: pointer;
        border: none;
        margin: 0;
        z-index: 0;
        flex: 1;
        border-right: 2px solid var(--gray-color);
        border-bottom: 2px solid var(--gray-color);
        .service-item {
          padding: .8rem;
          display: flex;
          flex-direction: column;
          position: relative;
          height: 100%;
          border: 2px solid transparent;
          .head {
            margin-bottom: 0.4rem;
          }
          &.merged {
            .service-fee {
              font-size: 2.1rem !important;
            }
          }
        }
        &.active {
          z-index: 2;
          .service-item {
            border: 2px solid var(--primary-color);
            &.orange {
              border-color: var(--topship-color);
            }
            &.aqua {
              border-color: var(--primary-color);
            }
            &.green {
              border-color: var(--success-color);
            }
          }
        }
      }
    }
  }
  .placeholder {
    $color1: #eee;
    $color2: #ddd;
    .header-placeholder {
      background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
      background-size: 200% auto;
      animation: shine 1s linear infinite;
      width: 10rem;
      height: 3.3rem;
    }
    .card-body {
      .shipping-service {
        display: block;
        .head {
          text-align: left;
          margin-bottom: .8rem;
          .placeholder-name {
            display: inline-block;
            background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
            background-size: 200% auto;
            animation: shine 1s linear infinite;
            height: .65rem;
            width: 4rem;
          }
          .placeholder-price {
            background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
            background-size: 200% auto;
            animation: shine 1s linear infinite;
            width: 5.4rem;
            height: 1.4rem;
          }
        }
        .foot {
          height: 3.3rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          &::after {
            content: "";
          }
          .placeholder-text {
            background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
            background-size: 200% auto;
            animation: shine 1s linear infinite;
            height: .65rem;
            margin-bottom: .25rem;
            &.w70 {
              width: 70%;
            }
            &.w50 {
              width: 50%;
            }
          }
          .placeholder-tags {
            background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
            background-size: 200% auto;
            animation: shine 1s linear infinite;
            height: 1.25rem;
          }
        }
      }
    }
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
.expect-note {
  padding: 1rem;
  background-color: var(--gray-color);
  text-align: left;
}
