<div class="row pt-2" style="position: relative;">
  <div #balanceWarningModal class="modal fade" style="position: absolute; background-color: rgba(0,0,0,0.4)" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header py-2 px-3">
          <h6 class="modal-title font-12 my-auto text-center" style="margin: auto; color: var(--dark-color);">Thông báo</h6>
        </div>
        <div class="text-center modal-body p-2" style="overflow-y: auto ; max-height:314px">
          <span style="font-size: 1.2rem;" class="text-danger">
            Tài khoản của bạn đang nợ cước
            <span class="font-weight-bold">{{-1 * shopBalance | vnd}}đ.</span>
          </span>
          <br>
          <div [innerHTML]="('html_topship_balance_warning' | whiteLabel: 'html') | safeHtml"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="toDistrict; else notEnoughInfo;">
    <form class="shipping-provider">
      <ng-container *ngIf="shipProviders.length && !loading">
        <div *ngFor="let shippingProvider of shipProviders" class="card-wrapper">
          <div class="card">
            <div class="card-header">
              <div class="img-wrapper">
                <img src="{{shippingProvider?.imageSrc}}" />
              </div>
              <div class="provider-name lower-medium-font">{{shippingProvider?.full_name.toUpperCase()}}</div>
            </div>
            <div class="card-body d-flex" *ngIf="providerOff[shippingProvider?.name]; else open">
              <div class="text-default m-auto small-font text-uppercase font-weight-bold">
                Ngưng phục vụ dịp Tết
              </div>
            </div>
            <ng-template #open>
              <div class="card-body d-flex flex-column">
                <label
                  *ngFor="let service of shippingProvider?.services"
                  class="shipping-service" [ngClass]="{
                    'unavailable': !service?.is_available,
                    'active': selectedShipService?.code && (selectedShipService?.code == service?.code)
                  }"
                  (click)="selectService(service)">
                  <ng-container *ngIf="service?.is_available; else noService">
                    <div class="service-item orange" [class.merged]="shippingProvider?.name == 'ghn'">
                      <div class="package-info">
                        <div class="head">
                          <div class="text-topship text-uppercase font-weight-bold d-flex justify-content-between">
                            <span>{{service.name}}</span>
                            <shared-etop-checkbox
                              class="topship" *ngIf="canSelect" [disabled]="true"
                              [checked]="selectedShipService?.code && (selectedShipService?.code == service?.code)">
                            </shared-etop-checkbox>
                          </div>
                          <div class="font-weight-bold service-fee">{{service.fee | vnd}}đ</div>
                        </div>
                        <div class="picking-at">
                          <div class="circle-wrapper">
                            <span class="circle"></span>
                          </div>
                          <div class="time-detail">
                            <span>Lấy {{expectedPickingTime(service)}}</span>
                          </div>
                        </div>
                        <div class="delivering-at">
                          <div class="circle-wrapper">
                            <span class="circle"></span>
                          </div>
                          <div class="time-detail">
                            <span>Giao {{expectedDeliveryTime(service)}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="topship-discount" *ngIf="shippingProvider?.name == 'ghn'">
                        <img src="assets/images/r-topship_trogia.png" alt="TOPSHIP">
                        <div class="mt-2">
                          <p class="mb-0"><strong>TOPSHIP</strong> trợ giá vì<p class="mb-0">chất lượng tốt</p>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #noService>
                    <div class="service-item">
                      <div class="package-info">
                        <div class="head d-flex flex-column cursor-not-allowed h-100" style="padding: 10px;">
                          <div class="d-flex flex-grow-1">
                            <div class="text-default m-auto lower-medium-font font-weight-bold">
                              {{unavailableText(shippingProvider?.name)}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </label>
                <div
                  *ngIf="shippingProvider?.description"
                  class="carrier-description" [ngClass]="{'priority': shippingProvider?.name == 'ghn'}"
                     [innerHtml]="shippingProvider?.description | safeHtml">
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="loading && !shipProviders.length">
        <div class="placeholder card-wrapper">
          <div class="card">
            <div class="card-header">
              <div class="img-wrapper">
                <img src="assets/images/provider_logos/ghn-s.png" />
              </div>
              <div class="provider-name lower-medium-font">GIAO HÀNG NHANH</div>
            </div>
            <div class="card-body">
              <label class="shipping-service">
                <div class="service-item">
                  <div class="head">
                    <div class="mb-1">
                      <div class="placeholder-name"></div>
                    </div>
                    <div class="placeholder-price"></div>
                  </div>
                  <div class="foot">
                    <div class="placeholder-text w70"></div>
                    <div class="placeholder-text w50"></div>
                  </div>
                </div>
              </label>
              <label class="shipping-service">
                <div class="service-item">
                  <div class="head">
                    <div class="mb-1">
                      <div class="placeholder-name"></div>
                    </div>
                    <div class="placeholder-price"></div>
                  </div>
                  <div class="foot">
                    <div class="placeholder-text w70"></div>
                    <div class="placeholder-text w50"></div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="placeholder card-wrapper">
          <div class="card">
            <div class="card-header">
              <div class="img-wrapper">
                <img src="assets/images/provider_logos/ghtk-s.png" />
              </div>
              <div class="provider-name lower-medium-font">GIAO HÀNG TIẾT KIỆM</div>
            </div>
            <div class="card-body">
              <label class="shipping-service">
                <div class="service-item">
                  <div class="head">
                    <div class="mb-1">
                      <div class="placeholder-name"></div>
                    </div>
                    <div class="placeholder-price"></div>
                  </div>
                  <div class="foot">
                    <div class="placeholder-text w70"></div>
                    <div class="placeholder-text w50"></div>
                  </div>
                </div>
              </label>
              <label class="shipping-service">
                <div class="service-item">
                  <div class="head">
                    <div class="mb-1">
                      <div class="placeholder-name"></div>
                    </div>
                    <div class="placeholder-price"></div>
                  </div>
                  <div class="foot">
                    <div class="placeholder-text w70"></div>
                    <div class="placeholder-text w50"></div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="placeholder card-wrapper">
          <div class="card">
            <div class="card-header">
              <div class="img-wrapper">
                <img src="assets/images/provider_logos/vtpost-s.png" />
              </div>
              <div class="provider-name lower-medium-font">VIETTEL POST</div>
            </div>
            <div class="card-body">
              <label class="shipping-service">
                <div class="service-item">
                  <div class="head">
                    <div class="mb-1">
                      <div class="placeholder-name"></div>
                    </div>
                    <div class="placeholder-price"></div>
                  </div>
                  <div class="foot">
                    <div class="placeholder-text w70"></div>
                    <div class="placeholder-text w50"></div>
                  </div>
                </div>
              </label>
              <label class="shipping-service">
                <div class="service-item">
                  <div class="head">
                    <div class="mb-1">
                      <div class="placeholder-name"></div>
                    </div>
                    <div class="placeholder-price"></div>
                  </div>
                  <div class="foot">
                    <div class="placeholder-text w70"></div>
                    <div class="placeholder-text w50"></div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
    <div *ngIf="showNote && note" class="expect-note" [innerHTML]="note | safeHtml">
    </div>
  </div>
  <ng-template #notEnoughInfo>
    <div class="col-12" style="margin-bottom: 20px;">
      <div class="text-center">Vui lòng điền đầy đủ thông tin để kiểm tra gói dịch vụ</div>
    </div>
  </ng-template>
  <div class="col-12">
    <div class="alert alert-warning" role="alert" *ngIf="shipServicesErrorMsg">
      {{shipServicesErrorMsg}}
    </div>
  </div>
</div>
