.line-custom {
  padding: 0;
  margin-bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);;
  &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
  }
  ion-checkbox {
      margin-right: 1rem;
  }
}

ion-header {
  ion-toolbar {
      border-bottom: 1px solid #eee;
  }
}
.line-break {
  height: 10px;
  width: 100%;
  background: #f4f4f4;
}
