ion-toggle {
  zoom: 0.7;
}

ion-header {
  border-bottom: 1px solid #f4f4f4;
}

.desciption {
  white-space: unset;
  font-size: 0.9rem;
}

.list-topic {
  height: 100%;
  background: #eee;

  .setting-item {
    background: #ffffff;
    border-bottom: 8px solid #f5f5f5;

    .topic  {
      margin-bottom: 0.5rem;
    }
  }
}

.warning-box {
  color: #856404;
  background-color: #fff3cd;
  padding: 0.75rem 1rem;
  ion-text {
    font-size: 0.85rem;
  }

  ion-icon {
    font-size: 1.4rem;
    margin-right: 0.5rem;
  }
}