:host {
  height: calc(100% - 60px);
  overflow: hidden;
}

.table-responsive {
  overflow-y: auto;
}

thead {
  background-color: var(--light);
}
th, td {
  padding: 7px 15px;
}
th {
  font-weight: 400;
  border-bottom: 1px solid var(--border-gray-color);
  border-top: 1px solid var(--border-gray-color);
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
}

.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid var(--border-gray-color);
}

.product-info {
  * {
    font-size: .95rem;
  }
}

.download-sample {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }
}

.blank-page {
  height: calc(100% - 35px);
  padding-top: 0;
  .info {
    border-bottom: 1px solid var(--border-gray-color);
    width: 45rem;
    padding-bottom: 1.65rem;
  }
  .empty-text {
    color: var(--default-color);
    font-size: 1.3rem;
    text-align: center;
  }
}

.remove-variant {
  border: 1px solid var(--border-gray-color);
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.inventory-input {
  color: var(--primary-color);
  font-weight: 700;
  text-align: right;
  height: 30px;
  padding: 0;
  &::placeholder {
    color: var(--default-color);
  }
  &:focus {
    border-color: var(--border-gray-color) !important;
  }
}

etop-currency-input::ng-deep {
  .form-control {
    height: 30px;
  }
}
