.ticket {
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  &.open {
    background-color: rgba(#33b7d5, 0.05);
  }

  &.confirmed {
    background-color: rgba(243, 156, 18, 0.05);
  }

  &.in-Progress {
    background-color: rgba(var(--topship-color), 0.05);
  }

  &.wait-For-Response {
    background-color: rgba(var(--topship-color), 0.05);
  }

  &.Closed {
    background-color: rgba(236, 240, 241, 0.3);
  }

  .status {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;

    &.open {
      color: #33b7d5;
    }

    &.confirmed {
      color: #f39c12;
    }

    &.in-Progress {
      color: var(--topship-color);
    }

    &.wait-For-Response {
      color: var(--topship-color);
    }

    &.closed {
      color: #7f8c8d;
    }
  }

  .btn-detail {
    font-size: 12px;
  }
}

.substatus {
  span {
    padding: 5px 15px 3px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 8px;
    font-weight: bold;
  }

  .reject {
    background-color: #e67e22;
  }

  .failed {
    background-color: #e74c3c;
  }

  .success {
    background-color: #2ecc71;
  }
}

.ticket-no {
  color: #33b7d5;
}

.font-weight-bold {
  font-weight: 700;
}