<div class="ticket" [ngClass]="getStatusSnake(ticket?.ticketstatus)" (click)="ticketDetail()">
  <div class="ticket-title font-weight-bold">
    <div class="ticket-no">#{{ticket?.ticket_no}}</div>
    <span>{{ticket?.ticketcategories == "Khác" ? ticket?.reason : ticket?.ticket_title}}</span>
  </div>
  <span class="status"
    [ngClass]="getStatusSnake(ticket?.ticketstatus)">
    {{getStatusDisplay(ticket?.ticketstatus)}}
  </span>
  <div class="substatus mt-1" *ngIf="ticket?.substatus">
    <span class="{{ticket?.substatus}}">{{subStatusMap(ticket?.substatus)}}</span>
  </div>
  <div class="etop-note pt-1" *ngIf="ticket?.etop_note">
    Ghi chú: {{ticket?.etop_note}}
  </div>
</div>
