<div class="action">
  <div class="action-title">TẠO PHIÊN CHUYỂN KHOẢN</div>
  <div class="action-desc">
    Tạo phiên chuyển khoản với các phiên shop đang được chọn.
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <div class="action-detail">
        <button class="btn btn-full btn-outline btn-primary" (click)="createMoneyTransactionEtop()">
          Tạo phiên chuyển khoản
        </button>
      </div>
    </div>
  </div>
</div>
