<div class="col align-self-center">
  <span class="text-primary text-bold">{{stocktake?.code}}</span>
  <div class="small-font">{{stocktake?.created_at | date: 'HH:mm dd/MM/yyyy'}}</div>
</div>
<div class="col align-self-center">
  <div>{{stocktake?.type_display}}</div>
</div>
<div class="col align-self-center text-right">
  <div>{{stocktake?.total_products}}</div>
</div>
<div class="col align-self-center text-right">
  <div>{{stocktake?.total_diffs}}</div>
</div>
<div class="col align-self-center text-right">
  <div>{{stocktake?.total_quantity}}</div>
</div>
<div class="col align-self-center text-right" *ngIf="!liteMode">
  <div>{{stocktake?.increase_diff}}</div>
</div>
<div class="col align-self-center text-right" *ngIf="!liteMode">
  <div>{{stocktake?.decrease_diff > 0 && '-' || ''}}{{stocktake?.decrease_diff}}</div>
</div>
<div class="col align-self-center">
  <div class="order-status order-{{stocktake?.status}}">{{stocktake?.status_display}}</div>
  <div *ngIf="stocktake?.cancel_reason" class="small-font text-default" > Lý do: {{stocktake.cancel_reason}}</div>
</div>
<div class="col align-self-center" style="min-width: 20rem;" *ngIf="!liteMode">
  <div class="small-font" *ngIf="stocktake?.note">{{stocktake?.note}}</div>
  <div class="fa fa-minus" *ngIf="!stocktake?.note"></div>
</div>
