<ion-header>
    <ion-toolbar>
      <ion-title>Lý do hủy đơn hàng</ion-title>
      <ion-buttons slot="start">
        <ion-icon
          class="icon-header"
          name="chevron-back-outline"
          (click)="dismiss()"
        ></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding-top ion-padding-end">
    <ion-list>
      <ion-item class="ion-margin-bottom"> 
        <ion-label position="floating">Lý do hủy đơn</ion-label>
        <ion-input [(ngModel)] = "otherReason"></ion-input>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer class="footer-button-wrapper ion-no-border" (click)="submit()">
    <ion-toolbar>
      <div class="footer-buttons ion-flex">
        <button
          type="submit"
          class="w-100 bg-primary text-white footer-button-item font-bold"
        >
          <span>Xác nhận</span>
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>