.input-item {
  margin-bottom: 0.5rem;
}
.dropdown-content {
  max-height: 200px;
  overflow-y:auto;
  top: -5px;
  left: 0;
  z-index: 1000;
  padding: 1rem 0px;
  .dropdown-item {
    border-bottom: 1px solid var(--border-gray-color);
  }
}

.dropdown{
  border-radius: 5px;
  box-shadow: 0 0 4px 0 #95a5a6;
  background: #fff;
}

.risk-warning {
  right: 0;
  top: 1.5rem;
  position: absolute;
  z-index: 1000;
  color: #FFFFFF;
  border: 1px solid #eee;
  border-radius: 20px;
}

