<div class="modal-header">
  <h5 class="modal-title text-center">Tạo phiếu {{type == 'receipt' && 'thu' || 'chi'}}</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <div class="content-wrapper w-100 p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="col-4 input-item">
            <etop-material-input textLabel="Ngày thanh toán" placeholder="Ngày thanh toán"
                                 type="datetime" [(ngModel)]="new_receipt.p_data.paid_at">
            </etop-material-input>
          </div>
          <div class="col-4 input-item">
            <etop-material-input
              *ngIf="!format_money" #moneyInput [error]="receipt_amount_error"
              placeholder="Giá trị" textLabel="Giá trị" type="input" keyboardType="number" [(ngModel)]="new_receipt.p_data.amount"
              (blur)="formatMoney(); checkValidAmount()">
            </etop-material-input>
            <etop-material-input class="cursor-pointer" *ngIf="format_money" textLabel="Giá trị" type="custom"
                                 [error]="receipt_amount_error" (click)="formatMoney()">
              <span
                class="font-weight-bold"
                [class.text-primary]="!receipt_amount_error" [class.text-danger]="receipt_amount_error">
                {{new_receipt?.p_data?.amount | vnd}}đ
              </span>
            </etop-material-input>
          </div>
          <div class="col-4 input-item">
            <etop-material-input textLabel="Chọn phương thức"
                                 placeholder="Chọn phương thức thanh toán" type="select" [optionSelect]="ledgerTypes"
                                 [(ngModel)]="ledger_type" (ngModelChange)="displayLedgers()">
            </etop-material-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 input-item" *ngIf="ledger_type && ledger_type != 'cash'">
            <shared-select-multiline [options]="ledgers" placeholder="Tìm tài khoản thanh toán"
              [(ngModel)]="ledgerIndex" (ngModelChange)="onSelectLedger()" (focus)="focusLedger()"
              textLabel="Tài khoản thanh toán">
              <div class="text-center text-primary" (click)="addLedger()">
                Thêm tài khoản thanh toán mới
              </div>
            </shared-select-multiline>
          </div>
        </div>
        <div class="row">
          <div class="col-6 input-item">
            <etop-material-input placeholder="Nội dung" textLabel="Nội dung" type="input"
                                 [(ngModel)]="new_receipt.p_data.title">
            </etop-material-input>
          </div>
          <div class="col-6 input-item pl-0">
            <etop-material-input placeholder="Ghi chú" textLabel="Ghi chú" type="input"
                                 [(ngModel)]="new_receipt.p_data.note">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button class="btn btn-primary btn-outline" (click)="create(false)" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && !createAndConfirm"></i>
    Lưu nháp
  </button>
  <button class="btn btn-primary" (click)="create(true)" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && createAndConfirm"></i>
    Tạo và xác nhận
  </button>
</div>
