<div class="ion-page">
    <ion-header>
        <ion-toolbar>
            <ion-title>Lời mời</ion-title>
        </ion-toolbar>
        <etop-network-status></etop-network-status>
    </ion-header>
    <ion-content class="ion-padding">
        <div class="ion-flex align-self-center h-100">
            <div class="ion-text-center" style="margin: auto" *ngIf="userInvitations?.length == 0">
                <img src="assets/imgs/security.png" alt="" class="security">
                <div *ngIf="!user" class="font-weight-bold font-italic" style="margin-top: 10px;">
                    * Bạn chưa đăng nhập. Vui lòng đăng nhập để tiếp tục.
                </div>
                <ng-container *ngIf="user">
                    <div *ngIf="differentUser" class="font-weight-bold font-italic" style="margin-top: 10px;">
                        * Bạn đang đăng nhập với tài khoản có số điện thoại <strong>{{user?.phone}}</strong>. Số điện thoại được mời là <strong>{{phone}}</strong>. Vui lòng đăng nhập đúng tài khoản được mời để tiếp tục.
                    </div>
                    <div *ngIf="userInvitations?.length == 0 && !differentUser" class="font-weight-bold font-italic" style="margin-top: 10px;">
                        * Bạn không có lời mời tham gia cửa hàng nào.
                    </div>
                </ng-container>

            </div>
            <div class="shop-list" *ngIf="userInvitations?.length > 0">
                <ng-container *ngFor="let invitation of userInvitations; index as i">
                    <div class="shop-item">
                        <div class="ion-flex ion-align-items-center">
                            <img class="logo" [src]="invitation?.shop?.image_url || 'assets/images/placeholder_2.png'" alt="">
                            <div class="w-100">
                                <strong style="font-size: 1.1rem">{{invitation?.shop?.code}} - {{invitation?.shop?.name}}</strong>
                                <div class="info w-100">
                                    {{invitation?.roles_display}}
                                </div>
                            </div>

                        </div>
                        <div class="action">
                            <ion-button color="danger" fill="outline" (click)="reject(invitation)">Từ chối
                            </ion-button>
                            <ion-button style="margin-left: 1rem" color="success" (click)="acceptInvitation(invitation)">Chấp nhận
                            </ion-button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

    </ion-content>
    <ion-footer class="footer-button-wrapper">
        <ion-toolbar class="no-padding">
            <div class="footer-buttons-etop ion-flex">
                <ion-button class="h-100 w-100 ion-no-margin" expand="full" color="secondary" *ngIf="!user" (click)="login()">
                    Đăng nhập để tiếp tục
                </ion-button>
                <ng-container *ngIf="user">
                    <ion-button class="h-100 w-100 ion-no-margin" expand="full" color="secondary" *ngIf="differentUser" (click)="login()">
                        Đăng nhập bằng tài khoản khác
                    </ion-button>
                    <ion-button class="h-100 w-100 ion-no-margin" expand="full" color="secondary" *ngIf="!account" (click)="createShop()">
                        Tạo cửa hàng
                    </ion-button>
                    <ion-button class="h-100 w-100 ion-no-margin" expand="full" color="secondary" *ngIf="account" (click)="backToShop()">
                        Về cửa hàng
                    </ion-button>
                </ng-container>

            </div>
        </ion-toolbar>
    </ion-footer>
</div>