.content-page {
    padding-bottom: 2rem;
}

.square-item {
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
}

.popover {
    position: sticky;
    z-index: 10;
    bottom: 4.2rem;
}

.order-lines-wrapper {
    background: #fff;
    .line-image {
        width: 2.5rem;
        padding-bottom: 2.5rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        border: 1px solid #eee;
    }
    .line-product {
        padding-left: 7px;
        flex: 1;
        overflow: hidden;
    }
    .line-product-name {
        line-height: 1.2;
    }
    .line-retail-price {
        color: #777;
        font-size: 0.8rem;
        line-height: 1.2;
    }
    .total-price {
        color: #555;
        font-weight: 500;
        font-size: 1.1rem;
        padding-left: 0.5rem;
    }
    .remove-line {
        ion-icon {
            color: #666;
            font-size: 1.1rem;
        }
    }
}

ion-input {
    border-bottom: 1px solid #ddd;
    height: 1.7rem;
    color: #666;
    text-align: center;
    margin-right: 1rem;
}

.info-only {
    flex-direction: column;
    align-items: flex-start;
}

.popover {
    color: #444;
}

.footer-buttons-etop {
    overflow: hidden;
    &.has-popover {
        z-index: 1000;
        position: relative;
    }
}

.quantity {
    width: 80%;
    margin: auto;
}

.list-cart {
    max-height: 40vh;
    overflow: scroll;
    margin-top: 0.75rem;
}

.animation-up {
    position: relative;
    animation: animation-up .5s;
}

.animation-down {
    position: relative;
    animation: animation-down .5s;
}

.total-basket-value {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 700;
}

@keyframes animation-up {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 100%;
        opacity: 0;
    }
    51% {
        bottom: -100%;
        opacity: 0;
    }
    100% {
        bottom: 0;
    }
}

@keyframes animation-down {
    0% {
        bottom: 0;
    }
    50% {
        bottom: -100%;
        opacity: 0;
    }
    51% {
        bottom: 100%;
        opacity: 0;
    }
    100% {
        bottom: 0;
    }
}

.minimize {
    display: flex;
    align-items: center;
    color: #666;
    font-weight: 400;
    ion-icon {
        position: relative;
        top: 1px;
        padding-left: 5px;
    }
}