<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Chọn sản phẩm</ion-title>
        <ion-buttons slot="end" (click)="scanBarcode()">
            <ion-icon name="barcode-outline" style="font-size: 2rem;"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <etop-network-status></etop-network-status>
</ion-header>
<ion-content>
    <ion-grid class="content-page">
        <div class="ion-text-center w-100 h-100" *ngIf="loading">
            <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
            <div class="ion-padding-top">Đang tải dữ liệu ...</div>
        </div>
        <ion-row *ngIf="!loading">
            <ion-col size="4" class="ion-align-self-center" (click)="createProduct()" *ePermissions="['shop/product:create']">
                <div class="square-item" style="background-image: url('assets/imgs/plus-symbol.png')">
                    <div class="item-info"></div>
                </div>
            </ion-col>
            <ion-col size="4" class="ion-align-self-center" *ngFor="let product of (products$ | async)" (click)="selectVariant(product)">
                <etop-pos-product-item [product]="product"></etop-pos-product-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="footer-button-wrapper">
    <ion-toolbar color="light" class="no-padding">
        <div class="popover w-100" *ngIf="showQuickBasket">
            <div class="order-lines-wrapper" [formGroup]="orderForm">
                <div class="font-bold ion-flex ion-justify-content-between ion-padding-horizontal ion-padding-top" (click)="showPopover()">
                    <ion-text class="text-medium">Giỏ hàng</ion-text>
                    <span class="minimize">
            Thu gọn
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
                </div>
                <div class="ion-padding ion-text-center" *ngIf="lines.controls?.length == 0">
                    <ion-text>Chưa có sản phẩm.</ion-text>
                </div>
                <div class="list-cart" formArrayName="lines">
                    <ion-grid *ngFor="let line of lines.controls; let i = index;" [formGroupName]="i">
                        <ion-row>
                            <ion-col size="2" class="ion-align-self-center quantity">
                                <div class="ion-flex ion-align-items-baseline">
                                    <etop-ion-input-format-number cssClass="ion-no-padding" style="width: 100%; margin-bottom: 0" formControlName="quantity" (blur)="checkBasket(line.value, i)">
                                    </etop-ion-input-format-number>
                                    <span>X</span>
                                </div>
                            </ion-col>
                            <ion-col size="9" class="ion-flex ion-align-self-center ion-align-items-center">
                                <div class="ion-flex ion-align-items-center">
                                    <div class="line-image" [ngStyle]="{'background-image': 'url(' + line.controls['image_url']?.value + ')'}"></div>
                                    <div class="line-product">
                                        <div class="line-product-name fix-line-1">
                                            {{line.controls['product_name'].value}}
                                        </div>
                                        <div class="line-retail-price">
                                            {{line.controls['retail_price'].value | vnd}}đ
                                        </div>
                                    </div>
                                </div>
                                <div class="total-price ml-auto">
                                    {{(line.controls['retail_price'].value * line.controls['quantity'].value) | vnd}}đ
                                </div>
                            </ion-col>
                            <ion-col size="1" class="ion-align-self-center" (click)="removeLine(i)">
                                <div class="ion-align-items-center ion-flex ion-justify-content-center">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
        <div class="ion-flex footer-buttons-etop" [class.has-popover]="showQuickBasket" *ePermissions="['shop/order:create']">
            <div class="w-100 footer-button-item btn-outline-gray m-r-5" (click)="showPopover()">
                <div class="info-only ion-text-left w-100" style="padding-left: 1rem;" [class.animation-up]="animating_up" [class.animation-down]="animating_down">
                    <div>{{orderForm.controls['total_items'].value}} sản phẩm</div>
                    <div class="total-basket-value">{{orderForm.controls['basket_value'].value | vnd}}đ</div>
                </div>
                <div>
                    <ion-icon name="chevron-up-outline" style="font-size: 1.5rem; color: #888;" *ngIf="!showQuickBasket">
                    </ion-icon>
                    <ion-icon name="chevron-down-outline" style="font-size: 1.5rem; color: #888;" *ngIf="showQuickBasket">
                    </ion-icon>
                </div>
            </div>
            <button class="w-100 bg-primary text-white footer-button-item" (click)="toBasket()">
        Tiếp tục
      </button>
        </div>
    </ion-toolbar>
</ion-footer>