<div class="w-100 h-100">
  <div class="d-flex align-items-start flex-column h-100">
    <div #listOrderLine class="list-order-line mb-auto w-100">
      <div *ngFor="let order_line of order_lines; index as idx_order" class="mb-3">
        <shop-order-line
          [order_line]="order_line" [idx_order]="idx_order" [active_line]="active_line"
          [removable]="order_lines.length > 1 || !order_line.p_data.editable"
          [variant_list]="variantList"
          (update)="update($event)" (delLine)="del(order_line)" (focusOrderLine)="onFocusOrderLine($event)"
          (variantSelected)="selectVariant($event)">
        </shop-order-line>
      </div>
      <div #addProductButton class="add-product text-right">
        <button class="btn btn-outline btn-white px-0" (click)="pushSampleProduct()">
          <i class="fas fa-plus mr-2 text-primary"></i>
          <span class="text-primary">Thêm sản phẩm</span>
        </button>
      </div>
    </div>
    <div class="list-product-group position-relative w-100">
      <shop-header-list-product-card
        [page_total]="page_total" (next)="paging($event)" (back)="paging($event)"
        (searchOption)="search($event, {isResetCurrentPage: true})" (searchSKU)="searchSKU($event)">
      </shop-header-list-product-card>
      <div class="list-product" [class.loading]="loading">
        <i *ngIf="loading" class="fas fa-circle-notch fa-spin text-primary"></i>
        <ng-container *ngIf="!loading">
          <div class="product-card" (click)="pushSampleProduct()">
            <div  class="add-product">
              <div class="add-sample">
                <i class="fas fa-plus-circle"></i>
              </div>
              <div class="font-10 text-center" style="margin-top: 15px;">
                Thêm sản phẩm
              </div>
            </div>
          </div>
          <div class="product-card" *ngFor="let product of page_item">
            <shop-product-card [product]="product" (click)="openPopupVariant(product)"></shop-product-card>
          </div>
        </ng-container>
      </div>

      <shop-popup-variants-pos-order
        #variantPopup [productSelected]="productSelected"
        (updateOrderline)="updateOrderLine($event)">
      </shop-popup-variants-pos-order>
    </div>
  </div>

</div>
