.delivery-service {
  margin-top: 2rem;
  background-color: #fff;

  .delivery-service-header {
    text-align: center;
    font-size: 1.5rem;
  }

  .delivery-service-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .delivery-service-logo {
      width: 80px;
      height: 30px;
    }

    .delivery-service-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1rem;

      .delivery-service-item {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .delivery-service-detail {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-left: 1rem;

          .name {
            font-size: 1rem;
          }

          .price {
            font-size: 1rem;
            font-weight: bold;
          }
        }

        .retrieve-and-delivery-time {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 4rem;
        }
      }
    }
  }
}
