<div class="modal-header">
  <span class="modal-title" style="font-weight: 500;">Import sản phẩm</span>
  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body" style="padding: 20px">
  <div class="form-group" *ngIf="!importing; else importingSpinner">
    <label class=" control-label">File Excel</label>
    <div style="display: flex;">
      <div class="custom-file" style="flex-grow: 1; width: unset !important;">
        <input
          (change)="uploadExcelFile($event)"
          type="file"
          class="custom-file-input cursor-pointer"
          placeholder="Upload từ máy tính của bạn"
          accept=".xlsx"
        />
        <label class="custom-file-label">{{
          productSrcFile && productSrcFile.name
            ? productSrcFile.name
            : 'Upload từ máy tính của bạn'
        }}</label>
      </div>
    </div>
  </div>
  <ng-template #importingSpinner>
    <div
      class="d-flex justify-content-center align-items-center"
      style="height: 38px;"
    >
      <i
        class="fas fa-circle-notch fa-spin font-16 mx-auto"
        style="color: var(--primary-color)"
      ></i>
    </div>
  </ng-template>
  <div
    class="import-result"
    #importResult
    [ngStyle]="{
      display:
        productSrcImportResult && productSrcImportResult.length != 0
          ? 'block'
          : 'none'
    }"
  >
    <div class="import-result-item" *ngFor="let rs of productSrcImportResult">
      <div
        class="alert {{ rs.className }}"
        [innerHTML]="rs.content | safeHtml"
      ></div>
    </div>
  </div>
</div>
<div class="modal-footer justify-content-between">
  <div>
    <a class="btn btn-outline btn-primary" href="/dl/imports/shop_products.v1.xlsx">
      <i class="fa fa-download mr-2"></i>
      Tải file import mẫu
    </a>
  </div>
  <div>
    <button class="btn btn-primary" (click)="import()" [disabled]="importing || !productSrcFile" *ngIf="!done">
      <i class="fas fa-circle-notch fa-spin" *ngIf="importing"></i>
      Import
    </button>
    <button class="btn btn-primary" (click)="closeModal()" *ngIf="done">
      Đóng
    </button>
  </div>
</div>
