.call-center-body {
  padding: 15px;
}
.box {
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #ffffff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 80px);
}
tr {
  background-color: rgba(248,248,255,0.3);
}

.row {
  display: flex;
}

.box {
  height: 100%;
  flex: 1;
}
.name-store {
  color: #b1b3b2;
  font-size: 12px;
  font-weight: 500;
}

.bg-white {
  background-color: #ffffff;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 4px;
}
