<etop-table #callLogTable [items]="(callLogs$ | async)" [scroll_id]="'callLogTable'"
            [show_paging]="(callLogs$ | async)?.length > 0 "
            (requestNewPage)="loadPage($event) " [loading]='true'
            [externalCurrentPage]="(ui$ | async)?.currentPage"
  >
    <ng-template #header let-liteMode="liteMode">
      <div class="row mobile-header">
        <div class="col-2 status-header">Trạng thái</div>
        <div class="col info-header mr-auto">Thông tin</div>
        <div class="col-4 action-header text-right">Thao tác</div>
      </div>
    </ng-template>
    <ng-template #item let-callLog="item">
      <div class="row call-log border-top" webcall-mobile-call-log-row
           [callLog]="callLog">
      </div>
    </ng-template>
    <ng-template #emptyItem>
      <div class="blank-page">
        <div>
          <img class="blank-img" src="assets/images/history-black-48dp.svg" alt="empty list" />
        </div>
        <div class="info">
          <div class="text-bigger text-bold text-center m-2">
            {{emptyTitle}}
          </div>
        </div>
      </div>
    </ng-template>
  </etop-table>
