<ng-container *ngIf="loading; else loadDone;">
  <div class="empty">
    <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
  </div>
</ng-container>
<ng-template #loadDone>
  <div *ngIf="ref_type" class="receipt-lines">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#order" role="tab">{{tabName}}</a>
      </li>
    </ul>
    <div class="tab-content flex-grow-1">
      <div class="tab-pane active" id="order" role="tabpanel">
        <shop-search-refs-input *ngIf="receipt.status != 'P' && receipt.status != 'N'"
          (refSelected)="onSelectRef($event)" [receipt_display]="receipt_type_display" [ref_type]="refType"
          [ref_display]="refDisplay" [trader_name]="trader_name" [trader_id]="traderID"
          [trader_display]="traderDisplay" [trader_type]="trader_type" [allow_input]="allow_input">
        </shop-search-refs-input>
        <div class="table-responsive">
          <table class="w-100">
            <thead>
              <tr>
                <th>Mã {{refDisplay | lowercase}}</th>
                <th class="text-right">Phải thanh toán</th>
                <th class="text-right">Đã thanh toán</th>
                <ng-container *ngIf="receipt.status != 'P' && receipt.status != 'N'; else unUpdatableHeader;">
                  <th class="text-right">{{receipt_type_display}} ở phiếu này</th>
                  <th class="remove-line"></th>
                </ng-container>
                <ng-template #unUpdatableHeader>
                  <th class="text-right" colspan="2">{{receipt_type_display}} ở phiếu này</th>
                </ng-template>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!receipt_lines?.length">
                <td colspan="5" class="no-lines">
                  Phiếu {{receipt_type_display | lowercase}} <span class="font-weight-bold">{{receipt?.code}} </span>chưa có đơn nào đính kèm {{tabName | lowercase}}
                </td>
              </tr>
              <ng-container *ngFor="let line of receipt_lines; let i = index;">
                <tr class="receipt-line-item">
                  <td>
                    <div class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailLine(line)">
                      {{line?.title}}
                      <i *ngIf="canExternalLink(line)" class="fas fa-external-link-alt external-link-icon"></i>
                    </div>
                    <div class="small-font">{{line?.created_at | date: 'dd/MM/yy HH:mm'}}</div>
                  </td>
                  <td class="text-right font-weight-bold">{{(line?.total_amount || 0) | vnd}}đ</td>
                  <td class="text-right font-weight-bold">
                    <span *ngIf="ref_type == 'order'">{{(line?.received_amount || 0) | vnd}}đ</span>
                    <span *ngIf="ref_type == 'purchase_order'">{{(line?.paid_amount || 0) | vnd}}đ</span>
                    <span *ngIf="ref_type == 'fulfillment'">{{(line?.paid_amount || 0) | vnd}}đ</span>
                  </td>
                  <ng-container *ngIf="receipt.status != 'P' && receipt.status != 'N'; else unUpdatable;">
                    <td>
                      <div class="d-flex justify-content-end">
                        <shop-line-amount-input [line]="line" [ref_display]="refDisplay"
                          [receipt_type_display]="receipt_type_display" [receipt_type]="receipt_type">
                        </shop-line-amount-input>
                      </div>
                    </td>
                    <td class="remove-line">
                      <div class="d-flex align-items-center justify-content-end cursor-pointer text-default"
                        (click)="removeLine(i)">
                        <i class="remove-icon far fa-times-circle"></i>
                      </div>
                    </td>
                  </ng-container>
                  <ng-template #unUpdatable>
                    <td colspan="2">
                      <div class="d-flex justify-content-end">
                        <shop-line-amount-input [line]="line" [updatable]="false"
                          [receipt_type_display]="receipt_type_display" [ref_display]="refDisplay">
                        </shop-line-amount-input>
                      </div>
                    </td>
                  </ng-template>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="p-3 receipt-line-item no-reference-object" *ngIf="remainAmount > 0">
      {{receipt_type == 'receipt' && 'Cộng' || 'Trừ'}} vào tài khoản khách hàng:
      <span class="text-primary font-weight-bold">{{remainAmount | vnd}}đ</span>
    </div>
  </div>
</ng-template>
