.receipt-lines {
  .receipt-line-item {
    border-bottom: 1px solid var(--border-gray-color);
  }
  .no-reference-object {
    text-align: right;
  }
  li {
    &.nav-item {
      border-left: none;
    }
    a.nav-link {
      border: none;
      background-color: var(--white-color);
      min-height: auto;
      color: var(--dark-color);
      padding: 10px 15px;
      &.active {
        border-bottom: 2px solid var(--primary-color) !important;
        color: var(--primary-color) !important;
      }
    }
  }
  thead {
    background-color: var(--light);
  }
  th {
    font-weight: 400;
    padding: 7px 15px;
    border-bottom: 1px solid var(--border-gray-color);
    border-top: 1px solid var(--border-gray-color);
  }
  td {
    padding: 10px 15px;
  }
  .remove-line {
    width: 50px;
    .remove-icon {
      font-size: 16px;
    }
  }
}

.empty {
  padding: 20px 15px;
  text-align: center;
  background: var(--gray-color);
}

.no-lines {
  background: var(--light);
  padding: 20px 15px !important;
  text-align: center;
}

.search-input {
  padding: 15px !important;
  border-bottom: 1px solid var(--border-gray-color);
}
