.update-btn {
  position: absolute;
  right: 10px;
  top: 13px;
  border: none !important;
  display: flex;
  align-items: center;
}
.setting-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.setting-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.setting-header, .setting-body {
  border-bottom: 1px solid var(--gray-color);
}

.setting-header, .setting-body, .setting-footer {
  padding: 1.5rem;
}

.setting-box {
  margin-top: 1.25rem;
}

.buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  .btn {
    padding: 1rem;
  }
}
