<div class="modal-header">
  <h5 class="modal-title">{{getTitle()}}</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label class="col-form-label">Họ tên*:</label>
    <input type="text" [(ngModel)]="editData.full_name" class="form-control font-weight-bold"
      placeholder="Nhập họ tên khách hàng">
  </div>
  <div class="form-group">
    <label class="col-form-label">Số điện thoại*:</label>
    <input type="text" pattern="[0-9]*" [(ngModel)]="editData.phone" class="form-control font-weight-bold"
      placeholder="Số điện thoại khách hàng">
  </div>
  <div class="form-group">
    <label class="col-form-label">Số nhà, tên đường*:</label>
    <input type="text" class="form-control font-weight-bold" placeholder="Nhập số nhà, tên đường"
           [(ngModel)]="editData.address1">
  </div>
  <div class="form-group">
    <label class="col-form-label">Tỉnh thành*:</label>
    <etop-filter-select [(ngModel)]="editData.province_code" (ngModelChange)="onProvinceSelected()"
                        [placeHolder]="'Chọn tỉnh thành'" [options]="provinces" [border_radius]="'4px'">
    </etop-filter-select>
  </div>
  <div class="form-group">
    <label class="col-form-label">Quận huyện*:</label>
    <etop-filter-select [(ngModel)]="editData.district_code" (ngModelChange)="onDistrictSelected()"
                        [placeHolder]="'Chọn quận huyện'" [options]="districts" [border_radius]="'4px'">
    </etop-filter-select>
  </div>
  <div class="form-group">
    <label class="col-form-label">Phường xã{{wardRequired ? '*' : ''}}:</label>
    <etop-filter-select [placeHolder]="'Chọn phường xã'" [(ngModel)]="editData.ward_code" [options]="wards"
                        [border_radius]="'4px'">
    </etop-filter-select>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button class="btn text-white" [ngClass]="confirmBtnClass" (click)="confirm()">
    {{title == 'create' ? 'Thêm mới' : 'Lưu'}}
  </button>
</div>
