<ion-header>
    <ion-toolbar>
        <ion-title>Xác thực email</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="reset-pass ion-padding">
        <div class="check-code ion-text-center">
            <ion-text class="header-title">Nhập mã xác thực đã gửi trong email của bạn</ion-text>
            <ion-grid class="ion-padding-top">
                <ion-row>
                    <ion-col size="2">
                        <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 0)" #codeVerify1 class="verify-input" [(ngModel)]="codeVerify[0]" (ngModelChange)="onInputChange($event, 1)">
                        </ion-input>
                    </ion-col>
                    <ion-col size="2">
                        <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 1)" #codeVerify2 class="verify-input" [(ngModel)]="codeVerify[1]" (ngModelChange)="onInputChange($event, 2)">
                        </ion-input>
                    </ion-col>
                    <ion-col size="2">
                        <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 2)" #codeVerify3 class="verify-input" [(ngModel)]="codeVerify[2]" (ngModelChange)="onInputChange($event, 3)">
                        </ion-input>
                    </ion-col>
                    <ion-col size="2">
                        <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 3)" #codeVerify4 class="verify-input" [(ngModel)]="codeVerify[3]" (ngModelChange)="onInputChange($event, 4)">
                        </ion-input>
                    </ion-col>
                    <ion-col size="2">
                        <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 4)" #codeVerify5 class="verify-input" [(ngModel)]="codeVerify[4]" (ngModelChange)="onInputChange($event, 5)">
                        </ion-input>
                    </ion-col>
                    <ion-col size="2">
                        <ion-input type="tel" maxlength="1" (keypress)="onChange($event, 5)" #codeVerify6 class="verify-input" [(ngModel)]="codeVerify[5]" (ngModelChange)="onInputChange($event, 6)">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div style="padding-top: 3rem;">
                <span>Bạn không nhận được mã? </span>
                <etop-count-down [countdown]="countdown" (countDone)="countdown = 0"></etop-count-down>
                <strong *ngIf="countdown == 0" (click)="retry()">Gửi lại</strong>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <button class="w-100 bg-primary text-white footer-button-item" (click)="verify()">
        Xác thực
      </button>
        </div>
    </ion-toolbar>
</ion-footer>