.close-icon {
  font-size: 2rem;
  float: right;
}

.verify-input {
  border-bottom: 2px solid #eee;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.reset-pass {
  padding-top: 2rem;
}