<ng-container [formGroup]="fulfillmentForm">
  <div class="import-row">
    <div class="import-col" [class.error-col]="errorFfm" style="width: 8%;">
      <div class="h-50 d-flex justify-content-between align-items-center">
        <mat-checkbox
          color="{{color == 'topship' ? 'accent' : color}}"
          formControlName="selected" disableRipple>
        </mat-checkbox>
        <span class="text-default">#{{index + 1}}</span>
      </div>
      <div class="h-50 d-flex align-items-center">
        <etop-material-input
          #edCode [topshipInput]="color == 'topship'"
          [error]="!!errorField('ed_code')" [errorMessage]="errorField('ed_code')?.msg"
          type="input" placeholder="Mã nội bộ" appearance="standard"
          formControlName="ed_code">
        </etop-material-input>
      </div>
    </div>
    <div class="import-col" style="width: 12%;">
      <div class="h-50 d-flex align-items-center">
        <etop-material-input
          #customerName [topshipInput]="color == 'topship'"
          [error]="!!errorField('customer_name')" [errorMessage]="errorField('customer_name')?.msg"
          type="input" placeholder="Tên" appearance="standard"
          formControlName="customer_name">
        </etop-material-input>
      </div>
      <div class="h-50 d-flex align-items-center">
        <etop-material-input
          #customerPhone [topshipInput]="color == 'topship'"
          [error]="!!errorField('customer_phone')" [errorMessage]="errorField('customer_phone')?.msg"
          type="input" placeholder="Số điện thoại" appearance="standard"
          formControlName="customer_phone">
        </etop-material-input>
      </div>
    </div>
    <div class="import-col" style="width: 25%;">
      <div class="h-50 d-flex align-items-center">
        <etop-material-input
          #shippingAddress [topshipInput]="color == 'topship'"
          [error]="!!errorField('shipping_address')" [errorMessage]="errorField('shipping_address')?.msg"
          type="input" placeholder="Địa chỉ đầy đủ" appearance="standard"
          formControlName="shipping_address">
        </etop-material-input>
      </div>
      <div class="h-50 d-flex align-items-center justify-content-between">
        <etop-material-input-autocomplete
          #provinceCode [topshipInput]="color == 'topship'"
          [error]="!fulfillmentForm.controls['province_code'].value" [errorMessage]="'Chưa chọn Tỉnh thành'"
          style="width: 30%;" placeholder="Tỉnh thành" appearance="standard"
          [options]="provincesList$ | async" [displayMap]="displayMap" [valueMap]="valueMap"
          formControlName="province_code">
        </etop-material-input-autocomplete>
        <etop-material-input-autocomplete
          #districtCode [topshipInput]="color == 'topship'"
          [error]="!fulfillmentForm.controls['district_code'].value" [errorMessage]="'Chưa chọn Quận huyện'"
          style="width: 30%;" placeholder="Quận huyện" appearance="standard"
          [options]="(districtsList$ | async) || []" [displayMap]="displayMap" [valueMap]="valueMap"
          formControlName="district_code">
        </etop-material-input-autocomplete>
        <etop-material-input-autocomplete
          #wardCode [topshipInput]="color == 'topship'"
          [error]="!fulfillmentForm.controls['ward_code'].value" [errorMessage]="'Chưa chọn Phường xã'"
          style="width: 30%;" placeholder="Phường xã" appearance="standard"
          [options]="(wardsList$ | async) || []" [displayMap]="displayMap" [valueMap]="valueMap"
          formControlName="ward_code">
        </etop-material-input-autocomplete>
      </div>
    </div>
    <div class="import-col" style="width: 20%;">
      <div class="h-50 d-flex align-items-center">
        <etop-material-input
          #productDescription [topshipInput]="color == 'topship'"
          [error]="!!errorField('product_description')" [errorMessage]="errorField('product_description')?.msg"
          type="input" placeholder="Sản phẩm" appearance="standard"
          formControlName="product_description">
        </etop-material-input>
      </div>
      <div class="h-50 d-flex align-items-center justify-content-between">
        <etop-material-input-format-number
          #totalWeight [topshipInput]="color == 'topship'"
          [error]="!!errorField('total_weight')" [errorMessage]="errorField('total_weight')?.msg"
          style="width: 30%;" placeholder="Khối lượng" appearance="standard"
          formatNumberUnit="g" formControlName="total_weight"
          [disabled]="uniData.weight.toggled"
          (blur)="onFormBlur()">
        </etop-material-input-format-number>
        <etop-material-input-format-number
          #basketValue [topshipInput]="color == 'topship'"
          [error]="!!errorField('basket_value')" [errorMessage]="errorField('basket_value')?.msg"
          style="width: 30%;" placeholder="Khai giá" appearance="standard"
          formatNumberUnit="đ" formControlName="basket_value"
          (blur)="onFormBlur()">
        </etop-material-input-format-number>
        <mat-checkbox
          color="{{color == 'topship' ? 'accent' : color}}"
          style="width: 30%;" formControlName="include_insurance" disableRipple
          [disabled]="uniData.insurance.toggled">
          Bảo hiểm
        </mat-checkbox>
      </div>
    </div>
    <div class="import-col" style="width: 8%;">
      <div class="h-50 d-flex align-items-center">
        <etop-material-input-format-number
          #codAmount [topshipInput]="color == 'topship'"
          [error]="!!errorField('cod_amount')" [errorMessage]="errorField('cod_amount')?.msg"
          placeholder="Thu hộ" appearance="standard"
          formatNumberUnit="đ" formControlName="cod_amount"
          (blur)="onFormBlur()">
        </etop-material-input-format-number>
      </div>
    </div>
    <div class="import-col" style="width: 14%;">
      <div *ngIf="!displayShipmentServiceSelector" class="h-100 d-flex align-items-center">
        Không có gói dịch vụ
      </div>
      <ng-container *ngIf="displayShipmentServiceSelector">
        <div class="h-50 d-flex align-items-center">
          <etop-material-input
            #shippingServiceCode [topshipInput]="color == 'topship'"
            type="select" appearance="standard" matOptionHeight="4rem"
            placeholder="{{fulfillmentForm?.controls['gettingShippingServices']?.value ? 'Đang lấy gói dịch vụ...' : 'Gói dịch vụ'}}"
            [disabled]="fulfillmentForm?.controls['gettingShippingServices']?.value"
            [optionSelect]="fulfillmentForm?.controls['shippingServicesList']?.value"
            [displayMap]="serviceDisplayMap" [valueMap]="serviceValueMap"
            formControlName="shipping_service_code">
          </etop-material-input>
        </div>
        <div class="h-50 d-flex align-items-center" *ngIf="fulfillmentForm?.controls['shipping_service_code']?.value">
          Phí ship:&nbsp;<b>{{fulfillmentForm?.controls['shipping_service_fee']?.value | number}}đ</b>
        </div>
      </ng-container>
    </div>
    <div class="import-col" style="width: 13%;">
      <div class="h-50 d-flex align-items-center">
        <etop-material-input
          #tryOn [topshipInput]="color == 'topship'" type="select" placeholder="Ghi chú xem hàng" appearance="standard"
          [optionSelect]="tryOnOptions" formControlName="try_on"
          [disabled]="uniData.tryOn.toggled">
        </etop-material-input>
      </div>
      <div class="h-50 d-flex align-items-center">
        <etop-material-input
          #shippingNote [topshipInput]="color == 'topship'" type="input" placeholder="Ghi chú giao hàng" appearance="standard"
          formControlName="shipping_note"
          [disabled]="uniData.shippingNote.toggled">
        </etop-material-input>
      </div>
    </div>
  </div>
</ng-container>
