.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .btn-connect {
    width: 50%;
    border-radius: 5px !important;
    background: var(--ion-color-primary);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}

.carrier-item {
  padding: .75rem 0;
  border-bottom: 1px solid #f5f5f5;
  margin: 0 1.5rem;

  &:first-child {
    border-top: 1px solid #f5f5f5;
  }
  .carrier-logo {
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid var(--border-gray-color);
    border-radius: 100%;
    object-fit: contain;
    object-position: center;
    margin-right: 1rem;
  }

  .action {
    margin-left: auto;
  }

  .connect-status {
    ion-text {
      font-size: 0.9rem;
      opacity: 0.8;
    }

    ion-icon {
      opacity: 0.8;
      font-size: 0.8rem;
      margin-right: 0.25rem;
      margin-top: 0.25rem;
    }
  }
}

.btn-footer {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.btn-connect-more {
  background: var(--ion-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

etop-empty::ng-deep {
  margin: auto;
}
