<ion-header>
    <ion-toolbar>
        <ion-title>Kết nối nhà vận chuyển</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-flex">
    <div class="carrier-item ion-flex ion-align-items-center">
        <img src="/assets/images/provider_logos/Topship-logo.png" alt="" class="carrier-logo">
        <div class="info">
            <div class="carrier-name">TOPSHIP</div>
            <div class="connect-status ion-flex ion-align-items-center">
                <ion-icon name="ellipse" color="success"></ion-icon>
                <ion-text>Đã kết nối</ion-text>
            </div>
        </div>
    </div>
    <ng-container *ngIf="(loggedInConnections$ | async)?.length">
        <div class="list-carrier">
            <ng-container *ngFor="let connection of (availableConnections$ | async)">
                <div *ngIf="isActive(connection)">
                    <div class="carrier-item ion-flex ion-align-items-center">
                        <img src="{{connection?.provider_logo}}" alt="" class="carrier-logo">
                        <div class="info">
                            <div class="carrier-name">{{connection?.name_display}}</div>
                            <div class="connect-status ion-flex ion-align-items-center">
                                <ion-icon name="ellipse" color="success"></ion-icon>
                                <ion-text>Đã kết nối</ion-text>
                            </div>
                            <div class="connect-status ion-flex ion-align-items-center">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <ion-text>{{connection?.connection_email}}</ion-text>
                            </div>
                        </div>
                        <div class="action" (click)="deleteShopConnection(connection)">
                            <ion-icon name="trash-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ion-content>
<ion-footer class="btn-footer" (click)="showCarriersList()">
    <ion-toolbar class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <div class="h-100 w-100 ion-no-margin btn-connect-more btn-outline btn-topship">
                <ion-icon name="add-outline" class="text-topship"></ion-icon>
                <ion-text class="text-topship">Kết nối nhà vận chuyển</ion-text>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>