<div class="dialog-header ">
  <div class="dialog-title">Hướng dẫn nạp tiền</div>
  <div class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div class="dialog-body">
  <span class="title" [innerHTML]="banner | safeHtml"></span>
</div>
