<div class="carrier-wrapper p-4">
  <img class="avatar" src="{{carrierConnection?.provider_logo}}" alt="">
  <div class="carrier-name">{{carrierConnection?.name}}</div>
  <div class="text-center">
    Vui lòng nhập thông tin tài khoản {{carrierConnection?.connection_provider | uppercase}} của bạn để kết nối
  </div>
</div>
<div class="p-4">
  <div class="py-2">
    <etop-material-input
      textLabel="Số điện thoại" placeholder="Nhập số điện thoại" type="input"
      [(ngModel)]="loginInfo.identifier" (ngModelChange)="loginInfoChanged.next(loginInfo)">
    </etop-material-input>
  </div>
</div>
