<ion-header>
    <ion-toolbar>
      <ion-title>Mẫu trả lời nhanh</ion-title>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-flex">
    <ng-container>
      <div class="list-template">
        <div class="template-item ion-flex ion-align-items-center ion-justify-content-between" *ngFor="let messageTemplate of (messageTemplates$ | async)">
          <div class="info">
            <div class="font-bold">/{{messageTemplate.short_code}}</div>
            <div class="address-detail">
              <ion-text>{{messageTemplate.template}}</ion-text>
            </div>
          </div>
          <div class="action" (click)="presentActionSheet(messageTemplate)" *ePermissions="['facebook/message_template:update']">
            <ion-icon name="ellipsis-horizontal-circle-outline" class="font-bigger" style="opacity: 0.5"></ion-icon>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!(messageTemplates$ | async)?.length">
        <div class="h-100">
            <div class="centered h-100">
                <div style="margin: auto;">
                    Chưa có mẫu trả lời nhanh
                </div>
            </div>
        </div>
        
    </ng-container>
    
  </ion-content>
  <ion-footer class="btn-footer" (click)="createOrEditTemplate(null)" *ePermissions="['facebook/message_template:create']">
    <ion-toolbar class="no-padding">
      <div class="footer-buttons ion-flex">
        <div class="h-100 w-100 ion-no-margin btn-connect-more">
          <ion-icon name="add-outline" color="primary"></ion-icon>
          <ion-text color="primary">Thêm mẫu trả lời nhanh</ion-text>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
  