.btn-footer {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
  }
  
  .btn-connect-more {
    background: var(--ion-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .template-item {
    padding: .75rem 0;
    border-bottom: 1px solid #f5f5f5;
    margin: 0 1.5rem;
  
    &:first-child {
      border-top: 1px solid #f5f5f5;
    }
  }
  
  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  etop-empty::ng-deep {
    margin: auto;
  }