<div class="content">
  <div class="product-info p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="input-item col-12">
            <etop-material-input
              placeholder="Tên khách hàng*" textLabel="Tên khách hàng*"
              [(ngModel)]="customer.full_name" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input
              placeholder="Số điện thoại*" textLabel="Số điện thoại*"
              [(ngModel)]="customer.phone" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input
              placeholder="Email" textLabel="Email"
              [(ngModel)]="customer.email" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input
              placeholder="Chọn giới tính" textLabel="Giới tính"
              [optionSelect]="genders" [(ngModel)]="customer.gender" type="select">
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input
              textLabel="Ngày sinh"
              placeholder="Ngày sinh" type="datetime" [(ngModel)]="customer.birthday">
            </etop-material-input>
          </div>
          <ng-container [formGroup]="customerAddressForm">
            <div class="input-item col-6">
              <etop-material-input-autocomplete
                placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành" [options]="provincesList$ | async"
                [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
                formControlName="provinceCode">
              </etop-material-input-autocomplete>
            </div>
            <div class="input-item col-6 pl-0">
              <etop-material-input-autocomplete
                placeholder="Chọn quận huyện" textLabel="Quận huyện" [options]="(districtsList$ | async) || []"
                [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
                formControlName="districtCode">
              </etop-material-input-autocomplete>
            </div>
            <div class="input-item col-6">
              <etop-material-input-autocomplete
                placeholder="Chọn phường xã" textLabel="Phường xã" [options]="(wardsList$ | async) || []"
                [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
                formControlName="wardCode">
              </etop-material-input-autocomplete>
            </div>
            <div class="input-item col-6 pl-0">
              <etop-material-input
                placeholder="Nhập địa chỉ cụ thể" textLabel="Địa chỉ cụ thể" type="input"
                formControlName="address1">
              </etop-material-input>
            </div>
          </ng-container>
          <div class="input-item col-12">
            <etop-material-input
              placeholder="Ghi chú" textLabel="Ghi chú" [(ngModel)]="customer.note" type="text-area">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
    <div class="actions p-0 pt-3 text-right">
      <button class="btn btn-primary text-white" [disabled]="loading" (click)="create()">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
        Tạo khách hàng
      </button>
    </div>
  </div>
