.items-list-row {
    padding: 0.8rem 1rem;
    border-top: 1rem solid #f5f5f5;
    &:first-child {
        border-top: none;
    }
}

.support-img {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    object-fit: cover;
    object-position: center;
}

.content-box {
    padding: 1.5rem;
    margin: 1rem 1rem 0;
    background-color: #eee;
}

.supports-box {
    padding: 1rem;
}

.support-box {
    border-radius: 5px;
    border: solid 1px #eee;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
}

.large-font {
    font-size: 1.2rem;
}

.call-icon {
    color: #ffffff;
    background-color: #34b6d3;
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    border-radius: 100%;
}

.messenger-img {
    width: 2rem;
    height: 2rem;
}

.line {
    border-top: solid 1px #f5f5f5;
}

.info-title {
    padding: 0 0 1rem;
}