<div class="info-item" *ngIf="!orders?.length">
  Chưa có đơn hàng
</div>
<div class="orders-list">
  <div class="order-item cursor-pointer" *ngFor="let order of orders" (click)="orderDetail(order)">
    <div class="d-flex align-items-center justify-content-between">
      <div class="order-info">
        <div class="text-primary text-bold lower-medium-font cursor-pointer">{{order?.code}}</div>
        <div class="small-font">{{order?.created_at | date: 'dd/MM/yy HH:mm'}}</div>
      </div>
      <div class="order-price text-bold text-right">
        <div class="price">{{order?.total_amount | vnd}}đ</div>
        <div class="small-font order-status order-{{order?.status}}">
          {{order?.status_display}}
        </div>
      </div>
    </div>
    <div
      class="ffm d-flex align-items-center justify-content-between"
      *ngIf="order?.fulfillments?.length > 0">
      <div class="d-flex align-items-center">
        <div class="provider-logo">
          <img [src]="order?.fulfillments[0]?.shipping_provider_logo" alt="">
        </div>
        <div class="small-font pl-2">
          {{order?.fulfillments[0]?.carrier | uppercase}}
          - {{order?.fulfillments[0]?.shipping_code}}
          - COD <strong class="small-font">{{order?.fulfillments[0]?.total_cod_amount | vnd}}đ</strong>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="small-font order-status order-{{order?.fulfillments[0]?.shipping_state}}">
          {{order?.fulfillments[0]?.shipping_state_display}}
        </div>
      </div>
    </div>
  </div>
</div>
