.order-item {
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-gray-color);
  &:last-child {
    border-bottom: none;
  }
}

.ffm {
  margin-top: 5px;
}

.order-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.provider-logo {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  img {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}
