// http://ionicframework.com/docs/theming/
// App Global Sass
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply globally. These styles are for
// the entire app and not just one component. Additionally, this file can be
// also used as an entry point to import other Sass files to be included in the
// output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's default Sass
// variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule for the .md, .ios,
// or .wp mode classes. The mode class is automatically applied to the <body>
// element in the app.
@import '~@etop/ionic-scss/index';
//@import './theme/variables.scss';
@import './theme/variables.scss';
@import './theme/layout.scss';
@import './theme/text.scss';
@import './theme/status.scss';
@import './theme/badge.scss';
@import './theme/button.scss';

body {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

* {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 !important;
}

.summary-amount .native-input.sc-ion-input-ios {
  padding: 5px 0;
}

ion-label {
  color: #666 !important;
}

ion-input {
  font-size: 1.1rem !important;
  color: #555 !important;
  input {
    padding: 10px 5px !important;
  }
}

ion-list {
  padding: 0 !important;
}

ion-item {
  &.input-wrapper {
    --border-color: #ccc;
    --min-height: unset;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    margin-bottom: 1rem;
    padding: 0 16px;
  }
}

.formatted-number {
  font-weight: 700;
  font-size: 1.1rem;
  width: 100%;
  padding: 10px 0;
}

* {
  --ion-text-color: #222;
}
