<ion-header>
  <ion-toolbar>
    <ion-title>Chỉnh sửa đơn hàng {{order?.fulfillments[0].code}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="box-detail ion-padding ion-flex ion-align-items-center ion-justify-content-center">
    <ion-icon name="person-outline" style="margin-right: 0.5rem"></ion-icon>
    <ion-text class="font-14">Thay đổi thông tin người gửi</ion-text>
  </div>
  <div class="box-detail" [formGroup]="pickup_address" *ngIf="!loading">
    <ion-list class="ion-margin">
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Tên người gửi</ion-label>
        <ion-input enterkeyhint="next" formControlName="full_name"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Số điện thoại người gửi</ion-label>
        <ion-input enterkeyhint="next" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Địa chỉ</ion-label>
        <ion-input enterkeyhint="next" formControlName="address1"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Tỉnh thành</ion-label>
        <ion-select formControlName="province_code" placeholder="Chọn tỉnh thành" (ionChange)="onProvinceSelected()"
          okText="Chọn" cancelText="Hủy">
          <ion-select-option value="{{province.code}}" *ngFor="let province of provinces">{{province.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Quận huyện</ion-label>
        <ion-select formControlName="district_code" (ionChange)="onDistrictSelected()" placeholder="Chọn quận huyện"
          okText="Chọn" cancelText="Hủy">
          <ion-select-option value="{{district.code}}" *ngFor="let district of districts">{{district.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Phường xã</ion-label>
        <ion-select formControlName="ward_code" placeholder="Chọn phường xã" okText="Chọn" cancelText="Hủy">
          <ion-select-option value="{{ward.code}}" *ngFor="let ward of wards">{{ward.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
  <ion-toolbar color="primary" class="no-padding" (click)="submit()">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Tiếp tục
      </button>
    </div>
  </ion-toolbar>
</ion-footer>