<ion-header>
    <ion-toolbar>
        <ion-title>Thông tin tài khoản</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <etop-network-status></etop-network-status>
</ion-header>
<ion-content class="ion-flex">
    <div class="box">
        <div class="list-item box">
            <div class="item ion-flex">
                <ion-text>Họ tên</ion-text>
                <ion-text class="ml-auto ion-align-self-center font-bold">{{user?.full_name}}</ion-text>
            </div>
            <div class="item ion-flex">
                <ion-text>Số điện thoại</ion-text>
                <ion-text class="ml-auto ion-align-self-center font-bold">{{user?.phone}}</ion-text>
            </div>
            <div class="item ion-flex">
                <ion-text>Email</ion-text>
                <ion-text class="ml-auto ion-align-self-center font-bold">{{user?.email}}</ion-text>
            </div>
            <div class="item ion-flex">
                <ion-text>Người giới thiệu</ion-text>
                <ion-text *ngIf="user?.ref_aff" class="ml-auto ion-align-self-center font-bold">{{user?.ref_aff}}</ion-text>
                <div class="ml-auto ion-align-self-center font-bold" *ngIf="!user?.ref_aff">
                    <ion-input [(ngModel)]="userRefAff" placeholder="Nhập mã giới thiệu"></ion-input>
                    <div class="ion-text-end m-t-10">
                        <button (click)="updateRefAff()" class="btn btn-primary btn-outline">Cập nhật</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ion-padding">
        <button class="btn btn-primary btn-outline w-100" (click)="changePassword()">Đổi mật khẩu</button>
    </div>

</ion-content>
<ion-footer class="ion-text-center">
    <ion-toolbar class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <div class="btn btn-danger btn-outline w-100">
                <ion-text color="danger" (click)="logout()">Đăng xuất</ion-text>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>