.list-item {
  opacity: 0.8;
}

.item {
  font-size: 1rem;
  padding: 1rem 16px;
  border-bottom: 0.045em solid rgba(0, 0, 0, .12);

  .item-icon {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 1rem;
  }

  ion-text {
    vertical-align: middle;
  }
}

.box {
  box-shadow: 0 0 10px rgba(0, 0, 0, .12);
  border-radius: 5px;
}

.logout {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  padding: 8px 16px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

ion-input {
  border-bottom: 1px solid #ddd;
  height: 1.7rem;
  text-align: right;
  color: #666;
}
