<ion-header>
    <ion-toolbar>
        <ion-title>Tạo mẫu mã</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="box-detail" [formGroup]="variantForm">
        <ion-grid class="ion-padding-horizontal">
            <ion-row>
                <ion-col size="12">
                    <div style="position: relative;">
                        <ion-item lines="none" class="ion-no-padding line-custom" style="margin-right: 35px">
                            <ion-label position="floating">Mã mẫu mã</ion-label>
                            <ion-input formControlName="code"></ion-input>
                        </ion-item>
                        <ion-buttons (click)="scanBarcode()" class="barcode-button">
                            <ion-icon name="barcode-outline"></ion-icon>
                        </ion-buttons>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <ion-item lines="none" class="ion-no-padding line-custom">
                        <ion-label position="floating">Giá</ion-label>
                        <ion-input formControlName="retail_price"></ion-input>
                    </ion-item>
                </ion-col>
                <ng-container formArrayName="attributes">
                    <ion-col size="12" *ngFor="let attribute of attributes.controls; let i = index" [formGroupName]="i">
                        <ion-item lines="none" class="ion-no-padding line-custom">
                            <ion-label position="floating">{{attribute.controls['name'].value}}</ion-label>
                            <ion-input formControlName="value"></ion-input>
                        </ion-item>
                    </ion-col>
                </ng-container>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>

<ion-footer class="footer-button-wrapper" (click)="create()">
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <button class="w-100 bg-primary text-white footer-button-item">
        Tạo
      </button>
        </div>
    </ion-toolbar>
</ion-footer>