:host {
  font-size: 1rem;
  color: #444 !important;
}

ion-icon,
ion-label {
  font-size: 1rem !important;
}

.user {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.25rem;
}

.shop {
  font-size: 0.9rem;
  opacity: 0.7;
}


.trading {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

ion-list {
  margin-bottom: 0;
}

.menu-item {
  height: var(--sidebar-menu-item-height);
  background: var(--sidebar-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
  color: #777;
  &.active {
    .menu-icon {
      border-radius: 100%;
      background-color: var(--primary-color);
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}