<div class="slider-detail-section" [formGroup]="shipmentPriceListForm">
  <div class="row">
    <div class="col-3 py-2">
      <etop-material-input
        textLabel="Nhà vận chuyển" placeholder="Chọn nhà vận chuyển" type="select"
        [optionSelect]="connectionsList$ | async" matOptionHeight="4rem"
        [displayMap]="displayMap" [valueMap]="valueMap" formControlName="connection_id">
      </etop-material-input>
    </div>
    <div class="col-3 py-2">
      <etop-material-input
        type="input" placeholder="Nhập tên bảng giá" textLabel="Tên bảng giá"
        formControlName="name">
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input
        type="input" placeholder="Nhập mô tả" textLabel="Mô tả"
        formControlName="description">
      </etop-material-input>
    </div>
    <div class="col-3 py-2" *ngIf="noPermission">
      <etop-material-input type="custom" textLabel="Trạng thái">
        <span
          class="read-only"
          [ngClass]="{'order-status order-P': (activeShipmentPriceList$| async)?.is_default}">
          {{(activeShipmentPriceList$| async)?.is_default ? 'Mặc định' : '-'}}
        </span>
      </etop-material-input>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center py-2" *ngIf="!noPermission">
    <mat-slide-toggle color="primary" formControlName="is_default" disableRipple>
      {{(activeShipmentPriceList$| async)?.is_default ? 'Đang được đặt làm mặc định' : 'Đặt làm mặc định'}}
    </mat-slide-toggle>
    <button class="btn btn-primary text-white" [disabled]="loading" (click)="updateShipmentPriceList()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Cập nhật
    </button>
  </div>
</div>
<ng-container *ePermissions="['admin/shipment_price:view']">
  <ng-container *ngIf="initializing; else initialized;">
    <div class="slider-loading">
      <i class="text-primary fa fa-spin fa-circle-o-notch"></i>
    </div>
  </ng-container>
  <ng-template #initialized>
    <div class="slider-detail-section">
      <div class="slider-detail-info-title">
        <i class="fa fa-circle text-primary smaller-font mr-2"></i>
        DANH SÁCH CẤU HÌNH GIÁ
      </div>
      <ng-container *ngIf="!shipmentPricesGrouped.length">
        <div class="empty">
          Chưa có cấu hình giá
        </div>
      </ng-container>
      <ng-container *ngIf="shipmentPricesGrouped.length">
        <div class="table-responsive">
          <table class="w-100 main-header">
            <thead>
            <tr>
              <td style="width: 4%">#</td>
              <td style="width: 32%">Tên</td>
              <td style="width: 8%" class="text-right">Khối lượng</td>
              <td style="width: 8%" class="text-right">Phí chính</td>
              <td style="width: 8%" class="text-center">Vượt cân</td>
              <td style="width: 8%" class="text-center">Bảo hiểm</td>
              <td style="width: 8%" class="text-center">Thu hộ</td>
              <td style="width: 8%" class="text-center">Giao lại</td>
              <td style="width: 8%" class="text-center">Trả hàng</td>
              <td style="width: 8%" class="text-center">Đổi TT</td>
            </tr>
            </thead>
          </table>
        </div>
        <div *ngFor="let item of shipmentPricesGrouped; let i = index;" class="table-responsive">
          <table class="w-100">
            <thead [ngClass]="{'bg-primary text-white': item?.onSettingShipmentPrices}">
            <tr>
              <th colspan="10">
                {{item?.shipmentService?.name}}
                <ng-container
                  *ePermissions="['admin/shipment_price:create','admin/shipment_price:update','admin/shipment_price:delete']">
                  <span
                    *ngIf="!item?.onSettingShipmentPrices" (click)="settingShipmentPrices(item)"
                    class="ml-2 cursor-pointer text-primary small-font font-weight-normal">
                    <span *ngIf="item?.shipmentPrices?.length">Chỉnh sửa</span>
                    <span *ngIf="!item?.shipmentPrices?.length">Tạo cấu hình giá</span>
                  </span>
                </ng-container>
              </th>
            </tr>
            </thead>
            <tbody *ngIf="!item?.onSettingShipmentPrices">
            <tr
              *ngFor="let sp of item?.shipmentPrices; let i = index;"
              admin-shipment-price-row [sp]="sp" [index]="i">
            </tr>
            <tr *ngIf="!item?.shipmentPrices?.length">
              <td colspan="10">
                Chưa có cấu hình giá
              </td>
            </tr>
            </tbody>
          </table>
          <admin-shipment-price-actions
            *ngIf="item?.onSettingShipmentPrices"
            [action]="settingShipmentPricesAction"
            (changed)="sendTelegramMessage($event, item?.shipmentService)"
            (toBack)="settingShipmentPrices(item, true)">
          </admin-shipment-price-actions>
        </div>
      </ng-container>
    </div>
  </ng-template>
</ng-container>
