<ion-header>
  <ion-toolbar>
    <ion-title class="p-0">Cập nhật tài khoản ngân hàng</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="input-wrapper" [formGroup]="bankForm">
    <ion-item>
      <ion-label position="floating">Tên ngân hàng<span class="text-danger">*</span></ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" placeholder="Chọn ngân hàng" name="bank" formControlName="bankCode">
        <ion-select-option value="{{bank.code}}" *ngFor="let bank of banksList$ | async">
          {{bank?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tỉnh<span class="text-danger">*</span></ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" formControlName="bankProvinceCode" name="provice" placeholder="Chọn Tỉnh">
        <ion-select-option *ngFor="let bank_provice of bankProvincesList" [value]="bank_provice.code">
          {{bank_provice?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Chi Nhánh<span class="text-danger">*</span></ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" formControlName="bankBranchCode" name="branch" placeholder="Chi nhánh ngân hàng">
        <ion-select-option value="{{bank_Branch.code}}" *ngFor="let bank_Branch of bankBranchesList">
          {{bank_Branch?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tên chủ tài khoản<span class="text-danger">*</span></ion-label>
      <ion-input class="form-control" placeholder="Tên chủ tài khoản ngân hàng"
        formControlName="accountName" (blur)="formatName()">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Số tài khoản<span class="text-danger">*</span></ion-label>
      <ion-input type="input" class="form-control" placeholder="Số tài khoản" formControlName="accountNumber">
      </ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="footer-button-wrapper ion-no-border">
  <ion-toolbar>
    <div class="footer-buttons ion-flex">
      <button type="submit" class="w-100 bg-primary text-white footer-button-item font-bold" (click)="updateBankAccount()">
        <span>Xác nhận</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
