<div class="modal-header">
  <div class="w-100 text-center">
    <span class="text-big text-center font-weight-bold"
      >Kết nối nhà vận chuyển</span
    >
    <button class="close" (click)="closeModal()">
      <span class="text-large">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body p-0">
  <ng-container *ngIf="loginStep"> 
    <div class="carrier-item d-flex align-items-center p-4">
      <div class="carrier-img pr-4">
        <img src="{{ connection?.provider_logo }}" alt="" />
      </div>
      <div class="info">
        <div class="carrier-name">{{ connection?.name }}</div>
        <div class="status">
          Kết nối với {{ connection?.connection_provider | uppercase }} bằng cách
          dùng tài khoản sẵn có
        </div>
      </div>
    </div>
    <div>
      <div class="tab-content">
        <div id="login" class="tab-pane pt-4" [ngClass]="{ 'active show': tab == 'login' }">
          <div class="px-4">
            <div class="py-2">
              <etop-material-input placeholder="Số điện thoại" textLabel="Số điện thoại" type="input"
                [(ngModel)]="login_info.identifier" (enter)="continue()">
              </etop-material-input>
            </div>
          </div>
          <div class="border-top mt-4">
            <div class="d-flex align-items-center p-4">
              <div class="ml-auto">
                <button class="btn btn-primary" (click)="continue()" [disabled]="loading">
                  <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
                  Tiếp tục
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="otpStep">
    <div class="carrier-item d-flex align-items-center p-4">
      <div class="carrier-img pr-4">
        <img src="{{ connection?.provider_logo }}" alt="" />
      </div>
      <div class="info">
        <div class="status">
          GHN vừa gủi cho bạn một mã xác nhận đến số điện thoại <strong>{{login_info.identifier}}.</strong> Vui lòng kiểm tra tin nhắn và nhập mã vào ô bên dưới
        </div>
      </div>
    </div>
    <div>
      <div class="tab-content">
        <div class="tab-pane pt-4 active show">
          <div class="px-4">
            <div class="py-2">
              <etop-material-input placeholder="Mã xác thực" textLabel="Nhập mã xác thực" type="input"
                [(ngModel)]="loginOTP.otp" (enter)="loginShopConnection()">
              </etop-material-input>
            </div>
            <div class="retry mt-2" *ngIf="timer">
              <span>Bạn chưa nhận được mã?</span>
              <span *ngIf="countDown > 0; else retry" class="font-weight-bold text-primary"
                style="opacity: 0.7; margin-left: 0.5rem">Gửi lại ({{timer}})</span>
              <ng-template #retry>
                <span class="font-weight-bold text-primary" style="margin-left: 0.5rem; cursor: pointer;" (click)="retrySendOtp()">Gửi lại
                </span>
              </ng-template>
            </div>
          </div>
          <div class="border-top mt-4">
            <div class="d-flex align-items-center p-4">
              <div class="ml-auto">
                <button class="btn btn-default btn-outline mr-3" (click)="back()">
                  Quay lại
                </button>
                <button class="btn btn-primary" (click)="loginShopConnection()" [disabled]="loading">
                  <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
                  Kết nối
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  
</div>
