.carrier-img img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-gray-color);
  border-radius: 100%;
  object-fit: contain;
  object-position: center;
}

.carrier-tab {
  li a {
    text-align: center;
    background-color: var(--white-color);
    color: var(--default-color);
    min-height: auto;
    border-bottom: 2px solid var(--light-color);
    cursor: pointer;
    &:hover{
      color: var(--primary-color);
    }
    &.active {
      color: var(--primary-color);
      border-bottom: 2px solid var(--primary-color);
    }
  }
}

.password-note{
  background-color: var(--gray-color);
}


.border-top {
  .text-primary a {
    color: var(--primary-color);
    text-decoration: none;
  }
}