.button-wrapper {
  font-size: 12px;
  button {
    flex-grow: 1;
  }
  .btn-topship {
    border-radius: 0;
  }
}

.btn-outline-edit {
  background-color: transparent !important;
  border: solid 1px #9B9B9B !important;
  color: #9B9B9B !important;
}

.success-order {
  padding: 1rem;
}

.border-bottom {
  border-bottom: 1px solid var(--ion-color-light-shade);
}

.product-image-modal {
  width: 44px;
  border-radius: 5px;
  border: 1px solid #eee;
  height: 44px;
  object-fit: cover;
}
