<ion-header class="border-bottom" >
  <ion-toolbar>
    <ion-buttons slot="start" class="">
      <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title class="">Mua ngay</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="true">
  <div class="success-order">
    <div class="ion-text-center">
      <img src="assets/images/order_success.png" alt="" style="width: 60%;">
    </div>
    <div class="ion-flex ion-align-items-center ion-padding-vertical">
      <img [src]="product?.image_urls[0] || 'assets/images/placeholder.png'"
           class="ion-margin product-image-modal" alt="">
      <div>
        <span class="font-12">Bạn đã đặt mua thành công</span>
        <b class="font-14 font-weight-bold fix-line-1">{{ product?.name }}</b>
      </div>
    </div>
    <div class="font-12">
      <strong>Topship</strong> sẽ liên hệ với bạn để xác nhận đơn trong thời gian sớm nhất.
    </div>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper ion-no-border">
  <ion-toolbar>
    <div class="footer-buttons ion-flex">
      <button type="submit" class="w-100 btn-outline-edit text-white footer-button-item font-bold" (click)="back()" style="margin-right: .5rem">
        <span>Tiếp tục mua hàng</span>
      </button>
      <div class="w-100 btn btn-topship btn-outline text-white footer-button-item font-bold">
        <a href="tel:0975066378">Gọi Topship ngay</a>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
