<div class="content">
  <div class="product-info p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="input-item col-12">
            <etop-material-input textLabel="Mã khách hàng" type="custom">
              <span class="read-only">{{contact.id || '-'}}</span>
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input placeholder="Tên khách hàng" textLabel="Tên khách hàng"
                                 [(ngModel)]="full_name" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input placeholder="Số điện thoại" textLabel="Số điện thoại"
                                 [(ngModel)]="phone" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input textLabel="Ngày tạo" type="custom">
              <span class="read-only">{{contact.created_at | date:'dd/MM/yyyy' || '-'}}</span>
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *eRoles="['owner', 'telecom_customerservice']">
    <div class="actions">
      <button class="btn btn-primary" (click)="updateContact()">
        <span class="align-middle">Cập nhật liên hệ</span>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="loading">
    <div class="empty">
      <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
    </div>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div class="box-ticket">
      <div class="label px-4 py-3 font-weight-bold"> Phiếu yêu cầu</div>
      <div class="table-responsive" *ngIf="ticketsContact?.length; else empty">
        <table class="w-100">
          <thead>
            <th>Mã</th>
            <th>Tiêu đề</th>
            <th>Trạng thái</th>
          </thead>
          <tbody>
          <tr *ngFor="let ticket of ticketsContact;">
            <td>
              <span class="text-primary font-weight-bold cursor-pointer" (click)="ticketDetail(ticket)">
                {{ticket?.code}}
                <i class="fas fa-external-link-alt external-link-icon text-primary"></i>
              </span>
            </td>
            <td>
              <div style="font-size: 10px;">{{ticket.title}}</div>
            </td>
            <td>
              <div style="font-size: 10px;">{{ ticket?.state_display }}</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <ng-template #empty>
        <div class="empty">Chưa có yêu cầu hỗ trợ nào.</div>
      </ng-template>
      <div class="actions mt-3">
        <button class="btn btn-primary" (click)="createTicket(contact)">
          <span class="align-middle">Tạo phiếu yêu cầu</span>
        </button>
      </div>
    </div>

  </ng-container>
</div>
