.input-item {
  margin-bottom: 0.5rem;
}
.actions {
  text-align: right;
  padding: 0 1rem 1rem;
}

th {
  font-weight: 400;
  padding: 7px 15px;
  border-bottom: 1px solid var(--border-gray-color);
  border-top: 1px solid var(--border-gray-color);
}
td {
  padding: 10px 15px;
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
}

.empty {
  padding: 12px 15px;
  text-align: center;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 0;
}

.default-cursor {
  cursor: default;
}

.box-ticket {
  border-top: 1rem solid rgba(0, 0, 0, 0.04);
}

thead {
  background: rgba(0, 0, 0, 0.01);
}
