<etop-filter
  class="no-print" [filters]="filters" (filterChanged)="sellOrderList?.filter($event)">
</etop-filter>
<shop-returning-fulfillments-warning
  *ngIf="returningOrdersCount > 0" [returningQuantity]="returningOrdersCount">
</shop-returning-fulfillments-warning>
<div class="page-content no-print pb-0">
  <shop-sell-order-list #sellOrderList></shop-sell-order-list>
</div>
<shop-print>
  <shop-bill-printing
    [printOnlyOrders]="isPrintingOrders"
    [printOnlyFulfillments]="isPrintingFfms"
    [printOrderAndFfm]="isPrintingOrderAndFfm"
    [orders]="printingOrders"
    [fulfillments]="printingFulfillments"
    >
  </shop-bill-printing>
</shop-print>
