.segments {
  position: sticky;
  height: 4rem;
  background-color: var(--white-color);
  top: 0;
  z-index: 2;

  .segment {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid var(--dark-border-color);

    &.active {
      color: var(--primary-color);
      border-bottom: 3px solid var(--primary-color);
    }
  }
}

