<div class="show-768">
  <div class="row segments">
    <div class="col segment active">Hoá đơn
    </div>
    <div class="col segment" (click)="goToTransaction()">Giao dịch
    </div>
  </div>
</div>

<div class="page-container">
  <etop-table style="height: 100%;" #invoiceTable [items]="invoices$ | async" [scroll_id]="'invoiceTable'"
            [show_paging]="(invoices$ | async)?.length > 0 " (requestNewPage)="loadPage($event)" [loading]='loading$ | async'
            [externalCurrentPage]="(ui$ | async)?.currentPage">
  <ng-template #header let-liteMode="liteMode">
    <div class="col hide-768">
      <span class="table-header-text">Mã</span>
    </div >
    <div class="col" *ngIf="!liteMode">
      <span class="table-header-text">Ngày tạo</span>
    </div>
    <div class="col" style="min-width:25rem" >
      <span class="table-header-text" >Nội dung</span>
    </div>
    <div class="col" *ngIf="!liteMode">
      <span class="table-header-text">Loại</span>
    </div>
    <div class="col hide-768" *ngIf="!liteMode">
      <span class="table-header-text">Loại tham chiếu</span>
    </div>
    <div class="col hide-768" *ngIf="!liteMode" >
      <span class="table-header-text">Trạng thái</span>
    </div>
    <div class="col  text-right">
        <span class="table-header-text">Số tiền</span>
      </div>
  </ng-template>
  <ng-template #item let-invoice="item" let-liteMode="liteMode">
    <div class="row table-row" etelecom-cs-invoice-row [liteMode]=liteMode
         [invoice]="invoice" (click)="invoiceDetail(invoice.id)">
    </div>
  </ng-template>
  <ng-template #emptyItem>
    <etop-empty-page [description]="emptyDescription">
    </etop-empty-page>
  </ng-template>
</etop-table>
<etop-side-slider #invoiceSlider [width]="sliderWidth">
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
        Đóng<mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-template>
  <etelecom-cs-invoice-detail></etelecom-cs-invoice-detail>
</etop-side-slider>
</div>

