<div class="page-container">
  <div class="page-content pb-0">
    <div class="page-wrapper">
      <etop-table
        #ticketTable
        [items]="ticketsList" width="40%" (requestNewPage)="loadPage($event)"
        [show_paging]="ticketsList.length && showPaging"
      >
        <ng-template #header let-liteMode="liteMode">
          <div class="col" style="min-width: 20rem;">
            <span class="table-header-text">Ticket</span>
          </div>
          <div class="col" *ngIf="!liteMode" style="min-width: 25rem;">
            <span class="table-header-text">Người tạo</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Danh bạ</span>
          </div>
          <div class="col">
            <span class="table-header-text">Nội dung</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Trạng thái</span>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <div class="blank-page">
            <img class="blank-img" src="assets/images/admin/icon_user_shop.png" alt="empty list"/>
            <div class="info">
              <div class="text-bigger text-bold text-center m-2">
                {{emptyTitle}}
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #item let-ticket="item" let-liteMode="liteMode">
          <div
            class="row table-row" movecrop-ticket-row
            [class.active]="selectedTicket?.id == ticket?.id"
            [ticket]="ticket" [liteMode]="liteMode" (click)="detail(ticket)">
          </div>
        </ng-template>
      </etop-table>

      <etop-side-slider #ticketSlider width="60%">
        <ng-template #customHeader>
          <div class="header-detail d-flex justify-content-between px-4 py-3">
            <div class="d-flex align-items-center">
              <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            </div>
            <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
              Đóng <mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>
        <movecrop-ticket-detail *ngIf="selectedTicket" [ticket]="selectedTicket"></movecrop-ticket-detail>
      </etop-side-slider>
    </div>
  </div>
</div>

