<etop-table
  #supplierTable [items]="suppliers" (requestNewPage)="loadPage($event)"
  [show_paging]="suppliers.length > 0 && showPaging">
  <ng-template #header let-liteMode="liteMode">
    <div class="col text-left small-cell">
      <span class="table-header-text">Mã</span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Tên</span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Số điện thoại</span>
    </div>
    <div class="col text-left" *ngIf="!liteMode">
      <span class="table-header-text">Email</span>
    </div>
    <div class="col text-left">
      <span class="table-header-text">Tên doanh nghiệp</span>
    </div>
  </ng-template>

  <ng-template #emptyItem>
    <etop-empty-page [title]="emptyTitle" [type]="emptyType" [actions]="emptyAction"
    description="Bạn có thể thêm nhà cung cấp trực tiếp hoặc thông qua tạo đơn nhập hàng."></etop-empty-page>
  </ng-template>

  <ng-template #item let-supplier="item" let-liteMode="liteMode">
<!-- TODO: supplier row-->
    <div class="row table-row" shop-supplier-row [class.active]="supplier?.p_data?.selected || supplier?.p_data?.detailed"
         [supplier]="supplier" [liteMode]="liteMode" (click)="detail($event, supplier)">
    </div>
  </ng-template>
</etop-table>

<etop-side-slider #slider>
  <ng-template #customHeader>
    <div class="header-detail d-flex justify-content-between px-4 py-3">
      <div class="d-flex align-items-center">
        <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
        <shared-dropdown-actions></shared-dropdown-actions>
      </div>
      <button class="btn btn-default btn-outline" (click)="onSliderClosed()">Đóng
        <i class="fa fa-times"></i>
      </button>
    </div>
  </ng-template>

  <ng-container *ngIf="creatingNewSupplier; else editSupplier;">
    <shop-create-supplier-form (createSupplier)="getSuppliers()"></shop-create-supplier-form>
  </ng-container>
  <ng-template #editSupplier>
    <ng-container *ngIf="showDetailSupplier; else multipleSuppliers;">
      <shop-single-supplier-edit-form [supplier]="selectedSuppliers[0]"></shop-single-supplier-edit-form>
    </ng-container>
    <ng-template #multipleSuppliers>
      <shop-multiple-supplier-edit-form></shop-multiple-supplier-edit-form>
    </ng-template>
  </ng-template>
</etop-side-slider>
