<ng-container *ngIf="loading; else loadDone;">
  <div class="empty">
    <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
  </div>
</ng-container>

<ng-template #loadDone>
  <h6 class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    PHIẾU NHẬP
  </h6>
  <ng-container *ngIf="inInventoryVouchers.length > 0; else emptyIn">
    <div class="table-responsive">
      <table class="w-100">
        <thead>
        <tr>
          <th>Mã</th>
          <th>Đối tác</th>
          <th>Số sản phẩm</th>
          <th>Tổng số lượng</th>
          <th>Giá trị</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let inventoryVoucher of inInventoryVouchers">
          <td>
              <span class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailVoucher('in', inventoryVoucher?.code)">
                {{inventoryVoucher?.code}}
                <i class="fas fa-external-link-alt external-link-icon"></i>
              </span>
          </td>
          <td>
              <span class="text-primary font-weight-bold cursor-pointer"  (click)="viewDetailCustomer()">
                {{inventoryVoucher?.trader.full_name}}
                <i class="fas fa-external-link-alt external-link-icon"></i>
              </span>
          </td>
          <td>
            <div>{{inventoryVoucher?.total_products || 0}}</div>
          </td>
          <td>
            <div>{{inventoryVoucher?.total_items || 0}}</div>
          </td>
          <td>
            <div class="font-weight-bold">
              {{ inventoryVoucher?.total_amount || 0 | vnd}}đ
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </ng-container>
  <ng-template #emptyIn>
    <div class="empty mb-3">Đơn hàng <strong>{{order.id}}</strong> chưa có phiếu nhập kho nào.</div>
  </ng-template>
  <h6 class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    PHIẾU XUẤT
  </h6>
  <ng-container *ngIf="outInventoryVouchers.length > 0 ; else emptyOut">
    <div class="table-responsive">
      <table class="w-100">
        <thead>
        <tr>
          <th>Mã</th>
          <th>Đối tác</th>
          <th>Số sản phẩm</th>
          <th>Tổng số lượng</th>
          <th>Giá trị</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let inventoryVoucher of outInventoryVouchers">
          <td>
              <span class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailVoucher('out', inventoryVoucher?.code)">
                {{inventoryVoucher?.code}}
                <i class="fas fa-external-link-alt external-link-icon"></i>
              </span>
          </td>
          <td>
              <span class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailCustomer()" >
                {{inventoryVoucher?.trader.full_name}}
                <i class="fas fa-external-link-alt external-link-icon"></i>
              </span>
          </td>
          <td>
            <div>{{inventoryVoucher?.total_products}}</div>
          </td>
          <td>
            <div>{{inventoryVoucher?.total_items}}</div>
          </td>
          <td>
            <div class="font-weight-bold">
              {{ inventoryVoucher?.total_amount || 0 | vnd}}đ
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #emptyOut>
    <div class="empty">Đơn hàng <strong>{{order.id}}</strong> chưa có phiếu xuất kho nào.</div>
  </ng-template>
</ng-template>
