<!--<div class="confirm-order-header d-flex align-items-center">-->
<!--  <span class="confirm-order-title">&nbsp;Chốt đơn</span>-->
<!--  <div class="w-50" style="margin-left: auto" (click)="changeAddress('from')">-->
<!--    <etop-material-input-->
<!--      textLabel="Địa chỉ lấy hàng(*)" appearance="standard" type="custom">-->
<!--      <span class="shipping-from" [ngbTooltip]="pickupAddressDisplay" placement="bottom" container="body"-->
<!--            *ngIf="(fulfillment$ | async)?.pickup_address?.province_code">{{pickupAddressDisplay}}</span>-->
<!--      <span *ngIf="!(fulfillment$ | async)?.pickup_address?.province_code" class="text-default">Chọn địa chỉ lấy hàng</span>-->
<!--    </etop-material-input>-->
<!--  </div>-->
<!--</div>-->
<div class="confirm-order">
  <faboshop-customer-info-order></faboshop-customer-info-order>
  <faboshop-products-order></faboshop-products-order>
  <faboshop-delivery-info></faboshop-delivery-info>
  <div class="text-right btn-confirm">
    <button class="btn-primary" (click)="confirmOrder()" [disabled]="confirmingOrder">
      <i *ngIf="confirmingOrder" class="fa fa-spin fa-circle-o-notch"></i>
      &nbsp;Chốt đơn
    </button>
  </div>
</div>

