.please-view-in-desktop {
  display: none;
  position: absolute;
  background: #fff;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .please-view-in-desktop {
    display: flex;
    height: 100%;
    padding: 2rem;
  }
}