.empty-address {
  padding: 16px;
  text-align: center;
  background: #f5f5f5;
  color: #888;
}

.address-item {
  color: #666;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1px solid #eee;
  &.selected {
    color: var(--topship-color);
  }
  .address-info {
    padding-left: 10px;
    flex: 1;
    .name-and-phone {
      font-weight: 700;
    }
    .address-display {
      font-size: .9rem;
    }
  }
}

.ion-color-primary {
  --ion-color-base: var(--topship-color) !important;
}