<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always" placeholder="Nhập để tìm kiếm" debounce="200" cancelButtonText="Đóng"
      (ionCancel)="clearSearch($event)" (ionChange)="changeSearch($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let option of selectOptions" (click)="selectOption(option)">
        <ion-text style="font-size: 1.2rem">{{option.name}}</ion-text>
    </ion-item>
    <div *ngIf="selectOptions?.length == 0" class="ion-text-center ion-margin-top w-100">Không tìm thấy</div>
  </ion-list>
</ion-content>
