<ion-header class="border-bottom">
  <ion-toolbar>
    <ion-title>Nguồn hàng - Dịch vụ</ion-title>
    <ion-buttons slot="start" class="header-back-icon">
      <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of goodsProduct">
        <div class="trading-box" >
          <div class="w-100 trading-content" >
            <div style="width: 80%" class="m-auto">
              <div class="product-image"
                   [ngStyle]="{'background': 'url(' + product.product.image_urls[0] || 'assets/images/placeholder.png' + ')'}">
              </div>
            </div>
            <div class="p-2">
              <div class="product-name" style="-webkit-box-orient: vertical">
                {{product.product.name}}
              </div>
            </div>
          </div>

          <div class="product-payment border-top ion-flex ion-align-items-center p-2">
            <div class="price">
              <span class="font-weight-bold font-11">{{product.product.retail_price | vnd}}đ</span>
            </div>
            <div class="ml-auto" (click)="openCheckoutModal(product?.product)">
              <button class="btn  btn-checkout" >Mua ngay</button>
            </div>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

