.detail-section {
  display: flex;
  flex-direction: column;

  background: #ffffff;
  padding: .85rem 1.3rem;
  margin-bottom: 10px;
  &:last-child {
    box-shadow: none;
    margin-bottom: 0;
  }

  .ticket-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .ticket-code, .ticket-status {
      color: #4A4A4A;
      font-weight: bolder;
    }
  }

  .ticket-info {
    color: #4A4A4A;
    white-space: pre-line;
  }

  .ticket-title {
    color: black;
    padding: 0.5rem 0;
    font-size: 1.15rem;
    font-weight: 500;
  }
}

.list-tickets {
  height: 100%;
  background: rgba(0,0,0,0.04);
}

.header {
  padding-bottom: 0.5rem;
}

.info {
  padding-right: 1rem;
}

.no-ticket {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: var(--ion-color-light);

  .support-text {
    width: 65%;
    text-align: center;
  }

  .support-icon {
    font-size: 7rem;
    margin-bottom: 2rem;
    opacity: 0.4;
  }
}

.support-icon {
  font-size: 7rem;
  margin-bottom: 2rem;
  opacity: 0.4;
}

.directed-ffm {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--ion-color-light);
  .carrier-list {
    margin-right: auto;
  }
  .support-icon {
    font-size: 7rem;
    margin-bottom: 2rem;
    opacity: 0.4;
    height: 14rem ;
  }
}
