<!-- Có Tickets -->
<ng-container *ngIf="(ticket_list$ | async).length > 0 && !isDirectOrder">
  <ion-content>
    <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
    <div class="list-tickets" >
      <ng-container *ngFor="let ticket of (ticket_list$ | async)">
        <div class="detail-section" (click)="viewToTicketDetail(ticket)">
          <div class="ticket-header">
            <div>
              <ion-text class="text-topship ticket-code">{{ticket?.code}} </ion-text> -
              <ion-text class="ticket-status"> {{ticket?.state_display}}</ion-text>
            </div>
            <div class="ticket-time text-medium font-10"> {{ticket?.created_at | date: "hh:mm dd/MM/yyyy"}}</div>
          </div>
          <div class="ticket-title">
            {{ticket?.title}}
          </div>
          <div class="ticket-info">
            {{ticket?.description}}
          </div>
        </div>
      </ng-container>
    </div >      
  </ion-content>
</ng-container>

<!-- Không có Tickets -->
<ng-container *ngIf="!(ticket_list$ | async).length && !isDirectOrder">
  <div class="no-ticket">
    <span class="material-icons support-icon" >
      support
    </span>
    <div class="support-text">
      Bạn chưa gửi yêu cầu hỗ trợ nào cho đơn hàng này
    </div>
  </div >
</ng-container>

<!-- Đơn direct (không được gửi ticket) -->
<ng-container *ngIf="isDirectOrder">
  <div class="directed-ffm">
    <img src="assets/images/icon_support.png" alt="" class="support-icon">
    <div class="ion-margin-bottom">
      Hệ thống chỉ tiếp nhận yêu cầu hỗ trợ trên các đơn giao hàng tạo qua các NVC của TOPSHIP:
    </div>
    <div class="ion-margin-bottom carrier-list">
      <div>- TOPSHIP <b>J&T</b></div>
      <div>- TOPSHIP <b>GHN</b></div>
      <div>- TOPSHIP <b>GHTK</b></div>
      <div>- TOPSHIP <b>VTPost</b></div>
      <div>- TOPSHIP <b>NinjaVan</b></div>
      <div>- TOPSHIP <b>DHL</b></div>
    </div>
    <div class="font-weight-bolder">
      Đối với đơn hàng được tạo từ tài khoản NVC riêng của Shop, vui lòng liên hệ trực tiếp NVC để được hỗ trợ.
    </div>
  </div >
</ng-container>
