:host {
  padding: 15px 0;
  display: block;
  max-width: 1000px;
  margin: auto;
  height: 100%;
}

.nav-tabs {
  border-bottom: 2px solid var(--primary-color);
  font-size: 12px;
  position: relative;
  height: 50px;
  .nav-item {
    margin-bottom: 0 !important;
    border: none;
    cursor: pointer;
    &.nav-right {
      position: absolute;
      right: 0;
    }
    &.read-all {
      display: flex;
      .text-primary:hover {
        color: var(--primary-color) !important;
      }
      .text-default:hover {
        color: var(--default-color) !important;
      }
      select {
        border: none;
        padding-left: 15px;
      }
      .nav-link {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        border-right: 1px solid var(--border-gray-color);
        &:last-child {
          border-right: none;
        }
        &.noti-shops-dropdown {
          padding: 0;
        }
        &.disabled {
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }
  li {
    .nav-link {
      border-radius: 0 !important;
      border: 1px solid var(--border-gray-color);
      border-right: 0;
      color: var(--dark-color);
      background: var(--lighter-gray-color);
      display: flex;
      align-items: center;
      &.last-tab {
        border-right: 1px solid var(--border-gray-color);
      }
      &.current {
        color: var(--primary-color);
        font-weight: 600;
        background: var(--white-color);
      }
    }

    &:last-child {
      .nav-link {
        border-right: 1px solid var(--border-gray-color);
      }
    }
  }
}

.noti-wrapper {
  height: calc(100% - 50px);
  max-height: 750px;
  overflow-y: auto;
}

.noti-item {
  padding: 10px;
  border: 1px solid var(--border-gray-color);
  border-top: none;
  cursor: pointer;
  background: var(--white-color);
  .noti-date {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    .fa {
      color: var(--primary-color);
    }
  }

  .noti-title {
    font-weight: 600;
    color: var(--dark-color);
  }

  &.is-read {
    background: rgba(0, 0, 0, .01);
    .noti-date {
      color: var(--default-color);
      .fa {
        color: var(--default-color);
      }
    }
  }
}

.text-primary {
  .fa {
    color: var(--primary-color);
  }
}
