<div class="page-content h-100">
  <div class="d-flex h-100">
    <etop-table #productTable [items]="products" (requestNewPage)="onPagination($event)">
      <ng-template #header let-liteMode="liteMode">
        <div class="col" style="max-width: 50px;">
        </div>
        <div class="col" style="min-width: 300px">
          <span class="font-11">Sản phẩm</span>
        </div>
        <div class="col text-center" *ngIf="!liteMode">
          <div class="font-11">Danh mục</div>
        </div>
        <div class="col anm-slide-right text-right">
          <span>GIÁ GỐC</span>
        </div>
        <div class="col text-right" *ngIf="!liteMode">
          <span class="font-11">ETOP HOÀN</span>
        </div>
        <div class="col anm-slide-right text-right" *ngIf="!liteMode">
          <span class="font-11">DOANH THU ETOP</span>
        </div>
        <div class="col anm-slide-right text-right" *ngIf="!liteMode">
          <span class="font-11">ETOP CHIẾT KHẤU</span>
        </div>
      </ng-template>
      <ng-template let-item="item" let-liteMode="liteMode" #item>
        <div class="row product-line" supply-product-row [item]="item" [liteMode]="liteMode" (click)="detail(item)"
          [ngClass]="{ 'active': item.product.p_data.selected }">
        </div>
      </ng-template>
    </etop-table>

    <etop-side-slider #productSlide title="Chi tiết sản phẩm" (slideClosed)="onSlideClosed()">
      <ng-container *ngIf="checkList.length > 0">
        <supply-single-product-form [item]="checkList[0]" (updateProduct)="reloadProduct()">
        </supply-single-product-form>
      </ng-container>
    </etop-side-slider>
  </div>

</div>

