<div *ngIf="lines?.length; else empty;" class="table-responsive">
  <table class="w-100">
    <thead>
      <tr>
        <th>Phiên bản sản phẩm</th>
        <th class="text-right">Tồn kho</th>
        <th class="text-right">SL thực tế</th>
        <th class="text-right">Chênh lệch </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let line of lines">
        <td>
          <div class="text-primary font-weight-bold">{{line?.code}}</div>
          <div class="small-font">
            <span>{{line?.product_name}}</span>
            <span *ngFor="let attr of line?.attributes; let i = index;" class="font-weight-bold">
              {{i == 0 ? '' : ' - '}}{{attr.value}}
            </span>
          </div>
        </td>
        <td class="text-right font-weight-bold">{{line?.old_quantity}}</td>
        <td class="text-right font-weight-bold">{{line?.new_quantity}}</td>
        <td class="text-right font-weight-bold">{{diff(line)}}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #empty>
  <div class="empty">Phiếu kiểm kho này chưa có sản phẩm.</div>
</ng-template>
