.upload-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem 0;
}

.button-wrapper {
  padding: 1.25rem;
}

.upload-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none !important;
  display: flex;
  align-items: center;
  padding: 0;
  .fa, .fas {
    font-size: 1.15rem;
  }
}
