<div class="slider-detail-section">
  <div class="row">
    <div class="col-6 py-2">
      <etop-material-input
        textLabel="Nhà vận chuyển" placeholder="Chọn nhà vận chuyển" type="select" matOptionHeight="4rem"
        [optionSelect]="builtinConnections$ | async" [displayMap]="displayMap" [valueMap]="valueMap"
        [(ngModel)]="selectedConnectionId">
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input
        textLabel="Ngày thanh toán" placeholder="Chọn ngày thanh toán" type="datetime"
        [(ngModel)]="externalPaidAt">
      </etop-material-input>
    </div>
    <div class="col-4 py-2">
      <etop-material-input
        textLabel="Ghi chú" placeholder="Nhập ghi chú" type="input"
        [(ngModel)]="note">
      </etop-material-input>
    </div>
    <div class="col-8 py-2">
      <input (change)="onSelectFile($event)" type="file" hidden accept=".xlsx, .csv, .xls" #inputImport>
      <etop-material-input
        class="position-relative"
        textLabel="File đối soát" type="custom" (click)="uploadFile()">
        <span class="cursor-pointer">
          {{importedFile && importedFile.name ? importedFile.name : "Chọn file đối soát"}}
        </span>
        <button class="upload-btn btn btn-primary btn-outline">
          <i class="fas fa-file-upload"></i>
          &nbsp;Chọn file
        </button>
      </etop-material-input>
    </div>
  </div>
  <div class="text-right py-2">
    <button class="btn btn-primary" (click)="importFile()" [disabled]="loading">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Tải lên
    </button>
  </div>
</div>
