.ion-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #BBB;
    padding: 0.75rem 1rem;
    width: 100%;
    font-size: 0.9rem;
    background-color: white;
    box-shadow: none;
    outline: none;
}

input:focus,
button:focus {
    outline: none;
}

.border-rounded {
    border-radius: 50rem;
}

.bg-primary {
    background-color: #33b7d5;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.grecaptcha-badge {
    display: none !important;
}

ion-item .item-native {
    padding-left: 0 !important;
}

.alert-wrapper {
    --width: 280px !important;
}

.alert-radio-label.sc-ion-alert-ios,
.alert-button-inner.sc-ion-alert-ios {
    font-size: 12px;
}

.alert-message.sc-ion-alert-ios:empty {
    padding-bottom: 8px;
}

.alert-head.sc-ion-alert-ios {
    padding: 4px !important;
}

ion-label.label-floating {
    font-size: 14px !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.picker-button,
.picker-opts {
    font-size: 14px !important;
}

.picker-opt,
.picker-opts,
.picker-prefix,
.picker-suffix,
.select-text {
    font-size: 14px !important;
}

ion-datetime {
    padding: 8px 0 !important;
}

ion-menu-button {
    height: 3.5rem;
    color: #ccc !important;
    border-right: solid 1px #ececec;
}

.ellipsis-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}


/* TOAST */


/* TOAST */

.fix-line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fix-line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.select-variant .popover-content {
    max-height: 80vh !important;
    top: 50% !important;
    left: 50% !important;
    width: 80%;
    max-width: 300px;
    transform: translate(-50%, -50%) !important;
    background: white !important;
}

.connect-success {
    background-color: var(--ion-color-success);
    padding: 0.5rem;
    color: #fff;
}

.disconnect {
    background-color: var(--ion-color-danger);
    padding: 0.5rem;
    color: #fff;
}

ion-toggle {
    zoom: 0.7;
}

ion-input,
ion-select,
ion-datetime {
    font: 500 1.2rem Arial !important;
}

ion-textarea {
    textarea {
        font: 500 1.2rem Arial !important;
    }
}

.searchbar-input {
    font-size: 1rem !important;
}

.popover-translucent {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.6);
}

.popover-content {
    background: white !important;
}

.barcode-button {
    position: absolute;
    right: 0;
    justify-content: flex-end;
    bottom: 8px;
}

.topship {
    .alert-button {
        color: var(--topship-color) !important;
    }
    [aria-checked=true] .alert-radio-label {
        color: var(--topship-color) !important;
    }
    [aria-checked=true] .alert-radio-inner {
        border-color: var(--topship-color) !important;
    }
}

ion-label {
    color: var(--ion-color-medium) !important;
    font-size: 0.8rem;
}

.item-has-value,
.item-has-focus {
    &.item-lines-none {
        &.line-custom {
            ion-input,
            ion-textarea,
            ion-select,
            ion-datetime {
                border-width: 0px 0px 1.5px!important;
                border: solid #ccc;
            }
        }
    }
}

.item-lines-none {
    &.line-custom {
        ion-input,
        ion-textarea,
        ion-select,
        ion-datetime {
            border-width: 0px 0px 0.5px!important;
            border: solid #ececec;
        }
    }
}

ion-toolbar {
    --border-color: #ececec;
    ion-buttons {
        &.buttons-first-slot {
            height: 3rem;
        }
    }
}