<div class="col product-info d-flex align-items-center pl-0">
  <span class="product-img" (click)="detailProduct()">
    <img src="{{ item.product.image_urls[0] || 'assets/images/placeholder.png'}}" alt="product-image">
  </span>
  <span class="ml-4 align-self-center">
    <div class="product-name">
      <span class="font-weight-bold" (click)="detailProduct()">{{item.product.name}}</span>
      <span class="badge etop-badge text-primary bg-white btn-primary btn-outline link-product" style="font-size: 8px"
        (click)="copyLinkProduct(item.product.id)">Sao chép link</span>
    </div>
    <div>
      <span class="code badge etop-badge text-primary border-0 bg-light" style="font-size: 8px;">{{item.product.code}}</span>
    </div>
  </span>
</div>
<div class="col text-center wd-120">
  <div class="text-center">
    <i class="fa fa-minus"></i>
  </div>
</div>
<div class="col text-right font-weight-bold wd-100">{{item.product.retail_price | vnd}}đ</div>
<div class="col text-right small-cell wd-100">
  <div *ngIf="item.promotion.amount == 0; else nonPromotion">
    <i class="fa fa-minus"></i>
  </div>
  <ng-template #nonPromotion>
    <div class="font-weight-bold">{{item.promotion.amount}}%</div>
    <small class="discount font-weight-bold">{{item.promotion.exchange | vnd}}đ</small>
  </ng-template>
</div>
<div class="col text-right wd-120">
  <div class="font-weight-bold">{{item.etop_revenue | vnd}}đ</div>
</div>
<div class="col text-right wd-120">
  <div *ngIf="item.shop_commission_setting.amount == 0; else nonTrading">
    <i class="fa fa-minus"></i>
  </div>
  <ng-template #nonTrading>
    <div class="font-weight-bold text-primary">{{item.shop_commission_setting.amount}}%</div>
    <small class="discount font-weight-bold">{{item.shop_commission_setting.exchange | vnd}}đ</small>
  </ng-template>
</div>
<div class="col text-right wd-130">
  <span *ngIf="item.shop_commission_setting.amount == 0; else nonAff">
    <i class="fa fa-minus"></i>
  </span>
  <ng-template #nonAff>
    <div class="d-flex align-items-center justify-content-end aff-cashback" *ngIf="editting">
      <div class="align-items-center border-right border-white p-2">
        <div class="mb-2">
          <aff-currency-input [fontWeight]="'normal'" [placeholder]="'Giảm giá (đ)'" [classInner]="'font-12'"
            posfixText="đ" [(ngModel)]="aff_commission_vnd" (ngModelChange)="onChangeCommission()">
          </aff-currency-input>
        </div>
        <small class="font-weight-bold">{{aff_commission_percent}}%</small>
      </div>
      <span>
        <div>
          <i class="fa fa-floppy-o p-2" aria-hidden="true" style="cursor: pointer; opacity: 0.6;"
            (click)="updateCommisstion()" placement="right" ngbTooltip="Lưu"></i>
        </div>
        <div>
          <i class="fa fa-times p-2" aria-hidden="true" style="cursor: pointer; opacity: 0.6;" placement="right"
            ngbTooltip="Quay lại" (click)="back()"></i>
        </div>
      </span>

    </div>
    <div class="d-flex align-items-center justify-content-end aff-cashback" *ngIf="!editting">
      <div class="align-items-center border-right border-white p-2">
        <div class="">
          <span class="font-weight-bold text-warning font-11">{{item.affiliate_commission_setting.amount | vnd}}đ</span>
        </div>
        <small class="font-weight-bold">{{item.affiliate_commission_setting.exchange}}%</small>
      </div>
      <i class="fa fa-pencil-square-o p-2" aria-hidden="true" style="cursor: pointer; opacity: 0.5;" (click)="onEdit()"
        placement="right" ngbTooltip="Chỉnh sửa"></i>
    </div>
  </ng-template>
</div>
<div class="col text-right wd-100">
  <div *ngIf="item.shop_commission_setting.amount == 0; else nonReceive">
    <i class="fa fa-minus"></i>
  </div>
  <ng-template #nonReceive>
    <div class="font-weight-bold text-primary">{{item.aff_receive}}%</div>
    <small class="discount font-weight-bold">{{item.aff_receive_exchange | vnd}}đ</small>
  </ng-template>
</div>
