:host {
  font-size: 11px;
  margin: 15px 0;
}


.product-img {
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  height: 50px;
  width: 50px;
  min-width: 50px;
  display: inline-block;
  cursor: pointer;

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
}

.product-name {
  position: relative;
  padding-right: 20px;
  min-width: 200px;
  display:  -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;

  .link-product {
    position: absolute;
    display: none;
    cursor: pointer;
    right: 0;
    top: 20%;
    transform: translate(0, -50%);
  }

  &:hover .link-product {
    display: block;
  }
}

.aff-cashback {
  background-color: rgba(var(--warning-color-rgb), 0.15);
  border-radius: 5px;
  min-width: 110px;
}

.description {
  position: relative;
  overflow: hidden;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  opacity: 0.9;
  padding-right: 5px;
  font-size: 11px;
}

.col {
  padding: 0 10px;
}