:host {
  position: fixed;
  bottom: 50px;
  left: calc(var(--sidebar-width) + 1.25rem);
  visibility: hidden;
  z-index: -1;
}

.call-container {
  min-height: 100px;
  width: 400px;
  background-color: white;
}

.call-info {
  text-align: center;
}

.contact-name {
  font-size: 40px;
  font-weight: bold;
  display: block;
}

.contact-company {
  font-size: 30px;
  font-weight: bold;
  display: block;
}

.phone-number {
  font-size: 16px;
}

.stand-alone {
  font-size: 40px;
  font-weight: bold;
}

.box-title {
  height: 50px;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &.calling {
    background: var(--warning-color);
  }
  &.answered {
    background: var(--success-color);
  }
}

.phone-action {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.timer {
  display: block;
}

.call-status {
  display: block;
}
