<div class="call-container box-shadow">
  <div class="box-title">
    <span class="title" *ngIf="currentCall?.call?.isIncomingCall">Gọi đến {{currentCall?.line?.name}} ...</span>
    <span class="title" *ngIf="!currentCall?.call?.isIncomingCall">Gọi đi từ {{currentCall?.line?.name}}...</span>
  </div>
  <div class="call-info">
    <span class="contact-name">{{ contact?.lastname }}</span>
    <span
      class="phone-number"
      [ngClass]="{ 'stand-alone': !contact?.lastname }">
      {{ currentCall?.call?.isIncomingCall ? currentCall?.call?.fromNumber : currentCall?.call?.toNumber }}
      </span
    >
    <span class="call-status">{{ getCurrentCallState() }}</span>
    <span class="timer" *ngIf="showTimer()">{{ timer * 1000 | duration }}</span>
    <span class="contact-company">{{ contact?.company }}</span>
  </div>

  <div class="phone-action">
    <!-- <button
      class="btn btn-outline-danger"
      (click)="reject()"
      *ngIf="showIncomingAction()"
    >
      Từ chối
    </button> -->
    <button
      class="btn btn-success"
      (click)="answer()"
      *ngIf="showIncomingAction()"
    >
      Nghe máy
    </button>
    <button
      class="btn btn-outline-warning"
      (click)="ringstone(false)"
      *ngIf="showIncomingAction()"
    >
      Im lặng
    </button>
    <button
      class="btn btn-danger"
      (click)="hangup()"
      *ngIf="showCommonAction('hangup')"
    >
      Gác máy
    </button>
    <button
      class="btn {{
        currentCall?.call?.isOnHold ? 'btn btn-outline btn-success' : 'btn btn-outline btn-warning'
      }}"
      (click)="toggleHold()"
      *ngIf="showCommonAction('hold')"
    >
      <span *ngIf="!currentCall?.call?.isOnHold">Giữ máy</span>
      <span *ngIf="currentCall?.call?.isOnHold">Nhả máy</span>
    </button>
    <button
      class="btn btn-danger"
      (click)="close()"
      *ngIf="showCommonAction('close')"
    >
      Đóng
    </button>
  </div>
</div>
<video #remoteVideo playsinline autoplay style="display:none"></video>
<audio loop #ringstonePlayer src="assets/iphone_ringtone.mp3" volume="0.7"></audio>
<audio #callendPlayer src="assets/iphone_call_end_sound.mp3"></audio>
