ion-searchbar {
  border-bottom: 1px solid #eeeeee;
}

.message-list {
  background: #f5f5f5;
  z-index: 1;
  position: relative;
  padding: 10px 0;
}

.message-item {
  border-top: 1px solid #eee;
  background: #fff;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  .info {
    padding: 0.75rem 1rem;
  }

  .message-user {
    font-weight: 700;
    color: var(--ion-color-primary);
  }

  .detail {
    font-size: 0.9rem;
    color: #444;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    font-weight: 700;
  }

  .message-time {
    float: right;
    font-size: 0.8rem;
    color: var(--ion-color-primary);

    &::after {
      content: "";
      display: inline-block;
      margin-left: 5px;
      padding: 4px;
      border-radius: 100%;
      background-color: var(--ion-color-primary);
    }
  }

  &.is-read {
    .message-user {
      color: #222;
      font-weight: 400;
    }

    .detail {
      font-weight: 400;
    }

    .message-time {
      color: #666;

      &::after {
        display: none;
      }
    }
  }

  &:last-child {
    border-bottom: 1px solid #eee;
  }

  .fanpage-info {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee;

    img {
      height: 20px;
      width: 20px;
      border: 1px solid #eee;
      border-radius: 5px;
      margin-right: 0.5rem
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  position: relative;
}

img.avatar {
  border: 1px solid #eee;
}

.fb-logo {
  width: 60px;
  display: block;
  opacity: 0.4;
  margin-bottom: 2rem;
}

.message-type {
  position: absolute;
  right: 0;
  bottom: -4px;
  height: 20px;
  width: 20px;
  border: 3px solid white;
  background: white;
  border-radius: 50%;
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.tag {
  max-width: 40%;
}