<ion-header>
    <ion-toolbar>
      <ion-title>Tìm kiếm tin nhắn</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar showCancelButton="always" placeholder="Tìm kiếm tin nhắn" debounce="200" cancelButtonText="Đóng"
        (ionCancel)="clearSearch($event)" (ionChange)="changeSearch($event)">
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <div class="empty-state" style="opacity: 0.5"  *ngIf="!searchText; else hasSearch">
      <img src="assets/imgs/tab-icon/icon_chat.png" alt="" width="100px">
      <div>Bạn có thể tìm kiếm theo tên, số điện thoại khách hàng hoặc nội dung tin nhắn</div>
    </div>
    <ng-template #hasSearch>
      <div class="empty-state" style="opacity: 0.5"  *ngIf="searchText?.length > 0 && conversations?.length == 0">
        <img src="assets/imgs/tab-icon/icon_chat.png" alt="" width="100px">
        <div>Không tìm thấy tin nhắn phù hợp</div>
      </div>
      <div class="message-list" *ngIf="conversations?.length > 0">
        <div *ngFor="let conv of conversations" class="message-item is-read">
          <div class="message-info" (click)="messageDetail(conv)">
            <div class="fanpage-info ion-flex ion-align-items-center">
              <img
                [imageLoader]="getFanpageByExternalId(conv?.external_page_id)?.external_image_url"
                src="assets/imgs/user_logo.jpg"
                alt="">
              <ion-text style="font-weight: 700;">{{getFanpageByExternalId(conv?.external_page_id)?.external_name}}
              </ion-text>
            </div>
            <div class="info ion-flex ion-align-items-center">
              <div class="avatar">
                <img [imageLoader]="conv?.external_user_picture_url" src="assets/imgs/user_logo.jpg" alt="" class="avatar">
                <img src="assets/imgs/{{conv?.type == 'message' ? 'messenger' : 'facebook'}}.png" alt=""
                  class="message-type">
              </div>
              <div class="w-100">
                <div class="fp-name ion-flex ion-justify-content-between ion-align-items-center">
                  <ion-text class="message-user fix-line-1" style="flex: 1">{{conv?.external_user_name}}</ion-text>
                  <span class="message-time">{{conv?.last_message_at | date: 'dd/MM HH:mm'}}</span>
                </div>
                <div class="ion-flex ion-align-items-center" [class.self-message]="conv?.external_page_id == conv?.external_from?.id">
                  <ion-icon style="margin-right: 0.25rem;" *ngIf="conv?.external_page_id == conv?.external_from?.id" name="arrow-undo-outline">
                  </ion-icon>
                  <ion-text class="detail padding ion-align-items-center">
                    {{conv?.last_message || 'Đã gửi 1 tin nhắn'}}
                  </ion-text>
                </div>
              </div>
            </div>
          </div>
          <div class="list-tag ion-flex ion-align-items-center ion-padding-bottom ion-padding-horizontal">
            <div class="tag" *ngFor="let tag of (conv.tags).slice(0, 2)">
              <ion-icon class="tag-status" [ngStyle]="{'color' : tag.color}" name="ellipse"></ion-icon>
              <ion-label>{{tag.name}}</ion-label>
            </div>
            <div class="tag" *ngIf="conv?.tags.length > 2">
              <ion-label>+{{conv.tags.length - 2}}</ion-label>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-content>