.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.tabs-container {
  display: flex;
  height: 60px;
  margin-left: 15px;
}

.tab {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.65rem;
  border-left: 1px solid var(--border-gray-color);
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  color: var(--dark-color);
  cursor: pointer;
  &.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
  }
  &:last-child {
    border-right: 1px solid var(--border-gray-color);
  }
}

.total {
  margin-top: 0;
}

mat-radio-button {
  margin-right: 2rem;
  &:last-child {
    margin-right: 0;
  }
}

mat-chip-list::ng-deep {
  .mat-standard-chip {
    margin: 0 .2rem!important; 
    padding: 1rem 1rem!important; 
    cursor: pointer;  
    font-size: 0.9rem !important;
  }
  height: 4rem;
}

etop-filter::ng-deep {
  width: 100%;
  .wrapper-filter {
    padding: 0 0 0 1.25rem !important;
    border: none !important;
    background: none !important;
  }
}

.blank-page {
  opacity: 0.5;
}
.blank-img {
  width: 100px;
}
.blank-icon {
  height: auto !important;
  width: auto !important;
  font-size: 6rem !important;
}

@media only screen and (max-width: 768px) {
  etop-side-slider {
    width: 100% !important;
    left: 0!important;
  }
  .show-slide {
    display: block;
    margin-bottom: 4rem;
  }
  .hide-slide {
    display: none;
  }

  .hide-col {
    display: none;
  }

  .page-content {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    background: rgba(0, 0, 0, 0.04);
  }
  
}