<div class="total">
  <div class="total-section left-aligned d-flex">
    <div>
      <etop-filter
        [filters]="filters"
        (filterChanged)="filter($event)">
      </etop-filter>
    </div>
    <div class="pr-4">
      <etop-material-nofilter-input-autocomplete
        style="width: 20%;"
        placeholder="Người tạo" textLabel="Người tạo"
        [appearance]="'standard'"
        [options]="staffs" [displayMap]="staffDisplayMap" [valueMap]="staffValueMap"
        (searching)="onStaffSearching($event)"
        [(ngModel)]="createdBy" (ngModelChange)="onCreatedBySelect()">
      </etop-material-nofilter-input-autocomplete>
    </div>
    <div *ngIf="(tab$ | async) == 'general'" class="pr-4">
      <etop-material-nofilter-input-autocomplete
        style="width: 20%;"
        placeholder="Người được phân công" textLabel="Người được phân công"
        [appearance]="'standard'"
        [options]="staffs" [displayMap]="staffDisplayMap" [valueMap]="staffValueMap"
        (searching)="onStaffSearching($event)"
        [(ngModel)]="assignedBy" (ngModelChange)="onAssignedBySelect()">
      </etop-material-nofilter-input-autocomplete>
    </div>
    <div class="pr-4">
      <etop-material-nofilter-input-autocomplete
        style="width: 20%;"
        placeholder="Người hoàn thành" textLabel="Người hoàn thành"
        [appearance]="'standard'"
        [options]="staffs" [displayMap]="staffDisplayMap" [valueMap]="staffValueMap"
        (searching)="onStaffSearching($event)"
        [(ngModel)]="closedBy" (ngModelChange)="onClosedBySelect()">
      </etop-material-nofilter-input-autocomplete>
    </div>
  </div>
</div>
<div class="page-container">
  <div class="page-content pb-0">
    <div class="page-wrapper etelecom-ticket">
      <etop-table
        #ticketTable
        [items]="ticketsList$ | async" width="50%"
        [show_paging]="(ticketsList$ | async)?.length && showPaging"
        (requestNewPage)="loadPage($event)">
        <ng-template #header let-liteMode="liteMode">
          <div class="col hide-col" style="max-width: 15rem;">
            <span class="table-header-text" >Mã</span>
          </div>
          <div class="col hide-col" *ngIf="!liteMode">
            <span class="table-header-text">Loại</span>
          </div>
          <div class="col hide-col" style="min-width: 30rem;">
            <span class="table-header-text" >Tiêu đề</span>
          </div>
          <div class="col hide-col" *ngIf="!liteMode">
            <span class="table-header-text">Liên hệ</span>
          </div>
          <div class="col hide-col" *ngIf="!liteMode">
            <span class="table-header-text">Người tạo</span>
          </div>
          <div class="col hide-col" *ngIf="!liteMode">
            <span class="table-header-text">Người hoàn thành</span>
          </div>
          <div class="col hide-col" *ngIf="!liteMode">
            <span class="table-header-text">Trạng thái</span>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <etop-empty-page [description]="emptyDescription"></etop-empty-page>
        </ng-template>

        <ng-template #item let-ticket="item" let-liteMode="liteMode">
          <div
            class="row table-row" etelecom-cs-tickets-internal-row
            [class.active]="(activeTicket$ | async)?.id == ticket?.id"
            [ticket]="ticket" [liteMode]="liteMode" (click)="detail(ticket)">
          </div>
        </ng-template>
      </etop-table>

      <etop-side-slider #ticketSlider width="50%" class="{{(activeTicket$ | async) || createTicketMode ? 'show-slide': 'hide-slide'}}" >
        <ng-template #customHeader>
          <div class="header-detail d-flex justify-content-between px-4 py-3">
            <div class="d-flex align-items-center">
              <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            </div>
            <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
              Đóng <mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>
        <ng-container *ngIf="createTicketMode; else detailTicket;">
          <etelecom-cs-tickets-internal-create [contactId]="contactId" (createTicket)="getTickets()"></etelecom-cs-tickets-internal-create>
        </ng-container>
        <ng-template #detailTicket>
          <etelecom-cs-tickets-internal-detail *ngIf="(activeTicket$ | async)"></etelecom-cs-tickets-internal-detail>
        </ng-template>
      </etop-side-slider>
    </div>
  </div>
</div>

