<ion-header>
  <ion-toolbar>
    <ion-title>Thiết lập cửa hàng</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content fullscreen>
  <div class="ion-text-center ion-padding">
    <div class="product-image">
      <img [src]="currentShop.image_url || 'assets/images/placeholder.png'" alt="">
      <ion-icon name="camera" class="icon-upload" (click)="takePicture()"
        *ePermissions="['shop/settings/shop_info:update']"></ion-icon>
    </div>
  </div>
  <ion-list class="ion-padding-end">
    <ion-item>
      <ion-label position="fixed">Tên cửa hàng <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required class="ion-text-right"  type="text" placeholder="Tên cửa hàng" [(ngModel)]="currentShop.name"
        (ionChange)="onChangeShopName()" [disabled]="!disableView('shop/settings/shop_info:update')"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Đường dẫn</ion-label>
      <ion-input type="text" class="ion-text-right" placeholder="Đường dẫn" [(ngModel)]="currentAccount.url_slug"
        [disabled]="!disableView('shop/settings/shop_info:update')">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Số điện thoại <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required class="ion-text-right" type="number" placeholder="Số điện thoại"
        [(ngModel)]="currentShop.phone" [disabled]="!disableView('shop/settings/shop_info:update')">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Website</ion-label>
      <ion-input type="text" class="ion-text-right" placeholder="Website" [(ngModel)]="currentShop.website_url"
        [disabled]="!disableView('shop/settings/shop_info:update')"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Email</ion-label>
      <ion-input type="text" class="ion-text-right" placeholder="Email" [(ngModel)]="currentShop.email"
        [disabled]="!disableView('shop/settings/shop_info:update')"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding-horizontal ion-padding-top font-14">Địa chỉ cửa hàng <ion-text color="danger">*</ion-text>
  </div>
  <ion-list class="ion-padding-end" *ngIf="loadData">
    <ion-item>
      <ion-label>Tỉnh/Thành phố</ion-label>
      <ion-select placeholder="Tỉnh/Thành phố" okText="Chọn" cancelText="Đóng"
        [disabled]="!disableView('shop/settings/shop_info:update')"
        [(ngModel)]="currentShop.address.province_code" (ionChange)="onProvinceSelected()">
        <ion-select-option value="{{province.code}}" *ngFor="let province of provinces">{{province.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Quận/Huyện</ion-label>
      <ion-select placeholder="Quận/Huyện" class="font-13" okText="Chọn" cancelText="Đóng"
        [disabled]="!disableView('shop/settings/shop_info:update')"
        [(ngModel)]="currentShop.address.district_code" (ionChange)="onDistrictSelected()">
        <ion-select-option value="{{district.code}}" *ngFor="let district of districts">{{district.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Phường/Xã</ion-label>
      <ion-select placeholder="Phường/Xã" okText="Chọn" cancelText="Đóng"
        [disabled]="!disableView('shop/settings/shop_info:update')"
        [(ngModel)]="currentShop.address.ward_code"
        (ionChange)="onWardSelected()">
        <ion-select-option value="{{ward.code}}" *ngFor="let ward of wards">{{ward.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Địa chỉ</ion-label>
      <ion-input placeholder="Địa chỉ" class="ion-text-end" [disabled]="!disableView('shop/settings/shop_info:update')"
        [(ngModel)]="currentShop.address.address1">
      </ion-input>
    </ion-item>
    <div class="note text-primary font-12 ion-padding-bottom">*Lưu ý, đây không phải là địa chỉ lấy hàng.</div>
  </ion-list>
</ion-content>
<ion-footer class="footer-button-wrapper" *ePermissions="['shop/settings/shop_info:update']">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item" (click)="updateContactInfo()">
        Cập nhật
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
