<div class="header-title border-bottom p-3 pl-4 d-flex align-items-center">
  <img src="assets/images/back_icon.png" alt="" width="20" height="20" (click)="back()">
  <div class="ml-4" style="font-size: 18px; font-weight: 500">Thanh toán</div>
</div>
<div class="h-100">
  <div class="body" style="padding-top: 50px" [hidden]="loading">
    <div class="spinner-border text-primary m-auto text-center" role="status">
    </div>
    <div class="text-center mt-2">Đang tải dữ liệu ...</div>
  </div>
  <div class="body scroll" [hidden]="!loading">
    <div class="customer-address border-bottom p-4" [hidden]="variantSelected?.product_type != 'goods'">
      <h6>THÔNG TIN GIAO HÀNG</h6>
      <div class="row">
        <div class="col-6">
          <etop-material-input
            placeholder="Tên người nhận" textLabel="Tên người nhận"
            [(ngModel)]="defaultAddress.full_name" type="input">
          </etop-material-input>
        </div>
        <div class="col-6 pl-0">
          <etop-material-input
            placeholder="Số điện thoại" textLabel="Số điện thoại"
            [(ngModel)]="defaultAddress.phone" type="input">
          </etop-material-input>
        </div>
      </div>
      <div class="row">
        <ng-container [formGroup]="locationForm">
          <div class="col-6">
            <etop-material-input-autocomplete
              placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành (*)" [options]="provincesList$ | async"
              [displayMap]="displayMap" [valueMap]="valueMap"
              formControlName="provinceCode">
            </etop-material-input-autocomplete>
          </div>
          <div class="col-6 pl-0">
            <etop-material-input-autocomplete
              placeholder="Chọn quận huyện" textLabel="Quận huyện (*)" [options]="(districtsList$ | async) || []"
              [displayMap]="displayMap" [valueMap]="valueMap"
              formControlName="districtCode">
            </etop-material-input-autocomplete>
          </div>
          <div class="col-6">
            <etop-material-input-autocomplete
              placeholder="Chọn phường xã" textLabel="Phường xã (*)" [options]="(wardsList$ | async) || []"
              [displayMap]="displayMap" [valueMap]="valueMap"
              formControlName="wardCode">
            </etop-material-input-autocomplete>
          </div>
        </ng-container>
        <div class="col-6 pl-0">
          <etop-material-input
            placeholder="Số nhà, tên đường ..." textLabel="Số nhà, tên đường ..."
            [(ngModel)]="defaultAddress.address1" type="input">
          </etop-material-input>
        </div>
      </div>
    </div>
    <div class="variant-line border-bottom p-4">
      <div class="alert alert-warning" *ngIf="min_quantity"> <i class="fa fa-exclamation-circle mr-2 text-warning"
          aria-hidden="true"></i>
        Vui lòng đặt hàng với số lượng tối thiểu: <span class="font-weight-bold">{{min_quantity}}</span></div>
      <h6>GIỎ HÀNG</h6>
      <div class="d-flex align-items-center pt-3">
        <div style="width: 100px" class="mr-4">
          <etop-material-input *ngIf="!format_quantity" #quantityInput
                               placeholder="Số lượng"
                               textLabel="Số lượng" type="input" keyboardType="number" [(ngModel)]="newOrder.total_items"
                               (blur)="formatMoney(); checkQuantity()">
          </etop-material-input>
          <etop-material-input class="cursor-pointer" *ngIf="format_quantity" textLabel="Số lượng" type="custom"
                               (click)="formatMoney()">
            <span class="font-weight-bold">
              {{newOrder.total_items | vnd}}
            </span>
          </etop-material-input>
        </div>
        <h3 class="font-weight-bold mr-2">x</h3>
        <img src="{{variantSelected?.image_url || 'assets/images/placeholder_2.png'}}" alt="product"
          class="product-image">
        <div class="ml-4 w-100">
          <h5 class="font-weight-bold">{{variantSelected?.product_name}}</h5>
          <div class="d-flex">
            <span class="mr-auto">{{variantSelected?.attributes[0]?.value || 'Mặc định'}} -
              <strong class="text-default">{{variantSelected?.retail_price | vnd}}đ</strong></span>
            <span class="font-14 font-weight-bold text-default">{{totalPrice | vnd}}đ</span>
          </div>
        </div>
      </div>
    </div>
    <div class="p-4 border-bottom" *ngIf="variantSelected?.meta_fields && variantSelected?.meta_fields.length > 0 ">
      <h6>THÔNG TIN MUA HÀNG</h6>
      <div *ngFor="let meta of variantSelected?.meta_fields" class="mb-2">
        <etop-material-input placeholder="{{meta.value}} *" textLabel="{{meta.value}} *"
                             [(ngModel)]="meta._value" type="input">
        </etop-material-input>
      </div>
    </div>
    <div class="checkout">
      <div class="vat-info border-bottom p-4" *ngIf="variantSelected?.product_type == 'goods'">
        <input type="checkbox" id="vat" (change)="onChangeVat()" [checked]="checkVat" class="input-custom mr-3 position-relative">
        <label for="vat" class="font-12">Xuất hóa đơn</label>
        <div class="pl-4 ml-3 text-default">
          Cộng thêm 10% VAT vào giá trị đơn
        </div>
      </div>
      <div class="p-4">
        <div class="d-flex">
          <div class="p-2">TẠM TÍNH</div>
          <div class="ml-auto p-2 font-14 text-default">{{totalPrice | vnd}}đ</div>
        </div>
        <div class="vat-value">
          <div class="d-flex" *ngIf="checkVat">
            <div class="p-2">VAT (10%)</div>
            <div class="ml-auto p-2 font-14 text-default">{{VAT | vnd}}đ</div>
          </div>
          <div class="d-flex">
            <div class="p-2">TỔNG CỘNG</div>
            <div class="ml-auto p-2 font-14 font-weight-bold text-default">{{VAT +  totalPrice| vnd}}đ</div>
          </div>
        </div>
      </div>

      <div class="payment-method p-4 border-top">
        <span class="">PHƯƠNG THỨC THANH TOÁN</span>
        <ul class="input-list p-0 mt-3">
          <li class="d-block" *ngIf="variantSelected?.product_type != 'goods'">
            <div class="pure-radiobutton d-flex align-items-center" (click)="selectedPaymentMethod('vtpay')">
              <input id="radio2" name="radio" type="radio" class="radio" checked="checked">
              <label for="radio2">ATM nội địa</label>
            </div>
          </li>
          <li class="d-block" *ngIf="variantSelected?.product_type == 'goods'">
            <div class="pure-radiobutton d-flex align-items-center" (click)="selectedPaymentMethod('bank')">
              <input id="radio4" name="radio" type="radio" class="radio" checked="checked">
              <label for="radio4">Chuyển khoản</label>
            </div>
          </li>
          <div style="margin-top: -5px">
            <span class="text-default pl-4 ml-2" *ngIf="variantSelected?.product_type == 'goods'">Thông tin chuyển khoản
              sẽ được gửi trong email xác nhận đơn hàng</span>
          </div>
        </ul>

      </div>
    </div>
    <div class="info-checkout p-4 border-top" *ngIf="variantSelected?.product_type != 'goods'">
      <div class="mb-2 d-flex align-items-center">
        <div style="width: calc(100% - 105px)">
          <etop-material-input placeholder="Mã giới thiệu" textLabel="Mã giới thiệu"
                               [(ngModel)]="aff_code" type="input">
          </etop-material-input>
        </div>

        <div class=" ml-auto">
          <button class="btn btn-coupon btn-primary" (click)="onChangeReferralCode()" *ngIf="!coupon">Áp dụng</button>
          <div placement="left" ngbTooltip="Để nhập mã giới thiệu mới vui lòng gỡ bỏ mã cũ.">
            <button class="btn btn-coupon btn-default text-black" style="opacity: 0.3" *ngIf="coupon" disabled>Áp dụng</button>
            </div>
          </div>

      </div>
      <div class="coupon-line d-flex bg-light rounded p-3" *ngIf="coupon">
        <div>Mã giới thiệu: <span class="font-weight-bold">{{coupon}}</span></div>
        <span class="ml-auto" style="cursor: pointer" (click)="removeCoupon()" placement="left"
          ngbTooltip="Gỡ mã giới thiệu.">
          <i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
      <div class="referral p-2 pt-4" *ngIf="onPromotion">
        <div class="d-flex">
          <div class="">{{'text_trading_promotion' | whiteLabel: 'text'}}</div>
          <div class="ml-auto p-2 font-14">{{productReferralCode.promotion_amount}}% ({{productReferralCode.promotion | vnd}}đ)</div>
        </div>
        <div class="d-flex">
          <div class="">Người giới thiệu hoàn lại</div>
          <div class="ml-auto p-2 font-14">{{productReferralCode.referral_discount | vnd}}đ</div>
        </div>
        <div class="d-flex">
          <div class="">TỔNG TIỀN HOÀN</div>
          <div class="ml-auto p-2 text-primary font-weight-bold font-14">{{totalCashback | vnd}}đ</div>
        </div>
      </div>
    </div>

    <div class="note-payment p-4" *ngIf="totalCashback > 0">
      <span>
        Bạn sẽ được <strong>hoàn lại ngay lập tức {{totalCashback | vnd}}đ</strong> vào số dư ngay khi
        thanh toán thành công.
      </span>
    </div>
    <div class="p-4" style="margin-bottom: 250px">
      <button class="btn btn-primary w-100" (click)="checkout()"> <i class="fa fa-spinner fa-spin"
      *ngIf="loadingOrder"></i> {{paymentMethod == 'bank' ? 'Đặt hàng' : 'Thanh toán'}}</button>
    </div>
  </div>
</div>

