<div style="position: relative;" [ngClass]="{'is-psx': isPSX}" class="{{classOuter}} etop-filter">
  <div [ngClass]="{'input-group': showAngle}">
    <input #inputSearch [ngClass]="classInner" [class.angle-down]="showAngle"
      [class.form-control]="useBootstrapFromControl" [disabled]="disabled" class="search-input font-weight-bold"
      type="text" [(ngModel)]="_keyword" [attr.placeHolder]="placeHolder" (click)="showDropdown()"
      (focus)="showDropdown()" (input)="filter()">
    <div *ngIf="showAngle" class="input-group-append">
      <span (click)="toggleDropdownAll()" class="input-group-text bg-white angle-down"></span>
    </div>
    <div [class.show]="isShowMenu" class="dropdown-menu w-100 border-0 m-0 p-0">
      <ul class="form-control list-option" *ngIf="!isShowAll && filterResult?.length; else noResult">
        <li *ngFor="let option of filterResult" (click)="selectOption(option)">{{option.name}}</li>
      </ul>

      <ng-template #noResult>
        <ul class="form-control list-option">
          <li>Không tìm thấy</li>
        </ul>
      </ng-template>
    </div>
  </div>

</div>