.etop-filter {
  .input-group {
    border: none;
    span {
      background: none;
    }

    input {
      border: 1px solid #ced4da;
      text-align: left;
    }

    .input-group-text {
      padding: 0 8px;
      cursor: pointer;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      transition: background linear 0.2s;
      &:hover {
        background: #fafafa;
      }
    }
  }
}

.dropdown-menu {
  min-width: 100%;
}

.angle-down::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  margin-left: 0;
}

.list-option {
  font-size: 12px;
  max-height: 200px;
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: 0 0 4px 0 #95a5a6;
  li {
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      background: rgba(0,0,0,.05);
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

input {
  font-size: 12px;
}

.search-input:focus {
  + .dropdown-menu {
    display: block;
  }
}

.error {
  border: 1px solid #dc3545;
}

input:disabled {
  cursor: not-allowed;
}

.is-psx {
  input, select, .list-option li {
    font-size: 12px !important;
  }
}

@media (max-width: 991px) {
  .etop-filter {
    .input-group {
      input {
        line-height: 25px;
      }
    }
  }
}
@media (max-width: 767px) {
  .list-option {
    font-size: 14px;
  }
}