<div class="bg-warning-light verify-box">
  Tài khoản chưa được {{connection?.name_display}} xác thực
</div>
<div class="mt-3">
  <span class="text-default">
    Bạn cần xác thực tài khoản với {{connection?.name_display}} để có thể sử dụng dịch vụ giao hàng tạm ứng.
  </span>
  <a class="text-topship" href="{{connection?.guide_link}}" target="_blank">Hướng dẫn xác thực</a>
</div>
