<div class="sidebar-content">
  <ng-container *ngFor="let menu of menus">
    <ng-container *eRoles="menu?.roles">
      <ng-container *ePermissions="menu?.permissions">
        <core-menu-item *ngIf="!menu.hidden" [menu]="menu"></core-menu-item>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-content select="div[role=customSidebar]"></ng-content>
</div>
<div class="slider-content">
  <ng-container *ngFor="let menu of menus">
    <ng-container *eRoles="menu?.roles">
      <ng-container *ePermissions="menu?.permissions">
        <core-menu-slider *ngIf="!menu.hidden" [menu]="menu"></core-menu-slider>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-content select="div[role=customSlider]"></ng-content>
</div>
