:host {
  position: relative;
  display: block;
  background: var(--sidebar-background-color);
  height: 100%;
}

.sidebar-content {
  background: var(--sidebar-background-color);
}

.slider-content {
  position: absolute;
  height: 100%;
  top: 0;
  left: -100vw;
  width: max-content;
  background: var(--sidebar-background-color);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.05);
  min-width: 120px;
}

.version {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  position: absolute;
  bottom: 54px;
  left: 2px;
  font-size: 9px;
  color: black;
  opacity: 0.2;
}

::ng-deep .prev .tooltip-inner {
  min-width: 200px !important;
}
