<div class="wrapper-login" *ngIf="!loadingView; else hasLoading">
  <div class="login-body">
    <div class="l-side d-none d-sm-flex flex-column">
      <etop-empty [full]="true">
        <div class="empty-icon mb-5">
          <img src="/assets/logo.png" alt="" width="70">
        </div>
        <div class="empty-title text-bold text-dark">
          <h4>ỨNG DỤNG QUẢN LÝ BÁN HÀNG TRÊN FACEBOOK FANPAGE</h4>
        </div>
<!--        <div class="empty-subtitle">-->
<!--          <span>Miễn phí vĩnh viễn, không giới hạn tính năng</span>-->
<!--        </div>-->
      </etop-empty>
    </div>
    <div class="r-side">
      <div class="d-flex d-sm-none m-4">
        <img class="logo" src="assets/images/logo_etop_mono_white.png" alt="etop-logo">
        <div class="brand-text text-gray">ETOP TECH JSC</div>
      </div>
      <div class="d-flex flex-column h-100">
        <div class="login-form px-5">
          <div class="title">
            <strong class="text-larger text-gray">Đăng nhập</strong>
          </div>
          <div class="info">
            <p class="text-big text-gray">
              Bạn có thể dùng email hoặc số điện thoại để đăng nhập.
            </p>
          </div>
          <div>
            <div class="form-group">
              <input
                (keyup.enter)="onEnterLoginInput()"
                type="text" class="form-control rounded-pill" autofocus placeholder="Nhập số điện thoại hoặc email"
                [(ngModel)]="login" [readonly]="!!invitation_token" [class.cursor-not-allowed]="!!invitation_token" >
            </div>
            <div class="form-group position-relative">
              <div *ngIf="password"
                class="position-absolute changephone-text" (mousedown)="showPassword()" (mouseup)="hidePassword()">
                Hiển thị
              </div>
              <input
                #passwordInput (keyup.enter) ="onLogin()"
                type="password" class="form-control rounded-pill" placeholder="Nhập mật khẩu"
                [(ngModel)]="password"/>
            </div>
            <button class="btn rounded-pill" type="button" (click)="onLogin()">
              <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading"></i>
              Đăng nhập
            </button>
            <div class="p-2 pt-3 text-white forgot d-inline-block" style="cursor: pointer" (click)="forgotPassword()">Quên mật khẩu?</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="login-footer flex-row-reverse flex-md-row d-flex">
    <div class="border-top d-none d-md-flex l-side">

    </div>
    <div class="r-side">
      <div class="px-4 text-white h-100 d-flex align-items-center justify-content-center">
        <span>Bạn chưa có tài khoản?</span>
        <button class="btn small-btn rounded-pill ml-3" (click)="registerHref()">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
<ng-template #hasLoading>
  <div class="wrapper-login loading-box">
    <div>
      <img src="assets/images/logo_medium.png" alt="" width="100px">
    </div>
    <img src="assets/images/loading.svg" alt="" width="80px" style="margin-top: -10px">
  </div>
</ng-template>
