
<mat-dialog-content class="p-0 mat-typography">
    <div class="title d-flex align-items-center py-3 px-4">
        <h3 class="m-0">{{data.product.name}} ({{data.product.variants?.length}} mẫu mã)</h3>
        <mat-icon class="ml-auto" mat-dialog-close>highlight_off</mat-icon>
    </div>
   <div class="line d-flex align-items-center border-top py-2 px-4" (click)="variantSelected(variant)" [ngClass]="{'border-bottom': isLast}" *ngFor="let variant of data.product.variants; last as isLast">
       <div class="d-flex align-items-center">
            <img [src]="variant.image" class="variant-image mr-3" alt="">
            <div style="min-width: 200px;">
                <div>
                    <span *ngFor="let attribute of variant.attributes;" class="hyphen">{{attribute.value}}</span>
                </div>
                <div class="small-font text-default">{{variant.code}}</div>
            </div>
       </div>
       <div class="text-primary font-weight-bold ml-auto">{{variant.retail_price | number}}đ</div>
   </div>
</mat-dialog-content>