.mat-dialog-content {
    margin: -24px;
}

.title {
    mat-icon {
        height: 2.4rem !important;
        width: 2.4rem !important;
        font-size: 2.4rem !important;
        opacity: 0.6;
    }
}

.line {
    cursor: pointer;
}

.variant-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--border-gray-color);
    border-radius: 5px;
  }
  
  .hyphen::after{
      content: " - "
  }
  .hyphen:last-child::after {
      content: " "
  }