:host {
  width: 100%;
}

.overflow-text {
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.half-row {
  margin-left: -7px;
  margin-right: -7px;
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.error {
  color: var(--danger-color);
}

.add-address {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.cod-input {
  color: var(--topship-color);
}
