<ng-container *ngIf="processingData; else endProcess;">
  <div class="d-flex align-items-center">
    <i class="fa fa-spin fa-circle-o-notch"></i>
  </div>
</ng-container>
<ng-template #endProcess>
  <ng-container *ngIf="noAddress(order); else hasAddress;">
    <span class="text-topship add-address" (click)="createNewAddress(order)">Bổ sung địa chỉ giao hàng</span>
  </ng-container>
</ng-template>

<ng-template #hasAddress>
  <div class="row flex-grow-1 half-row">
    <div class="col-4">
      <etop-material-input
        *ngIf="!format_money" #moneyInput
        textLabel="COD" placeholder="Nhập COD" type="input" keyboardType="number"
        [error]="errorCOD" (blur)="formatMoney(); onChangeCOD();"
        [(ngModel)]="order.p_data.shipping.cod_amount">
      </etop-material-input>
      <etop-material-input
        *ngIf="format_money" textLabel="COD" type="custom"
        [error]="errorCOD" (click)="formatMoney()">
        <span class="cod-input font-weight-bold" [class.text-danger]="errorCOD">
          {{order?.p_data?.shipping?.cod_amount | vnd}}đ
        </span>
      </etop-material-input>
    </div>
    <div class="col-8">
      <etop-material-input
        *ngIf="loading_address" textLabel="Địa chỉ giao hàng" type="custom">
        <span class="disabled">Đang xử lý ...</span>
      </etop-material-input>
      <etop-material-input
        *ngIf="!loading_address" [error]="!order?.p_data?.valid_shipping_address"
        textLabel="Địa chỉ giao hàng" type="custom">
        <span
          class="overflow-text" (click)="editShippingAddress(order)"
          [ngbTooltip]="shippingAddress" [placement]="isFirstItem ? 'bottom' : 'top'">
          {{order?.p_data?.shipping?.shipping_address?.province | locationCompact}},
          {{order?.p_data?.shipping?.shipping_address?.district | locationCompact}},
          {{order?.p_data?.shipping?.shipping_address?.ward | locationCompact}}
        </span>
        <ng-template #shippingAddress>
          <div *ngIf="!order?.p_data?.valid_shipping_address">
            Địa chỉ giao hàng chưa được Google Maps nhận diện. Vui lòng cập nhật lại.
          </div>
          <div>
            {{order?.p_data?.shipping?.shipping_address?.address1 | locationCompact}},
            {{order?.p_data?.shipping?.shipping_address?.ward | locationCompact}},
            {{order?.p_data?.shipping?.shipping_address?.district | locationCompact}},
            {{order?.p_data?.shipping?.shipping_address?.province | locationCompact}}
          </div>
        </ng-template>
      </etop-material-input>
    </div>
  </div>
</ng-template>
