<ng-container *ngIf="loading; else loadDone;">
  <div class="empty">
    <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
  </div>
</ng-container>

<ng-template #loadDone>
  <ng-container *ngIf="receipts?.length; else empty;">
    <div class="table-responsive" *ngIf="show_table">
      <table class="w-100">
        <thead>
          <tr>
            <th>Mã phiếu</th>
            <th>Loại phiếu</th>
            <th>Hình thức</th>
            <th class="text-right">Thu/chi cho đơn này</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receipt of receipts">
            <td>
              <span class="text-primary font-weight-bold cursor-pointer" (click)="viewDetailReceipt(receipt?.code)">
                {{receipt?.code}}
                <i class="fas fa-external-link-alt external-link-icon"></i>
              </span>
              <div class="small-font">{{receipt?.created_at | date: 'dd/MM/yy HH:mm'}}</div>
            </td>
            <td>
              <div class="font-weight-bold">{{receipt?.type_display.toUpperCase()}}</div>
            </td>
            <td>
              <div *ngIf="receipt?.ledger?.type == 'cash'">
                <span>Tiền mặt</span>
              </div>
              <div *ngIf="receipt?.ledger?.type == 'bank'">
                <div>Chuyển khoản</div>
                <div class="text-info">{{receipt?.ledger?.name}}</div>
              </div>
            </td>
            <td>
              <div *ngIf="receipt?.amount" class="font-weight-bold text-right">
                {{receipt?.amount | vnd }}đ
              </div>
            </td>
            <td>
              <div class="order-status order-{{ receipt?.status }}">
                {{ receipt?.status_display }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="show-table-toggle" (click)="toggleTable()">
      {{show_table && 'Thu gọn' || 'Xem chi tiết phiếu thu/chi'}}
      <i class="ml-3 fa fa-angle-down" *ngIf="!show_table"></i>
      <i class="ml-3 fa fa-angle-up" *ngIf="show_table"></i>
    </div>
  </ng-container>
  <ng-template #empty>
    <div class="empty">Đơn hàng <strong>{{order_code}}</strong> chưa có phiếu thu/chi nào.</div>
  </ng-template>
</ng-template>
