<div class="modal-header">
  <h5 class="modal-title">{{announcement_content?.title}}</h5>
  <button class="close" (click)="dismissModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <div class="content-wrapper" *ngIf="announcement_content?.template == 'image-only'">
    <img src="{{result?.img_url}}" alt="" class="w-100" style="cursor: pointer" (click)="gotoGuide(result?.url)">
  </div>

  <div class="content-wrapper p-3" *ngIf="announcement_content?.template == 'image-left'">
    <div class="row">
      <div class="col-4">
        <div class="w-100 banner-image" [style.background-image]="'url(' + result?.img_url + ')'"
          (click)="gotoGuide(result?.url)"></div>
      </div>
      <div class="col-8 content mt-4" [innerHtml]="announcement_content?.content"></div>
    </div>
  </div>

  <div class="content-wrapper p-3" *ngIf="announcement_content?.template == 'image-right'">
    <div class="row">
      <div class="col-8 content mt-4" [innerHtml]="announcement_content?.content"></div>
      <div class="col-4">
        <div class="w-100 banner-image" [style.background-image]="'url(' + result?.img_url + ')'"
          (click)="gotoGuide(result?.url)"></div>
      </div>
    </div>
  </div>

  <div class="content-wrapper p-3" *ngIf="announcement_content?.template == 'image-top'">
    <img src="{{result?.img_url}}" alt="" class="w-100" style="cursor: pointer" (click)="gotoGuide(result?.url)">
    <div class="content mt-4" [innerHtml]="announcement_content?.content"></div>
  </div>
</div>
<div class="modal-footer" *ngIf="announcement_content?.template != 'image-only'">
  <button class="btn btn-default btn-outline" (click)="dismissModal()">Đóng</button>
</div>
