<div class="accordion" id="accordionExample">
  <div class="border-top">
    <div class="card-header">
      <div class="d-flex align-items-center card-header-item" (click)="orderCollapse()">
        <div class="flex-grow-1 font-weight-bold text-primary header-title">
          ĐƠN HÀNG
        </div>
      </div>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body bg-white">
        <div class="info-section e-border-bottom">
          <div class="flex-grow-1">Tạm tính</div>
          <div>
            <span class="input-pos border-0 font-weight-bold text-right">{{ order.basket_value || 0 | vnd }}đ</span>
          </div>
        </div>
        <div class="info-section e-border-bottom row-discount">
          <div class="flex-grow-1">
            <select [(ngModel)]="discount_calc_type" (ngModelChange)="discountCalcTypeChange()" class="label-select"
              placement="bottom" ngbTooltip="Chọn hình thức giảm giá">
              <option value="1">Giảm giá (đ)</option>
              <option value="2">Giảm giá (%)</option>
            </select>
          </div>
          <!-- TODO: Discount Reason -->
          <div style="width: 11rem;">
            <etop-currency-input
              class="w-100 text-primary" [fontWeight]="'normal'" [placeholder]="'Nhập giảm giá'"
              [classInner]="'text-primary input-pos'" [inputClass]="'pr-0 border-0'"
              [(ngModel)]="order.p_data.order_discount" [posfixText]="discountPercent ? '%' : 'đ'"
              [selectInput]="selectDiscountInput.asObservable()" (ngModelChange)="onOrderDiscountChanged()">
            </etop-currency-input>
          </div>
        </div>
        <!-- TODO: Discount Reason -->
        <div class="info-section e-border-bottom row-fee">
          <div class="flex-grow-1">
            <select [(ngModel)]="fee_type" (ngModelChange)="onChangeFee()" class="label-select"
              placement="bottom" ngbTooltip="Chọn loại phụ thu">
              <option value="shipping">{{ feeLineDisplay.shipping.name }}</option>
              <option value="tax">{{ feeLineDisplay.tax.name }}</option>
              <option value="other">{{ feeLineDisplay.other.name }}</option>
            </select>
          </div>
          <div style="width: 11rem;">
            <etop-currency-input
              class="w-100" [classInner]="'text-primary input-pos'" [inputClass]="'pr-0 border-0'"
              [fontWeight]="'normal'" placeholder="Nhập phụ thu" [(ngModel)]="fee_amount" [posfixText]="'đ'"
              [selectInput]="selectSurchargeInput.asObservable()" (ngModelChange)="onChangeFee()">
            </etop-currency-input>
          </div>
        </div>
        <div class="info-section e-border-bottom">
          <div class="flex-grow-1">
            <span>Khách cần thanh toán</span>
          </div>
          <div>
            <span class="input-pos border-0 font-weight-bold text-right">{{ customerPay || 0 | vnd }}đ</span>
          </div>
        </div>
        <div [hidden]="toCreateFfm"
          class="info-section e-border-bottom"
          [class.multi-line]="totalReceipts > 1" [class.single-line]="totalReceipts == 1">
          <div class="d-flex">
            <span>
              Khách thanh toán
              <i class="fa fa-info-circle text-primary ml-2"
                ngbTooltip="Số tiền khách thanh toán cho đơn hàng này bằng Tiền mặt (tại quầy) hoặc Chuyển khoản"
                placement="bottom">
              </i>
            </span>
          </div>
          <div class="receipt-info flex-grow-1">
            <shop-create-multi-receipt
              [total_amount]="customerPay" totalAmountText="Tổng khách cần trả" totalPaymentText="Tổng khách thanh toán">
            </shop-create-multi-receipt>
          </div>
        </div>
        <div class="info-section">
          <div class="flex-grow-1 d-flex align-items-center" (click)="orderNote.focus()">
            <span>Ghi chú đơn hàng</span>
          </div>
          <div class="w-50">
            <input #orderNote type="text" style="height: 30px;" placeholder="Nhập ghi chú đơn hàng"
              class="input-pos w-100 font-weight-bold text-primary text-right" [(ngModel)]="order.order_note" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
