<div class="content">
  <div class="product-info p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div *ngIf="labels?.length" class="section input-item col-12 pb-3">
            <etop-material-input
              type="select" placeholder="Chọn loại Ticket" textLabel="Chọn loại Ticket"
              [optionSelect]="labels" [(ngModel)]="selectedLabel">
            </etop-material-input>
          </div>
          <div class="col-12 section py-3">
            <div class="row">
              <div class="input-item col-6">
                <etop-material-input placeholder="Họ tên" textLabel="Họ tên" [(ngModel)]="contact.full_name" type="input">
                </etop-material-input>
              </div>
              <div class="input-item col-6">
                <etop-material-input placeholder="Số điện thoại" [(ngModel)]="contact.phone" textLabel="Số điện thoại"
                                     type="input">
                </etop-material-input>
              </div>
            </div>
          </div>
          <div class="input-item col-12 py-3">
            <etop-material-input placeholder="Tiêu đề*" textLabel="Tiêu đề*"
                                 [(ngModel)]="ticket.title" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-12 pb-3">
            <etop-material-input
              type="text-area" minRow="4" maxRow="10"
              placeholder="Nội dung*" textLabel="Nội dung*" [(ngModel)]="ticket.description">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
    <div class="actions p-0 pt-3 text-right">
      <button class="btn btn-primary text-white" [disabled]="loading" (click)="create()">
        <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
        Xác nhận
      </button>
    </div>
  </div>
</div>
