<div class="popover-wrapper">
  <div class="popover-header">
    <div class="title">{{popoverTitle}}</div>
    <ion-icon class="close-button" name="close-outline" (click)="dismiss()"></ion-icon>
  </div>
  <div class="popover-body">
    <div class="address-list" *ngIf="addresses?.length; else emptyAddresses;">
      <div
        *ngFor="let address of addresses"
        class="address-item" [class.selected]="isSelectedAddress(address)"
        (click)="selectAddress(address)">
        <ion-checkbox mode="md" color="primary" [checked]="isSelectedAddress(address)"></ion-checkbox>
        <div class="address-info">
          <div class="name-and-phone">{{address?.full_name}} - {{address?.phone}}</div>
          <div class="address-display">{{address | addressDisplay}}</div>
        </div>
      </div>
    </div>
    <ng-template #emptyAddresses>
      <div class="empty-address">
        {{emptyTitle}}
      </div>
    </ng-template>
  </div>
  <div class="popover-footer">
    <div class="popover-buttons">
      <button style="color: #555;" (click)="newAddress()">+ Tạo địa chỉ mới</button>
    </div>
  </div>
</div>
