.carrier-info {
  display: flex;
  padding: 15px 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrier-image {
  width: 100px;
  padding-bottom: 55px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.carrier-name {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
}

.title {
  background: #f5f5f5;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}
