<div class="box setting-box">
  <div class="setting-header">Loại Ticket</div>
  <div *ngIf="(listTicketLabel$| async)?.length > 0" class="setting-body">
      <div *ngFor="let ticketLabel of (listTicketLabel$ | async)">
        <etelecom-cs-ticket-label-row [ticketLabel]="ticketLabel"></etelecom-cs-ticket-label-row>
      </div>
  </div>
  <div *ngIf="!(listTicketLabel$| async)?.length" class="setting-body">
        <div class="empty-title mt-5 text-center">
          <h5 style="opacity: 0.7">Công ty của bạn chưa có loại Ticket, vui lòng tạo thêm loại Ticket</h5>
        </div>
        <div class="empty-action mt-3 mb-5 text-center">
          <button class="btn btn-primary" (click)="createTicketLabel()">Thêm loại Ticket</button>
        </div>
  </div>
  <div *ngIf="(listTicketLabel$| async)?.length > 0" class="setting-footer ng-star-inserted">
    <button type="submit" class="btn btn-primary" (click)="createTicketLabel()">Thêm loại Ticket</button>
  </div>
</div>
