:host {
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  border-radius: 7px;
  height: 65px;

  &.active {
    border-left: 5px solid var(--primary-color);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.07);
    margin-left: -5px;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: -3px -2px;
}

.service-item {
  padding: 3px 2px;
}

.service-info {
  background: #f5f5f5;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid var(--border-gray-color);
  font-weight: 700;
  color: #777;
  font-size: .8rem;
}
