<div class="col align-self-center">
  <ng-container *ngIf="shipmentService?.ed_code; else noCode;">
    <span class="text-primary font-weight-bold">
      {{shipmentService?.ed_code}}
    </span>
    <div class="small-font">{{shipmentService?.created_at | date: 'HH:mm dd/MM/yyyy'}}</div>
  </ng-container>
  <ng-template #noCode>
    <i class="fa fa-minus text-default"></i>
  </ng-template>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  {{shipmentService?.name}}
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <ng-container *ngIf="shipmentService?.provider_name; else noProviderName">
    <div class="d-flex align-items-center">
      <span class="carrier-image">
        <img src="{{shipmentService?.provider_logo}}" alt="">
      </span>
      <span class="pl-2">{{shipmentService?.provider_name | uppercase}}</span>
    </div>
  </ng-container>
  <ng-template #noProviderName>-</ng-template>
</div>
<div class="col align-self-center" style="min-width: 22rem;" *ngIf="!liteMode">
  Đang áp dụng {{shipmentService?.service_ids?.length}} dịch vụ
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <span class="order-status order-{{shipmentServiceStatus}}">
    {{shipmentService?.status_display}}
  </span>
</div>
<div class="col align-self-center" *ngIf="!liteMode">
  <ng-container *ngIf="shipmentService?.description; else noDesc;">
    <span class="small-font">
      {{shipmentService?.description}}
    </span>
  </ng-container>
  <ng-template #noDesc>-</ng-template>
</div>

