.box-content {
    border-top: 8px solid rgba(0, 0, 0, 0.04);
}

.product-pricing {
    background-color: #fafafa;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
    .money-calculation {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

.product-box, .customer-box {
    position: relative;
}

.product-search, .customer-search {
    background: white;
    max-height: 200px;
    position: absolute;
    width: 100%;
    z-index: 99;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 16px;
    transition: opacity 0.2s linear 0s;
    border: 1px solid rgba(0, 0, 0, 0.04);
    top: 4.5rem;
    overflow-y: auto;

    .product-line, .customer-line {
        padding: 1rem;
        cursor: pointer;
    }
}

.product-image {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 50%;
}