    <ng-container *ngIf="loadData">
        <ng-container>
            <div class="box-content p-4" [formGroup]="orderForm">
                <label class="font-weight-bold">Người nhận</label>
                <ng-container formGroupName="customer">
                    <div class="py-3 customer-box">
                        <div class="customer-search" [ngClass]="{'d-none': !customers?.length}">
                            <div class="customer-line" (click)="customerSelected(customer)" *ngFor="let customer of customers">
                                <div class="text-primary font-weight-bold">
                                    {{customer.full_name}} - {{customer.phone}}
                                </div>
                                <span>{{addressDisplay(customer)}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <etop-material-input
                                    (blur)="searchBlur($event)"
                                    textLabel="Số điện thoại" appearance="standard" type="input" formControlName="phone">
                                </etop-material-input>
                            </div>
                            <div class="col-4">
                                <etop-material-input
                                    (blur)="searchBlur($event)"
                                    textLabel="Tên khách hàng" appearance="standard" type="input" formControlName="full_name">
                                </etop-material-input>
                            </div>
                            <div class="col-4">
                                <etop-material-input
                                    textLabel="Nhập địa chỉ" appearance="standard" type="input" formControlName="address1">
                                </etop-material-input>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row">
                            <div class="col-4">
                                <etop-material-input
                                    appearance="standard"
                                    textLabel="Chọn tỉnh/thành phố"
                                    [valueMap]="valueMap"
                                    [displayMap]="displayMap"
                                    placeholder="Chọn tỉnh/thành phố" type="select" [optionSelect]="provincesList"
                                    formControlName="province_code">
                                </etop-material-input>
                            </div>
                            <div class="col-4">
                                <etop-material-input
                                    appearance="standard"
                                    textLabel="Chọn quận/huyện"
                                    [valueMap]="valueMap"
                                    [displayMap]="displayMap"
                                    placeholder="Chọn quận/huyện" type="select" formControlName="district_code" [optionSelect]="districtsList">
                                </etop-material-input>
                            </div>
                            <div class="col-4">
                                <etop-material-input
                                    appearance="standard"
                                    textLabel="Chọn phường/xã"
                                    [valueMap]="valueMap"
                                    [displayMap]="displayMap"
                                    placeholder="Chọn phường/xã" type="select" formControlName="ward_code" [optionSelect]="wardsList">
                                </etop-material-input>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="box-content p-4">
                <label class="font-weight-bold">Sản phẩm</label>
                <div class="py-3 product-box">
                    <div class="row">
                        <div class="col-4" [formGroup]="orderForm">
                            <etop-material-input
                                (blur)="searchBlur($event)"
                                textLabel="Tên sản phẩm" appearance="standard" type="input" formControlName="product_name">
                            </etop-material-input>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-4" [formGroup]="orderForm">
                                    <etop-material-input-format-number
                                        textLabel="Giá"
                                        placeholder="Giá sản phẩm"
                                        appearance="standard"
                                        class="shipping-line"
                                        formControlName="product_price"
                                        formatNumberUnit="đ">
                                    </etop-material-input-format-number>
                                </div>
                                <ng-container [formGroup]="fulfillmentForm">
                                    <div class="col-4">
                                        <etop-material-input
                                            appearance="standard"
                                            textLabel="Bảo hiểm"
                                            formControlName="include_insurance"
                                            placeholder="Bảo hiểm" type="select" [optionSelect]="tryOn">
                                        </etop-material-input>
                                    </div>
                                    <div class="col-4">
                                        <etop-material-input-format-number
                                            textLabel="Khối lượng"
                                            placeholder="Nhập khối lượng"
                                            appearance="standard"
                                            class="shipping-line"
                                            formControlName="chargeable_weight"
                                            formatNumberUnit="g">
                                        </etop-material-input-format-number>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="product-search" [ngClass]="{'d-none': !showProductSearch}">
                        <div class="product-line" *ngFor="let product of products">
                            <div class="d-flex" (click)="selectProduct(product)">
                                <img class="product-image" [src]="product.image || 'assets/images/placeholder.png'" alt="product-image">
                                <div class="ml-3">
                                    <div class="product-name font-weight-bold">{{product.name}}</div>
                                    <div class="product-name font-10" *ngIf="product?.code">{{product.code}}</div>
                                </div>
                                <div class="ml-auto">
                                    <div class="product-name">{{product?.variants[0].retail_price | number}}đ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="box-content p-4">
            <div>
                <label class="font-weight-bold">Giao hàng</label>
            </div>
            <div class="py-3" [formGroup]="fulfillmentForm">
                <div class="row">
                    <div class="col-6">
                        <etop-material-input-format-number
                            textLabel="Thu hộ (COD)"
                            placeholder="Thu hộ (COD)"
                            appearance="standard"
                            class="shipping-line"
                            formControlName="cod_amount"
                            formatNumberUnit="đ">
                        </etop-material-input-format-number>
                    </div>
                    <div class="col-6">
                        <etop-material-input
                            appearance="standard"
                            textLabel="Ghi chú xem hàng"
                            formControlName="try_on"
                            placeholder="Ghi chú xem hàng" type="select" [optionSelect]="tryOnOptions">
                        </etop-material-input>
                    </div>
                </div>
            </div>
            <div class="py-3">
                <etop-material-input
                    textLabel="Ghi chú giao hàng" appearance="standard" type="input" [(ngModel)]="shipping_note">
                </etop-material-input>
            </div>
            <div class="shipping-service text-center mt-4">
                <h6 class="text-bold mb-4">Chọn gói dịch vụ*</h6>
                <topship-shipment-service-options #shipmentServiceOptions
                                                  (shipmentServiceChange)="selectShippingService($event)"></topship-shipment-service-options>
              </div>
            <button class="btn btn-primary w-100 mt-2" (click)="confirm()" [disabled]="loading">
                <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
                Chốt đơn
            </button>
        </div>
    </ng-container>

