<div class="slider-detail-section">
  <div class="row">
    <div class="col-6 py-2">
      <etop-material-input textLabel="Tên" type="custom">
        <span class="read-only text-bold">{{user?.full_name}}</span>
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input textLabel="Ngày tạo" type="custom">
        <span class="read-only">{{(user?.created_at | date: 'dd/MM/yyyy') || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="col-12 py-2">
      <etop-material-input textLabel="Số điện thoại" type="custom">
        <span class="read-only">
          <span
            class="text-bold text-primary cursor-pointer d-inline-flex align-items-center"
            eCallButton="{{user?.phone}}">
            {{user?.phone}}&nbsp;
            <i class="text-primary fa fa-phone-square upper-medium-font"></i>
          </span>
          <span class="small-font ml-2">
            ({{user?.phone_verified_at ? 'Xác thực ngày: ' + (user?.phone_verified_at | date: 'dd/MM/yyyy') : 'Chưa xác thực'}})
          </span>
        </span>
      </etop-material-input>
    </div>
    <div class="col-12 py-2">
      <etop-material-input textLabel="Email" type="custom">
        <span class="read-only">
          <span class="text-bold">{{user?.email}}</span>
          <span class="small-font ml-2">
            ({{user?.email_verified_at ? 'Xác thực ngày: ' + (user?.email_verified_at | date: 'dd/MM/yyyy') : 'Chưa xác thực'}})
          </span>
        </span>
      </etop-material-input>
    </div>
    <div class="col-4 py-2">
      <etop-material-input textLabel="Nguồn" type="custom">
        <span class="read-only">{{user?.source_display}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 py-2">
      <etop-material-input textLabel="Số shop" type="custom">
        <span class="read-only">{{user?.total_shop}}</span>
      </etop-material-input>
    </div>
    <div class="col-4 py-2">
      <etop-material-input textLabel="Trạng thái" type="custom">
        <span class="read-only order-status order-{{user?.is_blocked ? 'N' : 'P'}}">
          {{user?.is_blocked ? 'Bị chặn' : 'Đang hoạt động'}}
        </span>
      </etop-material-input>
    </div>
    <div class="col-12 py-2" *ngIf="user?.block_reason && user?.is_blocked">
      <etop-material-input textLabel="Lý do chặn" type="custom">
        <span class="read-only text-danger">
          {{user?.block_reason}}
        </span>
      </etop-material-input>
    </div>
  </div>
</div>
