<ion-header>
    <ion-toolbar>
        <ion-title>{{popoverTitle}}</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="dismiss()">
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item lines="none" class="input-wrapper line-custom">
            <ion-label position="floating">Tên</ion-label>
            <ion-input [(ngModel)]="address.full_name"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-wrapper line-custom">
            <ion-label position="floating">Số điện thoại</ion-label>
            <ion-input inputmode="tel" [(ngModel)]="address.phone"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-wrapper line-custom">
            <ion-label position="floating">Địa chỉ</ion-label>
            <ion-input [(ngModel)]="address.address1"></ion-input>
        </ion-item>
        <ionetop-select-suggest label="Tỉnh thành" placeholder="Chọn tỉnh thành" [hasLabel]="true" position="stacked" lines="none" cssItemClass="line-custom" [options]="provincesList" [(ngModel)]="address.province_code" (ngModelChange)="onProvinceSelected()">
        </ionetop-select-suggest>
        <ionetop-select-suggest label="Quận huyện" [hasLabel]="true" position="stacked" lines="none" cssItemClass="line-custom" placeholder="Chọn quận huyện" [options]="districtsList" [(ngModel)]="address.district_code" (ngModelChange)="onDistrictSelected()">
        </ionetop-select-suggest>
        <ionetop-select-suggest label="Phường xã" placeholder="Chọn Phường xã" [hasLabel]="true" position="stacked" lines="none" cssItemClass="line-custom" [options]="wardsList" [(ngModel)]="address.ward_code" (ngModelChange)="onWardSelected()">
        </ionetop-select-suggest>
    </ion-list>
</ion-content>
<ion-footer class="footer-button-wrapper" (click)="confirm()">
    <ion-toolbar color="light" class="no-padding">
        <div class="footer-buttons-etop ion-flex">
            <button class="w-100 bg-topship text-white footer-button-item">
        {{confirmBtnTitle}}
      </button>
        </div>
    </ion-toolbar>
</ion-footer>