.supplier-slide-item {
  li {
    &.nav-item {
      border-left: none;
    }
    a.nav-link {
      border: none;
      background-color: var(--white-color);
      min-height: auto;
      color: var(--dark-color);
      padding: 10px 15px;
      &.active {
        border-bottom: 2px solid var(--primary-color) !important;
        color: var(--primary-color) !important;
      }
    }
  }
}

.input-item {
  margin-bottom: 0.5rem;
}
