<div class="content">
  <div class="p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="input-item col-6">
            <etop-material-input textLabel="Mã nhà cung cấp" type="custom">
              <span class="read-only">{{supplier?.code || '-'}}</span>
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input
              placeholder="Tên nhà cung cấp" textLabel="Tên nhà cung cấp" type="input"
              [(ngModel)]="supplier.p_data.full_name" (ngModelChange)="onDataEdited($event, 'full_name')">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input
              placeholder="Số điện thoại" textLabel="Số điện thoại" type="input"
              [(ngModel)]="supplier.p_data.phone" (ngModelChange)="onDataEdited($event, 'phone')">
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input
              placeholder="Email" textLabel="Email" type="input"
              [(ngModel)]="supplier.p_data.email" (ngModelChange)="onDataEdited($event, 'email')">
            </etop-material-input>
          </div>
          <div class="input-item col-8">
            <etop-material-input
              placeholder="Tên doanh nghiệp" textLabel="Tên doanh nghiệp" type="input"
              [(ngModel)]="supplier.p_data.company_name" (ngModelChange)="onDataEdited($event, 'company_name')">
            </etop-material-input>
          </div>
          <div class="input-item col-4 pl-0">
            <etop-material-input
              placeholder="Mã số thuế" textLabel="Mã số thuế" type="input"
              [(ngModel)]="supplier.p_data.tax_number" (ngModelChange)="onDataEdited($event, 'tax_number')">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input
              placeholder="Trụ sở chính" textLabel="Trụ sở chính" type="input"
              [(ngModel)]="supplier.p_data.headquater_address"
                                 (ngModelChange)="onDataEdited($event, 'headquater_address')">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input
              placeholder="Ghi chú" textLabel="Ghi chú" [(ngModel)]="supplier.p_data.note"
              (ngModelChange)="onDataEdited($event, 'note')" type="text-area">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ePermissions="['shop/supplier:update']" class="actions p-3 text-right">
    <button class="btn btn-primary" (click)="updateSupplier()">
      <span class="align-middle">Cập nhật thông tin</span>
    </button>
  </div>
  <div class="supplier-slide-item mt-3">
    <ul class="nav nav-tabs" role="tablist">
      <li *ePermissions="['shop/purchase_order:view']" class="nav-item">
        <a class="nav-link" [class.active]="activeTab == 'purchase_order'" data-toggle="tab" href="#purchase-order" role="tab">ĐƠN NHẬP HÀNG</a>
      </li>
      <li *ePermissions="['shop/receipt:view']" class="nav-item">
        <a class="nav-link" [class.active]="activeTab == 'receipt'" data-toggle="tab" href="#receipt" role="tab">PHIẾU THU/CHI</a>
      </li>
    </ul>
    <div class="tab-content flex-grow-1">
      <div *ePermissions="['shop/purchase_order:view']" class="tab-pane" [class.active]="activeTab == 'purchase_order'" id="purchase-order" role="tabpanel">
        <shop-supplier-purchase-orders
          [supplier_id]="supplier.id" [supplier_name]="supplier.full_name">
        </shop-supplier-purchase-orders>
      </div>
      <div *ePermissions="['shop/receipt:view']" class="tab-pane" [class.active]="activeTab == 'receipt'" id="receipt" role="tabpanel">
        <shop-supplier-receipt
          [supplier_id]="supplier.id" [supplier_name]="supplier.full_name">
        </shop-supplier-receipt>
      </div>
    </div>
  </div>
</div>
