<div class="dialog-header">
    <div class="dialog-title">Gán hotline</div>
    <div class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div class="dialog-body">
    <mat-form-field class="mt-4" appearance="outline">
        <mat-label>Máy nhánh</mat-label>
        <mat-select [(ngModel)]="hotlineData.id">
            <mat-option *ngFor="let hotline of hotlines" [value]="hotline.id">
            {{hotline.name}} - {{hotline.hotline}}
            </mat-option>
            <mat-option class="e-border-top new-hotline" disabled (click)="addHotline()">
                <div class="text-center text-primary text-big">+ Tạo hotline</div>
            </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div class="dialog-footer">
    <div class="text-right">
      <button class="btn btn-outline btn-default mr-2" [disabled]="loading" (click)="closeDialog()">
        Đóng
      </button>
      <button class="btn btn-primary" [disabled]="loading" (click)="addHotlineToTenant()">
        <mat-spinner diameter="14" class="mr-2" *ngIf="loading"></mat-spinner>
        Xác nhận
      </button>
    </div>
  </div>
  