.main-info {
  border-bottom: 1px solid var(--border-gray-color);
}

.variant-list {
  li {
    &.nav-item {
      border-left: none;
    }
    a.nav-link {
      border: none;
      background-color: var(--white-color);
      min-height: auto;
      color: var(--dark-color);
      padding: .8rem 1.25rem;
      &.active {
        border-bottom: 2px solid var(--primary-color) !important;
        color: var(--primary-color) !important;
      }
    }
  }
}

.main-info, .variant-list, .action {
  padding: 1.25rem;
}

.action {
  text-align: right;
}
