<div class="main-info">
  <div class="row">
    <div class="slider-detail-input-item" [class.col-4]="isNew" [class.col-6]="!isNew">
      <etop-material-input textLabel="Mã phiếu" type="custom">
        <span class="read-only text-primary font-weight-bold">{{discard?.code || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item" [class.col-4]="isNew" [class.col-6]="!isNew">
      <etop-material-input textLabel="Thời gian tạo" type="custom">
        <span class="read-only">{{discard?.created_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item" [class.col-4]="isNew" [class.col-6]="!isNew">
      <etop-material-input textLabel="Trạng thái" type="custom">
        <span class="read-only order-status order-{{discard?.status}}">
          {{discard?.status_display}}
        </span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6" *ngIf="discard?.status == 'P'">
      <etop-material-input textLabel="Thời gian xác nhận" type="custom">
        <span class="read-only">{{discard?.confirmed_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-6" *ngIf="discard?.status == 'N'">
      <etop-material-input textLabel="Thời gian huỷ" type="custom">
        <span class="read-only">{{discard?.cancelled_at | date: 'HH:mm dd/MM/yyyy'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-12" *ngIf="discard?.status == 'N'">
      <etop-material-input textLabel="Lý do huỷ" type="custom">
        <span class="read-only">{{discard?.cancel_reason || '-'}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Số sản phẩm" type="custom">
        <span class="read-only font-weight-bold">{{discard?.total_products}}</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Số lượng huỷ" type="custom">
        <span class="read-only font-weight-bold">
          {{discard?.discard_quantity}}
        </span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-4">
      <etop-material-input textLabel="Phiếu xuất" type="custom">
        <span
          class="font-weight-bold text-primary cursor-pointer"
          *ngIf="voucher" (click)="viewDetailVoucher(voucher)">
          {{voucher?.code}}
          <i class="fas fa-external-link-alt external-link-icon"></i>
        </span>
        <span *ngIf="!voucher">-</span>
      </etop-material-input>
    </div>
    <div class="slider-detail-input-item col-12">
      <etop-material-input textLabel="Ghi chú" type="custom">
        <span class="read-only">{{discard?.note || '-'}}</span>
      </etop-material-input>
    </div>
  </div>
</div>
<div class="variant-list">
  <h6 class="font-weight-bold font-11 mb-4">DANH SÁCH SẢN PHẨM</h6>
  <div class="row">
    <shop-discard-variants [lines]="discard?.lines"></shop-discard-variants>
  </div>
</div>
<div class="action" *ngIf="isNew">
  <button *ePermissions="['shop/stocktake:update']" class="btn btn-primary btn-outline" (click)="updateStocktake()">Chỉnh sửa</button>
  <button *ePermissions="['shop/stocktake:confirm']" class="btn btn-primary ml-2" (click)="confirm()">
    Xác nhận
  </button>
</div>
