<div class="modal-header">
  <div class="modal-title big-font">
    Hướng dẫn nạp tiền
  </div>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <span class="title" [innerHTML]="banner | safeHtml"></span>
</div>
