<ion-header>
    <ion-toolbar>
        <ion-title>Tạo cửa hàng</ion-title>
        <ion-buttons slot="start">
            <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-flex flex-column h-100">
        <div class="body-content">
            <div class="ion-padding-horizontal ion-padding-top font-bold">THÔNG TIN CƠ BẢN</div>
            <ion-list class="ion-padding-end">
                <ion-item>
                    <ion-label>Tên cửa hàng *</ion-label>
                    <ion-input placeholder="Tên cửa hàng" class="ion-text-end" [(ngModel)]="shop.name">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Website</ion-label>
                    <ion-input placeholder="Website" class="ion-text-end" [(ngModel)]="shop.website_url">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Số điện thoại *</ion-label>
                    <ion-input placeholder="Số điện thoại" class="ion-text-end" [(ngModel)]="shop.phone">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Email *</ion-label>
                    <ion-input placeholder="Email" class="ion-text-end" [(ngModel)]="shop.email">
                    </ion-input>
                </ion-item>
            </ion-list>
            <div class="ion-padding-horizontal ion-padding-top font-bold">NGÀNH HÀNG KINH DOANH</div>
            <ion-list class="ion-padding-end">
                <ion-item>
                    <ion-label>Ngành hàng</ion-label>
                    <ion-select placeholder="Chọn ngành hàng" okText="Chọn" cancelText="Đóng" [(ngModel)]="business_lines" (ionChange)="onChangeSurvey()">
                        <ion-select-option value="{{business_lines.value}}" *ngFor="let business_lines of business">
                            {{business_lines.text}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="business_lines == 'others'">
                    <ion-label>Ngành khác *</ion-label>
                    <ion-input placeholder="Nhập tên ngành hàng" [(ngModel)]="other_lines" class="ion-text-end">
                    </ion-input>
                </ion-item>
            </ion-list>

            <div class="ion-padding-horizontal ion-padding-top font-bold">ĐỊA CHỈ CỬA HÀNG</div>
            <ion-list class="ion-padding-end">
                <ionetop-select-suggest lines="none" cssItemClass="line-custom" label="Tỉnh/Thành phố" placeholder="Chọn tỉnh/thành phố" [hasLabel]="true" position="stacked" [options]="provinces" [(ngModel)]="address.province_code" (ngModelChange)="onProvinceSelected()">
                </ionetop-select-suggest>
                <ionetop-select-suggest lines="none" cssItemClass="line-custom" label="Quận/Huyện" placeholder="Chọn quận/huyện" [hasLabel]="true" position="stacked" [options]="districts" [(ngModel)]="address.district_code" (ngModelChange)="onDistrictSelected()">
                </ionetop-select-suggest>
                <ionetop-select-suggest lines="none" cssItemClass="line-custom" label="Phường/Xã" placeholder="Chọn phường/xã" [hasLabel]="true" position="stacked" [options]="wards" [(ngModel)]="address.ward_code">
                </ionetop-select-suggest>
                <ion-item>
                    <ion-label>Địa chỉ</ion-label>
                    <ion-input placeholder="Địa chỉ" class="ion-text-end" [(ngModel)]="shop.address.address1">
                    </ion-input>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="footer-buttons-etop ion-flex">
        <button class="w-100 bg-primary text-white footer-button-item" (click)="createShop()">
        Tạo cửa hàng
      </button>
    </div>
</ion-footer>