:host {
  display: flex;
  align-items: center;
  flex: 1;
}

.bg-transparent {
  background: transparent !important;
}

.group-quantity {
  border-radius: 3px !important;
  background-color: var(--lighter-gray-color);
  align-items: center;
}

label {
  margin-bottom: 0;
}

.line-logo {
  object-fit: cover;
}

//TODO move upload photo to a single component
.upload-photo-wrapper {
  width: 5rem;
  height: 5rem;
  .logo-upload {
    width: 100%;
    padding-bottom: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .line-logo {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  .line-logo,
  .logo-upload {
    border-radius: 7px;
    border: 1px solid var(--gray-color);
  }
  .fa {
    font-size: 1.6rem;
  }
  .upload-loading,
  .over-logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    .fa {
      color: var(--white-color);
    }
  }
  .upload-loading {
    background: rgba(0, 0, 0, 0.7);
  }
}

.product-name {
  width: 16.25rem;
  padding: 0 0.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.line-price,
.line-quantity {
  padding: 0 1.25rem;
}

.line-price {
  min-width: 8.75rem;
}

.line-quantity {
  button {
    text-align: center;
    padding: 0.4rem 0.8rem;
  }
  .editable {
    width: 3.3rem;
    line-height: 1.6rem;
    border: 1px solid var(--gray-color);
  }
}
