<div class="carrier-list">
  <ng-container *ngFor="let connection of availableConnections$ | async">
    <div class="carrier-item ion-flex ion-align-items-center" >
      <div class="profile-picture">
        <img src="{{connection?.provider_logo}}" alt="">
      </div>
      <div class="ion-flex ion-align-items-center ion-justify-content-between" style="flex: 1; padding-left: .5rem;">
        <div class="carrier-name">{{connection?.name_display || connection?.name}}</div>
        <div
          *ngIf="!isActive(connection)"
          class="connect-button" (click)="connectCarrier(connection)">
          Kết nối
        </div>
        <ion-text color="success" *ngIf="isActive(connection)" >Đã kết nối</ion-text>
      </div>
    </div>
  </ng-container>
</div>
