<div *ePermissions="['relationship/relationship:view']" class="page-content">
    <div class="box setting-box mt-0">
        <div class="setting-header">Nhân viên</div>
        <div class="setting-body">
          <div class="row">
            <div class="table-responsive">
              <table class="w-100">
                <thead>
                  <tr class="table-head">
                    <th>Tên</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Vai trò</th>
                    <th style="width: 12%">Máy nhánh</th>
                    <th>Tổng đài</th>
                    <th>Ngày hết hạn</th>
                    <th class="text-right" style="max-width: 8rem;">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!(relationships$ | async )?.length">
                    <td colspan="8" class="empty-list">
                      Cửa hàng của bạn chưa có nhân viên.
                    </td>
                  </tr>
                  <tr *ngFor="let relationship of (relationships$ | async );" etelecom-staff-management-row [staff]="relationship"></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="setting-footer">
          <div class="text-right w-100" *ePermissions="['relationship/invitation:create']">
            <button (click)="addStaff()"
              class="btn btn-primary">
              Thêm nhân viên
            </button>
          </div>
        </div>
      </div>

      <div class="box setting-box">
        <div class="setting-header">Đang chờ chấp nhận lời mời</div>
        <div class="setting-body">
          <div class="row">
            <div class="table-responsive">
              <table class="w-100">
                <thead>
                  <tr class="table-head">
                    <th>Tên</th>
                    <th>Email/Phone</th>
                    <th>Vai trò</th>
                    <th class="text-right" style="max-width: 8rem;">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container>
                    <tr *ngIf="!(shopInvitations$ | async)?.length">
                      <td colspan="4" class="empty-list">
                        Cửa hàng của bạn chưa có lời mời nào.
                      </td>
                    </tr>
                    <ng-container *ngIf="(shopInvitations$ | async)?.length">
                      <tr *ngFor="let invitation of (shopInvitations$ | async);" etelecom-cs-user-invitation-row
                          [invitation]="invitation"></tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
