:host {
    min-width: fit-content;
    display: flex;
    place-self: flex-end;
}

.select-date-range {
    padding: 0.5em;
}

.input-date-range {
    top: 0;
    z-index: -9999;
}

::ng-deep .mat-calendar-body-selected {
    background-color: var(--primary-color) !important;
}

::ng-deep .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), 
::ng-deep .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), 
::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: rgba(var(--primary-color-rgb), 0.3) !important;
}

::ng-deep .mat-calendar-body-in-range::before {
    background: rgba(var(--primary-color-rgb), 0.3) !important;
}
