<div class="select-date-range position-relative {{cssClass}}">
    <span [ngClass]="{'font-weight-bold': labelBold}" style="cursor: pointer;" [matMenuTriggerFor]="closeOptions" >
        <mat-icon class="text-primary mr-2" *ngIf="displayIcon">circle</mat-icon>
        <span>{{rangeLabel}}</span>
        <mat-icon class="ml-4" *ngIf="displayIcon">keyboard_arrow_down</mat-icon>
    </span>
    <div class="position-absolute input-date-range">
        <mat-form-field color="primary" style="opacity: 0; position: absolute !important">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [max]="maxDate" [rangePicker]="rangePicker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                    <button class="btn btn-default btn-outline mr-3" matDateRangePickerCancel>Đóng</button>
                    <button class="btn btn-default btn-primary" matDateRangePickerApply>Xác nhận</button>
                </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </mat-form-field>
    </div>
    <mat-menu #closeOptions="matMenu">
        <button class="min-width-15rem" mat-menu-item *ngFor="let range of ranges" (click)="selectedRange(range)">
            {{range?.label}}
        </button>
        <button class="min-width-15rem" mat-menu-item (click)="rangePicker.open();">
            Tùy chọn
        </button>
    </mat-menu>
  </div>
