<div class="page-content d-flex p-0">
  <div class="product-list w-100 pt-2">
    <div class="row m-4 mt-4">
      <div class="col-6 product-item mb-4" *ngIf="bannerLeft && bannerLeft.is_active == '1'">
        <div class="trading-box">
          <div class="d-flex">
            <div class="col-8 product-info p-5">
              <div class="product-name mb-4">
                <h3>{{bannerLeft.title}}</h3>
              </div>
              <div class="description mb-4" [innerHTML]="bannerLeft.description">
              </div>
              <button class="btn btn-primary btn-outline" (click)="directLink(bannerLeft.url)">TÌM HIỂU THÊM</button>
            </div>
            <div class="col-4 product-img p-1"
              [style.background]="'url('+ bannerLeft.img_url +')'">
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 product-item mb-5" *ngIf="bannerRight && bannerRight.is_active == '1'">
        <div class="trading-box">
          <div class="d-flex">
            <div class="col-8 product-info p-5" >
              <div class="product-name mb-4">
                <h3>{{bannerRight.title}}</h3>
              </div>
              <div class="description mb-4" [innerHTML]="bannerRight.description">
              </div>
              <button class="btn btn-primary btn-outline" (click)="directLink(bannerRight.url)">TÌM HIỂU THÊM</button>
            </div>
            <div class="col-4 product-img p-1"
              [style.background]="'url('+ bannerRight.img_url +')'">
            </div>
          </div>

        </div>
      </div>
    </div>
    <ng-container *ngIf="currentTab == 'goods'">
      <div class="row m-4">
        <div class="col-sm-4 col-lg-3 col-2-5 mb-5" *ngFor="let product of goodsProduct">
          <shop-product-trading-card [product]="product">
          </shop-product-trading-card>
        </div>
      </div>
      <div class="empty-state w-100 d-flex text-center align-items-center" *ngIf="goodsProduct?.length == 0">
        <div class="w-100">
          <img src="assets/images/icon_store_2.png" alt="" style="width: 200px; opacity: 0.3">
          <div class="text-bigger text-center m-2">Đang cập nhật sản phẩm</div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="currentTab == 'services'">
      <div class="row m-4">
        <div class="col-sm-4 col-lg-3 col-2-5 mb-5" *ngFor="let product of servicesProduct">
          <shop-product-trading-card [product]="product">
          </shop-product-trading-card>
        </div>
      </div>
      <div class="empty-state w-100 d-flex text-center align-items-center" *ngIf="servicesProduct?.length == 0">
        <div class="w-100">
          <img src="assets/images/icon_store_2.png" alt="" style="width: 200px; opacity: 0.3">
          <div class="text-bigger text-center m-2">Đang cập nhật sản phẩm</div>
        </div>
      </div>
    </ng-container>
  </div>
  <etop-side-slider #slider title="Đơn hàng đã mua">
    <shop-purchase-order [orders]="orders"></shop-purchase-order>
  </etop-side-slider>
</div>
