.product-img {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  border-radius: 0 5px 5px 0;
}

@media screen and (min-width: 1366px) {
  .col-2-5 {
    width: 18.297872340425532% !important;
    flex: 0 0 20%;
  }
}

.product-list {
  overflow: scroll;
}

.empty-state {
  margin-top: 12vh;
}