<div class="page-content pb-0">
  <div class="page-wrapper">
    <etop-table
      #transactionTable
      [items]="mtTransfersList$ | async"
      (requestNewPage)="loadPage($event)"
      [show_paging]="(mtTransfersList$ | async)?.length > 0 && showPaging">
      <ng-template #header let-liteMode="liteMode">
        <div class="col">
          <span class="table-header-text">Mã phiên</span>
        </div>
        <div class="col">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <div class="col">
          <span class="table-header-text">Số phiên</span>
        </div>
        <div class="col">
          <span class="table-header-text">Số đơn giao hàng</span>
        </div>
        <div class="col">
          <span class="table-header-text">Thu hộ</span>
        </div>
        <div class="col">
          <span class="table-header-text">Phí</span>
        </div>
        <div class="col">
          <span class="table-header-text">Còn lại</span>
        </div>
        <div class="col">
          <span class="table-header-text">Ghi chú</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <div>
            <img
              class="blank-img"
              src="assets/images/admin/icon_transaction.png"
              alt="empty list"
            />
          </div>
          <div class="info">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-mt="item" let-liteMode="liteMode">
        <div
          class="row table-row" admin-mt-transfer-row
          [transaction]="mt" [liteMode]="liteMode">
        </div>
      </ng-template>
    </etop-table>
  </div>
</div>
