.hidden {
  display: none;
}
.content-wrapper {
  overflow-y: auto;
  width: 100%;
  padding: 1rem;
  background: var(--white-color);
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 0;
    background: var(--white-color);  /* Optional: just make scrollbar invisible */
  }
}
.menu-sidebar {
  overflow-y: auto;
  width: 30%;
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 0;
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}

.table-responsive {
  overflow: visible;
  tr {
    &.table-head {
      th {
        color: #9f9f9f;
        text-transform: uppercase;
      }
    }
  }

  th, td {
    padding: 5px 15px;
  }

  td {
    font-size: 1rem;
  }
}

.setting-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.setting-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-header, .setting-body {
  border-bottom: 1px solid var(--gray-color);
}

.setting-header, .setting-body, .setting-footer {
  padding: 1.5rem;
}

.setting-box {
  margin-top: 1.25rem;
}

.note {
  padding: .5rem 0;
  text-align: left;
}

.menu-list {
  padding: 0 1rem;
}
.menu-list li {
  display: block;
  font-size: 1.2rem;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  cursor: pointer;
  &.active {
    background-color: #f5f5f5;
    border-radius: 0.4rem;
    color: var(--primary-color);
  }
  &:first-child {
    font-weight: bold;
  }
}

.shop-logo {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #eee;
}

.divider {
  background-color: var(--border-gray-color);
  height: 1px;
  margin: 2rem;
  width: 70%;
}

.shop-name, .account-name {
  font-size: 1.4rem;
}

.segment-container {
  height: auto;
  width: 100vw;
  background-color: rgba(0,0,0,.03);
  .segments {
    height: 4rem;
    background-color: var(--white-color);
    .segment, .segment {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 3px solid var(--dark-border-color);
      &.active {
        color: var(--primary-color);
        border-bottom: 3px solid var(--primary-color);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
    .page-content {
      padding: 0 0 var(--mobile-menu-height) 0;
      .content-wrapper {
        padding: 0;
      }
    }

    .mobile-menu-items {
      box-shadow: 0 0 10px rgba(0, 0, 0, .12);
      .mobile-menu-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.5rem;
        border-bottom: 0.045em solid rgba(0, 0, 0, .12);
        cursor: pointer;
        .mobile-menu-icon {
          margin-right: 1.5rem;
          span {
            font-size: 2rem;
            height: 2rem;
            width: 2rem;
          }
        }
      }
    }
    .content-wrapper {
      width: 100vw;
    }

    .menu-sidebar {
      display: none;
    }

    .segment-container {
      position: sticky;
      top: 0;
      display: block !important;
      z-index: 2;
      top: var(--header-height);
    }
}
