<webcall-mobile-header [header]='mobileHeader' [canBack]='canGoBack' (toGoBack)='goBack()'></webcall-mobile-header>
<div class="page-content d-flex">
  <div class="menu-sidebar hide-768">
    <div class="shop-info">
      <ul class="menu-list">
        <li (click)="changeMenu('shop')">
          <div class="d-flex align-items-center">
            <img class="shop-logo" [src]="currentShop.image_url || 'assets/images/placeholder.png'"/>
            <div class="ml-3">
              <div class="text-default">Cửa hàng</div>
              <span class="text-default shop-name">{{currentShop.name}}</span>
            </div>
          </div>
        </li>
        <ng-template ngFor let-menu [ngForOf]="menus">
          <li
            *ePermissions="menu.permissions" [ngClass]="{'active': menu.slug == current_menu}"
            (click)="changeMenu(menu.slug)">
            {{menu.title}}
          </li>
        </ng-template>
      </ul>
    </div>
    <div class="divider"></div>
    <div class="account-info">
      <ul class="menu-list">
        <li (click)="changeMenu('user')">
          <span class="text-default">Tài khoản</span>
          <div class="text-default account-name">
            {{user.full_name}}
          </div>
        </li>
        <li
          *ngFor="let menu of accountMenus" [ngClass]="{'active': menu.slug == current_menu}"
          (click)="changeMenu(menu.slug)">
          {{menu.title}}
        </li>
      </ul>
    </div>
  </div>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
