<div class="hold-transition wrapper-login">
  <div class="login-box">
    <shared-etop-product></shared-etop-product>
    <div class="login-box-body p-0">
      <form method="post" (submit)="submit()">
        <div class="p-3 text-center">
          <span style="font-size: 12px; font-weight: 700;">Đăng nhập</span>
        </div>
        <div class="p-3 border-top">
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email/Số điện thoại" name="username"
              [(ngModel)]="login">
          </div>
          <div class="form-group has-feedback mb-0">
            <input type="password" class="form-control" placeholder="Mật khẩu" name="password" [(ngModel)]="password">
          </div>
        </div>
        <div class="p-3 border-top d-flex">
          <a class="btn btn-primary btn-outline mr-auto" routerLink="/register">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Đăng ký
          </a>
          <button class="btn btn-primary" type="submit" [disabled]="loading">
            <i class="fas fa-sign-in-alt" aria-hidden="true" *ngIf="!loading"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            Đăng nhập
          </button>
        </div>
        <div class="p-3 pt-1 border-top text-left d-flex justify-content-between" style="background: #f2f2f2;">
          <a href="https://www.etop.vn/huong-dan" class="align-self-center text-primary" target="_blank">
            <i class="fa fa-question-circle text-primary" aria-hidden="true"></i>
            Hướng dẫn sử dụng
          </a>
          <a class="align-self-center text-primary" data-toggle="modal" (click)="forgotPassword()"
            style="cursor: pointer">
            <i class="fa fa-key text-primary" aria-hidden="true"></i>
            Quên mật khẩu
          </a>
        </div>
      </form>
    </div>
  </div>
</div>