<div class="modal-header">
  <h6 class="modal-title">
    Xác thực AhaMove&nbsp;&nbsp;-&nbsp;&nbsp;<i class="fa fa-info-circle text-aqua"></i> <a href="https://topship.vn/giao-hang-ahamove" target="_blank" class="text-aqua">Hướng dẫn sử dụng</a>
  </h6>
  <button type="button" class="close" style="outline: 0;" data-dismiss="modal">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body font-12 pt-0">
  <shop-verify-account-external-service #verifyAccountExternalService [wait_for_verifying]="wait_for_verifying" [loading]="loading">
  </shop-verify-account-external-service>
</div>
<div *ngIf="display" class="progress progress-bar-bottom">
  <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="percent"
       [attr.aria-valuenow]="percent" [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></div>
</div>
<div class="alert bg-topship m-0 font-13 text-white" *ngIf="wait_for_verifying" style="border-radius: 0;">
  <div>Tài khoản của bạn đang được xác thực, nhà vận chuyển sẽ liên hệ với bạn trong vòng 48h.</div>
  <div>Chúng tôi sẽ thông báo đến bạn khi xác thực thành công.</div>
</div>
<div class="modal-footer text-right">
  <button class="btn btn-outline btn-default" [disabled]="loading" data-dismiss="modal">Đóng</button>
  <button class="btn btn-primary" *ngIf="!wait_for_verifying" [disabled]="loading"
          (click)="verifyAccountAhamove()">Gửi xác thực</button>
</div>
