.modal-dialog {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.modal-content {
  max-height: 90vh;
}

.modal-body {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
}

.progress-bar-bottom {
  height: 5px;
  width: 100%;
  background-color: transparent;
  .progress-bar {
    background-color: var(--primary-color);
  }
}
