<div class="ion-page" id="posId">
  <ion-content>
    <ng-container *ngIf="!loading">
      <div class="header">
        <div class="announce-title">Tạo đơn hàng thành công</div>
        <img [src]="confirmStatusImg" alt="" class="announce-img">
        <div class="order-code">{{order?.code}}</div>
      </div>
      <div class="warning-section" *ngIf="hasError">
        <span style="width: 70%">Có lỗi xảy ra khi xác nhận đơn hàng</span>
        <button class="btn btn-warning" (click)="retryConfirm()">Thử lại</button>
      </div>
      <div class="info-section">
        <div class="order-info">
          <div class="title">Khách hàng</div>
          <div class="ion-flex ion-align-items-center ion-justify-content-between">
            <span>{{order?.customer?.full_name}}</span>
            <a href="tel:{{order?.customer?.phone}}">{{order?.customer?.phone}}</a>
          </div>
        </div>
        <div class="order-info">
          <div class="title">Đã thanh toán</div>
          <div class="ion-flex ion-align-items-center ion-justify-content-between">
            <div [innerHTML]="paymentMethodDisplay">
            </div>
            <span>{{order?.received_amount | vnd}}đ</span>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="btn btn-primary btn-outline" (click)="newOrder()">Tạo đơn mới</button>
        <button class="btn btn-default btn-outline" (click)="viewOrders()">Xem danh sách đơn hàng</button>
      </div>
    </ng-container>
  </ion-content>
</div>
