.header {
  display: flex;
  padding-top: 4rem;
  padding-bottom: 2rem;
  align-items: center;
  flex-direction: column;
  color: #444;
}

.announce-title {
  font-size: 1.4rem;
}

.announce-img {
  width: 5.8rem;
  margin: 1.25rem 0;
}

.order-code {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.warning-section {
  background: rgba(243, 156, 18, .2);
  padding: 2rem 1.25rem;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn {
    font-size: 1.1rem;
  }
}

.order-info {
  box-shadow: 0 5px 0 0 rgba(0,0,0,.05);
  padding: 1.6rem 1.25rem;
  color: #777;
  &:last-child {
    box-shadow: none;
  }
  .title {
    font-weight: 700;
    margin-bottom: 1rem;
  }
  a {
    color: #666;
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.6rem;
  .btn {
    font-size: 1.1rem;
    padding: 1rem 1.6rem;
    margin-bottom: 1.25rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
