<div class="list-message">
  <div class="message-item" [class.active]="(activeConversation$ | async)?.id == conversation?.id"
       *ngFor="let conversation of searchingConversation$ | async; let first = first;trackBy: trackByFn">
    <div class="px-3 py-2 e-border-bottom d-flex align-items-center page-name" *ngIf="!(activePage$ | async)">
      <img [imageLoader]="getFanpageById(conversation.external_page_id)?.external_image_url" src="assets/images/placeholder_medium.png" alt="logo" class="fp-logo">
      <span>{{getFanpageById(conversation.external_page_id)?.external_name}}</span>
    </div>
    <div class="d-flex align-items-start p-3" [ngClass]="{'unread': !conversation?.is_read}"
         (click)="selectConversation(conversation)">
      <div class="user-avatar mr-3">
        <img [imageLoader]="conversation.external_user_picture_url" src="assets/images/user_logo.jpg" alt="logo" class="user-logo">
        <img src="assets/images/{{conversation?.type == 'message' ? 'messenger' : 'facebook'}}.png" alt="icon"
             class="conversation-type">
      </div>
      <div class="user-name">
        <div class="d-flex external-user">
          <h5 class="m-0 external-user-name">{{conversation.external_user_name}}</h5>
          <span class="ml-auto text-small" style="opacity: 0.5">
              {{conversation?.last_message_at | date: 'dd/MM HH:mm'}}
            </span>
          <i class="fa fa-circle text-primary ml-2" aria-hidden="true" *ngIf="!conversation?.is_read"></i>
        </div>
        <div class="d-flex align-items-center">
          <div class="content">
            {{conversation.last_message || 'Đã gửi 1 tin nhắn'}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="conversation.tags?.length" class="d-flex flex-row align-items-center list-tag">
      <div class="tag d-flex flex-row align-items-center cursor-pointer"  *ngFor="let tag of conversation.tags?.slice(0,2)" (click)="listTagsSelected(conversation)">
        <span class="material-icons icon-size" [ngStyle]="{'color': tag.color}">fiber_manual_record</span>
        <div class="max-line tag-name">{{tag.name}}</div>
      </div>
      <div *ngIf="conversation.tags?.length >= 3" class="tag cursor-pointer" (click)="listTagsSelected(conversation)">
        <div class="tag-name">
          +{{conversation.tags.length - 2}}
        </div>
      </div>
    </div>
    <div class="d-flex e-border-top">
      <div class="col-6 text-center action" (click)="call(conversation)">
        <img src="assets/icons/communications.png" alt="icon" height="10px" class="mr-2">
        <span>Gọi điện</span>
      </div>
      <div class="col-6 text-center e-border-right action" (click)="onConfirmOrder(conversation)">
        <img src="assets/icons/shopping-cart.png" alt="icon" height="10px" class="mr-2">
        <span>Chốt đơn</span>
      </div>
    </div>
  </div>
</div>
