<ng-container *ngIf="loading; else loadDone;">
  <div class="empty">
    <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
  </div>
</ng-container>
<ng-template #loadDone>
  <ng-container *ngIf="(shopList$ | async).length; else noShop">
    <div class="table-responsive">
      <table class="w-100">
        <thead>
        <th>Shop</th>
        <th>Ngày tạo</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        </thead>
        <tbody>
        <tr *ngFor="let shop of (shopList$ | async)">
          <td>
            <div class="d-flex align-items-center cursor-pointer" (click)="shopDetail(shop.id)">
              <img class="avatar" alt="" src="{{shop?.image_url || 'assets/images/placeholder.png'}}">
              <div class="shop-main">
                <div class="text-bold">
                  {{shop?.code}} - {{shop?.name}}
                  <mat-icon class="font-weight-bold">
                    launch
                  </mat-icon>
                </div>
              </div>
            </div>
          </td>
          <td>{{(shop.created_at | date:'dd/MM/yyyy') || '-'}}</td>
          <td>{{shop.phone || '-'}}</td>
          <td>{{shop.email || '-'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noShop>
    <div class="empty">
      Chưa có shop
    </div>
  </ng-template>
</ng-template>



