<template>
  <div class="p-4 d-flex align-items-center" style="height: 100vh">
    <div class="m-auto text-center">
      <div class="login-logo">
        <a href="#"><img src="@/assets/images/logo_itopx.png" width="150px" alt/></a>
      </div>
      <div class="text-center">
        <img src="@/assets/images/img-loading.svg" alt="" width="60px">
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    name: 'error',
    computed: mapState({ message: state => state.errorMessage }),
    mounted() {
      setTimeout(() => {
        window.location.href = process.env.REDIRECT_URL || 'https://id.imgroup.vn?p=itopx';
      }, 2000)
    },
  };
</script>
