<template>
  <div class="perfect-center wrapper">
    <div class="account-box">
      <div class="logo-container">
        <img src="@/assets/images/e_topship.png" width="100px" alt="">
      </div>

      <template v-if="step === 1">
        <div class="account-select">
          <div class="content">
            <div class="instruction-text">Vui lòng chọn tài khoản để liên kết</div>
            <div class="account-list">
              <div v-for="account of availableAccounts" v-bind:key="account.id"
                   class="account-item default-box-shadow"
                   v-on:click="selectAccount(account)">
                <div class="account-logo">
                  <div class="logo-img" v-bind:style="{backgroundImage: 'url(' + (account.image_url || 'https://etop.vn/assets/images/placeholder_2.png') + ')',
                    width: '60px', height: '60px', backgroundRepeat: 'no-repeat',
                    backgroundSize: 'cover', backgroundPosition: 'center'}"></div>
                </div>

                <div class="account-name truncate">{{account.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </template>

      <template v-if="step === 2">
        <div class="grant-prompt">
          <div class="content">
            <div class="partner-logo">
              <img v-bind:src="partner.image_url" alt=""/>
            </div>
            <div class="permission">
              <div>
                <span class="partner-name">{{partner.name}}</span><span> yêu cầu truy cập vào <b>{{selectedAccount.name}}</b>
                  với các quyền sau:</span>
              </div>
              <div class="partner-permission">
                <div>- Tạo đơn hàng</div>
                <div>- Xem thông tin đơn hàng đã tạo</div>
              </div>
              <div>Bạn có muốn cấp quyền truy cập?</div>
            </div>
          </div>
          <div class="action-button">
            <button class="btn btn-md btn-custom rounded" v-on:click="cancel()">
              Không đồng ý
            </button>
            <button class="btn btn-md btn-custom rounded btn-topship" v-on:click="grant()">
              Đồng ý
            </button>
          </div>
        </div>
      </template>

    </div>
  </div>

</template>

<script>
  import { mapActions, mapState } from 'vuex';

  export default {
    name: 'GrantAccess',
    data() {
      return {
        // partner: {id: "1060857012668582736", name: "Mạnh TEST", type: "partner", image_url: "https://doopage.com/assets/uploads/2017/02/Doopage-logo-n-light-1.png", website: "https://example.com"},
        // availableAccounts: JSON.parse('[{"id":"1060564323736406152","external_id":"","name":"Mạnh Lại","type":"shop","access_token":"vx8MuZcCBAQppaXC7ZsqASgudrXRsYgCYv181vIpgkM","expires_in":604800,"image_url":"https://etop.d.etop.vn/upload/img/BY5SP02tDLCNNf0fQzKe.jpg"},{"id":"1061262659650977202","external_id":"","name":"Mạnh Lại 2","type":"shop","access_token":"","expires_in":0,"image_url":"https://etop.d.etop.vn/upload/img/BYEWwyQMBgAdhNajJ60C.jpg"},{"id":"1068801151880347190","external_id":"","name":"Mạnh Lại 3","type":"shop","access_token":"","expires_in":0,"image_url":""}]'),
        selectedAccount: {},
        step: 1
      };
    },
    computed: mapState({
      partner: state => state.partnerInfo,
      availableAccounts: state => state.availableAccounts
    }),
    methods: {
      ...mapActions(['grantAccess']),
      selectAccount(account) {
        this.step = 2;
        this.selectedAccount = account;
      },
      cancel() {
        this.step = 1;
      },
      grant() {
        console.log('GRANT ACCOUNT', this.selectedAccount);
        this.grantAccess(this.selectedAccount.id)
          .then(resp => {
            this.$router.push({ name: 'success' });
          });
      }
    }
  };
</script>

<style scoped lang="scss">
  .wrapper {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    width: calc(100% - 50px);
    padding-top: 50px;
  }

  .default-box-shadow {
    box-shadow: 0px 0px 6px -2px #000000;
  }

  .logo-container {
    position: absolute;
    top: 0;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .instruction-text {
    text-align: center;
    padding: 20px
  }

  .account-box {
    position: relative;
    padding: 50px 0 0 0;
    max-width: 500px;
    min-width: 400px;
    width: 90%;
    border: 2px solid rgba(#000, 0.1);
    border-radius: 5px;
  }

  .account-list {
    margin: auto;
    height: 90%;
    overflow-y: auto;
    max-width: 500px;
    min-width: 300px;
  }

  .account-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px 15px 10px 15px;
    border-radius: 5px;

    &:hover {
      background: rgba(#CACACA, 0.2);
    }
  }

  .account-name {
    color: rgba(#000, 0.5);
    margin-left: 10px;
    font-weight: bold;
    flex: 1;
  }

  .account-logo {
    flex: 0 0 50px;
  }

  .partner-logo {
    display: flex;
    justify-content: center;

    > img {
      width: 150px;
      margin: auto;
    }
  }

  .permission {
    padding: 50px;
    margin: auto;
    min-width: 300px;
  }

  .partner-permission {
    margin: 20px 0 20px 0;
    padding: 0 30px;
  }

  .partner-name {
    font-weight: bold;
  }

  .grant-prompt {
    height: 100%;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
    }

    .action-button {
      border-top: 2px solid rgba(#000, 0.1);
      flex-shrink: 0;
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      padding: 10px;

      .btn {
        flex: 1
      }
    }
  }

  .account-select {
    height: 100%;
    padding: 0 0 10px 0;

    .content {
      height: 100%;
    }
  }

  .btn-custom {
    border: 1px solid rgba(#000, 0.1);
    border-radius: 5px;
    background: #fff;
    margin-right: 10px;
    width: 200px;
  }

  .btn-topship {
    color: #fff;
    background-color: #F1A94D;
  }
</style>
