<template>
  <div class="wrapper-login">
    <div style="margin: auto;">
      <div class="login-logo">
        <a href="#"><img src="@/assets/images/logo_itopx.png" alt></a>
      </div>
      <LoginVerifyForm :loading="loading" :error="errorMessage" @on-goback="goback"
                       @on-submit="submit"></LoginVerifyForm>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .wrapper-login {
    display: flex;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
  }

  .login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;

    img {
      width: 250px;
    }
  }

  .login-logo a {
    color: #444;
  }

</style>

<script>
  // @ is an alias to /src
  import LoginVerifyForm from '@/components/LoginVerifyForm.vue';
  import { mapActions, mapState } from 'vuex';
  import util from '@/helpers/util';

  export default {
    name: 'LoginVerify',
    components: {
      LoginVerifyForm
    },
    beforeCreate() {
      // this.$store.
    },
    computed: mapState({
      loading: state => state.loginVerifyStatusPending,
      shopId: 'shopId',
      redirectUrl: 'redirectUrl',
      availableAccounts: 'availableAccounts',
      accessToken: 'loginRequestToken',
      userInfo: state => {
        const action = state.authAccessActions[0];
        const info = action ? action.meta : {
          full_name: '',
          email: '',
          phone: ''
        };

        return {
          full_name: info.name,
          email: info.email,
          phone: info.phone
        };
      }
    }),
    data() {
      return {
        errorMessage: ''
      };
    },
    methods: {
      ...mapActions(['loginUsingToken', 'grantAccess']),
      goback() {
        this.$router.go(-1);
      },
      submit(data) {
        const code = data.replace(/\s/g, '');
        this.loginUsingToken({ code })
          .then(resp => {
            let storeData = JSON.stringify({
              'auth-data': { isAuthenticated: true, token: resp.access_token, ...resp }
            });
            if (process.env.NODE_ENV == 'production') {
              storeData = util.encodeBase64(storeData);
            }
            localStorage.setItem('buG7rWEgY29uIGfDoA==', storeData);
            return this.$router.push({
              name: 'success',
              query: { shop_id: resp.shop && resp.shop.id }
            });
          })
          .catch(err => {
            console.error(err);
            this.errorMessage = err.message;
          });
      }
    }
  };
</script>
