<template>
  <div class="wrapper-login">
    <div style="margin: auto;">
      <div class="login-logo">
        <a href="#">
          <img src="@/assets/images/logo_itopx.png" alt>
        </a>
      </div>
      <LoginForm :login="username" :loading="loading" @on-submit="next"></LoginForm>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .wrapper-login {
    display: flex;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
  }

  .login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;

    img {
      width: 250px;
    }
  }

  .login-logo a {
    color: #444;
  }
</style>

<script>
  // @ is an alias to /src
  import LoginForm from '@/components/LoginForm.vue';
  import { mapActions, mapState, mapGetters } from 'vuex';
  import * as types from '@/store/mutation-types';

  export default {
    name: 'Login',
    components: {
      LoginForm,
    },
    mounted() {
      this.$store.commit(types.LOGIN_STEP, 1);
      this.$store.watch(state => {
      });
    },
    data() {
      return {
        username: '',
      };
    },
    computed: {
      ...mapState({
        loading: state => state.loginRequestStatusPending,
        authAccessActions: 'authAccessActions',
      }),
    },
    watch: {
      authAccessActions(newVal) {
        this.username = this.getCurrentUsername(this.userInfo());
      },
    },
    methods: {
      ...mapActions(['requestLogin']),
      ...mapGetters(['userInfo']),
      getCurrentUsername(userInfo) {
        if (userInfo) {
          return userInfo.phone || userInfo.email;
        }

        return '';
      },
      next($event) {
        const { username } = $event;
        this.requestLogin({ username })
          .then(resp => {
            this.$router.push({ name: 'verify' });
          })
          .catch(err => {
            this.$toast.error({
              title: `Somethings went wrong`,
              message: err.message,
            });
          });
      },
    },
  };
</script>
