<template>

  <div class="wrapper-login">
    <div style="margin: auto;">
      <div class="login-logo">
        <a href="#"><img src="@/assets/images/etop_TOPSHIP.png" alt/></a>
      </div>
      <RegisterForm
        :loading="loading"
        :editableFields="editableFields"
        :user="userInfo"
        @on-submit="register">
      </RegisterForm>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .wrapper-login {
    background: #33b7d5;
    display: flex;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
  }

  .login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;

    img {
      width: 250px;
    }
  }

  .login-logo a {
    color: #444;
  }
</style>


<script>
  import { mapActions, mapState } from 'vuex';
  import RegisterForm from '@/components/RegisterForm.vue';

  export default {
    components: {
      RegisterForm,
    },
    mounted() {
      const info = this.$route.query;
      if (!info) {
        return;
      }
      this.userInfo = {
        full_name: info.full_name,
        email: info.email,
        phone: info.phone,
      };
    },
    data() {
      return {
        userInfo: {
          full_name: '',
          shop_name: '',
          email: '',
          phone: '',
        },
      };
    },
    computed: {
      ...mapState({
        shopId: 'shopId',
        loading: state => state.registerAccountStatusPending || state.registerShopStatusPending,
      }),
      editableFields() {
        return ['full_name', 'shop_name', 'email', 'phone'];
      },
    },
    methods: {
      ...mapActions(['registerIntergrationAccount', 'registerShop', 'grantAccess']),
      register(data) {
        const { email, phone, full_name, shop_name } = data;
        const promise = !this.shopId ? this.registerIntergrationAccount(data) : Promise.resolve();

        promise.then(() => this.registerShop({
          email,
          phone,
          name: shop_name,
        })
          .then(shopId => this.grantAccess(shopId)))
          .then(() => {
            this.$router.push({ name: 'success' });
          })
          .catch(err => {
            this.$toast.error({
              title: 'Lỗi',
              message: err.message,
            });
          });
      },
    },
  };
</script>
