<template>
<!-- eslint-disable max-len -->
  <div class="wrapper-login">
    <div style="margin: auto;" class="text-center">
      <div class="login-logo text-center">
        <img src="@/assets/images/logo_itopx.png" alt/>
      </div>
      <span class="text-center mr-2" style="font-size: 26px">Xác thực thành công <i class="fa fa-check-circle" style="color: #410258;" aria-hidden="true"></i></span>
      <div class="text-center">
        <img src="@/assets/images/img-loading.svg" alt="" width="60px">
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .wrapper-login {
    display: flex;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
  }

  .login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;

    img {
      width: 250px;
    }
  }

  .login-logo a {
    color: #444;
  }
</style>

<script>
  import { mapState } from 'vuex';
  import util from '@/helpers/util';

  export default {
    computed: {
      ...mapState({
        shopId: 'shopId',
        registeredRedirectUrl: 'redirectUrl',
      }),
      redirectUrl() {
        const query = {};
        if (this.$route.query.shop_id) {
          query.shop_id = this.$route.query.shop_id;
        }
        if (this.registeredRedirectUrl) {
          return util.toQueryUrl(this.registeredRedirectUrl, query);
        }
        return '';
      },
    },
    data() {
      return {
        remainTime: 0,
        redirectIntervalId: -1,
      };
    },
    mounted() {
      const total = 5;
      this.remainTime = total;

      this.redirectIntervalId = setInterval(() => {
        this.remainTime--;
        if (this.remainTime <= 0) {
          this.cancelRedirect();
          if (this.redirectUrl) {
            window.location.href = this.redirectUrl;
          }
        }
      }, 1000);
    },
    methods: {
      cancelRedirect() {
        clearInterval(this.redirectIntervalId);
      },
    },
  };
</script>
