.excess-cash {
  color: var(--danger-color);
  text-align: right;
  margin-top: 5px;
}

.change-method {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.receipt-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  &.single-item {
    padding-top: 0;
    padding-bottom: 0;
    align-items: baseline;
  }
}
