<etop-material-input
  textLabel="Tên sản phẩm (*)" placeholder="Nhập tên sản phẩm"
  appearance="standard" type="input"
  [formControl]="product_name">
</etop-material-input>
<div class="faboshop-product" *ngIf="loading$ | async">
  <div *ngIf="dropDown"  class ="dropdown w-120" >
    <div class = "dropdown-content w-120">
      <div *ngFor="let product of products$ | async"  (click)="showVariant(product)" class ="d-flex flex-row mb-3 dropdown-item cursor-pointer" >
        <div class ="d-flex flex-row mb-3 w-100">
          <img src="{{product.image}}" class="product-img">
          <div>
            <div class ="align-items-center">
              {{product.name}}
            </div>
            <div class ="align-items-center text-primary">
              {{product.code}}
            </div>
          </div>
          <div class="ml-auto">
            <div class="font-weight-light">
              {{product.variants.length}} mẫu mã
            </div>
            <div class="font-weight-bold">
              {{product.price}}đ
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf ="showCreateProduct"  class='create-product text-center text-primary '  (click)="showCreateProductModal()">
      Tạo Nhanh Sản Phẩm <strong>"{{product_name.value}}"</strong>
    </div>
  </div>
</div>
