.dropdown-content {
  max-height: 200px;
  overflow-y:auto;
  top: -5px;
  left: 0;
  z-index: 1000;
  padding: 1rem 0px;
  .dropdown-item {
    border-bottom: 1px solid var(--border-gray-color);
  }
}

.dropdown{
  border-radius: 5px;
  box-shadow: 0 0 4px 0 #95a5a6;
  background: #fff;
}

.create-product{
  cursor:pointer;
  height: 30px;
  line-height: 30px;
}

.product-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #f5f5f5;
}