.action-select {
  position: absolute;
  top: 40px;
  &.only-icon {
    top: 30px;
  }
  &.left-side {
    left: 10px;
  }
  &.right-side {
    right: 0;
  }
  min-width: 200px;
  background: #fff;
  z-index: 1000;
  border: 1px solid #eee;
  box-shadow: 0 0 10px 3px rgba(0,0,0,.07);
  border-radius: 7px;
  .action-option {
    border-bottom: 1px solid #eee;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    &.unavailable {
      background: #f0f0f0;
      cursor: not-allowed;
      opacity: .7;
    }
    &:first-child {
      border-radius: 7px 7px 0 0;
    }
    &:last-child {
      border-radius: 0 0 7px 7px;
    }
    &:hover {
      background: #fafafa;
    }
  }
}

.menu {
  height: 20px;
  cursor: pointer;
}
