<ng-container *eRoles="rolesOfActionsArray">
  <ng-container *ePermissions="permissionsOfActionsArray">
    <div class="position-relative" *ngIf="!allHidden && dropdownActions?.length">
      <span *ngIf="useOnlyIcon" (click)="toggleDropdown()">
        <img src="assets/images/icon_more_option.png" alt="menu" class="ml-2 menu">
      </span>
      <button class="btn btn-outline btn-default" *ngIf="!useOnlyIcon" (click)="toggleDropdown()">
        Tuỳ chọn <mat-icon>expand_more</mat-icon>
      </button>
      <div
        *ngIf="showDropdown" class="action-select" [class.only-icon]="useOnlyIcon"
        [class.left-side]="!rightSide" [class.right-side]="rightSide">
        <ng-container *ngFor="let action of dropdownActions">
          <ng-container *ePermissions="action?.permissions">
            <i *ngIf="action?.icon" [ngClass]="action?.icon"></i>
            <div
              class="action-option {{action?.cssClass}}" (click)="handleClick($event, action)"
              [class.unavailable]="action?.disabled" [hidden]="action?.hidden"
              [disableTooltip]="!action?.tooltips" [ngbTooltip]="action?.tooltips" placement="bottom">
              {{action?.title}}
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
