<ng-container [ngSwitch]="active_tab">
  <ng-container *ngSwitchCase="'detail_info'">
    <div class="order-info">
      <shop-order-info [order]="order"></shop-order-info>
    </div>
    <div class="line-info">
      <shop-line-info [order]="order"></shop-line-info>
    </div>
    <ng-container *ePermissions="['shop/fulfillment:view']">
      <div *ngIf="fulfillment" class="shipping-info">
        <shop-shipping-info [fulfillment]="fulfillment" [order]="order"></shop-shipping-info>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'history'">
    <shop-fulfillment-histories [order]="order" [ffm]="order?.activeFulfillment"></shop-fulfillment-histories>
  </ng-container>
  <ng-container *ngSwitchCase="'inventory'">
    <div class="inventory-info">
      <shop-order-inventory [order]="order"></shop-order-inventory>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'receipt'">
    <div class="payment-info">
      <shop-payment-info [order]="order"></shop-payment-info>
    </div>
  </ng-container>
</ng-container>
