.template {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: .175em 1em;
  margin-right: 2rem;
  max-width: 40%;
  background: rgba(0, 0, 0, 0.03);
}

etop-material-input::ng-deep {
  textarea {
    padding-left: 0 !important;
  }
}