<ng-container [formGroup]="messageTemplate">
  <div class="d-flex justify-content-between mb-4 align-items-center text-center">
    <h4 class="font-bold w-100">{{this.data ? 'Chỉnh sửa' : 'Tạo'}} mẫu trả lời nhanh</h4>
    <mat-icon mat-dialog-close style="opacity: 0.7">close</mat-icon>
  </div>
  <div class="pb-3">
    <etop-material-input
      type="input" appearance="standard" textLabel="Tiêu đề" placeholder="Tiêu đề"
      formControlName="short_code">
    </etop-material-input>
  </div>
  <div class="pt-4 pb-3">
    <etop-material-input #templateInput
      type="text-area" appearance="standard" minRow="1" maxRow="10" textLabel="Nội dung" placeholder="Nội dung"
      formControlName="template">
    </etop-material-input>
  </div>
  <div class="mt-3 mb-3">
    <label>Sử dụng thêm giá các giá trị sau để cá nhân hoá nội dung mẫu trả lời.</label>
    <div class="d-flex flex-row mt-3 mb-3">
      <div class="template d-flex align-items-center cursor-pointer" *ngFor="let messageTemplateVariable of (messageTemplateVariables$ | async)">
        <div (click)="addTemplate(messageTemplateVariable)">
          {{messageTemplateVariable.label}}
        </div>
      </div>
    </div>
  </div>
  <mat-dialog-actions class="align-items-center mt-1 border-top">
    <div class="ml-auto">
      <button class="btn btn-default btn-outline mr-3 ml-auto" (click)="close()">Đóng</button>
      <button class="btn btn-primary" (click)="confirm()">Xác nhận</button>
    </div>
  </mat-dialog-actions>
</ng-container>
