<div class="page-content pb-0">
  <div class="page-wrapper">
    <etop-table
      #subscriptionProductTable
      [items]="(subscriptionPlansList$ | async)"
      [show_paging]="false"
    >
      <ng-template #header let-liteMode="liteMode">
        <div class="col" style="min-width: 15rem;">
          <span class="table-header-text">Mã</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Tên</span>
        </div>
        <div class="col min-width-25rem">
          <span class="table-header-text">Mô tả</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Thời hạn</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Giá</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <div class="col"  *ngIf="!liteMode">
          <span class="table-header-text">Ngày tạo</span>
        </div>
        <div class="col"  *ngIf="!liteMode">
          <span class="table-header-text">Product</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <img class="blank-img" src="assets/images/admin/icon_user_shop.png" alt="empty list" />
          <div class="info">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-subscriptionPlan="item" let-liteMode="liteMode">
        <div
          class="row table-row" admin-subscription-plan-row
          [subscriptionPlan]="subscriptionPlan" >
        </div>
      </ng-template>
    </etop-table>

  </div>
</div>
