<div class="popover-wrapper">
    <div class="popover-header">
      <div class="title">Chọn mẫu mã</div>
      <ion-icon class="close-button" name="close-outline" (click)="dismiss()"></ion-icon>
    </div>
    <div class="popover-body">
      <div class="product-info">
        <div class="ion-flex ion-aligns-items-center">
          <img [src]="product.image" alt="product-img" class="product-img">
          <div>
            <ion-text style="font-size: 0.9rem">Sản phẩm</ion-text>
            <div class="font-bold">{{product.name}}</div>
          </div>
        </div>
      </div>
      <div class="variant-item ion-flex ion-align-items-center ion-justify-content-between"
        *ngFor="let variant of product.variants"
        (click)="variantSelected(variant)">
        <div>
          <div>{{joinAttrs(variant.attributes)}}</div>
          <ion-text color="primary">{{variant.code}}</ion-text>
        </div>
        <ion-text class="font-bold">{{variant.retail_price | vnd}}đ</ion-text>
        
      </div>
      <!-- <ion-list>
        <ion-item *ngFor="let variant of product.variants" (click)="variantSelected(variant)">
          <ion-label>{{variant.product_name}}</ion-label>
          <ion-label>{{variant.list_price}}</ion-label>
        </ion-item>
      </ion-list> -->
    </div>
  
  