<div class="col wd-130 d-flex">
  <div class="align-items-center">
    <div class="bagde etop-badge text-primary font-weight-bold">{{item.order.code}}</div>
    <div class="created font-10">{{item.order.created_at | date: 'dd/MM/yyyy HH:mm'}}</div>
  </div>
</div>
<div class="col wd-150 d-flex">
  <div class="align-items-center">
    <div class="customer">{{item.order.customer.full_name}}</div>
    <div class="font-10 font-weight-bold">{{item.order.shop_name | uppercase}}</div>
  </div>
</div>
<div class="col d-flex align-items-center">
  <span class="product-img">
    <img src="{{item.order.lines[0].image_url ||'assets/images/placeholder.png'}}" alt="product-image">
  </span>
  <span class="ml-3">{{item.order.lines[0].product_name}}</span>
</div>

<div class="col font-weight-bold wd-120 d-flex align-items-center flex-row-reverse">
    {{item.order.total_amount | vnd}}đ
</div>
<div class="col wd-120 d-flex align-items-center">
  <div class="bagde etop-badge {{item.type == 'indirect' ? 'text-tertiary' : 'text-secondary' }} font-weight-bold w-100 text-center">
    {{typeDisplay(item.type)}}
  </div>
</div>
<div class="col wd-150 d-flex align-items-center">
    <div *ngIf="item.from_seller; else NoSeller">
      <div class="font-weight-bold">{{item.from_seller.name}}</div>
      <div class="font-10">{{item.from_seller.phone}}</div>
    </div>
    <ng-template #NoSeller>
      <i class="fa fa-minus"></i>
    </ng-template>
</div>
<div class="col text-right wd-100 d-flex align-items-center">
  <div class=" w-100 align-items-center flex-row-reverse">
    <div class="discount font-weight-bold">{{item.value | vnd}}đ</div>
  </div>

</div>
<div class="col pr-0 text-left wd-130 d-flex align-items-center">
  <div class="status {{item.order.payment_status}}">
    <i aria-hidden="true" style="font-size: 12px;" class="fa fa-circle mr-2"></i>
    {{statusDisplay(item.order.payment_status)}}
  </div>
</div>
