:host {
  margin-bottom: 20px
}

.product-img {
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  height: 50px;
  width: 50px;
  min-width: 50px;
  display: inline-block;

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
}

.status {
  &.N {
    color: var(--default-color);

    i {
      color: var(--default-color);
    }
  }


  &.P {
    color: var(--secondary-color);

    i {
      color: var(--secondary-color);
    }
  }

}
