<div class="modal-header">
  <h5 class="modal-title">{{getTitle()}}</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container [formGroup]="customerAddressForm">
    <div class="form-group">
      <etop-material-input
        type="input" placeholder="Nhập tên khách hàng" textLabel="Tên khách hàng (*)"
        formControlName="full_name">
      </etop-material-input>
    </div>
    <div class="form-group">
      <etop-material-input
        type="input" placeholder="Nhập số điện thoại khách hàng" textLabel="Số điện thoại khách hàng (*)"
        formControlName="phone">
      </etop-material-input>
    </div>
    <div class="form-group">
      <etop-material-input-autocomplete
        placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành (*)" [options]="provincesList$ | async"
        [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
        formControlName="province_code">
      </etop-material-input-autocomplete>
    </div>
    <div class="form-group">
      <etop-material-input-autocomplete
        placeholder="Chọn quận huyện" textLabel="Quận huyện (*)" [options]="(districtsList$ | async) || []"
        [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
        formControlName="district_code">
      </etop-material-input-autocomplete>
    </div>
    <div class="form-group">
      <etop-material-input-autocomplete
        placeholder="Chọn phường xã" textLabel="Phường xã (*)" [options]="(wardsList$ | async) || []"
        [displayMap]="displayLocationMap" [valueMap]="valueLocationMap"
        formControlName="ward_code">
      </etop-material-input-autocomplete>
    </div>
    <div class="form-group">
      <etop-material-input
        type="input" placeholder="Nhập địa chỉ cụ thể" textLabel="Địa chỉ cụ thể (*)"
        formControlName="address1">
      </etop-material-input>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
  <button class="btn text-white" [ngClass]="confirmBtnClass" (click)="confirm()">
    {{title == 'create' ? 'Thêm mới' : 'Lưu'}}
  </button>
</div>
