:host {
  width: 100%;
}

.has-border {
  border: 1px solid #ced4da !important;
  border-radius: 5px;
}

.etop-filter {
  background-color: #fff;
  font-size: 12px;
  border: none;

  .prefix {
    cursor: pointer;
    width: 32px;
    display: flex;
    position: relative;
    border-right: 1px solid #e5e5e5;

    .current-prefix {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .prefix-dropdown {
      position: absolute;
      z-index: 4;
      top: 100%;
      width: 50px;
      background-color: #fff;
      text-align: center;
      border-radius: 0.25rem;
      border: 1px solid #ced4da;

      .prefix-item {
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover {
          background-color: #ced4da;
        }
      }
    }

    ~.input-group {
      margin-left: 1px;

      .showInput {
        border: none;
      }
    }
  }

  .input-group {
    >.form-control+.form-control {
      margin-left: 0;
      border: none;
    }

    flex: 1;
    border: none;
    width: unset;

    &.invalid {
      border-bottom: 1px solid var(--danger-color);
      box-shadow: none;
      border-radius: 0;
      .form-control {
        color: var(--danger-color) !important;
      }
      &:focus {
        box-shadow: none;
      }
      input {
        border-top: none;
        border-bottom: none;
        border-left: none;
      }
      .input-group-text {
        border-right: none;
        border-bottom: none;
        border-top: none;
      }
    }

    span {
      background: none;
    }

    input {
      border: none !important;
      text-align: left;
    }

    .input-group-text {
      padding: 0 8px;
      cursor: pointer;
      transition: background linear 0.2s;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;

      &:hover {
        background: #fafafa;
      }
    }

    .showInput {
      border-radius: 5px;
      font-size: 12px;
    }

    .dropdown-menu {
      min-width: 100%;
      margin-top: 2px;
    }

    .angle-down::after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      margin-left: 0;
    }

    .list-option {
      font-size: 12px;
      max-height: 160px;
      height: auto;
      overflow: scroll;
      overflow-x: hidden;
      list-style: none;
      padding: 0;
      margin: 0;
      border: none !important;
      box-shadow: 0 0 4px 0 #95a5a6;

      li {
        padding: 6px 15px;
        cursor: pointer;

        &:hover {
          background: rgba(0, 0, 0, .05);
        }

        &.selected {
          color: #33b7d5;
        }
      }

      .dropdown-divider {
        padding: 0;
        margin: 0;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &.align-right {
      .showInput {
        justify-content: flex-end;
      }

      input,
      li {
        text-align: right;
      }
    }

    &.no-border {

      .showInput,
      input {
        border: none;
      }
    }
  }
}

input {
  font-size: 12px;
}

.search-input:focus {
  +.dropdown-menu {
    display: block;
  }
}

.error {
  border: 1px solid #dc3545;
}

input:disabled {
  cursor: not-allowed;
}

.is-psx {

  input,
  select,
  .showInput {
    font-size: 12px !important;
  }
}

@media (max-width: 767px) {

  input,
  select,
  .showInput {
    height: unset !important;
  }
}
