<div *ngIf="!textarea" style="position: relative;" class="input-group etop-filter d-flex">
  <div *ngIf="prefixes.length" class="prefix">
    <div (click)="showPrefix()" class="current-prefix">{{prefix}}</div>
    <div *ngIf="showPrefixDropdown" class="prefix-dropdown">
      <div *ngFor="let pf of prefixes" (click)="selectPrefix(pf)" class="prefix-item">
        {{pf}}
      </div>
    </div>
  </div>
  <div class="input-group"
    [ngClass]="{'no-border': !hasBorder, 'align-right': align === 'right', 'invalid': state == 1}">
    <input #inputSearch type="number" min="50"
      class="form-control {{inputClass}} {{classInner}} search-input font-weight-bold"
      [class.d-none]="!showInput" [class.angle-down]="showAngle" [disabled]="disabled"
      [(ngModel)]="_keyword" (click)="onInputClick()" (input)="filter()"
      (keydown.Tab)="onKeyTab($event)" (keydown.enter)="onKeyTab($event)" (keypress)="numberOnly($event)">
    <ng-container>
      <div class="showInput form-control {{inputClass}} font-weight-bold" *ngIf="!showInput && state > 0; else notValue" (click)="showEdit()"
        [hidden]="showInput" [ngClass]="classInner">
        <ng-container [ngSwitch]="state">
          <div *ngSwitchCase="1">{{_keyword}}{{unit}}</div>
          <div *ngSwitchCase="2">{{(_value || _keyword) | vnd}}{{unit}}</div>
          <div *ngSwitchCase="3">{{_value | vnd}}{{unit}}</div>
          <div *ngSwitchCase="4">{{(_value || _keyword) | vnd}}{{unit}}</div>
        </ng-container>
      </div>
      <ng-template #notValue>
        <div class="showInput" (click)="showEdit()" [hidden]="showInput" [ngClass]="classInner">
          {{placeholder}}
        </div>
      </ng-template>
    </ng-container>
    <div *ngIf="showAngle" class="input-group-append">
      <span (click)="toggleDropdown()" class="input-group-text bg-none angle-down" id="basic-addon2"></span>
    </div>
    <div [class.show]="isShowMenu" class="dropdown-menu w-100 border-0 p-0">
      <ul *ngIf="!addOptionOnBlur && (state == 2 || state == 3)" class="form-control list-option">
        <li (click)="onAddOption(_keyword)">
          <a class="d-flex justify-content-between align-items-center">
            <span>Thêm "{{_keyword | vnd}}{{unit}}"</span> <i class="fa fa-plus"></i>
          </a>
        </li>
        <li class="dropdown-divider"></li>
      </ul>
      <ul [class.hidden]="!filterResult?.length" class="form-control list-option">
        <li [class.selected]="option.id == _value" *ngFor="let option of filterResult" (click)="selectOption(option)"
          [ngClass]="classInner">
          {{option.value | vnd}}{{unit}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="textarea" class="etop-filter d-flex">
  <div class="input-group">
    <textarea #inputSearch class="form-control {{inputClass}} font-12" [(ngModel)]="_keyword" placeholder="{{placeholder}}"
      (blur)="componentBlur(true)" (click)="onInputClick()" (input)="filter(true)">
    </textarea>
    <div [class.show]="isShowMenu && filterResult?.length > 0" class="dropdown-menu w-100 border-0 p-0">
      <ul [class.hidden]="filterResult?.length <= 0" class="form-control list-option">
        <ng-container *ngFor="let option of filterResult">
          <li *ngIf="option.value != ''" [class.selected]="option.id == _value" (click)="selectOption(option)">
            <span style="white-space: pre-line;">{{option.value}}</span>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
