.confirm-order {
  background-color: #f5f5f5;
  overflow-y: auto;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.confirm-order-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  background: #fff;
  height: 54px;
  padding: 1rem;
  .fa-chevron-left {
    font-size: 1.25rem;
  }
  .confirm-order-title {
    font-weight: 700;
    font-size: 1.25rem;
  }
}

faboshop-customer-info-order,
faboshop-products-order,
faboshop-delivery-info {
  padding: 1rem;
  background: #fff;
  margin-top: 8px;
}

faboshop-customer-info-order {
  margin-top: 0;
}

.btn-confirm {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
}

.shipping-from{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-right: 10px;
}
