:host {
  background: transparent;
}
.shop-item {
  background: #ffffff;
  border-bottom: 1px solid #f5f5f5;
  min-height: 56px;
  padding: 8px 16px;
}

img.logo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid #eee;
  object-fit: cover;
  margin-right: 1rem;
}

.logo.active {
  border: 2px solid var(--ion-color-primary);
}

ion-button {
  font-size: 0.8rem;
  border-radius: 5px !important;
  height: 1.5rem;
  margin: 0;
}

ion-segment {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: white;

  ion-label {
    text-transform: none;
  }
}

.box-detail {
  border-top: 8px solid #f5f5f5;
}

.action {
  padding-top: .25rem;
  padding-left: 4rem;

  ion-button {
    font-size: 0.8rem;
    height: 1.6rem;
    min-width: 90px;
  }
}