<ion-header>
  <ion-toolbar>
    <ion-title>Danh sách cửa hàng</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="newShop()">
      <ion-icon name="add" mode="md"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
  <ion-segment mode="md" color="primary" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment">
    <ion-segment-button value="owner">
      <ion-label>Shop của bạn</ion-label>
    </ion-segment-button>
    <ion-segment-button value="invite">
      <ion-label>Shop bạn được mời</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ng-container *ngIf="segment == 'owner'">
    <div class="shop-list">

      <ng-container *ngFor="let account of accounts; index as i">
        <div class="shop-item ion-flex ion-align-items-center" *ngIf="isOwner(account)">
          <img class="logo {{currentShop?.id == account?.id ? 'active' : ''}}"
               [src]="account?.image_url || 'assets/images/placeholder_2.png'" alt="">
          <div class="info w-100 {{currentShop?.id == account?.id ? 'text-primary': ''}}">
            <div class="font-bold normal-font">{{account?.shop?.code}} - {{account?.shop?.name}}</div>
            <div class="small-font font-bold">{{rolesDisplay(account?.user_account?.permission?.roles)}} <span
              *ngIf="currentShop?.id == account?.id" style="float: right">Bạn đang ở đây</span></div>
          </div>
          <div class="contact normal-font font-bold ion-align-items-center ion-flex">
            <ion-button (click)="switchShop($event, account, i)" *ngIf="currentShop?.id != account?.id">
              Truy cập
            </ion-button>
          </div>
        </div>
      </ng-container>
      <div class="ion-flex m-auto ion-align-items-center ion-padding-bottom" *ngIf="myStore.length == 0">
        <div class="ion-text-center w-100" *ngIf="loading">
          <div class="items-list-row" style="padding: 0" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
            <etop-ion-skeleton></etop-ion-skeleton>
          </div>
        </div>
        <span class="ion-padding-horizontal w-100 ion-text-center ion-padding-top" *ngIf="!loading">
          Bạn chưa có cửa hàng nào.
        </span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="segment == 'invite'">
    <div class="shop-list">
      <div class="ion-padding-horizontal ion-padding-top font-bold">Cửa hàng bạn tham gia quản trị</div>
      <ng-container *ngFor="let account of accounts; index as i">
        <div class="shop-item ion-flex ion-align-items-center" *ngIf="!isOwner(account)">
          <img class="logo {{currentShop?.id == account?.id ? 'active' : ''}}"
               [src]="account?.image_url || 'assets/images/placeholder_2.png'" alt="">
          <div class="info w-100 {{currentShop?.id == account?.id ? 'text-primary': ''}}">
            <div class="font-bold normal-font">{{account?.shop?.code}} - {{account?.shop?.name}}</div>
            <div class="small-font font-bold">{{rolesDisplay(account?.user_account?.permission?.roles)}} <span
              *ngIf="currentShop?.id == account?.id" style="float: right">Bạn đang ở đây</span></div>
          </div>
          <div class="contact normal-font font-bold ion-align-items-center ion-flex">
            <ion-button (click)="switchShop($event, account, i)" *ngIf="currentShop?.id != account?.id">Truy cập
            </ion-button>
          </div>
        </div>
      </ng-container>
      <div class="ion-flex m-auto ion-align-items-center ion-padding-bottom" *ngIf="listInvite.length == 0">
        <span class="ion-padding-horizontal w-100">
          Bạn chưa tham gia quản trị cửa hàng nào.
        </span>
      </div>
    </div>
    <div class="shop-list box-detail">
      <div class="ion-padding-horizontal ion-padding-top font-bold">Lời mời tham gia quản trị</div>
      <ng-container *ngFor="let invitation of userInvitations; index as i">
        <div class="shop-item">
          <div class="ion-flex ion-align-items-center">
            <img class="logo" [src]="invitation?.shop?.image_url || 'assets/images/placeholder_2.png'" alt="">
            <div class="w-100">
              <strong style="font-size: 1.2rem">{{invitation?.shop?.code}} - {{invitation?.shop?.name}}</strong>
              <div class="info w-100">
                {{invitation?.roles_display}}
              </div>
            </div>

          </div>
          <div class="action">
            <ion-button color="danger" fill="outline" (click)="reject(invitation)">Từ chối
            </ion-button>
            <ion-button style="margin-left: 1rem" color="success" (click)="acceptInvitation(invitation)">Chấp nhận
            </ion-button>
          </div>
        </div>
      </ng-container>
      <div class="ion-flex m-auto ion-align-items-center" *ngIf="userInvitations.length == 0">
        <span class="ion-padding-horizontal w-100">
          Bạn chưa có lời mời nào tham gia quản trị cửa hàng.
        </span>
      </div>
    </div>
  </ng-container>

</ion-content>
