<div class="col align-self-center font-weight-bold">{{invitation?.full_name}}</div>
<div class="col align-self-center" style="color: var(--default-color);">{{invitation?.email || invitation?.phone}}</div>
<div class="col align-self-center">{{roleDisplay}}</div>
<div class="col align-self-center"><a [href]="invitation?.invitation_url" target="_blank">{{invitation?.invitation_url}}</a></div>
<div class="col align-self-center">
  <shared-dropdown-actions
    *ePermissions="['relationship/invitation:delete']" [dropdownActions]="dropdownActions" [rightSide]="true">
  </shared-dropdown-actions>
</div>

