<div class='invitation-row'>
  <div>Bạn được mời tham gia quản trị cửa hàng <strong style="font-size: 1.15rem;">{{invitation?.shop?.name}}</strong></div>
  <div>Vai trò: <strong style="font-size: 1.15rem;">{{invitation?.roles_display}}</strong></div>
  <div class='buttons mt-2'>
    <button class='btn btn-outline btn-primary w-50 mr-2' [matMenuTriggerFor]="moreOption">Thao tác</button>
    <mat-menu #moreOption="matMenu">
      <button mat-menu-item class="text-danger" (click)='rejectInvitation()' [disabled]="rejecting || accepting">
        Từ chối
      </button>
    </mat-menu>
    <button class="btn btn-primary w-50" [disabled]="rejecting || accepting" (click)="acceptInvitation()">
      Chấp nhận
    </button>
  </div>
</div>
