.product-item {
  height: 60px;
  border: 1px solid transparent;
  &.active {
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(204, 204, 204, 0.5);
    border: 1px solid var(--border-gray-color);
  }

  .logo-upload {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    .upload-loading,
    .over-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      display: none;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      .over-logo {
        display: flex;
      }
    }

    &.loading {
      .upload-loading {
        display: flex;
      }

      .over-logo {
        display: none;
      }
    }
  }

  .line-input-name {
    position: relative;
    width: 100%;
    max-width: 360px;

    .input-name {
      width: 100%;
      height: 18px;
      margin: 2px 0;
      padding: 0;
      border: none;
      border-bottom: 1px solid var(--primary-color);
      background: transparent;
      outline: none;
      height: auto;

      &.error {
        border-bottom: none;
        box-shadow: 0 0 1px 2px var(--danger-color), 0 1px 0 0 rgba(0, 0, 0, 0.12);
        border-radius: 2px;
      }
    }

    .variant-btn {
      color: var(--primary-color);
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;

      .remove-attribute {
        color: var(--danger-color);

        &:hover {
          font-size: 14px;
        }
      }
    }

    .attribute-table {
      display: flex;
      position: absolute;
      top: 25px;
      left: calc(100% - 70px);
      z-index: 10;
      background-color: white;
      width: 270px;
      border-radius: 5px;
      .input-group {
        border-radius: 5px;
        border: 1px solid var(--border-gray-color);
        .form-control {
          margin-left: 0 !important;
        }
      }
      .attribute-name {
        width: 35%;
        flex: 0 0 35%;
        border: none;
        border-right: 1px solid var(--border-gray-color);
      }
      select {
        font-size: 12px;
        background-position-y: 2px !important;
        &:focus {
          box-shadow: none;
        }
      }

      input {
        font-size: 12px;
        border: none;
        text-align: left;
        &:focus {
          border-color: var(--border-gray-color);
        }
      }
      .actions {
        display: flex;
        border-left: 1px solid var(--border-gray-color);
        .fa {
          display: flex;
          align-items: center;
          cursor: pointer;
          &:hover {
            background-color: var(--border-gray-color);
          }
        }
        .add {
          color: var(--primary-color);
        }
      }
    }
  }

  etop-currency-input::ng-deep {
    .position-relative {
      height: 18px;
      margin: 2px 0;
      input,
      .showInput {
        color: black !important;
        border: none;
        background: transparent;
        border-bottom: 1px solid var(--primary-color);
        border-radius: 0;
        padding: 0;
        height: auto;

        &.placeholder {
          color: rgba(0, 0, 0, 0.25) !important;
        }
      }

      &.error {
        border-radius: 2px;
        box-shadow: 0 0 1px 2px var(--danger-color), 0 1px 0 0 rgba(0, 0, 0, 0.12);

        input,
        .showInput {
          border-bottom: none;
        }
      }
    }
  }
}
