<ion-header>
  <ion-toolbar>
    <ion-title>Tài khoản</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button text=""></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content class="ion-flex">
  <div class="ion-padding box">
    <ion-grid>
      <ion-row class="ion-align-self-center">
        <ion-col size="3">
          <ion-avatar class="ion-margin-end">
            <img style="border: 1px solid #eee;" [src]="account.image_url || 'assets/images/placeholder_2.png'">
          </ion-avatar>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-label>
            <h2 style="margin: 0;">{{user?.full_name}}</h2>
            <p>{{account?.name}}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="list-item box ion-margin-top">
    <ng-container *ngFor="let item of listItems">
      <ng-container *ePermissions="item?.permissions">
        <div class="item ion-flex ion-align-items-center" (click)="page(item.link)">
          <ion-icon *ngIf="item.icon" [color]="item?.color" [name]="item.icon" class="item-icon"></ion-icon>
          <div class="icon-text" *ngIf="item.icon_img">
            <img [src]="item.icon_img" alt="">
          </div>
          <ion-text>{{item.title}}</ion-text>
          <ion-icon class="ml-auto ion-align-self-center" name="chevron-forward-outline"></ion-icon>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
