<ng-container >
  <div class=" modal-header">
    <div class="modal-title w-100 text-center">Khai báo thuộc tính</div>
    <button
      type="button"
      class="close"
      (click)="closeModal()"
      aria-label="Close"
    >
      <span aria-hidden="true" class="text-large">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div
      *ngFor="let attr of addAttrForm.controls; let i = index"
      class="row pt-2 mr-0 d-flex align-items-center"
    >
      <ng-container [formGroup]="attr">
        <div class="col-3">
          <etop-material-input
            type="input"
            textLabel="Tên thuộc tính"
            placeholder="Tên thuộc tính"
            name="attr-name-{{ i }}"
            formControlName="name"
          ></etop-material-input>
        </div>
        <div class="col-7 pl-0">
          <etop-material-tag-input
            [placeholder]="'Giá trị thuộc tính  (Enter để ngăn cách)'"
            label="Giá trị thuộc tính (Enter để ngăn cách)"
            name="Aupdate-value-attr-{{ i }}"
            class="input-attr"
            formControlName="values"
          >
          </etop-material-tag-input>
        </div>
        <div class="col text-center">
          <div
            class="btn btn-outline btn-danger justify-content-center cursor-pointer"
            style="font-size: 12px; height: 35px;"
            (click)="removeAttribute(i)"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="attributeLength < 1" style="font-size: 12px;">
      Sản phẩm chưa có thuộc tính
    </div>
    <div class="my-2 mt-3" *ngIf="attributeLength < 3">
      <button class="btn btn-outline btn-primary" (click)="addAttribute()">
        Thêm thuộc tính
      </button>
    </div>

    <div class="mt-3">
      Các giá trị thuộc tính này sẽ được dùng để tổ hợp giúp bạn danh sách phiên
      bản có thể có. Bạn có thể bỏ chọn các mẫu mã không cần thiết ở bước
      sau.
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline btn-default" (click)="cancel()">Đóng</button>
    <button class="btn btn-primary" (click)="submit()">
      <i class="fa fa-spin fa-circle-o-notch text-white mr-2" *ngIf="addingAttr"></i>
      Tiếp tục
    </button>
  </div>
</ng-container>
