thead {
  background-color: var(--light);
}
th {
  font-weight: 400;
  padding: 7px 15px;
  border-bottom: 1px solid var(--border-gray-color);
  border-top: 1px solid var(--border-gray-color);
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
}
