input::placeholder {
  color: #bbb;
}

.wrapper-login {
  background: #33b7d5;
  display: flex;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

.loading-box {
  margin: auto;

  > .loading-container {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: whitesmoke;
  }
}

.login-box {
  width: 400px;
  margin: auto;
}

.login-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  img {
    width: 100px;
  }
}

.login-box-body {
  background: #fff;
  padding: 20px;
  color: #666;
  box-shadow: 0px 0px 24px -6px rgba(92, 88, 92, 0.65);
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.form-group {
  margin-bottom: 15px;
}

.has-feedback {
  position: relative;
}

.form-group .has-feedback {
  padding-right: 42.5px;
}

.fom-group input {
  padding-left: 5px;
  height: 100%;
}

.forgot-password {
  float: right;
  margin: 10px 0;
  font-weight: 250;
  display: block;
  cursor: pointer;
}

.modal-footer-forgot {
  padding-left: 17px;
  margin-top: -1rem;
}

.modal-header h2 {
  padding-right: 100px;
}

.modal-footer-forgot input {
  margin-top: -1rem;
}

.btn-signup {
  color: #33b7d5;
  margin: auto 0;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.btn-login {
  min-width: 80px;
  font-weight: 500;
}

button.close {
  font-size: 24px !important;
}

@media (max-width: 600px) {
  .login-box {
    max-width: 300px;
    margin: 0 auto;
  }
}
