.header-detail {
  border-bottom: 1px solid var(--border-gray-color);
  height: 60px;
  .title {
    font-size: 1.3rem;
    &::ng-deep * {
      font-size: 1.3rem;
    }
  }
}

.tabs-container {
  display: flex;
  height: 60px;
  margin-left: 15px;
}

.tab {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.65rem;
  border-left: 1px solid var(--border-gray-color);
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  color: var(--dark-color);
  cursor: pointer;
  &.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
  }
  &:last-child {
    border-right: 1px solid var(--border-gray-color);
  }
}

.total {
  margin-top: 0;
}

mat-radio-button {
  margin-right: 2rem;
  &:last-child {
    margin-right: 0;
  }
}

mat-radio-button::ng-deep {
  .mat-radio-label-content {
    font-size: .8rem!important;
  }
}
mat-chip {
  font-size: .8rem!important;
}

mat-chip-list::ng-deep {
  .mat-standard-chip {
    margin: 0 .2rem!important;
    padding: 1rem 1rem!important;
    cursor: pointer;
    font-size: 0.8rem !important;
  }
  height: 4rem;
}

etop-filter::ng-deep {
  width: 100%;
  .wrapper-filter {
    border: none !important;
    background: none !important;
  }

  .col-2:last-child {
    max-width: 40%;
  }
}
