<div class="total">
  <div class="total-section justify-content-between" *ngIf="(subjectLabels$ | async)?.length && !isInAllView">
    <div class="total-item text-left d-flex align-items-center">
      <mat-radio-group color="primary" class="d-flex mr-4" [(ngModel)]="subjectLabelId" (ngModelChange)="filterTicketsBySubjectLabels()">
        <mat-radio-button [value]="null" disableRipple>
          Tất cả
        </mat-radio-button>
        <mat-radio-button *ngFor="let label of subjectLabels$ | async" [value]="label?.id" disableRipple>
          {{label?.name}}
        </mat-radio-button>
      </mat-radio-group>
      <span *ngIf="(detailLabels$ | async)?.length"> | </span>
      <mat-chip-list class="d-flex ml-4">
        <mat-chip
          *ngFor="let label of detailLabels$ | async" color="primary" disableRipple
          (click)="filterTicketsByDetailLabels(label.id)" [selected]="label?.id == detailLabelId">
          {{label?.name}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="total-item d-flex align-items-center cursor-pointer" (click)="toggleFilter()">
      Lọc và tìm kiếm
      <mat-icon *ngIf="!showFilterBar">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="showFilterBar">keyboard_arrow_up</mat-icon>
    </div>
  </div>
  <div class="total-section left-aligned" [class.d-none]="!showFilterBar && (subjectLabels$ | async)?.length && !isInAllView">
    <div class="total-item w-100 d-flex align-items-center">
      <etop-material-nofilter-input-autocomplete
        style="width: 20%;"
        placeholder="Tên hoặc mã shop" textLabel="Tên hoặc mã shop"
        [appearance]="'standard'"
        [options]="shops" [displayMap]="shopDisplayMap" [valueMap]="shopValueMap"
        (searching)="onShopSearching($event)"
        [(ngModel)]="shopId" (ngModelChange)="onShopSelect()">
      </etop-material-nofilter-input-autocomplete>
      <etop-filter
        [filters]="filters"
        (filterChanged)="filter($event)">
      </etop-filter>
    </div>
  </div>
</div>
<div class="page-container">
  <div class="page-content pb-0">
    <div class="page-wrapper">
      <etop-table
        #ticketTable
        [items]="ticketsList$ | async" width="20%"
        [show_paging]="(ticketsList$ | async)?.length && showPaging"
        (requestNewPage)="loadPage($event)">
        <ng-template #header let-liteMode="liteMode">
          <div class="col" style="min-width: 20rem;">
            <span class="table-header-text">Ticket</span>
          </div>
          <div class="col min-width-25rem" *ngIf="!liteMode">
            <span class="table-header-text">Shop</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Nội dung</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Phân công</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Hoàn thành</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Trạng thái</span>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <div class="blank-page">
            <img class="blank-img" src="assets/images/admin/icon_user_shop.png" alt="empty list" />
            <div class="info">
              <div class="text-bigger text-bold text-center m-2">
                {{emptyTitle}}
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #item let-ticket="item" let-liteMode="liteMode">
          <div
            class="row table-row" admin-ticket-row
            [class.active]="(activeTicket$ | async)?.id == ticket?.id"
            [ticket]="ticket" [liteMode]="liteMode" (click)="detail(ticket)">
          </div>
        </ng-template>
      </etop-table>

      <etop-side-slider #ticketSlider width="80%">
        <ng-template #customHeader>
          <div class="header-detail d-flex justify-content-between px-4 py-3">
            <div class="d-flex align-items-center">
              <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            </div>
            <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
              Đóng <mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>
        <admin-ticket-detail *ngIf="(activeTicket$ | async)"></admin-ticket-detail>
      </etop-side-slider>
    </div>
  </div>
</div>

