<div class="content">
  <div class="p-3">
    <div class="d-flex position-relative">
      <div class="w-100">
        <div class="row">
          <div class="input-item col-6">
            <etop-material-input textLabel="Mã khách hàng" type="custom">
              <span class="read-only">{{customer?.code || '-'}}</span>
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input
              placeholder="Tên khách hàng" textLabel="Tên khách hàng"
              [(ngModel)]="customer.p_data.full_name" (ngModelChange)="onDataEdited($event, 'full_name')" type="input" [disabled]="isAnonymous">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input
              placeholder="Số điện thoại" textLabel="Số điện thoại"
              [(ngModel)]="customer.p_data.phone" (ngModelChange)="onDataEdited($event, 'phone')" type="input" [disabled]="isAnonymous">
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input
              placeholder="Email" textLabel="Email" [disabled]="isAnonymous"
              [(ngModel)]="customer.p_data.email" (ngModelChange)="onDataEdited($event, 'email')" type="input">
            </etop-material-input>
          </div>
          <div class="input-item col-6">
            <etop-material-input
              placeholder="Chọn giới tính" textLabel="Giới tính" type="select" [optionSelect]="genders"
              [(ngModel)]="customer.p_data.gender" [disabled]="isAnonymous" (ngModelChange)="onDataEdited($event,'gender')">
            </etop-material-input>
          </div>
          <div class="input-item col-6 pl-0">
            <etop-material-input
              textLabel="Ngày sinh" placeholder="Ngày sinh" type="datetime" [disabled]=" "
              (ngModelChange)="onDataEdited($event,'birthday')"
              [(ngModel)]="customer.p_data.birthday">
            </etop-material-input>
          </div>
          <div class="input-item col-12">
            <etop-material-input
              placeholder="Ghi chú" textLabel="Ghi chú" [disabled]="isAnonymous"
              [(ngModel)]="customer.p_data.note" (ngModelChange)="onDataEdited($event, 'note')" type="text-area">
            </etop-material-input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ePermissions="['shop/customer:update']">
    <div class="actions" *ngIf="customer?.type != 'anonymous'">
      <button class="btn btn-primary" (click)="updateCustomer()">
        <span class="align-middle">Cập nhật thông tin</span>
      </button>
    </div>
  </ng-container>
  <div class="customer-slide-item mt-3">
    <ul class="nav nav-tabs" role="tablist">
      <li *ePermissions="['shop/order:view']" class="nav-item">
        <a class="nav-link" [class.active]="activeTab == 'order'" data-toggle="tab" href="#order" role="tab">ĐƠN HÀNG</a>
      </li>
      <li *ePermissions="['shop/receipt:view']" class="nav-item">
        <a class="nav-link" [class.active]="activeTab == 'receipt'" data-toggle="tab" href="#receipt" role="tab">PHIẾU THU/CHI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab == 'address'" data-toggle="tab" href="#address" role="tab">ĐỊA CHỈ</a>
      </li>
    </ul>
    <div class="tab-content flex-grow-1">
      <div *ePermissions="['shop/order:view']" class="tab-pane" [class.active]="activeTab == 'order'" id="order" role="tabpanel">
        <shop-customer-orders [customer_id]="customer.id" [customer_name]="customer.full_name"></shop-customer-orders>
      </div>
      <div *ePermissions="['shop/receipt:view']" class="tab-pane" [class.active]="activeTab == 'receipt'" id="receipt" role="tabpanel">
        <shop-customer-receipt [customer_id]="customer.id" [customer_name]="customer.full_name"></shop-customer-receipt>
      </div>
      <div class="tab-pane" [class.active]="activeTab == 'address'" id="address" role="tabpanel">
        <shop-customer-addresses [customer_id]="customer.id" [customer_name]="customer.full_name">
        </shop-customer-addresses>
      </div>
    </div>
  </div>
</div>
