.row.image-container {
  margin-left: -7px;
  margin-right: -7px;
}

.image-wrapper {
  padding-right: 7px !important;
  padding-left: 7px !important;
}

.delete-image {
  font-size: 16px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  padding-top: 1px
}

.upload-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 7px;
  height: 90%;
  position: relative;
  .delete-image {
    right: 5px;
    top: -1px;
  }
  &.disabled {
    opacity: .5;
    background: var(--border-gray-color);
    cursor: default;
    pointer-events: none;
  }
  .image {
    width: 100%;
    position: relative;
    background: var(--border-gray-color);
    border-radius: 5px;
    &.big {
      height: 180px;
    }
    &.small {
      height: 100px;
    }
    img {
      position: absolute;
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .upload-button {
    cursor: pointer;
    font-weight: 500;
    position: relative;
    margin-top: 10px;
    line-height: 15px;
    input {
      display: none;
    }
  }
}

.progress-bar-bottom {
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;
  background-color: transparent;
  border-radius: 0 0 7px 7px;
  .progress-bar {
    background-color: var(--primary-color);
  }
}


.radio-button-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  label {
    cursor: pointer;
  }
  .title {
    font-weight: 500;
  }
  .subtitle {
    font-size: 11px;
  }
  .radio-button-info {
    margin-left: 5px;
    display: inline-flex;
    flex-direction: column;
    line-height: 14px;
  }
  &.disabled {
    label {
      cursor: default;
      pointer-events: none;
      color: var(--default-color);
    }
  }
}

.method.disabled {
  .delete-image, .upload-button {
    display: none;
  }
}

.custom-file {
  height: 32px;
  &.disabled {
    pointer-events: none;
    .custom-file-label, .custom-file-label::after {
      background: var(--border-gray-color);
    }
  }
  .custom-file-input {
    z-index: 1000;
  }
  .custom-file-label {
    z-index: 900;
  }
  //shop-progress-bar-bottom {
  //  position: absolute;
  //  width: 100%;
  //  bottom: -4px;
  //}
  //shop-progress-bar-bottom/deep/ {
  //  .progress {
  //    border-radius: 0 0 7px 7px;
  //  }
  //  .progress-bar-bottom {
  //    height: 10px;
  //  }
  //}
  .custom-file-input, .custom-file-label, .custom-file-label::after {
    height: 100%;
  }
}

.form-control {
  border-radius: 7px;
}

.custom-file-label {
  display: flex;
  align-items: center;
  border-radius: 7px;
  color: var(--default-color);
  margin-bottom: 0;
  &:after {
    display: flex;
    align-items: center;
    content: "Chọn ảnh";
    border-radius: 0 7px 7px 0;
    color: var(--default-color);
  }
}

input {
  outline: 0 !important;
  box-shadow: none !important;
}
