<div class="alert alert-warning" style="border-radius: 0; margin-left: -1rem; margin-right: -1rem;">
  Nhà vận chuyển cần xác thực tài khoản của bạn để cung cấp dịch vụ giao hàng ứng tiền trước.
</div>
<p class="mb-0 font-14 font-weight-bold">1. XÁC THỰC CHỦ CỬA HÀNG</p>
<p class="mb-0">Vui lòng tải lên các hình ảnh sau:</p>
<div class="row mb-3 mt-2 image-container">
  <div class="col-4 image-wrapper" *ngFor="let type of images_type">
    <span class="font-weight-bold">{{img_name[type]}}</span>
    <div class="upload-wrapper" [ngClass]="{'disabled': loading}">
      <div class="image big">
        <img [src]="img_src[type] || 'assets/images/' + type + '.png'" alt="{{type}}" />
        <div *ngIf="display && uploading[type]" class="progress progress-bar-bottom">
          <div class="progress-bar bg-aqua" role="progressbar" [style.width.%]="percent"
               [attr.aria-valuenow]="percent" [attr.aria-valuemin]="0" [attr.aria-valuemax]="100">
          </div>
        </div>
      </div>
      <div *ngIf="!wait_for_verifying" class="upload-button" (click)="browseImages(type)">
        <input id="{{type}}" accept="image/png,image/jpg,image/jpeg" name="{{type}}"
               type="file" (change)="onFileSelected($event, type)">
        <span class="upload-button-text"><i class="fa fa-plus mr-1"></i><span>Tải hình</span></span>
      </div>
    </div>
  </div>
</div>

<hr>

<p class="mb-0 font-14 font-weight-bold">2. XÁC THỰC CỬA HÀNG</p>
<p class="mb-0">Vui lòng chọn 1 trong các phương án sau:</p>
<div class="row radio-button-wrapper" [ngClass]="{'disabled': wait_for_verifying}">
  <label class="col-3 m-0" *ngFor="let method of verify_shop_methods" (click)="changeVerifyShopMethod(method)">
    <input type="radio" name="input-dimension" [checked]="method.type == selected_verify_shop_method">
    <div class="radio-button-info">
      <span class="title">{{method.title}}</span>
      <span *ngIf="method.subtitle" class="subtitle">{{method.subtitle}}</span>
    </div>
  </label>
</div>
<div class="row method" [ngClass]="{'disabled': wait_for_verifying}">
  <div *ngIf="selected_verify_shop_method == 'fanpage_url'" class="col-12">
    <input type="text" class="form-control font-12" placeholder="Link fanpage facebook" [(ngModel)]="fanpage_url">
  </div>

  <div *ngIf="selected_verify_shop_method == 'company_images'" class="col-12">
    <div class="custom-file" [ngClass]="{'disabled': img_src.company_images.length == 6 || wait_for_verifying}">
      <input type="file" class="custom-file-input" accept="image/png,image/jpg,image/jpeg" multiple (change)="onImageSelected($event)">
      <label class="custom-file-label font-12">Upload tối đa 6 ảnh</label>
      <!--      <etop-progress-bar-bottom [dependent]="true"></etop-progress-bar-bottom>-->
    </div>
    <div *ngIf="img_src.company_images.length" class="row image-container">
      <div *ngFor="let image of img_src.company_images; let i = index;" class="col-2 image-wrapper">
        <div class="upload-wrapper" [ngClass]="{'disabled': loading}">
          <span class="delete-image" (click)="deleteImage(i)"><i class="fa fa-times-circle-o"></i></span>
          <div class="image small">
            <img [src]="image" />
            <div *ngIf="display && uploading.company_images[i]" class="progress progress-bar-bottom">
              <div class="progress-bar bg-aqua" role="progressbar" [style.width.%]="percent" [attr.aria-valuenow]="percent"
                   [attr.aria-valuemin]="0" [attr.aria-valuemax]="100">
              </div>
            </div>
          </div>
          <div class="upload-button" (click)="browseImages('company_images_' + i)">
            <input id="company_images_{{i}}" accept="image/png,image/jpg,image/jpeg" name="company_images_{{i}}" type="file"
                   (change)="onFileSelected($event, 'company_images', i)">
            <span class="upload-button-text"><i class="fa fa-plus mr-1"></i><span>Tải hình</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selected_verify_shop_method == 'website_url'" class="col-12">
    <input type="text" class="form-control font-12" placeholder="Link website" [(ngModel)]="website_url">
  </div>

  <div *ngIf="selected_verify_shop_method == 'business_license'" class="col-12">
    <div class="custom-file" [ngClass]="{'disabled': img_src.business_license.length == 6 || wait_for_verifying}">
      <input type="file" class="custom-file-input" accept="image/png,image/jpg,image/jpeg" multiple (change)="onImageSelected($event)">
      <label class="custom-file-label font-12">Upload tối đa 6 ảnh</label>
      <!--      <etop-progress-bar-bottom [dependent]="true"></etop-progress-bar-bottom>-->
    </div>
    <div *ngIf="img_src.business_license.length" class="row image-container">
      <div *ngFor="let image of img_src.business_license; let i = index;" class="col-2 image-wrapper">
        <div class="upload-wrapper" [ngClass]="{'disabled': loading}">
          <span class="delete-image" (click)="deleteImage(i)"><i class="fa fa-times-circle-o"></i></span>
          <div class="image small">
            <img [src]="image" />
            <div *ngIf="display && uploading.business_license[i]" class="progress progress-bar-bottom">
              <div class="progress-bar bg-aqua" role="progressbar" [style.width.%]="percent" [attr.aria-valuenow]="percent"
                   [attr.aria-valuemin]="0" [attr.aria-valuemax]="100">
              </div>
            </div>
          </div>
          <div class="upload-button" (click)="browseImages('business_license_' + i)">
            <input id="business_license_{{i}}" accept="image/png,image/jpg,image/jpeg" name="business_license_{{i}}"
                   type="file" (change)="onFileSelected($event, 'business_license', i)">
            <span class="upload-button-text"><i class="fa fa-plus mr-1"></i><span>Tải hình</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
