<!-- <div class="statistic-table table-responsive" [ngClass]="{'break-word': isDebug}">
  <ng-content select="table-header"></ng-content>
  <div class="group-title text-bold">
    <span>{{statTable?.label}}</span>
  </div>
  <div *ngFor="let label of statTable?.subLabels">
    {{label}}
  </div>
  <ng-content></ng-content>
  <table class="table etop-table">
    <thead>
    <tr class="text-uppercase">
      <th width="10%"></th>
      <th [attr.width]="(90 / statTable?.columns?.length) + '%'" *ngFor="let col of statTable?.columns" class="text-right">
        <div>{{col.label}}</div>
        <div class="sub-label" *ngIf="col.label2">{{col.label2}}</div>
        <div *ngIf="isDebug">{{col.spec}}</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of statTable?.rows" [ngClass]="row.className">
      <td>
        <div>{{row.label}}</div>
        <div class="sub-label" *ngIf="row.label2">{{row.label2}}</div>
        <div *ngIf="isDebug">{{row.spec}}</div>
      </td>
      <ng-container *ngFor="let cell of row?.cells" class="text-right">
        <td class="text-right" [ngClass]="cell.className">
          <div>{{row.render ? row.render(cell.value) : cell.value}}</div>
          <div *ngIf="isDebug">{{cell.spec}}</div>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div> -->
