<div class="dialog-header">
    <div class="dialog-title big-font">
      Chỉnh sửa Hotline
    </div>
    <div class="close-button" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </div>
  </div>
  <div class="dialog-body">
    <div class="my-3" [formGroup]="hotlineForm">
      <div class="mx-3 mb-3">
        <div class="label small">Số hotline</div>
        <div class="my-2 text-big text-bold">{{hotlineActive.hotline}}</div>
      </div>
      <etop-material-input formControlName="name"
        type="input" textLabel="Tên hotline" placeholder="Nhập tên hotline">
      </etop-material-input>
      <etop-material-input
        formControlName="network"
        [optionSelect]="mobileNetwork"
        type="select" textLabel="Nhà mạng" placeholder="Nhập tên nhà mạng">
        </etop-material-input>
      <etop-material-input formControlName="description"
        type="text-area" maxRow="4" textLabel="Mô tả" placeholder="Nhập mô tả">
      </etop-material-input>
      <div class="py-2">
        <mat-checkbox formControlName="is_free_charge" color="primary" disableRipple>
          Không kiểm tra số dư khi gọi
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="dialog-footer text-right">
    <button class="btn btn-default btn-outline mr-2" (click)="closeDialog()" >Đóng</button>
    <button class="btn btn-primary text-white" (click)="confirm()">
      Xác nhận
    </button>
  </div>
