<div *ePermissions="['relationship/relationship:view']" class="box-container">
    <div class="row segments">
        <div class="col segment" [class.active]="segment == segmentName.STAFF" (click)="changeSegment(segmentName.STAFF)">Danh sách</div>
        <div class="col segment" [class.active]="segment == segmentName.EXTENSION" (click)="changeSegment(segmentName.EXTENSION)">Máy nhánh</div>
      <div class="col segment" [class.active]="segment == segmentName.SHOP_INVITATION" (click)="changeSegment(segmentName.SHOP_INVITATION)">Lời mời chưa chấp nhận</div>
    </div>
    <ng-container *ngIf="segment=='staff'" >
        <div class="box">
          <ng-container *ngIf='(relationships$ | async).length; else noRelationship'>
            <div class="staff-box" *ngFor='let relationship of (relationships$ | async);'>
              <div class="box-title">
                <div class="staff-name">
                  <mat-icon>account_circle_outlined</mat-icon>
                  <div>
                    <div>{{relationship?.full_name || '-'}}</div>
                    <div class="font-weight-bold">{{relationship?.phone || '-'}}</div>
                  </div>
                </div>
                <div class="action" mat-button [matMenuTriggerFor]="menu" *ngIf="!isOwner(relationship) || hasUserExtension(relationship)">
                  <mat-icon>list</mat-icon>
                  <span>Thao tác</span>
                </div>
                <mat-menu #menu="matMenu">
                  <div *ngIf="!isOwner(relationship)">
                    <button mat-menu-item (click)='updateStaff(relationship)' *ePermissions="['relationship/relationship:update']">Chỉnh sửa</button>
                  </div>
                  <div *ngIf="hasUserExtension(relationship)">
                    <button mat-menu-item (click)='extendExtension(relationship)' *ePermissions="['relationship/relationship:update']">Gia hạn máy nhánh</button>
                  </div>
                  <div *ngIf="hasUserExtension(relationship)">
                    <button mat-menu-item (click)='confirmRemoveExtension(relationship)' *ePermissions="['relationship/relationship:remove']">Gỡ máy nhánh</button>
                  </div>
                  <div *ngIf="!isOwner(relationship)">
                    <button mat-menu-item (click)='confirmRemoveStaff(relationship)' class='text-danger' *ePermissions="['relationship/relationship:remove']">Xóa khỏi công ty</button>
                  </div>
                </mat-menu>
              </div>
              <div class="box-content">
                <div class="box-role">
                  <span>Vai trò</span>
                  <div class="role-display">
                    {{roleDisplay(relationship)}}
                  </div>
                </div>
                <div class="text-right" *ngIf="hasUserExtension(relationship)">
                  <span>Máy nhánh</span>
                  <div class="text-primary">
                    {{getExtensionNumber(relationship)}} - Đang hoạt động
                  </div>
                </div>
                <span class="text-create" *ngIf="!hasUserExtension(relationship)" (click)='initializationExtension(relationship)'>Gán máy nhánh</span>
              </div>
            </div>
          </ng-container>
        </div>
      <ng-template #noRelationship >
        <div class="no-staff">
          Công ty của bạn chưa có nhân viên nào.
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="segment==segmentName.EXTENSION">
      <etelecom-cs-mobile-extension-list></etelecom-cs-mobile-extension-list>
    </ng-container>
  <ng-container *ngIf="segment=='shop_invitation'" >
    <ng-container *ngIf='(shopInvitations$ | async).length; else noInvitation'>
      <div  *ngFor='let invitation of (shopInvitations$ | async);' class="response-box">
        <div class="box-title">
          <div class="staff-name">
            <mat-icon>account_circle_outlined</mat-icon>
            {{invitation?.full_name}}
          </div>
          <div class="action" mat-button [matMenuTriggerFor]="menu" >
            <mat-icon>list</mat-icon>
            <span>Thao tác</span>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)='deleteInvitation(invitation)' class='text-danger'>Hủy lời mời</button>
          </mat-menu>
        </div>
        <div class="box-content">
          <div class="box-role">
            <span>Vai trò</span>
            <div class="role-display">
              {{roleDisplay(invitation)}}
            </div>
          </div>
          <div class="box-detail">
            <div class="phone">  {{invitation?.phone || '-'}}</div>
            <div class="email">  {{invitation?.email || '-'}}</div>
          </div>
        </div>
        <div class="box-link">
          <span>Đường dẫn</span>
          <a class="link" [href]="invitation?.invitation_url">  {{invitation?.invitation_url || '-'}}</a>
        </div>
        <!-- <div class="box-action">
          <div class="col action-btn">
            <div class="icon"><i class="far fa-copy"></i></div>
            <div class="action-text">Sao chép</div>
          </div>
          <div class="col action-btn">
            <div class="icon"><i class="fas fa-share-alt"></i></div>
            <div class="action-text">Chia sẻ</div>
          </div>
          <div class="col action-btn">
            <div class="icon"><i class="far fa-envelope"></i></div>
            <div class="action-text">Gửi lại SMS</div>
          </div>
        </div> -->
      </div>
    </ng-container>
    <ng-template #noInvitation>
      <div class="no-response">
        Công ty của bạn chưa có lời mời nào.
      </div>
    </ng-template>
  </ng-container>
</div>

