.box-container {
    min-height: 100%;
    height: auto;
    width: 100vw;
    background-color: rgba(0,0,0,.03);
    padding-bottom: calc(1rem + var(--mobile-menu-height));
    .no-response, .no-staff {
        padding: 1.5rem 1.5rem;
        text-align: center;
        background-color: var(--white-color);
    }
    .segments {
        position: sticky;
        height: 4rem;
        background-color: var(--white-color);
        top: 0;
        z-index: 2;
        .segment {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 3px solid var(--dark-border-color);
            &.active {
                color: var(--primary-color);
                border-bottom: 3px solid var(--primary-color);
            }
        }
    }
    .staff-box, .response-box {
        background-color: var(--white-color);
        margin-top: .75rem;
        .box-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 1px solid var(--default-border-color);
            .staff-name {
                display: flex;
                flex-direction: row;
                align-items: center;
                mat-icon {
                    font-size: 2rem!important;
                    width: 2rem!important;
                    height: 2rem!important;
                    margin-right: .5rem;
                }
            }
            .action {
                cursor: pointer;
                padding: .5rem 1.25rem;
                color: var(--primary-color);
                border-radius: 50rem;
                display: flex;
                align-items: center;
                border: 1px solid var(--default-border-color);
                margin-left: auto;
                mat-icon {
                    font-size: 1.5rem!important;
                    width: 1.5rem!important;
                    height: 1.5rem!important;
                    margin-right: .25rem;
                }
            }
        }
        .box-content {
            padding: 1.5rem 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--default-border-color);
            .box-role {
                flex: 1;
                margin-right: 0.5rem;

                .role-display {
                    font-weight: bold;
                }
            }
            .text-create{
              padding: 0.5rem 1.25rem!important;
              border-radius: 50rem;
              background-color: var(--primary-color);
              cursor: pointer;
              color: #fff;
              @media only screen and (max-width: 860px){
                padding: 8px 10px;
              }
            }
            .phone {
              text-align: right;
              font-weight: bold;
            }
            .email {
              text-align: right;
            }
        }
      .box-link {
            padding: 1.5rem 1rem;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid var(--default-border-color);
            .link {
                margin-top: .5rem;
                text-decoration: none;
            }
        }
        .box-action {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            color: var(--primary-color)!important;
            justify-content: space-around;
            .action-btn {
                padding: 1.5rem 1.5rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-right: 1px solid  var(--default-border-color);
                &:last-child {
                    border-right: 0;
                }
                .action-text {
                    margin-left: 0.5rem;
                }
                .icon {
                    .fas {
                        color: var(--primary-color)!important;
                    }
                }
            }
        }
    }
}

.box-header {
  padding: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
}
