.tab-item {
  flex: 1;
  text-align: center;
  padding: 8px 5px;
  border-bottom: 3px solid #eee;
  cursor: pointer;
  &.active {
    border-color: var(--topship-color);
    color: var(--topship-color);
    font-weight: 700;
  }
}

.tab-content {
  margin-top: 1.25rem;
}

.tab-section-title {
  font-weight: 700;
  font-size: .9rem;
}

mat-radio-group {
  width: 100%;
  display: flex;
}

mat-radio-button {
  flex: 1;
}
