<div [class.topship]="topshipInput" [class.error]="error">
  <mat-form-field appearance="outline">
    <mat-label>{{label}}</mat-label>
    <mat-chip-list #chipList [attr.aria-label]="label">
      <mat-chip
        *ngFor="let chip of value; let index = index;" [selectable]="false"
        [removable]="removable" (removed)="remove(index)">
        {{chip}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        [placeholder]="placeholder"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
</div>
