.invitation-row {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--gray-color)!important;
  &:last-child {
    border-bottom: 0;
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
}
