<div class="tabs row">
  <div
    class="tab-item" *ngFor="let tab of tabs"
    [class.active]="selectedTab == tab.value" (click)="selectTab(tab)">
    {{tab.name}}
  </div>
</div>
<div class="tab-content" *ngIf="selectedTab == 'connection'" [formGroup]="autoSelectShipmentServiceForm">
  <div class="tab-section">
    <div class="tab-section-title">1. Chọn NVC ưu tiên:</div>
    <div class="py-3">
      <etop-material-input
        textLabel="Nhà vận chuyển" placeholder="Chọn nhà vận chuyển" type="select"
        [optionSelect]="connectionsList$ | async" matOptionHeight="4rem" [topshipInput]="true"
        [displayMap]="displayMap" [valueMap]="valueMap" formControlName="connectionId">
      </etop-material-input>
    </div>
    <div class="tab-section-title">2. Khi NVC có nhiều dịch vụ, ưu tiên gói:</div>
    <div class="py-3">
      <mat-radio-group formControlName="serviceSortType">
        <mat-radio-button disableRipple value="fee">Giá rẻ nhất</mat-radio-button>
        <mat-radio-button disableRipple value="delivery_time">Giao nhanh nhất</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<div class="tab-content" *ngIf="selectedTab == 'service'" [formGroup]="autoSelectShipmentServiceForm">
  <div class="tab-section">
    <div class="tab-section-title">1. Chọn gói dịch vụ có:</div>
    <div class="py-3">
      <mat-radio-group formControlName="serviceSortType">
        <mat-radio-button disableRipple value="fee">Giá rẻ nhất</mat-radio-button>
        <mat-radio-button disableRipple value="delivery_time">Giao nhanh nhất</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="tab-section-title">2. Khi các gói cùng giá/thời gian, ưu tiên NVC:</div>
    <div class="py-3">
      <etop-material-input
        textLabel="Nhà vận chuyển" placeholder="Chọn nhà vận chuyển" type="select"
        [optionSelect]="connectionsList$ | async" matOptionHeight="4rem" [topshipInput]="true"
        [displayMap]="displayMap" [valueMap]="valueMap" formControlName="connectionId">
      </etop-material-input>
    </div>
  </div>
</div>
