<import-desktop-only *ngIf="!completedView && isMobile; else showDesktop"></import-desktop-only>
<ng-template #showDesktop>
  <div class="wrapper loading-box" *ngIf="loadConfig || !delayPassed">
    <div>
      <img src="{{config?.logo}}" alt="" width="100px">
    </div>
    <img src="{{config?.loadingSvg}}" alt="" width="80px" style="margin-top: -10px">
  </div>
  <router-outlet *ngIf="!loadConfig && delayPassed"></router-outlet>
</ng-template>
