.import-row {
  display: flex;
  height: 8rem;
  background: #fff;
}

.import-col {
  border-right: 1px solid #f5f5f5;
  height: 100%;
  padding: 1rem;
  &:last-child {
    border-right: none;
  }
  &:first-child {
    border-left: 4px solid transparent;
  }
  &.error-col {
    border-left: 4px solid var(--danger-color);
  }
}

etop-material-input::ng-deep,
etop-material-input-format-number::ng-deep,
etop-material-input-autocomplete::ng-deep {
  .mat-form-field-infix {
    border-top: none !important;
  }
}

mat-checkbox::ng-deep {
  .mat-checkbox-inner-container {
    width: 1.15rem;
    height: 1.15rem;
  }
  .mat-checkbox-label {
    font-size: .9rem;
  }
}

.success-badge {
  border-radius: 0 5px 5px 0;
  font-size: .6rem;
  margin-left: calc(-1rem - 4px);
  background: #6ED36F;
  color: #fff;
  padding: 5px;
  font-weight: 700;
}

.shipping-service-display {
  overflow: auto;
  white-space: nowrap;
  opacity: .6;
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 0;
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}
