<div class="import-row">
  <div class="import-col" [class.error-col]="errorFfm" style="width: 8%;">
    <div class="h-50 d-flex justify-content-between align-items-center">
    <mat-checkbox
      color="{{color == 'topship' ? 'accent' : color}}"
      *ngIf="ffm?.createStatus != 'success'"
      [disabled]="disabled"
      [(ngModel)]="ffm.selected" (ngModelChange)="updateForm()" disableRipple>
    </mat-checkbox>
    <span class="success-badge" *ngIf="ffm?.createStatus == 'success'">THÀNH CÔNG</span>
    <span class="text-default">#{{index + 1}}</span>
    </div>
    <div class="h-50 d-flex justify-content-between align-items-center">
      <span
        class="fake-material-input-standard {{color}}"
        [class.placeholder]="!ffm?.ed_code"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.error]="!!errorField('ed_code')">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('edCode')">
          {{ffm?.ed_code || 'Mã nội bộ'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!!errorField('ed_code')"
          ngbTooltip="{{errorField('ed_code')?.msg}}"
          container="body" [disableTooltip]="!errorField('ed_code')?.msg">
          warning
        </mat-icon>
      </span>
    </div>
  </div>
  <div class="import-col" style="width: 12%;">
    <div class="h-50 d-flex justify-content-between align-items-center">
      <span
        class="fake-material-input-standard {{color}}"
        [class.placeholder]="!ffm?.customer_name"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.error]="!!errorField('customer_name')">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('customerName')">
          {{ffm?.customer_name || 'Tên'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!!errorField('customer_name')"
          ngbTooltip="{{errorField('customer_name')?.msg}}"
          container="body" [disableTooltip]="!errorField('customer_name')?.msg">
          warning
        </mat-icon>
      </span>
    </div>
    <div class="h-50 d-flex justify-content-between align-items-center">
      <span
        class="fake-material-input-standard {{color}}"
        [class.placeholder]="!ffm?.customer_phone"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.error]="!!errorField('customer_phone')">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('customerPhone')">
          {{ffm?.customer_phone || 'Số điện thoại'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!!errorField('customer_phone')"
          ngbTooltip="{{errorField('customer_phone')?.msg}}"
          container="body" [disableTooltip]="!errorField('customer_phone')?.msg">
          warning
        </mat-icon>
      </span>
    </div>
  </div>
  <div class="import-col" style="width: 25%;">
    <div class="h-50 d-flex justify-content-between align-items-center">
      <span
        class="fake-material-input-standard {{color}}"
        [class.placeholder]="!ffm?.shipping_address"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.error]="!!errorField('shipping_address')">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('shippingAddress')">
          {{ffm?.shipping_address || 'Địa chỉ đầy đủ'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!!errorField('shipping_address')"
          ngbTooltip="{{errorField('shipping_address')?.msg}}"
          container="body" [disableTooltip]="!errorField('shipping_address')?.msg">
          warning
        </mat-icon>
      </span>
    </div>
    <div class="h-50 d-flex align-items-center justify-content-between">
      <span
        style="width: 30%;"
        class="fake-material-input-standard {{color}}"
        [class.placeholder]="!ffm?.province_code"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.error]="!ffm?.province_code">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('provinceCode')">
          {{provinceDisplay || 'Tỉnh thành'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!ffm?.province_code"
          ngbTooltip="Chưa chọn tỉnh thành"
          container="body" [disableTooltip]="!!ffm?.province_code">
          warning
        </mat-icon>
      </span>
      <span
        style="width: 30%;"
        class="fake-material-input-standard {{color}}"
        [class.placeholder]="!ffm?.district_code"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.error]="!ffm?.district_code">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('districtCode')">
          {{districtDisplay ||  'Quận huyện'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!ffm?.district_code"
          ngbTooltip="Chưa chọn quận huyện"
          container="body" [disableTooltip]="!!ffm?.district_code">
          warning
        </mat-icon>
      </span>
      <span
        style="width: 30%;"
        class="fake-material-input-standard {{color}}"
        [class.placeholder]="!ffm?.ward_code"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.error]="!ffm?.ward_code">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('wardCode')">
          {{wardDisplay || 'Phường xã'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!ffm?.ward_code"
          ngbTooltip="Chưa chọn phường xã"
          container="body" [disableTooltip]="!!ffm?.ward_code">
          warning
        </mat-icon>
      </span>
    </div>
  </div>
  <div class="import-col" style="width: 20%;">
    <div class="h-50 d-flex justify-content-between align-items-center">
      <span
        class="fake-material-input-standard {{color}}"
        [class.placeholder]="!ffm?.product_description"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.error]="!!errorField('product_description')">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('productDescription')">
          {{ffm?.product_description || 'Sản phẩm'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!!errorField('product_description')"
          ngbTooltip="{{errorField('product_description')?.msg}}"
          container="body" [disableTooltip]="!errorField('product_description')?.msg">
          warning
        </mat-icon>
      </span>
    </div>
    <div class="h-50 d-flex align-items-center justify-content-between">
      <span
        style="width: 30%;"
        class="fake-material-input-standard {{color}} text-bold"
        [class.placeholder]="!ffm?.total_weight && ffm?.total_weight != 0"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.error]="!!errorField('total_weight')">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('totalWeight')">
          {{((ffm?.total_weight | number) + 'g') || 'Khối lượng'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!!errorField('total_weight')"
          ngbTooltip="{{errorField('total_weight')?.msg}}"
          container="body" [disableTooltip]="!errorField('total_weight')?.msg">
          warning
        </mat-icon>
      </span>
      <span
        style="width: 30%;"
        class="fake-material-input-standard {{color}} text-bold"
        [class.placeholder]="!ffm?.basket_value && ffm?.basket_value != 0"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.error]="!!errorField('basket_value')">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('basketValue')">
          {{((ffm?.basket_value | number) + 'đ') || 'Khai giá'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!!errorField('basket_value')"
          ngbTooltip="{{errorField('basket_value')?.msg}}"
          container="body" [disableTooltip]="!errorField('basket_value')?.msg">
          warning
        </mat-icon>
      </span>
      <mat-checkbox
        color="{{color == 'topship' ? 'accent' : color}}"
        [disabled]="uniData.insurance.toggled || ffm?.createStatus == 'success' || disabled"
        style="width: 30%;" disableRipple
        [(ngModel)]="ffm.include_insurance" (ngModelChange)="updateForm(); getServices()">
        Bảo hiểm
      </mat-checkbox>
    </div>
  </div>
  <div class="import-col" style="width: 8%;">
    <div class="h-50 d-flex justify-content-between align-items-center">
      <span
        class="fake-material-input-standard {{color}} text-bold text-{{color}}"
        [class.disabled]="ffm?.createStatus == 'success' || disabled"
        [class.placeholder]="!ffm?.cod_amount && ffm?.cod_amount != 0"
        [class.error]="!!errorField('cod_amount')">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('codAmount')">
          {{((ffm?.cod_amount | number) + 'đ') || 'Thu hộ'}}
        </span>
        <mat-icon
          class="text-danger cursor-pointer" *ngIf="!!errorField('cod_amount')"
          ngbTooltip="{{errorField('cod_amount')?.msg}}"
          container="body" [disableTooltip]="!errorField('cod_amount')?.msg">
          warning
        </mat-icon>
      </span>
    </div>
  </div>
  <div class="import-col" style="width: 14%;">
    <div
      *ngIf="ffm?.shipping_service_code || ffm?.gettingShippingServices"
      class="h-50 d-flex justify-content-between align-items-center">
      <span
        class="fake-material-input-standard {{color}}"
        [class.disabled]="ffm?.gettingShippingServices || ffm?.createStatus == 'success' || disabled">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('shippingServiceCode')">
          {{ffm?.gettingShippingServices ? 'Đang lấy gói dịch vụ' : shippingServiceDisplayOfForm}}
        </span>
      </span>
    </div>
    <div class="h-50 d-flex align-items-center" *ngIf="ffm?.shipping_service_code">
      Phí ship:&nbsp;<b>{{ffm?.shipping_service_fee | number}}đ</b>
    </div>
    <ng-container *ngIf="!ffm?.gettingShippingServices">
      <div class="h-100 d-flex align-items-center" *ngIf="ffm?.shippingServicesList && !ffm?.shippingServicesList.length">
        Không có gói dịch vụ
      </div>
      <div class="h-100 d-flex align-items-center bigger-font" *ngIf="!ffm?.shippingServicesList">
        -
      </div>
    </ng-container>
  </div>
  <div class="import-col" style="width: 13%;">
    <div class="h-50 d-flex justify-content-between align-items-center">
      <span
        class="fake-material-input-standard {{color}}" [class.placeholder]="!ffm?.try_on"
        [class.disabled]="uniData.tryOn.toggled || ffm?.createStatus == 'success' || disabled">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('tryOn')">
          {{tryOnDisplay || 'Ghi chú xem hàng'}}
        </span>
      </span>
    </div>
    <div class="h-50 d-flex justify-content-between align-items-center">
      <span
        class="fake-material-input-standard {{color}}" [class.placeholder]="!ffm?.shipping_note"
        [class.disabled]="uniData.shippingNote.toggled || ffm?.createStatus == 'success' || disabled">
        <span class="fake-material-input-standard-content" (click)="createInputComponent('shippingNote')">
          {{ffm?.shipping_note || 'Ghi chú giao hàng'}}
        </span>
      </span>
    </div>
  </div>
</div>
<ng-template #inputContainer></ng-template>
<div *ngIf="ffm?.createStatus == 'failed'" class="bg-danger-light text-danger" style="padding: .75rem 1.5rem;">
  <b>Lỗi khi tạo đơn: </b>{{createErrorMessageOfForm || '-'}}
</div>
