<div class="page-content pb-0">
  <div class="page-wrapper">
    <etop-table
      #userTable
      [items]="usersList$ | async"
      [show_paging]="(usersList$ | async)?.length && showPaging"
      (requestNewPage)="loadPage($event)">
      <ng-template #header let-liteMode="liteMode">
        <div class="col">
          <span class="table-header-text">Tên</span>
        </div>
        <div class="col">
          <span class="table-header-text">Số điện thoại</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Email</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Ngày tạo</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Số shop</span>
        </div>
        <div class="col">
          <span class="table-header-text">Trạng thái</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <img class="blank-img" src="assets/images/admin/icon_user_shop.png" alt="empty list" />
          <div class="info">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-user="item" let-liteMode="liteMode">
        <div
          class="row table-row" admin-user-row
          [class.active]="(activeUser$ | async)?.id == user?.id"
          [user]="user" [liteMode]="liteMode" (click)="detail(user)">
        </div>
      </ng-template>
    </etop-table>

    <etop-side-slider #userSlider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            <shared-dropdown-actions [dropdownActions]="dropdownActions"></shared-dropdown-actions>
            <div class="tabs-container">
              <div
                *ngFor="let tab of tabs" class="tab"
                [class.active]="active_tab == tab?.value" (click)="changeTab(tab?.value)">
                {{ tab?.name }}
              </div>
            </div>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng <i class="fa fa-times"></i>
          </button>
        </div>
      </ng-template>
      <admin-edit-user-form *ngIf="(activeUser$ | async)" [activeTab]="active_tab"></admin-edit-user-form>
    </etop-side-slider>
  </div>
</div>
