<div class="modal-header">
  <div class="modal-title">
    Tạo phiên chuyển khoản {{bank}} ngày {{date | date: 'dd/MM/yyyy'}}
  </div>
  <div class="close" (click)="closeModal()">
    <i class="fa fa-times"></i>
  </div>
</div>
<div class="modal-body">
  <div class="d-flex align-items-center mb-3">
    <etop-material-input-format-number
      style="width: 10rem;"
      placeholder="Nhập tỉ lệ" textLabel="Tỉ lệ" formatNumberUnit="%"
      [(ngModel)]="split_amount">
    </etop-material-input-format-number>
    <button class="ml-2 btn btn-outline btn-primary" (click)="split()">Tách phiên</button>
  </div>
  <div class="row">
    <div class="col-4">
      <label>Tất cả phiên</label>
      <div class="table-responsive">
        <table class="w-100">
          <thead>
          <tr>
            <td colspan="2" class="text-right text-bold">Tổng cộng</td>
            <td class="text-right text-bold">{{getTotalOrders(transaction?.money_transactions)}} đơn</td>
            <td class="text-right text-bold">{{getTotalCod(transaction?.money_transactions) | number}}đ</td>
            <td class="text-right text-bold">{{getTotalAmount(transaction?.money_transactions) | number}}đ</td>
          </tr>
          <tr class="etop-table-header">
            <th>STT</th>
            <th>Phiên</th>
            <th>Ngày</th>
            <th class="text-right">Thu hộ</th>
            <th class="text-right">Còn lại</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="!transaction?.money_transactions || !transaction?.money_transactions?.length">
            <td colspan="5" class="text-center">Chưa có phiên</td>
          </tr>
          <ng-container>
            <tr *ngFor="let mt of transaction?.money_transactions; let i = index;">
              <td>{{i + 1}}</td>
              <td>
                <div class="text-primary text-bold">
                  {{mt?.code}}
                </div>
                <div class="small-font text-bold">
                  {{mt?.shop?.name}}
                </div>
              </td>
              <td>{{mt?.created_at | date: "dd/MM/yyyy"}}</td>
              <td class="text-right">{{mt?.total_cod | number}}đ</td>
              <td class="text-right">{{mt?.total_amount | number}}đ</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4">
      <label>Phiên đã tách</label>
      <div class="table-responsive">
        <table class="w-100">
          <thead>
          <tr>
            <td colspan="2" class="text-right text-bold">Tổng cộng</td>
            <td class="text-right text-bold">{{getTotalOrders(abandoneds)}} đơn</td>
            <td class="text-right text-bold">{{getTotalCod(abandoneds) | number}}đ</td>
            <td class="text-right text-bold">{{getTotalAmount(abandoneds) | number}}đ</td>
          </tr>
          <tr class="etop-table-header">
            <th>STT</th>
            <th>Phiên</th>
            <th>Ngày</th>
            <th class="text-right">Thu hộ</th>
            <th class="text-right">Còn lại</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="!abandoneds || !abandoneds?.length">
            <td colspan="5" class="text-center">Không có phiên thoả điều kiện</td>
          </tr>
          <ng-container>
            <tr *ngFor="let mt of abandoneds; let i = index;">
              <td>{{i + 1}}</td>
              <td>
                <div class="text-primary text-bold">
                  {{mt?.code}}
                </div>
                <div class="small-font text-bold">
                  {{mt?.shop?.name}}
                </div>
              </td>
              <td>{{mt?.created_at | date: "dd/MM/yyyy"}}</td>
              <td class="text-right">{{mt?.total_cod | number}}đ</td>
              <td class="text-right">{{mt?.total_amount | number}}đ</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4">
      <label>Phiên còn lại</label>
      <div class="table-responsive">
        <table class="w-100">
          <thead>
          <tr>
            <td colspan="2" class="text-right text-bold">Tổng cộng</td>
            <td class="text-right text-bold">{{getTotalOrders(kepts)}} đơn</td>
            <td class="text-right text-bold">{{getTotalCod(kepts) | number}}đ</td>
            <td class="text-right text-bold">{{getTotalAmount(kepts) | number}}đ</td>
          </tr>
          <tr class="etop-table-header">
            <th>STT</th>
            <th>Phiên</th>
            <th>Ngày</th>
            <th class="text-right">Thu hộ</th>
            <th class="text-right">Còn lại</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="!kepts || !kepts?.length">
            <td colspan="5" class="text-center">Chưa có phiên</td>
          </tr>
          <ng-container>
            <tr *ngFor="let mt of kepts; let i = index;">
              <td>{{i + 1}}</td>
              <td>
                <div class="text-primary text-bold">
                  {{mt?.code}}
                </div>
                <div class="small-font text-bold">
                  {{mt?.shop?.name}}
                </div>
              </td>
              <td>{{mt?.created_at | date: "dd/MM/yyyy"}}</td>
              <td class="text-right">{{mt?.total_cod | number}}đ</td>
              <td class="text-right">{{mt?.total_amount | number}}đ</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="align-items-center d-flex justify-content-end">
    <button class="btn btn-outline btn-default" [disabled]="loading" (click)="closeModal()">
      Đóng
    </button>
    <ng-container *ePermissions="['admin/money_transaction_shipping_etop:create']">
      <etop-material-input
        class="mx-3" style="width: 25rem;"
        type="input" textLabel="Ghi chú phiên chuyển khoản" placeholder="Ghi chú phiên chuyển khoản"
        [disabled]="loading"
        [(ngModel)]="mt_transfer_note">
      </etop-material-input>
      <button class="btn btn-primary" [disabled]="loading" (click)="createMtTransfer()">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
        Tạo phiên eTop ({{split_amount_display}}%)
      </button>
    </ng-container>
  </div>
</div>
