.modal-header, .modal-body, .modal-footer {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.modal-body {
  height: 70vh;
  overflow-y: auto;
}

label {
  font-weight: 700;
}

.mt-tab {
  li a {
    text-align: center;
    background-color: var(--white-color);
    color: var(--default-color);
    min-height: auto;
    border-bottom: 2px solid var(--light-color);
    cursor: pointer;
    &:hover{
      color: var(--primary-color);
    }
    &.active {
      color: var(--primary-color);
      border-bottom: 2px solid var(--primary-color);
    }
  }
}

thead {
  background-color: var(--light);
}
th, td {
  border-left: 1px solid var(--border-gray-color);
  &:first-child {
    border-left: none;
  }
}
th {
  font-weight: 400;
  padding: 0.6rem 1.25rem;
  border-bottom: 1px solid var(--border-gray-color);
}
td {
  padding: 0.85rem 1.25rem;
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
  &:last-child {
    border-bottom: none;
  }
}

.table-responsive {
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
}
