<div class="modal-header">
    <div class="modal-title">
      Xoá liên hệ
    </div>
    <button class="close" (click)="closeModal()">
      <span class="text-large">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="pt-2">
      <div class="text-center p-5 font-12">
        Bạn có chắc muốn xoá liên hệ với {{name}}?
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-outline" (click)="closeModal()">Đóng</button>
    <button class="btn btn-danger text-white" [disabled]="loading" (click)="confirm()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      Xoá
    </button>
  </div>
  