<div *ngIf="popupTrial && !(subscriptions$ | async).length && (trialDate$ | async) > 0" class="alert alert-warning clearfix">
  <div class="noti">
    <span style="font-weight: 700"> Thông báo: </span>
    <span (click)="closeNoti()" class="button-close">Đóng <ion-icon name="close-outline"></ion-icon></span>
  </div>
  <div class="msg">
    {{banner}}
  </div>
</div>
