.alert {
  background-color: #FFF3CD;
  margin: 0;
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: 15px;
  .noti{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  .msg {
    padding-top: 5px;
    margin: auto 0;
    font-size: 12px;
  }
  .button-close{
    padding: 0 10px;
    cursor: pointer;
    border-radius: 20px;
  }
  span{
    font-size: 12px;
  }
  ion-icon{
    position: relative;
    top: 2px;
  }
}
