<div class="drag-list-col" style="width: 7%;">
  <i class="fas fa-grip-lines"></i>
  <span
    class="big-font text-bold text-primary">
    #{{index + 1}}
  </span>
</div>
<div class="drag-list-col" style="width: 20%;">
  <etop-material-input
    type="input" placeholder="Nhập tên cấu hình giá" textLabel="Tên cấu hình giá"
    [(ngModel)]="shipmentPrice.name">
  </etop-material-input>
</div>
<div class="drag-list-col" style="width: 15%;">
  <etop-material-input
    type="select" placeholder="Chọn tuyến" textLabel="Tuyến"
    [optionSelect]="shipmentPriceLocations" [(ngModel)]="shipmentPrice.location"
    (select)="onLocationChange()" container="body" placement="bottom"
    ngbTooltip="{{advancedLocationDisplay}}" [disableTooltip]="!advancedLocationDisplay">
  </etop-material-input>
</div>
<div class="drag-list-col" style="width: 15%;">
  <etop-material-input
    type="select" placeholder="Chọn khu vực" textLabel="Khu vực"
    [optionSelect]="shipmentPriceUrbans" [(ngModel)]="shipmentPrice.urban"
    (ngModelChange)="onUrbanChange()">
  </etop-material-input>
</div>
<div class="drag-list-col" style="width: 10%;">
  <etop-material-input-format-number
    placeholder="Chọn khối lượng" textLabel="Khối lượng" formatNumberUnit="g"
    (blur)="onWeightInputBlur()"
    [(ngModel)]="shipmentPrice.details[0].weight">
  </etop-material-input-format-number>
</div>
<div class="drag-list-col" style="width: 10%;">
  <etop-material-input-format-number
    placeholder="Chọn giá" textLabel="Giá" formatNumberUnit="đ"
    [(ngModel)]="shipmentPrice.details[0].price">
  </etop-material-input-format-number>
</div>
<div class="drag-list-col" style="width: 10%;">
  <div
    class="fake-material-input-outline d-flex align-items-center justify-content-between cursor-pointer"
    (click)="toggleOverWeight()">
    <span class="pr-1 small-font text-bold text-uppercase">
      Vượt cân ({{shipmentPrice?.details[0]?.overweight?.length || 0}})
    </span>
    <i class="fa fa-chevron-down small-font" *ngIf="!displayOverweight"></i>
    <i class="fa fa-chevron-up small-font" *ngIf="displayOverweight"></i>
  </div>
</div>
<div class="drag-list-col" style="width: 10%;">
  <div
    class="fake-material-input-outline d-flex align-items-center justify-content-between cursor-pointer"
    (click)="toggleAdditionalFee()">
    <span class="pr-1 small-font text-bold text-uppercase">
      Phụ phí ({{numberOfAdditionalFees}})
    </span>
    <i class="fa fa-chevron-down small-font" *ngIf="!displayAdditionalFee"></i>
    <i class="fa fa-chevron-up small-font" *ngIf="displayAdditionalFee"></i>
  </div>
</div>
<div
  *ePermissions="['admin/shipment_price:delete']"
  class="drag-list-col delete-btn cursor-pointer" style="width:3%;" (click)="rowRemoved.emit()">
  <i class="fa fa-trash"></i>
</div>

<ng-container *ngIf="advancedLocationDisplay">
  <div class="drag-list-col invisible" style="width: 7%;"></div>
  <div class="drag-list-col lower-medium-font pt-0" style="width: 90%;">Tuyến: {{advancedLocationDisplay}}</div>
  <div class="drag-list-col invisible" style="width: 3%;"></div>
</ng-container>

<ng-container *ngIf="displayOverweight">
  <div class="drag-list-col invisible" style="width: 7%;"></div>
  <div class="drag-list-col pt-0" style="width: 90%;">
    <admin-overweight
      [overweights]="shipmentPrice.details[0].overweight"
      [mainWeight]="previousWeight">
    </admin-overweight>
  </div>
  <div class="drag-list-col invisible" style="width: 3%;"></div>
</ng-container>
<ng-container *ngIf="displayAdditionalFee">
  <div class="drag-list-col invisible" style="width: 7%;"></div>
  <div class="drag-list-col pt-0" style="width: 90%;">
    <admin-additional-fee [additionalFees]="shipmentPrice.additional_fees"></admin-additional-fee>
  </div>
  <div class="drag-list-col invisible" style="width: 3%;"></div>
</ng-container>
