<div class="page-container">
  <div class="total">
    <div class="total-section left-aligned">
      <div class="total-item w-100 d-flex align-items-center">
        <etop-filter class="w-100" [filters]="filters" (filterChanged)="filter($event)">
        </etop-filter>
      </div>
    </div>
  </div>
  <div class="page-content pb-0">
    <div class="page-wrapper">
      <etop-table #contactsTable [items]="contacts$ | async" (requestNewPage)="loadPage($event)"
                  [show_paging]="(contacts$ | async).length > 0 && showPaging">
        <ng-template #header let-liteMode="liteMode">
          <div class="row mobile-header">
            <div class="col table-header-text text-left max-width-20rem hide-768">Mã</div>
            <div class="col table-header-text text-left max-width-20rem">Tên</div>
            <div class="col table-header-text text-left max-width-20rem">Số điện thoại</div>
            <div class="col table-header-text text-left " *ngIf="!liteMode">Ngày tạo</div>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <etop-empty-page [description]="emptyDescription"></etop-empty-page>
        </ng-template>

        <ng-template #item let-contact="item" let-liteMode="liteMode">
          <div class="row table-row" etelecom-cs-contacts-row [class.active]="(contactActive$ | async)?.id == contact?.id"
               [contact]="contact" [liteMode]="liteMode" (click)="detail(contact)">
          </div>
        </ng-template>
      </etop-table>

      <etop-side-slider #contactsSlider [width]="sliderWidth">
        <ng-template #customHeader>
          <div class="header-detail d-flex justify-content-between px-4 py-3">
            <div class="d-flex align-items-center">
              <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
              <shared-dropdown-actions></shared-dropdown-actions>
            </div>
            <button class="btn btn-default btn-outline" (click)="onSliderClosed()">Đóng
              <i class="fa fa-times ml-1"></i>
            </button>
          </div>
        </ng-template>

        <ng-container *ngIf="creatingNewContacts; else detailContacts;">
          <etelecom-cs-create-contacts-form (createContacts)="getContacts()"></etelecom-cs-create-contacts-form>
        </ng-container>
        <ng-template #detailContacts>
          <ng-container *ngIf="showDetailContacts">
            <etelecom-cs-contact-detail [contact]="selectedContacts"></etelecom-cs-contact-detail>
          </ng-container>
        </ng-template>
      </etop-side-slider>
    </div>
  </div>
</div>


