<ion-header>
  <ion-toolbar>
    <ion-title>Đăng bài viết</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="!loading">
    <div class="empty-state h-100" *ngIf="!pages?.length">
      <img src="assets/imgs/FB_gray.png" alt="fb" class="fb-logo">
      <ion-text class="empty-text">
        Cửa hàng của bạn chưa có Fanpage nào được kết nối.
      </ion-text>
      <ion-text color="primary" style="padding-bottom: 0.5rem">Kết nối Fanpage</ion-text>
      <img src="assets/imgs/connect-fb.png" alt="facebook-connect" width="180px" (click)="fbConnect()">
    </div>
  </ng-container>
  <div *ngIf="pages?.length">
    <ion-item>
      <ion-label>Chọn Fanpage</ion-label>
      <ion-select class ="select" ok-text="Chọn" cancel-text="Đóng"  [(ngModel)]="slected_page_id">
        <ion-select-option value="{{page.external_id}}" *ngFor="let page of pages">{{page.external_name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div>
      <ion-list class="ion-padding-end">
        <ion-item>
          <ion-label position="floating">Nội dung bài viết(*)</ion-label>
          <ion-textarea type="text" class="input-text" [(ngModel)]="content"></ion-textarea>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="pages?.length">
  <div class="footer-buttons ion-flex">
    <button class="w-100 bg-primary text-white footer-button-item"  (click)="createFbPost()"> Đăng bài </button>
  </div>
</ion-footer>
