ion-button {
  font-size: 0.8rem;
  border-radius: 5px !important;
  height: 1.5rem;
  margin: 0;
}

ion-footer {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.empty-button{
  background: var(--ion-color-primary);
  padding: 10px 45px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
}

.fp-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.1rem;
}

.item {
  padding: 0.75rem 1rem;
  border-bottom: 0.045em solid rgba(0, 0, 0, .12);
}

.avatar {
  position: relative;
  width: 40px;
  height: 40px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
  }
  .lost-connect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #fff;
    z-index: 1000;
    ion-icon {
      font-size: 1.5rem;
    }
  }
}

.fabo-status {
  display: flex;
  align-items: center;
}

.remove-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ion-icon {
    font-size: 1.4rem;
  }
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .btn-connect {
    width: 50%;
    border-radius: 5px !important;
    background: var(--ion-color-primary);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}

.fb-logo {
  width: 60px;
  display: block;
  opacity: 0.4;
  margin-bottom: 2rem;
}

.empty-text {
  color: #666;
  width: 70%;
  text-align: center;
  margin-bottom: 1rem;
}

.btn-footer {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.btn-connect-more {
  background: var(--ion-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
 padding: 1rem 1.5rem;
}
.input{
  margin-top:1.5rem;
}

.input-text{
  border-radius: 1px;
  border-color: var(--ion-color-primary);
}
ion-alert
{
  --background: red !important;
}
