<div class="page-content no-print pb-0">
  <div class="page-wrapper">
    <etop-table
      #fulfillmentTable
      [items]="fulfillmentList"
      (requestNewPage)="loadPage($event)" [width]="'40%'"
      [show_paging]="fulfillmentList.length > 0 && showPaging">
      <ng-template #header let-liteMode="liteMode">
        <div class="col" style="width: 20rem;">
          <span class="table-header-text">Mã giao hàng</span>
        </div>
        <div *ngIf="!liteMode" class="col">
          <span class="table-header-text">Số điểm giao</span>
        </div>
        <div class="col">
          <span class="table-header-text">Trạng thái toàn trình</span>
        </div>
        <div class="col">
          <span class="table-header-text">Trạng thái điểm giao</span>
        </div>
        <div class="col text-left">
          <span class="table-header-text">COD</span>
        </div>
        <div *ngIf="!liteMode" class="col text-left">
          <span class="table-header-text">Phí vận chuyển</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <img class="blank-img" src="assets/images/icon_ffm.png" alt="empty list"/>
          <div class="blank-content">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-ffm="item" let-liteMode="liteMode">
        <div
          movecrop-fulfillment-row class="row table-row" [class.active]="ffm?.p_data?.detailed"
          [fulfillment]="ffm" [liteMode]="liteMode" (click)="detail($event, ffm)">
        </div>
      </ng-template>
    </etop-table>
    <etop-side-slider #slider [width]="'60%'">
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
            <div class="tabs-container">
              <ng-container *ngFor="let tab of tabs">
                <div
                  class="tab" [class.active]="activeTab == tab?.value"
                  (click)="changeTab(tab?.value)">
                  {{ tab?.name }}
                </div>
              </ng-container>
            </div>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">Đóng
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>

      <movecrop-single-ffm-detail
        *ngIf="selectedFfms?.length"
        [ffm]="selectedFfms[0]" [activeTab]="activeTab" (viewRoutes)="changeTab('shipnow_route')">
      </movecrop-single-ffm-detail>

    </etop-side-slider>
  </div>
</div>
