<div class="empty-state" *ngIf="gettingServices; else loaded;">
  <div class="ion-text-center w-100">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>
</div>
<ng-template #loaded>
  <div class="shipment-services-wrapper">
    <div class="shipment-services-header">
      {{headerTitle}}
    </div>
    <div class="shipment-services-body" *ngIf="isEnoughData">
      <div class="carriers-list">
        <div class="carrier-item" *ngFor="let carrier of carriers">
          <div class="carrier-logo">
            <img src="{{carrier?.logo}}" alt="">
          </div>
          <div class="services-list" *ngIf="carrier?.services?.length; else notAvailable;">
            <div class="service-item" *ngFor="let service of carrier?.services" (click)="selectService(service)">
              <div class="service-info">
                <ion-checkbox mode="md" class="custom-checkbox" color="primary" [checked]="isSelectedService(service)"></ion-checkbox>
                <div class="name-and-fee">
                  <span class="service-name">{{service?.name}}</span>
                  <span class="service-fee">{{service?.fee | vnd}}đ</span>
                </div>
              </div>
              <div class="service-estimated-time">
                <span class="pickup">Lấy trước {{(service?.estimated_pickup_at | date: 'HH:mm dd/MM') || '--'}}</span>
                <span class="delivery">Giao {{(service?.estimated_delivery_at | date: 'dd/MM') || '--'}}</span>
              </div>
            </div>
          </div>
          <ng-template #notAvailable>
            <div>Không khả dụng</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="error" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</ng-template>
