.items-list-row {
  padding: 0.7rem 1rem;
  border-top: 0.6rem solid #f5f5f5;
}

.line {
  display: flex;
  justify-content: space-between;
}

.status {
  &.S {
    color: var(--topship-color);
  }

  &.P {
    color: var(--ion-color-success);
  }

  &.N {
    color: var(--ion-color-danger);
  }

  &.Z {
    color: var(--ion-color-warning);
  }

  &.NS {
    color: var(--ion-color-tertiary);
  }
}
.text-size-large {
  font-size: 1.1rem;
}
.text-size-small {
  font-size: 0.9rem;
}
.text-color-grey {
  color:#999999;
}
