<ion-header>
  <ion-toolbar>
    <ion-title>Danh sách đối soát</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="(moneyTransactions$ | async).length; else noTransation">
    <div class="items-list-row" *ngFor="let transaction of (moneyTransactions$ | async)">
      <div class="box" (click)="transactionDetail(transaction)">
        <div class="ion-flex ion-align-items-center">
          <div class="ion-align-items-center w-100">
            <div class="line">
              <ion-text class=" text-size-small" ><strong>{{transaction.code}}</strong></ion-text>
              <ion-text class="ion-text-right text-size-small">
                {{transaction.created_at | date: "dd/MM/yyyy"}}
              </ion-text>
            </div>
            <div class="line">
              <ion-text>
                <strong class="status {{transaction.status}}">{{transaction.status_display | uppercase}}</strong>
              </ion-text>
            </div>
            <div class="line">
              <ion-text class=" text-size-large">{{transaction.total_orders}}</ion-text>
              <ion-text class="ion-text-right  text-size-large">{{transaction.total_amount | vnd}}đ</ion-text>
            </div>
            <div class="line text-color-grey">
              <ion-text>Tổng đơn</ion-text>
              <ion-text>Tiền thu hộ đã cấn trừ</ion-text>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noTransation>
    <div class="empty-state ion-text-center h-100 ion-flex ion-align-items-center" *ngIf="(moneyTransactions$ | async)?.length == 0">
      <div class="ion-text-center w-100" *ngIf="(loading$ | async)">
        <div class="items-list-row" style="padding: 0" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
          <etop-ion-skeleton></etop-ion-skeleton>
        </div>
      </div>
      <ion-text class="w-100" *ngIf="(moneyTransactions$ | async)?.length == 0 && !(loading$ | async)">
        Chưa có phiên đối soát.
      </ion-text>
    </div>
  </ng-template>
  <ion-infinite-scroll  position="bottom" threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="circles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
