<ion-header>
  <ion-toolbar>
    <ion-title>Tài khoản</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button text=""></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<shop-subscription-warning></shop-subscription-warning>
<ion-content>
  <div class="ion-padding box" (click)="page('profile')">
    <ion-gird>
      <ion-row class="ion-align-self-center">
        <ion-col size="3">
          <ion-avatar class="ion-margin-end">
            <img style="border: 1px solid #eee;" [src]="account.image_url || 'assets/images/placeholder_2.png'">
          </ion-avatar>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-label>
            <h2>{{user?.full_name}}</h2>
            <p>{{account?.name}}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-gird>
  </div>
  <div class="list-item box ion-margin-top">
    <div class="item ion-flex" *ngFor="let item of listItems" (click)="page(item.link)">
      <ion-icon [name]="item.icon" class="item-icon"></ion-icon>
      <ion-text>{{item.title}}</ion-text>
      <ion-icon class="ml-auto ion-align-self-center" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
