  <div class="page-content">
    <div class="product-name">{{product?.name}}</div>
    <div class="variant-list">
      <div *ngFor="let variant of product?.variants; let i = index;" class="variant-item"
        (click)="selectVariant(variant)">
        <div class="variant-info">
          <div class="variant-attributes">{{variantDisplayAttributes(variant)}}</div>
          <div class="variant-sku">
            <span>{{variant?.code}} -</span> <span>Tồn: {{variant?.inventory_variant?.quantity || 0}}</span>
          </div>
        </div>
        <div class="variant-price">{{variant?.retail_price | vnd}}đ</div>
        <div class="select-icon" [class.selected]="variant?.p_data?.selected">
          <ion-icon name="radio-button-off" *ngIf="!variant?.p_data?.selected"></ion-icon>
          <ion-icon name="checkmark-circle" *ngIf="variant?.p_data?.selected"></ion-icon>
        </div>
      </div>
    </div>
    <ion-icon name="close" class="close-icon" (click)="dismiss()"></ion-icon>
  </div>
