<ion-header>
  <ion-toolbar>
    <ion-title>Khai báo mẫu mã</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="chevron-back-outline" (click)="back()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="page-content">
    <div class="box-detail" *ngFor="let variant of variants.controls; let i = index" [formGroup]="variant">
      <div class="header ion-flex ion-justify-content-between ion-margin-horizontal ion-padding-top">
        <ion-text class="font-bold">Mẫu mã {{i + 1}}</ion-text>
        <ion-icon class="ion-color-light" name="trash-outline" color="medium" style="font-size: 1.3rem"
          (click)="removeVariant(i)"></ion-icon>
      </div>
      <ion-grid class="ion-padding-horizontal">
        <ion-row>
          <ion-col size="6">
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Mã mẫu mã</ion-label>
              <ion-input formControlName="code"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Giá</ion-label>
              <ion-input formControlName="retail_price"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ng-container>
          <ion-row>
            <ion-col size="6" *ngFor="let attribute of variant.controls['attributes'].controls; let i = index" [formGroup]="attribute">
              <ion-item class="ion-no-padding">
                <ion-label position="floating">{{attribute.value.name}}</ion-label>
                <ion-input formControlName="value"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ng-container>


      </ion-grid>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper" (click)="submit()">
  <ion-toolbar color="primary" class="no-padding">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Tiếp tục
      </button>
    </div>
  </ion-toolbar>
</ion-footer>