.btn-footer {
  border: 1px solid var(--ion-color-topship);;
  border-radius: 5px;
  color: var(--ion-color-topship);
}

.btn-connect-more {
  background: var(--ion-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-address {
  height: 100%;
  background: #eee;
}

.address-item {
  padding: .75rem 1.5rem;
  border-bottom: 1px solid #f5f5f5;
  background: white;
  width: 100%;

  &:first-child {
    border-top: 1px solid #f5f5f5;
  }
}

ion-toggle {
  zoom: 0.7;
  &.toggle-disabled {
    opacity: 0.9;
  }
}

.item-interactive-disabled.sc-ion-label-ios-h:not(.item-multiple-inputs),
.item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-ios-h {
  opacity: 1;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

etop-empty::ng-deep {
  margin: auto;
}
