<div class="page-content pb-0">
  <div class="page-wrapper">
    <etop-table
      #transactionTable
      [items]="mtShopsList$ | async"
      (requestNewPage)="loadPage($event)"
      [show_paging]="(mtShopsList$ | async)?.length > 0 && showPaging">
      <ng-template #header let-liteMode="liteMode">
        <div class="col" style="max-width: 50px;">
          <input class="input-custom invisible" type="checkbox">
        </div>
        <div class="col">
          <span class="table-header-text">Mã phiên</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Trạng thái</span>
        </div>
        <div class="col">
          <span class="table-header-text">Shop</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Số đơn giao hàng</span>
        </div>
        <div class="col" *ngIf="!liteMode">
          <span class="table-header-text">Thu hộ</span>
        </div>
        <div class="col">
          <span class="table-header-text">Còn lại</span>
        </div>
      </ng-template>

      <ng-template #emptyItem>
        <div class="blank-page">
          <img class="blank-img" src="assets/images/admin/icon_transaction.png" alt="empty list">
          <div class="info">
            <div class="text-bigger text-bold text-center m-2">
              {{emptyTitle}}
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #item let-mt="item" let-liteMode="liteMode">
        <div
          class="row table-row" admin-mt-shop-row
          [class.active]="isActiveMt(mt)"
          [transaction]="mt" [liteMode]="liteMode">
          <div class="col align-self-center" style="max-width: 50px;">
            <input
              class="input-custom"
              [class.invisible]="mt?.status != 'Z' || mt?.money_transaction_shipping_etop_id || noPermission"
              type="checkbox" [checked]="isActiveMt(mt)"
              (click)="itemSelected(mt)">
          </div>
        </div>
      </ng-template>
    </etop-table>
    <etop-side-slider #slider>
      <ng-template #customHeader>
        <div class="header-detail d-flex justify-content-between px-4 py-3">
          <div class="d-flex align-items-center">
            <div *ngIf="onCreateMtTransfer" class="close-slide mr-2" (click)="onCreateMtTransfer = false;">
              <i class="fa fa-chevron-left" style="left: 47%; top: 53%;" aria-hidden="true"></i>
            </div>
            <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
          </div>
          <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
            Đóng<mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>
      <admin-multi-mt-shops-action
        *ngIf="(activeMtShops$ | async)?.length && !onCreateMtTransfer"
        (toCreateMtTransfer)="onCreateMtTransfer = true">
      </admin-multi-mt-shops-action>
      <admin-mt-transfer-create *ngIf="onCreateMtTransfer"></admin-mt-transfer-create>
    </etop-side-slider>
  </div>
</div>
