<div class="total" *ngIf="!promotionTable.loading">
  <div class="total-section">
    <div class="total-item">
      <mat-radio-group color="primary" [(ngModel)]="filterConnectionId" (ngModelChange)="filterByConnectionId()">
        <mat-radio-button *ngFor="let conn of filterConnections" [value]="conn?.id" disableRipple>
          {{conn?.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<div class="page-container">
  <div class="page-content pb-0">
    <div class="page-wrapper">
      <etop-table
        #promotionTable
        [items]="promotionsList$ | async" [show_paging]="showPaging"
        (requestNewPage)="loadPage($event)">
        <ng-template #header let-liteMode="liteMode">
          <div class="col" style="max-width: 100px;">
            <span class="table-header-text">Ưu tiên</span>
          </div>
          <div class="col">
            <span class="table-header-text">Tên</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Ngày tạo</span>
          </div>
          <div class="col">
            <span class="table-header-text">NVC</span>
          </div>
          <div class="col">
            <span class="table-header-text">Bảng giá</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Mô tả</span>
          </div>
          <div class="col" *ngIf="!liteMode">
            <span class="table-header-text">Trạng thái</span>
          </div>
        </ng-template>

        <ng-template #emptyItem>
          <div class="blank-page">
            <img class="blank-img" src="assets/images/admin/icon_setting_shipment.png" alt="empty list" />
            <div class="info">
              <div class="text-bigger text-bold text-center m-2">
                {{emptyTitle}}
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #item let-promotion="item" let-liteMode="liteMode" let-index="index">
          <div
            class="row table-row" admin-promotion-row
            [class.active]="(activePromotion$ | async)?.id == promotion?.id"
            [index]="index" [promotion]="promotion" [liteMode]="liteMode"
            (click)="detail(promotion)">
          </div>
        </ng-template>
      </etop-table>

      <etop-side-slider #promotionSlider>
        <ng-template #customHeader>
          <div class="header-detail d-flex justify-content-between px-4 py-3">
            <div class="d-flex align-items-center">
              <span class="title" [innerHTML]="sliderTitle | safeHtml"></span>
              <shared-dropdown-actions
                *ngIf="!onNewPromotion" [dropdownActions]="dropdownActions">
              </shared-dropdown-actions>
            </div>
            <button class="btn btn-default btn-outline" (click)="onSliderClosed()">
              Đóng<mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>
        <ng-container *ngIf="onNewPromotion; else editShipmentService;">
          <admin-create-promotion-form></admin-create-promotion-form>
        </ng-container>
        <ng-template #editShipmentService>
          <admin-edit-promotion-form *ngIf="(activePromotion$ | async)"></admin-edit-promotion-form>
        </ng-template>
      </etop-side-slider>
    </div>
  </div>
</div>
