<ng-container *ngIf="!customerInitializing">
  <div [formGroup]="customerForm">
    <div class="py-3">
      <div class="d-flex align-items-center" style="position: relative">
        <etop-material-input style="width: 100%"
          textLabel="Số điện thoại(*)" appearance="standard" type="input"
          formControlName="phone" (blur)="getCustomerReturnRate()">
        </etop-material-input>
        <div *ngIf="customerReturnRating && !customerReturnError" class="risk-warning d-flex justify-content-center align-items-center cursor-pointer" [ngStyle]="{'background-color': customerReturnRating.color}" (click)="hideWaring()">
          <span class="material-icons" style="margin-left: 1rem;font-size: 1rem">{{customerReturnRating.icon}}</span>
          <div class="font-weight-bold" style="padding-left: 0.2rem;font-size: 6px; margin-top: 2px">{{customerReturnRating.level}}</div>
          <div class="font-weight-bold" style="padding-left: 0.2rem;font-size: 6px; margin-top: 2px">({{customerReturnRating.rate}}%)</div>
          <span class="material-icons ml-auto" style="margin-right: 0.5rem;font-size: 2rem">keyboard_arrow_right</span>
        </div>
        <div *ngIf="customerReturnError" style="background: rgba(0, 0, 0, 0.03);" class="risk-warning d-flex justify-content-center align-items-center cursor-pointer" (click)="hideWaring()">
          <div class="font-weight-bold" style="color: red;font-size: 8px;padding-left: 1rem">Không xác định</div>
          <span class="material-icons ml-auto" style="color: red;font-size: 2rem">keyboard_arrow_right</span>
        </div>
      </div>
      <div *ngIf="dropDown" class="dropdown w-120 dropdown-content" id="dropdowm-address">
        <div *ngFor="let address of customerAddresses$ | async" (click)="activeCustomerAddress(address)" (blur)="hideDropDown()"  class ="d-flex flex-row mb-3 dropdown-item cursor-pointer">
          <div>
            <div class="align-items-center">
              {{address.full_name}} - <strong>{{address.phone}}</strong>
            </div>
            <div class="align-items-center" style="font-size: 0.8rem;white-space: pre-line">
              {{address | addressDisplay}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-3">
      <etop-material-input
        textLabel="Tên khách hàng(*)" appearance="standard" type="input"
        formControlName="full_name">
      </etop-material-input>
    </div>
    <div class="py-3">
      <etop-material-input placeholder="Tên đường, số nhà" appearance="standard"
                           textLabel="Nhập địa chỉ" formControlName="address1" type="input">
      </etop-material-input>
    </div>
    <div class="py-3">
      <etop-material-input-autocomplete
        placeholder="Tỉnh/Thành phố" textLabel="Chọn tỉnh/thành phố"  appearance="standard"
        [options]="provinces" [displayMap]="displayMap" [valueMap]="valueMap" formControlName="province_code">
      </etop-material-input-autocomplete>
    </div>
    <div class="d-flex align-items-center">
      <div class="py-3 pr-4 w-50">
        <etop-material-input-autocomplete
          placeholder="Quận/Huyện" appearance="standard" textLabel="Chọn quận/huyện"
          [options]="districts" [displayMap]="displayMap" [valueMap]="valueMap" formControlName="district_code">
        </etop-material-input-autocomplete>
      </div>
      <div class="py-3 w-50">
        <etop-material-input-autocomplete
          placeholder="Phường/Xã" appearance="standard" textLabel="Chọn phường/xã"
          [options]="wards" [displayMap]="displayMap" [valueMap]="valueMap" formControlName="ward_code">
        </etop-material-input-autocomplete>
      </div>
    </div>
  </div>
</ng-container>


