<div class="input-wrapper position-relative">
  <input *ngIf="show_input" type="number" min="{{min}}" max="{{max}}" #input
    class="form-control currency-input font-weight-bold text-right text-warning {{classInner}}" name="input"
    [(ngModel)]="_value" (blur)="onBlur()" (keypress)="numberOnly($event)">
  <div class="showInput form-control font-weight-bold {{classInner}}"
    [ngClass]="{'text-left': align == 'left', 'invalid': invalid_input || errorCOD}"
    *ngIf="!show_input && (_value || _value === 0); else notValue" (click)="showEdit($event)">
    <span *ngIf="isDiscount">-</span>{{_value | vnd}}<span *ngIf="posfixText">{{posfixText}}</span>
  </div>
  <ng-template #notValue>
    <div class="showInput form-control placeholder text-warning {{classInner}}" (click)="showEdit($event)"
      [hidden]="show_input"
      [class.text-left]="align === 'left'">
      {{placeholder}}
    </div>
  </ng-template>
</div>
