.showInput {
  text-align: right;

  &.text-left {
    justify-content: flex-start;
  }

  &.placeholder {
    color: #999 !important;
    font-weight: normal;
  }
}

.invalid {
  border-bottom: 2px solid red !important;
  color: red !important;
  box-shadow: none;
}

.form-control {
  border-radius: 0;
  height: 14px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 70px;
  background: transparent;
  border-bottom: 2px solid var(--warning-color);
  color: var(--warning-color);

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media (max-width: 767px) {

  input,
  select,
  .showInput {
    font-size: 10px !important;
    height: unset !important;
  }

}
