th {
    font-weight: 400;
    padding: 7px 15px;
    border-bottom: 1px solid var(--border-gray-color);
    border-top: 1px solid var(--border-gray-color);
}

td {
    padding: 10px 15px;
}

tr {
    border-bottom: 1px solid var(--border-gray-color);
}

thead {
    background: rgba(0, 0, 0, 0.01);
}

.box-content {
    border-top: 1rem solid rgba(0, 0, 0, 0.04);
}