<div class="content">
    <div class="product-info p-3">
        <div class="d-flex position-relative">
            <div class="w-100">
                <div class="row">
                    <div class="input-item col-12">
                        <etop-material-input textLabel="Mã hóa đơn" type="custom">
                            <span class="read-only">{{(activeInvoice$ | async)?.id || '-'}}</span>
                        </etop-material-input>
                    </div>
                    <div class="input-item col-12">
                        <etop-material-input textLabel="Ngày tạo" type="custom">
                            <span class="read-only">{{(activeInvoice$ | async)?.created_at | date:'dd/MM/yyyy' || '-'}}</span>
                        </etop-material-input>
                    </div>
                    <div class="input-item col-12">
                        <etop-material-input textLabel="Nội dung" type="custom">
                            <div class="read-only">{{(activeInvoice$ | async)?.description || '-'}}</div>
                            <div class="read-only description-text">
                                {{(activeInvoice$ | async)?.referral_info?.name}} - {{(activeInvoice$ | async)?.referral_info?.price | vnd}}
                                <span *ngIf="(activeInvoice$ | async)?.referral_info?.price">đ</span>
                            </div>
                        </etop-material-input>
                    </div>
                    <div class="input-item col-12">
                        <etop-material-input textLabel="Loại" type="custom">
                            <span class="read-only">{{(activeInvoice$ | async)?.type_display || '-'}}</span>
                        </etop-material-input>
                    </div>
                    <div class="input-item col-12">
                        <etop-material-input textLabel="Loại tham chiếu" type="custom">
                            <span class="read-only">{{(activeInvoice$ | async)?.referral_type_display || '-'}}</span>
                        </etop-material-input>
                    </div>
                    <div class="input-item col-12">
                        <etop-material-input textLabel="Trạng thái" type="custom">
                            <span class="read-only status status-{{(activeInvoice$ | async)?.status}}">{{(activeInvoice$ | async)?.status_display || '-'}}</span>
                        </etop-material-input>
                    </div>
                    <div class="input-item col-12">
                        <etop-material-input textLabel="Số tiền" type="custom">
                            <span *ngIf="(activeInvoice$ | async)?.total_amount" class="read-only {{(activeInvoice$ | async)?.type == invoiceType.in? 'text-primary' :''}}">{{(activeInvoice$ | async)?.total_amount | vnd}}đ</span>
                            <span *ngIf="!(activeInvoice$ | async)?.total_amount" class="read-only">-</span>
                        </etop-material-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="box-content">
            <div class="label px-4 py-3 font-weight-bold">Nội dung thanh toán</div>
            <ng-container *ngIf="loading">
                <div class="empty">
                    <i class="fa fa-spin fa-circle-o-notch text-primary" style="font-size: 1.25rem;"></i>
                </div>
            </ng-container>
            <ng-container *ngIf="!loading">
            <div class="table-responsive" *ngIf="paymentInfoList?.length; else empty">
                <table class="w-100">
                    <thead>
                        <th class="font-weight-bold">#</th>
                        <th class="font-weight-bold">Nội dung</th>
                        <th class="font-weight-bold">Giá trị</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paymentInfo of paymentInfoList;">
                            <td>
                                <span>{{paymentInfo?.index}}</span>
                            </td>
                            <td>
                                <div>{{paymentInfo.content}}</div>
                            </td>
                            <td>
                                <div class="{{(activeInvoice$ | async)?.type == invoiceType.in? 'text-primary' :''}}">{{ paymentInfo?.value | vnd}}đ</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #empty>
                <div class="empty">Chưa có hoạt động thanh toán nào.</div>
            </ng-template>
            </ng-container>
        </div>
</div>