
<ion-content class="modal-content border-0" >
  <ion-header class="header" >
    <ion-text class="modal-title">Gỡ kết nối nhà vận chuyển</ion-text>
  </ion-header>
  <div class="modal-body">
    <div class="selected-carrier-item ion-flex ion-align-items-center ion-padding">
      <img class="selected-carrier-img" src="{{connection?.provider_logo }}" alt="" />
      <div class="selected-info font-14">
        Bạn có chắc muốn gỡ kết nối với <strong>{{connection?.name | uppercase}}</strong>?
      </div>
    </div>
  </div>
  <div class="modal-footer ion-padding">
    <div class="button-wrapper w-100 ion-flex ion-justify-content-between">
      <button [disabled]="loading" class="btn btn-default btn-outline ion-margin-end" (click)="close()"> Đóng</button>
      <button [disabled]="loading" class="btn btn-topship  ml-1" (click)="deleteShopConnection()">
        <i class="fa fa-spin fa-circle-o-notch font-12" *ngIf="loading"></i>
        <ion-spinner size="small" name="lines-small" class="text-white" style="font-size: .5rem!important" *ngIf="loading"></ion-spinner>
        &nbsp;Gỡ kết nối
      </button>
    </div>
  </div>
</ion-content>
