.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--ion-color-light-shade);
  .modal-title {
    font-weight: 700;
    line-height: 1.5;
  }
}

.button-wrapper {
  font-size: 12px;
  button {
    flex-grow: 1;
  }
}

.modal-footer {
  padding: 1rem;
  border-top: 1px solid var(--ion-color-medium-tint);
}
.selected-carrier-item {
  flex-direction: column;
  .selected-carrier-img {
    width: 100px;
  }
}


