<div class="main-wrapper" *ngIf="allowCreate; else notAllowed;">
  <div class="left-part">
    <div class="d-flex align-items-center px-3" style="height: 60px;">
      <span class="back-icon mr-3" (click)="gotoPurchaseOrders()">
        <i class="fa fa-angle-left mr-2"></i>
        Xem đơn nhập hàng
      </span>
      <div class="flex-grow-1">
        <shop-search-variants (variantSearched)="onVariantSearched($event)"></shop-search-variants>
      </div>
    </div>
    <shop-purchase-order-products #purchaseOrderProducts [variants]="search_variant_list"></shop-purchase-order-products>
  </div>
  <div class="right-part">
    <shop-purchase-order-info-create></shop-purchase-order-info-create>
  </div>
</div>
<ng-template #notAllowed>
  <etop-not-permission></etop-not-permission>
</ng-template>
