<div class="modal-header">
  <h5 class="modal-title">Thêm cửa hàng</h5>
  <button class="close" (click)="closeModal()">
    <span class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <shop-create-shop-form
    #createShopForm (shippingPolicyAccepted)="shippingPolicyAccepted = $event"
    [shop]="shop" [redirect]="false">
  </shop-create-shop-form>
</div>
<div class="modal-footer">
  <button class="btn btn-outline btn-default mr-2" (click)="closeModal()">Đóng</button>
  <button class="btn btn-primary text-white" (click)="createShop()" [disabled]="loading || !shippingPolicyAccepted">
    <mat-spinner *ngIf="loading" class="mr-2" diameter="14"></mat-spinner>
    Xác nhận
  </button>
</div>
