:host {
  min-width: 500px;
  width: 500px;
}

.pos-form {
  height: 100%;
  border-left: 1px solid var(--border-gray-color);
  box-shadow: 2px 11px 15px 0 rgba(0, 0, 0, 0.11);
}

.pos-form-content {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10rem;
}

.suggest {
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  position: absolute;
  width: calc(100% - 25px);
  z-index: 99;
  background-color: var(--white-color);
  top: 45px;
}

.customer-line {
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-top: 1px solid var(--gray-color);
  &:hover {
    background-color: var(--gray-color);
    color: var(--primary-color);
  }
  &:first-child {
    border-radius: 5px 5px 0 0 ;
  }
}

.expand {
  cursor: pointer;
  background-color: rgba(var(--lighter-gray-color), 0.5);
}

::ng-deep .mat-datepicker-toggle button:focus {
  outline: none !important;
  background-color: none !important;
}

.custom-select-mat ::ng-deep {
  .mat-select-value {
    text-align: right !important;
    padding-right: 5px;
    font-weight: bold;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0 !important;
  }

  .mat-select-arrow {
    border: none !important;
  }

  .mat-form-field-underline {
    .mat-form-field-ripple {
      display: none !important;
    }

    color: var(--white-color) !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}

select {
  border: none;
}

.create-order {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 1px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--primary-color);
  &.disabled {
    opacity: .7;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  border-left: 1px solid var(--border-gray-color);
  border-top: 1px solid var(--border-gray-color);
}

.print-section {
  width: 100%;
  padding: 1rem;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-gray-color);
  .fa-print {
    font-size: 1.25rem;
  }
}

.dropdown-menu {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
  border: 1px solid #fafafa;
  border-radius: 5px;
  margin: 0 !important;
  padding: 0;
  .dropdown-item {
    padding: .8rem 1.25rem;
    outline: 0 !important;
    border-bottom: 1px solid var(--border-gray-color);
    &:active {
      background: initial;
    }
    &:first-child {
      border-radius: .25rem .25rem 0 0;
    }
    &:last-child {
      border-radius: 0 0 .25rem .25rem;
      border-bottom: none;
    }
  }
}
