<div class="pos-form bg-white">
  <div class="pos-form-content h-100">
    <shop-pos-customer
      *ePermissions="['shop/customer:view', 'shop/fulfillment:create']" [order]="order"
      (updateOrder)="updateNewOrder()">
    </shop-pos-customer>
    <shop-pos-order-info
            *ePermissions="['shop/order:create', 'shop/fulfillment:create']" [order]="order"
            (updateOrder)="updateNewOrder()" (toggle)="onToggle($event)">
    </shop-pos-order-info>
    <div class="d-flex e-border-bottom bg-white" *ngIf="!orderToggle">
      <div class="p-3 flex-grow-1">Tạm tính</div>
      <div class="p-3 bd-highlight">
        <span class="input-pos font-weight-bold text-right">{{order?.basket_value | vnd}}đ</span>
      </div>
    </div>
    <div *ePermissions="['shop/fulfillment:create']" class="pos-line">
      <div class="d-flex align-items-center card-header-item bg-topship">
        <div class="flex-grow-1 font-weight-bold text-white header-title">GIAO HÀNG
        </div>
        <span class="pr-2 text-white">Bật để tạo đơn giao hàng</span>
        <span class="topship-toggle">
          <label class="switch mb-0">
            <input type="checkbox" (click)="toggleSwitch()" [checked]="to_create_ffm">
            <span class="slider-toggle round"></span>
          </label>
        </span>
      </div>
      <shop-delivery></shop-delivery>
    </div>
  </div>
</div>
<div class="buttons">
  <div class="d-flex p-3">
    <ng-container *ngIf="!to_create_ffm; else creatingFFM;">
  <!--NOTE: just temporary for a short time, will uncomment and set width of Confirm button to 65% soon -->
  <!--      <button-->
  <!--        *ePermissions="['shop/order:create']"-->
  <!--        class="btn btn-outline btn-primary" style="width: 35%;"-->
  <!--        [disabled]="loading" (click)="create(false)">-->
  <!--        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && !createAndConfirm"></i>-->
  <!--        Đặt hàng-->
  <!--      </button>-->
      <button
        *ePermissions="['shop/fulfillment:create']"
        class="btn btn-primary" style="width: 100%;"
        [disabled]="loading" (click)="create(true)">
        <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading && createAndConfirm"></i>
        Tạo hoá đơn
      </button>
    </ng-container>
    <ng-template #creatingFFM>
      <button
        *ePermissions="['shop/fulfillment:create']"
        class="btn btn-topship text-white" style="width: 100%;"
        [disabled]="loading" (click)="createOrderWithFFM()">
        <i class="fa fa-spin fa-circle-o-notch text-white" *ngIf="loading"></i>
        Tạo hoá đơn và giao hàng
      </button>
    </ng-template>
  </div>
  <div class="print-section">
    <div class="print-types">
      <span class="text-default">
        <i class="fa fa-print text-default"></i> In:
      </span>
      <span class="text-primary cursor-pointer" data-toggle="dropdown">
        {{print_type?.display}}
        <i class="fa fa-angle-down text-primary"></i>
      </span>
      <div class="dropdown-menu">
        <button
          *ngFor="let pt of print_types" (click)="selectPrintType(pt)"
          class="dropdown-item" [class.unclickable]="isDisabledPrintType(pt?.type)">
          {{pt?.display}}
        </button>
      </div>
    </div>
    <div class="print-toggle">
      <span class="pr-2 text-default">Bật để in</span>
      <span>
        <label class="switch mb-0">
          <input type="checkbox" (click)="togglePrint()" [checked]="to_print">
          <span class="slider-toggle round"></span>
        </label>
      </span>
    </div>
  </div>
</div>
