<div class="slider-detail-section">
    <div class="slider-detail-info-title">
        <i class="fa fa-circle text-primary smaller-font mr-2"></i> CHỌN USER
    </div>
    <div class="row">
        <div class="col-4 py-2 pr-0">
            <etop-material-nofilter-input-autocomplete placeholder="Nhập tên hoặc mã" textLabel="Tìm theo tên hoặc mã" [options]="users" [displayMap]="nameDisplayMap" [valueMap]="valueMap" (searching)="onUserSearch('name', $event)" [(ngModel)]="userId" (ngModelChange)="onUserSelect()">
            </etop-material-nofilter-input-autocomplete>
        </div>
        <div class="col-4 py-2 pr-0">
            <etop-material-nofilter-input-autocomplete placeholder="Nhập số điện thoại" textLabel="Tìm theo số điện thoại" [options]="users" [displayMap]="phoneDisplayMap" [valueMap]="valueMap" (searching)="onUserSearch('phone', $event)" [(ngModel)]="userId" (ngModelChange)="onUserSelect()">
            </etop-material-nofilter-input-autocomplete>
        </div>
        <div class="col-4 py-2">
            <etop-material-nofilter-input-autocomplete placeholder="Nhập email" textLabel="Tìm theo email" [options]="users" [displayMap]="emailDisplayMap" [valueMap]="valueMap" (searching)="onUserSearch('email', $event)" [(ngModel)]="userId" (ngModelChange)="onUserSelect()">
            </etop-material-nofilter-input-autocomplete>
        </div>
    </div>
</div>
<div class="slider-detail-section">
    <div class="slider-detail-info-title">
        <i class="fa fa-circle text-primary smaller-font mr-2"></i> CHỌN SHOP
    </div>
    <div class="row">
        <div class="col-4 py-2 pr-0">
            <etop-material-nofilter-input-autocomplete placeholder="Nhập tên" 
            textLabel="Tìm theo tên" [options]="shops" [displayMap]="shopNameDisplayMap" [valueMap]="valueMap" (searching)="onShopSearch('name',$event)" [(ngModel)]="shopId" (ngModelChange)="onShopSelect()">
            </etop-material-nofilter-input-autocomplete>
        </div>
        <div class="col-4 py-2 pr-0">
            <etop-material-nofilter-input-autocomplete placeholder="Nhập mã" 
            textLabel="Tìm theo mã" [options]="shops" [displayMap]="codeDisplayMap" [valueMap]="valueMap" (searching)="onShopSearch('code',$event)" [(ngModel)]="shopId" (ngModelChange)="onShopSelect()">
            </etop-material-nofilter-input-autocomplete>
        </div>
    </div>
</div>
<div class="slider-detail-section">
    <div class="slider-detail-info-title">
        <i class="fa fa-circle text-primary smaller-font mr-2"></i> TẠO TENANT
    </div>
    <div class="row">
        <div class="col-12 py-2">
            <div class="empty" *ngIf="!selectedUser && !selectedShop">
                Vui lòng chọn user hoặc shop
            </div>
            <div class="d-flex align-items-center mb-3" *ngIf="selectedUser && !selectedShop">
                <div class="pl-3 d-flex flex-column justify-content-center">
                    <div class="text-bold">{{selectedUser?.id}} - {{selectedUser?.full_name}}</div>
                    <div class="text-bold text-primary d-flex align-items-center cursor-pointer" 
                    eCallButton="{{selectedUser?.phone}}">
                        {{selectedUser?.phone}}&nbsp;
                        <i class="text-primary fa fa-phone-square upper-medium-font"></i>
                    </div>
                    <div class="lower-medium-font" *ngIf="selectedUser?.email">
                        {{selectedUser?.email}}
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center" *ngIf="selectedShop">
                <div class="pl-3 d-flex flex-column justify-content-center">
                    <div class="text-bold">{{selectedShop?.name}} - {{selectedShop?.code}}</div>
                    <div class="text-bold text-primary d-flex align-items-center cursor-pointer" 
                    eCallButton="{{selectedShop?.phone}}">
                        {{selectedShop?.phone}}&nbsp;
                        <i class="text-primary fa fa-phone-square upper-medium-font"></i>
                    </div>
                    <div class="lower-medium-font" *ngIf="selectedUser?.email">
                        {{selectedShop?.email}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right py-2">
        <button class="btn btn-primary" [disabled]="loading" (click)="createTenantConfirmPopup()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Tạo
    </button>
    </div>
</div>