<ng-container *ngIf="updatable; else unUpdatable;">
  <input *ngIf="!format_money" #input
    pattern="[0-9]*" (keypress)="numberOnly($event)" (blur)="format_money= true; validateLineAmount(line)"
    type="text" [(ngModel)]="line.amount" class="receipt-line-input"
    placeholder="{{'Nhập số tiền muốn ' + receipt_type_display}}">
  <div *ngIf="format_money" class="receipt-line-input" [class.error]="line?.error"
    (click)="format_money = false; focusInput();">
    {{(line?.amount || 0) | vnd}}đ
  </div>
</ng-container>
<ng-template #unUpdatable>
  <div class="text-primary font-weight-bold">
    {{(line?.amount || 0) | vnd}}đ
  </div>
</ng-template>
