.receipt-line-input {
  border-radius: 5px;
  outline: 0;
  border: 1px solid var(--border-gray-color);
  padding: 3px 7px;
  width: 130px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: right;
  &.error {
    color: var(--danger-color);
  }
}
