<ion-header>
  <ion-toolbar>
    <ion-title>Chỉnh sửa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="presentActionSheet()">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content fullscreen>
  <div class="body-content" *ngIf="!initializing">
    <ion-list class="ion-padding-end ion-padding-bottom">
      <ion-item>
        <ion-label position="floating">Tên khách hàng</ion-label>
        <ion-input [(ngModel)]="customer.full_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Số điện thoại</ion-label>
        <ion-input type="tel" [(ngModel)]="customer.phone"></ion-input>
      </ion-item>
    </ion-list>
    <div class="box-detail ion-padding-bottom">
      <div class="ion-flex ion-padding-horizontal ion-padding-top text-medium" (click)="toggleDetail()">
        <span class="mr-auto font-bold">Chi tiết</span>
        <ion-icon name="chevron-{{!show ? 'up' : 'down'}}-outline"></ion-icon>
      </div>
      <ion-list class="ion-padding-end" [ngClass]="{'ion-hide': !show}">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input placeholder="Nhập email" type="email" [(ngModel)]="customer.email"></ion-input>
        </ion-item>
        <icon-item>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-picker-controller></ion-picker-controller>
              <ion-item>
                <ion-label position="floating">Giới tính</ion-label>
                <ion-select ok-text="Chọn" cancel-text="Đóng" [(ngModel)]="customer.gender" placeholder="Chọn giới tính">
                  <ion-select-option value="{{gender.value}}" *ngFor="let gender of genders">{{gender.title}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating">Ngày sinh</ion-label>
                <ion-datetime placeholder="Chọn ngày sinh" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY"
                  [(ngModel)]="customer.birthday">
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </icon-item>
        <ng-container *ngIf="locationLoaded">
          <ion-item>
            <ion-label position="floating">Tỉnh/Thành phố</ion-label>
            <ion-select placeholder="Tỉnh/Thành phố" okText="Chọn" cancelText="Đóng"
              [(ngModel)]="address.province_code"
              (ionChange)="onProvinceSelected()">
              <ion-select-option value="{{province.code}}" *ngFor="let province of provinces">{{province.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Quận/Huyện</ion-label>
            <ion-select placeholder="Quận/Huyện" class="font-13" okText="Chọn" cancelText="Đóng"
              [(ngModel)]="address.district_code"
              (ionChange)="onDistrictSelected()">
              <ion-select-option value="{{district.code}}" *ngFor="let district of districts">{{district.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Phường/Xã</ion-label>
            <ion-select placeholder="Phường/Xã" okText="Chọn" cancelText="Đóng"
              [(ngModel)]="address.ward_code"
              (ionChange)="onWardSelected()">
              <ion-select-option value="{{ward.code}}" *ngFor="let ward of wards">{{ward.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Địa chỉ</ion-label>
            <ion-input placeholder="Địa chỉ" [(ngModel)]="address.address1">
            </ion-input>
          </ion-item>
        </ng-container>
        <ion-item>
          <ion-label position="floating">Ghi chú</ion-label>
          <ion-input placeholder="Nhập ghi chú về khách hàng" [(ngModel)]="customer.note"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ng-container *ngIf="initializing">
    <div class="ion-padding custom-skeleton">
      <h3>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </h3>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <h3>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </h3>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>
    <div class="box-detail  ion-padding custom-skeleton">
      <h3>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </h3>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <h3>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </h3>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <h3>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </h3>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <h3>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </h3>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>
  </ng-container>
</ion-content>
<ng-container *ngIf="!initializing">
  <ion-footer class="footer-button-wrapper">
    <ion-toolbar color="primary" class="no-padding">
      <div class="footer-buttons ion-flex">
        <button class="w-100 bg-primary text-white footer-button-item" (click)="updateCustomer()">
          Cập nhật
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>
