<div class="show-768 header-container">
  <div class='header'>
    <div class='back-button' [class.visible]='canBack' (click)="goBack()"><span class="material-icons">chevron_left</span></div>
    <div class='header-title'>{{header?.name}}</div>
    <div class='header-actions' >
      <ng-container *ngFor='let action of header.actions'>
        <button *ePermissions='action?.permissions' [class.hidden]='action?.isHidden' class='btn btn-primary btn-default btn-action' (click)='action?.handleAction()' >
          {{action?.name}}
        </button>
      </ng-container>
    </div>
  </div>
</div>
