<div class="slider-detail-section" [formGroup]="promotionForm">
  <div class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    THÔNG TIN CƠ BẢN
  </div>
  <div class="row">
    <div class="col-3 py-2">
      <etop-material-input
        textLabel="Nhà vận chuyển" placeholder="Chọn nhà vận chuyển" type="select"
        [optionSelect]="connectionShipmentPriceListsList$ | async" matOptionHeight="4rem"
        [displayMap]="displayMap" [valueMap]="valueMap" formControlName="connection_id">
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input
        textLabel="Bảng giá" placeholder="Chọn bảng giá" type="select"
        [optionSelect]="(activeConnectionShipmentPriceList$ | async)?.shipmentPriceLists"
        [displayMap]="connectionShipmentPriceListDisplayMap" [valueMap]="shipmentPriceListValueMap"
        formControlName="shipment_price_list_id">
      </etop-material-input>
    </div>
    <div class="col-3 py-2">
      <etop-material-input
        type="input" placeholder="Nhập tên" textLabel="Tên"
        formControlName="name">
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input
        type="datetime" placeholder="Chọn ngày bắt đầu" textLabel="Ngày bắt đầu"
        formControlName="date_from">
      </etop-material-input>
    </div>
    <div class="col-6 py-2">
      <etop-material-input
        type="datetime" placeholder="Chọn ngày kết thúc" textLabel="Ngày kết thúc"
        formControlName="date_to">
      </etop-material-input>
    </div>
    <div class="col-12 py-2">
      <etop-material-input
        type="input" placeholder="Nhập mô tả" textLabel="Mô tả"
        formControlName="description">
      </etop-material-input>
    </div>
    <div class="col-12 py-2 d-flex align-items-center">
      <mat-slide-toggle color="primary" formControlName="isTurnedOn" disableRipple>
        {{(activePromotion$ | async)?.status == 'P' ? 'Tắt' : 'Bật'}} bảng giá khuyến mãi
      </mat-slide-toggle>
    </div>
  </div>
</div>

<div class="slider-detail-section" [formGroup]="promotionForm">
  <div class="slider-detail-info-title">
    <i class="fa fa-circle text-primary smaller-font mr-2"></i>
    ĐIỀU KIỆN ÁP DỤNG
  </div>
  <div class="font-italic mb-2">
    *Áp dụng cho những đơn có điểm lấy hàng nằm trong những vùng tự định nghĩa này
  </div>
  <div class="row">
    <div class="col-12">
      <etop-material-chips-autocomplete
        textLabel="Vùng tự định nghĩa" placeholder="Chọn vùng tự định nghĩa"
        [options]="allCustomRegions$ | async"
        [displayMap]="customRegionDisplayMap" [valueMap]="customRegionValueMap"
        formControlName="from_custom_region_ids">
      </etop-material-chips-autocomplete>
    </div>
  </div>
  <div class="font-italic mb-2 mt-3">
    *Áp dụng cho những shop đang sử dụng những bảng giá này
  </div>
  <div class="row">
    <div class="col-12">
      <etop-material-chips-autocomplete
        textLabel="Bảng giá" placeholder="Chọn bảng giá"
        [options]="allShipmentPriceLists$ | async"
        [displayMap]="shipmentPriceListDisplayMap" [valueMap]="shipmentPriceListValueMap"
        formControlName="using_price_list_ids">
      </etop-material-chips-autocomplete>
    </div>
  </div>
  <div class="font-italic mb-2 mt-3">
    *Áp dụng cho những shop có ngày tạo trong khoảng này
  </div>
  <div class="row">
    <div class="col-6">
      <etop-material-input
        textLabel="Từ ngày" placeholder="Chọn ngày" type="datetime"
        formControlName="shop_created_date_from">
      </etop-material-input>
    </div>
    <div class="col-6">
      <etop-material-input
        textLabel="Đến ngày" placeholder="Chọn ngày" type="datetime"
        formControlName="shop_created_date_to">
      </etop-material-input>
    </div>
  </div>
  <div class="font-italic mb-2 mt-3">
    *Áp dụng cho những user có ngày tạo trong khoảng này
  </div>
  <div class="row">
    <div class="col-6">
      <etop-material-input
        textLabel="Từ ngày" placeholder="Chọn ngày" type="datetime"
        formControlName="user_created_date_from">
      </etop-material-input>
    </div>
    <div class="col-6">
      <etop-material-input
        textLabel="Đến ngày" placeholder="Chọn ngày" type="datetime"
        formControlName="user_created_date_to">
      </etop-material-input>
    </div>
  </div>
  <div class="text-right py-3" *ePermissions="['admin/shipment_price_list_promotion:update']">
    <button class="btn btn-primary text-white" [disabled]="loading" (click)="updatePromotion()">
      <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
      &nbsp;Cập nhật
    </button>
  </div>
</div>
