<ion-header>
  <ion-toolbar>
    <ion-title>Chỉnh sửa đơn hàng {{order?.fulfillments[0].code}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="box-detail ion-padding ion-flex ion-align-items-center ion-justify-content-center">
    <ion-icon name="person-outline" style="margin-right: 0.5rem"></ion-icon>
    <ion-text class="font-14">Thay đổi thông tin người gửi</ion-text>
  </div>
  <div class="box-detail" [formGroup]="pickup_address" *ngIf="!loading">
    <ion-list class="ion-margin">
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Tên người gửi</ion-label>
        <ion-input enterkeyhint="next" formControlName="full_name"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Số điện thoại người gửi</ion-label>
        <ion-input enterkeyhint="next" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Địa chỉ</ion-label>
        <ion-input enterkeyhint="next" formControlName="address1"></ion-input>
      </ion-item>
    </ion-list>
    <ionfabo-select-suggest 
        label="Tỉnh thành" 
        placeholder="Chọn tỉnh thành" 
        [hasLabel]="true"
        position="stacked"
        [options]="provinces"
        formControlName="province_code"
        (ngModelChange)="onProvinceSelected()">
      </ionfabo-select-suggest>
      <ionfabo-select-suggest 
        label="Quận huyện" 
        placeholder="Chọn quận huyện" 
        [hasLabel]="true"
        position="stacked"
        [options]="districts"
        formControlName="district_code"
        (ngModelChange)="onDistrictSelected()">
      </ionfabo-select-suggest>
      <ionfabo-select-suggest 
        label="Phường xã" 
        placeholder="Chọn phường xã" 
        [hasLabel]="true"
        position="stacked"
        [options]="wards"
        formControlName="ward_code">
      </ionfabo-select-suggest>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
  <ion-toolbar color="primary" class="no-padding" (click)="submit()">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Tiếp tục
      </button>
    </div>
  </ion-toolbar>
</ion-footer>