::ng-deep .custom-frame {
  border:1px solid var(--border-gray-color);
  .mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 5% !important;
    border:none;
  }
  .mat-checkbox-inner-container {
    width: 34px;
    height: 34px;
  }
  .mat-checkbox-background {
    transform: scale(0.7);
  }
}

.tag{
  margin: 3px 1rem;
  @media screen and (min-width: 768px){
    &:first-child{
      margin:3px 1rem 3px 0;
    }
  }
}

mat-icon {
  height: 14px !important;
  width: 14px !important;
  font-size: 14px !important;
  margin-right: 0.5rem;
}

