<ion-header>
  <ion-toolbar>
    <ion-title>Chỉnh sửa đơn hàng {{order?.fulfillments[0].code}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="box-detail ion-padding ion-flex ion-align-items-center ion-justify-content-center">
    <ion-icon name="wallet-outline" style="margin-right: 0.5rem"></ion-icon>
    <ion-text class="font-14">Thay đổi giá trị thu hộ (COD)</ion-text>
  </div>
  <div class="box-detail" [formGroup]="formCod">
    <ion-list>
      <etop-ion-input-format-number textLabel="Thu hộ (COD)" formatNumberUnit="đ" formControlName="cod_amount" errorMessage="Giá trị thu hộ không hợp lệ">
      </etop-ion-input-format-number>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="footer-button-wrapper">
  <ion-toolbar color="primary" class="no-padding" (click)="submit()">
    <div class="footer-buttons ion-flex">
      <button class="w-100 bg-primary text-white footer-button-item">
        Tiếp tục
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
