<div class="page-content no-print" [class.d-none]="!fulfillment">
  <div class="card fulfillment">
    <div class="d-flex border-bottom">
      <div class="flex-1 p-4">
        <span class="shipping-code text-primary font-weight-bold pr-3">{{fulfillment?.shipping_code || '-'}}</span>
        <span class="badge etop-badge badge-{{fulfillment?.shipping_state}}">{{fulfillment?.shipping_state_display}}</span>
        <span *ngIf="fulfillment?.x_shipping_sub_state && fulfillment?.shipping_state != 'cancelled'"
          class="ml-2 sub-state">
          {{fulfillment?.x_shipping_sub_state}}
        </span>
        <span *ngIf="fulfillment?.shipping_state == 'undeliverable' && fulfillment?.actual_compensation_amount > 0"
          class="ml-2 sub-state">
          Bồi hoàn: {{fulfillment?.actual_compensation_amount | vnd}}đ
        </span>
      </div>

      <div class="btn ml-auto border-left p-4 cursor-pointer" (click)="printFulfillment()">
        <span class="m-auto font-12 font-weight-bold text-primary">In đơn giao hàng</span>
      </div>
    </div>

    <div class="card-body no-padding">
      <div class="ffm-address bg-color">
        <div class="row m-0">
          <div class="col-12 col-sm-7">
            <div class="card-info">
              <div class="left">
                <div class="shop-logo"
                  [style.background-image]="'url(' + (shop?.image_url || 'assets/images/placeholder_medium.png') + ')'">
                </div>
              </div>
              <div class="right">
                <div class="detail">
                  <table class="w-100">
                    <tbody>
                      <tr>
                        <td class="label">Cửa hàng:</td>
                        <td class="font-weight-bold font-bigger">{{fulfillment?.shop?.name || '-'}}</td>
                      </tr>
                      <tr>
                        <td class="label">Điện thoại:</td>
                        <td class="font-weight-bold">{{fulfillment?.shop?.phone || '-'}}</td>
                      </tr>
                      <tr>
                        <td class="label">Địa chỉ:</td>
                        <td class="font-weight-bold">{{fulfillment?.pickup_address?.address1 || '-'}}</td>
                      </tr>
                      <tr>
                        <td class="label">Phường xã:</td>
                        <td class="font-weight-bold">{{fulfillment?.pickup_address?.ward || '-'}}</td>
                      </tr>
                      <tr>
                        <td class="label">Quận huyện:</td>
                        <td class="font-weight-bold">{{fulfillment?.pickup_address?.district || '-'}}</td>
                      </tr>
                      <tr>
                        <td class="label">Tỉnh thành:</td>
                        <td class="font-weight-bold">{{fulfillment?.pickup_address?.province || '-'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-5" *ngIf="fulfillmentType != 'shipnow'">
            <div class="card-info">
              <div class="right">
                <div class="detail">
                  <table class="w-100">
                    <tbody>
                    <tr>
                      <td class="label">Khách hàng:</td>
                      <td class="font-weight-bold font-bigger">{{fulfillment?.shipping_address?.full_name || '-'}}</td>
                    </tr>
                    <tr>
                      <td class="label">Điện thoại:</td>
                      <td class="font-weight-bold">{{fulfillment?.shipping_address?.phone || '-'}}</td>
                    </tr>
                    <tr>
                      <td class="label">Địa chỉ:</td>
                      <td class="font-weight-bold">{{fulfillment?.shipping_address?.address1 || '-'}}</td>
                    </tr>
                    <tr>
                      <td class="label">Phường xã:</td>
                      <td class="font-weight-bold">{{fulfillment?.shipping_address?.ward || '-'}}</td>
                    </tr>
                    <tr>
                      <td class="label">Quận huyện:</td>
                      <td class="font-weight-bold">{{fulfillment?.shipping_address?.district || '-'}}</td>
                    </tr>
                    <tr>
                      <td class="label">Tỉnh thành:</td>
                      <td class="font-weight-bold">{{fulfillment?.shipping_address?.province || '-'}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ffm-info border-bottom">
        <div class="row">
          <div class="col-12 col-sm-8">
            <div class="card-info">
              <div class="left d-flex justify-content-center align-items-center flex-column">
                <div class="photo text-center">
                  <img [src]="logo" alt="">
                </div>
                <p class="text-center mb-0 mt-2">Thời gian tạo:</p>
                <p class="font-weight-bold mb-0 text-center">{{fulfillment?.created_at | date: 'HH:mm dd/MM/yyyy'}}</p>
              </div>
              <div class="right">
                <table class="table-2">
                  <tbody>
                    <tr>
                      <td class="label">Nhà vận chuyển:</td>
                      <td class="font-weight-bold font-bigger text-uppercase">{{fulfillment?.carrier_display || '--'}}</td>
                    </tr>
                    <tr>
                      <td class="label">Gói cước:</td>
                      <td>
                        <span class="font-weight-bold">{{fulfillment?.shipping_service_name || '--'}}</span>
                        <span *ngIf="fulfillment?.shipping_service_description"> ({{fulfillment?.shipping_service_description}})</span>
                      </td>
                    </tr>
                    <ng-container *ngIf="!isShipnow">
                      <tr>
                        <td class="label">Khối lượng:</td>
                        <td class="font-weight-bold">
                          <span>{{fulfillment?.chargeable_weight | vnd}}g</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="label">Lấy hàng dự kiến:</td>
                        <td class="font-weight-bold">{{estimatedPickupTime}}</td>
                      </tr>
                      <tr>
                        <td class="label">Giao hàng dự kiến:</td>
                        <td class="font-weight-bold">{{estimatedDeliveryTime}}</td>
                      </tr>
                      <tr>
                        <td class="label">Lấy hàng thực tế:</td>
                        <td class="font-weight-bold highlight">--</td>
                      </tr>
                      <tr>
                        <td class="label">Giao hàng thực tế:</td>
                        <td class="font-weight-bold highlight">{{deliveredTime || '--'}}</td>
                      </tr>
                    </ng-container>
                    <tr>
                      <td class="label">Ghi chú:</td>
                      <td>{{fulfillment?.shipping_note || '--'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 d-flex justify-content-center align-items-center pr-4">
            <a *ngIf="trackingLink; else ghtkBarcode;" target="_blank" href="{{trackingLink}}">
              <img id="shipping-barcode" alt="{{fulfillment?.shipping_provider}}">
            </a>
            <ng-template #ghtkBarcode>
              <img id="shipping-barcode" alt="{{fulfillment?.shipping_provider}}">
            </ng-template>
          </div>
        </div>
      </div>

      <div class="ffm-price bg-color gray app-container">
        <div class="row m-0">
          <div class="col-12 col-sm-8">
            <div class="py-2">
              <ng-container *ngIf="!isShipnow">
                <p class="mb-0">Đơn hàng shop</p>
                <p class="mb-0">
                  <span class="cursor-pointer order text-primary font-weight-bold mr-1"
                    (click)="viewDetailOrder(fulfillment?.order?.code)">
                    {{fulfillment?.order?.code}} 
                    <i class="fa fa-external-link text-primary font-weight-bold" aria-hidden="true"></i>
                  </span>
                  <span *ngIf="fulfillment?.order?.ed_code">
                    <span>(Mã nội bộ:</span>
                    <ng-container *ngIf="fulfillment?.order?.external_url">
                      <a class="text-primary partner-link" [href]="fulfillment?.order?.external_url" target="_blank">
                        {{fulfillment?.order?.ed_code}} <i class="fa fa-external-link" aria-hidden="true"></i>
                      </a>)
                    </ng-container>
                    <ng-container *ngIf="!fulfillment?.order?.external_url">
                      <a class="text-primary partner-link">
                        {{fulfillment?.order?.ed_code}}</a>)
                    </ng-container>
                  </span>
                  <span *ngIf="!fulfillment?.order?.ed_code && fulfillment?.order?.external_id">
                    <span>(Mã nội bộ:</span>
                    <ng-container *ngIf="fulfillment?.order?.external_url">
                      <a class="text-primary partner-link" [href]="fulfillment?.order?.external_url" target="_blank">
                        {{fulfillment?.order?.external_id}} <i class="fa fa-external-link" aria-hidden="true"></i>
                      </a>)
                    </ng-container>
                    <ng-container *ngIf="!fulfillment?.order?.external_url">
                      <a class="text-primary partner-link">
                        {{fulfillment?.order?.external_id}}</a>)
                    </ng-container>
                  </span>
                  <span>
                    (Thời gian tạo:
                    <span class="font-weight-bold">
                      {{fulfillment?.order?.created_at | date: 'HH:mm dd/MM/yyyy'}})
                    </span>
                  </span>
                </p>
              </ng-container>
            </div>
          </div>
          <div class="col-12 col-sm-2 border-left">
            <div class="py-2">
              <p class="mb-0 text-right">Tổng cước phí</p>
              <p class="mb-0 text-right">
                <strong *ngIf="!isShipnow">{{fulfillment?.shipping_fee_shop | vnd}}đ</strong>
                <strong *ngIf="isShipnow">{{fulfillment?.shipping_service_fee | vnd}}đ</strong>
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-2 border-left">
            <div class="py-2">
              <p class="mb-0 text-right">Thu hộ</p>
              <p class="mb-0 text-right">
                  <strong *ngIf="!isShipnow">{{fulfillment?.total_cod_amount | vnd}}đ</strong>
                  <strong *ngIf="isShipnow">{{fulfillment?.value_info?.cod_amount | vnd}}đ</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="row">
      <ng-container *ngIf="!isShipnow; else shipnowDetail;">
        <div class="col-12 col-sm-6">
          <div class="card">
            <div class="card-header p-3">
              <h6 class="card-title mb-0 font-weight-bold font-12">LỊCH SỬ GIAO HÀNG</h6>
            </div>
            <div class="card-body">
              <div class="row m-0 mt-2" *ngIf="!fulFillmentHistory || !fulFillmentHistory?.length">
                <div class="col-12 col-sm-12 pl-0 text-center p-2">
                  <span>Chưa có lịch sử được ghi nhận</span>
                </div>
              </div>
              <div class="row m-0 mt-2" *ngFor="let ffh of fulFillmentHistory">
                <ng-container *ngIf="hasXShippingLogs; else noXShippingLogs">
                  <div class="col-12 col-sm-3 pr-0">
                    <strong class="font-weight-bold d-flex">{{ffh?.time | date: "HH:mm dd/MM/yyyy"}}</strong>
                  </div>
                  <div class="col-12 col-sm-3 px-0">
                    <span class="d-flex pl-2">{{ffh?.state_text}}</span>
                  </div>
                  <div class="col-12 col-sm-6 pl-0">
                    <span [innerHTML]="ffh?.message"></span>
                  </div>
                </ng-container>
                <ng-template #noXShippingLogs>
                  <div class="col-12 col-sm-4 pr-0">
                    <strong class="font-weight-bold d-flex">{{ffh?.date | date: "HH:mm dd/MM/yyyy"}}</strong>
                  </div>
                  <div class="col-12 col-sm-8 pl-0">
                    <span class="d-flex pl-2">{{ffh?.event}}</span>
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="card-footer p3-3">
              <div class="d-flex">
                <span style="margin-right: 10px;">Ghi chú nhà vận chuyển:</span>
                <span class="font-weight-bold text-orange">{{fulfillment?.x_shipping_note}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="card">
            <div class="card-header p-3">
              <h6 class="card-title mb-0 font-weight-bold font-12">CHI TIẾT CƯỚC PHÍ</h6>
            </div>
            <div class="card-body">
              <div class="row mt-2" *ngFor="let fee of fulfillment?.shipping_fee_shop_lines_mapped">
                <div class="col-12 col-sm-8 pr-0">
                  <strong class="font-weight-bold d-flex border-bottom h-100 pl-3">
                    {{fee?.name}}
                  </strong>
                </div>
                <div class="col-12 col-sm-4 pl-0">
                  <div class="border-bottom pl-2 h-100 text-right pr-3">
                    {{fee?.cost | vnd}}đ
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12 col-sm-8 pr-0">
                  <strong class="font-weight-bold d-flex h-100 pl-3">
                    Tổng cước phí
                  </strong>
                </div>
                <div class="col-12 col-sm-4 pl-0">
                  <div class="pl-2 h-100 text-right pr-3">
                    {{fulfillment?.shipping_fee_shop | vnd}}đ
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-4">
          <div class="card">
            <div class="card-header d-flex align-items-center {{canSendSupportRequest() ? 'p-2' : 'p-3'}}">
              <h6 class="card-title mb-0 font-weight-bold font-12 flex-1">Yêu cầu hỗ trợ</h6>
            </div>
            <div class="card-body px-0" style="margin-left: -1rem; margin-right: -1rem;">
              <div class="ticket-section">
                <div class="ticket-list pl-3 pr-3">
                  <div class="text-center p-2" *ngIf="!tickets">
                    Chưa có yêu cầu hỗ trợ
                  </div>
                  <shop-ticket [ffm]="fulfillment"></shop-ticket>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #shipnowDetail>
        <div class="col-12 col-sm-12">
          <div class="card">
            <div class="card-header py-3">
              <h6 class="card-title mb-0 font-weight-bold font-12">LỘ TRÌNH</h6>
            </div>
            <div class="card-body">
              <table class="list-orders">
                <tr>
                  <td><span class="index-number from">0</span></td>
                  <td>LẤY HÀNG</td>
                  <td><span class="font-weight-bold ">{{fulfillment?.pickup_address?.full_name}}</span></td>
                  <td>{{fulfillment?.pickup_address?.phone}}</td>
                  <td colspan="3">
                    <span>
                      {{fulfillment?.pickup_address?.address1}},
                      {{fulfillment?.pickup_address?.ward ? fulfillment?.pickup_address?.ward + ', ' : ''}}
                      {{fulfillment?.pickup_address?.district}},
                      {{fulfillment?.pickup_address?.province}}</span>
                  </td>
                </tr>
                <ng-container *ngFor="let order of shipnow_orders; let i = index;">
                  <tr>
                    <td><span class="index-number to">{{i + 1}}</span></td>
                    <td>
                      <a class="text-primary"
                        routerLink="/orders/{{order?.id}}">
                        {{order?.code}}
                      </a>
                    </td>
                    <td>
                      <div class="font-weight-bold">{{order?.shipping_address?.full_name}}</div>
                    </td>
                    <td>{{order?.shipping_address?.phone}}</td>
                    <td>
                      <span>
                        {{order?.shipping_address?.address1}},
                        {{order?.shipping_address?.ward ? order?.shipping_address?.ward + ', ' : ''}}
                        {{order?.shipping_address?.district}},
                        {{order?.shipping_address?.province}}
                      </span>
                    </td>
                    <td class="text-right"><span class="item-amount">{{order?.shipping.cod_amount || 0 | vnd}}đ</span></td>
                    <td class="text-right">
                      <div class="order-status order-{{order?.status}}">
                        {{order?.status_display}}
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </table>
            </div>
            <div class="card-footer py-3">
              <a [href]="trackingLink" class="text-primary">Xem chi tiết tại AhaMove</a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<shop-print>
  <shop-bill-printing
    [printOnlyFulfillments]="isPrintingFfms"
    [printOnlyOrders]="isPrintingOrders"
    [printOrderAndFfm]="isPrintingOrderAndFfm"
    [fulfillments]="printingFulfillments">
  </shop-bill-printing>
</shop-print>