<div class="d-flex align-items-center e-border-bottom position-relative">
  <div class="p-3" style="min-width: 150px;">
    <img src="assets/images/circle_icon.png" alt="" width="14" class="mr-2" />
    Địa chỉ lấy hàng
  </div>
  <div class="flex-grow-1">
    <shared-select-multiline
      [options]="fromAddresses"
      [placeholder]="'Nhập địa chỉ lấy hàng'"
      [showPlaceholderFirst]="true"
      [inputClass]="'text-topship'"
      [(ngModel)]="fromAddressIndex"
      (ngModelChange)="setShopAddress()">
      <div class="text-center m-auto text-warning" (click)="newFromAddress()">
        Thêm địa chỉ lấy hàng mới
      </div>
    </shared-select-multiline>
  </div>
</div>
<div class="d-flex align-items-center e-border-bottom position-relative">
  <div class="p-3" style="min-width: 150px;">
    <img src="assets/images/address_icon.png" width="14" alt="" class="mr-2" />
    Địa chỉ giao hàng*
  </div>
  <div class="flex-grow-1">
    <shared-select-multiline
      [options]="toAddresses"
      [placeholder]="'Nhập địa chỉ giao hàng'"
      [inputClass]="'text-topship'"
      [showPlaceholderFirst]="true"
      [(ngModel)]="toAddressIndex"
      (ngModelChange)="setCustomerAddress()"
      (focus)="focusToAddress()">
      <div class="text-center m-auto text-warning" (click)="newToAddress()">
        Thêm địa chỉ giao hàng mới
      </div>
    </shared-select-multiline>
  </div>
</div>
<div class="d-flex align-items-center e-border-bottom">
  <div class="p-3 flex-grow-1">
    <!-- <select [(ngModel)]="weight_calc_type" (ngModelChange)="weightCalcTypeChange()" class="label-select"
      placement="bottom" ngbTooltip="Chọn khối lượng">
      <option value="1">Khối lượng</option>
    </select> -->
    Khối lượng
  </div>
  <ng-container [ngSwitch]="weight_calc_type">
    <ng-container *ngSwitchCase="1">
      <div class="p-3 w-25 d-flex">
        <etop-filter-input
          name="package_weight" class="w-100 input-pos" unit="g"
          classInner="text-topship text-right" inputClass="pr-0" [defaultValue]="defaultWeight$ | async"
          [validateFn]="validateWeightFn" [addOptionOnBlur]="true" placeholder="Nhập hoặc chọn khối lượng"
          [options]="productWeights" [(ngModel)]="fulfillment.chargeable_weight" [showAngle]="false"
          (ngModelChange)="updateDataShippingService(); onWeightChange();">
        </etop-filter-input>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class="d-flex align-items-center e-border-bottom" [class.error-row]="errorCOD">
  <div class="p-3 flex-grow-1">
    Thu hộ (COD) *
    <i class="fa fa-info-circle text-topship ml-2"
      ngbTooltip="Tiền thu hộ là số tiền cuối cùng shop muốn khách hàng phải trả cho nhà vận chuyển"
      placement="bottom">
    </i>
  </div>
  <div class="p-3 w-25 d-flex">
    <etop-currency-input
      class="w-100 input-pos"
      [isCOD]="true"
      classInner="text-topship text-right"
      inputClass="pr-0 border-0"
      placeholder="Tiền thu hộ"
      [options]="suggestCODs"
      [selectInput]="selectCODInput.asObservable()"
      [(ngModel)]="cod_amount"
      [posfixText]="'đ'"
      (ngModelChange)="onChangeCod()">
    </etop-currency-input>
  </div>
</div>
<div class="d-flex align-items-center e-border-bottom">
  <div class="p-3 flex-grow-1">Đóng bảo hiểm cho hàng hóa</div>
  <div class="p-3 topship-toggle">
    <label class="switch">
      <input type="checkbox" (change)="updateDataShippingService()" (click)="toggleInsurance()" [checked]="include_insurance" />
      <span class="slider-toggle round"></span>
    </label>
  </div>
</div>
<div class="d-flex align-items-center e-border-bottom">
  <div class="p-3 flex-grow-1" (click)="shipping_note.focus()">
    Ghi chú giao hàng
  </div>
  <div class="p-3 w-50">
    <input #shipping_note type="text" style="height: 30px;" [(ngModel)]="fulfillment.shipping_note"
      (blur)="updateDataShippingService(false)" class="input-pos text-bold text-topship text-right"
      placeholder="Nhập ghi chú giao hàng" />
  </div>
</div>
<div class="d-flex align-items-center e-border-bottom">
  <div class="p-3 flex-grow-1">Ghi chú xem hàng</div>
  <div class="p-3 w-50">
    <select class="input-pos w-100 text-bold text-topship select-align-right"
      style="background-position-y: -1px; height: 27px; background-position-x: 103%;"
      [(ngModel)]="fulfillment.try_on" (ngModelChange)="updateDataShippingService(false)">
      <option *ngFor="let try_on of tryOnOptions" [value]="try_on.code">
        {{try_on.name}}
      </option>
    </select>
  </div>
</div>
<div class="shipping-service text-center mt-4">
  <h6 class="text-bold mb-4">Chọn gói dịch vụ*</h6>
  <shop-shipment-service-options
      #shipmentServiceOptions (shipmentServiceChange)="onShipServiceChange($event)">
  </shop-shipment-service-options>
</div>
