input {
  font-weight: bold;
}

.error-row {
  border: 1px solid var(--topship-color);
  color: var(--topship-color);
}

.label-select {
  border-bottom: 1px solid var(--border-gray-color);
  border-radius: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  background-position-y: 1px;
}
