<div class="wrapper-login no-print">
  <div class="login-box">
    <div class="login-logo">
      <img src="/assets/images/logo_large.png" alt="etelecom">
    </div>
    <div class="login-box-body p-0 shadow">
      <div class="p-3 text-center">
        <span class="text-big">Lời mời tham gia quản trị công ty</span>
      </div>
        <div class="p-3 border-top">
          <div class="verify-wrapper" *ngIf="compareAccount()">
            <ng-container *ngIf="userInvitation">
              <div class="shop-img my-3"
                [style.background-image]="'url(' + (userInvitation?.shop?.image_url || 'assets/images/placeholder_medium.png') + ')'">
              </div>
              <div>
                <p>Xin chào, bạn được <strong>{{userInvitation?.invited_by_user}}</strong> mời tham gia quản trị cửa
                  hàng <strong>{{userInvitation?.shop?.name}}</strong> trong vai trò:</p>
                <div *ngFor="let role of userInvitation?.roles">
                  <i class="fa fa-circle mr-2 text-default" aria-hidden="true" style="font-size: 9px"></i>
                  {{roleMap(role)}}
                </div>
              </div>
            </ng-container>
            <div class="pt-4" *ngIf="!userInvitation">Lời mời tham gia quản trị đã hết hạn hoặc không tồn tại.</div>
          </div>
          <div class="verify-wrapper" *ngIf="!compareAccount()">
            <div class="text-center p-5">
              <ng-container *ngIf="user">
                <div class="shop-img my-3"
                  [style.background-image]="'url(' + (userInvitation?.shop?.image_url || 'assets/images/placeholder_medium.png') + ')'">
                </div>
                <div class="font-italic" style="margin-top: 10px;">
                  * Bạn đang đăng nhập với tài khoản có số điện thoại: <strong>{{user?.phone}}</strong>.
                  Số điện thoại được mời là: <strong>{{phone}}</strong>. Vui lòng đăng nhập đúng tài khoản để tiếp tục!
                </div>
              </ng-container>
              <ng-container *ngIf="!user">
                <div class="text-center">
                  <mat-icon fontSet="material-icons-outlined" class="mat-icon-warning">privacy_tip</mat-icon>
                  <div class="pt-4">Vui lòng đăng nhập hoặc đăng ký để xem lời mời</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <ng-container *ngIf="compareAccount()">
          <div class="p-3 border-top d-flex justify-content-end">
            <ng-container *ngIf="!userInvitation">
              <button class="btn btn-primary button-mobile-full" (click)="goShop()">
                <span class="text-white">Về công ty</span>
              </button>
            </ng-container>
            <ng-container *ngIf="userInvitation">
              <button class="btn btn-danger btn-outline button-mobile-50" (click)="rejectInvitation(userInvitation)"
                [disabled]="refusing">
                <i class="fa fa-spin fa-circle-o-notch text-danger mr-2" *ngIf="refusing"></i>
                <span class="text-danger">Từ chối</span>
              </button>
              <button class="btn btn-primary ml-3 button-mobile-50" (click)="acceptInvitation(userInvitation)" [disabled]="accepting">
                <i class="fa fa-spin fa-circle-o-notch text-white mr-2" *ngIf="accepting"></i>
                <span class="text-white">Chấp nhận</span>
              </button>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="!compareAccount()">
          <div class="p-3 border-top d-flex justify-content-end" *ngIf="user">
            <button class="btn btn-primary button-mobile-full" (click)="loginAnotherAccount()">
              <span class="text-white">Đăng nhập tài khoản khác</span>
            </button>
          </div>
          <div class="p-3 border-top d-flex justify-content-end" *ngIf="!user">
            <button class="btn btn-primary button-mobile-full" (click)="login()">
              <span class="text-white">Đăng nhập/Đăng ký để tiếp tục</span>
            </button>
          </div>
        </ng-container>
    </div>
  </div>
</div>
