<ion-header>
  <ion-toolbar>
    <ion-title>Yêu cầu hỗ trợ</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-end icon-header back-icon" name="close-outline" (click)="back()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="content">
    <div class="title">{{title}}</div>
    <div class="ticket-content" *ngIf="isChanges">
      <div *ngIf="actionType != 'ffm_other'">NỘI DUNG THAY ĐỔI:</div>
      <div *ngIf="actionType == 'ffm_other'">NỘI DUNG:</div>
      <div *ngIf="actionType == 'ffm_update_cod'" >
        <span>Thu hộ thay đổi từ {{activeFulfillment.total_cod_amount | vnd}}đ → {{ticketInfo.newCodAmount | vnd}}đ.
        </span>
      </div>

      <div *ngIf="actionType == 'ffm_other'" >
        <div [innerHtml]="ticketInfo?.content | safeHtml" class="pre-line">
        </div>
      </div>

      <div *ngIf="actionType == 'ffm_update_info'" >
        <div *ngIf="isFullnameChanged">
          - Tên người nhận: {{activeFulfillment.shipping_address.full_name}} → {{ticketInfo?.newFullname}}
        </div>
        <div *ngIf="isPhoneChanged">
          - SĐT người nhận: {{activeFulfillment.shipping_address.phone}} → {{ticketInfo?.newPhone}}
        </div>
        <div *ngIf="isAddressChanged">
          - Địa chỉ người nhận: {{oldShippingAddressDisplay}} → {{ticketInfo.newAddress}}
        </div>
      </div>
    </div>
    <div class="reason ion-margin-top" *ngIf="actionType != 'ffm_other'">
      <div>LÝ DO:</div>
      <div [innerHtml]="ticketInfo?.description | safeHtml" class="pre-line">
      </div>
    </div>
  </div>

</ion-content>
<ion-footer class="footer-button-wrapper ion-no-border">
  <ion-toolbar>
    <div class="footer-buttons ion-flex">
      <button type="submit" class="w-100 bg-primary text-white footer-button-item font-bold" (click)="confirm()">
        <span>Xác nhận</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
