.content {
  min-height: 100%;
  padding: 1.5rem;
  .ticket-content {
    color: #4A4A4A;
    h6 {
      margin:0!important;
    }
  }
  .pre-line {
    white-space: pre-line;
  }

  .title {
    color: #4A4A4A;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight:bold;
  }

  .reason {
    color: #4A4A4A;
    h6 {
      margin:0;
    }
  }
}

ion-header {
  border-bottom: 1px solid #eee;
}

ion-range {
  --knob-size: 22px;
  --knob-handle-size: 22px;
}
