<template>
  <div>
    <!-- <input type="text" name="token" @change="updatePartnerToken" class="form-control"> -->
    <div v-if="message" class="backdrop">
      <div class="w-100 text-center m-auto">
        <div class="m-auto text-center w-100">
          <div class="login-logo">
            <img src="@/assets/images/logo_itopx.png" width="150px" alt/>
          </div>
        </div>
        <div class="w-100 pt-4">
          <h5>{{message}}</h5>
        </div>
      </div>
    </div>
    <!-- <router-view name="header"></router-view> -->

    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
    <!-- <router-view name="footer"></router-view> -->
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import * as types from '@/store/mutation-types';
  import util from './helpers/util';

  export default {
    methods: {
      ...mapActions(['checkToken', 'setErrorMessage', 'setAuthAccessToken', 'loginUsingToken', 'requestLogin']),
      updatePartnerToken(event) {
        this.$store.commit(types.PARTNER_TOKEN, event.target.value);
      }
    },
    data() {
      return {
        message: ''
      };
    },
    computed: mapState(['partnerToken', 'redirectUrl']),
    mounted() {
      if (!this.partnerToken) {
        return;
      }
      this.message = 'Đang kiểm tra...';
      this.checkToken()
        .then(async resp => {
          console.log('resp.data', resp.data);
          const action = resp.data.actions[0];
          if (action.name === 'using') {
            let storeData = JSON.stringify({
              'auth-data': { isAuthenticated: true, token: resp.data.access_token, ...resp.data }
            });
            if (process.env.NODE_ENV == 'production') {
              storeData = util.encodeBase64(storeData);
            }
            localStorage.setItem('buG7rWEgY29uIGfDoA==', storeData);
            setTimeout(() => this.$router.push({
              name: 'success',
              query: this.userInfo
            }), 100);
          }
          if (action.name === 'login_using_token_wl') {
            this.setAuthAccessToken(resp.data.access_token);
            const res = await this.loginUsingToken({});
            let storeData = JSON.stringify({
              'auth-data': { isAuthenticated: true, token: res.access_token, ...res }
            });
            if (process.env.NODE_ENV == 'production') {
              storeData = util.encodeBase64(storeData);
            }
            localStorage.setItem('buG7rWEgY29uIGfDoA==', storeData);
            await this.$router.push({
              name: 'success',
              query: {
                shop_id: res.shop && res.shop.id
              }
            });
          }
          if (action.name === 'request_login') {
            await this.requestLogin({ username: action.meta && action.meta.phone });
            this.$router.push({
              name: 'verify'
            });
          }
          this.message = '';
        })
        .catch(err => {
          console.trace('ERR', err);
          if (err.name === 'invalid_redirect_url') {
            this.message = '';
            this.setErrorMessage(`Vui lòng cung cấp <code>redirect_url</code> để thực hiện xác thực tài khoản.`);
          } else {
            this.message = err.message;
          }
          setTimeout(() => this.$router.push({ name: 'error' }), 1000);
        });
    }
  };
</script>


<style lang="scss">
  #app {
    font-family: "Open Sans", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  #nav {
    padding: 30px;
  }

  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }

  #nav a.router-link-exact-active {
    color: #42b983;
  }

  .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    z-index: 1;

    span {
      margin: auto;
    }
  }
</style>
