<div class="modal-header">
  <h5 class="modal-title">Chỉnh sửa thông tin nhân viên</h5>
  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
    <span aria-hidden="true" class="text-large">&times;</span>
  </button>
</div>
<div class="modal-body" [formGroup]="staffForm">
  <etop-material-input *ngIf="!infoUpdatable" textLabel="Tên nhân viên" type="custom" class="mb-2">
    <span class="read-only">{{staff?.full_name}}</span>
  </etop-material-input>
  <etop-material-input
    *ngIf="infoUpdatable"
    textLabel="Tên nhân viên" placeholder="Tên nhân viên" type="input"
    class="mb-2" formControlName="full_name">
  </etop-material-input>

  <div class="my-3 ml-2">
    <span class="text-small">Email: </span>
    <div class="font-weight-bold">{{staff?.email}}</div>
  </div>
  <etop-material-input *ngIf="permissionUpdatable && roleEtelecomDisplay"
      placeholder="Vai trò*" textLabel="Vai trò*" [optionSelect]="roleList"
      formControlName="roles" type="select" 
      [displayMap]="nameDisplayMap()" [valueMap]="valueDisplayMap()">
  </etop-material-input>
  <div *ngIf="!roleEtelecomDisplay" class="mb-2 ml-2">
    <span class="text-small">Vai trò:</span>
    <div class="font-weight-bold">
      <span *ngIf="roleEtelecomDisplay">{{roleEtelecomDisplay}}</span>
      <span *ngIf="!roleEtelecomDisplay">{{staff?.roles_display}}</span>
    </div>
  </div>

  <div *ngIf="!roleEtelecomDisplay">
    <div class="role-note ml-1 my-2">
      Nhân viên này được thiết lập vai trò trên hệ thống cũ hoặc 1 hệ thống khác của eB2B. 
      Bạn có thể thêm hoặc xoá các vai trò cũ và thiết lập lại.
    </div>
    <div class="my-2 update-role">
      <div class="my-2">Chỉnh sửa vai trò:</div>
      <mat-radio-group color="primary" class="mt-1" 
      formControlName="type_update">
        <mat-radio-button value="add" disableRipple class="mr-3">
          Thêm vai trò
        </mat-radio-button>
        <mat-radio-button value="remove_and_add" class="ml-2" disableRipple>
          Xoá các vai trò cũ và thiết lập lại
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <etop-material-input placeholder="Vai trò*" textLabel="Vai trò*" [optionSelect]="roleList"
      formControlName="roles" type="select">
    </etop-material-input>
    <div class="mt-2 ml-1" [innerHTML]="roleNote | safeHtml">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-outline" (click)="closeModal()" [disabled]="loading">Đóng</button>
  <button
    class="btn btn-primary text-white" (click)="updateStaff()" [disabled]="loading">
    <i class="fa fa-spin fa-circle-o-notch mr-2" *ngIf="loading"></i>
    Cập nhật
  </button>
</div>
