<ion-header>
  <ion-toolbar>
    <ion-title>Cửa hàng</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="icon-header back-icon" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <etop-network-status></etop-network-status>
</ion-header>
<ion-content>
  <ng-container *ngIf="segment == 'owner'">
    <div class="shop-list">
      <ng-container *ngFor="let account of accounts; index as i">
        <div class="segment-item">
          <div class="shop-item ion-flex ion-align-items-center">
            <img class="logo"
                 [src]="account?.image_url || 'assets/images/placeholder.png'" alt="">
            <div class="info w-100" style="flex: 1;">
              <div class="ion-flex ion-justify-content-between ion-align-items-center">
                <div class="font-bold normal-font fix-line-1">{{account?.shop?.code}} - {{account?.shop?.name}}</div>
              </div>
              <div style="font-size: 0.9rem;">{{account?.shop?.phone}} {{account?.shop?.email ? ' - ' + account?.shop?.email : ''}}</div>
            </div>
          </div>
          <div class="shop-item role-shop ion-flex ion-justify-content-between ion-align-items-center">
            <div class="role-info">
              <small>Vai trò của bạn</small>
              <div class="font-bold fix-line-1" style="font-size: 0.9rem;">{{rolesDisplay(account?.user_account?.permission?.roles)}}</div>
            </div>
            <div class="action-button button-access" (click)="switchShop($event, account)" *ngIf="currentShop?.id != account?.id">
              <ion-icon name="log-in-outline"></ion-icon>
              <ion-text style="font-size: 0.9rem; padding-left: 0.25rem;">Truy cập</ion-text>
            </div>
            <div class="action-button" *ngIf="currentShop?.id == account?.id">
              <ion-icon class="text-dark-tint" name="checkmark-outline"></ion-icon>
              <ion-text class="text-dark-tint" style="font-size: 0.9rem; padding-left: 0.25rem;">Bạn đang ở đây</ion-text>
            </div>
          </div>
        </div>

      </ng-container>
      <div class="ion-flex m-auto ion-align-items-center ion-padding-bottom" *ngIf="myStore.length == 0">
        <div class="ion-text-center w-100" *ngIf="loading">
          <div class="items-list-row" style="padding: 0" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
            <etop-ion-skeleton></etop-ion-skeleton>
          </div>
        </div>
        <span class="ion-padding-horizontal w-100 ion-text-center ion-padding-top" *ngIf="!loading && !hasAnyShop">
          Bạn chưa có cửa hàng nào.
        </span>
      </div>
    </div>
  </ng-container>
</ion-content>
