<ion-tabs #tabs  >
  <ion-tab-bar slot="bottom"  [ngClass]="{'ion-hide': currentTab == 'pos'}" >
    <ng-container *ngFor="let tab of tabsList">
      <ion-tab-button [class.tab-selected]="currentTab == tab.link" *ePermissions="tab?.permissions" (click)="setTab(tab)">
        <ion-icon class="icon-tab" name="{{tab.icon}}{{currentTab == tab.link ? '' : '-outline'}}"></ion-icon>
        <ion-text>{{tab.label}}</ion-text>
    </ion-tab-button>
    </ng-container>
  </ion-tab-bar>
</ion-tabs>
