thead {
  background-color: var(--light);
}
th {
  font-weight: 400;
  padding: 7px 15px;
  border-bottom: 1px solid var(--border-gray-color);
  border-top: 1px solid var(--border-gray-color);
}
td {
  padding: 10px 15px;
}
tr {
  border-bottom: 1px solid var(--border-gray-color);
}

.modal-body {
  padding: 0;
}

.variant-img {
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  width: 45px;
  height: 45px;
}
