<div class="upload-photo-wrapper">
  <img alt="" class="p-0 line-logo" height="100%" src="{{order_line.image_url || 'assets/images/placeholder_medium.png'}}">
</div>
<div class="flex-fill product-name">
  <div class=w-100>
    <div class="text-wrap text-truncate">{{order_line.product_name}}</div>
    <div class="text-default font-10">
      Tồn: <b>{{inventory_variant_quantity}}</b>
    </div>
    <div class="align-top">
      <small class="font-weight-bold" *ngFor="let attribute of order_line.attributes; first as isFirst">
        <strong *ngIf="!isFirst"> - </strong>
        {{attribute.value}}
      </small>
    </div>
  </div>

</div>

<div class="line-price m-1 text-right">
  <div class="font-weight-bold">{{order_line.retail_price | vnd}}đ</div>
  <div class="position-relative">
    <label class="align-top font-weight-bold text-primary m-0" placement="bottom" ngbTooltip="Đang phát triển"
      style="cursor:pointer; font-size: 10px">
      Giảm giá
    </label>
  </div>
</div>
<div class="d-flex align-items-center line-quantity">
  <div class="btn-group border group-quantity" role="group">
    <button class="btn btn-sm border-0 bg-transparent" type="button" (click)="minus.emit()">
      <i class="fa fa-minus text-default"></i>
    </button>
    <input type="text" class="number-input text-center editable" [(ngModel)]="order_line.quantity"
      (blur)="changeQuantity.emit(order_line.quantity)" (keypress)="numberOnly($event)">
    <button class="btn btn-sm border-0 bg-transparent" type="button" (click)="add.emit()">
      <i class="fa fa-plus text-default"></i>
    </button>
  </div>
</div>
