.logo {
  width: 80px;
  height: auto;
}

.box {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-gray-color);
  border-radius: 5px;
  background-color: #fff;
}

.page-content {
  background-image: url('/assets/images/login-bg-opacity.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  min-height: 100vh;
}
